@charset "utf-8";
/* CSS Main */
html{ width:100%; height:100%; min-height:100%;-webkit-text-size-adjust:100%;}
body { position:relative; height:100%; min-height:100%;-webkit-font-smoothing: antialiased; background:#f6f6f6;font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;}
*{margin:0;padding:0;border:none;list-style:none;-webkit-tap-highlight-color:rgba(0,0,0,0); font-style:normal;}
p { color:#666666;}
.important { color:#e95960 !important;}
::-moz-placeholder {color: #ddd;opacity: 1!important; font-size:16px;}
:-ms-input-placeholder {color: #ddd; font-size:16px;}
::-webkit-input-placeholder {color: #ddd; font-size:16px;}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] { font-size:14px; height:28px; line-height:26px; padding:6px; border:none; -webkit-appearance: none; width:90%;}
textarea { padding-bottom:23px;}
input:hover,textarea:hover,select:hover {outline: none; border:none;}
input:focus,textarea:focus,select:focus {outline: none; border:none;}
select:disabled,
textarea:disabled,
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="date"]:disabled,
input[type="month"]:disabled,
input[type="time"]:disabled,
input[type="week"]:disabled,
input[type="number"]:disabled,
input[type="email"]:disabled,
input[type="url"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="color"]:disabled { background:none; color:#000;}
select:readonly,
textarea:readonly,
input[type="text"]:readonly,
input[type="password"]:readonly,
input[type="datetime"]:readonly,
input[type="datetime-local"]:readonly,
input[type="date"]:readonly,
input[type="month"]:readonly,
input[type="time"]:readonly,
input[type="week"]:readonly,
input[type="number"]:readonly,
input[type="email"]:readonly,
input[type="url"]:readonly,
input[type="search"]:readonly,
input[type="tel"]:readonly,
input[type="color"]:readonly { background:none; color:#000;}

img { max-width:100%;}

a {color:#b60101; text-decoration:none;}
a:focus {outline: thin dotted;}
a:active,
a:hover {outline: 0;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
.mt20 { margin-top:10px;}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
#wrapper { position: relative; top:0; left:0; bottom:0; z-index:1; margin:0 auto; width:100%; overflow:hidden; min-height:90%; -webkit-transition:all 0.2s;}
#wrapper.bgfff { background:#fff; min-height:92%;}
#header { height:auto; overflow:hidden;z-index:2; position:relative;text-align:center;}
#main { position:relative;min-height:100%;}
#footer { padding:15px 0 5px 0; width:100%; height:20px; line-height:20px; text-align:center; font-size:12px; color:#999;}
#footer a { color:#999;}
#header {top:0; left:0; z-index:2; width:100%; height:45px;-webkit-transition:all 0.2s;}
#header h1 { position:absolute; left:0; top:0; width:100%; text-align:center; line-height:45px; font-size:18px; font-weight:normal;color:#3d4245;}
#header i {position:relative; z-index:2; width:45px; height:45px; background-size:100% auto;}
#header i.icon-nav { background-image:url(../Image/header1.png);}
#header i.icon-out { background-image:url(../Image/header2.png);}
#header i.icon-back { background-image:url(../Image/header3.png);}
#header i.icon-home { background-image:url(../Image/header4.png);}
#header i.icon-search { position:absolute;right:45px;top:11px;width:22px;height:22px;background:url(../Image/search.png) no-repeat;background-size:22px;}
/*----------------------------------  Global结束  ------------------------------------*/
/* top */
 #header.userCenter { background:#f8f8f8;border-bottom:solid 1px #e5e5e5;line-height:45px}
 #header.userCenter .logo span { color:#3d4245;font-size:18px}
.goback { position:absolute; top:7px; left:0; width:35px; height:30px; cursor:pointer;}
.goback span{ float:left; margin: 3px 0 0 8px; width:25px; height:25px;background:url(../Image/icon-wrapper.png) 0 0; background-size:100% auto;}
/* footer */
.foot{position:fixed;bottom:0px;width:100%;height:50px;background:#fff;border:1px solid #e5e5e5;padding:3px 0px}
.foot dl{float:left;width:25%;text-align:center}
.foot dl dt{width:100%;height:25px;padding:2px 0px}
.foot dl dd a{color:#666;font-size:14px}
.foot dl:first-child dt{background:url(../Image/foot-ico01.png) no-repeat center center}
.foot dl:nth-child(2) dt{background:url(../Image/foot-ico02.png) no-repeat center center}
.foot dl:nth-child(3) dt{background:url(../Image/foot-ico03.png) no-repeat center center}
.foot dl:last-child dt{background:url(../Image/foot-ico04.png) no-repeat center center}
/* 总览 */
.btn{padding:15px 0px 20px;text-align:center;}
.btn .btn-all{margin-top:10px;border:1px solid #ed3f41;}
.btn-all {position: relative;display: inline-block;margin:0 auto;padding: 12px 0;width:95%;max-width:400px;background:#ed3f41;color: #fff;font-size: 16px;line-height: 16px;border-radius: 5px;text-align: center;overflow: hidden;}
.btn-cx{background:none;border:1px solid #ed3f41;color:#ed3f41}
.bdtop{border-top:1px solid #f0f0f0}
.bdbt{border-bottom:1px solid #f0f0f0}
.w95{width:95%;margin:0 auto}
.bfff{background:#fff}
.top-nav{height:45px;border-bottom:1px solid #e5e5e5;background-color:#fff}
.top-navinfo{width:95%;height:100%;margin:0 auto;}
.top-navinfo a{display:block;float:left;width:25%;line-height:43px;text-align:center;color:#333;font-size:16px}
.top-navinfo a.hover{border-bottom:2px solid #ed3f41;color:#ed3f41}   
.list-title{width:100%;background:#fff;height:45px;margin-top:15px;border-bottom:1px solid #e5e5e5;border-top:1px solid #e5e5e5}
.list-title .title-info{line-height:45px;background:url(../Image/ico_open.png) no-repeat right center;background-size:15px}
.list-title .title-info span{color:#999}
.list-title .open{line-height:45px;background:url(../Image/ico_close.png) no-repeat right center;background-size:15px}
.list-box{background:#fff;width:100%;height:auto;float:left}
.list-box:first-of-type{border-top:none}
.list-box .box-info dl{display:inline-block;background:#fff;padding:15px 0px;width:48%;border-right:1px solid #f0f0f0;font-size:14px;float:left}
.list-box .box-info dl.dl-item{border-right:none;padding-left:3.5%}
.list-box .box-info dl dt,.list-box .box-info dl dd{float:left}
.list-box .box-info dl dd p{line-height:22px;color:#999}
.list-box .box-info dl dd p:first-child{color:#333}
.list-box .box-info dl dt{padding-right:4%;padding-top:1px;width:25px}
.mt8{margin-top:8px;border-bottom:1px solid #e5e5e5;border-top:1px solid #e5e5e5}
.bdtop:last-of-type{border-bottom:1px solid #f0f0f0;}
.list-info01 .bdtop:last-of-type{border-bottom:1px solid #e5e5e5;}
.list-info02 .list-box:first-of-type{border-top:1px solid #e5e5e5}
/* 翼支付详情 */
.detail-name01{border-bottom:1px solid #f0f0f0}
.detail-name02{border-bottom:1px solid #e5e5e5;width:100%}
.detail-top{background:#fff}
.detail-top{background:#fff}
.detail-name01{width:97.5%;margin-left:2.5%;}
.detail-name01 p:first-child{padding:15px 0px 0px;font-size:14px;color:#999}
.detail-name01 p:last-child{padding:10px 0px 15px;font-size:36px;color:#000;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;}
.detail-name02 div{padding:15px 0px;color:#333;font-size:14px}
.detail-name02 div i{float:left;padding-right:5px;}
.detail-cont{margin-top:15px;}
.detail-cont ul{border-bottom:1px solid #e5e5e5;background:#fff;}
.detail-cont ul li{width:97.5%;margin-left:2.5%;color:#666;border-top:1px solid #f0f0f0;padding:15px 0px;font-size:14px}
.detail-cont ul li:first-child{border-top:none}
.detail-cont ul li span{width:85px;display:block;text-align:justify;text-justify:inter-ideograph;color:#999;overflow:hidden;float:left;padding-right:10px}
.detail-name01 p.jfnum{font-size:36px}
.list-success{margin-top:15px;background:#fff;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;padding-top:15px;}
.list-success dl{text-align:center;width:97.5%;margin-left:2.5%;border-bottom:1px solid #f0f0f0;padding-bottom:15px}
.list-success dl dt{width:150px;height:150px;margin:0 auto;overflow:hidden}
.list-success dl dd{line-height:24px;font-size:14px;color:#999}
.active-des{line-height:24px;font-size:14px;color:#999;padding:15px 0px}
.active-des p{line-height:24px;font-size:14px;color:#999}
.active-des p.des-title{color:#333;font-size:16px;line-height:30px}
/* 积分 */
.jf-cont{margin-top:15px;}
.jf-cont ul{border-bottom:1px solid #e5e5e5;background:#fff;}
.jf-cont ul li{width:97.5%;margin-left:2.5%;color:#666;border-top:1px solid #e5e5e5;padding:15px 0px;font-size:14px}
.jf-cont ul li:first-child{border-top:none}
.jf-cont ul li span{width:85px;display:inline-block;text-align:justify;text-justify:inter-ideograph;color:#999;overflow:hidden;float:left;padding-right:10px}
.dh-num{background:#fff;height:50px;line-height:50px;margin-top:15px;border-bottom:1px solid #e5e5e5;border-top:1px solid #e5e5e5;}
.dh-num span{width:85px;display:inline-block;color:#999;float:left;padding-right:5px;color:#333;font-size:16px;}
.dh-num input{width:66%;height:22px;line-height:22px;font-size:16px}
.jf-cont .jf-btn{background:none}
.jf-cont ul li span,.detail-cont ul li span{text-align:justify;text-justify:distribute-all-lines;text-align-last:justify;-moz-text-align-last:justify;-webkit-text-align-last:justify;}
.jf-cont ul li span:after,.detail-cont ul li span:after{content:"";display:inline-block;width:100%;overflow:hidden;height:0px;}
/* 微信收单成功 */
.bd-tels{margin-top:15px;}
.bdtels-cont{padding-left:2.5%;height:50px;line-height:50px;background:#fff;}
.bd-tels span{width:26%;display:inline-block;color:#999;float:left;padding-right:1%;color:#333;font-size:16px;}
.bd-tels input{width:51%;height:47px;line-height:50px;float:left;display:block;padding:0px;font-size:16px}
.bd-tels a.bd-btn{width:22%;line-height:50px;background:#b0b0b0;text-align:center;display:block;float:left;color:#fff}
.bd-tels  a.bd-btn01{background:#ed3f41}
.bdtels-des{font-size:12px;color:#999;text-align:justify;text-justify:inter-ideograph;line-height:18px;padding-top:5px}
.bdtel div a{float:right;color:#2e7dc6;font-size:14px;padding-right:25px;background:url(../Image/ico_open.png) no-repeat 75px 5px;background-size:15px}
.bdtel div a.open{float:right;color:#2e7dc6;font-size:14px;padding-right:25px;background:url(../Image/ico_close.png) no-repeat 75px 5px;background-size:15px}
/* 搜索页*/
.search {position:relative;height:38px;margin:10px 20px 10px;border:solid 1px #ddd;border-radius:5px; padding: 0 5px;background:#fff;}
.search input[type=text] { float:left; width:80%; position:relative; z-index:2; padding-left:40px; padding-right:30px; background:none;}
.search a.submit { position:absolute; z-index:3; right:-1px; top:-1px; width:20%; height:40px; background:#e95960; color:#fff; -webkit-appearance: none; border-radius:0 5px 5px 0; display:none; font-size:14px; line-height:40px; text-align:center; cursor:pointer;}
.search p { position:absolute; z-index:1; left:50%; margin-left:-25px; top:50%; margin-top:-10px; height:20px; line-height:20px; opacity:0.8;}
.search p i { float:left; width:20px; height:20px; background-size:100% auto; background-image:url(../Image/search1.png); -webkit-appearance: none;}
.search p span { float:left; color:#999; font-size:14px; line-height:20px;}
.search em { position:absolute; z-index:3; right:21%; top:0; width:32px; height:32px; display:none;}
.search em i { float:left; width:38px; height:38px; background-size:20px 20px; background-position:center center; background-repeat:no-repeat; background-image:url(../Image/search2.png);}
.search p { opacity:1; left:0; margin-left:15px;}
.search p span { display:none;}
.search a.submit { display:block;}
.search.on em{ display:block;}
.nodata{background:#fff;text-align:center;padding:60px 0px 50%}
.data-cont{min-height:500px;background:#fff}
/* 日结 */
.gohome{position: absolute;top: 7px; right: 0;width: 35px;height: 30px;cursor: pointer;}
.gohome span{float:right;margin:6px 8px 0 0px;width:25px;height:25px;background: url(../Image/foot-ico01.png) no-repeat;background-size:20px;}
.rj-cont ul{border-bottom:1px solid #e5e5e5;background:#fff;}
.rj-cont ul li{width:97.5%;margin-left:2.5%;color:#666;border-top:1px solid #f0f0f0;padding:15px 0px 0px;font-size:14px;overflow: hidden;}
.rj-cont ul li:first-child{border-top:none}
.rj-cont ul li span{width:85px;display:block;color:#999;overflow:hidden;float:left;padding-right:10px;text-align:justify;}
.rj-cont ul li span:after{content:"";display:inline-block;width:100%;overflow:hidden;height:0px;}
.rj-list{background:#fff;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.rj-list dl{margin-left:2.5%;border-bottom:1px solid #f0f0f0}
.rj-list dl dt{padding:10px 0px 0px;font-size:36px;color:#000;}
.rj-list dl dd{padding:15px 0px;font-size:14px;color:#999}
.rj-list dl dd span{margin-left:5px;color:#666}
.rj-list dl p.rj-listtitle{padding:15px 0px 0px;color:#333;font-size:14px}
.rj-list p.rj-money{color:#999;font-size:14px;line-height:40px}
.rj-list p.rj-money span{margin:0px 15px 0px 5px}
.rj-list p.rj-money span.red{color:#ed3f41;}
.title-h3{color:#666;font-size:14px;line-height:35px;font-weight:normal;}
/* 日结收单明细 */
.rjmx-list{background:#fff}
.rjmx-list:first-of-type{border-top:1px solid #e5e5e5}
.rjmx-list ul{border-bottom:1px solid #f0f0f0;margin-left:2.5%;padding:0px 2.5% 15px 0px;background:#fff}
.rjmx-list:last-of-type {border-bottom:1px solid #e5e5e5}
.rjmx-list:last-of-type ul{border-bottom:none}
.rjmx-list li{position:relative;padding:15px 0px 0px;font-size:14px;color:#999}
.rjmx-list li em{padding-left:5px}
.rjmx-list li.list01{color:#333;font-size:16px}
.rjmx-list li.list01 i{float:left;margin-right:5px;width:25px;display:block;overflow:hidden}
.rjmx-list li.list01 span:last-child,.rjmx-list li.list02 span:last-child{position:absolute;right:0px}
.rjmx-list li.list01 span.r-sz{font-size:17px}
.rjmx-list li.list01 span.r-status{font-size:12px;color:#999}
.rjmx-list li  em{color:#666}
.rjmx-list li.list02,.rjmx-list li.list03{padding-left:30px;padding-top:5px}
.rjmx-list li.list03 em{color:#ed3f41}
/* 日结验证明细 */
.yzmx-list li.list02,.yzmx-list li.list03{padding-left:0px}
.yzmx-list li.list03  em{color:#666}
.yzmx-list li.list02  em.list01-em{color:#ed3f41}
/* 撤销验证 */
.cx-point{color:#ed3f41;font-size:14px;padding-top:5px}

/* 下拉 、切换 */
.select-down{position:absolute;top:46px;left:0px;width:100%;background:#fff;z-index:10}
.select-down ul{width:95%;margin:0 auto;}
.select-down ul li{border-bottom:1px solid #f0f0f0;line-height:40px;color:#333;font-size:14px}
.appbj{width:100%;height:100%;position:fixed;top:0px;left:0px;background:#000;opacity:0.5}
.select-down ul li i{width:20px;height:20px;float:right;margin-top:10px;}
.select-down ul li.selected{color:#ed3f41}
.select-down ul li.selected i{background:url(../Image/icodh.png) no-repeat center center; background-size:15px}
.rjmx-list li.list01 i img{width:100%;height:auto}
.tab-nav{width:95%;height:35px;font-size:14px;margin:15px auto;position:relative;}
.tab-nav a{display:inline-block;float:left;width:32.89%;margin:0 auto;line-height:35px;text-align:center;border:1px solid #ed3f41;border-right:none;color:#ed3f41;font-size:14px;background:#fff;color:#333}
.tab-nav a:first-child{border-radius:3px 0px 0px 3px}
.tab-nav a:last-child{border-right:1px solid #ed3f41;border-radius:0px 3px 3px 0px;}
.tab-nav a.active{color:#fff;background:#ed3f41}
.top-navinfo  a.hover{position:relative;}
.top-navinfo  a.hover i{position:absolute;display:block;border:6px solid #ed3f41; border-color:#ed3f41 #fff; border-width:6px 6px 0 6px;top:21px;right:14%;} 

/*搜索框*/
.seeks{position:relative;height:38px;margin:15px  auto 0px;border-radius:5px;background:#fff;width:95%}
.seeks .iconsearch{position:absolute;z-index:1;width:20px;height:20px;margin:9px 0px 0px 9px;background-size:100% auto;background-image:url(../Image/search1.png);}
.seeks input[type=text]{float:left;position:relative;z-index:2;padding-left:40px;padding-right:30px;background:none;
width:75%;font-size:14px;color:#666}
.seeks a.btn-search{position:absolute;z-index:3;right:0px;top:50%;margin-top:-13px;width:18%;height:26px;background: #fff;color:#333;border-radius:0 5px 5px 0;font-size:16px;line-height:26px;text-align:center;cursor:pointer;display:block;border-left:1px solid #c9c9c9;color:#333}
/* 发送列表 */
.rjpop{width:95%;height:auto;margin:0 auto;background:#fff;z-index:200;}
.rjpop  dl{background:url(../../Image/sips_ans.png) no-repeat;margin-left:20px;}
.rjpop.success dl{background:url(../../Image/start_icon.png) no-repeat;margin-left:20px;background-size:20px;background-position:10px 2px;}
.rjpop  dl dt{font-size:16px;padding-top:5px;color:#333;margin-left:40px}
.rjpop.success dl dt{padding-top:0px}
.rjpop  dl dd{font-size:14px;padding-top:5px;color:#666}
	    
@media screen and (max-width:330px){
	.list-box .box-info dl.dl-item{border-right:none;padding-left:2%}
	.list-box .box-info dl{font-size:13px;}
	.top-navinfo a.hover i{right:13%}
}
@media screen and (min-width:331px){
.top-navinfo a.hover i{right:17%}
}