@charset "utf-8";
/* CSS Main */
html{ width:100%; height:100%; min-height:100%;-webkit-text-size-adjust:100%;}
body { position:relative; height:100%; min-height:100%;-webkit-font-smoothing: antialiased; background:#f6f6f6;font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;}
*{margin:0;padding:0;border:none;list-style:none;-webkit-tap-highlight-color:rgba(0,0,0,0); font-style:normal;}
p { color:#666666;}
.important { color:#e95960 !important;}
::-moz-placeholder {color: #ddd;opacity: 1!important; font-size:16px;}
:-ms-input-placeholder {color: #ddd; font-size:16px;}
::-webkit-input-placeholder {color: #ddd; font-size:16px;}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] { font-size:14px; height:28px; line-height:26px; padding:6px; border:none; -webkit-appearance: none; width:90%;}
textarea { padding-bottom:23px;}
input:hover,textarea:hover,select:hover {outline: none; border:none;}
input:focus,textarea:focus,select:focus {outline: none; border:none;}
select:disabled,
textarea:disabled,
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="date"]:disabled,
input[type="month"]:disabled,
input[type="time"]:disabled,
input[type="week"]:disabled,
input[type="number"]:disabled,
input[type="email"]:disabled,
input[type="url"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="color"]:disabled { background:none; color:#000;}
select:readonly,
textarea:readonly,
input[type="text"]:readonly,
input[type="password"]:readonly,
input[type="datetime"]:readonly,
input[type="datetime-local"]:readonly,
input[type="date"]:readonly,
input[type="month"]:readonly,
input[type="time"]:readonly,
input[type="week"]:readonly,
input[type="number"]:readonly,
input[type="email"]:readonly,
input[type="url"]:readonly,
input[type="search"]:readonly,
input[type="tel"]:readonly,
input[type="color"]:readonly { background:none; color:#000;}

img { max-width:100%;}

a {color:#b60101; text-decoration:none;}
a:focus {outline: thin dotted;}
a:active,
a:hover {outline: 0;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}

.mt20 { margin-top:10px;}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
#header,
.Iform,
.Iform dl,
.pay,
.pay .wxPay,
.nav,
.nav dl dd,
.list,
.list dl dd,
.listMore,
.listMore .listMoreTop,
.listMore .listMoreTop .img,
.checkVoucher,
.Iform dd + ul,
.dateNav,
.dateList dl dd,
.dateList dl dd li,
.dateSideNav,
.appCon .appConHeader { border:0; border-image: url(../Image/border1.png) 2 stretch;}
.sideNav .sideNavCon dl dd,.sideNav .sideNavCon dl dt { border:0; border-image: url(../Image/border2.png) 2 stretch;}
.nav dl dd {  background-image: none !important;}
.nav dl dd:before { position:absolute; top:50%; right:20px; margin-top:-3px; width:10px; height:2px; border-radius:1px; background:#999; content:"";-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.nav dl dd:after { position:absolute; top:50%; right:20px; margin-top:3px; width:10px; height:2px; border-radius:1px; background:#999; content:""; -webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.sideNav .sideNavCon dl dd { background-image: none !important;}
.sideNav .sideNavCon dl dd:before { position:absolute; top:50%; right:10px; margin-top:-3px; width:10px; height:1px; border-radius:1px; background:#8a8b8b; content:"";-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.sideNav .sideNavCon dl dd:after { position:absolute; top:50%; right:10px; margin-top:4px; width:10px; height:1px; border-radius:1px; background:#8a8b8b; content:""; -webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.list dl dd { background-image: none !important;width:95%;margin:0 auto}
.list dl dd:before { position:absolute; top:50%; right:15px; margin-top:-3px; width:10px; height:2px; border-radius:1px; background:#999; content:"";-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.list dl dd:after { position:absolute; top:50%; right:15px; margin-top:3px; width:10px; height:2px; border-radius:1px; background:#999; content:""; -webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
#wrapper { position: relative; top:0; padding-top:46px; left:0; bottom:0; z-index:1; margin:0 auto; width:100%; overflow:hidden; min-height:90%; -webkit-transition:all 0.2s;}
#wrapper.bgfff { background:#fff; min-height:92%;}
#header { height:auto; overflow:hidden;z-index:2; position:relative;text-align:center;}
#main { position:relative; padding-bottom:10px; min-height:100%; overflow:hidden;}
#footer { padding:15px 0 5px 0; width:100%; height:20px; line-height:20px; text-align:center; font-size:12px; color:#999;}
#footer a { color:#999;}
#header { position: fixed; top:0; left:0; z-index:2; width:100%; height:45px; border-bottom: 1px solid #eee; background:#fff; box-shadow:0 1px 1px rgba(0,0,0,.05); -webkit-transition:all 0.2s;}
#header h1 { position:absolute; left:0; top:0; width:100%; text-align:center; line-height:45px; font-size:18px; font-weight:normal;}
#header i { position:relative; z-index:2; width:45px; height:45px; background-size:100% auto;}
#header i.icon-nav { background-image:url(../Image/header1.png);}
#header i.icon-out { background-image:url(../Image/header2.png);}
#header i.icon-back { background-image:url(../Image/header3.png);}
#header i.icon-home { background-image:url(../Image/header4.png);}
/*----------------------------------  Global结束  ------------------------------------*/

.login { position:relative; height:100%; min-height:380px;}
.loginHeader { min-height:105px; line-height:0;}
.loginHeader img { width:100%;}
.Tmsg { margin:0 20px; margin-top:10px;}
.Iform { width:100%; background:#fff; border-top: 1px solid #eee; border-bottom: 1px solid #eee;}
.Iform dl { position:relative; border-bottom: 1px solid #eee; margin-left:10px;}
.Iform dl:last-child { border-bottom:0;}
.Iform .Ititle { font-weight:bold; font-size:14px; color:#333; text-indent:0px; border-bottom: solid 1px #ccc; padding:20px 0 5px 0;}
.Iform dt { width:70px; text-align:right; height:38px; line-height:38px; position:absolute; top:5px; left:0; font-size:16px;}
.Iform dt + dd { padding:5px 0 5px 80px; min-height:40px;}
.Iform dd { padding-left:10px; position:relative; font-size:14px;}
.Iform dd:after { display:block;content:"";clear:both;}
.Iform dd .maxTips { position:absolute; top:14px; right:20px; width:45px; font-size:16px; text-align:right; color:#666;}
.Iform dd>p { padding:10px 4px; font-size:14px; line-height:20px;}
.Iform dd>p.important { color:#e95960;}
.Iform dd>p.Gtext { padding:4px; font-size:14px; line-height:20px; text-align:left;}
.Iform dd>p.Gtext.important { color:#e95960;}
.Iform dd select { position:relative; width:30%; margin-left:3%; float:left; padding:0 10px 0 0; text-align:center; font-size:14px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden; background:url(../Image/select.png) no-repeat right center; background-position:right center; background-size:9px 9px;}
.Iform dd select option { text-align:center;}
.IformTips { margin:0 25px; font-size:14px; color:#999; margin-top:5px; text-align:center;}
.IformTips.tl { text-align:left;}
.btn { margin-top:20px; text-align:center;}
.btn p { font-size:14px; color:#999; margin:0 15px; margin-top:10px; text-align:center;}
.Iform.lg dt { width:110px;}
.Iform.lg dt + dd { padding:5px 0 5px 120px;}
.Iform dd + ul { height:auto; overflow:hidden; padding:10px 0; padding-left:10px; border-top: 1px solid #eee; display:none;}
.Iform dd + ul li { float:left; padding:5px 0; width:45%; font-size:14px; color:#666;}
.Iform dd + ul li:nth-child(2n) {width:55%; font-size:14px; color:#666;}
.Iform dd + ul li span { color:#ed3f41;}
.Iform dl.more.open ul { display:block;}
.Iform dl.more dd:before { position:absolute; top:50%; right:20px; margin-top:-3px; width:10px; height:1px; border-radius:1px; background:#999; content:"";-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.Iform dl.more dd:after { position:absolute; top:50%; right:20px; margin-top:4px; width:10px; height:1px; border-radius:1px; background:#999; content:""; -webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.Iform dl.more.open dd:before { position:absolute; top:50%; right:23px; margin-top:-3px; width:10px; height:1px; border-radius:1px; background:#999; content:"";-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.Iform dl.more.open dd:after { position:absolute; top:50%; right:16px; margin-top:-3px; width:10px; height:1px; border-radius:1px; background:#999; content:""; -webkit-transform:rotate(-45deg);transform:rotate(-45deg);}

.goCamera { position:relative; height:160px; overflow:hidden; background:#ed3f41;}
.goCamera .cameraBg { position:absolute; top:50%; left:50%; margin-top:-90px; margin-left:-90px; width:180px; height:180px;-webkit-animation:cameraBg 1s 1s forwards ease;}
.goCamera .cameraBg i { display:block; width:180px; height:180px; background-size:100% auto; background-image:url(../Image/camera1.png);-webkit-animation:cameraBg 20s infinite linear;}
.goCamera .cameraCon { position:absolute; top:50%; left:50%; margin-top:-55px; margin-left:-55px; width:110px; height:110px; overflow:hidden;}
.goCamera .cameraCon i { display:block; margin:15px auto 5px; width:45px; height:45px; background-size:100% auto; background-image:url(../Image/camera2.png);}
.goCamera .cameraCon p { color:#fff; text-align:center; text-shadow:0 2px 1px rgba(0,0,0,.2);}
@-webkit-keyframes cameraBg{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);}
}

.pay { height:60px; border-top: 1px solid #eee; border-bottom: 1px solid #eee; background:#fff;}
.pay .wxPay,.pay .alPay { float:left; width:49.7%; height:100%;}
.pay .wxPay { float:left; border-right: 1px solid #eee;}
.pay .alPay { float:right;}
.pay i { float:left; margin:7px 5px 7px 15px; width:45px; height:45px; background-size:100% auto;}
.pay p { float:left; line-height:60px;}
.pay i.icon-pay1 { background-image:url(../Image/pay1.png);}
.pay i.icon-pay2 { background-image:url(../Image/pay2.png);}

.nav { margin-top:10px;border-top: 1px solid #eee; border-bottom: 1px solid #eee; background:#fff;}
.nav dl { position:relative;}
.nav dl dd { position:relative; height:auto; overflow:hidden; border-bottom: 1px solid #eee; background-image:url(../Image/jt.png); background-position:right center; background-repeat:no-repeat;}
.nav dl dd a { display:block; height:auto; overflow:hidden; padding:15px 20px;}
.nav dl dd:first-child a { padding:20px 20px;}
.nav dl dd:first-child img { position:absolute; right:50px; height:70px; bottom:0;}
.nav dl dd:last-child {border-bottom:0;}
.nav dl dd i { float:left; margin-right:5px; width:25px; height:25px; background-size:100% auto;}
.nav dl dd p { float:left; height:25px; line-height:25px;}
.nav dl dd i.icon-nav1 { background-image:url(../Image/nav1.png);}
.nav dl dd i.icon-nav2 { background-image:url(../Image/nav2.png);}
.nav dl dd i.icon-nav3 { background-image:url(../Image/nav3.png);}
.nav dl dd i.icon-nav4 { background-image:url(../Image/nav5.png);}

body.showNav { width:100%; overflow:hidden;}
.sideNav { position: fixed; top:0; left:-100%; z-index:4; width:100%; height:100%; -webkit-transition:all 0.2s; touch-action: pan-y; -webkit-user-select: none;-webkit-user-drag: none; cursor:pointer;}
.sideNav .sideNavCon { position:absolute; top:0; z-index:4; width:210px; height:100%; overflow-y:auto; background:#171f22; box-shadow:-5px 0 3px 0 rgba(0,0,0,.2) inset;}
.sideNav .sideNavCon dl {}
.sideNav .sideNavCon dl dt { padding:15px 0 15px 20px; border-bottom: 1px solid #343f43;}
.sideNav .sideNavCon dl dt img { float:left; width:50px; height:50px; border-radius:50%; margin-right:10px;}
.sideNav .sideNavCon dl dt p { padding:15px 10px 15px 0; line-height:20px; color:#8a8b8b; font-size:16px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.sideNav .sideNavCon dl dd { padding-left:20px; position:relative; border-bottom: 1px solid #343f43; background-image:url(../Image/jt2.png); background-position:right center; background-repeat:no-repeat;}
.sideNav .sideNavCon dl dd a { display:block; padding:10px 5px; height:auto; overflow:hidden;}
.sideNav .sideNavCon dl dd p { float:left; height:25px; line-height:25px; color:#8a8b8b; font-size:16px;}
.sideNav .sideNavCon dl dd i { float:left; width:25px; height:25px; background-size:100% auto;}
.sideNav .sideNavCon dl dd i.icon-slidenav1 { background-image:url(../Image/slidenav1.png);}
.sideNav .sideNavCon dl dd i.icon-slidenav2 { background-image:url(../Image/slidenav2.png);}
.sideNav .sideNavCon dl dd i.icon-slidenav3 { background-image:url(../Image/slidenav3.png);}
.sideNav .sideNavCon dl dd i.icon-slidenav4 { background-image:url(../Image/slidenav4.png);}
.sideNav .sideNavCon dl dd i.icon-slidenav5 { background-image:url(../Image/slidenav5.png);}
.sideNav .sideNavCon dl dd i.icon-slidenav6 { background-image:url(../Image/slidenav6.png);}
.showNav .sideNav { left:0%; -webkit-transition:all 0.2s;}
.showNav #header { left:210px; -webkit-transition:all 0.2s;}
.showNav #wrapper { left:210px; -webkit-transition:all 0.2s;}

.dateNav { width:100%; border-bottom: 1px solid #eee; background:#fff;}
.dateNav ul { width:100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;}
.dateNav ul li {float: none; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;}
.dateNav ul li a { padding:10px 0; display:block; font-size:16px; text-align:center; color:#333;}
.dateNav ul li a.hover { color:#ed3f41; border-bottom:solid 1px #ed3f41;}

.dateSideNav { width:100%; border-top: 1px solid #eee; background:#fff; margin-top:10px; margin-bottom:-11px;}
.dateSideNav ul { margin:0 10px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;}
.dateSideNav ul li { padding:10px 0; float: none; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;}
.dateSideNav ul li a { display:block; padding:5px; font-size:16px; text-align:center; color:#ed3f41; border:solid 1px #ed3f41; margin-left:-1px;}
.dateSideNav ul li a.hover { color:#fff; background:#ed3f41;}
.dateSideNav ul li:first-child a { border-radius:3px 0 0 3px;}
.dateSideNav ul li:last-child a { border-radius:0 3px 3px 0;}

.search { position:relative; height:38px; margin:0 20px; margin-top:10px; border:solid 1px #ddd; border-radius:5px; padding:0 5px; background:#fff;}
.search input[type=text] { float:left; width:80%; position:relative; z-index:2; padding-left:40px; padding-right:30px; background:none;}
.search a.submit { position:absolute; z-index:3; right:-1px; top:-1px; width:20%; height:40px; background:#e95960; color:#fff; -webkit-appearance: none; border-radius:0 5px 5px 0; display:none; font-size:14px; line-height:40px; text-align:center; cursor:pointer;}
.search p { position:absolute; z-index:1; left:50%; margin-left:-25px; top:50%; margin-top:-10px; height:20px; line-height:20px; opacity:0.8;}
.search p i { float:left; width:20px; height:20px; background-size:100% auto; background-image:url(../Image/search1.png); -webkit-appearance: none;}
.search p span { float:left; color:#999; font-size:14px; line-height:20px;}
.search em { position:absolute; z-index:3; right:21%; top:0; width:32px; height:32px; display:none;}
.search em i { float:left; width:38px; height:38px; background-size:20px 20px; background-position:center center; background-repeat:no-repeat; background-image:url(../Image/search2.png);}
.search p { opacity:1; left:0; margin-left:15px;}
.search p span { display:none;}
.search a.submit { display:block;}
.search.on em{ display:block;}

/*要这里*/
.list {margin-top:10px;border-top: 1px solid #eee; border-bottom: 1px solid #eee; background:#fff;}
.list dl {}
.list dl dd { position:relative; height:auto; overflow:hidden; border-bottom: 1px solid #eee; background-image:url(../Image/jt2.png); background-position:right center; background-repeat:no-repeat;}
.list dl dd a { display:block; height:auto; overflow:hidden; padding:5px 30px 5px 10px; color:#333;}
.list dl dd:last-child {border-bottom:0;}
.list dl dd h2 { padding:5px 0; font-size:16px; font-weight:normal;}
.list dl dd h2 em { font-size:14px; color:#666;}
.list.help dl dd h3 { margin-right: 0; }
.list dl dd h3 { padding:5px 0; margin-right:110px; font-size:16px; font-weight:normal;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.list dl dd h3 + h4 { margin-right:110px;}
.list dl dd h3 em { font-size:14px; color:#666;}
.list dl dd h4 { padding:5px 0; font-size:12px; font-weight:normal;}
.list dl dd h4 em { padding:0 2px; margin:0 5px 0 0; width:60px; text-align:center; display:inline-block; font-size:12px; color:#666;}
.list dl dd h4 em.red { border:solid 1px #2bad13; color:#2bad13;}
.list dl dd h4 em.blue { border:solid 1px #00bbee; color:#00bbee;}
.list dl dd h4 em.mazarine { border:solid 1px #0169b8; color:#0169b8;}
.list dl dd h4 span { font-size:12px; color:#999;}
.list dl dd h5 { position:absolute; right:40px; top:50%; margin-top:-10px; height:20px; line-height:20px; font-size:16px; font-weight:normal;}
.list dl dd p { float:left; height:25px; line-height:25px;}

.helpCon { margin-bottom:80px;margin-top:10px;border-top: 1px solid #eee; border-bottom: 1px solid #eee; background:#fff;}
.helpCon dl {}
.helpCon dl dd { position:relative; height:auto; overflow:hidden; border-bottom: 1px solid #eee; background-image:url(../Image/jt2.png); background-position:right center; background-repeat:no-repeat;}
.helpCon dl dd a { display:block; height:auto; overflow:hidden; padding:5px 30px 5px 10px; color:#333;}
.helpCon dl dd:last-child {border-bottom:0;}
.helpCon dl dd h3 { padding:5px 0; font-size:16px; font-weight:normal;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.helpCon dl  .help_title{width:100%;margin:0 auto;border-bottom:1px solid #eee;}
.helpCon dl  .help_title h3 {width:95%;padding:15px 0; font-size:16px; font-weight:normal;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;margin:0px auto}
.helpCon dl .more {width:95%;margin:0 auto;line-height: 24px; font-size: 14px; color: #666;margin-top:10px}
.helpCon dl .more p {line-height: 24px; font-size: 14px; color: #666;}
.helpCon dl .more p + p { margin-top: 5px;}

.fixedBtn { position: fixed; bottom: 0; left: 0; padding:5px 0; width: 100%; height: auto; background: #fff; border-top: solid 1px #eee; }
.fixedBtn p { padding:0 2%; color: #333; margin-bottom: 5px; }
.fixedBtn a.btn-good {position: relative; display: inline-block; margin:0 2%; padding:8px 30px; width:45%; max-width:400px; background:#e95960; color:#fff; font-size:16px; line-height:16px; border-radius:5px; text-align:center; overflow:hidden; box-sizing:border-box; border:solid 1px #e95960;}
.fixedBtn a.btn-bad {position: relative; display: inline-block; margin:0 2%; padding:8px 30px; width:45%; max-width:400px; color:#e95960; background:#fff; font-size:16px; line-height:16px; border-radius:5px; text-align:center; overflow:hidden; box-sizing:border-box; border:solid 1px #e95960;}
/*要这里*/

.listMore { margin-bottom:10px; background:#fff; border-bottom: 1px solid #eee;}
.listMore .listMoreTop { padding:20px; height:auto; overflow:hidden; border-bottom: 1px solid #eee;}
.listMore .listMoreTop.nobd { border-bottom:0;}
.listMore .listMoreTop .img { float:left; margin-right:5px; width:115px; height:85px; line-height:0;border-top: 1px solid #eee;border-bottom: 1px solid #eee;border-left: 1px solid #eee;border-right: 1px solid #eee;}
.listMore .listMoreTop .img img { width:98%; height:98%; margin:1%;}
.listMore .listMoreTop .title {}
.listMore .listMoreTop .title h2 { height:54px; overflow:hidden; line-height:18px; font-size:14px; font-weight:normal;}
.listMore .listMoreTop .title p { line-height:15px;}
.listMore .listMoreTop .title p span { font-size:12px; color:#999;}
.listMore .listMoreNum { height:auto; overflow:hidden;}
.listMore .listMoreNum .listMoreNumCon { float:left; padding:10px 0; margin-left:20px;}
.listMore .listMoreNum .listMoreNumCon p { float:left; font-size:12px;}
.listMore .listMoreNum .listMoreNumCon i.icon-numok + p { color:#ed3f41;}
.listMore .listMoreNum .listMoreNumCon i { float:left; margin-right:3px; width:15px; height:15px; background-size:100% auto; background-image:url(../Image/icon-17.png);}
.listMore .listMoreNum .listMoreNumCon i.icon-numok { background-image:url(../Image/numok1.png);}
.listMore .listMoreNum .listMoreNumCon i.icon-numok2 { background-image:url(../Image/numok2.png);}

.nodate { width:100%; height:auto; text-align:center; overflow:hidden;}
.nodate i { display:block; margin:0 auto; padding:40px 0; width:112px; height:75px; background-size:100% auto; background-position:center center; background-repeat:no-repeat; background-image:url(../Image/nodate.png);}
.nomoredate { text-align:center; font-size:12px; line-height:40px; color:#999; display:none;}

.appList { height:auto; overflow:hidden; min-height:340px;}
.appList ul {}
.appList ul li { float:left; margin-top:20px; width:25%; text-align:center;}
.appList ul li img { margin:0 auto; width:55px; height:55px; border-radius:12px;}
.appList ul li p { font-size:14px;}
.appCon {}
.appCon .appConHeader { padding:20px 20px 15px 20px; height:auto; overflow:hidden; background:#fff; border-bottom: 1px solid #eee;}
.appCon .appConHeaderCon { width:100%; float:right; margin-left:-120px;}
.appCon .appConHeader img { float:left; margin-right:20px; width:100px; height:100px; border-radius:20px;}
.appCon .appConHeader p { margin-left:120px; margin-top:-6px; padding:5px 0; height:auto; overflow:hidden; font-size:24px; color:#000;}
.appCon .appConHeader p.start { height:16px; margin-top:-7px;}
.appCon .appConHeader p.btn { padding-bottom:0; height:40px; margin-top:3px; text-align:left;}
.appCon .appConHeader p img { width:8px; height:8px; margin:0 2px; margin-top:4px;}
.appCon .appConHeader p span { float:left; font-size:12px; color:#666666;}
.appCon .appConHeader p a { width:100px; margin:0; font-size:18px;}
.appCon .appConText { margin:15px 20px 15px 20px; padding-bottom:15px; height:auto; overflow:hidden; border-bottom:solid 1px #999999;}
.appCon .appConText .title { padding-bottom:10px; color:#000; font-size:16px; line-height:20px;}
.appCon .appConText .text {color:#666666; font-size:14px; line-height:20px;}
.appCon .appConText .text p {color:#666666; font-size:14px; line-height:20px;}
.appCon .appConText:last-child { border-bottom:0;}

.dateList {}
.dateList dl {}
.dateList dl dt { position:relative; height:40px; line-height:40px; text-indent:20px; color:#666; font-size:16px;}
.dateList dl dt:after { position:absolute; left:14px; top:50%; margin-top:-8px; width:2px; height:16px; content:""; background:#ed3f41;}
.dateList dl dd { height:auto; overflow:hidden; border-top: 1px solid #eee; background:#fff;}
.dateList dl dd li { float:left; width:49%; border-bottom: 1px solid #eee; border-right: 1px solid #eee;}
.dateList dl dd li h3 { margin:10px 20px 0 20px; font-size:14px; font-weight:normal; color:#999;}
.dateList dl dd li p { margin:0 20px; padding-top:10px; padding-bottom:10px; text-align:center; color:#999; font-size:14px;}
.dateList dl dd li p span { color:#ed3f41; font-size:18px; margin:0 5px;}

.checkVoucher { margin-top:10px; padding:0 20px; height:auto; overflow:hidden; border-top: 1px solid #eee; border-bottom: 1px solid #eee; background:#fff;}
.checkVoucher .cameraVoucher { float:left; width:50%; padding:15px 0 10px 0; text-align:center;}
.checkVoucher .cameraVoucher a { display:block;}
.checkVoucher .cameraVoucher .cameraBg { margin:0 auto; width:66px; height:66px; overflow:hidden;}
.checkVoucher .cameraVoucher .cameraBg.cameraBg2 {}
.checkVoucher .cameraVoucher .cameraBg i { display:block; width:65px; height:65px; background-size:100%; background-repeat:no-repeat; background-position:center center;}
.checkVoucher .cameraVoucher .cameraBg i.icon-cameraVoucher1 {background-image:url(../Image/cameraVoucher1.png);}
.checkVoucher .cameraVoucher .cameraBg i.icon-cameraVoucher2 {background-image:url(../Image/cameraVoucher2.png);}
.checkVoucher .cameraVoucher p { padding-top:6px; font-size:16px; color:#666;}

.aboutUs { padding:20px 20px; text-align:center;}
.aboutUs p.mt0 { margin-top:0; padding-bottom:20px;}
.aboutUs p { font-size:14px; margin-top:10px; line-height:20px;}
.aboutUs p img { width:97px; height:135px;}

.btn-all { position: relative; display: inline-block; margin:0 5%; padding:12px 0; width:90%; max-width:400px; background:#e95960; color:#fff; font-size:16px; line-height:16px; border-radius:5px; text-align:center; overflow:hidden;}
.btn-all.erro {background:#bbb;}
.btn-all.erro:hover {-webkit-animation:btn-erro 0.2s 0.1s forwards linear;}
.link { text-decoration:underline; color:#b60101;}
.btn-all.w2 { width:43%; margin:0 2%;}
@-webkit-keyframes btn-erro
{
	0%{-webkit-transform:translate(0,0)}
	10%{-webkit-transform:translate(-8px,0)}
	20%{-webkit-transform:translate(8px,0)}
	30%{-webkit-transform:translate(-6px,0)}
	40%{-webkit-transform:translate(6px,0)}
	50%{-webkit-transform:translate(-4px,0)}
	60%{-webkit-transform:translate(4px,0)}
	70%{-webkit-transform:translate(-2px,0)}
	80%{-webkit-transform:translate(2px,0)}
	100%{-webkit-transform:translate(0,0)}
}

.cjTip { position:absolute; z-index:1000; top:30%; width:100%; color:#fff; font-weight:bold; font-size:16px; text-align:center;}
.cjTipbg { position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.4);}
.cjTipTxt { padding:10px; position:absolute; z-index:10; left:50%; margin-left:-70px; top:50%; margin-top:-20px; width:140px; height:auto; background:#fff; border-radius:6px; box-shadow:0 0 10px rgba(0,0,0,.2);}
.cjTipTxt i { position:absolute; top:50%; margin-top:-10px; left:10px; width:20px; height:20px; border:solid 2px #6fb15f; border-radius:50%;  border-right:solid 2px transparent;-webkit-animation: gamewrapperbg 1s infinite linear;}
.cjTipTxt p { padding:2px 0; line-height:20px; margin-left:30px; color:#666; font-size:12px; text-align:left; font-weight:normal;}
@-webkit-keyframes gamewrapperbg
{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);}
}

.msgPop { position:fixed; z-index:990; top:0; width:100%; height:100%; min-height:100%; margin:0 auto;display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;}
.msgPop.bg { background:rgba(0,0,0,0.7);}
.msgPop .msgBg { width:300px; height:auto; overflow:hidden; margin:0 auto; margin-top:-30px;}
.msgPop .msgBg .msgTitle { position:relative; height:113px; color:#000; font-size:20px; line-height:30px; background:url(../Image/qianji/Item/qj-18.png) no-repeat 0 top; background-size:100% auto;}
.msgPop .msgBg .msgTitle .close-msgPop { position:absolute; right:-5px; top:25px; width:40px; height:40px;}
.msgPop .msgBg .msgTitle.hastitle { line-height:77px; color:#a3964c; background:url(../Image/qianji/Item/qj-18-2.png) no-repeat 0 top; background-size:100% auto;}
.msgPop .msgBg .msgTitle.notitle { margin:0; margin-top:0px; background:url(../Image/qianji/Item/qj-18.png) no-repeat 0 top; background-size:100% auto;}
.msgPop .msgBg .msgTitle i { width:25px; height:25px; line-height:26px; text-align:center; position:absolute; right:8px; top:-10px;border-radius:25px; color:#bcb083; background:#faf4dd;}
.msgPop .msgBg .msgTitle i span { display:block; font-size:20px; font-style:normal; -webkit-transform:rotate(45deg);}
.msgPop .msgBg .msgTitle.hastitle + .msgCon { padding:30px 10px 15px 10px;}
.msgPop .msgBg .msgCon { margin:-60px 10px 0 10px; padding:50px 10px 15px 10px; height:auto; overflow:hidden;border-radius:4px; background:#faf4dd;touch-action: pan-y;}
.msgPop .msgBg .msgCon { font-size:18px; line-height:25px;}
.msgPop .msgBg .msgCon i { display:block; margin:0 auto; width:80px; height:80px; line-height:80px; font-size:60px; overflow:hidden; color:#ffba26;}
.msgPop .msgBg .msgCon .cjText-img { line-height:0;}
.msgPop .msgBg .msgCon .cjBtn { height:auto; overflow:hidden;}
.msgPop .msgBg .msgCon .cjBtn a { display:block; margin-top:15px; height:35px; line-height:35px; background:#1e7135; border: solid 1px #1e7135; border-radius:3px; color:#fff; font-size:14px;}
.msgPop .msgBg .msgCon .cjBtn a.sm { border:solid 1px #a3964c; color:#a3964c; background:none;}
.msgPop .msgBg .msgCon p { color:#a3964c; font-size:14px;}
.msgPop .msgBg .msgCon p.title { padding:5px 0; font-size:20px; color:#ed3f41;}
.msgPop .msgBg .msgCon p span { color:#1e7135;}

.msgPop .msgBg .msgCon .gameRule { color:#776c2d; text-align:left; font-size:12px;}
.msgPop .msgBg .msgCon .gameRule .divRule { height:220px; overflow:hidden; overflow-y:auto;  -webkit-font-smoothing: antialiased;}
.msgPop .msgBg .msgCon .gameRule p { padding-bottom:5px; font-size:12px; line-height:18px;}
.msgPop .msgBg .msgCon .gameRule p b { font-weight:bold;color:#776c2d;}
.msgPop .msgBg .msgCon .gameRule table {width:100%;border-collapse:collapse;border:1px solid #776c2d;table-layout:fixed; line-height:18px;}
.msgPop .msgBg .msgCon .gameRule td {padding: 2px 5px;border-collapse:collapse;vertical-align:middle;text-align:center;border:solid 1px #776c2d;color:#8b8041;}
.msgPop .msgBg .msgCon .gameRule td.tl { text-align:left;}

.pace{-webkit-pointer-events:none;user-select:none;z-index:2000;position:fixed;margin:auto;top:0;left:0;right:0;bottom:0;height:5px;width:80px;background:#fff;border:1px solid #ed3f41; border-radius:2px; display:none;}
.pace .pace-progress{box-sizing:border-box;-webkit-transition:width 1s ease-in-out 1s linear;transition:width 1s ease-in-out 1s linear;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);max-width:200px;position:fixed;z-index:2000;display:block;position:absolute;left:0;top:0;height:100%;background:#ed3f41}
.pace .pace-progress:after { display:block; font-size:12px; text-align:center; margin-top:-20px; content: attr(data-progress-text); color:#ed3f41;}
.pace.pace-inactive{display:none}

.icon-nav.touch,
.icon-out.touch,
.icon-home.touch,
.sideNav .sideNavCon dl dd.touch,
.nav dd.touch,
.wxPay.touch,
.alPay.touch,
.cameraVoucher.touch
.list dd.touch,
.dateNav li.touch,
.dl.more.touch { background-color:rgba(150,150,150,.1)}
.btn a.touch { background: #db4b52;}

.loadingBg { position:fixed; width:100%; height:100%; top:0; left:0; z-index:999;}
.loadingBox { position:fixed;z-index:1000;top:50%;left:50%;width:60px;height:60px; overflow:hidden;margin:-30px auto auto -30px;border-radius:10px;background:rgba(0,0,0,.3);}
.loadingBox i{ position:absolute;z-index:9;top:50%;left:50%;margin:-14px 0 0 -14px;width:20px;height:20px;border:4px dotted #000;border-color:rgba(255,255,255,.1) rgba(255,255,255,.2) rgba(255,255,255,.4) rgba(255,255,255,.5);border-radius:20px;-webkit-animation:loadforever 1s infinite linear;}
.loadingBox.hasp {margin:-30px auto auto -50px;width:100px;height:60px; padding-bottom:20px;}
.loadingBox.hasp i { margin-top:-24px;}
.loadingBox p { position:absolute; width:100%; bottom:10px; line-height:20px; text-align:center; font-size:12px; color:#fff;}
@-webkit-keyframes loadforever{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);}}

#header i.icon-nav { background-image:url(../Image/header1.png);}
#header i.icon-out { background-image:url(../Image/header2.png);}
#header i.icon-back { background-image:url(../Image/header3.png);}
#header i.icon-home { background-image:url(../Image/header4.png);}
.Iform dd select { background-image:url(../Image/select.png);}
.goCamera .cameraBg i {background-image:url(../Image/camera1.png);}
.goCamera .cameraCon i { background-image:url(../Image/camera2.png);}
.pay i.icon-pay1 { background-image:url(../Image/pay1.png);}
.pay i.icon-pay2 { background-image:url(../Image/pay2.png);}
.nav dl dd i.icon-nav1 { background-image:url(../Image/nav1.png);}
.nav dl dd i.icon-nav2 { background-image:url(../Image/nav2.png);}
.nav dl dd i.icon-nav3 { background-image:url(../Image/nav3.png);}
.sideNav .sideNavCon dl dd i.icon-slidenav1 { background-image:url(../Image/slidenav1.png);}
.sideNav .sideNavCon dl dd i.icon-slidenav2 { background-image:url(../Image/slidenav2.png);}
.sideNav .sideNavCon dl dd i.icon-slidenav3 { background-image:url(../Image/slidenav3.png);}
.sideNav .sideNavCon dl dd i.icon-slidenav4 { background-image:url(../Image/slidenav4.png);}
.sideNav .sideNavCon dl dd i.icon-slidenav5 { background-image:url(../Image/slidenav5.png);}
.search p i { background-image:url(../Image/search1.png);}
.search em i { background-image:url(../Image/search2.png);}
.listMore .listMoreNum .listMoreNumCon i {background-image:url(../Image/icon-17.png);}
.listMore .listMoreNum .listMoreNumCon i.icon-numok { background-image:url(../Image/numok1.png);}
.listMore .listMoreNum .listMoreNumCon i.icon-numok2 { background-image:url(../Image/numok2.png);}
.nodate i { background-image:url(../Image/nodate.png);}
.checkVoucher .cameraVoucher .cameraBg i.icon-cameraVoucher1 { background-image:url(../Image/cameraVoucher1.png);}
.checkVoucher .cameraVoucher .cameraBg i.icon-cameraVoucher2 { background-image:url(../Image/cameraVoucher2.png);}
/* 发送列表 搜索 */
.seeks{position:relative;height:38px;margin:15px  auto;border-radius:5px;background:#fff;width:95%}
.seeks .iconsearch{position:absolute;z-index:1;width:20px;height:20px;margin:9px 0px 0px 9px;background-size:100% auto;background-image:url(../Image/search1.png);left:0px}
.seeks input[type=text]{float:left;position:relative;z-index:2;padding-left:40px;padding-right:30px;background:none;width:75%;font-size:14px;color:#666}
.seeks a.btn-search{position:absolute;z-index:3;right:0px;top:50%;margin-top:-13px;width:18%;height:26px;background:#fff;color:#333;border-radius:0 5px 5px 0;font-size:16px;line-height:26px;text-align:center;cursor:pointer;display:block;border-left:1px solid #c9c9c9;color:#333}
.seeks em {position: absolute;z-index: 3;right: 21%;top: 0;width: 32px;height: 32px;display: none;}
.seeks em i {float: left;width: 38px;height: 38px;background-size: 20px 20px;background-position: center center;background-repeat: no-repeat; background-image: url(../Image/search2.png);}
.seeks.on em {display: block;}
/* ///发送列表 搜索 */
* {
@media screen and (max-height: 480px){
#wrapper.index { min-height:85%;}
#wrapper.index #main { padding:0;}
#wrapper.index #footer { display:none;}
#wrapper.index .goCamera { height:150px;}
#wrapper.index .nav dl dd a {padding: 12px 20px;}
#wrapper.index .nav dl dd:first-child a {padding:18px 20px;}
#wrapper.index .nav dl dd:first-child img { height:60px; bottom:0;}
}