@charset "utf-8";
/* CSS Document */
body,div,img,h1,h2,h3,p,ul,li{ margin:0px; padding:0px; font-size:12px; color:#333333;border: 0;outline: 0;vertical-align: baseline;font-family:"Microsoft Yahei","微软雅黑";}
body{ margin:0px; padding:0px;}
a img{ border:0}
.cl{ clear:both;}
li{list-style: none;}

.center-wrap{
	width:100%;
	height:100%;
	text-align:center;
	background:#1e0609;
}
.top{
    margin:0 auto; 
    width:100%; 
    height:137px; 
    background:#1e0609 url(../OldImg/body_bg.png) no-repeat center 0;
	padding-top:10px;
	position:relative;
} 
.company-logo{
	max-height:77px;
}
.company-logo img{
	margin:0 auto;
	max-width:300px;
	max-height:74px;
}
.company-logo p{ 
margin:30px auto; 
max-width:300px; 
max-height:74px; 
font-size:20px; 
color:#fff; 
opacity:0.7; 
text-align:center; 
font-weight:bold; 
}
.top .title{
	position:absolute;
	top:93px;
	left:0;
	width:100%;
	text-indent:170px;
}
.top .title h1{
	font-size:20px;
	color:#360a10;
	font-weight:normal;
	display:inline;
	padding-left:50px;
	line-height:28px;
}
.top .title span{
	font-size:12px;
	color:#360a10;
	display:inline;
	line-height:34px;
	opacity:0.5;
}
.top .instruction{
	position:absolute;
	top:128px;
	left:0;
	width:100%;
}
.top .instruction p {
	position:absolute;
	color:#fff;
	font-size:11px;
	opacity:0.7;
	left:50%;
	margin-left:-95px;
}
.game-list{
	margin:0 auto;
	width:100%;
	background:#fff;
	min-height:100px;
}
.game-list li{
	padding:15px 20px 10px 20px;
	height:55px;
	border-bottom:solid 1px #e6e6e6;
}

.game-list li .game-img{
	width:55px;
	height:55px;
	overflow:hidden;
	float:left;
}
.game-list li .game-name{
	margin-left:70px;
	margin-right:70px;
}
.game_ico1 {
	background:url(../OldImg/icon.png) no-repeat 0 0;
}
.game_ico2 {
	background:url(../OldImg/icon.png) no-repeat 0 -80px;
}
.game_ico3 {
	background:url(../OldImg/icon.png) no-repeat 0 -160px;
}
.game_ico4 {
	background:url(../OldImg/icon.png) no-repeat 0 -240px;
}
.game_ico5 {
	background:url(../OldImg/icon.png) no-repeat 0 -320px;
}
.game-list li .game-name h2{
	color:#4d4d4d;
	font-size:16px;
	line-height:55px;
	text-align:left;
}
.game-list li .game-value{
display:none;
}
.game-list li .enter-game{
	width:21px;
	height:21px;
	margin-top:17px;
	float:right;
	background:url(../OldImg/icon.png) no-repeat -200px 0px;
}
.bottom{
	width:100%;
	height:112px;
	margin:0 auto;
	background:url(../OldImg/body_bg.png) no-repeat center -160px;
	position:relative;
}
.bottom .msg{
	position:absolute;
	top:15px;
	left:20px;
	width:155px;
	height:50px;
}
.bottom .msg img {
	width:50px;
	height:50px;
	float:left;
}
.bottom .msg p {
	margin-left:55px;
	line-height:16px;
	color:#fff;
	text-align:left;
	opacity:0.7;
}
.bottom .tel{
	position:absolute;
	top:15px;
	right:5px;
	width:135px;
	height:44px;
}
.bottom .tel p {
	line-height:16px;
	margin-left:35px;
	color:#fff;
	text-align:left;
	opacity:0.7;
}
.bottom .tel a {
	line-height:16px;
	margin-left:35px;
	color:#fff;
	text-align:left;
	opacity:0.7;
	display:block;
	text-decoration:none;
}
.bottom .tel .tel_ico {
	width:30px;
	height:30px;
	border-radius:15px; 
	-webkit-border-radius:15px; 
	-moz-border-radius:15px;
	opacity:0.5;
	float:left;
	background:#fff url(../OldImg/icon.png) no-repeat -200px -80px;
}
.bottom .collect{
	position:absolute;
	top:53px;
	right:7px;
	width:130px;
	height:23px;
	background:url(../OldImg/icon.png) no-repeat -200px -160px;
}
.bottom .collect p  {
	width:100px;
	float:right;
	height:23px;
	border-radius:3px; 
	-webkit-border-radius:3px; 
	-moz-border-radius:3px;
	background:#26030a;
	color:#c7c155;
	line-height:22px;
	background: linear-gradient(top, #29030a 20%, #755e2e 100%);
	background: -moz-linear-gradient(top, #29030a 20%, #755e2e 100%);
	background: -webkit-linear-gradient(top, #29030a 20%, #755e2e 100%);
}
.bottom .collect span {
	width:98px;
	height:21px;
	margin:1px;
	border-radius:3px; 
	-webkit-border-radius:3px; 
	-moz-border-radius:3px;
	background:#26030a;
	color:#c7c155;
	line-height:22px;
	background:#29030a;
	display:block;
}
.bottom .copy{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	color:#fff;
	font-size:14px;
	line-height:32px;
}