@charset "utf-8";
/* CSS Document */
/*
[目录表]
1- Global
2- 背景、间距、边框
3- 按钮、输入框
4- 旺财-导航
5- 旺财-网上营业厅
6- 旺财-玩游戏赢大奖
7- 旺财-渠道管理
8- 旺财-table
*/
html{color:#4d4d4d;background:#fff}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:12px/1.5em tahoma,arial,\5b8b\4f53;}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
.fn-clear:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn-clear{*zoom:1}
.fn-hide{display:none}
.fn-left,.fn-right{display:inline}
.fn-left{float:left}
.fn-right{float:right}
.align-left {text-align: left;}
.align-right {text-align: right;}
.align-center {text-align:center;}
.clear {clear: both;}
a{color:#0066cc;-webkit-transition: opacity, color .33s ease;-moz-transition: opacity, color .33s ease;	transition: opacity, color .33s ease;}
.a-hide{display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.relative{ position:relative;}
.absolute{ position:absolute;}
/* =0 Reset
--------------------------------------------------------------*/

/* =1 Global
--------------------------------------------------------------*/
/*框架*/
#global-body{ text-align:center;}
#global-common{ margin:0 auto;width:1280px;}
#global-common #global-nav,#global-common #global-main {float:left}
#global-common #global-nav { width:180px; background:#2e3335;}
#global-common #global-nav #nav { width:100%;}
#global-common #global-nav #nav ul {width:100%; height:auto; overflow:hidden; float:left; border-top:solid 1px #3e4548; border-bottom:solid 1px #12181a; background-color:#2e3335;}
#global-common #global-nav #nav ul:hover {background-color:#1e2224;}
#global-common #global-nav #nav ul:hover li {background-position-X:-180px; border-top:solid 1px #1e2224;}
#global-common #global-nav #nav ul:hover li a { color:#fff;}
#global-common #global-nav #nav li { width:100%; height:auto; overflow:hidden; float:left;}
#global-common #global-nav #nav li a {width:100%; height:110px;display:block; text-align:center; line-height:185px; font-size:14px; color:#999;}
#global-common #global-nav #nav li a:hover { color:#fff;}
#global-common #global-nav #nav .hover { background-color:#1e2224;}
#global-common #global-nav #nav .hover li {background-position-X:-180px; border-top:solid 1px #1e2224;}
#global-common #global-nav #nav .hover dl { display:block;}
#global-common #global-nav #nav dl { width:100%;height:auto; overflow:hidden; float:left; display:none;background-color:#1e2224;}
#global-common #global-nav #nav dl dd { width:100%; height:30px;border-bottom:solid 1px #12181a;}
#global-common #global-nav #nav dl dd a { width:100%;height:30px;overflow:hidden; line-height:30px; font-size:14px; color:#fff; text-align:left; text-indent:63px; display:block;}
#global-common #global-nav #nav dl dd:hover {background-color:#12181a;}
#global-common #global-nav #nav .dd-hover { background-color:#12181a; display:block;}

#global-common #global-main {}
#global-common #global-main #global-bg { width:100%; margin-bottom:30px; float:left;}
#global-common #global-main #global-content {}
/*框架*/
/*字体*/
h1{color:#fe5502;font: bold 24px/2em "microsoft yahei";}
h2{color:#fe5502;font: normal 24px/2em "microsoft yahei"; text-align:left; padding-top:10px;}
h3{color:#666;font: normal 18px/2em "microsoft yahei";}
h4{color:#fe5502;font: normal 18px/2em "microsoft yahei"; text-align:left}
.font-16-fe {color:#fe4902;font-size:16px;}
.font-24-fe {color:#fe4902;font-size:24px; font-family:"microsoft yahei"; line-height:1.5em;}
.font-14-fe {color:#fe4902;font-size:14px; line-height:1.5em;}
.font-18-fe {color:#fe4902;font-size:18px; font-family:"microsoft yahei";}
/*字体*/
/*---------切换标签---------*/
#global-libs { text-align:left; margin-top:-32px; float:left; overflow:hidden; width:100%;}
#global-libs p { float:left}
#global-libs-content {}
#global-libs-content .hide { display:none;}
#global-libs-content .hover { display:block;}
/*---------分页---------*/
.page { padding-top:10px;}
.page a { display:block;font:normal 13px/30px tahoma,arial,\5b8b\4f53;float:left;}
.page p { display:block;font:normal 13px/30px tahoma,arial,\5b8b\4f53;float:left; margin:0 5px;}
/*---------面包屑---------*/
#global-bread { width:100%; text-align:left; padding-bottom:20px;}
#global-bread p { display:block; border-bottom:solid 1px #d1d1d1;font:normal 13px/40px tahoma,arial,\5b8b\4f53; color:#666;}
#global-bread p span{ color:#999;}
/*---------全局修改框---------*/
#global_change { width:100%; height:100%;background: url(../Img/change_bg.png) repeat 0 0; position:absolute; left:0; top:0; z-index:99999; display:none; z-index:1000;}
#global_change_con { width:100%; position: relative; top:0; left:0; text-align:center;z-index:1001;}
#global_change_con .global_change_close { width:20px; height:20px;float:right; margin:-10px -10px 0 0; cursor:pointer;background:url(../Img/change_close.png) no-repeat 0 0;z-index:1002;}
/*---------表格/表单---------*/
.global-table {width:100%;border-collapse:collapse;font: normal 14px/2em tahoma,arial,\5b8b\4f53;border:1px solid #e3e2e2;}
.global-table td {padding: 2px 5px;border-collapse:collapse;vertical-align:middle;text-align:center;height:30px;border:solid 1px #c9c9c9;}
.global-table th{height:30px;font-weight:bold;text-align:center;background-color:#939393;border:1px solid #939393;color:#fff;font: normal 14px/2em tahoma,arial,\5b8b\4f53;}
.global-table td a{ color:#009aca; font-size:12px;}
.global-table td span{ color:#999; font-size:12px;}
.global-input1 { width:100%;}
.global-input1 ul { text-align:left; width:100%; float:left; overflow:hidden; margin-top:10px;}
.global-input1 ul li { padding:5px 0; font-size:14px;float:left; overflow:hidden;}
.global-input1 .global-input1-name { width:110px; text-align:right; line-height:30px;}
.global-input1 .global-input1-input { text-align:left; width:600px;}
.global-input1 .global-input1-input input[type=text] {vertical-align:middle;}
.global-input1 ul li p {display:inline-block;*display:inline; line-height:28px;}
.global-input1 ul li p a { font-size:12px;line-height:23px; margin-left:10px;}
.global-input1 ul li input[type=checkbox] { margin-top:0;display:inline-block;}
.global-input2 { width:462px; float:left;}
.global-input2 ul { text-align:left; width:100%; float:left; overflow:hidden; margin-top:10px;}
.global-input2 ul li { padding:5px 0; font-size:14px;float:left; overflow:hidden;}
.global-input2 .global-input2-name { width:160px; text-align:right; line-height:30px;}
.global-input2 .global-input2-input { text-align:left; width:300px;}
.global-input2 .global-input2-input input[type=text] {vertical-align:middle;}
.global-input2 ul li p {display:inline-block;*display:inline; line-height:28px;}
.global-input2 ul li p a { font-size:12px;line-height:23px; margin-left:10px;}
.global-input2 ul li input[type=checkbox] { margin-top:0;display:inline-block;}
.global-input2 ul li label { line-height:32px;}
.global-input2 .global-input2-con { width:298px; height:145px; border:solid 1px #ccc; margin-top:10px;}
.global-input2 .global-input2-con .titile,.global-input2 .global-input2-con .img,.global-input2 .global-input2-con .input,.global-input2 .global-input2-con .del { height:145px; float:left;}
.global-input2 .global-input2-con .titile {width:20px;background:#f3f3f3; line-height:145px; text-align:center;}
.global-input2 .global-input2-con .img {width:86px; padding:0 5px;}
.global-input2 .global-input2-con .upload_div {width:80px; height:80px;background: url(../Img/preview-goods.png) no-repeat 2px 2px; padding:2px; border:solid 1px #ccc; margin-top:10px; position:relative;}
.global-input2 .global-input2-con .upload_div p { line-height:80px; font-size:14px; color:#fff; display:none; text-align:center;background:#000; font-weight:bold;opacity:0.5;filter:alpha(opacity=50);}
.global-input2 .global-input2-con .upload_div:hover p {display:block;}
.global-input2 .global-input2-con .upload_div .upload_file{ width:80px; height:80px; position:absolute; top:0; left:0;opacity:0;filter:alpha(opacity=0);}
.global-input2 .global-input2-con .input {width:162px;}
.global-input2 .global-input2-con .input textarea { height:84px;}
.global-input2 .global-input2-con .del {width:20px;background:#f3f3f3;}
.global-input2 .global-input2-con .del a{ width:14px; height:14px; margin:65px 3px;}
.global-input2 .upload-file { width:230px; height:26px; position:absolute; left:0;opacity:0;filter:alpha(opacity=0); cursor:pointer;}
.global-input2 .global-input2-choose { width:298px; height:205px; border:solid 1px #ccc; margin-top:10px; display:none;}
.global-input2 .global-input2-choose .title,.global-input2 .global-input2-choose .input,.global-input2 .global-input2-choose .del {height:205px; float:left;}
.global-input2 .global-input2-choose .title {width:20px;background:#f3f3f3; text-align:center;}
.global-input2 .global-input2-choose .title p { margin-top:30px; line-height:40px;}
.global-input2 .global-input2-choose .input {width:248px; margin-left:10px;}
.global-input2 .global-input2-choose .input .mul1 {background: url(../Img/preview-del.png) no-repeat 0 -43px; padding-left:20px;}
.global-input2 .global-input2-choose .input .mul2 {background: url(../Img/preview-del.png) no-repeat 0 -73px;padding-left:20px;}
.global-input2 .global-input2-choose .input .mul3 {padding-left:20px;}
.global-input2 .global-input2-choose .del {width:20px;background:#f3f3f3;}
.global-input2 .global-input2-choose .del a{ width:14px; height:14px; margin:85px 3px;}

.global-report {}
/*---------搜索框---------*/
#global-search { padding-bottom:10px;}
#global-search p { width:auto; padding:2px 3px;display:inline-block; float:left; line-height:26px; font-size:14px; float:left;}
#global-search a { float:right;}
/*------------------------- =1 结束  -----------------------*/

/* =2 旺财-背景、间距、边框
--------------------------------------------------------------*/
.bgf3f3f3 { background:#f3f3f3; padding:20px 0;}
.c_bd_r_e4 {  border-right:solid 1px #e4e4e4;}
.c_bd_t_d2 {  border-top:solid 1px #d2d2d2;}
.c_bd_b_d2 {  border-bottom:solid 1px #d2d2d2;}
.c_bd_d1 {  border:solid 1px #d1d1d1;}
.c_bd_b_fe {  border-bottom:solid 3px #fe4902;}
.d_bg_b_dd {border-top: 1px dashed #DDDDDD; padding-top:10px; margin-top:10px;}
.mt40 { margin-top:40px;}
.mt10 { margin-top:10px;}
.mt20 { margin-top:20px;}
.mt3 { margin-top:3px;}
.mt5 { margin-top:5px;}
.pt20 { padding-top:20px;}
.ml10 { margin-left:10px;}
.ml20 { margin-left:20px;}
.ml5 { margin-left:5px;}
.top38 { top:38px;}
.top8 { top:8px;}
/*------------------------- =2 结束  --------------------------*/

/* =3 旺财-按钮、输入框
--------------------------------------------------------------*/
input[type=button]{ border:none;}
.btn-60,.btn-120,.btn-180,.btn-90,.btn-e4,.btn-e3,.btn-del {cursor: pointer;display:inline-block;text-align: center;text-decoration: none !important;color:#fff;background: url(../Img/button.png) repeat-x; text-indent:0;}
.btn-60 { width:60px;height:25px; font-size:14px; font-weight:bold; line-height:25px; background-position:0 0;}
.btn-60:hover { background-position:0 -40px;}
.btn-90 {width:90px;height:30px;font: bold 14px/32px tahoma,arial,\5b8b\4f53; background-position:0 0;}
.btn-90:hover { background-position:0 -40px;}
.btn-120 {width:120px;height:35px;font: bold 16px/2em tahoma,arial,\5b8b\4f53; background-position:0 -80px;}
.btn-120:hover { background-position:0 -120px;}
.btn-180 {width:180px;height:50px;font: bold 22px/2em "microsoft yahei","黑体"; background-position:0 -170px;}
.btn-180:hover { background-position:0 -230px;}
.btn-e4 {width:90px;height:30px;font: bold 14px/32px tahoma,arial,\5b8b\4f53; background:#e4e4e4; color:#666}
.btn-e3 {width:120px;height:35px;font: bold 16px/2em tahoma,arial,\5b8b\4f53; background-position:0 -290px;color:#999}
.btn-e3:hover { background-position:0 -340px;}
.btn-del {background: url(../Img/preview-del.png) no-repeat 0 0;}
.btn-del:hover {background: url(../Img/preview-del.png) no-repeat 0 -14px;}

.textbox{padding: 4px 3px;width: 138px;height:16px;border: 1px solid #CCCCCC;}
.texttextarea{padding: 4px 3px;width: 138px;height:42px;border: 1px solid #CCCCCC;}
.w380{width:380px;}
.w388{width:388px;}
.w240{width:240px;}
.w248{width:248px;}
.w200{width:200px;}
.w225{width:225px;}
.w300{width:292px;}
.w100{width:100px;}
.w150{width:150px;}
.w140{width:145px;}
.w90{width:90px;}
.w50{width:50px;}
.h126{ height:126px;}
/*------------------------- =3 结束  --------------------------*/

/* =4 旺财-导航
--------------------------------------------------------------*/
#global-common #global-nav #nav .navfirst { border:none;}
#global-common #global-nav #nav .navhead,#global-common #global-nav #nav .navhead li,#global-common #global-nav #nav .navhead li:hover { border:none;}
#global-common #global-nav #nav .hover a,#global-common #global-nav #nav .navfirst a { color:#fff;}
.navli1 {background:url(../Img/nav.png) no-repeat 0 0;}
.navli2 {background:url(../Img/nav.png) no-repeat 0 -115px;}
.navli3 {background:url(../Img/nav.png) no-repeat 0 -230px;}
.navli4 {background:url(../Img/nav.png) no-repeat 0 -345px;}
.navli5 {background:url(../Img/nav.png) no-repeat 0 -460px;}
.navdd1 {background:url(../Img/nav.png) no-repeat -360px 0px;}
.navdd2 {background:url(../Img/nav.png) no-repeat -360px -30px;}
.navdd3 {background:url(../Img/nav.png) no-repeat -360px 0px;}
.navdd4 {background:url(../Img/nav.png) no-repeat -360px -30px;}

.navli1:hover,.navli2:hover,.navli3:hover,.navli4:hover,.navli5:hover {background-position-X:-180px;}
/*------------------------- =4 结束  --------------------------*/

/* =5 旺财-网上营业厅
--------------------------------------------------------------*/
#my-account { width:100%;}
#my-account li { width:32%; display:inline-block; padding:10px 0; float:left;}
#my-account li p { font: 14px/2.5em tahoma,arial,\5b8b\4f53; text-align:left; padding-left:40px;}
#my-account li span a { font-size:12px; margin-left:10px; color:#9c9c9c;}
.index-libs p { display:inline-block; padding:0 20px; line-height:30px; background:#5f5f5f; color:#fff; cursor:pointer; border:solid 1px #5f5f5f; margin-left:5px; font-size:14px;}
.index-libs .hover { background:#fff; color:#5f5f5f; border:solid 1px #d2d2d2; border-bottom: solid 1px #fff;}
.index-libs p:hover { text-decoration:underline;}
#global-libs-content { padding-top:20px;}
#global-libs-content .ui-banner {width:100%;height:450px;background: url(../Img/banner.jpg) no-repeat left top;position:relative;}
#global-libs-content .ui-banner .banner-btn { position:absolute;top:335px;left:425px;}
#global-libs-content .ui-banner .ui-banner-tip{position:absolute;top:386px;left:144px;}
#global-libs-content .ui-center {width:100%;}
#global-libs-content .ui-device {width:100%;}
.ui-banner-case { margin-bottom:30px;}
.ui-banner-case li { width:33%; display:inline-block; float:left; text-align:left; padding-bottom:20px; position:relative;}
.ui-banner-case li img { width:220px; height:110px;}
.ui-banner-case li a { width:100%; text-align:left;color:#555;font: normal 16px/2em "microsoft yahei","黑体"; display:block;}
.ui-banner-case li p { width:100%; text-align:left;color:#555;}
.ui-banner-case li span { width:220px; height:110px; position:absolute; top:0; left:0; z-index:1; background: url(../Img/case.png) no-repeat 0 0; border:solid 1px #eee;}

.ui-service-content {}
.ui-service-content li { width:50%; height:140px; float:left;}
.ui-service-content .service-price {width:110px; height:100%; overflow:hidden; float:left;font: normal 18px/230px "microsoft yahei","黑体";color:#fe5502;}
.service-pic1 {background: url(../Img/icon.png) no-repeat 10px 0;}
.service-pic2 {background: url(../Img/icon.png) no-repeat 10px -150px;}
.service-pic3 {background: url(../Img/icon.png) no-repeat 10px -300px;}
.service-pic4 {background: url(../Img/icon.png) no-repeat 10px -450px;}
.service-pic5 {background: url(../Img/icon.png) no-repeat 10px -600px;}
.service-pic6 {background: url(../Img/icon.png) no-repeat 10px -750px;}
.service-pic7 {background: url(../Img/icon.png) no-repeat 10px -900px;}
.service-pic8 {background: url(../Img/icon.png) no-repeat 10px -1050px;}
.service-pic1_l {background: url(../Img/icon.png) no-repeat -190px 0;}
.service-pic2_l {background: url(../Img/icon.png) no-repeat -190px -150px;}
.service-pic3_l {background: url(../Img/icon.png) no-repeat -190px -300px;}
.service-pic4_l {background: url(../Img/icon.png) no-repeat -190px -450px;}
.service-pic5_l {background: url(../Img/icon.png) no-repeat -190px -600px;}
.service-pic6_l {background: url(../Img/icon.png) no-repeat -190px -750px;}
.service-pic7_l {background: url(../Img/icon.png) no-repeat -190px -900px;}
.service-pic8_l {background: url(../Img/icon.png) no-repeat -190px -1050px;}
.ui-service-content .service-title {width:200px; height:100%; float:left; text-align:left; margin-left:10px;}
.ui-service-content .service-title p { color:#a2a2a2;}

.ui-service-x {}
.ui-service-x .ui-service-x-ico { width:120px; height:150px; float:left; margin-top:30px;}
.ui-service-x .ui-service-x-con { width:650px; height:auto; overflow:hidden; float:left; float:left; line-height:30px; text-align:left;}
.ui-service-x .ui-service-x-con p { text-align:left; font-size:14px;}

.ui-center-account {}
.ui-center-account p {font: normal 18px/30px "microsoft yahei";color:#606060; margin-left:50px; margin-right:20px;}
.ui-center-account div { margin-right:50px;}
.ui-center-account span {font: normal 24px/30px "microsoft yahei";color:#fe5502;}
.ui-center-directions { width:200x; height:auto; overflow:hidden; margin-top:-30px; text-align:right; float:right;}
.ui-center-directions1,.ui-center-directions2 { width:70px; height:30px;font-size:14px;line-height:30px; display:inline-block;*display:inline; text-align:left; text-indent:40px;}
.ui-center-directions1 { background: url(../Img/true.jpg) no-repeat 0 0;}
.ui-center-directions2 { background: url(../Img/false.jpg) no-repeat 0 0;}

.pop-up{width:100%;float:left;position:relative;margin:20px 0px 20px 0px;background-color:#f3f3f3; text-align:left;}
.pop-up h3{font:bold 16px/2em "microsoft yahei","黑体";}
.pop-up dl{padding: 25px 0px 20px 150px;}
.pop-up .pop-img{position:absolute;top:50px;left:50px;}
.pop-up .pop-hint{line-height:30px;color:#787575;}

.order_view_change { width:500px; border:solid 2px #606060; background:#fff; margin:0 auto; padding:20px;}

.product-choose {width:100%;}
.product-choose ul{ text-align:left; margin-top:20px; border-bottom:dashed 1px #f3f3f3; padding-bottom:20px;}
.product-choose ul li {display:inline-block; font-size:14px;}
.product-choose .package-price {width:160px;height:100px;  text-align:left; padding:20px 0 20px 20px; background:#fff; float:left;}
.product-choose .package-price .radio-btn { width:20px; height:100px; float:left; padding-top:12px;}
.product-choose .package-price p { width:140px; float:right;}
.product-choose .package-service { width:460px;height:100px;text-align:center; background:#f3f3f3 url(../Img/hardware.png) no-repeat 20px center; padding:20px 0 20px 80px; float:right;}
.product-choose .package-service table { width:100%; height:100px;table-layout:fixed;word-wrap:break-word;word-break:break-all;border-collapse: collapse; font-size:12px;}
.product-choose .package-service .package-p { width:120px; text-align:center;}
.product-choose .package-service .package-j { width:20px; text-align:center;}
.product-choose .package-service .package-span { width:180px; text-align:left; padding-left:20px; padding-right:10px;}
.product-choose .package-service-choose {width:100%;height:20px;text-align:left; padding-left:20px; float:right; text-indent:180px; padding-top:5px; font-size:12px;}
.product-choose .package-update { width:100%; text-align:center;} 

.account-lib p { display:inline-block; padding:5px 20px; line-height:30px; color:#999; cursor:pointer;margin-left:5px; font-size:24px; font-family:"microsoft yahei";}
.account-lib .hover{ color:#fe4902;}
.account-con { padding:5px 0 10px 0; border-bottom:dashed 1px #999; padding-left:20px;}
.account-con dt { width:100%; text-align:left;}
.account-con dt p { width:auto; display:inline-block;*display:inline;color:#fe5502;font: normal 18px/2em "microsoft yahei";}
.account-con dd {width:100%; text-align:left;}
.account-con dd table { width:auto;}
.account-con dd table td { width:auto; padding:5px 0 5px 0;}

.activityread_iphone { width:300px; float:right; height:631px; background:url(../Img/iphone_bg.png) no-repeat 0 0;}
.activityread_iphone .activityread_iphone_con {width:250px; height:433px; overflow:hidden; margin:106px 0 0 26px;}
.activityread_iphone .preview-body { width:250px; height:433px;}
.activityread_iphone .preview-body .preview-title { height:113px;font-size:14px; font-weight:bold; color:#fff; line-height:28px; background:url(../Img/iphone_bg.png) no-repeat 0 -640px;}
.activityread_iphone .preview-body .preview-content {width:224px; margin:0 7px 0 7px;padding-left:5px;padding-right:5px;background:#f8f9fa;border-left:1px solid #c5c8cc;border-right:1px solid #c5c8cc;}
.activityread_iphone .preview-body .preview-content-title { width:200px;margin:0 12px;color:#333333;font-size:14px;text-align:center;padding-bottom:5px;border-bottom:1px solid #eae9ea;}
.activityread_iphone .preview-body .preview-bottom { width:236px;height:10px;margin:0 7px 0 7px;background:url(../Img/preview-bottom.png) no-repeat;}
.activityread_iphone .preview-body .preview-more {width:224px;height:21px; margin:0 7px 0 7px;padding-left:5px;padding-right:5px;background:#f8f9fa;border:1px solid #c5c8cc;}
.activityread_iphone .preview-body .preview-foot { width:100%; height:20px; background:#000; color:#fff; margin-top:5px;}
.activityread_iphone .preview-body .preview-content span { line-height:23px; color:#bbb}
.activityread_iphone .preview-body .preview-content .preview-content-con1 {line-height:23px; padding-left:7px; text-align:left;table-layout:fixed; word-break: break-all;}
.activityread_iphone .preview-body .preview-content .title { text-align:left; font-size:14px; font-weight:bold;}
.activityread_iphone .zdy_show {text-align:left; padding-bottom:10px;}
.activityread_iphone .zdy_show li{ text-align:left; margin-top:5px; float:left;}
.activityread_iphone .zdy_show li p { width:70px; text-align:right; display:block; float:left;}
.activityread_iphone .zdy_show li input { width:130px; text-align:right; float:left;}
.activityread_iphone .cdy_show {padding-bottom:5px; padding-left:7px;}
.activityread_iphone .cdy_show dt { text-align:left;}
.activityread_iphone .cdy_show dd { text-align:left; text-indent:20px;}
/*------------------------ =5 结束  --------------------------*/

/* =6 旺财-玩游戏赢大奖
--------------------------------------------------------------*/
#ui-game { width:100%;}
#ui-game li { width:40%; height:75px; display:inline-block; padding:10px 0; float:left; margin-left:20px;}
#ui-game li p { font: 14px/2.5em tahoma,arial,\5b8b\4f53; text-align:left; float:left; margin-left:80px;}
#ui-game li a { float:left; margin-left:80px;}
#ui-game .ui-game-bg { width:400px; height:100%; float:left; margin-left:10px;}
#ui-game .ui-game-bg1 {background: url(../Img/icon.png) no-repeat 10px -1200px;}
#ui-game .ui-game-bg2 {background: url(../Img/icon.png) no-repeat 10px -1350px;}
.game-download { margin-top:-60px; float:right;}
.success-img { width:120px; height:100px; float:left; margin-left:50px;}
.success-img img { margin:5px;}
.success-download { float:left; height:100px;}
.success {width:520px; height:100px;text-indent:100px; background:url(../Img/success.jpg) no-repeat 0 center; line-height:80px; float:left; text-align:left;font: bold 24px/100px "microsoft yahei";color:#fe5502; margin-left:30px;}
.success-download a { margin-top:35px;}
.game-channel { margin-bottom:20px; padding:20px 0 0 20px;}
.game-channel li{ width:20%; height:30px; float:left; text-align:left;}
.game-channel li span{ font-size:14px;}
/*------------------------- =6 结束  --------------------------*/

/* =7 旺财-渠道管理
--------------------------------------------------------------*/
.canal_checkbox_p {width:auto; height:25px; line-height:25px;float:left; margin-right:5px; border:solid 2px #b0b0b0; padding:0 5px; cursor:pointer;}
#canal-offline,#canal-online { display:none;}
/*------------------------- =7 结束  --------------------------*/

/* =8 旺财-table
--------------------------------------------------------------*/
.view-table {width:100%;border-collapse:collapse;margin:0px auto 10px;font: normal 14px/2em tahoma,arial,\5b8b\4f53;border:1px solid #e3e2e2;}
.view-table td {padding: 2px 10px;border-collapse:collapse;vertical-align:middle;text-align:center;height:50px;border-right:1px solid #e3e2e2;}
.view-table th{height:26px;font-weight:bold;text-align:center;background-color:#f8f8f8;border-bottom:1px solid #e3e2e2;border-right:1px solid #e3e2e2;}
/*选择购买数量*/
.wrap-input {margin:0 auto;padding: 0 18px;position: relative;width: 36px;}
.wrap-input a {	display: block;overflow: hidden;position: absolute;top:3px;width: 15px;height: 15px;line-height: 50px;text-decoration: none;white-space: nowrap;}
.btn-reduce {background:url(../Img/symbol.png) no-repeat 0 0;left: 0; cursor:pointer;}
.btn-reduce:hover {background-position:0 -16px;}
.btn-add {background:url(../Img/symbol.png) no-repeat right 0;right: 0; cursor:pointer;}
.btn-add:hover {background-position:right -16px;}
.wrap-input .text {padding: 2px;width: 30px;height: 16px;line-height:16px;text-align: center;border: 1px solid #CCCCCC;}
/*------------------------- =8 结束  --------------------------*/
