@charset "utf-8";
/* CSS Main */

html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

h1 { line-height:40px; text-align:left; font-size:16px; padding-left:15px;}
a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
.mt20 { margin-top:20px;}

* {-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-appearance:none;}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:auto; margin:0 auto; max-width:640px; min-height:100%;background:#fff; position: relative;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#header { height:30px; overflow:hidden; width:100%; text-align:center; padding:7px 0; background:#ea5518;}
#main { height:auto!important; height:100%;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:5px 0 5px 0;text-align:center;color:#5c5c5c;background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%); font-size:12px; line-height:20px;}
#footer p a{ color:#5c5c5c;}
.shopBoxView { text-align:left;}
/*----------------------------------  Global结束  ------------------------------------*/

#wrapper img { width: 100%; display: block;}
#wrapper.bgEe6521 { padding-bottom: 20px; background: #ee6521;}
.bgEe6521 .element_1 { position: absolute; top: 5%; left: 0; z-index: 2;}
.bgEe6521 .element_2 { position: absolute; top: 7%; left: 0; z-index: 3;}
.bgEe6521 .element_4 { position: absolute; top: 40%; left: 0; z-index: 3;}
.bgEe6521 .element_5 { position: absolute; top: 45%; left: 0; z-index: 3;}
.bgEe6521 .element_6 { position: absolute; top: 49%; left: 0; z-index: 2;}
.bgEe6521 .element_7 { position: absolute; top: 27%; left: 0; z-index: 2;}
.bgEe6521 .element_8 { position: absolute; top: 53%; left: 0; z-index: 2;}
.bgEe6521 .element_9 { position: absolute; top: 60%; left: 0; z-index: 1;}
.bgEe6521 .element_10 { position: absolute; top: 43%; left: 0; z-index: 3;}
.bgEe6521 .element_11 { position: absolute; top: 53%; left: 0; z-index: 2;}
.bgEe6521 .element_12 { position: absolute; top: 61.5%; left: 0; z-index: 2;}
.bgEe6521 .element_13 { position: absolute; top: 39%; left: 0; z-index: 2;}
.bgEe6521 .element_14 { position: absolute; top: 56%; left: 0; z-index: 3;}
.bgEe6521 .element_15 { position: absolute; top: 59%; left: 0; z-index: 2;}
.bgEe6521 .bg { padding-top: 80px;}
.bgEe6521 .footer { margin: 0 30px;}
.bgEe6521 .footer a { display: block; height: 40px; line-height: 40px; margin: 20px auto; text-align: center; color: #b6430a; font-size: 17px; background: #fffd79; border-radius: 3px; box-shadow: 0 3px 1px #a3400c;}
.bgEe6521 .footer p { color: #fec275; font-size: 13px;}

#wrapper.bgEfeff4 { padding-bottom: 15px; background: #efeff4;}
#wrapper .clEfeff4 { color: #ea5404;}
.collection .title { padding: 12px 15px; line-height: 50px; background: #efeff4; border-bottom: 1px #dfdfdd solid;}
.collection .title h2 { height: 24px; line-height: 24px; vertical-align: middle; text-align: left; border-left: 4px #ea5404 solid; text-indent: 10px; font-size: 16px; color: #878787;}
.collection ul { padding: 10px 0; background: #ffffff;}
.collection li { margin: 0 15px; position: relative; font-size: 15px;}
.collection li label { display: block; width: 100%; padding: 10px 0 5px 0; text-align: left;}
.collection li p { }
.collection li input,.collection li select { width: 99%; font-size: 15px; height: 40px; line-height: 40px; border: 1px #dfdfdd solid; border-radius: 3px;}

.step .box { text-align: left; background: #ffffff;}
.step .box .title { padding-top: 20px; background: #efeff4; border-bottom: 1px #dfdfdd solid;}
.step .box .title h2 { display: inline-block; line-height: 28px; padding: 0 10px 0 20px; background: #ea5404; color: #ffffff; font-size: 16px; position: relative;}
.step .box .title h2:after { content: ""; display: block; border-top: 28px #efeff4 solid; border-left: 14px #ea5404 solid; position: absolute; top: 0; right: -14px;}
.step .box ul { border-bottom: 1px #dfdfdd solid;}
.step .box ul li { margin: 0 20px; padding: 10px 0; line-height: 20px; border-bottom: 1px #dfdfdd solid;}
.step .box ul li:last-child { border: none;}
.step .box ul li p.fn span:first-child { float: left;}
.step .box ul li p.fn span:last-child { float: right; color: #999999;}
.step .box ul li p.fn span em { margin-right: 5px; color: #ea5404;}
.step .box ul li p:last-child { max-width: 80%; color: #999999;}

.step .gold { width: 93px; height: 102px; margin: 80px auto; position: relative;}
.step .gold div { position: absolute; width: auto; padding: 5px; border: 1px #e98956 solid; background: #fff7f3; border-radius: 3px; white-space: nowrap;}
.step .gold div:after { content: ""; display: block; width: 24px; height: 27px; background: url(../Image/pinganRs/Item/element_17.png) no-repeat; background-size: 100%; position: absolute; top: 29px; z-index: 2;}
.step .gold .tab_1 { top: -58px; left: 50%; margin-left: -150px;}
.step .gold .tab_2 { top: -58px; left: 50%; margin-left: 0px;}
.step .gold .tab_3 { top: 120px; left: 50%; margin-left: -140px;}
.step .gold .tab_4 { top: 120px; left: 50%; margin-left: 20px;}
.step .gold .tab_5 { top: 20px; left: 50%; margin-left: 40px;}
.step .gold .tab_1:after { right: 10px;}
.step .gold .tab_2:after { -webkit-transform:scaleX(-1); left: 10px;}
.step .gold .tab_3:after { -webkit-transform:scaleY(-1); top: -27px; right: 40px;}
.step .gold .tab_4:after { -webkit-transform:scale(-1); top: -27px; left: 10px;}
.step .gold .tab_5:after { -webkit-transform:scaleX(-1); left: 10px;}
.step .tab_6 { margin: 15px; padding-bottom: 10px; text-align: justify;}

.box .result { padding: 15px; line-height: 20px; text-align: justify;}
.box .help { padding: 15px; margin: 15px 0; line-height: 24px;}
.box .help h2 { color: #5e4879;}
.box .help ul { border: none;}
.box .help ul li { margin: 0; text-indent: 10px; border: none; padding: 0;}

.Gform ul.btn-ul { margin:0; padding:20px 0; background: #efeff4;}
.Gform ul li.btn-li { width: 94%; text-align:center; margin: 15px auto;}
.Gform ul li .btn-up { display:block; width: 100%; height:50px; border: 1px #ea5404 solid; background:#ea5404; color:#fff; line-height:50px; font-size:16px; font-weight:bold; text-align:center; border-radius:5px;}
.Gform ul li .btn-cancel { display:block; height:50px; border: 1px #cccccc solid; background:#f3f3f3; color:#7a7a7a; line-height:50px; font-size:16px; font-weight:bold; text-align:center; border-radius:5px;}
.formError { position:absolute; top:40px !important; left:auto !important; right:5px !important; margin:0 !important; z-index:100;-webkit-animation:erroMsg 0.3s linear;-webkit-animation-fill-mode:forwards;}
.formError.passcode { right:100px;}
.formError:before { position:absolute; top:-4px; right:10px; width:8px; height:8px; border: 1px #e39f9f solid; border-width: 1px 0 0 1px; background:#fff8f8; content: ''; -webkit-transform: rotate(45deg); z-index: 1;}
.formError .formErrorContent { width: auto; background: #fff8f8; position: relative; color: #ec3636; font-size: 12px; border: 1px solid #e39f9f; padding: 2px 10px 2px 10px; line-height: 20px; border-radius: 3px; box-shadow: 0 2px 2px rgba(0,0,0,.1); white-space: nowrap;}
@-webkit-keyframes erroMsg{
	0%{-webkit-transform:translate(0,10px);opacity:0}
	100%{-webkit-transform:translate(0,0);opacity:1}
}

.msgPop { position:fixed; z-index:1000; top:0; width:100%; height:100%; min-height:100%; margin:0 auto;display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;}
.msgPop.bg { background:rgba(0,0,0,0.7);}
.msgPop .msgBg { width:95%; height:auto; margin:0 auto; margin-top:50px; background:#fff; border-radius:5px;}
.msgPop .msgBg .msgTitle { position:relative; height:30px; color:#fff; font-size:16px; line-height:30px; font-weight:bold;border-radius:4px 4px 0 0; background:#3fa2ff;}
.msgPop .msgBg .msgTitle .close-msgPop { position:absolute; right:-5px; top:-5px; width:40px; height:40px;}
.msgPop .msgBg .msgTitle i { width:28px; height:28px; background:#3992e5; position:absolute; right:6px; top:6px; box-shadow:inset 0 0 0 1px #3992e5,0 0 0 1px #3fa2ff;border-radius:0 4px 0 0;}
.msgPop .msgBg .msgTitle i em { display:block; width: 100%; line-height:28px; transform:rotate(45deg); text-align:center; color:#fff; font-size:24px; font-weight:bold; -webkit-transform:rotate(45deg);}
.msgPop .msgBg .msgCon { padding-bottom:10px; height:auto; overflow:hidden;border-radius:0 0 4px 4px;}
.msgPop .msgBg .msgCon { font-size:18px; line-height:30px;}

