@charset "utf-8";

/*浮动按钮*/
.subnavbg {
    position: fixed;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    top: 0;
    left: 0;
    display: none;
}

.subnav {
    position: fixed;
    bottom: 5px;
    left: 15px;
    z-index: 1003;
}

.subnav-con {
    line-height: 33px;
    font-weight: bold;
    font-size: 28px;
    font-style: normal;
    font-family: "Courier New", Courier, monospace;
    color: #fff;
    cursor: pointer;
    position: absolute;
}

.subnav, .subnav-con, .subnav-ul li, .subnav-ul li i, .subnav-share, .subnav-share li, .subnav-share li i {
    width: 33px;
    height: 33px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}

.subnav-con {
    background: #ffb901;
}

.subnav-con {
    z-index: 10;
}

.subnav-ul {
    z-index: 9;
}

.subnav-ul li {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: scale(0, 0);
    opacity: 0;
}

.subnav-ul li i {
    display: block;
    text-indent: -999px;
    cursor: pointer;
    position: absolute;
}

.subnav.subnavanimate .subnav-con {
    -webkit-animation: animate-subnavcon 0.1s ease-out forwards;
}

.subnav.subnavanimate .subnav-ul .subnav-li1 {
    -webkit-animation: animate-subnavli1 0.3s ease-in-out forwards;
}

.subnav.subnavanimate .subnav-ul .subnav-li2 {
    -webkit-animation: animate-subnavli2 0.3s ease-in-out forwards;
}

.subnav.subnavanimateover .subnav-con {
    -webkit-animation: animateover-subnavcon 0.1s ease-out forwards;
}

.subnav.subnavanimateover .subnav-ul .subnav-li1 {
    -webkit-animation: animateover-subnavli1 0.3s ease-in-out forwards;
}

.subnav.subnavanimateover .subnav-ul .subnav-li2 {
    -webkit-animation: animateover-subnavli2 0.3s ease-in-out forwards;
}

.icon-navtel {
    background: #ffb901 url(../Image/icon-subnav.png) no-repeat 1px 2px;
    background-size: 90%;
}

.icon-navshare {
    background: #ffb901 url(../Image/icon-subnav.png) no-repeat 1px -26px;
    background-size: 90%;
}

.subnav-share {
    position: absolute;
    top: -10px;
    left: 50px;
    z-index: 8;
}

.subnav-share li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.subnav-share li i {
    display: block;
    text-indent: -999px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

.subnav-share.shareanimate li.subnav-share1 {
    -webkit-animation: animate-shareli1 0.1s ease-in-out forwards;
}

.subnav-share.shareanimate li.subnav-share2 {
    -webkit-animation: animate-shareli2 0.2s ease-in-out forwards;
}

.subnav-share.shareanimate li.subnav-share3 {
    -webkit-animation: animate-shareli3 0.3s ease-in-out forwards;
}

.subnav-share.shareanimate li.subnav-share4 {
    -webkit-animation: animate-shareli4 0.4s ease-in-out forwards;
}

.subnav-share.shareanimateover li.subnav-share1 {
    -webkit-animation: animateover-shareli1 0.1s ease-in-out forwards;
}

.subnav-share.shareanimateover li.subnav-share2 {
    -webkit-animation: animateover-shareli2 0.2s ease-in-out forwards;
}

.subnav-share.shareanimateover li.subnav-share3 {
    -webkit-animation: animateover-shareli3 0.3s ease-in-out forwards;
}

.subnav-share.shareanimateover li.subnav-share4 {
    -webkit-animation: animateover-shareli4 0.4s ease-in-out forwards;
}

.icon-sina {
    background: #ffb901 url(../Image/sinaweibo.png) no-repeat center center;
    background-size: 100%;
}

.icon-tencent {
    background: #ffb901 url(../Image/tencentweibo.png) no-repeat center center;
    background-size: 100%;
}

.icon-qzeon {
    background: #ffb901 url(../Image/qzone.png) no-repeat center 0;
    background-size: 100%;
}

.icon-renren {
    background: #ffb901 url(../Image/renren.png) no-repeat center center;
    background-size: 100%;
}

@-webkit-keyframes animate-subnavcon {
    0% {
        -webkit-transform: rotateZ(0deg);
        background: #ffb901;
    }
    100% {
        -webkit-transform: rotateZ(45deg);
        background: #cccccc;
    }
}

@-webkit-keyframes animate-subnavli1 {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0;
        top: 0px;
        left: 0px;
    }
    80% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
        top: -55px;
        left: 20px;
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
        top: -50px;
        left: 15px;
    }
}

@-webkit-keyframes animate-subnavli2 {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0;
        top: 0px;
        left: 0px;
    }
    80% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
        top: -15px;
        left: 55px;
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
        top: -10px;
        left: 50px;
    }
}

@-webkit-keyframes animateover-subnavcon {
    0% {
        -webkit-transform: rotateZ(45deg);
        background: #cccccc;
    }
    100% {
        -webkit-transform: rotateZ(0deg);
        background: #ffb901;
    }
}

@-webkit-keyframes animateover-subnavli1 {
    0% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
        top: -50px;
        left: 15px;
    }
    20% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
        top: -55px;
        left: 20px;
    }
    100% {
        -webkit-transform: scale(0, 0);
        opacity: 0;
        top: 0px;
        left: 0px;
    }
}

@-webkit-keyframes animateover-subnavli2 {
    0% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
        top: -10px;
        left: 50px;
    }
    20% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
        top: -15px;
        left: 55px;
    }
    100% {
        -webkit-transform: scale(0, 0);
        opacity: 0;
        top: 0px;
        left: 0px;
    }
}

@-webkit-keyframes animate-shareli1 {
    0% {
        left: 0;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes animate-shareli2 {
    0% {
        left: 0;
        opacity: 0;
    }
    100% {
        left: 55px;
        opacity: 1;
    }
}

@-webkit-keyframes animate-shareli3 {
    0% {
        left: 0;
        opacity: 0;
    }
    100% {
        left: 110px;
        opacity: 1;
    }
}

@-webkit-keyframes animate-shareli4 {
    0% {
        left: 0;
        opacity: 0;
    }
    100% {
        left: 165px;
        opacity: 1;
    }
}

@-webkit-keyframes animateover-shareli1 {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: 0;
        opacity: 0;
    }
}

@-webkit-keyframes animateover-shareli2 {
    0% {
        left: 55px;
        opacity: 1;
    }
    100% {
        left: 0;
        opacity: 0;
    }
}

@-webkit-keyframes animateover-shareli3 {
    0% {
        left: 110px;
        opacity: 1;
    }
    100% {
        left: 0;
        opacity: 0;
    }
}

@-webkit-keyframes animateover-shareli4 {
    0% {
        left: 165px;
        opacity: 1;
    }
    100% {
        left: 0px;
        opacity: 0;
    }
}

.a-hide {
    display: block;
    height: 100%;
    text-indent: -999px;
    overflow: hidden;
}

/*浮动按钮*/