@charset "utf-8";
/* CSS Main */

html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:auto; margin:0 auto; max-width:640px; background:#f0efed;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#header { height:30px; overflow:hidden;z-index:1; position:relative;text-align:center; padding:7px; border-bottom:solid 1px #ac0910; background:#D01F26;}
#main { height:auto!important; height:100%; position:relative;}
#footer { text-align:center; margin-top:10px; padding-bottom:5px; font-size:10px;}
/*----------------------------------  Global结束  ------------------------------------*/

#phone { position: absolute; z-index:3; left:0; padding-bottom:70px; width:342px;height:auto; overflow-x:hidden; border: solid 1px #ddd; border-radius: 15px;}
.shopBoxView_iphone { position:absolute; top:20px; right:0;}
#phone:after { position:absolute; bottom:15px; left:50%; margin-left:-20px; width:40px; height:40px; border-radius:50%; border:solid 2px #ddd; background:#fff; content:"";}
#phone .phonetop { width:100%; height:70px; overflow:hidden; position:relative;}
#phone .phonetop:after { position:absolute; left:50%; margin-left:-44px; top:50%; margin-top:-18px; width:80px; height:36px; background:url(../Image/icon-shop2.png) no-repeat -20px -20px; content:"";}
#phone .phonetitle { float:left; margin-left:11px; width:320px; height:64px; overflow:hidden; background:#22292c url(../Image/iphone_bg3.png) no-repeat center 0px; text-align:center; line-height:82px; cursor:pointer;}
#phone .phonetitle span { display:block; margin:0 70px; color:#fff; font-size:18px; text-align:center;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#phoneCon {width:320px; overflow:hidden; margin:0 0 0 10px; float:left;border:solid 1px #ddd; border-top:none; background:#f6f6f6 url(../Image/member/mb_top_bg1.png) no-repeat; background-size:100% auto; padding-top:33px;}
#Mform { float:right; margin:40px 20px 0 0; padding-bottom:20px; width:500px; background:#fbfbfb; border:solid 1px #d6d6d6; border-radius:5px;}
#Mform .GformTitle { padding-left:30px; line-height:40px; font-size:16px; color:#666; border-bottom:solid 1px #d6d6d6;}
#phone .iconHand { position:absolute; z-index:3; bottom:90px; left:50%; margin-left:-24px; width:48px; height:48px; background:url(../Image/poster/icon-hand.png) no-repeat center 0px; opacity:0.7;}
#phone .iconHand { -webkit-animation:iconHand 1.5s infinite ease;}
@-webkit-keyframes iconHand
{
	0%{-webkit-transform:translate(0,0px);}
	100%{-webkit-transform:translate(0,-60px);}
}


.member_logo{ /*width:80px; height:80px;*/ margin:0 auto; display:block; /*border-radius:50%; background:#FFF;*/}
.member_logo img{ /*width:80px; height:80px; border-radius:50%; */width:57px; height:57px;border-radius:3px; border:1px rgba(51,51,51,0.3) solid; padding:1px; background:#FFF; margin-top:80px; margin-left:20px;}

#phoneCon_two {background:#f6f6f6 url(../Image/member/mb_top_bg2.png) no-repeat; background-size:100% auto; width:320px; overflow:hidden; margin:0 0 0 10px; float:left;border:solid 1px #ddd; border-top:none;}
.member_logo2{ width:71px; height:71px; margin-left:20px; margin-top:75px;display:block; border-radius:50%; border:5px rgba(255,255,255,0.3) solid; box-sizing:border-box}
.member_logo2 img{ width:61px; height:61px; border-radius:50%; background:#FFF; }


.member_title{ /*font-size:16px; color:#FFF; line-height:20px; text-align:center; padding:15px 0;*/font-size:16px; color:#000; position:relative; margin-top:-20px; margin-left:100px;}
.member_title2{ /*font-size:16px; color:#FFF; line-height:20px; text-align:center; padding:15px 0;*/font-size:16px; color:#fff; position:relative; margin-top:-20px; margin-left:20px; text-align:left}

.member_hd_name{ /*width:234px; background:#FFF; line-height:48px; display:block; margin:20px auto;*/ background:#f6f6f6; font-size:16px; color:#000; text-align:center; border-top:1px #dadada solid; border-bottom:1px #eeeeee solid; line-height:47px; margin-top:14px;}
.member_hd_name2{ /*width:234px; background:#FFF; line-height:48px; display:block; margin:20px auto;*/ background:#f6f6f6; font-size:16px; color:#000; text-align:center; border-top:1px #dadada solid; border-bottom:1px #eeeeee solid; line-height:47px;}
.m-bind2{position: relative; margin:2.6875%; background-color:#f6f6f6; box-shadow:0 0 2px 2px #eee; padding-bottom:5px}
.m-bind .tip{padding-left:6.25%;margin-bottom:3.75%;margin-top:2%;font-size: 12px;color:#999;line-height: 1.5;text-align: left;}
.m-input{height:50px;padding-left:2%;border-top:1px solid #e5e5e5;border-bottom:0px solid #e5e5e5;background-color: #fff;line-height: 50px;text-align: left;font-size: 14px;}
.m-input:nth-last-of-type(1){border-bottom:1px solid #e5e5e5;}
.m-input .tit{float:left;width:32%;font-size:14px; color:#000; text-align:right; padding-right:10px;}
.m-input .cont{float:left;width: 60%;vertical-align:middle;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.m-input .cont select{ outline:0; background-color:transparent; border:0;}
.m-input .s-line{width:100%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.m-input .s-line span{margin-left: 4%;color: #ff7666;}
.m-input .input{-webkit-appearance:none;width: 100%;height: 40px;font-size:14px;border: none;outline: none;}
.m-btn{display:block;margin:20px auto;width: 87.5%;background-color: #f75a63;color: #fff;font-size: 14px;height: 40px;line-height: 40px;text-align: center;border-radius: 5px;}
.m-input span input[type=radio]{ background:#ccc;-webkit-appearance: radio;}
.m-bind2 input[type=radio]{ position:absolute; left:-9999em;}
.m-bind2 .radios{bbackground-color:transparent; width:15px; height:15px; position: absolute;  top: 3px;  left: 0;  display: block;  outline: 0;  border-width: 0px; background:url(../Image/member/radio.gif) no-repeat; background-position:0 -2px;  border-radius:50%;}
.m-bind2 input[type=radio]:checked+i.radios {  border-color: #000; background-color:#808080; border-width: 0px; background:url(../Image/member/radio.gif) no-repeat; background-position:0 -21px;}


.member_hd_bottom{ background:#eeeeee url(../Image/member/con_btm.png) 20px center no-repeat; background-size:auto 35px; font-size:9px; color:#999999;padding:10px 0; padding-left:60px; }

.m-bind{position: relative;width:100%;background-color:#f6f6f6;}
.m-bind .tip{padding-left:6.25%;margin-bottom:3.75%;margin-top:2%;font-size: 12px;color:#999;line-height: 1.5;text-align: left;}
.m-input{height:50px;padding-left:2%;background-color: #fff;line-height: 50px;text-align: left;font-size: 14px;border-top:1px solid #e5e5e5;border-bottom:0px solid #e5e5e5;}
.m-input:nth-last-of-type(1){border-bottom:1px solid #e5e5e5;}
.m-input .cont{float:left;width:63%;vertical-align:middle;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.m-input .s-line{width:100%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.m-input .s-line span{margin-left: 4%;color: #ff7666;}
.m-input .input{-webkit-appearance:none;width: 100%;height: 40px;font-size:14px;border: none;outline: none;}
.m-btn{display:block;margin:20px auto;width: 87.5%;background-color: #f75a63;color: #fff;font-size: 14px;height: 40px;line-height: 40px;text-align: center;border-radius: 5px;}
.m-input span input[type=radio]{ background:#ccc;-webkit-appearance: radio;}
.m-input select{max-width:70px;}
.required{color: red;}
.member_title2{margin-top:115px}
@media (min-width:375px){
.member_title2{margin:135px 0px 10px 20px;}
.member_logo2{margin-top:98px}
}
@media (min-width:414px){
.member_title2{margin:147px 0px 10px 34px;}
.member_logo2{margin-top:100px}
}
    

/**获取验证码*/
.sOne-getpasscode{ border:1px #eee solid; border-radius:5px; background:#FFF; height:30px; line-height:30px; vertical-align:middle; padding:0 10px; margin-top:10px;  background-image: -moz-linear-gradient(top,#fff 0,#f3f3f3 100%);  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f3f3f3));  background-image: -webkit-linear-gradient(top,#fff 0,#f3f3f3 100%);  background-image: -o-linear-gradient(top,#fff 0,#f3f3f3 100%);  background-image: linear-gradient(to bottom,#fff 0,#f3f3f3 100%); color:#333; text-decoration:none; z-index:999;}
.sOne-getpasscode:hover{background-image: -moz-linear-gradient(top,#fff 0,#eee 100%);  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#eee));  background-image: -webkit-linear-gradient(top,#fff 0,#eee 100%);  background-image: -o-linear-gradient(top,#fff 0,#eee 100%);  background-image: linear-gradient(to bottom,#fff 0,#eee 100%); color:#000; text-decoration:none}

/*奖励信息 start*/
#prizeForm p { font-size:16px; line-height:30px;}
#prizeForm {padding:30px 0;}
.show_prize_content{text-align: center;}
.input_button{ display: block;
    margin: 20px auto;
    width: 87.5%;
    background-color: #f75a63;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;}
/*奖励信息 end*/

/*滑动开关*/
.segmented-control {
  width: 80px;
  box-sizing: border-box;
  position: relative;
  background: white;
  border: 1px solid white;
  border-radius: 30px;
  line-height:30px;
  height:30px;
  margin: 10px 5px 10px 5px;
  box-shadow: 0 0 0 1px #EEE;
  min-width: 100px;
  color: #999999;
  overflow: hidden;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition-duration: 700ms;
  -webkit-transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.segmented-control > input[type='radio'],
.segmented-control > input[type='checkbox'] {
  position: absolute;
  left: -1000px;
}
.segmented-control > input[type='radio']:nth-child(1):checked ~ label:nth-of-type(1):after,
.segmented-control > input[type='checkbox']:nth-child(1):checked ~ label:nth-of-type(1):after,
.segmented-control > input[type='radio']:nth-child(1):checked ~ label:nth-of-type(1):before,
.segmented-control > input[type='checkbox']:nth-child(1):checked ~ label:nth-of-type(1):before {
  opacity: 1;
}
.segmented-control > input[type='radio']:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1):after,
.segmented-control > input[type='checkbox']:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1):after,
.segmented-control > input[type='radio']:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1):before,
.segmented-control > input[type='checkbox']:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1):before,
.segmented-control > input[type='radio']:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1) ~ label:after,
.segmented-control > input[type='checkbox']:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1) ~ label:after,
.segmented-control > input[type='radio']:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1) ~ label:before,
.segmented-control > input[type='checkbox']:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1) ~ label:before {
  left: 0;
}
.segmented-control > input[type='radio']:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2):after,
.segmented-control > input[type='checkbox']:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2):after,
.segmented-control > input[type='radio']:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2):before,
.segmented-control > input[type='checkbox']:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2):before,
.segmented-control > input[type='radio']:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:after,
.segmented-control > input[type='checkbox']:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:after,
.segmented-control > input[type='radio']:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:before,
.segmented-control > input[type='checkbox']:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:before {
  left: 0;
}
.segmented-control > input[type='radio']:nth-child(2):checked ~ label:nth-of-type(2):after,
.segmented-control > input[type='checkbox']:nth-child(2):checked ~ label:nth-of-type(2):after,
.segmented-control > input[type='radio']:nth-child(2):checked ~ label:nth-of-type(2):before,
.segmented-control > input[type='checkbox']:nth-child(2):checked ~ label:nth-of-type(2):before {
  opacity: 1;
}
.segmented-control > input[type='radio']:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2):after,
.segmented-control > input[type='checkbox']:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2):after,
.segmented-control > input[type='radio']:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2):before,
.segmented-control > input[type='checkbox']:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2):before,
.segmented-control > input[type='radio']:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:after,
.segmented-control > input[type='checkbox']:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:after,
.segmented-control > input[type='radio']:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:before,
.segmented-control > input[type='checkbox']:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:before {
  left: 50%;
}
.segmented-control > input[type='radio']:disabled:nth-child(1) ~ label:nth-of-type(1),
.segmented-control > input[type='checkbox']:disabled:nth-child(1) ~ label:nth-of-type(1),
.segmented-control > input[type='radio']:disabled:nth-child(2) ~ label:nth-of-type(2){
  opacity: 0.3;
  cursor: not-allowed;
}
.segmented-control > label {
  display: inline-block;
  text-align: center;
  padding:0 10px;
  line-height:24px;
  font-size:12px;
  cursor: pointer;
  margin-right: -4px;
  vertical-align: text-bottom;
  transition-duration: inherit;
  -webkit-transition-duration: inherit;
  transition-timing-function: inherit;
  -webkit-transition-timing-function: inherit;
}
.segmented-control > label:after {
  position: absolute;
  left: 0;
  top: 0;
  color: #FFF;
  opacity: 0;
  padding: inherit;
  pointer-events: none;
  content: attr(data-value);
  text-align: center;
  z-index: 1000;
  font-style: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: all;
  -webkit-transition-duration: inherit;
  -webkit-transition-timing-function: inherit;
  transition-property: all;
  transition-duration: inherit;
  transition-timing-function: inherit;
}
.segmented-control > label,
.segmented-control > label:after {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.segmented-control > label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: #f75a63;
  color: #FFF;
  opacity: 0;
  height: 100%;
  pointer-events: none;
  -webkit-transition-property: left;
  -webkit-transition-duration: inherit;
  -webkit-transition-timing-function: inherit;
  transition-property: left;
  transition-duration: inherit;
  transition-timing-function: inherit;
}
.segmented-control > label,
.segmented-control > label:before {
  border-radius: 30px;
}
.segmented-control > label:first-of-type:nth-last-of-type(1),
.segmented-control > label:first-of-type:nth-last-of-type(1) ~ label,
.segmented-control > label:first-of-type:nth-last-of-type(1):after,
.segmented-control > label:first-of-type:nth-last-of-type(1) ~ label:after,
.segmented-control > label:first-of-type:nth-last-of-type(1):before,
.segmented-control > label:first-of-type:nth-last-of-type(1) ~ label:before {
  width: 100%;
}
.segmented-control > label:first-of-type:nth-last-of-type(2),
.segmented-control > label:first-of-type:nth-last-of-type(2) ~ label,
.segmented-control > label:first-of-type:nth-last-of-type(2):after,
.segmented-control > label:first-of-type:nth-last-of-type(2) ~ label:after,
.segmented-control > label:first-of-type:nth-last-of-type(2):before,
.segmented-control > label:first-of-type:nth-last-of-type(2) ~ label:before {
  width: 50%;
}.segmented-control > input[type='checkbox'] ~ label {
  transition-duration: 0;
  -webkit-transition-duration: 0;
}
.segmented-control--transparent {
  border-color: transparent;
  background: transparent;
}
