@charset "utf-8";
/* CSS Main */

html{color:#333; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea,pre{font:13px/1.5em "microsoft yahei";  -webkit-font-smoothing: antialiased;  text-rendering: optimizeLegibility;}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}
img { max-width:100%;}

a {color:#b60101;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
.pt20 { padding-top:20px;}
.bg {background:#f0eff4;}

* {-webkit-tap-highlight-color:rgba(0,0,0,0)}
::-moz-placeholder {color: #cccccc;opacity: 1!important;}
:-ms-input-placeholder {color: #cccccc;}
::-webkit-input-placeholder {color: #cccccc;}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:auto; margin:0 auto; max-width:640px; width:100%; min-height:100%;overflow:hidden;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#header { height:auto; overflow:hidden;z-index:1; position:relative;text-align:center;}
#main { height:auto!important; height:100%; position:relative;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:10px 0 10px 0;text-align:center; border-top:solid 1px #fff; color:#5c5c5c;
	background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);}
#footer p a{ color:#5c5c5c;}
#footer img { width:180px; height:14px;}
/*----------------------------------  Global结束  ------------------------------------*/

/*加载*/
#loading { position:fixed; width:100%; height:100%; background:#aed962; z-index:1000;}
.loadimg { display:none;}
#loading .loadingbox { position:absolute; top:50%; margin-top:-200px; left:50%; margin-left:-160px; width:320px; height:400px; text-align:center;color:#fff;}
.loadingbox>h4 { padding:50px 10px; margin:0 20px; line-height:30px; font-size:24px;}
.loadingbox>div { position:relative; margin:0 auto; width:100px;height:100px;border-radius:50%;}
.loadingbox>div>i { position:absolute;top:0;left:0;box-sizing:border-box;width:100%;height:100%;border-radius:50%;border-width:2px;border-style:solid;border-color:#eee #eee #1e7135 #eee;-webkit-animation:logo 0.8s linear infinite;}
.loadingbox>div>img {width:100%;height:100%;border-radius:50%;}
.loadingbox>h5 { position:absolute; bottom:80px; left:50%; margin-left:-160px; width:320px; font-size:26px;line-height:1.5;opacity:0;-webkit-animation:bling 2s linear infinite;}
.loadingbox>h6 {position:absolute;bottom:0;left:0;width:100%;padding-bottom:4%;font-size:18px;text-align:center;line-height:1.8;}
@-webkit-keyframes bounceInDown {0% {opacity: 0;-webkit-transform: translateY(-500px);}60% {opacity: 1;-webkit-transform: translateY(10px);}80% {opacity: 1; -webkit-transform: translateY(-5px);}100% {opacity: 1;-webkit-transform: translateY(0);}}
@-webkit-keyframes logo{0% {-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);}}
@-webkit-keyframes bling{0% { opacity:0;}50% { opacity:1;}100%{ opacity:0;}}

#wrapper { opacity:0;}
#wrapper.begin { opacity:1;}
#header { width:100%; height:auto; padding-bottom:10px;}
#header .headerbg1 { position: absolute; z-index:2; top:19%; left:0;}
#header .headerbg2 { position:absolute; z-index:2; top:35%; left:0;}
#header a.btn-all { margin-top:-62%;}
#header a.btn-ok { display:inline-block; margin:0 auto; margin-top:16px; width:44%; height:30px; border-radius:18px; background:none; border:solid 1px #1e7135; line-height:30px; color:#1e7135; font-size:14px;}
#header .drawPrize { position:relative; z-index:2; margin:0 20px; margin-top:20px; height:auto;}
#header .drawPrize .drawPrizeWrapper { position:relative; z-index:2; padding:5px 0 5px 0; background:rgba(237,255,208,.8); border-radius:2px; border:solid 1px #fff;}
#header .drawPrize .drawPrizeWrapper .fn { height:150px; overflow:hidden;}
#header .drawPrize .drawPrizeCon { height:150px; overflow:hidden; margin-top:-2px;}
#header .drawPrize .drawPrizeCon li { line-height:30px; height:30px;}
#header .drawPrize .drawPrizeCon li img { float:left; margin:2px 5px 2px 2px;width:26px; height:26px; border-radius:50%;}
#header .drawPrize .drawPrizeCon li p { margin:0 10px; border-bottom:dashed 1px #93b989; text-align:left; overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
#header .drawPrize:after { position: absolute; z-index:1; margin-top:-5px; width:100%; left:0; height:10px; overflow:hidden; background:#333; content:""; border-radius:100%; box-shadow:0 0 5px rgba(255,255,255,1) inset; opacity:0.1;}

.page1 { margin:0 20px; position:relative; border-bottom:dashed 1px #d9d9d9;}
.page1.bobd { border-bottom:none;}
.page1 h2 { padding:15px 0 10px 0; color:#333; font-size:16px; text-align:left;}
.page1 pre { height:auto; overflow:hidden; text-align:left; line-height:23px; word-break:break-all;word-wrap:break-word; white-space:pre-wrap; color:#666;}
.prizeFlash { width:auto; overflow:hidden;}
.prizeFlash li { width:33.3%; overflow:hidden; float:left; box-sizing:border-box;}
.prizeFlash li img { width:80%; margin:0 auto;}
.prizeFlash li p { color:#666;}


.headertext { padding:0 15px; text-align:left; background:#f0eff4;}
.headertext h3 { padding-top:5px; line-height:30px; color:#333; font-size:18px;}
.headertext h3 span { color:#1e7135;}
.headertext p { padding-bottom:10px; color:#888; font-size:14px;}
.sharetext { position:relative; padding:0 15px; text-align:left; background:#fff;}
.sharetext h3 { padding-top:5px; line-height:30px; color:#1e7135; font-size:18px;}
.sharetext h3 span { color:#1e7135;}
.sharetext p { padding-bottom:10px; color:#888; font-size:14px;}
.sharetext .bd { position:absolute; top:-4px; left:0; width:100%; height:10px; overflow:hidden;}
.sharetext .bd i { float:left; margin:0 1px 0 2px; width:10px; height:10px; border-radius:50%; background:#fff;}
.shareheader { padding:15px 15px 20px 15px; height:auto; overflow:hidden; background:#f0eff4; text-align:left;}
.shareheader img { margin-right:5px; float:left; width:50px; height:50px; border-radius:5px;}
.shareheader p { margin-left:60px; padding:15px 0; line-height:20px;}
.stuffingList,.prizeList.bd { border:0; border-image: url(../Image/qianji/Shop/border.png) 2 stretch; border-top: 1px solid #fff;}
.stuffingList { padding:0 7px;}
.stuffingList ul { height:auto; overflow:hidden;}
.stuffingList li { position:relative; float:left; width:46%; height:auto; overflow:hidden; margin:2% 0 0 2%; background:#fbf6df; border:solid 1px #ded5aa;}
.stuffingList li .img { float:left; width:60%; height:auto; overflow:hidden; line-height:1px; border-right:dashed 1px #b5a764;}
.stuffingList li p { position:absolute; right:0; top:50%; margin-top:-20px; width:40%; height:40px; line-height:20px; color:#857a49;}
.stuffingList li em { position:absolute; z-index:2; right:0; top:0; width:20px; line-height:16px; color:#fff; font-size:10px; text-align:center;}
.stuffingList li:after { position:absolute; z-index:0; top:0; right:0; width:0; height:0; border-top:solid 15px #63c07d; border-right:solid 15px #63c07d; border-left:solid 15px transparent; border-bottom:solid 15px transparent; content:"";}
.prizeList { padding-bottom:60px;}
.prizeList dl { height:auto; overflow:hidden; padding-top:20px; background:#fff;}
.prizeList dl dd { margin:0 20px; height:auto; overflow:hidden; padding:10px 0; text-align:left; background:#fff;}
.prizeList.bd dl { padding-top:0;}
.prizeList.bd dl dd { border-bottom:dashed 1px #ddd;}
.prizeList.bd dl dd:last-child { border-bottom:none;}
.prizeList dl dd .img { float:left; margin-right:10px; width:77px; height:auto; overflow:hidden; line-height:1px;}
.prizeList dl dd .img img { width:100%;}
.prizeList dl dd p { line-height:36px;}
.prizeList dl dd p span { color:#999;}
.prizeList dl dd a { display:inline-block; width:80px; height:26px; border-radius:3px; background:#1e7135; border:solid 1px #1e7135; line-height:26px; color:#fff; font-size:12px; text-align:center;}
.prizeList dl dd a.erro { background:#ddd; border:solid 1px #ddd; color:#999;}

.proNav { border:0; border-image: url(../Image/qianji/Shop/border.png) 2 stretch; border-top: 1px solid #fff;}
.proNav { position:fixed; z-index:200; bottom:0; left:0; width:100%; height:44px; background:#f4f4f4; box-shadow:0 -3px 3px rgba(0,0,0,.1);}
.proNav .btn-erro { display: inline-block; margin:2px auto; width:46%; height:36px; border-radius:3px; background:#ddd; line-height:36px; color:#888; font-size:14px; text-shadow:0 1px 0 rgba(255,255,255,1);}
.proNav .btn-erro:hover {-webkit-animation:btn-erro 0.8s forwards linear;}
.proNav .btn-ok { display:inline-block; margin:4px 2%; width:44%; height:36px; border-radius:3px; background:#1e7135; border:solid 1px #1e7135; line-height:36px; color:#fff; font-size:14px;}
.proNav .btn-ok + .btn-ok { background:#fff; border:solid 1px #b8ac78; color:#b8ac78;}

#game { width:100%; max-width:100%; overflow:hidden; min-height:100%; background:#6fb15f;}
#game .logo2 { position:absolute; top:2%; left:2%; width:96px; height:auto; overflow:hidden;}
#game .gamebg1 { position:absolute; top:0; left:0; width:100%; height:100%; background-image:url(../Image/qianji/Item/qj-7.jpg); background-repeat:no-repeat; background-position:0 20%; background-size:100% auto;}
#game .gamebg2 { position:absolute; top:0; left:0; width:100%; height:100%; background-image:url(../Image/qianji/Item/qj-8.png); background-repeat:no-repeat; background-position:0 20%;  background-size:100% auto;}
#game .game { position: absolute; z-index:1; top:15%; left:50%; margin-left:-125px; width:251px; height:251px;overflow:hidden; background:url(../Image/qianji/Item/qj-9.png) no-repeat 0 top; background-size:100% auto;}
#game .gamebg { position:absolute; top:0; left:0; width:100%; height:100%; background:url(../Image/qianji/Item/qj-11.png) no-repeat 0 top; background-size:100% auto;-webkit-animation:logo 1s linear infinite;}
#game .gameCon { position:relative; z-index:2; width:100%; height:100%; overflow:hidden;}
#game .gameCon .gameHand { width:100%; height:100%; background:url(../Image/qianji/Item/qj-15.png) no-repeat 0 top; background-size:100% auto;-webkit-transform-origin:center bottom; -webkit-transition:all 0.5s;}
#game .gameCon .gameEnd,
#game .gameCon .gameEnd .pic1,
#game .gameCon .gameEnd .pic2,
#game .gameCon .gameEnd .pic3 { position:absolute; top:0; left:0; width:100%; height:100%; }
#game .gametitle { position:absolute; top:65%; left:50%; margin-left:-160px; width:320px; height:56px;}
#game .gametitle .gametitle1 { position:absolute; top:0; left:0; width:100%; height:56px; background:url(../Image/qianji/Item/qj-16.png) no-repeat 0 top; background-size:100% auto; opacity:0;}
#game .gametitle .gametitle2 { position:absolute; top:0; left:0; width:100%; height:56px; background:url(../Image/qianji/Item/qj-17.png) no-repeat 0 top; background-size:100% auto; opacity:0;}
#game .gametext { position:absolute; top:78%; width:100%; height:auto; color:#16500a; text-align:center; font-size:16px;}
#game .gamebtn { position:absolute; left:50%; margin-left:-156px; bottom:20px; width:312px;}
#game .gamebtn a.btn-all { display:inline-block; margin:0 10px; background:#8cde77; border:solid 1px #20730f; color:#16500a; border-radius:21px;}
#game.begin .gameHand {-webkit-animation:gameHand 1.5s 3s linear infinite;}
#game.begin .gametitle1 {-webkit-animation:gametitle1 0.8s 0.7s ease forwards;}
#game.begin .gametitle2 {-webkit-animation:gametitle2 0.8s 0.7s ease forwards;}

#game .gameCon .gameEnd .pic1 {background:url(../Image/qianji/Item/qj-12.png) no-repeat 0 top; background-size:100% auto; opacity:0;}
#game .gameCon .gameEnd .pic2 {background:url(../Image/qianji/Item/qj-13.png) no-repeat 0 top; background-size:100% auto; opacity:0;}
#game .gameCon .gameEnd .pic3 {background:url(../Image/qianji/Item/qj-14.png) no-repeat 0 top; background-size:100% auto; opacity:0;}
#game .gameCon.end .gameHand { opacity:0;}
#game .gameCon.end .gameEnd { display:block;}
#game .gameCon.end .gameEnd .pic1 {-webkit-animation:endpic1 1s 0.3s forwards ease;}
#game .gameCon.end .gameEnd .pic2 {-webkit-animation:endpic2 1s 0.5s forwards ease;}
#game .gameCon.end .gameEnd .pic3 {-webkit-animation:endpic3 5s 0.3s infinite linear;}



.btn-all { position: relative;display:block; margin:0 20px; padding:12px 30px; background:#1e7135; color:#fff; font-size:16px; line-height:16px; border-radius:5px; text-align:center; overflow:hidden;}
.btn-all.erro {-webkit-animation:btn 0.2s 0.1s forwards linear;}
.link { text-decoration:underline; color:#b60101;}

@media only screen and (max-height: 420px) {
	#game .logo2 { top:1%; left:1%;}
	#game .gamebg1 { background-position:0 12%;}
	#game .gamebg2 { background-position:0 12%;}
	#game .game { top:12%;}
	#game .gametitle { top:69%;}
	#game .gametext { top:82%;}
	#game .gamebtn { bottom:10px;}
	#game .gamebtn .btn-all {padding:10px 30px;}
}

.out-box { position: fixed;top:0;left:0;height: 100%;width: 100%;background: rgba(0,0,0,0.8); text-align: center; z-index:1111;}
.out-box .img { width:90%; height:auto; margin:0 auto; margin-top:10px;-webkit-animation-duration: 1.5s;-webkit-animation-iteration-count:1;-webkit-animation-direction: alternate;-webkit-animation-timing-function: ease-out;-webkit-animation-fill-mode: forwards;-webkit-animation-delay: 0.5s;-webkit-animation-name: tada;}
.out-box .text{ width:280px; margin:0 auto; text-align:center;}
.out-box .text p{color:#fff; font-size:18px; color:#fff; line-height:30px;}


#wrapper.begin #header .headerbg1 {-webkit-animation:headerbg1 5s 0.3s infinite ease;}
#wrapper.begin #header .headerbg2 {-webkit-animation:headerbg2 7s infinite ease;}
@-webkit-keyframes headerbg1 {
  0% {-webkit-transform: translateY(0);}
  50% { -webkit-transform:translateY(-15px);}
  100% { -webkit-transform:translateY(0px);}
}
@-webkit-keyframes headerbg2 {
  0% {-webkit-transform: translateY(0);}
  50% { -webkit-transform:translateY(-15px);}
  100% { -webkit-transform:translateY(0px);}
}
@-webkit-keyframes gamebg {
  0% {-webkit-transform:rotate(0deg);}
  100% { -webkit-transform:rotate(360deg);}
}
@-webkit-keyframes gameHand {
  0% {-webkit-transform:rotate(0deg);}
  5%,25% { -webkit-transform:rotate(4deg);}
  10%,30% { -webkit-transform:rotate(0deg);}
  15%,35% { -webkit-transform:rotate(-4deg);}
  20%,40%,100% { -webkit-transform:rotate(0deg);}
}
@-webkit-keyframes btn {
  0% {-webkit-transform: translateY(0);}
  50% { -webkit-transform:translateY(2px);}
  100% { -webkit-transform:translateY(0px);}
}
@-webkit-keyframes gametitle1 {
  0% {-webkit-transform: translateX(-320px); opacity:0;}
  70% {-webkit-transform: translateX(20px); opacity:1;}
  100% { -webkit-transform:translateX(0px); opacity:1;}
}
@-webkit-keyframes gametitle2 {
  0% {-webkit-transform: translateX(320px); opacity:0;}
  70% {-webkit-transform: translateX(-20px); opacity:1;}
  100% { -webkit-transform:translateX(0px); opacity:1;}
}
@-webkit-keyframes endpic1 {
  0% {-webkit-transform: translate(10px,-10px); opacity:0;}
  100% { -webkit-transform:translate(0,0); opacity:1;}
}
@-webkit-keyframes endpic2 {
  0% {-webkit-transform: translate(-10px,10px); opacity:0;}
  100% { -webkit-transform:translate(0,0); opacity:1;}
}
@-webkit-keyframes endpic3 {
  0% {-webkit-transform: translate(0,0); opacity:1;}
  25% { -webkit-transform:translate(-8px,0); opacity:1;}
  50% { -webkit-transform:translate(0,0); opacity:1;}
  75% { -webkit-transform:translate(8px,0); opacity:1;}
  100% { -webkit-transform:translate(0,0); opacity:1;}
}

.cjTip { position:absolute; z-index:1000; top:30%; width:100%; color:#fff; font-weight:bold; font-size:16px; text-align:center;}
.cjTipbg { position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.4);}
.cjTipTxt { padding:10px; position:absolute; z-index:10; left:50%; margin-left:-70px; top:50%; margin-top:-20px; width:140px; height:auto; background:#fff; border-radius:6px; box-shadow:0 0 10px rgba(0,0,0,.2);}
.cjTipTxt i { position:absolute; top:50%; margin-top:-10px; left:10px; width:20px; height:20px; border:solid 2px #6fb15f; border-radius:50%;  border-right:solid 2px transparent;-webkit-animation: gamewrapperbg 1s infinite linear;}
.cjTipTxt p { padding:2px 0; line-height:20px; margin-left:30px; color:#666; font-size:12px; text-align:left; font-weight:normal;}
@-webkit-keyframes gamewrapperbg
{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);}
}

.msgPop { position:fixed; z-index:990; top:0; width:100%; height:100%; min-height:100%; margin:0 auto;display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;}
.msgPop.bg { background:rgba(0,0,0,0.7);}
.msgPop .msgBg { width:300px; height:auto; overflow:hidden; margin:0 auto; margin-top:-30px;}
.msgPop .msgBg .msgTitle { position:relative; height:113px; color:#000; font-size:20px; line-height:30px; background:url(../Image/qianji/Item/qj-18.png?v=__VR__) no-repeat 0 top; background-size:100% auto;}
.msgPop .msgBg .msgTitle .close-msgPop { position:absolute; right:-5px; top:25px; width:40px; height:40px;}
.msgPop .msgBg .msgTitle.hastitle { line-height:77px; color:#a3964c; background:url(../Image/qianji/Item/qj-18-2.png?v=__VR__) no-repeat 0 top; background-size:100% auto;}
.msgPop .msgBg .msgTitle.notitle { margin:0; margin-top:0px; background:url(../Image/qianji/Item/qj-18.png?v=__VR__) no-repeat 0 top; background-size:100% auto;}
.msgPop .msgBg .msgTitle i { width:25px; height:25px; line-height:26px; text-align:center; position:absolute; right:8px; top:-10px;border-radius:25px; color:#bcb083; background:#faf4dd;}
.msgPop .msgBg .msgTitle i span { display:block; font-size:20px; font-style:normal; -webkit-transform:rotate(45deg);}
.msgPop .msgBg .msgTitle.hastitle + .msgCon { padding:30px 10px 15px 10px;}
.msgPop .msgBg .msgCon { margin:-60px 10px 0 10px; padding:50px 10px 15px 10px; height:auto; overflow:hidden;border-radius:4px; background:#faf4dd;touch-action: pan-y;}
.msgPop .msgBg .msgCon { font-size:18px; line-height:25px;}
.msgPop .msgBg .msgCon i { display:block; margin:0 auto; width:80px; height:80px; line-height:80px; font-size:60px; overflow:hidden; color:#ffba26;}
.msgPop .msgBg .msgCon .cjText-img { line-height:0;}
.msgPop .msgBg .msgCon .cjBtn { height:auto; overflow:hidden;}
.msgPop .msgBg .msgCon .cjBtn a { display:block; margin-top:15px; height:35px; line-height:35px; background:#1e7135; border: solid 1px #1e7135; border-radius:3px; color:#fff; font-size:14px;}
.msgPop .msgBg .msgCon .cjBtn a.sm { border:solid 1px #a3964c; color:#a3964c; background:none;}
.formError { position:absolute; top:33px; left:185px; padding:0 10px; height:20px; line-height:20px; background:#bb0000; color:#fff; border-radius:2px; z-index:100; font-size:12px; display:none;}
input.erro + .formError { display:block;-webkit-animation:formerroMsg 0.3s linear;-webkit-animation-fill-mode:forwards;}
.sOne-cjInput-half + .formError { left:95px;}
.formError.passcode { right:100px;}
.formError:before { position:absolute; top:-22px; right:10px; width:18px; height:24px; color:#bb0000; content: ''; background:url(../Image/icon-formerro.png) no-repeat 0 0; background-size:100%;}
.formError .formErrorContent { text-align:center;}
@-webkit-keyframes formerroMsg{
	0%{-webkit-transform:translate(0,10px);opacity:0;}
	100%{-webkit-transform:translate(0,0);opacity:0.7;}
}
.msgPop .msgBg .msgCon p { color:#a3964c; font-size:14px;}
.msgPop .msgBg .msgCon p.title { padding:5px 0; font-size:20px; color:#ed3f41;}
.msgPop .msgBg .msgCon p span { color:#1e7135;}


.msgPop .msgBg .msgCon .gameRule { color:#776c2d; text-align:left; font-size:12px;}
.msgPop .msgBg .msgCon .gameRule .divRule { height:220px; overflow:hidden; overflow-y:auto;  -webkit-font-smoothing: antialiased;}
.msgPop .msgBg .msgCon .gameRule p { padding-bottom:5px; font-size:12px; line-height:18px;}
.msgPop .msgBg .msgCon .gameRule p b { font-weight:bold;color:#776c2d;}
.msgPop .msgBg .msgCon .gameRule table {width:100%;border-collapse:collapse;border:1px solid #776c2d;table-layout:fixed; line-height:18px;}
.msgPop .msgBg .msgCon .gameRule td {padding: 2px 5px;border-collapse:collapse;vertical-align:middle;text-align:center;border:solid 1px #776c2d;color:#8b8041;}
.msgPop .msgBg .msgCon .gameRule td.tl { text-align:left;}