@charset "utf-8";
/* CSS Main */

html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

h1 { line-height:40px; text-align:left; font-size:16px; padding-left:15px;}
a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
.mt20 { margin-top:20px;}

* {-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-appearance:none;}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{/* height:100%; min-height:100%;*/ text-align:center; background: #eeeeee;}
#wrapper { height:auto; margin:0 auto; max-width:640px;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#header { height:30px; overflow:hidden; width:100%; position: relative; text-align:center; padding:7px 0; background:#ea5518;}
#main { height:auto!important; height:100%; position:relative;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:5px 0 5px 0;text-align:center;color:#5c5c5c;background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%); font-size:12px; line-height:20px;}
#footer p a{ color:#5c5c5c;}
.shopBoxView { text-align:left;}
/*----------------------------------  Global结束  ------------------------------------*/

.w55 { width: 55px;}
.pl55 { padding:0 0 0 55px;}
.w72 { width: 72px;}
.pl72 { padding:0 0 0 72px;}
.w80 { width: 80px;}
.pl80 { padding:0 0 0 80px;}
.w100 { width: 100px;}
.pl100 { padding:0 0 0 100px;}

#header.userCenter { background:#f8f8f8;border-bottom:solid 1px #b2b2b2;}
#header.userCenter .goback i {background:url(../Image/Item/icon-wrapper.png) 0 0; background-size:100% auto;}
#header.userCenter .logo span { color:#3d4245;}
.goback { position:absolute; top:7px; left:0; width:35px; height:30px; cursor:pointer;}
.goback i { float:left; margin: 3px 0 0 8px; width:25px; height:25px;background:url(../Image/Item/icon-wrapper.png) 0 -25px; background-size:100% auto;}
.gosearch { position:absolute; top:7px; right:0; width:35px; height:30px; cursor:pointer;}
.gosearch i { float:left; margin-top:3px; width:25px; height:25px;background:url(../Image/Item/icon-wrapper.png) 0 -175px; background-size:100% auto;}
#header .logo { display:block; margin:0 35px; height:30px; line-height: 30px; font-size:18px; text-align:center;}
#header .logo i { float:left; width:30px; height:30px; overflow:hidden; background:#fff; border-radius:2px; text-align:center; line-height:32px; font-style:normal; color:#ea5518; font-size:24px;}
#header .logo span { margin-left:5px; line-height:32px; font-size:18px; color:#fff;}
#header .logo em { color: #999999;}

.mainTips { line-height: 40px; margin: 0 15px; text-align: left;}
.mainTips .tips { font-size: 13px; color: #666666;}

/* 发布活动 */
.mainCon .item {/* padding: 12px 0;*/ margin-bottom: 12px; background:#fff; border-bottom: 1px #e5e5e5 solid; text-align: left;}
.mainCon:after,.mainCon ul:after,.mainCon ul li:after {visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0px;}
.mainCon ul { margin: 0 0 0 15px; padding: 10px 15px 10px 0; position:relative; box-sizing:border-box; border-bottom: 1px #e5e5e5 solid;}
.mainCon ul:last-child { border-bottom: 0px #e5e5e5 solid;}
.mainCon ul li p { line-height: 16px; font-size: 13px; color: #999999; text-align: justify;}
.mainCon ul li.input p { font-size: 13px; line-height: 20px; padding: 12px 0; color: #999999; text-align: justify;}
.mainCon ul.btn-ul { margin:20px 15px; padding:0; background:#f0efed; border: 0;}
.mainCon ul li.btn-li { text-align:center;}
.mainCon ul li .btn-up { display:block; width: 100%; height:42px; background:#ed3f41; color:#fff; line-height:42px; font-size:17px; font-weight:bold; text-align:center; border-radius:5px;}
.mainCon ul.imageBox li {/* padding: 10px 0;*/ float: left;}
.mainCon ul.imageBox li img { display: block;}
.mainCon ul.imageBox li h3 { margin-bottom: 5px; font-size: 16px; color: #333333;}
.mainCon ul.imageBox li.image { position: absolute; top: 50%; margin-top: -27px;}
.mainCon ul.imageBox li.text { padding-left: 65px; padding: 10px 0 10px 65px;}
.mainCon ul.link { border: 0; text-align: center;}
.mainCon ul.link img { padding: 5px; border: 1px #e5e5e5 solid; border-radius: 3px;}
.mainCon ul.link li p { text-align: center; margin-bottom: 20px;}
.mainCon ul.link li a { color: #1278c7;}

/* 活动介绍页 */
.mainCon .banner { position: relative;}
.mainCon .banner .title { position: absolute; bottom: 15px; left: 0; margin: 0 15px; width: 90%; height: 26px; line-height: 26px; background: #fe7364; color: #ffffff; font-size: 13px; text-align: center; border-radius: 20px;}

.mainCon .element { padding: 45px 0 30px 0; margin-bottom: 10px; border-bottom: 1px #c2c2c2 dashed; position: relative; z-index: 2;}
.mainCon .element .element-2,.mainCon .element .element-3 { position: absolute; z-index: -1;}
.mainCon .element .element-2 { top: 60px; left: -30px; -webkit-animation:translateX1 15s 0.5s infinite linear;}
.mainCon .element .element-3 { top: 100px; left: -30px; -webkit-animation:translateX2 25s 0.8s infinite linear;}
.mainCon .element .tips h4 { font-size: 13px; color: #666666;}
.mainCon .element .tips p { font-size: 15px; color: #333333;}


.tabList { padding:10px 0; width:100%; height:30px; background:#fff; position:relative;}
.tabList ul { margin:0 auto; width:310px; height:30px;}
.tabList ul li { float:left; width:76px; height:28px; line-height:28px; border:solid 1px #ea5518; margin-left:-1px; position:relative;}
.tabList ul li:first-child { border-radius:4px 0 0 4px;}
.tabList ul li:last-child { border-radius:0 4px 4px 0;}
.tabList ul li.hover { background:#ea5518;}
.tabList ul li>a { color:#ea5518;}
.tabList ul li>a>i { position:absolute; right:10px;}
.tabList ul li.hover>a { color:#fff;}
.tabList ul.list2 li { width:152px;}
.tabList ul.list3 li { width:102px;}
.tabList ul.list4 li { width:76px;}

.Gform .item { margin-bottom: 20px; background:#fff; overflow: visible; border-bottom: 1px #e5e5e5 solid;}
.Gform .item .input label { margin-right: 20px; position: relative;}
.Gform .item .input.radioBox { padding-left: 112px;}
.Gform .item .input label:before { content: ""; display: inline-block; position: relative; top: 2px; right: 5px; width: 12px; height: 12px; border: 1px #999999 solid; border-radius: 50%;}
.Gform .item .input label.active:after { content: ""; display: inline-block; position: absolute; top: 5px; left: -2px; width: 8px; height: 8px; background: #999999; border-radius: 50%;} 
.Gform:after,.Gform ul:after,.Gform ul li:after {visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0px;}
.Gform ul { margin: 0 0 0 15px; padding: 0 15px 0 0; position:relative; box-sizing:border-box; border-bottom: 1px #e5e5e5 solid;}
.Gform ul:last-child { border-bottom: 0px #e5e5e5 solid;}
.Gform ul li p { font-size: 13px; line-height: 18px; color: #999999; text-align: justify;}
.Gform ul li.input p { font-size: 13px; line-height: 18px; padding: 12px 0; color: #999999; text-align: justify;}
.Gform .name { text-align:left; line-height:20px; padding: 12px 0; position:absolute; top:50%; left:0; margin-top: -22px; font-size:16px; color:#333333; box-sizing:border-box;}
.Gform .name em { line-height: 20px; padding: 12px 0; color: #ed3f41;}
.Gform .input { position:relative; text-align:left; box-sizing:border-box;}
.Gform.confirmation .input { text-align: right;}
.Gform .input span { color: #999999; font-size: 14px;}
.Gform .input .textbox,.Gform .input textarea { width:100%; font-size:16px;/* border:solid 1px #bbb;*/ color: #333333; border-radius:3px; box-sizing:border-box;-webkit-appearance:none;/*box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/}
.Gform .input .textbox { padding: 12px 0; line-height:20px; text-indent:3px;}
.Gform .input .textbox.half { width:47%; float:left;}
.Gform .input .passcode { width:47%; float:right; border-radius:3px;}
.Gform .input .btn-input.half { width:47%; line-height:20px; padding: 12px 0; font-size: 16px; float:right; border:solid 0px #bfbfbf; color:#ed3f41; text-align: right; -webkit-appearance:none; border-radius:3px; background:none;}
.Gform .input textarea {height:100%; overflow-y:visible; line-height:20px; border: 0; padding: 12px 0 12px 5px;}
.Gform .input select { float:right;/* margin-right:4%;*/ width:33%; line-height:20px;/*background-image: linear-gradient( #fff , #f1f1f1);*/ background: none; font-size:14px; color: #999999; text-align: right; border:solid 0px #bbb; border-radius:3px; box-sizing:border-box;-webkit-appearance:none;/*box-shadow: 0px 1px 3px rgba(0,0,0,.2);*/}
.Gform .input select:last-child { margin-right:0;}
::-webkit-input-placeholder {
	font-size:12px;
}
.Gform .input input[type="file"] { padding: 20px 0; opacity: 0;}
.Gform .input input[type="date"] { display: inline-block; width: 45%;}
.Gform .input .image { position: absolute; top: 50%; margin-top: -21px; right: 30px;}
.Gform .input i { position: absolute; top: 50%; margin-top: -12px; right: 0; width:25px; height:25px;background:url(../Image/Item/dzp/nc-icon.png) 0 -25px; background-size:100% auto;}
.Gform ul.btn-ul { margin:20px 15px; padding:0; background:#f0efed; border: 0;}
.Gform ul li.btn-li { text-align:center;}
.Gform ul li .btn-up { display:block; width: 100%; height:42px; background:#ed3f41; color:#fff; line-height:42px; font-size:17px; font-weight:bold; text-align:center; border-radius:5px;}
.Gform ul li .btn-gray { display:block; width: 100%; height:40px; margin-top: 15px; background:#f3f3f3; color:#333333; line-height:40px; border: 1px #cccccc solid; font-size:17px; font-weight:normal; text-align:center; border-radius:5px;}
.formError { position:absolute; top:40px !important; left:auto !important; right:5px !important; margin:0 !important; z-index:100;-webkit-animation:erroMsg 0.3s linear;-webkit-animation-fill-mode:forwards;}
.formError.passcode { right:100px;}
.formError:before { position:absolute; top:-4px; right:10px; width:8px; height:8px; border: 1px #e39f9f solid; border-width: 1px 0 0 1px; background:#fff8f8; content: ''; -webkit-transform: rotate(45deg); z-index: 1;}
.formError .formErrorContent { width: auto; background: #fff8f8; position: relative; color: #ec3636; font-size: 12px; border: 1px solid #e39f9f; padding: 2px 10px 2px 10px; line-height: 20px; border-radius: 3px; box-shadow: 0 2px 2px rgba(0,0,0,.1); white-space: nowrap;}
@-webkit-keyframes erroMsg{
	0%{-webkit-transform:translate(0,10px);opacity:0}
	100%{-webkit-transform:translate(0,0);opacity:1}
}
.Gform .clause { text-align: left; margin: 0 15px;}
.Gform .clause label input[type="radio"] { width: 0;}
.Gform .clause label { margin-right: 20px; position: relative; color: #666666; font-size: 14px;}
.Gform .clause label input[type="radio"] { width: 0;}
.Gform .clause label:before { content: ""; display: inline-block; position: relative; top: 2px; right: 0; margin-right: 5px; width: 12px; height: 12px; border: 1px #999999 solid; border-radius: 50%;}
.Gform .clause label.active:after { content: ""; display: inline-block; position: absolute; top: 5px; left: 4px; width: 6px; height: 6px; background: #999999; border-radius: 50%;} 

.msgPop { position:fixed; z-index:1000; top:0; width:100%; height:100%; min-height:100%; margin:0 auto;display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;}
.msgPop.bg { background:rgba(0,0,0,0.7);}
.msgPop .msgBg { height:auto; margin:0 5%; padding: 22px; background:#fff; border-radius:5px;}
.msgPop .msgBg .msgTitle { position:relative; height:30px; color:#fff; font-size:16px; line-height:30px; font-weight:bold;border-radius:4px 4px 0 0;}
.msgPop .msgBg .msgTitle .close-msgPop { position:absolute; right:-20px; top:-20px; width:50px; height:50px;}
.msgPop .msgBg .msgTitle i { width:50px; height:50px; line-height:50px; font-style: normal; text-align:center; font-size:24px; color: #ffffff; background: url(../Image/Item/icon-wrapper.png) 0 -100px; background-size:100% auto;/* background:#cecece; -webkit-transform:rotate(45deg);*/ position:absolute; right:0; top:0;/* box-shadow:inset 0 0 0 1px #cecece,0 0 0 1px #cecece;border-radius:50%;*/}
.msgPop .msgBg .msgTitle i em { display:none; font-style: normal; line-height:28px; text-align:center; font-size:24px; color: #ffffff; -webkit-transform:rotate(45deg);}
.msgPop .msgBg .msgCon { height:auto; overflow:hidden;border-radius:0 0 4px 4px;}
.msgPop .msgBg .msgCon { font-size:18px; line-height:24px;}
.msgPop .msgBg .tipsText { text-align: justify;}
.msgPop .msgBg .tipsText p { font-size: 17px; color: #4c4c4c; margin: 0 0 10px 0;}
.msgPop .msgBg .tipsText li { font-size: 14px; color: #7f7f7f; line-height:16px; margin: 0 0 10px 0;}
.msgPop .msgBg .tipsBtn { margin-top: 20px;}
.msgPop .msgBg .tipsBtn a.tipsBtn-back { display: block; line-height: 43px; font-size: 17px; color: #ffffff; background: #ed3f41; border-radius: 5px;}

@-webkit-keyframes translateX1 {
	0% {-webkit-transform: translateX(0px);}
	50% {-webkit-transform: translateX(100px);}
	100% {-webkit-transform: translateX(0px);}
}
@-webkit-keyframes translateX2 {
	0% {-webkit-transform: translateX(0px);}
	50% {-webkit-transform: translateX(80px);}
	100% {-webkit-transform: translateX(0px);}
}

/* 城市列表
--------------------------------------------------------------*/
.city { position: absolute; z-index:999; top:0px; left:0px; width:100%; min-height:100%; height:100%; text-align:left; overflow-x:hidden;}
.cityHeader { height:30px; overflow:hidden;z-index:1; text-align:center; padding:7px 0; background:#ffffff; line-height:30px; font-size:16px; color:#333333;}
.closeCity { position:absolute; top:7px; left:0; width:35px; height:30px;}
.closeCity i { float:right; margin-top:3px; width:25px; height:25px;background:url(../Image/Item/icon-wrapper.png) 0 0px; background-size:100% auto;}
.city-list { position:relative; left:100%; height:auto; min-height:100%; overflow:hidden;-webkit-transition:left 0.5s;background: #f7f7f7;}
.city.show .city-list { left:0;-webkit-transition:left 0.5s;}
.cityTitle { color:#ed3f41;text-shadow:0 1px 0 #fff;margin:5px 10px 1px 10px;font-size:18px;}
.CityList { margin:0 10px 10px 10px; border:solid 1px #dadada; background:#fff; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; padding:2px;}
.CityList li { cursor:pointer;}
.CityList li p { line-height:30px; border-bottom:solid 1px #f2f2f2; font-size:14px; text-indent:10px;}
.CityList li p:hover { border-bottom:solid 1px #f1f1f1;}
.CityList li:hover { background:#f1f1f1;}
.CityList li:last-child p { border-bottom:none;}
.F-cities { position:relative;}
.F-ins {width: 94px;height: 80px; border-radius: 6px; background: rgba(143,143,143,.9); display: block;position: fixed;top: 35%;left: 50%;z-index: 999;margin-left: -47px;color: #fff;font-size:32px;line-height: 80px;text-align: center; display:none;}
.onTouch {width:60px;position: fixed;top:30px;right:0;z-index: 999;height: auto;}
#charNav { position:relative; z-index:4;}
#charNav a { display:block; margin-left:40px; width:20px; text-align: center; font-size:12px; color:#ed3f41;line-height:14px;}
/*-------------------------城市列表结束  -----------------------*/

/**** Docs ****/
#infscr-loading { text-align: center;z-index: 100;position: fixed; left: 50%; margin-left:-100px; bottom: 40px; width:200px; background: #999; opacity: 0.8; color: #FFF; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
#infscr-loading img { padding:10px 10px 0 10px;}
#infscr-loading em { display:block; padding:10px;}

/* ===============================================================
Basic Swiper Styles 
================================================================*/
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

/* 卡券详情 */
.box { padding:10px 0; margin-left: 15px; height:auto; overflow:hidden; border-bottom:solid 1px #e5e5e5;}
/*.box:nth-child(2n) { background: #f4f4f4;}*/
.box img { float:left; margin:0 8px 0 0; width:75px; height:65px;/* border:solid 1px #cfcfcf;*/}
.box .proItem-msg { margin-left:83px; margin-right:15px; text-align:left;}
.box .proItem-msg div.l { width: 80%; margin-top: 15px;}
.box .proItem-msg div.r { width: 25px; height: 25px;}
.box .proItem-msg div.r i { display: block; width: 25px; height: 25px; margin-top: 20px; background: url(../Image/Item/df-icon1.png) 0 -150px no-repeat; background-size: 100%;}
.box .proItem-msg h1 { position: relative; padding:0; font-size:16px; color:#333; overflow:hidden; line-height:20px;}
.box .proItem-msg h1 span { font-size:12px; color:#ea5518;}
.box .proItem-msg h1 i { display: block; width: 15px; height: 15px; line-height: 15px; position: absolute; right: 0; top: 50%; margin-top: -7px; font-style: normal; text-align: center; font-size:12px; color:#ffffff; background: #ed3f41; border-radius: 3px;}
.box .proItem-msg h2 {/* height:36px;*/ font-size:12px; color:#999; overflow:hidden; line-height:18px; padding:2px 0 6px 0;}
.box .proItem-msg h3 { height:auto; overflow:hidden;}
.box .proItem-msg h3 p.l { font-size:12px; color:#999;}
.box .proItem-msg h3 p span { font-size:16px; color:#ea5518;}
.box .proItem-msg h3 p.l em { font-size:12px; color:#999;text-decoration:line-through; margin-left:5px;}
.box .proItem-msg h3 p.r { font-size:12px; color:#999;}
.box .proItem-msg.proItem-msg2 h1 { padding:0; height:40px;}
.box .proItem-msg.proItem-msg2 h2 { height:18px; padding:0 0 0 0;}
.box .proItem-msg.proItem-msg2 h3 { padding:7px 0 0 0;}

.exgratia { position: relative;}
.exgratia .box { border: 0;/* border-bottom:solid 1px #ff9a45;*/}
.exgratia .box img { float:left; margin:0 15px; width:40px; height:40px; border:solid 1px #cfcfcf; border-radius: 10px;}
.exgratia .box.myExgratia a { display: block; border: 1px #eeeeee solid; border-radius: 5px; margin-bottom: 10px; position: relative;}
.exgratia .box h3.l { color: #ffffff; font-size: 16px; line-height: 40px; margin-left: 9px;}
.exgratia .box .proItem-msg { margin: 0;}
.exgratia .box.myExgratia img { width: 42px; height: 42px; margin: 10px 10px 0 0; border: 0; border-radius: 50%;}
.exgratia .box.exgratiaInfo img { border: 0;}
.exgratia .box .proItem-msg h1 { color: #ffffff;}
.exgratia .box .proItem-msg h2 { line-height: 24px; color: #ffdbad;}
.exgratia .box .proItem-msg h3 p.l { font-size:14px; color: #ffdbad;}
.exgratia .box .proItem-msg h3 p span { font-size:14px; color: #ffdbad;}
.exgratia .box .proItem-msg h3 p.l em { font-size:14px;text-decoration:line-through; margin-left:5px;}
.exgratia .box .proItem-msg h3 p.r { font-size:13px; color:#ffffff; padding: 0 7px; line-height: 24px; border: 1px #ffffff solid; border-radius: 3px;}
.exgratia .box .proItem-msg.proItem-msg2 h1 { padding:0; height:30px;}
.exgratia .box.myExgratia .proItem-msg.proItem-msg2 h2 { height: 70px; line-height: 70px; padding: 10px; font-size: 16px; color: #ffffff; border-radius: 5px 5px 0 0;}
.exgratia .box.myExgratia .proItem-msg.proItem-msg2.red h2 { background: #ed3f41;}
.exgratia .box .proItem-msg.proItem-msg2.orange h2 { background: #f9861f;}
.exgratia .box .proItem-msg.proItem-msg2.green h2 { background: #55bd47;}
.exgratia .box .proItem-msg.proItem-msg2.gray h2 { background: #989898;}
/*.exgratia .red .shadow { background-position: 0 -30px;}
.exgratia .orange .shadow { background-position: 0 -15px;}
.exgratia .green .shadow { background-position: 0 -45px;}
.exgratia .gray .shadow { background-position: 0 -60px;}*/
.exgratia p.fn { padding: 5px 10px; color: #969696;}
.exgratia .hasExpired { width: 90px; height: 75px; background: url(../Image/Item/icon_hasExpired.png) no-repeat; background-size: 100%; position: absolute; left: 65%; bottom: 25px;}
.exgratia .hasUsed { width: 90px; height: 75px; background: url(../Image/Item/icon_hasUsed.png) no-repeat; background-size: 100%; position: absolute; left: 65%; bottom: 25px;}
.exgratia .gray img { -webkit-filter: grayscale(1);/* Webkit */ filter:gray;/* IE6-9 */ filter: grayscale(1);/* W3C */ }
#userCode { padding:0 15px; background:#fff;}
.userCode { height:auto;}
.userCode p { height:auto; overflow:hidden; font-size:14px;}
.userCode p span { height:30px; line-height:30px;}
.userCode p span.l { max-width:65%; white-space:nowrap;overflow:hidden;text-overflow:ellipsis; }
.userCode p span em { font-size:16px; color:#ea5518; margin-right:5px;}
#productCon { padding:0 15px;/* border-bottom:solid 1px #dddddd;*/ background:#ed3f41;}
.exgratia #productCon { border-width: 0; position: relative;}
#productCon .shadow { bottom: 0;}
#productCon .box img { margin:0;}
#productCon .box .proItem-msg { margin-left:90px; margin-right:0px;}
#productCon .ticketName { position:relative; height:auto; padding:0 0 20px 0; text-align:left;}
#productCon .ticketName .title { margin-bottom: 30px; font-size:24px; color:#ffffff; text-align: center;}
#productCon .ticketName .timeLimit { font-size:14px; color:#fffaf4; text-align: center; opacity: 0.52;}
#productCon .ticketName a { position:absolute; top:50%; margin-top:-25px; right:0; width:60px; height:50px; overflow:hidden; text-align:center;}
#productCon .ticketName a i { display:block; margin:0 auto; width:50px; height:50px; overflow:hidden;background:url(../Image/Item/df-icon5.png) 0 0; background-size:100% auto;}
.shadow { width: 100%; height: 6px; background: url(../Image/Item/exgratia_bg.png) repeat-x; background-position: 0 0; position: absolute; left: 0; bottom: 27px;}
.item { background:#fff; margin-bottom:15px; border-bottom: 1px #e5e5e5 solid; border-top: 1px #e5e5e5 solid; height:auto; overflow:hidden;}
.item .infoTitle { margin-left: 15px; height:40px; line-height:40px; text-align:left; font-size:16px; color:#646464; border-bottom:solid 1px #dddddd;}
.item .infoTitle i { float:right; margin-right: 15px; margin-top:6px; width:30px; height:30px; line-height:25px; font-size:26px; background:url(../Image/Item/icon-wrapper.png) no-repeat 0 -90px; background-size:100%;}
.item .infoTitle i.icon-up {background:url(../Image/Item/icon-wrapper.png) no-repeat 0 -120px; background-size:100%;}
.item .infoCon { margin:0 15px; text-align:left; padding:10px 0;}
.item .infoCon .code { width: 30%; padding: 10px; margin: 0 auto; border: 1px #dddddd solid; border-radius: 3px;}
.item .infoCon img { max-width:100%; height:auto; display: block;}
.item .infoCon .num { font-size: 12px; line-height: 24px; color: #999999; text-align: center;}
.item .infoCon .title { color:#ea5518; font-size:14px; margin-top:20px;}
.item .infoCon .title:first-child { margin-top:0;}
.item .infoCon p {color: #999999; word-break:break-all; word-wrap:break-word;}
.item .infoCard { margin:20px; padding:10px; border:solid 1px #ddd; box-sizing:border-box; border-radius:8px;}
.item .infoCard img { max-width:100%;}
.item .address { position:relative; margin:0 0 0 15px; height:auto; overflow:hidden; padding:10px 15px 10px 0; text-align:left; border-bottom: solid 1px #dddddd;}
.item .address .title { margin-right: 60px; padding-right: 40px; font-size:14px; color:#666; font-weight:bold; border-right: 1px #dddddd solid;}
.item .address .con { margin-right: 60px; padding-right: 40px; border-right: 1px #dddddd solid; text-overflow: ellipsis; overflow: hidden; white-space:nowrap; position: relative; font-size:14px; color:#999;}
.item .address .con .km { position: absolute; top: 0; right: 10px;}
.item .address .phone { display: inline-block; position: absolute; right: 15px; top: 50%; margin-top: -12px; width: 25px; height: 25px; background: url(../Image/yhb/yhb-icon1.png) no-repeat; background-size: 100%;}

.item .banner img { display: block;}
.item .detail { position: relative;}
.item .detail dl { margin-right: 100px;}
.item .detail dt { margin-bottom: 8px; line-height: 24px; font-size: 16px; color: #333333;}
.item .detail dd { line-height: 16px; font-size: 12px; color: #999999;}
.item .detail dd span { color: #ed3f41;}
.item .detail .btn { display: inline-block; width: 85px; height: 33px; line-height: 33px; text-align: center; color: #ffffff; background: #ed3f41; border-radius: 3px; font-size: 16px; position: absolute; right: 0; top: 10px;}

/* 优惠列表 */
.search {/* position:fixed; z-index:2; top:44px; left:0; */width:100%; padding:7px 0; height:30px;/* border-bottom:solid 1px #ea5518;*/ background:#e4e4e3;/* margin-top:-44px;*/-webkit-transition:margin-top 0.5s;transition:margin-top 0.5s;}
.search.show { margin-top:0;-webkit-transition:margin-top 0.5s;transition:margin-top 0.5s;}
.searchForm { margin:0 15px; padding:5px 0; height:20px; background:#fff; border-radius:3px; position: relative;}
.searchForm .searchTitle { float:left; height:20px; overflow:hidden;border-right:solid 1px #ea5518; color:#ea5518; padding:0 5px; font-size:14px; line-height:20px;}
.searchForm .btn-search i { float:left; margin: 7px 0 0 10px; display: inline-block; width: 16px; height: 16px; background: url(../Image/yhb/yhb-icon3.png) no-repeat; background-size: 100%;}
.searchForm form { margin:0 35px; height:20px;}
.searchForm .search-input { width:100%; line-height:20px; font-size:14px; color:#999;}
.searchForm .btn-search { position: absolute; left: 0; top: 0; width:30px; height:30px; display:block;}
/*.searchForm .btn-search i { display:block; margin-top:2px; width:25px; height:25px;background:url(../Image/Item/pa-icon1.png) 0 0; background-size:100% auto;}*/

.choose { width:100%; padding:5px 0; height:25px; padding:5px 0; background: #ffffff; border-bottom:solid 1px #dedbd9;}
.choose ul li { position:relative; width:33%; float:left; line-height:25px; border-right:solid 1px #dedbd9;}
.choose ul li i { position:absolute; right:10px; bottom:50%; margin-bottom: -2px; width:8px; height:8px; overflow:hidden; border: 2px #bbbbbb solid; border-width: 0 2px 2px 0;-webkit-transform:rotate(45deg);}
/*.choose ul li i:after { display:block;width:30px; height:30px;-webkit-transform:rotate(45deg); background:#bbbbbb; content:"";}*/
.choose ul li i.active { border-width: 2px 0 0 2px; margin-bottom: -8px;}
.choose ul li:last-child { border-right:none;}
.choose ul li label { display:block;}
.choose ul li p { color:#333333; font-size: 14px;}
.choose ul li select { border:none; text-align:center; color:#333333; font-size: 14px;}

.choose li.fn .city_box { width: 105px; height: 320px;}
.choose ul li.fn { display: none; width: 100%; height: 320px; background: #ffffff; position: absolute; left: 0; top: 80px; z-index: 10;}
.choose ul li.fn li { float: none;}
.choose ul li .city_box,.choose ul li .county { background: #ffffff;}
.choose ul li .item { border: 0; display: none; margin: 0;}
.choose ul li .city_box { position: absolute; top: 0; left: 0; background: #f0f0f0; overflow-y: auto;}
.choose ul li.fn:before { content: ""; display: block; width: 10px; height: 10px; position: absolute; left: 47px; top: -5px; background: #f0f0f0; border: 1px #dedbd9 solid; border-width: 1px 0 0 1px;-webkit-transform:rotate(45deg);}
.choose ul li .city_box li { width: auto; overflow: hidden; text-align: left; line-height: 40px; border: none; border-left: 4px #f0f0f0 solid; color: #333333; text-indent: 15px;}
.choose ul li .city_box li.active { border-left: 4px #ed3f41 solid; background: #ffffff; font-weight: bold; margin-right: 0;}
.choose ul li .county { width: auto; margin-left: 105px; height: 320px; position: relative; right: 0; z-index: -1; overflow-y: auto; background: #ffffff;}
.choose ul li .county a.all { color: #ed3f41;}
.choose ul li .county a { display: block; width: 100%; color: #333333; line-height: 39px; margin-left: 10px; text-align: left; background: #ffffff; border-bottom: 1px #e5e5e5 solid;}
.choose ul li .county li { width: 100%;}

/* 加载更多 */
.get-more { padding: 10px 0 20px 0; margin:0 15px;}
.get-more i { display: block; width: 12px; height: 12px; margin: 0 auto; background: url(../Image/yhb/yhb-icon2.png) no-repeat; background-size: 100%;}
.get-more a { display:block; height:30px; line-height:30px; color:#999;}

/* 版权信息 */
.copyright { margin-bottom: 20px;}
.copyright .found { line-height: 30px; margin-bottom: 5px; border-bottom: 1px #959595 dashed;}
.copyright .found a { line-height: 30px; font-size: 13px; color: #3488c6;}
.copyright p,.copyright p a { font-size: 12px; line-height: 20px; color: #959595;}
.copyright p a:before { content: ""; display: inline-block; width: 15px; height: 14px; margin-right: 3px; vertical-align: middle;}
.copyright p a:first-child:before { background: url(../Image/duanwu/Item/icon_1.png) no-repeat; background-size: 100%;}
.copyright p a:last-child:before { background: url(../Image/duanwu/Item/icon_2.png) no-repeat; background-size: 100%;}

