/*======Reset=======*/
body,h1,h2,h3,h4,h5,h6,hr,menu,p,blockquote,ol,ul,dl,dd,td,th,figure,pre,button,input,textarea{margin:0;padding:0;font-family:Microsoft YaHei;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp,tt{font-family:Microsoft YaHei;}
button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
a,a:hover{text-decoration:none;}
*{-webkit-tap-highlight-color: rgba(0,0,0,0);}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';}
label,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="password"]{cursor:pointer;}
del{text-decoration:line-through;}
ins{text-decoration:none;}
abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help;}
mark{background-color:yellow;}
input[type=submit],input[type=button],input[type=text],input[type=password]{-webkit-appearance:none;box-sizing:content-box;border:0;border-radius:0;box-shadow: none;font-family: Microsoft YaHei;}
textarea{font-family: Microsoft YaHei;}
body{font-family: Microsoft YaHei;font-size:12px;line-height: 1.5;}
.clearfix:after{clear:both;display: block;content: "...";visibility: hidden;height: 0;font-size: 0;}
.clearfix{*zoom:1;}
.l{ float:left}
.r{ float:right}
.tr{ text-align:right}
.tc{ text-align:center}
.redfont{ color:#d10a0a; padding:0 3px;}
i{ font-style:normal}
.m4{ margin:10px 4.6875%;}
.p4{ padding:10px 4.6875%;}
.noborder-b{ border-bottom:0}
.noborder-t{ border-top:0}

.orange{ background-color:#eb9000;}
.gray{ color:#999999;}

.static_icon{ width:20px; height:21px; display:inline-block; background:url(../Image/wap_static/wap_static_icon.png) no-repeat; overflow:hidden; background-size:80%;}
.icon1{ background-position:0 -63px;}
.icon2{ background-position:0 -84px;}
/*layout*/
.wrapper{height:100%; margin:0 auto; width:100%; max-width:640px;background:#fff; overflow:hidden;}

/*============head============*/
.header{width:100%;}
.header .logo_area{ background-color:#f75a63; padding:14px 5%;}
.header .logo_area:after{ clear:both; content:""; width:100%; height:0; display:block;}
.header .logo_area .logo_area_l{ float:left}
.header .logo_area .logo_area_l img{ border-radius:50%; width:60px; height:60px; border:1px #FFF solid;}

.header .logo_area .logo_area_r{ float:left; padding-left:15px; padding-top:13px; width:65%; overflow:visible}
.header .logo_area .logo_area_r h1{ font-size:14px; color:#FFF; line-height:16px; padding-bottom:5px;}
.header .logo_area .logo_area_r p{ color:#ffcccc; font-size:12px;}

.header .info_area{ background-color:#ed4b55; height:41px; border-top:1px rgba(255,255,255,0.3) solid; border-bottom:1px rgba(0,0,0,0.1) solid; }
.header .info_area ul{ margin:0; padding:0; list-style:none}
.header .info_area ul li{ width:50%; display:inline-block; float:left; box-sizing:border-box; font-size:14px; color:#FFF; line-height:41px;padding-left:5%;}
.header .info_area ul li:first-child{border-right:1px rgba(255,255,255,0.3) solid;}
.header .info_area ul li strong{ color:#ffcccc; font-weight:normal; padding-right:20px;}

/*=========content===========*/
.title2{height:46px;border-bottom: 1px solid #dcdcdc; background-color:#FFF}
.title-list2{ position: relative;}
.title-list2 li{ font-size:14px; color:#666666; line-height: 46px; text-align: center; float: left; display: inline; width:25%;}
.title-list2 li a{ color:#666666;}
.title-list2 li.on{ color: #f75a63; border-bottom:1px #f75a63 solid}
.title-list2 p{position:absolute;top:46px;left:0px; height:1px;border-top: 1px solid #f75a63; overflow: hidden; text-align: center;}


.content{ margin-bottom:50px; padding:0 6.25%}
/*inner_tabs*/
.tabs{width:100%; min-width:320px;}
.tabs .title{height:46px;border-bottom: 1px solid #dcdcdc;}
.tabs .title-list{ position: relative;}
.tabs .title-list li{ font-size:14px; color:#666666; line-height: 43px; text-align: center; float: left; display: inline;}
.tabs .title-list li.on{ color: #f75a63;}
.tabs .title-list p{position:absolute;top:46px;left:0px; height:1px;border-top: 1px solid #f75a63; overflow: hidden; text-align: center;}
.product{ height: auto; position: relative; overflow: hidden; display: none;}
.product-wrap{}
.product-wrap .show{ display: block;}
.product-wrap .product .content_title{ height:42px; line-height:42px; color:#666666; font-size:14px; background:#f0f0f0 url(../Image/wap_static/wap_static_icon.png) left center no-repeat; background-position:0 0; background-size:50%; border:1px #dddddd solid; border-left:0; border-right:0; border-top:0; padding:0 5%;}

.product-wrap .product .content_content{}
.product-wrap .product .content_content:after{ content:""; display:block; clear:both; height:0;}
.product-wrap .product .content_content ul{}
.product-wrap .product .content_content ul li{ border-left:1px #dddddd solid; border-bottom:1px #dddddd solid; display:inline-block; float:left; width:50%; box-sizing:border-box;  padding:8px 8%;}
.product-wrap .product .content_content ul li:first-child{ border-left:0;}
.product-wrap .product .content_content ul li span{ font-size:11px; color:#999999; text-align:left}
.product-wrap .product .content_content ul li p{ color:#f75a63; font-size:16px;text-align:center; padding:5px 0;}
.colgroup{ padding-bottom:20px; position:relative}
.colgroup .insert_btn{ position:absolute; right:0; color:#1aa0e1;}
.colgroup label{ color:#666666; display:block; font-size:14px; line-height:30px; display:none;}
.colgroup i{ width:39px; height:39px; display:block; float:left; position:absolute; left:0; top:0;}
.colgroup i.user{ background:url(../Image/wap_static/wap_static_icon.png) no-repeat; background-size:50%; background-position:9px -5px;}
.colgroup i.pwd{ background:url(../Image/wap_static/wap_static_icon.png) no-repeat; background-size:50%; background-position:9px -38px;}
.colgroup input,.colgroup textarea,.outbox{ width:100%; padding:5px; padding-left:40px; border:1px #eeeeee solid; box-sizing:border-box; color:#c7c7c7; border-radius:5px}
.colgroup input,.colgroup textarea,.outbox{ color:#666666;}
.colgroup input:-moz-placeholder,.colgroup textarea:-moz-placeholder {color: #c7c7c7;}
.colgroup input:-ms-input-placeholder,.colgroup textarea:-ms-input-placeholder {color: #c7c7c7;}
.colgroup input::-webkit-input-placeholder,.colgroup textarea::-webkit-input-placeholder {    color: #c7c7c7;}
.colgroup input::placeholder,.colgroup textarea::placeholder {    color: #c7c7c7;}

.colgroup input{ line-height:28px}
.colgroup input[type=radio],.colgroup input[type=checkbox]{ width: auto; margin-right:5px; border:1px #eeeeee solid; box-sizing:border-box; vertical-align:middle}
.colgroup textarea{ line-height:18px;}
.outbox{ line-height:30px;}
.outbox img{ width:83px; vertical-align:middle}
.outbox input[type="radio"],.outbox input[type="checkbox"]{ width:20px; height:20px;}
.count{ height:38px;}
.count input{ width:60px; text-align:center;border-top:1px #eeeeee solid;border-bottom:1px #eeeeee solid; float:left}
.count a.minus,.count a.plus{ width:30px; height:38px; display:block; float:left; text-align:center; background:url(../Image/gift/minus-plus.png) center center no-repeat; overflow:hidden; text-indent:-9999px; border:1px #eeeeee solid; background-size: auto 36%}
.count a.minus{ background-position:10px 11px;border-right:0px #eeeeee solid;}
.count a.plus{background-position:-16px 11px;border-left:0px #eeeeee solid;}
a.btn_one{ width:100%; background-color:#f75a63; color:#fff; font-size:16px; line-height:40px; display:block; text-align:center; margin:15px 0; border-radius:2px;}
p.sweep_tips{ color:#666666; font-size:12px; line-height:16px; padding-bottom:10px;}
.rb{ display:block; text-align:right; background-color:#ffeded; padding:5px;}
.add_info{ background-color:#f7f7f7; border:1px #eeeeee solid; border-top:0; display:block; width:100%; height:38px; color:#c7c7c7; text-align:center; line-height:38px; box-sizing:border-box}
.colgroup em{ width:35px; height:35px; display:block; color:#000; font-size:12px; float:right; position: relative; right:0px; text-align:center; line-height:35px; margin-top:-38px; border:1px #eeeeee solid; border-top:0; border-bottom:0}


/**==================================================================*/


/*登陆*/
.logo{ text-align:center; display:block; padding:50px 0; overflow:hidden;}
.logo div{ width:100px; height:100px; border-radius:100%;  border:1px #dedede solid; margin:0 auto;}
.logo img{ width:100px; height:100px;-webkit-border-radius:100%;  }

.content_mark{ padding:15px 25px; font-size:12px; color:#999999}
.reg_btn{ text-align:center; position: relative; bottom:20px; display:block; width:100%;}
.reg_btn a{ color:#0188cc; font-size:12px; text-decoration:none;}
.reg_btn a:hover{ color:#f75a63; font-size:12px; text-decoration:none;}

/*筛选纬度设置*/
.matrix{ padding:30px 5%;}
.matrix .m_date{}
.matrix .m_type{}
.matrix .m_date dl,.matrix .m_type dl{ margin:0; padding:0; list-style:none; padding-bottom:10px;}
.matrix .m_date dl:after,.matrix .m_type dl:after{ clear:both; content:""; height:0; display:block}
.matrix .m_date dl dt,.matrix .m_type dl dt{ width:62px; text-align:right; padding-right:10px; display:inline-block; float:left;  line-height:21px; border-right:1px #999999 solid; color:#666666}
.matrix .m_date dl dd,.matrix .m_type dl dd{ width:18.75%; display:inline-block; float:left; text-align:center; line-height:19px; border:1px #999999 solid; border-left:0px #999999 solid; font-size:11px;}
.matrix .m_date dl dd a,.matrix .m_type dl dd a{ color:#999999; display:block; width:100%; height:100%;}
.matrix .m_date dl dd a.active,.matrix .m_type dl dd a.active{ color:#f15755; background-color:#fff2f3; border:solid 0px #ffd0d3}
#verify_div input{	width: 60%;padding: 5px;line-height:28px;padding-left: 10px;border: 1px #eeeeee solid;box-sizing: border-box;color: #c7c7c7;border-radius: 5px;}
