@charset "utf-8";
/* CSS 电子海报 */

html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}
h1{color:#fe5502;}
h2{color:#888;text-align:left;}
h3{color:#444;}
h4{color:#444;text-align:left;}
* {-webkit-tap-highlight-color:rgba(0,0,0,0)}

a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1;}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:100%; margin:0 auto; max-width:640px;background:#fff;}
#container {height:100%; min-height:100%;}
#header { height:30px; overflow:hidden;z-index:1; position:relative;text-align:center; padding:7px; border-bottom:solid 1px #dcdcdc;}
#main { height:100%; position:relative;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:5px 0 5px 0;text-align:center;color:#5c5c5c;background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%); font-size:12px; line-height:20px;}
#footer p a{ color:#5c5c5c;}
.shopBoxView { text-align:left;}

.Gloading {width:100%; height:100%; position:fixed; top:0; left:0;background:#fffce5; z-index:100000;}
.Gloading img { position:fixed; top:50%; margin-top:-102px; left:50%; margin-left:-160px; width:320px; height:205px;}
.Gloading .progress {position:fixed; left:50%; margin-left:-100px;width:200px; height:10px; top:50%; margin-top:110px; border:solid 1px #ce9872; border-radius:6px; overflow:hidden;}
.Gloading .progress i { position:absolute; z-index:0; top:0; display:block;width:100%; height:10px;right:100%; background:#ce9872; border-radius:5px;transition:right 1s;}
.Gloading .progress p { position:relative; z-index:1;color:#a4371d; line-height:10px; font-size:12px;}

/*shopModBox-13之前的在Wshop.css中,此处把shopModBox原改为Mod*/
.ModCon { width:100%; height:100%; overflow:hidden;}
.ModCon .Modwapper { width:100%; height:100%; overflow:hidden;}
.ModCon .Modwapper .Modlist { position:relative; width:100%; height:100%; overflow:hidden; float:left;}
.ModCon .Modwapper .Modlist>img { position:absolute; top:0; left:0; width:100%; height:auto; min-height:100%;}

.music { position: absolute; z-index:2; top:10px; right:10px; padding:5px; width:12px; height:12px; border-radius:20px; border:solid 1px #fff; opacity:0.8;}
.music i { display:block; width:12px; height:12px; background:url(../Image/Shop/shopMusic.png) no-repeat 0 0; background-size:100% 100%;}
.music.on i { -webkit-animation:music 1.5s infinite linear;}
.music.on span { position:absolute; top:2px; right:2px; width:10px; height:10px; background:url(../Image/Shop/shopMusic.png) no-repeat 0 0; background-size:100% 100%; opacity:0.8; -webkit-animation:music1 1.5s infinite linear;}
.music.on em { position:absolute; top:-4px; right:-4px; width:8px; height:8px; background:url(../Image/Shop/shopMusic.png) no-repeat 0 0; background-size:100% 100%; opacity:0.8; -webkit-animation:music2 1.5s infinite linear;}
.btn-Hotrecommend { position:absolute; bottom:0; left:0; padding:6px 0 6px 0; width:100%;background:rgba(0,0,0,0.8); text-align:center;-webkit-transform:translate(0,80px);}
.btn-Hotrecommend a { display:inline-block; width:120px; height:35px;margin:0 10px; overflow:hidden; line-height:35px; border-radius:5px; font-size:16px;color: #fff;text-shadow: 0px 1px 0px rgba(0,0,0,0.3);background: #fed76e;background: -webkit-gradient(linear, left top, left bottom, from(#ff7c00), to(#ff5500));box-shadow: 0 3px 3px rgba(0,0,0,0.5);}
.btn-Hotrecommend a.last {background: #dd0007;background: -webkit-gradient(linear, left top, left bottom, from(#ff1600), to(#dd0007));}
.btn-Hotrecommend a.last:hover {background: -webkit-gradient(linear, left top, left bottom, from(#dd0007), to(#ff1600));box-shadow: 0 3px 3px rgba(0,0,0,0.5);}
.btn-Hotrecommend a:hover {background: -webkit-gradient(linear, left top, left bottom, from(#ff5500), to(#ff7c00));box-shadow: 0 3px 3px rgba(0,0,0,0.5);}
.swiper-slide-visible .btn-Hotrecommend {-webkit-animation:Hotrecommend 0.5s 1.5s forwards linear;}

.swiper-slide { position:relative; width:100%; overflow:hidden;}
.swiper-slide>div { position:relative; line-height:0;}
.swiper-slide .img { width:100%; height:auto;}
.page1 { background:#d6e9e3;}
.page2 { background:#010101 url(../Image/Item/ymr5-6.jpg) no-repeat 0 0; background-size:100% auto;}
.page3 { background:#b8e7ff url(../Image/Item/ymr5-10.jpg) no-repeat 0 0; background-size:100% auto;}
.page4 { background:#fdf9ec url(../Image/Item/ymr5-16.jpg) no-repeat 0 0; background-size:100% auto;}
.page5 { background:#fcf5d8 url(../Image/Item/ymr5-12.jpg) no-repeat 0 0; background-size:100% auto;}
.page6 { background:#1d1f21 url(../Image/Item/ymr5-17.jpg) no-repeat 0 0; background-size:100% auto;}
.page7 { background:#13803b url(../Image/Item/ymr5-21.jpg) no-repeat 0 0; background-size:100% auto;}
.page8 { background:#658fc5 url(../Image/Item/ymr5-26.jpg) no-repeat 0 0; background-size:100% auto;}
.page9 { background:#342a2c url(../Image/Item/ymr5-27.jpg) no-repeat 0 0; background-size:100% auto;}
.page10 { background:#afc016 url(../Image/Item/ymr5-31.png) no-repeat 0 0; background-size:100% auto;}
.page11 { background:#df3f41;}


@-webkit-keyframes Hotrecommend
{
	0%{-webkit-transform:translate(0,80px);}
	100%{-webkit-transform:translate(0,0);}
}
	/*模板*/
	
	/*模板*/

@-webkit-keyframes music
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes music1
{
	0%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	10%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	50%{-webkit-transform:rotate(15deg) translate(5px,-5px); opacity:0.8;}
	100%{-webkit-transform:rotate(30deg) translate(10px,-10px); opacity:0;}
}
@-webkit-keyframes music2
{
	0%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	40%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	80%{-webkit-transform:rotate(-30deg) translate(7px,-7px); opacity:0.4;}
	100%{-webkit-transform:rotate(-60deg) translate(14px,-14px); opacity:0;}
}
.ymr-2 { position:absolute; z-index:2; top:0; left:0; width:100%; height:auto;}
.page1-1 { margin-top:5%;}
.page1-2 { position:relative;}
.page1-2 .ymr-1-1 { position:relative;}
.page1-2 .ymr-1-2 { position:absolute; top:0; left:0; -webkit-transform: translate(-300px,); opacity:0;}
.page1-2 .ymr-1-3 { position:absolute; top:0; left:0; -webkit-transform: translate(300px,); opacity:0;}
.page1 p.p1 { margin-top:10px; text-align:center; font-size:18px; color:#505350;}
.page1 p.p2 { position:absolute; bottom:10px; left:0; width:100%; tex=t-align:center; font-size:14px; color:#fff;}
.swiper-slide-visible .ymr-1-2 {-webkit-animation:translateX3 1s 0.2s forwards ease;}
.swiper-slide-visible .ymr-1-3 {-webkit-animation:translateX2 1s 0.2s forwards ease;}

.page2-1 { opacity:0; position:relative; top:8%; margin:0 20px; height:90%; background:rgba(255,255,255,.7);}
.page2-1 h2 { color:#cc3e37; font-size:16px; text-align:center; padding-bottom:10px;}
.page2-1 p { margin:0 10px; padding-top:10px; line-height:25px; text-align: center; color:#000; font-size:14px;}
.page2-1 p.tr { text-align:right;}
.page2-1 img { width:100%; height:auto;}
.swiper-slide-visible .page2-1 {-webkit-animation:opacity2 1s 0.2s forwards linear;}

.page3-1 { position:relative; margin-top:6%; background-image:url(../Image/Item/ymr5-7.png); background-position: repeat-y; background-size:auto 100%;}
.page3-1 .ymr-3-1 { position:relative; background-image:url(../Image/Item/ymr5-8.png); background-size:100% auto;}
.page3 .page3-2 h2 { line-height:40px; text-align:center; font-size:20px; color:#1594d5;}
.page3 .page3-2 p { line-height:18px; text-align:left; color:#114966; margin:0 20px; padding-bottom:10px; font-size:14px;}
.swiper-slide-visible .page3-1 {-webkit-animation:bg 30s 0.2s infinite linear;}
.swiper-slide-visible .ymr-3-1 {-webkit-animation:bg2 0.3s 0.2s infinite linear;}

.page4-1 { position:relative; margin-top:9%;}
.page4-1 .ymr-4-1 { position:absolute; position:relative; opacity:0;}
.page4-1 .ymr-4-2 { position:absolute; z-index:2; top:0; left:0; opacity:0;}
.page4-1 .ymr-4-3 { position:absolute; top:0; left:0; opacity:0;}
.page4 .page4-2 h2 { line-height:40px; text-align:center; font-size:20px; font-weight:bold; color:#ef9785;}
.page4 .page4-2 p { line-height:18px; text-align:left; color:#333; margin:0 20px; padding-bottom:10px; font-size:14px;}
.swiper-slide-visible .ymr-4-1 {-webkit-animation:opacity2 1.2s 0.2s forwards linear;}
.swiper-slide-visible .ymr-4-2 {-webkit-animation:opacity2 1.2s 0.4s forwards linear;}
.swiper-slide-visible .ymr-4-3 {-webkit-animation:opacity2 1.2s 0.6s forwards linear;}

.page5-1 { opacity:0; position:relative; top:10%; margin:0 20px; height:86%; background:rgba(255,255,255,.7);}
.page5-1 h2 { padding-top:20px; color:#964d16; font-size:20px; line-height:30px; text-align:center; padding-bottom:10px;}
.page5-1 h2 span { font-size:24px;}
.page5-1 p { margin:0 20px; padding-top:5px; line-height:20px; text-align: left; color:#000; font-size:14px;}
.page5-1 img { width:96%; margin:2%; height:auto;}
.swiper-slide-visible .page5-1 {-webkit-animation:opacity2 1s 0.2s forwards linear;}

.page6-1 { opacity:0; position:relative; top:10%; left:0; width:100%; height:90%;}
.page6-1 h2 { line-height:30px; text-align:center; font-size:20px; color:#fff;}
.page6-1 .ymr-6-1 { position:absolute; top:20px; left:0;}
.page6-1 .ymr-6-2 { position:absolute; top:20px; left:0;}
.page6-1 .ymr-6-3 { position:absolute; bottom:0px; left:0;}
.swiper-slide-visible .page6-1 {-webkit-animation:opacity2 1s 0.2s forwards linear;}
.swiper-slide-visible .ymr-6-1 {-webkit-animation:rotate3 0.3s 1.2s forwards linear; -webkit-transform-origin: center bottom;}
.swiper-slide-visible .ymr-6-2 {-webkit-animation:rotate4 0.3s 1.2s forwards linear; -webkit-transform-origin: center bottom;}

.page7-1 { position:relative; margin-bottom:16%;}
.page7-1 .ymr-7-1 { position:relative; margin-top:8%; opacity:0;}
.page7 .page7-2 { margin-top:58%;}
.page7 .page7-2 p { line-height:18px; text-align:left; color:#fff; margin:0 13px; padding-bottom:10px; font-size:14px;}
.swiper-slide-visible .ymr-7-1 {-webkit-animation:opacity2 1s 0.2s forwards linear;}

.page8-1 { opacity:0; position:relative; top:10%; margin:0 20px; height:86%; background:rgba(255,255,255,.7);}
.page8-1 h2 { padding-top:20px; color:#164b9f; font-size:18px; line-height:30px; text-align:center;}
.page8-1 p { margin:0 10px; line-height:18px; text-align: left; color:#000; font-size:14px;}
.page8-1 img { width:100%; height:auto;}
.swiper-slide-visible .page8-1 {-webkit-animation:opacity2 1s 0.2s forwards linear;}

.page9-1 { position:relative; top:16%; margin:0 20px; height:80%;}
.page9-1 p { position:absolute; bottom:5%; left:50%; margin-left:-150px; line-height:25px; width:300px; text-align: center; color:#fff; font-size:16px;}
.page9-1 p a { margin-top:10px;}
.page9-1 img { width:100%; height:auto;}
.page9-1 .ymr-9-1 { position:absolute; bottom:10%; width:100%; left:0;}
.page9-1 .ymr-9-2 { position:absolute; top:0; left:0; -webkit-transform:translate(-300px,0); opacity:0;}
.page9-1 .ymr-9-3 { position:absolute; top:0; left:0; -webkit-transform:translate(300px,0); opacity:0;}
.swiper-slide-visible .ymr-9-1 {-webkit-animation:scale3 30s 0.2s forwards linear;}
.swiper-slide-visible .ymr-9-2 {-webkit-animation:translateX3 1s 0.6s forwards linear;}
.swiper-slide-visible .ymr-9-3 {-webkit-animation:translateX2 1s 1s forwards linear;}


.page10-1 { opacity:0; position:relative; top:8%; margin:0 20px; height:86%; background:#fff;}
.page10 .ymr-10-1 { position:absolute; bottom:-20px; left:0; width:100%;}
.page10 .page10-1 h2 { line-height:40px; text-align:center; font-size:18px; font-weight:bold; color:#185b83;}
.page10 .page10-1 p { line-height:18px; text-align:left; color:#333; margin:0 10px; padding-bottom:8px; font-size:14px;}
.swiper-slide-visible .page10-1 {-webkit-animation:opacity2 1s 0.2s forwards linear;}
.swiper-slide-visible .ymr-10-1 {-webkit-animation:translateX4 1s infinite linear;}

.ymr-22 { position:relative; margin:0 auto; width:100%; opacity:0;}
.swiper-slide-visible .ymr-22 {-webkit-animation:scale2 1s 0.5s forwards linear;}
.page11 a { position:absolute; left:50%; margin-left:-100px; bottom:20px; width:200px; height:40px; line-height:40px; font-size:18px; border:solid 1px #ffee04; border-radius:5px; background:none; color:#ffee04; opacity:0;}
.page11 a:hover {-webkit-animation:btn 0.4s forwards ease;}
.swiper-slide-visible.page11 a {-webkit-animation:opacity3 1s 1s forwards linear;}

.wait { position:fixed; left:50%; margin-left:-90px; top:50%; margin-top:-10px; border-radius:10px; width:180px; height:16px; background:rgba(47,147,237,0.5); border: solid 1px #2f8ded;z-index:100; font-size:12px; overflow:hidden;}
.wait p { color:#fff; text-align:center; position:relative; z-index:2; line-height:16px;}
.wait:after { position:absolute; z-index:0; left:-100%; top:0; width:180px; height:16px;border-radius:10px;background:#2f8ded;-webkit-animation:wait 0.4s forwards ease-out; content:"";-webkit-animation:wait 4s forwards ease-out;}
@-webkit-keyframes wait
{
	0%{left:-100%;}
	100%{left:0%;}
}

a.btn-all { display:inline-block; margin:0 auto; width:100px; height:28px; line-height:28px; font-size:14px; font-weight:normal; border-radius:3px; color:#fff;}
a.btn-all:hover {-webkit-animation:btn 0.4s forwards ease;}
a.btn-all.btn1 { background:#ef9785; box-shadow:0 3px 0 #c1796b;}
a.btn-all.btn2 { background:#164b9f; box-shadow:0 3px 0 #123c80;}
a.btn-all.btn3 { background:#9b97c9; box-shadow:0 3px 0 #7d79a2;}
a.btn-all.btn4 { background:#5a4741; box-shadow:0 3px 0 #493934;}
a.btn-all.btn5 { background:#ca010b; box-shadow:0 3px 0 #a30109;}
@-webkit-keyframes rotate1{
	0%{-webkit-transform: rotate(0deg);}
	25%{-webkit-transform: rotate(6deg);}
	50%{-webkit-transform: rotate(0deg);}
	75%{-webkit-transform: rotate(3deg);}
	100%{-webkit-transform: rotate(0deg);}
}
@-webkit-keyframes rotate2{
	0%{-webkit-transform: rotate(0deg);}
	25%{-webkit-transform: rotate(3deg);}
	50%{-webkit-transform: rotate(0deg);}
	75%{-webkit-transform: rotate(-3deg);}
	100%{-webkit-transform: rotate(0deg);}
}
@-webkit-keyframes rotate3{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(-10deg);}
}
@-webkit-keyframes rotate4{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(10deg);}
}
@-webkit-keyframes btn{
	0%{-webkit-transform:scale(1,1) translateY(0);}
	50%{-webkit-transform:scale(.98,.98) translateY(3px);}
	100%{-webkit-transform:scale(1,1) translateY(0);}
}
@-webkit-keyframes bg{
	0%{ background-position:0 0 ;}
	100%{ background-position:6000px 0 ;}
}
@-webkit-keyframes bg2{
	0%{ background-image:url(../Image/Item/ymr5-8.png) ;}
	100%{ background-image:url(../Image/Item/ymr5-9.png) ;}
}
@-webkit-keyframes show {
	0%{ opacity:0;}
	100%{ opacity:1;}
}
@-webkit-keyframes opacity {
	0%{ opacity:0;}
	100%{ opacity:1;}
}
@-webkit-keyframes opacity2 {
	0%{ opacity:0; -webkit-transform:translateY(-120px);}
	100%{ opacity:1; -webkit-transform:translateY(0px);}
}
@-webkit-keyframes scale {
	0% {opacity:0;-webkit-transform: scale(10,10);}
	20% {opacity:1;-webkit-transform: scale(1,1);}
	40% {opacity:1;-webkit-transform: scale(0.9,0.9);}
	60% {opacity:1;-webkit-transform: scale(1.1,1.1);}
	80% {opacity:1;-webkit-transform: scale(0.95,0.95);}
	100% {opacity:1;-webkit-transform: scale(1,1);}
}
@-webkit-keyframes scale2 {
	0% {opacity:0;-webkit-transform: scale(0);}
	20% {opacity:1;-webkit-transform: scale(1);}
	40% {opacity:1;-webkit-transform: scale(1.1);}
	60% {opacity:1;-webkit-transform: scale(0.95);}
	80% {opacity:1;-webkit-transform: scale(1.05);}
	100% {opacity:1;-webkit-transform: scale(1);}
}
@-webkit-keyframes scale3 {
	0% {-webkit-transform: scale(1,1) translate(0,0);}
	100% {-webkit-transform: scale(0.5,0.5) translate(0,-40px);}
}
@-webkit-keyframes opacity3 {
	0%{ opacity:0; -webkit-transform:translateY(40px);}
	100%{ opacity:1; -webkit-transform:translateY(0px);}
}
@-webkit-keyframes wobble {
	0% {-webkit-transform: translateX(0px);}
	20% {-webkit-transform: translateX(-20px) rotate(-5deg);}
	40% {-webkit-transform: translateX(15px) rotate(3deg);}
	60% {-webkit-transform: translateX(-10px) rotate(-3deg);}
	80% {-webkit-transform: translateX(5px) rotate(2deg);}
	100% {-webkit-transform: translateX(0px) rotate(-1deg);}
}
@-webkit-keyframes rotate{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes translateX {
	0% {-webkit-transform: translateX(0px);}
	50% {-webkit-transform: translateX(160px);}
	100% {-webkit-transform: translateX(0px);}
}
@-webkit-keyframes translateX2 {
	0% { opacity:0;-webkit-transform: translateX(300px);}
	33% { opacity:1;-webkit-transform: translateX(-20px);}
	66% { opacity:1;-webkit-transform: translateX(10px);}
	100% { opacity:1;-webkit-transform: translateX(0px);}
}
@-webkit-keyframes translateX3 {
	0% { opacity:0;-webkit-transform: translateX(-300px);}
	33% { opacity:1;-webkit-transform: translateX(20px);}
	66% { opacity:1;-webkit-transform: translateX(-10px);}
	100% { opacity:1;-webkit-transform: translateX(0px);}
}
@-webkit-keyframes translateX4 {
	0% {-webkit-transform: translateX(0px);}
	25% {-webkit-transform: translateX(-10px);}
	50% {-webkit-transform: translateX(0px);}
	75% {-webkit-transform: translateX(10px);}
	100% {-webkit-transform: translateX(0px);}
}
@-webkit-keyframes translateY {
	0% {-webkit-transform: translateY(0px);}
	40% {-webkit-transform: translateY(-6px);}
	60% {-webkit-transform: translateY(0px);}
	80% {-webkit-transform: translateY(14px);}
	100% {-webkit-transform: translateY(0px);}
}
@-webkit-keyframes scaleY {
	0% {opacity:0;-webkit-transform: scaleY(0);}
	20% {opacity:1;-webkit-transform: scaleY(1);}
	40% {opacity:1;-webkit-transform: scaleY(1.2);}
	60% {opacity:1;-webkit-transform: scaleY(0.8);}
	80% {opacity:1;-webkit-transform: scaleY(1.1);}
	100% {opacity:1;-webkit-transform: scaleY(1);}
}
@media screen and (min-width: 320px) and (min-height: 490px){
	.page1-1 { margin-top:15%;}
	.page1-2 { margin-top:15%;}
	.page2-1 {height:86%;}
	.page2-1 p {padding-top:20px; line-height:30px; font-size:16px;}
	.page3-1 { margin-top:15%;}
	.page3 .page3-2 h2 { line-height:60px;font-size:20px;}
	.page3 .page3-2 p { line-height:23px; }
	.page4-1 {margin-top:20%;}
	.page4 .page4-2 h2 {padding-top:15px; line-height:40px; font-size:24px;}
	.page4 .page4-2 p {padding-top:15px; line-height:25px;}
	.page5-1 { top:12%; height:76%;}
	.page5-1 h2 { padding-top:20px; color:#964d16; line-height:35px;}
	.page5-1 h2 span { font-size:24px;}
	.page5-1 p { line-height:28px;}
	.page6-1 { top:10%; left:0; width:100%; height:90%;}
	.page6-1 h2 { line-height:40px; font-size:20px;}
	.page6-1 .ymr-6-1 {top:40px;}
	.page6-1 .ymr-6-2 {top:40px;}
	.page6-1 .ymr-6-3 {bottom:30px;}
	.page7-1 { margin-bottom:20%;}
	.page7 .page7-2 p { padding-top:10px; line-height:25px;margin:0 20px;}
	.page8-1 { top:12%; height:76%;}
	.page8-1 h2 { padding-top:20px; line-height:30px;padding-bottom:10px;}
	.page8-1 p { margin:0 20px; line-height:23px; padding-bottom:10px;}
	.page9-1 p {line-height:30px;}
	.page10-1 { top:12%; margin:0 20px; height:76%;}
	.page10 .ymr-10-1 {bottom:0px;}
	.page10 .page10-1 h2 { padding:10px; line-height:30px;}
	.page10 .page10-1 p { line-height:23px; margin:0 10px; padding-bottom:12px;}
}
@media screen and (min-width: 375px) and (min-height: 590px){
	.page1-1 { margin-top:10%;}
	.page1-2 { margin-top:10%;}
	.page2-1 { top:12%;height:76%;}
	.page2-1 p {padding-top:20px; line-height:28px;}
	.page3-1 { margin-top:20%;}
	.page3 .page3-2 h2 { padding-top:30px; line-height:60px;font-size:24px;}
	.page3 .page3-2 p { line-height:23px; font-size:16px;}
	.page4-1 {margin-top:25%;}
	.page4 .page4-2 h2 {padding-top:20px; line-height:40px; font-size:28px;}
	.page4 .page4-2 p {padding-top:20px; line-height:30px; font-size:16px;}
	.page5-1 { top:12%; height:76%;}
	.page5-1 h2 { padding-top:20px; color:#964d16; line-height:35px; font-size:24px;}
	.page5-1 h2 span { font-size:28px;}
	.page5-1 p { line-height:32px; font-size:16px;}
	.page6-1 { top:10%; left:0; width:100%; height:90%;}
	.page6-1 h2 { line-height:40px; font-size:20px;}
	.page6-1 .ymr-6-1 {top:60px;}
	.page6-1 .ymr-6-2 {top:60px;}
	.page6-1 .ymr-6-3 {bottom:40px;}
	.page7-1 { margin-bottom:25%;}
	.page7 .page7-2 p { padding-top:10px; line-height:30px;margin:0 20px;font-size:16px;}
	.page8-1 { top:12%; height:80%;}
	.page8-1 h2 { padding-top:20px;font-size:18px;padding-bottom:10px;}
	.page8-1 p { margin:0 20px; line-height:30px;font-size:16px; padding-bottom:10px;}
	.page9-1 p {line-height:30px; font-size:18px;}
	.page10-1 { top:12%; margin:0 20px; height:76%;}
	.page10 .ymr-10-1 {bottom:20px;}
	.page10 .page10-1 h2 { padding:10px 0; line-height:40px;}
	.page10 .page10-1 p { line-height:25px; margin:0 20px; padding-bottom:8px; font-size:16px;}
}
