.copyright { padding-top:10px; padding-bottom: 10px; background:#f4f4f4; position: relative; z-index: 2; clear: both; display: block;}
.copyright .found { line-height: 30px; margin-bottom: 5px; border-bottom: 1px #959595 dashed;}
.copyright .found a { line-height: 30px; font-size: 13px; color: #3488c6;}
.copyright p,.copyright p a { font-size: 12px; line-height: 20px; color: #959595;}
.copyright p a:before { content: ""; display: inline-block; width: 15px; height: 14px; margin-right: 3px; vertical-align: middle;}
.copyright p a:first-child:before { background: url(../Image/duanwu/Item/icon_1.png) no-repeat; background-size: 100%;}
.copyright p a:last-child:before { background: url(../Image/duanwu/Item/icon_2.png) no-repeat; background-size: 100%;}