/*======Reset=======*/
body,h1,h2,h3,h4,h5,h6,hr,menu,p,blockquote,ol,ul,dl,dd,td,th,figure,pre,button,input,textarea{margin:0;padding:0;font-family:Microsoft YaHei;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp,tt{font-family:Microsoft YaHei;}
button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
a,a:hover{text-decoration:none;}
*{-webkit-tap-highlight-color: rgba(0,0,0,0);}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';}
label,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="password"]{cursor:pointer;}
del{text-decoration:line-through;}
ins{text-decoration:none;}
abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help;}
mark{background-color:yellow;}
input[type=submit],input[type=button],input[type=text],input[type=password]{-webkit-appearance:none;box-sizing:content-box;border:0;border-radius:0;box-shadow: none;font-family: Microsoft YaHei;}
textarea{font-family: Microsoft YaHei;}
body{font-family: Microsoft YaHei;font-size:12px;line-height: 1.5;}
.clearfix:after{clear:both;display: block;content: "...";visibility: hidden;height: 0;font-size: 0;}
.clearfix{*zoom:1;}
.l{ float:left}
.r{ float:right}
.tr{ text-align:right}
.tc{ text-align:center}
.redfont{ color:#d10a0a; padding:0 3px;}
i{ font-style:normal}
.m4{ margin:0px 4.6875%;}
.p4{ padding:0px 4.6875%;}
.noborder-b{ border-bottom:0}
.noborder-t{ border-top:0}
/*layout*/
.wrapper{height:100%; margin:0 auto; width:100%; max-width:640px; overflow:hidden;}
.colgroup{ position:relative}
.colgroup label{ color:#666666; display:block; font-size:14px; line-height:30px; display:none;}
.colgroup input,.colgroup textarea{ width:100%; padding:5px; border:1px #eeeeee solid; box-sizing:border-box; color:#333; font-size:16px; text-align:center; border-radius:2px; line-height:28px}
.colgroup input:-moz-placeholder,.colgroup textarea:-moz-placeholder {color: #c7c7c7; text-align:center; font-size:14px;}
.colgroup input:-ms-input-placeholder,.colgroup textarea:-ms-input-placeholder {color: #c7c7c7; text-align:center; font-size:14px;}
.colgroup input::-webkit-input-placeholder,.colgroup textarea::-webkit-input-placeholder {color: #c7c7c7; text-align:center; font-size:14px;}
.colgroup input::placeholder,.colgroup textarea::placeholder {color: #c7c7c7; text-align:center; font-size:14px;}


/*引导页*/
.swiper-container {	margin:0 auto;	position: absolute;	overflow:hidden; width:100%; height:100%;	z-index:1;}
.swiper-wrapper {	position:relative;	width:100%;	-webkit-transition-property:-webkit-transform, left, top;	-webkit-transition-duration:0s;	-webkit-transform:translate3d(0px,0,0);	-webkit-transition-timing-function:ease;	-moz-transition-property:-moz-transform, left, top;	-moz-transition-duration:0s;	-moz-transform:translate3d(0px,0,0);	-moz-transition-timing-function:ease;	-o-transition-property:-o-transform, left, top;	-o-transition-duration:0s;	-o-transform:translate3d(0px,0,0);	-o-transition-timing-function:ease;	-o-transform:translate(0px,0px); -ms-transition-property:-ms-transform, left, top;	-ms-transition-duration:0s;	-ms-transform:translate3d(0px,0,0);	-ms-transition-timing-function:ease;	
	transition-property:transform, left, top;	transition-duration:0s;	transform:translate3d(0px,0,0);	transition-timing-function:ease;
	-webkit-box-sizing: content-box;	-moz-box-sizing: content-box;	box-sizing: content-box;}
.swiper-free-mode > .swiper-wrapper {	-webkit-transition-timing-function: ease-out;	-moz-transition-timing-function: ease-out;	-ms-transition-timing-function: ease-out;	-o-transition-timing-function: ease-out;	transition-timing-function: ease-out;	margin: 0 auto;}
.swiper-slide {	float: left;	-webkit-box-sizing: content-box;	-moz-box-sizing: content-box;	box-sizing: content-box;}

.swiper-container {  width: 100%;  max-width:640px;  height: 100%;  color: #fff;  text-align: center;  margin:0 auto;}
.swiper-slide{float: left;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;position:relative;margin:0 auto;text-align:center}
.swiper-slide .title {  font-style: italic;  font-size: 42px;  margin-top: 80px;  margin-bottom: 0;  line-height: 45px;}
.pagination {display: block;position: absolute;bottom: 0px;left: 50%;margin-left: -3.8%;width: 7.5%;animation: moveIcon 1.2s linear 0 infinite;-webkit-animation: moveIcon 1.2s linear 0 infinite; z-index:9999}
.swiper-pagination-switch {display: block;width: 24px;height: 77px;margin: 0  auto;cursor: pointer;background: url(../Image/experienceArea/arrow.png) bottom center no-repeat;background-size:90%;display:none;animation: moveIcon 1.2s linear 0 infinite;-webkit-animation: moveIcon 1.2s linear 0 infinite;}
.swiper-active-switch {width: 24px;height: 77px;margin:0 auto;cursor: pointer;display:block;background: url(../Image/experienceArea/arrow.png) bottom center no-repeat;background-size:90%;animation: moveIcon 1.2s linear 0 infinite;-webkit-animation: moveIcon 1.2s linear 0 infinite; z-index:9999}
.swiper-pagination-switch:nth-of-type(3){ display:none}
/*登陆体验厅*/
.bgblue{ background:#89b0d5;}
.login_title{ background:url(../Image/experienceArea/login_title.png) no-repeat; background-size:100%; width:100%; min-width:320px; height:auto; min-height:80px; margin:42px 0 37px;}
a.btn_one{ background-color:#1e568f; color:#fff; font-size:14px; font-weight:bold; line-height:40px; display:block; text-align:center; margin:15px 4.6875%; border-radius:2px;}
a.btn_one:hover{ background-color:#1e568f; color:#fff; font-size:14px; font-weight:bold; line-height:40px; display:block; text-align:center; margin:15px 4.6875%; border-radius:2px;}
/*获取验证码引导页1*/
/*p1*/
#p1 .slogan{width:100%;min-width:320px;height:auto;min-height:70px;background:url(../Image/experienceArea/index1_title.png) center no-repeat;background-size:auto 100%; display:block;margin:40px 0 15px;}
.swiper-slide-visible .slogan{animation-name: bounceInDown;-webkit-animation-name: bounceInDown;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;    animation-delay: 0s;-webkit-animation-delay: 0s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}

#p1 .p1_picArea{ position:relative;width:100%;min-width:320px;height:auto; min-height:410px}

#p1 .p1_picArea .p1_p1{ background:url(../Image/experienceArea/index1_pic1.png) no-repeat;width:100%;min-width:320px;height:100%;min-height:360px;background-size:100% auto; display:block; position:absolute; top:15px; z-index:6;}
.swiper-slide-visible .p1_p1{animation-name: bounceInLeft;-webkit-animation-name: bounceInLeft;animation-duration:0.5s;-webkit-animation-duration: 0.5s;animation-delay: 0.2s;-webkit-animation-delay: 0.2s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}


#p1 .p1_picArea .p1_p2{background:url(../Image/experienceArea/index1_pic2.png) no-repeat;width:100%;min-width:320px;height:100%;min-height:360px;background-size:100% auto; display:block; position:absolute; top:15px; z-index:5}
.swiper-slide-visible .p1_p2{animation-name: bounceInLeft;-webkit-animation-name: bounceInLeft;animation-duration: 0.8s;-webkit-animation-duration: 0.8s;animation-delay: 0.1s;-webkit-animation-delay: 0.1s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}


#p1 .p1_picArea .p1_p3{background:url(../Image/experienceArea/index1_pic3.png) no-repeat;width:100%;min-width:320px;height:100%;min-height:360px;background-size:100% auto; display:block; position:absolute; top:15px; z-index:4}
.swiper-slide-visible .p1_p3{animation-name: bounceInLeft;-webkit-animation-name: bounceInLeft;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;animation-delay: 0s;-webkit-animation-delay: 0s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}


#p1 .p1_highPoint{width:100%;min-width:320px;height:100%;background-size:100% auto; display:block; position:absolute; top:182px; z-index:30;}

#p1 .p1_highPoint .hp1{ position: absolute;width:100%; height:auto;}
.swiper-slide-visible .p1_highPoint .hp1 {animation-name: bounceInLeft;-webkit-animation-name: bounceInLeft;animation-duration: 0.5s;-webkit-animation-duration: 0.5s;animation-delay: 1s;-webkit-animation-delay: 1s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}

#p1 .p1_highPoint .hp1 .flag{ background:url(../Image/experienceArea/index1_tip1.png) no-repeat;width:100%;min-width:320px;height:100%;min-height:52px;background-size: 100% auto; display:block; position: absolute; top:-45px;}
#p1 .p1_highPoint .hp1 .location{ background:url(../Image/experienceArea/index1_circles1.png) center no-repeat;width:100%;min-width:320px;height:100%;min-height:16px;background-size: 100% auto; display:block; position: absolute; top:0; animation: moveIcon2 1.2s linear 0 infinite;-webkit-animation: moveIcon2 1.2s linear 0 infinite;}


#p1 .p1_highPoint .hp2{ position: absolute;width:100%; height:auto;}
.swiper-slide-visible .p1_highPoint .hp2 {animation-name: bounceInRight;-webkit-animation-name: bounceInRight;animation-duration: 0.5s;-webkit-animation-duration: 0.5s;animation-delay: 1s;-webkit-animation-delay: 1s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}

#p1 .p1_highPoint .hp2 .flag{ background:url(../Image/experienceArea/index1_tip2.png) no-repeat;width:100%;min-width:320px;height:100%;min-height:167px;background-size: 100% auto; display:block; position: absolute; top:16px;}
#p1 .p1_highPoint .hp2 .location{ background:url(../Image/experienceArea/index1_circles2.png) center no-repeat;width:100%;min-width:320px;height:100%;min-height:16px;background-size: 100% auto; display:block; position: absolute; top:170px;animation: moveIcon2 1.2s linear 0 infinite;-webkit-animation: moveIcon2 1.2s linear 0 infinite;}


#p1 .p1_highPoint .hp3{ position: absolute;width:100%; height:auto;}
.swiper-slide-visible .p1_highPoint .hp3 {animation-name: bounceInRight;-webkit-animation-name: bounceInRight;animation-duration: 0.5s;-webkit-animation-duration: 0.5s;animation-delay: 1s;-webkit-animation-delay: 1s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}

#p1 .p1_highPoint .hp3 .flag{ background:url(../Image/experienceArea/index1_tip3.png) no-repeat;width:100%;min-width:320px;height:100%;min-height:52px;background-size: 100% auto; display:block; position: absolute; top:193px;}
#p1 .p1_highPoint .hp3 .location{ background:url(../Image/experienceArea/index1_circles3.png) center no-repeat;width:100%;min-width:320px;height:100%;min-height:16px;background-size: 100% auto; display:block; position: absolute; top:237px;animation: moveIcon2 1.2s linear 0 infinite;-webkit-animation: moveIcon2 1.2s linear 0 infinite;}

/*p2*/
#p2 .slogan{width:100%;min-width:320px;height:auto;min-height:70px;background:url(../Image/experienceArea/index2_title.png) center no-repeat;background-size: 100% auto; display:block;margin:40px 0 15px;}
.swiper-slide-visible .slogan{animation-name: bounceInDown;-webkit-animation-name: bounceInDown;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;    animation-delay: 0s;-webkit-animation-delay: 0s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}

#p2 .p2_picArea{ position:relative;width:100%;min-width:320px;height:auto; min-height:410px}

#p2 .p2_picArea .p2_p1{ background:url(../Image/experienceArea/index2_pic1.png) no-repeat;width:100%;min-width:320px;height:100%;min-height:360px;background-size:100% auto; display:block; position:absolute; top:15px; z-index:10}
.swiper-slide-visible .p2_p1{animation-name: bounceInRight;-webkit-animation-name: bounceInRight;animation-duration:0.5s;-webkit-animation-duration: 0.5s;animation-delay: 0.2s;-webkit-animation-delay: 0.2s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}


#p2 .p2_picArea .p2_p2{background:url(../Image/experienceArea/index2_pic2.png) no-repeat;width:100%;min-width:320px;height:100%;min-height:360px;background-size: 100% auto; display:block; position:absolute; top:15px; z-index:9}
.swiper-slide-visible .p2_p2{animation-name: bounceInRight;-webkit-animation-name: bounceInRight;animation-duration: 0.8s;-webkit-animation-duration: 0.8s;animation-delay: 0.1s;-webkit-animation-delay: 0.1s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}


#p2 .p2_picArea .p2_p3{background:url(../Image/experienceArea/index2_pic3.png) no-repeat;width:100%;min-width:320px;height:100%;min-height:360px;background-size: 100% auto; display:block; position:absolute; top:15px; z-index:8}
.swiper-slide-visible .p2_p3{animation-name: bounceInRight;-webkit-animation-name: bounceInRight;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;animation-delay: 0s;-webkit-animation-delay: 0s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}


#p2 .p2_highPoint{width:100%;min-width:320px;height:100%;background-size:100% auto; display:block; position:absolute; top:182px; z-index:40;;}




#p2 .p2_highPoint .hp1{ position: absolute; width:100%; height:auto;}

.swiper-slide-visible .p2_highPoint .hp1 {animation-name: bounceInLeft;-webkit-animation-name: bounceInLeft;animation-duration: 0.5s;-webkit-animation-duration: 0.5s;animation-delay: 1s;-webkit-animation-delay: 1s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}

#p2 .p2_highPoint .hp1 .flag{ background:url(../Image/experienceArea/index2_tip1.png) no-repeat;width:100%;min-width:320px;height:100%;min-height:154px;background-size:auto 100%; display:block; position: absolute; top:-53px;}
#p2 .p2_highPoint .hp1 .location{ background:url(../Image/experienceArea/index2_circles1.png) no-repeat;width:100%;min-width:320px;height:100%;min-height:16px;background-size: 100% auto; display:block; position: absolute; top:85px;animation: moveIcon2 1.2s linear 0 infinite;-webkit-animation: moveIcon2 1.2s linear 0 infinite;}


#p2 .p2_highPoint .hp2{ position: absolute; width:100%; height:auto;}
.swiper-slide-visible .p2_highPoint .hp2 {animation-name: bounceInLeft;-webkit-animation-name: bounceInLeft;animation-duration: 0.5s;-webkit-animation-duration: 0.5s;animation-delay: 1s;-webkit-animation-delay: 1s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}

#p2 .p2_highPoint .hp2 .flag{ background:url(../Image/experienceArea/index2_tip2.png) no-repeat;width:100%;min-width:320px;height:100%;min-height:154px;background-size: 100% auto; display:block; position: absolute; top:-45px;}
#p2 .p2_highPoint .hp2 .location{ background:url(../Image/experienceArea/index2_circles2.png)  no-repeat;width:100%;min-width:320px;height:100%;min-height:16px;background-size:100% auto ; display:block; position: absolute; top:77px;animation: moveIcon2 1.2s linear 0 infinite;-webkit-animation: moveIcon2 1.2s linear 0 infinite;}


#p2 .p2_highPoint .hp3{ position: absolute;  width:100%; height:auto;}
.swiper-slide-visible .p2_highPoint .hp3 {animation-name: bounceInLeft;-webkit-animation-name: bounceInLeft;animation-duration: 0.5s;-webkit-animation-duration: 0.5s;animation-delay: 1s;-webkit-animation-delay: 1s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}

#p2 .p2_highPoint .hp3 .flag{ background:url(../Image/experienceArea/index2_tip3.png) no-repeat;width:100%;min-width:320px;height:100%;min-height:58px;background-size: 100% auto; display:block; position: absolute; top:153px;}
#p2 .p2_highPoint .hp3 .location{ background:url(../Image/experienceArea/index2_circles3.png) no-repeat;width:100%;min-width:320px;height:100%;min-height:16px;background-size: 100% auto; display:block; position: absolute; top:206px;animation: moveIcon2 1.2s linear 0 infinite;-webkit-animation: moveIcon2 1.2s linear 0 infinite;}

/*p3*/

#p3 .slogan{width:100%;min-width:320px;height:auto;min-height:70px;background:url(../Image/experienceArea/index3_title.png) center no-repeat;background-size:  100% auto; display:block;margin:40px 0 15px;}
.swiper-slide-visible .slogan{animation-name: bounceInDown;-webkit-animation-name: bounceInDown;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;    animation-delay: 0s;-webkit-animation-delay: 0s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}

#p3 .p3_picArea{ position:relative;width:100%;min-width:320px;height:auto; min-height:360px}

#p3 .p3_picArea .p3_p1{ background:url(../Image/experienceArea/index3_pic.png) no-repeat;width:100%;min-width:320px;height:auto;min-height:192px;background-size:100% auto; display:block; position:absolute; top:0; z-index:6;}
.swiper-slide-visible .p3_p1{animation-name: bounceInLeft;-webkit-animation-name: bounceInLeft;animation-duration:0.5s;-webkit-animation-duration: 0.5s;animation-delay: 0.2s;-webkit-animation-delay: 0.2s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}

@media (min-device-width : 360px) and (max-device-width : 568px) and (-webkit-min-device-pixel-ratio : 2){
#p1 .p1_picArea .p1_p1,#p1 .p1_picArea .p1_p2,#p1 .p1_picArea .p1_p3{ min-height:421px;}
#p2 .p2_picArea .p2_p1,#p2 .p2_picArea .p2_p2,#p2 .p2_picArea .p2_p3{ min-height:421px;}

#p1 .p1_highPoint{width:100%;min-width:320px;height:100%;background-size:100% auto; display:block; position:absolute; top:182px; z-index:30;animation-name: zoomIn;-webkit-animation-name: zoomIn;animation-duration: 0.5s;-webkit-animation-duration: 0.5s;animation-delay: 1s;-webkit-animation-delay: 1s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}
#p1 .p1_highPoint .hp1{ position: absolute;}
#p1 .p1_highPoint .hp1 .flag{ background:url(../Image/experienceArea/index1_tip1.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:52px;background-size: 100% auto; display:block; position: absolute; top:-45px;}
#p1 .p1_highPoint .hp1 .location{ background:url(../Image/experienceArea/index1_circles1.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:16px;background-size: 100% auto; display:block; position: absolute; top:0; animation: moveIcon2 1.2s linear 0 infinite;-webkit-animation: moveIcon2 1.2s linear 0 infinite;}


#p1 .p1_highPoint .hp2{ position: absolute;}
#p1 .p1_highPoint .hp2 .flag{ background:url(../Image/experienceArea/index1_tip2.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:167px;background-size: 100% auto; display:block; position: absolute; top:-45px;}
#p1 .p1_highPoint .hp2 .location{ background:url(../Image/experienceArea/index1_circles2.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:16px;background-size: 100% auto; display:block; position: absolute; top:114px;animation: moveIcon2 1.2s linear 0 infinite;-webkit-animation: moveIcon2 1.2s linear 0 infinite;}


#p1 .p1_highPoint .hp3{ position: absolute;}
#p1 .p1_highPoint .hp3 .flag{ background:url(../Image/experienceArea/index1_tip3.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:52px;background-size: 100% auto; display:block; position: absolute; top:134px;}
#p1 .p1_highPoint .hp3 .location{ background:url(../Image/experienceArea/index1_circles3.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:16px;background-size:100% auto ; display:block; position: absolute; top:179px;animation: moveIcon2 1.2s linear 0 infinite;-webkit-animation: moveIcon2 1.2s linear 0 infinite;}

#p2 .p2_highPoint{width:100%;min-width:375px;height:100%;background-size:100% auto; display:block; position:absolute; top:182px; z-index:40;animation-name: zoomIn;-webkit-animation-name: zoomIn;animation-duration: 0.5s;-webkit-animation-duration: 0.5s;animation-delay: 1s;-webkit-animation-delay: 1s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}
#p2 .p2_highPoint .hp1{ position: absolute;}
#p2 .p2_highPoint .hp1 .flag{ background:url(../Image/experienceArea/index2_tip1.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:154px;background-size: 100% auto; display:block; position: absolute; top:-22px;}
#p2 .p2_highPoint .hp1 .location{ background:url(../Image/experienceArea/index2_circles1.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:16px;background-size: 100% auto; display:block; position: absolute; top:109px;animation: moveIcon2 1.2s linear 0 infinite;-webkit-animation: moveIcon2 1.2s linear 0 infinite;}


#p2 .p2_highPoint .hp2{ position: absolute;}
#p2 .p2_highPoint .hp2 .flag{ background:url(../Image/experienceArea/index2_tip2.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:154px;background-size:100% auto ; display:block; position: absolute; top:-45px;}
#p2 .p2_highPoint .hp2 .location{ background:url(../Image/experienceArea/index2_circles2.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:16px;background-size: 100% auto; display:block; position: absolute; top:117px;animation: moveIcon2 1.2s linear 0 infinite;-webkit-animation: moveIcon2 1.2s linear 0 infinite;}


#p2 .p2_highPoint .hp3{ position: absolute; }
#p2 .p2_highPoint .hp3 .flag{ background:url(../Image/experienceArea/index2_tip3.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:58px;background-size: 100% auto; display:block; position: absolute; top:175px;}
#p2 .p2_highPoint .hp3 .location{ background:url(../Image/experienceArea/index2_circles3.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:16px;background-size:100% auto ; display:block; position: absolute; top:225px;animation: moveIcon2 1.2s linear 0 infinite;-webkit-animation: moveIcon2 1.2s linear 0 infinite;}


.pagination {display: block;position: absolute;bottom: 0px;left: 50%;margin-left: -3.8%;width: 7.5%;animation: moveIcon 1.2s linear 0 infinite;-webkit-animation: moveIcon 1.2s linear 0 infinite; z-index:9999}
#p1 .p1_highPoint .hp1{  position: absolute; margin:0 auto}
#p1 .p1_highPoint .hp2 {  position: absolute;  top: 86px;}
#p1 .p1_highPoint .hp3 {  position: absolute;  top: 86px;}

#p1 .p1_picArea .p1_p3Shadow{background: url(../Image/experienceArea/index1_pic3_shadow.png) no-repeat;  width: 100%;  min-width: 320px;  height: 100%;  min-height: 247px;  background-size: 100% auto;  display: block;  position: absolute;  top: 171px;  z-index: 3;}
}

/*iphone5*/
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){
.pagination {display: block;position: absolute;bottom: 0px;left: 50%;margin-left: -3.8%;width: 7.5%; animation: moveIcon 1.2s linear 0 infinite;-webkit-animation: moveIcon 1.2s linear 0 infinite; z-index:9999}

}

/*iphone6*/
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
#p1 .p1_picArea .p1_p1,#p1 .p1_picArea .p1_p2,#p1 .p1_picArea .p1_p3{ min-height:421px;}
#p2 .p2_picArea .p2_p1,#p2 .p2_picArea .p2_p2,#p2 .p2_picArea .p2_p3{ min-height:421px;}

#p1 .p1_highPoint{width:100%;min-width:320px;height:100%;background-size:100% auto; display:block; position:absolute; top:182px; z-index:30;animation-name: zoomIn;-webkit-animation-name: zoomIn;animation-duration: 0.5s;-webkit-animation-duration: 0.5s;animation-delay: 1s;-webkit-animation-delay: 1s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}
#p1 .p1_highPoint .hp1{ position: absolute;}
#p1 .p1_highPoint .hp1 .flag{ background:url(../Image/experienceArea/index1_tip1.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:52px;background-size:auto 100%; display:block; position: absolute; top:-45px;}
#p1 .p1_highPoint .hp1 .location{ background:url(../Image/experienceArea/index1_circles1.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:16px;background-size:auto 100%; display:block; position: absolute; top:0; animation: moveIcon2 1.2s linear 0 infinite;-webkit-animation: moveIcon2 1.2s linear 0 infinite;}


#p1 .p1_highPoint .hp2{ position: absolute;}
#p1 .p1_highPoint .hp2 .flag{ background:url(../Image/experienceArea/index1_tip2.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:167px;background-size:auto 100%; display:block; position: absolute; top:-45px;}
#p1 .p1_highPoint .hp2 .location{ background:url(../Image/experienceArea/index1_circles2.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:16px;background-size:auto 100%; display:block; position: absolute; top:114px;animation: moveIcon2 1.2s linear 0 infinite;-webkit-animation: moveIcon2 1.2s linear 0 infinite;}


#p1 .p1_highPoint .hp3{ position: absolute;}
#p1 .p1_highPoint .hp3 .flag{ background:url(../Image/experienceArea/index1_tip3.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:52px;background-size:auto 100%; display:block; position: absolute; top:193px;}
#p1 .p1_highPoint .hp3 .location{ background:url(../Image/experienceArea/index1_circles3.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:16px;background-size:auto 100%; display:block; position: absolute; top:237px;animation: moveIcon2 1.2s linear 0 infinite;-webkit-animation: moveIcon2 1.2s linear 0 infinite;}

#p2 .p2_highPoint{width:100%;min-width:375px;height:100%;background-size:100% auto; display:block; position:absolute; top:182px; z-index:40;animation-name: zoomIn;-webkit-animation-name: zoomIn;animation-duration: 0.5s;-webkit-animation-duration: 0.5s;animation-delay: 1s;-webkit-animation-delay: 1s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}
#p2 .p2_highPoint .hp1{ position: absolute;}
#p2 .p2_highPoint .hp1 .flag{ background:url(../Image/experienceArea/index2_tip1.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:154px;background-size:auto 100%; display:block; position: absolute; top:13px;}
#p2 .p2_highPoint .hp1 .location{ background:url(../Image/experienceArea/index2_circles1.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:16px;background-size:auto 100%; display:block; position: absolute; top:160px;animation: moveIcon2 1.2s linear 0 infinite;-webkit-animation: moveIcon2 1.2s linear 0 infinite;}


#p2 .p2_highPoint .hp2{ position: absolute;}
#p2 .p2_highPoint .hp2 .flag{ background:url(../Image/experienceArea/index2_tip2.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:154px;background-size:auto 100%; display:block; position: absolute; top:-45px;}
#p2 .p2_highPoint .hp2 .location{ background:url(../Image/experienceArea/index2_circles2.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:16px;background-size:auto 100%; display:block; position: absolute; top:117px;animation: moveIcon2 1.2s linear 0 infinite;-webkit-animation: moveIcon2 1.2s linear 0 infinite;}


#p2 .p2_highPoint .hp3{ position: absolute; }
#p2 .p2_highPoint .hp3 .flag{ background:url(../Image/experienceArea/index2_tip3.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:58px;background-size:auto 100%; display:block; position: absolute; top:240px;}
#p2 .p2_highPoint .hp3 .location{ background:url(../Image/experienceArea/index2_circles3.png) no-repeat;width:100%;min-width:375px;height:100%;min-height:16px;background-size:auto 100%; display:block; position: absolute; top:290px;animation: moveIcon2 1.2s linear 0 infinite;-webkit-animation: moveIcon2 1.2s linear 0 infinite;}


.pagination {display: block;position: absolute;bottom: 0px;left: 50%;margin-left: -3.8%;width: 7.5%;animation: moveIcon 1.2s linear 0 infinite;-webkit-animation: moveIcon 1.2s linear 0 infinite; z-index:9999}
#p1 .p1_highPoint .hp1{  position: absolute; margin:0 auto}
#p1 .p1_highPoint .hp2 {  position: absolute;  top: 86px;}
#p1 .p1_highPoint .hp3 {  position: absolute;  top: 86px;}

#p1 .p1_picArea .p1_p3Shadow{background: url(../Image/experienceArea/index1_pic3_shadow.png) no-repeat;  width: 100%;  min-width: 320px;  height: 100%;  min-height: 247px;  background-size: 100% auto;  display: block;  position: absolute;  top: 171px;  z-index: 3;}
}

/*iphone 6 plus*/
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
#p1 .p1_picArea .p1_p1,#p1 .p1_picArea .p1_p2,#p1 .p1_picArea .p1_p3{ min-height:465px;}	
#p2 .p2_picArea .p2_p1,#p2 .p2_picArea .p2_p2,#p2 .p2_picArea .p2_p3{ min-height:465px;}

.pagination {display: block;position: absolute;bottom: 0px;left: 50%;margin-left: -3.8%;width: 7.5%;animation: moveIcon 1.2s linear 0 infinite;-webkit-animation: moveIcon 1.2s linear 0 infinite; z-index:9999}

#p1 .p1_picArea .p1_p3Shadow{background: url(../Image/experienceArea/index1_pic3_shadow.png) no-repeat;  width: 100%;  min-width: 320px;  height: 100%;  min-height: 247px;  background-size: 100% auto;  display: block;  position: absolute;  top: 177px;  z-index: 3;}


}











@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}


/*动画*/
@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
	}
	
	70% {
		-webkit-transform: scale(.9);
	}
	
	100% {
		-webkit-transform: scale(1);
	}
}


@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		transform: scale(1.05);
	}
	
	70% {
		transform: scale(.9);
	}
	
	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1) rotateY(0);-webkit-animation-timing-function: ease-out;}	
	50% { -webkit-transform: scale(1.1) perspective(400px) translateZ(150px) rotateY(190deg);-webkit-animation-timing-function: ease-in; }
    100% { -webkit-transform: perspective(400px) scale(1);-webkit-animation-timing-function: ease-in;}
}

@keyframes pulse {
    0% { -webkit-transform: scale(1) rotateY(0);-webkit-animation-timing-function: ease-out;}	
	50% { -webkit-transform: scale(1.1) perspective(400px) translateZ(150px) rotateY(190deg);-webkit-animation-timing-function: ease-in; }
    100% { -webkit-transform: perspective(400px) scale(1);-webkit-animation-timing-function: ease-in;}
}

@-webkit-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
	}
	
	80% {
		-webkit-transform: translateX(-10px);
	}
	
	100% {
		-webkit-transform: translateX(0);
	}
}


@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateX(30px);
	}
	
	80% {
		transform: translateX(-10px);
	}
	
	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes bounceInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
	}
	
	80% {
		-webkit-transform: translateX(-10px);
	}
	
	100% {
		-webkit-transform: translateX(0);
	}
}


@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateX(30px);
	}
	
	80% {
		transform: translateX(-10px);
	}
	
	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}
	
	80% {
		-webkit-transform: translateY(-10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}


@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateY(30px);
	}
	
	80% {
		transform: translateY(-10px);
	}
	
	100% {
		transform: translateY(0);
	}
}


@-webkit-keyframes bounceInDown2 {
	0% {
		opacity: 0;
		transform: scale(3);		
	}
	50% {
		transform: scale(2.8);
	}	
	80% {
		transform: scale(1.05);
	}	
	90% {
		transform: scale(0.98);
	}
	100% {
		transform: scale(1);
	}
}


@keyframes bounceInDown2 {
	0% {
		opacity: 0;
		transform: scale(3);		
	}
	50% {
		transform: scale(2.8);
	}	
	80% {
		transform: scale(1.05);
	}
	90% {
		transform: scale(0.98);
	}	
	100% {
		transform: scale(1);
	}
}
@-webkit-keyframes tada {
	0% {-webkit-transform: scale(1);}	
	10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
	100% {-webkit-transform: scale(1) rotate(0);}
}


@keyframes tada {
	0% {transform: scale(1);}	
	10%, 20% {transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
	100% {transform: scale(1) rotate(0);}
}
@-webkit-keyframes moveIcon {
	0%{ -webkit-transform:translate(0,0);}
	50%{ -webkit-transform:translate(0,4px);}
	100%{ -webkit-transform:translate(0,0px);}
}
@-webkit-keyframes moveIcon {
	0%{ -webkit-transform:translate(0,0);}
	50%{ -webkit-transform:translate(0,4px);}
	100%{ -webkit-transform:translate(0,0px);}
}

@-webkit-keyframes moveIcon2 {
	0%{ opacity:0}
	50%{opacity:0.5}
	100%{opacity:1}
}
@-webkit-keyframes moveIcon2{
	0%{ opacity:0}
	50%{opacity:0.5}
	100%{opacity:1}
}

@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3,.3,.3);
		transform: scale3d(.3,.3,.3)
	}

	50% {
		opacity: 1
	}
}

@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3,.3,.3);
		transform: scale3d(.3,.3,.3)
	}

	50% {
		opacity: 1
	}
}


.pbox_shadow{
  width: 140px;
  height: 180px;
  display: block;
  position: absolute;
  left: 40px;
  top: 40px;
  transform-origin: 70px 90px;
  z-index: 5;
  transform: skew(-37deg,25deg);
  box-shadow:15px 15px 15px rgba(75,75,75,0.5);
}


/*提交体验申请*/
.header{ padding:20px 0; margin:0 auto; text-align:center}
.header .logo{ background:url(../Image/experienceArea/header_logo.png) center no-repeat; background-size:auto 100%; min-height:150px; display:block;}
.header .h1_slogan{background:url(../Image/experienceArea/header_h1_slogan.png) center no-repeat; background-size:auto 100%; min-height:33px; display:block;}
.header .h2_slogan{background:url(../Image/experienceArea/header_h2_slogan.png) center no-repeat; background-size:auto 100%; min-height:37px; display:block;}
.form{width: 90%;margin: 0 auto;padding-top: 20px;}
.form li{border: 1px solid #d1d1d1; border-top:0;height: 43px;}
.form li:first-child{border-top: 1px solid #d1d1d1; border-top-left-radius:3px; border-top-right-radius:3px;}
.form li:last-child{border-bottom: 1px solid #d1d1d1; border-bottom-left-radius:3px; border-bottom-right-radius:3px;}
.form li:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.form li input.w50p{ width:31%;}
.form li input[type="submit"]{width:100%; color: #fff;border: 1px solid #d1d1d1;border-radius:3px; font-size:14px; font-weight:bold;letter-spacing: 3px;margin:10px 0; background:#c30000 url(../Image/reg-btn.png) center center no-repeat; background-size:100%;}
.form li input,.form li select{width: 98%;padding-left: 2%;display: block;color: #a0a0a0;vertical-align:middle;-webkit-appearance:none;padding:13px 3px 12px 3px;}
.form li select{ width:48%; float:left; border:0; margin-top:-1px;}
.form li select:first-child{ margin-right:5px; border-right:1px #d1d1d1 solid; border-radius:0;}
.form li label.label_area{ width:25%; float:left; color:#666666; overflow:hidden; padding:12px 10px 13px 0px;border-radius:3px;border-top-right-radius:0; border-bottom-right-radius:0; text-align:right; background-color:#f0f0f0;}
.form li input{ width:65%; float:left; overflow:hidden; padding:12px 3px 12px 12px; outline:0}
.form li .input_area{ width:65%; float:left; overflow:hidden; text-align:left}
.getcode{float:right;display: inline-block;height: 30px;width: 78px;background:#c30000;color:#FFF;padding:2px 5px;line-height:30px;border-radius: 3px;margin-top:5px;margin-right:5px
}
.getcode:hover{display: inline-block;height: 30px;width: 78px;background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#dddddd));border:1px #d4d4d4 solid;color: #900;padding:2px 5px;line-height:30px;
}
.form a.btn_one {
  background-color: #ed3f41;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  display: block;
  text-align: center;
  margin: 15px 0;
  border-radius: 2px;
}
/*新用户注册end*/

/*注册成功*/
.OK_title{ background:url(../Image/experienceArea/OK.png) center no-repeat; background-size:auto 100%; min-height:35px; display:block;}
.OK_subtitle{background:url(../Image/experienceArea/OK_subtitle.png) center no-repeat; background-size:auto 100%; min-height:45px; display:block;}

.form dl{}
.form dl dt{ color:#999999; font-size:12px; line-height:16px; padding-bottom:10px;}
.form dl dd{ color:#999999; font-size:12px; line-height:16px;}

.txtlink{ background-color: #1e9545;  color: #fff;  font-size: 14px;  font-weight: bold;  line-height: 40px;  display: block;  text-align: center;  margin: 15px 4.6875%;  border-radius: 2px;}
.txtlink:link{background-color: #1d9f47;  color: #fff;  font-size: 14px;  font-weight: bold;  line-height: 40px;  display: block;  text-align: center;  margin: 15px 4.6875%;  border-radius: 2px;}
.txtlink:visited{background-color: #1d9f47;  color: #fff;  font-size: 14px;  font-weight: bold;  line-height: 40px;  display: block;  text-align: center;  margin: 15px 4.6875%;  border-radius: 2px;}
.txtlink:hover{background-color: #1d9f47;  color: #fff;  font-size: 14px;  font-weight: bold;  line-height: 40px;  display: block;  text-align: center;  margin: 15px 4.6875%;  border-radius: 2px;}
.txtlink:active{background-color: #1d9f47;  color: #fff;  font-size: 14px;  font-weight: bold;  line-height: 40px;  display: block;  text-align: center;  margin: 15px 4.6875%;  border-radius: 2px;}