@charset "utf-8";
/* CSS Main */
html{color:#333; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea,pre{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

a {color:#b60101;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
.pt20 { padding-top:20px;}

* {-webkit-tap-highlight-color:rgba(0,0,0,0)}
::-moz-placeholder {color: #cccccc;opacity: 1!important;}
:-ms-input-placeholder {color: #cccccc;}
::-webkit-input-placeholder {color: #cccccc;}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:auto; margin:0 auto; max-width:640px;background:#e84144; overflow:hidden;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#header { height:auto; overflow:hidden;z-index:1; position:relative;text-align:center;}
#main { height:auto!important; height:100%; position:relative;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:10px 0 10px 0;text-align:center; border-top:solid 1px #fff; color:#5c5c5c;
	background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);}
#footer p a{ color:#5c5c5c;}
#footer img { width:180px; height:14px;}
/*----------------------------------  Global结束  ------------------------------------*/

/*加载*/
#loading { position:fixed; width:100%; height:100%; background:#e84144; z-index:1000;}
.loadimg { display:none;}
#loading .loadingbox { position:absolute; top:50%; margin-top:-200px; left:50%; margin-left:-160px; width:320px; height:400px; text-align:center;color:#beaca3;}
.loadingbox>h4 { padding:50px 10px; margin:0 20px; line-height:30px; font-size:24px;}
.loadingbox>div { position:relative; margin:0 auto; width:100px;height:100px;border-radius:50%;}
.loadingbox>div>i { position:absolute;top:0;left:0;box-sizing:border-box;width:100%;height:100%;border-radius:50%;border-width:2px;border-style:solid;border-color:#eee #eee #beaca3 #eee;-webkit-animation:logo 0.8s linear infinite;}
.loadingbox>div>img {width:100%;height:100%;border-radius:50%;}
.loadingbox>h5 { position:absolute; bottom:80px; left:50%; margin-left:-160px; width:320px; font-size:26px;line-height:1.5;opacity:0;-webkit-animation:bling 2s linear infinite;}
.loadingbox>h6 {position:absolute;bottom:0;left:0;width:100%;padding-bottom:4%;font-size:18px;text-align:center;line-height:1.8;}
#loading.red { background:#fbe3e7;}
#loading.red .loadingbox {color:#d72740;}
@-webkit-keyframes bounceInDown {
  0% {opacity: 0;-webkit-transform: translateY(-500px);}
  60% {opacity: 1;-webkit-transform: translateY(10px);}
  80% {opacity: 1; -webkit-transform: translateY(-5px);}
  100% {opacity: 1;-webkit-transform: translateY(0);}
}
@-webkit-keyframes logo{
	0% {-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes bling{
	0% { opacity:0;}
	50% { opacity:1;}
	100%{ opacity:0;}
}

.specialCj-con { width:100%; max-width:640px; margin:0 auto; height:100%; position: relative; background: url(../Image/lottery/laohuji_bg.jpg) no-repeat; background-size: 100% 100%;}
.close-specialCj {display: block; width:26px; height:26px; position:absolute; top:10px; right:10px;line-height: 26px;color: #ffc000;text-align: center;font-size: 32px;transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg); border-radius:50%; border:solid 2px #ffc000; cursor:pointer; z-index:1;}

.logo { margin: 0 40px; padding-top: 30px; position: relative; z-index: 1;}
.logo .box { width: 55px; height: 55px; border: 3px #ffffff solid; margin-right:20px ; border-radius: 50%; overflow: hidden;}
.logo .box,.logo h2 { float: left; line-height: 55px; color: #ffffff; font-size: 18px;}
.logo h2 { margin: 0;}

.title .t1 { width: 70px; height: 60px; margin: 0 auto 85px auto; background: url(../Image/lottery/laohuji_1.png) no-repeat; background-size: 100% 100%;}
.title .t2 { width: 320px; height: 300px; margin: 0 auto; margin-left: -160px; position: absolute; top: 20px; left: 50%; background: url(../Image/lottery/laohuji_2.png) no-repeat; background-size: 100% 100%;}
.title .t3 { width: 83px; height: 33px; margin: 0 auto; background: url(../Image/lottery/laohuji_3.png) no-repeat; background-size: 100% 100%;}
.title .t2 div { position: absolute;}
.title .t2 .star1 { width: 44px; height: 44px; top: 90px; left: 70px; background: url(../Image/lottery/laohuji_5.png) 0 0 no-repeat; background-size: 100% 100%;}
.title .t2 .star2 { width: 44px; height: 44px; top: 128px; left: 134px; background: url(../Image/lottery/laohuji_5.png) 0 0 no-repeat; background-size: 100% 100%;}
.title .t2 .star3 { width: 44px; height: 44px; top: 115px; left: 195px; background: url(../Image/lottery/laohuji_5.png) 0 0 no-repeat; background-size: 100% 100%;}
.title .t2 .star4 { width: 44px; height: 44px; top: 112px; left: 76px; background: url(../Image/lottery/laohuji_5.png) 0 0 no-repeat; background-size: 100% 100%;}
.title .t2 .star5 { width: 33px; height: 33px; top: 200px; left: 100px; background: url(../Image/lottery/laohuji_5.png) 0 0 no-repeat; background-size: 100% 100%;}
.title .t2 .star6 { width: 44px; height: 44px; top: 90px; left: 200px; background: url(../Image/lottery/laohuji_5.png) 0 0 no-repeat; background-size: 100% 100%;}
.title .t2 .star7 { width: 33px; height: 33px; top: 160px; left: 265px; background: url(../Image/lottery/laohuji_5.png) 0 0 no-repeat; background-size: 100% 100%;}
.title .t2 .star8 { width: 44px; height: 44px; top: 115px; left: 228px; background: url(../Image/lottery/laohuji_5.png) 0 0 no-repeat; background-size: 100% 100%;}
.title .t2 .star9 { width: 33px; height: 33px; top: 120px; left: 23px; background: url(../Image/lottery/laohuji_5.png) 0 0 no-repeat; background-size: 100% 100%;}
.title .t2 .star10 { width: 55px; height: 55px; top: 220px; left: 95px; background: url(../Image/lottery/laohuji_5.png) 0 0 no-repeat; background-size: 100% 100%;}

/* 星星闪烁效果 */
.title .t1 { opacity: 0; -webkit-animation:opacity2 .5s .2s forwards linear;}
.title .t2 .star1 { -webkit-animation: opacity 2s 0.2s alternate infinite;}
.title .t2 .star2 { -webkit-animation: opacity 1.5s 0.2s alternate infinite;}
.title .t2 .star3 { -webkit-animation: opacity 3s 0.8s alternate infinite;}
.title .t2 .star4 { -webkit-animation: opacity 2s 0.2s alternate infinite;}
.title .t2 .star5 { -webkit-animation: opacity 1.5s 0.2s alternate infinite;}
.title .t2 .star6 { -webkit-animation: opacity 3s 0.8s alternate infinite;}
.title .t2 .star7 { -webkit-animation: opacity 2s 0.2s alternate infinite;}
.title .t2 .star8 { -webkit-animation: opacity 1.5s 0.2s alternate infinite;}
.title .t2 .star9 { -webkit-animation: opacity 3s 0.8s alternate infinite;}
.title .t3 { opacity: 0; -webkit-animation:scale .6s .5s forwards linear;}

.remaining { width: 200px; height: 36px; line-height: 36px; position: absolute; left: 50%; bottom: 24px; margin: 0 auto; margin-left: -100px; text-align: center; color: #ffffff; font-size: 18px;}
.remaining span { color: #ffd50f;}

.record { text-align: center; margin: 0 auto;}
.record a { padding: 8px 30px; border: 1px rgba(147,132,233,.6) solid; font-size: 15px; border-radius: 20px; color: #f8ce2e; background: rgba(32,30,84,.6);}

.copyright { margin-bottom: 20px;}
.copyright .found { line-height: 30px; margin-bottom: 5px; border-bottom: 1px #959595 dashed;}
.copyright .found a { line-height: 30px; font-size: 13px; color: #3488c6;}
.copyright p,.copyright p a { font-size: 12px; line-height: 20px; color: #959595;}
.copyright p a:before { content: ""; display: inline-block; width: 15px; height: 14px; margin-right: 3px; vertical-align: middle;}
.copyright p a:first-child:before { background: url(../Image/copyright_1.png) no-repeat; background-size: 100%;}
.copyright p a:last-child:before { background: url(../Image/copyright_2.png) no-repeat; background-size: 100%;}

#lottery { width:283px; height:230px; overflow: visible; margin:0 auto; position:relative; left:-10px;/* background:url(../Image/icon-lottery15.png) no-repeat;*/ background-size:100% auto; -webkit-animation:lottery-animation 20s linear infinite;}
#lottery .lotBg { position:relative; width:100%; height:100%; background:url(../Image/lottery/interface.png) no-repeat 0 0; background-size:100%;}
.lotEgg { padding-top:94px; position:relative; text-align:center;}
.lotEggLight { position:absolute; top:84px;left:52px; width:220px; height:100px; background-image:url(../Image/icon-lottery11.png); background-repeat:repeat-y; background-size:100% auto;margin:0 auto;}
.lotEggLight.shiny1 {-webkit-animation:shiny-animation1 2s 0.6s infinite;}
.lotEggLight.shiny2 {-webkit-animation:shiny-animation2 0.5s 0.6s infinite;}
.lotWindow { position:absolute; top:33px;left:0px; width:60px; height:126px; background-image:url(../Image/lottery/fruit.png); background-repeat:repeat-y; background-size:100% auto; background-position: 0 0; float:left; cursor:pointer; overflow:hidden;}
.lotWindow.one { background-position: 0 0;}
.lotWindow.two { background-position: 0 0;}
.lotWindow.three { background-position: 0 0;}
.icon-down { display:block; width:29px; height:76px; position: absolute; top: 0; left: 264px; background: url(../Image/lottery/down.png) no-repeat 0 0; background-size:100%;;}
.icon-hand {-webkit-animation: hand-down 1s 0.6s infinite; display:block; width:41px; height:58px; position: absolute; top: 130px; left: 260px; z-index: 6; background: url(../Image/lottery/hand.png) no-repeat 0 0; background-size:100%;;}
.lotWindow a { display:block; width:100px; height:100%; margin-left:-30px;-webkit-box-shadow:0 0 30px 5px rgba(0,0,0,0.7) inset;}
#lotHammer { position: absolute; left:265px; top:5px; width:25px; height:120px; background:url(../Image/lottery/joystick-off.png) no-repeat 0 0; background-size:100%;}
#lotHammer.active { left:261px; top:32px; width:35px; height:95px; background:url(../Image/lottery/joystick-on.png) no-repeat 0 0; background-size:100%;}
#lotHammer a { display:block; width:100%; height:100%;}
#lotHammerbtn { position: absolute; left:106px; top:215px; width:120px; height:30px; background:url(../Image/icon-lottery12.png) no-repeat 0 0; background-size:100%;}
#lotHammerbtn.lotHammerbtn-animation {background:url(../Image/icon-lottery12.png) no-repeat 0 -30px; background-size:100%;}
#lotHammerbtn a { display:block; width:100%; height:100%;}
.prizeList { margin:0 50px; height:44px; overflow:hidden;}
.prizeList ul { height:auto; overflow:hidden;}
.prizeList li { height:22px; overflow:hidden; text-align: left; margin-left:65px;}
.prizeList li i { display:inline-block; width:20px; height:20px; vertical-align:middle;}
.prizeList li span { display:inline-block; height:20px; color:#fff; vertical-align:middle;}
.prizeList .icon-fruit0 {background:url(../Image/icon-lottery14.png) no-repeat 0 -3px; background-size:100%;}
.prizeList .icon-fruit1 {background:url(../Image/icon-lottery14.png) no-repeat 0 -31px; background-size:100%;}
.prizeList .icon-fruit2 {background:url(../Image/icon-lottery14.png) no-repeat 0 -59px; background-size:100%;}
.prizeList .icon-fruit3 {background:url(../Image/icon-lottery14.png) no-repeat 0 -84px; background-size:100%;}
.prizeList .icon-fruit4 {background:url(../Image/icon-lottery14.png) no-repeat 0 -111px; background-size:100%;}
.prizeList .icon-fruit5 {background:url(../Image/icon-lottery14.png) no-repeat 0 -137px; background-size:100%;}
.prizeList .icon-fruit6 {background:url(../Image/icon-lottery14.png) no-repeat 0 -163px; background-size:100%;}

.rule { margin: 40px 10px 20px 10px; position: relative; z-index: 6; background: #ffffff; color: #3b3291; border-radius: 10px;}
.ruleGame,.rulePrize { padding: 10px 20px;}
.rule h3 { font-size: 18px; line-height: 36px; font-weight: bold; margin-bottom: 10px; border-bottom: 1px #3b3291 solid; color: #3b3291;}
.rule p { font-size: 14px; line-height: 24px; color: #3b3291; text-align: justify;}
/*弹窗*/
.msgPop { position:fixed; z-index:990; top:0; width:100%; height:100%; min-height:100%; margin:0 auto;display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;}
.msgPop.bg { background:rgba(0,0,0,0.7);}
.msgPop .msgBg { position: relative;  height: auto; width: 80%; min-width: 280px; max-width: 580px; height:auto; margin:0 auto; margin-top:-40px;}
.msgPop .msgBg .msgTitle { position:relative; color:#000; font-size:20px; line-height:30px; background:url(../Image/duanwu/Item/qj-18.png?v=__VR__) no-repeat 0 top; background-size:100% auto;}
.msgPop .msgBg .msgTitle .close-msgPop { text-decoration: none; color: #ffffff; font-size: 20px; width: 30px; height: 30px; position: absolute; top: -17px; right: -12px; z-index: 5; background: #ed3f41; border-radius: 50%;}
.msgPop .msgBg .msgTitle.hastitle { line-height:77px; color:#a3964c; background:url(../Image/duanwu/Item/element_24.png?v=__VR__) no-repeat 0 top; background-size:100% auto;}
.msgPop .msgBg .msgTitle.border { width: 100%; height: 15px; position: absolute; left: 0; top: -5px; background: url(../Image/lottery/element_27.png) repeat-x; background-size: auto 100%;}
.msgPop .msgBg .msgTitle.notitle { background: #fffced; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
.msgPop .msgBg .msgTitle i { font-style: normal; color: #ffffff; display: block; margin: 0 0 4px 4px; line-height: 30px; text-align: center; font-size: 32px; transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg);}
.msgPop .msgBg .msgTitle.hastitle + .msgCon { padding:30px 10px 15px 10px;}
.msgPop .msgBg .msgCon {/* padding:30px 20px;*/ height:auto; overflow:hidden;border-radius:4px; background:#ffffff;touch-action: pan-y; -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3); -moz-box-shadow: 0 2px 3px rgba(0,0,0,.3); box-shadow: 0 2px 3px rgba(0,0,0,.3);}
.msgPop .msgBg .msgCon { font-size:18px; line-height:25px;}

.msgPop .msgBg .msgCon .cjText { margin:0 auto; height:auto; padding: 30px 20px; background:#fffced;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.msgPop .msgBg .msgCon i { display:block; margin:0 auto; width:80px; height:80px; line-height:80px; font-size:60px; overflow:hidden; color:#ffba26;}
.msgPop .msgBg .msgCon .cjText-img { line-height:0;}
.msgPop .msgBg .msgCon li { margin-bottom: 10px; position: relative;}
.msgPop .msgBg .msgCon li:last-child { position: absolute; width: 90%; bottom: -80px; left: 50%; margin-left: -45%; height:50px;}
.msgPop .msgBg .msgCon input { vertical-align: top;}
.msgPop .msgBg .msgCon input[type="text"],
.msgPop .msgBg .msgCon input[type="tel"] { width: 100%; height: 41px; line-height: 41px; padding: 0; border: 1px #a2996a solid; text-indent: .5em; border-radius: 3px;}
.msgPop .msgBg .msgCon input[type="button"],.msgPop .msgBg .msgCon input[type="submit"] { line-height: 35px; border: 1px #ffda68 solid; font-size: 14px; color: #ffffff; background:#ffda68; border-radius: 3px;}
.msgPop .msgBg .msgCon #subcj { width:100%; line-height:50px; text-align: center; background:#ffda68; border: solid 1px #ffda68; border-radius:3px; color:#7e6046; font-size:18px; border-radius:8px; -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3); box-shadow: 0 2px 3px rgba(0,0,0,.3); display:block;}
.msgPop .msgBg .msgCon input[type="button"].sOne-cjpasscode-btn { display: block; width: 100px; height: 41px; line-height: 41px; text-align: center; font-size: 16px; position: absolute; top: 1px; right: -1px; border: 0; border-radius: 0 3px 3px 0; background: #ed3f41; color: #ffffff;}
/*.msgPop .msgBg .msgCon .cjBtn {width: 110%; padding: 120px 0 40px 0; position: absolute; bottom: -110px; left: -5%; background: #ed3f41; border-radius: 3px; z-index: -1; -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.5); box-shadow: inset 0 2px 3px rgba(0,0,0,.5); height:auto; overflow:hidden;}*/
/*.msgPop .msgBg .msgCon .cjBtn a { display:block; width: 80%; margin:0 auto; height:50px; line-height:50px; text-align: center; background:#ffda68; border: solid 1px #ffda68; border-radius:3px; color:#7e6046; font-size:18px; border-radius:8px; -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3); box-shadow: 0 2px 3px rgba(0,0,0,.3);}*/
/*.msgPop .msgBg .msgCon .cjBtn a.sm { border:solid 1px #a3964c; color:#a3964c; background:none;}*/
.msgPop .msgBg .msgCon .cjBtn{width: 100%;margin: 0 auto;	box-sizing: border-box;	padding: 120px 10px 40px 10px;	position: absolute;	bottom: -148px;	/* left: -5%; */	background: #ed3f41;	border-radius: 3px;	z-index: -1;	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.5);	box-shadow: inset 0 2px 3px rgba(0,0,0,.5);	height: auto;	overflow: hidden;}
.msgPop .msgBg .msgCon .cjBtn a { display: inline-block;	box-sizing: border-box;	width: 48%; padding: 0 20px; 	float: left;	margin: 0 auto;	height: 50px;	line-height: 50px;	text-align: center;	background: #ffda68;	border: solid 1px #ffda68;	border-radius: 3px;	color: #7e6046;	font-size: 18px;	border-radius: 8px;	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3);	box-shadow: 0 2px 3px rgba(0,0,0,.3);}
.msgPop .msgBg .msgCon .cjBtn a.first {margin-right:10px;}
.msgPop .msgBg .msgCon .cjBtn a.sm { border:solid 1px #a3964c; color:#7e6046;}

.formError { position:absolute; top:33px; left:160px; padding:0 10px; height:20px; line-height:20px; background:#bb0000; color:#fff; border-radius:2px; z-index:100; font-size:12px; display:none;}
input.erro + .formError { display:block;-webkit-animation:formerroMsg 0.3s linear;-webkit-animation-fill-mode:forwards;}
.half + .formError { left:75px;}
.formError.passcode { right:100px;}
.formError:before { position:absolute; top:-22px; right:10px; width:18px; height:24px; color:#bb0000; content: ''; background:url(../Image/icon-formerro.png) no-repeat 0 0; background-size:100%;}
.formError .formErrorContent { text-align:center;}
@-webkit-keyframes formerroMsg{
	0%{-webkit-transform:translate(0,10px);opacity:0;}
	100%{-webkit-transform:translate(0,0);opacity:0.7;}
}
.msgPop .msgBg .msgCon p {margin: 0 auto; text-align: justify; font-size: 18px; color: #7e6046; padding: 0 0 10px 0; line-height: 23px;}
.msgPop .msgBg .msgCon p.title { padding:5px 0; font-size:20px; color:#ed3f41;}
.msgPop .msgBg .msgCon p span { color:#1e7135;}

.msgPop .msgBg .msgCon .gameRule { color:#776c2d; text-align:left; font-size:12px;}
.msgPop .msgBg .msgCon .gameRule .divRule { height:220px; overflow:hidden; overflow-y:auto;  -webkit-font-smoothing: antialiased;}
.msgPop .msgBg .msgCon .gameRule p { padding-bottom:5px; font-size:12px; line-height:18px;}
.msgPop .msgBg .msgCon .gameRule p b { font-weight:bold;color:#776c2d;}
.msgPop .msgBg .msgCon .gameRule table {width:100%;border-collapse:collapse;border:1px solid #776c2d;table-layout:fixed; line-height:18px;}
.msgPop .msgBg .msgCon .gameRule td {padding: 2px 5px;border-collapse:collapse;vertical-align:middle;text-align:center;border:solid 1px #776c2d;color:#8b8041;}
.msgPop .msgBg .msgCon .gameRule td.tl { text-align:left;}

.msgPop.active .msgBg .msgTitle { height: 0;}
.msgPop.active .msgBg .msgCon .cjText { padding: 0; background: none;}
.msgPop.active .msgBg .msgCon { box-shadow: none; background: none;}
.msgPop.active .msgBg .msgCon p.text { padding: 35px; background: url(../Image/lottery/element_26.png) 0 0 no-repeat; background-size: 100% 100%; border-radius: 4px; -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3); -moz-box-shadow: 0 2px 3px rgba(0,0,0,.3); box-shadow: 0 2px 3px rgba(0,0,0,.3);}
.msgPop.active .msgBg .msgCon .cjBtn { background: none; box-shadow: none;}
.msgPop.active .msgBg .msgCon .cjBtn a { border: 1px #ed3f41 solid; background: #ed3f41; color: #ffffff; box-shadow: none;}

/*小元素*/
.specialCj-con .element { width: 100%; height: 100%; max-width: 640px; top: 0; left: 0; position: absolute; z-index: 0; pointer-events: none;}
.specialCj-con .element div { position: absolute; z-index: 0;}
.specialCj-con .element .polygon1 { width: 100%; height: 385px; top: 24%; left: 0; background: url(../Image/lottery/laohuji_4.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .polygon2 { height: 9px; top: 30%; left: 0; background: url(../Image/lottery/element_12.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .polygon3 { height: 10px; top: 24%; left: 0; background: url(../Image/lottery/element_13.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .polygon4 { height: 14px; top: 10%; left: 0; background: url(../Image/lottery/element_3.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .polygon5 { height: 11px; top: 8%; left: 0; background: url(../Image/lottery/element_14.png) 0 0 no-repeat; background-size: 100% 100%;}

.specialCj-con .element .star1 { -webkit-animation: opacity 2s 0.2s alternate infinite;}
.specialCj-con .element .star2 { -webkit-animation: opacity 1.5s 0.2s alternate infinite;}
.specialCj-con .element .star3 { -webkit-animation: opacity 3s 0.8s alternate infinite;}

/*弹窗小元素*/
#AjaxWrapper .element { pointer-events: none; width: 100%; height: 100%; top: 0; left: 0; position: absolute; z-index: 5;overflow: hidden;}
#AjaxWrapper .element div { position: absolute; width: 100%;}
#AjaxWrapper .element .polygon1 { height: 16px; top: 20%; left: 0; background: url(../Image/lottery/element_1.png) 0 0 no-repeat; background-size: 100% 100%;}
#AjaxWrapper .element .polygon2 { height: 9px; top: 20%; left: 0; background: url(../Image/lottery/element_12.png) 0 0 no-repeat; background-size: 100% 100%;}
#AjaxWrapper .element .polygon3 { height: 10px; top: 20%; left: 0; background: url(../Image/lottery/element_13.png) 0 0 no-repeat; background-size: 100% 100%;}
#AjaxWrapper .element .polygon4 { height: 14px; top: 20%; left: 0; background: url(../Image/lottery/element_18.png) 0 0 no-repeat; background-size: 100% 100%;}
#AjaxWrapper .element .polygon5 { height: 11px; top: 8%; left: 10%; background: url(../Image/lottery/element_14.png) 0 0 no-repeat; background-size: 100% 100%;}
#AjaxWrapper .element .polygon6 { height: 16px; top: 19%; left: 15%; background: url(../Image/lottery/element_15.png) 0 0 no-repeat; background-size: 100% 100%;}
#AjaxWrapper .element .polygon7 { height: 19px; top: 17%; left: 10%; background: url(../Image/lottery/element_2.png) 0 0 no-repeat; background-size: 100% 100%;}
#AjaxWrapper .element .polygon8 { height: 14px; top: 15%; left: 0; background: url(../Image/lottery/element_3.png) 0 0 no-repeat; background-size: 100% 100%;}
#AjaxWrapper .element .polygon9 { height: 14px; top: 16%; left: 54%; background: url(../Image/lottery/element_31.png) 0 0 no-repeat; background-size: 100% 100%;}
#AjaxWrapper .element .polygon10 { height: 11px; top: 8%; left: 10%; background: url(../Image/lottery/element_14.png) 0 0 no-repeat; background-size: 100% 100%;}
#AjaxWrapper .element .polygon11 { height: 16px; top: 12%; left: 0; background: url(../Image/lottery/element_21.png) 0 0 no-repeat; background-size: 100% 100%;}
#AjaxWrapper .element .polygon12 { height: 19px; top: 16%; left: 10%; background: url(../Image/lottery/element_32.png) 0 0 no-repeat; background-size: 100% 100%;}
#AjaxWrapper .element .polygon13 { height: 10px; top: 14%; left: 20%; background: url(../Image/lottery/element_13.png) 0 0 no-repeat; background-size: 100% 100%;}
#AjaxWrapper .element .polygon14 { height: 14px; top: 20%; left: 0; background: url(../Image/lottery/element_23.png) 0 0 no-repeat; background-size: 100% 100%;}
#AjaxWrapper .element .polygon15 { height: 11px; top: 8%; left: 0; background: url(../Image/lottery/element_15.png) 0 0 no-repeat; background-size: 100% 100%;}
#AjaxWrapper .element .gold1 { height: 21px; top: 55%; right: 90%; background: url(../Image/lottery/element_19.png) 0 0 no-repeat; background-size: 100% 100%;}
#AjaxWrapper .element .gold2 { height: 60px; top: 60%; left: 0px; background: url(../Image/lottery/element_24.png) 0 0 no-repeat; background-size: 100% 100%;}
#AjaxWrapper .element .gold3 { height: 20px; top: 50%; left: 25%; background: url(../Image/lottery/element_10.png) 0 0 no-repeat; background-size: 100% 100%;}

/*中奖纪录*/
.recordBox { background: #eaeaea;}
.recordBox .wrapper ul { background: #ffffff;}
.recordBox .wrapper ul li { padding: 20px 0; margin: 0 20px; border-bottom: 1px #d7d7d7 dashed;}
.recordBox .wrapper ul li:last-child { border-bottom: 0;}
.recordBox .wrapper ul li.noRecord { padding: 40px 0; margin-bottom: 40px; border-bottom: 0;}
.recordBox .wrapper ul div { width: 60%; float: left; font-size: 15px;}
.recordBox .wrapper ul div h3 { font-size: 16px;}
.recordBox .wrapper ul div h4 { font-size: 13px; color: #666666;}
.recordBox .wrapper ul a { float: right; padding: 8px 20px; background: #fff1f1; border: 1px #ed3f41 solid; font-size: 15px; color: #ed3f41; border-radius: 3px;}
.recordBox .wrapper .btn { margin: 15px auto; text-align: center;}
.recordBox .wrapper .btn a { display: block; line-height: 45px; margin: 0 20px; font-size: 17px; background: #ed3f41; border-radius: 10px; color: #ffffff;}
.recordBox .msgPop .msgBg .msgCon p.title { padding: 0; margin-bottom: 15px; text-align: center; font-size: 24px; text-align: center;}

@-webkit-keyframes opacity {
	0%{opacity:0;}
	100%{opacity:1;}
}
@-webkit-keyframes scale {
	0% {opacity:0;-webkit-transform: scale(0);}
	20% {opacity:1;-webkit-transform: scale(1.2);}
	40% {opacity:1;-webkit-transform: scale(2);}
	60% {opacity:1;-webkit-transform: scale(0.7);}
	80% {opacity:1;-webkit-transform: scale(1.2);}
	100% {opacity:1;-webkit-transform: scale(1);}
}
@-webkit-keyframes opacity2 {
	0%{ opacity:0; -webkit-transform:translateY(-200px);}
	50%{ opacity:1; -webkit-transform:translateY(0px);}
	70%{ opacity:1; -webkit-transform:rotate(10deg);}
	80%{ opacity:1; -webkit-transform:rotate(0deg);}
	90%{ opacity:1; -webkit-transform:rotate(-10deg);}
	100%{ opacity:1; -webkit-transform:rotate(0deg);}
}
@-webkit-keyframes hand-down {
	0%{ opacity:0.5; top: 60px;}
	100%{ opacity:1; top: 130px;}
}

/*.lotHammer-animation {-webkit-animation:lotHammer-animation 1s 0.2s forwards;}*/

.lotEgg.begin .lotEggLight {-webkit-animation:shiny-animation2 0.5s 0.6s infinite;}
.lotEgg.begin #lotHammer {-webkit-animation:lotHammer-animation 1s 0.2s forwards;}
.lotEgg.begin #lotHammerbtn {background:url(../Image/icon-lottery12.png) no-repeat 0 -30px; background-size:100%;}
@-webkit-keyframes lotHammer-animation
{
	0%{ left:265px; top:5px; width:25px; height:120px; background:url(../Image/lottery/joystick-off.png) no-repeat 0 0; background-size:100%;}
	100%{ left:261px; top:32px; width:35px; height:95px; background:url(../Image/lottery/joystick-on.png) no-repeat 0 0; background-size:100%;}
}

.lotWindowBegin1 {-webkit-animation-duration:4s;-webkit-animation-delay:0.2s;-webkit-animation-fill-mode:forwards;}
.lotWindowBegin2 {-webkit-animation-duration:4.4s;-webkit-animation-delay:0.6s;-webkit-animation-fill-mode:forwards;}
.lotWindowBegin3 {-webkit-animation-duration:4.8s;-webkit-animation-delay:1s;-webkit-animation-fill-mode:forwards;}

.lotWindow-animation0 {-webkit-animation-name:lotWindow-animation0;}
@-webkit-keyframes lotWindow-animation0
{
	0%{ background-position: 0 0;}
	100%{ background-position: 0 -1512px;}
}
.lotWindow-animation1 {-webkit-animation-name:lotWindow-animation1;}
@-webkit-keyframes lotWindow-animation1
{
	0%{ background-position: 0 0;}
	100%{ background-position: 0 -1638px;}
}
.lotWindow-animation2 {-webkit-animation-name:lotWindow-animation2;}
@-webkit-keyframes lotWindow-animation2
{
	0%{ background-position: 0 0;}
	100%{ background-position: 0 -1764px;}
}
.lotWindow-animation3 {-webkit-animation-name:lotWindow-animation3;}
@-webkit-keyframes lotWindow-animation3
{
	0%{ background-position: 0 0;}
	100%{ background-position: 0 -1890px;}
}
.lotWindow-animation4 {-webkit-animation-name:lotWindow-animation4;}
@-webkit-keyframes lotWindow-animation4
{
	0%{ background-position: 0 0;}
	100%{ background-position: 0 -2016px;}
}
.lotWindow-animation5 {-webkit-animation-name:lotWindow-animation5;}
@-webkit-keyframes lotWindow-animation5
{
	0%{ background-position: 0 0;}
	100%{ background-position: 0 -2142px;}
}
.lotWindow-animation6 {-webkit-animation-name:lotWindow-animation6;}
@-webkit-keyframes lotWindow-animation6
{
	0%{ background-position: 0 0;}
	100%{ background-position: 0 -2268px;}
}

@-webkit-keyframes lottery-animation
{
	0%{ background-position: 0 0;}
	100%{ background-position: 300px 720px;}
}
@-webkit-keyframes shiny-animation1
{
	0%{ background-image:url(../Image/icon-lottery11.png);}
	50%{ background-image:url(../Image/icon-lottery11-1.png);}
}
@-webkit-keyframes shiny-animation2
{
	0%{ background-image:url(../Image/icon-lottery11.png);}
	33%{ background-image:url(../Image/icon-lottery11-1.png);}
	66%{ background-image:url(../Image/icon-lottery11-2.png);}
}