.wrapper{ background:url(../Image/gift/unpack_flag.png),url(../Image/gift/unpack_pagebg.png); background-repeat:no-repeat; background-size:100% auto; height:100%; }
.animation{padding:60px 0 30px;}

.unpack_txt{width:100%; min-width:320px; height:auto; min-height:62px; background:url(../Image/gift/unpack_txt.png) no-repeat; background-size:100% auto; margin-top:50px; -webkit-animation-name: bounceInDown;animation-name: bounceInDown;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;
animation-delay: 0s;-webkit-animation-delay: 0s; animation-fill-mode: both;-webkit-animation-fill-mode: both;}

.unpack_wrapper{ background:url(../Image/gift/unpack_back_dot.png); background-repeat:no-repeat; background-size:100% auto; position:relative; padding-top:30px;}
.unpack_box img{ width:100%; height:auto;-webkit-animation-name: tada;animation-name: tada;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;
animation-delay: 1s;-webkit-animation-delay: 1s;}
.unpack_box_light{ background:url(../Image/gift/unpack_boxLight.png) no-repeat; background-size:100%; position:absolute; top:0px; width:100%; height:auto; min-height:130px; display:block; z-index:100; -webkit-animation-name: showhide;animation-name: showhide;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;animation-delay: 2s;-webkit-animation-delay: 2s; animation-fill-mode: both;-webkit-animation-fill-mode: both;}

.flower1{}
.flower2{}
.flower3{}

.btn_area{ background:#fff url(../Image/gift/unpack_cloud.png) no-repeat; background-size:100% auto; padding-top:60px; margin-top:-70px; }
.unpack_btn{ margin:0px auto; width:66.4%; height:auto; background-color:#ef9200; border-radius:3px; padding-bottom:5px;}
.unpack_btn a{ background-color:#ffb600; border-radius:3px; color:#fff; font-size:1.5em; font-weight:bold; padding:10px 0; text-align:center; width:100%; display:block; text-shadow:0px 3px 0px rgba(239, 146, 0,1)}

@-webkit-keyframes tada {
	0% {-webkit-transform: scale(1);}	
	10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
	100% {-webkit-transform: scale(1) rotate(0);}
}


@keyframes tada {
	0% {transform: scale(1);}	
	10%, 20% {transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
	100% {transform: scale(1) rotate(0);}
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}
	
	80% {
		-webkit-transform: translateY(-10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}


@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateY(30px);
	}
	
	80% {
		transform: translateY(-10px);
	}
	
	100% {
		transform: translateY(0);
	}
}

@-webkit-keyframes showhide {
	0% {
		 background:url(../Image/gift/unpack_boxLight.png) no-repeat;
		 background-size:0%;
	}

	100% {
		 background:url(../Image/gift/unpack_boxLight.png) no-repeat;
		 background-size:100% auto;
	}
}


@keyframes showhide {
	0% {
		 background:url(../Image/gift/unpack_boxLight.png) no-repeat;
		 background-size:0%;
	}

	100% {
		 background:url(../Image/gift/unpack_boxLight.png) no-repeat;
		 background-size:100% auto;
	}
}