@charset "utf-8";
/* CSS Main */

html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:auto; margin:0 auto; max-width:640px;background:#fff;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#header { height:auto; overflow:hidden;z-index:1; position:relative;text-align:center;}
#main { height:auto!important; height:100%; position:relative;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:15px 0 10px 0;text-align:center; border-top:solid 1px #fff; color:#5c5c5c;
	background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);}
#footer p a{ color:#5c5c5c;}
#footer img { width:180px; height:14px;}
/*----------------------------------  Global结束  ------------------------------------*/

.mainTop { line-height:0; position:relative; z-index:99;}
.mainTop .top-img {height:auto;position:relative; overflow:hidden; line-height:0;}
.mainTop .top-img .vip-img {width:100%;height:auto;}

.mainCon {position:relative;z-index:100; height:auto;background-color: #0178b3;background-image: -webkit-linear-gradient(-117deg, #000, #9d2f30);background-image: -moz-linear-gradient(-117deg, #000, #9d2f30);background-image: -o-linear-gradient(-117deg, #000, #9d2f30);background-image: linear-gradient(-153deg, #000, #9d2f30);padding-top:55px;margin-top:-15px;}
.mainCon.mainCon-nonelogo { padding-top:20px;}
.mainCon .top-title { position:absolute; z-index:100; width:100%; height:40px; line-height:40px; top:-90px; text-align:center;font-size:20px; color:#000; text-shadow:0px 2px 2px rgba(255,255,255, 0.7);-webkit-text-shadow:0px 2px 2px rgba(255,255,255, 0.7);-moz-text-shadow:0px 2px 2px rgba(255,255,255, 0.7);left:0; background:rgba(255,255,255,0.7);font-weight:bold;}
.mainCon .top-title.title-nonelogo { top:-40px;}
.mainCon .logo-bg {width:104px;height:104px; top:-57px;left:50%; margin-left:-52px;position:absolute; z-index:101;}
.mainCon .logo-con {width:90px;height:90px; margin:5px; background:#fff; border-radius:45px;-webkit-border-radius:45px;-moz-border-radius:45px; overflow:hidden; text-align:center;box-shadow:0 2px 3px rgba(0, 0, 0, 0.3);	-webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 2px 3px rgba(0, 0, 0, 0.3); padding:2px; line-height:0;}
.mainCon .logo-con img { width:90px; height:90px; margin:0 auto; border-radius:45px;-webkit-border-radius:45px;-moz-border-radius:45px;}
.mainCon-top { margin:0 7px;height:17px;}
.mainCon-bottom { margin:0 7px; height:17px;}
.mainCon-instruction { background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; margin:0 10px; padding:15px 10px;}
.mainCon .mainCon-text {height:auto; overflow:hidden;margin:0 auto; font-size:14px; color:#999; line-height:23px; text-align:left;word-break: break-all; work-wrap: break-word;overflow:hidden;}
.mainCon .mainCon-title { font-size:16px; font-weight:bold; text-align: left; color:#333;word-break: break-all; work-wrap: break-word; padding:0 0 5px 0;}

.mainCon-contenter { padding-bottom:15px; }
.mainCon-contenter-bg { padding-top:10px;}
.tree-img {height:auto;position:relative; overflow:hidden; line-height:0;}
.tree-img .tree-img-bg {width:100%;height:auto;}
.tree-img .tree-img-star { width:100%; height:auto; position:absolute; top:0; left:0; z-index:50;}
.tree-img-star-one {animation:i-rotate 2s linear infinite;-moz-animation:i-rotate 2s linear infinite;-webkit-animation:i-rotate 2s linear infinite;-o-animation:i-rotate 2s linear infinite;}
.tree-img-star-two {animation:ii-rotate 3s infinite;-moz-animation:ii-rotate 3s infinite;-webkit-animation:ii-rotate 3s infinite;-o-animation:ii-rotate 3s infinite;}
.tree-box { position:absolute; z-index:100; width:60px; height:60px;cursor:pointer;}
.tree-box img{ width:100%; height:100%;}
.tree-box-one { top:50%; left:21%;}
.tree-box-one img {animation:box1-rotate 4s 2s infinite;-moz-animation:box1-rotate 4s 2s infinite;-webkit-animation:box1-rotate 4s 2s infinite;-o-animation:box1-rotate 4s 2s infinite;}
.tree-box-two {top:56%; left:41%;}
.tree-box-two img {animation:box1-rotate 7s 4s infinite;-moz-animation:box1-rotate 7s 4s infinite;-webkit-animation:box1-rotate 7s 4s infinite;-o-animation:box1-rotate 4s 4s infinite;}
.tree-box-three {top:35%; left:55%;}
.tree-box-three img {animation:box1-rotate 6s 6s infinite;-moz-animation:box1-rotate 6s 6s infinite;-webkit-animation:box1-rotate 6s 6s infinite;-o-animation:box1-rotate 6s 6s infinite;}
.tree-box-four {top:51%; left:63%;}
.tree-box-four img {animation:box1-rotate 9s 2s infinite;-moz-animation:box1-rotate 9s 2s infinite;-webkit-animation:box1-rotate 9s 2s infinite;-o-animation:box1-rotate 9s 2s infinite;}
.tree-box.click-box img{animation:click-rotate 1s forwards;-moz-animation:click-rotate 1s forwards;-webkit-animation:click-rotate 1s forwards;-o-animation:click-rotate 1s forwards;}
.tree-box.clicktwo-box img{animation:clicktwo-rotate 0.5s;-moz-animation:clicktwo-rotate 0.5s;-webkit-animation:clicktwo-rotate 0.5s;-o-animation:clicktwo-rotate 0.5s;}

#AjaxWrapper { width:100%; height:100%; position:fixed;background:rgba(0,0,0,0.3); top:0; left:0; z-index:1000; text-align:center;}
.cjWrapper { margin:0 auto; background:url(../Image/Item/msg-bg.png) repeat 0 0;position:relative; height:auto; width:80%; min-width:270px; max-width:580px; margin-top:80px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px; padding:10px;-webkit-box-shadow: inset 0 0 10px rgba(252,252,252,.75);-moz-box-shadow: inset 0 0 10px rgba(252,252,252,.75);box-shadow: inset 0 0 10px rgba(252,252,252,.75);}
.cjCon { margin:0 auto; height:auto; background:#fdf7db;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px; padding:10px;}
.cjText { margin:0 auto; text-align:center; font-size:16px; color:#333; padding:15px 0 10px 0; line-height:23px;}
.cjBtn { margin:0 auto; width:170px;height:35px; line-height:35px; border:solid 1px #cd9218;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background-color: #ffd400;background-image: -webkit-linear-gradient(bottom, #ffab18, #f6de32);background-image: -moz-linear-gradient(bottom, #ffab18, #f6de32);background-image: -o-linear-gradient(bottom, #ffab18, #f6de32);background-image: linear-gradient(to top, #ffab18, #f6de32); font-size:18px;	color: #523700;text-shadow: 1px 1px #ffe400;}
.cjBtn a {color: #523700; display:block;}
.cjWrapper-close { color:#fbdc63; font-size:20px; background:url(../Image/Item/Dfs-close.png) repeat 0 0; background-size:100%; width:30px; height:30px;position:absolute; top:-10px; right:-10px;} 
.cjWrapper-close a { color:#fbdc63; display:block; line-height:30px; text-align:center;}

/*多媒体*/
.multimedia{ position:absolute; top:-40px; right:10px;}
.multimedia .voice_button{width:30px; height:30px; background:url(../Image/voice_button.png) no-repeat 0 0;background-size:100%; cursor:pointer; border:none; float:left; margin-left:8px; display:block;}
.multimedia .video_button{width:30px ; height:30px; background:url(../Image/video_button.png) no-repeat 0 0;background-size:100%; cursor:pointer; border:none; float:left; margin-left:8px; display:block;}
/*----------------------------------  多媒体结束  ------------------------------------*/
/*分享*/
.share{ width:100%; height:40px; line-height:30px;padding-bottom:5px;background:#f4f4f4;}
.share_list{ list-style:none;}
.share_list li{float:left; margin-left:15px;}
/*----------------------------------  分享结束  ------------------------------------*/

.ptb20 { padding-top:10px; padding-bottom:10px;}
.ml10{ margin-left:10px;}
.pb10 { padding-bottom:10px;}
.mt20{ margin-top:20px;}
::-moz-placeholder {
    color: #cccccc;
    opacity: 1!important;
}
:-ms-input-placeholder {
    color: #cccccc;
}
::-webkit-input-placeholder {
    color: #cccccc;
}

.loadingBox{position:fixed;z-index:100;top:50%;left:50%;width:180px;height:auto; overflow:hidden;margin:-60px auto auto -120px;padding:30px 30px;border: 1px solid #2A2A2A;color:#fff;text-align:center;border-radius:10px;background:rgba(0,0,0,.66);} 
.loadingBox p{}
.loadingBox span { line-height:40px;font-size:16px;} 
.loadingBox i{position:absolute;z-index:9;top:60%;left:50%;margin:-16px 0 0 -16px;display:inline-block;width:20px;height:20px;border:4px dotted #000;border-color:rgba(255,255,255,.1) rgba(255,255,255,.2) rgba(255,255,255,.4) rgba(255,255,255,.5);border-radius:300px;-webkit-animation:loadforever 20s infinite linear;} 
@-webkit-keyframes loadforever{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(5000deg);}}

/*表单*/
input[type=text] {color:#555555;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow:none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
input[type=radio] {width:14px; height:14px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; margin-left:5px;}
input[type=radio]:checked { border:solid 1px #c03612;}
input[type=radio]:checked:after{content:''; background:#c03612; width:4px; height:4px;position: absolute;top:4px;left:4px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
input[type=checkbox] {width:14px; height:14px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px; margin-left:5px;}
input[type=checkbox]:checked { border:solid 1px #c03612;}
input[type=checkbox]:checked:after{content:'';background:url(../Image/chcekbox-bg-sOne.png) no-repeat 0 0; background-size:100%; width:8px; height:8px;position: absolute;top:2px;left:2px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
select {color:#ccc; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
textarea {color:#ccc; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
/*----------------------------------  表单结束  ------------------------------------*/

.sOne-Input { margin-left:5px; float:left; width:188px;}
.sOne-Input-half {margin-left:5px; float:left; width:90px;}
.sOne-Radio { float:left;margin-top:10px;}
.sOne-Checkbox { float:left;margin-top:10px;}
.sOne-Textarea { width:270px; margin-left:5px; float:left;}
.sOne-select { width:188px; margin-left:5px; float:left;}
.sOne-select-s { width:61px; margin-left:5px; float:left;}
.sOne-getpasscode {width:90px;}

.loginForm { height:auto; overflow:hidden; max-width:610px;}
.loginForm li { height:48px; overflow:hidden;}
.loginForm li p { height:35px;width:65px; margin-left:0;float:left; text-align:right; line-height:35px; font-size:14px; color:#333;}
.loginForm li span { color:red;line-height:35px; font-size:16px;}
.loginForm li label { height:35px;margin-left:0;float:left; text-align:left; line-height:35px; font-size:16px; padding-right:20px;}

.mainCon-pecktitle {height:auto; overflow:hidden; width:280px; margin:0 auto; font-size:14px; color:#999; line-height:25px; text-align:left;word-break: break-all; work-wrap: break-word;overflow:hidden;}
.mainCon-peck { text-align:center; color:#333; width:280px; margin:0 auto; font-size:14px; line-height:25px;word-break: break-all; work-wrap: break-word;overflow:hidden; font-weight:bold;}
.sOne-loginForm {padding-top:10px; width:280px; margin:0 auto;}
.sOne-loginInput { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:160px;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-loginInput-half { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:68px; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-loginRadio { float:left; width:14px; height:14px; margin-top:10px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; margin-left:5px;}
input[type=radio]:checked { border:solid 1px #c03612;}
input[type=radio]:checked:after{content:''; background:#c03612; width:4px; height:4px;position: absolute;top:4px;left:4px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
.data-select { width:61px; line-height:35px; margin-left:5px; height:35px; float:left; border:none; color:#ccc; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-getpasscode { height:37px; line-height:37px;width:90px; color:#909090; float:right;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; margin-right:2px;}
.sOne-passcode-img {border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:none; width:80px; float:left; margin-left:10px;height:37px;}
.sOne-refurbish { width:30px; height:37px; float:left; margin-left:5px;background:url(../Image/refurbish-icon.png) no-repeat 0 center; background-size:100%;}

.input_button{margin:0 auto; width:170px;height:35px; line-height:35px; border:solid 1px #cd9218;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background-color: #ffd400;background-image: -webkit-linear-gradient(bottom, #ffab18, #f6de32);background-image: -moz-linear-gradient(bottom, #ffab18, #f6de32);background-image: -o-linear-gradient(bottom, #ffab18, #f6de32);background-image: linear-gradient(to top, #ffab18, #f6de32); font-size:18px;	color: #523700;text-shadow: 1px 1px #ffe400;}


@keyframes i-rotate
{
0%   { opacity:0;}
40% { opacity:1;}
100% { opacity:0;}
}

@-moz-keyframes i-rotate
{
0%   { opacity:0;}
40% { opacity:1;}
100% { opacity:0;}
}

@-webkit-keyframes i-rotate
{
0%   { opacity:0;}
40% { opacity:1;}
100% { opacity:0;}
}
@keyframes ii-rotate
{
0%   { opacity:1;}
50% { opacity:0;}
100% { opacity:1;}
}

@-moz-keyframes ii-rotate
{
0%   { opacity:1;}
50% { opacity:0;}
100% { opacity:1;}
}

@-webkit-keyframes ii-rotate
{
0%   { opacity:1;}
50% { opacity:0;}
100% { opacity:1;}
}

@keyframes box1-rotate
{
0%  {transform: rotate(0deg);}
20% {transform: rotate(4deg);}
40% {transform: rotate(-4deg);}
60% {transform: rotate(2deg);}
70% {transform: rotate(-2deg);}
80% {transform: rotate(0deg) scale(1,1); opacity:1;}
85% {transform: rotate(1deg) scale(0.9,0.9); opacity:1;}
95% {transform: rotate(-1deg) scale(0.9,0.9); opacity:1;}
100%{transform: rotate(0deg) scale(1,1); opacity:1;}
}
@-moz-keyframes box1-rotate
{
0%  {-moz-transform: rotate(0deg);}
20% {-moz-transform: rotate(4deg);}
40% {-moz-transform: rotate(-4deg);}
60% {-moz-transform: rotate(2deg);}
70% {-moz-transform: rotate(-2deg);}
80% {-moz-transform: rotate(0deg) scale(1,1); opacity:1;}
85% {-moz-transform: rotate(1deg) scale(0.9,0.9); opacity:1;}
95% {-moz-transform: rotate(-1deg) scale(0.9,0.9); opacity:1;}
100%{-moz-transform: rotate(0deg) scale(1,1); opacity:1;}
}
@-webkit-keyframes box1-rotate
{
0%  {-webkit-transform: rotate(0deg);}
20% {-webkit-transform: rotate(4deg);}
40% {-webkit-transform: rotate(-4deg);}
60% {-webkit-transform: rotate(2deg);}
70% {-webkit-transform: rotate(-2deg);}
80% {-webkit-transform: rotate(0deg) scale(1,1); opacity:1;}
85% {-webkit-transform: rotate(1deg) scale(0.9,0.9); opacity:1;}
95% {-webkit-transform: rotate(-1deg) scale(0.9,0.9); opacity:1;}
100%{-webkit-transform: rotate(0deg) scale(1,1); opacity:1;}
}


@keyframes click-rotate
{
0% {transform: scale(1,1); opacity:1;}
100% {transform: scale(2,2); opacity:0;}
}
@-moz-keyframes click-rotate
{
0% {-moz-transform: scale(1,1); opacity:1;}
100% {-moz-transform: scale(2,2); opacity:0;}
}
@-webkit-keyframes click-rotate
{
0% {-webkit-transform: scale(1,1); opacity:1;}
100% {-webkit-transform: scale(2,2); opacity:0;}
}
@keyframes clicktwo-rotate
{
0% {transform: scale(0,0); opacity:1;}
70% {transform: scale(1.3,1.3); opacity:1;}
100% {transform: scale(1,1); opacity:1;}
}
@-moz-keyframes clicktwo-rotate
{
0% {-moz-transform: scale(0,0); opacity:1;}
70% {-moz-transform: scale(1.3,1.3); opacity:1;}
100% {-moz-transform: scale(1,1); opacity:1;}
}
@-webkit-keyframes clicktwo-rotate
{
0% {-webkit-transform: scale(0,0); opacity:1;}
70% {-webkit-transform: scale(1.3,1.3); opacity:1;}
100% {-webkit-transform: scale(1,1); opacity:1;}
}