@charset "utf-8";
/* CSS Main */

html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:103%; min-height:103%; text-align:center;}
#wrapper { height:auto; margin:0 auto; max-width:640px;background:#fff;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#header { height:auto; overflow:hidden;z-index:1; position:relative;text-align:center;}
#main { height:auto!important; height:100%; position:relative; padding-top:70px;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:5px 0 5px 0;text-align:center;color:#5c5c5c;background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%); font-size:12px; line-height:20px;}
#footer p a{ color:#5c5c5c;}

/*----------------------------------  Global结束  ------------------------------------*/

.mainTop { display:none;}
.mainCon { margin:0 15px; position:relative;z-index:100; background:#fff; padding-top:60px; margin-bottom:50px; border-radius:5px; padding-bottom:15px; }
.mainCon.noTitle { padding-top:15px;}
.mainCon.noLogo { padding-top:60px;}
.mainCon.noTitle.noLogo { padding-top:15px;}
.mainCon.noTitle .top-title { display:none;}
.mainCon.noTitle .mainCon-contenter { padding-top:10px;}
.mainCon.noTitle.noTitle.noLogo .mainCon-contenter { border-top:none;}
.mainCon.noTitle.noLogo .mainCon-contenter { border-top:none;}
.mainCon.noTitle.noTitle .mainCon-contenter { padding-top:10px;}
.mainCon.noLogo .logo-bg { display:none;}
.mainCon.noLogo .top-title { top:-40px;}
.mainCon .top-title { margin:0 10px; height:auto; margin-top:-30px; line-height:30px; top:30px; text-align:center;font-size:14px; color:#aaa;}
.mainCon .top-title.title-nonelogo { padding-top:20px;}
.mainCon .logo-bg {width:56px;height:56px; top:-28px;left:50%; margin-left:-28px;position:absolute; z-index:101;}
.mainCon .logo-con {width:56px;height:56px; background:#fff; border-radius:45px;overflow:hidden; text-align:center; line-height:0;}
.mainCon .logo-con img {width:56px; height:56px; margin:0 auto; border-radius:30px;}
.mainCon .mainCon-text {height:auto; overflow:hidden; width:230px; padding:0 0 10px 0; margin:0 auto; font-size:14px; color:#999; line-height:25px; text-align:left;word-break: break-all; work-wrap: break-word;overflow:hidden;}
.mainCon .mainCon-title {margin:0 10px; height:auto; font-size:16px; text-align: center; margin:0 auto; color:#333;word-break: break-all; work-wrap: break-word;overflow:hidden; padding:10px 0; line-height:23px;}
.mainCon .mainCon-title.mainCon-title-nonelogo { margin-top:-10px;}
.mainCon-contenter { border-top: dashed 1px #efefef; background:#fff;}
.mainCon-contenter-bg { margin:0 5px;}
.mainCon-contenter-bg img { max-width:100%;}

.ModbgColor1 { background:#55bd47;}
.ModbgColor2 { background:#10ad61;}
.ModbgColor3 { background:#35a4de;}
.ModbgColor4 { background:#3d78da;}
.ModbgColor5 { background:#9058cb;}
.ModbgColor6 { background:#de9c33;}
.ModbgColor7 { background:#ebac16;}
.ModbgColor8 { background:#f9861f;}
.ModbgColor9 { background:#f08500;}
.ModbgColor10 { background:#e75735;}
.ModbgColor11 { background:#d54036;}
.ModbgColor12 { background:#333333;}
.ModbgColor13 { background:#666666;}
.ModbgColor14 { background:#999999;}
.ModbgColor15 { background:#823700;}
.ModbgColor16 { background:#825f00;}
.ModbgColor17 { background:#dddddd;}
.ModbgColor18 { background:#e7e7e7;}
.ModbgColor19 { background:#f4f4f4;}
.ModbgColor20 { background:#ffffff;}

/*多媒体*/
.multimedia{ position:absolute; top:-40px; right:10px;}
.multimedia .voice_button{width:30px; height:30px; background:url(../Image/voice_button.png) no-repeat 0 0;background-size:100%; cursor:pointer; border:none; float:left; margin-left:8px; display:block;}
.multimedia .video_button{width:30px ; height:30px; background:url(../Image/video_button.png) no-repeat 0 0;background-size:100%; cursor:pointer; border:none; float:left; margin-left:8px; display:block;}
/*----------------------------------  多媒体结束  ------------------------------------*/
/*分享*/
.share{ width:100%; height:35px; line-height:30px;padding-bottom:0;background:#fff; padding-top:15px; border-top: dashed 1px #efefef;}
.share_list{ list-style:none;}
.share_list li{float:left; margin-left:15px; height:35px;}
/*----------------------------------  分享结束  ------------------------------------*/

.ptb20 { padding-top:10px; padding-bottom:10px;}
.ml10{ margin-left:10px;}
.pb10 { padding-bottom:10px;}
.mt20{ margin-top:20px;}
::-moz-placeholder {
    color: #cccccc;
    opacity: 1!important;
}
:-ms-input-placeholder {
    color: #cccccc;
}
::-webkit-input-placeholder {
    color: #cccccc;
}

.loadingBox{position:fixed;z-index:100;top:50%;left:50%;width:180px;height:100px; overflow:hidden;margin:-60px auto auto -120px;padding:30px 30px;border: 1px solid #2A2A2A;color:#fff;text-align:center;border-radius:10px;background:rgba(0,0,0,.66);}
.loadingBox p{}
.loadingBox span { font-size:16px;}
.loadingBox i{position:absolute;z-index:9;top:60%;left:50%;margin:-16px 0 0 -16px;display:inline-block;width:20px;height:20px;border:4px dotted #000;border-color:rgba(255,255,255,.1) rgba(255,255,255,.2) rgba(255,255,255,.4) rgba(255,255,255,.5);border-radius:300px;-webkit-animation:loadforever 20s infinite linear;} 
@-webkit-keyframes loadforever{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(5000deg);}}

/*表单*/
input[type=text] {color:#555555;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow:none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
input[type=radio] {width:14px; height:14px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; margin-left:5px;}
input[type=radio]:checked { border:solid 1px #c03612;}
input[type=radio]:checked:after{content:''; background:#c03612; width:4px; height:4px;position: absolute;top:4px;left:4px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
input[type=checkbox] {width:14px; height:14px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px; margin-left:5px;}
input[type=checkbox]:checked { border:solid 1px #c03612;}
input[type=checkbox]:checked:after{content:'';background:url(../Image/chcekbox-bg-sOne.png) no-repeat 0 0; background-size:100%; width:8px; height:8px;position: absolute;top:2px;left:2px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
select {color:#ccc; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
textarea {color:#ccc; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
/*----------------------------------  表单结束  ------------------------------------*/

/*-----------------------------------返回-----------------------------------*/
.mainCon-img-body { padding-top:35px; width:320px;}
.mainCon-goback { height:35px; background:#22282c; position: fixed; width:100%; top:0px; left:0px;}
.goback-img { height:29px; width:55px;background:url(../Image/go-back.png) no-repeat 0 0; margin:3px 0 3px 10px; background-size:100%;float:left; line-height:29px; font-size:14px; color:#fff;}
.mainCon-img img { width:100%; height:auto}
/*-----------------------------------返回结束-----------------------------------*/

/*-----------------------------------粉丝登录-----------------------------------*/
.memberLogin {position: fixed; z-index:300; top:0; left:0; width:100%; height:100%;background: rgba(0,0,0,0.6) url(../Image/loading.gif) no-repeat center center; display:none; border:none;}
.memberLogin .memberLogin-cloose {position: fixed; top:10px; right:10px; width:80px; height:30px; background:rgba(191,6,0,.5); border-radius:3px; color:#fff; line-height:30px;}
/*-----------------------------------粉丝登录-----------------------------------*/

/*分享及订单*/
.out-box { position: fixed;top:0;left:0;height: 100%;width: 100%;background: rgba(0,0,0,0.8); text-align: center; z-index:1111;}
.out-box .img { width:90%; height:auto; margin:0 auto; margin-top:10px;-webkit-animation-duration: 1.5s;-webkit-animation-iteration-count:1;-webkit-animation-direction: alternate;-webkit-animation-timing-function: ease-out;-webkit-animation-fill-mode: forwards;-webkit-animation-delay: 0.5s;-webkit-animation-name: tada;}
.out-box .text{ width:280px; margin:0 auto; text-align:center;}
.out-box .text p{color:#fff; font-size:18px; color:#fff; line-height:30px;}
@-webkit-keyframes tada {
  0% {-webkit-transform: scale(1);transform: scale(1);}
  10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);transform: scale(0.9) rotate(-3deg);}
  30%, 50%, 70%, 90% {-webkit-transform: scale(1.05) rotate(3deg);transform: scale(1.05) rotate(3deg);}
  40%, 60%, 80% {-webkit-transform: scale(1.05) rotate(-3deg);transform: scale(1.05) rotate(-3deg);}
  100% {-webkit-transform: scale(1) rotate(0);transform: scale(1) rotate(0);}
}
/*分享及订单*/