@charset "utf-8";
/* CSS Main */
html{color:#333; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea,pre{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

a {color:#b60101;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
.pt20 { padding-top:20px;}

* {-webkit-tap-highlight-color:rgba(0,0,0,0)}
::-moz-placeholder {color: #cccccc;opacity: 1!important;}
:-ms-input-placeholder {color: #cccccc;}
::-webkit-input-placeholder {color: #cccccc;}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ min-height:100%; text-align:center;}
#wrapper { height:auto; margin:0 auto; max-width:640px;background:#e84144; overflow:hidden;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#header { height:auto; overflow:hidden;z-index:1; position:relative;text-align:center;}
#main { height:auto!important; height:100%; position:relative;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:10px 0 10px 0;text-align:center; border-top:solid 1px #fff; color:#5c5c5c;
	background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);}
#footer p a{ color:#5c5c5c;}
#footer img { width:180px; height:14px;}
/*----------------------------------  Global结束  ------------------------------------*/

/*加载*/
#loading { position:fixed; width:100%; height:100%; background:#e84144; z-index:1000;}
.loadimg { display:none;}
#loading .loadingbox { position:absolute; top:50%; margin-top:-200px; left:50%; margin-left:-160px; width:320px; height:400px; text-align:center;color:#beaca3;}
.loadingbox>h4 { padding:50px 10px; margin:0 20px; line-height:30px; font-size:24px;}
.loadingbox>div { position:relative; margin:0 auto; width:100px;height:100px;border-radius:50%;}
.loadingbox>div>i { position:absolute;top:0;left:0;box-sizing:border-box;width:100%;height:100%;border-radius:50%;border-width:2px;border-style:solid;border-color:#eee #eee #beaca3 #eee;-webkit-animation:logo 0.8s linear infinite;}
.loadingbox>div>img {width:100%;height:100%;border-radius:50%;}
.loadingbox>h5 { position:absolute; bottom:80px; left:50%; margin-left:-160px; width:320px; font-size:26px;line-height:1.5;opacity:0;-webkit-animation:bling 2s linear infinite;}
.loadingbox>h6 {position:absolute;bottom:0;left:0;width:100%;padding-bottom:4%;font-size:18px;text-align:center;line-height:1.8;}
#loading.red { background:#fbe3e7;}
#loading.red .loadingbox {color:#d72740;}
@-webkit-keyframes bounceInDown {
  0% {opacity: 0;-webkit-transform: translateY(-500px);}
  60% {opacity: 1;-webkit-transform: translateY(10px);}
  80% {opacity: 1; -webkit-transform: translateY(-5px);}
  100% {opacity: 1;-webkit-transform: translateY(0);}
}
@-webkit-keyframes logo{
	0% {-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes bling{
	0% { opacity:0;}
	50% { opacity:1;}
	100%{ opacity:0;}
}

#header.userCenter {padding: 7px 0; background:#f8f8f8;border-bottom:solid 1px #b2b2b2;}
#header.userCenter .goback i {background:url(../Image/Item/icon-wrapper.png) 0 0; background-size:100% auto;}
#header.userCenter .logo span { color:#3d4245;}
.goback { position:absolute; top:7px; left:0; width:35px; height:30px; cursor:pointer;}
.goback i { float:left; margin: 3px 0 0 8px; width:25px; height:25px;background:url(../Image/Item/icon-wrapper.png) 0 -25px; background-size:100% auto;}
.gosearch { position:absolute; top:7px; right:0; width:35px; height:30px; cursor:pointer;}
.gosearch i { float:left; margin-top:3px; width:25px; height:25px;background:url(../Image/Item/icon-wrapper.png) 0 -175px; background-size:100% auto;}
#header .logo { display:block; margin:0 35px; height:30px; line-height: 30px; padding-top: 0; font-size:18px; text-align:center;}
#header .logo i { float:left; width:30px; height:30px; overflow:hidden; background:#fff; border-radius:2px; text-align:center; line-height:32px; font-style:normal; color:#ea5518; font-size:24px;}
#header .logo span { margin-left:5px; line-height:32px; font-size:18px; color:#fff;}
#header .logo em { color: #999999;}
/* xiangax新增样式 */

.specialCj-con { width:100%; max-width:640px; overflow-x: hidden; margin:0 auto; height:100%; position: relative; background: url(../Image/lottery/dzp_bg.jpg) no-repeat; background-size: 100% 100%;}
.close-specialCj {display: block; width:26px; height:26px; position:absolute; top:10px; right:10px;line-height: 26px;color: #ffc000;text-align: center;font-size: 32px;transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg); border-radius:50%; border:solid 2px #ffc000; cursor:pointer; z-index:1;}

.bg { position: absolute; top: 0; left: 0; z-index: 1; background-size: 100% auto; background: url(../Image/lottery/dzp_bg.jpg) no-repeat;}
.logo { margin: 0 40px; padding-top: 30px; position: relative; z-index: 1;}
.logo .box { float: left; width: 55px; height: 55px; border: 3px #ffffff solid; border-radius: 50%; overflow: hidden;}
.logo h2 { margin-left:70px; padding:18px 0; line-height:25px; color: #ffffff; font-size: 18px; text-align:left;word-wrap: break-word;}

.title { position: relative; margin-bottom:-20%;}
.title img { width:100%;}
.title img.element_16 { position: absolute; top:0; left:0; z-index:2;}
.title img.element_9 { position:relative; z-index:1; margin-top:-25%;opacity:.3; -webkit-animation:rotate 3s infinite linear; -o-transform: rotate 3s infinite linear;-moz-transform: rotate 3s infinite linear;}
.title a { position: absolute; z-index:2; display: block; width: 110px; height: 40px; right: 10%; top:55px; text-align: center; line-height: 40px; color: #ffffff; text-indent: -9999em;}
.remaining { width: 200px; height: 36px; line-height: 36px; margin: 20px auto 0 auto; text-align: center; color: #ffffff; border-radius: 20px; font-size: 18px; background: #901c37;}
.remaining span { color: #ffd50f;}

.record { text-align: center; margin: 30px auto 20px auto;}
.record a { font-size: 15px; color: #ffffff; text-decoration:underline;}

.copyright { margin-bottom: 20px;}
.copyright .found { line-height: 30px; margin-bottom: 5px; border-bottom: 1px #959595 dashed;}
.copyright .found a { line-height: 30px; font-size: 13px; color: #3488c6;}
.copyright p,.copyright p a { font-size: 12px; line-height: 20px; color: #959595;}
.copyright p a:before { content: ""; display: inline-block; width: 15px; height: 14px; margin-right: 3px; vertical-align: middle;}
.copyright p a:first-child:before { background: url(../Image/copyright_1.png) no-repeat; background-size: 100%;}
.copyright p a:last-child:before { background: url(../Image/copyright_2.png) no-repeat; background-size: 100%;}

#lottery { width:310px; height:310px; overflow: visible; margin:0 auto;/* position:absolute; margin-top:-160px; top:60%; left:50%; margin-left:-155px;*/}
#lottery .lotBg { position:relative; width:100%; height:100%;background-color: #90023d;background-image: -webkit-linear-gradient(top, #c74088, #8b003c);
	background-image: -moz-linear-gradient(top, rgba(255,75,171,.6), rgba(139,0,60,1));
	background-image: -o-linear-gradient(top, rgba(255,75,171,.6), rgba(139,0,60,1));
	background-image: -ms-linear-gradient(top, rgba(255,75,171,.6), rgba(139,0,60,1));
	background-image: linear-gradient(to bottom, rgba(255,75,171,.6), rgba(139,0,60,1)); box-shadow:0 3px 8px rgba(0,0,0,0.2);}
#lottery .lotBg2 { position:absolute; width:288px; height:288px; top: 10px; left: 10px; border-radius: 50%;background-color: #fe7f5f; border: 2px rgba(255,255,255,.7) solid;}
#lottery .lotBg3 { position:absolute; width:266px; height:266px; top: 20px; left: 20px; border-radius: 50%;background-color: #f85324; border: 2px rgba(252,112,72,1) solid;}
#lottery .lotBg4 { position:absolute; width:158px; height:158px; top: 70px; left: 70px; border-radius: 50%;background-color: #f83d17; border: 5px rgba(255,193,139,.8) solid; box-shadow:inset 0 0 5px rgba(0,0,0,.3);}

#lottery .lotCon,#lottery .lotCon-shadow { width:264px; height:264px; overflow:hidden; position:absolute; z-index:2; top:50%; margin-top:-132px; left:50%; margin-left:-132px; }
#lottery .lotCon-shadow { z-index:3;-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.1);-moz-box-shadow:inset 0 0 10px rgba(0,0,0,.1);box-shadow:inset 0 0 10px rgba(0,0,0,.1);}
#lottery .lotCon .prize {width:100%;height:100%;position: absolute;clip: rect(132px,264px,264px,0px);}
#lottery .lotCon .prizebg {width:100%;height:100%;border-radius: 100px;position: absolute;clip: rect(0px,132px,264px,0px);-o-transform: rotate(30deg);-moz-transform: rotate(30deg);-webkit-transform: rotate(30deg);}
.prize1 {-o-transform: rotate(120deg);-moz-transform: rotate(120deg);-webkit-transform: rotate(120deg);}
.prize2 {-o-transform: rotate(180deg);-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);}
.prize3 {-o-transform: rotate(240deg);-moz-transform: rotate(240deg);-webkit-transform: rotate(240deg);}
.prize4 {-o-transform: rotate(300deg);-moz-transform: rotate(300deg);-webkit-transform: rotate(300deg);}
.prize5 {-o-transform: rotate(360deg);-moz-transform: rotate(360deg);-webkit-transform: rotate(360deg);}
.prize6 {-o-transform: rotate(420deg);-moz-transform: rotate(420deg);-webkit-transform: rotate(420deg);}
.prize1 .prizebg { background:rgba(248,61,23,.5); z-index:5;}
.prize2 .prizebg { background:rgba(255,255,255,.2); z-index:5;}
.prize3 .prizebg { background:rgba(248,61,23,.5); z-index:5;}
.prize4 .prizebg { background:rgba(255,255,255,.2); z-index:5;}
.prize5 .prizebg { background:rgba(248,61,23,.5); z-index:5;}
.prize6 .prizebg { background:rgba(255,255,255,.2); z-index:5;}
.prize7 .prizebg { background:rgba(248,61,23,.5); z-index:5;}
.prize8 .prizebg { background:rgba(255,255,255,.2); z-index:5;}
#lottery .lotTxt.lotCenter-animation8-1 p.txt1 span { -webkit-animation:lotTxt 0.3s 5s forwards;}
#lottery .lotTxt.lotCenter-animation8-2 p.txt2 span { -webkit-animation:lotTxt 0.3s 5s forwards;}
#lottery .lotTxt.lotCenter-animation8-3 p.txt3 span { -webkit-animation:lotTxt 0.3s 5s forwards;}
#lottery .lotTxt.lotCenter-animation8-4 p.txt4 span { -webkit-animation:lotTxt 0.3s 5s forwards;}
#lottery .lotTxt.lotCenter-animation8-5 p.txt5 span { -webkit-animation:lotTxt 0.3s 5s forwards;}
#lottery .lotTxt.lotCenter-animation8-6 p.txt6 span { -webkit-animation:lotTxt 0.3s 5s forwards;}
#lottery .lotTxt.lotCenter-animation8-7 p.txt7 span { -webkit-animation:lotTxt 0.3s 5s forwards;}
#lottery .lotTxt.lotCenter-animation8-8 p.txt8 span { -webkit-animation:lotTxt 0.3s 5s forwards;}
#lottery .lotTxt { width:100%; height:100%; position:absolute; left:0; top:0; z-index:4;-webkit-transition:all 1s;}
#lottery .lotTxt p {width:100%; height:20px; position:absolute; z-index:3; top:50%; margin-top:-10px; left:0;}
#lottery .lotTxt p span { width:100%; height:20px; line-height:20px; position:absolute; top:-100px; left:0; font-size:16px; color:#ffffff; text-align: center;}
#lottery .lotTxt .txt1 {-o-transform: rotate(0deg);-moz-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
#lottery .lotTxt .txt2 {-o-transform: rotate(60deg);-moz-transform: rotate(60deg);-webkit-transform: rotate(60deg);transform: rotate(60deg);}
#lottery .lotTxt .txt3 {-o-transform: rotate(120deg);-moz-transform: rotate(120deg);-webkit-transform: rotate(120deg);transform: rotate(120deg);}
#lottery .lotTxt .txt4 {-o-transform: rotate(180deg);-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
#lottery .lotTxt .txt5 {-o-transform: rotate(240deg);-moz-transform: rotate(240deg);-webkit-transform: rotate(240deg);transform: rotate(240deg);}
#lottery .lotTxt .txt6 {-o-transform: rotate(300deg);-moz-transform: rotate(300deg);-webkit-transform: rotate(300deg);transform: rotate(300deg);}
#lottery .lotImg { width:100%; height:100%; position:absolute; left:0; top:0;}
#lottery .lotImg p {width:100%; height:20px; position:absolute; z-index:3; top:50%; margin-top:-10px; left:0;}
#lottery .lotImg p img { width:17px; height:21px; line-height:0; position:absolute; top:-60px; left:50%; margin-left:-8px;}
#lottery .lotImg .img1 {-o-transform: rotate(0deg);-moz-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
#lottery .lotImg .img2 {-o-transform: rotate(60deg);-moz-transform: rotate(60deg);-webkit-transform: rotate(60deg);transform: rotate(60deg);}
#lottery .lotImg .img3 {-o-transform: rotate(120deg);-moz-transform: rotate(120deg);-webkit-transform: rotate(120deg);transform: rotate(120deg);}
#lottery .lotImg .img4 {-o-transform: rotate(180deg);-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
#lottery .lotImg .img5 {-o-transform: rotate(240deg);-moz-transform: rotate(240deg);-webkit-transform: rotate(240deg);transform: rotate(240deg);}
#lottery .lotImg .img6 {-o-transform: rotate(300deg);-moz-transform: rotate(300deg);-webkit-transform: rotate(300deg);transform: rotate(300deg);}
#lottery .lotCenter { width:94px; height:94px; position:absolute; z-index:5; top:50%; margin-top:-47px; left:50%; margin-left:-47px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
#lottery .lotCenter i { width:25px;height:55px;position: absolute; z-index:9; background: url(../Image/lottery/element_20.png) no-repeat 0 0; background-size:100%; position:absolute; left:50%; margin-left:-12px; top:-45px; opacity:1;}
#lottery .lotCenter a { position:absolute; top:50%; margin-top:-47px; left:50%; margin-left:-47px; z-index:10; width:94px; height:94px;background: url(../Image/lottery/element_8.png) no-repeat 0 0; background-size:100%;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
#lottery .lotCenter a span { display:block; padding:24px 0; line-height:20px; font-weight:bold;color:#ffffff; text-align:center; font-size:16px;}
#lottery .lotLight { width:100%; height:16px; position:absolute; top:50%; left:0; margin-top:-8px;}
#lottery .lotLight li { width:100%; height:100%; position:absolute; top:0; left:0;}
#lottery .lotLight li i { display:block;}
.lotLight1 i,.lotLight3 i,.lotLight5 i,.lotLight7 i,.lotLight9 i,.lotLight11 i,.lotLight13 i,.lotLight15 i {background: #fff; width:8px;height:8px; margin-left:6px;}
.lotLight2 i,.lotLight4 i,.lotLight6 i,.lotLight8 i,.lotLight10 i,.lotLight12 i,.lotLight14 i,.lotLight16 i { background:#fff; width:16px;height:16px; margin-left:2px;}
.lotLight1 {-o-transform: rotate(0deg);-moz-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
.lotLight2 {-o-transform: rotate(22.5deg);-moz-transform: rotate(22.5deg);-webkit-transform: rotate(22.5deg);transform: rotate(22.5deg);}
.lotLight3 {-o-transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.lotLight4 {-o-transform: rotate(67.5deg);-moz-transform: rotate(67.5deg);-webkit-transform: rotate(67.5deg);transform: rotate(67.5deg);}
.lotLight5 {-o-transform: rotate(90deg);-moz-transform: rotate(90deg);-webkit-transform: rotate(90deg);transform: rotate(90deg);}
.lotLight6 {-o-transform: rotate(112.5deg);-moz-transform: rotate(112.5deg);-webkit-transform: rotate(112.5deg);transform: rotate(112.5deg);}
.lotLight7 {-o-transform: rotate(135deg);-moz-transform: rotate(135deg);-webkit-transform: rotate(135deg);transform: rotate(135deg);}
.lotLight8 {-o-transform: rotate(157.5deg);-moz-transform: rotate(157.5deg);-webkit-transform: rotate(157.5deg);transform: rotate(157.5deg);}
.lotLight9 {-o-transform: rotate(180deg);-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
.lotLight10 {-o-transform: rotate(202.5deg);-moz-transform: rotate(202.5deg);-webkit-transform: rotate(202.5deg);transform: rotate(202.5deg);}
.lotLight11 {-o-transform: rotate(225deg);-moz-transform: rotate(225deg);-webkit-transform: rotate(225deg);transform: rotate(225deg);}
.lotLight12 {-o-transform: rotate(247.5deg);-moz-transform: rotate(247.5deg);-webkit-transform: rotate(247.5deg);transform: rotate(247.5deg);}
.lotLight13 {-o-transform: rotate(270deg);-moz-transform: rotate(270deg);-webkit-transform: rotate(270deg);transform: rotate(270deg);}
.lotLight14 {-o-transform: rotate(292.5deg);-moz-transform: rotate(292.5deg);-webkit-transform: rotate(292.5deg);transform: rotate(292.5deg);}
.lotLight15 {-o-transform: rotate(315deg);-moz-transform: rotate(315deg);-webkit-transform: rotate(315deg);transform: rotate(315deg);}
.lotLight16 {-o-transform: rotate(337.5deg);-moz-transform: rotate(337.5deg);-webkit-transform: rotate(337.5deg);transform: rotate(337.5deg);}

.lotterynum { background:#e4bb7d; padding:10px; margin:0 30px; margin-top:20px; font-size:14px; color:#a80809;-webkit-border-radius: 5px;	-moz-border-radius:5px;	border-radius: 5px;	background-color: #e4bb7d;-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,.3);-moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,.3);	box-shadow: inset 1px 1px 2px rgba(0,0,0,.3);border: solid 1px #c99a54;-moz-text-shadow: 0 1px 1px rgba(255,255,255,.5);-ms-text-shadow: 0 1px 1px rgba(255,255,255,.5);-o-text-shadow: 0 1px 1px rgba(255,255,255,.5);-webkit-text-shadow: 0 1px 1px rgba(255,255,255,.5); text-shadow: 0 1px 1px rgba(255,255,255,.5); text-align:left;}

#lottery.l3 .prize1 {-webkit-transform: rotate(270deg);}
#lottery.l3 .prize2 {-webkit-transform: rotate(390deg);}
#lottery.l3 .prize3 {-webkit-transform: rotate(510deg);}
#lottery.l3 .prizebg {-webkit-transform: rotate(-30deg);}
#lottery.l3 .prize1 .prizebg {background:rgba(255,255,255,.3);}
#lottery.l3 .prize2 .prizebg {background:rgba(255,255,255,.2);}
#lottery.l3 .prize3 .prizebg {background:rgba(255,255,255,.1);}
#lottery.l3 .txt1,#lottery.l3 .img1 {-webkit-transform: rotate(0deg);}
#lottery.l3 .txt2,#lottery.l3 .img2 {-webkit-transform: rotate(120deg);}
#lottery.l3 .txt3,#lottery.l3 .img3 {-webkit-transform: rotate(240deg);}

#lottery.l4 .prize1 {-webkit-transform: rotate(135deg);}
#lottery.l4 .prize2 {-webkit-transform: rotate(225deg);}
#lottery.l4 .prize3 {-webkit-transform: rotate(315deg);}
#lottery.l4 .prize4 {-webkit-transform: rotate(405deg);}
#lottery.l4 .prizebg {-webkit-transform: rotate(0deg);}
#lottery.l4 .txt1,#lottery.l4 .img1 {-webkit-transform: rotate(0deg);}
#lottery.l4 .txt2,#lottery.l4 .img2 {-webkit-transform: rotate(90deg);}
#lottery.l4 .txt3,#lottery.l4 .img3 {-webkit-transform: rotate(180deg);}
#lottery.l4 .txt4,#lottery.l4 .img4 {-webkit-transform: rotate(270deg);}

#lottery.l5 .prize1 {-webkit-transform: rotate(126deg);}
#lottery.l5 .prize2 {-webkit-transform: rotate(198deg);}
#lottery.l5 .prize3 {-webkit-transform: rotate(270deg);}
#lottery.l5 .prize4 {-webkit-transform: rotate(342deg);}
#lottery.l5 .prize5 {-webkit-transform: rotate(414deg);}
#lottery.l5 .prizebg {-webkit-transform: rotate(18deg);}
#lottery.l5 .prize1 .prizebg {background:rgba(255,255,255,.3);}
#lottery.l5 .prize2 .prizebg {background:rgba(255,255,255,.2);}
#lottery.l5 .prize3 .prizebg {background:rgba(255,255,255,.1);}
#lottery.l5 .prize4 .prizebg {background:rgba(255,255,255,.3);}
#lottery.l5 .prize5 .prizebg {background:rgba(255,255,255,.2);}
#lottery.l5 .txt1,#lottery.l5 .img1 {-webkit-transform: rotate(0deg);}
#lottery.l5 .txt2,#lottery.l5 .img2 {-webkit-transform: rotate(72deg);}
#lottery.l5 .txt3,#lottery.l5 .img3 {-webkit-transform: rotate(144deg);}
#lottery.l5 .txt4,#lottery.l5 .img4 {-webkit-transform: rotate(216deg);}
#lottery.l5 .txt5,#lottery.l5 .img5 {-webkit-transform: rotate(288deg);}

#lottery.l7 .prize1 {-webkit-transform: rotate(116deg);}
#lottery.l7 .prize2 {-webkit-transform: rotate(168deg);}
#lottery.l7 .prize3 {-webkit-transform: rotate(219deg);}
#lottery.l7 .prize4 {-webkit-transform: rotate(270deg);}
#lottery.l7 .prize5 {-webkit-transform: rotate(322deg);}
#lottery.l7 .prize6 {-webkit-transform: rotate(373deg);}
#lottery.l7 .prize7 {-webkit-transform: rotate(425deg);}
#lottery.l7 .prizebg {-webkit-transform: rotate(38.5deg);}
#lottery.l7 .prize1 .prizebg {background:rgba(255,255,255,.3);}
#lottery.l7 .prize2 .prizebg {background:rgba(255,255,255,.2);}
#lottery.l7 .prize3 .prizebg {background:rgba(255,255,255,.1);}
#lottery.l7 .prize4 .prizebg {background:rgba(255,255,255,.2);}
#lottery.l7 .prize5 .prizebg {background:rgba(255,255,255,.3);}
#lottery.l7 .prize6 .prizebg {background:rgba(255,255,255,.2);}
#lottery.l7 .prize7 .prizebg {background:rgba(255,255,255,.1);}
#lottery.l7 .txt1,#lottery.l7 .img1 {-webkit-transform: rotate(0deg);}
#lottery.l7 .txt2,#lottery.l7 .img2 {-webkit-transform: rotate(51deg);}
#lottery.l7 .txt3,#lottery.l7 .img3 {-webkit-transform: rotate(102deg);}
#lottery.l7 .txt4,#lottery.l7 .img4 {-webkit-transform: rotate(154deg);}
#lottery.l7 .txt5,#lottery.l7 .img5 {-webkit-transform: rotate(205deg);}
#lottery.l7 .txt6,#lottery.l7 .img6 {-webkit-transform: rotate(257deg);}
#lottery.l7 .txt7,#lottery.l7 .img7 {-webkit-transform: rotate(308deg);}

#lottery.l8 .prize1 {-webkit-transform: rotate(68deg);}
#lottery.l8 .prize2 {-webkit-transform: rotate(113deg);}
#lottery.l8 .prize3 {-webkit-transform: rotate(158deg);}
#lottery.l8 .prize4 {-webkit-transform: rotate(203deg);}
#lottery.l8 .prize5 {-webkit-transform: rotate(248deg);}
#lottery.l8 .prize6 {-webkit-transform: rotate(293deg);}
#lottery.l8 .prize7 {-webkit-transform: rotate(338deg);}
#lottery.l8 .prize8 {-webkit-transform: rotate(383deg);}
#lottery.l8 .prizebg {-webkit-transform: rotate(45deg);}
#lottery.l8 .txt1,#lottery.l8 .img1 {-webkit-transform: rotate(0deg);}
#lottery.l8 .txt2,#lottery.l8 .img2 {-webkit-transform: rotate(45deg);}
#lottery.l8 .txt3,#lottery.l7 .img3 {-webkit-transform: rotate(90deg);}
#lottery.l8 .txt4,#lottery.l8 .img4 {-webkit-transform: rotate(135deg);}
#lottery.l8 .txt5,#lottery.l8 .img5 {-webkit-transform: rotate(180deg);}
#lottery.l8 .txt6,#lottery.l8 .img6 {-webkit-transform: rotate(225deg);}
#lottery.l8 .txt7,#lottery.l8 .img7 {-webkit-transform: rotate(270deg);}
#lottery.l8 .txt8,#lottery.l8 .img8 {-webkit-transform: rotate(315deg);}
/*弹窗*/
.msgPop { position:fixed; z-index:990; top:0; width:100%; height:100%; min-height:100%; margin:0 auto;display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;}
.msgPop.bg { background:rgba(0,0,0,0.7);}
.msgPop .msgBg { position: relative;  height: auto; width: 80%; min-width: 280px; max-width: 580px; height:auto; margin:0 auto; margin-top:-35%;}
.msgPop .msgBg .msgTitle { position:relative; color:#000; font-size:20px; line-height:30px; background:url(../Image/duanwu/Item/qj-18.png?v=__VR__) no-repeat 0 top; background-size:100% auto;}
.msgPop .msgBg .msgTitle .close-msgPop { text-decoration: none; color: #ffffff; font-size: 20px; width: 30px; height: 30px; position: absolute; top: -17px; right: -12px; z-index: 5; background: #ed3f41; border-radius: 50%;}
.msgPop .msgBg .msgTitle.hastitle { line-height:77px; color:#a3964c; background:url(../Image/duanwu/Item/element_24.png?v=__VR__) no-repeat 0 top; background-size:100% auto;}
.msgPop .msgBg .msgTitle.border { width: 100%; height: 15px; position: absolute; left: 0; top: -5px; background: url(../Image/lottery/element_27.png) repeat-x; background-size: auto 100%;}
.msgPop .msgBg .msgTitle.notitle { background: #fffced; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
.msgPop .msgBg .msgTitle i { font-style: normal; color: #ffffff; display: block; margin: 0 0 4px 4px; line-height: 30px; text-align: center; font-size: 32px; transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg);}
.msgPop .msgBg .msgTitle.hastitle + .msgCon { padding:30px 10px 15px 10px;}
.msgPop .msgBg .msgCon {/* padding:30px 20px;*/ height:auto; overflow:hidden;border-radius:4px; background:#ffffff;touch-action: pan-y; -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3); -moz-box-shadow: 0 2px 3px rgba(0,0,0,.3); box-shadow: 0 2px 3px rgba(0,0,0,.3);}
.msgPop .msgBg .msgCon { font-size:18px; line-height:25px;}

.msgPop .msgBg .msgCon .cjText { margin:0 auto; height:auto; padding: 30px 20px; background:#fffced;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.msgPop .msgBg .msgCon .cjText .cjBtn {left:0px;}
.msgPop .msgBg .msgCon .cjText .cjText-text .title.tc + p { max-height:160px; overflow-y:auto;-webkit-overflow-scrolling : touch; -webkit-font-smoothing: antialiased;}
.msgPop .msgBg .msgCon i { display:block; margin:0 auto; width:80px; height:80px; line-height:80px; font-size:60px; overflow:hidden; color:#ffba26;}
.msgPop .msgBg .msgCon .cjText-img { line-height:0;}
.msgPop .msgBg .msgCon li { margin-bottom: 10px; position: relative;}
.msgPop .msgBg .msgCon li:last-child { position: absolute; width: 90%; bottom: -80px; left: 50%; margin-left: -45%; height:50px;}
.msgPop .msgBg .msgCon input { vertical-align: top;-webkit-appearance:none;}
.msgPop .msgBg .msgCon input[type="text"],
.msgPop .msgBg .msgCon input[type="tel"] { width: 100%; height: 41px; line-height: 41px; padding: 0; border: 1px #a2996a solid; text-indent: .5em; border-radius: 3px;}
.msgPop .msgBg .msgCon input[type="button"],.msgPop .msgBg .msgCon input[type="submit"] { line-height: 35px; border: 1px #ffda68 solid; font-size: 14px; color: #ffffff; background:#ffda68; border-radius: 3px;-webkit-appearance:none; cursor:pointer;}
.msgPop .msgBg .msgCon #subcj { width:100%; line-height:50px; text-align: center; background:#ffda68; border: solid 1px #ffda68; border-radius:3px; color:#7e6046; font-size:18px; border-radius:8px; -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3); box-shadow: 0 2px 3px rgba(0,0,0,.3); display:block;}
.msgPop .msgBg .msgCon input[type="button"].sOne-cjpasscode-btn { display: block; width: 100px; height: 41px; line-height: 41px; text-align: center; font-size: 16px; position: absolute; top: 1px; right: -1px; border: 0; border-radius: 0 3px 3px 0; background: #ed3f41; color: #ffffff;}
/*.msgPop .msgBg .msgCon .cjBtn {width: 110%; padding: 120px 0 40px 0; position: absolute; bottom: -110px; left: -5%; background: #ed3f41; border-radius: 3px; z-index: -1; -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.5); box-shadow: inset 0 2px 3px rgba(0,0,0,.5); height:auto; overflow:hidden;}*/
/*.msgPop .msgBg .msgCon .cjBtn a { display:block; width: 80%; margin:0 auto; height:50px; line-height:50px; text-align: center; background:#ffda68; border: solid 1px #ffda68; border-radius:3px; color:#7e6046; font-size:18px; border-radius:8px; -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3); box-shadow: 0 2px 3px rgba(0,0,0,.3);}*/
.msgPop .msgBg .msgCon .cjBtn{width: 100%;margin: 0 auto;	box-sizing: border-box;	padding: 80px 10px 40px 10px;	position: absolute;	bottom: -108px;	/* left: -5%; */	background: #ed3f41;	border-radius: 3px;	z-index: -1;	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.5);	box-shadow: inset 0 2px 3px rgba(0,0,0,.5);	height: auto;	overflow: hidden;}
.msgPop .msgBg .msgCon .cjBtn a { display: inline-block; box-sizing: border-box; width:100%; padding: 0 20px; float: left; margin: 0 auto; height: 50px;	line-height: 50px;	text-align: center;	background: #ffda68; border: solid 1px #ffda68;	border-radius: 3px;	color: #7e6046;	font-size: 18px; border-radius: 8px;	box-shadow: 0 2px 3px rgba(0,0,0,.3);}
.msgPop .msgBg .msgCon .cjBtn a.first {margin-right:10px;}
.msgPop .msgBg .msgCon .cjBtn a.sm { color:#7e6046; width:48%;}
.msgPop .msgBg .msgCon .cjBtn a.sm + a { width:48%;}
.formError { position:absolute; top:33px; left:160px; padding:0 10px; height:20px; line-height:20px; background:#bb0000; color:#fff; border-radius:2px; z-index:100; font-size:12px; display:none;}
input.erro + .formError { display:block;-webkit-animation:formerroMsg 0.3s linear;-webkit-animation-fill-mode:forwards;}
.half + .formError { left:75px;}
.formError.passcode { right:100px;}
.formError:before { position:absolute; top:-22px; right:10px; width:18px; height:24px; color:#bb0000; content: ''; background:url(../Image/icon-formerro.png) no-repeat 0 0; background-size:100%;}
.formError .formErrorContent { text-align:center;}
@-webkit-keyframes formerroMsg{
	0%{-webkit-transform:translate(0,10px);opacity:0;}
	100%{-webkit-transform:translate(0,0);opacity:0.7;}
}
.msgPop .msgBg .msgCon p {margin: 0 auto; text-align: justify; font-size: 18px; color: #7e6046; padding: 0 0 10px 0; line-height: 23px;word-wrap: break-word;}
.msgPop .msgBg .msgCon p.title { padding:5px 0; font-size:20px; color:#ed3f41;}
.msgPop .msgBg .msgCon p.title.tc { text-align:center;}
.msgPop .msgBg .msgCon p span { color:#1e7135;}

.msgPop .msgBg .msgCon .gameRule { color:#7e6046; text-align:left; font-size:12px;}
.msgPop .msgBg .msgCon .gameRule .divRule { padding-bottom:10px; max-height:190px; overflow:hidden; overflow-y:auto;-webkit-overflow-scrolling : touch; -webkit-font-smoothing: antialiased;}
.msgPop .msgBg .msgCon .gameRule h2 { font-size:16px; text-align:center; margin-bottom:5px;}
.msgPop .msgBg .msgCon .gameRule p { padding-bottom:5px; font-size:12px; line-height:18px;}
.msgPop .msgBg .msgCon .gameRule p b { font-weight:bold;color:#7e6046;}
.msgPop .msgBg .msgCon .gameRule table {width:100%;border-collapse:collapse;border:1px solid #776c2d;table-layout:fixed; line-height:18px;}
.msgPop .msgBg .msgCon .gameRule td {padding: 2px 5px;border-collapse:collapse;vertical-align:middle;text-align:center;border:solid 1px #776c2d;color:#8b8041;}
.msgPop .msgBg .msgCon .gameRule td.tl { text-align:left;}
.msgPop .msgBg .msgCon .gameRule .divRule .prizeList { margin-top:5px; border-top:dashed 1px #7e6046;}
.msgPop .msgBg .msgCon .gameRule .divRule .prizeList h2 { padding-top:5px; font-size:16px; text-align:center; margin-bottom:5px;}
.msgPop .msgBg .msgCon .gameRule .divRule .prizeList .prizeItem { height:auto; overflow:hidden; margin-bottom:8px; border:solid 1px #7e6046; border-radius:3px;}
.msgPop .msgBg .msgCon .gameRule .divRule .prizeList .prizeItem h3 { text-align:center; font-size:14px; line-height:30px;}
.msgPop .msgBg .msgCon .gameRule .divRule .prizeList .prizeItem .prize { height:auto; overflow:hidden; padding:0 10px; margin-bottom:10px;}
.msgPop .msgBg .msgCon .gameRule .divRule .prizeList .prizeItem .prize .img { float:left; width:80px; height:59px; background:#fff;}
.msgPop .msgBg .msgCon .gameRule .divRule .prizeList .prizeItem .prize .img img { width:100%; height:100%;}
.msgPop .msgBg .msgCon .gameRule .divRule .prizeList .prizeItem .prize p { margin-left:85px;}

.msgPop.active .msgBg .msgTitle { height: 0;}
.msgPop.active .msgBg .msgCon .cjText { padding: 0; background: none;}
.msgPop.active .msgBg .msgCon { box-shadow: none; background: none;}
.msgPop.active .msgBg .msgCon p.text { padding: 35px; background: url(../Image/lottery/element_26.png) 0 0 no-repeat; background-size: 100% 100%; border-radius: 4px; -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3); -moz-box-shadow: 0 2px 3px rgba(0,0,0,.3); box-shadow: 0 2px 3px rgba(0,0,0,.3);}
.msgPop.active .msgBg .msgCon .cjBtn { background: none; box-shadow: none;}
.msgPop.active .msgBg .msgCon .cjBtn a { border: 1px #ed3f41 solid; background: #ed3f41; color: #ffffff; box-shadow: none;}

/*小元素*/
.specialCj-con .element { pointer-events: none; width: 100%; height: 100%; max-width: 640px; top: 0; left: 0; position: absolute; z-index:0;background: url(../Image/lottery/dzp_bg2.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element.active { z-index: 10000;}
.specialCj-con .element div { position: absolute; width: 100%; z-index: 5;}
.specialCj-con .element .star1 {opacity: 0; height: 30px; top: 28%; left: 0; background: url(../Image/lottery/element_6.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .star2 {opacity: 0; height: 25px; top: 20%; left: 0; background: url(../Image/lottery/element_7.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .star3 {opacity: 0; height: 30px; top: 30%; left: -10%; background: url(../Image/lottery/element_6.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .polygon1 { height: 16px; top: 28%; left: 0; background: url(../Image/lottery/element_1.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .polygon2 { height: 9px; top: 30%; left: 0; background: url(../Image/lottery/element_12.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .polygon3 { height: 10px; top: 24%; left: 0; background: url(../Image/lottery/element_13.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .polygon4 { height: 14px; top: 10%; left: 0; background: url(../Image/lottery/element_3.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .polygon5 { height: 11px; top: 8%; left: 0; background: url(../Image/lottery/element_14.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .gold1 { height: 25px; top: 15%; left: 0; background: url(../Image/lottery/element_22.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .gold2 { height: 40px; top: 8%; left: 30px; background: url(../Image/lottery/element_24.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .gold3 { height: 20px; top: 8%; left: 0; background: url(../Image/lottery/element_10.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .gold4 { height: 21px; top: 75%; left: -30px; background: url(../Image/lottery/element_19.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .gold5 { opacity: .7; height: 21px; top: 80%; right: 85%; background: url(../Image/lottery/element_19.png) 0 0 no-repeat; background-size: 100% 100%;}

.specialCj-con .element .star1 { -webkit-animation: opacity 2s 0.2s alternate infinite;}
.specialCj-con .element .star2 { -webkit-animation: opacity 1.5s 0.2s alternate infinite;}
.specialCj-con .element .star3 { -webkit-animation: opacity 3s 0.8s alternate infinite;}

/*弹窗小元素*/
.msgElement.element { pointer-events: none; width: 100%; height: 100%; top: 0; left: 0; position: absolute; z-index: -1; overflow: hidden;background: url(../Image/lottery/dzp_bg2.png) 0 0 no-repeat; background-size: 100% 100%;}
.msgElement.element.active { z-index: 10000;}
.msgElement.element div { position: absolute; width: 100%;}
.msgElement.element .polygon1 { height: 16px; top: 20%; left: 0; background: url(../Image/lottery/element_1.png) 0 0 no-repeat; background-size: 100% 100%;}
.msgElement.element .polygon2 { height: 9px; top: 20%; left: 0; background: url(../Image/lottery/element_12.png) 0 0 no-repeat; background-size: 100% 100%;}
.msgElement.element .polygon3 { height: 10px; top: 20%; left: 0; background: url(../Image/lottery/element_13.png) 0 0 no-repeat; background-size: 100% 100%;}
.msgElement.element .polygon4 { height: 14px; top: 20%; left: 0; background: url(../Image/lottery/element_18.png) 0 0 no-repeat; background-size: 100% 100%;}
.msgElement.element .polygon5 { height: 11px; top: 8%; left: 10%; background: url(../Image/lottery/element_14.png) 0 0 no-repeat; background-size: 100% 100%;}
.msgElement.element .polygon6 { height: 16px; top: 19%; left: 15%; background: url(../Image/lottery/element_15.png) 0 0 no-repeat; background-size: 100% 100%;}
.msgElement.element .polygon7 { height: 19px; top: 17%; left: 10%; background: url(../Image/lottery/element_2.png) 0 0 no-repeat; background-size: 100% 100%;}
.msgElement.element .polygon8 { height: 14px; top: 15%; left: 0; background: url(../Image/lottery/element_3.png) 0 0 no-repeat; background-size: 100% 100%;}
.msgElement.element .polygon9 { height: 14px; top: 16%; left: 54%; background: url(../Image/lottery/element_31.png) 0 0 no-repeat; background-size: 100% 100%;}
.msgElement.element .polygon10 { height: 11px; top: 8%; left: 10%; background: url(../Image/lottery/element_14.png) 0 0 no-repeat; background-size: 100% 100%;}
.msgElement.element .polygon11 { height: 16px; top: 12%; left: 0; background: url(../Image/lottery/element_21.png) 0 0 no-repeat; background-size: 100% 100%;}
.msgElement.element .polygon12 { height: 19px; top: 16%; left: 10%; background: url(../Image/lottery/element_32.png) 0 0 no-repeat; background-size: 100% 100%;}
.msgElement.element .polygon13 { height: 10px; top: 14%; left: 20%; background: url(../Image/lottery/element_13.png) 0 0 no-repeat; background-size: 100% 100%;}
.msgElement.element .polygon14 { height: 14px; top: 20%; left: 0; background: url(../Image/lottery/element_23.png) 0 0 no-repeat; background-size: 100% 100%;}
.msgElement.element .polygon15 { height: 11px; top: 8%; left: 0; background: url(../Image/lottery/element_15.png) 0 0 no-repeat; background-size: 100% 100%;}
.msgElement.element .gold1 { height: 21px; top: 55%; right: 90%; background: url(../Image/lottery/element_19.png) 0 0 no-repeat; background-size: 100% 100%;}
.msgElement.element .gold2 { height: 60px; top: 60%; left: 0px; background: url(../Image/lottery/element_24.png) 0 0 no-repeat; background-size: 100% 100%;}
.msgElement.element .gold3 { height: 20px; top: 50%; left: 25%; background: url(../Image/lottery/element_10.png) 0 0 no-repeat; background-size: 100% 100%;}

/*中奖纪录*/
.recordBox { padding-bottom: 60px; background: #eaeaea;}
.recordBox .wrapper ul { background: #ffffff; margin-top: 15px; border-top: 1px #e5e5e5 solid; border-bottom: 1px #e5e5e5 solid;}
.recordBox .wrapper ul li { padding: 20px 15px 20px 0; margin: 0 0 0 15px; border-bottom: 1px #e5e5e5 solid;}
.recordBox .wrapper ul li:last-child { border-bottom: 0;}
.recordBox .wrapper ul li.noRecord { padding: 40px 0; margin-bottom: 40px; border-bottom: 0;}
.recordBox .wrapper ul div { width: 100%; float: left; font-size: 15px; text-align: left; line-height: 32px;}
.recordBox .wrapper ul div h3 { font-size: 16px;display: inline; float: left; max-width: 55%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.recordBox .wrapper ul div h4 { font-size: 13px; color: #666666;}
.recordBox .wrapper ul div i { display: block; position: relative; height: 18px; line-height: 18px; margin: 8px 0 0 10px; border-radius: 2px; font-style: normal; padding: 0 5px; float: left; font-size: 12px; text-align: center; color: #ffffff;}
.recordBox .wrapper ul div i:before { content: ""; display: block; position: absolute; left: -3px; top: 50%; margin-top: -3px; width: 6px; height: 6px; transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg);}
.recordBox .wrapper ul div i.ticket:before,.recordBox .wrapper ul div i.ticket { background: #61aeef;}
.recordBox .wrapper ul div i.cardTicket:before,.recordBox .wrapper ul div i.cardTicket { background: #ffac1e;}
.recordBox .wrapper ul div i.wxpacket:before,.recordBox .wrapper ul div i.wxpacket { background: #ffac1e;}
.recordBox .wrapper ul div i.hongBao:before,.recordBox .wrapper ul div i.hongBao { background: #ff898a;}
.recordBox .wrapper ul a { float: right; width: 70px; height: 30px; line-height: 30px; text-align: center; background: #ed3f41; border: 1px #ed3f41 solid; font-size: 15px; color: #ffffff; border-radius: 3px;}
.recordBox .wrapper ul a.hasUsed { background: #f5f5f5; border: 1px #d4d4d4 solid; color: #666666;}
.recordBox .wrapper .btn { width: 100%; padding: 15px 0; background: rgba(255,255,255,0.85); border-top: 1px #e5e5e5 solid; margin: 0 auto; position: fixed; bottom: 0; text-align: center;}
.recordBox .wrapper .btn a { display: block; line-height: 45px; margin: 0 15px; font-size: 17px; background: #ed3f41; border-radius: 10px; color: #ffffff;}
.recordBox .msgPop .msgBg .msgCon p.title { padding: 0; margin-bottom: 15px; text-align: center; font-size: 24px; text-align: center;}

/*圆角*/
#lottery,#lottery .lotBg,#lottery .lotCon,#lottery .lotCon-shadow,#lottery .lotLight li i,#lottery .lotCon .prize,#lottery .lotCon .prizebg,#lottery .lotCenter a {-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
/*插件*/
.loadingBox{position:fixed;z-index:100;top:50%;left:50%;width:180px;height:100px;margin:-60px auto auto -120px;padding:10px 30px;border: 1px solid #2A2A2A;color:#fff;text-align:center;border-radius:10px;background:rgba(0,0,0,.66);} 
.loadingBox p{}
.loadingBox span {font-size:16px;} 
.loadingBox i{position:absolute;z-index:9;top:60%;left:50%;margin:-16px 0 0 -16px;display:inline-block;width:20px;height:20px;border:4px dotted #000;border-color:rgba(255,255,255,.1) rgba(255,255,255,.2) rgba(255,255,255,.4) rgba(255,255,255,.5);border-radius:300px;-webkit-animation:loadforever 20s infinite linear;} 
@-webkit-keyframes loadforever{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(5000deg);}}
.cjTip { position:fixed; z-index:1000; top:48%; width:100%; color:#fff; font-weight:bold; font-size:16px; text-align:center;}
.cjTipbg { position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.4);}
.cjTipTxt { padding:10px; position:absolute; z-index:10; left:50%; margin-left:-70px; top:50%; margin-top:-20px; width:140px; height:auto; background:#fff; border-radius:6px; box-shadow:0 0 10px rgba(0,0,0,.2);}
.cjTipTxt i { position:absolute; top:50%; margin-top:-10px; left:10px; width:20px; height:20px; border:solid 2px #ffad19; border-radius:50%;  border-right:solid 2px transparent;-webkit-animation: gamewrapperbg 1s infinite linear;}
.cjTipTxt p { padding:2px 0; line-height:20px; margin-left:30px; color:#666; font-size:12px; text-align:left; font-weight:normal;}
@-webkit-keyframes gamewrapperbg
{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);}
}
/*插件*/

@-webkit-keyframes rotate
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes opacity
{
	0%{opacity:0;}
	100%{opacity:1;}
}
/*抽奖*/


/*旋转*/
.lotCenter.lotCenter-animation8-1 i,
.lotCenter.lotCenter-animation8-2 i,
.lotCenter.lotCenter-animation8-3 i,
.lotCenter.lotCenter-animation8-4 i,
.lotCenter.lotCenter-animation8-5 i,
.lotCenter.lotCenter-animation8-6 i,
.lotCenter.lotCenter-animation8-7 i,
.lotCenter.lotCenter-animation8-8 i,
.lotCenter.lotCenter-animation7-1 i,
.lotCenter.lotCenter-animation7-2 i,
.lotCenter.lotCenter-animation7-3 i,
.lotCenter.lotCenter-animation7-4 i,
.lotCenter.lotCenter-animation7-5 i,
.lotCenter.lotCenter-animation7-6 i,
.lotCenter.lotCenter-animation7-7 i,
.lotCenter.lotCenter-animation6-1 i,
.lotCenter.lotCenter-animation6-2 i,
.lotCenter.lotCenter-animation6-3 i,
.lotCenter.lotCenter-animation6-4 i,
.lotCenter.lotCenter-animation6-5 i,
.lotCenter.lotCenter-animation6-6 i,
.lotCenter.lotCenter-animation5-1 i,
.lotCenter.lotCenter-animation5-2 i,
.lotCenter.lotCenter-animation5-3 i,
.lotCenter.lotCenter-animation5-4 i,
.lotCenter.lotCenter-animation5-5 i,
.lotCenter.lotCenter-animation4-1 i,
.lotCenter.lotCenter-animation4-2 i,
.lotCenter.lotCenter-animation4-3 i,
.lotCenter.lotCenter-animation4-4 i,
.lotCenter.lotCenter-animation3-1 i,
.lotCenter.lotCenter-animation3-2 i,
.lotCenter.lotCenter-animation3-3 i,
.lotCenter.lotCenter-animation2-1 i,
.lotCenter.lotCenter-animation2-2 i,
.lotCenter.lotCenter-animation1-1 i { opacity:1 !important;}


.lotCenter-animation8-1 {-webkit-animation:lotCenter8-1 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter8-1
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3600deg);}
}
.lotCenter-animation8-2 {-webkit-animation:lotCenter8-2 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter8-2
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3645deg);}
}
.lotCenter-animation8-3 {-webkit-animation:lotCenter8-3 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter8-3
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3690deg);}
}
.lotCenter-animation8-4 {-webkit-animation:lotCenter8-4 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter8-4
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3735deg);}
}
.lotCenter-animation8-5 {-webkit-animation:lotCenter8-5 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter8-5
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3780deg);}
}
.lotCenter-animation8-6 {-webkit-animation:lotCenter8-6 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter8-6
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3825deg);}
}
.lotCenter-animation8-7 {-webkit-animation:lotCenter8-7 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter8-7
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3870deg);}
}
.lotCenter-animation8-8 {-webkit-animation:lotCenter8-8 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter8-8
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3915deg);}
}

.lotCenter-animation7-1 {-webkit-animation:lotCenter7-1 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter7-1
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3600deg);}
}
.lotCenter-animation7-2 {-webkit-animation:lotCenter7-2 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter7-2
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3651deg);}
}
.lotCenter-animation7-3 {-webkit-animation:lotCenter7-3 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter7-3
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3702deg);}
}
.lotCenter-animation7-4 {-webkit-animation:lotCenter7-4 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter7-4
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3753deg);}
}
.lotCenter-animation7-5 {-webkit-animation:lotCenter7-5 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter7-5
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3804deg);}
}
.lotCenter-animation7-6 {-webkit-animation:lotCenter7-6 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter7-6
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3855deg);}
}
.lotCenter-animation7-7 {-webkit-animation:lotCenter7-7 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter7-7
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3906deg);}
}


.lotCenter-animation6-1 {-webkit-animation:lotCenter6-1 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter6-1
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3600deg);}
}
.lotCenter-animation6-2 {-webkit-animation:lotCenter6-2 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter6-2
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3660deg);}
}
.lotCenter-animation6-3 {-webkit-animation:lotCenter6-3 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter6-3
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3720deg);}
}
.lotCenter-animation6-4 {-webkit-animation:lotCenter6-4 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter6-4
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3780deg);}
}
.lotCenter-animation6-5 {-webkit-animation:lotCenter6-5 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter6-5
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3840deg);}
}
.lotCenter-animation6-6 {-webkit-animation:lotCenter6-6 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter6-6
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3900deg);}
}


.lotCenter-animation5-1 {-webkit-animation:lotCenter5-1 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter5-1
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3600deg);}
}
.lotCenter-animation5-2 {-webkit-animation:lotCenter5-2 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter5-2
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3672deg);}
}
.lotCenter-animation5-3 {-webkit-animation:lotCenter5-3 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter5-3
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3744deg);}
}
.lotCenter-animation5-4 {-webkit-animation:lotCenter5-4 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter5-4
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3816deg);}
}
.lotCenter-animation5-5 {-webkit-animation:lotCenter5-5 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter5-5
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3888deg);}
}

.lotCenter-animation4-1 {-webkit-animation:lotCenter4-1 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter4-1
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3600deg);}
}
.lotCenter-animation4-2 {-webkit-animation:lotCenter4-2 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter4-2
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3690deg);}
}
.lotCenter-animation4-3 {-webkit-animation:lotCenter4-3 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter4-3
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3780deg);}
}
.lotCenter-animation4-4 {-webkit-animation:lotCenter4-4 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter4-4
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3870deg);}
}


.lotCenter-animation3-1 {-webkit-animation:lotCenter3-1 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter3-1
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3600deg);}
}
.lotCenter-animation3-2 {-webkit-animation:lotCenter3-2 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter3-2
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3720deg);}
}
.lotCenter-animation3-3 {-webkit-animation:lotCenter3-3 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter3-3
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3840deg);}
}

.lotCenter-animation2-1 {-webkit-animation:lotCenter2-1 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter2-1
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3600deg);}
}
.lotCenter-animation2-2 {-webkit-animation:lotCenter2-2 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter2-2
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3780deg);}
}
/*灯*/
.lotLight-animation1 {-webkit-animation:lotLight1 5s ease 0s forwards;}
@-webkit-keyframes lotLight1
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
.lotLight-animation2 {-webkit-animation:lotLight2 5s linear 0s infinite;}
@-webkit-keyframes lotLight2
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(45deg);}
}

