@charset "utf-8";
/* CSS Main */
.specialCj-con { width:100%; max-width:640px; margin:0 auto; height:100%;}
.close-specialCj {display: block; width:26px; height:26px; position:absolute; top:10px; right:10px;line-height: 26px;color: #ffc000;text-align: center;font-size: 32px;transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg); border-radius:50%; border:solid 2px #ffc000; cursor:pointer; z-index:1;}

#lottery { width:280px; height:280px; overflow: visible; margin:0 auto; position:absolute; margin-top:-160px; top:50%; left:50%; margin-left:-140px;}
#lottery .lotBg { position:relative; width:100%; height:100%;background-color: #ffc000;}
#lottery .lotCon,#lottery .lotCon-shadow { width:240px; height:240px; overflow:hidden; position:absolute; z-index:2; top:50%; margin-top:-120px; left:50%; margin-left:-120px; }
#lottery .lotCon-shadow { z-index:3;-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.1);-moz-box-shadow:inset 0 0 10px rgba(0,0,0,.1);box-shadow:inset 0 0 10px rgba(0,0,0,.1);}
#lottery .lotCon .prize {width:100%;height:100%;position: absolute;clip: rect(120px,240px,240px,0px);}
#lottery .lotCon .prizebg {width:100%;height:100%;border-radius: 100px;position: absolute;clip: rect(0px,120px,240px,0px);-o-transform: rotate(30deg);-moz-transform: rotate(30deg);-webkit-transform: rotate(30deg);}
.prize1 {-o-transform: rotate(120deg);-moz-transform: rotate(120deg);-webkit-transform: rotate(120deg);}
.prize2 {-o-transform: rotate(180deg);-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);}
.prize3 {-o-transform: rotate(240deg);-moz-transform: rotate(240deg);-webkit-transform: rotate(240deg);}
.prize4 {-o-transform: rotate(300deg);-moz-transform: rotate(300deg);-webkit-transform: rotate(300deg);}
.prize5 {-o-transform: rotate(360deg);-moz-transform: rotate(360deg);-webkit-transform: rotate(360deg);}
.prize6 {-o-transform: rotate(420deg);-moz-transform: rotate(420deg);-webkit-transform: rotate(420deg);}
.prize1 .prizebg { background:#ff8b19; z-index:5;}
.prize2 .prizebg { background:#fdb44b; z-index:5;}
.prize3 .prizebg { background:#ff8b19; z-index:5;}
.prize4 .prizebg { background:#fdb44b; z-index:5;}
.prize5 .prizebg { background:#ff8b19; z-index:5;}
.prize6 .prizebg { background:#fdb44b; z-index:5;}
.prize7 .prizebg { background:#ff8b19; z-index:5;}
.prize8 .prizebg { background:#fdb44b; z-index:5;}
#lottery .lotTxt { width:100%; height:100%; position:absolute; left:0; top:0;}
#lottery .lotTxt p {width:100%; height:20px; position:absolute; z-index:3; top:50%; margin-top:-10px; left:0;}
#lottery .lotTxt p span { width:100%; height:20px; line-height:20px; position:absolute; top:-95px; left:0; font-size:14px; color:#833d00;}
#lottery .lotTxt .txt1 {-o-transform: rotate(0deg);-moz-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
#lottery .lotTxt .txt2 {-o-transform: rotate(60deg);-moz-transform: rotate(60deg);-webkit-transform: rotate(60deg);transform: rotate(60deg);}
#lottery .lotTxt .txt3 {-o-transform: rotate(120deg);-moz-transform: rotate(120deg);-webkit-transform: rotate(120deg);transform: rotate(120deg);}
#lottery .lotTxt .txt4 {-o-transform: rotate(180deg);-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
#lottery .lotTxt .txt5 {-o-transform: rotate(240deg);-moz-transform: rotate(240deg);-webkit-transform: rotate(240deg);transform: rotate(240deg);}
#lottery .lotTxt .txt6 {-o-transform: rotate(300deg);-moz-transform: rotate(300deg);-webkit-transform: rotate(300deg);transform: rotate(300deg);}
#lottery .lotImg { width:100%; height:100%; position:absolute; left:0; top:0;}
#lottery .lotImg p {width:100%; height:20px; position:absolute; z-index:3; top:50%; margin-top:-10px; left:0;}
#lottery .lotImg p img { width:17px; height:21px; line-height:0; position:absolute; top:-60px; left:50%; margin-left:-8px;}
#lottery .lotImg .img1 {-o-transform: rotate(0deg);-moz-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
#lottery .lotImg .img2 {-o-transform: rotate(60deg);-moz-transform: rotate(60deg);-webkit-transform: rotate(60deg);transform: rotate(60deg);}
#lottery .lotImg .img3 {-o-transform: rotate(120deg);-moz-transform: rotate(120deg);-webkit-transform: rotate(120deg);transform: rotate(120deg);}
#lottery .lotImg .img4 {-o-transform: rotate(180deg);-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
#lottery .lotImg .img5 {-o-transform: rotate(240deg);-moz-transform: rotate(240deg);-webkit-transform: rotate(240deg);transform: rotate(240deg);}
#lottery .lotImg .img6 {-o-transform: rotate(300deg);-moz-transform: rotate(300deg);-webkit-transform: rotate(300deg);transform: rotate(300deg);}
#lottery .lotCenter { width:70px; height:70px; position:absolute; z-index:5; top:50%; margin-top:-35px; left:50%; margin-left:-35px;background-color: #ff8b19;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
#lottery .lotCenter i { width:22px;height:36px;position: absolute; z-index:9; background: url(../Image/icon-lottery1.png) no-repeat 0 0; background-size:100%; position:absolute; left:50%; margin-left:-10px; top:-23px; opacity:0;}
#lottery .lotCenter a { position:absolute; top:50%; margin-top:-32px; left:50%; margin-left:-32px; z-index:10; width:58px; height:58px;background-color: #f4e9ca;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-webkit-box-shadow: 0 2px 2px rgba(201,104,10,.75);-moz-box-shadow: 0 2px 2px rgba(201,104,10,.75);box-shadow: 0 2px 2px rgba(201,104,10,.75);border: solid 3px #ffa850;}
#lottery .lotCenter a span { display:block; padding:10px 0; line-height:20px; font-weight:bold;color:#984700; text-align:center; font-size:14px;}
#lottery .lotLight { width:100%; height:16px; position:absolute; top:50%; left:0; margin-top:-8px;}
#lottery .lotLight li { width:100%; height:100%; position:absolute; top:0; left:0;}
#lottery .lotLight li i { display:block;}
.lotLight1 i,.lotLight3 i,.lotLight5 i,.lotLight7 i,.lotLight9 i,.lotLight11 i,.lotLight13 i,.lotLight15 i {background: #fff; width:8px;height:8px; margin-left:6px;}
.lotLight2 i,.lotLight4 i,.lotLight6 i,.lotLight8 i,.lotLight10 i,.lotLight12 i,.lotLight14 i,.lotLight16 i { background:#fff; width:16px;height:16px; margin-left:2px;}
.lotLight1 {-o-transform: rotate(0deg);-moz-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg);}
.lotLight2 {-o-transform: rotate(22.5deg);-moz-transform: rotate(22.5deg);-webkit-transform: rotate(22.5deg);transform: rotate(22.5deg);}
.lotLight3 {-o-transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.lotLight4 {-o-transform: rotate(67.5deg);-moz-transform: rotate(67.5deg);-webkit-transform: rotate(67.5deg);transform: rotate(67.5deg);}
.lotLight5 {-o-transform: rotate(90deg);-moz-transform: rotate(90deg);-webkit-transform: rotate(90deg);transform: rotate(90deg);}
.lotLight6 {-o-transform: rotate(112.5deg);-moz-transform: rotate(112.5deg);-webkit-transform: rotate(112.5deg);transform: rotate(112.5deg);}
.lotLight7 {-o-transform: rotate(135deg);-moz-transform: rotate(135deg);-webkit-transform: rotate(135deg);transform: rotate(135deg);}
.lotLight8 {-o-transform: rotate(157.5deg);-moz-transform: rotate(157.5deg);-webkit-transform: rotate(157.5deg);transform: rotate(157.5deg);}
.lotLight9 {-o-transform: rotate(180deg);-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
.lotLight10 {-o-transform: rotate(202.5deg);-moz-transform: rotate(202.5deg);-webkit-transform: rotate(202.5deg);transform: rotate(202.5deg);}
.lotLight11 {-o-transform: rotate(225deg);-moz-transform: rotate(225deg);-webkit-transform: rotate(225deg);transform: rotate(225deg);}
.lotLight12 {-o-transform: rotate(247.5deg);-moz-transform: rotate(247.5deg);-webkit-transform: rotate(247.5deg);transform: rotate(247.5deg);}
.lotLight13 {-o-transform: rotate(270deg);-moz-transform: rotate(270deg);-webkit-transform: rotate(270deg);transform: rotate(270deg);}
.lotLight14 {-o-transform: rotate(292.5deg);-moz-transform: rotate(292.5deg);-webkit-transform: rotate(292.5deg);transform: rotate(292.5deg);}
.lotLight15 {-o-transform: rotate(315deg);-moz-transform: rotate(315deg);-webkit-transform: rotate(315deg);transform: rotate(315deg);}
.lotLight16 {-o-transform: rotate(337.5deg);-moz-transform: rotate(337.5deg);-webkit-transform: rotate(337.5deg);transform: rotate(337.5deg);}

.lotterynum { background:#e4bb7d; padding:10px; margin:0 30px; margin-top:20px; font-size:14px; color:#a80809;-webkit-border-radius: 5px;	-moz-border-radius:5px;	border-radius: 5px;	background-color: #e4bb7d;-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,.3);-moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,.3);	box-shadow: inset 1px 1px 2px rgba(0,0,0,.3);border: solid 1px #c99a54;-moz-text-shadow: 0 1px 1px rgba(255,255,255,.5);-ms-text-shadow: 0 1px 1px rgba(255,255,255,.5);-o-text-shadow: 0 1px 1px rgba(255,255,255,.5);-webkit-text-shadow: 0 1px 1px rgba(255,255,255,.5); text-shadow: 0 1px 1px rgba(255,255,255,.5); text-align:left;}

#lottery.l3 .prize1 {-webkit-transform: rotate(270deg);}
#lottery.l3 .prize2 {-webkit-transform: rotate(390deg);}
#lottery.l3 .prize3 {-webkit-transform: rotate(510deg);}
#lottery.l3 .prizebg {-webkit-transform: rotate(-30deg);}
#lottery.l3 .prize1 .prizebg {background:#fcb600;}
#lottery.l3 .prize2 .prizebg {background:#f28501;}
#lottery.l3 .prize3 .prizebg {background:#f9a700;}
#lottery.l3 .txt1,#lottery.l3 .img1 {-webkit-transform: rotate(0deg);}
#lottery.l3 .txt2,#lottery.l3 .img2 {-webkit-transform: rotate(120deg);}
#lottery.l3 .txt3,#lottery.l3 .img3 {-webkit-transform: rotate(240deg);}

#lottery.l4 .prize1 {-webkit-transform: rotate(135deg);}
#lottery.l4 .prize2 {-webkit-transform: rotate(225deg);}
#lottery.l4 .prize3 {-webkit-transform: rotate(315deg);}
#lottery.l4 .prize4 {-webkit-transform: rotate(405deg);}
#lottery.l4 .prizebg {-webkit-transform: rotate(0deg);}
#lottery.l4 .txt1,#lottery.l4 .img1 {-webkit-transform: rotate(0deg);}
#lottery.l4 .txt2,#lottery.l4 .img2 {-webkit-transform: rotate(90deg);}
#lottery.l4 .txt3,#lottery.l4 .img3 {-webkit-transform: rotate(180deg);}
#lottery.l4 .txt4,#lottery.l4 .img4 {-webkit-transform: rotate(270deg);}

#lottery.l5 .prize1 {-webkit-transform: rotate(126deg);}
#lottery.l5 .prize2 {-webkit-transform: rotate(198deg);}
#lottery.l5 .prize3 {-webkit-transform: rotate(270deg);}
#lottery.l5 .prize4 {-webkit-transform: rotate(342deg);}
#lottery.l5 .prize5 {-webkit-transform: rotate(414deg);}
#lottery.l5 .prizebg {-webkit-transform: rotate(18deg);}
#lottery.l5 .prize1 .prizebg {background:#fcb600;}
#lottery.l5 .prize2 .prizebg {background:#f28501;}
#lottery.l5 .prize3 .prizebg {background:#f9a700;}
#lottery.l5 .prize4 .prizebg {background:#f69601;}
#lottery.l5 .prize5 .prizebg {background:#fec000;}
#lottery.l5 .txt1,#lottery.l5 .img1 {-webkit-transform: rotate(0deg);}
#lottery.l5 .txt2,#lottery.l5 .img2 {-webkit-transform: rotate(72deg);}
#lottery.l5 .txt3,#lottery.l5 .img3 {-webkit-transform: rotate(144deg);}
#lottery.l5 .txt4,#lottery.l5 .img4 {-webkit-transform: rotate(216deg);}
#lottery.l5 .txt5,#lottery.l5 .img5 {-webkit-transform: rotate(288deg);}

#lottery.l7 .prize1 {-webkit-transform: rotate(116deg);}
#lottery.l7 .prize2 {-webkit-transform: rotate(168deg);}
#lottery.l7 .prize3 {-webkit-transform: rotate(219deg);}
#lottery.l7 .prize4 {-webkit-transform: rotate(270deg);}
#lottery.l7 .prize5 {-webkit-transform: rotate(322deg);}
#lottery.l7 .prize6 {-webkit-transform: rotate(373deg);}
#lottery.l7 .prize7 {-webkit-transform: rotate(425deg);}
#lottery.l7 .prizebg {-webkit-transform: rotate(38.5deg);}
#lottery.l7 .prize1 .prizebg {background:#fcb600;}
#lottery.l7 .prize2 .prizebg {background:#f28501;}
#lottery.l7 .prize3 .prizebg {background:#f9a700;}
#lottery.l7 .prize4 .prizebg {background:#f69601;}
#lottery.l7 .prize5 .prizebg {background:#fec000;}
#lottery.l7 .prize6 .prizebg {background:#f69601;}
#lottery.l7 .prize7 .prizebg {background:#fec000;}
#lottery.l7 .txt1,#lottery.l7 .img1 {-webkit-transform: rotate(0deg);}
#lottery.l7 .txt2,#lottery.l7 .img2 {-webkit-transform: rotate(51deg);}
#lottery.l7 .txt3,#lottery.l7 .img3 {-webkit-transform: rotate(102deg);}
#lottery.l7 .txt4,#lottery.l7 .img4 {-webkit-transform: rotate(154deg);}
#lottery.l7 .txt5,#lottery.l7 .img5 {-webkit-transform: rotate(205deg);}
#lottery.l7 .txt6,#lottery.l7 .img6 {-webkit-transform: rotate(257deg);}
#lottery.l7 .txt7,#lottery.l7 .img7 {-webkit-transform: rotate(308deg);}

#lottery.l8 .prize1 {-webkit-transform: rotate(68deg);}
#lottery.l8 .prize2 {-webkit-transform: rotate(113deg);}
#lottery.l8 .prize3 {-webkit-transform: rotate(158deg);}
#lottery.l8 .prize4 {-webkit-transform: rotate(203deg);}
#lottery.l8 .prize5 {-webkit-transform: rotate(248deg);}
#lottery.l8 .prize6 {-webkit-transform: rotate(293deg);}
#lottery.l8 .prize7 {-webkit-transform: rotate(338deg);}
#lottery.l8 .prize8 {-webkit-transform: rotate(383deg);}
#lottery.l8 .prizebg {-webkit-transform: rotate(45deg);}
#lottery.l8 .txt1,#lottery.l8 .img1 {-webkit-transform: rotate(0deg);}
#lottery.l8 .txt2,#lottery.l8 .img2 {-webkit-transform: rotate(45deg);}
#lottery.l8 .txt3,#lottery.l7 .img3 {-webkit-transform: rotate(90deg);}
#lottery.l8 .txt4,#lottery.l8 .img4 {-webkit-transform: rotate(135deg);}
#lottery.l8 .txt5,#lottery.l8 .img5 {-webkit-transform: rotate(180deg);}
#lottery.l8 .txt6,#lottery.l8 .img6 {-webkit-transform: rotate(225deg);}
#lottery.l8 .txt7,#lottery.l8 .img7 {-webkit-transform: rotate(270deg);}
#lottery.l8 .txt8,#lottery.l8 .img8 {-webkit-transform: rotate(315deg);}

/*圆角*/
#lottery,#lottery .lotBg,#lottery .lotCon,#lottery .lotCon-shadow,#lottery .lotLight li i,#lottery .lotCon .prize,#lottery .lotCon .prizebg,#lottery .lotCenter a {-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
/*插件*/
.loadingBox{position:fixed;z-index:100;top:50%;left:50%;width:180px;height:100px;margin:-60px auto auto -120px;padding:10px 30px;border: 1px solid #2A2A2A;color:#fff;text-align:center;border-radius:10px;background:rgba(0,0,0,.66);} 
.loadingBox p{}
.loadingBox span {font-size:16px;} 
.loadingBox i{position:absolute;z-index:9;top:60%;left:50%;margin:-16px 0 0 -16px;display:inline-block;width:20px;height:20px;border:4px dotted #000;border-color:rgba(255,255,255,.1) rgba(255,255,255,.2) rgba(255,255,255,.4) rgba(255,255,255,.5);border-radius:300px;-webkit-animation:loadforever 20s infinite linear;} 
@-webkit-keyframes loadforever{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(5000deg);}}

/*插件*/

/*旋转*/
.lotCenter.lotCenter-animation8-1 i,
.lotCenter.lotCenter-animation8-2 i,
.lotCenter.lotCenter-animation8-3 i,
.lotCenter.lotCenter-animation8-4 i,
.lotCenter.lotCenter-animation8-5 i,
.lotCenter.lotCenter-animation8-6 i,
.lotCenter.lotCenter-animation8-7 i,
.lotCenter.lotCenter-animation8-8 i,
.lotCenter.lotCenter-animation7-1 i,
.lotCenter.lotCenter-animation7-2 i,
.lotCenter.lotCenter-animation7-3 i,
.lotCenter.lotCenter-animation7-4 i,
.lotCenter.lotCenter-animation7-5 i,
.lotCenter.lotCenter-animation7-6 i,
.lotCenter.lotCenter-animation7-7 i,
.lotCenter.lotCenter-animation6-1 i,
.lotCenter.lotCenter-animation6-2 i,
.lotCenter.lotCenter-animation6-3 i,
.lotCenter.lotCenter-animation6-4 i,
.lotCenter.lotCenter-animation6-5 i,
.lotCenter.lotCenter-animation6-6 i,
.lotCenter.lotCenter-animation5-1 i,
.lotCenter.lotCenter-animation5-2 i,
.lotCenter.lotCenter-animation5-3 i,
.lotCenter.lotCenter-animation5-4 i,
.lotCenter.lotCenter-animation5-5 i,
.lotCenter.lotCenter-animation4-1 i,
.lotCenter.lotCenter-animation4-2 i,
.lotCenter.lotCenter-animation4-3 i,
.lotCenter.lotCenter-animation4-4 i,
.lotCenter.lotCenter-animation3-1 i,
.lotCenter.lotCenter-animation3-2 i,
.lotCenter.lotCenter-animation3-3 i,
.lotCenter.lotCenter-animation2-1 i,
.lotCenter.lotCenter-animation2-2 i,
.lotCenter.lotCenter-animation1-1 i { opacity:1 !important;}


.lotCenter-animation8-1 {-webkit-animation:lotCenter8-1 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter8-1
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3600deg);}
}
.lotCenter-animation8-2 {-webkit-animation:lotCenter8-2 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter8-2
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3645deg);}
}
.lotCenter-animation8-3 {-webkit-animation:lotCenter8-3 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter8-3
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3690deg);}
}
.lotCenter-animation8-4 {-webkit-animation:lotCenter8-4 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter8-4
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3735deg);}
}
.lotCenter-animation8-5 {-webkit-animation:lotCenter8-5 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter8-5
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3780deg);}
}
.lotCenter-animation8-6 {-webkit-animation:lotCenter8-6 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter8-6
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3825deg);}
}
.lotCenter-animation8-7 {-webkit-animation:lotCenter8-7 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter8-7
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3870deg);}
}
.lotCenter-animation8-8 {-webkit-animation:lotCenter8-8 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter8-8
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3915deg);}
}

.lotCenter-animation7-1 {-webkit-animation:lotCenter7-1 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter7-1
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3600deg);}
}
.lotCenter-animation7-2 {-webkit-animation:lotCenter7-2 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter7-2
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3651deg);}
}
.lotCenter-animation7-3 {-webkit-animation:lotCenter7-3 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter7-3
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3702deg);}
}
.lotCenter-animation7-4 {-webkit-animation:lotCenter7-4 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter7-4
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3753deg);}
}
.lotCenter-animation7-5 {-webkit-animation:lotCenter7-5 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter7-5
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3804deg);}
}
.lotCenter-animation7-6 {-webkit-animation:lotCenter7-6 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter7-6
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3855deg);}
}
.lotCenter-animation7-7 {-webkit-animation:lotCenter7-7 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter7-7
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3906deg);}
}


.lotCenter-animation6-1 {-webkit-animation:lotCenter6-1 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter6-1
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3600deg);}
}
.lotCenter-animation6-2 {-webkit-animation:lotCenter6-2 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter6-2
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3660deg);}
}
.lotCenter-animation6-3 {-webkit-animation:lotCenter6-3 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter6-3
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3720deg);}
}
.lotCenter-animation6-4 {-webkit-animation:lotCenter6-4 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter6-4
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3780deg);}
}
.lotCenter-animation6-5 {-webkit-animation:lotCenter6-5 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter6-5
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3840deg);}
}
.lotCenter-animation6-6 {-webkit-animation:lotCenter6-6 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter6-6
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3900deg);}
}


.lotCenter-animation5-1 {-webkit-animation:lotCenter5-1 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter5-1
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3600deg);}
}
.lotCenter-animation5-2 {-webkit-animation:lotCenter5-2 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter5-2
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3672deg);}
}
.lotCenter-animation5-3 {-webkit-animation:lotCenter5-3 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter5-3
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3744deg);}
}
.lotCenter-animation5-4 {-webkit-animation:lotCenter5-4 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter5-4
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3816deg);}
}
.lotCenter-animation5-5 {-webkit-animation:lotCenter5-5 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter5-5
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3888deg);}
}

.lotCenter-animation4-1 {-webkit-animation:lotCenter4-1 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter4-1
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3600deg);}
}
.lotCenter-animation4-2 {-webkit-animation:lotCenter4-2 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter4-2
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3690deg);}
}
.lotCenter-animation4-3 {-webkit-animation:lotCenter4-3 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter4-3
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3780deg);}
}
.lotCenter-animation4-4 {-webkit-animation:lotCenter4-4 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter4-4
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3870deg);}
}


.lotCenter-animation3-1 {-webkit-animation:lotCenter3-1 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter3-1
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3600deg);}
}
.lotCenter-animation3-2 {-webkit-animation:lotCenter3-2 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter3-2
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3720deg);}
}
.lotCenter-animation3-3 {-webkit-animation:lotCenter3-3 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter3-3
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3840deg);}
}

.lotCenter-animation2-1 {-webkit-animation:lotCenter2-1 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter2-1
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3600deg);}
}
.lotCenter-animation2-2 {-webkit-animation:lotCenter2-2 5s ease 0.2s forwards;}
@-webkit-keyframes lotCenter2-2
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(3780deg);}
}
/*灯*/
.lotLight-animation1 {-webkit-animation:lotLight1 5s ease 0s forwards;}
@-webkit-keyframes lotLight1
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
.lotLight-animation2 {-webkit-animation:lotLight2 5s linear 0s infinite;}
@-webkit-keyframes lotLight2
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(45deg);}
}