@charset "utf-8";
/* CSS Main */

html{color:#000; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:auto; min-height:100%; margin:0 auto; max-width:640px;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;z-index:2; position:relative;}
#header { height:46px; overflow:hidden;z-index:1; position:relative;text-align:center; background:#4fc1e9;border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0;-moz-border-radius:8px 8px 0 0;-ms-border-radius:8px 8px 0 0;}
#main { height:auto!important; height:100%; position:relative;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:15px 0 10px 0;text-align:center; border-top:solid 1px #fff; color:#5c5c5c;
	background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);}
#footer p a{ color:#5c5c5c;}
#footer img { width:180px; height:14px;}
.bgfff{ background:#fff;}
.bggray{ background:#ededed;}
/*----------------------------------  Global结束  ------------------------------------*/


.header-Title { position:absolute; height:100%; width:100%; top:0; height:46px; z-index:1; color:#fff; font-size:18px; line-height:46px; font-weight:bold;}
.header-Back { position:absolute; height:26px; width:56px;background:url(../Image/Item/csyd-icon-back.png) no-repeat center center; background-size:100%; top:50%; margin-top:-13px; left:10px; z-index:2; color:#fff; font-size:14px; line-height:26px; font-weight:bold; text-indent:5px; cursor:pointer;}
.header-opr { position:absolute; height:26px; width:56px;top:50%; margin-top:-13px; right:10px; z-index:2; color:#fff; font-size:14px; line-height:26px; font-weight:bold; text-indent:5px; cursor:pointer; border:solid 1px #6bceee; background:#3bafda;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;}
.header-opr i {width: 14px;height: 14px;display: inline-block;position: absolute;left: 50%;top: 50%;margin-left: -20px;margin-top: -7px;background: url(../Image/Item/csyd-icon2.png) no-repeat center center;background-size: 100%;}
/* 登录
--------------------------------------------------------------*/
.login { height:auto; overflow:hidden; min-height:100%; padding:10px 0 10px 0;}
.loginLogo { width:320px; height:42px;}
.ymLogo { width:124px; height:27px;}
.loginTitle { text-align:center;}
.loginForm { margin:0 auto; margin-top:40px; height:auto; overflow:hidden; width:280px;}
.loginForm li { height:43px; overflow:hidden;}
.loginForm li i { height:25px; width:25px; margin-left:12px; margin-top:8px; float:left;}
/*-------------------------活动框结束  -----------------------*/
/* 皮肤
--------------------------------------------------------------*/
input {-webkit-appearance:none;}
.sOne-mainbg {background:#ededed;box-shadow:0px -1px 1px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0px -1px 1px rgba(0, 0, 0, 0.1);-moz-box-shadow:0px -1px 1px rgba(0, 0, 0, 0.1);}
.sOne-loginLogo {background:url(../Image/Item/csyd-logo.png) no-repeat center center; background-size:100%; margin:0 auto; margin-top:40px;}
.sOne-loginTitle { color:#737272; font-size:14px; margin-top:10px;}
.sOne-loginForm { border:solid 1px #d9d9d9;border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px; background:#fff;}
.sOne-loginForm .bd-b {border-bottom:solid 1px #d9d9d9;}
.sOne-iconUsername {background:url(../Image/Item/icon-user.gif) no-repeat center center; background-size:100% 100%;}
.sOne-iconPassword {background:url(../Image/Item/icon-password.gif) no-repeat center center; background-size:100% 100%;}
.sOne-iconPasscode {background:url(../Image/Item/icon-passcode.gif) no-repeat center center; background-size:100% 100%;}
.sOne-loginInput { height:42px; margin-left:10px; float:left; color:#555555; width:220px; font-size:16px;}
.sOne-loginInput-half { height:42px; margin-left:10px; float:left; color:#555555; width:100px;}
.sOne-getpasscode { height:26px;width:80px; color:#909090; margin-top:8px; float:right; margin-right:12px; background:#f2f2f2;text-shadow:0px 1px 0px #fff;-webkit-text-shadow:0px 1px 0px #fff;-moz-text-shadow:0px 1px 0px #fff;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
.sOne-loginFormBtn { margin-top:20px;}
.sOne-loginInput-btn { height:42px; width:100%; text-align:center; background:#4fc1e9; border:none; font-size:22px; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; color:#fff; display:block;-webkit-appearance:none;}
/*-------------------------皮肤结束  -----------------------*/


.mainNav { width:100%; height:35px; background:#fff;}
.mainNav li { width:33%; height:35px; float:left; line-height:35px; color:#576478;}
.mainNav li.last { width:34%;}
.mainNav li.hover { background:#4fc1e9; color:#fff;}

.mainTop { width:100%; line-height:0; position:relative; z-index:99;}
.mainTop img {width:100%;height:auto;}

.mainCon {position:relative;z-index:100; height:auto;background-color: #0178b3;background-image: -webkit-linear-gradient(-117deg, #000, #9d2f30);background-image: -moz-linear-gradient(-117deg, #000, #9d2f30);background-image: -o-linear-gradient(-117deg, #000, #9d2f30);background-image: linear-gradient(-153deg, #000, #9d2f30);padding-top:55px;margin-top:-15px;}
.mainCon.mainCon-nonelogo { padding-top:20px;}
.mainCon .top-title { position:absolute; z-index:100; width:100%; height:40px; line-height:40px; top:-90px; text-align:center;font-size:20px; color:#000; text-shadow:0px 2px 2px rgba(255,255,255, 0.7);-webkit-text-shadow:0px 2px 2px rgba(255,255,255, 0.7);-moz-text-shadow:0px 2px 2px rgba(255,255,255, 0.7);left:0; background:rgba(255,255,255,0.7);font-weight:bold;}
.mainCon .top-title.title-nonelogo { top:-40px;}
.mainCon .logo-bg {width:104px;height:104px; top:-57px;left:50%; margin-left:-52px;position:absolute; z-index:101;}
.mainCon .logo-con {width:90px;height:90px; margin:5px; background:#fff; border-radius:45px;-webkit-border-radius:45px;-moz-border-radius:45px; overflow:hidden; text-align:center;box-shadow:0 2px 3px rgba(0, 0, 0, 0.3);	-webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 2px 3px rgba(0, 0, 0, 0.3); padding:2px; line-height:0;}
.mainCon .logo-con img { width:90px; height:90px; margin:0 auto; border-radius:45px;-webkit-border-radius:45px;-moz-border-radius:45px;}
.mainCon-top { margin:0 7px;height:17px;}
.mainCon-bottom { margin:0 7px; height:17px;}
.mainCon-instruction { background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; margin:0 10px; padding:15px 10px;}
.mainCon .mainCon-text {height:auto; overflow:hidden;margin:0 auto; font-size:14px; color:#999; line-height:23px; text-align:left;word-break: break-all; work-wrap: break-word;overflow:hidden;}
.mainCon .mainCon-title { font-size:16px; font-weight:bold; text-align: left; color:#333;word-break: break-all; work-wrap: break-word; padding:0 0 5px 0;}

.mainCon-contenter { padding-bottom:15px; }
.mainCon-contenter-bg { padding-top:10px;}

#AjaxWrapper { width:100%; height:100%; position:fixed;background:rgba(0,0,0,0.4); top:0; left:0; z-index:1000; text-align:center;}
.cjWrapper { margin:0 auto; background:#fff repeat 0 0; height:auto; width:80%; min-width:280px; max-width:580px; margin-top:80px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; padding:3px;position:relative;background:rgba(255,255,255,0.2);}
.cjCon { margin:0 auto; height:auto; background:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.cjText { margin:0 auto; text-align:center; font-size:16px; color:#333; padding:15px 0 10px 0; line-height:23px;}
.cjText-con { width:210px; height:auto; margin:0 auto; overflow: hidden;word-break:break-all;}
.cjText-img { width:50px; float:left;}
.cjText-img img { width:50px; height:50px;}
.cjText-text {text-align:left; font-size:16px; line-height:25px; text-align:center; color:#6fcf83;}
.cjBtn { margin:0 auto; width:170px;height:35px; line-height:35px; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background-color:#6fcf83; font-size:18px;color:#fff;}
.cjBtn a {color: #fff; display:block;}
.cjWrapper-close { color:#b9b9b9; font-size:20px; width:30px; height:30px;position:absolute; top:0; right:0;}
.cjWrapper-close a { color:#b9b9b9; display:block; line-height:30px; text-align:center; font-size:32px;transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg)}

.ptb20 { padding-top:10px; padding-bottom:10px;}
.ml10{ margin-left:10px;}
.pb10 { padding-bottom:10px;}
.pt10 { padding-top:10px;}
.mt20{ margin-top:20px;}
::-moz-placeholder {
    color: #cccccc;
    opacity: 1!important;
}
:-ms-input-placeholder {
    color: #cccccc;
}
::-webkit-input-placeholder {
    color: #cccccc;
}

.loadingBox{position:fixed;z-index:100;top:50%;left:50%;width:140px;height:auto; overflow:hidden;margin:-60px auto auto -80px;padding:60px 10px 10px 10px;border: 1px solid #2A2A2A;color:#fff;text-align:center;border-radius:10px;background:rgba(0,0,0,.66);} 
.loadingBox p{}
.loadingBox span { line-height:40px;font-size:14px;} 
.loadingBox i{position:absolute;z-index:9;top:40%;left:50%;margin:-16px 0 0 -16px;display:inline-block;width:20px;height:20px;border:4px dotted #000;border-color:rgba(255,255,255,.1) rgba(255,255,255,.2) rgba(255,255,255,.4) rgba(255,255,255,.5);border-radius:300px;-webkit-animation:loadforever 20s infinite linear;} 
@-webkit-keyframes loadforever{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(5000deg);}}
/*详情*/
.moreList { margin:0 10px; padding-top:20px;}
.moreList-bg { background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; height:auto; overflow:hidden; padding-top:10px;}
.moreList-img { margin:0 10px; text-align:center;}
.moreList-img img { max-width:100%; margin:0 auto;}
.moreList-title { margin:0 10px; text-align:left; padding:20px 0 10px 0; font-size:16px; font-weight:bold;}
.moreList-text { margin:0 10px; text-align:left; padding:0 0; font-size:14px; color:#999;}
.moreList-msg { margin:0 10px; font-size:14px; color:#999; padding:10px 0;}
.moreList-msg span { color:#4fc1e9; font-size:16px;}
/*详情*/
/*发布内容*/
.Fbform { margin:0 10px; padding-top:30px;}
.Fbform li { height:auto; padding-bottom:10px;}
.Fbform li .title { height:42px; width:100%;color:#555555;font-size:16px;color:#555555;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow:none; border:solid 1px #bfbfbf;-webkit-appearance:none; text-indent:3px;}
.Fbform li .con { height:124px; width:100%;color:#555555;font-size:16px;color:#555555;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow:none; border:solid 1px #bfbfbf;-webkit-appearance:none; text-indent:3px;}
.Fbform li .file { position:relative;}
.Fbform li .file a { width:120px; height:42px; display:block; line-height:42px; color:#fff; font-size:16px; background:#4fc1e9;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.Fbform li .file input[type=file] { position:absolute; top:0; left:0; width:120px; height:42px; opacity:0;}
.Fbform li img { max-width:300px; float:left; padding-bottom:30px;}
/*发布内容*/
/*消息中心*/
.msgList { margin:0 10px; background:#fff;box-shadow:0px 1px 1px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.1);-moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.1);}
.msgList .msgList-title { height:36px; background:#f6f8fa;}
.msgList .msgList-title .time { width:auto; height:20px; float:left; margin:8px 10px; line-height:20px; font-size:12px; color:#989fa9;}
.msgList .msgList-title .opr { width:56px; height:20px; float:right; margin:8px 10px; line-height:20px; font-size:12px; color:#fff;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;}
.msgList .msgList-title .opr-now { background:#4fc1e9; cursor:pointer;}
.msgList .msgList-title .opr-no { background:#cdd3d5;}
.msgList .msgList-title .opr-has { background:#fad1c9;}
.msgList .msgList-con { padding:10px; color:#989fa9; text-align:left;}
/*消息中心*/
/*浮动按钮*/
.subnavbg { position:fixed; z-index:1001; width:100%; height:100%; background:rgba(255, 255, 255, 0.3); top:0; left:0; display:none;}
.subnav { position: fixed; bottom:15px; left:15px; z-index:1003;}
.subnav-con {line-height:33px; font-weight:bold; font-size:28px; font-style:normal; font-family:"Courier New", Courier, monospace; color:#fff; cursor:pointer; position:absolute;}
.subnav,.subnav-con,.subnav-ul li,.subnav-ul li i,.subnav-share,.subnav-share li,.subnav-share li i {width:33px; height:33px;border-radius:50px; -webkit-border-radius:50px;-moz-border-radius:50px;}
.subnav-con i { display:block;width:33px; height:33px;}
.subnav-con { background:#4fc1e9;}
.subnav-con { z-index:10;}
.subnav-ul { z-index:9;}
.subnav-ul li { position:absolute; left:0; top:0;-webkit-transform:scale(0,0); opacity:0;}
.subnav-ul li i { display:block;text-indent:-999px; cursor:pointer; position:absolute;}
.subnav-ul li a em { display:block; position:absolute; width:6px; height:6px; border:solid 2px #fff; background:#d50000; right:3px; top:5px;border-radius:50%; -webkit-border-radius:50%;-moz-border-radius:50%;-webkit-animation:animate-em 2s linear infinite;}
.subnav.subnavanimate .subnav-con {-webkit-animation:animate-subnavcon 0.1s ease-out forwards;}
.subnav.subnavanimate .subnav-ul .subnav-li1 {-webkit-animation:animate-subnavli1 0.5s ease-in-out forwards;}
.subnav.subnavanimate .subnav-ul .subnav-li2 {-webkit-animation:animate-subnavli2 0.5s ease-in-out forwards;}
.subnav.subnavanimate .subnav-ul .subnav-li3 {-webkit-animation:animate-subnavli3 0.5s ease-in-out forwards;}
.subnav.subnavanimateover .subnav-con {-webkit-animation:animateover-subnavcon 0.1s ease-out forwards;}
.subnav.subnavanimateover .subnav-ul .subnav-li1 {-webkit-animation:animateover-subnavli1 0.5s ease-in-out forwards;}
.subnav.subnavanimateover .subnav-ul .subnav-li2 {-webkit-animation:animateover-subnavli2 0.5s ease-in-out forwards;}
.subnav.subnavanimateover .subnav-ul .subnav-li3 {-webkit-animation:animateover-subnavli3 0.5s ease-in-out forwards;}
.icon-nav0 {background:url(../Image/Item/csyd-icon-nav1.png) no-repeat center center; background-size:90%;}
.icon-nav1 {background:#4fc1e9 url(../Image/Item/csyd-icon-nav1.png) no-repeat center center; background-size:90%;}
.icon-nav2 {background:#4fc1e9 url(../Image/Item/csyd-icon-nav2.png) no-repeat center center; background-size:90%;}
.icon-nav3 {background:#4fc1e9 url(../Image/Item/csyd-icon-nav3.png) no-repeat center center; background-size:90%;}
.subnav-share { position:absolute; top:-10px; left:50px; z-index:8;}
.subnav-share li { position:absolute; left:0; top:0; opacity:0;}
.subnav-share li i { display:block;text-indent:-999px; cursor:pointer; position:absolute; top:0; left:0;}
.subnav-share.shareanimate li.subnav-share1 {-webkit-animation:animate-shareli1 0.1s ease-in-out forwards;}
.subnav-share.shareanimate li.subnav-share2 {-webkit-animation:animate-shareli2 0.2s ease-in-out forwards;}
.subnav-share.shareanimate li.subnav-share3 {-webkit-animation:animate-shareli3 0.3s ease-in-out forwards;}
.subnav-share.shareanimate li.subnav-share4 {-webkit-animation:animate-shareli4 0.4s ease-in-out forwards;}
.subnav-share.shareanimateover li.subnav-share1 {-webkit-animation:animateover-shareli1 0.1s ease-in-out forwards;}
.subnav-share.shareanimateover li.subnav-share2 {-webkit-animation:animateover-shareli2 0.2s ease-in-out forwards;}
.subnav-share.shareanimateover li.subnav-share3 {-webkit-animation:animateover-shareli3 0.3s ease-in-out forwards;}
.subnav-share.shareanimateover li.subnav-share4 {-webkit-animation:animateover-shareli4 0.4s ease-in-out forwards;}
.icon-sina {background:#4fc1e9 url(../Image/sinaweibo.png) no-repeat center center; background-size:100%;}
.icon-tencent {background:#4fc1e9 url(../Image/tencentweibo.png) no-repeat center center; background-size:100%;}
.icon-qzeon {background:#4fc1e9 url(../Image/qzone.png) no-repeat center 0; background-size:100%;}
.icon-renren {background:#4fc1e9 url(../Image/renren.png) no-repeat center center; background-size:100%;}
@-webkit-keyframes animate-subnavcon{
0%{background:#4fc1e9;}
100%{background:#cccccc;}
}
@-webkit-keyframes animate-subnavli1{
0%{-webkit-transform:scale(0,0); opacity:0; top:0px; left:0px;}
80%{-webkit-transform:scale(1,1); opacity:1; top:-65px; left:0px;}
100%{-webkit-transform:scale(1,1); opacity:1; top:-60px; left:0px;}
}
@-webkit-keyframes animate-subnavli2{
0%{-webkit-transform:scale(0,0); opacity:0; top:0px; left:0px;}
80%{-webkit-transform:scale(1,1); opacity:1; top:-45px; left:45px;}
100%{-webkit-transform:scale(1,1); opacity:1; top:-40px; left:40px;}
}
@-webkit-keyframes animate-subnavli3{
0%{-webkit-transform:scale(0,0); opacity:0; top:0px; left:0px;}
80%{-webkit-transform:scale(1,1); opacity:1; top:0px; left:65px;}
100%{-webkit-transform:scale(1,1); opacity:1; top:0px; left:60px;}
}

@-webkit-keyframes animateover-subnavcon{
0%{background:#cccccc;}
100%{background:#4fc1e9;}
}
@-webkit-keyframes animateover-subnavli1{
0%{-webkit-transform:scale(1,1); opacity:1; top:-60px; left:0px;}
20%{-webkit-transform:scale(1,1); opacity:1; top:-65px; left:0px;}
100%{-webkit-transform:scale(0,0); opacity:0; top:0px; left:0px;}
}
@-webkit-keyframes animateover-subnavli2{
0%{-webkit-transform:scale(1,1); opacity:1; top:-40px; left:40px;}
20%{-webkit-transform:scale(1,1); opacity:1; top:-45px; left:45px;}
100%{-webkit-transform:scale(0,0); opacity:0; top:0px; left:0px;}
}
@-webkit-keyframes animateover-subnavli3{
0%{-webkit-transform:scale(1,1); opacity:1; top:0px; left:60px;}
20%{-webkit-transform:scale(1,1); opacity:1; top:0px; left:65px;}
100%{-webkit-transform:scale(0,0); opacity:0; top:0px; left:0px;}
}

@-webkit-keyframes animate-shareli1{
0%{ left:0; opacity:0;}
100%{left:0; opacity:1;}
}
@-webkit-keyframes animate-shareli2{
0%{ left:0; opacity:0;}
100%{left:55px; opacity:1;}
}
@-webkit-keyframes animate-shareli3{
0%{ left:0; opacity:0;}
100%{left:110px; opacity:1;}
}
@-webkit-keyframes animate-shareli4{
0%{ left:0; opacity:0;}
100%{left:165px; opacity:1;}
}
@-webkit-keyframes animateover-shareli1{
0%{left:0; opacity:1;}
100%{ left:0; opacity:0;}
}
@-webkit-keyframes animateover-shareli2{
0%{left:55px; opacity:1;}
100%{ left:0; opacity:0;}
}
@-webkit-keyframes animateover-shareli3{
0%{left:110px; opacity:1;}
100%{ left:0; opacity:0;}
}
@-webkit-keyframes animateover-shareli4{
0%{ left:165px; opacity:1;}
100%{left:0px; opacity:0;}
}
@-webkit-keyframes animate-em{
0%{ background:#ff0000;}
50%{ background:#ff7200;}
100%{ background:#ff0000;}
}
/*浮动按钮*/

/**** Content ****/
.box_name{ height:auto; background:#fff; padding:10px 0 0 0;}
.box_contect{ margin:0 5px; text-align:left;}
.box_contect h1{font-size:14px; color:#222; line-height:20px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.box_contect p{font-size:12px; color:#989fa9; line-height:18px; border-bottom:dashed 1px #989fa9;max-height:181px;}
.box_contect .box_msg { float:left; color:#7f7f7f; font-size:12px; line-height:30px; height:30px;}
.box_contect .box_msg span { font-size:16px;}
.box_contect .box_opr { float:right; position:relative; padding-left:40px; padding-right:5px; height:30px; line-height:30px; color:#576478; font-size:14px;}
.box_contect .box_opr i { width:14px; height:14px; display:block; position:absolute; left:50%; top:50%; margin-left:-7px; margin-top:-7px;background:url(../Image/Item/csyd-icon1.png) no-repeat center center; background-size:100%;}
.box_contect .box_opr2 { float:right; position:relative; padding-left:10px; padding-right:10px; height:20px; line-height:20px; margin-top:5px; color:#576478; font-size:12px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px; border:solid 1px #dbdbdb;}
/* screens smaller than 640 */
@media screen and (max-width: 640px) {

  #site-nav {
    width: auto;
    position: relative;
    left: auto;
    top: auto;
    padding-top: 20px;
    height: auto;
    margin-bottom: 20px;
  }
  
  #content {
    padding-left: 10px;
  }

}

.copy h2 {
  clear: both;
}

a img {
  border: none;
}

pre, code {
  font-family: Monaco, monospace;
  font-size: 12px;
  background: #111;
  color: #F5F5F5;
}

p code {
  padding: 1px 3px;
}

pre {
  padding: 10px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}


.hidden { display: none; }

.copy {
  width: 600px;
  line-height: 1.55em;
}

blockquote {
	margin: 0;
	font: italic 18px Georgia, serif;
}

dt {
  font-weight: bold;
  font-size: 14px;
}

dd + dt {
  margin-top: 0.5em;
}

dd {
  margin-left: 1.0em;
}

button {
  -webkit-appearance: push-button;
}

#site-footer {
  clear: both;
  margin: 20px 0px;
  border-top: 2px solid white;
  padding-top: 10px;
  line-height: 30px;
  font-size: 95%;
  font-style: italic;
}

.license-copy {
  font-size: 85%;
}

.demos #copy,
.docs #content {
  max-width: 640px;
}

.docs #content h2 {
  border-top: 2px solid #FFF;
  padding-top: 10px;
}

.docs #content h2:target { 
  background: #D26;
  color: white;
  padding: 10px 5px 5px;
}

/**** Docs ****/



.options dl dt { font-weight: normal; }

.options dl dt,
.options dl dd {
  float: left;
  padding: 0 1.2em;;
  background: #161616;
  line-height: 32px;
  height: 32px;
  margin: 0;
}

.options dl.header dt,
.options dl.header dd {
  background: #444;
}

.options dl .option-type {
  font-size: 13px;
  color: #AAA;
  font-style: italic;
}

.options dl dd {
  margin-left: 1px;
}

/**** Demos ****/

/*#container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
*/
.centered { margin: 0 auto; }

.box {
  margin:5px;
  background: #fff;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
}

.box h2 {
  font-size: 14px;
  font-weight: 200;
}

.box img,
#tumblelog img {
  display: block;
  width: 100%;
}

.rtl .box {
  float: right;
  text-align: right; 
  direction: rtl;
}



.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 170px; }
.col4 { width: 380px; }
.col5 { width: 480px; }
.box.col0 { margin:0; float:none; margin-top:10px; width:100%;background:none;}

.col1 img { max-width: 100%; }
.col2 img { max-width: 100%; }
.col3 img { max-width: 95%; margin:5px auto 0 auto;}
.col4 img { max-width: 100%; }
.col5 img { max-width: 100%; }

/**** Gutters ****/

.has-gutters .box {
  margin: 5px 0;
}

.has-gutters .col1 { width: 90px; }
.has-gutters .col2 { width: 230px; }
.has-gutters .col3 { width: 370px; }
.has-gutters .col4 { width: 550px; }

/**** Transitions ****/

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
      -ms-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}

/**** Primer comparison ****/

#comparison {
  overflow: auto;
}

#comparison .example {
  width: 420px;
  float: left;
  margin-right: 20px;
}

#comparison .box h5 {
  float: left;
  margin-bottom: 0;
  font-size: 30px;
  margin-right: 4px;
  line-height: 28px;
  font-weight: bold;
  color: #FFF;
}

/* Homepage */

.homepage .item {
  width: 200px;
  float: left;
  padding: 10px;
  margin: 10px;
  background: #D8D5D2;
  font-weight: 300;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.homepage .big-text,
.homepage .link {
  font-size: 24px;
  line-height: 1.2em;
}

.homepage .link {
  padding: 0;
}

.homepage .link a {
  display: block;
  padding: 10px;
  width: 200px;
  background: #D26;
  color: white;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.homepage .link a:hover {
  background: #A2C;
}

.homepage .col2 {
  width: 440px;
}

.homepage .example {
  padding: 0;
  width: 220px;
  background: transparent;
}

.homepage .example a { display: block; }

.homepage .example img {
  display: block;
  width: 100%;
}

.homepage .example a:hover { 
  background: #D26;
  color: white;
}

.homepage .loading {
  background: black;
  color: #D8D5D2;
}

.homepage .loading img {
  float: left; 
  padding-right: 5px;
  width: 54px;
}

/* mini example */

.homepage .mini div {
  float: left;
  background: white;
  margin: 3px;
  color: #D8D5D2;
  font-weight: bold;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.homepage .mini .w1 { width: 44px; }
.homepage .mini .h1 { height: 44px; }
.homepage .mini .w2 { width: 94px; }
.homepage .mini .h2 { height: 94px; }

/* Tumblelog example */

#tumblelog {
  background: #FFF;
  padding: 1.0em;
}

#tumblelog .story {
  margin: 10px;
  border-top: 4px solid #DCB;
  padding-top: 10px;
  background: #FFF;
  float: left;
}

#tumblelog h1, #tumblelog h2, #tumblelog h3 { font-weight: bold;}

#tumblelog .col1 { width: 220px; }
#tumblelog .col2 { width: 460px; }
#tumblelog .col3 { width: 700px; }

#tumblelog .col1 img,
#tumblelog .col2 img,
#tumblelog .col3 img {
  max-width: none;
}

/* Infinite Scroll loader */
#infscr-loading { 
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 50%;
  margin-left:-40px;
  bottom: 40px;
  width:80px;
  padding: 10px;
  background: #999; 
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

/**** Fluid ****/

#container.fluid  {
  padding: 5px 0;
}

/* right margin value is 0.1% less than calculated,
  to allow for rounding errors in Firefox */
.fluid .box {
  margin: 5px 0.9% 5px 1%;
  padding: 5px 1%;
}

.fluid .box.col1 { width: 16%; }
.fluid .box.col2 { width: 36%; }
.fluid .box.col3 { width: 56%; }

/**** Corner stamp ****/

.corner-stamp {
  width: 280px;
  height: 340px;
  padding: 10px;
  margin: 10px;
  float: right;
  background: red;
  color: white;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

/**** Pygments ****/

code .s1,
code .s { color: #78BD55; } /* string */
code .mi, /* integer */
code .cp, /* doctype */
code .kc { color: #5298D4; } /*boolean*/
code .k { color: #E39B79; } /* keyword */
code .kd, /* storage */
code .na { color: #A9D866; } /* markup attribute */
code .p  { color: #EDB; } /* punctuation */
code .o  { color: #F63; }   /* operator */
code .nb { color: #AA97AC;} /* support */

/* comment */
code .c,
code .c1 { color: #666; font-style: italic; }

code .nt { color: #A0C8FC; } /* Markup open tag */


code .nf { color: #9EA8B8; } /* css id */
code .nc { color: #A78352; }  /* CSS class */
code .m  { color: #DE8E50; } /* CSS value */
code .nd { color: #9FAD7E; } /* CSS pseudo selector */

/**** Clearfix ****/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
