@charset "utf-8";
/* CSS Main */

html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

h1 { line-height:40px; text-align:left; font-size:16px; padding-left:15px;}
a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
.mt20 { margin-top:20px;}

* {-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-appearance:none;}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{/* height:100%; min-height:100%;*/ text-align:center; background: #eeeeee;}
#wrapper { height:auto; margin:0 auto; max-width:640px;background:#fff;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#header { height:30px; overflow:hidden;z-index:3; position: fixed; width:100%; left:0; top:0;text-align:center; padding:7px 0; background:#ea5518;}
#main { height:auto!important; height:100%; position:relative; margin-top: 62px;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:5px 0 5px 0;text-align:center;color:#5c5c5c;background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%); font-size:12px; line-height:20px;}
#footer p a{ color:#5c5c5c;}
.shopBoxView { text-align:left;}
/*----------------------------------  Global结束  ------------------------------------*/

#header.userCenter { background:#f8f8f8;border-bottom:solid 1px #b2b2b2;}
#header.userCenter .goback i {background:url(../Image/Item/nc-icon.png) 0 0; background-size:100% auto;}
#header.userCenter .logo span { color:#3d4245;}
.goback { position:absolute; top:7px; left:0; width:35px; height:30px; cursor:pointer;}
.goback i { float:left; margin: 3px 0 0 8px; width:25px; height:25px;background:url(../Image/Item/nc-icon.png) 0 -25px; background-size:100% auto;}
.gosearch { position:absolute; top:7px; right:0; width:35px; height:30px; cursor:pointer;}
.gosearch i { float:left; margin-top:3px; width:25px; height:25px;background:url(../Image/Item/nc-icon.png) 0 -175px; background-size:100% auto;}
.logo { display:block; margin:0 35px; height:30px; text-align:center;}
.logo i { float:left; width:30px; height:30px; overflow:hidden; background:#fff; border-radius:2px; text-align:center; line-height:32px; font-style:normal; color:#ea5518; font-size:24px;}
.logo span { margin-left:5px; line-height:32px; font-size:18px; color:#fff;}

.search { position:fixed; z-index:2; top:44px; left:0; width:100%; padding:5px 0; height:30px; border-bottom:solid 1px #ea5518; background:#e4e4e3; margin-top:-44px;-webkit-transition:margin-top 0.5s;transition:margin-top 0.5s;}
.search.show { margin-top:0;-webkit-transition:margin-top 0.5s;transition:margin-top 0.5s;}
.searchForm { margin:0 15px; padding:5px 0; height:20px; background:#fff; border-radius:3px;}
.searchForm .searchTitle { float:left; height:20px; overflow:hidden;border-right:solid 1px #ea5518; color:#ea5518; padding:0 5px; font-size:14px; line-height:20px;}
.searchForm form { margin:0 45px; height:20px;}
.searchForm .search-input { width:100%; line-height:20px; font-size:14px; color:#999;}
.searchForm .btn-search { float:right; margin-top:-5px; margin-right:-45px; width:30px; height:30px; display:block;}
.searchForm .btn-search i { display:block; margin-top:2px; width:25px; height:25px;background:url(../Image/Item/nc-icon.png) 0 0; background-size:100% auto;}

.choose { width:100%; padding:5px 0; height:25px; padding:5px 0; border-bottom:solid 1px #cfcfcf;}
.choose ul li { position:relative; width:33%; float:left; line-height:25px; border-right:solid 1px #cfcfcf;}
.choose ul li i { position:absolute; right:3px; bottom:0;width:8px; height:8px; overflow:hidden;}
.choose ul li i:after { display:block;width:30px; height:30px;-webkit-transform:rotate(45deg); background:#cfcfcf; content:"";}
.choose ul li:last-child { border-right:none;}
.choose ul li label { display:block;}
.choose ul li p { color:#999;}
.choose ul li select { border:none; text-align:center; color:#999;}

.bgf0efed { background-color:#f0efed; overflow:hidden;}
#masonry { background:#fff;}
.box { padding:10px 0; height:auto; overflow:hidden; border-bottom:solid 1px #e8e8e8;}
.box img { float:left; margin:0 10px; width:80px; height:80px; border:solid 1px #cfcfcf;}
.box .proItem-msg { margin-left:100px; margin-right:10px; text-align:left;}
.box .proItem-msg h1 { padding:0; font-size:16px; color:#666; overflow:hidden; line-height:20px;}
.box .proItem-msg h1 span { font-size:12px; color:#ea5518;}
.box .proItem-msg h2 { height:36px; font-size:12px; color:#999; overflow:hidden; line-height:18px; padding:2px 0 6px 0;}
.box .proItem-msg h3 { height:auto; overflow:hidden;}
.box .proItem-msg h3 p.l { font-size:12px; color:#999;}
.box .proItem-msg h3 p span { font-size:16px; color:#ea5518;}
.box .proItem-msg h3 p.l em { font-size:12px; color:#999;text-decoration:line-through; margin-left:5px;}
.box .proItem-msg h3 p.r { font-size:12px; color:#999;}
.box .proItem-msg.proItem-msg2 h1 { padding:0; height:40px;}
.box .proItem-msg.proItem-msg2 h2 { height:18px; padding:0 0 0 0;}
.box .proItem-msg.proItem-msg2 h3 { padding:4px 0 0 0;}
#userCode { padding:0 10px; background:#fff;}
.userCode { height:auto;}
.userCode p { height:auto; overflow:hidden; font-size:14px;}
.userCode p span { height:30px; line-height:30px;}
.userCode p span.l { max-width:65%; white-space:nowrap;overflow:hidden;text-overflow:ellipsis; }
.userCode p span em { font-size:16px; color:#ea5518; margin-right:5px;}
#productCon { padding:0 10px; border-bottom:solid 1px #dddddd; background:#fff;}
#productCon .box img { margin:0;}
#productCon .box .proItem-msg { margin-left:90px; margin-right:0px;}
#productCon .address { position:relative; height:auto; overflow:hidden; padding:10px 0; text-align:left;}
#productCon .address .title { font-size:14px; color:#666; font-weight:bold; border-right:solid 1px #dddddd; margin-right:70px; padding-right:5px;}
#productCon .address .title span { color:#ea5518;}
#productCon .address .con { min-height:40px; font-size:14px; color:#999; border-right:solid 1px #dddddd; margin-right:70px; padding-right:5px;}
#productCon .address a { position:absolute; top:50%; margin-top:-25px; right:0; width:60px; height:50px; overflow:hidden; text-align:center;}
#productCon .address a i { display:block; margin:0 auto; width:50px; height:50px; overflow:hidden;background:url(../Image/Item/pa-icon2.png) 0 0; background-size:100% auto;}
#infoCon { background:#fff; margin-top:20px; height:auto; overflow:hidden;}
#infoCon .infoTitle { padding-left:10px; height:40px; line-height:40px; text-align:left; font-size:16px; color:#646464; border-bottom:solid 1px #dddddd;}
#infoCon .infoTitle i { float:left; margin-top:8px; width:25px; height:25px; line-height:25px; font-size:26px;}
#infoCon .infoTitle i.icon-2 {background:url(../Image/Item/pa-icon3.png) no-repeat 0 -50px; background-size:100%;}
#infoCon .infoCon { margin:0 10px; text-align:left; padding:10px 0;}
#infoCon .infoCon img { max-width:100%; height:auto;}
#infoCon .infoCon .title { color:#ea5518; font-size:14px; margin-top:20px;}
#infoCon .infoCon .title:first-child { margin-top:0;}
#infoCon .infoCon p {word-break:break-all; word-wrap:break-word;}
#infoCon .infoCard { margin:20px; padding:10px; border:solid 1px #ddd; box-sizing:border-box; border-radius:8px;}
#infoCon .infoCard img { max-width:100%;}
#infoCon .address { position:relative; margin:0 10px; height:auto; overflow:hidden; padding:10px 0 0 0; text-align:left;}
#infoCon .address .title { font-size:14px; color:#666; font-weight:bold;}
#infoCon .address .con { font-size:14px; color:#999;}
.btnDiv { padding:20px 0; text-align:center;}
.btn { display:inline-block; width:120px; height:40px; background:#ff5500; border-radius:5px; line-height:40px; color:#fff; font-size:16px; font-weight:bold;}

.addMyaddress { border-bottom:solid 1px #dddddd; background:#fff; padding:10px 10px;}
.addMyaddress i { float:left; margin-top:1px; width:25px; height:25px; overflow:hidden;background:url(../Image/Item/nc-icon.png) 0 -75px; background-size:100% auto;}
.addMyaddress.erro i { float:left; margin-top:1px; width:25px; height:25px; overflow:hidden;background:url(../Image/Item/nc-icon.png) 0 -100px; background-size:100% auto;}
.addMyaddress p { margin-left:30px; font-size:16px; color:#666; height:25px; line-height:25px; text-align:left;}
.Myaddress { background:#fff; margin-top:20px; margin-bottom:20px;}
.MyaddressList { padding:10px 0; border-bottom:solid 1px #dddddd; padding-right:40px; position:relative;}
.MyaddressList .editMyaddress { position:absolute; right:0; top:0; width:40px; height:100%;}
.MyaddressList .editMyaddress i { position:absolute; right:50%; margin-right:-12px; top:50%; margin-top:-12px; width:25px; height:25px;background:url(../Image/Item/nc-icon.png) 0 -100px; background-size:100% auto;}
.MyaddressList .chooseMyaddress { position:absolute; right:0; top:0; width:40px; height:100%;}
.MyaddressList .chooseMyaddress i { position:absolute; right:50%; margin-right:-12px; top:50%; margin-top:-12px; width:25px; height:25px;background:url(../Image/Item/nc-icon.png) 0 -125px; background-size:100% auto;}
.Myaddress:after,.Myaddress ul:after,.Myaddress ul li:after {visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0px;}
.Myaddress ul { width:100%; position:relative; color:#666;}
.Myaddress .FormN { width:80px; text-align:right; line-height:18px; position:absolute; top:3px; left:0; font-size:14px;}
.Myaddress .FormI { padding:3px 0 0 80px; position:relative; text-align:left;}
.Myaddress .FormI.noName { padding-left:25px;}
.Myaddress .FormI p { line-height:18px; font-size:14px;}

.MyRights { background:#fff; border-bottom:solid 1px #ddd;}
.MyRights ul { padding-top:15px;}
.MyRights li { float:left; width:25%; text-align:center; padding-bottom:5px;}
.MyRights li p { line-height:30px; color:#666;}
.MyRights li span { display:block; margin:0 auto; width:45px; height:45px; overflow:hidden; border-radius:50%;}
.MyRights li span i { display:block; margin:10px; width:25px; height:25px; }
.MyRights li span.icon-MyRights1 { background-color:#e86146;}
.MyRights li span.icon-MyRights2 { background-color:#4692e8;}
.MyRights li span.icon-MyRights3 { background-color:#41d997;}
.MyRights li span.icon-MyRights4 { background-color:#c181c0;}
.MyRights li span.icon-MyRights5 { background-color:#ebb453;}
.MyRights li span.icon-MyRights6 { background-color:#e3528c;}
.MyRights li span.icon-MyRights7 { background-color:#03b0aa;}
.MyRights li span.icon-MyRights1 i { background:url(../Image/Item/pa-icon4.png) no-repeat 0 0; background-size:100%;}
.MyRights li span.icon-MyRights2 i { background:url(../Image/Item/pa-icon4.png) no-repeat 0 -25px; background-size:100%;}
.MyRights li span.icon-MyRights3 i { background:url(../Image/Item/pa-icon4.png) no-repeat 0 -50px; background-size:100%;}
.MyRights li span.icon-MyRights4 i { background:url(../Image/Item/pa-icon4.png) no-repeat 0 -75px; background-size:100%;}
.MyRights li span.icon-MyRights5 i { background:url(../Image/Item/pa-icon4.png) no-repeat 0 -100px; background-size:100%;}
.MyRights li span.icon-MyRights6 i { background:url(../Image/Item/pa-icon4.png) no-repeat 0 -125px; background-size:100%;}
.MyRights li span.icon-MyRights7 i { background:url(../Image/Item/pa-icon4.png) no-repeat 0 -150px; background-size:100%;}

.myFootmark { min-height:500px;}
.myFootmark ul { position:relative; margin:0 10px;}
.myFootmark ul:first-child { margin-top:10px;}
.myFootmark .myFootmarkl { width:20px; height:100%; text-align:right; line-height:35px; overflow:hidden; position:absolute; top:10px; left:0; font-size:14px; color:#666; box-sizing:border-box;}
.myFootmark .myFootmarkr { padding:10px 0 0 30px; position:relative; box-sizing:border-box;}
.myFootmark .myFootmarkl i { position:absolute; z-index:1; top:3px; right:0px; width:8px; height:8px; border:solid 4px #fff; background:#ea5518; border-radius:50%; box-shadow:1px 1px 1px rgba(0,0,0,.1);}
.myFootmark .myFootmarkl:after { position:absolute; z-index:0; right:6px; width:4px; height:3000px; content:""; background:#fff;}
.myFootmark ul:first-child .myFootmarkl:after { top:3px;}
.myFootmark ul:last-child .myFootmarkl:after { height:5px;}
.myFootmark .myFootmarkr>section { width:100%; background:#fff; border-radius:5px; text-align:left;box-shadow:1px 1px 1px rgba(0,0,0,.1);}
.myFootmark .myFootmarkr:after { position: absolute; left:27px; top:15px; width:15px; height:15px; content:""; background:#fff;-webkit-transform:rotate(45deg);}
.myFootmark .myFootmarkr>section h2 { font-size:16px; color:#666; padding:10px 10px 0 10px;}
.myFootmark .myFootmarkr>section p { font-size:14px; color:#999; padding:5px 10px;}

.Nav { padding-bottom:20px; width:100%; -webkit-box-pack: center; -webkit-box-align: center;}
.Nav ul { margin-top:20px;}
.Nav li { width:100%; height:45px; float:left; background:#fff;}
.Nav li:last-child { border-bottom:solid 1px #dddddd;}
.Nav section { position:relative; margin-left:40px; height:100%; border-bottom:solid 1px #dddddd; text-align:right;}
.Nav li:last-child section { border-bottom:none;}
.Nav li section:after {  float:right; margin:9px 15px 0 0; width:25px; height:25px; content:"";background:url(../Image/Item/nc-icon.png) no-repeat 0 -125px; background-size:100%;}
.Nav section i { float:left; margin-left:-30px; margin-top:10px; width:25px; height:25px; line-height:25px; font-size:26px;}
.icon-0 {background:url(../Image/Item/pa-icon3.png) no-repeat 0 0; background-size:100%;}
.icon-1 {background:url(../Image/Item/pa-icon3.png) no-repeat 0 -25px; background-size:100%;}
.icon-2 {background:url(../Image/Item/pa-icon3.png) no-repeat 0 -50px; background-size:100%;}
.icon-3 {background:url(../Image/Item/pa-icon3.png) no-repeat 0 -75px; background-size:100%;}
.icon-4 {background:url(../Image/Item/pa-icon3.png) no-repeat 0 -100px; background-size:100%;}
.icon-5 {background:url(../Image/Item/pa-icon3.png) no-repeat 0 -125px; background-size:100%;}
.icon-6 {background:url(../Image/Item/pa-icon3.png) no-repeat 0 -150px; background-size:100%;}
.icon-7 {background:url(../Image/Item/pa-icon3.png) no-repeat 0 -175px; background-size:100%;}
.icon-8 {background:url(../Image/Item/pa-icon3.png) no-repeat 0 -200px; background-size:100%;}
.Nav section p { line-height:45px; color:#666; font-size:16px; float:left;}
.Nav section span { color:#666; font-size:14px; line-height:45px;}
.Nav ul.noicon { margin-top:0;}
.Nav ul.noicon section { margin-left:20px;}

.tabList { padding:10px 0; width:100%; height:30px; background:#fff; position:relative;}
.tabList ul { margin:0 auto; width:310px; height:30px;}
.tabList ul li { float:left; width:76px; height:28px; line-height:28px; border:solid 1px #ea5518; margin-left:-1px; position:relative;}
.tabList ul li:first-child { border-radius:4px 0 0 4px;}
.tabList ul li:last-child { border-radius:0 4px 4px 0;}
.tabList ul li.hover { background:#ea5518;}
.tabList ul li>a { color:#ea5518;}
.tabList ul li>a>i { position:absolute; right:10px;}
.tabList ul li.hover>a { color:#fff;}
.tabList ul.list2 li { width:152px;}
.tabList ul.list3 li { width:102px;}
.tabList ul.list4 li { width:76px;}

.announcement {padding-top:10px; border-top:solid 1px #ddd; color:#999;}
.announcement .announcement-title {font-size:20px; text-shadow:0 1px 0 #ffffff;}
.announcement .announcement-con { margin:0 10px; padding:10px 0; text-align:left;}
.announcement .announcement-con img { max-width:100%;}

.userCard { line-height:0; position:relative;}
.userCard img { width:100%; height:auto;}
.userCard p { position:absolute; top:15%; left:10%; color:#fff; line-height:20px; font-size:14px; text-indent:0; text-align:left;}
.userCard p span { margin-left:5px; font-size:14px;}
.userCard p.type1 { color:#fff;}
.userCard p.type2 { color:#fff;}
.userCard p.type3 { color:#333;}
.userCard p.type4 { color:#333;}
.userActivity { padding:0 18px; height:40px; text-align:left; line-height:40px; border-bottom:solid 1px #dddddd; background:#fff;}
.userActivity i { float:left; margin:7px 0 0 0; width:25px; height:25px;}
.userActivity p { font-size:14px; color:#666;}
.userActivity a { float:right; margin-top:5px; text-align:center; width:80px; height:30px; background:#ff9000; border-radius:5px; line-height:30px; color:#fff; font-size:16px; font-weight:bold;}
.userHeader { position:relative; padding:18px 0 18px 10px; min-height:70px; background:url(../Image/Item/pa-userbg.jpg) no-repeat 0 0; background-size:100% 100%;}
.userHeader img { float:left; width:70px; height:70px; border-radius:50%; border:solid 2px rgba(224,224,224,.5);}
.userHeader p { margin-left:88px; text-align:left; font-size:14px; line-height:20px; text-shadow:2px 2px 2px rgba(0,0,0,.2)}
.userHeader p span { color:#ea5518;}
.userHeader .p1 { padding-top:8px; color:#000;}
.userHeader .p2 { color:#666;}
.userHeader .btn-recharge { position:absolute; top:52px; margin-top:8px; right:10px; padding:3px 10px; width:58px; height:20px; line-height:20px; color:#fff;border:solid 1px #ff9000;background: #ff9000; border-radius:5px;}
.userHeader .btn-recharge2 { position:absolute; top:12px; margin-top:8px; right:10px; padding:3px 10px; width:60px; height:20px; line-height:20px; color:#ffa42e; border:solid 1px #ffa42e; background:rgba(255,255,255,.7); border-radius:5px;}
.Gform {}
.Gform .item { margin-bottom: 14px; background:#fff;}
.Gform .item .input label { margin-right: 20px; position: relative;}
.Gform .item .input.radioBox { padding-left: 112px;}
.Gform .item .input label input[type="radio"] { width: 0;}
.Gform .item .input label:before { content: ""; display: inline-block; position: relative; top: 2px; right: 5px; width: 12px; height: 12px; border: 1px #999999 solid; border-radius: 50%;}
.Gform .item .input label.active:after { content: ""; display: inline-block; position: absolute; top: 2px; left: -2px; width: 8px; height: 8px; background: #999999; border-radius: 50%;} 
.Gform:after,.Gform ul:after,.Gform ul li:after {visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0px;}
.Gform ul { margin: 0 0 0 15px; padding: 0 15px 0 0; position:relative; box-sizing:border-box; border-bottom: 1px #ececec solid;}
.Gform ul li p { font-size: 13px; color: #999999; text-align: justify;}
.Gform .name { width:100px; text-align:left; line-height:43px; position:absolute; top:0px; left:0; font-size:16px; color:#33373c; box-sizing:border-box;}
.Gform .name em { line-height: 43px; color: #ed3f41;}
.Gform .input { padding:0 0 0 100px; line-height: 43px; position:relative; text-align:left; box-sizing:border-box;}
.Gform.confirmation .input { text-align: right;}
.Gform .input span { color: #999999; font-size: 14px;}
.Gform .input .textbox,.Gform .input textarea { width:100%; font-size:14px;/* border:solid 1px #bbb;*/ border-radius:3px; box-sizing:border-box;-webkit-appearance:none;/*box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/}
.Gform .input .textbox {height:43px; padding:7px 0; line-height:20px; text-indent:3px;}
.Gform .input .textbox.half { width:47%; float:left;}
.Gform .input .passcode { width:47%; height:43px; float:right; border-radius:3px;}
.Gform .input .btn-input.half { width:47%; line-height:43px; float:right; border:solid 0px #bfbfbf; color:#ed3f41; -webkit-appearance:none; border-radius:3px; background:none;}
.Gform .input textarea { margin-top:5px;height:60px; line-height:20px;}
.Gform .input select { float:right;/* margin-right:4%;*/ width:33%;height:43px; line-height:43px;/*background-image: linear-gradient( #fff , #f1f1f1);*/ background: none; font-size:14px; color: #999999; text-align: right; border:solid 0px #bbb; border-radius:3px; box-sizing:border-box;-webkit-appearance:none;/*box-shadow: 0px 1px 3px rgba(0,0,0,.2);*/}
.Gform .input select:last-child { margin-right:0;}
::-webkit-input-placeholder {
	font-size:12px;
}
.Gform .input i { float:right; margin: 11px -8px 0 0; width:25px; height:25px;background:url(../Image/Item/nc-icon.png) 0 -25px; background-size:100% auto;}
.Gform ul.btn-ul { margin:0 15px; padding:10px 0; background:#f0efed;}
.Gform ul li.btn-li { text-align:center;}
.Gform ul li .btn-up { display:block; width: 100%; height:43px; background:#ed3f41; color:#fff; line-height:43px; font-size:18px; font-weight:bold; text-align:center; border-radius:5px;}
.formError { position:absolute; top:40px !important; left:auto !important; right:5px !important; margin:0 !important; z-index:100;-webkit-animation:erroMsg 0.3s linear;-webkit-animation-fill-mode:forwards;}
.formError.passcode { right:100px;}
.formError:before { position:absolute; top:-4px; right:10px; width:8px; height:8px; border: 1px #e39f9f solid; border-width: 1px 0 0 1px; background:#fff8f8; content: ''; -webkit-transform: rotate(45deg); z-index: 1;}
.formError .formErrorContent { width: auto; background: #fff8f8; position: relative; color: #ec3636; font-size: 12px; border: 1px solid #e39f9f; padding: 2px 10px 2px 10px; line-height: 20px; border-radius: 3px; box-shadow: 0 2px 2px rgba(0,0,0,.1); white-space: nowrap;}
@-webkit-keyframes erroMsg{
	0%{-webkit-transform:translate(0,10px);opacity:0}
	100%{-webkit-transform:translate(0,0);opacity:1}
}

.msgPop { position:fixed; z-index:1000; top:0; width:100%; height:100%; min-height:100%; margin:0 auto;display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;}
.msgPop.bg { background:rgba(0,0,0,0.7);}
.msgPop .msgBg { height:auto; margin:0 5%; padding: 22px; background:#fff; border-radius:5px;}
.msgPop .msgBg .msgTitle { position:relative; height:30px; color:#fff; font-size:16px; line-height:30px; font-weight:bold;border-radius:4px 4px 0 0;}
.msgPop .msgBg .msgTitle .close-msgPop { position:absolute; right:-20px; top:-20px; width:50px; height:50px;}
.msgPop .msgBg .msgTitle i { width:50px; height:50px; line-height:50px; font-style: normal; text-align:center; font-size:24px; color: #ffffff; background: url(../Image/Item/nc-icon.png) 0 -100px; background-size:100% auto;/* background:#cecece; -webkit-transform:rotate(45deg);*/ position:absolute; right:0; top:0;/* box-shadow:inset 0 0 0 1px #cecece,0 0 0 1px #cecece;border-radius:50%;*/}
.msgPop .msgBg .msgTitle i em { display:block; font-style: normal; line-height:28px; text-align:center; font-size:24px; color: #ffffff; -webkit-transform:rotate(45deg);}
.msgPop .msgBg .msgCon { height:auto; overflow:hidden;border-radius:0 0 4px 4px;}
.msgPop .msgBg .msgCon { font-size:18px; line-height:24px;}
.msgPop .msgBg .tipsText { text-align: justify;}
.msgPop .msgBg .tipsText p { font-size: 17px; color: #4c4c4c; margin: 0 0 10px 0;}
.msgPop .msgBg .tipsText li { font-size: 14px; color: #7f7f7f; line-height:16px; margin: 0 0 10px 0;}
.msgPop .msgBg .tipsBtn { margin-top: 20px;}
.msgPop .msgBg .tipsBtn a.tipsBtn-back { display: block; line-height: 43px; font-size: 17px; color: #ffffff; background: #ed3f41; border-radius: 5px;}

/* 城市列表
--------------------------------------------------------------*/
.city { position: absolute; z-index:999; top:0; left:0; width:100%; min-height:100%; height:100%; text-align:left; overflow-x:hidden;}
.cityHeader { height:30px; overflow:hidden;z-index:1; text-align:center; padding:7px 0; background:#ea5518; line-height:30px; font-size:14px; color:#fff;}
.closeCity { position:absolute; top:7px; left:0; width:35px; height:30px;}
.closeCity i { float:right; margin-top:3px; width:25px; height:25px;background:url(../Image/Item/nc-icon.png) 0 -25px; background-size:100% auto;}
.city-list { position:relative; left:100%; height:auto; min-height:100%; overflow:hidden;-webkit-transition:left 0.5s;background: #f7f7f7;}
.city.show .city-list { left:0;-webkit-transition:left 0.5s;}
.cityTitle { color:#ea5518;text-shadow:0 1px 0 #fff;margin:5px 10px 1px 10px;font-size:18px;}
.CityList { margin:0 10px 10px 10px; border:solid 1px #dadada; background:#fff; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; padding:2px;}
.CityList li { cursor:pointer;}
.CityList li p { line-height:30px; border-bottom:solid 1px #f2f2f2; font-size:14px; text-indent:10px;}
.CityList li p:hover { border-bottom:solid 1px #f1f1f1;}
.CityList li:hover { background:#f1f1f1;}
.CityList li:last-child p { border-bottom:none;}
.F-cities { position:relative;}
.F-ins {width: 94px;height: 80px; border-radius: 6px; background: rgba(143,143,143,.9); display: block;position: fixed;top: 35%;left: 50%;z-index: 999;margin-left: -47px;color: #fff;font-size:32px;line-height: 80px;text-align: center; display:none;}
.onTouch {width:60px;position: fixed;top:30px;right:0;z-index: 999;height: auto;}
#charNav { position:relative; z-index:4;}
#charNav a { display:block; margin-left:40px; width:20px; text-align: center; font-size:12px; color:#ea5518;line-height:14px;}
/*-------------------------城市列表结束  -----------------------*/

/**** Docs ****/
#infscr-loading { text-align: center;z-index: 100;position: fixed; left: 50%; margin-left:-100px; bottom: 40px; width:200px; background: #999; opacity: 0.8; color: #FFF; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
#infscr-loading img { padding:10px 10px 0 10px;}
#infscr-loading em { display:block; padding:10px;}

/* ===============================================================
Basic Swiper Styles 
================================================================*/
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}
