@charset "utf-8";
/* CSS Main */

html{color:#4d4d4d; height:100%; min-height:100%; background:#000;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:auto; margin:0 auto; max-width:640px;background:#fff; min-height:100%; background:#000;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#header { height:auto; overflow:hidden;z-index:1; position:relative;text-align:center;}
.header { height:30px; width:100%; overflow:hidden; line-height:30px; font-size:16px; font-weight:bold; color:#fff;background:url(../Image/header-bg.png) repeat-x 0 0; position:absolute; top:0; left:0; z-index:11;box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);}
#main { height:auto!important; height:100%; position:relative;}
#footer { text-align:center; background:#000; padding:10px 0; position:relative;}
#footer .myMicweb { width:58px; height:58px;float:right; position:absolute; right:0; bottom:0; overflow:hidden;background:url(../Image/myMicroWeb-two.png) no-repeat right bottom; background-size:100%;}
#footer .myMicRight { margin:0 45px;}
#footer .myMicRight p{ text-align:center;color:#888;white-space: nowrap;text-overflow: ellipsis; overflow:hidden;}
#footer .myMicRight p span{ color:#666; font-size:12px;}
#footer .myMicRight a { color:#ccc;}
/*----------------------------------  Global结束  ------------------------------------*/

.mainTop { line-height:0; position:relative; z-index:99;}
.mainTop .top-img {height:auto;position:relative; overflow:hidden; line-height:0;}
.mainTop .top-img .vip-img {width:100%;height:auto;}

.mainCon {position:relative;z-index:100;}
.mainCon .top-title { position:absolute; z-index:100; height:30px; line-height:30px; top:-55px; right:90px; font-size:16px; color:#fff; font-weight:bold;}
.mainCon .top-title.title-nonelogo { right:10px;}
.mainCon .logo-bg {width:70px;height:70px; top:-70px;right:20px;position:absolute; z-index:101;}
.mainCon .logo-con {width:60px;height:60px; margin:5px; background:#fff; border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px; overflow:hidden; text-align:center;box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2); padding:2px; line-height:0;}
.mainCon .logo-con img { width:60px; height:60px; margin:0 auto; border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.mainCon-contenter { background:#000; padding-top:10px;}
.mainCon-contenter-bg { background:#000; padding-bottom:10px;}
.nav { margin:0 12px;}
.nav ul li{ width:25%;height:auto; overflow:hidden; float:left;margin-top:16px; position:relative; line-height:0; text-align:center;}
.nav ul li .nav-img{width:50px; height:50px; display:block; background-position:center center; background-size:100% auto; background-repeat:no-repeat; margin:0 auto;}
.nav ul li img{width:100%;height:100%; display:block}
.nav ul li .nav-con { height:20px; margin:0 auto;position: relative; bottom:0;overflow:hidden;}
.nav ul li p {height:20px; line-height:20px;text-align:center; color:#fff; font-size:12px;}
.nav ul li p.nobg{ background:none; color:#fff;}
.nav-color.colorVal-1 { background-color:#f2b216;}
.nav-color.colorVal-2 { background-color:#592257;}
.nav-color.colorVal-3 { background-color:#545456;}
.nav-color.colorVal-4 { background-color:#52c7e8;}
.nav-color.colorVal-5 { background-color:#66ab26;}
.nav-color.colorVal-6 { background-color:#e44b58;}
.nav-color.colorVal-7 { background-color:#a05000;}
.nav-color.colorVal-8 { background-color:#1875d4;}
.nav-color.colorVal-9 { background-color:#fc5366;}
.nav-color.colorVal-10 { background-color:#ff8a4a;}
.nav-color.colorVal-11 { background-color:#ebb70c;}
.nav-color.colorVal-12 { background-color:#01cad4;}
.nav-color.colorVal-13 { background-color:#1bc266;}
.nav-color.colorVal-14 { background-color:#5dade2;}
.nav-color.colorVal-15 { background-color:#c0db36;}
.nav-color.colorVal-16 { background-color:#faca38;}
.nav-color.colorVal-17 { background-color:#ee72b1;}
.nav-color.colorVal-18 { background-color:#ffba31;}
.nav-color.colorVal-19 { background-color:#88c8ff;}
.nav-color.colorVal-20 { background-color:#87dad2;}
.nav-color.colorVal-21 { background-color:#ffa9b2;}
.nav-color.colorVal-22 { background-color:#f5976c;}
.nav-color.colorVal-23 { background-color:#c3de67;}
.nav-color.colorVal-24 { background-color:#62e2ff;}
.nav-color.colorVal-25 { background-color:#dac4ae;}
.nav-color.colorVal-26 { background-color:#cea0d7;}
/*首页顶部广告栏*/
#first-view { margin: 0 auto; width:100%; height: auto; overflow:hidden; position:relative; background:#000; }
#first-view img {width:100%;height:170px;}
#first-view ul { width:100%;display: -webkit-box;}
#first-view li { width:100%;height:auto; overflow:hidden; line-height:0;-webkit-flex: 1;flex: 1;}
#first-view li a { display:block; width:100%; line-height:0;}
.indicator { display:none;}
.indicator span {display: inline-block; width: 10px; height: 10px; margin-left:5px; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; background:rgba(255,255,255,0.5); }
.indicator span.swiper-active-switch {border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; background:rgba(255,255,255,1); }
@media screen and (min-width: 375px){
	#first-view img { height: 200px;}
}
@media screen and (min-width: 414px){
	#first-view img { height: 220px;}
}

#loadingBox{position:fixed;z-index:100;top:50%;left:50%;width:100px;height:100px;margin:-60px auto auto -85px;padding:10px 30px;border: 1px solid #2A2A2A;color:#fff;text-align:center;border-radius:10px;background:rgba(0,0,0,.66);}
#loadingBox p{}
#loadingBox i{position:absolute;z-index:9;top:60%;left:50%;margin:-16px 0 0 -16px;display:inline-block;width:20px;height:20px;border:4px dotted #000;border-color:rgba(255,255,255,.1) rgba(255,255,255,.2) rgba(255,255,255,.4) rgba(255,255,255,.5);border-radius:300px;-webkit-animation:loadforever 1.5s infinite linear;}
@-webkit-keyframes loadforever{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);}}

/*浮动按钮*/
.subnavbg { position:fixed; z-index:1001; width:100%; height:100%; background:rgba(255, 255, 255, 0.3); top:0; left:0; display:none;}
.subnav { position: fixed; bottom:15px; left:15px; z-index:1003;}
.subnav-con {line-height:33px; font-weight:bold; font-size:28px; font-style:normal; font-family:"Courier New", Courier, monospace; color:#fff; cursor:pointer; position:absolute;}
.subnav,.subnav-con,.subnav-ul li,.subnav-ul li i,.subnav-share,.subnav-share li,.subnav-share li i {width:33px; height:33px;border-radius:50px; -webkit-border-radius:50px;-moz-border-radius:50px;}
.subnav-con { background:#ffb901;}
.subnav-con { z-index:10;}
.subnav-ul { z-index:9;}
.subnav-ul li { position:absolute; left:0; top:0;-webkit-transform:scale(0,0); opacity:0;}
.subnav-ul li i { display:block;text-indent:-999px; cursor:pointer; position:absolute;}
.subnav.subnavanimate .subnav-con {-webkit-animation:animate-subnavcon 0.1s ease-out forwards;}
.subnav.subnavanimate .subnav-ul .subnav-li1 {-webkit-animation:animate-subnavli1 0.3s ease-in-out forwards;}
.subnav.subnavanimate .subnav-ul .subnav-li2 {-webkit-animation:animate-subnavli2 0.3s ease-in-out forwards;}
.subnav.subnavanimateover .subnav-con {-webkit-animation:animateover-subnavcon 0.1s ease-out forwards;}
.subnav.subnavanimateover .subnav-ul .subnav-li1 {-webkit-animation:animateover-subnavli1 0.3s ease-in-out forwards;}
.subnav.subnavanimateover .subnav-ul .subnav-li2 {-webkit-animation:animateover-subnavli2 0.3s ease-in-out forwards;}
.icon-navtel {background:#ffb901 url(../Image/icon-subnav.png) no-repeat 1px 2px; background-size:90%;}
.icon-navshare {background:#ffb901 url(../Image/icon-subnav.png) no-repeat 1px -26px; background-size:90%;}
.subnav-share { position:absolute; top:-10px; left:50px; z-index:8;}
.subnav-share li { position:absolute; left:0; top:0; opacity:0;}
.subnav-share li i { display:block;text-indent:-999px; cursor:pointer; position:absolute; top:0; left:0;}
.subnav-share.shareanimate li.subnav-share1 {-webkit-animation:animate-shareli1 0.1s ease-in-out forwards;}
.subnav-share.shareanimate li.subnav-share2 {-webkit-animation:animate-shareli2 0.2s ease-in-out forwards;}
.subnav-share.shareanimate li.subnav-share3 {-webkit-animation:animate-shareli3 0.3s ease-in-out forwards;}
.subnav-share.shareanimate li.subnav-share4 {-webkit-animation:animate-shareli4 0.4s ease-in-out forwards;}
.subnav-share.shareanimateover li.subnav-share1 {-webkit-animation:animateover-shareli1 0.1s ease-in-out forwards;}
.subnav-share.shareanimateover li.subnav-share2 {-webkit-animation:animateover-shareli2 0.2s ease-in-out forwards;}
.subnav-share.shareanimateover li.subnav-share3 {-webkit-animation:animateover-shareli3 0.3s ease-in-out forwards;}
.subnav-share.shareanimateover li.subnav-share4 {-webkit-animation:animateover-shareli4 0.4s ease-in-out forwards;}
.icon-sina {background:#ffb901 url(../Image/sinaweibo.png) no-repeat center center; background-size:100%;}
.icon-tencent {background:#ffb901 url(../Image/tencentweibo.png) no-repeat center center; background-size:100%;}
.icon-qzeon {background:#ffb901 url(../Image/qzone.png) no-repeat center 0; background-size:100%;}
.icon-renren {background:#ffb901 url(../Image/renren.png) no-repeat center center; background-size:100%;}
@-webkit-keyframes animate-subnavcon{
0%{-webkit-transform: rotateZ(0deg);background:#ffb901;}
100%{-webkit-transform: rotateZ(45deg);background:#cccccc;}
}
@-webkit-keyframes animate-subnavli1{
0%{-webkit-transform:scale(0,0); opacity:0; top:0px; left:0px;}
80%{-webkit-transform:scale(1,1); opacity:1; top:-55px; left:20px;}
100%{-webkit-transform:scale(1,1); opacity:1; top:-50px; left:15px;}
}
@-webkit-keyframes animate-subnavli2{
0%{-webkit-transform:scale(0,0); opacity:0; top:0px; left:0px;}
80%{-webkit-transform:scale(1,1); opacity:1; top:-15px; left:55px;}
100%{-webkit-transform:scale(1,1); opacity:1; top:-10px; left:50px;}
}

@-webkit-keyframes animateover-subnavcon{
0%{-webkit-transform: rotateZ(45deg);background:#cccccc;}
100%{-webkit-transform: rotateZ(0deg);background:#ffb901;}
}
@-webkit-keyframes animateover-subnavli1{
0%{-webkit-transform:scale(1,1); opacity:1; top:-50px; left:15px;}
20%{-webkit-transform:scale(1,1); opacity:1; top:-55px; left:20px;}
100%{-webkit-transform:scale(0,0); opacity:0; top:0px; left:0px;}
}
@-webkit-keyframes animateover-subnavli2{
0%{-webkit-transform:scale(1,1); opacity:1; top:-10px; left:50px;}
20%{-webkit-transform:scale(1,1); opacity:1; top:-15px; left:55px;}
100%{-webkit-transform:scale(0,0); opacity:0; top:0px; left:0px;}
}

@-webkit-keyframes animate-shareli1{
0%{ left:0; opacity:0;}
100%{left:0; opacity:1;}
}
@-webkit-keyframes animate-shareli2{
0%{ left:0; opacity:0;}
100%{left:55px; opacity:1;}
}
@-webkit-keyframes animate-shareli3{
0%{ left:0; opacity:0;}
100%{left:110px; opacity:1;}
}
@-webkit-keyframes animate-shareli4{
0%{ left:0; opacity:0;}
100%{left:165px; opacity:1;}
}
@-webkit-keyframes animateover-shareli1{
0%{left:0; opacity:1;}
100%{ left:0; opacity:0;}
}
@-webkit-keyframes animateover-shareli2{
0%{left:55px; opacity:1;}
100%{ left:0; opacity:0;}
}
@-webkit-keyframes animateover-shareli3{
0%{left:110px; opacity:1;}
100%{ left:0; opacity:0;}
}
@-webkit-keyframes animateover-shareli4{
0%{ left:165px; opacity:1;}
100%{left:0px; opacity:0;}
}
/*浮动按钮*/
