@charset "utf-8";
/* CSS Main */
html{color:#333; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea,pre{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

a {color:#b60101;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
.pt20 { padding-top:20px;}

* {-webkit-tap-highlight-color:rgba(0,0,0,0)}
::-moz-placeholder {color: #cccccc;opacity: 1!important;}
:-ms-input-placeholder {color: #cccccc;}
::-webkit-input-placeholder {color: #cccccc;}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:auto; margin:0 auto; max-width:640px;background:#e84144; overflow:hidden;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#header { height:auto; overflow:hidden;z-index:1; position:relative;text-align:center;}
#main { height:auto!important; height:100%; position:relative;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:10px 0 10px 0;text-align:center; border-top:solid 1px #fff; color:#5c5c5c;
	background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);}
#footer p a{ color:#5c5c5c;}
#footer img { width:180px; height:14px;}
/*----------------------------------  Global结束  ------------------------------------*/

/*加载*/
#loading { position:fixed; width:100%; height:100%; background:#e84144; z-index:1000;}
.loadimg { display:none;}
#loading .loadingbox { position:absolute; top:50%; margin-top:-200px; left:50%; margin-left:-160px; width:320px; height:400px; text-align:center;color:#beaca3;}
.loadingbox>h4 { padding:50px 10px; margin:0 20px; line-height:30px; font-size:24px;}
.loadingbox>div { position:relative; margin:0 auto; width:100px;height:100px;border-radius:50%;}
.loadingbox>div>i { position:absolute;top:0;left:0;box-sizing:border-box;width:100%;height:100%;border-radius:50%;border-width:2px;border-style:solid;border-color:#eee #eee #beaca3 #eee;-webkit-animation:logo 0.8s linear infinite;}
.loadingbox>div>img {width:100%;height:100%;border-radius:50%;}
.loadingbox>h5 { position:absolute; bottom:80px; left:50%; margin-left:-160px; width:320px; font-size:26px;line-height:1.5;opacity:0;-webkit-animation:bling 2s linear infinite;}
.loadingbox>h6 {position:absolute;bottom:0;left:0;width:100%;padding-bottom:4%;font-size:18px;text-align:center;line-height:1.8;}
#loading.red { background:#fbe3e7;}
#loading.red .loadingbox {color:#d72740;}
@-webkit-keyframes bounceInDown {
  0% {opacity: 0;-webkit-transform: translateY(-500px);}
  60% {opacity: 1;-webkit-transform: translateY(10px);}
  80% {opacity: 1; -webkit-transform: translateY(-5px);}
  100% {opacity: 1;-webkit-transform: translateY(0);}
}
@-webkit-keyframes logo{
	0% {-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes bling{
	0% { opacity:0;}
	50% { opacity:1;}
	100%{ opacity:0;}
}


.specialCj-con { width:100%; max-width:640px; margin:0 auto; height:100%; background: url(../Image/lottery/zajindan_bg.jpg) no-repeat; background-size: 100% 100%;}
.close-specialCj {display: block; width:26px; height:26px; position:absolute; top:10px; right:10px;line-height: 26px;color: #ffc000;text-align: center;font-size: 32px;transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg); border-radius:50%; border:solid 2px #ffc000; cursor:pointer; z-index:1;}

.logo { margin: 0 40px; padding-top: 30px; position: relative; z-index: 1;}
.logo .box { width: 55px; height: 55px; border: 3px #ffffff solid; margin-right:20px ; border-radius: 50%; overflow: hidden;}
.logo .box,.logo h2 { line-height: 55px; margin: 0 auto; color: #ffffff; font-size: 18px;}
.logo h2 { text-align: center;}

.title { width: 100%;}
.title .t1 { width: 320px; height: 127px; margin: 0 auto; position: relative; z-index: 1; overflow: hidden; background: url(../Image/lottery/zajindan_1.png) no-repeat; background-size: 100%;}

#lottery { width:280px; height:270px; overflow: visible; margin:0 auto; position:relative;}
#lottery .lotBg { position:relative; width:100%; height:100%;}
.lotEgg { padding-top:60px; position:relative;}
.lotCenter { position:absolute; top:60px;left:0px; float:left; cursor:pointer; z-index: 1;}
.lotCenter:after {content:""; position: absolute; top:83px; left:8px; width: 58px; height: 13px; z-index: -1; background:url(../Image/lottery/zajindan_5.png) no-repeat 0 0; background-size:100%;}
.lotCenter a {float:left;background:url(../Image/lottery/zajindan_2.png) no-repeat bottom; background-size:100%; width:75px; height:89px;cursor:pointer;position:absolute;}
.lotCenter a.curr {background:url(../Image/lottery/zajindan_3.png) no-repeat bottom; background-size:100%;cursor:default;z-index:300;}
.lotCenter a.curr sup {position:absolute;background:url(../Image/lottery/zajindan_15.png) no-repeat; background-size:100%;width:120px; height:75px; top: -62px; left: -20px;z-index:800;}
.lotCenter a.curr sup:before { pointer-events: none; content: ""; width:120px; height:75px; position: absolute; top: 0px; left: 0px; z-index: 1; background:url(../Image/lottery/zajindan_6.png) no-repeat 0 bottom; background-size:100%;}
.lotCenter a.curr sup:after { pointer-events: none; content: ""; width:120px; height:100px; position: absolute; top: 66px; left: 0px; z-index: -1; background:url(../Image/lottery/zajindan_16.png) no-repeat 0 bottom; background-size:100%;}
.lotHammer { position: absolute; left:30px; top:0; width:100px; height:100px; z-index: 2; background:url(../Image/lottery/zajindan_4.png) no-repeat 0 0; background-size:100%; display:none;}
.lotCenter-prize a { pointer-events: none; position:absolute; left:0; top:60px; width:75px; height:89px; z-index: 1; background:url(../Image/lottery/zajindan_3.png) no-repeat 0 bottom; background-size:100%
;display:none;}
.lotCenter-prize.show a { pointer-events: none; display:block;}
.lotCenter-prize p { opacity: 0; width:125px; height:78px; position: absolute; top: -8px; left: -22px; z-index: 1; background:url(../Image/lottery/zajindan_6.png) no-repeat 0 bottom; background-size:100%;}
.lotCenter-prize p:before { pointer-events: none; content: ""; width:120px; height:75px; position: absolute; top: -12px; left: 3px; z-index: 1; background:url(../Image/lottery/zajindan_15.png) no-repeat 0 bottom; background-size:100%;}
.lotCenter-prize p:after { pointer-events: none; content: ""; width:120px; height:100px; position: absolute; top: 77px; left: 12px; z-index: -1; background:url(../Image/lottery/zajindan_16.png) no-repeat 0 bottom; background-size:100%;}
.lotCenter-prize.show p {-webkit-animation:lotCenter-end .001s 0.1s forwards;}
.resultTip{position:absolute; background:#ffc ;width:148px;padding:6px;z-index:500;top:200px; left:10px; color:#f60; text-align:center;overflow:hidden;display:none;z-index:500;}
.resultTip b{font-size:14px;line-height:24px;}

.lotCenter-none a { pointer-events: none; position:absolute; left:0; top:152px; width:79px; height:48px; background:url(../Image/icon-lottery9.png) no-repeat 0 bottom; background-size:100%
;display:none;}
.lotCenter-none.show a { pointer-events: none; display:block;}
.lotCenter-none p { opacity: 0; width:125px; height:78px; position: absolute; top: -8px; left: -22px; z-index: 1; background:url(../Image/lottery/zajindan_6.png) no-repeat 0 bottom; background-size:100%;}
.lotCenter-none p:before { pointer-events: none; content: ""; width:120px; height:100px; position: absolute; top: 77px; left: 12px; z-index: -1; background:url(../Image/lottery/zajindan_16.png) no-repeat 0 bottom; background-size:100%;}
.lotCenter-none.show p {-webkit-animation:lotCenter-end .001s 0.1s forwards;}

.remaining { width: 200px; height: 36px; line-height: 36px; position: relative; bottom: 90px; margin: 0 auto; text-align: center; color: #ffffff; font-size: 18px;}
.remaining span { color: #ffd50f;}

.record { text-align: center; margin: -80px auto 10px auto; position: relative; z-index: 100;}
.record a { padding: 8px 30px; border: 1px #ffffff solid; font-size: 15px; border-radius: 3px; color: #ffffff; background: rgba(144,28,55,.3);}

.copyright { margin-bottom: 20px;}
.copyright .found { line-height: 30px; margin-bottom: 5px; border-bottom: 1px #959595 dashed;}
.copyright .found a { line-height: 30px; font-size: 13px; color: #3488c6;}
.copyright p,.copyright p a { font-size: 12px; line-height: 20px; color: #959595;}
.copyright p a:before { content: ""; display: inline-block; width: 15px; height: 14px; margin-right: 3px; vertical-align: middle;}
.copyright p a:first-child:before { background: url(../Image/copyright_1.png) no-repeat; background-size: 100%;}
.copyright p a:last-child:before { background: url(../Image/copyright_2.png) no-repeat; background-size: 100%;}

.rule { position: fixed; width: 90%; max-width: 576px; bottom: -120px; left: 50%; margin-left: -45%; z-index: 10;}
@media only screen and (min-width:640px ) {
	.rule { margin-left: -288px;}
}
.rule.active { -webkit-animation:fixedRule .5s 0.2s forwards;}
.rule h3 { width: 140px; height: 30px; line-height: 30px; font-size: 16px; text-align: center; color: #ffffff; margin: 0 auto; background: url(../Image/lottery/zajindan_13.png) no-repeat 0 0; background-size:100%;}
.rule p { padding: 20px; height: 80px; overflow: auto; text-align: justify; line-height: 24px; background: #ffffff; border-radius: 5px 5px 0 0; color: #333333;}

/* 星星闪烁效果 */
.specialCj-con .element div { position: absolute;}
.specialCj-con .element .star1 { width: 44px; height: 44px; top: 22%; left: 70%; background: url(../Image/lottery/zajindan_star.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .star2 { width: 22px; height: 22px; top: 20%; left: 72%; background: url(../Image/lottery/zajindan_star.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .star3 { width: 33px; height: 33px; top: 25%; left: 75%; background: url(../Image/lottery/zajindan_star.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .star4 { width: 11px; height: 11px; top: 25%; left: 71%; background: url(../Image/lottery/zajindan_star.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .star5 { width: 33px; height: 33px; top: 83%; left: 8%; background: url(../Image/lottery/zajindan_star.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .star6 { width: 22px; height: 22px; top: 92%; left: 5%; background: url(../Image/lottery/zajindan_star.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .star7 { width: 33px; height: 33px; top: 86%; left: 3%; background: url(../Image/lottery/zajindan_star.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .star8 { width: 11px; height: 11px; top: 50%; left: 50%; background: url(../Image/lottery/zajindan_star.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .star9 { width: 33px; height: 33px; top: 52%; left: 62%; background: url(../Image/lottery/zajindan_star.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .star10 { width: 33px; height: 33px; top: 48%; left: 50%; background: url(../Image/lottery/zajindan_star.png) 0 0 no-repeat; background-size: 100% 100%;}
.specialCj-con .element .star1 { -webkit-animation: opacity1 2s 0.2s alternate infinite;}
.specialCj-con .element .star2 { -webkit-animation: opacity2 1.5s 0.2s alternate infinite;}
.specialCj-con .element .star3 { -webkit-animation: opacity1 3s 0.8s alternate infinite;}
.specialCj-con .element .star4 { -webkit-animation: opacity2 2.5s 0.2s alternate infinite;}
.specialCj-con .element .star5 { -webkit-animation: opacity2 1.5s 0.2s alternate infinite;}
.specialCj-con .element .star6 { -webkit-animation: opacity2 3s 1s alternate infinite;}
.specialCj-con .element .star7 { -webkit-animation: opacity2 2s 1.2s alternate infinite;}
.specialCj-con .element .star8 { -webkit-animation: opacity2 1.5s 0.8s alternate infinite;}
.specialCj-con .element .star9 { -webkit-animation: opacity1 3s 0.8s alternate infinite;}
.specialCj-con .element .star10 { -webkit-animation: opacity2 1.5s 0.2s alternate infinite;}

/*弹窗*/
.msgPop { position:fixed; z-index:990; top:0; width:100%; height:100%; min-height:100%; margin:0 auto;display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;}
.msgPop.bg { background:rgba(0,0,0,0.7);}
.msgPop .msgBg { position: relative;  height: auto; width: 80%; min-width: 280px; max-width: 580px; height:auto; margin:0 auto; margin-top:-40px;}
.msgPop .msgBg .msgTitle { position:relative; color:#000; font-size:20px; line-height:30px; background:url(../Image/duanwu/Item/qj-18.png?v=__VR__) no-repeat 0 top; background-size:100% auto;}
.msgPop .msgBg .msgTitle .close-msgPop { text-decoration: none; color: #ffffff; font-size: 20px; width: 30px; height: 30px; position: absolute; top: -17px; right: -12px; z-index: 5; background: #ed3f41; border-radius: 50%;}
.msgPop .msgBg .msgTitle.hastitle { line-height:77px; color:#a3964c; background:url(../Image/duanwu/Item/element_24.png?v=__VR__) no-repeat 0 top; background-size:100% auto;}
.msgPop .msgBg .msgTitle.border { width: 100%; height: 15px; position: absolute; left: 0; top: -5px; background: url(../Image/lottery/element_27.png) repeat-x; background-size: auto 100%;}
.msgPop .msgBg .msgTitle.notitle { background: #fffced; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
.msgPop .msgBg .msgTitle i { font-style: normal; color: #ffffff; display: block; margin: 0 0 4px 4px; line-height: 30px; text-align: center; font-size: 32px; transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg);}
.msgPop .msgBg .msgTitle.hastitle + .msgCon { padding:30px 10px 15px 10px;}
.msgPop .msgBg .msgCon {/* padding:30px 20px;*/ height:auto; overflow:hidden;border-radius:4px; background:#ffffff;touch-action: pan-y; -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3); -moz-box-shadow: 0 2px 3px rgba(0,0,0,.3); box-shadow: 0 2px 3px rgba(0,0,0,.3);}
.msgPop .msgBg .msgCon { font-size:18px; line-height:25px;}

.msgPop .msgBg .msgCon .cjText { margin:0 auto; height:auto; padding: 30px 20px; background:#fffced;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.msgPop .msgBg .msgCon i { display:block; margin:0 auto; width:80px; height:80px; line-height:80px; font-size:60px; overflow:hidden; color:#ffba26;}
.msgPop .msgBg .msgCon .cjText-img { line-height:0;}
.msgPop .msgBg .msgCon li { margin-bottom: 10px; position: relative;}
.msgPop .msgBg .msgCon li:last-child { position: absolute; width: 90%; bottom: -80px; left: 50%; margin-left: -45%; height:50px;}
.msgPop .msgBg .msgCon input { vertical-align: top;}
.msgPop .msgBg .msgCon input[type="text"],
.msgPop .msgBg .msgCon input[type="tel"] { width: 100%; height: 41px; line-height: 41px; padding: 0; border: 1px #a2996a solid; text-indent: .5em; border-radius: 3px;}
.msgPop .msgBg .msgCon input[type="button"],.msgPop .msgBg .msgCon input[type="submit"] { line-height: 35px; border: 1px #ffda68 solid; font-size: 14px; color: #ffffff; background:#ffda68; border-radius: 3px;}
.msgPop .msgBg .msgCon #subcj { width:100%; line-height:50px; text-align: center; background:#ffda68; border: solid 1px #ffda68; border-radius:3px; color:#7e6046; font-size:18px; border-radius:8px; -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3); box-shadow: 0 2px 3px rgba(0,0,0,.3); display:block;}
.msgPop .msgBg .msgCon input[type="button"].sOne-cjpasscode-btn { display: block; width: 100px; height: 41px; line-height: 41px; text-align: center; font-size: 16px; position: absolute; top: 1px; right: -1px; border: 0; border-radius: 0 3px 3px 0; background: #ed3f41; color: #ffffff;}
/*.msgPop .msgBg .msgCon .cjBtn {width: 110%; padding: 120px 0 40px 0; position: absolute; bottom: -110px; left: -5%; background: #ed3f41; border-radius: 3px; z-index: -1; -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.5); box-shadow: inset 0 2px 3px rgba(0,0,0,.5); height:auto; overflow:hidden;}*/
/*.msgPop .msgBg .msgCon .cjBtn a { display:block; width: 80%; margin:0 auto; height:50px; line-height:50px; text-align: center; background:#ffda68; border: solid 1px #ffda68; border-radius:3px; color:#7e6046; font-size:18px; border-radius:8px; -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3); box-shadow: 0 2px 3px rgba(0,0,0,.3);}*/
/*.msgPop .msgBg .msgCon .cjBtn a.sm { border:solid 1px #a3964c; color:#a3964c; background:none;}*/
.msgPop .msgBg .msgCon .cjBtn{width: 100%;margin: 0 auto;	box-sizing: border-box;	padding: 120px 10px 40px 10px;	position: absolute;	bottom: -148px;	/* left: -5%; */	background: #ed3f41;	border-radius: 3px;	z-index: -1;	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.5);	box-shadow: inset 0 2px 3px rgba(0,0,0,.5);	height: auto;	overflow: hidden;}
.msgPop .msgBg .msgCon .cjBtn a { display: inline-block;	box-sizing: border-box;	width: 48%; padding: 0 20px; 	float: left;	margin: 0 auto;	height: 50px;	line-height: 50px;	text-align: center;	background: #ffda68;	border: solid 1px #ffda68;	border-radius: 3px;	color: #7e6046;	font-size: 18px;	border-radius: 8px;	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3);	box-shadow: 0 2px 3px rgba(0,0,0,.3);}
.msgPop .msgBg .msgCon .cjBtn a.first {margin-right:10px;}
.msgPop .msgBg .msgCon .cjBtn a.sm { border:solid 1px #a3964c; color:#7e6046;}

.formError { position:absolute; top:33px; left:160px; padding:0 10px; height:20px; line-height:20px; background:#bb0000; color:#fff; border-radius:2px; z-index:100; font-size:12px; display:none;}
input.erro + .formError { display:block;-webkit-animation:formerroMsg 0.3s linear;-webkit-animation-fill-mode:forwards;}
.half + .formError { left:75px;}
.formError.passcode { right:100px;}
.formError:before { position:absolute; top:-22px; right:10px; width:18px; height:24px; color:#bb0000; content: ''; background:url(../Image/icon-formerro.png) no-repeat 0 0; background-size:100%;}
.formError .formErrorContent { text-align:center;}
@-webkit-keyframes formerroMsg{
	0%{-webkit-transform:translate(0,10px);opacity:0;}
	100%{-webkit-transform:translate(0,0);opacity:0.7;}
}
.msgPop .msgBg .msgCon p {margin: 0 auto; text-align: justify; font-size: 18px; color: #7e6046; padding: 0 0 10px 0; line-height: 23px;}
.msgPop .msgBg .msgCon p.title { padding:5px 0; font-size:20px; color:#ed3f41;}
.msgPop .msgBg .msgCon p span { color:#1e7135;}

.msgPop .msgBg .msgCon .gameRule { color:#776c2d; text-align:left; font-size:12px;}
.msgPop .msgBg .msgCon .gameRule .divRule { height:220px; overflow:hidden; overflow-y:auto;  -webkit-font-smoothing: antialiased;}
.msgPop .msgBg .msgCon .gameRule p { padding-bottom:5px; font-size:12px; line-height:18px;}
.msgPop .msgBg .msgCon .gameRule p b { font-weight:bold;color:#776c2d;}
.msgPop .msgBg .msgCon .gameRule table {width:100%;border-collapse:collapse;border:1px solid #776c2d;table-layout:fixed; line-height:18px;}
.msgPop .msgBg .msgCon .gameRule td {padding: 2px 5px;border-collapse:collapse;vertical-align:middle;text-align:center;border:solid 1px #776c2d;color:#8b8041;}
.msgPop .msgBg .msgCon .gameRule td.tl { text-align:left;}

.msgPop.active .msgBg .msgTitle { height: 0;}
.msgPop.active .msgBg .msgCon .cjText { padding: 0; background: none;}
.msgPop.active .msgBg .msgCon { box-shadow: none; background: none;}
.msgPop.active .msgBg .msgCon p.text { padding: 35px; background: url(../Image/lottery/element_26.png) 0 0 no-repeat; background-size: 100% 100%; border-radius: 4px; -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3); -moz-box-shadow: 0 2px 3px rgba(0,0,0,.3); box-shadow: 0 2px 3px rgba(0,0,0,.3);}
.msgPop.active .msgBg .msgCon .cjBtn { background: none; box-shadow: none;}
.msgPop.active .msgBg .msgCon .cjBtn a { border: 1px #ed3f41 solid; background: #ed3f41; color: #ffffff; box-shadow: none;}



/*中奖纪录*/
.recordBox { background: #eaeaea;}
.recordBox .wrapper ul { background: #ffffff;}
.recordBox .wrapper ul li { padding: 20px 0; margin: 0 20px; border-bottom: 1px #d7d7d7 dashed;}
.recordBox .wrapper ul li:last-child { border-bottom: 0;}
.recordBox .wrapper ul li.noRecord { padding: 40px 0; margin-bottom: 40px; border-bottom: 0;}
.recordBox .wrapper ul div { width: 60%; float: left; font-size: 15px;}
.recordBox .wrapper ul div h3 { font-size: 16px;}
.recordBox .wrapper ul div h4 { font-size: 13px; color: #666666;}
.recordBox .wrapper ul a { float: right; padding: 8px 20px; background: #fff1f1; border: 1px #ed3f41 solid; font-size: 15px; color: #ed3f41; border-radius: 3px;}
.recordBox .wrapper .btn { margin: 15px auto; text-align: center;}
.recordBox .wrapper .btn a { display: block; line-height: 45px; margin: 0 20px; font-size: 17px; background: #ed3f41; border-radius: 10px; color: #ffffff;}
.recordBox .msgPop .msgBg .msgCon p.title { padding: 0; margin-bottom: 15px; text-align: center; font-size: 24px; text-align: center;}


@-webkit-keyframes opacity1 {
	0%{opacity:0;}
	100%{opacity:1;}
}
@-webkit-keyframes opacity2 {
	0%{opacity:0;}
	100%{opacity:.4;}
}
@-webkit-keyframes fixedRule
{
	0%{-webkit-transform:translate(0,0);}
	100%{-webkit-transform:translate(0,-120px);}
}

.lotHammer-animation {-webkit-animation:lotHammer-animation 4s 0.2s forwards;}
@-webkit-keyframes lotHammer-animation
{
	0%{-webkit-transform:rotate(0deg);}
	15%{-webkit-transform:rotate(30deg);}
	30%{-webkit-transform:rotate(0deg);}
	45%{-webkit-transform:rotate(30deg);}
	60%{-webkit-transform:rotate(0deg);}
	87%{-webkit-transform:rotate(50deg);}
	90%{-webkit-transform:rotate(-10deg);}
	100%{-webkit-transform:rotate(10deg);}
}
@-webkit-keyframes lotCenter-end
{
	0%{ opacity: 0; -webkit-transform:translate(0,10px);}
	100%{ opacity: 1; -webkit-transform:translate(0,0);}
}

.lotCenter-animation1 {-webkit-animation:lotCenter-animation1 1.5s linear 0.2s forwards;}
@-webkit-keyframes lotCenter-animation1
{
	0%{-webkit-transform:translate(0,0);}
	20%{-webkit-transform:translate(190px,0);}
	30%{-webkit-transform:translate(190px,0);}
	50%{-webkit-transform:translate(95px,0);}
	60%{-webkit-transform:translate(95px,0);}
	80%{-webkit-transform:translate(190px,0);}
	90%{-webkit-transform:translate(190px,0);}
	100%{-webkit-transform:translate(0,0);}
}

.lotCenter-animation2 {-webkit-animation:lotCenter-animation2 1.5s linear 0.2s forwards;}
@-webkit-keyframes lotCenter-animation2
{
	0%{-webkit-transform:translate(0,0);}
	20%{-webkit-transform:translate(-95px,0);}
	30%{-webkit-transform:translate(-95px,0);}
	50%{-webkit-transform:translate(95px,0);}
	60%{-webkit-transform:translate(95px,0);}
	80%{-webkit-transform:translate(-95px,0);}
	90%{-webkit-transform:translate(-95px,0);}
	100%{-webkit-transform:translate(0,0);}
}

.lotCenter-animation3 {-webkit-animation:lotCenter-animation3 1.5s linear 0.2s forwards;}
@-webkit-keyframes lotCenter-animation3
{
	0%{-webkit-transform:translate(0,0);}
	20%{-webkit-transform:translate(-95px,0);}
	30%{-webkit-transform:translate(-95px,0);}
	50%{-webkit-transform:translate(-190px,0);}
	60%{-webkit-transform:translate(-190px,0);}
	80%{-webkit-transform:translate(-95px,0);}
	90%{-webkit-transform:translate(-95px,0);}
	100%{-webkit-transform:translate(0,0);}
}

@-webkit-keyframes lottery-animation
{
	0%{ background-position: 0 0;}
	100%{ background-position: 300px 720px;}
}