@charset "utf-8";
/* CSS 电子海报 */

html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}
h1{color:#fe5502;}
h2{color:#888;text-align:left;}
h3{color:#444;}
h4{color:#444;text-align:left;}
* {-webkit-tap-highlight-color:rgba(0,0,0,0)}

a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1;}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:100%; margin:0 auto; max-width:640px;background:#fff;}
#container {height:100%; min-height:100%;}
#header { height:30px; overflow:hidden;z-index:1; position:relative;text-align:center; padding:7px; border-bottom:solid 1px #dcdcdc;}
#main { height:100%; position:relative;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:5px 0 5px 0;text-align:center;color:#5c5c5c;background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%); font-size:12px; line-height:20px;}
#footer p a{ color:#5c5c5c;}
.shopBoxView { text-align:left;}

.Gloading {width:100%; height:100%; position:fixed; top:0; left:0;background:#fffce5; z-index:100000;}
.Gloading img { position:fixed; top:50%; margin-top:-102px; left:50%; margin-left:-160px; width:320px; height:205px;}
.Gloading .progress {position:fixed; left:50%; margin-left:-100px;width:200px; height:10px; top:50%; margin-top:110px; border:solid 1px #ce9872; border-radius:6px; overflow:hidden;}
.Gloading .progress i { position:absolute; z-index:0; top:0; display:block;width:100%; height:10px;right:100%; background:#ce9872; border-radius:5px;transition:right 1s;}
.Gloading .progress p { position:relative; z-index:1;color:#a4371d; line-height:10px; font-size:12px;}

/*shopModBox-13之前的在Wshop.css中,此处把shopModBox原改为Mod*/
.ModCon { width:100%; height:100%; overflow:hidden;}
.ModCon .Modwapper { width:100%; height:100%; overflow:hidden;}
.ModCon .Modwapper .Modlist { position:relative; width:100%; height:100%; overflow:hidden; float:left;}
.ModCon .Modwapper .Modlist>img { position:absolute; top:0; left:0; width:100%; height:auto; min-height:100%;}
.iconHand { position:absolute; z-index:3; bottom:10px; left:50%; margin-left:-24px; width:48px; height:48px; background:url(../../Image/poster/icon-hand.png) no-repeat center 0px; opacity:0.7;}
.iconHand { -webkit-animation:iconHand 1.5s infinite ease;}
@-webkit-keyframes iconHand
{
	0%{-webkit-transform:translate(0,0px);}
	100%{-webkit-transform:translate(0,-60px);}
}
.music { position: absolute; z-index:2; top:10px; right:10px; padding:5px; width:12px; height:12px; border-radius:20px; border:solid 1px #fff; opacity:0.8;}
.music i { display:block; width:12px; height:12px; background:url(../Image/Shop/shopMusic.png) no-repeat 0 0; background-size:100% 100%;}
.music.on i { -webkit-animation:music 1.5s infinite linear;}
.music.on span { position:absolute; top:2px; right:2px; width:10px; height:10px; background:url(../Image/Shop/shopMusic.png) no-repeat 0 0; background-size:100% 100%; opacity:0.8; -webkit-animation:music1 1.5s infinite linear;}
.music.on em { position:absolute; top:-4px; right:-4px; width:8px; height:8px; background:url(../Image/Shop/shopMusic.png) no-repeat 0 0; background-size:100% 100%; opacity:0.8; -webkit-animation:music2 1.5s infinite linear;}
.btn-Hotrecommend { position:absolute; bottom:0; left:0; padding:6px 0 6px 0; width:100%;background:rgba(0,0,0,0.8); text-align:center;-webkit-transform:translate(0,80px);}
.btn-Hotrecommend a { display:inline-block; width:120px; height:35px;margin:0 10px; overflow:hidden; line-height:35px; border-radius:5px; font-size:16px;color: #fff;text-shadow: 0px 1px 0px rgba(0,0,0,0.3);background: #fed76e;background: -webkit-gradient(linear, left top, left bottom, from(#ff7c00), to(#ff5500));box-shadow: 0 3px 3px rgba(0,0,0,0.5);}
.btn-Hotrecommend a.last {background: #dd0007;background: -webkit-gradient(linear, left top, left bottom, from(#ff1600), to(#dd0007));}
.btn-Hotrecommend a.last:hover {background: -webkit-gradient(linear, left top, left bottom, from(#dd0007), to(#ff1600));box-shadow: 0 3px 3px rgba(0,0,0,0.5);}
.btn-Hotrecommend a:hover {background: -webkit-gradient(linear, left top, left bottom, from(#ff5500), to(#ff7c00));box-shadow: 0 3px 3px rgba(0,0,0,0.5);}
.swiper-slide-visible .btn-Hotrecommend {-webkit-animation:Hotrecommend 0.5s 1.5s forwards linear;}

.swiper-slide { position:relative; width:100%; height:100%; overflow:hidden;}
.swiper-slide>div { position:relative; line-height:0;}
.swiper-slide .img { width:100%; height:auto;}
.page1 { background:#fff url(../Image/Item/ymr7-1.jpg) no-repeat center center; background-size:100% auto;}
.page2 { background:#050404 url(../Image/Item/ymr7-15.jpg) no-repeat 0 0; background-size:100% auto;}
.page3 { background:#fbde27 url(../Image/Item/ymr7-11.png) no-repeat 0 0; background-size:100% auto;}
.page4 { background:#333 url(../Image/Item/ymr7-7.jpg) no-repeat 0 0; background-size:100% auto;}
.page5 { background:#fff url(../Image/Item/ymr7-8.png) no-repeat 0 0; background-size:100% auto;}
.page6 { background:#62aedf url(../Image/Item/ymr7-18.jpg) no-repeat 0 0; background-size:100% auto;}
.page7 { background:#e7333a url(../Image/Item/ymr7-24.png) no-repeat 0 0; background-size:100% auto;}
.page8 { background:#40a645 url(../Image/Item/ymr7-13.png) no-repeat 0 0; background-size:100% auto;}
.page9 { background:#2062a6 url(../Image/Item/ymr6-20.png) no-repeat 0 0; background-size:100% auto;}
.page10 { background:#333 url(../Image/Item/ymr7-27.png) no-repeat 0 0; background-size:100% auto;}
.page11 { background:#333 url(../Image/Item/ymr7-27.png) no-repeat 0 0; background-size:100% auto;}
.page12 { background:#df3f41;}


@-webkit-keyframes Hotrecommend
{
	0%{-webkit-transform:translate(0,80px);}
	100%{-webkit-transform:translate(0,0);}
}
	/*模板*/
	
	/*模板*/

@-webkit-keyframes music
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes music1
{
	0%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	10%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	50%{-webkit-transform:rotate(15deg) translate(5px,-5px); opacity:0.8;}
	100%{-webkit-transform:rotate(30deg) translate(10px,-10px); opacity:0;}
}
@-webkit-keyframes music2
{
	0%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	40%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	80%{-webkit-transform:rotate(-30deg) translate(7px,-7px); opacity:0.4;}
	100%{-webkit-transform:rotate(-60deg) translate(14px,-14px); opacity:0;}
}
.ymr-2 { position:absolute; z-index:2; top:0; left:0; width:100%; height:auto;}
.page1-1 { margin-top:5%;}
.swiper-slide>div.page1-2 { position: absolute; top:6%; left:0; width:100%;}
.page1-2 .ymr-1-1 { position:relative; -webkit-transform: translate(-20px,0); opacity:0;}
.page1-2 .ymr-1-2 { position:absolute; top:0; left:0; opacity:0;}
.ymr-1-3 { position:absolute; top:60%; left:0; opacity:0;}
.page1 p.p1 { margin-top:10px; text-align:center; font-size:18px; color:#505350;}
.page1 p.p2 { position:absolute; bottom:10px; left:0; width:100%; tex=t-align:center; font-size:14px; color:#fff;}
.swiper-slide-active .ymr-1-1 {-webkit-animation:ymr-1-1 6s 0.2s forwards linear;}
.swiper-slide-active .ymr-1-2 {-webkit-animation:ymr-1-2 10s -1.2s forwards ease;}
.swiper-slide-active .ymr-1-3 {-webkit-animation:translateX4 1s 0.2s forwards ease;}

.swiper-slide>div.page2-1 { position:absolute; z-index:2; top:50%; margin-top:-120px; width:100%; height:200px;}
.swiper-slide>div.page2-1 p { line-height:28px; color:#fff; font-size:14px;}
.swiper-slide>div.page2-1 p span { margin-top:5px; display:inline-block; padding:2px 5px; background:#fff; color:#000; font-size:22px; font-weight:bold;}
.swiper-slide>div.page2-2 { position:absolute; z-index:1; top:50%; margin-top:-160px; left:50%; margin-left:-100px; width:200px; height:300px;}
.swiper-slide>div.page2-2 .point1,
.swiper-slide>div.page2-2 .point2,
.swiper-slide>div.page2-2 .point3,
.swiper-slide>div.page2-2 .point4 { position:absolute; width:8px; height:8px; background:#f5e130; border-radius:50%;}
.swiper-slide>div.page2-2 .point1 { left:0; top:0;}
.swiper-slide>div.page2-2 .point2 { right:0; top:80px;}
.swiper-slide>div.page2-2 .point3 { left:5px; top:262px;}
.swiper-slide>div.page2-2 .point4 { right:30px; top:300px;}
.swiper-slide>div.page2-2 .line1,
.swiper-slide>div.page2-2 .line2,
.swiper-slide>div.page2-2 .line3 { position:absolute; height:2px; background:#f5e130;}
.swiper-slide>div.page2-2 .line1 { left:4px; top:4px; width: 0; -webkit-transform:rotate(22deg); -webkit-transform-origin:left center;}
.swiper-slide>div.page2-2 .line2 { right:4px; top:84px; width: 0; -webkit-transform:rotate(-44deg); -webkit-transform-origin:right center;}
.swiper-slide>div.page2-2 .line3 { left:9px; top:266px; width: 0; -webkit-transform:rotate(13deg); -webkit-transform-origin:left center;}

.swiper-slide-active.swiper-slide>div.page2-2 .line1 { transition:width 0.8s 0.2s linear; width:210px;}
.swiper-slide-active.swiper-slide>div.page2-2 .line2 { transition:width 0.8s 1s linear; width:260px;}
.swiper-slide-active.swiper-slide>div.page2-2 .line3 { transition:width 0.8s 1.8s linear; width:165px;}

.page3-1 { position:relative; margin:0 20px; margin-top:12%;}
.page3-1 img { opacity:0;}
.page3 .page3-2 { margin:10px 20px 0 20px; opacity:0;}
.page3 .page3-2 .p h2 { float:left; line-height:40px; text-align:center; font-size:34px; color:#fbde27; background:#000;}
.page3 .page3-2 .p p { margin-top:0px; font-size:14px; padding-bottom:0; line-height:20px;}
.page3 .page3-2 p { margin-top:10px; line-height:20px; text-align:left; color:#252b29; font-size:12px;}
.page3 .page3-2 p span { color:#fbde27; background:#000;}
.swiper-slide-active .page3-1 img {-webkit-animation:opacity2 1.2s 0.2s forwards linear;}
.swiper-slide-active .page3-2 {-webkit-animation:opacity3 1.2s 0.8s forwards linear;}

.page4-1 { position:relative; top:10%; margin:0 20px; height:auto;}
.page4-1 img { opacity:0;}
.page4 .page4-2 { opacity:0; position:relative; top:10%; margin:0 20px; height:auto; padding-bottom:20px; background:rgba(255,255,255,1);}
.page4 .page4-2 h2 { padding:5px 0; line-height:20px; text-align:center; font-size:16px; font-weight:bold; color:#181c24;}
.page4 .page4-2 h2 span { font-weight:normal;}
.page4 .page4-2 p { line-height:18px; text-align:left; color:#333; margin:0 20px; padding-bottom:10px; font-size:14px;}
.page4 .page4-2 p span { color:#c1011a;}
.swiper-slide-active .page4-1 img {-webkit-animation:opacity2 1.2s 0.2s forwards linear;}
.swiper-slide-active .page4-2 {-webkit-animation:opacity3 1.2s 0.8s forwards linear;}

.page5-1 { position:relative; top:0; margin:0 0; height:auto;}
.page5-1 img { opacity:0;}
.page5 .page5-2 { opacity:0; position:relative; top:0; margin:0 10px; height:auto; padding-bottom:20px; background:rgba(255,255,255,1);}
.page5 .page5-2 h2 { line-height:40px; text-align:center; font-size:16px; font-weight:bold; color:#c1011a;}
.page5 .page5-2 p { line-height:18px; text-align:left; color:#333; padding-bottom:10px; font-size:14px;}
.swiper-slide-active .page5-1 img {-webkit-animation:opacity2 1.2s 0.2s forwards linear;}
.swiper-slide-active .page5-2 {-webkit-animation:opacity3 1.2s 0.8s forwards linear;}

.page6 h2 { opacity:0; position:relative; top:10%; left:0; width:100%; height:auto; line-height:30px; color:#fff; font-size:18px; text-align:center; font-weight:bold; padding-bottom:10px;}
.page6 h2 span { font-weight:normal;}
.page6-1 { position:relative; top:10%; left:0; width:100%; height:auto;}
.page6-1 { position:relative; z-index:5; opacity:0;}
.page6-1 .ymr-6-1 { position:relative; z-index:4; top:0; left:0;}
.page6-1 .ymr-6-2 { position:absolute; z-index:2; top:0; left:0;}
.page6-1 .ymr-6-3 { position: absolute; z-index:2; top:0; left:0;}
.page6-1 .ymr-6-4 { position: absolute; z-index:2; top:0; left:0;}
.page6-1 .ymr-6-5 { position: absolute; z-index:2; top:0; left:0;}
.page6-2 { margin-top:20%; position:relative; line-height:20px; color:#634400; opacity:0;}
.page6-2 p { position:relative; margin:0 20px; line-height:18px; text-align:left; color:#fff; font-size:14px;}
.swiper-slide-visible.page6 h2 {-webkit-animation:opacity2 1s 0.2s forwards linear;}
.swiper-slide-visible.page6 .page6-1 {-webkit-animation:opacity2 1.2s 1s forwards linear;}
.swiper-slide-visible .page6-2 {-webkit-animation:opacity3 1s 1.7s forwards linear;}
.swiper-slide-visible .ymr-6-2 {-webkit-animation:jump2 5s 1.2s infinite linear;}
.swiper-slide-visible .ymr-6-3 {-webkit-animation:jump1 5s 1.2s infinite linear;}
.swiper-slide-visible .ymr-6-4 {-webkit-animation:jump2 5s 1.2s infinite linear;}
.swiper-slide-visible .ymr-6-5 {-webkit-animation:jump1 5s 1.2s infinite linear;}

.page7 h2 { opacity:0; position:relative; margin-top:10%; left:0; width:100%; height:auto; line-height:30px; color:#fff; font-size:18px; text-align:center; font-weight:bold; padding-bottom:10px;}
.page7 h2 span { font-weight:normal;}
.page7-2 { position:relative; line-height:20px; color:#634400; opacity:0;}
.page7-2 p { padding-top:10px; position:relative; margin:0 10px; line-height:18px; text-align:left; color:#fff; font-size:14px;}
.page7-2 p span { color:#f8f265;}
.page7-1 .ymr-7-1 { position:relative; z-index:4; top:0; left:0; opacity:0;}
.page7-1 .ymr-7-2 { position:absolute; z-index:2; top:0; left:0; opacity:0;}
.swiper-slide-visible.page7 h2 {-webkit-animation:opacity2 0.7s 0.2s forwards linear;}
.swiper-slide-visible .page7-2 {-webkit-animation:opacity3 1s 1.7s forwards linear;}
.swiper-slide-visible .page7-1 .ymr-7-1 {-webkit-animation:opacity2 1s 1s forwards linear;}
.swiper-slide-visible .page7-1 .ymr-7-2 {-webkit-animation:opacity2 1s 1s forwards linear;}

.page8-1 { opacity:0; position:relative; left:0; margin:0 20px; margin-top:10%;}
.page8-1 .ymr-8-1 { position:relative; z-index:2; top:0; left:0;}
.page8-2 { margin-top:2%; position:relative; line-height:20px; color:#fff; opacity:0;}
.page8-2 h3 { margin:0 20px;padding-bottom:5px;}
.page8-2 h3 p { line-height:23px; font-size:20px; font-weight:bold; color:#fff; }
.page8-2 h3 p.tl { text-align:left;}
.page8-2 h3 p.tr { text-align:right; font-size:18px;}
.page8-2>p { position:relative; margin:0 20px; padding-bottom:10px; line-height:18px; text-align:left; color:#fff; font-size:14px;}
.swiper-slide-visible .page8-1 {-webkit-animation:opacity2 1s 0.2s forwards linear;}
.swiper-slide-visible .page8-2 {-webkit-animation:opacity3 1s 1s forwards linear;}

.page9-1 { position:relative; height:auto; margin:0 40px; margin-top:20%;}
.page9 p { position:absolute; margin:0 10px; margin-top:11%; color:#fff; line-height:20px; font-size:14px; text-align:left; opacity:0;}
.page9-1 .ymr-9-1 { position: relative; top:0; left:0; opacity:0;}
.swiper-slide-visible .ymr-9-1 {-webkit-animation:opacity2 2s 0.2s forwards linear;}
.swiper-slide-visible.page9 p {-webkit-animation:opacity3 1s 1s forwards linear;}

.page10-1 { position:relative; margin-top:32%;}
.page10-2 { position:relative; margin-top:10%;}
.page10 img { margin-bottom:10px; opacity:0;}
.ymr-10-1 { position:relative;}
.ymr-10-2 { position:absolute; top:0; left:0;}
.ymr-10-3 { position:relative;}
.ymr-10-4 { position:absolute; top:0; left:0;}
.swiper-slide-visible .ymr-10-1 {-webkit-animation:translateX3 2s 0.2s forwards linear;}
.swiper-slide-visible .ymr-10-2 {-webkit-animation:translateX4 2s 0.2s forwards linear;}
.swiper-slide-visible .ymr-10-3 {-webkit-animation:translateX3 2s 1.5s forwards linear;}
.swiper-slide-visible .ymr-10-4 {-webkit-animation:translateX4 2s 1.5s forwards linear;}

.ymr-22 { position:relative; margin:0 auto; width:100%; opacity:0;}
.swiper-slide-visible .ymr-22 {-webkit-animation:scale2 1s 0.5s forwards linear;}
.page12 a { position:absolute; left:50%; margin-left:-100px; bottom:20px; width:200px; height:40px; line-height:40px; font-size:18px; border:solid 1px #ffee04; border-radius:5px; background:none; color:#ffee04; opacity:0;}
.page12 a:hover {-webkit-animation:btn 0.4s forwards ease;}
.swiper-slide-visible.page12 a {-webkit-animation:opacity3 1s 1s forwards linear;}

.wait { position:fixed; left:50%; margin-left:-90px; top:50%; margin-top:-10px; border-radius:10px; width:180px; height:16px; background:rgba(47,147,237,0.5); border: solid 1px #2f8ded;z-index:100; font-size:12px; overflow:hidden;}
.wait p { color:#fff; text-align:center; position:relative; z-index:2; line-height:16px;}
.wait:after { position:absolute; z-index:0; left:-100%; top:0; width:180px; height:16px;border-radius:10px;background:#2f8ded;-webkit-animation:wait 0.4s forwards ease-out; content:"";-webkit-animation:wait 4s forwards ease-out;}
@-webkit-keyframes wait
{
	0%{left:-100%;}
	100%{left:0%;}
}

a.btn-all { display:inline-block; margin:0 auto; width:100px; height:28px; line-height:28px; font-size:14px; font-weight:normal; border-radius:3px; color:#fff;}
a.btn-all:hover {-webkit-animation:btn 0.4s forwards ease;}
a.btn-all.btn1 { background:#58338b; box-shadow:0 3px 0 #472970;}
a.btn-all.btn2 { background:#106d38; box-shadow:0 3px 0 #0d572d;}
a.btn-all.btn3 { background:#392b32; box-shadow:0 3px 0 #2e2328;}
a.btn-all.btn4 { background:#5a4741; box-shadow:0 3px 0 #493934;}
a.btn-all.btn5 { background:#ca010b; box-shadow:0 3px 0 #a30109;}
@-webkit-keyframes ymr-1-2{
	0%{-webkit-transform: rotate(60deg) translate(50px,-400px); opacity:0;}
	100%{-webkit-transform: rotate(0deg); opacity:1;}
}
@-webkit-keyframes ymr-1-1{
	0%{-webkit-transform:translate(-100px,-30px); opacity:0;}
	100%{-webkit-transform:translate(0,0); opacity:1;}
}
@-webkit-keyframes jump1{
	0%{-webkit-transform:translate(0,0px);}
	25%{-webkit-transform:translate(0,-3px);}
	50%{-webkit-transform:translate(0,0px);}
	75%{-webkit-transform:translate(0,3px);}
	100%{-webkit-transform:translate(0,0px);}
}
@-webkit-keyframes jump2{
	0%{-webkit-transform:translate(0,0px);}
	25%{-webkit-transform:translate(0,3px);}
	50%{-webkit-transform:translate(0,0px);}
	75%{-webkit-transform:translate(0,-3px);}
	100%{-webkit-transform:translate(0,0px);}
}
@-webkit-keyframes jumpX1{
	0%{-webkit-transform:translate(0,0px);}
	10%{-webkit-transform:translate(5px,0);}
	20%{-webkit-transform:translate(0,0px);}
	30%{-webkit-transform:translate(-5px,0);}
	40%{-webkit-transform:translate(0,0);}
	50%{-webkit-transform:translate(3px,0px);}
	60%{-webkit-transform:translate(0,0);}
	70%{-webkit-transform:translate(-3px,0px);}
	80%{-webkit-transform:translate(0,0);}
	90%{-webkit-transform:translate(1px,0);}
	100%{-webkit-transform:translate(0,0px);}
}
@-webkit-keyframes rotate1{
	0%{-webkit-transform: rotate(0deg);}
	25%{-webkit-transform: rotate(6deg);}
	50%{-webkit-transform: rotate(0deg);}
	75%{-webkit-transform: rotate(3deg);}
	100%{-webkit-transform: rotate(0deg);}
}
@-webkit-keyframes rotate2{
	0%{-webkit-transform: rotate(0deg);}
	25%{-webkit-transform: rotate(3deg);}
	50%{-webkit-transform: rotate(0deg);}
	75%{-webkit-transform: rotate(-3deg);}
	100%{-webkit-transform: rotate(0deg);}
}
@-webkit-keyframes rotate3{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(-10deg);}
}
@-webkit-keyframes rotate4{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(10deg);}
}
@-webkit-keyframes btn{
	0%{-webkit-transform:scale(1,1) translateY(0);}
	50%{-webkit-transform:scale(.98,.98) translateY(3px);}
	100%{-webkit-transform:scale(1,1) translateY(0);}
}
@-webkit-keyframes bg{
	0%{ background-position:0 0 ;}
	100%{ background-position:6000px 0 ;}
}
@-webkit-keyframes bg2{
	0%{ background-image:url(../Image/Item/ymr5-8.png) ;}
	100%{ background-image:url(../Image/Item/ymr5-9.png) ;}
}
@-webkit-keyframes show {
	0%{ opacity:0;}
	100%{ opacity:1;}
}
@-webkit-keyframes opacity {
	0%{ opacity:0;}
	100%{ opacity:1;}
}
@-webkit-keyframes opacity2 {
	0%{ opacity:0; -webkit-transform:translateY(-120px);}
	100%{ opacity:1; -webkit-transform:translateY(0px);}
}
@-webkit-keyframes scale {
	0% {opacity:0;-webkit-transform: scale(10,10);}
	20% {opacity:1;-webkit-transform: scale(1,1);}
	40% {opacity:1;-webkit-transform: scale(0.9,0.9);}
	60% {opacity:1;-webkit-transform: scale(1.1,1.1);}
	80% {opacity:1;-webkit-transform: scale(0.95,0.95);}
	100% {opacity:1;-webkit-transform: scale(1,1);}
}
@-webkit-keyframes scale2 {
	0% {opacity:0;-webkit-transform: scale(0);}
	20% {opacity:1;-webkit-transform: scale(1);}
	40% {opacity:1;-webkit-transform: scale(1.1);}
	60% {opacity:1;-webkit-transform: scale(0.95);}
	80% {opacity:1;-webkit-transform: scale(1.05);}
	100% {opacity:1;-webkit-transform: scale(1);}
}
@-webkit-keyframes scale3 {
	0% {opacity:0;-webkit-transform: scale(0);}
	100% {opacity:1;-webkit-transform: scale(1.3);}
}
@-webkit-keyframes opacity3 {
	0%{ opacity:0; -webkit-transform:translateY(120px);}
	100%{ opacity:1; -webkit-transform:translateY(0px);}
}
@-webkit-keyframes wobble {
	0% {-webkit-transform: translateX(0px);}
	20% {-webkit-transform: translateX(-20px) rotate(-5deg);}
	40% {-webkit-transform: translateX(15px) rotate(3deg);}
	60% {-webkit-transform: translateX(-10px) rotate(-3deg);}
	80% {-webkit-transform: translateX(5px) rotate(2deg);}
	100% {-webkit-transform: translateX(0px) rotate(-1deg);}
}
@-webkit-keyframes rotate{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes translateX2 {
	0% { opacity:0;-webkit-transform: translateX(200px);}
	50% { opacity:0.3;-webkit-transform: translateX(100px);}
	100% { opacity:1;-webkit-transform: translateX(0px);}
}
@-webkit-keyframes translateX3 {
	0% { opacity:0;-webkit-transform: translateX(-300px);}
	33% { opacity:1;-webkit-transform: translateX(20px);}
	66% { opacity:1;-webkit-transform: translateX(-10px);}
	100% { opacity:1;-webkit-transform: translateX(0px);}
}
@-webkit-keyframes translateX3 {
	0% { opacity:0;-webkit-transform: translateX(-400px);}
	66% { opacity:1;-webkit-transform: translateX(10px);}
	88% { opacity:1;-webkit-transform: translateX(-5px);}
	100% { opacity:1;-webkit-transform: translateX(0px);}
}
@-webkit-keyframes translateX4 {
	0% { opacity:0;-webkit-transform: translateX(400px);}
	66% { opacity:1;-webkit-transform: translateX(-10px);}
	88% { opacity:1;-webkit-transform: translateX(5px);}
	100% { opacity:1;-webkit-transform: translateX(0px);}
}
@-webkit-keyframes translateY {
	0% {-webkit-transform: translateY(0px);}
	40% {-webkit-transform: translateY(-6px);}
	60% {-webkit-transform: translateY(0px);}
	80% {-webkit-transform: translateY(14px);}
	100% {-webkit-transform: translateY(0px);}
}
@-webkit-keyframes translateY2 {
	0% { opacity:0;-webkit-transform: translateX(-80px);}
	50% { opacity:0.3;-webkit-transform: translateX(-40px);}
	100% { opacity:1;-webkit-transform: translateX(0px);}
}
@-webkit-keyframes scaleY {
	0% {opacity:0;-webkit-transform: scaleY(0);}
	20% {opacity:1;-webkit-transform: scaleY(1);}
	40% {opacity:1;-webkit-transform: scaleY(1.2);}
	60% {opacity:1;-webkit-transform: scaleY(0.8);}
	80% {opacity:1;-webkit-transform: scaleY(1.1);}
	100% {opacity:1;-webkit-transform: scaleY(1);}
}
@media screen and (min-width: 320px) and (min-height: 500px){
	.page1-1 { margin-top:15%;}
	.page1-2 { margin-top:15%;}
	.swiper-slide>div.page2-1 p { line-height:25px; font-size:16px;}
	.page3-1 { margin-top:20%;}
	.page3 .page3-2 h2 { line-height:60px;font-size:18px;}
	.page3 .page3-2 p { line-height:25px; }
	.page4-1 { top:12%;}
	.page4 .page4-2 { top:12%;}
	.page4 .page4-2 h2 {padding-top:15px; font-size:18px;}
	.page4 .page4-2 p {padding-top:15px; padding-bottom:15px; line-height:25px;}
	.page5-1 { top:5%;}
	.page5 .page5-2 { top:7%;}
	.page5 .page5-2 h2 { padding-top:10px;}
	.page5 .page5-2 p { line-height:25px;}
	.page6 h2 { padding-bottom:20px;}
	.page6-2 { margin-top:23%;}
	.page6-2 h3 { line-height:25px;}
	.page6-2 p { line-height:25px;}
	.page7-1 { margin-bottom:3%;}
	.page7 .page7-2 h2 { padding-top:10px; padding-bottom:10px; line-height:30px; font-size:20px;}
	.page7 .page7-2 h2 span { font-size:24px;}
	.page7 .page7-2 p { padding-top:10px; line-height:25px;margin:0 20px;}
	.page8-1 {  margin: 0 20px;margin-top:17%;}
	.page8-2 { margin-top:5%;}
	.page8-2 h3 { line-height:30px;}
	.page8-2 p { line-height:20px;}
	.page10-1 {margin-top:43%;}
}
@media screen and (min-width: 375px) and (min-height: 600px){
	.page1-1 { margin-top:15%;}
	.page1-2 { margin-top:15%;}
	.swiper-slide>div.page2-1 {margin-top: -150px;}
	.swiper-slide>div.page2-1 p { line-height:40px; font-size:18px;}
	.page3-1 { margin-top:20%;}
	.page3 .page3-2 { margin-top:20px;}
	.page3 .page3-2 .p h2 { font-size:38px;}
	.page3 .page3-2 .p p { font-size:16px;}
	.page3 .page3-2 p { line-height:25px; font-size:14px;}
	.page4-1 { top:12%;}
	.page4 .page4-2 { top:12%;}
	.page4 .page4-2 h2 {padding-top:15px; font-size:18px; line-height:30px;}
	.page4 .page4-2 p {padding-top:5px; padding-bottom:15px; line-height:25px;}
	.page5-1 { top:5%;}
	.page5 .page5-2 { top:7%;}
	.page5 .page5-2 h2 { padding-top:10px; font-size:18px;}
	.page5 .page5-2 p { line-height:25px; font-size:16px;}
	.page6 h2 { padding-bottom:35px;}
	.page6-2 { margin-top:33%;}
	.page6-2 h3 { line-height:25px;}
	.page6-2 p { line-height:25px; font-size:16px;}
	.page7-1 { margin-bottom:8%; margin-top:8%;}
	.page7 .page7-2 h2 { padding-top:10px; padding-bottom:10px; line-height:30px; font-size:20px;}
	.page7 .page7-2 h2 span { font-size:24px;}
	.page7 .page7-2 p { padding-top:10px; line-height:25px;margin:0 20px; font-size:16px;}
	.page8-1 {  margin: 0 20px;margin-top:17%;}
	.page8-2 { margin-top:5%;}
	.page8-2 h3 { line-height:30px;}
	.page8-2 p { line-height:25px;}
	.page10-1 {margin-top:43%;}
	.page9 p { line-height:25px; font-size:16px;}
	a.btn-all { width:120px; height:35px; line-height:35px; font-size:14px; font-weight:normal; border-radius:3px; color:#fff;}
	.page8-2 h3 p { line-height:30px;}
	.page8-2 h3 p.tl { text-align:left;}
	.page8-2 h3 p { font-size:20px;}
	.page8-2 h3 p.tr { text-align:right; font-size:18px;}
}
