@charset "utf-8";
/* CSS Main */

html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

h1 { line-height:40px; text-align:left; font-size:16px; padding-left:15px;}
a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
.mt20 { margin-top:20px;}

* {-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-appearance:none;}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:auto; margin:0 auto; max-width:640px;background:#fff;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#header { height:30px; overflow:hidden;z-index:3; position: fixed; width:100%; left:0; top:0;text-align:center; padding:7px 0; background:#ea5518;}
#main { height:auto!important; height:100%; position:relative; padding-top:44px;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:5px 0 5px 0;text-align:center;color:#5c5c5c;background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%); font-size:12px; line-height:20px;}
#footer p a{ color:#5c5c5c;}
.shopBoxView { text-align:left;}
/*----------------------------------  Global结束  ------------------------------------*/

#header.userCenter { background:#f7f7f7;border-bottom:solid 1px #bbb;}
#header.userCenter .goback i {background:url(../Image/Item/pa-icon1.png) 0 -150px; background-size:100% auto;}
#header.userCenter .logo span { color:#5f646e;}
.goback { position:absolute; top:7px; left:0; width:35px; height:30px; cursor:pointer;}
.goback i { float:right; margin-top:3px; width:25px; height:25px;background:url(../Image/Item/pa-icon1.png) 0 -25px; background-size:100% auto;}
.gosearch { position:absolute; top:7px; right:0; width:35px; height:30px; cursor:pointer;}
.gosearch i { float:left; margin-top:3px; width:25px; height:25px;background:url(../Image/Item/pa-icon1.png) 0 -175px; background-size:100% auto;}
.logo { display:block; margin:0 35px; height:30px; text-align:left;}
.logo i { float:left; width:30px; height:30px; overflow:hidden; background:#fff; border-radius:2px; text-align:center; line-height:32px; font-style:normal; color:#ea5518; font-size:24px;}
.logo span { margin-left:5px; line-height:32px; font-size:18px; color:#fff;}

.btnDiv { padding:20px 0; text-align:center;}
.btn { display:inline-block; width:120px; height:40px; background:#ff5500; border-radius:5px; line-height:40px; color:#fff; font-size:16px; font-weight:bold;}

.Gform { background:#fff;}
.Gform:after,.Gform ul:after,.Gform ul li:after {visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0px;}
.Gform ul { margin:0 10px; position:relative; box-sizing:border-box;}
.Gform ul:nth-last-child(2) { border-bottom:solid 1px #ddd;}
.Gform .name { width:95px; text-align:right; line-height:35px; position:absolute; top:8px; left:0; font-size:14px; color:#666; box-sizing:border-box;}
.Gform .input { padding:8px 0 8px 95px; position:relative; box-sizing:border-box;}
.Gform .input .textbox,.Gform .input textarea { width:100%; font-size:14px; border:solid 1px #bbb; border-radius:3px; box-sizing:border-box;-webkit-appearance:none;box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}
.Gform .input .textbox {height:35px; padding:7px 0; line-height:20px; text-indent:3px;}
.Gform .input .textbox.half { width:47%; float:left;}
.Gform .input .passcode { width:47%; height:35px; float:right; border-radius:3px;}
.Gform .input .btn-input.half { width:47%; padding:6px 0; line-height:20px; float:right; border:solid 1px #bfbfbf; color:#909090; -webkit-appearance:none; border-radius:3px; background:#eee;}
.Gform .input textarea { margin-top:5px;height:60px; line-height:20px;}
.Gform .input select { float:left; margin-right:4%; width:48%;height:35px; line-height:35px;background-image: linear-gradient( #fff , #f1f1f1); font-size:14px; border:solid 1px #bbb; border-radius:3px; box-sizing:border-box;-webkit-appearance:none;box-shadow: 0px 1px 3px rgba(0,0,0,.2);}
.Gform .input select:last-child { margin-right:0;}
::-webkit-input-placeholder {
	font-size:12px;
}
.Gform ul.btn-ul { margin:0; padding:10px 0 100px 0; background:#f0efed;}
.Gform ul li.btn-li { text-align:center;}
.Gform ul li .btn-up { display:block; margin:0 10px; height:40px; background:#ff9000; color:#fff; line-height:40px; font-size:16px; font-weight:bold; text-align:center; border-radius:5px;}
.formError { position:absolute; top:40px !important; left:auto !important; right:5px !important; margin:0 !important; padding:0 10px; height:25px; line-height:25px; background:#bb0000; color:#fff; border-radius:5px; box-shadow:0 0 3px rgba(187,0,0,0.5); z-index:100;-webkit-animation:erroMsg 0.3s linear;-webkit-animation-fill-mode:forwards;}
.formError.passcode { right:100px;}
.formError:before { position:absolute; top:-22px; right:10px; width:18px; height:24px; color:#bb0000; content: ''; background:url(../Image/icon-formerro.png) no-repeat 0 0; background-size:100%;}
.formError .formErrorContent { text-align:center;}
@-webkit-keyframes erroMsg{
	0%{-webkit-transform:translate(0,10px);opacity:0}
	100%{-webkit-transform:translate(0,0);opacity:1}
}


.msgPop { position:fixed; z-index:1000; top:0; width:100%; height:100%; min-height:100%; margin:0 auto;display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;}
.msgPop.bg { background:rgba(0,0,0,0.7);}
.msgPop .msgBg { width:95%; max-width:640px; height:auto; max-height: 90%; padding-bottom: 20px; margin:0 auto; background:#fff; border-radius:5px;}
/*.msgPop .msgBg .msgTitle { position:relative; height:30px; color:#fff; font-size:16px; line-height:30px; font-weight:bold;border-radius:4px 4px 0 0; background:#ea5518;}
.msgPop .msgBg .msgTitle .close-msgPop { position:absolute; right:-5px; top:-5px; width:40px; height:40px;}
.msgPop .msgBg .msgTitle i { width:26px; height:28px; background:#fb753e; position:absolute; right:6px; top:6px; box-shadow:inset 0 0 0 1px #fb753e,0 0 0 1px #ea5518;border-radius:0 4px 0 0;}
.msgPop .msgBg .msgTitle i em { display:block; line-height:28px; text-align:center; color:#fff; font-size:24px; font-weight:bold; -webkit-transform:rotate(45deg);}
.msgPop .msgBg .msgCon { padding-bottom:10px; height:auto; overflow:hidden;border-radius:0 0 4px 4px;}
.msgPop .msgBg .msgCon { font-size:18px; line-height:30px;}*/



/*-------------------------  平安二期新增  -----------------------*/
/*表单*/
input[type=text] {color:#000000;background:#fff;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;box-shadow:none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
input[type=radio] {width:14px; height:14px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; margin-left:5px;}
input[type=radio]:checked { border:solid 1px #ff9000;}
input[type=radio]:checked:after{content:''; background:#ff9000; width:4px; height:4px;position: absolute;top:4px;left:4px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
input[type=checkbox] {width:14px; height:14px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px; margin-left:5px;}
input[type=checkbox]:checked { border:solid 1px #ff9000;}
input[type=checkbox]:checked:after{content:'';background:url(../Image/wap_pingan2/chcekbox-bg-sOne.png) no-repeat 0 0; background-size:100%; width:8px; height:8px;position: absolute;top:2px;left:2px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
select {color:black; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
textarea {color:black; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
/*----------------------------------  表单结束  ------------------------------------*/

/* pa2Index 首页 */
.wrapper { height:100%; margin:0 auto; max-width:640px; background:#fff;}
#pa2Index .banner { background: #ffffff;}
#pa2Index .banner a { display: block;}
#pa2Index .banner img { display: block;}
#pa2Index .main { width: 100%;}
#pa2Index .main ul { width: 100%; height: 100%;}
#pa2Index .main li { width: 50%; text-align: center;}
#pa2Index .main .pa_qx { border-top: 1px #6dd580 solid; background: #6dd580;}
#pa2Index .main .pa_cp { border-top: 1px #ffc219 solid; background: #ffc219;}
#pa2Index .main .pa_cj { background: #f85977;}
#pa2Index .main .pa_fdj { background: #8f5db4;}
#pa2Index .main .pa_lpzl { background: #369ff0;}
#pa2Index .main .pa_lpcx { background: #fa944c;}
#pa2Index .main li a { display: block; color: #ffffff; font-size: 16px;}
#pa2Index .main li a:before { display: block; width: 63px; height: 40px; margin: 0 auto 5% auto; content: ""; background: url(../Image/wap_pingan2/icon_index.png?v=__VR__) no-repeat; background-position: 0 0; background-size: 100%;}
#pa2Index .main .pa_qx a:before { background-position: 0 0;}
#pa2Index .main .pa_cp a:before { background-position: 0 -40px;}
#pa2Index .main .pa_cj a:before { background-position: 0 -80px;}
#pa2Index .main .pa_fdj a:before { background-position: 0 -120px;}
#pa2Index .main .pa_lpzl a:before { background-position: 0 -160px;}
#pa2Index .main .pa_lpcx a:before { background-position: 0 -200px;}

/* pa2Flow 业务办理流程 */
.flow { width: 100%;}
.flow li { width: 30%; height: 35px; margin: 20px 1.5%; color: #999999; font-size: 16px;}
.flow li:before { display: block; content: ""; width: 10px; height: 10px; position: absolute; bottom: 0; left: 40%; border-radius: 50%; background: #999999; z-index: 2;}
.flow li:after { display: block; content: ""; width: 105%; height: 2px; position: absolute; bottom: 4px; left: 48%; background: #999999; z-index: 1;}
.flow li.pass { color: #333333;}
.flow li.pass:before { background: #ff9000;}
.flow li.pass:after { background: #ff9000;}
.flow li#step3:after { display: none;}

.main { text-align: left;}
.main .title { width: 100%; background: #ff9000; height: 36px;}
.main .title h3 { margin-left: 30px; line-height: 36px; font-size: 18px; color: #ffffff;}
.main .step1 li { padding: 15px 0; border: 1px #f3f3f3 solid; border-width: 0 0 1px 0;}
.main .step1 li span { display: block; width: 64px; height: 64px; margin: 0 15px; border-radius: 50%;}
.main .step1 li span:before { display: block; content: ""; width: 45px; height: 35px; margin: 14px auto 0 auto; background: url(../Image/wap_pingan2/icon_main.png?v=__VR__) no-repeat; background-position: 0 0; background-size: 100%;}
.main .step1 li p { width: 67.1875%; height: 60px; overflow: hidden; margin-top: 8px; font-size: 16px;}
.main .step1 .camera span { background: #8f82bc;}
.main .step1 .camera span:before { background-position: 0 0;}
.main .step1 .IDcard span { background: #e1556f;}
.main .step1 .IDcard span:before { background-position: 0 -35px;}
.main .step1 .add_list1 span { background: #D26900;}
.main .step1 .add_list1 span:before { background-position: 0 -245px;}
.main .step1 .drivingLicense span { background: #37cbf5;}
.main .step1 .drivingLicense span:before { background-position: 0 -70px;}
.main .step1 .WIFI span { background: #add666;}
.main .step1 .WIFI span:before { background-position: 0 -105px;}
.main .step1 .num span { background: #5b82c2;}
.main .step1 .num span:before { background-position: 0 -140px;}
.main .step1 .oldCard span { background: #f7553e;}
.main .step1 .oldCard span:before { background-position: 0 -175px;}
.main .step1 .amount span { background: #5b82c2;}
.main .step1 .amount span:before { background-position: 0 -210px;}
.main .step1 .add_list2 span { background: #00d67b;}
.main .step1 .add_list2 span:before { background-position: 0 -210px;}
.main .step1 .savingsCard span { background: #f7553e;}
.main .step1 .savingsCard span:before { background-position: 0 -245px;}
.main .step1 .btn { background: #ffffff; width: 100%; margin: 10px auto;}
.main .step1 .btn a { display: block; width: 70px; height: 24px; margin: 20px auto; background: url(../Image/wap_pingan2/icon_detail.png) no-repeat 0 -281px; background-size: 100%;}

.main .step2 .formBox { width: 85%; margin: 0 auto; padding: 0 0 20px 0;}
.main .step2 .jumpBox { width: 100%; height: 40px;}
.main .step2 .jump { display: block; width: 100%; height: 40px; margin: 0 auto; border-radius: 5px; line-height: 40px; font-size: 16px; font-weight: bold; color: #ffffff; text-align: center; background: #ff9000;}
.main .step2 li { margin: 20px 0; position: relative;}
.main .step2 label { font-size: 16px; line-height: 36px;}
.main .step2 label span { color: #ff9000;}
.main .step2 input[type=text],
.main .step2 select { width: 72%; font-size: 16px; height: 36px; line-height: 36px;}
.main .step2 select { width: 73.5%;}
.main .step2 textarea { width: 85%; height: 60px;}
.main .step2 .upload p { margin: 0 0 10px 0; font-size: 14px; line-height: 16px; color: #999999; text-align: justify;}
.main .step2 .upload li { width: 30%; margin: 1%; border: 1px #d6d6d6 solid; background: #f2f2f2;}
.main .step2 .upload a { display: block; width: 100%; height: 54px; line-height: 54px; overflow: hidden; text-align: center; vertical-align: middle; color: #767676;}
.main .step2 .upload a img { width: 100%; overflow: hidden; left: 0; top: 0; background: #f2f2f2;}
.msgPop .msgBg .msgTitle { position:relative; height:30px; color:#333333; font-size:16px; line-height:30px; padding: 20px 0 10px 0; font-weight:bold;border-radius:4px 4px 0 0; background:#ffffff;}
.msgPop .msgBg .msgTitle .close-msgPop { position:absolute; right:0; top:0; width:40px; height:40px;}
.msgPop .msgBg .msgTitle i { width:30px; height:30px; background: url(../Image/wap_pingan2/icon_del.png) no-repeat 0 0; position:absolute; right:6px; top:6px; background-size: 100%; /* box-shadow:inset 0 0 0 1px #fb753e,0 0 0 1px #ea5518;border-radius:0 4px 0 0;*/}
.msgPop .msgBg .msgTitle i em { display: block; text-indent: -9999px;}
.msgPop .msgBg .msgCon { padding-bottom:10px; height:auto; overflow:hidden;border-radius:0 0 4px 4px;}
.msgPop .msgBg .msgCon { font-size:18px; line-height:30px;}
.choice { width: 85%; margin: 0 auto;}
.choice ul.fn,.choice div.info { padding: 10px 0; border-top: 1px #f2f2f2 solid;}
.choice ul.fn li { width: 100%;}
.choice .tl { width: 60px; margin: 0 auto;}
/*.choice ul.fn li:before { display: block; content: ""; width: 60px; height: 35px; margin: 10px auto 10px 32%; background: url(../Image/icon_detail.png) no-repeat; background-position: -7px -158px; background-size: 100%;}*/
/*.choice ul.fn li.r:before { background-position: -7px -123px;}*/
.choice ul.fn li a { font-size: 16px; color: #333333;}
.choice div.info .text { font-size: 13px; line-height: 16px; margin-bottom: 10px; text-align: justify; color: #999999;}
.choice div.info .pic { width: 70%; height: 100px; padding: 20px 15%; margin: 10px auto; border: 1px #dcdcdc solid; border-radius: 3px; background: #efefef;}
.choice div.info .pic:before { display: block; content: ""; width: 60px; height: 47px; position: absolute; right: 6%; bottom: 5px; background: url(../Image/wap_pingan2/yl.png) no-repeat 0 0; background-size: 100%;}
.choice div.info .pic img { box-shadow: 2px 2px 2px #999999; border-radius: 8px;}

.main .step3 .reminder { width: 86%; margin: 0 auto;}
.main .step3 .result { margin: 50px 0;}
.main .step3 .result i { display: block; width: 80px; height: 64px; background: url(../Image/wap_pingan2/icon_detail.png) no-repeat; background-size: 100%;}
.main .step3 .result .success { background-position: -8px -36px;}
.main .step3 .result .failed { background-position: -8px -100px;}
.main .step3 .result p { width: 70%; margin-top: 8px; font-size: 20px; line-height: 24px;}

.main .step3 .attention { font-size: 16px; line-height: 24px;}
.main .step3 .attention p { font-size: 14px; line-height: 16px; text-align: justify; color: #999999;}
.main .step3 .attention table { width: 96%; margin: 10px auto; border-top: 1px #bababa solid; border-left: 1px #bababa solid; table-layout:fixed}
.main .step3 .attention table th,.main .step3 .attention table td { border-right: 1px #bababa solid; border-bottom: 1px #bababa solid; font-size: 14px; text-align: center; vertical-align: middle; word-wrap:break-word; word-spacing:normal;}
.main .step3 .attention table th { background: #f0f0f0;}

.main .step3 .attention ul { margin: 0 auto; padding: 10px 0; width: 94%; text-align: center;}
.main .step3 .attention ul li { border-top: 1px #bababa solid; border-left: 1px #bababa solid;}
.main .step3 .attention ul li span { display: block; float: left; width: 100%; height: 60px; border-right: 1px #bababa solid; border-bottom: 1px #bababa solid; font-size: 14px; vertical-align: middle;}
.main .step3 .attention ul li.head span { background: #f0f0f0;}


#loading { position:fixed; width:100%; height:100%; background:#fbe3e7; z-index:1000;}
.loadimg { display:none;}
.loadingbox { position:absolute; top:50%; margin-top:-200px; left:50%; margin-left:-160px; width:320px; height:400px; text-align:center;color:#d72740;}
input[type="file"] { width: 60px; height: 35px; background: url(../Image/wap_pingan2/icon_detail.png) no-repeat; background-position: -7px -158px; background-size: 100%;/* position:relative; width:65px; height:65px; background:#fff; border:solid 1px #e5e5e5;border-radius:3px;*/}
input[type="file"].photograph { background-position: -7px -123px;}
input[type="file"]::-webkit-file-upload-button { position: absolute;top: 0;left: 0;width: 65px;height: 65px;overflow: hidden;z-index: 2;line-height: 99em; background:url(../../Image/20150510/inputfile.png) no-repeat center center; background-size:35px 35px; border:none;}
input[type="file"].loading::-webkit-file-upload-button {background:url(../../Image/loading.gif) no-repeat center center; background-size:20px 20px;}
input[type="file"].change::-webkit-file-upload-button {background:url(../../Image/refurbish-icon.png) no-repeat center center; background-size:20px 20px;}
.imgfile { width:65px; height:65px; margin-right:10px;border-radius:3px;}