@charset "utf-8";
/* CSS 会员 */

.login { height:auto; overflow:hidden; min-height:100%; padding:10px 0 10px 0;}
.loginLogo { width:296px; height:83px;}
.ymLogo { width:124px; height:27px;}
.mainForm { padding:0 10px 0 10px;}
.loginTitle { text-align:center;}
.loginForm { height:auto; overflow:hidden; max-width:610px;}
.loginForm li { height:53px; overflow:hidden;}
.loginForm li p { height:35px;width:80px; margin-left:0;float:left; text-align:right; line-height:35px; font-size:16px;}
.loginForm li span { color:red;line-height:35px; font-size:16px;}
.loginForm li label { height:35px;margin-left:0;float:left; text-align:left; line-height:35px; font-size:16px; padding-right:20px;}

.sOne-loginForm {padding-top:10px; width:280px; margin:0 auto;}
.sOne-loginInput { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:188px;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-loginInput-half { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:90px; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-loginRadio { float:left; width:14px; height:14px; margin-top:10px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; margin-left:5px;}
input[type=radio]:checked { border:solid 1px #c03612;}
input[type=radio]:checked:after{content:''; background:#c03612; width:4px; height:4px;position: absolute;top:4px;left:4px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
.data-select { width:61px; line-height:35px; margin-left:5px; height:35px; float:left; border:none; color:#ccc; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-getpasscode { height:37px; line-height:37px;width:90px; color:#909090; float:right;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; margin-right:2px;}

.content_title{ margin:0 auto; height:auto; font-size:16px; text-align:center; line-height:40px; font-weight:bold;}
.content_main{ width:90%; margin:0 auto; padding-bottom:10px;word-break: break-all; work-wrap: break-word;overflow:hidden; text-align:left;}
.content_main img { width:100%; height:auto;margin:0;display: inherit;}
.content_button{ width:100%; height:45px; line-height:45px; text-align:center; padding-bottom:10px;}
.input_button{ width:100%; height:38px;color:#fff; font-size:18px; cursor:pointer; border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;-webkit-appearance:none; background:#bf0600;}

/*会员卡特权*/
.mainCon-TopBg {background:url(../Img/Mem_top_bg.png) repeat-x left top;height:17px;background-size:auto 17px; margin-top:-17px;}
.mainCon-name,.mainCon-kind,.mainCon-privilege { margin:0 auto; text-align:left;}
.mainCon-name { line-height:40px; font-size:18px; margin-top:5px;}
.mainCon-kind { border:solid 1px #999; background:#fff; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; padding:5px 10px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);}
.mainCon-kind p { font-size:16px; line-height:30px;}
.mainCon-kind p span { font-size:14px; line-height:25px;}
.mainCon-privilege {border:solid 1px #999; background:#fff; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.1); margin-top:20px; overflow:hidden;}
.privilege-title { line-height:40px; font-size:18px; background:#fff; margin-left:10px;}
.privilege-con { line-height:25px; font-size:14px; background:#f8f8f8; padding:10px;box-shadow:0 0 15px rgba(0, 0, 0, 0.1) inset;-webkit-box-shadow:0 0 15px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:0 0 15px rgba(0, 0, 0, 0.1) inset; min-height:100px;}
/*会员卡特权*/

#prizeForm p { font-size:16px; line-height:30px;}
#prizeForm {padding:30px 20px;}
.top-qr { position:absolute; top:50%; margin-top:-45px; right:50%; margin-right:10px; width:80px; height:80px;} 
.top-qr img { width:80px; height:80px;}

#AjaxWrapper { width:100%; height:100%; position:fixed;background:rgba(0,0,0,0.4); top:0; left:0; z-index:1000; text-align:center;}
.cjWrapper { margin:0 auto; background:#fff repeat 0 0; height:auto; width:80%; min-width:280px; max-width:580px; margin-top:80px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px; padding:10px;-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3);-moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3);box-shadow: inset 0 0 10px rgba(0,0,0,.3); position:relative;}
.cjCon { margin:0 auto; height:auto; background:#fff;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.cjText { margin:0 auto; text-align:center; font-size:16px; color:#333; padding:15px 0 10px 0; line-height:23px;}
.cjText-con { width:210px; height:auto; margin:0 auto; overflow: hidden;word-break:break-all;}
.cjText-img { width:50px; float:left;}
.cjText-img img { width:50px; height:50px;}
.cjText-text { margin-left:60px; text-align:left; font-size:16px; line-height:25px;}
.cjBtn { margin:0 auto; width:170px;height:35px; line-height:35px; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background-color: #bf0600; font-size:18px;color:#fff;}
.cjBtn a {color: #fff; display:block;}
.cjWrapper-close { color:#b9b9b9; font-size:20px; width:30px; height:30px;position:absolute; top:0; right:0;}
.cjWrapper-close a { color:#b9b9b9; display:block; line-height:30px; text-align:center; font-size:32px;transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg)}
.cjForm { height:auto; overflow:hidden; max-width:610px;margin:0 auto;}
.cjForm li { height:48px; overflow:hidden;}
.cjForm li p { height:35px;width:65px; margin-left:0;float:left; text-align:right; line-height:35px; font-size:14px; color:#333;}
.cjForm li span { color:red;line-height:35px; font-size:16px;}
.cjForm li label { height:35px;margin-left:0;float:left; text-align:left; line-height:35px; font-size:16px; padding-right:20px;}
.cjForm li.tips { height:auto; overflow: hidden; margin-top:-5px; padding-bottom:10px;}
.cjForm li.tips span { line-height:18px; font-size:12px; float:left; margin-left:70px; display:none;}
.sOne-cjForm {padding-top:10px; width:280px; margin:0 auto;text-align:center;}
.sOne-cjInput { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:160px;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-cjInput-half { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:68px; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-cjRadio { float:left; width:14px; height:14px; margin-top:10px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; margin-left:5px;}
.sOne-cjgetpasscode { height:37px; line-height:37px;width:80px; color:#909090; float:left; margin-left:10px;background:#eee;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; font-size:12px;}
.sOne-cjpasscode-img {border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:none; width:80px; float:left; margin-left:10px;height:37px;}
.sOne-cjrefurbish { width:30px; height:37px; float:left; margin-left:5px;background:url(../Image/refurbish-icon.png) no-repeat 0 center; background-size:100%;}
.cj-input-button { width:250px; height:38px;color:#fff; font-size:18px; cursor:pointer; border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;-webkit-appearance:none; background:#bf0600;}