@charset "utf-8";
/* CSS Main */

html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
* {-webkit-tap-highlight-color:rgba(0,0,0,0)}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center; background:#ff4c28;}
#wrapper { width:100%; height:auto; margin:0 auto; max-width:640px; min-height:100%; overflow:hidden;}
#container { height:auto; margin:0 auto; max-width:640px; min-height:100%;}
#header { height:auto;z-index:1; position:relative;text-align:center;}
#main { height:auto!important; height:100%; position:relative;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:15px 0 10px 0;text-align:center; border-top:solid 1px #fff; color:#5c5c5c;}
#footer p a{ color:#5c5c5c;}
#footer img { width:180px; height:14px;}
/*----------------------------------  Global结束  ------------------------------------*/

.headerImg { position:relative; line-height:0; padding-top:5px;}
.wh-1 { position:relative; width:100%; height:auto;}
.wh-2,.wh-3,.wh-9,.wh-10,.wh-11 { position:absolute; top:5px; left:0; width:100%; height:auto; opacity:0;}
.wrapperBegin .wh-2 {-webkit-animation:wh2 1s forwards linear;}
.wrapperBegin .wh-3 {-webkit-animation:wh2 1s 0.5s forwards linear;}
.wh-4 { position:absolute; top:30%; right:6%; width:18%; height:auto;opacity:0;}
.wrapperBegin .wh-4 {-webkit-animation:wh4 1s 1s forwards linear;}
.wrapperBegin .wh-9 {-webkit-animation:wh9 0.3s 7.6s forwards linear;}
.wrapperBegin .wh-10 {-webkit-animation:wh10 1.5s 7.6s forwards linear;}
.wrapperBegin .wh-11 {-webkit-animation:wh11 1.5s 7.6s forwards linear;}
.stage { position:relative; width:100%; height:auto; margin-top:30px;}
.wh-5,.wh-6,.wh-7,.wh-8 { position:absolute; top:0; left:0; width:100%; height:auto; z-index:3; opacity:0;}
.wrapperBegin .wh-5 {-webkit-animation:wh5 0.5s 2.1s forwards linear;}
.wrapperBegin .wh-6 {-webkit-animation:wh6 0.5s 2.6s forwards linear;}
.wrapperBegin .wh-8 { position:relative;-webkit-animation:wh8 0.5s 3.1s forwards linear;}
.wrapperBegin .wh-7 {-webkit-animation:wh7 0.5s 7.6s forwards linear;}
.light { position: absolute; z-index:1; top:0; left:50%; margin-left:-120px; width:240px; height:240px; overflow:visible;}
.light1,.light2,.light3 { position:absolute; top:0; left:0;width:100%; height:100%; border-radius:50%; opacity:0;}
.light1 { z-index:3; background:rgba(255,236,141,0.9); box-shadow:0 0 4px rgba(255,240,162,0.8);}
.light2 { z-index:1; background:rgba(255,249,157,0.3); top:-3px; left:-3px;box-shadow:0 0 4px rgba(255,240,162,0.8);}
.light3 { z-index:2; background:rgba(255,233,119,0.9); top:3px; left:3px;box-shadow:0 0 4px rgba(255,240,162,0.8);}
.wrapperBegin .light1 { -webkit-transition:-webkit-transform 0.5s; -webkit-transform:translate(-185px,0);-webkit-animation:light1 4s 3.6s forwards ease-in;}
.wrapperBegin .light2 { -webkit-animation:light2 4s 3.6s forwards ease-in;}
.wrapperBegin .light3 { -webkit-animation:light3 3s 4.6s forwards ease-in; }
.join { width:100%; height:100px; margin-top:-30px; position:relative;}
.join .line { position:absolute; top:0px; left:0px; width:100%; height:1px; border:none; background:#fff; box-shadow:0 0 5px 2px rgba(255,255,255,1); opacity:0;}
.wrapperBegin .join .line {-webkit-animation:join 0.4s 8s forwards linear;}
.btn-login { float:left; margin-left:20px; width:100px; height:0px; overflow:hidden; position:relative;}
.wrapperBegin .btn-login {-webkit-animation:btn-login 0.4s 8s forwards linear;}
.btn-login i { position: absolute; z-index:1; top:0; left:0; display:block; width:100px; height:100px; border-radius:50%; background:rgba(255,255,255,0.2);}
.wrapperBegin .btn-login i {-webkit-animation:btn-login-i 1s infinite linear;}
.btn-login a { position:relative; z-index:2; padding:15px 0; margin:10px; background:#fff; display:block; width:80px; height:50px;border-radius:50%; line-height:25px; color:#e45234; text-align:center; font-size:24px; font-weight:bold; font-style:italic;}
.btn-share,.btn-cup { float:right; margin:20px 0; margin-right:25px; width:60px; height:0; overflow:hidden;}
.btn-inshare { margin:0 auto; width:60px; height:60px;background:url(../Image/Item/wh-16.png) 0 0; background-size:100%;}
.wrapperBegin .btn-share,.wrapperBegin .btn-cup {-webkit-animation:btn-share 0.4s 8s forwards linear;}
.btn-share {background:url(../Image/Item/wh-10.png) 0 0; background-size:100%;}
.btn-cup {background:url(../Image/Item/wh-10.png) 0 -70px; background-size:100%;}
.flash { position:relative;}
.flashSwiper { height:auto; overflow:hidden; margin:0 50px; margin-top:20px; position:relative;}
.flash ul { height:auto !important; overflow:hidden;}
.flash li { position:relative; float:left; width:200px; height:auto !important; line-height:0;}
.flash li h2 { position:absolute; bottom:-1px; left:0; z-index:2; width:60px; height:40px; text-align:center; line-height:40px; background:#ff5b3a; overflow:hidden; color:#fff; font-weight:bold;}
.flash li h3:after { width:10px; height:10px; overflow:hidden; position:absolute;-webkit-transform: rotate(45deg); top:14px; left:53px; background:#ff5b3a; content:"";}
.flash li h3 { position:absolute; bottom:-1px; left:0; z-index:1; width:100%; height:40px; line-height:40px; background:rgba(102,102,102,0.7);}
.flash li h3 p { margin-left:70px; color:#fff;}
.flash li.swiper-slide-active { width:200px;}
.flash li img { width:100%; height:auto;}
.flash p { color:#ff5b3a;}
.flash i { position:absolute; top:50%; margin-top:-10px; width:10px; height:21px;}
.flash i.flashprev { left:20px;background:url(../Image/Item/wh-11.png) 0 0px; background-size:auto 100%;}
.flash i.flashnext { right:20px;background:url(../Image/Item/wh-11.png) -11px 0px; background-size:auto 100%;}
@-webkit-keyframes wh2 {
  0% { -webkit-transform:translate(0,-200px); opacity:1;}
  30% { -webkit-transform:translate(0,0);}
  40% { -webkit-transform:translate(0,-10px);}
  50% { -webkit-transform:translate(0,0px);}
  60% { -webkit-transform:translate(0,-5px);}
  70% { -webkit-transform:translate(0,0px);}
  80% { -webkit-transform:translate(0,-2px);}
  90% { -webkit-transform:translate(0,0px); opacity:1;}
  100% { -webkit-transform:translate(0,0px); opacity:1;}
}
@-webkit-keyframes wh4 {
  0% { -webkit-transform:translate(0,-200px) rotate(0deg); opacity:1;}
  40% { -webkit-transform:translate(0,0) rotate(0deg);}
  50% { -webkit-transform:translate(0,3px) rotate(20deg);}
  60% { -webkit-transform:translate(0,0px) rotate(0deg);}
  70% { -webkit-transform:translate(0,2px) rotate(10deg);}
  80% { -webkit-transform:translate(0,0px) rotate(0deg);}
  90% { -webkit-transform:translate(0,1px) rotate(5deg);}
  100% { -webkit-transform:translate(0,0px) rotate(0deg); opacity:1;}
}

@-webkit-keyframes light1 {
  0% { -webkit-transform:translate(-130px,-20px) scale(0.9,0.9); opacity:1;}
  25% { -webkit-transform:translate(130px,20px) scale(1,1); opacity:1;}
  50% { -webkit-transform:translate(-130px,20px) scale(0.9,0.9); opacity:0.6;}
  75% { -webkit-transform:translate(130px,20px) scale(1,1); opacity:1;}
  100% { -webkit-transform:translate(0,0px) scale(1,1); opacity:1;}
}

@-webkit-keyframes light2 {
  0% { -webkit-transform:translate(-100px,20px) scale(1,1); opacity:0.6;}
  25% { -webkit-transform:translate(100px,-20px) scale(0.9,0.9); opacity:1;}
  50% { -webkit-transform:translate(-100px,-20px) scale(0.9,0.9); opacity:0.6;}
  75% { -webkit-transform:translate(100px,20px) scale(1,1); opacity:1;}
  100% { -webkit-transform:translate(0,0px) scale(1,1); opacity:1;}
}
@-webkit-keyframes light3 {
  0% { -webkit-transform:translate(80px,-20px) scale(0.9,0.9); opacity:1;}
  25% { -webkit-transform:translate(-80px,20px) scale(1,1); opacity:0.6;}
  50% { -webkit-transform:translate(80px,-20px) scale(0.9,0.9); opacity:1;}
  75% { -webkit-transform:translate(-80px,20px) scale(1,1); opacity:0.6;}
  100% { -webkit-transform:translate(0,0px) scale(1,1); opacity:1;}
}
@-webkit-keyframes wh5 {
  0% { -webkit-transform:translate(0,-30px); opacity:0;}
  30% { -webkit-transform:translate(0,0);}
  40% { -webkit-transform:translate(0,-10px);}
  50% { -webkit-transform:translate(0,0px);}
  60% { -webkit-transform:translate(0,-5px);}
  70% { -webkit-transform:translate(0,0px);}
  80% { -webkit-transform:translate(0,-2px);}
  90% { -webkit-transform:translate(0,0px); opacity:1;}
  100% { -webkit-transform:translate(0,0px); opacity:1;}
}
@-webkit-keyframes wh6 {
  0% { -webkit-transform:translate(0,-30px); opacity:0;}
  30% { -webkit-transform:translate(0,0);}
  40% { -webkit-transform:translate(0,-10px);}
  50% { -webkit-transform:translate(0,0px);}
  60% { -webkit-transform:translate(0,-5px);}
  70% { -webkit-transform:translate(0,0px);}
  80% { -webkit-transform:translate(0,-2px);}
  90% { -webkit-transform:translate(0,0px); opacity:1;}
  100% { -webkit-transform:translate(0,0px); opacity:1;}
}
@-webkit-keyframes wh8 {
  0% { -webkit-transform:translate(0,-30px); opacity:0;}
  30% { -webkit-transform:translate(0,0);}
  40% { -webkit-transform:translate(0,-10px);}
  50% { -webkit-transform:translate(0,0px);}
  60% { -webkit-transform:translate(0,-5px);}
  70% { -webkit-transform:translate(0,0px);}
  80% { -webkit-transform:translate(0,-2px);}
  90% { -webkit-transform:translate(0,0px); opacity:1;}
  100% { -webkit-transform:translate(0,0px); opacity:1;}
}
@-webkit-keyframes wh7 {
  0% { -webkit-transform:translate(0,-30px); opacity:0;}
  30% { -webkit-transform:translate(0,0);}
  40% { -webkit-transform:translate(0,-10px);}
  50% { -webkit-transform:translate(0,0px);}
  60% { -webkit-transform:translate(0,-5px);}
  70% { -webkit-transform:translate(0,0px);}
  80% { -webkit-transform:translate(0,-2px);}
  90% { -webkit-transform:translate(0,0px); opacity:1;}
  100% { -webkit-transform:translate(0,0px); opacity:1;}
}
@-webkit-keyframes wh9 {
  0% { -webkit-transform:translate(0,80px) scale(0.2,0.2); opacity:0;}
  100% { -webkit-transform:translate(0,0) scale(1,1); opacity:1;}
}
@-webkit-keyframes wh10 {
  0% { -webkit-transform:translate(0,80px) scale(0.2,0.2) rotate(180deg); opacity:0;}
  20% { -webkit-transform:translate(0,0) scale(1,1) rotate(180deg); opacity:1;}
  100% { -webkit-transform:translate(0,180px) rotate(180deg); opacity:0;}
}
@-webkit-keyframes wh11 {
  0% { -webkit-transform:translate(0,80px) scale(0.2,0.2) rotate(120deg); opacity:0;}
  20% { -webkit-transform:translate(0,0) scale(1,1) rotate(120deg); opacity:1;}
  100% { -webkit-transform:translate(0,180px) rotate(120deg); opacity:0;}
}
@-webkit-keyframes join {
  0% { -webkit-transform:translate(0,-30px); opacity:0;}
  50% { -webkit-transform:translate(0,60px); opacity:0.6;}
  100% { -webkit-transform:translate(0,90px); opacity:0;}
}
@-webkit-keyframes btn-login {
  0% { height:0;}
  100% { height:100px;}
}
@-webkit-keyframes btn-share {
  0% { height:0;}
  100% { height:60px;}
}
@-webkit-keyframes btn-login-i {
  0%,100% {-webkit-transform:scale(0.9,0.9);}
  70% {-webkit-transform:scale(1,1);}
}
.specialCj { position:fixed; top:0; left:0; width:100%; height:100%; z-index:200; display:none; text-align:center;background:rgba(0,0,0,0.6) url(../Image/loading.gif) no-repeat center center; background-size:20px 20px;}

#con { margin-top:20px; width:100%; height:auto; overflow:hidden; background:#fff; text-align:left; padding-bottom:10px;}
#con>h1,#con>h2,#con>h3,#con>p { margin:0 10px;}
#con>h1 { margin-top:20px; color:#e45234; font-size:20px; line-height:30px; font-weight:bold;}
#con>h2 { margin-top:10px; color:#333; font-size:16px; line-height:20px; font-weight:bold;}
#con>p { margin-top:5px; color:#333; font-size:14px; line-height:20px;}
#con>span { color:#e45234;}
.content_button {height:53px; overflow:hidden; width:280px;margin:0 auto;}
.bmForm hr { border:none;border-bottom: dashed 1px #dedede; height:10px; overflow:hidden;}
.input_button{ width:100%; height:38px;color:#fff; font-size:18px; cursor:pointer; border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;-webkit-appearance:none; background:#bf0600;}
.moreContenter { width:95%; min-width:280px; margin:0 auto; overflow:hidden; text-align:left; padding-bottom:10px;}
.moreContenter img { max-width:100%;}

.Gloading {width:100%; height:100%; position:fixed; top:0; left:0;background:#fffce5; z-index:100000;}
.Gloading img { position:fixed; top:50%; margin-top:-102px; left:50%; margin-left:-160px; width:320px; height:205px;}
.Gloading .progress {position:fixed; left:50%; margin-left:-100px;width:200px; height:10px; top:50%; margin-top:110px; border:solid 1px #ce9872; border-radius:6px; overflow:hidden;}
.Gloading .progress i { position:absolute; z-index:0; top:0; display:block;width:100%; height:10px;right:100%; background:#ce9872; border-radius:5px;transition:right 1s;}
.Gloading .progress p { position:relative; z-index:1;color:#a4371d; line-height:10px; font-size:12px;}

#AjaxWrapper { width:100%; height:100%; position:fixed;background:rgba(0,0,0,0.4); top:0; left:0; z-index:1000; text-align:center;}
.cjWrapper { margin:0 auto; background:#fff repeat 0 0; height:auto; width:80%; min-width:280px; max-width:580px; margin-top:80px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px; padding:10px;-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3);-moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3);box-shadow: inset 0 0 10px rgba(0,0,0,.3); position:relative;}
.cjCon { margin:0 auto; height:auto; background:#fff;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.cjText { margin:0 auto; text-align:center; font-size:16px; color:#333; padding:15px 0 10px 0; line-height:23px;}
.cjText-con { width:210px; height:auto; margin:0 auto; overflow: hidden;word-break:break-all;}
.cjText-img { width:50px; float:left;}
.cjText-img img { width:50px; height:50px;}
.cjText-text { margin-left:60px; text-align:left; font-size:16px; line-height:25px;}
.cjBtn { margin:0 auto; width:170px;height:35px; line-height:35px; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background-color: #bf0600; font-size:18px;color:#fff;}
.cjBtn a {color: #fff; display:block;}
.cjWrapper-close { color:#b9b9b9; font-size:20px; width:30px; height:30px;position:absolute; top:0; right:0;}
.cjWrapper-close a { color:#b9b9b9; display:block; line-height:30px; text-align:center; font-size:32px;transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg)}
.cjForm { height:auto; overflow:hidden; max-width:610px;margin:0 auto;}
.cjForm li { height:48px; overflow:hidden;}
.cjForm li p { height:35px;width:65px; margin-left:0;float:left; text-align:right; line-height:35px; font-size:14px; color:#333;}
.cjForm li span { color:red;line-height:35px; font-size:16px;}
.cjForm li label { height:35px;margin-left:0;float:left; text-align:left; line-height:35px; font-size:16px; padding-right:20px;}
.cjForm li.tips { height:auto; overflow: hidden; margin-top:-5px; padding-bottom:10px;}
.cjForm li.tips span { line-height:18px; font-size:12px; float:left; margin-left:70px; display:none;}
.sOne-cjForm {padding-top:10px; width:280px; margin:0 auto;text-align:center;}
.sOne-cjInput { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:160px;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-cjInput-half { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:68px; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-cjRadio { float:left; width:14px; height:14px; margin-top:10px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; margin-left:5px;}
.sOne-cjgetpasscode { height:37px; line-height:37px;width:80px; color:#909090; float:left; margin-left:10px;background:#eee;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; font-size:12px;}
.sOne-cjpasscode-img {border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:none; width:80px; float:left; margin-left:10px;height:37px;}
.sOne-cjrefurbish { width:30px; height:37px; float:left; margin-left:5px;background:url(../Image/refurbish-icon.png) no-repeat 0 center; background-size:100%;}
.cj-input-button { width:250px; height:38px;color:#fff; font-size:18px; cursor:pointer; border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;-webkit-appearance:none; background:#bf0600;}

.oprSuccess { margin:0 10px; padding:0 0 10px 0;}
.oprSuccess p { line-height:20px; margin-top:10px; color:#505050;}
.oprSuccess p span { color:#666666;}
.oprSuccess i { width:20px; height:20px; margin-right:5px;display:inline-block;*display:inline;*zoom:1; position:relative; top:5px;}
.oprSuccess i.icon-success { background:url(../Image/icon-success.png) repeat-x 0 0; background-size:100%;}
.oprSuccess i.icon-erro { background:url(../Image/icon-erro.png) repeat-x 0 0; background-size:100%;}

/*排行榜*/
.cupHeader { line-height:0; position:relative;}
.cupHeader img { width:100%; height:auto;}
.cupHeader .wh-13 { width:15%; position:absolute; bottom:-10%; left:3%; -webkit-transform:translate(0,200px);-webkit-animation:wh-13 1s 2s forwards linear;}
.cupHeader .wh-13 img {-webkit-animation:wh-13-img 2s 2s infinite linear; -webkit-transform-origin:center bottom;}

@-webkit-keyframes wh-13 {
  0% { -webkit-transform:translate(0,200px);}
  40% { -webkit-transform:translate(0,-10px);}
  50% { -webkit-transform:translate(0,0px);}
  60% { -webkit-transform:translate(0,-5px);}
  70% { -webkit-transform:translate(0,0px);}
  80% { -webkit-transform:translate(0,-2px);}
  90% { -webkit-transform:translate(0,0px);}
  100% { -webkit-transform:translate(0,0px);}
}
@-webkit-keyframes wh-13-img {
  0%,100% { -webkit-transform: rotate(-3deg);}
  50% { -webkit-transform: rotate(3deg);}
}
.cupList { margin:0 10px; padding:10px 0; background-color:#FFF; border-radius:10px; z-index:100; position:relative; top:0px;margin-bottom: 20px;}
.cupList>i { position:absolute; top:0px; left:3%; width:15%; height:7px; background:#ffe91f; border-radius:0 0 10px 10px;}
.table th,.table tr td{ text-align:center; line-height:2em;}
.table caption{ font-size:1.5em;  font-weight:500; line-height:2em; text-align:left; padding-left:5%;}
.table th{ color:#999999; font-size:1em; font-weight:400;}
.table>thead>tr>th{ border:0}
.table tr td:first-child{ font-size:1.3em; color:#333}
.table tr td:last-child{ color:#ff4c28;}
.table>thead {border-bottom:1px #b8b8b8 solid;}
.table tr:last-child{ border:1px #b8b8b8 solid; border-left:0; border-right:0;}
.high-light{ color:#ff4c28; font-weight:bold}
.current{ background-color:#ffe9e4;}
.pin{ color:#999999; font-size:0.9em; padding:0 10px 5px 10px}
.table {width: 100%;margin-bottom: 20px;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #DDD;
}
/*排行榜*/

/*另一个抽奖活动*/
.prizeHeader { line-height:0; position:relative;}
.prizeHeader img { width:100%; height:auto;}
.prizeHeader .wh-13 { width:15%; position:absolute; bottom:15%; left:28%; -webkit-transform:translate(0,200px);-webkit-animation:wh-13 1s 2s forwards linear;}
.prizeHeader .wh-13 img {-webkit-animation:wh-13-img 2s 2s infinite linear; -webkit-transform-origin:center bottom;}
.prizeHeader>h2 { position:relative; background-color:#ff3318; height:auto; overflow:hidden; line-height:30px; padding-bottom:10px;}
.prizeHeader>h2 p { margin:0 5px; border-radius:15px; color:#fefefe; font-size:12px; background-color:#c82606;}
.prizeHeader>h2 strong{ font-weight:bold; font-size:14px;}
#body-inner{ padding:10px 0 0 0; background-color:#FFF; z-index:100; position:relative; top:0px;margin:0px; text-align:center; margin:0 auto}
.table2 {width: 90%;max-width: 100%;margin-bottom: 20px; background-color: transparent; text-align:center}
.table2 > tbody > tr > th, .table2 > tbody > tr > td{padding: 30px 8px;line-height: 1.3em; vertical-align: middle;border-bottom: 1px solid #DDD;}
.table2 th,.table tr td{ text-align:center; line-height:2em;}
.table2 tr td:first-child{ font-size:1.3em; color:#333}
.table2 tr td:last-child{ color:#ff4c28;}
.table2 tr:last-child{ border:1px #b8b8b8 solid; border-left:0; border-right:0;}
.btn-red-out{ margin:20px 10px 0 10px; padding-bottom: 20px;}
.btn-red{ background-color:#ff3318; border-radius:8px; line-height:38px; border:0; outline:none; width:100%; margin-bottom:5px; color:#FFF; font-weight:bold; font-size:14px; box-shadow: 0 5px 0 #ca1f08;}
.table2 tr td{ text-align:left}
.table2 tr td:first-child{ color:#ff3318; font-weight:bold}
.table2 tr td:last-child{ background: url(../Image/Item/wh-15.png) center center no-repeat; background-size:auto 70%; text-align:center; font-size:12px; padding:10px; color:#c82606;}
.table2 tr td:last-child strong{ font-size:14px;}
/*另一个抽奖活动*/
