@charset "utf-8";
/* CSS Main */

html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

h1 { line-height:40px; text-align:left; font-size:16px; padding-left:15px;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
.mt20 { margin-top:20px;}

* {-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-appearance:none;}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{height:100%; min-height:100%;text-align:center; background: #eeeeee;}
#wrapper { height:auto; margin:0 auto; max-width:640px;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%;min-height:100%;}
#header{height:30px;overflow:hidden;width:100%;position:relative;text-align:center; padding:7px 0; line-height:30px;z-index:30}
#main { height:auto!important; height:100%; position:relative;}
#footer{ background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:5px 0 5px 0;text-align:center;color:#5c5c5c;background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%); font-size:12px; line-height:20px;}
#footer p a{ color:#5c5c5c;}
/*----------------------------------  Global结束  ------------------------------------*/
/* 头部 */
#header{background-color:#0066b3}
#header .header-info{width:92%;height:100%;margin:0 auto;}
#header .header-info .location{float:left;color:#fff;font-size:16px}
#header .header-info .location i{display:block;width:25px;height:25px;float:left;background:url(../Image/cbc/ico-location.png) no-repeat center;background-size:25px;margin-right:0px 2px 0px 0px}
#header .search-input{float:right;width:60%;background:#fff;border-radius:5px;}
#header .search-input i{display:block;width:25px;height:25px;float:left;background:url(../Image/cbc/ico-search.png) no-repeat center;background-size:16px;margin:2px 2px 0px 5px}
#header .search-input input{width:79%;float:left;height:30px;padding-left:5px;font-size:16px;color:#999;}
/* top筛选 */
.mainTop{width:100%;height:45px;background-color:#fff;border-bottom:1px solid #e5e5e5;position:relative;z-index:30}
.mainTop .mainTop-info{width:95%;height:100%;margin:0 auto;}
.mainTop .mainTop-info li{width:29.3%;height:100%;float:left;font-size:16px;text-align:left;cursor:pointer;padding-left:4%}
.mainTop .mainTop-info li span{width:100%;display:block;line-height:25px;margin-top:10px;border-right:1px solid #f0efee;float:left;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.mainTop .mainTop-info li:last-child span{border-right:none;}
.mainTop .mainTop-info li span a{width:88%;display:block;height:100%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.mainTop-info li {position:relative;}
.mainTop-info li.hover{color:#0066b3}
.mainTop-info li i{position:absolute;right:5px;width:25px;height:25px;background:url(../Image/icon-wrapper.png);background-position:0 -273px;background-size:100% auto;top:10px;}
.mainTop-info li.active,.mainTop-info li.active span a{color:#0066b3}
.mainTop-info li.active  i{background:url(../Image/cbc/sdf.png) no-repeat;background-position:center 10px;background-size:16px;}
.select-down{position:absolute;top:46px;left:0px;width:100%;background:#fff;z-index:10}
.select-down ul{width:92%;margin:0 auto;}
.select-down ul li{border-bottom:1px solid #f0f0f0;line-height:45px;color:#666;font-size:16px;text-align:left}
.select-down ul li:last-of-type{border-bottom:none}
.appbj{width:100%;height:100%;position:absolute;top:0px;left:0px;background:#000;opacity:0.5;}
.select-down ul li i{width:20px;height:20px;float:right;margin-top:10px;}
.select-down ul li.selected{color:#0066b3}
.select-down ul li.selected i{background:url(../Image/cbc/icodh01.png) no-repeat center center; background-size:15px}
.areas{width:100%;height:auto;position:absolute;top:46px;left:0px;z-index:12;background:#fff}
.areas .leftnav{width:100%;height:auto;float:left;background:#fff;margin:0 auto}
.areas .leftnav ul li{height:45px;line-height:45px;text-align:left;cursor:pointer;border-bottom:1px solid #f0f0f0;}
.areas .leftnav ul li:last-of-type{border-bottom:none}
.areas .leftnav ul li.hover{background:#fff}
.areas .leftnav ul li span{margin-left:15px;font-size:16px;color:#666}
.areas .rightnav{width:50%;height:372px;float:left;background:#fff;overflow-y:scroll;overflow-x:hidden}
.areas .rightnav ul li{height:45px;line-height:45px;text-align:left;cursor:pointer}
.areas .rightnav ul li span{margin-left:10px;font-size:16px;color:#666;border-bottom:1px solid #e5e5e5;width:100%;height:100%;display:block}
.areas .rightnav ul li:last-child{border-bottom:none}
.areas .rightnav ul li.nowspan span{color:#0066b3}  
.coverbj{position:fixed;top:0px;left:0px;width:100%;height:100%;background:#000;opacity:0.5;z-index:8}
/* 列表 */
.box {display:block;height:auto;overflow:hidden;border-top:solid 1px #e5e5e5;border-bottom:solid 1px #e5e5e5;background:#fff;margin-top:8px;}
.box:first-child{margin-top:0px;border-top:none;}
.box .box-info{padding:10px 0;margin-left:4%;}
.box .box-a{display:block;width:100%;height:85px;}
/* .box .box-a a{display:block;width:100%;height:85px;} */
.box  .box-des{width:82%;float:left;}
.box-piont{margin-left:85px;height:auto;border-top:1px solid #f1f1f1;text-align:left;}
.box-piont p{line-height:26px;font-size:14px;color:#999;margin-top:8px;}
.box-piont p i{width:16px;height:16px;display:inline-block;float:left;margin:4px 5px 0px 0px;overflow:hidden;}
.box-piont p  i{background-size:16px 16px}
/* .box-piont p i  img{width:16px;height:16px;margin-top:4px;margin-right:5px} */
.box .proItem-msg {margin-left:83px;text-align:left;padding-right:5px}
.box .proItem-msg h1 {position:relative;padding:0;font-size:16px;color:#333;overflow:hidden;line-height:30px;padding-top:2px;white-space: nowrap;text-overflow:ellipsis; overflow:hidden;}
.box .proItem-msg p{font-size:12px;color:#999;overflow:hidden;line-height:20px;width:100%;}
.box .list-logo{float:left;margin:0 8px 0 0;width:75px;height:65px;overflow:hidden;border-radius:3px}
/* .box img {float:left;margin:0 8px 0 0;width:75px;height:65px;} */
.box .long{float:right;width:13.5%;height:60px;border-left:1px solid #eaeaea;margin-top:12px;padding-right:2%;padding-left:2%}
.box .long  dt{width:100%;height:40px;background:url(../Image/cbc/ico-long.png) no-repeat center;background-size:25px;}
.box .long dd{color:#999;font-size:12px;line-height:24px;}
.box-piont{position:relative}
.box-piont em{position: absolute;top:8px;right:6%;width: 25px;height: 25px;background:url(../Image/icon-wrapper.png);background-position: 0 -273px;background-size: 100% auto;}
.box-piont.open em{background-position: 0 -300px;}
.box-piont p.djfd i{background:url(../Image/cbc/ico-f.png) no-repeat;}
.box-piont p.qcyh i{background:url(../Image/cbc/ico-h.png) no-repeat;}
.box-piont p.djfd i,.box-piont p.qcyh i{background-size:16px 16px}
/* 详情页 */
.flash{position:relative;font-size:0px;line-height:0px}
.flash img{width:100%;height:100%}
.flash  .flash-txt{width:100%;position:absolute;bottom:0px;height:40px;background:rgb(0,0,0); opacity:0.5; filter:alpha(opaity=50);color:#fff;line-height:40px;text-align:left;font-size:16px}
.flash  .flash-txt span{padding-left:5%;}
.details-item{border-bottom:1px #e5e5e5 solid;border-top:1px #e5e5e5 solid;background:#fff;margin-top:8px;}
.details-item:first-child {border-top:0;margin-top:0px;}
.details-item  ul{margin-left:4%;position:relative;}
.details-item .address{position:relative;height:auto;overflow: hidden;text-align:left;border-bottom: solid 1px #e5e5e5;}
.details-item .name{text-align:left;position:absolute;top:6px;left:0;font-size:16px;color:#333333;}
.details-item.input{position: relative;text-align: left;}
.details-item ul li.input p {font-size:14px;height:45px;line-height:45px;text-align:justify;color:#333;margin: 0 35px;}
.details-item .input i{position:absolute;top:10px;right:4%;width:25px;height:25px;background: url(../Image/icon-wrapper.png) 0 -25px;background-size: 100% auto;}
.details-item  ul:last-child {border-bottom:0px #e5e5e5 solid;}
.details-item  ul li.name i {display:block;width:30px;height:30px;background:url(../Image/cbc/icon-address.png) 0 0;background-size: 100% auto;}
.details-item  .tel li.name i {background:url(../Image/cbc/icon-tel.png) 0 0; background-size: 100% auto;}	
.details-item  .shopdes  li.name  i {background:url(../Image/cbc/ico-h.png) 0 0; background-size: 100% auto;}	
.details-item  .shopdes  li.name  i {background:url(../Image/cbc/ico-h.png) no-repeat center;background-size:16px 16px;}	
.details-item  .shopdes  li.djfk  i {background:url(../Image/cbc/ico-f.png) no-repeat center;background-size:16px 16px;}	
.details-item  ul.othershop  li.name  i {background:url(../Image/cbc/ico-h.png) 0 0; background-size: 100% auto;}
.details-item .shopdes .input i{position:absolute;top:10px;right:4%;width:25px;height:25px;background: url(../Image/icon-wrapper.png?v=1);background-position:0 -273px;background-size: 100% auto;}
.details-item  .shopdes  li.time p{margin-left: 35px;text-align:left;font-size:14px;color:#666;padding-bottom:15px;border-bottom:1px solid #f1f1f1}
.details-item  .shopdes li.shop-txt p{margin:0px 4% 0px 35px;text-align:left;font-size:14px;color:#666;padding:15px 0px;}
.details-item  .shopdes .open i{background-position:0 -300px;}
.details-item  .othershop li.input p{text-align:left;font-size:16px;color:#333;margin-left:2px}
 /* 搜索页*/
.search {width:92%;height:40px;position:relative;margin:15px auto;border-radius:5px;background:#fff;}
.search input[type=text]{float:left;width:66%;position:relative;z-index:2;padding-left:40px; padding-right:30px;background:none;height:40px;font-size:16px}
.search a.submit{position:absolute;z-index:3;right:-1px;top:0px;width:20%;height:40px;background:#0066b3; color:#fff;border-radius:0 5px 5px 0;display:none;font-size:14px;line-height:40px;text-align:center; cursor:pointer; display:block;}
.search p {position:absolute;z-index:1;top:50%;margin-top:-10px;height:20px;line-height:20px;left:0; margin-left:10px;}
.search p i {float:left;width:20px;height:20px;background-size:100% auto; background-image:url(../Image/cbc/ico-search01.png);}
.search em {position:absolute;z-index:3;right:22%;top:0;width:40px;height:40px;display:none;}
.search em i {float:left;width:40px;height:40px;background-size:20px 20px;background-position:center center; background-repeat:no-repeat;background-image:url(../Image/cbc/search2.png);}
.search.on em{ display:block;}
.nodata{background:#fff;text-align:center;}
.nodata span{color:#666;font-size:14px;display:block;margin:0  auto;padding-top:120px}
/* 加载更多 */
.get-more { padding: 10px 0 20px 0; margin:0 15px;}
.get-more i { display: block; width: 12px; height: 12px; margin: 0 auto; background: url(../Image/cbc/icon2.png) no-repeat; background-size: 100%;}
.get-more a { display:block; height:30px; line-height:30px; color:#999;}
.copyright p { color: #949494; margin-bottom: 10px;}
#infscr-loading { text-align: center;z-index: 100;position: fixed; left: 50%; margin-left:-100px; bottom: 40px; width:200px; background: #999; opacity: 0.8; color: #FFF; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
#infscr-loading img { padding:10px 10px 0 10px;}
#infscr-loading em { display:block; padding:10px;}
/* 城市列表 */

.search .search-input { text-indent: 20px; width:80%;height:34px;line-height:40px;color: #666; float: left;
margin-top: 2px;}
.search .btn-search {width: 10%;cursor: pointer;height: 40px;background: url(../Image/cbc/icon-search.png) no-repeat right 7px;background-size:24px;margin-right: 5%;}
.city-list { padding:0 10px; height:auto; overflow:hidden;text-align:left}
.city {color:#ea5443;text-shadow: 0 1px 1px #fff;margin: 10px 0;font-size:16px;}
.CityList { margin:0 0 10px 0; border:solid 1px #dadada; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.CityList li a { color:#5c5c5c;}
.CityList li { padding:0 10px; cursor:pointer;}
.CityList li p{ line-height:30px; border-bottom:solid 1px #f2f2f2; font-size:14px;}
.CityList li p:hover { border-bottom:solid 1px #f1f1f1;}
.CityList li:hover { background:#f1f1f1;}
.F-cities { position:relative;}
.F-ins {width: 94px;height: 80px;border-radius: 6px;background: rgba(143,143,143,.9);display: block;position: fixed;top: 35%;left: 50%;z-index: 99;margin-left: -47px;color: #fff;font-size:32px;line-height: 80px;text-align: center; font-weight:normal;}
.onTouch {width: 40px;line-height:30px;font-size:14px%;position: fixed;top:60px;right: 10px;z-index: 999;height: auto;text-align: center;vertical-align: middle;border-radius: 4px;}
.onTouch .onTouch-bg { opacity:0.7; background:#ddd; width:40px; height:100%; position:absolute; top:0; left:0; z-index:3;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.onTouch:hover .onTouch-bg { display:block;}
#charNav { position:relative; z-index:4;}
#charNav a { display:block; text-align:center; line-height:14px; color:#737373; font-size:12px}
#charNav a:hover { color:#71200f;}

 @media screen and (max-width:320px){
    .box .box-des{width:82%;float:left;}
	.box .long{width:17.6%;padding:0px;}
}
 @media screen and (min-width:375px){
     .mainTop-info li i{right:18px}
    .box .box-des{width:80%;float:left;}
	.box .long{width:19.6%;padding:0px;}
}

 @media screen and (min-width:414px){
    .mainTop-info li i{right:25px}
 }

@media screen and (min-width:331px){}