/*======Reset=======*/
body,h1,h2,h3,h4,h5,h6,hr,menu,p,blockquote,ol,ul,dl,dd,td,th,figure,pre,button,input,textarea{margin:0;padding:0;font-family:Microsoft YaHei;}
body,button,input,select,textarea,pre{font:13px/1.5em "microsoft yahei";  -webkit-font-smoothing: antialiased;  text-rendering: optimizeLegibility;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp,tt{font-family:Microsoft YaHei;}
button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
a,a:hover{text-decoration:none;}
*{-webkit-tap-highlight-color: rgba(0,0,0,0);}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';}
label,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="password"]{cursor:pointer;}
del{text-decoration:line-through;}
ins{text-decoration:none;}
abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help;}
mark{background-color:yellow;}
input[type=submit],input[type=button],input[type=text],input[type=password]{-webkit-appearance:none;box-sizing:content-box;border:0;border-radius:0;box-shadow: none;font-family: Microsoft YaHei;}
.clearfix:after{clear:both;display: block;content: "...";visibility: hidden;height: 0;font-size: 0;}
.clearfix{*zoom:1;}
.l{ float:left}
.r{ float:right}
.tr{ text-align:right}
.tc{ text-align:center}
.redfont{ color:#d10a0a; padding:0 3px;}
i{ font-style:normal}
.m4{ margin:0px 4.6875%;}
.p4{ padding:0px 4.6875%;}
.noborder-b{ border-bottom:0}
.noborder-t{ border-top:0}
/*layout*/
.wrapper{margin:0 auto; width:100%; max-width:640px;}
.colgroup{ position:relative}
.colgroup label{ color:#666666; display:block; font-size:14px; line-height:30px; display:none;}
.colgroup input,.colgroup textarea{ width:100%; padding:5px; border:1px #eeeeee solid; box-sizing:border-box; color:#c7c7c7; text-align:center; border-radius:2px; line-height:28px}
.colgroup input:-moz-placeholder,.colgroup textarea:-moz-placeholder {color: #c7c7c7; text-align:center}
.colgroup input:-ms-input-placeholder,.colgroup textarea:-ms-input-placeholder {color: #c7c7c7; text-align:center}
.colgroup input::-webkit-input-placeholder,.colgroup textarea::-webkit-input-placeholder {color: #c7c7c7; text-align:center}
.colgroup input::placeholder,.colgroup textarea::placeholder {color: #c7c7c7; text-align:center}


/*引导页*/
.swiper-container {	margin:0 auto;	position:relative;	overflow:hidden;	-webkit-backface-visibility:hidden;	-moz-backface-visibility:hidden;	-ms-backface-visibility:hidden;	-o-backface-visibility:hidden;	backface-visibility:hidden;	z-index:1;}
.swiper-wrapper {	position:relative;	width:100%;	-webkit-transition-property:-webkit-transform, left, top;	-webkit-transition-duration:0s;	-webkit-transform:translate3d(0px,0,0);	-webkit-transition-timing-function:ease;	-moz-transition-property:-moz-transform, left, top;	-moz-transition-duration:0s;	-moz-transform:translate3d(0px,0,0);	-moz-transition-timing-function:ease;	-o-transition-property:-o-transform, left, top;	-o-transition-duration:0s;	-o-transform:translate3d(0px,0,0);	-o-transition-timing-function:ease;	-o-transform:translate(0px,0px); -ms-transition-property:-ms-transform, left, top;	-ms-transition-duration:0s;	-ms-transform:translate3d(0px,0,0);	-ms-transition-timing-function:ease;	
	transition-property:transform, left, top;	transition-duration:0s;	transform:translate3d(0px,0,0);	transition-timing-function:ease;
	-webkit-box-sizing: content-box;	-moz-box-sizing: content-box;	box-sizing: content-box;}
.swiper-free-mode > .swiper-wrapper {	-webkit-transition-timing-function: ease-out;	-moz-transition-timing-function: ease-out;	-ms-transition-timing-function: ease-out;	-o-transition-timing-function: ease-out;	transition-timing-function: ease-out;	margin: 0 auto;}
.swiper-slide {	float: left;	-webkit-box-sizing: content-box;	-moz-box-sizing: content-box;	box-sizing: content-box;}

.swiper-container {  width: 100%;  max-width:640px;  height: 100%;  color: #fff;  text-align: center;  margin:0 auto;}
.swiper-slide{float: left;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;position:relative;margin:0 auto;text-align:center}
.swiper-slide .title {  font-style: italic;  font-size: 42px;  margin-top: 80px;  margin-bottom: 0;  line-height: 45px;}
.pagination {display: block;position: absolute;bottom: 1%;left: 50%;margin-left: -3.8%;width: 7.5%;animation: moveIcon 1.2s linear 0 infinite;-webkit-animation: moveIcon 1.2s linear 0 infinite; z-index:9999}
.swiper-pagination-switch {display: block;width: 24px;height: 77px;margin: 0  auto;cursor: pointer;background: url(../Image/experienceArea/arrow.png) bottom center no-repeat;background-size:90%;display:none;animation: moveIcon 1.2s linear 0 infinite;-webkit-animation: moveIcon 1.2s linear 0 infinite;}
.swiper-active-switch {width: 24px;height: 77px;margin:0 auto;cursor: pointer;display:block;background: url(../Image/experienceArea/arrow.png) bottom center no-repeat;background-size:90%;animation: moveIcon 1.2s linear 0 infinite;-webkit-animation: moveIcon 1.2s linear 0 infinite; z-index:9999}
/*动画*/
@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
	}
	
	70% {
		-webkit-transform: scale(.9);
	}
	
	100% {
		-webkit-transform: scale(1);
	}
}


@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		transform: scale(1.05);
	}
	
	70% {
		transform: scale(.9);
	}
	
	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1) rotateY(0);-webkit-animation-timing-function: ease-out;}	
	50% { -webkit-transform: scale(1.1) perspective(400px) translateZ(150px) rotateY(190deg);-webkit-animation-timing-function: ease-in; }
    100% { -webkit-transform: perspective(400px) scale(1);-webkit-animation-timing-function: ease-in;}
}

@keyframes pulse {
    0% { -webkit-transform: scale(1) rotateY(0);-webkit-animation-timing-function: ease-out;}	
	50% { -webkit-transform: scale(1.1) perspective(400px) translateZ(150px) rotateY(190deg);-webkit-animation-timing-function: ease-in; }
    100% { -webkit-transform: perspective(400px) scale(1);-webkit-animation-timing-function: ease-in;}
}

@-webkit-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
	}
	
	80% {
		-webkit-transform: translateX(-10px);
	}
	
	100% {
		-webkit-transform: translateX(0);
	}
}


@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateX(30px);
	}
	
	80% {
		transform: translateX(-10px);
	}
	
	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}
	
	80% {
		-webkit-transform: translateY(-10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}


@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateY(30px);
	}
	
	80% {
		transform: translateY(-10px);
	}
	
	100% {
		transform: translateY(0);
	}
}


@-webkit-keyframes bounceInDown2 {
	0% {
		opacity: 0;
		transform: scale(3);		
	}
	50% {
		transform: scale(2.8);
	}	
	80% {
		transform: scale(1.05);
	}	
	90% {
		transform: scale(0.98);
	}
	100% {
		transform: scale(1);
	}
}


@keyframes bounceInDown2 {
	0% {
		opacity: 0;
		transform: scale(3);		
	}
	50% {
		transform: scale(2.8);
	}	
	80% {
		transform: scale(1.05);
	}
	90% {
		transform: scale(0.98);
	}	
	100% {
		transform: scale(1);
	}
}
@-webkit-keyframes tada {
	0% {-webkit-transform: scale(1);}	
	10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
	100% {-webkit-transform: scale(1) rotate(0);}
}


@keyframes tada {
	0% {transform: scale(1);}	
	10%, 20% {transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
	100% {transform: scale(1) rotate(0);}
}
@-webkit-keyframes moveIcon {
	  0%{ -webkit-transform:translate(0,0);}
	50%{ -webkit-transform:translate(0,4px);}
	100%{ -webkit-transform:translate(0,0);}
}
@-webkit-keyframes moveIcon {
	  0%{ -webkit-transform:translate(0,0);}
	50%{ -webkit-transform:translate(0,4px);}
	100%{ -webkit-transform:translate(0,0);}
}

/*登陆体验厅*/
.bgblue{ background:#89b0d5;}
.login_title{ background:url(../Image/experienceArea/login_title.png) no-repeat; background-size:100%; width:100%; min-width:320px; height:auto; min-height:80px; margin:42px 0 37px;}
a.btn_one{ background-color:#1e568f; color:#fff; font-size:14px; font-weight:bold; line-height:40px; display:block; text-align:center; margin:15px 4.6875%; border-radius:2px;}

/*获取验证码引导页1*/
/*p1*/
#p1 .slogan{width:100%;min-width:320px;height:auto;min-height:70px;background:url(../Image/experienceArea/index1_title.png) no-repeat;background-size:100% auto; display:block;margin:40px 0 15px;}
.swiper-slide-visible .slogan{animation-name: bounceIn;-webkit-animation-name: bounceIn;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;    animation-delay: 0s;-webkit-animation-delay: 0s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}

#p1 .p1_picArea{ position:relative;width:100%;min-width:320px;height:auto; min-height:360px}

#p1 .p1_picArea .p1_p1{ background:url(../Image/experienceArea/index1_pic1.png) no-repeat;width:100%;min-width:320px;height:auto;min-height:247px;background-size:100% auto; display:block; position:absolute; top:0; z-index:6;}
.swiper-slide-visible .p1_p1{animation-name: bounceInLeft;-webkit-animation-name: bounceInLeft;animation-duration:0.5s;-webkit-animation-duration: 0.5s;animation-delay: 0.2s;-webkit-animation-delay: 0.2s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}


#p1 .p1_picArea .p1_p2{background:url(../Image/experienceArea/index1_pic2.png) no-repeat;width:100%;min-width:320px;height:auto;min-height:247px;background-size:100% auto; display:block; position:absolute; top:47px; z-index:5}
.swiper-slide-visible .p1_p2{animation-name: bounceInLeft;-webkit-animation-name: bounceInLeft;animation-duration: 0.8s;-webkit-animation-duration: 0.8s;animation-delay: 0.1s;-webkit-animation-delay: 0.1s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}


#p1 .p1_picArea .p1_p3{background:url(../Image/experienceArea/index1_pic3.png) no-repeat;width:100%;min-width:320px;height:auto;min-height:253px;background-size:100% auto; display:block; position:absolute; top:94px; z-index:4}
.swiper-slide-visible .p1_p3{animation-name: bounceInLeft;-webkit-animation-name: bounceInLeft;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;animation-delay: 0s;-webkit-animation-delay: 0s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}

#p1 .p1_picArea .p1_p3Shadow{background:url(../Image/experienceArea/index1_pic3_shadow.png) no-repeat;width:100%;min-width:320px;height:auto;min-height:247px;background-size:100% auto; display:block; position:absolute; top:148px; z-index:3}
.swiper-slide-visible .p1_p3Shadow{animation-name: bounceInLeft;-webkit-animation-name: bounceInLeft;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;animation-delay: 0s;-webkit-animation-delay: 0s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}

/*p2*/
#p2 .slogan{width:100%;min-width:320px;height:auto;min-height:70px;background:url(../Image/experienceArea/index2_title.png) no-repeat;background-size:100% auto; display:block;margin:40px 0 15px;}
.swiper-slide-visible .slogan{animation-name: bounceIn;-webkit-animation-name: bounceIn;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;    animation-delay: 0s;-webkit-animation-delay: 0s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}

#p2 .p2_picArea{ position:relative;width:100%;min-width:320px;height:auto; min-height:360px}

#p2 .p2_picArea .p2_p1{ background:url(../Image/experienceArea/index2_pic1.png) no-repeat;width:100%;min-width:320px;height:auto;min-height:247px;background-size:100% auto; display:block; position:absolute; top:0; z-index:6}
.swiper-slide-visible .p2_p1{animation-name: bounceInLeft;-webkit-animation-name: bounceInLeft;animation-duration:0.5s;-webkit-animation-duration: 0.5s;animation-delay: 0.2s;-webkit-animation-delay: 0.2s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}


#p2 .p2_picArea .p2_p2{background:url(../Image/experienceArea/index2_pic2.png) no-repeat;width:100%;min-width:320px;height:auto;min-height:247px;background-size:100% auto; display:block; position:absolute; top:47px; z-index:5}
.swiper-slide-visible .p2_p2{animation-name: bounceInLeft;-webkit-animation-name: bounceInLeft;animation-duration: 0.8s;-webkit-animation-duration: 0.8s;animation-delay: 0.1s;-webkit-animation-delay: 0.1s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}


#p2 .p2_picArea .p2_p3{background:url(../Image/experienceArea/index2_pic3.png) no-repeat;width:100%;min-width:320px;height:auto;min-height:253px;background-size:100% auto; display:block; position:absolute; top:94px; z-index:4}
.swiper-slide-visible .p2_p3{animation-name: bounceInLeft;-webkit-animation-name: bounceInLeft;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;animation-delay: 0s;-webkit-animation-delay: 0s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}

#p2 .p2_picArea .p2_p3Shadow{background:url(../Image/experienceArea/index1_pic3_shadow.png) no-repeat;width:100%;min-width:320px;height:auto;min-height:247px;background-size:100% auto; display:block; position:absolute; top:148px; z-index:3}
.swiper-slide-visible .p2_p3Shadow{animation-name: bounceInLeft;-webkit-animation-name: bounceInLeft;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;animation-delay: 0s;-webkit-animation-delay: 0s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}


/*p3*/

#p3 .slogan{width:100%;min-width:320px;height:auto;min-height:70px;background:url(../Image/experienceArea/index3_title.png) no-repeat;background-size:100% auto; display:block;margin:40px 0 15px;}
.swiper-slide-visible .slogan{animation-name: bounceIn;-webkit-animation-name: bounceIn;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;    animation-delay: 0s;-webkit-animation-delay: 0s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}

#p3 .p3_picArea{ position:relative;width:100%;min-width:320px;height:auto; min-height:360px}

#p3 .p3_picArea .p3_p1{ background:url(../Image/experienceArea/index3_pic.png) no-repeat;width:100%;min-width:320px;height:auto;min-height:192px;background-size:100% auto; display:block; position:absolute; top:0; z-index:6;}
.swiper-slide-visible .p3_p1{animation-name: bounceInLeft;-webkit-animation-name: bounceInLeft;animation-duration:0.5s;-webkit-animation-duration: 0.5s;animation-delay: 0.2s;-webkit-animation-delay: 0.2s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}


/*门店导航*/
.content h1{ font-size:16px; color:#000000; line-height:44px; text-align:center; border-bottom:1px #eeeeee solid}
.selectList{  line-height:44px; color:#666; padding:0 6.75%; font-size:0}
.selectList select{ font-size:14px; outline:none; border:0; width:25%;/* margin-right:5%;*/ display:inline-block; overflow:hidden; /*border-left:1px #f8f8f8 solid;*/ border-right:1px #eeeeee solid;   box-sizing:border-box; margin-left:25px; border-radius:0;-webkit-appearance:none; background:url(../Image/wapNav/selectArrow.png) right center no-repeat; background-size:auto 100%}
.selectList select:first-child{ margin-left:0;}
.selectList select:last-child{ width:30%; border-right:0;}
.noticeArea{}
.ntitle { background:#f6f6f6 url(../Image/wapNav/titleEditLine.png) center repeat-x; line-height:40px; text-align:center;  border-bottom: 1px #eeeeee solid; }
.ntitle.noborder{ background-image:none; background-color:#f6f6f6; line-height:40px; text-align:center}
.ntitle span{ background:#f6f6f6; margin:0 auto; font-size:16px; color:#666; padding:0 10px;}
.ntitle em{ color:#ddd}
.noticeArea dl{ display:block; clear:both; border-bottom:1px #eeeeee solid; padding:10px 6.75%;}
.noticeArea dl:after{ clear:both; height:0; display:block; content:""}
.noticeArea dl dt{ float:left; width:80%; border-right:1px #eee solid; padding-right:30px; box-sizing:border-box;}
.noticeArea dl dd{ float:right; width:20%; margin:0 auto; text-align:center; position:relative;}
.noticeArea dl dd em{color:#999; padding-top:5px;}
.sp .ico {width: 40px;height: 40px;border-radius: 3px;margin: 0px auto;position: relative; margin-bottom:-10px;/* -webkit-animation: ico 1s infinite linear;  -moz-animation: ico 1s infinite linear;  -o-animation: ico 1s infinite linear;  animation: ico 1s infinite linear;*/}
@-webkit-keyframes ico
{
	0%{-webkit-transform:translate(0,0px);}
	25%{-webkit-transform:translate(0,-10px);}
	50%{-webkit-transform:translate(0,-8px);}
	75%{-webkit-transform:translate(0,0px);}
	100%{-webkit-transform:translate(0,0px);}
}
.ico {width: 40px;height: 40px;border-radius: 3px;margin: 0px auto;position: relative; }
.ico span {height: 40px;width: 29px;display: block;position: relative;margin: 0 auto;z-index:30; background:url(../Image/wapNav/locationarrow.png) center no-repeat; background-size:auto 100%; /* -webkit-animation: ico 1s infinite linear;  -moz-animation: ico 1s infinite linear;  -o-animation: ico 1s infinite linear;  animation: ico 1s infinite linear;*/}
.ico.sp span {height: 40px;width: 29px;display: block;position: relative;margin: 0 auto;z-index:30; background:url(../Image/wapNav/locationarrow_sp.png) center no-repeat; background-size:auto 100%; -webkit-animation: ico 1s infinite linear;  -moz-animation: ico 1s infinite linear;  -o-animation: ico 1s infinite linear;  animation: ico 1s infinite linear;}
/*.ico.sp span {height: 74px;width: 53px;display: block;position: relative;margin: 0 auto;z-index:30; background:url(../Image/wapNav/locationarrow_sp.gif) center no-repeat; background-size:auto 100%;}*/
/*.col2_span1:before {content: '';height: 12px;width: 12px;border: 5px solid #85d744;display: block;position: absolute;top: 2px;left: 0px;z-index: 1;background: #fff;line-height: 26px;border-radius: 40px;-webkit-border-radius: 40px;-moz-border-radius: 40px;color: #fff;text-align: center;}
.col2_span1:after {content: '';height: 0px;width: 0px;display: block;position: absolute;bottom: 2px;left: 1px;border: 10px transparent solid;border-top-color: #85d744;border-width: 20px 10px 0px 10px;background:#FFF;}*/
.long_circle{   width: 20px;
  height: 4px;
  border-radius: 50%;
  border: 2px #85d744 solid;
  display: block;
  z-index: 5;
  margin: 0 auto;
  text-align:center;
  margin-bottom:10px;}
.cnt_title{ font-size:14px; color:#999}
.cnt_title span{ color:#000; font-size:16px;}
.cnt_title em{ color:#999; font-size:14px; padding-left:20px;}
.foot{ border-top:1px #cecece dashed; padding:20px 6.75%; font-size:13px; color:#999;}
.foot p { text-align:center}
.foot p a{ color:#999;}
.foot p a.itel:before{ content:""; background:url(../Image/wapNav/itel.png) center no-repeat; background-size:100% auto; width:15px; height:14px; display:inline-block; margin-right:3px; vertical-align:middle}
.foot p a.ialarm:before{ content:""; background:url(../Image/wapNav/ialarm.png) center no-repeat; background-size:100% auto;  width:15px; height:14px; display:inline-block; margin-right:3px; vertical-align:middle}
/*iphone5*/
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){
.selectList select{ font-size:14px; outline:none; border:0; width:25%;/* margin-right:5%;*/ display:inline-block; overflow:hidden; /*border-left:1px #f8f8f8 solid;*/ border-right:1px #eeeeee solid;   box-sizing:border-box; margin-left:25px; border-radius:0;-webkit-appearance:none; background:url(../Image/wapNav/selectArrow.png) 53px center no-repeat; background-size:auto 100%}
.selectList select:first-child{ margin-left:0;}
.selectList select:last-child{ width:30%; border-right:0;background:url(../Image/wapNav/selectArrow.png) 69px center no-repeat; background-size:auto 100%}
}
/*iphone6*/
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
.content h1{ font-size:18px; color:#000000; line-height:52px; text-align:center; border-bottom:1px #eeeeee solid}
.long_circle{   width: 24px;
  height: 4px;
  border-radius: 50%;
  border: 2px #85d744 solid;
  display: block;
  left: 30%;
  z-index: 5;
  margin: 0 auto;}
}

/*iphone 6 plus*/
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
.content h1{ font-size:20px; color:#000000; line-height:58px; text-align:center; border-bottom:1px #eeeeee solid}
.long_circle{   width: 24px;
  height: 4px;
  border-radius: 50%;
  border: 2px #85d744 solid;
  display: block;
  position: absolute;
  top: 30px;
  left: 31%;
  z-index: 5;
  margin: 0 auto;}
}
/* 大于640*/
@media screen and (min-width: 640px){
.content h1{ font-size:24px; color:#000000; line-height:88px; text-align:center; border-bottom:1px #eeeeee solid}
}


.copyright1 { margin:10px auto; text-align:center}
.copyright1 .found { line-height: 30px; margin-bottom: 5px; border-bottom: 1px #959595 dashed;}
.copyright1 .found a { line-height: 30px; font-size: 13px; color: #3488c6;}
.copyright1 p,.copyright1 p a { font-size: 12px; line-height: 20px; color: #959595;}
.copyright1 p a:before { content: ""; display: inline-block; width: 15px; height: 14px; margin-right: 3px; vertical-align: middle;}
.copyright1 p a:first-child:before { background: url(../Image/wapNav/icon_1.png) no-repeat; background-size: 100%;}
.copyright1 p a:last-child:before { background: url(../Image/wapNav/icon_2.png) no-repeat; background-size: 100%;}












