@charset "utf-8";
/* CSS Main */
.specialCj-con { width:100%; max-width:640px; margin:0 auto; height:100%;}
.close-specialCj {display: block; width:20px; height:20px; position:absolute; top:25px; right:30px;line-height: 20px;color: #fb5800;text-align: center;font-size: 32px;transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg); border-radius:50%; border:solid 2px #fb5800; cursor:pointer; z-index:1;}


#lottery { width:320px; height:305px; overflow: visible; margin:0 auto; position:absolute; margin-top:-166px; top:50%; left:50%; margin-left:-160px; background-image:url(../Image/icon-lottery15.png); background-repeat:repeat; background-size:100% auto; background-position: 0 0;-webkit-animation:lottery-animation 20s linear infinite;}
#lottery .lotBg { position:relative; width:100%; height:100%; background:url(../Image/icon-lottery10.png) no-repeat 0 0; background-size:100%;}
.lotEgg { padding-top:94px; position:relative; text-align:center;}
.lotEggLight { position:absolute; top:84px;left:52px; width:220px; height:100px; background-image:url(../Image/icon-lottery11.png); background-repeat:repeat-y; background-size:100% auto;margin:0 auto;}
.lotEggLight.shiny1 {-webkit-animation:shiny-animation1 2s 0.6s infinite;}
.lotEggLight.shiny2 {-webkit-animation:shiny-animation2 0.5s 0.6s infinite;}
.lotWindow { position:absolute; top:94px;left:0px; width:60px; height:80px; background-image:url(../Image/icon-lottery14.png); background-repeat:repeat-y; background-size:100% auto; background-position: 0 0; float:left; cursor:pointer; overflow:hidden;}
.lotWindow.one { background-position: 0 0;}
.lotWindow.two { background-position: 0 0;}
.lotWindow.three { background-position: 0 0;}
.lotWindow a { display:block; width:100px; height:100%; margin-left:-30px;-webkit-box-shadow:0 0 30px 5px rgba(0,0,0,0.7) inset;}
#lotHammer { position: absolute; left:249px; top:184px; width:25px; height:50px; background:url(../Image/icon-lottery13.png) no-repeat 0 0; background-size:100%;}
#lotHammer a { display:block; width:100%; height:100%;}
#lotHammerbtn { position: absolute; left:106px; top:215px; width:120px; height:30px; background:url(../Image/icon-lottery12.png) no-repeat 0 0; background-size:100%;}
#lotHammerbtn.lotHammerbtn-animation {background:url(../Image/icon-lottery12.png) no-repeat 0 -30px; background-size:100%;}
#lotHammerbtn a { display:block; width:100%; height:100%;}
.prizeList { margin:0 50px; height:44px; overflow:hidden;}
.prizeList ul { height:auto; overflow:hidden;}
.prizeList li { height:22px; overflow:hidden; text-align: left; margin-left:65px;}
.prizeList li i { display:inline-block; width:20px; height:20px; vertical-align:middle;}
.prizeList li span { display:inline-block; height:20px; color:#fff; vertical-align:middle;}
.prizeList .icon-fruit0 {background:url(../Image/icon-lottery14.png) no-repeat 0 -3px; background-size:100%;}
.prizeList .icon-fruit1 {background:url(../Image/icon-lottery14.png) no-repeat 0 -31px; background-size:100%;}
.prizeList .icon-fruit2 {background:url(../Image/icon-lottery14.png) no-repeat 0 -59px; background-size:100%;}
.prizeList .icon-fruit3 {background:url(../Image/icon-lottery14.png) no-repeat 0 -84px; background-size:100%;}
.prizeList .icon-fruit4 {background:url(../Image/icon-lottery14.png) no-repeat 0 -111px; background-size:100%;}
.prizeList .icon-fruit5 {background:url(../Image/icon-lottery14.png) no-repeat 0 -137px; background-size:100%;}
.prizeList .icon-fruit6 {background:url(../Image/icon-lottery14.png) no-repeat 0 -163px; background-size:100%;}

.lotHammer-animation {-webkit-animation:lotHammer-animation 1s 0.2s forwards;}

.lotEgg.begin .lotEggLight {-webkit-animation:shiny-animation2 0.5s 0.6s infinite;}
.lotEgg.begin #lotHammer {-webkit-animation:lotHammer-animation 1s 0.2s forwards;}
.lotEgg.begin #lotHammerbtn {background:url(../Image/icon-lottery12.png) no-repeat 0 -30px; background-size:100%;}
@-webkit-keyframes lotHammer-animation
{
	0%{-webkit-transform:translate(0,0);}
	50%{-webkit-transform:translate(3px,12px);}
	100%{-webkit-transform:translate(0,0);}
}

.lotWindowBegin1 {-webkit-animation-duration:4s;-webkit-animation-delay:0.2s;-webkit-animation-fill-mode:forwards;}
.lotWindowBegin2 {-webkit-animation-duration:4.4s;-webkit-animation-delay:0.6s;-webkit-animation-fill-mode:forwards;}
.lotWindowBegin3 {-webkit-animation-duration:4.8s;-webkit-animation-delay:1s;-webkit-animation-fill-mode:forwards;}

.lotWindow-animation0 {-webkit-animation-name:lotWindow-animation0;}
@-webkit-keyframes lotWindow-animation0
{
	0%{ background-position: 0 0;}
	100%{ background-position: 0 -1120px;}
}
.lotWindow-animation1 {-webkit-animation-name:lotWindow-animation1;}
@-webkit-keyframes lotWindow-animation1
{
	0%{ background-position: 0 0;}
	100%{ background-position: 0 -1200px;}
}
.lotWindow-animation2 {-webkit-animation-name:lotWindow-animation2;}
@-webkit-keyframes lotWindow-animation2
{
	0%{ background-position: 0 0;}
	100%{ background-position: 0 -1280px;}
}
.lotWindow-animation3 {-webkit-animation-name:lotWindow-animation3;}
@-webkit-keyframes lotWindow-animation3
{
	0%{ background-position: 0 0;}
	100%{ background-position: 0 -1360px;}
}
.lotWindow-animation4 {-webkit-animation-name:lotWindow-animation4;}
@-webkit-keyframes lotWindow-animation4
{
	0%{ background-position: 0 0;}
	100%{ background-position: 0 -1440px;}
}
.lotWindow-animation5 {-webkit-animation-name:lotWindow-animation5;}
@-webkit-keyframes lotWindow-animation5
{
	0%{ background-position: 0 0;}
	100%{ background-position: 0 -1520px;}
}
.lotWindow-animation6 {-webkit-animation-name:lotWindow-animation6;}
@-webkit-keyframes lotWindow-animation6
{
	0%{ background-position: 0 0;}
	100%{ background-position: 0 -1600px;}
}

@-webkit-keyframes lottery-animation
{
	0%{ background-position: 0 0;}
	100%{ background-position: 300px 720px;}
}
@-webkit-keyframes shiny-animation1
{
	0%{ background-image:url(../Image/icon-lottery11.png);}
	50%{ background-image:url(../Image/icon-lottery11-1.png);}
}
@-webkit-keyframes shiny-animation2
{
	0%{ background-image:url(../Image/icon-lottery11.png);}
	33%{ background-image:url(../Image/icon-lottery11-1.png);}
	66%{ background-image:url(../Image/icon-lottery11-2.png);}
}