@charset "utf-8";
/* CSS Main */

html{color:#444; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:auto; margin:0 auto; max-width:640px; min-height:100%;}
#container {height:auto!important; height:100%; min-height:100%;width:100%;margin:0 auto;}
#header { height:auto; overflow:hidden;z-index:1; position:relative;text-align:center;}
#main { height:auto!important; height:100%; position:relative;}
#footer { padding:5px 0; color:#fff;}
/*----------------------------------  Global结束  ------------------------------------*/

#header .title { font-size:18px; line-height:35px;background:#b72d00; color:#fff;}
#header .headerTop {background:#f3f3f3; }
#header .header-img {height:auto;position:relative; overflow:hidden;}
#header .header-img img {width:100%;height:auto; max-width:640px; overflow:hidden;}

.mainTop {background:url(../Img/mainTop_bgMem.png) repeat top left; background-size:100%;box-shadow:0 -2px 2px rgba(0, 0, 0, 0.3) inset;-webkit-box-shadow:0 -2px 2px rgba(0, 0, 0, 0.3) inset;-moz-box-shadow:0 -2px 2px rgba(0, 0, 0, 0.3) inset;}
.top-img {height:auto;position:relative; overflow:hidden;}
.top-img .vip-img {width:80%;height:auto; max-width:534px; margin-top:20px; margin-bottom:20px;box-shadow:2px 2px 2px rgba(0, 0, 0, 0.3);-webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.3);-moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.3); border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}

.mainPrice { background:#f3f3f3; padding:3px 0px 8px 0;}
.mainPrice li { width:50%; float:left; height:40px;}
.mainPrice li p { font-size:22px; color:#ff2300; text-align:left; line-height:25px; text-indent:15px;}
.mainPrice li s { font-size:14px; color:#999; text-align:left; line-height:15px; display:block; text-indent:15px;}
.mainPrice .btn-buy { width:100px; float:right;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; color:#fff; line-height:40px; font-size:18px; margin-right:15px;background: linear-gradient(top, #ff3500 0, #d80000 100%);background: -moz-linear-gradient(top, #ff3500 0, #d80000 100%);background: -webkit-linear-gradient(top, #ff3500 0, #d80000 100%);}
.mainPrice .btn-nobuy { width:100px; float:right;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; color:#fff; line-height:40px; font-size:18px; margin-right:15px;background: linear-gradient(top, #ddd 0, #aaa 100%);background: -moz-linear-gradient(top, #ddd 0, #aaa 100%);background: -webkit-linear-gradient(top, #ddd 0, #aaa 100%);}
.mainCon { margin:0 15px; text-align:left; padding-bottom:30px;}
.mainCon .mainCon-name{ font-size:18px; color:#333; line-height:30px; margin-top:10px;}
.mainCon .mainCon-con{ font-size:14px; color:#949494; line-height:25px;}
.mainCon .mainCon-msg{ margin-top:10px; padding:5px 10px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.mainCon .mainCon-msg p { line-height:22px; font-size:14px; float:left;}
.mainCon .mainCon-msg p span { color:#ff2300;}
.mainCon .mainCon-msg i { width:20px; height:20px; margin-right:10px; float:left;}
.icon-number { background:url(../Img/icon-number.png) no-repeat 0 0; background-size:100%;}
.icon-time { background:url(../Img/icon-time.png) no-repeat 0 0; background-size:100%;}
.mainCon-other { margin-top:20px;}
.mainCon-other a { color:#444; line-height:20px;}


.loginForm {width:100%; height:100%; position: fixed;top:-120%; left:0; z-index:100;}
.loginFormwap { width:100%; max-width:640px; margin:0 auto; height:100%; overflow:hidden; position:relative;-webkit-animation:bganimation 60s ease 0s infinite; background-color:#f7f7f7;}
.loginFormwap.bg0 {background-image:url(../Image/Shop/loginBg1.jpg); background-position:left top; background-size:100% auto;}
.loginFormwap.bg1 {background-image:url(../Image/Shop/loginBg2.jpg); background-position:left top; background-size:100% auto;}
.loginFormwap.bg2 {background-image:url(../Image/Shop/loginBg3.jpg); background-position:left top; background-size:100% auto;}
.loginFormwap.bg3 {background-image:url(../Image/Shop/loginBg4.jpg); background-position:left top; background-size:100% auto;}
@-webkit-keyframes bganimation
{
	0%{ background-position:left top;}
	25%{ background-position:right bottom;}
	50%{ background-position:right top;}
	75%{ background-position:left bottom;}
	100%{ background-position:left top;}
}
.loginForm li { height:auto; overflow:hidden; margin-top:1px; padding:8px 0; background:rgba(0,0,0,0.05);}
.loginForm li.p0 { padding:0; margin-top:10px;}
.loginForm li span { color:#ff0000;line-height:20px; font-size:12px; display:block; text-align:left; padding-left:10px;}
.loginForm li span:before{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.loginForm li label { height:35px;margin-left:0;float:left; text-align:right; line-height:35px; font-size:16px;}
.loginForm li p { color:#3b3b3b; font-size:14px; text-align: center;}

.sOne-loginForm { width:300px; margin:0 auto;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.sOne-loginForm li.loginFormTop { background:none; margin-top:0; padding-top:20px;}
.sOne-loginForm .loginFormTop p {  color:#3b3b3b; font-size:18px; text-align: center; padding:10px 0 10px 0; font-weight:bold;}
.sOne-loginForm .loginFormTop .loginFormTopLogo { width:80px; height:80px; margin:0 auto;overflow:hidden;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px; border-radius:3px; background:#f0f0f0; border:solid 5px #fff; line-height:0; overflow:hidden; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);-moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);box-shadow: 0 1px 1px rgba(0,0,0,.2);}
.sOne-loginForm .loginFormTop .loginFormTopLogo p { display:block; padding:0; font-size:0;}
.sOne-loginForm .loginFormTop .loginFormTopLogo a {width: 80px;height: 80px;display: table-cell;line-height: 80px;vertical-align: middle;}
.sOne-loginForm .loginFormTop .loginFormTopLogo span { display:block; padding:0; text-align:center}
.sOne-loginForm .loginFormTop .loginFormTopLogo img { max-height:100%; max-width:100%; margin:0 auto;}
.sOne-loginForm .loginFormMsg { margin-top:5px; background:none;}
.sOne-loginForm .loginFormMsg h4 { padding:5px 0; border:solid 1px rgba(255,255,255,.5);background: rgba(255,255,255,.3) url(../Image/icon-light.png) no-repeat 10px center; background-size:auto 70%; padding-left:30px; line-height:16px; text-align:left;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; color:#999;}
.loginForm li input.sOne-loginInput { background:none; border:none; height:30px; line-height:30px;}
.loginForm li input.sOne-loginInput-half { background:none; border:none; height:30px; line-height:30px;}
.loginForm li input.sOne-getpasscode { background:#e81a34; color:#fff; border:none; -moz-text-shadow:none;-ms-text-shadow:none;-o-text-shadow:none;-webkit-text-shadow:none;text-shadow:none; margin-right:10px; height:30px; line-height:30px;}
.loginForm li input::-moz-placeholder {
    color: #fff;
    opacity: 1!important;
}
.loginForm li input:-ms-input-placeholder {
    color: #fff;
}
.loginForm li input::-webkit-input-placeholder {
    color: #fff;
}
.sOne-loginInput { height:35px;color:#555555; width:99%; font-size:16px; border:solid 1px #d5d4d4; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-webkit-appearance:none; text-indent:10px;}
.sOne-loginInput-half { height:35px;float:left; color:#555555;font-size:16px; width:60%;border:solid 1px #d5d4d4; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-webkit-appearance:none;text-indent:10px;}
.sOne-getpasscode { height:35px;width:35%; color:#999; float:right; border:solid 1px #bfbfbf;text-shadow:0px 1px 0px #fff;-webkit-text-shadow:0px 1px 0px #fff;-moz-text-shadow:0px 1px 0px #fff;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;background:#eeeeee;-webkit-appearance:none;}
.sOne-loginInput-btn{ width:100%; height:38px;color:#fff; font-size:18px; cursor:pointer; border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-webkit-appearance:none; background:#e81a34;}
.sOne-loginInput-code {height:37px;width:35%; color:#909090; float:right; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.close-loginForm { width:26px; height:26px; display:block; position:absolute; right:0px; top:0px; text-align:center; line-height:26px; font-size:38px; color:#aaa;transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
.loginFormwap .close-loginForm { width:26px; height:26px; display:block; position:absolute; right:0px; top:0px; text-align:center; line-height:26px; font-size:38px; color:#aaa;transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
#container.alone { height:100% !important;}
.loginForm.alone { top:0;}
#footer2 { text-align:center; padding:5px 0; background:#f7f7f7; position:absolute; bottom:0; left:0; width:100%;}
#footer2 .myMicRight { margin:0 45px;}
#footer2 .myMicRight p{ text-align:center;color:#999;white-space: nowrap;text-overflow: ellipsis; overflow:hidden;font-size:10px; line-height:14px;}
#footer2 .myMicRight p span{ color:#999; font-size:10px;}
#footer2 .myMicRight a { color:#999; font-size:10px;}


.orderForm { background:#f3f3f3; height:auto; overflow:hidden; padding-bottom:20px; min-height:100%;}
.orderForm .orderForm-title,.orderForm .orderForm-msg,.orderForm .orderForm-update { margin:0 15px;}
.orderForm .orderForm-title { margin-top:20px; text-align:left; font-size:16px; line-height:30px;}
.orderForm .orderForm-title span{font-size:14px; line-height:30px; color:#999;}
.orderForm .orderForm-msg {border:solid 1px #c8c8c8; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.orderForm .orderForm-msg li { border-bottom:solid 1px #d8d8d8;box-sizing:border-box; padding:5px 20px;}
.orderForm .orderForm-msg li:last-child { border-bottom:none;}
.orderForm .orderForm-msg li p { padding:3px 0; line-height:24px; font-size:16px;word-break:break-all; text-align:left;}
.orderForm .orderForm-msg li p.text { margin-left:70px;}
.orderForm .orderForm-msg li p span { line-height:30px; font-size:18px; color:#ff2300;}
.orderForm .orderForm-msg .l{ color:#999;}
.orderForm .orderForm-msg .r{ color:#555;}
.orderForm .orderForm-update { margin-top:20px;}
.orderForm .numPrice,.orderForm .numPrice-add,.orderForm .numPrice-minus { float:left;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-webkit-appearance:none;text-align:center; margin-top:5px;}
.orderForm .numPrice { height:20px; width:30px; line-height:20px;  color:#999; border:solid 1px #e6e6e6; margin-left:5px; margin-right:5px;}
.orderForm .numPrice-add {height:20px; width:30px; line-height:20px; font-size:18px; color:#999;border:solid 1px #e6e6e6; background:#f0f0f0; display:inline-block;}
.orderForm .numPrice-minus {height:20px; width:30px; line-height:15px; font-size:18px; color:#999;border:solid 1px #e6e6e6; background:#f0f0f0; display:inline-block;}
.orderForm .orderInput {height:30px;color:#999; width:99%; font-size:16px; border:none; background:#fff;-webkit-appearance:none;}
.orderForm .orderSelect {height:30px;color:#999; width:99%; font-size:16px; border:none; background:#fff;-webkit-appearance:none;}
.orderForm .orderBtn { width:100%; height:38px;color:#fff; font-size:18px; cursor:pointer; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-webkit-appearance:none; background: linear-gradient(top, #ff3500 0, #d80000 100%);background: -moz-linear-gradient(top, #ff3500 0, #d80000 100%);background: -webkit-linear-gradient(top, #ff3500 0, #d80000 100%);}
.orderBtn-half {width:47%; height:38px;color:#999; font-size:18px; cursor:pointer; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-webkit-appearance:none; background: linear-gradient(top, #f5f5f5 0, #e4e4e4 100%);background: -moz-linear-gradient(top, #f5f5f5 0, #e4e4e4 100%);background: -webkit-linear-gradient(top, #f5f5f5 0, #e4e4e4 100%); float:left; line-height:38px; border:solid 1px #999;}
.orderBtn-half-red {width:47%; height:38px;color:#fff; font-size:18px; cursor:pointer; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-webkit-appearance:none; background: linear-gradient(top, #ff3500 0, #d80000 100%);background: -moz-linear-gradient(top, #ff3500 0, #d80000 100%);background: -webkit-linear-gradient(top, #ff3500 0, #d80000 100%); float:right; line-height:38px; border:solid 1px #d80000;}
.orderForm-success { margin:0 15px; height:auto;border:solid 1px #c8c8c8; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; text-align:center; padding:20px 20px 40px 20px; box-sizing:border-box;}
.orderForm-success p { line-height:30px;font-size:16px;text-align:left;}
.orderForm-success i { width:30px; height:30px; margin:0 auto; margin-top:20px;display:block;}
.icon-success {background:url(../Img/icon-success.png) no-repeat center center; background-size:auto 100%;}
.icon-err {background:url(../Img/icon-err.png) no-repeat center center; background-size:auto 100%;}


.headerTitle { height:40px; border-bottom:solid 1px #fff;box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.2); background: linear-gradient(top, #fff 0, #e9e9e9 100%);background: -moz-linear-gradient(top, #fff 0, #e9e9e9 100%);background: -webkit-linear-gradient(top, #fff 0, #e9e9e9 100%);color:#555; line-height:40px; font-size:16px; font-weight:bold;}
.orderList {}
.orderList li { border-bottom:solid 1px #ddd; border-top: solid 1px #fff;padding: 10px; height:auto; overflow:hidden;}
.orderList li:nth-child(1) { border-bottom:solid 1px #ddd; border-top:none;}
.orderList li:last-child { border-bottom:none; border-top: solid 1px #fff;}
.orderList .orderList-title { font-size:18px; line-height:35px; text-align:left;}
.orderList .orderList-title a{width:60px; height:25px;color:#fff; text-align:center; margin-top:8px; font-size:16px; cursor:pointer; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-webkit-appearance:none; background: linear-gradient(top, #ff3500 0, #d80000 100%);background: -moz-linear-gradient(top, #ff3500 0, #d80000 100%);background: -webkit-linear-gradient(top, #ff3500 0, #d80000 100%); float:right; line-height:25px; border:solid 1px #d80000;}
.orderList .orderList-con { text-align:left; color:#999;}
.orderList .orderList-con p{ line-height:25px;}
.commodityList {}
.commodityList li { border-bottom:solid 1px #ddd; border-top: solid 1px #fff;padding: 10px; height:auto; overflow:hidden;}
.commodityList li:nth-child(1) { border-bottom:solid 1px #ddd; border-top:none;}
.commodityList li:last-child { border-bottom:none; border-top: solid 1px #fff;}
.commodityList .commodityList-img { width:110px; height:100px; float:left;}
.commodityList .commodityList-img img{ width:110px; height:100px;}
.commodityList .commodityList-con { margin-left:120px; color:#555;}
.commodityList .commodityList-title { font-size:18px; line-height:25px; text-align:left;}
.commodityList .commodityList-con i { width:13px; height:13px;float:left; margin-top:2px; margin-right:2px;}
.commodityList .commodityList-con p { text-align:left;}
.commodityList .commodityList-con span {color:#ff2300;}
.commodityList .commodityList-time { margin-top:5px;}
.commodityList .commodityList-price { margin-top:5px;}
.commodityList .commodityList-price p { float:left; line-height:25px; font-size:16px;color:#ff2300;}
.commodityList .commodityList-price s { float:left; line-height:25px; font-size:12px;color:#999; margin-left:20px;}


.dn-bg { width:100%; height:100%; position:fixed; top:0; left:0; z-index:99; background:rgba(0,0,0,.6)}
.font-fe {color:#ff2300;}
.ml40 { margin-left:40px;}
.mt20 { margin-top:20px;}
.mt10 { margin-top:10px;}
.ml20 { margin-left:20px;}
.bgf3f3f3 { background:#f3f3f3;}
.ptb20 { padding-top:10px; padding-bottom:10px;}
.pt20 { padding-top:20px;}
.ml10{ margin-left:10px;}
.pb10 { padding-bottom:10px;}
::-moz-placeholder {
    color: #cccccc;
    opacity: 1!important;
}
:-ms-input-placeholder {
    color: #cccccc;
}
::-webkit-input-placeholder {
    color: #cccccc;
}

/*插件*/
.loadingBox{position:fixed;z-index:100;top:50%;left:50%;width:180px;height:100px;margin:-60px auto auto -120px;padding:10px 30px;border: 1px solid #2A2A2A;color:#fff;text-align:center;border-radius:10px;background:rgba(0,0,0,.66);} 
.loadingBox p{}
.loadingBox span {font-size:16px;} 
.loadingBox i{position:absolute;z-index:9;top:60%;left:50%;margin:-16px 0 0 -16px;display:inline-block;width:20px;height:20px;border:4px dotted #000;border-color:rgba(255,255,255,.1) rgba(255,255,255,.2) rgba(255,255,255,.4) rgba(255,255,255,.5);border-radius:300px;-webkit-animation:loadforever 20s infinite linear;} 
@-webkit-keyframes loadforever{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(5000deg);}}
/*插件*/

/*分享*/
.share{ width:100%; height:40px; line-height:30px;padding-bottom:5px;background:#f4f4f4;}
.share_list{ list-style:none;}
.share_list li{float:left; margin-left:15px;}
/*----------------------------------  分享结束  ------------------------------------*/

.orderAddress {}
.orderAddress li {border:solid 1px #ddd; margin-bottom:10px;text-align: left;padding:5px;}
.orderAddress li p {font-size: 12px; line-height: 20px;}
.orderAddress li.hover {border:solid 1px #d10a0a; background:url(../../Image/mem-icon.png) no-repeat right bottom; }
.adressPop { position:fixed; top:0; left:0; z-index:100; width:100%; height:100%; background:rgba(0,0,0,0.3);}
.adressPopCon { width:290px; position:fixed; top:80px; left:50%; margin-left:-145px; z-index:100; background:#fff;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px; padding:20px 10px 20px 10px ;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.adressPopCon a.close { width:26px; height:26px; display:block; position:absolute; right:0px; top:0px; text-align:center; line-height:26px; font-size:38px; color:#aaa;transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}


/*分享及订单*/
.out-box { position: fixed;top:0;left:0;height: 100%;width: 100%;background: rgba(0,0,0,0.8); text-align: center; z-index:1111;}
.out-box .img { width:90%; height:auto; margin:0 auto; margin-top:10px;-webkit-animation-duration: 1.5s;-webkit-animation-iteration-count:1;-webkit-animation-direction: alternate;-webkit-animation-timing-function: ease-out;-webkit-animation-fill-mode: forwards;-webkit-animation-delay: 0.5s;-webkit-animation-name: tada;}
.out-box .text{ width:280px; margin:0 auto; text-align:center;}
.out-box .text p{color:#fff; font-size:18px; color:#fff; line-height:30px;}
@-webkit-keyframes tada {
  0% {-webkit-transform: scale(1);transform: scale(1);}
  10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);transform: scale(0.9) rotate(-3deg);}
  30%, 50%, 70%, 90% {-webkit-transform: scale(1.05) rotate(3deg);transform: scale(1.05) rotate(3deg);}
  40%, 60%, 80% {-webkit-transform: scale(1.05) rotate(-3deg);transform: scale(1.05) rotate(-3deg);}
  100% {-webkit-transform: scale(1) rotate(0);transform: scale(1) rotate(0);}
}
/*分享及订单*/