@charset "utf-8";
/* CSS Main */

html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

h1 { line-height:40px; text-align:left; font-size:16px; padding-left:15px;}
a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
.mt20 { margin-top:20px;}

* {-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-appearance:none;}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{/* height:100%; min-height:100%;*/ text-align:center; background: #eeeeee;}
#wrapper { height:auto; margin:0 auto; max-width:640px;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#header { height:30px; overflow:hidden; width:100%; position: relative; text-align:center; padding:7px 0; background:#ea5518;}
#main { height:auto!important; height:100%; position:relative;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:5px 0 5px 0;text-align:center;color:#5c5c5c;background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%); font-size:12px; line-height:20px;}
#footer p a{ color:#5c5c5c;}
.shopBoxView { text-align:left;}
/*----------------------------------  Global结束  ------------------------------------*/

.w55 { width: 55px;}
.pl55 { padding:0 0 0 55px;}
.w72 { width: 72px;}
.pl72 { padding:0 0 0 72px;}
.w100 { width: 100px;}
.pl100 { padding:0 0 0 100px;}

#header.userCenter { background:#f8f8f8;border-bottom:solid 1px #b2b2b2;}
#header.userCenter .goback i {background:url(../Image/Item/dzp/nc-icon.png) 0 0; background-size:100% auto;}
#header.userCenter .title span { color:#3d4245;}
.goback { position:absolute; top:7px; left:0; width:35px; height:30px; cursor:pointer;}
.goback i { float:left; margin: 3px 0 0 8px; width:25px; height:25px;background:url(../Image/Item/dzp/nc-icon.png) 0 -25px; background-size:100% auto;}
.gosearch { position:absolute; top:7px; right:0; width:35px; height:30px; cursor:pointer;}
.gosearch i { float:left; margin-top:3px; width:25px; height:25px;background:url(../Image/Item/dzp/nc-icon.png) 0 -175px; background-size:100% auto;}
.title { display:block; margin:0 35px; height:30px; text-align:center;}
.title i { float:left; width:30px; height:30px; overflow:hidden; background:#fff; border-radius:2px; text-align:center; line-height:32px; font-style:normal; color:#ea5518; font-size:24px;}
.title span { margin-left:5px; line-height:32px; font-size:18px; color:#fff;}
.title em { color: #999999;}

.mainTips { line-height: 40px; margin: 0 15px; text-align: left;}
.mainTips .tips { font-size: 13px; color: #666666;}

/* 发布活动 */
.mainCon .item {/* padding: 12px 0;*/ margin-bottom: 12px; background:#fff; border-bottom: 1px #e5e5e5 solid; text-align: left;}
.mainCon:after,.mainCon ul:after,.mainCon ul li:after {visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0px;}
.mainCon ul { margin: 0 0 0 15px; padding: 10px 15px 10px 0; position:relative; box-sizing:border-box; border-bottom: 1px #e5e5e5 solid;}
.mainCon ul:last-child { border-bottom: 0px #e5e5e5 solid;}
.mainCon ul li p { line-height: 16px; font-size: 13px; color: #999999; text-align: justify;}
.mainCon ul li.input p { font-size: 13px; line-height: 20px; padding: 12px 0; color: #999999; text-align: justify;}
.mainCon ul.btn-ul { margin:20px 15px; padding:0; background:#f0efed; border: 0;}
.mainCon ul li.btn-li { text-align:center;}
.mainCon ul li .btn-up { display:block; width: 100%; height:42px; background:#ed3f41; color:#fff; line-height:42px; font-size:17px; font-weight:bold; text-align:center; border-radius:5px;}
.mainCon ul.imageBox li {/* padding: 10px 0;*/ float: left;}
.mainCon ul.imageBox li img { display: block;}
.mainCon ul.imageBox li h3 { margin-bottom: 5px; font-size: 16px; color: #333333;}
.mainCon ul.imageBox li.image { position: absolute; top: 50%; margin-top: -27px;}
.mainCon ul.imageBox li.text { padding-left: 65px; padding: 10px 0 10px 65px;}
.mainCon ul.link { border: 0; text-align: center;}
.mainCon ul.link img { padding: 5px; border: 1px #e5e5e5 solid; border-radius: 3px;}
.mainCon ul.link li p { text-align: center; margin-bottom: 20px;}
.mainCon ul.link li a { color: #1278c7;}

/* 活动介绍页 */
.mainCon .banner { position: relative;}
.mainCon .banner .title { position: absolute; bottom: 15px; left: 0; margin: 0 15px; width: 90%; height: 26px; line-height: 26px; background: #fe7364; color: #ffffff; font-size: 13px; text-align: center; border-radius: 20px;}

.mainCon .element { padding: 45px 0 30px 0; margin-bottom: 10px; border-bottom: 1px #c2c2c2 dashed; position: relative; z-index: 2;}
.mainCon .element .element-2,.mainCon .element .element-3 { position: absolute; z-index: -1;}
.mainCon .element .element-2 { top: 60px; left: -30px; -webkit-animation:translateX1 15s 0.5s infinite linear;}
.mainCon .element .element-3 { top: 100px; left: -30px; -webkit-animation:translateX2 25s 0.8s infinite linear;}
.mainCon .element .tips h4 { font-size: 13px; color: #666666;}
.mainCon .element .tips p { font-size: 15px; color: #333333;}


.tabList { padding:10px 0; width:100%; height:30px; background:#fff; position:relative;}
.tabList ul { margin:0 auto; width:310px; height:30px;}
.tabList ul li { float:left; width:76px; height:28px; line-height:28px; border:solid 1px #ea5518; margin-left:-1px; position:relative;}
.tabList ul li:first-child { border-radius:4px 0 0 4px;}
.tabList ul li:last-child { border-radius:0 4px 4px 0;}
.tabList ul li.hover { background:#ea5518;}
.tabList ul li>a { color:#ea5518;}
.tabList ul li>a>i { position:absolute; right:10px;}
.tabList ul li.hover>a { color:#fff;}
.tabList ul.list2 li { width:152px;}
.tabList ul.list3 li { width:102px;}
.tabList ul.list4 li { width:76px;}

.Gform .item { margin-bottom: 20px; background:#fff;}
.Gform .item .input label { margin-right: 20px; position: relative;}
.Gform .item .input.radioBox { padding-left: 112px;}
.Gform .item .input label:before { content: ""; display: inline-block; position: relative; top: 2px; right: 5px; width: 12px; height: 12px; border: 1px #999999 solid; border-radius: 50%;}
.Gform .item .input label.active:after { content: ""; display: inline-block; position: absolute; top: 5px; left: -2px; width: 8px; height: 8px; background: #999999; border-radius: 50%;} 
.Gform:after,.Gform ul:after,.Gform ul li:after {visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0px;}
.Gform .item { border-bottom: 1px #e5e5e5 solid;}
.Gform ul { margin: 0 0 0 15px; padding: 0 15px 0 0; position:relative; box-sizing:border-box; border-bottom: 1px #e5e5e5 solid;}
.Gform ul:last-child { border-bottom: 0px #e5e5e5 solid;}
.Gform ul li p { font-size: 13px; line-height: 18px; color: #999999; text-align: justify;}
.Gform ul li.input p { font-size: 13px; line-height: 18px; padding: 12px 0; color: #999999; text-align: justify;}
.Gform .name { text-align:left; line-height:20px; padding: 12px 0; position:absolute; top:50%; left:0; margin-top: -22px; font-size:16px; color:#333333; box-sizing:border-box;}
.Gform .name em { line-height: 20px; padding: 12px 0; color: #ed3f41;}
.Gform .input { position:relative; text-align:left; box-sizing:border-box;}
.Gform.confirmation .input { text-align: right;}
.Gform .input span { color: #999999; font-size: 14px;}
.Gform .input .textbox,.Gform .input textarea { width:100%; font-size:16px;/* border:solid 1px #bbb;*/ color: #333333; border-radius:3px; box-sizing:border-box;-webkit-appearance:none;/*box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/}
.Gform .input .textbox { padding: 12px 0; line-height:20px; text-indent:3px;}
.Gform .input .textbox.half { width:47%; float:left;}
.Gform .input .passcode { width:47%; float:right; border-radius:3px;}
.Gform .input .btn-input.half { width:47%; line-height:20px; padding: 12px 0; font-size: 16px; float:right; border:solid 0px #bfbfbf; color:#ed3f41; text-align: right; -webkit-appearance:none; border-radius:3px; background:none;}
.Gform .input textarea {height:100%; overflow-y:visible; line-height:20px; border: 0; padding: 12px 0 12px 5px;}
.Gform .input select { float:right;/* margin-right:4%;*/ width:33%; line-height:20px;/*background-image: linear-gradient( #fff , #f1f1f1);*/ background: none; font-size:14px; color: #999999; text-align: right; border:solid 0px #bbb; border-radius:3px; box-sizing:border-box;-webkit-appearance:none;/*box-shadow: 0px 1px 3px rgba(0,0,0,.2);*/}
.Gform .input select:last-child { margin-right:0;}
::-webkit-input-placeholder {
	font-size:12px;
}
.Gform .input.date { line-height: 46px; font-size: 13px;}
.Gform .input input[type="file"] { padding: 20px 0; opacity: 0;}
.Gform .input input[type="date"] { display: inline-block; width: 46%; font-size: 13px;}
.Gform .input img { position: absolute; top: 50%; margin-top: -21px; right: 30px;}
.Gform .input i { position: absolute; top: 50%; margin-top: -12px; right: 0; width:25px; height:25px;background:url(../Image/Item/dzp/nc-icon.png) 0 -25px; background-size:100% auto;}
.Gform ul.btn-ul { margin:20px 15px; padding:0; background:#f0efed; border: 0;}
.Gform ul li.btn-li { text-align:center;}
.Gform ul li .btn-up { display:block; width: 100%; height:42px; background:#ed3f41; color:#fff; line-height:42px; font-size:17px; font-weight:bold; text-align:center; border-radius:5px;}
.formError { position:absolute; top:40px !important; left:auto !important; right:5px !important; margin:0 !important; z-index:100;-webkit-animation:erroMsg 0.3s linear;-webkit-animation-fill-mode:forwards;}
.formError.passcode { right:100px;}
.formError:before { position:absolute; top:-4px; right:10px; width:8px; height:8px; border: 1px #e39f9f solid; border-width: 1px 0 0 1px; background:#fff8f8; content: ''; -webkit-transform: rotate(45deg); z-index: 1;}
.formError .formErrorContent { width: auto; background: #fff8f8; position: relative; color: #ec3636; font-size: 12px; border: 1px solid #e39f9f; padding: 2px 10px 2px 10px; line-height: 20px; border-radius: 3px; box-shadow: 0 2px 2px rgba(0,0,0,.1); white-space: nowrap;}
@-webkit-keyframes erroMsg{
	0%{-webkit-transform:translate(0,10px);opacity:0}
	100%{-webkit-transform:translate(0,0);opacity:1}
}
.Gform .clause { text-align: left; margin: 0 15px;}
.Gform .clause label input[type="radio"] { width: 0;}
.Gform .clause label { margin-right: 20px; position: relative; color: #666666; font-size: 14px;}
.Gform .clause label input[type="radio"] { width: 0;}
.Gform .clause label:before { content: ""; display: inline-block; position: relative; top: 2px; right: 0; margin-right: 5px; width: 12px; height: 12px; border: 1px #999999 solid; border-radius: 50%;}
.Gform .clause label.active:after { content: ""; display: inline-block; position: absolute; top: 5px; left: 4px; width: 6px; height: 6px; background: #999999; border-radius: 50%;} 

.msgPop { position:fixed; z-index:1000; top:0; width:100%; height:100%; min-height:100%; margin:0 auto;display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;}
.msgPop.bg { background:rgba(0,0,0,0.7);}
.msgPop .msgBg { height:auto; margin:0 5%; padding: 22px; background:#fff; border-radius:5px;}
.msgPop .msgBg .msgTitle { position:relative; height:30px; color:#fff; font-size:16px; line-height:30px; font-weight:bold;border-radius:4px 4px 0 0;}
.msgPop .msgBg .msgTitle .close-msgPop { position:absolute; right:-20px; top:-20px; width:50px; height:50px;}
.msgPop .msgBg .msgTitle i { width:50px; height:50px; line-height:50px; font-style: normal; text-align:center; font-size:24px; color: #ffffff; background: url(../Image/Item/dzp/nc-icon.png) 0 -100px; background-size:100% auto;/* background:#cecece; -webkit-transform:rotate(45deg);*/ position:absolute; right:0; top:0;/* box-shadow:inset 0 0 0 1px #cecece,0 0 0 1px #cecece;border-radius:50%;*/}
.msgPop .msgBg .msgTitle i em { display:block; font-style: normal; line-height:28px; text-align:center; font-size:24px; color: #ffffff; -webkit-transform:rotate(45deg);}
.msgPop .msgBg .msgCon { height:auto; overflow:hidden;border-radius:0 0 4px 4px;}
.msgPop .msgBg .msgCon { font-size:18px; line-height:24px;}
.msgPop .msgBg .tipsText { text-align: justify;}
.msgPop .msgBg .tipsText p { font-size: 17px; color: #4c4c4c; margin: 0 0 10px 0;}
.msgPop .msgBg .tipsText li { font-size: 14px; color: #7f7f7f; line-height:16px; margin: 0 0 10px 0;}
.msgPop .msgBg .tipsBtn { margin-top: 20px;}
.msgPop .msgBg .tipsBtn a.tipsBtn-back { display: block; line-height: 43px; font-size: 17px; color: #ffffff; background: #ed3f41; border-radius: 5px;}

@-webkit-keyframes translateX1 {
	0% {-webkit-transform: translateX(0px);}
	50% {-webkit-transform: translateX(100px);}
	100% {-webkit-transform: translateX(0px);}
}
@-webkit-keyframes translateX2 {
	0% {-webkit-transform: translateX(0px);}
	50% {-webkit-transform: translateX(80px);}
	100% {-webkit-transform: translateX(0px);}
}

/* 城市列表
--------------------------------------------------------------*/
.city { position: absolute; z-index:999; top:0; left:0; width:100%; min-height:100%; height:100%; text-align:left; overflow-x:hidden;}
.cityHeader { height:30px; overflow:hidden;z-index:1; text-align:center; padding:7px 0; background:#ea5518; line-height:30px; font-size:14px; color:#fff;}
.closeCity { position:absolute; top:7px; left:0; width:35px; height:30px;}
.closeCity i { float:right; margin-top:3px; width:25px; height:25px;background:url(../Image/Item/dzp/nc-icon.png) 0 -25px; background-size:100% auto;}
.city-list { position:relative; left:100%; height:auto; min-height:100%; overflow:hidden;-webkit-transition:left 0.5s;background: #f7f7f7;}
.city.show .city-list { left:0;-webkit-transition:left 0.5s;}
.cityTitle { color:#ea5518;text-shadow:0 1px 0 #fff;margin:5px 10px 1px 10px;font-size:18px;}
.CityList { margin:0 10px 10px 10px; border:solid 1px #dadada; background:#fff; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; padding:2px;}
.CityList li { cursor:pointer;}
.CityList li p { line-height:30px; border-bottom:solid 1px #f2f2f2; font-size:14px; text-indent:10px;}
.CityList li p:hover { border-bottom:solid 1px #f1f1f1;}
.CityList li:hover { background:#f1f1f1;}
.CityList li:last-child p { border-bottom:none;}
.F-cities { position:relative;}
.F-ins {width: 94px;height: 80px; border-radius: 6px; background: rgba(143,143,143,.9); display: block;position: fixed;top: 35%;left: 50%;z-index: 999;margin-left: -47px;color: #fff;font-size:32px;line-height: 80px;text-align: center; display:none;}
.onTouch {width:60px;position: fixed;top:30px;right:0;z-index: 999;height: auto;}
#charNav { position:relative; z-index:4;}
#charNav a { display:block; margin-left:40px; width:20px; text-align: center; font-size:12px; color:#ea5518;line-height:14px;}
/*-------------------------城市列表结束  -----------------------*/

/**** Docs ****/
#infscr-loading { text-align: center;z-index: 100;position: fixed; left: 50%; margin-left:-100px; bottom: 40px; width:200px; background: #999; opacity: 0.8; color: #FFF; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
#infscr-loading img { padding:10px 10px 0 10px;}
#infscr-loading em { display:block; padding:10px;}

/* ===============================================================
Basic Swiper Styles 
================================================================*/
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}
.cjTip { position:fixed; z-index:1000; top:48%; width:100%; color:#fff; font-weight:bold; font-size:16px; text-align:center;}
.cjTipbg { position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.4);}
.cjTipTxt { padding:10px; position:absolute; z-index:10; left:50%; margin-left:-70px; top:50%; margin-top:-20px; width:140px; height:auto; background:#fff; border-radius:6px; box-shadow:0 0 10px rgba(0,0,0,.2);}
.cjTipTxt i { position:absolute; top:50%; margin-top:-10px; left:10px; width:20px; height:20px; border:solid 2px #ffad19; border-radius:50%;  border-right:solid 2px transparent;-webkit-animation: gamewrapperbg 1s infinite linear;}
.cjTipTxt p { padding:2px 0; line-height:20px; margin-left:30px; color:#666; font-size:12px; text-align:left; font-weight:normal;}
@-webkit-keyframes gamewrapperbg{
    0%{-webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);}
}
