@charset "utf-8";
/* CSS Document */
html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font-family:"microsoft yahei";font-size:62.5%;}
input,select,textarea{font-size:62.5%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:62.5%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

a {color:#0066cc; text-decoration:none}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:auto; margin:0 auto; max-width:640px;background:#fff; margin:0 auto;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#header { height:auto; overflow:hidden;z-index:1; position:relative;text-align:center;}
#main { height:auto!important; height:100%; position:relative;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:5px 0 5px 0;text-align:center;color:#5c5c5c;background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%); font-size:12px; line-height:20px;}
#footer p a{ color:#5c5c5c;}
/*----------------------------------  Global结束  ------------------------------------*/
.clear{clear:both;}
.fbg{background:#ffefd7;padding-bottom:30px;min-height:736px}
/* 卡券分享弹窗 */
 /* 1111 start */
.cardfx{position:relative;margin:0 auto;}
.cardfx  .cd_shopname{position:absolute;top:13%;left:30%;font-size:20px;color:#fff}
.cardfx  .cd_sm{position:absolute;bottom:4%;left:5%;font-size:18px;color:#333}
/* //1111 end */
.cd_cont{width:90%;margin:0 auto;text-align:left;line-height:24px}
.btns-all{background:#ed3f41;color:#fff;width:92%;display:inline-block;overflow:visible;padding:3% 0px;text-align:center;text-decoration:none;border-radius:3px;font-size:14px; cursor:pointer;margin-top:3%;margin-bottom:8%;-webkit-transition:none;-webkit-transform:none;vertical-align:top;font-family:"HiraginoSansGB W3"}
.btns-all:hover{background: #ff6d6f; color:#fff;text-decoration:none}
.btns-all:active{background: #c82324; color:#fff; }
/* 弹窗1 */
.now_lq{position:absolute;z-index:10;width:90%;left:5%;top:30%;background:#f2f2f2;border-radius:3px}
.now_lq .now_top{background:#fffafa;border-radius:3px 3px 0px 0px}
.now_lq .now_top p:first-child,.tink_cy p{color:#333;padding:5% 0px 3%;}
.now_lq .now_top p{font-family:"HiraginoSansGB W3"}
.now_lq .now_top p:first-child{font-family:"HiraginoSansGB W6"}
.now_lq .now_top p:last-child{padding:1% 0px 5%;color:#ed3f41}
.now_lq  ul li{border-top:1px solid #e1e1e1;cursor:pointer;font-family:"HiraginoSansGB W6";color:#ed3f41;}
.now_lq  ul li a{color:#ed3f41;width:100%;display:block;padding:5% 0px;}
.card_ts{color:#666}
/* 弹窗2 */
.tink_cy{position:absolute;z-index:10;width:90%;left:5%;top:30%;background:#ffffff;border-radius:3px}
.cover{width:100%;height:100%;background:#000;opacity:0.8;position:absolute;z-index:9;top:0%}
.tel_div2{width:92%;margin:0 auto;border:1px solid #E4E4E4;border-radius:5px;background: #fff;margin-top:4%;position:relative;}
.tel_div2  #yzcode,.tel_div2 #telephone{width:98%;height:auto;padding:4% 0px 4% 2%;
color:#666;font-family:"HiraginoSansGB W3"}
.btnSendCode{padding:2% 2%;border:1px solid #fa4146;position:absolute;top:15%;right:2%;border-radius:25px;color:#ed3f41;cursor:pointer;font-family:"btnSendCode";}
.cd_close{position:absolute;z-index:10;right:3%;top:23%;cursor:pointer}
.h_tit{font-family:"HiraginoSansGB W3";color:#ed3f41;padding:4% 0;}
/* 用户界面 */
.card{width:92%;height:auto;margin:0 auto;position:relative;}
.card_money,.card_data,.card_name,.sj_logo{position:absolute;color:#fff;}
.card_money{left:38%;top:20%;font-size:24px;font-family:"HiraginoSansGB W6";}
.card_num{left:38%;top:18%;}
.card_des{top:45%;width:63%;left:2%;font-size:14px;height:12%;overflow:hidden;text-align:center}
.card_type{left:5%;top:15%;font-size:16px;font-family:"HiraginoSansGB W6";background: #fff;color:#fa4146;padding:1%  1%;border-radius:5%;}
.card_data{left:0%;top:63%;width:66%;text-align:center;font-size:13px;font-family:"HiraginoSansGB W3";}
.card_name{width:30%;right:2%;top:55%;height:30%;text-align:center;overflow:hidden;font-size:14px;font-family:"HiraginoSansGB W6";}
.sj_logo{right:8%;top:16%;width:15%;height:34%;overflow:hidden;border-radius:100%;}
.luck_tit{color:#b7741d;font-family:"HiraginoSansGB W3";width:100%;padding:5% 0;background:url(../Image/wap_card/luck_tit.png) no-repeat left center;background-size:100%;}
.luck{width:92%;margin:0 auto;}
.luck li{width:100%;font-family:"HiraginoSansGB W6"; float:left;margin-bottom:4%;}
.luck li dl{float:left;width:70%;}
.luck li dl dt{width:24%;float:left;border-radius:100%;overflow:hidden;text-align:center;    line-height:60%;}
.luck li dl dd{width:70%;font-weight:bold;color:#666;line-height:180%;padding:1% 0px 0px 5%;float:left;text-align:left;}
.luck li dl dd p{font-weight:normal;color:#b7772b;font-family:"HiraginoSansGB W3";}
.luck li span{float:right;width:30%;font-weight:bold;color:#fa4146;line-height:180%;}
.luck li span p{color:#999;font-weight:normal;font-family:"HiraginoSansGB W3";}
/* 好友领取 */
.l_tit{font-family:"HiraginoSansGB W3";color:#ed3f41;padding:6% 0;}
.l_ts{font-family:"HiraginoSansGB W3";color:#b7741d;line-height:24px}
.l_ts .l_num{color:#fa4146;}
.tel_div{width:92%;margin:0 auto;border:1px solid #cb9860;border-radius:5px;background:#fff;margin-top:4%;}
.tel_div  .l_tel{font-family:"HiraginoSansGB W3";width:98%;height:auto;padding:4% 0px 4% 2%;color:#999;}
.l_but{margin-bottom:0%}
.sqfriend{font-size:16px}
.tc_title{font-weight: bold;}
.now_top{padding-top: 20px;padding-bottom: 20px;}
.now_top.lottery_ok{background:url(../Image/wap_card/lottery_ok.png) ; background:100% ;}


@media screen and (min-width:320px) {
	.wybox {font-size:16px} 
	.wybox p{font-size:14px} 
	.wybox .l_num{font-size:22px}
	 .cd_close img{width:75%}
	 .btnSendCode{top:14%;}
	 .card_name{height:28%}
	 .card_ts{line-height: 24px;font-size: 12px;}
}
@media screen and (min-width:360px) {
	.card_name{height:23%}
	.card_des{height:10%}
	.tc_title{font-size: 16px;line-height:30px ;}
	.card_ts{line-height: 20px;font-size: 14px;}
}

@media screen and (min-width:414px) {
	.wybox {font-size:20px}
	.wybox p{font-size:18px}
	.wybox .l_num{font-size:26px}
	.card_money {font-size:24px}
	.card_data{font-size:14px} 
    .cd_close img{width:75%} 
    .btnSendCode{top:15%;}
    .card_name{font-size:14px;height:23%}
    .card_des{height:15%}
    .tc_title{font-size: 20px;line-height:36px ;}
	.card_ts{line-height: 24px;font-size: 18px;}
}

