.mainList {position:relative;z-index:100; background:#fff; }
.mainList .mainList-title { height:auto; overflow:hidden; background:#ebebeb; line-height:45px; font-size:16px; font-weight:bold}
.mainList-list { min-height:340px; height:auto; overflow:hidden;}
.mainList-list ul { height:auto; overflow: hidden;}
.mainList-list li:last-child { border-bottom:none;}
.mainList-item { border-bottom:solid 1px #e8e8e8; height:auto; overflow: hidden; padding:10px 70px 10px 10px; position: relative;}
.mainList-item .mainList-item-img { width:80px; height:80px; border:solid 1px #cacdce; float:left; margin-right:10px; padding:2px;}
.mainList-item .mainList-item-img img { width:100%; height:100%;}
.mainList-item .mainList-item-title { font-size:16px; font-weight:bold; line-height:20px; text-align:left; overflow:hidden; padding:3px 0 5px 0;color:#4d4d4d;}
.mainList-item .mainList-item-title a {color:#4d4d4d;}
.mainList-item .mainList-item-address { font-size:14px; text-align:left; overflow:hidden;color:#969696; padding:2px 0 0 0; padding-left:33px; text-indent:-33px;}
.mainList-item .mainList-item-con.noimg { padding-right:70px;}
.mainList-item .mainList-item-tel {font-size:14px; text-align:left; overflow:hidden;color:#969696; padding:2px 0 0 0;}
.mainList-item .mainList-item-tel a {font-size:14px;color:#969696;}
.mainList-item i {background:url(../Image/location.png) no-repeat right center; background-size:50%; width:60px; height:60px; position:absolute; right:20px; top:50%; margin-top:-30px; display:block;}

.mainList-search { border-bottom:solid 1px #cacdce; border-top:solid 1px #cacdce;}
.mainList-search li{float:left; height:40px; position:relative;}
.mainList-search .first { width:33%;background:url(../Image/icon-shopsearch.png) no-repeat right center;background-size:auto 100%;}
.mainList-search .center { width:34%;background:url(../Image/icon-shopsearch.png) no-repeat right center;background-size:auto 100%;}
.mainList-search .last { width:33%;background:url(../Image/icon-shopsearch2.png) no-repeat right center;background-size:auto 100%;}
.mainList-search span { width:100%; height:40px; line-height:40px; display:block;}
.mainList-search select{-webkit-appearance:none; border:none; background:none; width:100%; height:40px; line-height:40px; text-align:center; position:absolute; top:0; left:0;}
.cl { clear:both;}
.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
/* 分页
--------------------------------------------------------------*/
.page {padding:20px 20px; width:230px; margin:0 auto; text-align:center;}
.pageNow { float:left; color:#000;line-height:30px; font-size:14px; margin:0 10px; background:#e7e5e5 url(../Image/page-now.png) no-repeat right center;background-size:20px 5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; padding:0 10px 0 10px;}
.pageNow select{-webkit-appearance:none; border:none; background:none; width:60px;}
.pageNow span { color:#d72e0f;line-height:30px; font-size:13px;}
.pageGO { float:left;}
.pageGO .page-go {width:65px; height:30px; color:#000; display:block; line-height:30px;font-size:13px; text-align:left;}
.pageGO .page-pre {background:url(../Image/page-pre.gif) no-repeat right 0;background-size:100%; text-indent:17px;}
.pageGO .page-next {background:url(../Image/page-next.gif) no-repeat right 0;background-size:100%; text-indent:7px;}
/*------------------------- 分页结束  -----------------------*/