.content_button {height:53px; overflow:hidden; width:280px;margin:0 auto;}
.bmForm hr { border:none;border-bottom: dashed 1px #dedede; height:10px; overflow:hidden;}
.input_button{ width:100%; height:38px;color:#fff; font-size:18px; cursor:pointer; border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;-webkit-appearance:none; background:#bf0600;}
.moreContenter { width:95%; min-width:280px; margin:0 auto; overflow:hidden; text-align:left; padding-bottom:10px;}
.moreContenter img { max-width:100%;}

#AjaxWrapper { width:100%; height:100%; position:fixed;background:rgba(0,0,0,0.4); top:0; left:0; z-index:1000; text-align:center;}
.cjWrapper { margin:0 auto; background:#fff repeat 0 0; height:auto; width:80%; min-width:280px; max-width:580px; margin-top:80px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px; padding:10px;-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3);-moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3);box-shadow: inset 0 0 10px rgba(0,0,0,.3); position:relative;}
.cjCon { margin:0 auto; height:auto; background:#fff;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.cjText { margin:0 auto; text-align:center; font-size:16px; color:#333; padding:15px 0 10px 0; line-height:23px;}
.cjText-con { width:210px; height:auto; margin:0 auto; overflow: hidden;word-break:break-all;}
.cjText-img { width:50px; float:left;}
.cjText-img img { width:50px; height:50px;}
.cjText-text { margin-left:60px; text-align:left; font-size:16px; line-height:25px;}
.cjBtn { margin:0 auto; width:170px;height:35px; line-height:35px; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background-color: #bf0600; font-size:18px;color:#fff;}
.cjBtn a {color: #fff; display:block;}
.cjWrapper-close { color:#b9b9b9; font-size:20px; width:30px; height:30px;position:absolute; top:0; right:0;}
.cjWrapper-close a { color:#b9b9b9; display:block; line-height:30px; text-align:center; font-size:32px;transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg)}
.cjForm { height:auto; overflow:hidden; max-width:610px;margin:0 auto;}
.cjForm li { height:48px; overflow:hidden;}
.cjForm li p { height:35px;width:65px; margin-left:0;float:left; text-align:right; line-height:35px; font-size:14px; color:#333;}
.cjForm li span { color:red;line-height:35px; font-size:16px;}
.cjForm li label { height:35px;margin-left:0;float:left; text-align:left; line-height:35px; font-size:16px; padding-right:20px;}
.sOne-cjForm {padding-top:10px; width:280px; margin:0 auto;text-align:center;}
.sOne-cjInput { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:160px;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-cjInput-half { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:68px; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-cjRadio { float:left; width:14px; height:14px; margin-top:10px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; margin-left:5px;}
.sOne-cjgetpasscode { height:37px; line-height:37px;width:90px; color:#909090; float:right;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; margin-right:2px;}
.sOne-cjpasscode-img {border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:none; width:80px; float:left; margin-left:10px;height:37px;}
.sOne-cjrefurbish { width:30px; height:37px; float:left; margin-left:5px;background:url(../Image/refurbish-icon.png) no-repeat 0 center; background-size:100%;}
.cj-input-button { width:250px; height:38px;color:#fff; font-size:18px; cursor:pointer; border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;-webkit-appearance:none; background:#bf0600;}

.oprSuccess { margin:0 10px; padding:0 0 10px 0;}
.oprSuccess p { line-height:20px; margin-top:10px; color:#505050;}
.oprSuccess p span { color:#666666;}
.oprSuccess i { width:20px; height:20px; margin-right:5px;display:inline-block;*display:inline;*zoom:1; position:relative; top:5px;}
.oprSuccess i.icon-success { background:url(../Image/icon-success.png) repeat-x 0 0; background-size:100%;}
.oprSuccess i.icon-erro { background:url(../Image/icon-erro.png) repeat-x 0 0; background-size:100%;}



.mainPrice .btn-buy { width:100px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; color:#fff; line-height:40px; font-size:18px; margin-right:15px;background: -moz-linear-gradient(top, #ff3500 0, #d80000 100%);background: -webkit-linear-gradient(top, #ff3500 0, #d80000 100%);}
.mainPrice .btn-nobuy { width:100px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; color:#fff; line-height:40px; font-size:18px; margin-right:15px;background: linear-gradient(top, #ddd 0, #aaa 100%);background: -moz-linear-gradient(top, #ddd 0, #aaa 100%);background: -webkit-linear-gradient(top, #ddd 0, #aaa 100%);}

.loginForm {width:100%; height:100%; position: fixed;top:-120%; left:0; z-index:100;}
.loginFormwap { width:100%; max-width:640px; margin:0 auto; height:100%; overflow:hidden; position:relative;-webkit-animation:bganimation 60s ease 0s infinite; background-color:#f7f7f7;}
.loginFormwap.bg0 {background-image:url(../Image/Shop/loginBg1.jpg); background-position:left top; background-size:100% auto;}
.loginFormwap.bg1 {background-image:url(../Image/Shop/loginBg2.jpg); background-position:left top; background-size:100% auto;}
.loginFormwap.bg2 {background-image:url(../Image/Shop/loginBg3.jpg); background-position:left top; background-size:100% auto;}
.loginFormwap.bg3 {background-image:url(../Image/Shop/loginBg4.jpg); background-position:left top; background-size:100% auto;}
@-webkit-keyframes bganimation
{
	0%{ background-position:left top;}
	25%{ background-position:right bottom;}
	50%{ background-position:right top;}
	75%{ background-position:left bottom;}
	100%{ background-position:left top;}
}
.loginForm li { height:auto; overflow:hidden; margin-top:1px; padding:8px 0; background:rgba(0,0,0,0.05);}
.loginForm li.p0 { padding:0; margin-top:10px;}
.loginForm li span { color:#ff0000;line-height:20px; font-size:12px; display:block; text-align:left; padding-left:10px;}
.loginForm li span:before{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.loginForm li label { height:35px;margin-left:0;float:left; text-align:right; line-height:35px; font-size:16px;}
.loginForm li p { color:#3b3b3b; font-size:14px; text-align: center;}

.sOne-loginForm { width:300px; margin:0 auto;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.sOne-loginForm li.loginFormTop { background:none; margin-top:0; padding-top:20px;}
.sOne-loginForm .loginFormTop p {  color:#3b3b3b; font-size:18px; text-align: center; padding:10px 0 10px 0; font-weight:bold;}
.sOne-loginForm .loginFormTop .loginFormTopLogo { width:80px; height:80px; margin:0 auto;overflow:hidden;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px; border-radius:3px; background:#f0f0f0; border:solid 5px #fff; line-height:0; overflow:hidden; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);-moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);box-shadow: 0 1px 1px rgba(0,0,0,.2);}
.sOne-loginForm .loginFormTop .loginFormTopLogo p { display:block; padding:0; font-size:0;}
.sOne-loginForm .loginFormTop .loginFormTopLogo a {width: 80px;height: 80px;display: table-cell;line-height: 80px;vertical-align: middle;}
.sOne-loginForm .loginFormTop .loginFormTopLogo span { display:block; padding:0; text-align:center}
.sOne-loginForm .loginFormTop .loginFormTopLogo img { max-height:100%; max-width:100%; margin:0 auto;}
.sOne-loginForm .loginFormMsg { margin-top:5px; background:none;}
.sOne-loginForm .loginFormMsg h4 { padding:5px 0; border:solid 1px rgba(255,255,255,.5);background: rgba(255,255,255,.3) url(../Image/icon-light.png) no-repeat 10px center; background-size:auto 70%; padding-left:30px; line-height:16px; text-align:left;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; color:#999;}
.loginForm li input.sOne-loginInput { background:none; border:none; height:30px; line-height:30px;}
.loginForm li input.sOne-loginInput-half { background:none; border:none; height:30px; line-height:30px;}
.loginForm li input.sOne-getpasscode { background:#e81a34; color:#fff; border:none; -moz-text-shadow:none;-ms-text-shadow:none;-o-text-shadow:none;-webkit-text-shadow:none;text-shadow:none; margin-right:10px; height:30px; line-height:30px;}
.loginForm li input::-moz-placeholder {
    color: #fff;
    opacity: 1!important;
}
.loginForm li input:-ms-input-placeholder {
    color: #fff;
}
.loginForm li input::-webkit-input-placeholder {
    color: #fff;
}
.sOne-loginInput { height:35px;color:#555555; width:99%; font-size:16px; border:solid 1px #d5d4d4; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-webkit-appearance:none; text-indent:10px;}
.sOne-loginInput-half { height:35px;float:left; color:#555555;font-size:16px; width:60%;border:solid 1px #d5d4d4; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-webkit-appearance:none;text-indent:10px;}
.sOne-getpasscode { height:35px;width:35%; color:#999; float:right; border:solid 1px #bfbfbf;text-shadow:0px 1px 0px #fff;-webkit-text-shadow:0px 1px 0px #fff;-moz-text-shadow:0px 1px 0px #fff;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;background:#eeeeee;-webkit-appearance:none;}
.sOne-loginInput-btn{ width:100%; height:38px;color:#fff; font-size:18px; cursor:pointer; border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-webkit-appearance:none; background:#e81a34;}
.sOne-loginInput-code {height:37px;width:35%; color:#909090; float:right; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.close-loginForm { width:26px; height:26px; display:block; position:absolute; right:0px; top:0px; text-align:center; line-height:26px; font-size:38px; color:#aaa;transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
.loginFormwap .close-loginForm { width:26px; height:26px; display:block; position:absolute; right:0px; top:0px; text-align:center; line-height:26px; font-size:38px; color:#aaa;transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
#container.alone { height:100% !important;}
.loginForm.alone { top:0;}
#footer2 { text-align:center; padding:5px 0; background:#f7f7f7; position:absolute; bottom:0; left:0; width:100%;}
#footer2 .myMicRight { margin:0 45px;}
#footer2 .myMicRight p{ text-align:center;color:#999;white-space: nowrap;text-overflow: ellipsis; overflow:hidden;font-size:10px; line-height:14px;}
#footer2 .myMicRight p span{ color:#999; font-size:10px;}
#footer2 .myMicRight a { color:#999; font-size:10px;}