@charset "utf-8";
/* CSS 电子海报 */

html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}
h1{color:#fe5502;}
h2{color:#888;text-align:left;}
h3{color:#444;}
h4{color:#444;text-align:left;}
* {-webkit-tap-highlight-color:rgba(0,0,0,0)}

a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center !important;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1;}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:100%; margin:0 auto; max-width:640px;background:#fff;}
#container {height:100%; min-height:100%;}
#header { height:30px; overflow:hidden;z-index:1; position:relative;text-align:center; padding:7px; border-bottom:solid 1px #dcdcdc;}
#main { height:100%; position:relative;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:5px 0 5px 0;text-align:center;color:#5c5c5c;background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%); font-size:12px; line-height:20px;}
#footer p a{ color:#5c5c5c;}
.shopBoxView { text-align:left;}

.Gloading {width:100%; height:100%; position:fixed; top:0; left:0;background:#fffce5; z-index:100000;}
.Gloading img { position:fixed; top:50%; margin-top:-102px; left:50%; margin-left:-160px; width:320px; height:205px;}
.Gloading .progress {position:fixed; left:50%; margin-left:-100px;width:200px; height:10px; top:50%; margin-top:110px; border:solid 1px #ce9872; border-radius:6px; overflow:hidden;}
.Gloading .progress i { position:absolute; z-index:0; top:0; display:block;width:100%; height:10px;right:100%; background:#ce9872; border-radius:5px;transition:right 1s;}
.Gloading .progress p { position:relative; z-index:1;color:#a4371d; line-height:10px; font-size:12px;}

/*shopModBox-13之前的在Wshop.css中,此处把shopModBox原改为Mod*/
.ModCon { width:100%; height:100%; overflow:hidden;}
.ModCon .Modwapper { width:100%; height:100%; overflow:hidden;}
.ModCon .Modwapper .Modlist { position:relative; width:100%; height:100%; overflow:hidden; float:left;}
.ModCon .Modwapper .Modlist>img { position:absolute; top:0; left:0; width:100%; height:auto; min-height:100%;}
.iconHand { position:absolute; z-index:3; bottom:10px; left:50%; margin-left:-24px; width:48px; height:48px; background:url(../../Image/poster/icon-hand.png) no-repeat center 0px; opacity:0.7;}
.iconHand { -webkit-animation:iconHand 1.5s infinite ease;}
@-webkit-keyframes iconHand
{
	0%{-webkit-transform:translate(0,0px);}
	100%{-webkit-transform:translate(0,-60px);}
}
.music { position: absolute; z-index:2; top:10px; right:10px; padding:5px; width:12px; height:12px; border-radius:20px; border:solid 1px #fff; opacity:0.8;}
.music i { display:block; width:12px; height:12px; background:url(../Image/Shop/shopMusic.png) no-repeat 0 0; background-size:100% 100%;}
.music.on i { -webkit-animation:music 1.5s infinite linear;}
.music.on span { position:absolute; top:2px; right:2px; width:10px; height:10px; background:url(../Image/Shop/shopMusic.png) no-repeat 0 0; background-size:100% 100%; opacity:0.8; -webkit-animation:music1 1.5s infinite linear;}
.music.on em { position:absolute; top:-4px; right:-4px; width:8px; height:8px; background:url(../Image/Shop/shopMusic.png) no-repeat 0 0; background-size:100% 100%; opacity:0.8; -webkit-animation:music2 1.5s infinite linear;}
.btn-Hotrecommend { position:absolute; bottom:0; left:0; padding:6px 0 6px 0; width:100%;background:rgba(0,0,0,0.8); text-align:center;-webkit-transform:translate(0,80px);}
.btn-Hotrecommend a { display:inline-block; width:120px; height:35px;margin:0 10px; overflow:hidden; line-height:35px; border-radius:5px; font-size:16px;color: #fff;text-shadow: 0px 1px 0px rgba(0,0,0,0.3);background: #fed76e;background: -webkit-gradient(linear, left top, left bottom, from(#ff7c00), to(#ff5500));box-shadow: 0 3px 3px rgba(0,0,0,0.5);}
.btn-Hotrecommend a.last {background: #dd0007;background: -webkit-gradient(linear, left top, left bottom, from(#ff1600), to(#dd0007));}
.btn-Hotrecommend a.last:hover {background: -webkit-gradient(linear, left top, left bottom, from(#dd0007), to(#ff1600));box-shadow: 0 3px 3px rgba(0,0,0,0.5);}
.btn-Hotrecommend a:hover {background: -webkit-gradient(linear, left top, left bottom, from(#ff5500), to(#ff7c00));box-shadow: 0 3px 3px rgba(0,0,0,0.5);}
.swiper-slide-visible .btn-Hotrecommend {-webkit-animation:Hotrecommend 0.5s 1.5s forwards linear;}

.swiper-slide { position:relative; width:100%; height:100%; overflow:hidden;}
.swiper-slide>div { position:relative; line-height:0;}
.swiper-slide .img { width:100%; height:auto;-webkit-user-select:none;}
.page1 { background:#fefdfd url(../Image/Item/ymr8-1.jpg) no-repeat center center; background-size:100% auto;}
.page2,.page14 { background:#fefdfd url(../Image/Item/ymr8-7.jpg) no-repeat 0 0; background-size:100% auto;}
.page3 { background:#8dd6ff url(../Image/Item/ymr8-9.png) no-repeat 0 0; background-size:100% auto;}
.page4 { background:#cc252d url(../Image/Item/ymr8-11.png) no-repeat 0 0; background-size:100% auto;}
.page5 { background:#000 url(../Image/Item/ymr8-13.png) no-repeat 0 0; background-size:100% auto;}
.page6 { background:#144278 url(../Image/Item/ymr8-15.png) no-repeat 0 0; background-size:100% auto;}
.page7 { background:#fff url(../Image/Item/jjys-7.jpg) no-repeat 0 bottom; background-size:100% auto;}
.page8 { background:#fff url(../Image/Item/jjys-20.jpg) no-repeat 0 bottom; background-size:100% auto;}
.page9 { background:#e7333a url(../Image/Item/ymr7-24.png) no-repeat 0 0; background-size:100% auto;}
.page10 { background:#3d373a url(../Image/Item/ymr8-19.jpg) no-repeat 0 0; background-size:100% auto;}
.page11 { background:#3d79b7 url(../Image/Item/ymr8-22.png) no-repeat 0 0; background-size:100% auto;}
.page13 { background:#f3ecd0 url(../Image/Item/ymr8-23.png) no-repeat 0 0; background-size:100% auto;}
.page12 { background:#df3f41;}


@-webkit-keyframes Hotrecommend
{
	0%{-webkit-transform:translate(0,80px);}
	100%{-webkit-transform:translate(0,0);}
}
	/*模板*/
	
	/*模板*/

@-webkit-keyframes music
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes music1
{
	0%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	10%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	50%{-webkit-transform:rotate(15deg) translate(5px,-5px); opacity:0.8;}
	100%{-webkit-transform:rotate(30deg) translate(10px,-10px); opacity:0;}
}
@-webkit-keyframes music2
{
	0%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	40%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	80%{-webkit-transform:rotate(-30deg) translate(7px,-7px); opacity:0.4;}
	100%{-webkit-transform:rotate(-60deg) translate(14px,-14px); opacity:0;}
}
.ymr-2 { position:absolute; z-index:2; top:0; left:0; width:100%; height:auto;}
.page1-1 { margin-top:5%;}
.swiper-slide>div.page1-2 { position: absolute; top:40%; left:0; width:100%;}
.page1-2 .ymr-1-1 { position:relative;}
.page1-2 .ymr-1-2 { position:absolute; top:0; left:0;}
.page1-2 .ymr-1-3 { position:absolute; top:0; left:0;}
.page1 p.p2 { position:absolute; bottom:10px; left:0; width:100%; tex=t-align:center; font-size:14px; color:#e4b0b5;}
.swiper-slide-active .ymr-1-1 {-webkit-animation:ymr-1-1 2s 0.4s infinite linear;}
.swiper-slide-active .ymr-1-2 {-webkit-animation:ymr-1-2 2s 0.4s infinite linear;}
.swiper-slide-active .ymr-1-3 {-webkit-animation:ymr-1-2 2s 0.4s infinite linear;}
.swiper-slide-active .ymr-1-2 img {-webkit-animation:ymr-1-2-img 2s 0.4s infinite linear;}
.swiper-slide-active .ymr-1-3 img {-webkit-animation:ymr-1-3-img 2s 0.4s infinite linear;}

@-webkit-keyframes ymr-1-1{
	0%{-webkit-transform:translate(0px,0px);}
	50%{-webkit-transform:translate(0,-10px);}
	100%{-webkit-transform:translate(0,0);}
}
@-webkit-keyframes ymr-1-2{
	0%{-webkit-transform:translate(0px,0px);}
	50%{-webkit-transform:translate(0,-15px);}
	100%{-webkit-transform:translate(0,0);}
}
@-webkit-keyframes ymr-1-2-img{
	0%{-webkit-transform:scale(1,1) rotate(0deg);}
	50%{-webkit-transform:scale(0.9,1) rotate(-3deg);}
	100%{-webkit-transform:scale(1,1) rotate(0deg);}
}
@-webkit-keyframes ymr-1-3-img{
	0%{-webkit-transform:scale(1,1) rotate(0deg);}
	50%{-webkit-transform:scale(0.9,1) rotate(3deg);}
	100%{-webkit-transform:scale(1,1) rotate(0deg);}
}
.swiper-slide>div.page2-1 { margin-top:15%; height:30px; line-height:28px; color:#bb0931; font-size:20px; font-weight:bold;}
.swiper-slide>div.page2-2 { position: relative;z-index:2; margin:0 10px 0 20px; height:175px; overflow: hidden; backface-visibility: hidden;}
.swiper-slide>div.page2-2 .swiper-slide { height:auto; overflow:hidden;}
.swiper-slide>div.page2-2 .slide-inner { margin-right:10px; height:auto;line-height:25px; color:#333; font-size:14px; line-height:25px; text-align:left;}
.swiper-scrollbar { background:#f5c9d7; position:absolute; right:0px; top:0; height:100%; width:5px; border-radius:3px; opacity:0.8;}
.swiper-scrollbar .swiper-scrollbar-drag { background:#e78ca7; border-radius:3px;}
.ymr-2-1 { position:absolute; bottom:-10%; left:0; z-index:0;}


.page3-1 { position:relative; margin:0 20px; margin-top:12%;}
.page3-1 img { opacity:0;}
.page3 .page3-2 { margin:10px 20px 0 20px; opacity:0;}
.page3 .page3-2 h2 { padding:10px 0 5px 0; line-height:20px; text-align:center; font-size:14px; font-weight:bold; color:#444;}
.page3 .page3-2 p { margin-top:0px; font-size:14px; padding-bottom:0; line-height:19px; text-align:left;}
.swiper-slide-active .page3-1 img {-webkit-animation:opacity2 1.2s 0.2s forwards linear;}
.swiper-slide-active .page3-2 {-webkit-animation:opacity3 1.2s 0.8s forwards linear;}

.page4-1 { position:relative; top:15%; height:auto;}
.page4-1 img { opacity:0;}
.page4 .page4-2 { opacity:0; position:relative; top:20%; margin:0 10px; height:auto; padding-bottom:20px;}
.page4 .page4-2 h2 { padding:5px 0 20px 0; line-height:20px; text-align:center; font-size:18px; font-weight:bold; color:#fff;}
.page4 .page4-2 p { line-height:20px; text-align:left; color:#fff; margin:0 10px; padding-bottom:10px; font-size:14px;}
.page4 .page4-2 p span { color:#face27;}
.swiper-slide-active .page4-1 img {-webkit-animation:opacity2 1.2s 0.2s forwards linear;}
.swiper-slide-active .page4-2 {-webkit-animation:opacity3 1.2s 0.8s forwards linear;}

.page5-1 { position:relative; top:8%; margin:0 0; height:auto;}
.page5-1 img {}
.page5 .page5-2 { opacity:0; position:relative; top:5%; margin:0 20px; height:auto;}
.page5 .page5-2 h2 { padding:10px 0; height:auto; overflow:hidden;}
.page5 .page5-2 h2 p { line-height:25px; text-align:center; font-size:18px; font-weight:bold; color:#fff;}
.page5 .page5-2 p span { color:#a5509a;}
.page5 .page5-2 p { line-height:20px; text-align:left; color:#fff; font-size:14px;}
.swiper-slide-active .page5-1 img {-webkit-animation:page5-1 2s 0.2s infinite linear;}
.swiper-slide-active .page5-2 {-webkit-animation:opacity3 1.2s 0.2s forwards linear;}
.swiper-slide-active .page5-2 p span {-webkit-animation:page5-2 2s 0.2s infinite linear;}
@-webkit-keyframes page5-1{
	0%{ opacity:1;}
	50%{ opacity:0.7;}
	100%{ opacity:1;}
}
@-webkit-keyframes page5-2{
	0%{ color:#a5509a;}
	50%{ color:#5076a5;}
	100%{ color:#a5509a;}
}

.page6-1 { position:relative; top:10%; left:0; width:100%; height:auto;}
.page6-1 { position:relative; z-index:5; opacity:0;}
.page6-1 .ymr-6-1 { position:relative; z-index:4; top:0; left:0;}
.page6-2 { opacity:0; position:relative; top:5%; margin:0 20px; height:auto;}
.page6-2 h2 { padding:10px 0; height:auto; overflow:hidden; line-height:25px; text-align:center; font-size:18px; font-weight:bold; color:#fff;}
.page6-2 p span { color:#a5509a;}
.page6-2 p { line-height:20px; text-align:left; color:#fff; font-size:14px;}
.page6-2 a { margin-top:10px;}
.swiper-slide-visible .page6-1 {-webkit-animation:opacity2 1.2s 0.3s forwards linear;}
.swiper-slide-active .page6-2 {-webkit-animation:opacity3 1.2s 0.8s forwards linear;}

.dzq-7-0 { position:absolute; z-index:5; top:0; left:0;}
.page7-1 { position:relative; z-index:2; height:42%;}
.page7-1 .tree1.img { position:absolute;top:0; left:0; width:60%;}
.page7-1 .title { position:absolute; top:5%; left:0; width:100%;}
.page7-1 .title1 { position:relative; top:0; left:0; width:100%;}
.page7-1 .title2,
.page7-1 .title3,
.page7-1 .title4 { position:absolute; top:0; left:0; width:100%;}
.page7-1 .boy { position:absolute; top:1%; right:0; width:32%;}
.swiper-slide-visible .page7-1 .title {-webkit-animation:title 0.6s 0.2s forwards linear;opacity:0;}
.swiper-slide-visible .page7-1 .title3 {-webkit-animation:title3 0.2s 1s forwards linear;}
.swiper-slide-visible .page7-1 .title4 {-webkit-animation:title4 0.1s 1.1s forwards linear; opacity:0;}
.swiper-slide-visible .page7-1 .boy {-webkit-animation:boy 4s 0.9s infinite linear;}
.page7-2 { position:relative; z-index:1; height:auto; overflow:hidden;}
.page7-2 .p1 { line-height:25px; color:#70483f;}
.page7-2 .p2 { margin:0 30px; color:#6fa65c; line-height:25px; border-top:solid 1px #6fa65c; border-bottom:solid 1px #6fa65c;}
.page7-2 .p3 { position:relative; margin:10px 15px; background:#f5e9e5; text-align:left; border-radius:5px; padding:10px; font-size:12px;}
.page7-2 .p3:after { position:absolute; top:-25px; right:-15px; width:48px; height:48px; background-image:url(../Image/Item/ymr8-17.png); background-repeat:repeat; background-size:100% auto; content:"";}
.page7-2 .p3 p { color:#70483f; line-height:20px;}
.page7-2 .p3 p b { font-weight:bold;}
.page7-3 { position:relative; z-index:4;}
.page7-3 p { line-height:30px; color:#fff; font-size:14px;}
.page7-3 p a { position:relative; display:inline-block; width:60%; height:40px; line-height:40px; overflow:hidden; background:#387725; color:#fff; border-radius:5px; box-shadow:0 5px 0 rgba(0,0,0,0.1);}
.page7-3 p a span { position:relative; z-index:2; color:#fff; font-size:16px;}
.page7-3 p a:after { position:absolute; left:-20%; top:-35px; width:140%; height:60px; border-radius:50%; content:""; background:#4e9b37;}

@-webkit-keyframes title{
	0%{-webkit-transform: translate(0,-300px);opacity:0;}
	40%{-webkit-transform: translate(0,0);opacity:1;}
	50%{-webkit-transform: translate(0,10px);opacity:1;}
	60%{-webkit-transform: translate(0,0px);opacity:1;}
	70%{-webkit-transform: translate(0,-5px);opacity:1;}
	80%{-webkit-transform: translate(0,4px);opacity:1;}
	100%{-webkit-transform: translate(0,0);opacity:1;}
}
@-webkit-keyframes title3{
	0%{-webkit-transform: rotate(0deg) translate(0,0);}
	50%{-webkit-transform: rotate(5deg) translate(3px,3px);}
	100%{-webkit-transform: rotate(5deg) translate(6px,6px);}
}
@-webkit-keyframes title4{
	0%{-webkit-transform: scale(0,0); opacity:0;}
	100%{-webkit-transform: scale(1,1); opacity:1;}
}
@-webkit-keyframes boy{
	0%{ right:0%;-webkit-transform: scale(1,1);}
	50%{ right:60%;-webkit-transform: scale(1,1);}
	51%{ right:60%;-webkit-transform: scale(-1,1);}
	100%{ right:0%;-webkit-transform: scale(-1,1);}
}

.dzq-8-0 { position:absolute; z-index:5; top:0; left:0;}
.swiper-slide>div.page8-1 { position: absolute; top:0; left:0; width:100%; height:100%; z-index:2;}
.swiper-slide>div.page8-3 { position: relative; margin-top:-25%; z-index:3; background-image:url(../Image/Item/jjys-21.png); background-repeat:repeat; background-size:100% auto;}
.page8-3 .dzq-8-5 { position:absolute; top:0; left:0; opacity:0;}
.page8-2 { position:relative; z-index:2; top:-5%; opacity:0;}
.page8-3 .dzq-8-3 { position: relative; top:0; left:0; opacity:0;}
.page8-3 .dzq-8-5 { position:absolute; top:0; left:0; opacity:0;}
.page8-4 { position:relative; z-index:2; margin:-8% 15px 0 15px; background:rgba(255,255,255,.8); text-align:left; border-radius:5px; padding:5px 10px; font-size:12px;}
.page8-4:after { position:absolute; top:-25px; right:-15px; width:48px; height:48px; background-image:url(../Image/Item/ymr8-18.png); background-repeat:repeat; background-size:100% auto; content:"";}
.page8-4 p { color:#70483f; line-height:20px;}
.page8-4 p b { font-weight:bold;}
.page8-5 { position:relative; z-index:4; margin-top:5px;}
.page8-5 p a { position:relative; display:inline-block; width:60%; height:40px; line-height:40px; overflow:hidden; background:#df0008; color:#fff; border-radius:5px; box-shadow:0 5px 0 rgba(0,0,0,0.1);}
.page8-5 p a span { position:relative; z-index:2; color:#fff; font-size:16px;}
.page8-5 p a:after { position:absolute; left:-20%; top:-35px; width:140%; height:60px; border-radius:50%; content:""; background:#ff2a32;}
.swiper-slide-visible .page8-2 {-webkit-animation:opacity2 1s 2.3s forwards linear;}
.swiper-slide-visible .page8-3 .dzq-8-3 {-webkit-animation:translate1 1.5s 2.3s forwards linear;}
.swiper-slide-visible .page8-3 .dzq-8-5 {-webkit-animation:scale 0.5s 3.3s forwards linear;}
.swiper-slide-visible .page8-3 {-webkit-animation:page3-3 40s 0.3s forwards linear;}
.swiper-slide-visible .page8-1 {-webkit-animation:flag 2s 0.3s infinite linear; -webkit-transform-origin:23% center;}
.swiper-slide-visible .page8-1 .dzq-8-1 {-webkit-animation:flagimg 2s 0.3s forwards ease; opacity:0; -webkit-transform-origin:23% bottom;}
@-webkit-keyframes scale{
	0%{-webkit-transform:scale(0,0); opacity:0;}
	50%{-webkit-transform:scale(1.1,1.1); opacity:1;}
	75%{-webkit-transform:scale(0.95,0.95); opacity:1;}
	100%{-webkit-transform:scale(1,1); opacity:1;}
}
@-webkit-keyframes page3-3 {
	0%{ background-position:0 0;}
	100%{ background-position:1000px 0px;}
}
@-webkit-keyframes flag{
	0%{-webkit-transform: scale(1,1);}
	50%{-webkit-transform: scale(0.95,1);}
	100%{-webkit-transform: scale(1,1);}
}
@-webkit-keyframes flagimg{
	0%{ -webkit-transform:rotate(90deg) translate(0,0); opacity:0;}
	100%{ -webkit-transform:rotate(-10deg) translate(40px,0); opacity:1;}
}
@-webkit-keyframes translate1{
	0%{-webkit-transform: translate(400px,0); opacity:0;}
	50%{-webkit-transform: translate(-10px,0); opacity:1;}
	75%{-webkit-transform: translate(5px,0); opacity:1;}
	100%{-webkit-transform: translate(0px,0); opacity:1;}
}

.page9 h2 { opacity:0; position:relative; margin-top:8%; left:0; width:100%; height:auto; line-height:30px; color:#fff; font-size:18px; text-align:center; font-weight:bold; padding-bottom:10px;}
.page9 h2 span { font-weight:normal;}
.page9-2 { position:relative; line-height:20px; color:#634400; opacity:0;}
.page9-2 p { padding-top:10px; position:relative; margin:0 10px; line-height:18px; text-align:left; color:#fff; font-size:12px;}
.page9-2 p span { color:#f8f265;}
.page9-1 .ymr-9-1 { position:relative; z-index:4; top:0; left:0; opacity:0;}
.page9-1 .ymr-9-2 { position:absolute; z-index:2; top:0; left:0; opacity:0;}
.swiper-slide-visible.page9 h2 {-webkit-animation:opacity2 0.7s 0.2s forwards linear;}
.swiper-slide-visible .page9-2 {-webkit-animation:opacity3 1s 1.7s forwards linear;}
.swiper-slide-visible .page9-1 .ymr-9-1 {-webkit-animation:opacity2 1s 1s forwards linear;}
.swiper-slide-visible .page9-1 .ymr-9-2 {-webkit-animation:opacity2 1s 1s forwards linear;}

.page10-1 { opacity:0; position:relative; left:0; margin:0 20px; margin-top:10%;}
.page10-1 .ymr-10-1 { position:relative; z-index:2; top:0; left:0;}
.page10-2 { margin-top:3%; position:relative; line-height:20px; color:#fff; opacity:0;}
.page10-2 h3 { margin:0 20px;padding-bottom:5px; line-height:25px; font-weight:bold; color:#fff; font-size:22px;}
.page10-2 h3 span { font-weight:bold; font-size:16px;}
.page10-2>p { position:relative; margin:0 10px; padding-bottom:10px; line-height:18px; text-align:left; color:#fff; font-size:14px;}
.swiper-slide-visible .page10-1 {-webkit-animation:opacity2 1s 0.2s forwards linear;}
.swiper-slide-visible .page10-2 {-webkit-animation:opacity3 1s 1s forwards linear;}

.page11-1 { position:relative; height:auto; margin-top:10%;}
.page11 p { position:absolute; margin:0 10px; margin-top:8%; color:#fff; line-height:20px; font-size:14px; text-align:left; opacity:0;}
.page11-1 .ymr-11-1 { position: relative; top:0; left:0; opacity:0;}
.swiper-slide-visible .ymr-11-1 {-webkit-animation:opacity2 2s 0.2s forwards linear;}
.swiper-slide-visible.page11 p {-webkit-animation:opacity3 1s 1s forwards linear;}

.page13-1 { position:relative; height:auto; margin-top:10%;}
.page13-1 .ymr-13-1 { position: relative; top:0; left:0; opacity:0;}
.page13-1 .ymr-13-2 { position: relative; top:0; left:0; opacity:0; margin-top:-3%;}
.page13-1 .ymr-13-3 { position: relative; top:0; left:0; opacity:0; margin-top:-4%;}
.page13-1 .ymr-13-4 { position: relative; top:0; left:0; opacity:0; margin-top:-3%;}
.swiper-slide-visible .ymr-13-1 {-webkit-animation:translateX4 2s 0.2s forwards linear;}
.swiper-slide-visible .ymr-13-2 {-webkit-animation:translateX3 2s 1.2s forwards linear;}
.swiper-slide-visible .ymr-13-3 {-webkit-animation:translateX4 2s 2.2s forwards linear;}
.swiper-slide-visible .ymr-13-4 {-webkit-animation:translateX3 2s 3.2s forwards linear;}


.swiper-slide .img.ymr-14-1 { position: absolute; top:10%; left:0; opacity:0;}
.swiper-slide .img.ymr-14-2 { position: absolute; z-index:1; top:10%; right:12%; width:167px; -webkit-transform:rotate(6deg); opacity:0;}
.swiper-slide .img.ymr-14-3 { position: absolute; z-index:2; top:35%; right:35%; width:167px; -webkit-transform:rotate(-12deg); opacity:0;}
.swiper-slide .img.ymr-14-4 { position: absolute; z-index:3; top:60%; right:8%; width:167px; -webkit-transform:rotate(12deg); opacity:0;}
.swiper-slide-visible .ymr-14-1 {-webkit-animation:opacity 2s 5s forwards linear;}
.swiper-slide-visible .ymr-14-2 {-webkit-animation:ymr-14-2 2s 0.2s forwards linear;}
.swiper-slide-visible .ymr-14-3 {-webkit-animation:ymr-14-3 2s 1.8s forwards linear;}
.swiper-slide-visible .ymr-14-4 {-webkit-animation:ymr-14-4 2s 3.4s forwards linear;}
@-webkit-keyframes ymr-14-2{
	0%{-webkit-transform: scale(1.2,1.2) perspective(600px) translate(30px,-30px) rotate(6deg) rotateX(-20deg) rotateY(-20deg); opacity:0.40;}
	50%{-webkit-transform: scale(1.1,1.1) perspective(600px) translate(-20px,20px) rotate(6deg) rotateX(20deg) rotateY(20deg); opacity:0.60;}
	100%{-webkit-transform: scale(1,1) perspective(600px) translate(0,0) rotate(6deg) rotateX(0deg) rotateY(0deg); opacity:1;}
}
@-webkit-keyframes ymr-14-3{
	0%{-webkit-transform: scale(1.2,1.2) perspective(600px) translate(-30px,30px) rotate(-12deg) rotateX(20deg) rotateY(20deg); opacity:0.40;}
	50%{-webkit-transform: scale(1.1,1.1) perspective(600px) translate(20px,-20px) rotate(-12deg) rotateX(-20deg) rotateY(-20deg); opacity:0.60;}
	100%{-webkit-transform: scale(1,1) perspective(600px) translate(0,0) rotate(-12deg) rotateX(0deg) rotateY(0deg); opacity:1;}
}
@-webkit-keyframes ymr-14-4{
	0%{-webkit-transform: scale(1.2,1.2) perspective(600px) translate(30px,-30px) rotate(12deg) rotateX(-20deg) rotateY(-20deg); opacity:0.40;}
	50%{-webkit-transform: scale(1.1,1.1) perspective(600px) translate(-20px,20px) rotate(12deg) rotateX(20deg) rotateY(20deg); opacity:0.60;}
	100%{-webkit-transform: scale(1,1) perspective(600px) translate(0,0) rotate(12deg) rotateX(0deg) rotateY(0deg); opacity:1;}
}

.ymr-22 { position:relative; margin:0 auto; width:100%; opacity:0;}
.swiper-slide-visible .ymr-22 {-webkit-animation:scale2 1s 0.5s forwards linear;}
.page12 a { position:absolute; left:50%; margin-left:-100px; bottom:20px; width:200px; height:40px; line-height:40px; font-size:18px; border:solid 1px #ffee04; border-radius:5px; background:none; color:#ffee04; opacity:0;}
.page12 a:hover {-webkit-animation:btn 0.4s forwards ease;}
.swiper-slide-visible.page12 a {-webkit-animation:opacity3 1s 1s forwards linear;}

a.btn-all { margin:0 auto; position:relative; display:inline-block; width:60%; height:40px; line-height:40px; overflow:hidden; background:#387725; color:#fff; border-radius:5px; text-align:center;}
a.btn-all span { position:relative; z-index:2; color:#fff; font-size:16px;}
a.btn-all:after { position:absolute; z-index:1; left:-20%; top:-35px; width:140%; height:60px; border-radius:50%; content:""; background:#4e9b37;}

a.btn-all.btn1 { background:#b5222f;}
a.btn-all.btn1:after { background:#bd3944;}
a.btn-all.btn2 { background:#387725;}
a.btn-all.btn2:after { background:#4e9b37;}
a.btn-all.btn3 { background:#df0008;}
a.btn-all.btn3:after { background:#ff2a32;}
a.btn-all.btn4 { background:#d67314;}
a.btn-all.btn4:after { background:#de8f43;}
a.btn-all.btn5 { background:#ffb400;}
a.btn-all.btn5:after { background:#ffcb4d;}

@-webkit-keyframes jump1{
	0%{-webkit-transform:translate(0,0px);}
	25%{-webkit-transform:translate(0,-3px);}
	50%{-webkit-transform:translate(0,0px);}
	75%{-webkit-transform:translate(0,3px);}
	100%{-webkit-transform:translate(0,0px);}
}
@-webkit-keyframes jump2{
	0%{-webkit-transform:translate(0,0px);}
	25%{-webkit-transform:translate(0,3px);}
	50%{-webkit-transform:translate(0,0px);}
	75%{-webkit-transform:translate(0,-3px);}
	100%{-webkit-transform:translate(0,0px);}
}
@-webkit-keyframes jumpX1{
	0%{-webkit-transform:translate(0,0px);}
	10%{-webkit-transform:translate(5px,0);}
	20%{-webkit-transform:translate(0,0px);}
	30%{-webkit-transform:translate(-5px,0);}
	40%{-webkit-transform:translate(0,0);}
	50%{-webkit-transform:translate(3px,0px);}
	60%{-webkit-transform:translate(0,0);}
	70%{-webkit-transform:translate(-3px,0px);}
	80%{-webkit-transform:translate(0,0);}
	90%{-webkit-transform:translate(1px,0);}
	100%{-webkit-transform:translate(0,0px);}
}
@-webkit-keyframes rotate1{
	0%{-webkit-transform: rotate(0deg);}
	25%{-webkit-transform: rotate(6deg);}
	50%{-webkit-transform: rotate(0deg);}
	75%{-webkit-transform: rotate(3deg);}
	100%{-webkit-transform: rotate(0deg);}
}
@-webkit-keyframes rotate2{
	0%{-webkit-transform: rotate(0deg);}
	25%{-webkit-transform: rotate(3deg);}
	50%{-webkit-transform: rotate(0deg);}
	75%{-webkit-transform: rotate(-3deg);}
	100%{-webkit-transform: rotate(0deg);}
}
@-webkit-keyframes rotate3{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(-10deg);}
}
@-webkit-keyframes rotate4{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(10deg);}
}
@-webkit-keyframes btn{
	0%{-webkit-transform:scale(1,1) translateY(0);}
	50%{-webkit-transform:scale(.98,.98) translateY(3px);}
	100%{-webkit-transform:scale(1,1) translateY(0);}
}
@-webkit-keyframes bg{
	0%{ background-position:0 0 ;}
	100%{ background-position:6000px 0 ;}
}
@-webkit-keyframes bg2{
	0%{ background-image:url(../Image/Item/ymr5-8.png) ;}
	100%{ background-image:url(../Image/Item/ymr5-9.png) ;}
}
@-webkit-keyframes show {
	0%{ opacity:0;}
	100%{ opacity:1;}
}
@-webkit-keyframes opacity {
	0%{ opacity:0;}
	100%{ opacity:1;}
}
@-webkit-keyframes opacity2 {
	0%{ opacity:0; -webkit-transform:translateY(-120px);}
	100%{ opacity:1; -webkit-transform:translateY(0px);}
}
@-webkit-keyframes scale {
	0% {opacity:0;-webkit-transform: scale(10,10);}
	20% {opacity:1;-webkit-transform: scale(1,1);}
	40% {opacity:1;-webkit-transform: scale(0.9,0.9);}
	60% {opacity:1;-webkit-transform: scale(1.1,1.1);}
	80% {opacity:1;-webkit-transform: scale(0.95,0.95);}
	100% {opacity:1;-webkit-transform: scale(1,1);}
}
@-webkit-keyframes scale2 {
	0% {opacity:0;-webkit-transform: scale(0);}
	20% {opacity:1;-webkit-transform: scale(1);}
	40% {opacity:1;-webkit-transform: scale(1.1);}
	60% {opacity:1;-webkit-transform: scale(0.95);}
	80% {opacity:1;-webkit-transform: scale(1.05);}
	100% {opacity:1;-webkit-transform: scale(1);}
}
@-webkit-keyframes scale3 {
	0% {opacity:0;-webkit-transform: scale(0);}
	100% {opacity:1;-webkit-transform: scale(1.3);}
}
@-webkit-keyframes opacity3 {
	0%{ opacity:0; -webkit-transform:translateY(120px);}
	100%{ opacity:1; -webkit-transform:translateY(0px);}
}
@-webkit-keyframes wobble {
	0% {-webkit-transform: translateX(0px);}
	20% {-webkit-transform: translateX(-20px) rotate(-5deg);}
	40% {-webkit-transform: translateX(15px) rotate(3deg);}
	60% {-webkit-transform: translateX(-10px) rotate(-3deg);}
	80% {-webkit-transform: translateX(5px) rotate(2deg);}
	100% {-webkit-transform: translateX(0px) rotate(-1deg);}
}
@-webkit-keyframes rotate{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes translateX2 {
	0% { opacity:0;-webkit-transform: translateX(200px);}
	50% { opacity:0.3;-webkit-transform: translateX(100px);}
	100% { opacity:1;-webkit-transform: translateX(0px);}
}
@-webkit-keyframes translateX3 {
	0% { opacity:0;-webkit-transform: translateX(-300px);}
	33% { opacity:1;-webkit-transform: translateX(20px);}
	66% { opacity:1;-webkit-transform: translateX(-10px);}
	100% { opacity:1;-webkit-transform: translateX(0px);}
}
@-webkit-keyframes translateX3 {
	0% { opacity:0;-webkit-transform: translateX(-200px);}
	66% { opacity:1;-webkit-transform: translateX(5px);}
	88% { opacity:1;-webkit-transform: translateX(-2px);}
	100% { opacity:1;-webkit-transform: translateX(0px);}
}
@-webkit-keyframes translateX4 {
	0% { opacity:0;-webkit-transform: translateX(200px);}
	66% { opacity:1;-webkit-transform: translateX(-5px);}
	88% { opacity:1;-webkit-transform: translateX(2px);}
	100% { opacity:1;-webkit-transform: translateX(0px);}
}
@-webkit-keyframes translateY {
	0% {-webkit-transform: translateY(0px);}
	40% {-webkit-transform: translateY(-6px);}
	60% {-webkit-transform: translateY(0px);}
	80% {-webkit-transform: translateY(14px);}
	100% {-webkit-transform: translateY(0px);}
}
@-webkit-keyframes translateY2 {
	0% { opacity:0;-webkit-transform: translateX(-80px);}
	50% { opacity:0.3;-webkit-transform: translateX(-40px);}
	100% { opacity:1;-webkit-transform: translateX(0px);}
}
@-webkit-keyframes scaleY {
	0% {opacity:0;-webkit-transform: scaleY(0);}
	20% {opacity:1;-webkit-transform: scaleY(1);}
	40% {opacity:1;-webkit-transform: scaleY(1.2);}
	60% {opacity:1;-webkit-transform: scaleY(0.8);}
	80% {opacity:1;-webkit-transform: scaleY(1.1);}
	100% {opacity:1;-webkit-transform: scaleY(1);}
}
@media screen and (min-width: 320px) and (min-height: 500px){
	.swiper-slide>div.page1-2 {top:38%;}
	.swiper-slide>div.page2-2 {height:225px;}
	.ymr-2-1 { bottom:0%;}
	.page3-1 { margin-top:21%;}
	.page3 .page3-2 p {line-height:22px;}
	.page4-1 {top: 18%;}
	.page4 .page4-2 {top: 25%;}
	.page5 .page5-2 {top: 15%;}
	.page6-1 {top: 15%;}
	.page6-2 {top: 15%;}
	.page6-2 a { margin-top:10px;}
	.page7-1 {height:45%;}
	.page7-1 .tree1.img {width:100%;}
	.page7-1 .title {top:25%;}
	.page7-2 .p3 { margin: 10px 15px 20px 15px;}
	.swiper-slide>div.page8-1 { top:5%;}
	.page8-2 { top:0%;}
	.swiper-slide>div.page8-3 { margin-top: -15%;}
	.page8-4 {margin: -5% 15px 0 15px; padding:10px;}
	.page8-5 {margin-top: 15px;}
	.page9-1 { margin-bottom:1%;font-size:20px;}
	.page9 h2 { margin-top: 14%;}
	.page9 .page9-2 h2 { padding-top:10px; padding-bottom:10px; line-height:30px; font-size:20px;}
	.page9 .page9-2 h2 span { font-size:24px;}
	.page9 .page9-2 p { padding-top:10px; line-height:25px;margin:0 20px;}
	.page10-1 {  margin: 0 20px;margin-top:17%;}
	.page10-2 { margin-top:5%;}
	.page10-2 h3 { line-height:30px;}
	.page10-2>p { line-height:20px;  margin: 0 20px;}
	.page11 p { margin-top: 8%;line-height: 25px; font-size: 14px;}
	.page13-1 { margin-top:18%;}
	.page13-1 .ymr-13-2 { margin-top:0%;}
	.page13-1 .ymr-13-3 { margin-top:0%;}
	.page13-1 .ymr-13-4 { margin-top:0%;}
}
@media screen and (min-width: 375px) and (min-height: 600px){
	.page1-1 {margin-top:13%;}
	.swiper-slide>div.page1-2 {top:45%;}
	.swiper-slide>div.page2-1 { height:40px;line-height:35px;font-size: 24px;}
	.swiper-slide>div.page2-2 {height:250px;}
	.swiper-slide>div.page2-2 .slide-inner {font-size: 16px;}
	.ymr-2-1 { bottom:0%;}
	.swiper-slide .img.ymr-14-1 {top: 15%;}
	.swiper-slide .img.ymr-14-2 {top: 15%; right:14%;}
	.swiper-slide .img.ymr-14-3 {top: 39%; right:44%;}
	.swiper-slide .img.ymr-14-4 {top: 65%; right:12%;}
	.page3-1 { margin-top:21%;}
	.page3 .page3-2 h2 { padding: 15px 0 15px 0;font-size: 17px;}
	.page3 .page3-2 p {line-height:25px; font-size:16px;}
	.page4-1 {top: 18%;}
	.page4 .page4-2 {top: 25%;}
	.page4 .page4-2 h2 {padding: 15px 0 25px 0;font-size:21px;}
	.page4 .page4-2 p {line-height: 25px;font-size: 16px;}
	.page5 .page5-2 {top: 15%;}
	.page5 .page5-2 h2 p { line-height: 35px;font-size: 22px;}
	.page5 .page5-2 p { line-height:25px;font-size:16px;}
	.page6-1 {top: 15%;}
	.page6-2 {top: 15%;}
	.page6-2 h2 {padding:5px 0 10px 0;line-height:40px;font-size: 22px;}
	.page6-2 p {line-height: 25px;font-size: 16px;}
	.page6-2 a { margin-top:10px;}
	.page7-1 {height:50%;}
	.page7-1 .tree1.img {width:100%;}
	.page7-1 .title {top:25%;}
	.page7-2 .p3 { margin: 10px 15px 20px 15px;}
	.page7-2 .p3 p {line-height: 22px; font-size:14px;}
	.swiper-slide>div.page8-1 { top:5%;}
	.page8-2 { top:0%;}
	.swiper-slide>div.page8-3 { margin-top: -15%;}
	.page8-4 {margin: -5% 15px 0 15px; padding:10px;}
	.page8-4 p {line-height: 22px; font-size:14px;}
	.page8-5 {margin-top: 15px;}
	.page9-1 { margin-bottom:5%; margin-top:5%;}
	.page9 h2 { margin-top: 14%; font-size:20px;}
	.page9 .page9-2 h2 { padding-top:10px; padding-bottom:10px; line-height:30px; font-size:20px;}
	.page9 .page9-2 h2 span { font-size:24px;}
	.page9 .page9-2 p { padding-top:10px; line-height:25px;margin:0 20px; font-size:16px;}
	.page10-1 {  margin: 0 20px;margin-top:17%;}
	.page10-2 { margin-top:8%;}
	.page10-2 h3 { line-height:30px; font-size:26px;  padding-bottom: 15px;}
	.page10-2 h3 span { font-size:18px;}
	.page10-2>p { line-height:25px;  margin: 0 20px; font-size:16px;}
	.page11 p { margin-top: 12%;line-height:30px; font-size: 16px;}
	.page13-1 { margin-top:18%;}
	.page13-1 .ymr-13-2 { margin-top:0%;}
	.page13-1 .ymr-13-3 { margin-top:0%;}
	.page13-1 .ymr-13-4 { margin-top:0%;}
}
@media screen and (min-width: 375px) and (min-height: 700px){
	.page1-1 {margin-top:13%;}
	.swiper-slide>div.page1-2 {top:45%;}
	.swiper-slide>div.page2-1 { height:40px;line-height:35px;font-size: 24px;}
	.swiper-slide>div.page2-2 {height:300px;}
	.swiper-slide>div.page2-2 .slide-inner {font-size: 16px;}
	.ymr-2-1 { bottom:0%;}
	.swiper-slide .img.ymr-14-1 {top: 18%;}
	.swiper-slide .img.ymr-14-2 {top: 15%; right:10%;width: 200px;}
	.swiper-slide .img.ymr-14-3 {top: 40%; right:41%;width: 200px;}
	.swiper-slide .img.ymr-14-4 {top: 65%; right:12%;width: 200px;}
	.page3-1 { margin-top:21%;}
	.page3 .page3-2 h2 { padding:25px 0 25px 0;font-size: 19px;}
	.page3 .page3-2 p {line-height:30px; font-size:18px;}
	.page4-1 {top: 18%;}
	.page4 .page4-2 {top: 25%;}
	.page4 .page4-2 h2 {padding: 15px 0 25px 0;font-size:24px;}
	.page4 .page4-2 p {line-height:30px;font-size: 18px;}
	.page5 .page5-2 {top: 15%;}
	.page5 .page5-2 h2 p { line-height:40px;font-size: 25px;}
	.page5 .page5-2 p { line-height:30px;font-size:18px;}
	.page6-1 {top: 15%;}
	.page6-2 {top: 15%;}
	.page6-2 h2 {padding:15px 0 20px 0;line-height:40px;font-size: 26px;}
	.page6-2 p {line-height:30px;font-size: 18px;}
	.page6-2 a { margin-top:20px;}
	.page7-1 {height:50%;}
	.page7-1 .tree1.img {width:100%;}
	.page7-1 .title {top:25%;}
	.page7-2 .p3 { margin: 10px 15px 20px 15px;}
	.page7-2 .p3 p {line-height: 30px; font-size:16px;}
	.swiper-slide>div.page8-1 { top:5%;}
	.page8-2 { top:0%;}
	.swiper-slide>div.page8-3 { margin-top: -15%;}
	.page8-4 {margin: -5% 15px 0 15px; padding:10px;}
	.page8-4 p {line-height: 30px; font-size:16px;}
	.page8-5 {margin-top: 15px;}
	.page9-1 { margin-bottom:5%; margin-top:5%;}
	.page9 h2 { margin-top: 20%; font-size:22px;}
	.page9 .page9-2 h2 { padding-top:10px; padding-bottom:10px; line-height:30px; font-size:20px;}
	.page9 .page9-2 h2 span { font-size:24px;}
	.page9 .page9-2 p { padding-top:10px; line-height:30px;margin:0 20px; font-size:18px;}
	.page10-1 {  margin: 0 20px;margin-top:17%;}
	.page10-2 { margin-top:8%;}
	.page10-2 h3 { line-height:30px; font-size:26px;  padding-bottom: 15px;}
	.page10-2 h3 span { font-size:18px;}
	.page10-2>p { line-height:30px;  margin: 0 20px; font-size:18px;padding-bottom:20px;}
	.page11 p { margin-top: 12%;line-height:35px; font-size: 18px;}
	.page13-1 { margin-top:18%;}
	.page13-1 .ymr-13-2 { margin-top:3%;}
	.page13-1 .ymr-13-3 { margin-top:3%;}
	.page13-1 .ymr-13-4 { margin-top:3%;}
}