/*======Reset=======*/
body,h1,h2,h3,h4,h5,h6,hr,menu,p,blockquote,ol,ul,dl,dd,td,th,figure,pre,button,input,textarea{margin:0;padding:0;font-family:Microsoft YaHei;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp,tt{font-family:Microsoft YaHei;}
button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
a,a:hover{text-decoration:none;}
*{-webkit-tap-highlight-color: rgba(0,0,0,0);}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';}
label,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="password"]{cursor:pointer;}
del{text-decoration:line-through;}
ins{text-decoration:none;}
abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help;}
mark{background-color:yellow;}
input[type=submit],input[type=button],input[type=text],input[type=password],input[type=tel],input[type=email]{-webkit-appearance:none;box-sizing:content-box;border:0;border-radius:0;box-shadow: none;font-family: Microsoft YaHei;}
textarea{font-family: Microsoft YaHei;}
body{font-family: Microsoft YaHei;font-size:12px;line-height: 1.5; color:#666666}
.clearfix:after{clear:both;display: block;content: "...";visibility: hidden;height: 0;font-size: 0;}
.clearfix{*zoom:1;}
.l{ float:left}
.r{ float:right}
.tr{ text-align:right}
.tc{ text-align:center}
.redfont{ color:#d10a0a; padding:0 3px;}
i{ font-style:normal}
.m4{ margin:10px 4.6875%;}
.p4{ padding:10px 4.6875%;}
.noborder-b{ border-bottom:0}
.noborder-t{ border-top:0}

.orange{ background-color:#eb9000;}
.gray{ color:#999999;}


input:-moz-placeholder,textarea:-moz-placeholder {color: #ebebeb;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {color: #ebebeb;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {color: #ddd;}
input::placeholder,textarea::placeholder {    color: #ebebeb;}
/*layout*/
.wrapper{height:100%; margin:0 auto; width:100%; max-width:640px;background:#fff; overflow:hidden; box-sizing:border-box}
.header{width:100%; padding:0 6.25%}
.content{ overflow:hidden}
/*============head============*/
.header{ height:44px; padding:0px 6.25%; border-bottom:1px #ebebeb solid;}
.header .back_btn{ background:url(../Image/wap_ebc/back_icon.png) left center no-repeat; background-size:100%; display:inline-block; width:22px; height:22px; z-index:500; margin:11px 0;}
.header h1{ font-size:18px; height:44px; line-height:44px; width:100%; min-width:320px; position:absolute; text-align:center; top:0; left:0; display:block;}
/*=========content===========*/
.content .animate_area{ background:#1088cc; width:100%; min-width:320px; height:auto; min-height:360px; box-sizing:border-box; overflow:hidden}
.content .animate_area .slogan{ background: url(../Image/wap_ebc/slogan.png) center center no-repeat; background-size:100% auto; min-width:320px; height:auto; min-height:35px; display:block; padding:45px 0 35px 0;
-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

.content .animate_area .man{ background:url(../Image/wap_ebc/man.png) center no-repeat; background-size:100% auto; width:100%; min-width:320px; height:auto; min-height:213px; display:block; z-index:10; position:absolute;
-webkit-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
.content .animate_area .beam{ background:url(../Image/wap_ebc/light_beam.png) center no-repeat; background-size:100% auto; width:100%; min-width:320px; height:auto; min-height:213px; display:block; position:absolute; top:175px; z-index:5;
-webkit-animation-name: bounceIn;
animation-name: bounceIn;
animation-duration: 1.011s;
-webkit-animation-duration: 1.011s;
animation-delay: 2s;
-webkit-animation-delay: 2s;
animation-fill-mode: both;
-webkit-animation-fill-mode: both;
}

@media screen and (min-width: 321px) {
.content .animate_area{ background:#1088cc; width:100%; min-width:320px; height:auto; min-height:425px; box-sizing:border-box; margin:0 auto}
.content .animate_area .man{ background:url(../Image/wap_ebc/man.png) center no-repeat; background-size:100% auto; width:100%; min-width:320px; height:auto; min-height:270px; display:block; z-index:10; position:absolute;}
.content .animate_area .beam{ background:url(../Image/wap_ebc/light_beam.png) center no-repeat; background-size:100% auto; width:100%; min-width:320px; height:auto; min-height:279px; display:block; position:absolute; top:175px; z-index:5;}
}
.opr_btn{padding:27px 6.25%;}
.opr_btn a{ border:1px #1088cc solid; border-radius:2px; color:#1088cc; font-size:16px; line-height:38px; width:45.625%; text-align:center; display:inline-block;}
.opr_btn a:last-child{ float:right;}


/*创建名片*/
.message_area{ padding:15px 6.25%;}
.message_area div img { border:solid 1px #f4f4f4; border-radius:3px; box-sizing:border-box; margin-bottom:10px;}
.message_area .avatar_area{ /*display:inline-block;*/}
.message_area .avatar_area:after{clear:both; display:block; content:""; height:0;}
.message_area .avatar_area .avatar{ float:left;}
.message_area .avatar_area .avatar img{ width:88px; height:88px; border-radius:100%; padding:1px; background:#FFF; border:1px #ececec solid;}
.message_area .avatar_area .info{width:60%;  float:right}
.message_area .avatar_area .info .edit input{ width:50%;}
.message_area dl.info{ margin:0; padding:0; list-style:none}
.message_area dl.info dt{ position:relative; color:#1088cc; font-size:16px;border-bottom:1px #ebebeb solid; line-height:20px; padding:5px 0 5px 0;}
.message_area dl.info dt a.add_btn{ position:absolute; z-index:2; top:50%; margin-top:-9px; right:0; background:url(../Image/wap_ebc/opr_btn.png) no-repeat; background-position:0 -50px; width:18px; height:18px; background-size:100% auto;}
.message_area dl.info dd.colgroup{ display:block; border:0; padding:5px 0;}
.message_area dl.info label{ width:25.625%; font-size:15px; display:inline-block; text-align:justify;}
.message_area dl.info input { line-height:20px; width:65%; display:inline-block; padding:5px 12px; font-size:15px; box-sizing:border-box;}
.message_area dl.info input:focus{　border:0; outline:none;}
.message_area dl.info input.small_input{ width:33%;}
.message_area dl.info a.yzm_btn{ float:right;line-height:40px; font-size:15px; color:#1088cc; text-decoration:none}
.message_area a.submit { background:#1088cc; border:solid 1px #1088cc; line-height:43px; height:43px; display:block; text-align:center; border-radius:2px; color:#FFF; font-size:14px; text-decoration:none;}
.message_area a.btn-cj { float:right; padding:5px 0; width:48%; height:33px; background:#f4fbff; border:solid 1px #1088cc; border-radius:2px; font-size:14px; color:#1088cc; text-align:center; line-height:18px;}
.message_area a.btn-cj p { line-height:16px; font-size:12px; color:#999;}
.message_area a.btn-cj p span { color:#ff0000;}
.message_area a.btn-cj + a.submit { float:left; width:48%;}
.added { padding:5px 6.25% 15px}
.added:first-child{ padding:15px 6.25%;}
.added:last-child{ padding:0px 6.25% 15px;}
.added dl.info dd { position:relative;}
.added dl.info dd.colgroup{border-bottom:1px #ebebeb solid;}
.added dl.info label { background: url(../Image/wap_ebc/opr_before_arrow.png) right bottom no-repeat; background-size:15px auto; width:25.625%; font-size:15px; display:inline-block; text-align:justify; border-right:1px #ebebeb solid}
.added dl.info label.lg { height:80px; float:left;}
.added dl.info dd.only_phone label { background:none;}
.added dl.info input{ background-size:16px;}
.added dl.info dt label{background:none}
.added dl.info dt input{ background:none}
.added dl.info dt select { position:relative; float:left; margin-left:3%; width:34%; height:25px; line-height:25px; border-radius:2px; border:solid 1px #ddd; color:#ddd; -webkit-appearance:none; background:url(../Image/icon-shopsearch.png) no-repeat right center; background-size:auto 150%;}
.added dl.info dt select:after { position:absolute; top:5px; right:5px; border-top:solid 4px #333; border-right:solid 4px transparent; border-left:solid 4px transparent; border-bottom:solid 4px transparent; content:"11222112";}
.added dl.info dt textarea { float:left; margin-top:5px; margin-left:3%; padding:5px; width:71%; height:50px; overflow:hidden; overflow-y:auto; line-height:20px; border-radius:2px; border:none; -webkit-appearance:none; box-sizing:border-box;}
.added .avatar_area dl.info label{ background:none}
.added .avatar_area dl.info input{ background:none}
.message_area dl.info span{ line-height:40px; width:65%; display:inline-block; padding:0 12px; font-size:15px;}
.message_area .avatar_area dl.info span{width:50%;}
.message_area .add_more{ font-size:16px; color:#666; padding-bottom:15px; text-align:center; display:block;border-bottom:1px #ebebeb solid;}
.message_area .add_more:after { position:relative; top:2px; display:inline-block; margin-left:5px; vertical-align:middle; width:0; height:0; border-top:solid 5px #666; border-right:solid 5px transparent; border-left:solid 5px transparent; border-bottom:solid 5px transparent; content:"";}
.message_area .add_more.close:after { top:-4px;border-top:solid 5px transparent; border-right:solid 5px transparent; border-left:solid 5px transparent; border-bottom:solid 5px #666; content:"";}
.added dl.info dd i.del{ background:url(../Image/wap_ebc/opr_before_02.png) center center no-repeat; background-size:100%; width:16px; height:18px; position:absolute; top:50%; margin-top:-9px; right:0;}
/*选择性别*/
.sex{width:84px;height:31px; background:url(../Image/wap_ebc/ico.gif-) no-repeat 0 0; background-size:auto 100%;cursor:pointer; padding:0; list-style:none; display:inline-block; float:right;}
.sex:after{ clear:both; height:0; display:block; content:"";}
.sex li{float:left;width:40px;height:28px; line-height:28px; text-align:center; border:solid 1px #ebebeb;}
.sex li:first-child { border-right:none;}
.sex li:last-child { border-left:none;}
.sex li.men_normal { background:#fff; color:#333;}
.sex li.woman_normal { background:#fff; color:#333;}
.sex li.woman_active { background:#1088cc; color:#fff; border:solid 1px #1088cc;}
.sex li.men_active { background:#1088cc; color:#fff; border:solid 1px #1088cc;}

/*查看二维码*/
.message_area .code_show { position:relative; height:auto; overflow:hidden; border:solid 1px #ebebeb; border-radius:5px; background:#fff;}
.message_area .code_show:after { position:absolute; top:0; right:0; width:0px; height:0px; border-top:solid 16px #1088cc; border-right:solid 16px #1088cc; border-left:solid 16px transparent; border-bottom:solid 16px transparent; content:"";}
.message_area .code_show img{ width:176px; height:176px; display:block; margin:0 auto;border:1px #ebebeb solid; border-radius:2px; padding:12px; background:#FFF;}
.message_area .code_show p { text-align:center; margin:0 20px; padding:10px 0; font-size:20px; font-weight:bold; color:#1088cc;}
.message_area .code_show span { display:block; margin:0 20px; padding:10px 0; font-size:14px; text-align:left; color:#999;}

.xz_tip {padding:18px;border:1px solid #ebebeb;position: relative;border-radius:2px; margin:20px auto;font-size:14px; color:#666666; display:block}
.xz_tip span{ display:block;}
.xz_tip span.tc{ text-align:left}
.xz_tip .arrow {position: absolute;left:45%;top:0%;margin-top:-10px;width:30px;height:30px;}
.xz_tip .arrow em,.xz_tip .arrow span {position: absolute;top: 0;left: 0;width: 0;height: 0;border-color: rgba(255,255,255,0);border-color: transparent\0;*border-color: transparent;_border-color: tomato;_filter: chroma(color=tomato);border-style: solid;overflow: hidden;*zoom: 1;border-width: 0px 10px 10px 10px;}
.xz_tip .arrow em {top: 1px;border-bottom-color: #fff;}
.xz_tip .arrow span {border-bottom-color: #ebebeb}

.message_area .share{ position:relative; margin-top:10px;}
.message_area .share span{padding:10px; padding-right:55px;border:1px solid #ebebeb; border-right:0; border-radius:2px; font-size:14px; overflow:hidden; color:#666666;display:inline-block; float:left; box-sizing:border-box;}
.message_area .share .share_btn{ background:#f4fbff url(../Image/wap_ebc/share.png) no-repeat center center;  background-size:100% auto;border:1px solid #54a1cc; height:100%; width:51px; border-radius:0 2px 2px 0;position:absolute; top:0px; right:0; box-sizing:border-box;}
.message_area .share .btn-all { display:block; margin:10px auto; height:40px;line-height:40px; font-size:14px;background-color:#FFF1F1;border:1px solid red;text-align:center;color:red;}

p.txt{ font-size:14px; color:#999999; text-align:center}
p.txt a{ color:#1088cc; text-decoration:none}
p.txt a:hover{ color:#fe9b1a; text-decoration:none}


@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}
	
	80% {
		-webkit-transform: translateY(-10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}


@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateY(30px);
	}
	
	80% {
		transform: translateY(-10px);
	}
	
	100% {
		transform: translateY(0);
	}
}

@-webkit-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
	}
	
	80% {
		-webkit-transform: translateX(-10px);
	}
	
	100% {
		-webkit-transform: translateX(0);
	}
}


@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateX(30px);
	}
	
	80% {
		transform: translateX(-10px);
	}
	
	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes bounceInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateX(-30px);
	}
	
	80% {
		-webkit-transform: translateX(10px);
	}
	
	100% {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(2000px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateX(-30px);
	}
	
	80% {
		-moz-transform: translateX(10px);
	}
	
	100% {
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(2000px);
	}
	
	60% {
		opacity: 1;
		-o-transform: translateX(-30px);
	}
	
	80% {
		-o-transform: translateX(10px);
	}
	
	100% {
		-o-transform: translateX(0);
	}
}

@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateX(-30px);
	}
	
	80% {
		transform: translateX(10px);
	}
	
	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(3);
	}
	
	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
	}
	
	70% {
		-webkit-transform: scale(1.02);
	}
	
	100% {
		-webkit-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(3);
	}
	
	50% {
		opacity: 1;
		transform: scale(1.05);
	}
	
	70% {
		transform: scale(1.02);
	}
	
	100% {
		transform: scale(1);
	}
}

/*弹框*/
.cd-popup {
	position:fixed;
	z-index:1000;
	left: 0;
	top: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	visibility: hidden;
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	transition: opacity 0.3s 0s, visibility 0s 0.3s;
	min-height: 100%;   
    _height:100%;

}
.cd-popup.is-visible {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0s;
	transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
	position: relative;
	width: 95%;
	max-width: 640px;
	text-align: center;
	-webkit-transform: translateY(-40px);
	-moz-transform: translateY(-40px);
	-ms-transform: translateY(-40px);
	-o-transform: translateY(-40px);
	transform: translateY(-40px);
	-webkit-backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
	
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	border-radius:15px;
	margin:7px;
	padding:20px 0px;
	min-height: 100%;   
    _height:100%;
}
.cd-popup-container img{ width:100%}
.cd-popup-container ul {
}

.cd-popup-container .cd-popup-close {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 31px;
	height: 31px;
	background:url(../images/close-btn.png) no-repeat;
	background-size:100%;
	display:block
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
	content: '';
	position: absolute;
	background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 8px;
}
.cd-popup-container .cd-popup-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	right: 8px;
}
.is-visible .cd-popup-container {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
	.cd-popup-container {
	margin: 8em auto;
	}
}

.show_more{ display:none}
.cd-popup-container dl{ margin:0; padding:0; list-style:none;background:#FFF; color:#666; font-size:14px; width:100%; border-radius:4px;}
.cd-popup-container dl dt{font-size:14px; font-weight:bold; color:#fff; background:#1088cc; text-align-last:left; display:block; padding:10px; border-top-left-radius:4px; border-top-right-radius:4px;}
.cd-popup-container dl dd{ border-bottom:1px #ededed solid; line-height:24px; text-align:left; padding:10px; background:#FFF}
.cd-popup-container dl dd:hover{ background:#1088cc}
.cd-popup-container dl dd:hover a{ color:#FFF}
.cd-popup-container dl dd a{line-height:24px; color:#666; display:block;}
.only_phone{border-bottom: 1px #ebebeb solid;  display: block;padding:5px 0;}
.submit{border-radius:0px; background-color:#1088cc;color:#FFF;border:none;font-size: 14px;height: 45px;width:100%}
/*2015-06-08修改*/
.bt_link{ font-size:14px; color:#1088cc; padding:10px; text-align:center; display:block;}

/*帮助中心*/
.bgf6f6f6{ background:#f6f6f6;}
.bgfff{ background:#fff}
.helpCenter{ height:1500px;border:1px #e4e4e4 solid; background:#FFF; margin:15px 18px; display:block; box-sizing:border-box;}
.helpCenter .help_title{  font-size: 18px;  height: 44px;  line-height: 44px;  text-align: center;  display: block;}
.step1{ background:#0f89cc; color:#FFF; font-size:14px; line-height:30px; height:30px; text-align:center; margin:0px 0 15px; display:block; position: absolute; left:10px; right:10px;}
.step1 i.sp1{ background:#04639b; border-radius:50%; width:20px; height:20px; font-size:12px; line-height:20px; text-align:center; display:inline-block}
.step1:before{ width: 0;  height: 0;  position: absolute;  bottom: -7px;  left: 3px;  border-top: 6px solid transparent;  border-bottom: 6px solid transparent;  border-left: 6px solid #0b78b3;  content: "";  transform: rotate(-45deg);}
.step1:after{ width: 0;  height: 0;  position: absolute;  bottom: -7px;  right: 3px;  border-top: 6px solid transparent;  border-bottom: 6px solid transparent;  border-left: 6px solid #0b78b3;  content: "";  transform: rotate(-135deg);  }
  
.step1-1{ background:url(../Image/wap_ebc/step1-1.png) top center no-repeat; display:block; width:100%; min-height:315px; background-size:auto 100% ; position:relative; top:45px;}
.step1-2{background:url(../Image/wap_ebc/step1-2.png) top center  no-repeat; display:block; width:100%; min-height:300px; background-size:auto 100% ; position:relative;top:20px;}
.step2{background:url(../Image/wap_ebc/step2.png) top center  no-repeat; display:block; width:100%; min-height:305px; background-size:auto 100% ; position:relative;top:95px;}
.step3{background:url(../Image/wap_ebc/step3.png) top center  no-repeat; display:block; width:100%; min-height:305px; background-size:auto 100% ; position:relative;top:165px;}