.baseForm {padding-top:10px; width:90%; margin:0 auto; border-bottom:solid 1px #dedede; min-width:280px;}
.baseForm li { height:auto; overflow:hidden; padding-bottom:18px;}
.baseForm li p { height:35px;width:80px; margin-left:0;float:left; text-align:right; line-height:35px; font-size:16px;}
.baseForm.bigbaseForm li {padding-bottom:8px;}
.baseForm.bigbaseForm li p {width:100%;text-align: left;height:25px;line-height:25px; }
.baseForm.bigbaseForm li input[type=text],
.baseForm.bigbaseForm li input[type=tel],
.baseForm.bigbaseForm li input[type=password] {width:97%;margin: 0;}
.baseForm li h6 { height:35px;width:80px;margin-left:0;float:left; text-align:right; line-height:35px; font-size:16px;}
.baseForm li h6.lang { height:35px;width:100%; margin-left:0;float:left; text-align:left; line-height:35px; font-size:16px;}
.baseForm li span { color:#bf0600;line-height:18px; font-size:12px; text-align: left; display: block;margin-left:85px;}
.baseForm li label { height:35px;margin-left:0;float:left; text-align:left; line-height:35px; font-size:16px; padding-right:20px;}
.baseForm input[type=text] { height:35px; line-height:35px;}
.baseForm select { height:35px;}
.baseForm textarea { height:70px;}
.mainCon-text img { max-width:100%;}

.moreContenter { width:95%; min-width:280px; margin:0 auto; overflow:hidden; text-align:left; padding-bottom:10px;}
.moreContenter img { max-width:100%;}


.bmForm {padding:10px 0; width:90%; margin:0 auto; min-width:280px;}
.bmForm li { height:auto; overflow:hidden;}
.bmForm li p { height:35px;width:80px; margin-left:0;float:left; text-align:right; line-height:35px; font-size:16px;}
.bmForm li span { color:red;line-height:35px; font-size:16px;}
.bmForm li label {margin-left:23px; display:block; height:auto; overflow:hidden; text-align:left; line-height:23px; margin-top:3px; font-size:14px; color:#666666;}
.bmForm li h3 { font-size:15px; text-align:left; padding:8px 0 3px 0; color:#333; line-height:23px;}
.bmForm input[type=text] { height:25px; line-height:25px;}
.bmForm input[type=text]{height:35px; line-height:35px;}
.bmForm input[type=radio] {float:left;margin-top:8px;}
.bmForm input[type=checkbox] {float:left;margin-top:8px;}
.bmForm select { height:35px;}
.bmForm textarea { height:70px; width:90%; min-width:270px;}
.content_button {height:53px; overflow:hidden; width:280px;margin:0 auto;}
.bmForm hr { border:none;border-bottom: dashed 1px #dedede; height:10px; overflow:hidden;}

.sOne-Input { margin-left:5px; float:left; width:188px;}
.sOne-Input-half {margin-left:5px; float:left; width:90px;}
.sOne-Radio { float:left;margin-top:10px;}
.sOne-Checkbox { float:left;margin-top:10px;}
.sOne-Textarea { width:270px; margin-left:5px; float:left;}
.sOne-select { width:188px; margin-left:5px; float:left;}
.sOne-select-s { width:61px; margin-left:5px; float:left;}
.sOne-getpasscode {width:90px;}
.input_button{ width:100%; height:38px;color:#fff; line-height: 38px; text-align: center; display: block; font-size:18px; cursor:pointer; border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;-webkit-appearance:none; background:#bf0600;}

#AjaxWrapper { width:100%; height:100%; position:fixed;background:rgba(0,0,0,0.4); top:0; left:0; z-index:1000; text-align:center;}
.cjWrapper { margin:0 auto; background:#fff repeat 0 0; height:auto; width:80%; min-width:280px; max-width:580px; margin-top:80px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px; padding:10px;-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3);-moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3);box-shadow: inset 0 0 10px rgba(0,0,0,.3); position:relative;}
.cjCon { margin:0 auto; height:auto; background:#fff;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.cjText { margin:0 auto; text-align:center; font-size:16px; color:#333; padding:15px 0 10px 0; line-height:23px;}
.cjText-con { width:210px; height:auto; margin:0 auto; overflow: hidden;word-break:break-all;}
.cjText-img { width:50px; float:left;}
.cjText-img img { width:50px; height:50px;}
.cjText-text { margin-left:60px; text-align:left; font-size:16px; line-height:25px;}
.cjBtn { margin:0 auto; width:170px;height:35px; line-height:35px; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background-color: #bf0600; font-size:18px;color:#fff;}
.cjBtn a {color: #fff; display:block;}
.cjWrapper-close { color:#b9b9b9; font-size:20px; width:30px; height:30px;position:absolute; top:0; right:0;}
.cjWrapper-close a { color:#b9b9b9; display:block; line-height:30px; text-align:center; font-size:32px;transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg)}
.cjForm { height:auto; overflow:hidden; max-width:610px;margin:0 auto;}
.cjForm li { height:48px; overflow:hidden;}
.cjForm li p { height:35px;width:65px; margin-left:0;float:left; text-align:right; line-height:35px; font-size:14px; color:#333;}
.cjForm li span { color:red;line-height:35px; font-size:16px;}
.cjForm li label { height:35px;margin-left:0;float:left; text-align:left; line-height:35px; font-size:16px; padding-right:20px;}
.cjForm li.tips { height:auto; overflow: hidden; margin-top:-5px; padding-bottom:10px;}
.cjForm li.tips span { line-height:18px; font-size:12px; float:left; margin-left:70px; display:none;}
.sOne-cjForm {padding-top:10px; width:280px; margin:0 auto;text-align:center;}
.sOne-cjInput { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:160px;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-cjInput-half { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:68px; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-cjRadio { float:left; width:14px; height:14px; margin-top:10px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; margin-left:5px;}
.sOne-cjgetpasscode { height:37px; line-height:37px;width:80px; color:#909090; float:left; margin-left:10px;background:#eee;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; font-size:12px;}
.sOne-cjpasscode-img {border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:none; width:80px; float:left; margin-left:10px;height:37px;}
.sOne-cjrefurbish { width:30px; height:37px; float:left; margin-left:5px;background:url(../Image/refurbish-icon.png) no-repeat 0 center; background-size:100%;}
.cj-input-button { width:250px; height:38px;color:#fff; font-size:18px; cursor:pointer; border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;-webkit-appearance:none; background:#bf0600;}
.sOne-file-div{ position: relative;height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:188px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;background: #bf0600; border: none;}
.baseForm li p.sOne-file-name { color: #fff; text-align: left;}
.sOne-file { position:absolute; z-index:2; width:100%; height:100%; top:0; right:0; opacity:0;}
.sOne-file-div i { width:25px; height:25px;margin:5px 20px 5px 10px; float: left;}
.icon-photo {background:url(../Image/icon_01.png) repeat center center; background-size:100%;}

#Regist { width:100%; height:100%; position:fixed;background:rgba(0,0,0,0.4); top:0; left:0; z-index:1000; text-align:center;}
.RegWrapper { margin:0 auto; background:#fff repeat 0 0; height:auto; width:80%; min-width:280px; max-width:580px; margin-top:80px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px; padding:10px;-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3);-moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3);box-shadow: inset 0 0 10px rgba(0,0,0,.3); position:relative;}
.RegCon { margin:0 auto; height:auto; background:#fff;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.RegText { margin:0 auto; text-align:center; font-size:16px; color:#333; padding:15px 0 10px 0; line-height:23px;}
.RegText-con { width:230px; height:auto; margin:0 auto; overflow: hidden;word-break:break-all;}
.RegText-img { width:50px; float:left;margin-top:25px;}
.RegText-text img { width:40px; height:40px;margin-top:15px;}
.RegText-text { text-align:left; font-size:14px; line-height:25px;}
.RegText-text h1{ font-size:16px; padding:0 0 10px 0;border-bottom: dashed 1px #ddd; text-align:center; margin-bottom:10px;}
.RegText-text h2{ font-size:14px;line-height:25px;margin-left:50px;}
.RegText-text h2 span { color:#bf0600;}
.RegText-text h2 p { font-size:12px;line-height:25px;}
.RegBtn { margin:0 auto; width:230px;height:35px; line-height:35px; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background-color: #bf0600; font-size:18px;color:#fff;}
.RegBtn a {color: #fff; display:block;}
.RegWrapper-close { color:#b9b9b9; font-size:20px; width:30px; height:30px;position:absolute; top:0; right:0;}
.RegWrapper-close a { color:#b9b9b9; display:block; line-height:30px; text-align:center; font-size:32px;transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg)}

/*-----抽奖----*/
.specialCj { position:fixed; top:0; left:0; width:100%; height:100%; z-index:200; display:none; text-align:center;background:rgba(0,0,0,0.6) url(../Image/loading.gif) no-repeat center center; background-size:20px 20px;}

.bmResult { height:15px; padding-bottom:5px;}
.bmVote { height:15px;margin:0 40px 0 25px ; text-align:left; overflow:visible;white-space: nowrap;text-overflow: ellipsis; line-height:15px;}
.bmVote .bmVotenum { width:33%; height:15px; float:left; margin-right:2px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,.3);-moz-box-shadow:inset 0 1px 1px rgba(255,255,255,.3);box-shadow:inset 0 1px 1px rgba(255,255,255,.3);}
.bmVote .bmVotenum.bg1 {
	background: #cc374a;
	background-image: -webkit-linear-gradient(bottom, #cc374a, #bf1225);
	background-image: -moz-linear-gradient(bottom, #cc374a, #bf1225);
	background-image: -o-linear-gradient(bottom, #cc374a, #bf1225);
	background-image: linear-gradient(to top, #cc374a, #bf1225);
}
.bmVote .bmVotenum.bg2 {
	background: #f87c0c;
	background-image: -webkit-linear-gradient(bottom, #f87c0c, #f86201);
	background-image: -moz-linear-gradient(bottom, #f87c0c, #f86201);
	background-image: -o-linear-gradient(bottom, #f87c0c, #f86201);
	background-image: linear-gradient(to top, #f87c0c, #f86201);
}
.bmVote .bmVotenum.bg3 {
	background: #736296;
	background-image: -webkit-linear-gradient(bottom, #736296, #9684ae);
	background-image: -moz-linear-gradient(bottom, #736296, #9684ae);
	background-image: -o-linear-gradient(bottom, #736296, #9684ae);
	background-image: linear-gradient(to top, #736296, #9684ae);
}
.bmVote .bmVotenum.bg4 {
	background: #fccc00;
	background-image: -webkit-linear-gradient(bottom, #fccc00, #fcc200);
	background-image: -moz-linear-gradient(bottom, #fccc00, #fcc200);
	background-image: -o-linear-gradient(bottom, #fccc00, #fcc200);
	background-image: linear-gradient(to top, #fccc00, #fcc200);
}
.bmVote .bmVotenum.bg5 {
	background: #01746d;
	background-image: -webkit-linear-gradient(bottom, #01746d, #31a6a0);
	background-image: -moz-linear-gradient(bottom, #01746d, #31a6a0);
	background-image: -o-linear-gradient(bottom, #01746d, #31a6a0);
	background-image: linear-gradient(to top, #01746d, #31a6a0);
}
.bmVote .bmVotenum.bg6 {
	background: #a56827;
	background-image: -webkit-linear-gradient(bottom, #a56827, #bb8a52);
	background-image: -moz-linear-gradient(bottom, #a56827, #bb8a52);
	background-image: -o-linear-gradient(bottom, #a56827, #bb8a52);
	background-image: linear-gradient(to top, #a56827, #bb8a52);
}
.bmVote .bmVotenum.bg7 {
	background: #e57619;
	background-image: -webkit-linear-gradient(bottom, #e57619, #fdca9f);
	background-image: -moz-linear-gradient(bottom, #e57619, #fdca9f);
	background-image: -o-linear-gradient(bottom, #e57619, #fdca9f);
	background-image: linear-gradient(to top, #e57619, #fdca9f);
}
.bmVote .bmVotenum.bg8 {
	background: #330102;
	background-image: -webkit-linear-gradient(bottom, #330102, #580201);
	background-image: -moz-linear-gradient(bottom, #330102, #580201);
	background-image: -o-linear-gradient(bottom, #330102, #580201);
	background-image: linear-gradient(to top, #330102, #580201);
}
.bmVote .bmVotenum.bg9 {
	background: #354a3b;
	background-image: -webkit-linear-gradient(bottom, #354a3b, #556a59);
	background-image: -moz-linear-gradient(bottom, #354a3b, #556a59);
	background-image: -o-linear-gradient(bottom, #354a3b, #556a59);
	background-image: linear-gradient(to top, #354a3b, #556a59);
}
.bmVote .bmVotenum.bg10 {
	background: #b1330c;
	background-image: -webkit-linear-gradient(bottom, #b1330c, #cd5530);
	background-image: -moz-linear-gradient(bottom, #b1330c, #cd5530);
	background-image: -o-linear-gradient(bottom, #b1330c, #cd5530);
	background-image: linear-gradient(to top, #b1330c, #cd5530);
}
.bmVote .bmVotenum.bg11 {
	background: #ddd53f;
	background-image: -webkit-linear-gradient(bottom, #ddd53f, #efea8c);
	background-image: -moz-linear-gradient(bottom, #ddd53f, #efea8c);
	background-image: -o-linear-gradient(bottom, #ddd53f, #efea8c);
	background-image: linear-gradient(to top, #ddd53f, #efea8c);
}
.bmVote .bmVotenum.bg12 {
	background: #acd682;
	background-image: -webkit-linear-gradient(top, #acd682, #9ccc69);
	background-image: -moz-linear-gradient(top, #acd682, #9ccc69);
	background-image: -o-linear-gradient(top, #acd682, #9ccc69);
	background-image: linear-gradient(to bottom, #acd682, #9ccc69);
}
.bmVote .bmVotenum.bg13 {
	background: #ffd439;
	background-image: -webkit-linear-gradient(top, #ffd439, #e7b300);
	background-image: -moz-linear-gradient(top, #ffd439, #e7b300);
	background-image: -o-linear-gradient(top, #ffd439, #e7b300);
	background-image: linear-gradient(to bottom, #ffd439, #e7b300);
}
.bmVote .bmVotenum.bg14 {
	background: #718e38;
	background-image: -webkit-linear-gradient(top, #718e38, #618616);
	background-image: -moz-linear-gradient(top, #718e38, #618616);
	background-image: -o-linear-gradient(top, #718e38, #618616);
	background-image: linear-gradient(to bottom, #718e38, #618616);
}
.bmVote .bmVotenum.bg15 {
	background: #a46f3d;
	background-image: -webkit-linear-gradient(top, #a46f3d, #a45a14);
	background-image: -moz-linear-gradient(top, #a46f3d, #a45a14);
	background-image: -o-linear-gradient(top, #a46f3d, #a45a14);
	background-image: linear-gradient(to bottom, #a46f3d, #a45a14);
}
.bmVote .bmVotenum.bg16 {
	background: #cc374a;
	background-image: -webkit-linear-gradient(bottom, #cc374a, #bf1225);
	background-image: -moz-linear-gradient(bottom, #cc374a, #bf1225);
	background-image: -o-linear-gradient(bottom, #cc374a, #bf1225);
	background-image: linear-gradient(to top, #cc374a, #bf1225);
}
.bmVote .bmVotenum.bg17 {
	background: #f87c0c;
	background-image: -webkit-linear-gradient(bottom, #f87c0c, #f86201);
	background-image: -moz-linear-gradient(bottom, #f87c0c, #f86201);
	background-image: -o-linear-gradient(bottom, #f87c0c, #f86201);
	background-image: linear-gradient(to top, #f87c0c, #f86201);
}
.bmVote .bmVotenum.bg18 {
	background: #736296;
	background-image: -webkit-linear-gradient(bottom, #736296, #9684ae);
	background-image: -moz-linear-gradient(bottom, #736296, #9684ae);
	background-image: -o-linear-gradient(bottom, #736296, #9684ae);
	background-image: linear-gradient(to top, #736296, #9684ae);
}
.bmVote .bmVotenum.bg19 {
	background: #fccc00;
	background-image: -webkit-linear-gradient(bottom, #fccc00, #fcc200);
	background-image: -moz-linear-gradient(bottom, #fccc00, #fcc200);
	background-image: -o-linear-gradient(bottom, #fccc00, #fcc200);
	background-image: linear-gradient(to top, #fccc00, #fcc200);
}
.bmVote .bmVotenum.bg20 {
	background: #01746d;
	background-image: -webkit-linear-gradient(bottom, #01746d, #31a6a0);
	background-image: -moz-linear-gradient(bottom, #01746d, #31a6a0);
	background-image: -o-linear-gradient(bottom, #01746d, #31a6a0);
	background-image: linear-gradient(to top, #01746d, #31a6a0);
}
.bmVote .bmVotenum.bg21 {
	background: #a56827;
	background-image: -webkit-linear-gradient(bottom, #a56827, #bb8a52);
	background-image: -moz-linear-gradient(bottom, #a56827, #bb8a52);
	background-image: -o-linear-gradient(bottom, #a56827, #bb8a52);
	background-image: linear-gradient(to top, #a56827, #bb8a52);
}
.bmVote .bmVotenum.bg22 {
	background: #e57619;
	background-image: -webkit-linear-gradient(bottom, #e57619, #fdca9f);
	background-image: -moz-linear-gradient(bottom, #e57619, #fdca9f);
	background-image: -o-linear-gradient(bottom, #e57619, #fdca9f);
	background-image: linear-gradient(to top, #e57619, #fdca9f);
}
.bmVote .bmVotenum.bg23 {
	background: #330102;
	background-image: -webkit-linear-gradient(bottom, #330102, #580201);
	background-image: -moz-linear-gradient(bottom, #330102, #580201);
	background-image: -o-linear-gradient(bottom, #330102, #580201);
	background-image: linear-gradient(to top, #330102, #580201);
}
.bmVote .bmVotenum.bg24 {
	background: #354a3b;
	background-image: -webkit-linear-gradient(bottom, #354a3b, #556a59);
	background-image: -moz-linear-gradient(bottom, #354a3b, #556a59);
	background-image: -o-linear-gradient(bottom, #354a3b, #556a59);
	background-image: linear-gradient(to top, #354a3b, #556a59);
}
.bmVote .bmVotenum.bg25 {
	background: #b1330c;
	background-image: -webkit-linear-gradient(bottom, #b1330c, #cd5530);
	background-image: -moz-linear-gradient(bottom, #b1330c, #cd5530);
	background-image: -o-linear-gradient(bottom, #b1330c, #cd5530);
	background-image: linear-gradient(to top, #b1330c, #cd5530);
}


.getintegration { padding-top:10px; margin:0 10px; height:auto;}
.getintegration p { text-align:center; -webkit-transition:all 0.5s; display:none;}
.getintegration p img { display:inline-block; width:32px; height:32px; vertical-align:middle;}
.getintegration p span { display:inline-block; height:32px; line-height:32px; font-size:16px; font-weight:bold; color:#ed3f41; vertical-align:middle;}
.getintegration a { margin-top:5px; display:block; height:40px; line-height:40px; background:#fff; border-radius:3px; border:solid 1px #ccc; color:#247fdd;}
.getintegration.show p { -webkit-animation:getintegration 1s 2s forwards ease; display:block;}


@-webkit-keyframes getintegration{
	0%{-webkit-transform: scale(1,1); opacity:1;}
	20%{-webkit-transform: scale(0.8,0.8); opacity:0.8;}
	100%{-webkit-transform: scale(2,2); opacity:0;}
}