.mainList {position:relative;z-index:100; background:#fff; }
.mainList .mainList-title { height:auto; overflow:hidden; background:#ebebeb; line-height:35px; font-size:16px; font-weight:bold;color:#999;}
.mainList-list { min-height:340px; height:auto; overflow:hidden;}
.mainList-list ul { height:auto; overflow: hidden;}
.mainList-item { border-bottom:solid 1px #e8e8e8; height:auto; overflow: hidden; padding:10px; position: relative;}
.mainList-item .mainList-item-img { width:80px; height:80px; border:solid 1px #e8e8e8; float:left; margin-right:10px; padding:2px;}
.mainList-item .mainList-item-img img { width:100%; height:100%;}
.mainList-item .mainList-item-title { font-size:16px; font-weight:bold; height:25px; line-height:20px; text-align:left; overflow:hidden; padding:3px 0;color:#666;}
.mainList-item .mainList-item-title a {color:#4d4d4d;}
.mainList-item .mainList-item-con { font-size:14px; text-align:left;height:36px;line-height:18px;padding-right:20px;color:#969696;overflow:hidden;white-space:normal;word-break:break-all}
.mainList-item .mainList-item-con.noimg { padding-right:70px;}
.mainList-item .mainList-item-time {height:25px; line-height:25px; color:#969696; font-size:13px;text-align:left;}
.mainList-item .arrow{position:absolute;right:10px;top:50%;margin-top:-5px;display:block;width:10px;height:10px;border-top:1px solid #999;border-right:1px solid #999;transform:rotate(45deg);-webkit-transform:rotate(45deg);}

/* 分页
--------------------------------------------------------------*/
.page {padding:20px 20px; width:230px; margin:0 auto; text-align:center;}
.pageNow { float:left; color:#000;line-height:30px; font-size:14px; margin:0 10px; background:#e7e5e5 url(../Image/page-now.png) no-repeat right center;background-size:20px 5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; padding:0 10px 0 10px;}
.pageNow select{-webkit-appearance:none; border:none; background:none; width:60px;}
.pageNow span { color:#d72e0f;line-height:30px; font-size:13px;}
.pageGO { float:left;}
.pageGO .page-go {width:65px; height:30px; color:#000; display:block; line-height:30px;font-size:13px; text-align:left;}
.pageGO .page-pre {background:url(../Image/page-pre.gif) no-repeat right 0;background-size:100%; text-indent:17px;}
.pageGO .page-next {background:url(../Image/page-next.gif) no-repeat right 0;background-size:100%; text-indent:7px;}
/*------------------------- 分页结束  -----------------------*/


/*-------------新组合列表---------------*/
@charset "utf-8";
/* CSS Main */
html{ width:100%; height:100%; min-height:100%;-webkit-text-size-adjust:100%;}
body { position:relative; height:100%; min-height:100%;-webkit-font-smoothing: antialiased; background:#f6f6f6;font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;}
*{margin:0;padding:0;border:none;list-style:none;-webkit-tap-highlight-color:rgba(0,0,0,0); font-style:normal;}
p { color:#666666;}
.important { color:#e95960 !important;}
::-moz-placeholder {color: #ddd;opacity: 1!important; font-size:16px;}
:-ms-input-placeholder {color: #ddd; font-size:16px;}
::-webkit-input-placeholder {color: #ddd; font-size:16px;}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] { font-size:14px; height:28px; line-height:26px; padding:6px; border:none; -webkit-appearance: none; width:90%;}
textarea { padding-bottom:23px;}
input:hover,textarea:hover,select:hover {outline: none; border:none;}
input:focus,textarea:focus,select:focus {outline: none; border:none;}
select:disabled,
textarea:disabled,
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="date"]:disabled,
input[type="month"]:disabled,
input[type="time"]:disabled,
input[type="week"]:disabled,
input[type="number"]:disabled,
input[type="email"]:disabled,
input[type="url"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="color"]:disabled { background:none; color:#000;}
select:readonly,
textarea:readonly,
input[type="text"]:readonly,
input[type="password"]:readonly,
input[type="datetime"]:readonly,
input[type="datetime-local"]:readonly,
input[type="date"]:readonly,
input[type="month"]:readonly,
input[type="time"]:readonly,
input[type="week"]:readonly,
input[type="number"]:readonly,
input[type="email"]:readonly,
input[type="url"]:readonly,
input[type="search"]:readonly,
input[type="tel"]:readonly,
input[type="color"]:readonly { background:none; color:#000;}

img { max-width:100%;}

a {color:#b60101; text-decoration:none;}
a:focus {outline: thin dotted;}
a:active,
a:hover {outline: 0;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}

.mt20 { margin-top:10px;}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#header { border:0; border-image: url(../Image/activitylist/border2.png) 2 stretch;}
	.normalList dl dd,
	.TabNav ul li,
	.TabNav ul li:first-child a,
	.TabNav ul li .TabNavList dl dd { border:0; border-image: url(../Image/activitylist/border1.png) 2 stretch;}
	.TabNav ul li .TabNavList {top: 40px;}
}
/* Global
--------------------------------------------------------------*/
#wrapper { position: relative; top:0; padding-top:46px; left:0; bottom:0; z-index:1; margin:0 auto; width:100%; overflow:hidden; min-height:100%; -webkit-transition:all 0.2s;}
#wrapper.bgfff { background:#fff; min-height:92%;}
#main { position:relative; padding-bottom:10px; min-height:100%; overflow:hidden;}
#footer { padding:15px 0 5px 0; width:100%; height:20px; line-height:20px; text-align:center; font-size:12px; color:#999;}
#footer a { color:#999;}
#header { position: fixed; top:0; left:0; z-index:2; width:100%; height:45px; border-bottom: 1px solid #ccc; background:#fff; text-align:center;}
#header h1 { position:absolute; left:0; top:0; width:100%; text-align:center; line-height:45px; font-size:18px; font-weight:normal;}
#header i { position:relative; z-index:2; width:45px; height:45px; background-size:100% auto;}
#header i.icon-back { background-image:url(../Image/activitylist/header3.png);}
/*----------------------------------  Global结束  ------------------------------------*/

.dateNav { width:100%; border-bottom: 1px solid #eee; background:#fff;}
.dateNav ul { width:100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;}
.dateNav ul li {float: none; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;}
.dateNav ul li a { padding:10px 0; display:block; font-size:16px; text-align:center; color:#333;}
.dateNav ul li a.hover { color:#ed3f41; border-bottom:solid 1px #ed3f41;}

.dateSideNav { position:relative; z-index:3; width:100%; background:#fff;}
.dateSideNav ul { margin:0 10px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;}
.dateSideNav ul li { padding:10px 0; float: none; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;}
.dateSideNav ul li a { display:block; padding:5px; font-size:16px; text-align:center; color:#757982; border:solid 1px #757982; margin-left:-1px;}
.dateSideNav ul li.hover a { color:#fff; background:#757982;}
.dateSideNav ul li:first-child a { border-radius:3px 0 0 3px;}
.dateSideNav ul li:last-child a { border-radius:0 3px 3px 0;}

.TabNav { position:relative; z-index:3; padding-top:10px; width:100%; background:#f6f6f6;}
.TabNav ul { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; background:#fff;}
.TabNav ul li { position:relative; padding:10px 0; float: none; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; border-bottom:solid 1px #eee;}
.TabNav ul li a { display:block; font-size:14px; text-align:center; color:#333; text-indent:8px; line-height:20px;}
.TabNav ul li a i { display:inline-block; margin-left:3px; width:13px; height:8px; background-repeat:no-repeat; background-size:100% auto;}
.TabNav ul li a i { background-image:url(../Image/activitylist/icon-2.png);}
.TabNav ul li.hover:after { position:absolute; bottom:-1px; left:50%; margin-left:-4px; width:9px; height:5px; content:""; background-image:url(../Image/activitylist/icon-4.png); background-repeat:no-repeat; background-size:100% auto;}
.TabNav ul li.hover a i { background-image:url(../Image/activitylist/icon-3.png);}
.TabNav ul li.open a i { background-image:url(../Image/activitylist/icon-1.png);}
.TabNav ul li.open a { color:#ed3f41;}
.TabNav ul li:first-child a { border-right:solid 1px #eee;}
.TabNav ul li .TabNavList { display:none; position:absolute; top:41px; z-index:1; left:0; width:200%; background:#fff;}
.TabNav ul li:last-child .TabNavList { left:-100%;}
.TabNav ul li:first-child .TabNavList { left:0;}
.TabNav ul li .TabNavList dl { margin-left:15px; height:0px; max-height:164px; overflow:auto;-webkit-overflow-scrolling : touch; background:#fff;}
.TabNav ul li.open .TabNavList { display: block; z-index:3;}
.TabNav ul li.open .TabNavList dl { height:164px;}
.TabNav ul li .TabNavList dl dd { position:relative; height:40px; line-height:40px; border-bottom:solid 1px #eee;}
.TabNav ul li .TabNavList dl dd:last-child { border-bottom:0;}
.TabNav ul li .TabNavList dl dd a { display:block; text-align:left; color:#333; line-height:40px;}
.TabNav ul li .TabNavList dl dd.hover:after { position:absolute; right:15px; top:50%; margin-top:-5px; width:15px; height:10px; content:""; background-image:url(../Image/activitylist/icon-5.png); background-repeat:no-repeat; background-size:100% auto;}
.TabNavbg { position: fixed; z-index:2; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6);}
.TabNavbg + .normalList { margin-top:0px;}
.TabNavbg + .colorList { margin-top:0px;}

.bannerImg { position:relative; z-index:3; width:100%; height:auto; line-height:0; background:#fff;}
.bannerImg img { width:100%; height:auto;}

.normalList { position:relative; z-index:1; margin-top:10px; border-bottom: 1px solid #eee; background:#fff; padding-bottom:10px; min-height:200px;}
.normalList dl { margin-left:15px;}
.normalList dl dd { position:relative; height:auto; overflow:hidden; border-top: 1px solid #eee;}
.normalList dl dd a { display:block; height:auto; overflow:hidden; padding:8px 5px 8px 0; color:#333;}
.normalList dl dd:first-child {border-top:0;}
.normalList dl dd .img { float:left; width:75px; height:65px; overflow:hidden;}
.normalList dl dd .img img { width:100%; height:100%;}
.normalList dl dd .text { margin-left:85px;}
.normalList dl dd .text h3 { font-size:16px; color:#333; font-weight:normal; line-height:25px; height:25px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.normalList dl dd .text p { font-size:12px; color:#999; max-height:40px; line-height:20px; overflow:hidden;}

#masonry .nodate { height:100%; min-height:200px; background-image:url(../Image/nodate.png); background-repeat:no-repeat; background-size:115px 75px; background-position:center center;}
.colorList { position:relative; z-index:1; margin-top:10px; background:#fff; height:auto; min-height:200px; overflow:hidden; padding-bottom:10px;}
.colorList dl { margin:0 15px;}
.colorList dl dd { position:relative; height:auto; overflow:hidden; border-radius:4px; background-color:#4ed6b2; background-image:url(../Image/activitylist/icon-6.png); background-repeat:no-repeat; background-position:right center; background-size: auto 21px; margin-top:15px;}
.colorList dl dd a { display:block; height:auto; overflow:hidden; padding:8px 0 8px 0; color:#333;}
.colorList dl dd:nth-child(n) { background-color:#4ed6b2;}
.colorList dl dd:nth-child(2n) { background-color:#fec047;}
.colorList dl dd:nth-child(3n) { background-color:#6fb2e7;}
.colorList dl dd:nth-child(4n) { background-color:#ff5b5a;}
.colorList dl dd .img { margin-left:15px; float:left; width:50px; height:50px; overflow:hidden;}
.colorList dl dd .img img { width:100%; height:100%;}
.colorList dl dd .text { margin-left:75px; padding-right:40px;}
.colorList dl dd .text h3 { font-size:16px; color:#fff; font-weight:normal; line-height:25px; height:25px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.colorList dl dd .text p { font-size:12px; color:#fff; max-height:25px; line-height:25px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}

#infscr-loading { text-align:center; padding:5px 0;}
#infscr-loading img {}
#infscr-loading div { position:relative; top:-3px; margin-left:5px; display:inline-block; color:#999; font-size:12px;}
.colorList dl dd.colorVal-1 { background:#f2b216;}
.colorList dl dd.colorVal-2 { background:#592257;}
.colorList dl dd.colorVal-3 { background:#545456;}
.colorList dl dd.colorVal-4 { background:#52c7e8;}
.colorList dl dd.colorVal-5 { background:#66ab26;}
.colorList dl dd.colorVal-6 { background:#e44b58;}
.colorList dl dd.colorVal-7 { background:#a05000;}
.colorList dl dd.colorVal-8 { background:#1875d4;}
.colorList dl dd.colorVal-9 { background:#fc5366;}
.colorList dl dd.colorVal-10 { background:#ff8a4a;}
.colorList dl dd.colorVal-11 { background:#ebb70c;}
.colorList dl dd.colorVal-12 { background:#01cad4;}
.colorList dl dd.colorVal-13 { background:#1bc266;}
.colorList dl dd.colorVal-14 { background:#5dade2;}
.colorList dl dd.colorVal-15 { background:#c0db36;}
.colorList dl dd.colorVal-16 { background:#faca38;}
.colorList dl dd.colorVal-17 { background:#ee72b1;}
.colorList dl dd.colorVal-18 { background:#ffba31;}
.colorList dl dd.colorVal-19 { background:#88c8ff;}
.colorList dl dd.colorVal-20 { background:#87dad2;}
.colorList dl dd.colorVal-21 { background:#ffa9b2;}
.colorList dl dd.colorVal-22 { background:#f5976c;}
.colorList dl dd.colorVal-23 { background:#c3de67;}
.colorList dl dd.colorVal-24 { background:#62e2ff;}
.colorList dl dd.colorVal-25 { background:#dac4ae;}
.colorList dl dd.colorVal-26 { background:#cea0d7;}