
html body { width: 100%; height: auto; padding: 20px 0; max-width: 640px; overflow-x: hidden; margin: 0 auto; background: #eeeeee;}

.clff9000 { color: #ff9000;}
.bgff9000 { background: #ff9000;}
.inner { padding: 20px;}
.info,.score,.message { margin-bottom: 20px; background: #ffffff;}
.title { width: 100%; padding-bottom: 8px; margin-bottom: 20px; border-bottom: 1px #e6e6e6 solid;}
.title span { position: relative; line-height: 20px; border-left: 3px #ff9000 solid; padding-left: 10px; font-size: 16px; color: #333333;}
.title span:after { content: ""; display: block; position: absolute; top: 28px; right: 4px; width: 7px; height: 7px; background: #ffffff; border: 1px #e6e6e6 solid; border-width: 1px 0 0 1px; -webkit-transform: rotate(45deg);}
.info .photo { margin-right: 15px;}
.info .box ul { max-width: 60%;}
.info .box ul li { margin-bottom: 10px; font-size: 14px;}
.info .box .star { margin-left: 5px;}
.info .box .star span { display: inline-block; width: 20px; height: 18px; margin-left: -5px;}
.info .box .star span.none { display: none;}
.info .box .star span.off { background: url(../Image/pinganSx/star-off.png) no-repeat; background-size: 100%;}
.info .box .star span.on { background: url(../Image/pinganSx/star-on.png) no-repeat; background-size: 100%;}
.info .box .star span.half { background: url(../Image/pinganSx/star-half.png) no-repeat; background-size: 100%;}
.info .box .star span.point { text-align: center; color: #ffffff; border-radius: 3px; line-height: 18px; padding: 0 3px; position: relative; bottom: 3px; left: 5px;}

.score .title i { display: inline-block; width: 35px; height: 20px; background: url(../Image/pinganSx/change.png) no-repeat; background-size: 100%;}
.score .star p { text-align: center; font-size: 16px;}
.score #pingfen{ width:135px;margin:10px auto;height:24px;}
.score #pingfen img { width: 35px; height: 35px;}
.score .view { width: 90%; height: 100px; padding: 0 4%; margin: 20px auto; border-radius: 3px; border: 1px #e4e4e4 solid; background: #f7f7f8;}
.score textarea { width: 100%; height: 80px; padding: 0; border: 0; background: #f7f7f8; margin: 10px auto; resize: none;}
.score .choose p { font-size: 16px; line-height: 24px; margin-bottom: 10px;}
.score .choose li { min-width: 50%; float: left; line-height: 24px; margin-bottom: 5px; font-size: 15px;}
.score .choose li.active { float: none;}
.score .choose li input { opacity: 0; position: absolute;}
.score .choose li input,.score .choose li i { margin-right: 5px; vertical-align: middle;}
.score .choose li label i { display: inline-block; width: 18px; height: 18px; background: url(../Image/pinganSx/tick-off.png) no-repeat; background-size: 100%;}
.score .choose li label i.active { display: inline-block; width: 18px; height: 18px; background: url(../Image/pinganSx/tick-on.png) no-repeat; background-size: 100%;}

.message .box li { font-size: 15px; position: relative; height: 45px; border-bottom: 1px #cccccc solid;}
.message .box li input { width: 180px; line-height: 45px; border: none; background: none; padding: 0 0 0 5px; margin-left: 15px;}
.message .box li label.w2 { letter-spacing: 2em; margin-right: -2em;}
.message .box li label.w3 { letter-spacing: .5em; margin-right: -.5em;}

form .btn input { width: 90%; padding: 10px 0; margin: 0 5%; font-size: 16px; text-align: center; color: #ffffff; border-radius: 3px;}
input:focus { border: 0; box-shadow: none;}

.formError { position:absolute; top:-20px !important; left:auto !important; left:65px !important; margin:0 !important; padding:0 10px; height:25px; line-height:25px;/* background:#bb0000;*/ color:#fff; border-radius:5px;/* box-shadow:0 0 3px rgba(187,0,0,0.5);*/ z-index:100;-webkit-animation:erroMsg 0.3s linear;-webkit-animation-fill-mode:forwards;}
.formError.passcode { right:100px;}
.formError:before { position:absolute; top:26px; left:30px; width:7px; height:7px; color:#bb0000; content: ''; z-index: 1; background: #fff8f8; border: 1px #e39f9f solid; border-width: 0 1px 1px 0; -webkit-transform: rotate(45deg);}
.formError .formErrorContent { width: auto; background: #fff8f8; position: relative; color: #ec3636; font-size: 12px; border: 1px solid #e39f9f; padding: 2px 10px; line-height: 24px; border-radius: 3px; box-shadow: 0 2px 2px rgba(0,0,0,.1); white-space: nowrap;}
@-webkit-keyframes erroMsg{
	0%{-webkit-transform:translate(0,10px);opacity:0}
	100%{-webkit-transform:translate(0,0);opacity:1}
}

.score .name { line-height: 20px; font-size: 14px; color: #333333; text-align: left;}
.score .input { padding: 50px 0 15px 0; position: relative;}
.slider-container { position: relative;}
.slider-container .miniBar { content: ""; display: block; position: absolute; width: 28px; height: 4px; left: 0; top: 0; z-index: 1; background: url(../Image/pinganSx/sxpa-icon2.png) repeat; background-size: auto 100%;}
.score li.fn { position: relative;}
.score li.fn .flag { display: block; position: absolute; left: 27px; top: -30px; width: 9px; height: 14px; background: url(../Image/pinganSx/sxpa-icon3.png) no-repeat; background-size: 100%;}

.plusMinus { position: absolute; top: -40px; left: 10px; font-size: 13px; font-weight: normal;}
.btn-minus,.btn-plus { width: 30px; height: 30px; line-height: 30px; text-align: center; position: absolute; top: -12px; z-index: 1; background: #f4f4f4; color: #666666; font-size: 20px; font-weight: bold;}
.btn-minus { left: 0;}
.btn-plus { right: 0;}
.btn-minus.active { background: #d3d3d3; color: #47d35e;}
.btn-plus.active { background: #d3d3d3; color: #ed3f41;}
.pointer .tips-label { width: 25px; height: 30px; line-height: 30px; text-align: center; position: relative; top: -2px; left: 6px; font-weight: normal; font-size: 13px; color: #ffffff; background: url(../Image/pinganSx/sxpa-icon1.png) no-repeat; background-size: 100%; pointer-events: none;}
#score-5 .pointer .tips-label { color: #51c7fe;}
.pointer-label { display: none;}

.theme-orange .back-bar {
  height: 4px;
  /*border-radius: 20px;*/
  background-color: #cfcfcf;
  background-color: #cccccc;
  background-image: -moz-linear-gradient(top, #cfcfcf, #cacaca);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cfcfcf), to(#cacaca));
  background-image: -webkit-linear-gradient(top, #cfcfcf, #cacaca);
  background-image: -o-linear-gradient(top, #cfcfcf, #cacaca);
  background-image: linear-gradient(to bottom, #cfcfcf, #cacaca);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdddddd', GradientType=0);
}
.theme-orange .back-bar .selected-bar {
  border-radius: 20px;
  background-color: #ff9000;
  background-image: none;
  /*background-image: -moz-linear-gradient(top, #bdfade, #76fabc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bdfade), to(#76fabc));
  background-image: -webkit-linear-gradient(top, #bdfade, #76fabc);
  background-image: -o-linear-gradient(top, #bdfade, #76fabc);
  background-image: linear-gradient(to bottom, #bdfade, #76fabc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbdfade', endColorstr='#ff76fabc', GradientType=0);*/
}
.theme-orange .back-bar .pointer {
  width: 30px;
  height: 30px;
  top: -5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #AAA;
  background-color: none;
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdddddd', GradientType=0);
}
.theme-orange .back-bar .pointer:before {
  width: 14px;
  height: 14px;
  border: none;
  content: "";
  border-radius: 10px;
  display: block;
  position: absolute;
  top: 35px;
  left: 11px;
  background-image: none;
  background-size: 100%;
  background-color: #ff9000;
  z-index: 1000;
}
.theme-orange .back-bar .pointer-label {
  color: #999;
}
.theme-orange .back-bar .focused {
  color: #333;
}
.theme-orange .scale span {
  border-left: 0px solid #e5e5e5;
}
.theme-orange .scale ins {
  color: #999;
  font-size: 13px;
  top: -40px;
}
.theme-blue .back-bar {
  height: 5px;
  border-radius: 2px;
  background-color: #eeeeee;
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdddddd', GradientType=0);
}
.theme-orange .back-bar .pointer-label { font-size: 15px; background: none; top: -20px; font-weight: bold; color: #fd7730;}
.theme-orange .back-bar .pointer { width: 50px; height: 50px; border: none; background-image: none; background-size: 100%; background-color: none; z-index: 1000; top: -40px;}

#score-5 { margin-top: 15px;}
#score-5 .theme-orange .back-bar .pointer-label { color: #51c7fe;}
#score-5 .theme-orange .back-bar .pointer { background: url(../Image/Item/jxkh/jxkh-icon2.png) no-repeat; background-size: 100%;}
#score-5 .theme-orange .back-bar .selected-bar { background-color: #51c7fe;}

.slider-container { margin: 0 auto;}
.slider-container .clickable-dummy { height: 50px; top: 50%; margin-top: -40px;}
