@charset "utf-8";
/* CSS Main */
html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:12px/1.5em "microsoft yahei"; color:#111010;}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe,img{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.mt04{margin-top: 6%;}
.mt08{margin-top: 8%;}
/* Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{max-width:640px;height:100%; min-height:100%; text-align:center;color:#fff;}
.swiper-container-whole {width: 100%;overflow: hidden;position: relative;background-image: url(../Image/zy/bg.jpg);background-repeat: no-repeat;background-size: 100% 100%;}
.swiper-wrapper{position: relative;width: 100%;height: 87.5%;;overflow-y:auto;}
.swiper-slide{position:relative;width: 87.5%;margin: 0 auto;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: 0.5s;
}
.title{width: 30%;margin-top:1.5em;}
.blank{z-index:1;height: 12.5%;width: 100%;}
/*底部菜单*/
.bottom{z-index:99;position:absolute;bottom:0;left:0;width: 100%;height: 12.5%;overflow-x:auto;overflow-y:hidden;opacity:0;background-color: #52310f;-webkit-animation:bounceInRight 1.5s ease-out 1s forwards;}
.bottom ul{width:150%;height: 100%;}
.bottom li{width: 16.4%;height:100%;float: left;border-right: 1px solid #885c22;}
.bottom li img{display:block;width:25%;margin-left:auto;margin-right:auto;margin-top:18%;margin-bottom: 6%;}
.bottom li img p{line-height: 1;}
.left{z-index:100;width:20px;position: fixed;bottom:30px;right: 0;-webkit-animation:moveIcon 1.2s linear 0 infinite;}
@-webkit-keyframes moveIcon {
	  0%{ -webkit-transform:translate(0,0);}
	50%{ -webkit-transform:translate(4px,0);}
	100%{ -webkit-transform:translate(0,0);}
}

/*我要报名*/
#page1{opacity: 0;}
#page1 .m-title{padding-top:15%;font-size: 1.7em;color: #ffe400;font-weight: bold;line-height: 1;}
#page1 .f-title{margin-top:0.8em;margin-bottom:1.5em;font-size: 1.2em;color: #ffe400;line-height: 1;}
#page1 p{font-size: 1em;line-height: 1.8;}
#page1 p span{font-size: 1.2em;margin-right: 1em;}
#page1 p input[type=text]{width: 62.5%;height:2.5em;background:#fff;opacity: 0.8;border-radius: 4px;}
#page1 .btn{margin:2em auto;width: 40%;height: 2.5em;background-color: #ffe400;line-height: 2.5em;color: #261004;border-radius:2.5em;}

/*会议简介*/
#page2{text-align: left;opacity: 0;}
#page2 h2{margin-top:6%;font-size: 1em;font-weight: normal;}
#page2 p{text-indent: 2em;line-height: 1.8;}

/*嘉宾简介*/
#page4,#page3{opacity: 0;}
#page4 table,#page3 table{width: 100%;margin-top:1.5em;}
#page4 table td,#page3 table td{vertical-align: sub;padding-top:5%;}
#page4 table td p,#page3 table td p{line-height: 1.5;}
#page4 table .big,#page3 table .big{font-size: 1.4em;}

/*会议地址*/
#page5{opacity: 0;}
#page5 h1{font-size: 1.5em;line-height: 1;margin-top: 1.4em;}
#page5 .map{width: 100%;margin-top: 1.5em;margin-bottom:1.5em;}

/*分享*/
#page6{opacity: 0;}
#page6 img{width: 100%;margin-top: 5%;}

/*动画*/
#page1.animate{-webkit-animation-name: bounceInLeft;}
#page2.animate{-webkit-animation-name: flipInX;}
#page3.animate{-webkit-animation-name: fadeInRight;}
#page4.animate{-webkit-animation-name: bounceInDown;}
#page5.animate{-webkit-animation-name: rotateIn;}
#page6.animate{-webkit-animation-name: tada;}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
  	opacity: 1;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
  	opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
  	opacity: 1;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
  	opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@-webkit-keyframes tada {
  0% {
  	opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
  	opacity: 1;
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
  	opacity: 1;
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
  	opacity: 1;
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
  	opacity: 1;
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  80% {
  	opacity: 1;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
  	opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}







