<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=320, maximum-scale=1, user-scalable=no">
<meta content="O2O,O2O营销,二维码,旺财,市场调研" name="Keywords">
<meta content="telephone=no" name="format-detection" />
<meta content="email=no" name="format-detection" />
<meta name="apple-touch-fullscreen" content="NO">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Label/Css/wap_Shop2.css">
<script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.2.min.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-1.11.2.custom/template.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/artDialog4.1.6/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Js/artDialog4.1.6/plugins/iframeTools.js?v=__VR__"></script>
</head>
<body onload="int()">
<div class="shopBoxCon nobottom">
	<div class="shopBoxCon-top"></div>
	<div class="shopBoxCon-title"><span>单页设计</span>
	</div>
    <div id="wrapper">
        <div id="container">
            <div id="main">
                <div class="shopBoxPreView"></div>
				<div class="cl"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


<script>
$(document).ready(function(e) {
	var data = art.dialog.data('datastr');
	var title = art.dialog.data('title');
	data = eval("(" + data + ")");
    begin(data);
	$(".shopBoxCon-title span").text(title)
});
function begin(data){
	for(var i=0;i<data.module.length;i++){
		var dataPro = data.module[i];
			data.module[i].id = i+1 ;
		var addHtml = "data"+dataPro.name;
		var Modhtml = template(addHtml, dataPro);
		$(".shopBoxPreView").append(Modhtml);
	}
}
function init(){
	var windowheight=$(".shopBoxPreView").height();
	var windowwidth=$(".shopBoxPreView").width();
	var scale=windowwidth/640;
	var smallconWidth = windowwidth-50;
	var smallimgHeight = smallconWidth*5/16 ;
	var bigconWidth = windowwidth-30;
	var bigimgHeight = bigconWidth*5/8 ;
	var listconWidth = windowwidth-50;
	var listimgHeight = listconWidth*5/16 ;
	$(".shopModBox-12").height(960*scale);
	$(".shopModBox-1 .small ").width(smallconWidth/2);
	$(".shopModBox-1 .big ").width(bigconWidth);
	$(".shopModBox-1 .small .img").width(smallconWidth/2);
	$(".shopModBox-1 .small .img").height(smallimgHeight);
	$(".shopModBox-1 .big .img").width(bigconWidth);
	$(".shopModBox-1 .big .img").height(bigimgHeight);
	$(".shopModBox-4 .shopModSmall li").width(bigconWidth/2);
	$(".shopModBox-5").each(function() {
		var length = $(this).find("li:not('.dn')").length;
		var width = windowwidth-10*length-10;
        $(this).find("li").width(width/length);
    });
	$(".shopModFlashDiv li div h3").each(function(){
		var _this = $(this);
		_this.html(_this.text());
	});
	$(".shopModFlashDiv li div.radio").each(function(){
		var _thisFlashDiv = $(this);
		var textHeight = parseInt(_thisFlashDiv.width());
		_thisFlashDiv.css("height",textHeight);
	});
	$(".shopModFlashDiv li div.checkPositionX").each(function(){
		var _thisFlashDiv = $(this);
		var textWidth = parseInt(_thisFlashDiv.width());
		_thisFlashDiv.css("margin-left",-textWidth);
	});
	$(".shopModFlashDiv li div.checkPositionY").each(function(){
		var _thisFlashDiv = $(this);
		var textHeight = parseInt(_thisFlashDiv.height());
		_thisFlashDiv.css("margin-top",-textHeight);
	});
	$("a[href=''],a[href='http://']").attr("href","javascript:void(0)");
}
</script>
<script type="text/javascript" src="__PUBLIC__/Label/Js/idangerous.swiper.min.js"></script>
<script>

var Hotrecommendt = "";
window.onload = function() {
	init();
	if($(".shopModBox-12").length>0){
		var navSwiper = new Swiper('.shopModOrd-1',{
			slidesPerView:4,
			autoResize:false
		})
		$('.prevDiv').on('click', function(e){
			e.preventDefault();
			navSwiper.swipePrev();
		})
		$('.nextDiv').on('click', function(e){
			e.preventDefault();
			navSwiper.swipeNext();
		})
	}
	if($(".shopModFlash").length>0){
		for(var i=0;i<$(".shopModFlash").length;i++){
			var _this = $(".shopModFlash:eq("+i+")");
			if(_this.find(".swiper-slide").length==1){
				_this.find("ul").width("100%");
				_this.find(".swiper-slide").width("100%");
				$(shopModFlashdl).find("span").hide();
			}else{
				var shopModFlash = "shopModFlash"+_this.attr("data-rel");
				var shopModFlashdl = ".shopModFlashdl"+_this.attr("data-rel")
				var	flashSwiper = new Swiper('.'+shopModFlash,{
					pagination: shopModFlashdl,
					slidesPerView:1,
					calculateHeight:true,
					autoResize:false
				});
			}
		}
	}
	if($(".shopModFlashDiv").length!=0){
		Hotrecommendt = new Swiper('.shopModFlashDiv',{
			pagination: 'dl',
			paginationClickable: true,
			slideElement:"li",
			mode: "vertical"
		})
	}
}
</script>

<script>
	function audio(){
		var audio = document.getElementById('audio');
			if(audio.paused){
				audio.play();
				$(".music").addClass("on");
			}else{
				audio.pause();
				$(".music").removeClass("on");
			}
		}
</script>
<!--artTemplate-->
<!--商品-->
<script id="dataPro" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit="{{id}}" data-special="1">
		<div class="shopModBox-1">
			<ul class="shopModOrd-1">
				{{each list}}
				{{if value.size == "big"}} <div class="cl"></div> {{/if}}
				<li class="{{value.size}}">
					<a href="javascript:void(0)">
						<div class="img">
							<img src="{{value.img}}" />
						</div>
						<div class="info">
							<h3 class="{{if checkproName=="false"}}dn{{/if}}">{{value.title}}</h3>
							<h4 class="{{if checkproPrice=="false"}}dn{{/if}}">￥{{value.price}}</h4>
							<h6 class="{{if checkproBtn=="false"}}dn{{/if}}"><i class="icon-shopModOrd-1"></i></h6>
						</div>
					</a>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--商品分组-->
<script id="dataProList" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="2">
		<div class="shopModBox-2">
			<ul class="shopModOrd-1">
				{{each list as value i }}
					{{if i<checkProListNum }}
					{{if value.size == "big"}} <div class="cl"></div> {{/if}}
					<li class="{{value.size}}">
						<a href="javascript:void(0)">
							<div class="img">
								<img src="{{value.img}}" />
							</div>
							<div class="info">
								<h3 class="{{if checkproName=="false"}}dn{{/if}}">{{value.title}}</h3>
								<h4 class="{{if checkproPrice=="false"}}dn{{/if}}">￥{{value.price}}</h4>
								<h6 class="{{if checkproBtn=="false"}}dn{{/if}}"><i class="icon-shopModOrd-1"></i></h6>
							</div>
						</a>
					</li>
					{{ else }}
					{{if value.size == "big"}} <div class="cl"></div> {{/if}}
					<li class="{{value.size}}" style="display:none">
						<a href="javascript:void(0)">
							<div class="img">
								<img src="{{value.img}}" />
							</div>
							<div class="info">
								<h3 class="{{if checkproName=="false"}}dn{{/if}}">{{value.title}}</h3>
								<h4 class="{{if checkproPrice=="false"}}dn{{/if}}">￥{{value.price}}</h4>
								<h6 class="{{if checkproBtn=="false"}}dn{{/if}}"><i class="icon-shopModOrd-1"></i></h6>
							</div>
						</a>
					</li>
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--多乐互动-->
<script id="dataAct" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="3">
		<div class="shopModBox-3">
			<ul>
				<li>
					<a href="javascript:void(0)">
						<img src="{{img}}" />
						<h2 class="{{if checkActTitle=="false"}}dn{{/if}}{{if checkActTime=="false"}} no{{/if}}">{{title}}</h2>
						<h3 class="{{if checkActTime=="false"}}dn{{/if}}">{{time}}:2014-12-12</h3>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--图片广告-->
<script id="dataPic" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="4">
		<div class="shopModBox-4">
			<div class="shopModFlashDiv {{if checkPicType==1}}shopModFlash{{ else if checkPicType==3}}shopModSmall{{/if}} shopModFlash{{id}}" data-rel="{{id}}">
				<ul class="{{if checkPicType==1}}swiper-wrapper{{/if}}">
				{{each list}}
					<li class="{{if checkPicType==1}}swiper-slide{{/if}}"><a href="{{value.url}}"><img src="{{value.img}}" /><h2>{{value.title}}</h2></a></li>
				{{/each}}
				</ul>
				<dl class="shopModFlashdl{{id}}"></dl>
			</div>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--图片导航-->
<script id="dataNavPic" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="5">
		<div class="shopModBox-5">
			<ul class="shopMod-{{checkNavPicNum}}">
				{{each list as value i }}
					{{if i<checkNavPicNum }}
					<li><a href="{{value.url}}"><img src="{{value.img}}" /><h2>{{value.title}}</h2></a></li>
					{{else}}
					<li class="dn"><a href="{{value.url}}"><img src="{{value.img}}" /><h2>{{value.title}}</h2></a></li>
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--文字导航-->
<script id="dataNavTxt" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="6">
		<div class="shopModBox-6">
			<ul>
				{{each list}}
					<li><a href="javascript:void(0)"><h2>{{value.title}}</h2><i></i></a></li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--标题-->
<script id="dataTitle" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="7">
		<div class="shopModBox-7">
			<ul>
				<li class="{{if checkTextLine==1}} {{ else if checkTextLine==2}} ln1 {{ else if checkTextLine==3}} ln2 {{ else if checkTextLine==4}} ln3 {{ else }} {{/if}}">
				<a href="javascript:void(0)" class="{{if checkTextalign==1}} tl {{ else if checkTextalign==2}} tc {{ else if checkTextalign==3}} tr {{ else }} tl {{/if}}"><h2>{{title}}</h2><h3>{{description}}</h3></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--富文本-->
<script id="dataUeditor" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="8">
		<div class="shopModBox-8">
			<div class="shopModText wap_info{{id}}">
				{{Ueditor}}
			</div>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--搜索框-->
<script id="dataSearch" type="text/html">
	{{if initialise }}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="9">
		<div class="shopModBox-9">
			<div class="search">
				<div class="searchForm">
					<form action="" name="searchform" method="get">
                    	<input type="hidden" name="g" value="Label" />
                        <input type="hidden" name="m" value="Store" />
                        <input type="hidden" name="a" value="index" />
						<input type="hidden" name="id" value="" />
						<input type="input" name="keyword"  id="keyword" class="search-input" placeholder="搜索您喜欢的商品" value="{$keyword}" />
                        <a href="javascript:void(0)" class="btn-search"></a>					
                    </form>
				</div>
			</div>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--辅助线-->
<script id="dataLine" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="10">
		<div class="shopModBox-10">
			<ul class="{{if checkLine==1}} shopModBorder-1 {{ else if checkLine==2}} shopModBorder-2 {{ else if checkLine==3}} shopModBorder-3 {{ else }} shopModBorder-1 {{/if}}">
				<hr />
			</ul>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--空白-->
<script id="dataMargin" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="11">
		<div class="shopModBox-11">
			<ul class="{{if checkMargin==1}} shopModNone-1 {{ else if checkMargin==2}} shopModNone-2 {{ else if checkMargin==3}} shopModNone-3 {{ else if checkMargin==4}} shopModNone-4 {{ else }} shopModNone-1 {{/if}}">
			</ul>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--电商导航-->
<script id="dataShopNav" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="16">
		<div class="shopModBox-16">
			<div id="nav" class="{{if checkShopNav=="true"}}fix{{/if}}">
				<ul>
					<li><a href="javascript:void(0)" onClick="link_to('<?php echo U('Label/Store/index','id='.session('id'));?>')"><i class="icon-navHome"></i><p>首页</p></a></li>
					<li class="bd"><a href="javascript:void(0)" onClick="link_to('<?php echo U('Label/Store/cart','id='.session('id'));?>')"><i class="icon-navTrolley"><?php if($cartCount>0){?><span><?php echo $cartCount;?></span><?php }?></i><p>购物车</p></a>
					</li>
					<li class="bd">
						<a href="javascript:void(0)" onClick="login_to('{:U('Label/MyOrder/index',array('node_id'=>$node_id))}')"><i class="icon-navOeder"></i><p>个人中心</p></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--模板1-->
<script id="dataModule1" type="text/html">
{{if initialise}}
<div class="shopMod disabled" id="shopMod_{{id}}" data-edit="{{id}}">
	<div class="shopModBox-12">
		<div class="bg" style="background-image:url({{bgimg}});"></div>
		<div class="nav" {{if checkModuleNav==0}} style=" top:85%; margin-top:-80px;" {{ else if checkModuleNav==1}}  style="bottom: 0px;" {{ else if checkModuleNav==2}}  style="top: 0px; margin-top: 0px;" {{ else if checkModuleNav==3}}  style="top: 50%; margin-top: -40px;" {{ else }} style=" top:85%; margin-top:-80px;" {{/if}} >
			<ul class="shopModOrd-1">
				<div class="swiper-wrapper">
				{{each list}}
					<li class="swiper-slide"><a href="{{value.url}}"><img src="{{value.img}}" /><h2>{{value.title}}</h2></a></li>
				{{/each}}
				</div>
			</ul>
			<i class="prev"></i>
			<i class="next on"></i>
		</div>
	</div>
</div>
	<div class="cl"></div>
{{/if}}
</script>


<!--新品推荐-->
<!--新品推荐-->
<script id="dataHotrecommend" type="text/html">
{{if initialise}}
<div class="shopMod disabled" id="shopMod_{{id}}" data-edit="{{id}}" data-special="13">
	<div class="shopModBox-13">
		{{if music!=""}}
		<div class="music on" onClick="audio()"><span></span><i></i><em></em></div>
		<audio src="{{music}}" autoplay="true" loop id="audio" style="display:none; width:0; height:0; overflow:hidden;"></audio>
		{{/if}}
		<div class="shopModFlashDiv top">
			<ul class="swiper-wrapper">
			{{each list as value i }}
				{{if i<list.length-1}}
				<li class="swiper-slide"><img src="{{value.img}}"><div class="{{if value.checkRadius==0}} text {{ else if value.checkRadius==1}} radio {{ else if value.checkRadius==2}} radius {{ else }} text {{/if}} {{if value.checkPositionX>=50}} checkPositionX {{/if}} {{if value.checkPositionY>=50}} checkPositionY {{/if}}" style="left:{{value.checkPositionX}}%;top:{{value.checkPositionY}}%;"><h2>{{value.title}}</h2><h3>{{value.BannerDescription}}</h3></div><i class="help"></i></li>
				{{ else }}
				<li class="swiper-slide"><img src="{{value.img}}"><div class="{{if value.checkRadius==0}} text {{ else if value.checkRadius==1}} radio {{ else if value.checkRadius==2}} radius {{ else }} text {{/if}} {{if value.checkPositionX>=50}} checkPositionX {{/if}} {{if value.checkPositionY>=50}} checkPositionY {{/if}}" style="left:{{value.checkPositionX}}%;top:{{value.checkPositionY}}%;"><h2>{{value.title}}</h2><h3>{{value.BannerDescription}}</h3></div><div class="btn-Hotrecommend"><a href="#" >访问我的小店</a><a href="#" class="last">前去购买</a></div></li>
				{{/if}}
			{{/each}}
			</ul>
			<dl>
				<dd class="hover"></dd>
				<dd></dd>
				<dd></dd>
			</dl>
		</div>
	</div>
</div>
{{/if}}
</script>
<!--新品推荐-->