<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>恢复登记</title>
    <link href="__PUBLIC__/Css/main.css?v=__VR__" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/Css/layout.css?v=__VR__" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/Css/module.css?v=__VR__" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/Css/Wcanal.css?v=__VR__" rel="stylesheet" type="text/css"/>
    <link href="__PUBLIC__/Css/Waccount.css?v=__VR__" rel="stylesheet" type="text/css"/>
    <load href="__PUBLIC__/Js/validationEngine/css/validationEngine.jquery.css"/>
    <js href="__PUBLIC__/Js/jquery-1.7.1.min.js?v=__VR__"/>
    <js href="__PUBLIC__/Js/global.js?v=__VR__"/>
    <js href="__PUBLIC_LOCAL__/Js/My97DatePicker/WdatePicker.js?v=__VR__"/>
    <js href="__PUBLIC__/Js/validationEngine/languages/jquery.validationEngine-zh_CN.js?v=__VR__"/>
    <js href="__PUBLIC__/Js/validationEngine/jquery.validationEngine.js?v=__VR__"/>
    <js href="__PUBLIC__/Js/artDialog4.1.6/jquery.artDialog.js?skin=default"/>
    <script type="text/javascript" src="__PUBLIC__/Js/artDialog4.1.6/plugins/iframeTools.js?v=__VR__"></script>
    <js href="__PUBLIC__/Js/artTemplate/template.js?v=__VR__"/>

</head>
<style>
    .Ginput input[type=checkbox] {
        margin-top: 0;
        display: inline-block
    }

    .Ginput p {
        display: inline-block;
        line-height: 28px;
    }

    .Gform .Ginput select.n3 {
        width: 159px;
    }

    .Gform .pl15 {
        padding-left: 15px;

    }

    .Gform .pl15 .box-title {
        font-size: 16px;
        padding-top: 15px;
    }



    .Gform .pl15 tr .absolute {
        position: absolute;
    }

    .Gform .Gtable td {
        padding-top: 12px;

    }

    .Gform .Gtable input {
        width: 159px;
        margin-right: 30px;
    }

    .Gform .Gtable p {
        margin-right: 5px;
    }

    .Gform .Gtable select {
        width: 159px;
    }

    #ffkh {
        width: 50px;
        margin-left: 15px;
    }

    .emphasis {
        color: #ed3f41;
    }

    td{padding:5px;}

    #Wcanal-tabon2 {
        width: 73%;
        float: right;
    }

    #Wcanal-tabon {
        min-width: 255px;
        float: left;
    }

    #Wcanal-tabon .Wcanal-tab-list table td {
        border: none;

    }

    #Wcanal-tabon .Wcanal-tab-list tr {
        border: solid 1px #e1e1e1;
    }

    #Wcanal-tabon .Wcanal-tab-list table .hover {
        border: solid 1px #fbcace !important;
        background: #fff2f3;
        color: #ed3f41;
    }

    .Wcanal-tab-list .search .maxTips.forInput {
        position: absolute;
        top: 20px;
        background-image: url(__PUBLIC__/Label/Image/wfx/searchIcon.png);
        background-size: 100% 100%;
        height: 20px;
        width: 20px;
        right: 15px;
        line-height: 20px;
    }

    .Wcanal-tab-list .search .maxTips.forInput i {

    }

    .Wcanal-tab-list .search {
        padding: 15px 10px;
        border-right: 1px #e3e3e3 solid;
        border-left: 1px #e3e3e3 solid;
    }

    .Wcanal-tab-list .search input {
        width: 95%;
        margin: 0 auto;

    }
    #container .Gform .Ginput .alone {
        width: 30px;
    }
    .hot-point-blue {
        width: 25px;
        /* background: #61aeef; */
        border: 1px solid #ed3f41;
        padding: 0px 5px;
        border-radius: 2px;
        position: relative;
        margin-left: 5px;
        font-size: 12px;
        color: #ed3f41;
        display: inline-block;
        line-height: 20px;

    }

    .hot-point-blue:before {
        position: absolute;
        display: inline-block;
        border-top: 5px solid transparent;
        border-right: 4px solid #ed3f41;
        border-bottom: 4px solid transparent;
        border-right-color: #ed3f41;
        left: -4px;
        top: 5px;
        content: '';
    }

    .hot-point-blue:after {
        position: absolute;
        display: inline-block;
        border-top: 4px solid transparent;
        border-right: 3px solid #fff;
        border-bottom: 3px solid transparent;
        left: -3px;
        top: 6px;
        content: '';
    }

    .Wcanal-tab-list tr .w500 {
        max-width: 500px;
    }
</style>
<body>
<div id="wrapper" class="bgeee">
    <include file="./Home/Tpl/Public/Public_header.html"/>
    <div id="container" class="bgfff">
        <div id="main" class="rel">

            <div class="sidenav">
                <!--开始引入左菜单-->
                <assign name="leftMenuId" value="8"/>
                <include file="./Home/Tpl/GpEye/gpeye_sidenav.html" leftmenuid="cure_register"/>
            </div>
            <div class="subcon fn">
                <div class="main-name fn">
                    <h4>恢复登记</h4>
                </div>
                <div class="Wcanal-tab" id="Wcanal-tabon">
                    <div class="Wcanal-tab-title fn" id="customertype">
                        <p class="Wcanal-tab-hover " data-type="1"><a href="javascript:void(0);">付费客户</a></p>

                        <p data-type="0"><a href="javascript:void(0);">体验客户</a></p>

                    </div>
                    <div class="Wcanal-tab-list" id="tech">
                        <div class="search">
                            <input name="item_no" id="cname1" type="text" value="" class="textbox"
                                   placeholder="请输入客户姓名"><span
                                class="maxTips forInput" onclick="query_client(1, $('#cname1').val())"
                                style="cursor:pointer"><i></i></span>
                        </div>

                        <table cellpadding="0" cellspacing="0" class="W-table">

                            <tr>
                                <th>ID</th>
                                <th>姓名</th>
                                <th>性别</th>

                            </tr>
                            <tbody id="ff_client_list">

                            </tbody>
                        </table>


                    </div>
                    <div class="Wcanal-tab-list dn">
                        <div class="search">
                            <input name="item_no" id="cname2" type="text" value="" class="textbox"
                                   placeholder="请输入客户姓名"><span
                                class="maxTips forInput" onclick="query_client(0, $('#cname2').val())"
                                style="cursor:pointer"><i></i></span>
                        </div>
                        <table cellpadding="0" cellspacing="0" class="W-table">
                            <tr>
                                <th>ID</th>
                                <th>姓名</th>
                                <th>性别</th>

                            </tr>
                            <tbody id="ty_client_list">

                            </tbody>
                        </table>


                    </div>

                </div>
                <div class="Wcanal-tab" id="Wcanal-tabon2">
                    <div class="Wcanal-tab-title fn ">
                        <p class="Wcanal-tab-hover"><a href="javascript:void(0);">基本情况</a></p>

                        <p><a href="javascript:void(0);">个人情况</a></p>

                        <p><a href="javascript:void(0);">恢复记录</a></p>
                    </div>
                    <div class="Wcanal-tab-list " id="tab1">


                    </div>
                    <div class="Wcanal-tab-list dn" id="tab2">

                    </div>

                    <div class="Wcanal-tab-list pt15 dn" id="tab3">

                    </div>


                </div>
            </div>


        </div>


    </div>


</div>
<include file="./Home/Tpl/Public/Public_footer.html"/>
<div class="service"></div>
</body>
<script type="text/html" id="tmpl_ff_client_list">
    <%
    if(list.length == null){
    %>
     <tr class="nodata">
        <td colspan="3">没有查询到数据！</td>
    </tr>
    <%
    } else {
    var info = {};
    for(a in list){
    info = list[a];
    %>
    <tr class="techinfo" style="cursor:pointer"ondblclick="getCustomerInfo(<%=info.id%>, this)" onselectstart="return false;">
        <td><%=info.id%></td>
        <td><%=info.name%></td>
        <td><%=info.sex%></td>
    </tr>
    <%
    }
    }
    %>
</script>
<script type="text/html" id="tmpl_tab1">
    <div class="w1 receiveInfo">
        <dl>
            <dd>
                <label>客户ID</label>
                <span><%=id%></span>
                <span class="hot-point-blue" style="color:#ed3f41 ;"><%if(type==0){%>体验<%}else{%>付费<%}%></span>
            </dd>
            <dd><label>姓名</label><span><%=name%></span></dd>
            <dd><label>性别</label><span><%=sex%></span></dd>
            <dd><label>年龄</label><span><%=age%></span></dd>
            <dd><label>学校</label><span><%=school%></span></dd>
            <dd><label>班级</label><span><%=classes%></span></dd>
            <dd><label>户籍</label><span><%=household.province%><%=household.city%></span></dd>
            <dd><label>来源</label><span><%=source%></span></dd>
            <dd><label>现住地</label><span><%=address%></span></dd>
            <dd><label>所属门店</label><span><%=storename%></span></dd>
            <dd><label>负责技师</label><span><%=techname%></span></dd>
            <dd><label>入店时间</label><span><%=come_time%></span></dd>
            <dd><label>裸眼视力</label><span>左眼<%=ext_info.eye_type[0]%></span>&nbsp<span>右眼<%=ext_info.eye_type[1]%></span>&nbsp<span>双眼<%=ext_info.eye_type[2]%></span>&nbsp<span>距离<%=ext_info.length1%></span></dd>
            <dd><label>矫正视力</label><span>左眼<%=ext_info.eye_type[3]%></span>&nbsp<span>右眼<%=ext_info.eye_type[4]%></span>&nbsp<span>双眼<%=ext_info.eye_type[5]%></span>&nbsp<span>距离<%=ext_info.length2%></span></dd>
            <dd><label>视力级别</label><span><%=level%></span></dd>
            <dd><label>眼睛情况</label><% for (i = 0; i <ext_info.s_type.length; i++) { %>
                <span><%= ext_info.s_type[i] %></span><%if(ext_info.s_type[i]=='斜视'){%><%=xieshi%><%}%>
                <% } %></dd>
            <dd><label>配戴眼镜情况</label><%=ext_info.class_que%></span></dd>
            <dd><label>配戴年数</label><span><%=ext_info.class_time%></span></dd>
            <dd><label>眼镜度数是否合适</label><%=ext_info.class_type%><span></span></dd>
            <dd><label>眼镜度数</label><span>左眼<%=ext_info.eye_degree1%></span>&nbsp&nbsp&nbsp<span>右眼<%=ext_info.eye_degree2%></span></dd>
            <dd><label>散光度数</label><span>左眼<%=ext_info.eye_degree3%></span>&nbsp&nbsp&nbsp<span>右眼<%=ext_info.eye_degree4%></span></dd>
            <dd><label>恢复进程</label><span><%=process_txt%></span></dd>
        </dl>
    </div>
</script>
<script type="text/html" id="tmpl_tab2">
    <div class="Gform w1">
        <ul>
            <li class="pl15"><p class="box-title">是否有过视力矫正史(多选)</p></li>
            <li class="pl15 Ginput ">
                <table>
                    <tr>
                        <td>
                            <input name="sns_type[]" type="checkbox" value="1">

                            <p class="ml5">药物治疗</p>
                        </td>
                        <td>
                            <input name="sns_type[]" type="checkbox" value="2">


                            <p class="ml5">器械治疗</p>
                        </td>
                        <td>
                            <input name="sns_type[]" type="checkbox" value="3">

                            <p class="ml5">手术治疗</p>
                        </td>
                        <td>
                            <input name="sns_type[]" type="checkbox" value="4">

                            <p class="ml5">配戴眼镜</p>
                        </td>
                        <td>
                            <input name="sns_type[]" type="checkbox" value="5">

                            <p class="ml5">中医治疗（针灸等）</p>
                        </td>

                    </tr>
                </table>


            </li>

        </ul>
        <ul>
            <li class="pl15"><p class="box-title">用眼习惯(多选)</p></li>
            <li class="pl15 Ginput ">
                <table>
                    <tr>
                        <td>
                            <input name="sns_type[]" type="checkbox" value="6">

                            <p class="ml5">做作业姿势不正确</p>
                        </td>
                        <td>
                            <input name="sns_type[]" type="checkbox" value="7">

                            <p class="ml5">做作业光线不足</p>
                        </td>
                        <td>
                            <input name="sns_type[]" type="checkbox" value="8"
                            >

                            <p class="ml5">做作业2小时以上</p>
                        </td>
                        <td>
                            <input name="sns_type[]" type="checkbox" value="9">

                            <p class="ml5">阅读距离太近</p>
                        </td>


                    </tr>
                    <tr>
                        <td>
                            <input name="sns_type[]" type="checkbox" value="10">

                            <p class="ml5">走路、乘车读书</p>
                        </td>
                        <td class="absolute">
                            <input name="sns_type[]" type="checkbox" value="11">

                            <p class="ml5">长时间使用电子产品（电脑、电视手机等）</p>
                        </td>
                    </tr>
                </table>


            </li>

        </ul>
        <ul>
            <li class="pl15"><p class="box-title">体质因素(多选)</p></li>
            <li class="pl15 Ginput ">
                <table>
                    <tr>
                        <td>
                            <input name="sns_type[]" type="checkbox" value="12">

                            <p class="ml5">挑食、偏食</p>
                        </td>
                        <td>
                            <input name="sns_type[]" type="checkbox" value="13">

                            <p class="ml5">营养不均衡</p>
                        </td>
                        <td>
                            <input name="sns_type[]" type="checkbox" value="14">

                            <p class="ml5">喜爱户外运动</p>
                        </td>
                        <td>
                            <input name="sns_type[]" type="checkbox" value="15">

                            <p class="ml5">敏感体质</p>
                        </td>




                    </tr>
                    <tr>
                        <td>
                            <input name="sns_type[]" type="checkbox" value="16">

                            <p class="ml5">是否有其他疾病</p>
                        </td>

                        <td>
                            <input name="sns_type[]" type="checkbox" value="17">

                            <p class="ml5">是否有肝部疾病</p>
                        </td>

                        <td>
                            <input name="sns_type[]" type="checkbox" value="18">

                            <p class="ml5">是否有过农药机磷中毒现象</p>
                        </td>
                        <td>
                            <input name="sns_type[]" type="checkbox" value="19">

                            <p class="ml5">睡眠不足</p>
                        </td>


                    </tr>
                    <tr>
                        <td>
                            <input name="sns_type[]" type="checkbox" value="20">

                            <p class="ml5">经常性和不自主性皱眉</p>
                        </td>

                        <td>
                            <input name="sns_type[]" type="checkbox" value="21">

                            <p class="ml5">对光线敏感，喜欢眯眼</p>
                        </td>

                        <td>
                            <input name="sns_type[]" type="checkbox" value="22">

                            <p class="ml5">胃功能障碍（长期胃炎）</p>
                        </td>


                        <td>
                            <input name="sns_type[]" type="checkbox" value="23">

                            <p class="ml5">眼睛容易疲劳</p>
                        </td>

                    </tr>

                    <tr>
                        <td class="absolute" colspan=5>
                            <input name="sns_type[]" type="checkbox" value="24" >

                            <p class="ml5 ">学习成绩下降、产生厌烦情绪、注意力不集中、 反应迟钝、记忆力减退</p>
                        </td>
                    </tr>
                    <tr><td>&nbsp</td></tr><tr><td>&nbsp</td></tr>
                    <tr>
                        <td colspan=5>
                            <input name="sns_type[]" type="checkbox" value="25">

                            <p class="ml5 mr5">其他</p>
                            <input name="business_license"  value="<%=qita%>" type="text" readonly="readonly/">
                        </td>

                    </tr>
                </table>


            </li>

        </ul>
        <ul>
            <li class="pl15"><p class="box-title">遗传因素(多选)</p></li>
            <li class="pl15 Ginput ">
                <table>
                    <tr>
                        <td>
                                <input name="sns_type[]" type="checkbox" value="26"><p class="ml5 ">家族性遗传近视</p>
                        </td>
                        <td>
                                <input name="sns_type[]" type="checkbox" value="27"><p class="ml5 ">家族高度近视</p>
                        </td>
                        <td>
                                <input name="sns_type[]" type="checkbox" value="28"><p class="ml5 ">父母双方近视视力</p>&nbsp;&nbsp;<p>父</p>&nbsp;<input name="fuqin1" type="text" class="alone" value="<%=fuqin1%>"readonly="readonly">&nbsp;&nbsp;<p>母</p>&nbsp;<input name="muqin1" type="text" class="alone" value="<%=muqin1%>"readonly="readonly">
                        </td>
                    </tr>
                    <tr>
                        <td>
                                <input name="sns_type[]" type="checkbox" value="29"><p class="ml5 ">父亲一方近视</p>
                                <input name="fuqin2" value="<%=fuqin2%>" readonly="readonly"type="text" class="alone">
                        </td>
                        <td>
                                <input name="sns_type[]" type="checkbox" value="30"><p class="ml5 ">母亲一方近视</p>
                                <input name="muqin2" readonly="readonly" type="text" class="alone" value="<%=muqin2%>">
                        </td>
                        <td>
                                <input name="sns_type[]" type="checkbox" value="31"><p class="ml5 mr5">其他</p>  <input name="qita2" value="<%=qita2%>" type="text" readonly="readonly" class="absolute Gview-text ">
                        </td>
                    </tr>
                    </table>
            </li>
        </ul>

    </div>
</script>
<script type="text/html" id="tmpl_tab3">
    <div class="Wcanal-tab-list pt15">

        <h6 class="pb15">
            请添加本次恢复服务记录<a class="btn-add first" href="javascript:void(0);" id="addrecord"
                                       onclick="addrecord()"><i></i>添加记录</a>
        </h6>

        <table cellpadding="0" cellspacing="0" class="W-table">
            <tr>
                <th>恢复次序</th>
                <th>恢复时间</th>
                <th>恢复技师</th>
                <th>操作人</th>
                <th style="width:300px;">恢复说明</th>
                <th>裸眼视力</th>
                <th>矫正视力</th>

            </tr>
            <%
            var info = {},i=list.length;
            for(a in list){
                info = list[a];
            %>
            <tr>

                <td><%=i--%></td>
                <td><%=info.treatment_time%></td>
                <td><%=info.techname%></td>
                <td><%=info.opuser%></td>
                <td class="w500"><%=info.process_txt%>:<br><%=info.memo%></td>
                <td><p>左眼<%=info.vision_info.eye_degree[0]%></p>

                    <p>右眼<%=info.vision_info.eye_degree[1]%></p>

                    <p>双眼<%=info.vision_info.eye_degree[2]%></p></td>
                <td><p>左眼<%=info.vision_info.eye_degree[3]%></p>

                    <p>右眼<%=info.vision_info.eye_degree[4]%></p>

                    <p>双眼<%=info.vision_info.eye_degree[5]%></p></td>


            </tr>
            <% } %>
        </table>


    </div>

</script>
<script type="text/html" id="tmpl_add">
    <form method="POST" name="theform" id="theform">
        <input type="hidden" id="cid" name="cid" value="<%=id%>">
        <div class="Gform" style="width: 750px;">
            <ul>
                <li class="Gname">恢复技师</li>
                <li class="Ginput">
                    <select class="textbox w100 validate[required]" name="techid" id="techid"
                            style="padding: 3px 0 2px 0; width: 197px;">
                        {:show_arr_opt($techlist)}
                    </select>
                </li>
            </ul>

            <ul>
                <li class="Gname">视力检查</li>
                <li class="Ginput">
                    <div class="switch hover" data-callback="flag_change">
                        <input type="radio" name="flag" id="flag" value="0" checked="checked">

                        <div class="newRadio">
                            <span class="valfirst hover" data-val="0" id="hide">否</span>
                            <span class="vallast" data-val="1" id="show">是</span>
                        </div>
                    </div>
                </li>

            </ul>
            <ul class="eyesight">
                <li class="Gname">裸眼</li>
                <li class="Ginput">
                    <select name="nlefteye" id="nlefteye" class=" n3 validate[required]">
                        <option value="0">左眼</option>
                        {:show_arr_opt($eyesightArr)}
                    </select>
                    <select name="nrighteye" id="nrighteye" class=" n3 validate[required]">
                        <option value="0">右眼</option>
                        {:show_arr_opt($eyesightArr)}
                    </select>
                    <select name="neyes" id="neyes" class=" n3 validate[required]">
                        <option value="0">双眼</option>
                        {:show_arr_opt($eyesightArr)}
                    </select>
                </li>
            </ul>
            <ul class="eyesight">
                <li class="Gname">矫正</li>
                <li class="Ginput">
                    <select name="clefteye" id="clefteye" class=" n3 validate[required]">
                        <option value="0">左眼</option>
                        {:show_arr_opt($eyesightArr)}
                    </select>
                    <select name="crighteye" id="crighteye" class=" n3 validate[required]">
                        <option value="0">右眼</option>
                        {:show_arr_opt($eyesightArr)}
                    </select>
                    <select name="ceyes" id="ceyes" class=" n3 validate[required]">
                        <option value="0">双眼</option>
                        {:show_arr_opt($eyesightArr)}
                    </select>
                </li>
            </ul>
            <ul>
                <li class="Gname">恢复进程</li>
                <li class="Ginput">
                    <select class="textbox w100" name="treatprocess" id="treatprocess"
                            style="padding: 3px 0 2px 0; width: 197px;">
                        {:show_arr_opt($processArr)}
                    </select>
                </li>
            </ul>
            <ul>
                <li class="Gname">恢复时间</li>
                <li class="Ginput">
                    <input name="treattime" type="text" value="" id="treattime"
                           onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'%y-%M-%d'})"
                           class="textbox w100 validate[maxSize[19],required]"/>
                </li>
            </ul>
            <ul>
                <li class="Gname">本次恢复说明</li>
                <li class="Ginput">
                    <textarea name="treatmemo" maxlength="200" id="treatmemo" class="validate[maxSize[200],required] "
                              ></textarea>
                </li>
            </ul>
        </div>
    </form>
</script>


<script>
    var thisid;
    var _cinfo = null;
    function query_client(type, name) {
        var targetE = '#ff_client_list'
        if (type == 0) {
            targetE = '#ty_client_list'
        }

        var dialog = art.dialog({title:false,content:"<div class='msg-all-succeed'>信息获取中...</div>",fixed: true,padding:0});
        $.post("{:U('GpEye/Treatment/getInfo')}", {"type": type, "name": name}, function (resp) {
            dialog.close();
            if(resp.status != 1){
                Diamsg({content:resp.info});
                return ;
            }
            data = resp.info;
            if (data.list == null) data = {list: []};
            $(targetE).html(template('tmpl_ff_client_list', data));
//            $('.techinfo:eq(0)').trigger('click');
        }, "json");


    }

    function save() {
        data.info.list.push({id: 1, name: ''})
        $('#tab3').html(template('tmpl_tab3', {list: data.info.list}));
    }

    function addrecord() {
        var timestamp=Date.parse(new Date());
        var date = new Date(timestamp);
        Y = date.getFullYear() + '-';
        M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        D = (date.getDate()< 10 ? '0'+(date.getDate()) : date.getDate()) + ' ';
        h = (date.getHours()< 10 ? '0'+(date.getHours()) : date.getHours()) + ':';
        m = (date.getMinutes()< 10 ? '0'+(date.getMinutes()) : date.getMinutes()) + ':';
        s = (date.getSeconds()< 10 ? '0'+(date.getSeconds()) : date.getSeconds());

        var mytime=Y+M+D+h+m+s;
        art.dialog({
            width: 800,
            height: 400,
            padding: 0,
            init: function () {
                $('.eyesight').hide();
                var thistechid = _cinfo.baseInfo.thistechid;
                $('#techid').val(thistechid);
                var process = _cinfo.baseInfo.treatment_process;
                $('#treatprocess').val(process);
                $('#treattime').val(mytime);
//                $('#treatprocess option').map(function(){
//                    $(this).prop('disabled', this.value < process);
//                });
            },
            title:'添加恢复服务记录',
            content: template('tmpl_add', {id:_cinfo.baseInfo.id}),
            ok: function () {
                var that = this;
                if($("#theform").validationEngine('validate')) {
                    var dialog = art.dialog({title:false,content:"<div class='msg-all-succeed'>正在提交...</div>",fixed: true,padding:0});
                    $.post("{:U('GpEye/Treatment/saveRecord')}", $('#theform').serialize(), function (resp) {
                        dialog.close();
                        if (resp.status != 1) {
                            Diamsg({content:resp.info});
                            return;
                        }

                        Diamsg({content:'添加成功！', ok: function(){
                            getCustomerInfo(_cinfo.baseInfo.id,globalobj);
                        }});
                        that.close();
                    }, 'json');
                }
                return false;
            },
            cancel: function () {

            }
        })
    }

    function flag_change(t) {
        if (t.data('val') == '1') {
            $('.eyesight').show();
        } else {
            $('.eyesight').hide();
        }
    }

    function getCustomerInfo(techid, obj){
        globalobj=obj;
        var $obj = $(globalobj);
        $('.techinfo').removeClass('hover');
        $obj.addClass('hover');

        var dialog = art.dialog({title:false,content:"<div class='msg-all-succeed'>信息获取中...</div>",fixed: true,padding:0});
        $.post("{:U('GpEye/Treatment/customerInfo')}", {"id": techid}, function (resp) {
            dialog.close();
            if (resp.status != 1) {
                Diamsg({content:resp.info});
                return;
            }

            _cinfo = resp.info;
            $('#tab1').html(template('tmpl_tab1', _cinfo.baseInfo));

            $('#tab2').html(template('tmpl_tab2', {qita:_cinfo.baseInfo.ext_info.qita,fuqin1:_cinfo.baseInfo.ext_info.other.fuqin1,muqin1:_cinfo.baseInfo.ext_info.other.muqin1,fuqin2:_cinfo.baseInfo.ext_info.other.fuqin2,muqin2:_cinfo.baseInfo.ext_info.other.muqin2,qita2:_cinfo.baseInfo.ext_info.other.qita2}));
            $(':checkbox[name="sns_type[]"]').prop('disabled', true).map(function () {
                var val = $(this).val();
                if ($.inArray(val, _cinfo.baseInfo.ext_info.sns_type) != -1) {
                    $(this).prop('checked', true);
                    $(this).siblings('p').addClass('emphasis');
                }
            });

            $('#tab3').html(template('tmpl_tab3', {list:_cinfo.treatList}));
        }, "json");
    }

    $(function () {
        Gform()

        $("#Wcanal-tabon td").parent().click(function () {
            $(this).addClass("hover");
            $(this).siblings().removeClass("hover");
        });
    });


</script>
</html>