<div class="main-name fn">
	<h4><a href="javascript:history.back();"  class="back"><i></i>我的商户</a>/ 新增商户</h4>
</div>
<form action="/index.php?g=Agent&m=Agent&a=addMerchantss" name="addShop" method="post" enctype="multipart/form-data">
<div class="Gform l">
	<ul>
		<li class="Gname"><span>*</span>商户类型</li>
		<li class="Ginput">
			<div class="switch">
                <input type="hidden" name="" value="{{ newRadio || 0}}">
                <div class="newRadio">
                    <span ng-class="{'hover':newRadio==1 || !newRadio}" ng-click="newRadio=1" class="valfirst" >待签约客户</span>
                    <span ng-class="{'hover':newRadio==2}"  ng-click="newRadio=2" class="vallast">已签约客户</span>
                </div>
            </div>
        </li>
	</ul>
	<ul>
		<li class="Gname"><span>*</span>商户旺号</li>
		<li class="Ginput"><input type="text" name=""></li>
	</ul>
	<ul>
		<li class="Gname"><span>*</span>商户名称</li>
		<li class="Ginput"><input type="text" name=""></li>
	</ul>
	<ul ng-show="newRadio==2">
		<li class="Gname"><span>*</span>合同扫描件</li>
		<li class="Ginput">
			<div class="Gchoose">
                <input type="text" name="imgPath" value="{{ imgPath }}"><img class="viewImage" ng-src="{{ viewImage }}">
                <a href="javascript:void(0)" class="Gbtn-picN" title="选择图片"><i><input name="img" type="file"></i></a>
                <div class="Gchoose-opr an" style="display: none;">
                    <div class="Gchoose-opr-img">
                         <img ng-src="/Home/Public/Image/Onhook/default.png" style="width:100px;">
                    </div>
                    <span class="Gchoose-opr-jt"></span>
                </div>
                <div class="Gchoose-oprbg"></div>
            </div>
		</li>
	</ul>
	<ul ng-show="newRadio==2">
		<li class="Gname"><span>*</span>合同详情</li>
		<li class="Ginput"><textarea name="" ></textarea></li>
	</ul>
	<ul>
        <li class="Ginput">
            <a href="javascript:void(0);" class="btn-all" id="smb">提交新增</a><a href="javascript:history.back();" class="btn-all-del">取消</a>
        </li>       
    </ul>
</div>
</form>


















