<div class="main-name fn">
   <h4>扣款查询</h4>
</div>
 <div class="WcanalNew-tab">
    <div class="Wcanal-tab-title fn">
        <p ui-sref-active="active" ><a ui-sref="index.debit.info" >扣费明细</a></p>
        <p ui-sref-active="active" ><a ui-sref="index.debit.date" >按日期统计</a></p>
        <p ui-sref-active="active" ><a ui-sref="index.debit.shop" >按商户统计</a></p>
        <p ui-sref-active="active" ><a ui-sref="index.debit.type" >按扣费类型统计</a></p>
    </div>
    <div class="Wcanal-tab-list pt15">
        <div ui-view="main"></div>
	</div>
</div>
<!-- <div class="main-name fn">
    <h4>扣款查询</h4>
</div> -->

<!-- <div class="WcanalNew-tab">
    <div class="Wcanal-tab-title fn">
        <p ng-class="{'active':tab_title==1}"><a href="javascript:void(0)" ng-click="tab_title=1" >扣费明细</a></p>
        <p ng-class="{'active':tab_title==2}"><a href="javascript:void(0)" ng-click="tab_title=2">按日期统计</a></p>
        <p ng-class="{'active':tab_title==3}"><a href="javascript:void(0)" ng-click="tab_title=3">按商户统计</a></p>
        <p ng-class="{'active':tab_title==4}"><a href="javascript:void(0)" ng-click="tab_title=4">按扣费类型统计</a></p>
    </div>
    <div class="Wcanal-tab-list pt15" ng-show="tab_title==1">
    <iframe src="./koukuan01.html" width="100%" height="500px" frameborder="0"></iframe>
	
	</div>
<div class="Wcanal-tab-list pt15" ng-show="tab_title==2">
	<div class="SearchArea fn extendMode">
	    <form method="post" action="/index.php?g=Alipay&amp;m=Index&amp;a=pos_trace"> 
	      <div class="SearchAreaLeft">
	       <label><span>扣款日期</span><div class="Stime"><input type="text" value="2016-05-19" name="badd_time"  readonly="true"><em>至</em><input type="text" value="2016-05-26" name="eadd_time" ></div></label>
	      <label><span>商户名称</span><input name="name" type="text" value=""></label>
	      <label><span>扣款类型</span>
	      		<select name="from_type" id="from_type">
	      		<option value="">全部</option>
	      		</select></label>
	      </div>
	        <div class="SearchAreaRight">
	        <a class="searchBtn" id="search" href="javascript:;" ng-click="">查询</a>
	        
	        </div>
	        
	    </form>
	</div>

	<table class="W-table">
	    <thead>
		    <tr>
		        <th >扣款日期</th> 
		        <th >扣费类型</th>
				<th>扣费金额</th>
		       
		    </tr>  
		</thead>
		<tbody>
			<tr>
				<td>sdfds</td>
				<td>dsvds</td>
				<td>dsgd</td>
			</tr>
		</tbody>
		<tfoot>
		 <tr>
		        <td colspan="3"><div class="nonedata"></div></td>
		    </tr> 	
		</tfoot>
	</table>
	</div>
<div class="Wcanal-tab-list pt15" ng-show="tab_title==3">
	<div class="SearchArea fn extendMode">
	    <form method="post" action="/index.php?g=Alipay&amp;m=Index&amp;a=pos_trace"> 
	      <div class="SearchAreaLeft">
	       <label><span>统计日期</span><div class="Stime"><input type="text" value="2016-05-19" name="badd_time"  readonly="true"><em>至</em><input type="text" value="2016-05-26" name="eadd_time" ></div></label>
	      <label><span>商户名称</span><input name="name" type="text" value=""></label>
	      <label><span>扣款类型</span>
	      		<select name="from_type" id="from_type">
	      		<option value="">全部</option>
	      		</select></label>
	      </div>
	        <div class="SearchAreaRight">
	        <a class="searchBtn" id="search" href="javascript:;" ng-click="">查询</a>
	        
	        </div>
	        
	    </form>
	</div>

	<table class="W-table">
	    <thead>
		    <tr>
				<th >商户名称</th>
		        <th >扣费类型</th>
				<th>扣费金额</th>
		       
		    </tr>  
		</thead>
		<tbody>
			<tr>
				<td>sdfds</td>
				<td>dsvds</td>
				<td>dsgd</td>
			</tr>
		</tbody>
		<tfoot>
		 <tr>
		        <td colspan="3"><div class="nonedata"></div></td>
		    </tr> 	
		</tfoot>
	</table>
	</div>
	<div class="Wcanal-tab-list pt15" ng-show="tab_title==4">
	<div class="SearchArea fn extendMode">
	    <form method="post" action="/index.php?g=Alipay&amp;m=Index&amp;a=pos_trace"> 
	      <div class="SearchAreaLeft">
	       <label><span>统计日期</span><div class="Stime"><input type="text" value="2016-05-19" name="badd_time"  readonly="true"><em>至</em><input type="text" value="2016-05-26" name="eadd_time" ></div></label>
	      <label><span>商户名称</span><input name="name" type="text" value=""></label>
	      <label><span>扣款类型</span>
	      		<select name="from_type" id="from_type">
	      		<option value="">全部</option>
	      		</select></label>
	      </div>
	        <div class="SearchAreaRight">
	        <a class="searchBtn" id="search" href="javascript:;" ng-click="">查询</a>
	        
	        </div>
	        
	    </form>
	</div>

	<table class="W-table">
	    <thead>
		    <tr>
		        <th >扣费类型</th>
				<th>扣费金额</th>
		       
		    </tr>  
		</thead>
		<tbody>
			<tr>
				<td>dsvds</td>
				<td>dsgd</td>
			</tr>
		</tbody>
		<tfoot>
		 <tr>
		        <td colspan="2"><div class="nonedata"></div></td>
		    </tr> 	
		</tfoot>
	</table>
	</div>
</div> -->