<div class="main-name fn">
    <h4>交易明细<a class="first btn-down" href=""><i></i>下载数据</a></h4>
</div>
<div class="SearchArea fn extendMode">
    <form method="get" action="/index.php?g=Agent&m=Trade&a=detail"> 
      <input type="hidden" name="limit" value="10">
      <div class="SearchAreaLeft">
      <label><span>商户名称</span><input name="node_name" type="text" value=""></label>
      <label><span>商户旺号</span><input name="client_id" type="text" value=""></label>
      <label><span>门店名称</span><input name="store_short_name" type="text" value=""></label>
      <label><span>终端号</span><input name="pos_id" type="text" value=""></label>
      <label><span>旺财流水号</span><input name="zfb_trade_no" type="text" value=""></label>
      <label><span>支付平台流水号</span><input name="zfb_out_trade_no" type="text" value=""></label>
      <label>
      	<span>交易时间</span>
      	<div class="Stime"><input type="text" name="badd_time" ng-model="badd_time" ui-time ><em>至</em><input type="text"  name="eadd_time" ui-time  ng-model="eadd_time"></div>
      </label>
      <label><span>交易方式</span>
      		<select name="code_type" >
      		<option value="-1">全部</option>
      		<option value="100">支付宝</option>
      		<option value="101">微信</option>
      		<option value="102">翼支付</option>
      		<option value="105">QQ支付</option>
      		</select>
      </label>
      <label><span>交易类型</span>
      		<select name="trans_type">
      		<option value="-1">全部</option>
      		<option value="T">线下支付</option>
      		<option value="R">支付退款</option>
      		<option value="C">支付撤销</option>
      		</select>
      </label>
      </div>
        <div class="SearchAreaRight">
        <a class="searchBtn" data-type="search" href="javascript:;" ng-click="Page($event.target)">查询</a>        
        </div>       
    </form>
</div>

<table class="W-table">
    <thead>
	    <tr>
	     <th>支付流水号</th> 
			 <th>商户旺号</th>
	     <th>商户名称</th>
			 <th>门店简称</th>
	     <th>交易时间</th>
			 <th>交易金额</th>
			 <th>交易支付宝账户</th>
			 <th>交易方式</th> 
			 <th>交易类型</th> 
			 <th>交易状态</th> 
	    </tr>  
	</thead>
	<tbody ng-show="totalNumber">
		<tr ng-repeat="x in list.result">
			<td ng-bind="x.zfb_trade_no"></td>
			<td ng-bind="x.client_id"></td>
			<td ng-bind="x.node_name"></td>
			<td ng-bind="x.store_short_name"></td>
			<td substr-str="{{ x.trans_time }}"></td>
			<td ng-bind="x.exchange_amt"></td>
			<td ng-bind="x.zfb_buyer_logon_id"></td>
			<td>
         <span ng-show="x.code_type=='100'">支付宝</span>
         <span ng-show="x.code_type=='101'">微信</span>   
         <span ng-show="x.code_type=='102'">翼支付</span>
         <span ng-show="x.code_type=='105'">QQ支付</span>
      </td>
			<td>
         <span ng-show="x.trans_type=='T'">线下支付</span>
         <span ng-show="x.trans_type=='R'">支付退款</span> 
         <span ng-show="x.trans_type=='C'">支付撤销</span>    
      </td>
			<td>{{ x.status }}</td>
		</tr>
	</tbody>
	<tbody ng-hide="totalNumber">
		 <tr>
	        <td colspan="10"><div class="nonedata"></div></td>
	    </tr> 
	</tbody>
</table>
<div pagination ></div>