<div class="main-name fn">
    <h4>基本信息<a class="first btn-add" href="/view/agent/#/index/firm_myShop_addShop" target="_blank"><i></i>新增商户</a><a class="btn-add" href="/view/agent/#/index/firm_openService" target="_blank"><i></i>新增业务订单</a></h4>
</div>
<div class="IndVoice">
    <div class="t"><i class="icon-volume-down"></i></div>
    <div class="opr"><a href="/index.php?g=Home&m=Index&a=promotion">查看更多</a><!--i class="next"></i><i class="pre"></i--></div>
    <div class="list">
        <ul>
            <li>          
                <a target='_blank' href="{:U('AccountInfo/message_view',array('id'=>$item[id],'seq'=>$item['seq_id']))}">
                    wwwwwwwwwwwwww                  
                </a>
                <a target='_blank' href="{:U('AccountInfo/message_view',array('id'=>$item[id],'seq'=>$item['seq_id']))}">
                    sssssssssssssss                 
                </a>          
            </li>
             <li>           
                <a target='_blank' href="{:U('AccountInfo/message_view',array('id'=>$item[id],'seq'=>$item['seq_id']))}">
                    dddddddddd                
                </a>
                <a target='_blank' href="{:U('AccountInfo/message_view',array('id'=>$item[id],'seq'=>$item['seq_id']))}">
                    vvvvvvvvvvvvvv                 
                </a>
            </li>

        </ul>
    </div>
</div>
<div class="accountMsg fn agent">
    <div class="accountMsgOne">
        <div class="accountMsgOne-t">
            <div class="accountMsg-portrait">
                <div class="portrait" id="js-header-logo"> 
                    <img ng-src="/view/assets/image/base/logoz.png" />
                    <input type="hidden" value="" name="img_resp" id="img_resp" />
                </div>
            </div>
            <div class="accountMsg-name">
                <h3 ng-bind="node_name"></h3>
                <p><a class="hexin">核心代理商</a></p>
            </div>
        </div>
    </div>
    <div class="accountMsgOne-b">
        <ul>
            <li>
                <h4>账户余额</h4>
                <p><span ng-bind="balance"></span>元</p>             
                <a ng-href="http://101.231.188.78:8083/jsxt/TENT/index.php?m=ReCharge&a=reCharge&node_id={{ node_id }}&name={{ node_name }}&token={{ token }}" class="btn_inner mt10">马上充值</a>          
            </li>
        </ul>
    </div>
</div>
<div class="WcanalNew-tab">
    <div class="Wcanal-tab-title fn">
        <p  ng-class="{'active':tab_title==1 || !tab_title}"><a href="javascript:void(0)" ng-click="tab_title='1'" >本月已完成业绩</a></p>
        <p ng-class="{'active':tab_title==2}"><a href="javascript:void(0)"  ng-click="tab_title='2'">累计完成业绩</a></p>
    </div>
    <div class="Wcanal-tab-list pt15" ng-show="tab_title==1 || !tab_title">
        <div class="data mb35 fn">
            <div class="data-box">
                <p class="up"><i class="icon1 mr5"></i><span ng-bind="thisMonth.a"></span></p>
                <p class="down mt10">商户数（个）</p>
            </div>
            <div class="data-box">
                <p class="up"><i class="icon2 mr5"></i><span ng-bind="thisMonth.b"></span></p>
                <p class="down mt10">销售总金额（元）</p>
            </div>            
            <div class="data-box">
                <p class="up"><i class="icon1 mr5"></i><span><a href="/view/agent/#/index/deal_total/shop" target="_blank">查看总金额</a></span></p>
                <p class="down mt10">代理商户交易总金额（元）</p>
            </div>
        </div>
    </div>
    <div class="Wcanal-tab-list pt15" ng-show="tab_title==2">
        <div class="data mb35 fn">
            <div class="data-box">
                <p class="up"><i class="icon1 mr5"></i><span ng-bind="totle.a">313</span></p>
                <p class="down mt10">商户数（个）</p>
            </div>
            <div class="data-box">
                <p class="up"><i class="icon2 mr5"></i><span ng-bind="totle.c">12.05</span></p>
                <p class="down mt10">销售总金额（元）</p>
            </div>           
            <div class="data-box">
                <p class="up"><i class="icon1 mr5"></i><span><a href="/view/agent/#/index/deal_total/shop" target="_blank">查看总金额</a></span></p>
                <p class="down mt10">代理商户交易总金额（元）</p>
            </div>
        </div>
    </div>

    
</div>