<!DOCTYPE html>
<html ng-app="agent">
<head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>代理商管理</title>
      <link rel="stylesheet" type="text/css" href="../assets/css/base.css" />   
      <link rel="stylesheet" type="text/css" href="../assets/css/agent/agent.css" />
      <script type="text/javascript" src="../assets/js/angularjs/angular.min.js"></script>
      <script type="text/javascript" src="../assets/js/angularjs/angular-cookies.min.js"></script>
      <script type="text/javascript" src="../assets/js/angularjs/angular-ui-router.min.js"></script>
      <script type="text/javascript" src="../assets/js/jquery-1.11.1.min.js"></script>
      <script type="text/javascript" src="../assets/js/My97DatePicker/WdatePicker.js"></script>
      <script type="text/javascript" src="../assets/js/jquery.form.js"></script>
      <script type="text/javascript" src="../assets/js/jquery.cookie.js"></script>
      <script type="text/javascript" src="../assets/js/artDialog4.1.6/jquery.artDialog.js?skin=default" ></script>
      <script type="text/javascript" src="../assets/js/artDialog4.1.6/plugins/iframeTools.js"></script>
      <script type="text/javascript" src="../assets/js/jquery-ui-1.11.2.custom/template.js"></script>
      <script type="text/javascript" src="../assets/js/agent/app.js"></script>
      <script type="text/javascript" src="../assets/js/agent/controller.js"></script>
      <script type="text/javascript" src="../assets/js/ngPage.js"></script>
</head>
<body  ng-cloak>
<div id="wrapper">
<!-- 公共头部 -->
<div ng-head></div>
<div ui-view></div>

<!-- 公共右侧 -->
<div ng-aside></div>

<!-- 公共底部 -->
<div ng-foot></div>
</div>


</body>
</html>
<script>
var _hmt = _hmt || [];
(function() {
    var hm1 = document.createElement("script");
    var hm2 = document.createElement("script");
    hm1.src = "//hm.baidu.com/hm.js?ab5c1948317f7d13b46c8f6fa373c3ee";
    hm2.src = "//hm.baidu.com/hm.js?d63513a907e602a2cc2cb6970d7765b8";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm1, s);
    s.parentNode.insertBefore(hm2, s);
})();
</script>