<div class="sidenav">
  <ul class="accordion">
    <li>
        <div class="title">代理商管理</div>
    </li>
    <li>
        <div class="link"><a ng-click="leftTitle('index')" ui-sref="index">基础信息</a></div>
    </li>
    <li ng-class="{'open':sidenavTitle=='firm'}">
      <div class="link"><a ng-click="leftTitle($event.target)" data-type="firm">业务管理</a><i class="downArrow"></i></div>
      <ul class="submenu">
        <li ng-class="{'hover':sidenavName=='myShop'}"  ><a ng-click="sidenavName='myShop'" ui-sref="index.myShop" >我的商户</a></li>
        <li ng-class="{'hover':sidenavName=='openService'}" ><a ng-click="sidenavName='openService'" ui-sref="index.openService" >开通业务</a></li>
      </ul>
    </li>
    <li ng-class="{'open':sidenavTitle=='money'}">
        <div class="link"><a ng-click="leftTitle($event.target)" data-type="money">资金管理</a><i class="downArrow"></i></div>
        <ul class="submenu">
            <li ng-class="{'hover':sidenavName=='recharge'}"><a ng-click="sidenavName='recharge'"  ui-sref="index.recharge" >充值查询</a></li>
            <li ng-class="{'hover':sidenavName=='debit'}"><a ng-click="sidenavName='debit'" ui-sref="index.debit.info" >扣款查询</a></li>
            <li ng-class="{'hover':sidenavName=='rebate'}"><a ng-click="sidenavName='rebate'" ui-sref="index.rebate" >返佣查询</a></li>
        </ul>
    </li>
    <li ng-class="{'open':sidenavTitle=='deal'}">
        <div class="link"><a ng-click="leftTitle($event.target)" data-type="deal">交易查询</a><i class="downArrow"></i></div>
        <ul class="submenu">
            <li ng-class="{'hover':sidenavName=='detail'}"><a ng-click="sidenavName='detail'" ui-sref="index.detail">交易明细</a></li>
            <li ng-class="{'hover':sidenavName=='total'}"><a ng-click="sidenavName='total'" ui-sref="index.total.shop" >交易统计</a></li>
        </ul>
    </li>
    </ul>
</div>