
<div class="main-name fn">
    <h4>我的商户<a class="first btn-add" href="/view/agent/#/index/firm_myShop_addShop"><i></i>新增商户</a></h4>
</div>
<div class="SearchArea fn extendMode">
    <form method="get" action="/index.php?g=Agent&m=Agent&a=myMerchants"> 
       <input type="hidden" name="limit" value="10">
      <div class="SearchAreaLeft">
      <label><span>商户名称</span><input name="node_name" type="text" value=""></label>
      <label><span>商户旺号</span><input name="node_client" type="text" value=""></label>
      <label><span>签约状态</span>
      		<select name="sign_status">
      			<option value="0">不限</option>
      			<option value="1">已签约</option>
      			<option value="2">待签约</option>
      			<option value="3">待审核</option>
      			<option value="4">已流失</option>
      		</select></label>
      </div>
        <div class="SearchAreaRight">
        	<a class="searchBtn" data-type="search" href="javascript:void(0);" ng-click="Page($event.target)">查询</a>      
        </div>       
    </form>
</div>
<table class="W-table" cellpadding="0" cellspacing="0">
    <thead>
	    <tr>
	        <th>旺号</th> 
			<th>商户名称</th>
	        <th>门店数</th>
			<th>已开通终端数</th>
	        <th>签约状态</th>
			<th>录入时间</th>
			<th>签约时间</th>
			<th>操作</th> 
	    </tr>  
	</thead>
	<tbody  ng-show="totalNumber">
		<tr ng-repeat="x in list.result"><input type="hidden" vlaue="{{ x.id }}">
		    <td ng-bind="x.client_id"></td>
			<td ng-bind="x.node_name"></td>
			<td ng-bind="x.store_count"></td>
			<td ng-bind="x.pos_count"></td>
			<td>
				<span ng-show="x.status==1">已签约</span>
				<span ng-show="x.status==2">待签约</span>
				<span ng-show="x.status==3">待审核</span>
				<span ng-show="x.status==4">已流失</span>
			</td>
			<td substr-str="{{ x.created_at }}"></td>
			<td substr-str="{{ x.sign_time }}"></td>
			<td>
			   <a href="/index.php?g=Home&m=Index&a=index">去开通</a>
			   <a href="javascript:void(0)" ng-click="permis()">授权管理</a>
			   <a href="/view/agent/#/index/firm_myShop_addShop" >去签约</a>
			</td>
		</tr>
	</tbody>
	<tbody ng-hide="totalNumber">
	    <tr>
	        <td colspan="8"><div class="nonedata"></div></td>
	    </tr> 	
	</tbody>
</table>
<div pagination ></div>

<script type="text/html" id="promise">
	<div class="loadTip">
		<div class="loadStatus tip line24">
			<dl>
			   <dt>请确认是否授权商户自行开展业务！</dt>
		       <dd>授权后，商户自助开通的业务模块费会从您的账户中直接扣取</dd>
		    </dl>
		</div>
	</div>	
</script>