<div id="headerTwo">
	<div class="headerBg">
		<div class="headerCon fn">
			<div class="logo">
				<div class="logo-img">
					<a class="a-hide" href="/index.php?g=Home&m=Index&a=index"></a>
				</div>
			</div>
			<div class="biaoyu">代理商管理系统</div>
			<div class="headerOpr agent">
			    <div class="headerOprList">
			    	<a>欢迎，{{ user_name }}</a>
			    </div>
				<div class="headerOprList hasMoreList"><a href="/index.php?g=Home&m=AccountInfo&a=message"><i class="icon-mail-alt has"></i></a>
					<div class="headerMore">
						<div class="headerMoreNews">
							<a href="/index.php?g=Home&m=AccountInfo&a=message">系统消息<em>(31)</em></a>
				        </div>
				    </div>
			    </div>
			    <div class="headerOprList">
			    	<a href="/index.php?g=Home&m=Login&a=index">返回官网</a>
			    </div>
			    <div class="headerOprList">
			    	<a href="/index.php?g=Home&m=Logout&a=index">[退出]</a>
			    </div>
			</div>
		</div>
	</div>
</div>