<div class="main-name fn">
	<h4><a href="javascript:history.back();"  class="back"><i></i>开通业务</a>/ 新增订单</h4>
</div>
<div class="Gform l">
	<ul>
		<li class="Gname"><span>*</span>选择商户</li>
		<li class="Ginput">
			<select name="from_type" id="from_type">
      		<option value="">全部</option>
      		</select>
        </li>
	</ul>

	<ul>
        <li class="Ginput">
            <a href="javascript:void(0);" class="btn-all" id="smb">提交新增</a><a href="javascript:history.back();" class="btn-all-del">取消</a>
        </li>       
    </ul>
</div>
