<div class="main-name fn">
    <h4>返佣查询</h4>
</div>
<!-- 放福建哪里开发给的地址就好 -->
<iframe src="./fujianzhicheng.html" width="100%" height="800px" frameborder="0"></iframe>
<!-- <div class="main-name fn">
    <h4>返佣查询</h4>
</div>
<div class="SearchArea fn extendMode">
    <form method="post" action="/index.php?g=Alipay&amp;m=Index&amp;a=pos_trace"> 
      <div class="SearchAreaLeft">
      <label><span>返佣时间</span><div class="Stime"><input type="text" value="2016-05-19" name="badd_time" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" readonly="true"><em>至</em><input type="text" value="2016-05-26" name="eadd_time" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" readonly="true"></div></label>
      </div>
        <div class="SearchAreaRight">
        <a class="searchBtn" id="search" href="javascript:;" ng-click="">查询</a>
        
        </div>
        
    </form>
</div>

<table cellpadding="0" cellspacing="0" class="W-table">
    <thead>
	    <tr>
	        <th >序号</th> 
			<th>返佣周期</th>
	        <th >返佣金额</th>
			<th>返佣状态</th>
	    </tr>  
	</thead>
	<tbody>
		<tr>
			<td>sdfds</td>
			<td>dsvds</td>
			<td>dsgd</td>
			<td>dsgdf</td>
		</tr>
	</tbody>
	<tfoot>
	 <tr>
	        <td colspan="4"><div class="nonedata"></div></td>
	    </tr> 	
	</tfoot>
</table> -->