<div class="main-name fn">
    <h4>充值查询</h4>
</div>
<!-- 放福建哪里开发给的地址就好 -->
<iframe src="./fujianzhicheng.html" width="100%" height="800px" frameborder="0"></iframe>

<!-- <div class="main-name fn">
    <h4>充值查询</h4>
</div>
<div class="SearchArea fn extendMode">
    <form method="post" action="/index.php?g=Alipay&amp;m=Index&amp;a=pos_trace"> 
      <div class="SearchAreaLeft">
      <label><span>活动时间</span><input name="name" type="text" value=""></label>
			
      <label><span>交易方式</span>
      		<select name="from_type" id="from_type">
      		<option value="">全部</option>
      		</select></label>
      </div>
        <div class="SearchAreaRight">
        <a class="searchBtn" id="search" href="javascript:;" ng-click="">查询</a>
        
        </div>
        
    </form>
</div>

<table cellpadding="0" cellspacing="0" class="W-table">
    <thead>
	    <tr>
	        <th nowrap="nowrap">支付流水号</th> 
			<th width="12%" nowrap="nowrap">门店详称</th>
	        <th nowrap="nowrap">交易时间</th>
			<th style="min-width:58px ;" nowrap="nowrap">交易金额</th>
	        <th nowrap="nowrap">实收金额</th>
			<th nowrap="nowrap">交易账户</th>
			<th nowrap="nowrap">支付方式</th>
			<th nowrap="nowrap">交易类型</th> 
	    </tr>  
	</thead>
	<tbody>
		<tr>
			<td>sdfds</td>
			<td>dsvds</td>
			<td>dsgd</td>
			<td>dsgdf</td>
			<td>sd</td>
			<td>sdfd</td>
			<td>sdf</td>
			<td>dsff</td>
		</tr>
	</tbody>
	<tfoot>
	 <tr>
	        <td colspan="9"><div class="nonedata"></div></td>
	    </tr> 	
	</tfoot>
</table> -->