<div class="main-name fn">
   <h4>交易统计<a class="first btn-down" href=""><i></i>下载数据</a></h4>
</div>
 <div class="WcanalNew-tab">
    <div class="Wcanal-tab-title fn">
        <p ui-sref-active="active" ><a ui-sref="index.total.shop" >按商户统计</a></p>
        <p ui-sref-active="active" ><a ui-sref="index.total.date" >按日期统计</a></p>
        <p ui-sref-active="active" ><a ui-sref="index.total.type" >按交易方式统计</a></p>
    </div>
    <div class="Wcanal-tab-list pt15">
        <div ui-view="main"></div>
	</div>
</div>