<div class="SearchArea fn extendMode">
    <form method="get" action="" > 
    <input type="hidden" name="limit" value="10">
    <input name="badd_time" value="{{ badd_time }}" type="hidden" >
    <input name="eadd_time" value="{{ eadd_time }}"  type="hidden" >
    <div class="SearchAreaLeft">
      <div class="shopData-title vm"> 
            <dl>
            <dd ng-class="{'active':lately=='today'}"><a href="javascript:void(0)" data-type="day" data-id="today" ng-click="Page($event.target)">今天</a></dd>
            <dd ng-class="{'active':lately=='yesterday'}"><a href="javascript:void(0)" data-type="day" data-id="yesterday" ng-click="Page($event.target)">昨天</a></dd>
            <dd ng-class="{'active':lately=='seven'}"><a href="javascript:void(0)" data-type="day" data-id="seven" ng-click="Page($event.target)">最近7日</a></dd>
            <dd ng-class="{'active':lately=='thirty'}"><a href="javascript:void(0)" data-type="day" data-id="thirty" ng-click="Page($event.target)">最近30日</a></dd>
          </dl>   
       </div>
      <label>
        <span>商户旺号</span>
        <input name="client_id"  type="text" ng-model="client_id"/> 
      </label>
      <label>
        <span>商户名称</span>
         <input name="node_name"  type="text" ng-model="node_name"/> 
      </label>

     
      <label><span>交易方式</span>
   		 <select name="from_type">
          <option value="">全部</option>
          <option value="0">支付宝</option>
          <option value="1">微信</option>
          <option value="2">翼支付</option>
          <option value="4">联通支付</option>
          <option value="5">qq钱包</option>
        </select>   
      </label>    
      </div>
      <div class="SearchAreaRight">   
       <a class="searchBtn" data-type="search" ng-click="Page($event.target)">查询</a> 
      	</div>
    </form>
</div>
<table class="W-table">
  <thead>
     <tr>
        <th>日期</th> 
        <th>交易方式</th>
        <th>支付成功笔数</th>
        <th>支付金额</th>
        <th>退款/撤销笔数</th>
        <th>退款/撤销金额</th> 
        <th>结算金额</th>
    </tr> 
  </thead>
  <tbody ng-show="totalNumber">
    <tr ng-repeat="x in list.result">
      <td>{{ x.client_id }}</td>
      <td>{{ x.node_name }}</td>
      <td ng-hide="x.from_type">
          <span>不限</span>
      </td>
      <td ng-show="x.from_type">
          <span ng-show="x.from_type=='0'">支付宝</span>
          <span ng-show="x.from_type=='1'">微信</span>
          <span ng-show="x.from_type=='2'">翼支付</span>
          <span ng-show="x.from_type=='4'">联通支付</span>
          <span ng-show="x.from_type=='5'">qq钱包</span>
      </td>
      <td>{{ x.pos_count  }}</td>
      <td>{{ x.success_cnt  }}</td>
      <td>{{ x.verify_amt }}</td>
      <td>{{ x.fail_cnt  }}</td>
      <td>{{ x.fail_amt  }}</td>
      <td>{{ x.real_amt  }}</td>
    </tr>   
  </tbody>
  <tbody ng-hide="totalNumber">
     <tr>
          <td colspan="7"><div class="nonedata"></div></td>
      </tr> 
  </tbody>
</table>
<div pagination ></div>
