@charset "utf-8";
.overflow { height: 100%; overflow: hidden;}
*{margin:0;padding:0;color: #fff;-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-appearance: none;}
a{text-decoration: none;}
input{color: #333;font-size: 1em;}
ul li{list-style: none;}
.dn{display: none;}
.vb{visibility: hidden;}
.tc{text-align: center;}
.music { position: absolute; z-index:2; top:10px; right:10px; padding:5px; width:12px; height:12px; border-radius:20px; border:solid 1px #fff; opacity:0.8;background: #204478}
.music i { display:block; width:12px; height:12px; background:url(../../Image/Shop/shopMusic.png?v=20160602) no-repeat 0 0; background-size:100% 100%;}
.music.on i { -webkit-animation:music 1.5s infinite linear;}
.music.on span { position:absolute; top:2px; right:2px; width:10px; height:10px; background:url(../../Image/Shop/shopMusic.png?v=20160602) no-repeat 0 0; background-size:100% 100%; opacity:0.8; -webkit-animation:music1 1.5s infinite linear;}
.music.on em { position:absolute; top:-4px; right:-4px; width:8px; height:8px; background:url(../../Image/Shop/shopMusic.png?v=20160602) no-repeat 0 0; background-size:100% 100%; opacity:0.8; -webkit-animation:music2 1.5s infinite linear;}
html,body{color:#4d4d4d; height:100%; width: 100%;max-width:640px;font-family: "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","\5B8B\4F53";font-size: 16px;}
/***  微软雅黑 ， 黑体 ，宋体   ***/
.mt15{margin-top: 15px;}
#wrapper{width: 100%;background: url(../../Image/worldcup/football.jpg?v=20160603) no-repeat;background-size:100% ;margin:0 auto;}
@-webkit-keyframes music{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes music1{
	0%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	10%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	50%{-webkit-transform:rotate(15deg) translate(5px,-5px); opacity:0.8;}
	100%{-webkit-transform:rotate(30deg) translate(10px,-10px); opacity:0;}
}
@-webkit-keyframes music2{
	0%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	40%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	80%{-webkit-transform:rotate(-30deg) translate(7px,-7px); opacity:0.4;}
	100%{-webkit-transform:rotate(-60deg) translate(14px,-14px); opacity:0;}
}

.Gloading {width:100%; height:100%; position:fixed; top:0; left:0;background:#fffce5; z-index:100000;text-align: center;}
.Gloading img { position:fixed; top:50%; margin-top:-102px; left:50%; margin-left:-160px; width:320px; height:205px;}
.Gloading .progress {position:fixed; left:50%; margin-left:-100px;width:200px; height:10px; top:50%; margin-top:110px; border:solid 1px #ce9872; border-radius:6px; overflow:hidden;}
.Gloading .progress i { position:absolute; z-index:0; top:0; display:block;width:100%; height:10px;right:100%; background:#ce9872; border-radius:5px;transition:right 1s;}
.Gloading .progress p { position:relative; z-index:1;color:#a4371d; line-height:10px; font-size:12px;}

header{position: relative;}
header>img{position: relative;z-index: 0;}
header .info{position: absolute;top:0;left: 0;width: 100%;}
header .info h4{height: auto; overflow: hidden;}
header .info h4 .logo{ float: left; margin-top:3%;margin-left: 3%;width: 65px;height: 65px;border-radius: 100%;border:solid 2px #fff;position: relative;z-index: 1;}
header .info h4 .logo + span { margin-top: 3%; display: block; margin-left: 85px;}
header .info h4 span{ vertical-align: top;display: inline-block;color: #fff;height: 70px;line-height: 70px;margin-left: 3%;margin-right: 3%;font-weight: normal;font-size: 1.2em;}
header .info h4 span.solong { line-height: 35px;}
header .info p{text-align: center;padding-top: 40%;font-size: 1.2em;}
header .info p span.date small{font-size:0.7em;}
header .info p span.score {font-size:1.5em; line-height: 1.5em; vertical-align: middle;}
header .info p em.score { position: relative; top: -2px; margin: 0 10px; font-style: normal; font-size:1.5em; line-height: 1.5em; vertical-align: middle;}
.mengcheng{position: absolute;top:0;left: 0;z-index: 40;width: 100%;}
main{position: relative;}
main>img{margin-top: -40px;position: relative;z-index: 4;}
main div{position:absolute;top:-12%;left: 0;z-index: 5;width: 100%;}
main div dl{width: 90%;padding-left: 10%;}
main div dl dd{width: 30%;float: left;position: relative;}
main div dl dd i{ position: absolute;top:-5%;right: 0;z-index: 10;width: 30%;display: none;}
main div dl dd i img{width: 100%;}

main div dl dd>span{background-image: linear-gradient(to bottom,#698bc4 0,#24477d 100%);border-radius: 100%;display: inline-block;width: 85px;height: 85px; padding:5px;margin-bottom: 9%;}
main div dl dd>span img{width: 100%;margin:0 auto;display: inline-block;border-radius: 100%;}
main div dl dt{width: 19%;float: left;margin:0 5% 0 6%;}
main div dl dt a{margin-top: 15%;}


main div dl dt>img{width: 170%;margin:0 auto;display: inline-block; margin-left: 10%;border:solid 5px #25477f;border-radius: 100%;}
main div dl .group a{background-image: linear-gradient(to top,#698bc4 0,#24477d 100%);display: inline-block;color: #fff;border-radius: 5px;width: 100%;text-align: center;height: 30px;line-height: 30px;box-shadow: 0 5px 5px #333;}
main div dl .group a:active{border: none;}
main div dl .group.hover i{display: block;}
main div dl .group.hover>span{background-image: linear-gradient(to top,#cf0000 0,#7f0000 100%);}
main div dl .group.hover a{background-image: linear-gradient(to top,#cf0000 0,#7f0000 100%);display: inline-block;border-radius: 5px;width: 100%;text-align: center;height: 30px;line-height: 30px;box-shadow: 0 5px 5px #333;}
main div dl .group.ok a{background-image: linear-gradient(to top,#6c6c6c 0,#6c6c6c 100%);display: inline-block;border-radius: 5px;width: 100%;text-align: center;height: 30px;line-height: 30px;box-shadow: 0 5px 5px #333;}
main div dl .group b{width: 100%;text-align: center;display: inline-block;font-size: 0.8em;margin-top: 17%;}
main div dl dd strong{width: 100%;text-align: center;display: inline-block;padding-bottom: 5%;font-size: 0.8em;}
main div dl .group img.vb{width: 121%;}
main div.score{width: 60%;margin-left: 20%;z-index: 8;top:-34%;}
main div.score span{display: inline-block;width: 33%;text-align: center;font-size:3em;}
main div.score .l{float: left;}
main div.score .r{float: right;}
main>span{height: 60px;}
main .submits_btn{width: 87%;display:block; height: 60px;text-align: center;line-height: 50px; margin:0 auto;font-size: 18px;position: relative;top:-40px;z-index: 11;}
main .submits_btn{background:url(../../Image/worldcup/submit.png?v=20160602) no-repeat;background-size:100% 100%;color: #193651;}
main .submits_ok{position: relative;top:-30px;text-align: center;display: inline-block;width: 100%;}
footer{text-align: center;}
footer a{color: #7ca2e1;display: inline-block;margin-bottom: 15px;padding:0 7%;}
.submit{ border-radius: 3px; color: #333;background: #fff9eb;width: 300px;position: absolute;top:50%;left: 50%;margin-left: -150px;margin-top: -100px;z-index: 10;}
.submit>i{width: 30px;height: 30px;display:block;background:url(../../Image/worldcup/close.png?v=20160602) no-repeat;position: absolute;top:-30%;right: 0;background-size:100%;z-index: 20; }
.submit h4{color: #333;text-align: center;font-weight: normal;padding-top: 5%;}
.submit p{text-align: center;color: #333;padding-bottom: 10px;padding-top: 10px;}
.submit img{width: 40px;margin:0 auto;display: block;padding-top: 20px;}
.submit dl{padding:5%;}
.submit dl input{border-radius:5px;height: 40px;box-sizing:border-box;border:solid 1px  #ccc;padding-left: 10px;}
.submit dl dt input{width: 100%;;margin-bottom: 10px;}
.submit dl dd input[type=tel]{width: 60%;}
.submit dl dd img.code{width: 30%;margin-left: 5%;border-radius:0px;padding-left: 0;display: inline-block;padding-top: 0;vertical-align: bottom;}
.submit a{background: #274b8c;width: 100%;display:block;height: 50px;text-align: center;line-height: 50px;;}
.copyright{text-align: center;}

.tips_list{width: 100%;position: fixed;z-index: 30;height: 100%;top:0;left: 0;}
.tips_list .optity{width: 100%;height: 100%;z-index: 15;background: #000;opacity: 0.7;}
.tips_list .pp{width: 100%;z-index: 40;margin-top: 20%;z-index: 40;}
.tips_list .pp>img{width: 100%;position: absolute;top:0;z-index: 50}
.tips_list .pp>i{width: 30px;height: 30px;display:block;background:url(../../Image/worldcup/close.png?v=20160602) no-repeat;position: absolute;top:25%;right: 5%;background-size:100%;z-index: 20; }
.tips_list .prize{position: absolute;top:16%;left: 0%;width: 100%;box-sizing:border-box;padding:0 12%;background: url(../../Image/worldcup/prize.png?v=20160602) no-repeat;background-size: 100%;height: 300px;}
.tips_list .prize.not{background: url(../../Image/worldcup/prizew.png?v=20160602) no-repeat;background-size: 100%;}
.tips_list .prize.not dd{color: #333;margin-top: 40px}
.tips_list  h2{text-align: center;margin-bottom: 10%;font-size: 1.3em;padding-top: 43.5%;}
.tips_list .prize dl dd{ position: relative; padding:3% 0;}
.tips_list .prize dl dd .img { width: 50px; height: 50px; float: left; margin-right: 9%; margin-left: 0%;}
.tips_list .prize dl dd img{width: 15%;display: inline-block;padding-right: 15%;}
.tips_list .prize dl dd h4{width:47%; display: inline-block;color: #333;vertical-align: top;}
.tips_list .prize dl dd h4 span{color: #333;display: block;font-weight: normal; line-height: 25px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.tips_list .prize dl dd a{ position: absolute; top: 50%; margin-top: -14px;color: #999;border:solid 1px #999;padding: 1% 0%;display: inline-block;vertical-align: 13px;border-radius: 20px;width: 20%;text-align: center;vertical-align: 25px;}
.tips_list .prize dl dd h4 span.length8{margin-top: 0;}
.tips_list .prize dl dd a.hover{border: solid 1px #ed3f41;color: #ed3f41;}
.tips_info .notice{position: absolute;top:0%;left: 0%;width: 76%;padding:0 12%;z-index: 11;overflow: hidden;}
.tips_info{position: fixed;top:0;left: 0;z-index: 30;width: 100%;height:100%;}
.tips_info  h2{text-align: center;margin-bottom: 10%;font-size: 1.05em;}
.tips_info .img_bg{width: 100%;height: 100%;position:relative;}
.tips_info .img_bg .optity{width: 100%;height: 100%;position: absolute;z-index: 9;background: #000;opacity: 0.7;}
.tips_info .img_bg img.bg{width: 100%;height:95%;top:0;left: 0;z-index: 10;position: absolute;}
.tips_info .img_bg img.qiu{width: 30%;top:0;left: 0;z-index: 12;position: absolute;}
.tips_info>i{width: 30px;height: 30px;display:block;background:url(../../Image/worldcup/close.png?v=20160602) no-repeat;position: absolute;top:2%;right: 5%;background-size:100%;z-index: 20; }
.tips_info  h2:nth-of-type(2){margin:5% 0 5% 0;}
.tips_info .notice h4{font-weight: normal;font-size: 0.9em;}
.tips_info .notice p{line-height: 1.4em;font-size: 0.9em;}
.tips_info .notice dl{background: #10336a;height: 80px;border-radius: 3px;}
.tips_info .notice h5{color: #3d94f6;text-align: center;padding:6% 0 5% 0;font-size: 1.2em;font-weight: normal;}
.tips_info .notice dl dt{width: 80px;height: 80px;display: inline-block;border-radius: 3px;margin-left: 5px;}
.tips_info .notice dl dd{display: inline-block;vertical-align: top;width: 60%;padding-top:3%; }
.tips_info .notice dl dd span{padding-left: 8%;width: 80%;padding-bottom: 2%;display: block;}
.tips_info .notice .auto{width: 100%;height: 450px;overflow: auto;margin-top: 26%; }
.tips_info .notice dl{margin-top:15px;}
.tips_info .notice dl.two{margin-top: 0;}
.tips_info .notice ul{margin-top: 15px;}
.tips_info .notice ul li{background: #fff;color: #666;height: 80px;line-height: 80px;margin-top: 15px;color: #666;}
.tips_info .notice ul li.prize{background-image:url(../../Image/worldcup/prizebg.png?v=20160602);background-size:100% 100%; }
.tips_info .notice ul{padding-top: 20px;}
.tips_info .notice ul li h4{width: 50%;}
.tips_info .notice ul li h4 span{color: #333;line-height: 10px;}
.tips_info .notice ul li img{width: 20%;margin-top: 4%;margin-left: 4%;display: inline-block;}
.tips_info .notice ul li a{color: #333;display: inline-block;width: 30%;float: left;}

.tips_info .prize{width: 100%;box-sizing:border-box;padding:0 12%;position: absolute;top:0;left: 0;z-index: 11;}
.tips_info .prize.not{background: url(../../Image/worldcup/prizew.png?v=20160602) no-repeat;background-size: 100%;}
.tips_info .prize.not dd{color: #333;margin-top: 40px}
.tips_info  h2{text-align: center;margin-bottom: 10%;font-size: 1.3em;}
.tips_info .prize .bgCon {padding:3.5% 0 2.5% 0;}
.tips_info .prize dl dd{background: #fff;color: #333;padding:10px 0 10px 0;margin-top:5px;}
.tips_info .prize dl dd.bg{ position: relative; height:auto; overflow: hidden; background-image:url(../../Image/worldcup/prizebg.png);background-size: 100% 100%; border-radius: 3px;}
.tips_info .prize .bgCon>p { font-size: 14px; color: #7ca2e1;}
.tips_info .prize .bgCon>p em { margin: 0 4px;font-size: 12px; color: #7ca2e1; font-style: normal;}
.tips_info .prize dl dd .img { width: 50px; height: 50px; float: left; margin-right: 8%; margin-left: 5%;}
.tips_info .prize dl dd img{width: 15%;display: inline-block;padding-right: 10%;padding-left: 5%;}
.tips_info .prize dl dd h4{width:44%; display: inline-block;color: #333;vertical-align: top;}
.tips_info .prize dl dd h4 span{ line-height: 25px; color: #333;display:block;font-weight: normal;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.tips_info .prize dl dd a{ position: absolute; top: 50%; margin-top: -14px;color: #999;border:solid 1px #999;padding: 3px 0;display: inline-block;border-radius: 20px;width: 20%;text-align: center;vertical-align: 11px;}
.tips_info .prize dl dd h4 span.length8{margin-top: 0;}
.tips_info .prize dl dd a.hover{border: solid 1px #ed3f41;color: #ed3f41;}
.tips_info .prize .auto{width: 100%;height: 450px;overflow: auto;margin-top: 26%; }
.Mask{width: 100%;height: 100%;opacity: 0.7;background: #000;z-index: 100}
.zhezao{position: absolute;width: 100%;height: 100%;top:0;left: 0;z-index: 100;}
#follow,#submits-ok,#submits-fail,#submits{position: fixed;top:0;left: 0;width: 100%;height: 100%;z-index: 20}
#follow .submit a{width: 50%;float: left;}
#submits .submit>i{top:-20%;}
.copyright .found.member_notice{color: #333;}

@media screen and (width: 320px){
	.tips_list .prize dl dd {padding:0;}
}
/* 5s */
@media screen and (width: 320px) and (min-height: 504px){
	body,html{font-size: 14px;}
	.tips_list .prize dl dd h4{width:49%;}
	.submit{color: #333;background: #fff9eb;width: 290px;}
	main div dl dd>span{width: 65px;height: 65px; margin-left: 10%;padding:5px;margin-bottom: 15%;}
	main div dl dd i{top: -10%;}
	.tips_info .notice .auto{height: 360px;}
	main>img{margin-top: -30px;}
	footer{margin-top: -20px;position: relative;z-index: 31px;}
	main div dl dd strong{padding-bottom: 5%;}
	main div dl .group img.vb{width: 117%;}
}
/* 4s */
@media screen and (width: 320px) and (height: 418px){
	body,html{font-size: 14px;}
	.tips_list .prize dl dd h4{width:49%;}
	.submit{color: #333;background: #fff9eb;width: 290px;}
	main div dl dd>span{width: 65px;height: 65px; margin-left: 10%;padding:5px;margin-bottom: 20%;}
	main div dl dd i{top: -10%;}
	.tips_info .notice .auto{max-height: 290px;}
	main>img{margin-top: -30px;}
	footer{margin-top: -20px;position: relative;z-index: 31px;}
}

/* 6p */
@media screen and (min-width:375px){
	.tips_list .prize dl dd .img { margin-right: 12%; margin-left: 1%;}
}
/* 6p */
@media screen and (min-width: 400px){
	body,html{font-size: 18px;}
	.tips_list .prize dl dd .img { margin-right: 12%; margin-left: 2%;}
	.tips_info .prize dl dd .img { margin-right: 8%; margin-left: 6%;}
	main div dl dd>span{width: 95px;height: 95px; margin-left: 10%;padding:5px;margin-bottom: 7%;}
	main div dl dd i{top: -13%;}
	main div dl dt a{margin-top: 30%;}
	.tips_info .notice .auto{height: 520px;}
	header .info p{padding-top: 45%;}
	main div dl dd strong{padding-bottom: 12%;}
}
/* 华为荣耀7 */
@media screen and (width: 360px) and (height: 532px){
	.tips_info .notice .auto{height: 390px;margin-top: 22%;}
	.tips_list .prize dl dd .img { margin-right: 10%;}
	main div dl dd>span{margin-bottom: 4%;}
	main div dl dt{width: 20%;}
	main div dl .group img.vb{width: 109%;}
	.tips_info .prize .auto {
    height: 409px;
    margin-top: 22%;
    overflow: auto;
    width: 100%;
}
}

/* 小米5 */
@media screen and (width: 360px) and (height: 572px){
	main div dl dt{width: 20%;;}
	.tips_info .notice .auto{height:auto; height: 430px;margin-top: 24%}
	main div dl dt a {margin-top: 12%;}
	.tips_info .prize .auto{width: 100%;height: 440px;overflow: auto;margin-top: 23%; }

}

/* 魅族3 */
@media screen and (width: 432px) and (height: 599px){
	main div dl dt a{margin-top: 5%;}
	.tips_info .notice .auto{height: 457px;}
	main div dl .group b {margin-top: 29%;}

}

