@charset "utf-8";
/* CSS Main */
html{height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,th,td,button,article,aside,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,footer,header,hgroup,menu,nav,section{display:block}
body{max-width:640px;height:100%;margin:0 auto;font:12px/1.5em "microsoft yahei";}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}img,a img{border:0}iframe{display:block}ol,ul,li{list-style:none}a{text-decoration:none}input,button{border:none;background:none;}input{-webkit-appearance:none;}
/*常用样式*/
.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0;}
.fn{*zoom:1;}.l{float:left;}.r{float:right;}.cl{clear: both;}.rel{position:relative;}.oh{overflow:hidden;}.db {display:block;}.di{display:inline;}.dib{display:inline-block;}.dn{display:none;}.tr{text-align:right;}.tl{text-align:left;}.tc{text-align:center;}.op0{opacity:0;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
.wrap{width:100%;height:100%;}
.container{width:100%;height:100%;}
.main-bg{background:url(../../Image/20150312/bg.png) repeat;}

/*加载页*/
.loading{z-index:99;position:absolute;top:0;left:0;width:100%;height:100%;}
.loading .box{padding-top:20%;text-align:center;color:#ccc;}
.loading .box h1{font-size:24px;font-weight:normal;line-height:1.5;opacity:0;-webkit-animation:bounceInDown 1s 1.5s ease-in forwards;}
.loading .box .img{position:relative;display:inline-block;margin:12.5% 0;width:200px;height:200px;border-radius:50%;opacity:0;-webkit-animation:loginin 2s 2.5s linear forwards;}
.loading .box .img-box{position:absolute;top:0;left:0;box-sizing:border-box;width:100%;height:100%;border-radius:50%;border-width:2px;border-style:solid;border-color:#eee #eee orange #eee;-webkit-animation:logo 3s linear infinite;animation:logo 3s linear infinite;}
.loading .img img{width:100%;height:100%;border-radius:50%;}
.loading .box p{font-size:26px;line-height:1.5;opacity:0;-webkit-animation:bling 2s 4s linear infinite;}
.loading .title{position:absolute;bottom:0;left:0;width:100%;padding-bottom:4%;font-size:18px;color:#666;text-align:center;line-height:1.8;}

/*奖品详情页*/
.awards{height:100%;position:relative;}
.awards .awards-box{height:80%;overflow-y:auto;}
.awards .awards-intro{padding:7.8% 6.25% 0;height:30px;line-height:30px;font-size:20px;font-weight:bold;color:#ccc;}
.awards-intro i{display:block;float:left;margin-right:10px;width:30px;height:30px;background-image:url(../../Image/20150312/icon.png);background-repeat:no-repeat;background-position:0 -220px;background-size:160%;}
.awards .text{padding:0 6.25%;margin-top:5px;margin-left:40px;font-size:16px;color:#666;line-height:1.5;}
.awards .text .ranking{font-size:18px;color:#b2b2b2;}
.awards table{margin-top:6.25%;border-collapse:collapse;width:100%;}
.awards table td{padding:15px 0;border-top:1px solid #333;border-bottom:1px solid #333;vertical-align:top;}
.awards td img{width:119px;height:105px;}
.awards td.first{width:15%;text-align:right;}
.awards td.first .circle{display:inline-block;margin-right:10px;width:20px;height:20px;border:1px solid #c8c8c8;text-align:center;line-height:20px;font-size:14px;color:#c8c8c8;border-radius:50%;}
.awards td.second{width:119px;}
.awards .third p{padding-left:10px;font-size:18px;color:#666;}
.awards .third .a-name{font-size:20px;color:#ccc;padding-bottom:25px;}
.awards .third .prize-name { padding-bottom: 6px; color: #cccccc;}
/*页面样式--游戏页*/
.gaming{height:100%;position:relative;color:#ccc;}
.gaming .input-win{z-index:3;position:absolute;top:10%;left:50%;margin-left:-43.75%;width:87.5%;padding-bottom:20px;background:rgba(255,255,255,0.9);border-radius:10px;text-align:center;}
.gaming .input-win img{width:130px;margin-top:6%;}
.gaming .input-win p{margin-top:5px;color:#333;font-size:20px;line-height:1.8;}
.gaming .input-win span{font-size:24px;}
.gaming .input-win .btn{display:block;margin:10px auto;width:66%;height:40px;font-size:20px;color:#fff;text-align:center;line-height:40px;background-color:#bb0000;border-radius:4px;}
.gaming header{padding-top:6%;margin-bottom:6%;text-align:left;font-size:16px;}
.gaming header p{width:50%;height:25px;line-height:25px;margin:0 auto;text-align:center;}
.gaming header p i{display:inline-block;margin-top:-3px;margin-right:8px;width:25px;height:25px;background-image:url(../../Image/20150312/icon.png);background-repeat:no-repeat;background-position:0 0;background-size:50px;vertical-align:middle;}
.gaming .time-meter{position:relative;margin:0 auto;width:95%;height:23%;border-width:2px 1px;border-style:solid;border-color:#0a0b0c #111213 #26292b;border-radius:10px;text-align:center;}
.gaming .time-meter .parts{position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;font-size:0;width:92%;height:77%;overflow:hidden;}
.gaming .parts .line{z-index:2;position:absolute;left:0;top:50%;width:100%;height:2px;margin-top:-1px;background-color:#1a1a1c;}
.gaming .time-meter .part{position:relative;display:inline-block;width:24%;height:100%;margin-right:3px;background:-webkit-linear-gradient(top,#363636,#222,#303030,#262626);border-radius:10px;font-size:70px;color:#bbbcc1;}
.gaming .part span{display:inline-block;position:absolute;top:50%;left:50%;margin-left:-20px;margin-top:-35px;height:70px;line-height:70px;}
.gaming .time-meter .part:last-child{margin-right:0;}
.gaming .data{margin-top:6%;padding-left:22%;-webkit-column-count:2;color:#666;font-size:16px;line-height:20px;}
.gaming .data p{margin-bottom:10px;}
.gaming .hands{height:27.375%;text-align:center;margin-top:10px;}
.gaming .hands img{height:100%;}

/*登录页*/
.login{width:100%;position:relative;}
.login .com-name{width:100%;display:table;padding-top:3.75%;height:90px;position:relative;font-size:16px;color:#fff;text-align:center;}
.login .com-name i{display:block;position:absolute;background-repeat:no-repeat;background-size:100%;}
.login .com-name p{ margin-left:150px; margin-right:20px; text-align:left; padding-top:30px;}
.login .com-name .big-wheel{z-index:2;bottom:10px;left:50px;width:80px;height:80px;background-image:url(../../Image/20150312/login-big-wheel.png);animation:rot 12s linear infinite;-webkit-animation:rot 12s linear infinite;}
.login .com-name .big-wheel img{position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;width:45px;height:45px;border-radius:50%;}
.login .com-name .small-wheel{bottom:0;left:35px;width:40px;height:40px;background-image:url(../../Image/20150312/login-small-wheel.png);animation:oprot 10s linear infinite;-webkit-animation:oprot 10s linear infinite;}
.login .logo{display:block;width:85%;margin:0 auto;}
.login .tips{display:inline-block;height:24px;line-height:24px;margin-bottom:3.75%;font-size:14px;color:#666;text-align:center;}
.login .tips span{font-size:16px;}
.login .tips i{display:block;float:left;margin-right:10px;background-image:url(../../Image/20150312/icon.png);background-repeat:no-repeat;}
.login .tips .plane{width:24px;height:24px;background-position:0 -570px;}
.login .tips .cup{width:28px;height:32px;background-position:0 -168px;background-size:160%;}
.login .tips .award{width:30px;height:30px;background-position:0 -220px;background-size:160%;}
.login .tips .wheel-icon{width:50px;height:45px;background-position:0 -532px;background-size:160%;}
.login .tips a{font-size:16px;color:#ccc;text-decoration:underline;}

.login .form{position:relative;width:78.125%;margin:0 auto;border:2px solid #595b5c;}
.login .form i{display:block;position:absolute;width:18px;height:18px;background-image:url(../../Image/20150312/icon.png);background-repeat:no-repeat;background-position:0 -620px;}
.login .form .left-top{top:14px;left:10px;}
.login .form .left-bottom{bottom:14px;left:10px;}
.login .form .right-top{top:14px;right:10px;}
.login .form .right-bottom{bottom:14px;right:10px;}
.login .form .input-box{padding:46px 0 40px;}
.login .btn{display:block;width:84%;height:35px;margin-left:auto;margin-right:auto;margin-top:15px;line-height:35px;font-size:14px;color:#fff;text-align:center;border-radius:4px;background:-webkit-linear-gradient(top,#ba0000,#990000,#680000,#520000);}
.login .btn:active{background-color:#b80000;}
.login .input{display:block;width:74%;padding:0 5%;height:35px;margin:0 auto;font-size:14px;outline:none;background-color:#fff;color:#333;border-radius:4px;}
.login .form p{font-size:14px;color:#666;text-align:center;margin-top:0.5em;}
.login .prize{position:relative;padding:3.75% 0;background-color:#1a1c1e;border:1px solid #0c0c0e;}
.login .prize .tips{display:block;padding:0 6.25%;height:30px;line-height:30px;font-size:16px;font-weight:bold;}
.login .prize .tips a{display:block;width:100px;height:30px;line-height:30px;color:#fff;text-align:center;background:-webkit-linear-gradient(top,#ba0000,#990000,#680000,#520000);border-radius:30px;text-decoration:none;}
.login .prize .tips a:active{background-color:#b80000;}
.login .prize .prize-box{position:relative;margin:0 auto;width:87.5%;z-index: 1;}
.login .prize-box .arrow{}
.login .prize-box .bgimg{width:100%;position:absolute;bottom:0;left:0;z-index: -1;}
.login .prize-box .prizes{width:225px;margin:0 auto;padding-bottom:10px;overflow:hidden;}
.login .prizes .parts{width:240px;font-size:16px;color:#666;text-align:center;}
.login .prizes .part{width:65px;float:left;margin-right:15px;}
.login .prizes .part img{width:100%;height:52px;margin-top:8px;}

.login .rule{width:100%;padding:6.25% 0;background:url(../../Image/20150312/bg1.png) repeat 0 0;}
.login .rule .tips{display:block;padding:0 6.25%;height:45px;line-height:45px;font-size:16px;color:#333;font-weight:bolder;margin-bottom:0;}
.login .rule .content{padding:3% 15% 5%;color:#333;font-size:16px;}
.login .rule .content p{text-indent:2em;line-height:1.5;}
.login .rule .btn{width:50%;margin-top:0;}
.login .rule .bottom-tip{padding:3% 15% 0;font-size:14px;color:#600000;}


/*公用样式*/
/*底部导航*/
.bottom-bar{z-index:2;width:100%;height:18%;position:absolute;bottom:0;left:0;}
.bottom-bar ul{width:100%;height:100%;}
.bottom-bar ul li{position:relative;height:100%;width:33%;float:left;text-align:center;font-size:16px;color:#b2b2b2;}
.bottom-bar i{display:block;width:65px;height:60px;margin:0 auto;background-image:url(../../Image/20150312/icon.png);background-repeat:no-repeat;background-size:100%;}
.bottom-bar li i.index{background-position:11px -186px;}
.bottom-bar li i.rank{background-position:13px -236px;}
.bottom-bar li i.prize{background-position:13px -291px;}
.bottom-bar li i.btgame{background-position:9px -500px;}
.bottom-bar li.hover i.index{background-position:13px -31px;}
.bottom-bar li.hover i.rank{background-position:13px -80px;}
.bottom-bar li.hover i.prize{background-position:13px -134px;}
.bottom-bar li.hover p{color:#fff;}
/*排名小弹窗*/
.rank-win{display:table;position:absolute;top:-115%;left:50%;margin-left:-35%;width:70%;height:100%;background-color:#292b2e;border-radius:10px;color:#999;text-align:center;line-height:1.8;font-size:16px;vertical-align:middle;visibility:hidden;}
.rank-win .content{display:table-cell;vertical-align:middle;}
.rank-win:after{position:absolute;left:50%;top:100%;margin-left:-12px;margin-top:-1px;width:0;height:0;content:"";border-width:12px;border-style:solid;border-color:#292b2e transparent transparent transparent;}
.rank-win span{font-size:18px;color:#fff;}

.time-meter .parts{-webkit-perspective:0;-webkit-perspective-origin:50% 50%;}
.time-meter .parts .part{-webkit-transform-style:preserve-3d;}
.time-meter .parts span{z-index:2;-webkit-transform-origin:bottom;}
.time-meter .parts .score1{-webkit-transition:-webkit-transform 0.5s linear;}
.time-meter .parts .score2{-webkit-transition:-webkit-transform 0.8s linear;}
.time-meter .parts .score3{-webkit-transition:-webkit-transform 1.1s linear;}
.time-meter .parts .score4{-webkit-transition:-webkit-transform 1.4s linear;}
.score.in{-webkit-transform:rotateX(0deg);}
.score.out{-webkit-transform:rotateX(90deg);}
.c-game{z-index:-1;position:absolute;top:40%;left:50%;margin-left:-43.75%;width:87.5%;padding-bottom:20px;background:rgba(255,255,255,0.9);border-radius:10px;text-align:center;}
.c-game p{margin-top:5px;color:#333;font-size:20px;line-height:1.8;}
.c-game .btn{display:block;margin:10px auto;width:66%;height:40px;font-size:20px;color:#fff;text-align:center;line-height:40px;background-color:#bb0000;border-radius:4px;}

.shade{ z-index:999;width:100%;height:70%;position:absolute;top:0;left:0;/*background:rgba(0,0,0,0.5);*/}
.shade .close-pop{position:absolute;top:0;right:0;font-size:16px;color:#000;display:block;width:30px;height:30px;text-align:center;line-height:30px;-webkit-transform:rotate(45deg);}
/*iPhone4*/
@media screen and (max-height:480px){
	.loading .box{padding-top:10%;}
}
@media screen and (max-width:320px){
	/*排名小弹窗*/
	.rank-win{font-size:14px;}
	.rank-win span{font-size:16px;}
	.bottom-bar ul li{font-size:14px;}
	/*游戏页面*/
	.gaming header{padding-top:4%;margin-bottom:4%;font-size:14px;}
	.gaming .hands{margin-top:5px;}
	.gaming .data{margin-top:4%;font-size:14px;}
	.gaming .data p{margin-bottom:5px;}
	.gaming .input-win{display:block;}
	.gaming .input-win p{margin-top:5px;font-size:16px;}
	.gaming .input-win span{font-size:20px;}
	.gaming .input-win .btn{font-size:16px;}
	/*登录页面*/
	.login .com-name{height:70px;font-size:14px;}
	.login .com-name .big-wheel{width:60px;height:60px;}
	.login .com-name .big-wheel img{width:35px;height:35px;}
	.login .com-name .small-wheel{width:30px;height:30px;}
	.login .com-name p{ margin-left:120px; margin-right:20px; text-align:left; padding-top:20px;}
	.login .tips{font-size:12px;}
	.login .tips span{font-size:14px;}
	.login .tips a{font-size:14px;}
	.login .prize-box .prizes{width:180px;}
	.login .prizes .parts{width:195px;font-size:14px;}
	.login .prizes .part{width:50px;}
	.login .prizes .part img{height:40px;}
	.login .rule .tips{font-size:14px;}
	.login .rule .content{font-size:14px;}
	/*奖品详情*/
	.awards .awards-intro{padding:6.25% 6.25% 0;font-size:16px;}
	.awards .text{font-size:12px;}
	.awards .text .ranking{font-size:14px;}
	.awards table{margin-top:4%;}
	.awards table td{padding:10px 0;}
	.awards td.second{width:85px;}
	.awards td img{width:85px;height:70px;}
	.awards .third p{font-size:12px;}
	.awards .third .a-name{font-size:14px;padding-bottom:15px}
	/*加载页*/
	.loading .box h1{font-size:18px;}
	.loading .box p{font-size:20px;}
	.loading .box .img{width:100px;height:100px;}
	.loading .title{font-size:14px;}
}

.bounceInDown{-webkit-animation:bounceInDown 1s ease forwards;}
.wobble{-webkit-animation:wobble 1s linear infinite;}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg);
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    -webkit-transform: translateX(20%) rotate(3deg);
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg);
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    -webkit-transform: translateX(10%) rotate(2deg);
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg);
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes loginin{
  0%{opacity:0;-webkit-transform:translateX(-500px) rotate(0deg);}
  25%{opacity:1;-webkit-transform:translateX(-200px) rotate(180deg);}
  50%{opacity:1;-webkit-transform:translateX(30px) rotate(360deg);}
  75%{opacity:1;-webkit-transform:translateX(-10px) rotate(180deg);}
  100%{opacity:1;-webkit-transform:translateX(0) rotate(0deg);}
}
@-webkit-keyframes bling{
	0%{opacity:0;-webkit-transform:scale(1);}
	50%{opacity:1;-webkit-transform:scale(1.1);}
	100%{opacity:0;-webkit-transform:scale(1);}
}
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-500px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }

  80% {
  	opacity: 1;
    -webkit-transform: translateY(-10px);
  }

  100% {
  	opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes logo{
	0% {-webkit-transform:rotate(0deg);}
	50%{-webkit-transform:rotate(180deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes rot{
	0% {-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes oprot{
	0% {-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(-360deg);}
}




















