@charset "utf-8";
/* CSS Main */

html{color:#333; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea,pre{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

a {color:#b60101;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
.pt20 { padding-top:20px;}

* {-webkit-tap-highlight-color:rgba(0,0,0,0)}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:auto; margin:0 auto; max-width:640px;background:#fff; overflow:hidden;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#header { height:auto; overflow:hidden;z-index:1; position:relative;text-align:center;}
#main { height:auto!important; height:100%; position:relative;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:10px 0 10px 0;text-align:center; border-top:solid 1px #fff; color:#5c5c5c;
	background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);}
#footer p a{ color:#5c5c5c;}
#footer img { width:180px; height:14px;}
/*----------------------------------  Global结束  ------------------------------------*/

#header .headerbg1 { width:100%; height:auto; padding-bottom:10px;}
#header .headerbg2 { position:absolute; top:18%; left:0; width:100%; height:auto;-webkit-animation:headerbg2 1s forwards linear; opacity:0;}
#header .headerbg3 { position:absolute; top:50%; left:0; width:38%; height:auto;-webkit-animation:headerbg3 2s 1s forwards linear; opacity:0;}
#header .headerbg4 { position:absolute; top:60%; right:15%; width:19%; height:auto;-webkit-animation:headerbg4 2s 2s infinite linear alternate; opacity:0;}
#header .headerbg5 { position:absolute; top:-1%; right:-15%; width:25%; height:auto;-webkit-animation:headerbg5 2s infinite linear;-webkit-transform-origin:top center;}
#header .headerbg6 { position:absolute; z-index:2; top:80%; right:-5px; width:33%; height:auto;-webkit-animation:headerbg6 0.5s 2s forwards ease-in-out;-webkit-transform-origin: center right; opacity:0;}
#header .headerbg7 { position:absolute; z-index:1; top:52%; right:-5px; width:35%; height:auto; opacity:1;-webkit-animation:headerbg7 0.5s 2.5s forwards ease-in-out; opacity:0;}
#header .headerbg7-2 {-webkit-animation:headerbg7-2 1s infinite linear; opacity:1;}
#header .logo { position:absolute; top:2%; left:5%; width:18%; height:auto; border-radius:100px; background:#fff;}
#header h1 { position:absolute; top:6%; left:25%; width:60%; height:auto; color:#fff; line-height:20px; font-size:18px; text-align:center; font-weight:bold;}
#header.headerall .logo { top:8%;}
#header.headerall h1 { top:8%;}
#header .music { position: absolute; z-index:2; top:10px; right:10px; padding:5px; width:12px; height:12px; border-radius:20px; border:solid 1px #fff; opacity:0.8;}
#header .music i { display:block; width:12px; height:12px; background:url(../../Image/Shop/shopMusic.png) no-repeat 0 0; background-size:100% 100%;}
#header .music.on i { -webkit-animation:music 1.5s infinite linear;}
#header .music.on span { position:absolute; top:2px; right:2px; width:10px; height:10px; background:url(../../Image/Shop/shopMusic.png) no-repeat 0 0; background-size:100% 100%; opacity:0.8; -webkit-animation:music1 1.5s infinite linear;}
#header .music.on em { position:absolute; top:-4px; right:-4px; width:8px; height:8px; background:url(../../Image/Shop/shopMusic.png) no-repeat 0 0; background-size:100% 100%; opacity:0.8; -webkit-animation:music2 1.5s infinite linear;}

	@-webkit-keyframes music
	{
		0%{-webkit-transform:rotate(0deg);}
		100%{-webkit-transform:rotate(360deg);}
	}
	@-webkit-keyframes music1
	{
		0%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
		10%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
		50%{-webkit-transform:rotate(15deg) translate(5px,-5px); opacity:0.8;}
		100%{-webkit-transform:rotate(30deg) translate(10px,-10px); opacity:0;}
	}
	@-webkit-keyframes music2
	{
		0%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
		40%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
		80%{-webkit-transform:rotate(-30deg) translate(7px,-7px); opacity:0.4;}
		100%{-webkit-transform:rotate(-60deg) translate(14px,-14px); opacity:0;}
	}
/*加载*/
#loading { position:fixed; width:100%; height:100%; background:#fff; z-index:1000;}
.spinner { position:fixed; top:50%; margin-top:-30px; left:50%; margin-left:-75px; width: 150px; text-align: center;}
.spinner > div { width: 30px; height: 30px; background-color: #ca0000; border-radius: 100%; display: inline-block; -webkit-animation: bouncedelay 1.4s infinite ease-in-out; animation: bouncedelay 1.4s infinite ease-in-out; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
.spinner .bounce1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s;}
.spinner .bounce2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s;}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.loadimg { display:none;}

.page1 { margin:0 10px;}
.page1.mt20 { margin-top:20px;}
.page1 p { margin:5px 0; font-size:14px; text-align:left; text-indent:20px;}
.page1 p.tc { text-align: center; text-indent:0;}
.page1 p span { color:#666; font-size:12px;}
.page1 p.dashed { height:auto; overflow:hidden; padding-bottom:10px; border-bottom: dashed 1px #a6a6a6; text-align:left;}
.page1 pre { height:auto; overflow:hidden; padding-bottom:10px; border-bottom: dashed 1px #a6a6a6; text-align:left; word-break:break-all;word-wrap:break-word; white-space:pre-wrap; word-wrap:break-word;}
.page1 p.mt20 { margin-top:20px;}
.page1 p.dashed a,.btn-gohome { border:solid 1px #666; color:#666; padding:3px 10px; border-radius:5px; text-align:left; text-indent:0;}
.page1 p.dashed a i { float:left; width:12px; height:12px; margin-top:3px; margin-right:5px;}
.page1 p.dashed a i.icon-cup {background:url(../../Image/20150218/icon-cup.png) no-repeat center center; background-size:100%;}
.page1 p.dashed a i.icon-prize {background:url(../../Image/20150218/icon-prize.png) no-repeat center center; background-size:100%;}
.page1 h2 { padding:5px 0; text-align:left; height:auto; overflow:hidden; font-size:16px; font-weight:bold; color:#b30000;}
.page1 h2 i { float:left; width:22px; height:22px; margin-right:5px;}
.page1 h2 i.icon-title1 {background:url(../../Image/20150218/icon-title1.png) no-repeat center center; background-size:100%;}
.page1 h2 i.icon-title2 {background:url(../../Image/20150218/icon-title2.png) no-repeat center center; background-size:100%;}
.page1 h2 i.icon-title3 {background:url(../../Image/20150218/icon-title3.png) no-repeat center center; background-size:100%;}
.page1>h3 { margin-bottom:10px; border-bottom:solid 1px #b30000; height:auto; overflow:hidden; font-size:14px;}
.page1>h3 span { float:left; padding:5px 10px; color:#fff; background:#b30000; border-radius:5px 5px 0 0; margin-right:10px;}
.page1>h3 span.erro { background:#ddd; color:#333;}
.page1>h3 span a { color:#fff;}
.page1>h3 span.erro a { color:#333;}
.page1 .bddashed { padding:5px 0; margin:10px 0; border:dashed 1px #ccc; border-radius:5px;}
.flash { height:auto; overflow:hidden;}
.page1 .flash ul { height:0px; overflow:hidden; margin-bottom:10px;}
.page1 .flash li { float:left; width:200px;-webkit-transition:-webkit-transform 0.3s;}
.page1 .flash li h2,
.page1 .flash li h3 { text-align:center; padding:0; line-height:20px;}
.page1 .flash li h2 { font-size:16px; font-weight: bold; opacity:0;}
.page1 .flash li h3 { font-size:12px; font-weight:normal; opacity:0;}
.page1 .flash li.swiper-slide-active { width:200px;}
.page1 .flash li.swiper-slide-active h2,.page1 .flash li.swiper-slide-active h3{ opacity:1;}
.page1 .flash li.prev { -webkit-transform:perspective(500px) rotateY(45deg) scaleY(0.8); opacity:0.8;}
.page1 .flash li.next { -webkit-transform:perspective(500px) rotateY(-45deg) scaleY(0.8); opacity:0.8;}
.page1 .flash li img { width:99%; border:solid 1px #bdbdbd;}
.page1 .myGold { padding:20px 0; margin-top:-10px; text-align:center; padding-right:10px; background:#fff5f5; font-size:18px; color:#b60101;}
.page1 .myGold.pr0 { padding-right:0px;}
.page1 .myGold span { vertical-align:middle; margin:0 5px;}
.page1 .myGold em { position:relative; top:-2px; font-size:34px; vertical-align:middle; font-weight:bold;}
.page1 .myGold p { text-align:center; color:#333; font-size:14px; margin-top:10px;}
.page2 { margin-left:10px; background:url(../../Image/20150218/pagebg1.jpg) no-repeat right bottom; background-size:auto 100%;}
.page2 .rule { position:relative; margin:30px 120px 30px 0; padding-top:15px; border:dashed 1px #ccc; border-radius:5px;}
.page2 .rule p { margin:5px 0; font-size:14px; text-align:left; text-indent:20px;}
.page2 .rule a { position:absolute; top:-15px; left:-1px; width:120px; height:30px; line-height:30px; background:#b30000; border-radius:5px; color:#fff; font-size:14px;}
.page3 { height:auto; overflow:hidden; background:#ededed;}
.page3.ptb20 { padding:20px 0;}
.page3 p { margin:5px 0; font-size:12px; text-align:left; text-indent:20px; line-height:16px;}
.page3 p.tc { text-align: center; text-indent:0;}
.orderList {}
.orderList li { position:relative; padding:8px 0; padding-left:45px; height:auto; overflow:hidden; border-bottom:solid 1px #e6e6e6;}
.orderList li:last-child { border-bottom:none;}
.orderList li span { position:absolute; left:0; top:50%; margin-top:-10px; width:45px; height:20px; line-height:20px; text-align:center; font-size:20px; font-weight:bold;}
.orderList li span.one { color:#b60101; font-size:14px;}
.orderList li span.two { color:#ff7200; font-size:14px;}
.orderList li span.three { color:#fec427; font-size:14px;}
.orderList li span.other { color:#c5c5c5; font-size:14px;}
.orderList li img { width:35px; height:35px; border-radius:35px; float:left; border:solid 1px #ccc;}
.orderList li p { line-height:25px; text-indent:10px;}
.sendList {}
.sendList li { position:relative; padding:8px 0; height:auto; overflow:hidden; border-bottom:solid 1px #e6e6e6;}
.sendList li:last-child { border-bottom:none;}
.sendList li img { width:35px; height:35px; border-radius:35px; float:left; border:solid 1px #ccc;}
.sendList li p { line-height:25px; text-indent:10px;}
.sendList li p span { color:#999; margin-left:5px;}
.prizeList {}
.prizeList li { position:relative; padding:8px 0; height:96px; overflow:hidden; border-bottom:solid 1px #e6e6e6;-webkit-transition:height 0.5s;}
.prizeList li.dn { display: block; border:none; padding:0; height:0;-webkit-transition:height 0.1s;}
.prizeList li img { float:left; width:115px; height:95px; border:solid 1px #bdbdbd; margin-right:10px;}
.prizeList li h2 { padding-top:0; padding-bottom:3px;}
.prizeList li h3 { text-align:left; font-size:14px;}
.prizeList li a.btn-prize { float:left; position: relative; margin-top:5px; width:110px; height:26px; overflow:hidden; line-height:28px;background:#c50000; color:#fff; font-size:14px;border-radius:5px; text-align:center; overflow:hidden; border-bottom:solid 2px #840000;}
.prizeList li a.btn-prize.disabled1 { background:#cbcbcb; height:28px; line-height:28px;border-bottom:none;}
.prizeList li a.btn-prize.disabled2 { background:#eda9a9; height:28px; line-height:28px;border-bottom:none;}

.btn-all { position: relative;display:inline-block;*display:inline;*zoom:1; padding:12px 30px; margin:5px 0 10px 0; background:#c50000; color:#fff; font-size:20px; line-height:100%; font-weight:bold; border-radius:5px; text-align:center; overflow:hidden; box-shadow:0 3px 0 rgba(0,0,0,0.2), inset 0 0 10px rgba(255,135,135,0.7);}
.btn-all:active { background:#e41414;}
.btn-all:before { position:absolute; left:0; top:0; margin-top:-30px; width:100%; height:50px; overflow:hidden; content:""; background:rgba(255,255,255,0.3); border-radius:15px;}
.btn-erro { position: relative;display:inline-block;*display:inline;*zoom:1; padding:12px 30px; margin:5px 0 10px 0; background:#c50000; color:#fff; font-size:20px; line-height:100%; font-weight:bold; border-radius:5px; text-align:center; overflow:hidden; box-shadow:0 3px 0 rgba(0,0,0,0.2), inset 0 0 10px rgba(255,135,135,0.7);}
.btn-erro:active { background:#e41414;}
.btn-erro:before { position:absolute; left:0; top:0; margin-top:-30px; width:100%; height:50px; overflow:hidden; content:""; background:rgba(255,255,255,0.3); border-radius:15px;}
.btn-all.w180 { width:180px;}
.btn-all.erro { background:#666; box-shadow:0 3px 0 rgba(0,0,0,0.2), inset 0 0 10px rgba(0,0,0,0.7);}
.btn-all.other { background:#118237; box-shadow:0 3px 0 rgba(0,0,0,0.2), inset 0 0 10px rgba(33,199,89,0.7);}
.btn-all.w100 { width:100px; font-size:14px; padding:10px 10px; margin:0 5px;}
.btn-all.w120 { width:120px; font-size:14px; padding:10px 10px; margin:0 5px;}
.btn-all.w80 { width:80px; font-size:14px; padding:10px 10px; margin:0 5px;}
.btn-all.w250 { width:250px; font-size:14px; padding:10px 10px; margin:0 5px;}
.btn-more { display:block; margin:10px 0; height:30px; line-height:30px; border-radius:5px; border: dashed 1px #ccc; color:#999;}
.btn-more.dn { display:none;}
.btn-more:active { background:#f4f4f4;}
.btn-more:hover { background:#f4f4f4;}
.link { text-decoration:underline; color:#b60101;}
@-webkit-keyframes headerbg0
{
	0%{ background-position:0 0;}
	100%{ background-position:0 1080px;}
}
@-webkit-keyframes headerbg2 {
  0% { -webkit-transform:translate(0,-200px); opacity:1;}
  30% { -webkit-transform:translate(0,0);}
  40% { -webkit-transform:translate(0,-10px);}
  50% { -webkit-transform:translate(0,0px);}
  60% { -webkit-transform:translate(0,-5px);}
  70% { -webkit-transform:translate(0,0px);}
  80% { -webkit-transform:translate(0,-2px);}
  90% { -webkit-transform:translate(0,0px); opacity:1;}
  100% { -webkit-transform:translate(0,0px); opacity:1;}
}
@-webkit-keyframes headerbg3 {
  0% { -webkit-transform:translate(-150px,0) rotate(0); opacity:1;}
  25% { -webkit-transform:translate(-100px,0) rotate(180deg);}
  50% { -webkit-transform:translate(-50px,0) rotate(360deg);}
  75% { -webkit-transform:translate(0px,0) rotate(540deg); opacity:1;}
  100% { -webkit-transform:translate(30px,0) rotate(720deg); opacity:1;}
}
@-webkit-keyframes headerbg4 {
  0% { -webkit-transform:translate(200px,0); opacity:1;}
  5% { -webkit-transform:translate(170px,5px);}
  10% { -webkit-transform:translate(140px,-5px);}
  15% { -webkit-transform:translate(110px,5px);}
  20% { -webkit-transform:translate(80px,-5px);}
  25% { -webkit-transform:translate(50px,5px);}
  30% { -webkit-transform:translate(20px,-5px);}
  35% { -webkit-transform:translate(-10px,5px);}
  40% { -webkit-transform:translate(-40px,-5px);}
  45% { -webkit-transform:translate(-70px,5px);}
  50% { -webkit-transform:translate(-100px,-5px);}
  55% { -webkit-transform:translate(-130px,5px);}
  60% { -webkit-transform:translate(-160px,-5px);}
  65% { -webkit-transform:translate(-190px,5px);}
  70% { -webkit-transform:translate(-220px,-5px);}
  75% { -webkit-transform:translate(-250px,5px);}
  80% { -webkit-transform:translate(-280px,-5px);}
  85% { -webkit-transform:translate(-310px,5px);}
  90% { -webkit-transform:translate(-340px,-5px);}
  95% { -webkit-transform:translate(-370px,-5px);}
  100% { -webkit-transform:translate(-400px,5px); opacity:1;}
}
@-webkit-keyframes headerbg5 {
  0% { -webkit-transform:rotate(30deg);}
  25% { -webkit-transform:rotate(40deg);}
  50% { -webkit-transform:rotate(30deg);}
  75% { -webkit-transform:rotate(20deg);}
  100% { -webkit-transform:rotate(30deg);}
}
@-webkit-keyframes headerbg6 {
  0% { -webkit-transform:rotate(-180deg); opacity:1;}
  100% { -webkit-transform:rotate(25deg); opacity:1;}
}
@-webkit-keyframes headerbg7 {
  0% { opacity:0;}
  100% { opacity:1;}
}
@-webkit-keyframes headerbg7-2 {
  0% { opacity:1;-webkit-transform: scaleY(0.9);}
  50% { opacity:0.5;-webkit-transform: scaleY(1);}
  100% { opacity:1;-webkit-transform: scaleY(0.9);}
}


::-moz-placeholder {
    color: #cccccc;
    opacity: 1!important;
}
:-ms-input-placeholder {
    color: #cccccc;
}
::-webkit-input-placeholder {
    color: #cccccc;
}


#gamewrapper { margin:0 auto; width:100%; max-width:640px; height:100%; overflow:hidden; background:#fff url(../../Image/20150218/headerbg1.png) no-repeat 0 0; background-size:100% auto;}
#gamecontainer { width:100%; height:100%; overflow:hidden; position:relative; z-index:1;}
.gameEnd { display:none; position:fixed; z-index:10; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.5) url(../../Image/20150218/game-end.png) no-repeat center center; background-size:100% auto;}
.gameEnd.show { display:block; opacity:0; -webkit-animation:gameEnd 0.3s 1.5s forwards linear;}
.gameEnd p { position:absolute; z-index:11; top:50%; margin-top:-30px; left:50%; margin-left:-160px; width:320px; height:208px;}
.gameEnd.show p { opacity:0;-webkit-animation:gameEndp 0.8s 1.6s forwards linear;}
.gameEnd p span { display:block; padding:0 30px; color:#ffd503; font-size:20px; font-weight:bold; text-shadow:2px 2px 2px rgba(177,17,12,.9),-2px 2px 2px rgba(177,17,12,.9),2px -2px 2px rgba(177,17,12,.9);}
.gameEnd p em { display:block; padding:20px; color:#fff;}
.gamemsg { position:fixed; left:50%; margin-left:-90px; top:50%; margin-top:-10px; border-radius:10px; width:180px; height:20px; background:rgba(0,0,0,0.5); border: solid 1px #333;z-index:100; font-size:12px; overflow:hidden;}
.gamemsg p { color:#fff; text-align:center; position:relative; z-index:2;}
.gamemsg:after { position:absolute; z-index:0; left:-100%; top:0; width:180px; height:20px;border-radius:10px;background: -webkit-linear-gradient(bottom, #ffae00, #ffd986);-webkit-animation:gamemsg 0.4s forwards ease-out; content:"";-webkit-animation:gamewait 4s forwards ease-out;}
.gamemsg.erro {-webkit-animation:gamemsg 0.4s forwards ease-out;}
@-webkit-keyframes gamemsg
{
	0%{-webkit-transform:translate(0,0)}
	10%{-webkit-transform:translate(-8px,0)}
	20%{-webkit-transform:translate(8px,0)}
	30%{-webkit-transform:translate(-6px,0)}
	40%{-webkit-transform:translate(6px,0)}
	50%{-webkit-transform:translate(-4px,0)}
	60%{-webkit-transform:translate(4px,0)}
	70%{-webkit-transform:translate(-2px,0)}
	80%{-webkit-transform:translate(2px,0)}
	100%{-webkit-transform:translate(0,0)}
}
@-webkit-keyframes gamewait
{
	0%{left:-100%;}
	100%{left:0%;}
}
@-webkit-keyframes gameEnd
{
	0%{-webkit-transform:scale(0,0) rotate(0deg); opacity:0;}
	10%{-webkit-transform:scale(1,1) rotate(0deg); opacity:1;}
	20%,60%{-webkit-transform:scale(1,1) rotate(3deg); opacity:1;}
	30%,50%,70%,100%{-webkit-transform:scale(1,1) rotate(0deg); opacity:1;}
	40%,80%{-webkit-transform:scale(1,1) rotate(-3deg); opacity:1;}
}
@-webkit-keyframes gameEndp
{
  0% { -webkit-transform:translate(0,-100px); opacity:0;}
  30% { -webkit-transform:translate(0,0); opacity:1;}
  40% { -webkit-transform:translate(0,-10px);}
  50% { -webkit-transform:translate(0,0px);}
  60% { -webkit-transform:translate(0,-5px);}
  70% { -webkit-transform:translate(0,0px);}
  80% { -webkit-transform:translate(0,-2px);}
  90% { -webkit-transform:translate(0,0px);}
  100% { -webkit-transform:translate(0,0px); opacity:1;}
}

.snowballTip { position:absolute; top:30%; width:100%; color:#fff; font-weight:bold; font-size:16px; text-align:center;}
.gameCon { position:absolute; top:0; left:0; width:100%; height:100%; overflow:hidden;}
.snowballNum { margin:10px 10px 0 10px; padding:5px 10px; border-radius:30px; background:rgba(0,0,0,0.2); box-shadow:inset 0 0 3px rgba(0,0,0,0.1); color:#fff;}
.snowballNum span { float:left; margin-left:5px; text-shadow: 0 0 3px rgba(255,183,147,1); font-weight:bold; font-size:18px;}
.snowballNum span.add {-webkit-animation:snowballNum 0.7s forwards linear;}
@-webkit-keyframes snowballNum
{
  0% { -webkit-transform: scale(1,1);}
  50% { -webkit-transform: scale(2,2);}
  100% { -webkit-transform: scale(1,1);}
}
.snowballNum i { float:left; width:22px; height:20px;}
.icon-snowball { background:url(../../Image/20150218/icon-fire.png) no-repeat 0 0; background-size:100% auto;}
.icon-coin { background:url(../../Image/20150218/icon-coin.png) no-repeat 0 0; background-size:100% auto;}
.beginCon { position:absolute; bottom:10px; left:50%; margin-left:-120px; width:240px; height:30px; z-index:100;}
.beginCon p { color:#333; line-height:18px; text-align:center;}

.fire { position:absolute; top:0; left:0; width:200px; height:0; z-index:10;-webkit-user-select: none;-webkit-transition:none;}
.fire .fire1 { position:absolute; z-index:2; bottom:0px; right:-5px; width:98%; height:auto;-webkit-transform: rotate(25deg);-webkit-transform-origin: center right; opacity:1;-webkit-user-select: none;}
.fire .fire2 { position:absolute; z-index:1; bottom:10px; right:-5px; width:100%; height:auto;-webkit-animation:headerbg7-2 1s infinite linear; opacity:1;-webkit-user-select: none;}
.fire .fire3 { position:absolute; z-index:3; bottom:-100px; right:-10px; width:80%; height:auto;-webkit-animation:fire3 3s infinite linear; opacity:1;-webkit-user-select: none;}
.fire .fire3.erro {-webkit-animation:fire3-erro 3s infinite linear;}
@-webkit-keyframes fire3
{
  0% { -webkit-transform: translate(0,0) scale(1,1);}
  50% { -webkit-transform: translate(0,-30px) scale(1.1,1.1);}
  100% { -webkit-transform: translate(0,0) scale(1,1);}
}
@-webkit-keyframes fire3-erro
{
  0% { -webkit-transform:scale(1,1);}
  100% { -webkit-transform:scale(1,1);}
}
.fire-n { position:absolute; top:-198px; left:50px; width:5px; height:5px;}

.snowMan {position:absolute; z-index:2; top:45%; left:0; width:100%; height:0; z-index:8; background:#333;}
.code { position:absolute; top:-30px; left:50%; margin-left:-30px; width:60px; height:25px;background-image:url(../../Image/20150218/icon-code.png); background-repeat:no-repeat;background-size:100% auto; display:none;}
.code.code0 { background-position:0 0;-webkit-animation:code 0.2s 1s forwards ease-out; display:block;}
.code.code1 { background-position:0 -25px;-webkit-animation:code 0.2s 1s forwards ease-out; display:block;}
.code.code2 { background-position:0 -50px;-webkit-animation:code 0.2s 1s forwards ease-out; display:block;}
.code.code3 { background-position:0 -75px;-webkit-animation:code 0.2s 1s forwards ease-out; display:block;}
@-webkit-keyframes code
{
	0%{-webkit-transform: translate(0,0) scale(1,1); opacity:1;}
	50%{-webkit-transform: translate(0,-30px) scale(1.6,1.6); opacity:1;}
	100%{-webkit-transform: translate(0,-60px) scale(3,3); opacity:0;}
}

.fireworks-con { position:absolute; z-index:1; top:0; left:0; width:100%; height:300px;}
.fireworks-an01 { position:absolute; top:5%; left:10%; width:80%; height:auto; opacity:0;}
.fireworks-an02 { position:absolute; top:10%; left:1%; width:60%; height:auto; opacity:0;}
.fireworks-an03 { position:absolute; top:10%; left:50%; width:60%; height:auto; opacity:0;}
.fireworks-an1 { position:absolute; top:20%; left:0; width:30%; height:auto; opacity:0;}
.fireworks-an2 { position:absolute; top:3%; left:20%; width:30%; height:auto; opacity:0;}
.fireworks-an3 { position:absolute; top:15%; left:50%; width:50%; height:auto; opacity:0;}
.fireworks-an4 { position:absolute; top:5%; left:30%; width:40%; height:auto; opacity:0;}
.fireworks-an5 { position:absolute; top:2%; left:0; width:30%; height:auto; opacity:0;}
.fireworks-an6 { position:absolute; top:5%; left:10%; width:30%; height:auto; opacity:0;}
.fireworks-an7 { position:absolute; top:12%; left:30%; width:50%; height:auto; opacity:0;}
.fireworks-an8 { position:absolute; top:7%; left:70%; width:40%; height:auto; opacity:0;}
.fireworks-con.begin .fireworks-an1 {-webkit-animation:fireworks-an1 2.8s infinite linear;}
.fireworks-con.begin .fireworks-an2 {-webkit-animation:fireworks-an1 2.8s 1.3s infinite linear;}
.fireworks-con.begin .fireworks-an3 {-webkit-animation:fireworks-an1 2.8s 1.8s infinite linear;}
.fireworks-con.begin .fireworks-an4 {-webkit-animation:fireworks-an1 2.8s 2.3s infinite linear;}
.fireworks-con.begin .fireworks-an5 {-webkit-animation:fireworks-an1 2.8s 2.9 infinite linear;}
.fireworks-con.begin .fireworks-an6 {-webkit-animation:fireworks-an1 2.8s 3.3s infinite linear;}
.fireworks-con.begin .fireworks-an7 {-webkit-animation:fireworks-an1 2.8s 3.8s infinite linear;}
.fireworks-con.begin .fireworks-an8 {-webkit-animation:fireworks-an1 2.8s 4.3s infinite linear;}
.fireworks-con.action .fireworks-an01 {-webkit-animation:fireworks-an0 1.5s 0.2s 3 forwards linear;}
.fireworks-con.action .fireworks-an02 {-webkit-animation:fireworks-an0 1.5s 0.5s 3 forwards linear;}
.fireworks-con.action .fireworks-an03 {-webkit-animation:fireworks-an0 1.5s 1s 3 forwards linear;}
@-webkit-keyframes fireworks-an1
{
	0%{-webkit-transform:scale(0,0) translateY(0px); opacity:0;}
	10%{-webkit-transform:scale(0.7,0.7) translateY(0px); opacity:0.3;}
	100%{-webkit-transform:scale(1.2,1.2) translateY(100px); opacity:0;}
}
@-webkit-keyframes fireworks-an0
{
	0%{-webkit-transform:scale(0,0) translateY(0px); opacity:0;}
	10%{-webkit-transform:scale(0.7,0.7) translateY(0px); opacity:1;}
	100%{-webkit-transform:scale(1.2,1.2) translateY(100px); opacity:0;}
}

.snowManCon { position:absolute; bottom:0; left:0; width:100%; height:0;}
.snowManCon img { position: relative; width:100%; height:auto;}
.snowManCon .fireworks { position:relative; top:0; float:left; opacity:1;-webkit-transition:-webkit-transform 0.5s;-webkit-transform:scale(1,1);}
.snowManCon .fireworks.ready { opacity:0.5;-webkit-transition:-webkit-transform 0.5s;-webkit-transform:scale(0.7,0.7);}
.snowManCon .fireworks span { position: absolute; top:-30px; left:50%; margin-left:-15px; width:25px; height:25px; font-size:30px; color:#fff;background-image:url(../../Image/20150218/icon-time.png); background-repeat:no-repeat; background-size:100% auto; background-position:0 -25px; display:none;}
.snowManCon .fireworks.hover span {-webkit-animation:time 3s forwards linear; display:block;}
.snowManCon .fireworks1 {width:22%; height:auto; margin-left:1%; margin-right:3%;}
.snowManCon .fireworks2 {width:14%; height:auto; margin-right:3%;}
.snowManCon .fireworks3 {width:16%; height:auto; margin-right:3%;}
.snowManCon .fireworks4 {width:17%; height:auto; margin-right:3%;}
.snowManCon .fireworks5 {width:15%; height:auto; margin-right:3%;}
.snowManCon .fireworks1 span { margin-left:-35px;}
.snowManCon .fireworks2 span { margin-left:-10px;}
.snowManCon .fireworks3 span { margin-left:-20px;}
.snowManCon .fireworks4 span { margin-left:-15px;}
.snowManCon .fireworks5 span { margin-left:-25px;}
.snowManCon .fuse { position:absolute; z-index:2; width:30px; height:47px;background:url(../../Image/20150218/fuse.png); background-size:100%;}
.snowManCon .fuse i { position:absolute; right:-50%; bottom:-20%; width:25px; height:22px;background:url(../../Image/20150218/icon-fuse.png); background-size:100%; opacity:0;}
.snowManCon .fireworks.beginan .fuse i { opacity:1;-webkit-animation:icon-fuse 1.5s forwards linear; -webkit-transition:bottom,right 2s; bottom:-10px; right:0px;}
@media screen and (min-width: 480px) {
	.snowManCon .fireworks.beginan .fuse i {-webkit-animation:icon-fuse 2s forwards linear; -webkit-transition:bottom,right 2s; bottom:-10px; right:10px;}
}
.snowManCon .fireworks.beginan .fuse { -webkit-transition:height 2s; height:0px !important;}
.snowManCon .fireworks.fireworks1.beginan img {-webkit-animation:img1 1.5s 2s forwards linear;}
.snowManCon .fireworks.fireworks2.beginan img {-webkit-animation:img2 1.5s 2s forwards linear;}
.snowManCon .fireworks.fireworks3.beginan img {-webkit-animation:img3 1.5s 2s forwards linear;}
.snowManCon .fireworks.fireworks4.beginan img {-webkit-animation:img4 1.5s 2s forwards linear;}
.snowManCon .fireworks.fireworks5.beginan img {-webkit-animation:img5 1.5s 2s forwards linear;}
.snowManCon .fuse1 { top:80%; left:69%;}
.snowManCon .fuse2 { top:52%; left:66%;}
.snowManCon .fuse3 { top:74%; left:65%;}
.snowManCon .fuse4 { top:80%; left:60%;}
.snowManCon .fuse5 { top:42%; left:38%;}
@-webkit-keyframes time
{
	0%{-webkit-transform:scale(1,1); opacity:0; background-position:0 -25px;}
	10%{-webkit-transform:scale(1.2,1.2); opacity:1; background-position:0 -25px;}
	20%{-webkit-transform:scale(1,1); opacity:0; background-position:0 -25px;}
	33%{-webkit-transform:scale(1,1); opacity:0; background-position:0 -50px;}
	43%{-webkit-transform:scale(1.2,1.2); opacity:1; background-position:0 -50px;}
	53%{-webkit-transform:scale(1,1); opacity:0; background-position:0 -50px;}
	66%{-webkit-transform:scale(1,1); opacity:0; background-position:0 -75px;}
	73%{-webkit-transform:scale(1.2,1.2); opacity:1; background-position:0 -75px;}
	93%{-webkit-transform:scale(1,1); opacity:1; background-position:0 -75px;}
	100%{-webkit-transform:scale(1.4,1.4); opacity:0; background-position:0 -75px;}
}
@-webkit-keyframes icon-fuse
{
	0%{-webkit-transform:scale(0.9,0.9) rotate(0deg); opacity:0;}
	10%,40%,70%,99% {-webkit-transform:scale(1,1) rotate(180deg); opacity:1;}
	20%,50%,80% {-webkit-transform:scale(0.9,0.9) rotate(0deg); opacity:0.9;}
	30%,60%,90% {-webkit-transform:scale(1,1) rotate(-180deg); opacity:1;}
	100% {-webkit-transform:scale(1,1); opacity:0;}
}
@-webkit-keyframes beginan
{
	0%{-webkit-transform: translate(0px,0px);}
	10%,40%,70%,100% {-webkit-transform: translate(0px,3px);}
	20%,50%,80% {-webkit-transform: translate(0px,0px);}
	30%,60%,90% {-webkit-transform: translate(0px,-3px);}
}
@-webkit-keyframes img1
{
	0%{-webkit-transform:scale(0.9,0.9) rotate(0deg) translate(0px,0px);}
	5%,20%,35%,50% {-webkit-transform:scale(1,1) rotate(5deg) translate(0px,0px);}
	10%,25%,40%,55% {-webkit-transform:scale(0.9,0.9) rotate(0deg) translate(0px,0px); opacity:1;}
	15%,30%,45% {-webkit-transform:scale(1,1) rotate(-5deg) translate(0px,0px);}
	100% {-webkit-transform: rotate(0deg) translate(0px,-800px);}
}
@-webkit-keyframes img2
{
	0%{-webkit-transform:scale(0.9,0.9) rotate(0deg) translate(0px,0px);}
	5%,20%,35%,50% {-webkit-transform:scale(1,1) rotate(5deg) translate(0px,0px);}
	10%,25%,40%,55% {-webkit-transform:scale(0.9,0.9) rotate(0deg) translate(0px,0px); opacity:1;}
	15%,30%,45% {-webkit-transform:scale(1,1) rotate(-5deg) translate(0px,0px);}
	100% {-webkit-transform: rotate(0deg) translate(0px,-800px);}
}
@-webkit-keyframes img3
{
	0%{-webkit-transform:scale(0.9,0.9) rotate(0deg) translate(0px,0px);}
	5%,20%,35%,50% {-webkit-transform:scale(1,1) rotate(5deg) translate(0px,0px);}
	10%,25%,40%,55% {-webkit-transform:scale(0.9,0.9) rotate(0deg) translate(0px,0px); opacity:1;}
	15%,30%,45% {-webkit-transform:scale(1,1) rotate(-5deg) translate(0px,0px);}
	100% {-webkit-transform: rotate(0deg) translate(0px,-800px);}
}

@-webkit-keyframes img4
{
	0%{-webkit-transform:scale(0.9,0.9) rotate(0deg) translate(0px,0px);}
	5%,20%,35%,50% {-webkit-transform:scale(1,1) rotate(5deg) translate(0px,0px);}
	10%,25%,40%,55% {-webkit-transform:scale(0.9,0.9) rotate(0deg) translate(0px,0px); opacity:1;}
	15%,30%,45% {-webkit-transform:scale(1,1) rotate(-5deg) translate(0px,0px);}
	100% {-webkit-transform: rotate(0deg) translate(0px,-800px);}
}

@-webkit-keyframes img5
{
	0%{-webkit-transform:scale(0.9,0.9) rotate(0deg) translate(0px,0px);}
	5%,20%,35%,50% {-webkit-transform:scale(1,1) rotate(5deg) translate(0px,0px);}
	10%,25%,40%,55% {-webkit-transform:scale(0.9,0.9) rotate(0deg) translate(0px,0px); opacity:1;}
	15%,30%,45% {-webkit-transform:scale(1,1) rotate(-5deg) translate(0px,0px);}
	100% {-webkit-transform: rotate(0deg) translate(0px,-800px);}
}


.msgPop { position:fixed; z-index:1000; top:0; width:100%; height:100%; min-height:100%; margin:0 auto;display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;}
.msgPop.bg { background:rgba(0,0,0,0.7);}
.msgPop .msgBg { width:95%; height:auto; margin:0 auto; margin-top:-20px; background:#fff; border-radius:5px;}
.msgPop .msgBg .msgTitle { position:relative; height:30px; color:#000; font-size:20px; line-height:30px; padding-top:10px; border-radius:4px 4px 0 0;}
.msgPop .msgBg .msgTitle .close-msgPop { position:absolute; right:-5px; top:-5px; width:40px; height:40px;}
.msgPop .msgBg .msgTitle i { width:26px; height:27px; line-height:26px; text-align:center; position:absolute; right:6px; top:6px;border-radius:0 4px 0 0; color:#333;}
.msgPop .msgBg .msgTitle i span { display:block; font-size:20px; font-style:normal; -webkit-transform:rotate(45deg);}
.msgPop .msgBg .msgCon { padding-bottom:15px; height:auto; overflow:hidden;border-radius:0 0 4px 4px;}
.msgPop .msgBg .msgCon { font-size:18px; line-height:30px;}
.msgPop .msgBg .msgCon i { display:block; margin:0 auto; width:80px; height:80px; line-height:80px; font-size:60px; overflow:hidden; color:#ffba26;}

.msg-p { font-size:14px; line-height:18px; margin:5px 10px;}
.msg-p span { font-weight:bold; color:#c50000;}
.msg-p.bg { line-height:30px; background:#fff5f5; margin:5px 0;}

.cjForm { height:auto; overflow:hidden; max-width:610px;margin:0 auto;}
.cjForm li { height:48px; overflow:hidden;}
.cjForm li p { height:35px;width:65px; margin-left:0;float:left; text-align:right; line-height:35px; font-size:14px; color:#333;}
.cjForm li span { color:red;line-height:35px; font-size:16px;}
.cjForm li label { height:35px;margin-left:0;float:left; text-align:left; line-height:35px; font-size:16px; padding-right:20px;}
.sOne-cjForm {padding-top:10px; width:280px; margin:0 auto;text-align:center;}
.sOne-cjInput { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:160px;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-cjInput-half { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:68px; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-cjRadio { float:left; width:14px; height:14px; margin-top:10px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; margin-left:5px;}
.sOne-cjgetpasscode { height:37px; line-height:37px;width:90px; color:#909090; float:right;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; margin-right:2px;}
.sOne-cjpasscode-img {border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:none; width:80px; float:left; margin-left:10px;height:37px;}
.sOne-cjrefurbish { width:30px; height:37px; float:left; margin-left:5px;background:url(../Image/refurbish-icon.png) no-repeat 0 center; background-size:100%;}
#subcj.cj-input-button { width:250px; height:38px;color:#fff; font-size:18px; cursor:pointer; border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;-webkit-appearance:none; background:#2d5400;border:solid 1px #2d5400;}

.out-box { position: fixed;top:0;left:0;height: 100%;width: 100%;background: rgba(0,0,0,0.8); text-align: center; z-index:1111;}
.out-box .img { width:90%; height:auto; margin:0 auto; margin-top:10px;-webkit-animation-duration: 1.5s;-webkit-animation-iteration-count:1;-webkit-animation-direction: alternate;-webkit-animation-timing-function: ease-out;-webkit-animation-fill-mode: forwards;-webkit-animation-delay: 0.5s;-webkit-animation-name: tada;}
.out-box .text{ width:280px; margin:0 auto; text-align:center;}
.out-box .text p{color:#fff; font-size:18px; color:#fff; line-height:30px;}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.05) rotate(3deg);
    transform: scale(1.05) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.05) rotate(-3deg);
    transform: scale(1.05) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}


#page-nav { display:block !important;}
#infscr-loading { 
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 50%;
  margin-left:-50px;
  bottom: 40px;
  width:120px;
  line-height:40px;
  background: #999; 
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}