@charset "utf-8";
/* CSS Main */

html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:auto; margin:0 auto; max-width:640px;background:#fff; overflow:hidden; display:none;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#header { height:auto; overflow:hidden;z-index:1; position:relative;text-align:center;}
#main { height:auto!important; height:100%; position:relative;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:10px 0 10px 0;text-align:center; border-top:solid 1px #fff; color:#5c5c5c;
	background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);}
#footer p a{ color:#5c5c5c;}
#footer img { width:180px; height:14px;}
#bg-img {height:auto;position:relative; overflow:hidden; width:100%;}
/*----------------------------------  Global结束  ------------------------------------*/

.mainTop { line-height:0; position:relative; z-index:99;}
.mainTop .top-img {height:auto;position:relative; overflow:hidden; line-height:0;}
.mainTop .top-img .vip-img {width:100%;height:auto;}

.mainCon {position:relative;z-index:100; line-height:0; background:#f4f4f4;}
.mainCon .top-title { position:absolute; z-index:100; height:30px; line-height:30px; top:50%; left:0; font-size:22px; font-weight:bold; width:100%; text-align:center; color:#1767eb; top:50%; margin-top:30px; z-index:9}
.logo {width:80px;height:80px;border-radius:47px;-webkit-border-radius:47px;-moz-border-radius:47px; background:#fff; padding:2px; margin:0 auto; margin-top:10px;}
.logo img { width:100%; height:100%;border-radius:45px;-webkit-border-radius:45px;-moz-border-radius:45px;}
.mainCon-top { margin:0 7px;height:17px;}
.mainCon-bottom { margin:0 7px; height:17px;}
.mainCon .mainCon-text {height:auto; overflow:hidden; padding:0 10px 10px 10px; margin:0 auto; font-size:16px; color:#999; line-height:25px; text-align:left;word-break: break-all; work-wrap: break-word;overflow:hidden;}
.mainCon .mainCon-title { width:280px; height:auto; font-size:18px; text-align: center; margin:0 auto; color:#666;word-break: break-all; work-wrap: break-word;overflow:hidden; padding-bottom:10px; }

.mainCon-contenter {padding-bottom:0; position: absolute; top:50%; width:100%;}
.mainCon-contenter-bg {margin:0 10px;}

/*雪人*/
.snow-light { position:absolute; right:16%; top:5%; width:90px; height:90px;animation:i-rotate 2s linear infinite;-webkit-animation:i-rotate 2s linear infinite;}
.snow-light2 { position:absolute; width:100%; top:0; left:0; height:auto;animation:i-rotate 2s linear infinite;-webkit-animation:i-rotate 2s linear infinite;}
.snow-flow { width:107px; height:72px; position:absolute; left:0; top:0;}
.flow {animation:flow 5s linear forwards;-webkit-animation:flow 5s linear forwards;-webkit-transform-origin:left top;}
.snow-star { width:39px; height:39px; position:absolute; top:-100px; right:-100px;}
.star1 {animation:star1 12s 5s linear infinite;-webkit-animation:star1 12s 5s linear infinite;}
.star2 {animation:star2 6s 1s linear infinite;-webkit-animation:star2 6s 1s linear infinite;}
.star4 {animation:star4 8s 10s linear infinite;-webkit-animation:star4 8s 10s linear infinite;}
.snow-sOne { width:85px; height:auto; position:absolute; top:20px; left:10px; z-index:11;}
.snow-sTwo { width:95px; height:auto; position:absolute; top:30px; right:10px; z-index:11;}
.snow-sThree { width:77px; height:auto; position:absolute; top:60px; left:160px; z-index:11;}
.snow-say { width:88px; height:74px; position:absolute; top:-10px; left:50%; margin-left:-74px;}
.snowman1{animation:snowman1 4s 5s infinite;-webkit-animation:snowman1 4s 5s infinite;}
.snowman2{animation:snowman2 8s 1s infinite;-webkit-animation:snowman2 8s 1s infinite;}
.snowman3{animation:snowman3 5s 3s infinite;-webkit-animation:snowman3 5s 3s infinite;}
.present-all {}
.present-all .snow-box { width:100%; z-index:11; position:relative;}
.present-all>p { width:100%; font-size:24px; font-weight:bold; color:#ff0000; position:absolute; top:-10px;}
.present-all .snow-prize { width:100%;position:absolute; top:-45px; left:0px;animation:prize 0.5s forwards;-webkit-animation:prize 0.5s forwards; opacity:0;-webkit-transform:scale(0.1,0.1); z-index:10;}
.present-all .snow-deg1 {width:100%;position:absolute; top:-45px; left:0px;animation:deg1 5s 1s infinite;-webkit-animation:deg1 5s 1s infinite; z-index:10;}
.present-all .snow-deg2 {width:100%;position:absolute; top:-45px; left:0px;animation:deg1 5s 1s forwards;-webkit-animation:deg2 5s 1s forwards; z-index:10;}
.present-sOne { width:60px; height:58px; position:absolute; top:150px; left:50px; z-index:10; margin-top:75px; margin-left:20px;}
.present-sTwo { width:60px; height:58px; position:absolute; top:100px; right:60px; z-index:10; margin-top:60px; margin-right:25px;}
.present-sThree { width:60px; height:58px; position:absolute; top:120px; left:240px; z-index:10; margin-top:65px; margin-left:15px;}
.click-prize {width:100%;position:absolute; top:-30px; left:0px; z-index:13;animation:click-prize 1s forwards;-webkit-animation:click-prize 1s forwards;}

.go-prize-click { width:20px; height:20px;background:url(../../Image/20140131/snow-prize-click.png) no-repeat center center; background-size:100%;animation:snow-prize-click 0.8s infinite;-webkit-animation:snow-prize-click 0.8s infinite;position:absolute; top:-25px; right:-10px; z-index:11;}
/*雪人*/

/*-----------load-----------*/
#wrapperLoad {height:100%; width:100%; margin:0 auto;background:#fef6d3; overflow:hidden; position:fixed; top:0; left:0; z-index:101;}
.wrapperLoad {height:100%; margin:0 auto; width:100%; max-width:640px; overflow:hidden;}
.loadgif { width:72px; height:72px; margin:0 auto; margin-top:10px;background:url(../../Image/20140131/wrapperLoad-gif.png) no-repeat center center; background-size:100%;-webkit-animation:loadforever 20s infinite linear;}
.loadgif-con { width:50px; height:50px; margin:0 auto; margin-top:-62px;background:url(../../Image/20140131/wrapperLoad-con.png) no-repeat center center; background-size:100%;}
.loadcon { width:100%; height:auto; margin:0 auto; position: relative; margin-top:10px;}
.loadcon img { position: relative; width:100%; height:auto;}
.loadcon h2 { width:260px; font-size:18px; text-align: center; color:#930000; line-height:20px; position:absolute; top:10%; left:50%; margin-left:-130px; font-weight:bold;}
.loadcon p { width:240px;text-align:left;font-size:14px; color:#930000; line-height:20px; position:absolute; top:28%; left:50%; margin-left:-120px;}
.loadbtn { width:220px; margin:0 auto;margin-top:10px;}
.loadinstruction { width:260px; font-size:14px; color:#e87a7a; margin:0 auto; text-align: center; margin-top:10px;}
.btn-snow-one { width:140px; color:#fff; font-size:16px; line-height:35px; background:#999999;text-align:center; display:block; margin:0 auto; color:#000; position:relative; border-bottom:solid 5px #999999; border-left: solid 5px #b1b1b1; border-right: solid 5px #b1b1b1;}
.btn-snow-one:after {position:absolute; top:0; left:-2px; width:70%; height:35px;content:'';background:#c7c7c7;-webkit-transform: skewX(9deg);-moz-transform: skewX(9deg);transform: skewX(9deg); z-index:1;}
.btn-snow-one:before {position:absolute; top:0; right:-2px; width:70%; height:35px;content:'';background:#c7c7c7;-webkit-transform: skewX(-9deg);-moz-transform: skewX(-9deg);transform: skewX(-9deg); z-index:1;}
.btn-snow-one p { position: relative; z-index:3; text-indent:0; color:#fff;}
.btn-snow-two { width:140px; color:#fff; font-size:16px; line-height:35px; background:#c53d02;text-align:center; display:block; margin:0 auto; color:#000; position:relative; border-bottom:solid 5px #c53d02; border-left: solid 5px #e24400; border-right: solid 5px #e24400;}
.btn-snow-two:after {position:absolute; top:0; left:-2px; width:70%; height:35px;content:'';background:#f1520d;-webkit-transform: skewX(9deg);-moz-transform: skewX(9deg);transform: skewX(9deg); z-index:1;}
.btn-snow-two:before {position:absolute; top:0; right:-2px; width:70%; height:35px;content:'';background:#f1520d;-webkit-transform: skewX(-9deg);-moz-transform: skewX(-9deg);transform: skewX(-9deg); z-index:1;}
.btn-snow-two p { position: relative; z-index:3; text-indent:0; color:#fff;}
/*-----------load结束-----------*/

/*---------抽奖-----------*/
#wrapperPrize {height:100%; width:100%; margin:0 auto;background:#fef6d3; overflow:hidden; position:fixed; top:-1000px; left:0; z-index:101;}
.wrapperPrize {height:100%; margin:0 auto; width:100%; max-width:640px; overflow:hidden;}



/*---------抽奖结束-----------*/

/*分享*/
.share{ width:100%; height:40px; line-height:30px;padding-bottom:5px;background:#f4f4f4;}
.share_list{ list-style:none;}
.share_list li{float:left; margin-left:15px;}
/*----------------------------------  分享结束  ------------------------------------*/

.ptb20 { padding-top:10px; padding-bottom:10px;}
.ml10{ margin-left:10px;}
.pb10 { padding-bottom:10px;}
.mt20{ margin-top:20px;}
::-moz-placeholder {
    color: #cccccc;
    opacity: 1!important;
}
:-ms-input-placeholder {
    color: #cccccc;
}
::-webkit-input-placeholder {
    color: #cccccc;
}

.loadingBox{position:fixed;z-index:100;top:50%;left:50%;width:180px;height:auto; overflow:hidden;margin:-60px auto auto -120px;padding:30px 30px;border: 1px solid #2A2A2A;color:#fff;text-align:center;border-radius:10px;background:rgba(0,0,0,.66);} 
.loadingBox p{}
.loadingBox span { line-height:40px;font-size:16px;} 
.loadingBox i{position:absolute;z-index:9;top:60%;left:50%;margin:-16px 0 0 -16px;display:inline-block;width:20px;height:20px;border:4px dotted #000;border-color:rgba(255,255,255,.1) rgba(255,255,255,.2) rgba(255,255,255,.4) rgba(255,255,255,.5);border-radius:300px;-webkit-animation:loadforever 20s infinite linear;} 
@-webkit-keyframes loadforever{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(5000deg);}}

/*表单*/
input[type=text] {color:#555555;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow:none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
input[type=radio] {width:14px; height:14px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; margin-left:5px;}
input[type=radio]:checked { border:solid 1px #c03612;}
input[type=radio]:checked:after{content:''; background:#c03612; width:4px; height:4px;position: absolute;top:4px;left:4px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
input[type=checkbox] {width:14px; height:14px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px; margin-left:5px;}
input[type=checkbox]:checked { border:solid 1px #c03612;}
input[type=checkbox]:checked:after{content:'';background:url(../Image/chcekbox-bg-sOne.png) no-repeat 0 0; background-size:100%; width:8px; height:8px;position: absolute;top:2px;left:2px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
select {color:#ccc; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
textarea {color:#ccc; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
#AjaxWrapper { width:100%; height:100%; position:fixed;background:rgba(0,0,0,0.4); top:0; left:0; z-index:1000; text-align:center;}
.cjWrapper { width:300px; height:250px; margin:0 auto; background:url(../../Image/20140131/snow-prize-bg.png) no-repeat 0 0; background-size:100%;margin-top:80px;padding:10px 10px 10px 10px; position:relative;}
.cjCon { margin:0 auto; height:auto;}
.cjText { margin:0 auto; text-align:center; font-size:16px; color:#333; padding:25px 0 0 0; line-height:23px;}
.cjText-con { width:210px; height:auto; margin:0 auto; overflow: hidden;}
.cjText-img { width:50px; float:left;}
.cjText-img img { width:50px; height:50px;}
.cjText-text { margin-left:60px; text-align:left; font-size:16px; line-height:25px;}
.cjBtn { margin:0 auto; width:170px;height:35px; line-height:35px; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background-color: #bf0600; font-size:18px;color:#fff;}
.cjBtn a {color: #fff; display:block;}
.cjWrapper-close { color:#930000; font-size:20px; width:26px; height:26px;position:absolute; top:3px; right:3px; text-indent:-1000px;}
.cjWrapper-close a { color:#930000; display:block; line-height:20px; text-align:center; font-size:32px;transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg)}
.cjForm { height:auto; overflow:hidden; max-width:610px;margin:0 auto;}
.cjForm li { height:48px; overflow:hidden;}
.cjForm li p { height:35px;width:65px; margin-left:0;float:left; text-align:right; line-height:35px; font-size:14px; color:#333;}
.cjForm li span { color:red;line-height:35px; font-size:16px;}
.cjForm li label { height:35px;margin-left:0;float:left; text-align:left; line-height:35px; font-size:16px; padding-right:20px;}
.sOne-cjForm {padding-top:10px; width:280px; margin:0 auto;text-align:center;}
.sOne-cjInput { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:160px;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-cjInput-half { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:68px; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-cjRadio { float:left; width:14px; height:14px; margin-top:10px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; margin-left:5px;}
.sOne-cjgetpasscode { height:37px; line-height:37px;width:90px; color:#909090; float:right;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; margin-right:2px;}
.sOne-cjpasscode-img {border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:none; width:80px; float:left; margin-left:10px;height:37px;}
.sOne-cjrefurbish { width:30px; height:37px; float:left; margin-left:5px;background:url(../Image/refurbish-icon.png) no-repeat 0 center; background-size:100%;}
.cj-input-button { width:167px; height:38px;color:#fff; font-size:18px; cursor:pointer; border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;-webkit-appearance:none; background:#bf0600; margin-left:20px;}
/*----------------------------------  表单结束  ------------------------------------*/

@-webkit-keyframes i-rotate
{
0%   { opacity:0.1;}
40% { opacity:1;}
100% { opacity:0.1;}
}
@-webkit-keyframes star1
{
0%{top:-40px;right:-40px;}
100%{top:400px;right:700px;}
}
@-webkit-keyframes star2
{
0%{top:-120px;right:-200px;}
100%{top:520px;right:500px;}
}
@-webkit-keyframes star3
{
0%{top:0px;right:-70px;}
100%{top:440px;right:600px;}
}

@-webkit-keyframes star4
{
0%{top:-70px;right:50px;}
100%{top:430px;right:800px;}
}

@-webkit-keyframes flow
{
0%  {-webkit-transform: rotate(0deg);}
10% {-webkit-transform: rotate(10deg);}
20% {-webkit-transform: rotate(0deg);}
30%{-webkit-transform: rotate(6deg);}
40%{-webkit-transform: rotate(0deg);}
70%{-webkit-transform: rotate(3deg);}
100%{-webkit-transform: rotate(0deg);}
}
@-webkit-keyframes prize
{
0%  { opacity:0;-webkit-transform:scale(0.1,0.1);}
100% { opacity:1;-webkit-transform:scale(1,1);}
}
@-webkit-keyframes deg1
{
0%  {-webkit-transform: rotate(0deg);}
5% {-webkit-transform: rotate(-5deg);}
10% {-webkit-transform: rotate(5deg);}
15%{-webkit-transform: rotate(-3deg);}
20%{-webkit-transform: rotate(3deg);}
25%{-webkit-transform: rotate(-1deg);}
30%{-webkit-transform: rotate(1deg);}
35%{-webkit-transform: rotate(0deg);}
50%{-webkit-transform: translateY(-10px);}
60%{-webkit-transform: translateY(0px);}
65%{-webkit-transform: rotate(-3deg);}
70%{-webkit-transform: rotate(3deg);}
75%{-webkit-transform: rotate(-1deg);}
80%{-webkit-transform: rotate(0deg);}
90%{-webkit-transform:translateY(10px);}
100%{-webkit-transform: translateY(0px);}
}
@-webkit-keyframes deg2
{
0%{-webkit-transform: scale(1.2,1.2) translateY(-20px);}
10%{-webkit-transform: scale(1,1) translateY(0px)  rotate(0deg);}
15%{-webkit-transform: rotate(-5deg) scale(0.9,0.9);}
20%{-webkit-transform: rotate(5deg) scale(0.8,0.8);}
25%{-webkit-transform: rotate(-5deg) scale(0.7,0.7) translateY(-20px);}
30%{-webkit-transform: rotate(5deg) scale(0.6,0.6) translateY(0px);}
40%{-webkit-transform: rotate(0deg) scale(0.5,0.5); top:-60px;left:300px;}
100%{-webkit-transform: rotate(0deg) scale(0.2,0.2);top:-120px;left:-300px;}
}

@-webkit-keyframes snowman1
{
0%{-webkit-transform:translateX(0px) rotate(0deg);}
5%{-webkit-transform:translateX(5px) rotate(-5deg);}
10%{-webkit-transform:translateX(10px) rotate(0deg);}
15%{-webkit-transform:translateX(15px) rotate(5deg);}
20%{-webkit-transform:translateX(20px) rotate(0deg);}
25%{-webkit-transform:translateX(25px) rotate(-5deg);}
30%{-webkit-transform:translateX(30px) rotate(0deg);}
35%{-webkit-transform:translateX(25px) rotate(5deg);}
40%{-webkit-transform:translateX(20px) rotate(0deg);}
45%{-webkit-transform:translateX(15px) rotate(-5deg);}
50%{-webkit-transform:translateX(10px) rotate(0deg);}
55%{-webkit-transform:translateX(5px) rotate(5deg);}
60%{-webkit-transform:translateX(0px) rotate(0deg);}
100%{-webkit-transform:translateX(0) rotate(0deg);}
}
@-webkit-keyframes snowman2
{
0%{-webkit-transform:translateX(0px) rotate(0deg);}
5%{-webkit-transform:translateX(5px) rotate(-5deg);}
10%{-webkit-transform:translateX(10px) rotate(0deg);}
15%{-webkit-transform:translateX(15px) rotate(5deg);}
20%{-webkit-transform:translateX(20px) rotate(0deg);}
25%{-webkit-transform:translateX(25px) rotate(-5deg);}
30%{-webkit-transform:translateX(30px) rotate(0deg);}
35%{-webkit-transform:translateX(25px) rotate(5deg);}
40%{-webkit-transform:translateX(20px) rotate(0deg);}
45%{-webkit-transform:translateX(15px) rotate(-5deg);}
50%{-webkit-transform:translateX(10px) rotate(0deg);}
55%{-webkit-transform:translateX(5px) rotate(5deg);}
60%{-webkit-transform:translateX(0px) rotate(0deg);}
100%{-webkit-transform:translateX(0) rotate(0deg);}
}
@-webkit-keyframes snowman3
{
0%{-webkit-transform:translateX(0px) rotate(0deg);}
5%{-webkit-transform:translateX(5px) rotate(-5deg);}
10%{-webkit-transform:translateX(10px) rotate(0deg);}
15%{-webkit-transform:translateX(15px) rotate(5deg);}
20%{-webkit-transform:translateX(20px) rotate(0deg);}
25%{-webkit-transform:translateX(25px) rotate(-5deg);}
30%{-webkit-transform:translateX(30px) rotate(0deg);}
35%{-webkit-transform:translateX(25px) rotate(5deg);}
40%{-webkit-transform:translateX(20px) rotate(0deg);}
45%{-webkit-transform:translateX(15px) rotate(-5deg);}
50%{-webkit-transform:translateX(10px) rotate(0deg);}
55%{-webkit-transform:translateX(5px) rotate(5deg);}
60%{-webkit-transform:translateX(0px) rotate(0deg);}
100%{-webkit-transform:translateX(0) rotate(0deg);}
}
@-webkit-keyframes click-prize
{
0%{-webkit-transform: scale(1,1) rotate(0deg);}
100%{-webkit-transform: scale(4,4) rotate(720deg); opacity:0;}
}
@-webkit-keyframes snow-prize-click
{
0%{-webkit-transform:translateX(0px);}
50%{-webkit-transform:translateX(-10px) translateY(5px);}
100%{-webkit-transform:translateX(0px);}
}