@charset "utf-8";
/* CSS Main */

html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:auto; margin:0 auto; max-width:640px;background:#fff;overflow:hidden; position:relative;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#main { height:auto!important; height:100%; position:relative;}
#footer { z-index:99;position:absolute;bottom:0;width:100%;height:37px;background:#401dd3;text-align:center; border-top:dashed 1px #401dd3;}
#footer p{ line-height:15px;text-align:center; color:#aa98f5;font-size: 12px;}
#footer p a{ color:#aa98f5;}
/*----------------------------------  Global结束  ------------------------------------*/

.mcon{z-index:2;position:relative;margin:0 auto;width:320px;height:568px;background: url(../../Image/20140908/moon-flower.png) no-repeat #25079a;background-size:100%;overflow: hidden;}
.mcon .logo-box{position:relative;margin-top:-8px;margin-left:32px;width: 85px;height: 94px;background: url(../../Image/20140908/logo-box.png) no-repeat;background-size: 100%;}
.mcon .logo-box .img{width: 62px;height: 55px;margin-top: 17px;margin-left: 6px;border-radius: 50%;}
.l-flower{z-index:3;width:176px;height:415px;position:absolute;right:-63px;bottom:0;background: url(../../Image/20140908/l-flower.png) no-repeat;background-size: 100%;}


.notice-box{z-index:4;width:100%;height: 120px;position:absolute;bottom:37px;background-color: rgba(0,0,0,0.4);overflow: hidden;}
.notice{position:relative;margin:0 25px;height: 100%;overflow-y:hidden;overflow-x: auto;}
.notice ul{}
.notice li{float:left;width:90px;height:100%;}
.notice li .title{margin:0 11px;padding-top:8px;padding-bottom:5px;font-size: 14px;line-height:14px;color: #fff;}
.notice li .intro{margin:0 11px;font-size: 12px;padding-top:3px;line-height:16px;color: #ffadd9; padding-bottom:5px;}
.notice li img{display: block;width:80%;margin-top: 5px;margin:0 auto;}
.notice-box i{z-index:5;display: block;position: absolute;width: 11px;height:20px; cursor: pointer;}
.notice-box i.left{top: 50px;left: 5px;opacity:0.7;background: url(../../Image/20140908/arrow.png) no-repeat 0 0;background-size: 100%;}
.notice-box i.right{top: 50px;right: 5px;opacity:0.7;background: url(../../Image/20140908/arrow.png) no-repeat 0 -28px;background-size: 100%;}

.rule-tip{z-index:98;padding:7px;position:absolute;right:6px;bottom:170px;width: 16px;height: 76px;background: #fff;border: 1px solid #df74a7;border-radius: 10px;-webkit-border-radius: 10px;cursor:pointer;}
.rule-tip p{font-size: 14px;color: #d34e89;}



.covs{z-index:4;position: absolute;top: 116px;right:-18px;width:198px;height: 175px;background: url(../../Image/20140908/covs.png) no-repeat;background-size: 100%;
	animation:covsation 4s;
	-webkit-animation:covsation 4s;
	-moz-animation:covsation 4s;
	-o-animation:covsation 4s;
	}
.changer {z-index:99;position: absolute;left:-40px;top:120%;width:266px;height:206px;background: url(../../Image/20140908/changer.png) no-repeat;background-size: 100%;
	}
	
@keyframes covsation{
    0%{opacity:0;}
    100%{opacity: 1;}
}
@-webkit-keyframes covsation{
    0%{opacity:0;}
    100%{opacity: 1;}
}

#out-box{z-index:100;position:absolute;top:0;left:0;width: 100%;height: 100%;background: rgba(0,0,0,0.4);}
.dialog{z-index:101;position:fixed;top:45%;left:50%;margin-top:-125px;margin-left:-125px;width: 250px;height: 250px;border-radius: 50%;box-shadow: 0 0 75px #c8c6b9;}
.btn{margin-top:15px;width: 124px;height: 30px;background: #c62f2c;border-radius: 1.25em;color: #fff;font-size:16px;border:2px solid #c20d13;cursor: pointer;-webkit-appearance:none;}
.btn:hover{background:#c20d13; }



/*分享到新浪腾讯*/
.share{background: url(../../Image/20140908/tk-flower.png) no-repeat #fbf3ca;background-size: 100%;}
.share p{text-align: center;color: #e15e07;font-size: 16px;line-height: 20px;font-weight: bold;}
.share i{display: block;width: 62px;height: 62px;}
.share .sina{margin-left:55px;margin-top:15px;background: url(../../Image/20140908/sina.png) no-repeat;background-size: 100%;}
.share .tencent{margin-left:15px;margin-top:15px;background: url(../../Image/20140908/tencent.png) no-repeat;background-size: 100%;}
/*输入手机号码*/
.phone{background: url(../../Image/20140908/tk-flower.png) no-repeat -70px -20px #fbf3ca;background-size: 100%;}
.phone .text{padding:4px 10px;margin-top:100px;width:175px;height: 25px;border-radius: 5px;border: 1px solid #f3c2a5;font-size: 12px;color: #d34e89;background: #fff;}

/*分享到其他平台 再抽一次*/
.other{background: url(../../Image/20140908/tk-flower.png) no-repeat -70px -40px #fbf3ca;background-size: 100%;}
.other p{text-align: center;color: #e15e07;font-size: 14px;line-height: 18px;font-weight: bold;}
.other img{width:102px;height:85px;display: block;margin-left: auto;margin-right: auto;margin-top: 5px;}
/*领奖 神秘礼盒*/
.gift{background: url(../../Image/20140908/tk-sun.png) no-repeat;background-size: 100%;}
.gift .title{padding-top:20px;color: #c20d13;font-size: 30px;}
.gift p{text-align: center;color: #c20d13;font-size: 14px;line-height: 18px;font-weight: bold;}
.gift .ip{position:relative;margin:23px auto;width: 108px;height: 80px;border-radius: 50%;background: rgba(253,184,113,0.4);background-size: 100%;}
.gift .ip img.iphone{position:absolute;top:-12px;left:24px;display: block;margin-top:-5px;width: 60px;height: 90px;max-height:75px;}
.gift .ip img.g-box{position:absolute;top:-30px;left:-9px;display: block;margin-top:-2px;width: 119px;height: 104px;}
.gift .ip .btn-my{position:absolute;top:46px;left:-8px;}
/*关闭按钮*/
.close-ico{z-index:102;position:absolute;right:12px;top:15px;width: 42px;height: 42px;border-radius: 50%;background: #f6ecbb;font-size: 50px;line-height: 34px;color: #e47321;font-weight: 100;transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);cursor: pointer;}



#AjaxWrapper { width:100%; height:100%; position:fixed;background:rgba(0,0,0,0.4); top:0; left:0; z-index:1000; text-align:center;}
.cjWrapper {margin:0 auto; height:250px; width:250px;position:absolute; top:50%;left:50%; border-radius: 50%;box-shadow: 0 0 75px #c8c6b9;background: url(../../Image/20140908/tk-flower.png) no-repeat #fbf3ca;
background-size: 100%;}
.cjCon { margin:0 auto; height:100%;width:100%;position:relative; }
.cjText { margin:0 auto; text-align:center; font-size:16px; color:#333; line-height:280px;}
.cjText-con { width:100%; height:100%; margin:0 auto; overflow: hidden;word-break:break-all;}
.cjText-img { width:50px; float:left; display:none;}
.cjText-img img { width:50px; height:50px; display:none;}
.cjText-text { position:absolute; top:40%;left:0; width:100%; text-align:center; font-size:16px; line-height:25px; color:#e15e07;}
.cjBtn { position:absolute; bottom:20%;left:50%;margin-left:-85px; width:170px;height:35px; line-height:35px; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background-color: #e15e07; font-size:18px;color:#fff;}
.cjBtn a {color: #fff; display:block;}
.cjWrapper-close { color:#b9b9b9; font-size:20px; width:30px; height:30px;position:absolute; top:0; right:0;}
.cjWrapper-close a { color:#b9b9b9; display:block; line-height:30px; text-align:center; font-size:32px;transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg)}
.cjForm { height:auto; overflow:hidden; max-width:610px;margin:0 auto;}
.cjForm li { height:48px; overflow:hidden;}
.cjForm li p { height:35px;width:65px; margin-left:0;float:left; text-align:right; line-height:35px; font-size:14px; color:#333;}
.cjForm li span { color:red;line-height:35px; font-size:16px;}
.cjForm li label { height:35px;margin-left:0;float:left; text-align:left; line-height:35px; font-size:16px; padding-right:20px;}
.sOne-cjForm {padding-top:10px; width:280px; margin:0 auto;text-align:center;}
.sOne-cjInput { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:160px;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-cjInput-half { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:68px; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-cjRadio { float:left; width:14px; height:14px; margin-top:10px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; margin-left:5px;}
.sOne-cjgetpasscode { height:37px; line-height:37px;width:90px; color:#909090; float:right;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; margin-right:2px;}
.sOne-cjpasscode-img {border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:none; width:80px; float:left; margin-left:10px;height:37px;}
.sOne-cjrefurbish { width:30px; height:37px; float:left; margin-left:5px;background:url(../Image/refurbish-icon.png) no-repeat 0 center; background-size:100%;}
.cj-input-button { width:250px; height:38px;color:#fff; font-size:18px; cursor:pointer; border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;-webkit-appearance:none; background:#bf0600;}

.oprSuccess { margin:0 10px; padding:0 0 10px 0;}
.oprSuccess p { line-height:20px; margin-top:10px; color:#505050;}
.oprSuccess p span { color:#666666;}
.oprSuccess i { width:20px; height:20px; margin-right:5px;display:inline-block;*display:inline;*zoom:1; position:relative; top:5px;}
.oprSuccess i.icon-success { background:url(../Image/icon-success.png) repeat-x 0 0; background-size:100%;}
.oprSuccess i.icon-erro { background:url(../Image/icon-erro.png) repeat-x 0 0; background-size:100%;}




































