@charset "utf-8";
/* CSS Main */

html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:auto; margin:0 auto; max-width:640px;overflow:hidden; position:relative; z-index:200;
	background-color: #ec6389;
	background-image: -webkit-radial-gradient(bottom, #ffb3ca, #eb688d);
	background-image: -moz-radial-gradient(bottom, #ffb3ca, #eb688d);
	background-image: -o-radial-gradient(bottom, #ffb3ca, #eb688d);
	background-image: radial-gradient(to top, #ffb3ca, #eb688d);}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#header { height:auto; overflow:hidden;z-index:1; position:relative;text-align:center;}
#main { height:auto!important; height:100%; position:relative;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0; position:relative; z-index:1000;}
#footer p{ background:#ededed; padding:10px 0 10px 0;text-align:center; border-top:solid 1px #fff; color:#5c5c5c;
	background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);}
#footer p a{ color:#5c5c5c;}
#footer img { width:180px; height:14px;}
#bg-img {height:auto;position:relative; overflow:hidden; width:100%;}
/*----------------------------------  Global结束  ------------------------------------*/

.wrapper-bg { width:100%; height:100%; overflow:hidden; position:absolute; top:0; left:0;}
.wrapper-bg ul{ width:720px; height:100%; overflow:hidden; position:absolute; top:0; left:0;}
.wrapper-bg li{ width:20px; height:100%; overflow:hidden; float:left;}
.wrapper-bg li.bg1{ background:rgba(255,255,255, 0.2);}
.wrapper-bg dl{width:720px; height:21px; overflow:hidden; position:absolute; top:0; left:0; background:url(../../Image/20140308/top-bg.png) repeat-x top center; background-size:auto 100%;}

.mainCon {position:relative;z-index:100;}
.top-title { height:35px; line-height:30px; top:50%; left:0; font-size:22px; font-weight:bold; width:100%; text-align:center; color:#ae1f5f;margin-top:30px; z-index:9;}
.logo-bg { width:320px; height:81px; margin:0 auto;background:url(../../Image/20140308/logo-bg.png) no-repeat top center; background-size:100%; padding-top:10px;}
.logo-con {width:70px;height:70px;border-radius:100px;-webkit-border-radius:100px;-moz-border-radius:100px; background:#fff; padding:2px; margin:0 auto; box-shadow:0px 0 5px rgba(255,255,255,1); -webkit-box-shadow:0px 0 5px rgba(255,255,255,1); -moz-box-shadow:0px 0 5px rgba(255,255,255,1);}
.logo-con img { width:100%; height:100%;border-radius:100px;-webkit-border-radius:100px;-moz-border-radius:100px;}

.mainCon-contenter {padding-bottom:0; width:100%; margin-top:-100px; position:relative; z-index:1;}
.mainCon-contenter-bg { height:auto; margin:0 10px;}

/*38*/
.love-bg {width:320px; height:230px;background:url(../../Image/20140308/love-bg.png) no-repeat top center; background-size:110%; position: relative; margin-top:-175px; z-index:0; opacity:0.9;-webkit-animation: twinkle 2s linear 0s infinite;}
.love { width:320px; height:154px;background:url(../../Image/20140308/love.png) no-repeat top center; position:relative; z-index:1; background-size:100%; margin-top:5px;}
.butter1 { width:20px; height:40px; position:absolute; top:0; left:0; -webkit-transform: rotateZ(-30deg);-webkit-animation: butter1 20s linear 0s infinite;opacity:0;}
.butter2 { width:20px; height:40px; position:absolute; top:60px; left:0px; -webkit-transform: rotateZ(-30deg);-webkit-animation: butter2 25s linear 0s infinite;}
.butter3 { width:20px; height:40px; position:absolute; top:20px; right:80px;-webkit-transform: rotateZ(-30deg);-webkit-animation: butter3 30s linear 0s infinite;}
.butter1-fly, .butter2-fly, .butter3-fly {width:100%; height:100%;-webkit-animation-name: x-spin;-webkit-animation-iteration-count: infinite;-webkit-animation-timing-function: ease-linear;}
.butter1-fly {-webkit-animation-duration: 0.4s;}
.butter2-fly {-webkit-animation-duration: 0.4s;}
.butter3-fly {-webkit-animation-duration: 0.32s;}
.butter4 { position:absolute; top:-30px;right:10px;-webkit-animation: butter4 3s linear 2s forwards;opacity:0; z-index:2;}
.butter4 .butter4-fly  {-webkit-animation: butter4-fly 3s linear 7s infinite;}
.butter4 img{ width:82px; height:66px;}

.mainCon-love-phone { width:90%; height:auto; margin:0 auto; background:rgba(255,255,255,0.66);border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px; padding-top:10px; margin-bottom:20px; padding-bottom:10px; margin-top:10px; position:relative;}
.mainCon-love-phone li { margin:10px 10px 0 10px;}
.mainCon-love-phone li .go-input-text { width:98%; height:80px; border:solid 1px #d449ac; line-height:35px; font-size:16px; color:#ee5484;}
.mainCon-love-phone li .mainCon-love-phone-title { font-size:16px; color:#333;}
.mainCon-love-dinstruction { width:90%; padding:10px 0 0 0; margin:0 auto;}
.mainCon-love-dinstruction p { text-align:left; color:#ee5484;font-size:14px;}
.gowrapperLoad {-webkit-animation:gowrapperLoad 2s linear;-webkit-animation-fill-mode:forwards;}
.gowrapperLoad2 {-webkit-transform:scale(0,0);}
.mainCon-love-cut { width:90%; height:1px; margin:0 auto;
	background-color: rgba(199,0,55,0);
	background-image: -webkit-linear-gradient(left, rgba(212,73,172,0), #d449ac 50%, rgba(212,73,172,0));
	background-image: -moz-linear-gradient(left, rgba(212,73,172,0), #d449ac 50%, rgba(212,73,172,0));
	background-image: -o-linear-gradient(left, rgba(212,73,172,0), #d449ac 50%, rgba(212,73,172,0));
	background-image: linear-gradient(to right, rgba(212,73,172,0), #d449ac 50%, rgba(212,73,172,0));
}
/*38*/

/*-----------load-----------*/
#wrapperLoad {height:100%; width:100%; margin:0 auto;overflow:hidden; z-index:100; position:absolute; top:0; display:none; opacity:0;}
.wrapperLoad {height:100%; margin:0 auto; width:100%; max-width:640px; overflow:hidden;}
.love-code { width:320px; height:132px;background:url(../../Image/20140308/love2.png) no-repeat top center; background-size:100%; position: relative; margin-bottom:30px;}
.love-code p{ width:100%; height:80px;position: absolute;bottom:-30px;color:#fef1bb; font-size:26px; line-height:80px; font-weight:bold;} 
.love-code p span { font-size:42px; margin:0 5px;}
.love-code-con { height:0px; line-height:20px; display:none; overflow:hidden; text-align:left; font-size:18px; color:#fff; width:80%;text-shadow:0px 0 3px rgba(255,255,255, 0.7);-webkit-text-shadow:0px 0 3px rgba(255,255,255, 0.7);-moz-text-shadow:0px 0 3px rgba(255,255,255, 0.7); margin:0 auto;}
.gowrapperLoading {-webkit-animation:gowrapperLoading 1s 1s linear;-webkit-animation-fill-mode:forwards;}
#wrapperLoad.gowrapperLoading2 {-webkit-transform:scale(1,1); opacity:1; display:block;}
/*-----------load结束-----------*/

/*---------抽奖-----------*/
#wrapperPrize {height:100%; width:100%; margin:0 auto;background:#fef6d3; overflow:hidden; position:fixed; top:-1000px; left:0; z-index:101;}
.wrapperPrize {height:100%; margin:0 auto; width:100%; max-width:640px; overflow:hidden;}



/*---------抽奖结束-----------*/

/*分享*/
.share{ width:100%; height:40px; line-height:30px;padding-bottom:5px;}
.share_list{ list-style:none;}
.share_list li{float:left; margin-left:15px; color:#fff;}

.popularize-msg { width:100%; line-height:30px; font-size:12px; color:#fff;text-shadow:0px 0 3px rgba(255,255,255, 0.7);-webkit-text-shadow:0px 0 3px rgba(255,255,255, 0.7);-moz-text-shadow:0px 0 3px rgba(255,255,255, 0.7);}
.popularize-msg span { font-size:14px; color:#fff; font-weight:bold;}
/*----------------------------------  分享结束  ------------------------------------*/

.pt20 { padding-top:20px;}
.ptb20 { padding-top:10px; padding-bottom:10px;}
.ml10{ margin-left:10px;}
.pb10 { padding-bottom:10px;}
.mt10{ margin-top:10px;}
::-moz-placeholder {
    color: #999;
    opacity: 1!important;
	line-height:35px;
}
:-ms-input-placeholder {
    color: #999;
	line-height:35px;
}
::-webkit-input-placeholder {
    color: #999;
	line-height:35px;
}

/*表单*/
input[type=text] {color:#555555;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow:none; border:solid 1px #ff0010;-webkit-appearance:none; padding-left:3px;}
input[type=radio] {width:14px; height:14px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; margin-left:5px;}
input[type=radio]:checked { border:solid 1px #c03612;}
input[type=radio]:checked:after{content:''; background:#c03612; width:4px; height:4px;position: absolute;top:4px;left:4px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
input[type=checkbox] {width:14px; height:14px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px; margin-left:5px;}
input[type=checkbox]:checked { border:solid 1px #c03612;}
input[type=checkbox]:checked:after{content:'';background:url(../Image/chcekbox-bg-sOne.png) no-repeat 0 0; background-size:100%; width:8px; height:8px;position: absolute;top:2px;left:2px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
select {color:#ccc; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
textarea {color:#ccc; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}

#AjaxWrapper { width:100%; height:100%; position:fixed;background:rgba(0,0,0,0.4); top:0; left:0; z-index:1000; text-align:center;}
.cjWrapper { margin:0 auto; background:#fff repeat 0 0; height:auto; width:80%; min-width:280px; max-width:580px; margin-top:80px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px; padding:10px;-webkit-box-shadow: inset 0 0 10px rgba(206,54,140,.3);-moz-box-shadow: inset 0 0 10px rgba(206,54,140,.3);box-shadow: inset 0 0 10px rgba(206,54,140,.3); position:relative;}
.cjCon { margin:0 auto; height:auto; background:#fff;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.cjText { margin:0 auto; text-align:center; font-size:16px; color:#333; padding:15px 0 10px 0; line-height:23px;}
.cjText-con { width:210px; height:auto; margin:0 auto; overflow: hidden;}
.cjText-img { width:50px; float:left;}
.cjText-img img { width:50px; height:50px;}
.cjText-text { margin-left:60px; text-align:left; font-size:16px; line-height:25px;}
.cjBtn { margin:0 auto; width:170px;height:35px; line-height:35px; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background-color: #bf0600; font-size:18px;color:#fff;}
.cjBtn a {color: #fff; display:block;}
.cjWrapper-close { color:#b9b9b9; font-size:20px; width:30px; height:30px;position:absolute; top:0; right:0;}
.cjWrapper-close a { color:#b9b9b9; display:block; line-height:30px; text-align:center; font-size:32px;transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg)}
.cjForm { height:auto; overflow:hidden; max-width:610px;margin:0 auto;}
.cjForm li { height:48px; overflow:hidden;}
.cjForm li p { height:35px;width:65px; margin-left:0;float:left; text-align:right; line-height:35px; font-size:14px; color:#333;}
.cjForm li span { color:red;line-height:35px; font-size:16px;}
.cjForm li label { height:35px;margin-left:0;float:left; text-align:left; line-height:35px; font-size:16px; padding-right:20px;}
.sOne-cjForm {padding-top:10px; width:280px; margin:0 auto;text-align:center;}
.sOne-cjInput { height:35px; line-height:35px; color:#555555; width:260px;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #ff0010;-webkit-appearance:none; padding-left:3px; font-size:16px;}
.sOne-cjInput-half { height:35px; line-height:35px;color:#555555; width:166px; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-cjRadio { float:left; width:14px; height:14px; margin-top:10px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; margin-left:5px;}
.sOne-cjgetpasscode { height:37px; line-height:37px;width:90px; color:#909090; float:right;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; margin-right:2px;}
.sOne-cjpasscode-img {border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:none; width:80px; margin-left:10px;height:37px; vertical-align:middle; position:relative; top:-2px;}
.sOne-cjrefurbish { width:30px; height:37px; float:left; margin-left:5px;background:url(../Image/refurbish-icon.png) no-repeat 0 center; background-size:100%;}
.cj-input-button { width:100%; height:38px;color:#fff; font-size:18px; cursor:pointer; border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;-webkit-appearance:none; background:#ee5484; border:solid 1px #ee5484;}
#subcj.cj-input-button{ width:260px;}

/*----------------------------------  表单结束  ------------------------------------*/
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
.wrapper-bg li{ width:10px; height:100%; overflow:hidden; float:left;}
.wrapper-bg dl{width:720px; height:10px; overflow:hidden; position:absolute; top:0; left:0; background:url(../../Image/20140308/top-bg.png) repeat-x top center; background-size:auto 100%;}
}


@-webkit-keyframes snow-prize-click
{
0%{-webkit-transform:translateX(0px);}
50%{-webkit-transform:translateX(-10px) translateY(5px);}
100%{-webkit-transform:translateX(0px);}
}
@-webkit-keyframes gowrapperLoad
{
0%{-webkit-transform:scale(1,1);}
100%{-webkit-transform:scale(0,0); opacity:0;}
}
@-webkit-keyframes gowrapperLoading
{
0%{-webkit-transform:scale(0,0); opacity:0;}
100%{-webkit-transform:scale(1,1); opacity:1;}
}
@-webkit-keyframes love
{
0%{background-size:100%;}
50%{background-size:95%;}
100%{background-size:100%;}
}
@-webkit-keyframes twinkle
{
0%{ opacity:0.9;}
50%{ opacity:0.2;}
100%{ opacity:0.9;}
}

@-webkit-keyframes x-spin {
0%{ -webkit-transform: rotateX(0deg); }
20%{ -webkit-transform: rotateX(80deg); }
40%{ -webkit-transform: rotateX(130deg); }
50%{ -webkit-transform: rotateX(180deg); }
60%{ -webkit-transform: rotateX(210deg); }
80%{ -webkit-transform: rotateX(270deg); }
100%{ -webkit-transform: rotateX(360deg); }
}
@-webkit-keyframes butter1 {
0%{ opacity: 0; }
10%{ left: 0px; top: 0px;-webkit-transform: rotateZ(-30deg) rotateY(0deg); opacity: 1; }
20%{ left: 30px; top: 25px; }
30%{ left: 40px; top: 15px;opacity:1;}
60%{ left: 50px; top: 0px;-webkit-transform: rotateZ(-30deg) rotateY(0deg);opacity:0;}
61%{ left: 50px; top: 0px;-webkit-transform: rotateZ(30deg) rotateY(180deg);opacity:0;}
70%{ left: 40px; top: 30px;opacity:1;}
80%{ left: 30px; top: 22px; opacity:1; }
99%{ left: 0px; top: 0px;-webkit-transform: rotateZ(30deg) rotateY(180deg); opacity:1; }
100%{ left: 0px; top: 0px;-webkit-transform: rotateZ(-30deg) rotateY(0deg); opacity:0; }
}
@-webkit-keyframes butter2 {
0%{ opacity: 0; }
10%{ left: 20px; top: 60px;-webkit-transform: rotateZ(-30deg) rotateY(0deg); opacity: 1; }
20%{ left: 30px; top: 90px; }
30%{ left: 60px; top: 50px;opacity:1;}
40%{ left: 80px; top: 95px;-webkit-transform: rotateZ(-30deg) rotateY(0deg);opacity:0;}
41%{ left: 80px; top: 95px;-webkit-transform: rotateZ(30deg) rotateY(180deg);opacity:0;}
70%{ left: 40px; top: 50px;opacity:1;}
80%{ left: 30px; top: 60px; opacity:1; }
99%{ left: 0px; top: 60px;-webkit-transform: rotateZ(30deg) rotateY(180deg); opacity:1; }
100%{ left: 0px; top: 60px;-webkit-transform: rotateZ(-30deg) rotateY(0deg); opacity:0; }
}
@-webkit-keyframes butter3 {
0%{ opacity: 0; }
10%{ right: 80px; top: 60px;-webkit-transform: rotateZ(-30deg) rotateY(0deg); opacity: 1; }
20%{ right: 40px; top: 90px; }
30%{ right: 30px; top: 50px;opacity:1;}
40%{ right: 10px; top: 95px;-webkit-transform: rotateZ(-30deg) rotateY(0deg);opacity:0;}
41%{ right: 10px; top: 95px;-webkit-transform: rotateZ(30deg) rotateY(180deg);opacity:0;}
70%{ right: 40px; top: 50px;opacity:1;}
80%{ right: 60px; top: 60px; opacity:1; }
99%{ right: 80px; top: 30px;-webkit-transform: rotateZ(30deg) rotateY(180deg); opacity:1; }
100%{ right: 80px; top: 60px;-webkit-transform: rotateZ(-30deg) rotateY(0deg); opacity:0; }
}
@-webkit-keyframes butter4 {
0%{-webkit-transform:scale(2,2) translateX(100px) translateY(50px); opacity: 0; }
100%{-webkit-transform:scale(1,1) translateX(0px) translateY(0px); opacity:1; }
}
@-webkit-keyframes butter4-fly {
0%{-webkit-transform:translateX(0px) translateY(0px);}
10%{-webkit-transform:translateX(2px) translateY(0px);}
20%{-webkit-transform:translateX(2px) translateY(2px);}
30%{-webkit-transform:translateX(0px) translateY(2px);}
40%{-webkit-transform:translateX(0px) translateY(0px);}
50%{-webkit-transform:translateX(2px) translateY(0px);}
60%{-webkit-transform:translateX(2px) translateY(2px);}
80%{-webkit-transform:translateX(0px) translateY(2px);}
100%{-webkit-transform:translateX(0px) translateY(0px);}
}