@charset "utf-8";

/* 登录页 */

.biaoyu{position: absolute;left: 200px;color:#ccc;top:20px;}
.login.agent{width:100%;background:#fff;position: fixed;top:0;left: 0;z-index: 1;height: 100%;min-width: 1200px;}
.login.agent .header div{width:1100px;margin:0 auto;height: 80px;line-height: 80px;}
.login.agent .header div span{border-left:solid 1px #a0a0a0;height:36px;padding-left: 10px;display: inline-block;line-height: 36px;margin-top: 22px;vertical-align: top;margin-left: 10px;color: #333;font-size: 20px;}
.login.agent .main{background: url(/view/assets/image/base/loginbg.jpg) no-repeat;width: 100%;height: 100%;position: relative;z-index: 0;background-size:100%;min-width: 1200px;}
.login.agent .main .continer{width: 1200px;margin:0 auto;color: #fff;}
.login.agent .main .continer div.info{width: 740px;float: left;margin-top: 20%;}
.login.agent .main .continer div.info p{color:#f0ecec;font-size: 22px;margin-bottom: 10px; }
.login.agent .main .continer div.info h4{font-size: 36px;font-weight: normal;}
.login.agent .main .continer div.info h4 span{font-size: 62px;font-weight: normal;}
.login.agent .main .continer div.loginForm{width: 380px;height: 380px;background: url(/view/assets/image/base/opti65.png) repeat;float: left;margin-top: 120px;}
.login.agent .main .continer div.loginForm h4{text-align: center;margin-top: 30px;margin-bottom: 20px;}
.login.agent .main .continer div.loginForm ul{width: 300px;margin-left: 38px;}
.login.agent .main .continer div.loginForm ul li{height: 50px;line-height: 50px;}
.login.agent .main .continer div.loginForm ul li input{border: solid 1px #ccc;height: 48px;background: #fff;width: 238px;border-left: none;padding-left: 10px;}
.login.agent .main .continer div.loginForm ul li img{vertical-align: top;}
.login.agent .main .continer div.loginForm ul p{color: #999;line-height: 24px;margin-bottom: 10px;font-size: 12px;}
.login.agent .main .continer div.loginForm ul p input{vertical-align: middle;margin-right: 5px;}
.login.agent .main .continer div.loginForm ul p span.r{float: right;}
.login.agent .main .continer div.loginForm ul a{width: 100%;height: 45px;background: #ed3f41;border-radius: 3px;display: block;text-align: center;color: #fff;line-height: 45px;}
.login.agent .main .continer div.loginForm ul a:hover{cursor: pointer;}
.login.agent .footer{position: fixed;bottom: 0;left: 0;width: 100%;text-align: center;height: 50px;line-height: 50px;color: #8c8c8c;z-index: 1;background: #fff;}
.login.agent .footer div{margin:0 auto;width: 1200px;}
.login.agent .footer div span{margin-right: 20px;}
.login.agent .footer div a{position: relative;}
.login.agent .footer div a img{display: none;position: absolute;bottom:20px;left: 0;}
.login.agent .footer div a:hover img{display: block;}

/* 账户中心 */
.accountMsg { border:solid 1px #ddd;min-width: 920px;}
.accountMsgOne { float:left; width:360px;}
.accountMsgOne-t { padding:15px 0 15px 15px;float: left;}
.accountMsgOne-t h3 { padding:3px 0 10px 0; line-height:25px; color:#000; font-size:18px; overflow:visible;}
.accountMsgOne-t p { font-size:14px; padding:0 0 10px 0; }
.accountMsgOne-t p span { color:#bbbbbb;}

.accountMsgOne-b {float: left; }
.accountMsgOne-b li { width:170px; float:left;border-left:solid 1px #ddd; padding:0px 0 0px 15px; margin-top: 15px;margin-bottom: 15px;}
.accountMsgOne-b li.last { border-right:none;  width:125px;}
.accountMsgOne-b li a.btn-all{ background:#757982; margin-top:10px;}
.accountMsg-name{float: left;}
.accountMsgOne-b li h4 { font-size:14px; line-height:24px; color:#666;}
.accountMsgOne-b li p { height:24px; padding-top: 10px;}
.accountMsgOne-b li a{font-size: 14px;line-height: 28px;margin-top: 10px;display: inline-block}
.accountMsgOne-b li p span { font-size:24px; color:#ed3f41; margin-right:5px;font-weight: bold}
.accountMsgOne-b li p span span { font-size:14px; color:#f38e81;}

.accountMsg-portrait { width:90px; height:90px; border:solid 1px #d8d8d8; padding:2px; position:relative; overflow:hidden; float:left; margin-right:15px;}
.accountMsg-portrait .portrait { width:90px; height:90px; margin-top:-3px; position:relative;}
.accountMsg-portrait .portrait input[type=file]{width:125px; height:90px; position:absolute; top:93px; left:-40px; opacity:0; cursor: pointer;filter:alpha(opacity=0);}
.accountMsg-portrait .portrait img { width:90px; height:90px; margin-top:3px; border: none;}
.accountMsgOne-t .accountMsg-name p .hexin{border: solid 1px #f39800;color: #f39800;padding:0 5px;}

.accountMsgOne{width: 480px;}
.WcanalNew-tab{margin-top: 15px;}
.pt15{padding-top: 15px;}
.data{padding:38px 0 36px 0px;background: #f8f8f8; margin-top:20px;}
.data .data-box{float:left;height: 44px; width:33%; box-sizing:border-box; border-right:1px #cccccc dashed; text-align:center}
.mr86{margin-right:86px;}
.data .line-right{border-right: 1px solid #dbe8f5;}
.data-box .up{font-size: 18px;color: #2487e0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.data-box:last-child{border-right:0px #cccccc dashed}
.data-box .icon1{background-position: 0 -410px;}
.data-box .icon2{background-position: 0 -430px;}
.data-box .icon3{background-position: 0 -450px;}
.data-box .down{color: #444;text-align: center;}
.newRadio-input{margin-top: 15px;}
.shopData-title{ background: none;width: auto;display: inline-block;border: solid 1px #ebebeb;	border-radius:2px;margin-right: 15px;}
.shopData-title dl dd {margin: 0;border: none;float: none;display: block;	float:left;width: auto;height: 26px;line-height: 26px;text-align: center;font-size: 14px;padding: 0 10px;border-right: solid #ebebeb 1px;	color:#666666;}
.shopData-title dl dd:hover{background:#f7f7f7;}
.shopData-title dl dd.active{ background:#eee;width: auto;}
.shopData-title dl dd a{ text-decoration:none; color:#000;}
.shopData-title dl dd:last-of-type{border-right: none;}

/* 创建编辑页面 上传图片样式 */
.Gform .Ginput .Gchoose .Gbtn-picN{ position:absolute; top:-1px; right:-1px; width:30px; height:26px; line-height:26px; *height:25px; *line-height:25px; text-align:center; border: solid 1px #ccc; border-left:solid 1px #e2e2e2; background:#f7f7f7; color:#fff; border-radius:0 2px 2px 0;-webkit-transition:all 0.3s;}
.Gform .Ginput .Gchoose .Gbtn-picN i {background: url(/view/assets/image/icon-form.png) no-repeat -40px 1px;display: block;width: 100%;height: 100%;}
.Gform .Ginput .Gchoose a.Gbtn-picN:hover{background: #ff8a00}
.Gform .Ginput .Gchoose a.Gbtn-picN:hover i {background: url(/view/assets/image/icon-form.png) no-repeat -40px -39px;}
.Gform .Ginput .Gchoose .Gbtn-picN i input{opacity: 0;width: 30px;}
.marquee{height:38px;overflow:hidden;line-height: 38px;width: 1000px;padding-left: 20px;}
.marquee li{float: left;width: 480px;}
.IndData {padding:23px 0; border-bottom:1px #e4e4e4 solid; height:auto; overflow:hidden;}
.IndData.lg5 dl { width:20%; float: left; text-align:center;}
.IndData dl dt { color:#2e7dc6; font-size:22px; line-height:28px;}
.IndData dl dt a { color:#0077dd;}
.IndData dl dd { font-size:14px; line-height:24px; color:#666;}
.IndData dl dt span { color:#ed3f41;}
.IndData dl dt span em { font-size:14px;}
.IndVoice { height:40px; overflow:hidden; background:#fff;}
.IndVoice .t { position:relative; float:left; width:25px;}
.IndVoice .t i { color:#bbb; line-height:40px; font-size:18px;display: inline-block;width: 20px;height: 40px;}
.IndVoice .list { margin:0 120px 0 0; height:40px; overflow:hidden; line-height:40px; font-size:14px;}
.IndVoice .list ul { height:auto; overflow:hidden;}
.IndVoice .list li { width:100%; float:left; height:auto;}
.IndVoice .list li a{ display:block;width:50%;float:left; overflow:hidden;white-space:nowrap;text-overflow: ellipsis;}
.IndVoice .list a span { display:none;}
.IndVoice .list a.visited { color:#999;}
.IndVoice .list a.visited span { display:inline-block; color:#ec8000;}
.IndVoice .list a i {display: inline-block; margin-left: 5px; vertical-align: middle; width: 16px; height: 16px; background: url(/view/assets/image/icon1.png) no-repeat 0 -1620px;}
.IndVoice .opr { float:right; width:90px; padding:9px 0; text-align: right;}
.IndVoice .opr a { font-size:14px; line-height:22px; color:#666;}
.IndVoice .opr i { position:relative; z-index:1; float:right; margin-left:-1px; width:26px; height:20px; border:solid 1px #ddd; cursor:pointer;}
.IndVoice .opr i.pre {background:url(/view/assets/image/icon-index-index.png) no-repeat -158px -760px;}
.IndVoice .opr i.next {background:url(/view/assets/image/icon-index-index.png) no-repeat -180px -760px;}
.IndVoice .opr i.pre:hover { z-index:3; border:solid 1px #ec8000;background:url(/view/assets/image/icon-index-index.png) no-repeat -158px -780px;}
.IndVoice .opr i.next:hover { z-index:3; border:solid 1px #ec8000;background:url(/view/assets/image/icon-index-index.png) no-repeat -180px -780px;}











