<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>图文编辑_营销活动_翼码旺财</title>
<meta name="Keywords" content="{:C('SITE_KEYWORDS')}">
<link href="__PUBLIC__/Css/layout.css?v=__VR__" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Css/module.css?v=__VR__" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Css/Wpictxt.css?v=__VR__" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="__PUBLIC__/Js/umeditor/themes/poster/css/umeditor.css" />
<script type="text/javascript" src="__PUBLIC__/Js/jquery-2.1.1.min.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-1.11.2.custom/jquery-ui.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-1.11.2.custom/template.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/angularjs/angular.min.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/angularjs/angular-sanitize.min.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-1.11.2.custom/jquery.hotkeys.min.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/global.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/artDialog4.1.6/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Js/artDialog4.1.6/plugins/iframeTools.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.form.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Wpictxt.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Wpictxtdata.js?v=__VR__"></script>
<link href="__PUBLIC__/Js/jscolor/spectrum.css?v=__VR__" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__PUBLIC__/Js/jscolor/spectrum.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/umeditor/umeditor.config.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/umeditor/umeditor.min.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/validationEngine/languages/jquery.validationEngine-zh_CN.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/validationEngine/jquery.validationEngine.js?v=__VR__"></script>
<script src="__PUBLIC__/Js/jquery-ui-1.11.2.custom/ZeroClipboard.js"></script>
</head>
<!--[if IE]><div class="IEallerro"><a href="javascript:void(0)" onclick="javascript:history.go(-1)">返回上一页</a></div><![endif]-->
<body ng-app="app" ng-cloak ui-hotkey>
    <div id="wrapper" ng-controller="pictxt" ng-click="FontConfig.bodyFn()">
        <include file="./Home/Tpl/Public/Public_header.html" />
        <div id="container" class="p0">
           <!-- 头部 -->
           <div class="Pheader">
                <div class="GheaderTitle btn-close">
                    <a href="javascript:void(0)" class="title">图文编辑</a>
                </div>
                <div class="GheaderOpr">
                    <a href="javascript:void(0)" id="btn-basic"><i class="font-icon icon-cog"></i>基础设置</a>
                    <a href="javascript:void(0)" id="btn-view" ng-click="saveview()"><i class="font-icon icon-qrcode"></i>预览</a>
                    <a href="javascript:void(0)" id="btn-save" ng-click="save()"><i class="font-icon icon-floppy-1"></i>保存</a>
                    <a href="javascript:void(0)" id="btn-back" class="btn-close"><i class="font-icon icon-left-big"></i>返回</a>
                </div>
            </div>
            <!-- 主题 -->
            <div id="main">
                <form method="post" name="theform" id="theform" enctype="multipart/form-data">
                    <input type="hidden" id="batch_id" name="batch_id" value="{$batch_id}">
                    <input type="hidden" id="batch_type" name="batch_type" value="{$batch_type}">
                    <input type="hidden" id="memo" name="memo" value="">
                    <input type="hidden" id="autoSave" name="autoSave" value="0">
                    <input type="hidden" id="isPreview" name="isPreview" value="0">
                    <input type="hidden" id="m_id" name="id" value="{$info['id']}">
                    <div class="sidebar">
                       <!-- left -->
                        <div class="market">
                            <div class="marketCon">
                                <div class="marketNav">
                                    <div class="marketNavUl">
                                        <div class="marketNavLi" ng-repeat="value in moddata" ng-click="marketNav(value,1)" ng-class="{hover:mymoddata==value}"><a href="javascript:void(0)">{{value.type}}</a></div>
                                        <div class="color-widget">
                                            <span class="color-circle" ng-style="{'background-color':FontConfig.defaultColor}" ng-click="editTxtlistColor=true"></span>
                                            <div class="editTxtlist color" ng-hide="!editTxtlistColor">
                                                <div class="editTxtlistInput">
                                                    <input type="color" ng-model="FontConfig.defaultColor" ui-spectrum ng-change="changeColor(FontConfig.defaultColor)">
                                                    <a href="javascript:void(0)" ng-click="changeColor('transparent')" title="透明" data-placement="bottom"></a>
                                                    <input type="text" ng-model="FontConfig.defaultColor">
                                                </div>
                                                <div class="editTxtlistColor">
                                                    <ul ng-repeat="value in FontConfig.color" ng-class="{'last':$index>5,'mycolor':$index>6}">
                                                        <li ng-repeat="v in value" ng-style="{'background-color':v}" ng-click="changeColor(v)"></li>
                                                    </ul>
                                                </div>
                                                <div class="editTxtlistLinkfixed" ng-click="editTxtlistColor=false;changeColor(FontConfig.defaultColor,true)"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="marketNavMore" ng-if="mymoddata.id!=2">
                                    <dt>
                                        <a ng-repeat="value in mymoddata.list" ng-click="marketNav(value,2)" ng-class="{hover:mymoddatalist==value}" ng-hide="!value.type" href="javascript:void(0)">{{value.type}}</a>
                                    </dt>
                                </div>
                                <div class="marketList" on-finish-render ng-style="{'top':mymoddata.id!=2?116:55}">
                                    <dl class="tpl_list" ng-if="mymoddata.id!=2">
                                        <dd ng-repeat="value in mymoddatalist.list" class="tpl_item" ng-click="addPage(value)">
                                            <!--div style="font-size:12px;">{{value.url}}</div-->
                                            <div ng-include="value.url" ng-model="value">{{value.text}}</div>
                                        </dd>
                                    </dl>
                                    <dl class="tpl_list" ng-class="{'tpl_mylist':mymoddata.id==2}" ng-if="mymoddata.id==2">
                                        <div class="tpl_list_my" ng-repeat="mynewlist in mymoddatalist.list" ng-click="addPage(mynewlist)">
                                            <div class="marketListItemDel" ng-click="delmoddata(mynewlist)" title="删除模板"><i class="icon-trash-empty"></i></div>
                                            <dd ng-repeat="value in mynewlist.data" class="tpl_item">
                                                <div ng-include="value.url" ng-model="value">{{value.text}}</div>
                                            </dd>
                                        </div>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- right -->
                    <div class="submain">
                        <div class="subcon">
                            <div class="Mcon">
                                <div class="editingArea">
                                    <div class="leftopr">
                                      <i class="font-icon icon-reply" data-placement="left" title="撤销(Ctrl+z)" ng-class="{ok:history.nowhistory!=0}" ng-click="goHistory('prev')"></i>
                                      <i class="font-icon icon-forward" data-placement="left" title="恢复(Ctrl+y)" ng-class="{ok:history.nowhistory!=history.history.length-1}" ng-click="goHistory('next')"></i>
                                      <i class="font-icon icon-eraser" data-placement="left" title="清空当前页面内容" ng-class="{ok:pages.temp.length!=0}" ng-click="clearpage()"></i>
                                      <i class="font-icon icon-heart" data-placement="left" title="存入我的模板" ng-class="{ok:pages.temp.length!=0}" ng-click="savenew(pages.temp)"></i>
                                      <i class="font-icon icon-wechat" id="iconCopy" data-placement="left" title="复制到公众号" ng-class="{'green':iscopyHtml}" ng-hide="iscopyHtml" ng-mousedown="copyHtml()"></i>
                                      <i class="font-icon icon-wechat" data-placement="left" title="复制到公众号" ng-class="{'green':iscopyHtml}" ng-hide="!iscopyHtml" ng-mousedown="copyHtml()"></i>
                                    </div>
                                    <div class="editingCon" on-finish-render>
                                        <div class="editingList editingListEdit" ng-hide="iscopyHtml" ng-model="pages.temp" ui-sortable>
                                            <div class="editingItemNull" ng-if="pages.temp.length==0"><i class="font-icon icon-left"></i>点击模板加入</div>
                                            <div class="editingItem" ng-repeat="value in pages.temp" ng-class="{'delAn':value.del,'addAn':value.add}" ng-mousedown="clearv($index)">
                                                <div class="dn">{{value.text}}</div>
                                                <i class="font-icon icon-trash" ng-click="delmyPage(value)"></i>
                                                <i class="font-icon icon-move"></i>
                                                <i class="font-icon icon-plus" ng-click="quickAdd=true"></i>
                                                <div class="editTxt editTxtAdd" ng-hide="!quickAdd" ui-move>
                                                    <dl>
                                                        <dd><a href="javascript:void(0)" title="复制当前内容" ng-click='quickAdd=false;addPage(value, $index )'><i class="font-icon icon-docs"></i></a></dd>
                                                        <dd><a href="javascript:void(0)" title="插入正文" ng-click='quickAdd=false;addPage(mymoddata.list[0].list[3], $index )'><i class="font-icon icon-text-width"></i></a></dd>
                                                        <dd><a href="javascript:void(0)" title="插入图片" ng-click='quickAdd=false;addPage(mymoddata.list[2].list[0], $index )'><i class="font-icon icon-picture"></i></a></dd>
                                                    </dl>
                                                    <div class="editTxtlistLinkfixed" ng-click="quickAdd=false;"></div>
                                                </div>
                                                <div class="editText">
                                                    <div ng-include="value.url" ng-model="value" class="includeDiv"></div>
                                                </div>
                                                <div ng-if="myValueEdit==$index" class="editTxt" ng-click="$event.stopPropagation();" ng-hide="!myPageEdit" ui-move ng-style="{'width':(myPageEdit.edit.myPageEditSize*40)+'px','margin-left':'-'+(myPageEdit.edit.myPageEditSize*20)+'px'}">
                                                    <dl>
                                                        <dd ng-if="myPageEdit.edit.hasOwnProperty('fontFamily')">
                                                            <a href="javascript:void(0)" title="字体" ng-click="FontConfig.Ue=1"><i class="font-icon icon-vine"></i></a>
                                                            <div class="editTxtlist fontfamily" ng-hide="FontConfig.Ue!=1">
                                                                <li ng-repeat="value in FontConfig.fontFamily" ng-style="{'font-family':value}" ng-class="{'hover':myPageEdit.edit.fontFamily==value}" ng-click="FontConfig.Ue=0;edui('fontFamily',value)">{{value=="微软雅黑"?"默认字体":value}}</li>
                                                            </div>
                                                        </dd>
                                                        <dd ng-if="myPageEdit.edit.hasOwnProperty('fontSize')">
                                                            <a href="javascript:void(0)" title="文字大小" ng-click="FontConfig.Ue=2"><i class="font-icon icon-font"></i></a>
                                                            <div class="editTxtlist fontsize" ng-hide="FontConfig.Ue!=2">
                                                                <li ng-repeat="value in FontConfig.fontSize" ng-style="{'font-size':value}" ng-class="{'hover':myPageEdit.edit.fontSize==value}" ng-click="FontConfig.Ue=0;edui('fontSize',value)">{{value}}</li>
                                                            </div>
                                                        </dd>
                                                        <dd ng-if="myPageEdit.edit.hasOwnProperty('fontStyle')" ng-class="{hover:myPageEdit.edit.fontWeight=='bold'}"><a href="javascript:void(0)" title="文字加粗" ng-click="edui('fontWeight')"><i class="font-icon icon-bold"></i></a></dd>
                                                        <dd ng-class="{hover:myPageEdit.edit.fontStyle=='italic'}"><a href="javascript:void(0)" title="文字斜体" ng-click="edui('fontStyle')"><i class="font-icon icon-italic"></i></a></dd>
                                                        <dd ng-if="myPageEdit.edit.hasOwnProperty('textDecoration')">
                                                            <a href="javascript:void(0)" title="文字修饰" ng-click="FontConfig.Ue=6"><i class="font-icon icon-underline"></i></a>
                                                            <div class="editTxtlist fontsize" ng-hide="FontConfig.Ue!=6">
                                                                <li ng-repeat="value in FontConfig.textDecoration" ng-style="{'font-size':value}" ng-class="{'hover':myPageEdit.edit.textDecoration==value}" ng-click="FontConfig.Ue=0;edui('textDecoration',value)">{{value=='overline'?'上划线':(value=='line-through'?'删除线':(value=='underline'?'下划线':(value==''?'无':'false')))}}</li>
                                                            </div>
                                                        </dd>
                                                        <dd ng-if="myPageEdit.edit.hasOwnProperty('textAlign')" ng-class="{hover:myPageEdit.edit.textAlign=='left'}"><a href="javascript:void(0)" title="居左" ng-click="edui('textAlign','left')"><i class="font-icon icon-align-left"></i></a></dd>
                                                        <dd ng-if="myPageEdit.edit.hasOwnProperty('textAlign')" ng-class="{hover:myPageEdit.edit.textAlign=='center'}"><a href="javascript:void(0)" title="居中" ng-click="edui('textAlign','center')"><i class="font-icon icon-align-center"></i></a></dd>
                                                        <dd ng-if="myPageEdit.edit.hasOwnProperty('textAlign')" ng-class="{hover:myPageEdit.edit.textAlign=='right'}"><a href="javascript:void(0)" title="居右" ng-click="edui('textAlign','right')"><i class="font-icon icon-align-right"></i></a></dd>
                                                        <dd ng-if="myPageEdit.edit.hasOwnProperty('lineHeight')">
                                                            <a href="javascript:void(0)" title="行高" ng-click="FontConfig.Ue=5"><i class="font-icon icon-indent-left"></i></a>
                                                            <div class="editTxtlist fontsize" ng-hide="FontConfig.Ue!=5">
                                                                <li ng-repeat="value in FontConfig.lineHeight" ng-style="{'font-size':value}" ng-class="{'hover':myPageEdit.edit.lineHeight==value}" ng-click="FontConfig.Ue=0;edui('lineHeight',value)">{{value}}</li>
                                                            </div>
                                                        </dd>

                                                        <dd ng-repeat="tempColor in myPageEdit.edit.tempColor">
                                                            <a href="javascript:void(0)" title="模板颜色" ng-click="FontConfig.Ue=tempColor"><i class="font-icon icon-ajust"></i></a>
                                                            <div class="editTxtlist color" ng-hide="FontConfig.Ue!=tempColor">
                                                                <div class="editTxtlistInput">
                                                                    <input type="color" ng-model="myPageEdit.edit.defaultColor" ui-spectrum ng-change="edui(tempColor,myPageEdit.edit.defaultColor)">
                                                                    <a href="javascript:void(0)" ng-click="edui(tempColor,'transparent')" title="透明" data-placement="bottom"></a>
                                                                    <!--input type="text" ng-model="myPageEdit.edit.defaultColor"-->
                                                                </div>
                                                                <div class="editTxtlistColor">
                                                                    <ul ng-repeat="value in FontConfig.color" ng-class="{'last':$index>5,'mycolor':$index>6}">
                                                                        <li ng-repeat="v in value" ng-style="{'background-color':v}" ng-click="edui(tempColor,v)"></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </dd>
                                                        <dd ng-repeat="iscolor in myPageEdit.edit.iscolor">
                                                            <a href="javascript:void(0)" title="{{iscolor=='color'?'文字颜色':(iscolor=='backgroundColor'?'背景色':(iscolor=='borderColor'?'边框颜色':'false'))}}" ng-click="FontConfig.Ue=iscolor"><i class="font-icon icon-blank"></i></a>
                                                            <div class="editTxtlist color" ng-hide="FontConfig.Ue!=iscolor">
                                                                <div class="editTxtlistInput">
                                                                    <input type="color" ng-model="myPageEdit.edit[iscolor]" ui-spectrum ng-change="edui(iscolor,myPageEdit.edit[iscolor])">
                                                                    <a href="javascript:void(0)" ng-click="edui(iscolor,'transparent')" title="透明" data-placement="bottom"></a>
                                                                    <!--input type="text" ng-model="myPageEdit.edit[iscolor]"-->
                                                                </div>
                                                                <div class="editTxtlistColor">
                                                                    <ul ng-repeat="value in FontConfig.color" ng-class="{'last':$index>5,'mycolor':$index>6}">
                                                                        <li ng-repeat="v in value" ng-style="{'background-color':v}" ng-click="edui(iscolor,v)"></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </dd>
                                                        <dd><a href="javascript:void(0)" title="清除样式" ng-click='edui()'><i class="font-icon icon-circle-notch"></i></a></dd>
                                                        <!--dd><a href="javascript:void(0)" title="高级编辑" ng-click='edui("ngUeditor")'><i class="font-icon icon-ellipsis"></i></a></dd-->
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="editingList editingListCopy" ng-hide="!iscopyHtml">
                                            <div class="editingListCopyClose">
                                                <div class="loadStatus ok">
                                                    <dl>
                                                        <dt class="statusTitle">复制成功！</dt>
                                                        <dd>您可以Ctrl+V到微信的图文消息编辑器</dd>
                                                    </dl>
                                                </div>
                                                <i class="icon-cancel" ng-click="copyHtml()"></i>
                                            </div>
                                            <div class="editingListCopyCon" id="editingListCopy"></div>
                                        </div>

                                        <div class="editImgFix dn"><div class="editImgP"></div></div>
                                        <div class="editTxtFix dn"><div class="editImgP"></div></div>
                                        <div class="editTxtFixing dn"><div class="editImgP"></div></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="service"></div>
    <include file="./Home/Tpl/MarketActive/NewPictext_basicInfo.html" />
</body>
</html>
<script type="text/javascript">
var DefaultData = {
    id:"{$info['id']}",
    saveUrl:"{:U('MarketActive/NewPictext/save')}",//保存
    previewUrl:"{:U('MarketActive/NewPictext/draftSave')}",//预览保存
    autosaveUrl:"{:U('MarketActive/NewPictext/draftSave')}",//自动保存
    mytempUrl:"{:U('MarketActive/NewPictext/tempSave')}",//保存我的模板
    delmytempUrl:"{:U('MarketActive/NewPictext/tempDel')}",//删除我的模板
    removePosterDataUrl:"{:U('MarketActive/NewPictext/index')}",
    <if condition="$temps neq '' " >
    mytemp: <?php echo $temps;?>,
    <else />
    mytemp:[],
    </if>

    <if condition="$info['draft_path'] neq '' " >
        pages:<?php echo $info['draft_path'];?>
    <elseif  condition="$info['content_path'] neq '' " />
        pages:<?php echo $info['content_path'];?>
    <else />
        pages:{
            temp:[],
            color:""
        }
    </if>
}
moddata[1].list[0].list = DefaultData.mytemp;
</script>