<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>我的食材</title>
<meta name="viewport" content="width=320, maximum-scale=1, user-scalable=no,minimal-ui">
<meta content="O2O,O2O营销,二维码,旺财,市场调研" name="Keywords">
<meta content="telephone=no" name="format-detection" />
<meta content="email=no" name="format-detection" />
<meta name="apple-touch-fullscreen" content="NO">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Label/Css/wap_qj.css?v=__VR__">
<script type="text/javascript" src="__PUBLIC__/Label/Js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Label/Js/idangerous.swiper.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-1.11.2.custom/template.js"></script>
<script>
$(document).ready(function(e) {
	var loadImg = 0;
	var imgNum = $(".loadimg").length-1;
	$(".loadimg").one('load', function () {
		loadImg++;
		if (loadImg == imgNum) {
			$("#loading").hide();
			$("#wrapper").addClass("begin");
		}
	}).each(function () {
		if (this.complete) $(this).load();
	});
});
</script>
</head>
<body>
<div id="loading">
    <div class="loadingbox">
        <h4>仟吉</h4>
        <div><i></i>
            <img src="__PUBLIC__/Label/Image/qianji/Item/qj-logo.png?v=__VR__" />
        </div>
        <h5>Loading...</h5>
        <h6>粽礼仟寻</h6>
    </div>
    <img src="__PUBLIC__/Label/Image/qianji/Item/qj-19-2.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/qianji/Item/qj-19-3.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/qianji/Item/qj-19-4.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/qianji/Item/qj-19-5.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/qianji/Item/qj-19-6.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/qianji/Item/qj-19-7.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/qianji/Item/qj-19-8.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/qianji/Item/qj-19-9.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/qianji/Item/qj-19-18.png" class="loadimg" />
</div>
<div id="wrapper">
    <div id="container">
    	<div id="main">
        	<div class="headertext">
            	<h3>您已经集齐<span>{$foods_count}</span>个不同的食材</h3>
                <p>再收集{$foods_count1}个食材就能兑换奖品了，快来一起参 与吧！</p>
            </div>
            <div class="stuffingList">
                <ul>
                    <li>
                        <div class="img"><img src="__PUBLIC__/Label/Image/qianji/Item/qj-19-2.png"></div>
                        <p>腐乳<br>食材</p>
                        <php>if($foods_number !=""){</php>
                              <em>x<span class="_food1">{$foods_number[0]}</span></em>
                        <php>}else{</php>
                              <em>x0</em>
                        <php>}</php>
                    </li>
                    <li>
                        <div class="img"><img src="__PUBLIC__/Label/Image/qianji/Item/qj-19-3.png"></div>
                        <p>东坡肉<br>食材</p>
                        <php>if($foods_number !=""){</php>
                        <em>x<span class="_food2">{$foods_number[1]}</span></em>
                        <php>}else{</php>
                        <em>x0</em>
                        <php>}</php>
                    </li>
                    <li>
                        <div class="img"><img src="__PUBLIC__/Label/Image/qianji/Item/qj-19-4.png"></div>
                        <p>草莓<br>食材</p>
                        <php>if($foods_number !=""){</php>
                        <em>x<span class="_food3">{$foods_number[2]}</span></em>
                        <php>}else{</php>
                        <em>x0</em>
                        <php>}</php>
                    </li>
                    <li>
                        <div class="img"><img src="__PUBLIC__/Label/Image/qianji/Item/qj-19-5.png"></div>
                        <p>蛋黄<br>食材</p>
                        <php>if($foods_number !=""){</php>
                        <em>x<span class="_food4">{$foods_number[3]}</span></em>
                        <php>}else{</php>
                        <em>x0</em>
                        <php>}</php>
                    </li>
                    <li>
                        <div class="img"><img src="__PUBLIC__/Label/Image/qianji/Item/qj-19-6.png"></div>
                        <p>红豆<br>食材</p>
                        <php>if($foods_number !=""){</php>
                        <em>x<span class="_food5">{$foods_number[4]}</span></em>
                        <php>}else{</php>
                        <em>x0</em>
                        <php>}</php>
                    </li>
                    <li>
                        <div class="img"><img src="__PUBLIC__/Label/Image/qianji/Item/qj-19-7.png"></div>
                        <p>酱肉排<br>骨食材</p>
                        <php>if($foods_number !=""){</php>
                        <em>x<span class="_food6">{$foods_number[5]}</span></em>
                        <php>}else{</php>
                        <em>x0</em>
                        <php>}</php>
                    </li>
                    <li>
                        <div class="img"><img src="__PUBLIC__/Label/Image/qianji/Item/qj-19-8.png"></div>
                        <p>鲜肉<br>食材</p>
                        <php>if($foods_number !=""){</php>
                        <em>x<span class="_food7">{$foods_number[6]}</span></em>
                        <php>}else{</php>
                        <em>x0</em>
                        <php>}</php>
                    </li>
                    <li>
                        <div class="img"><img src="__PUBLIC__/Label/Image/qianji/Item/qj-19-9.png"></div>
                        <p>五谷杂<br>粮食材</p>
                        <php>if($foods_number !=""){</php>
                        <em>x<span class="_food8">{$foods_number[7]}</span></em>
                        <php>}else{</php>
                        <em>x0</em>
                        <php>}</php>
                    </li>
                </ul>
            </div>
            <div class="prizeList">
            	<dl>
                    <dt><img src="__PUBLIC__/Label/Image/qianji/Item/qj-20.png"></dt>
                    <dd>
                    	<div class="img"><img src="__PUBLIC__/Label/Image/qianji/Item/qj-21.png"></div>
                        <p>集齐8个食材，兑换仟寻礼盒粽子</p>
                        <php>if($has_flag==1){</php>
                        <a href="javascript:void(0)" class="erro">已经领取</a>
                        <php>}else{</php>
                        <a href="javascript:void(0)" class="<!--erro-->" id="btnget">马上兑换</a>
                        <php>}</php>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="proNav">
	<a href="{:U('Label/DuanWu/playGame',array('id'=>$id))}" class="btn-ok">继续寻粽礼</a>
    <a href="{:U('Label/DuanWu/mycardlist',array('id'=>$id))}" class="btn-ok">我的礼品券</a>
</div>
<div class="out-box dn">
	<img class="img" src="__PUBLIC__/Label/Image/qianji/tip-share.png">
    <!--<div class="text"><p class="tc">立即分享,<a>1</a>个好友可送你<a>5</a>个食材！</p></div>-->
</div>

 <script>
 //分享提示
$('body').on("click",".btnshow",function(){
	$(".out-box").show();

})
$('.prizeList dt').on("click",function(){
	$(".out-box").show();

})
$(".out-box").click(function(){
	$(this).hide();
})

//弹窗基础
function closeMsgPop(obj){
	$(".msgPop").remove();
	if(obj === true){
		location.href = location.href ;
	}
	
}
function MsgPop(msg){
	if(!msg.title){msg.title="消息";}
	var shuaxin =false;
	if(msg.isgourl){shuaxin = true;}
	if(!msg.icon){msg.icon=""}else{msg.icon="<i class='"+msg.icon+"'></i>"};
	var html = ['<div class="msgPop bg">',
					'<div class="msgBg">',
						'<div class="msgTitle">'+msg.title+'<a href="javascript:void(0)" class="close-msgPop" onClick="closeMsgPop('+shuaxin+')"><i><span>+</span></i></a></div>',
						'<div class="msgCon">'+msg.icon+msg.html+'</div>',
					'</div>',
				'</div>'].join('');
	$("body").append(html)
}
        
                  
</script>
<div style="display: none;">
<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd63513a907e602a2cc2cb6970d7765b8' type='text/javascript'%3E%3C/script%3E"));
		</script>
</div>
</body>
</html>
<script>
$(document).ready(function(e) {
    $("#btnget").click(function(){
        if("{$foods_number[0]}" == 0 || "{$foods_number[1]}" == 0 || "{$foods_number[2]}" == 0 || "{$foods_number[3]}" == 0 || "{$foods_number[4]}" == 0 || "{$foods_number[5]}" == 0 || "{$foods_number[6]}" == 0 || "{$foods_number[7]}" == 0){
            cj.content({
                msg:"<p>您还没有集齐<span>8</span>个食材，无<br>法兑换礼品。赶快去摇一摇收集吧！</p>"
            })
        }else{
            //进行兑换兑换
            $.ajax({
                url: "{:U('Label/DuanWu/conversionjp',array('id'=>$id))}",
                type: "POST",
                dataType: "json",
                success: function (data) {
  //           var test=JSON.stringify(data);
//            alert(test);
                    if(data.code==0){
                        foods_shao();
                        //获取成功card_ext，开始转微信领取
                        cj.content({
                            msg:"<p class='title'>恭喜您获得</p><p>"+data.msg+"</p>",
                            icon:data.data.icon,
                            btn:[{
                                text:"领取微信卡券",
                                url:"javascript:getWxCard2("+JSON.stringify(data.card.card_id)+","+JSON.stringify(data.card.card_ext)+")"
                            },{
                                text:"参与摇一摇",
                                url:"javascript:void(0)",
                                callback:function(){
                                    cj.close();
                                }
                            }]
                        })
                    }else{
                        cj.content({
                            msg:data.info
                        })
                    }
                }
            })
        }
	})
});
//领取卡券
function getWxCard2(card_id,card_ext){
    //领取微信卡券
    getWxCard(card_id,card_ext);
}
//领取成功后，将食材的值减1
function foods_shao(){
    for(var i=1;i<=8;i++){
        var test=$("._food"+i+"").text()-1;
        $("._food"+i+"").html(test);
    }
}
document.addEventListener('WeixinJSBridgeReady', function(){
    window['getWxCard'] = function(card_id,card_ext){
        //todo debug
        if(typeof(WeixinJSBridge) == 'undefined'){
            alert('wait...');
            return;
        }
        /*alert(data.card_id);
         alert(data.card_ext);*/
        WeixinJSBridge.invoke('batchAddCard', {
            "card_list": [{
                "card_id": card_id,
                "card_ext": card_ext
            }]
        },function(res){
            /*for(var i in res){
             alert(res[i]);
             }*/
        });
    }
}, false);
</script>
<!--公共-->
<script>
var cj = {
	basic:function(msg){
		cj.close();
		if(!msg.title){var notitle="notitle";msg.title="";}
		if(msg.isclose){var closehtml = '<a href="javascript:void(0)" class="close-msgPop"><i><span>+</span></i></a>'}else{var closehtml = "";}
		var html = ['<div class="msgPop bg" id="'+msg.id+'">',
			'<div class="msgBg">',
			'<div class="msgTitle '+notitle+'">'+msg.title+closehtml+'</div>',
			'<div class="msgCon">'+msg.html+'</div>',
			'</div>',
			'</div>'].join('');
		$("body").append(html);
		if(typeof(msg.start) == 'string'){
			window[msg.start].call(this,$(this));
		}else if(typeof(msg.start) == 'function'){
			msg.start.call(this,$(this));
		}
		$("body").find(".msgBg",html).on("click",".cjBtn-back",function(){
			var index = $(this).index();
			if(typeof(msg.btn[index].callback) == 'string'){
				window[msg.btn[index].callback].call(this,$(this));
			}else if(typeof(msg.btn[index].callback) == 'function'){
				msg.btn[index].callback.call(this,$(this));
			}else{
				msg.repeat ? (cj.close(),cj.login({repeat:msg.repeat})) : cj.close();
				if($(this).attr("href")!="javascript:void(0)"){
					window.location.href = $(this).attr("href");
				}
			}
		});
		$("body").find(".msgBg",html).on("click",".close-msgPop",function(){
			if(typeof(msg.after) == 'string'){
				window[msg.after].call(this,$(this));
			}else if(typeof(msg.after) == 'function'){
				msg.after.call(this,$(this));
			}
			msg.repeat ? (cj.remove(),cj.login({repeat:msg.repeat})) : cj.remove();
		});
		$("body").on("click","input",msg.html,function(){
			$(this).removeClass("erro");
		});
	},
	tip:function(msg){
		$(".cjTip").remove();
		var txt = ["每天都有3次机会,记得回来呦~","随机可摇出：粽子食材、现金券、179粽子礼盒兑换券","记得晒一晒战绩，让小伙伴也一起来战","有几率可直接获得179元粽子礼盒兑换券"];
		var codeRandom = Math.floor(Math.random()*txt.length);
		if(!msg){msg = txt[codeRandom]};
		if(msg==1){return false;}
		var html = '<div class="cjTip"><div class="cjTipTxt"><i></i><p>'+msg+'</p></div><div class="cjTipbg"></div></div>';
		$("body").append(html);
	},
	content:function(msg){
		msg = $.extend(true, {}, cj.msg,msg);
		msg.html = template("js-tmpl-msg",msg);
		cj.basic(msg);
	},
	remove:function(msg){
//        location.reload();
		$(".msgPop").remove();
		var _MsgPopglobal = {
			refurbish:false,
			repeat:true
		}
		msg = $.extend(true, {}, _MsgPopglobal,msg);
		if(msg.refurbish){
			location.href = location.href ;
		}
	},
	close:function(msg){
//        _global.g = true;
//        location.reload();
        var _MsgPopglobal = {
			refurbish:false,
			repeat:true
		}
		msg = $.extend(true, {}, _MsgPopglobal,msg);
		$(".msgPop").not("[id!='']").remove();
		if(msg.refurbish){
			location.href = location.href ;
		}
	},
	msg:{
		id:"",
		title:false,//标题
		html:false,//内容
		refurbish:false,//是否刷新
		msg:"未知错误",//内容
		icon:false,//图标
		repeat:false,//重新填出登陆框
		btn:[
			{
				text:"返回",//按钮文字
				url:"javascript:void(0)",//按钮链接
				callback:function(){
					cj.close();
				}
			}
		],
		isclose:true,
		start:false,//弹出之后callback
		after:false//关闭之后callback
	}
}
</script>


<script type="text/html" id="js-tmpl-msg">
<div class="cjText">
	{{if !html}}
	<div class="cjText-con">
		{{if !icon}}
			<div class="cjText-text noicon">{{#msg}}</div>
		{{else}}
			<div class="cjText-text">{{#msg}}</div>
			<div class="cjText-img">
				{{if icon==1}}
				<img src="__PUBLIC__/Label/Image/qianji/Item/qj-4.png" width="64">
				{{else}}
				<img src="__PUBLIC__/Label/Image/qianji/Item/qj-19-{{icon}}.png" width="100">
				{{/if}}
			</div>
		{{/if}}
	</div>
	{{else}}
	{{#html}}
	{{/if}}
</div>
<div class="cjBtn">
{{each btn as value i}}
	<a href="{{value.url}}" class="cjBtn-back {{if btn.length>1}}{{if i==0}}sm{{/if}}{{/if}}">{{value.text}}</a>
{{/each}}
</div>
</script>
<script>
    var wxShareData = <?php echo json_encode($shareData);?>;
</script>
<include file="Label/Public/_shareWx"/>