<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>粽礼仟寻</title>
<meta name="viewport" content="width=320, maximum-scale=1, user-scalable=no,minimal-ui">
<meta content="O2O,O2O营销,二维码,旺财,市场调研" name="Keywords">
<meta content="telephone=no" name="format-detection" />
<meta content="email=no" name="format-detection" />
<meta name="apple-touch-fullscreen" content="NO">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Label/Css/wap_qj.css?v=__VR__">
<script type="text/javascript" src="__PUBLIC__/Label/Js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Label/Js/idangerous.swiper.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-1.11.2.custom/template.js"></script>
<script>
$(document).ready(function(e) {
	var loadImg = 0;
	var imgNum = $(".loadimg").length-1;
	$(".loadimg").one('load', function () {
		loadImg++;
		if (loadImg == imgNum) {
			$("#loading").hide();
			$("#wrapper").addClass("begin");
		}
	}).each(function () {
		if (this.complete) $(this).load();
	});
});
</script>
</head>
<body>
<div id="loading">
    <div class="loadingbox">
        <h4>仟吉</h4>
        <div><i></i>
            <img src="__PUBLIC__/Label/Image/qianji/Item/qj-logo.png?v=__VR__" />
        </div>
        <h5>Loading...</h5>
        <h6>粽礼仟寻</h6>
    </div>
    <img src="__PUBLIC__/Label/Image/qianji/Item/qj-1.jpg?v=__VR__" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/qianji/Item/qj-2.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/qianji/Item/qj-3.png" class="loadimg" />
</div>
<div id="wrapper">
    <div id="container">
    	<div id="main">
        	<div id="header">
            	<img src="__PUBLIC__/Label/Image/qianji/Item/qj-1.jpg?v=__VR__" class="headerbg0" />
            	<img src="__PUBLIC__/Label/Image/qianji/Item/qj-2.png" class="headerbg1" />
            	<img src="__PUBLIC__/Label/Image/qianji/Item/qj-3.png" class="headerbg2" />
                <a href="{:U('Label/DuanWu/playGame',array('id'=>$id))}" class="btn-all">开始寻粽礼</a>
                <a href="javascript:void(0)" class="btn-ok">活动规则</a>
                <div class="drawPrize">
                	<div class="drawPrizeWrapper">
                    	<div class="fn">
                            <div class="drawPrizeCon">
                                <ul class="swiper-wrapper">
                                    <volist name="list" id="vo">
                                        <php>
                                            if($vo['jp_id']=='0'||$vo['jp_id']=='1'||$vo['jp_id']=='2'||$vo['jp_id']=='3'||$vo['jp_id']=='4'||$vo['jp_id']=='5'||$vo['jp_id']=='6'||$vo['jp_id']=='7' ){
                                               $batch_short_name=$food_arr[$vo['jp_id']];
                                            }else{
                                               $batch_short_name=$vo['batch_short_name'];
                                            }
                                        </php>
                                    <li class="swiper-slide"><p><img src="{$vo.headimgurl}">{$vo.nickname}&nbsp;&nbsp;&nbsp;&nbsp;获得&nbsp;&nbsp;&nbsp;&nbsp;{$batch_short_name}</p></li>
                                </volist>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page1 bobd">
                    <h2>【活动奖品】</h2>
                    <div class="prizeFlash">
                    	<ul>
                        	<li><img src="__PUBLIC__/Label/Image/qianji/Item/qj-4.png"><p>139元粽子<br>礼盒兑换券</p></li>
                        	<li><img src="__PUBLIC__/Label/Image/qianji/Item/qj-5.png?v=__VR__"><p>代金券</p></li>
                        	<li><img src="__PUBLIC__/Label/Image/qianji/Item/qj-6.png"><p>179元粽子<br>礼盒兑换券</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
var _global = {
		onsub:false,
		g:true
	}
$(document).ready(function(e) {
	drawPrizeCon = new Swiper('.drawPrizeCon',{
		loop:true,
		slideElement:"li",
		mode: "vertical",
		autoplay:2000,
		autoplayDisableOnInteraction:2000,
		slidesPerView:5
	});
	$(".btn-ok").click(function(){
		var html = template("js-tmpl-rule");
		cj.content({
			title:"活动规则",
			msg:html
		});
	})
});
</script>
<!--公共-->
<script>
var cj = {
	basic:function(msg){
		cj.close();
		if(!msg.title){var notitle="notitle";msg.title="";}else{var notitle="hastitle"}
		if(msg.isclose){var closehtml = '<a href="javascript:void(0)" class="close-msgPop"><i><span>+</span></i></a>'}else{var closehtml = "";}
		var html = ['<div class="msgPop bg" id="'+msg.id+'">',
			'<div class="msgBg">',
			'<div class="msgTitle '+notitle+'">'+msg.title+closehtml+'</div>',
			'<div class="msgCon">'+msg.html+'</div>',
			'</div>',
			'</div>'].join('');
		$("body").append(html);
		if(typeof(msg.start) == 'string'){
			window[msg.start].call(this,$(this));
		}else if(typeof(msg.start) == 'function'){
			msg.start.call(this,$(this));
		}
		$("body").find(".msgBg",html).on("click",".cjBtn-back",function(){
			var index = $(this).index();
			if(typeof(msg.btn[index].callback) == 'string'){
				window[msg.btn[index].callback].call(this,$(this));
			}else if(typeof(msg.btn[index].callback) == 'function'){
				msg.btn[index].callback.call(this,$(this));
			}else{
				msg.repeat ? (cj.close(),cj.login({repeat:msg.repeat})) : cj.close();
				if($(this).attr("href")!="javascript:void(0)"){
					window.location.href = $(this).attr("href");
				}
			}
		});
		$("body").find(".msgBg",html).on("click",".close-msgPop",function(){
			if(typeof(msg.after) == 'string'){
				window[msg.after].call(this,$(this));
			}else if(typeof(msg.after) == 'function'){
				msg.after.call(this,$(this));
			}
			msg.repeat ? (cj.remove(),cj.login({repeat:msg.repeat})) : cj.remove();
		});
		$("body").on("click","input",msg.html,function(){
			$(this).removeClass("erro");
		});
	},
	tip:function(msg){
		$(".cjTip").remove();
		var txt = ["每天都有3次机会,记得回来呦~","随机可摇出：粽子食材、现金券、179粽子礼盒兑换券","记得晒一晒战绩，让小伙伴也一起来战","有几率可直接获得179元粽子礼盒兑换券"];
		var codeRandom = Math.floor(Math.random()*txt.length);
		if(!msg){msg = txt[codeRandom]};
		if(msg==1){return false;}
		var html = '<div class="cjTip"><div class="cjTipTxt"><i></i><p>'+msg+'</p></div><div class="cjTipbg"></div></div>';
		$("body").append(html);
	},
	content:function(msg){
		msg = $.extend(true, {}, cj.msg,msg);
		msg.html = template("js-tmpl-msg",msg);
		cj.basic(msg);
	},
	remove:function(msg){
		_global.g = true;
		$(".gameCon").removeClass("end");
		$(".msgPop").remove();
		var _MsgPopglobal = {
			refurbish:false,
			repeat:true
		}
		msg = $.extend(true, {}, _MsgPopglobal,msg);
		if(msg.refurbish){
			location.href = location.href ;
		}
	},
	close:function(msg){
		_global.g = true;
		$(".gameCon").removeClass("end");
		var _MsgPopglobal = {
			refurbish:false,
			repeat:true
		}
		msg = $.extend(true, {}, _MsgPopglobal,msg);
		$(".msgPop").not("[id!='']").remove();
		if(msg.refurbish){
			location.href = location.href ;
		}
	},
	msg:{
		id:"",
		title:false,//标题
		html:false,//内容
		refurbish:false,//是否刷新
		msg:"未知错误",//内容
		icon:false,//图标
		repeat:false,//重新填出登陆框
		btn:[
			{
				text:"返回",//按钮文字
				url:"javascript:void(0)",//按钮链接
				callback:function(){
					cj.close();
				}
			}
		],
		isclose:true,
		start:false,//弹出之后callback
		after:false//关闭之后callback
	}
}
</script>


<script type="text/html" id="js-tmpl-rule">
<div class="gameRule">
	<div class="divRule">

		<!--<p><b>一、活动时间：</b>2015年6月1日- 2015年6月20日</p>-->
		<!--<p><b>二、参与用户：</b>已注册微信账号的用户</p>-->
		<!--<p><b>三、参与方式</b></p>-->
		<!--<p>1、用户进入“粽礼仟寻”活动页面，按照“开始寻粽礼”文字提示，摇动手机即可参与活动，并有机会获得面额8元、10元、15元、20元代金券/139元粽子礼盒券（集齐8种粽子食材即可兑换）/179元粽子礼盒券;</p>-->
		<!--<p>2、活动期间，每个用户每天有3次参与摇一摇机会。同一个微信账号最多获得10张代金券、1张粽子礼盒兑换劵，若达到上限，则不能再次获得代金券或粽子礼盒兑换券。</p>-->
		<!--<p><b>四、活动奖品</b></p>-->
		<!--<p>1、奖品内容：8元、10元、15元、20元代金券/139元粽子礼盒券（集齐8种粽子食材即可兑换）/179元粽子礼盒券，先到先得，发完即止;</p>-->
		<!--<p>2、奖品券使用有效期：2015年6月1日- 2015年6月20日</p>-->
		<!--<p>3、代金券使用有效期截止以实际到账券详情为准; 预期未用视为作废。</p>-->
		<!--<p>4、奖品说明</p>-->
		<!--<p>-->
			<!--<table cellpadding="0" cellspacing="0">-->
				<!--<tr>-->
					<!--<td width="70">奖品名称</td>-->
					<!--<td class="tl">奖品兑换/使用说明</td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td>8元代金券</td>-->
					<!--<td class="tl"><b>在仟吉门店购物满68元减8元</b><br>(限购买粽子/绿豆糕)<br>(不与其它优惠活动同享，具体以劵面温馨提示为准)</td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td>10元代金券</td>-->
					<!--<td class="tl"><b>在仟吉门店购物满139元减10元</b><br>(限购买粽子礼盒)<br>(不与其它优惠活动同享，具体以劵面温馨提示为准)</td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td>15元代金券</td>-->
					<!--<td class="tl"><b>在仟吉门店购物满139元减15元</b><br>(限购买粽子礼盒)<br>(不与其它优惠活动同享，具体以劵面温馨提示为准)</td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td>20元代金券</td>-->
					<!--<td class="tl"><b>在仟吉门店购物满179元减20元</b><br>(限购买粽子礼盒)<br>(不与其它优惠活动同享，具体以劵面温馨提示为准)</td>-->
				<!--</tr>-->
			<!--</table>-->
		<!--</p>-->
		<!--<p><b>五、其它说明</b></p>-->
		<!--<p>1、本次活动的所有代金券均遵守仟吉优惠使用券的相关规则。</p>-->
		<!--<p>2、活动过程中，反不正当手段（扰乱系统、作弊等）参与本活动的用户，仟吉有权终止其参与活动，并取消获奖资格（如奖品已发，仟吉有权追回）。</p>-->
		<!--<p>3、活动中有任何疑问，可关注微信号“仟吉武汉”进行咨询反馈。</p>-->
	<!--</p>-->
	</div>
</div>
</script>
<script type="text/html" id="js-tmpl-msg">
<div class="cjText">
	{{if !html}}
	<div class="cjText-con">
		{{if !icon}}
			<div class="cjText-text noicon">{{#msg}}</div>
		{{else}}
			<div class="cjText-text">{{#msg}}</div>
			<div class="cjText-img">
				{{if icon==1}}
				<img src="__PUBLIC__/Label/Image/Item/qj-6.png" width="64">
				{{else}}
				<img src="__PUBLIC__/Label/Image/Item/qj-19-{{icon}}.png" width="100">
				{{/if}}
			</div>
		{{/if}}
	</div>
	{{else}}
	{{#html}}
	{{/if}}
</div>
<div class="cjBtn">
{{each btn as value i}}
	<a href="{{value.url}}" class="cjBtn-back {{if btn.length>1}}{{if i==0}}sm{{/if}}{{/if}}">{{value.text}}</a>
{{/each}}
</div>
</script>
<script>
    var wxShareData = <?php echo json_encode($shareData);?>;
    wxShareData.ShareTimelineSuccess = function(res){
        alert('分享成功');
    }
    wxShareData.ShareTimelineCancel = function(res){
        alert('取消分享');
    }
    wxShareData.ShareAppMessageSuccess = function(res){
        alert('分享成功');
    }
    wxShareData.ShareAppMessageCancel = function(res){
        alert('取消分享');
    }
</script>
<include file="Label/Public/_shareWx"/>