<!--artTemplate-->
<!--新品推荐-->
<script id="dataHotposter" type="text/html">
{{if initialise}}
<div class="shopMod disabled" id="shopMod_{{id}}" data-edit="{{id}}" data-special="13">
	<div class="Mod-14 {{if vague==1}}vague{{/if}}">
		{{if music!=""}}
		<div class="music on" onClick="audio()"><span></span><i></i><em></em></div>
		<audio src="{{music}}" autoplay="true" loop id="audio" style="display:none; width:0; height:0; overflow:hidden;"></audio>
		{{/if}}
		<div class="ModCon top">
			<div class="Modwapper swiper-wrapper">
			
			</div>
			<dl>
				<dd class="hover"></dd>
				<dd></dd>
				<dd></dd>
			</dl>
		</div>
	</div>
</div>
{{/if}}
</script>
<!--page1-->
<script id="dataHotposterpage1" type="text/html">
<div class="Modlist draw-{{imgtype}} swiper-slide">
	<img src="{{img | get_upload_url}}"/>
</div>
</script>
<!--page2-->
<script id="dataHotposterpage2" type="text/html">
<div class="Modlist draw-{{imgtype}} swiper-slide">
	<div class="ModlistCon2 length1" style="background-image:url({{img | get_upload_url}})">
		{{each imglist as value i}}
		<div class="img{{i+1}}">
		<img src="{{value.img | get_upload_url}}" class="fadeInDown animated animated-on">
		<p class="fadeInRight animated animated-on Gshow-decode">{{value.title}}</p>
		</div>
		{{/each}}
	</div>
</div>
</script>
<!--page3-->
<script id="dataHotposterpage3" type="text/html">
<div class="Modlist draw-{{imgtype}} swiper-slide">
	<div class="ModlistCon2 length2" style="background-image:url({{img | get_upload_url}})">
		{{each imglist as value i}}
		<div class="img{{i+1}}">
		<img src="{{value.img | get_upload_url}}" class="fadeInLeft animated animated-on">
		<p class="fadeInRight animated animated-on Gshow-decode">{{value.title}}</p>
		</div>
		{{/each}}
	</div>
</div>
</script>
<!--page4-->
<script id="dataHotposterpage4" type="text/html">
<div class="Modlist draw-{{imgtype}} swiper-slide">
	<div class="ModlistCon2 length3" style="background-image:url({{img | get_upload_url}})">
		{{each imglist as value i}}
		<div class="img{{i+1}}">
		<img src="{{value.img | get_upload_url}}" class="animated animated-on {{if i==0}}fadeInDown{{else}}fadeInLeft{{/if}}">
		<p class="animated animated-on fadeInRight Gshow-decode">{{value.title}}</p>
		</div>
		{{/each}}
	</div>
</div>
</script>
<!--page5-->
<script id="dataHotposterpage5" type="text/html">
<div class="Modlist draw-{{imgtype}} swiper-slide">
	<div class="ModlistCon3" style="background-image:url({{img | get_upload_url}})">
    	<div class="shadow">
        	<div class="img">
				{{each imglist as value i}}
				<div class="img{{i+1}}">
				<img src="{{value.img | get_upload_url}}" class="animated animated-on fadeInDown">
				<p class="animated animated-on fadeInRight Gshow-decode">{{value.title}}</p>
				</div>
				{{/each}}
            </div>
        </div>
	</div>
</div>
</script>
<!--page6-->
<script id="dataHotposterpage6" type="text/html">
<div class="Modlist draw-{{imgtype}} swiper-slide">
	<div class="ModlistCon4" style="background-image:url({{img | get_upload_url}})">
    	<p>
			<span class="animated animated-on fadeInRight Gshow-decode">{{title1}}</span>
			<em class="animated animated-on fadeInRight Gshow-decode">{{title2}}</em>
			<a class="animated animated-on fadeInRight Gshow-decode">{{title3}}</a>
		</p>
	</div>
</div>
</script>
<!--page7-->
<script id="dataHotposterpage7" type="text/html">
<div class="Modlist draw-{{imgtype}} swiper-slide">
	<div class="ModlistCon5" style="background-image:url({{img | get_upload_url}})">
    	<div class="title">
            <p class="p1 animated animated-on fadeInLeft Gshow-decode">{{title1}}</p>
            <p class="p2 animated animated-on fadeInRight Gshow-decode">{{title2}}</p>
        </div>
	</div>
</div>
</script>
<!--page8-->
<script id="dataHotposterpage8" type="text/html">
<div class="Modlist draw-{{imgtype}} swiper-slide">
	<div class="ModlistCon6" style="background-image:url({{img | get_upload_url}})">
    	<div class="title">
            <p class="p1 animated animated-on bounceInDown Gshow-decode">{{title1}}</p>
            <p class="p2 animated animated-on bounceInDown Gshow-decode">{{title2}}</p>
            <p class="p3 animated animated-on bounceInDown Gshow-decode">{{title3}}</p>
        </div>
	</div>
</div>
</script>
<!--page9-->
<script id="dataHotposterpage9" type="text/html">
<div class="Modlist draw-{{imgtype}} swiper-slide">
	<div class="ModlistCon7">
    	<div class="img"><img src="{{img | get_upload_url}}" class="Gshow-page9img" /></div>
    	<div class="title">
            <p class="p1 animated animated-on rollIn Gshow-decode">{{title1}}</p>
            <p class="p2 animated animated-on rollIn Gshow-decode">{{title2}}</p>
        </div>
	</div>
</div>
</script>
<!--page10-->
<script id="dataHotposterpage10" type="text/html">
<div class="Modlist draw-{{imgtype}} swiper-slide">
	<div class="ModlistCon8" style="background-image:url({{img | get_upload_url}})">
    	<div class="img animated animated-on zoomIn"><img src="{{img1 | get_upload_url}}" class="Gshow-page10img" /></div>
    	<div class="title">
            <p class="p1 animated animated-on rollIn Gshow-decode">{{title1}}</p>
            <p class="p2 animated animated-on rollIn Gshow-decode">{{title2}}</p>
        </div>
	</div>
</div>
</script>
<!--page11-->
<script id="dataHotposterpage11" type="text/html">
<div class="Modlist draw-{{imgtype}} swiper-slide">
	<div class="ModlistCon9" style=" background-image:url({{img | get_upload_url}})">
    	<div class="img animated animated-on rotateIn"><img src="{{img1 | get_upload_url}}" class="Gshow-page11img" /></div>
    	<div class="title">
            <p class="p1 animated animated-on rollIn Gshow-decode">{{title1}}</p>
            <p class="p2 animated animated-on rollIn Gshow-decode">{{title2}}</p>
        </div>
	</div>
</div>
</script>
<!--page12-->
<script id="dataHotposterpage12" type="text/html">
<div class="Modlist draw-{{imgtype}} swiper-slide">
	<div class="ModlistCon10" style=" background-image:url({{img | get_upload_url}})">
    	<div class="img animated animated-on bounceInDown"><img src="{{img1 | get_upload_url}}" /></div>
    	<div class="title animated animated-on flipInY">
            <p class="p1 Gshow-decode">{{title1}}</p>
            <p class="p2 Gshow-decode">{{title2}}</p>
        </div>
	</div>
</div>
</script>
<!--page13-->
<script id="dataHotposterpage13" type="text/html">
<div class="Modlist draw-{{imgtype}} swiper-slide">
	<div class="ModlistCon11" style=" background-image:url({{img | get_upload_url}})">
    	<div class="title animated animated-on flipInY">
			{{each imglist as value i}}
            <p class="p1 Gshow-decode">{{value.title}}</p>
            <p class="p2 Gshow-decode">{{value.text}}</p>
			{{/each}}
        </div>
	</div>
</div>
</script>
<!--page14-->
<script id="dataHotposterpage14" type="text/html">
<div class="Modlist draw-{{imgtype}} swiper-slide">
	<div class="ModlistCon12" style="background-image:url({{img | get_upload_url}})">
		{{each imglist as value i}}
		<div class="img{{i+1}} animated animated-on rotateIn" style="background-image:url({{value.img | get_upload_url}})"></div>
		{{/each}}
	</div>
</div>
</script>
<!--新品推荐-->