<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><?php echo $batch_info['name']?></title>
<meta name="viewport" content="width=320, maximum-scale=1, user-scalable=no">
<meta content="O2O,O2O营销,二维码,旺财,市场调研" name="Keywords">
<meta content="telephone=no" name="format-detection" />
<meta content="email=no" name="format-detection" />
<meta name="apple-touch-fullscreen" content="NO">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Label/Css/wap_Shop2.css">
<script type="text/javascript" src="__PUBLIC__/Js/jquery-2.1.1.min.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-1.11.2.custom/template.js?v=__VR__"></script>
</head>
<body style="opacity:0;">
<div id="wrapper">
    <div id="container">
        <div id="main">
        	<div class="shopBoxView" style="padding-bottom:47px;"></div>
        </div>
    </div>
</div>
<section style="display: none;" class="fullHtml loadingBox" id="loadingBox"><i></i><span></span></section>
<include file="nav"/>
<img src="{$share_pic}" class="js-wx-sharepic dn">
</body>
</html>


<script>
    function gxsy(){
    location.href = "{:U('CnpcGX/WapStore/index')}"+"&id="+{$id};
}
$(document).ready(function(e) {
	var data = {$pageInfo['page_content']};
	 begin(data);
	$("body").on("click",".btn-search",function(){
		$(this).closest("#searchform").submit();
	});
	var loadImg = 0,loadTime = 0,imgNum = $("img").length ;
	$("img").one('load', function() {
			var num = parseInt(loadImg/imgNum*100)-3;
			if(num<=0){num=0};
			if(num>=97){num=97};
			loadImg++;
			if(loadImg>=imgNum){
				init();
			}
		}).each(function() {
		if(this.complete) $(this).load();
	});
	setTimeout("init()",3000);
	$("body").animate({opacity:1},500);
	if($(".shopModBox-12").length>0){
		var navSwiper = new Swiper('.shopModOrd-1',{
			slidesPerView:4,
			autoResize:false
		})
		$('.prevDiv').on('click', function(e){
			e.preventDefault();
			navSwiper.swipePrev();
		})
		$('.nextDiv').on('click', function(e){
			e.preventDefault();
			navSwiper.swipeNext();
		})
	}
	if($(".shopModFlash").length>0){
		for(var i=0;i<$(".shopModFlash").length;i++){
			var _this = $(".shopModFlash:eq("+i+")");
			if(_this.find(".swiper-slide").length==1){
				_this.find("ul").width("100%");
				_this.find(".swiper-slide").width("100%");
				$(shopModFlashdl).find("span").hide();
			}else{
				var shopModFlash = "shopModFlash"+_this.attr("data-rel");
				var shopModFlashdl = ".shopModFlashdl"+_this.attr("data-rel")
				var	flashSwiper = new Swiper('.'+shopModFlash,{
					pagination: shopModFlashdl,
					slidesPerView:1,
					loop:true,
					calculateHeight:true,
					autoResize:false,
					autoplay:5000,
					autoplayDisableOnInteraction : false
				});
			}
		}
	}
    $("body").on("click",".getMore",function(){
    	$(this).closest(".shopMod").find("li.dn:lt(5)").fadeIn().removeClass("dn");
    	if($(this).closest(".shopMod").find("li.dn").length==0){
    		$(this).remove();
    	}
    })
	
});
function begin(data){
	for(var i=0;i<data.module.length;i++){
		var dataPro = data.module[i];
			data.module[i].id = i+1 ;
		var addHtml = "data"+dataPro.name;
		var Modhtml = template(addHtml, dataPro);
		$(".shopBoxView").append(Modhtml);
	}
}
function init(){
	var windowheight=$("body").height();
	var windowwidth=$("#wrapper").width();
	var scale=windowwidth/640;
	var bigconWidth = windowwidth-30;
	$(".shopModBox-12").height(windowheight);
	$(".shopModBox-4 .shopModSmall li").width(bigconWidth/2);
	$(".shopModBox-5").each(function() {
		var length = $(this).find("li:not('.dn')").length;
		var width = windowwidth-10*length-10;
		var maxheight =0;
        $(this).find("li").width(width/length);
		$(this).find("li").each(function(index, element) {
			maxheight = Math.max(maxheight,$(this).find(".img").height())
        });
		$(this).find("li").find(".img").height(maxheight);
		$(this).find("li").each(function(index, element) {
			var img = $(this).find("img");
			var imgheight = maxheight/2 - img.height()/2;
			$(this).find("img").css("margin-top",imgheight);
        });
    });
	$("a[href=''],a[href='http://']").attr("href","javascript:void(0)");
	$("#nav").each(function(index, element) {
		if(!$(this).hasClass("fix")){
			$("#wrapper").css("padding-bottom","0");
		}
    });
	$(".ProNav").each(function(index, element) {
		$("#wrapper").css("padding-top",44);
    });
}

</script>
<script type="text/javascript" src="__PUBLIC__/Label/Js/idangerous.swiper.min.js"></script>

<script>
    var wxShareData = {:json_encode($shareData)};
	wxShareData = $.extend(wxShareData,{
		title:"{$pageInfo.page_description}",
		desc:"{$pageInfo.page_description}",
		imgUrl:$('.js-wx-sharepic').get(0).src
	});
</script>
<include file="Label/Public/_shareWx"/>
<!--artTemplate-->
<!--商品-->
<script id="dataPro" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit="{{id}}" data-special="1">
		<div class="shopModBox-1">
			<ul class="shopModOrd-1">
				{{each list}}
				{{if value.size == "big"}} <div class="cl"></div> {{/if}}
				<li class="{{value.size}}">
					<a href="{{value.url}}">
						<div class="img">
							<img src="{{value.img}}" />
						</div>
						<div class="info">
							<h3 class="{{if checkproName=="false"}}dn{{/if}}">{{value.title}}</h3>
							<h4 class="{{if checkproPrice=="false"}}dn{{/if}}">￥{{value.price}}</h4>
							<h6 class="{{if checkproBtn=="false"}}dn{{/if}}"><i class="icon-shopModOrd-1"></i></h6>
						</div>
					</a>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--商品分组-->
<script id="dataProList" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="2">
		<div class="shopModBox-2">
			<ul class="shopModOrd-1">
				{{each list as value i }}
					{{if i<checkProListNum }}
					{{if value.size == "big"}} <div class="cl"></div> {{/if}}
					<li class="{{value.size}}">
						<a href="{{value.url}}">
							<div class="img">
								<img src="{{value.img}}" />
							</div>
							<div class="info">
								<h3 class="{{if checkproName=="false"}}dn{{/if}}">{{value.title}}</h3>
								<h4 class="{{if checkproPrice=="false"}}dn{{/if}}">￥{{value.price}}</h4>
								<h6 class="{{if checkproBtn=="false"}}dn{{/if}}"><i class="icon-shopModOrd-1"></i></h6>
							</div>
						</a>
					</li>
					{{ else }}
					{{if value.size == "big"}} <div class="cl"></div> {{/if}}
					<li class="{{value.size}}" style="display:none">
						<a href="javascript:void(0)">
							<div class="img">
								<img src="{{value.img}}" />
							</div>
							<div class="info">
								<h3 class="{{if checkproName=="false"}}dn{{/if}}">{{value.title}}</h3>
								<h4 class="{{if checkproPrice=="false"}}dn{{/if}}">￥{{value.price}}</h4>
								<h6 class="{{if checkproBtn=="false"}}dn{{/if}}"><i class="icon-shopModOrd-1"></i></h6>
							</div>
						</a>
					</li>
					{{/if}}
				{{/each}}
				{{if list.length>checkProListNum }}<div class="cl"></div><div class="getMore"><a href="javascript:void(0)">加载更多</a></div></li>{{/if}}
			</ul>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--多乐互动-->
<script id="dataAct" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="3">
		<div class="shopModBox-3">
			<ul>
				<li>
					<a href="{{url}}">
						<img src="{{img}}" />
						<h2 class="{{if checkActTitle=="false"}}dn{{/if}}{{if checkActTime=="false"}} no{{/if}}">{{title}}</h2>
						<h3 class="{{if checkActTime=="false"}}dn{{/if}}">{{time}}</h3>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--图片广告-->
<script id="dataPic" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="4">
		<div class="shopModBox-4">
			<div class="shopModFlashDiv {{if checkPicType==1}}shopModFlash{{ else if checkPicType==3}}shopModSmall{{/if}} shopModFlash{{id}}" data-rel="{{id}}">
				<ul class="{{if checkPicType==1}}swiper-wrapper{{/if}}">
				{{each list}}
					<li class="{{if checkPicType==1}}swiper-slide{{/if}}"><a href="{{value.url}}"><img src="{{value.img}}" /><h2>{{value.title}}</h2></a></li>
				{{/each}}
				</ul>
				<dl class="shopModFlashdl{{id}}"></dl>
			</div>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--图片导航-->
<script id="dataNavPic" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="5">
		<div class="shopModBox-5">
			<ul class="shopMod-{{checkNavPicNum}}">
				{{each list as value i }}
					{{if i<checkNavPicNum }}
					<li><a href="{{value.url}}"><img src="{{value.img}}" /><h2>{{value.title}}</h2></a></li>
					{{else}}
					<li class="dn"><a href="{{value.url}}"><img src="{{value.img}}" /><h2>{{value.title}}</h2></a></li>
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--文字导航-->
<script id="dataNavTxt" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="6">
		<div class="shopModBox-6">
			<ul>
				{{each list}}
					<li><a href="{{value.url}}"><h2>{{value.title}}</h2><i></i></a></li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--标题-->
<script id="dataTitle" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="7">
		<div class="shopModBox-7">
			<ul>
				<li class="{{if checkTextLine==1}}  {{ else if checkTextLine==2}} ln1 {{ else if checkTextLine==3}} ln2 {{ else if checkTextLine==4}} ln3 {{ else }} {{/if}}">
				<a href="{{url}}" class="{{if checkTextalign==1}} tl {{ else if checkTextalign==2}} tc {{ else if checkTextalign==3}} tr {{ else }} tl {{/if}}"><h2>{{title}}</h2><h3>{{description}}</h3></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--富文本-->
<script id="dataUeditor" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="8">
		<div class="shopModBox-8">
			<div class="shopModText wap_info{{id}}">
				{{Ueditor}}
			</div>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--搜索框-->
<script id="dataSearch" type="text/html">
	{{if initialise }}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="9">
		<div class="shopModBox-9">
			<div class="search">
				<div class="searchForm">
					<form action="" name="searchform" method="get">
                    	<input type="hidden" name="g" value="Label" />
                        <input type="hidden" name="m" value="Store" />
                        <input type="hidden" name="a" value="index" />
						<input type="hidden" name="id" value="<?php echo session('id');?>" />
						<input type="input" name="keyword"  id="keyword" class="search-input" placeholder="搜索您喜欢的商品" value="{$keyword}" />
                        <a href="javascript:void(0)" class="btn-search"></a>					
                    </form>
				</div>
			</div>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--辅助线-->
<script id="dataLine" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="10">
		<div class="shopModBox-10">
			<ul class="{{if checkLine==1}} shopModBorder-1 {{ else if checkLine==2}} shopModBorder-2 {{ else if checkLine==3}} shopModBorder-3 {{ else }} shopModBorder-1 {{/if}}">
				<hr />
			</ul>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--空白-->
<script id="dataMargin" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="11">
		<div class="shopModBox-11">
			<ul class="{{if checkMargin==1}} shopModNone-1 {{ else if checkMargin==2}} shopModNone-2 {{ else if checkMargin==3}} shopModNone-3 {{ else if checkMargin==4}} shopModNone-4 {{ else }} shopModNone-1 {{/if}}">
			</ul>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>
<!--修改-->

<!--电商导航-->
<script id="dataShopNav" type="text/html">
	{{if initialise}}
	<div class="shopMod" id="shopMod_{{id}}" data-edit='{{id}}' data-special="16">
		<div class="shopModBox-16">
			<div id="nav" class="{{if checkShopNav=="true"}}fix{{/if}}">
				<ul>
					<li><a href="javascript:void(0)" onClick="link_to('<?php echo U('Label/Store/index','id='.session('id'));?>')"><i class="icon-navHome"></i><p>首页</p></a></li>
					<li class="bd"><a href="javascript:void(0)" onClick="link_to('<?php echo U('Label/Store/cart','id='.session('id'));?>')"><i class="icon-navTrolley"><?php if($cartCount>0){?><span><?php echo $cartCount;?></span><?php }?></i><p>购物车</p></a>
					</li>
					<li class="bd">
						<a href="javascript:void(0)" onClick="login_to('{:U('Label/Member/index',array('node_id'=>$node_id))}')"><i class="icon-navOeder"></i><p>个人中心</p></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="cl"></div>
	{{/if}}
</script>

<!--模板1-->
<script id="dataModule1" type="text/html">
{{if initialise}}
<div class="shopMod disabled" id="shopMod_{{id}}" data-edit="{{id}}">
	<div class="shopModBox-12">
		<div class="bg" style="background-image:url({{bgimg}});"></div>
		<div class="nav" {{if checkModuleNav==0}} style=" top:85%; margin-top:-80px;" {{ else if checkModuleNav==1}}  style="bottom: 0px;" {{ else if checkModuleNav==2}}  style="top: 0px; margin-top: 0px;" {{ else if checkModuleNav==3}}  style="top: 50%; margin-top: -40px;" {{ else }} style=" top:85%; margin-top:-80px;" {{/if}} >
			<ul class="shopModOrd-1">
				<div class="swiper-wrapper">
				{{each list}}
					<li class="swiper-slide"><a href="{{value.url}}"><img src="{{value.img}}" /><h2>{{value.title}}</h2></a></li>
				{{/each}}
				</div>
			</ul>
			<div class="prevDiv"><i class="prev"></i></div>
			<div class="nextDiv"><i class="next on"></i></div>
		</div>
	</div>
</div>
	<div class="cl"></div>
{{/if}}
</script>


<!--商品菜单1-->
<script id="dataProNav" type="text/html">
{{if initialise}}
<div class="shopMod disabled" id="shopMod_{{id}}" data-edit="{{id}}">
	<div class="shopModBox-17">
		<div class="ProNav Modbgdiv {{if bgcolor}}{{bgcolor}}{{else}}ModbgColor12{{/if}}">
			<div class="ProNavmenu"><i class="icon-menu"><em></em></i></div>
			<div class="ProNavlogo"><img src="{{if bgimg}}{{bgimg}}{{/if}}" class="{{if !bgimg}}dn{{/if}}"></div>
		</div>
	</div>
</div>
{{/if}}
</script>
