<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$marketInfo['name']}</title>
<meta name="viewport" content="width=320, maximum-scale=1, user-scalable=no,minimal-ui">
<meta content="O2O,O2O营销,二维码,旺财,市场调研" name="Keywords">
<meta content="telephone=no" name="format-detection" />
<meta content="email=no" name="format-detection" />
<meta name="apple-touch-fullscreen" content="NO">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Label/Css/activity/wap_20151224.css?v=__VR__">
<script type="text/javascript" src="__PUBLIC__/Label/Js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-1.11.2.custom/template.js?v=__VR__"></script>
<script>
$(document).ready(function(e) {
	var loadImg = 0;
	var imgNum = $(".loadimg").length-1;
	$(".loadimg").one('load', function () {
		loadImg++;
		if (loadImg == imgNum) {
			$("#loading").hide();
			$("#wrapper").addClass("begin");
		}
	}).each(function () {
		if (this.complete) $(this).load();
	});

});

</script>
</head>
<body>
<div id="loading">
    <div class="loadingbox">
        <h4>{$marketInfo['node_name']}</h4>
        <div><i></i>
            <img src="{:get_upload_url($marketInfo['log_img'])}" />
        </div>
        <h5>Loading...</h5>
        <h6>{$marketInfo['name']}</h6>
    </div>
    <img src="__PUBLIC__/Label/Image/20151224/title.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/20151224/title1.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/20151224/title6.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/20151224/title2.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/20151224/title3.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/20151224/title4.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/20151224/title5.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/20151224/cloud.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/20151224/talk.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/20151224/microphone.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/20151224/microphone-1.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/20151224/btn1.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/20151224/link.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/20151224/bg.jpg" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/20151224/ruletitle.png" class="loadimg" />
</div>
<div id="wrapper" class="ind" style="<notempty name="marketInfo['bg_pic']">background:url({:get_upload_url($marketInfo['bg_pic'])}) repeat center top;</notempty> background-size:100% auto;">
    <div id="container">
    	<div id="main">
        	<div id="header">
            	<div class="logo">
            		<notempty name="marketInfo['log_img']">
            		<div class="logoimg"><img src="{:get_upload_url($marketInfo['log_img'])}"></div>
            		</notempty>
            		<notempty name="marketInfo['node_name']">
            		<p>{$marketInfo['node_name']}</p>
            		</notempty>
            	</div>
                <div class="title">
                	<empty name="marketInfo['bg_pic']">
                	<img src="__PUBLIC__/Label/Image/20151224/title.png" class="title1">
                	<img src="__PUBLIC__/Label/Image/20151224/title1.png" class="title2">
                	<img src="__PUBLIC__/Label/Image/20151224/title6.png" class="title6">
                    <div class="title3">
                    	<div class="fire1"><img src="__PUBLIC__/Label/Image/20151224/title2.png" class="firecrackers1"></div>
                    	<div class="fire2"><img src="__PUBLIC__/Label/Image/20151224/title3.png" class="firecrackers2"></div>
                    	<div class="fire3"><img src="__PUBLIC__/Label/Image/20151224/title4.png" class="firecrackers3"></div>
                    	<div class="fire4"><img src="__PUBLIC__/Label/Image/20151224/title5.png" class="firecrackers4"></div>
                    </div>
                    </empty>
                </div>
            </div>
            <div class="mic">
            	<img src="__PUBLIC__/Label/Image/20151224/cloud.png" class="cloud">
                <div class="bgradius"></div>
                <div class="microphoneCon">
            		<div class="talkdiv"></div>
            		<img src="__PUBLIC__/Label/Image/20151224/microphone.png" class="microphone">
                    <div class="microphoneBg"></div>
                </div>
            </div>
            <div class="btnCon">
            	<a href="{:U('operate', array('id' => $id))}" class="btn-all">{$cj_button_text}</a>
            	<a href="javascript:void(0)" class="btn-introduce"><img src="__PUBLIC__/Label/Image/20151224/link.png" class="rule"></a>
            </div>
             <include file="Public:footer"/>
        </div>
    </div>
</div>
<div class="out-box" onClick="$(this).hide();">
	<img src="__PUBLIC__/Label/Image/tip-share.png?v=__VR__" class="img">
</div>
</body>
</html>

<script>
var _global = {
		onsub:false,
		g:true
	}
var dataForRule = {
		startTime:"<php>echo date('Y-m-d', strtotime($marketInfo['start_time']))</php>",
		endTime:"<php>echo date('Y-m-d', strtotime($marketInfo['end_time']))</php>",
		wapInfo:"{$wap_info}", 
		prize:<php>echo $prize</php>,
		cate:<php>echo $cate</php>
};
$(document).ready(function(e) {
	$(".btn-introduce").click(function(){
		var html = template("js-tmpl-rule", dataForRule);
		cj.content({
			title:"活动规则",
			msg:html
		});
	});
});
var cj = {
	basic:function(msg){
		cj.close();
		if(!msg.title){var notitle="notitle";msg.title="";}else{var notitle="hastitle"}
		if(msg.isclose){var closehtml = '<a href="javascript:void(0)" class="close-msgPop"><i><span>+</span></i></a>'}else{var closehtml = "";}
		var html = ['<div class="msgPop bg" id="'+msg.id+'">',
			'<div class="msgBg">',
			'<div class="msgTitle ruletitle '+notitle+'">'+msg.title+closehtml+'</div>',
			'<div class="msgCon">'+msg.html+'</div>',
			'</div>',
			'</div>'].join('');
		$("body").append(html);
		if(typeof(msg.start) == 'string'){
			window[msg.start].call(this,$(this));
		}else if(typeof(msg.start) == 'function'){
			msg.start.call(this,$(this));
		}
		$("body").find(".msgBg",html).on("click",".cjBtn-back",function(){
			var index = $(this).index();
			if(typeof(msg.btn[index].callback) == 'string'){
				window[msg.btn[index].callback].call(this,$(this));
			}else if(typeof(msg.btn[index].callback) == 'function'){
				msg.btn[index].callback.call(this,$(this));
			}else{
				msg.repeat ? (cj.close(),cj.login({repeat:msg.repeat})) : cj.close();
				if($(this).attr("href")!="javascript:void(0)"){
					window.location.href = $(this).attr("href");
				}
			}
		});
		$("body").find(".msgBg",html).on("click",".close-msgPop",function(){
			if(typeof(msg.after) == 'string'){
				window[msg.after].call(this,$(this));
			}else if(typeof(msg.after) == 'function'){
				msg.after.call(this,$(this));
			}
			msg.repeat ? (cj.remove(),cj.login({repeat:msg.repeat})) : cj.remove();
		});
		$("body").on("click","input",msg.html,function(){
			$(this).removeClass("erro");
		});
	},
	tip:function(msg){
		$(".cjTip").remove();
		var txt = ["记得分享至朋友圈秀祝福哦~"];
		var codeRandom = Math.floor(Math.random()*txt.length);
		if(!msg){msg = txt[codeRandom]};
		if(msg==1){return false;}
		var html = '<div class="cjTip"><div class="cjTipTxt"><i></i><p>'+msg+'</p></div><div class="cjTipbg"></div></div>';
		$("body").append(html);
	},
	content:function(msg){
		msg = $.extend(true, {}, cj.msg,msg);
		msg.html = template("js-tmpl-msg",msg);
		cj.basic(msg);
	},
	remove:function(msg){
		_global.g = true;
		$(".gameCon").removeClass("end");
		$(".msgPop").remove();
		var _MsgPopglobal = {
			refurbish:false,
			repeat:true
		}
		msg = $.extend(true, {}, _MsgPopglobal,msg);
		if(msg.refurbish){
			location.href = location.href ;
		}
	},
	close:function(msg){
		_global.g = true;
		$(".gameCon").removeClass("end");
		var _MsgPopglobal = {
			refurbish:false,
			repeat:true
		}
		msg = $.extend(true, {}, _MsgPopglobal,msg);
		$(".msgPop").not("[id!='']").remove();
		if(msg.refurbish){
			location.href = location.href ;
		}
	},
	msg:{
		id:"",
		title:false,//标题
		html:false,//内容
		refurbish:false,//是否刷新
		msg:"未知错误",//内容
		icon:false,//图标
		repeat:false,//重新填出登陆框
		btn:[
			{
				text:"返回",//按钮文字
				url:"javascript:void(0)",//按钮链接
				callback:function(){
					cj.close();
				}
			}
		],
		isclose:true,
		start:false,//弹出之后callback
		after:false//关闭之后callback
	}
}
</script>
<script type="text/html" id="js-tmpl-msg">
<div class="cjText">
	{{if !html}}
	<div class="cjText-con">
		{{if !icon}}
			<div class="cjText-text noicon">{{#msg}}</div>
		{{else}}
			<div class="cjText-text">{{#msg}}</div>
			<div class="cjText-img">
				{{if icon==1}}
				<img src="__PUBLIC__/Label/Image/qianji/Item/qj-6.png" width="64">
				{{else}}
				<img src="__PUBLIC__/Label/Image/qianji/Item/qj-19-{{icon}}.png" width="100">
				{{/if}}
			</div>
		{{/if}}
	</div>
	{{else}}
	{{#html}}
	{{/if}}
</div>
<div class="cjBtn">
{{each btn as value i}}
	<a href="{{value.url}}" class="cjBtn-back {{if btn.length>1}}{{if i==0}}sm{{/if}}{{/if}}">{{value.text}}</a>
{{/each}}
</div>
</script>
<script type="text/html" id="js-tmpl-rule">
<div class="gameRule">
	<div class="divRule">
		<p><b>活动时间：</b>{{startTime}}至{{endTime}}</p>
		<p><b>活动说明：</b>{{#wapInfo}}</p>
		<div class="prizeList">
			<h2>活动奖励</h2>
			{{each cate as value i}}
			<div class="prizeItem">
				<h3>{{value.name}}</h3>
				{{each prize as value2 j}}
					{{if value2.cj_cate_id == value.id}}
				<div class="prize">
				<div class="img"><img src="{{value2.batch_img}}"></div>
				<p>{{value2.batch_name}}</p>
				</div>
					{{/if}}
				{{/each}}
			</div>
			{{/each}}
		</div>
	</div>
</div>
</script>
<script>
var wxShareData = {:json_encode($shareData);};
</script>
<include file="Label/Public/_shareWx"/>