<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$wap_title}</title>
<meta name="viewport" content="width=320, maximum-scale=1, user-scalable=no,minimal-ui">
<meta content="O2O,O2O营销,二维码,旺财,市场调研" name="Keywords">
<meta content="telephone=no" name="format-detection" />
<meta content="email=no" name="format-detection" />
<meta name="apple-touch-fullscreen" content="NO">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Label/Css/wap_chunjie.css?v=__VR__">
<script type="text/javascript" src="__PUBLIC__/Label/Js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Label/Js/idangerous.swiper.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-1.11.2.custom/template.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.form.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/artDialog4.1.6/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Js/artDialog4.1.6/plugins/iframeTools.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Label/Js/validationEngine/jquery.validationEngine.js"></script>
<script type="text/javascript" src="__PUBLIC__/Label/Js/validationEngine/jquery.validationEngine-zh_CN.js"></script>
<script>
$(document).ready(function(e) {
    var loadImg = 0;
    var imgNum = $(".loadimg").length-1;
    $(".loadimg").one('load', function () {
        if (true) {
            $("#loading").hide();
            $("#wrapper").addClass("begin");
        }
    }).each(function () {
        $("#loading").hide();
        $("#wrapper").addClass("begin");
        if (this.complete) $(this).load();
    });
});
</script>
</head>
<body>
<div id="loading">
    <div class="loadingbox">
        <h4>{$nodeName}</h4>
        <div><i></i>
            <?php if ($marketInfo['log_img']) { ?>
            <img src="__UPLOAD__/{$marketInfo['log_img']}" />
            <?php } else{ ?>
            <img src="__PUBLIC__/Label/Image/chunjie/Item/logo.png?v=__VR__" />
            <?php } ?>
        </div>
        <h5>Loading...</h5>
        <h6><img src="__PUBLIC__/Label/Image/chunjie/Item/loading-banner.png" /></h6>
    </div>
    <img src="__PUBLIC__/Label/Image/chunjie/Item/element_25.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/chunjie/Item/element_26.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/chunjie/Item/element_27.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/chunjie/Item/element_28.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/chunjie/Item/element_29.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/chunjie/Item/element_30.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/chunjie/Item/element_31.png" class="loadimg" />
    <img src="__PUBLIC__/Label/Image/chunjie/Item/element_32.png" class="loadimg" />
</div>
<div id="wrapper">
    <div id="container">
    	<div id="main" class="mine">
        	<div class="headertext">
                <php>if($foods_count==8){</php>
                <h3>您已经集齐<span>{$foods_count}</span>个不同的{:L('FOOD_NAME')}</h3>
                <p>您已经可以兑换奖品了，快邀请好友一起参与吧！</p>
                <php>}else{</php>
            	<h3>您已经集齐<span>{$foods_count}</span>个不同的{:L('FOOD_NAME')}</h3>
                <p>再收集{$foods_count1}个{:L('FOOD_NAME')}就能兑换奖品了，快来一起参 与吧！</p>
                <php>}</php>
            </div>
            <input type="hidden"  value="" id="food_id"/>
            <input type="hidden"  value="{$url_final}" id="openid_md5"/>
            <div class="stuffingList">
                <ul>
                    <li>
                        <div class="img"><img src="__PUBLIC__/Label/Image/chunjie/Item/element-1.png"></div>
                        <p>忠--福袋</p>
                        <php>if($foods_number[0] > 0){</php>
                        <a href="javascript:;" onclick="sendfood(1); " id="food_id1">赠送</a>
                        <php>}else{</php>
                        <a href="javascript:void(0)" style="color:#BEBEBE;border:1px solid #DCDCDC;background:#EFEFEF">赠送</a>
                        <php>}</php>
                        <php>if($foods_number !=""  && $foods_number[0] >0 ){</php>
                        <em>x<span class="_food1">{$foods_number[0]}</span></em>
                        <php>}else{</php>
                        <em>x0</em>
                        <php>}</php>

                    </li>
                    <li>
                        <div class="img"><img src="__PUBLIC__/Label/Image/chunjie/Item/element-2.png"></div>
                        <p>孝--福袋</p>
                        <php>if($foods_number[1] > 0){</php>
                        <a href="javascript:;" onclick="sendfood(2);" id="food_id2">赠送</a>
                        <php>}else{</php>
                        <a href="javascript:void(0)" style="color:#BEBEBE;border:1px solid #DCDCDC;background:#EFEFEF">赠送</a>
                        <php>}</php>
                        <php>if($foods_number !=""  && $foods_number[1] >0 ){</php>
                        <em>x<span class="_food2">{$foods_number[1]}</span></em>
                        <php>}else{</php>
                        <em>x0</em>
                        <php>}</php>
                    </li>
                    <li>
                        <div class="img"><img src="__PUBLIC__/Label/Image/chunjie/Item/element-3.png"></div>
                        <p>仁--福袋</p>
                        <php>if($foods_number[2] > 0){</php>
                        <a href="javascript:;" onclick="sendfood(3);" class="" id="food_id3">赠送</a>
                        <php>}else{</php>
                        <a href="javascript:void(0)" style="color:#BEBEBE;border:1px solid #DCDCDC;background:#EFEFEF">赠送</a>
                        <php>}</php>
                        <php>if($foods_number !=""  && $foods_number[2] >0 ){</php>
                        <em>x<span class="_food3">{$foods_number[2]}</span></em>
                        <php>}else{</php>
                        <em>x0</em>
                        <php>}</php>
                    </li>
                    <li>
                        <div class="img"><img src="__PUBLIC__/Label/Image/chunjie/Item/element-4.png"></div>
                        <p>义--福袋</p>
                        <php>if($foods_number[3] > 0){</php>
                        <a href="javascript:;" onclick="sendfood(4);" id="food_id4">赠送</a>
                        <php>}else{</php>
                        <a href="javascript:void(0)" style="color:#BEBEBE;border:1px solid #DCDCDC;background:#EFEFEF">赠送</a>
                        <php>}</php>
                        <php>if($foods_number !=""  && $foods_number[3] >0){</php>
                        <em>x<span class="_food4">{$foods_number[3]}</span></em>
                        <php>}else{</php>
                        <em>x0</em>
                        <php>}</php>
                    </li>
                    <li>
                        <div class="img"><img src="__PUBLIC__/Label/Image/chunjie/Item/element-5.png"></div>
                        <p>礼--福袋</p>
                        <php>if($foods_number[4] > 0){</php>
                        <a href="javascript:;" onclick="sendfood(5);" id="food_id5">赠送</a>
                        <php>}else{</php>
                        <a href="javascript:void(0)" style="color:#BEBEBE;border:1px solid #DCDCDC;background:#EFEFEF">赠送</a>
                        <php>}</php>
                        <php>if($foods_number !=""  && $foods_number[4] >0){</php>
                        <em>x<span class="_food5">{$foods_number[4]}</span></em>
                        <php>}else{</php>
                        <em>x0</em>
                        <php>}</php>
                    </li>
                    <li>
                        <div class="img"><img src="__PUBLIC__/Label/Image/chunjie/Item/element-6.png"></div>
                        <p>智--福袋</p>
                        <php>if($foods_number[5] > 0){</php>
                        <a href="javascript:;" onclick="sendfood(6);" id="food_id6">赠送</a>
                        <php>}else{</php>
                        <a href="javascript:void(0)" style="color:#BEBEBE;border:1px solid #DCDCDC;background:#EFEFEF">赠送</a>
                        <php>}</php>
                        <php>if($foods_number !=""  && $foods_number[5] >0){</php>
                        <em>x<span class="_food6">{$foods_number[5]}</span></em>
                        <php>}else{</php>
                        <em>x0</em>
                        <php>}</php>
                    </li>
                    <li>
                        <div class="img"><img src="__PUBLIC__/Label/Image/chunjie/Item/element-7.png"></div>
                        <p>信--福袋</p>
                        <php>if($foods_number[6] > 0){</php>
                        <a href="javascript:;"onclick="sendfood(7);" id="food_id7">赠送</a>
                        <php>}else{</php>
                        <a href="javascript:void(0)" style="color:#BEBEBE;border:1px solid #DCDCDC;background:#EFEFEF">赠送</a>
                        <php>}</php>
                        <php>if($foods_number !=""  && $foods_number[6] >0){</php>
                        <em>x<span class="_food7">{$foods_number[6]}</span></em>
                        <php>}else{</php>
                        <em>x0</em>
                        <php>}</php>
                    </li>
                    <li>
                        <div class="img"><img src="__PUBLIC__/Label/Image/chunjie/Item/element-8.png"></div>
                        <p>爱--福袋</p>
                        <php>if($foods_number[7] > 0){</php>
                        <a href="javascript:;" onclick="sendfood(8);" id="food_id8">赠送</a>
                        <php>}else{</php>
                        <a href="javascript:void(0)" style="color:#BEBEBE;border:1px solid #DCDCDC;background:#EFEFEF">赠送</a>
                        <php>}</php>
                        <php>if($foods_number !=""  && $foods_number[7] >0){</php>
                        <em>x<span class="_food8">{$foods_number[7]}</span></em>
                        <php>}else{</php>
                        <em>x0</em>
                        <php>}</php>
                    </li>
                </ul>
            </div>
           
        </div>
    </div>
</div>
<div class="proNav">
	<a href="{:U('Label/ZongZi/playGame',array('id'=>$id))}" class="btn-ok">继续摇福袋</a>
    <a href="javascript:void(0)" class="btn-ok" id="btnget">马上兑换</a>
</div>
<div class="out-box dn">
	<img class="img" src="__PUBLIC__/Label/Image/duanwu/tip-share.png">
    <!--<div class="text"><p class="tc">立即分享,<a>1</a>个好友可送你<a>5</a>个食材！</p></div>-->
</div>

 <script>
$('body').on("click",".btnshow",function(){
	



})
$('.prizeList dt').on("click",function(){
    $(".out-box").show();

})

//弹窗基础
function closeMsgPop(obj){
	$(".msgPop").remove();
	if(obj === true){
		location.href = location.href ;
	}
	
}
function MsgPop(msg){
	if(!msg.title){msg.title="消息";}
	var shuaxin =false;
	if(msg.isgourl){shuaxin = true;}
	if(!msg.icon){msg.icon=""}else{msg.icon="<i class='"+msg.icon+"'></i>"};
	var html = ['<div class="msgPop bg">',
					'<div class="msgBg">',
						'<div class="msgTitle">'+msg.title+'<a href="javascript:void(0)" class="close-msgPop" onClick="closeMsgPop('+shuaxin+')"><i><span>+</span></i></a></div>',
						'<div class="msgCon">'+msg.icon+msg.html+'</div>',
					'</div>',
				'</div>'].join('');
	$("body").append(html)
}
        
                  
</script>
<div style="display: none;">
<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd63513a907e602a2cc2cb6970d7765b8' type='text/javascript'%3E%3C/script%3E"));
		</script>
</div>
</body>
</html>
<script>
    var clickFlage = false;
$(document).ready(function(e) {
    $(".out-box").click(function(){
        restart_wxjs();
        $(this).hide();
    })
    $("#btnget").on('click',function(){
        if($("._food1").text()==0 || $("._food2").text()==0 || $("._food3").text()==0  || $("._food4").text()==0  || $("._food5").text()==0  || $("._food6").text()==0 || $("._food7").text()==0 || $("._food8").text()==0){
            cj.content({
                msg:"<p>您还没有集齐8个{:L('FOOD_NAME')}，无<br>法兑换礼品。赶快去摇一摇收集吧！</p>"
            })
            return false;
        }
        var subzongzi="{$subzongzi}";
       if (subzongzi == 1 ) {
        $(".out-box").hide();
        cj.content({
               msg:"<p>活动还未开始！</p>"
           });
        return false;
       };
       if (subzongzi == 2 ) {
        $(".out-box").hide();
        cj.content({
               msg:"<p>活动已经结束！</p>"
           });
        return false;
       };
       if (subzongzi == 3 ) {
        $(".out-box").hide();
        cj.content({
               msg:"<p>活动已经关闭！</p>"
           });
        return false;
       };
    	//判断食材是否满足8种
     if("{$foods_number[0]}" == 0 || "{$foods_number[1]}" == 0 || "{$foods_number[2]}" == 0 || "{$foods_number[3]}" == 0 || "{$foods_number[4]}" == 0 || "{$foods_number[5]}" == 0 || "{$foods_number[6]}" == 0 || "{$foods_number[7]}" == 0){
          cj.content({
              msg:"<p>您还没有集齐8个{:L('FOOD_NAME')}，无<br>法兑换礼品。赶快去摇一摇收集吧！</p>"
          })
         return false;
      }
        $(".msgPop").show();
        //验证码

    	var phoneNum = 1;
    	if(phoneNum == 1){
    		cj.content({
	            html:"<form id='form' action='' method='' name='form'><ul><li><input type='text' id='phone'  placeholder='输入手机号领取奖品' class='textbox validate[required,minSize[11]]' maxlength='11' data-rel='' style='width: 240px;' /></li><li><input type='text' id='yanzhengma'  placeholder='输入验证码'  class='textbox half validate[required]' data-rel='' style='width: 150px; margin-right: 10px;' /><input type='button' id='getpasscode' value='获取验证码' style='width: 80px;' data-in_ajax='0' /></li><li><input type='button' value='确定' style='width: 100%;'  id='zongzi_ajax'/></li></ul></form>",
	        	btn:0
    		});
            $("#getpasscode").click(function(){
                var phone = $("#phone").val();
                if(phone.length!=11)
                {
                    art.dialog.alert("手机号码不正确！");
                    return false;
                }
                var self = $(this);
                if(self.data('in_ajax') != 0) return ;
                self.data('in_ajax', 1);
                self.val("正在发送......");
                $.get("{:U('Label/ZongZi/sendCheckCode',array('id'=>$id))}"+'&phone='+phone,function(data){
                    self.data('in_ajax', 0);
                    if (data.status == 1) {
                        self.data('in_ajax', 2);
                        self.val("90秒");
                        var sed = 90, Int;
                        function aha(){
                            sed = sed - 1;
                            if( sed == 0){
                                self.data('in_ajax', 0);
                                self.val('获取验证码');
                                clearInterval(Int);
                                return;
                            }else{
                                self.val(sed+'秒');
                            }
                        }
                        Int = setInterval(aha, 1000);
                    } else {
                        art.dialog.alert(data.info);
                        $("#getpasscode").val("获取验证码");
                    }
                },"json");
            });
            $("#zongzi_ajax").click(function(){
                if(clickFlage){
                    return false;
                }
                clickFlage = true;
                var url="{:U('Label/ZongZi/conversionjp',array('id'=>$id))}";
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {phone:$("#phone").val(),yanzhengma:$("#yanzhengma").val()},
                    timeout: 10000,
                    dataType: "json",
                    success: function (resp) {
                        clickFlage = false;
                        if(resp.status == 1){
                            foods_shao();
                            //红包
                            if(resp.info.type == 1){
                                var btn = [];
                                if(resp.info.link_flag == 1){
                                    btn.push(
                                        {
                                            text:resp.info.button_name,
                                            url:resp.info.link_url
                                        }
                                    );
                                }
                                btn.push(
                                    {
                                        text:"参与摇一摇",
                                        url:"{:U('Label/ZongZi/playGame',array('id'=>$id))}",
                                        callback:function(){
                                            cj.close();
                                        }
                                    }
                                );
                                cj.content({
                                    msg:"<p class='title'>"+resp.info.data.goods_name+"</p>",
                                    html:"<p class='title'>"+resp.info.data.goods_name+"</p><img src='"+"<?php echo APP_PATH.'Upload/';?>"+resp.info.goods_image+"' width='64' />",
                                    btn:btn
                                });
                            }
                            //积分奖品
                            else if(resp.info.type == 4){
                                cj.content({
                                    msg:"<p class='title'>"+resp.info.goods_name+"</p>",
                                    html:"<p class='title'>"+resp.info.goods_name+"&nbsp;+&nbsp;"+resp.info.point+"</p>",
                                    btn:[{
                                        text:"已存入您的账号（"+$("#phone").val()+"）中",
                                        url:"{:U('Label/Member/index', array('id'=>$id))}"
                                    },{
                                        text:"参与摇一摇",
                                        url:"{:U('Label/ZongZi/playGame',array('id'=>$id))}",
                                        callback:function(){
                                            cj.close();
                                        }
                                    }]
                                })
                            }
                            else{
                                cj.content({
                                    msg:"<p class='title'>"+resp.info.data.goods_name+"</p>",
                                    html:"<p class='title'>"+resp.info.data.goods_name+"</p><img src='"+"<?php echo APP_PATH.'Upload/';?>"+resp.info.goods_image+"' width='64' />",
                                    btn:[{
                                        text:"奖品已经通过短信形式发送给您",
                                        url:"javascript:void(0)"
                                    },{
                                        text:"参与摇一摇",
                                        url:"{:U('Label/ZongZi/playGame',array('id'=>$id))}",
                                        callback:function(){
                                            cj.close();
                                        }
                                    }]
                                })
                            }
                        }else{
                            if(resp.zongzi_flag==1){
                                cj.content({
                                    msg:resp.info
                                });
                            }else{
                                cj.content({
                                    msg:resp.info.info
                                });
                            }
                        }
                   }
                });
            });
    		$("#btn-1").on('click',function(){
    			cj.content({
		            msg:"<p class='title'>恭喜您获得XX奖品</p>",
		            html:"<img src='__PUBLIC__/Label/Image/chunjie/Item/element_25.png' width='64' />",
		            btn:[{
		                text:"领取微信卡券",
		                url:"javascript:void(0)"
		            },{
		                text:"参与摇一摇",
		                url:"{:U('Label/ZongZi/playGame',array('id'=>$id))}",
		                callback:function(){
		                    cj.close();
		                }
		            }]
	    		})
    		});
    	}else{
    		cj.content({
	            msg:"<p class='title' style='color: #666666; font-size: 14px;'>您还没有集齐8个{:L('FOOD_NAME')}，无法兑换礼品。赶快去摇一摇收集吧！</p>",
	            btn:[{
	                text:"确定",
	                url:"javascript:void(0)",
	                callback:function(){
	                    cj.close();
	                }
	            }]
    		})
    	};
	})
});
//领取卡券
function getWxCard2(card_id,card_ext){
    //领取微信卡券
    getWxCard(card_id,card_ext);
}
//领取成功后，将食材的值减1
function foods_shao(){
    for(var i=1;i<=8;i++){
        var test=$("._food"+i+"").text()-1;
        $("._food"+i+"").html(test);
        if(test==0){
            $("#food_id"+i+"").css({"color":"#BEBEBE","border":"1px solid #DCDCDC","background":"#EFEFEF"});
        }
    }
}
document.addEventListener('WeixinJSBridgeReady', function(){
    window['getWxCard'] = function(card_id,card_ext){
        //todo debug
        if(typeof(WeixinJSBridge) == 'undefined'){
            alert('wait...');
            return;
        }
        /*alert(data.card_id);
         alert(data.card_ext);*/
        WeixinJSBridge.invoke('batchAddCard', {
            "card_list": [{
                "card_id": card_id,
                "card_ext": card_ext
            }]
        },function(res){
            /*for(var i in res){
             alert(res[i]);
             }*/
        });
    }
}, false);


function sendfood_shao(e){
     var test=$("._food"+e+"").text()-1;
        $("._food"+e+"").html(test);
}
</script>
<!--公共-->
<script>
var cj = {
	basic:function(msg){
		cj.close();
		if(!msg.title){var notitle="notitle";msg.title="";}
		if(msg.isclose){var closehtml = '<a href="javascript:void(0)" class="close-msgPop"><i><span>+</span></i></a>'}else{var closehtml = "";}
		var html = ['<div class="msgPop bg" id="'+msg.id+'">',
			'<div class="msgBg">',
			'<div class="msgTitle '+notitle+'">'+msg.title+closehtml+'</div>',
			'<div class="msgCon">'+msg.html+'</div>',
			'</div>',
			'</div>'].join('');
		$("body").append(html);
		if(typeof(msg.start) == 'string'){
			window[msg.start].call(this,$(this));
		}else if(typeof(msg.start) == 'function'){
			msg.start.call(this,$(this));
		}
		$("body").find(".msgBg",html).on("click",".cjBtn-back",function(){
			var index = $(this).index();
			if(typeof(msg.btn[index].callback) == 'string'){
				window[msg.btn[index].callback].call(this,$(this));
			}else if(typeof(msg.btn[index].callback) == 'function'){
				msg.btn[index].callback.call(this,$(this));
			}else{
				msg.repeat ? (cj.close(),cj.login({repeat:msg.repeat})) : cj.close();
				if($(this).attr("href")!="javascript:void(0)"){
					window.location.href = $(this).attr("href");
				}
			}
		});
		$("body").find(".msgBg",html).on("click",".close-msgPop",function(){
			if(typeof(msg.after) == 'string'){
				window[msg.after].call(this,$(this));
			}else if(typeof(msg.after) == 'function'){
				msg.after.call(this,$(this));
			}
			msg.repeat ? (cj.remove(),cj.login({repeat:msg.repeat})) : cj.remove();
		});
		$("body").on("click","input",msg.html,function(){
			$(this).removeClass("erro");
		});
	},
	tip:function(msg){
		$(".cjTip").remove();
		var txt = ["每天都有3次机会,记得回来呦~","随机可摇出：粽子食材、现金券、179粽子礼盒兑换券","记得晒一晒战绩，让小伙伴也一起来战","有几率可直接获得179元粽子礼盒兑换券"];
		var codeRandom = Math.floor(Math.random()*txt.length);
		if(!msg){msg = txt[codeRandom]};
		if(msg==1){return false;}
		var html = '<div class="cjTip"><div class="cjTipTxt"><i></i><p>'+msg+'</p></div><div class="cjTipbg"></div></div>';
		$("body").append(html);
	},
	content:function(msg){
		msg = $.extend(true, {}, cj.msg,msg);
		msg.html = template("js-tmpl-msg",msg);
		cj.basic(msg);
	},
	remove:function(msg){
//        location.reload();
		$(".msgPop").remove();
		var _MsgPopglobal = {
			refurbish:false,
			repeat:true
		}
		msg = $.extend(true, {}, _MsgPopglobal,msg);
		if(msg.refurbish){
			location.href = location.href ;
		}
	},
	close:function(msg){
//        _global.g = true;
//        location.reload();
        var _MsgPopglobal = {
			refurbish:false,
			repeat:true
		}
		msg = $.extend(true, {}, _MsgPopglobal,msg);
		$(".msgPop").not("[id!='']").remove();
		if(msg.refurbish){
			location.href = location.href ;
		}
	},
	msg:{
		id:"",
		title:false,//标题
		html:false,//内容
		refurbish:false,//是否刷新
		msg:"未知错误",//内容
		icon:false,//图标
		repeat:false,//重新填出登陆框
		btn:[
			{
				text:"返回",//按钮文字
				url:"javascript:void(0)",//按钮链接
				callback:function(){
					cj.close();
				}
			}
		],
		isclose:true,
		start:false,//弹出之后callback
		after:false//关闭之后callback
	}
}
</script>


<script type="text/html" id="js-tmpl-msg">
<div class="cjText">
	{{if !html}}
	<div class="cjText-con">
		{{if !icon}}
			<div class="cjText-text noicon">{{#msg}}</div>
		{{else}}
			<div class="cjText-text">{{#msg}}</div>
			<div class="cjText-img">
				{{if icon==1}}
				<img src="__PUBLIC__/Label/Image/chunjie/Item/element_25.png" width="64">
				{{else}}
				<img src="__PUBLIC__/Label/Image/chunjie/Item/element_10.png" width="100">
				{{/if}}
			</div>
		{{/if}}
	</div>
	{{else}}
	{{#html}}
	{{/if}}
</div>
<div class="cjBtn">
{{each btn as value i}}
	<a href="{{value.url}}" class="cjBtn-back {{if btn.length>1}}{{if i==0}}sm{{/if}}{{/if}}">{{value.text}}</a>
{{/each}}
</div>
</script>
<script>
    var wxShareData = <?php echo json_encode($shareData);?>;
</script>
<include file="Label/Public/_shareWx"/>
<script>
        function sendfood(e) {
            var subzongzi = "{$subzongzi}";
            if (subzongzi == 1) {
                $(".out-box").hide();
                cj.content({
                    msg: "<p>活动还未开始！</p>"
                });
                return false;
            };
            if (subzongzi == 2) {
                $(".out-box").hide();
                cj.content({
                    msg: "<p>活动已经结束！</p>"
                });
                return false;
            }
            ;
            if (subzongzi == 3) {
                $(".out-box").hide();
                cj.content({
                    msg: "<p>活动已经关闭！</p>"
                });
                return false;
            }
            ;
            //判断食材是否为0
            if ($("._food" + e + "").text() == 0) {
//            cj.content({
//                msg:"<p>您的食材不足<span>1</span>个食材，无<br>法赠送食材。赶快去摇一摇收集吧！</p>"
//            });
                return false;
            }
            $(".out-box").show();
            $('.out-box').on("click", function () {
                $('.out-box').hide();
            })
            var food_id = e;
            var url_final_1 = "{$url_final}";
            var open_flag = $("#openid_md5").val();
            if (open_flag) {
                wxShareData.link = "{$shareUrl_send}" + "&food_id=" + e + "&url_final=" + open_flag;
            } else {
                wxShareData.link = "{$shareUrl_send}" + "&food_id=" + e + "&url_final=" + url_final_1;
            }
            var foodname;
            if (e == 1) {
                foodname = '忠--福袋';
            }
            if (e == 2) {
                foodname = '孝--福袋';
            }
            if (e == 3) {
                foodname = '仁--福袋';
            }
            if (e == 4) {
                foodname = '义--福袋';
            }
            if (e == 5) {
                foodname = '礼--福袋';
            }
            if (e == 6) {
                foodname = '智--福袋';
            }
            if (e == 7) {
                foodname = '信--福袋';
            }
            if (e == 8) {
                foodname = '爱--福袋';
            }
            wx.config({
                debug: false,
                appId: wxShareData.config.appId,
                timestamp: wxShareData.config.timestamp,
                nonceStr: wxShareData.config.nonceStr,
                signature: wxShareData.config.signature,
                jsApiList: [
                    'checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo',
                    'hideMenuItems',
                    'showMenuItems',
                    'hideAllNonBaseMenuItem',
                    'showAllNonBaseMenuItem',
                    'translateVoice',
                    'startRecord',
                    'stopRecord',
                    'onRecordEnd',
                    'playVoice',
                    'pauseVoice',
                    'stopVoice',
                    'uploadVoice',
                    'downloadVoice',
                    'chooseImage',
                    'previewImage',
                    'uploadImage',
                    'downloadImage',
                    'getNetworkType',
                    'openLocation',
                    'getLocation',
                    'hideOptionMenu',
                    'showOptionMenu',
                    'closeWindow',
                    'scanQRCode',
                    'chooseWXPay',
                    'openProductSpecificView',
                    'addCard',
                    'chooseCard',
                    'openCard'
                ]
            });
            wx.error(function(res){
//                for(var i in res){
//                    alert(i+':'+res[i]);
//                }
            });
            wx.ready(function () {
            wxShareData.desc = "亲，我有一个" + foodname + "转赠你，助你得到精美礼品";
            wxShareData.title = "财神到，快来摇一摇赢大奖";
            $("#food_id").val(food_id);
            //调用微信分享
            wx.onMenuShareAppMessage({
                title: wxShareData.title, // 分享标题
                desc: wxShareData.desc, // 分享描述
                link: wxShareData.link, // 分享链接
                imgUrl: wxShareData.imgUrl, // 分享图标
                success: function (res) {
                    // 用户确认分享后执行的回调函数
                    if (typeof(wxShareData.ShareAppMessageSuccess) == 'string' && wxShareData.ShareAppMessageSuccess != '') {
                        window[wxShareData.ShareAppMessageSuccess].call(this, res);
                    } else if (typeof(wxShareData.ShareAppMessageSuccess) == 'function') {
                        wxShareData.ShareAppMessageSuccess.call(this, res);
                    }
                },
                cancel: function (res) {
                    // 用户取消分享后执行的回调函数
                    wxShareData.link = "{$shareUrl}";
                    $(".out-box").hide();
                    if (typeof(wxShareData.ShareAppMessageCancel) == 'string' && wxShareData.ShareAppMessageCancel != '') {
                        window[wxShareData.ShareAppMessageCancel].call(this, res);
                    } else if (typeof(wxShareData.ShareAppMessageCancel) == 'function') {
                        wxShareData.ShareAppMessageCancel.call(this, res);
                    }
                }
            });
            wx.onMenuShareTimeline({
                title: wxShareData.title, // 分享标题
                desc: wxShareData.desc, // 分享描述
                link: wxShareData.link, // 分享链接
                imgUrl: wxShareData.imgUrl, // 分享图标
                success: function (res) {
                    // 用户确认分享后执行的回调函数
                    if (typeof(wxShareData.ShareTimelineSuccess) == 'string' && wxShareData.ShareTimelineSuccess != '') {
                        window[wxShareData.ShareTimelineSuccess].call(this, res);
                    } else if (typeof(wxShareData.ShareTimelineSuccess) == 'function') {
                        wxShareData.ShareTimelineSuccess.call(this, res);
                    }
                },
                cancel: function (res) {
                    // 用户取消分享后执行的回调函数
                    if (typeof(wxShareData.ShareTimelineCancel) == 'string' && wxShareData.ShareTimelineCancel != '') {
                        window[wxShareData.ShareTimelineCancel].call(this, res);
                    } else if (typeof(wxShareData.ShareTimelineCancel) == 'function') {
                        wxShareData.ShareTimelineCancel.call(this, res);
                    }
                }
            });
            wxShareData.ShareTimelineSuccess = function (res) {
                //分享成功,朋友圈，调用Post方法去扣减食材
                $(".out-box").hide();
                var food_id = $("#food_id").val();
                var url = "{:U('Label/ZongZi/zengs',array('id'=>$id))}";
                var openid_md5 = $("#openid_md5").val();
                restart_wxjs();
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {food_id: food_id, url_final: openid_md5},
                    timeout: 10000,
                    dataType: "json",
                    success: function (data) {
                        if (data.status == 1) {
                            foods_no(food_id);
                            $("#openid_md5").val(data.new_openid_md5);
                            alert(data.info);
                        } else {
                            alert(data.info);
                        }
                    }
                });
            }
            wxShareData.ShareTimelineCancel = function (res) {
                //取消将分享链接
                //wxShareData.link="{$shareUrl}";
                restart_wxjs();
                $(".out-box").hide();
            }
            wxShareData.ShareAppMessageSuccess = function (res) {
                //分享好友成功，调用Post方法去扣减食材
                $(".out-box").hide();
                var food_id = $("#food_id").val();
                var url = "{:U('Label/ZongZi/zengs',array('id'=>$id))}";
                var openid_md5 = $("#openid_md5").val();
                restart_wxjs();
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {food_id: food_id, url_final: openid_md5},
                    timeout: 10000,
                    dataType: "json",
                    success: function (data) {
                        if (data.status == 1) {
                            foods_no(food_id);
                            $("#openid_md5").val(data.new_openid_md5);
                            alert(data.info);
                            //赋值给新的openid
                        } else {
                            alert(data.info);
                        }
                    }
                });
            }
            wxShareData.ShareAppMessageCancel = function (res) {
                //取消将分享链接
                //wxShareData.link="{$shareData['link']}";
                restart_wxjs();
                $(".out-box").hide();
            }
         });
        }

    //领取成功后，将食材的值减1
    function foods_no(e){
               var test = $("._food" + e + "").text() - 1;
               $("._food" + e + "").html(test);
          if(test==0){
              $("#food_id"+e+"").css({"color":"#BEBEBE","border":"1px solid #DCDCDC","background":"#EFEFEF"});
          }
    }
    //color:#BEBEBE;border:1px solid #DCDCDC;background:#EFEFEF;
    //取消分享，调用js重新加载
    function  restart_wxjs(){
        var wxShareData = <?php echo json_encode($shareData);?>;
        var wxShareData = (typeof(wxShareData) != 'undefined') ? wxShareData : {
            config:{}
        };
        //调用微信分享
        wx.onMenuShareAppMessage({
            title: wxShareData.title, // 分享标题
            desc: wxShareData.desc, // 分享描述
            link: wxShareData.link, // 分享链接
            imgUrl: wxShareData.imgUrl, // 分享图标
            success: function (res) {
                // 用户确认分享后执行的回调函数
                if(typeof(wxShareData.ShareAppMessageSuccess) == 'string' && wxShareData.ShareAppMessageSuccess != ''){
                    window[wxShareData.ShareAppMessageSuccess].call(this,res);
                }else if(typeof(wxShareData.ShareAppMessageSuccess) == 'function'){
                    wxShareData.ShareAppMessageSuccess.call(this,res);
                }
            },
            cancel: function (res) {
                // 用户取消分享后执行的回调函数
                wxShareData.link="{$shareUrl}";
                $(".out-box").hide();
                if(typeof(wxShareData.ShareAppMessageCancel) == 'string' && wxShareData.ShareAppMessageCancel != ''){
                    window[wxShareData.ShareAppMessageCancel].call(this,res);
                }else if(typeof(wxShareData.ShareAppMessageCancel) == 'function'){
                    wxShareData.ShareAppMessageCancel.call(this,res);
                }
            }
        });
        wx.onMenuShareTimeline({
            title: wxShareData.title, // 分享标题
            desc: wxShareData.desc, // 分享描述
            link: wxShareData.link, // 分享链接
            imgUrl: wxShareData.imgUrl, // 分享图标
            success: function (res) {
                // 用户确认分享后执行的回调函数
                if(typeof(wxShareData.ShareTimelineSuccess) == 'string' && wxShareData.ShareTimelineSuccess != ''){
                    window[wxShareData.ShareTimelineSuccess].call(this,res);
                }else if(typeof(wxShareData.ShareTimelineSuccess) == 'function'){
                    wxShareData.ShareTimelineSuccess.call(this,res);
                }
            },
            cancel: function (res) {
                // 用户取消分享后执行的回调函数
                if(typeof(wxShareData.ShareTimelineCancel) == 'string' && wxShareData.ShareTimelineCancel != ''){
                    window[wxShareData.ShareTimelineCancel].call(this,res);
                }else if(typeof(wxShareData.ShareTimelineCancel) == 'function'){
                    wxShareData.ShareTimelineCancel.call(this,res);
                }
            }
        });
    }
</script>