<div class="tipNormal mb15 mt15">
    <p>累计发送 <b class="red mr15">10</b> 累计使用 <b class="red">10</b></p>
</div>
  <div class="SearchArea">
<form  action="" method="get">
<input type="hidden" name="goods_id" value="gw0000104194">
<div class="SearchAreaLeft">
    
    <label>
        <span>有效期</span>
        <div class="Stime">
            <input type="text" value="" name="badd_time" onclick="WdatePicker()" readonly="true"><em>至</em><input type="text" value="" name="eadd_time" onclick="WdatePicker()" readonly="true">
        </div>
    </label>
    <label>
        <span>手机号</span>
        <input type="text" value="" />
    </label>
    <label>
        <span>openid</span>
        <input type="text" value="" />
    </label>
    <label>
        <span>活动名称</span>
        <input type="text" value="" />
    </label>
    <label>
        <span>送达状态</span>
        <select name="change_flag">
            <option value="">全部</option>
            <option value="1">发送中</option>
            <option value="2">发送成功，递送手机未知</option>
            <option value="3">发送失败</option>
            <option value="4">送达手机成功</option>
        </select>
    </label> 
     <label>
        <span>使用状态</span>
        <select name="change_flag">
            <option value="">全部</option>
            <option value="1">未使用</option>
            <option value="2">使用中</option>
            <option value="3">已使用</option>
        </select>
    </label>   
    </div>
    <div class="SearchAreaRight">   
        <a class="searchBtn" data-type="search" ng-click="Page($event.target)"  >查询</a>
    </div>
</form>
</div>
<table class="W-table">
    <thead>
        <tr>
            <th>时间</th>
            <th>活动类型</th>
            <th>活动名称</th>
            <th>手机号</th>
            <th>openid</th>
            <th>送达状态</th>
            <th>使用状态</th>
            
        </tr>
    </thead>
    <tbody ng-show="totleNumber">
        <tr>
            <td>2016-03-15</td>
            <td>增加</td>
            <td>发放</td>
            <td>13515256236</td>
            <td>15465463456212</td>
            <td>66</td>
            <td>20</td>
        </tr>
    </tbody>
    <tbody ng-hide="totleNumber">
        <tr>
            <td colspan="7">
                <div class="nonedata"></div>
            </td>
        </tr>
    </tbody>
</table>
<div  pagination ></div> 