<table class="W-table th100">
    <tbody>
        <tr>
            <th>抵用券名称</th>
            <td ng-bind="card_name"></td>
        </tr>
        <tr>
            <th>总数量</th>
            <td ng-bind="card_totle">37</td>
        </tr>
        <tr>
            <th>剩余库存</th>
            <td ng-bind="card_surplus">1.00</td>
        </tr>
        <tr>
            <th>创建时间</th>
            <td ng-bind="card_creat_date">2016-01-25 17:08:11</td>
        </tr>
        <tr>
            <th>操作人</th>
            <td ng-bind="card_Operator">91@7005.com.cn</td>
        </tr>
    </tbody>
</table>
