
<div class="tipNormal mb15 mt15">
    <p>当前库存 <b class="red">10</b> </p>
</div>
<div class="SearchArea">
<form name="storage_form" action="" method="get">
<input type="hidden" name="limit" value="10" >
<div class="SearchAreaLeft">
    <label>
        <span>名称</span>
        <input type="text" value="" />
    </label>
    <label>
        <span>有效期</span>
        <div class="Stime">
            <input type="text" value="" name="badd_time" onclick="WdatePicker()"><em>至</em><input type="text" value="" name="eadd_time" onclick="WdatePicker()">
        </div>
    </label>
    <label>
        <span>变动类型</span>
        <select name="change_flag">
            <option value="0">全部</option>
            <option value="1">增加</option>
            <option value="2">减少</option>
        </select>
    </label>  
    </div>
    <div class="SearchAreaRight">   
        <a class="searchBtn" data-type="search" ng-click="Page($event.target)"  >查询</a> 
    </div>
</form>
</div>
<table class="W-table">
    <thead>
        <tr>
            <th>时间</th>
            <th>变动类型</th>
            <th>变动原因</th>
            <th>活动名称</th>
            <th>活动类型</th>
            <th>变动前库存</th>
            <th>变动数量</th>
            <th>变动后库存</th>

        </tr>
    </thead>
    <tbody ng-show="totleNumber">
        <tr>
            <td>2016-03-15</td>
            <td>增加</td>
            <td>发放</td>
            <td>五一劳动节</td>
            <td>幸运大转盘</td>
            <td>66</td>
            <td><input type="hidden" value="20" name="pageId"><a href="javascript:void(0)" ng-click="moveInfo($event.target)">20</a></td>
            <td>111</td>
        </tr>
    </tbody>
    <tbody ng-hide="totleNumber">
        <tr>
            <td colspan="8">
                <div class="nonedata"></div>
            </td>
        </tr>
    </tbody>
</table>
<div  pagination ></div> 