<div class="main-name fn">
   <h4><a href="javascript:history.back();" class="back"><i></i>电商优惠券</a>/明细</h4>
</div>
 <div class="WcanalNew-tab">
    <div class="Wcanal-tab-title fn">
        <p ui-sref-active="active" ><a ui-sref="index.detiled.base" >基本信息</a></p>
        <p ui-sref-active="active" ><a ui-sref="index.detiled.move" >库存变动</a></p>
        <p ui-sref-active="active" ><a ui-sref="index.detiled.info" >使用记录</a></p>
    </div>
    <div class="Wcanal-tab-list pt15">
        <div ui-view="main"></div>
	</div>
</div>
