<div class="main-name fn">
    <h4>优惠券发放<a href="/view/ecs/prom/#/index/sales_fans_edit" class="btn-add first"><i></i>创建活动</a></h4>
</div>
<div class="SearchArea fn">
	 <form action="?" method="get" name="theform" id="theform">
	    <input type="hidden" name="limit" value="10">
	    <div class="SearchAreaLeft">
	        <label>
	            <span>名称</span>
	            <input name="goods_name" type="text" class="textbox w90" value="">
	        </label>
	        <label>
	            <span>有效期</span>
	            <div class="Stime">
	               <input value="" id="add_time" name="add_time" type="text" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"><em>至</em><input id="end_time" value="" name="eadd_time" type="text" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"> 
	            </div>
	        </label>
	        <label>
	            <span>状态</span>
	            <select name="status">
	                <option value="">全部</option>
	                <option value="">未开始</option>
	                <option value="">进行中</option>
	                <option value="">已过期</option>
	            </select>
	        </label>
	    </div>
	    <div class="SearchAreaRight">
	        <a href="javascript:void(0);" data-type="search" ng-click="Page($event.target)" class="searchBtn">查找</a>
	    </div>
	</form>
</div>
<table class="W-table FanFeedback">
   <thead>
    <tr>
        <th>名称</th>
        <th>有效期</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody class="tbody" ng-show="totalNumber">
       <tr ng-repeat="x in list.list">
          <td>{{ x.name}}</td>
          <td><span substr-str="{{ x.begin_time }}"></span>至<span substr-str="{{ x.end_time }}"></span></td>
          <td ng-show="x.status=='1'">未开始</td>
          <td ng-show="x.status=='2'">进行中</td>
          <td><input type="hidden" name="pageId"  value="{{ x.id }}" />
              <a href="/view/ecs/prom/#/index/sales_fans_edit?id={{ x.id }}">编辑</a>
              <a href="javascript:void(0)"  ng-click="detailed($event.target)">明细</a>
              <a href="javascript:void(0)" ng-click="cardlink($event.target)">链接</a>
              <a href="javascript:void(0)" ng-show="x.status=='1'" ng-click="switch($event.target)">启用</a>
              <a href="javascript:void(0)" ng-show="x.status=='2'" ng-click="switch($event.target)">停用</a>
              <a href="javascript:void(0)" ng-click="delete($event.target)">删除</a>
          </td>
      </tr>
    </tbody>
    <tbody ng-hide="totalNumber">
        <tr>
            <td colspan="4">
                <div class="nonedata"></div>
            </td>
        </tr>
    </tbody>
</table>
<div  pagination ></div> 
<div id="fansbackdetailed" class="dn">
   <table class="W-table" style="width:440px;">
       <thead>
           <tr>
               <th>电商优惠券名称</th>
               <th>总投入数量</th>
               <th>领取数量</th>
           </tr>
       </thead>
       <tbody>
           <tr ng-repeat="x in cardlist">
               <td>{{ x.name }}</td>
               <td>{{ x.total }}</td>
               <td>{{ x.get }}</td>
           </tr>
       </tbody>
   </table>
</div>
<div id="cardlink" class="dn" >
     <div class="Gform cardinfo">
          <ul>
              <li class="Gname">二维码</li>
              <li class="Ginput">
                  <div class="code">
                      <img src="/Home/Public/Image/public-qrap.png" />
                  </div>
                  <a href="javascript:void(0)">下载二维码</a>                   
              </li>
          </ul>
          <ul>
              <li class="Gname">链接地址</li>
              <li class="Ginput">
                  <input type="text" class="urldetail" value="{{ url }}" disabled="disabled"/><a href="javascript:void(0)" class="ml15 clippy">复制</a>
              </li>
          </ul>
      </div>     
</div>