<div class="main-name fn">
    <h4 ng-show="edit==0">粉丝回馈</h4>
    <h4 ng-show="edit==1"><a href="javascript:history.go(-1);" class="back"><i></i>福利发放</a>/ 编辑</h4>
</div>
<form action="" name="fans">
<div class="Gform l fansEdit">
    <h3 class="h3">基本信息</h3>
    <ul>
        <li class="Gname"><span>*</span> 活动名称</li>
        <li class="Ginput">
            <input type="text" maxlength="20" name="activename" ng-model="activename"  class="validate[required,maxSize[20]]">
            <span class="maxTips forInput" data-max="20">0/20</span>
        </li>
        
    </ul>
    <ul>
     <li class="Gname"><span>*&nbsp;</span>活动时间</li>
     <li class="Ginput">
        <div class="Gtime2 fn">
        <input type="text" class="validate[required]" ng-model="start_time" name="start_time" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
        <em>至</em>
        <input type="text" class="validate[required]" ng-model="end_time" name="end_time" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
        </div>
     </li>
   </ul>
    <ul>
        <li class="Gname"><span>*</span> 活动说明</li>
        <li class="Ginput">
            <textarea maxlength="500" name="wishing" ng-model="wishing" class="validate[required,maxSize[500]]"></textarea><span class="maxTips forArea" data-max="500">0/500</span>          
        </li>        
    </ul>
   <ul>
     <li class="Gname"><span>*</span> 引导关注</li>
     <li class="Ginput">
        <div class="switch">
            <input type="hidden" value="{{ guide || 0 }}" name="guide" >
            <div class="newRadio">
                <span ng-class="{'hover':guide==0 || !guide }" class="valfirst" ng-click="guide=0">关闭</span>
                <span ng-class="{'hover':guide==1 }" class="vallast" ng-click="guide=1">开启</span>
            </div>
            <div class="newRadio-input" ng-show="guide==1">
                <input type="text"  class="validate[required]" name="attention_url" placeholder="键入非微信粉丝的引导关注页">
            </div>  
        </div>
        <span class="txtTips l">在翼码平台绑定公众号，消费者可以在抵用券页面，点击关注你的公众号</span>
     </li>
   </ul>
   <h3 class="h3">配置电商优惠券</h3>
    <ul>
     <li class="Gname"><span>*</span> 电商优惠券：</li>
     <li class="Ginput">
       <div class="switch" >
            <input type="radio" value="{{ available || 0 }}" name="available" >
            <div class="newRadio" style="float:none">
                <span ng-class="{'hover':available==0 || !available}" class="valfirst" ng-click="available='0'">所有商品参与</span>
                <span ng-class="{'hover':available==1}" class="vallast partShop" ng-click="available='1'">部分商品参与</span>
            </div>
            <div class="newRadio-input mt15" ng-show="available==1" >
                <table class="W-table shoplist" ng-show="goods_list.length>0" >
                    <thead>
                       <tr>
                            <th class="left">商品名称</th>
                            <th class="right">操作</th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr ng-repeat="key in goods_list"><input type="hidden" name="{{ key.id }}" value='{{key.goods_name}}' />
                            <td class="left" ng-bind="key.goods_name"> </td>
                            <td class="right"><a href="javascript:void(0)" ng-click="deleteShop(key)">删除</a></td>
                        </tr>
                    </tbody>   
                    </table>
                    <div class="addPrise mr10" ng-class="{'mt15':goods_list.length>0}" ng-click="addCommodity()"><a href="javascript:void(0);" class="addPriseBtn"><i></i>添加商品</a></div>
            </div>
        </div>

     </li>
   </ul>
   <ul>
        <li class="Ginput">
            <a href="javascript:void(0);" class="btn-all" ng-click="submit()">确定</a><a href="javascript:history.back();" class="btn-all-del" ng-click="cancel()">取消</a>
        </li>
        
    </ul>
</div>
</form>