<div class="main-name fn">
    <h4>满送/减<a href="/view/ecs/prom/#/index/sales_full_edit" class="btn-add first"><i></i>创建活动</a></h4>
</div>
<div class="SearchArea fn">
     <form action="?" method="get" name="theform" id="theform">
        <input type="hidden" name="limit" value="10">
        <div class="SearchAreaLeft">
            <label>
                <span>名称</span>
                <input name="node_name" type="text"  />
            </label>
            <label>
                <span>有效期</span>
                <div class="Stime">
                   <input  name="start_time"  type="text" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"><em>至</em><input id="end_time" value="" name="end_time"  type="text" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"> 
                </div>
            </label>
            <label>
                <span>状态</span>
                <select name="status">
                    <option value="0">全部</option>
                    <option value="1">未开始</option>
                    <option value="2">进行中</option>
                    <option value="3">已过期</option>
                </select>
            </label>
        </div>
        <div class="SearchAreaRight">
            <a href="javascript:void(0);" id="sub_button" class="searchBtn">查找</a>
        </div>
    </form>
</div>
<table class="W-table full">
    <thead>
       <tr>
        <th>名称</th>
        <th>有效期</th>
        <th>状态</th>
        <th>操作</th>
    </tr> 
    </thead>
    <tbody class="tbody" ng-show="totalNumber">
        <tr ng-repeat="x in list.list">
           <input type="hidden" value="{{ x.id }}">
            <td>{{ x.name }}</td>
            <td><span substr-str="{{ x.begin_time }}"></span>至<span substr-str="{{ x.end_time }}"></span></td>
            <td ng-show="x.status=='1'">启用</td>
            <td ng-show="x.status=='2'">停用</td>
            <td>
                <a href="/view/ecs/prom/#/index/sales_full_edit?id={{ list.id }}" >编辑</a>
                <a href="javascript:void(0)" ng-click="order_info($event.target)" class="order">订单信息</a>
                <a href="javascript:void(0)" ng-click="switch($event.target)" class="switch">启用</a>
                <a href="javascript:void(0)" ng-click="delete($event.target)" class="delete">删除</a>
            </td>
        </tr> 
    </tbody>
    <tbody ng-hide="totalNumber">
        <tr>
            <td colspan="4">
                <div class="nonedata"></div>
            </td>
        </tr>
    </tbody>
    
</table>
<div  pagination ></div> 
<script id="OrderInfo" type="text/html">
 <div class="SearchArea">
     <form action="?" method="get" name="theform" id="theform">
        <input type="hidden" name="g" value="Ecshop">
        <input type="hidden" name="m" value="GoodsInfo">
        <input type="hidden" name="a" value="index">
        <div class="SearchAreaLeft">
            <label>
                <span>订单号</span>
                <input  type="text"  value="">
            </label>
           <label>
                <span>商品名称</span>
                <input  type="text"  value="">
            </label>
            <label>
                <select name="">
                    <option value="">订单状态</option>
                    <option value="">正常</option>
                    <option value="">取消</option>
                </select>
            </label>
        </div>
        <div class="SearchAreaRight">
            <a href="javascript:void(0);" class="searchBtn">查找</a>
        </div>
    </form>
</div>
<table class="W-table">
    <tr>
        <th>下单时间</th>
        <th>订单号</th>
        <th>商品名</th>  
        <th>支付状态</th>
        <th>配送状态</th>
        <th>订单状态</th>
        <th>操作</th>
    </tr>
    <tr>
        <td>2016-03-15</td>
        <td>111111111</td>
        <td>衣服衣服衣服</td>
        <td>已支付</td>
        <td>已配送</td>
        <td>完成</td>
        <td><a  class="print" ng-click="print_order($event.target)" href="javascript:void(0)" >打印订单</a></td>
    </tr>
</table>
</script>
<script id="printOrder" type="text/html">
 <div class="setting">
<div class="steps">基本信息</div>
<div class="w1 receiveInfo">
    <dl>
        <dd><label>购买人手机号</label><span>15921217744</span></dd>
        <dd><label>收货人姓名</label><span>黄良</span></dd>
        <dd><label>收货人手机号</label><span>15921217744</span></dd>
        <dd><label>收货人地址</label><span>四川内江市资中县哈哈</span></dd>
                <dd><label>备注</label><span></span></dd>
        <dd><label>订单类型</label><span>物流订单</span></dd>
    </dl>
</div>
<div class="steps">支付状态</div>
<div class="w1 receiveInfo">
    <dl>
        <dd><label>支付方式</label><span>支付宝</span></dd>
        <dd><label>状态</label><span>未支付</span></dd>
    </dl>
</div>
<div class="steps">订购信息</div>
    <div class="w1 receiveInfo">
        <dl>
            <dd><label>订购周期</label><span>0周</span></dd>
            <dd><label>配送情况</label><span>总计0份,已配送0份</span></dd>
        </dl>
    </div>
    <div class="steps">最近一次配送物流信息</div>
    <div class="w1 receiveInfo">
        <dl>
                 <dd><label>物流公司</label><span></span></dd>
                <dd><label>物流单号</label><span></span></dd>
                <dd><label>发出时间</label><span></span></dd>
                <dd><label>配送状态</label><span></span></dd>   
        </dl>
    </div>

<div class="steps">商品清单</div>
<div class="apply mt15">
    <table class="W-table blue">
    <tbody>
    <tr>
    <th>商品名称</th>
    <th>商品规格</th>    <th>购买数量</th>
    <th>金额</th>
    </tr>
    <tr>
    <td>码上买流程</td>
    <td>1/黄色/1</td>    <td>1</td>
    <td>120.00元</td>
    </tr>    </tbody>
</table>
<div class="steps mt15">赠品清单</div>
<div class="apply mt15">
    <table class="W-table blue">
    <tbody>
    <tr>
    <th>商品名称</th>
    <th>商品规格</th>    <th>购买数量</th>
    <th>金额</th>
    </tr>
    <tr>
    <td>码上买流程</td>
    <td>1/黄色/1</td>    <td>1</td>
    <td>120.00元</td>
    </tr>    </tbody>
</table>
    <div class="toPay" style=" padding:15px 20px; clear:both; display:block; background:#f8f8f8">
    <ul>
        <li><span>商品总金额&nbsp;&nbsp;</span>￥ 120</li>
        <li><span>红包抵用&nbsp;&nbsp;</span>-￥0.00</li>
        <li><span>糖逗逗抵用-&nbsp;&nbsp;</span>0.00</li>
        <li><span>运费&nbsp;&nbsp;</span>+￥0.00</li>
        <li><span>实收&nbsp;&nbsp;</span><i>￥<strong id="shouldPay">120.00</strong></i></li>
    </ul>
    <div class="cl rel"></div>
    </div>

    </div>
</div>   
</script>