<div class="main-name fn"> 
    <h4>电商优惠券<a href="/view/ecs/prom/#/index/index_edit" class="btn-add first"><i></i>创建优惠券</a></h4>
</div>
<div class="tipNormal mb15">
    <p>消费者可以在支付订单时使用，扣除相应金额</p>
</div>
<div class="SearchArea fn">
     <form action="?" method="get" name="theform">
        <input type="hidden" name="limit" value="10">
        <input type="hidden" name="node_id" value="{{ node_id }}">
        <div class="SearchAreaLeft">
            <label>
                <span>名称</span>
                <input name="goods_name" type="text">
            </label>
            <label>
                <span>有效期</span>
                <div class="Stime">
                   <input value="" name="start_time" type="text" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"><em>至</em><input  name="end_time" type="text" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"> 
                </div>
            </label>
        </div>
        <div class="SearchAreaRight">
            <a href="javascript:void(0);" data-type="search" ng-click="Page($event.target)" class="searchBtn">查找</a>
        </div>
    </form>
</div>
<table class="W-table cashvoucher" >
    <thead>
       <tr>
            <th>名称</th>
            <th>有效期</th>
            <th>面额</th>
            <th>领取限制</th>
            <th>总数</th>
            <th>发放数</th>
            <th>使用数</th>
            <th>操作</th>
        </tr> 
    </thead>
    <tbody class="tbody" ng-show="totalNumber">
        <tr ng-repeat="x in list.list">
            <td ng-bind="x.name"></td>
            <td><span substr-str="{{ x.begin_time }}"></span>至<span substr-str="{{ x.end_time }}"></span></td>
            <td ng-bind="x.price"></td>
            <td ng-show="x.limit_flag=='1'">限制</td>
            <td ng-show="x.limit_flag=='2'">不限</td>
            <td><span class="totle" ng-bind="x.total" ng-show="x.total !='-1'"></span><span class="totle" ng-show="x.total=='-1'">不限</span></td>
            <td ng-bind="x.get_num" ng-show="x.get_num"></td>
            <td ng-hide="x.get_num">未发放</td>
            <td><span class="red" ng-bind="x.use_num" ng-show="x.use_num"></span><span  ng-hide="x.use_num">未使用</span></td>
            <td>
                <input type="hidden" name="pageId"  value="{{ x.id }}" />
                <a href="/view/ecs/prom/#/index/index_edit?id={{ x.id }}">编辑</a><br/>
                <a href="javascript:void(0)" class="click-more">
                    <span>更多<i class="arrow"></i></span>
                    <div class="more-list">
                        <dl>
                            <dd ng-click="phone($event.target)">手机号发放</dd>
                            <dd ng-click="addstock($event.target)">库存管理</dd>
                            <dd ng-click="detiled($event.target)">明细</dd>
                            <dd ng-click="delete($event.target)">删除</dd>
                        </dl>
                    </div>
                </a>
            </td>
        </tr>
    </tbody>
    <tbody ng-hide="totalNumber">
        <tr>
            <td colspan="8">
                <div class="nonedata"></div>
            </td>
        </tr>
    </tbody>
</table> 
<div  pagination ></div>  
 <script type="text/html" id="stock">
    <div class="addstock Gform" style="width:440px;">
       <form action="" name="addstock">
          <input type="hidden" value="addstock" name="addstock" />
        <ul>
            <li class="Gname"><span>*&nbsp;</span>输入增加的库存量：</li>
            <li class="Ginput">
                <input type="text" id="addstock" style="width:200px;"  name="add_stock" />
            </li>
        </ul> 
        </form>
    </div>
</script>       