<!DOCTYPE html>
<html ng-app="prom">
<head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>多宝电商-促销管理</title>
      <link rel="stylesheet" type="text/css" href="/view/assets/css/base.css" /> 
      <link rel="stylesheet" type="text/css" href="/view/assets/js/validationEngine/css/validationEngine.jquery.css" />  
      <link rel="stylesheet" type="text/css" href="/view/assets/css/ecshop/prom.css" />
      <script type="text/javascript" src="/view/assets/js/angularjs/angular.min.js"></script>
      <script type="text/javascript" src="/view/assets/js/angularjs/angular-cookies.min.js"></script>
      <script type="text/javascript" src="/view/assets/js/angularjs/angular-ui-router.min.js"></script>
      <script type="text/javascript" src="/view/assets/js/jquery-1.11.1.min.js"></script>
      <script type="text/javascript" src="/view/assets/js/jquery.cookie.js"></script>
      <script type="text/javascript" src="/view/assets/js/jquery.zclip.min.js" ></script>
      <script type="text/javascript" src="/view/assets/js/My97DatePicker/WdatePicker.js"></script>
      <script type="text/javascript" src="/view/assets/js/validationEngine/languages/jquery.validationEngine-zh_CN.js" ></script>
      <script type="text/javascript" src="/view/assets/js/validationEngine/jquery.validationEngine.js" ></script>
      <script type="text/javascript" src="/view/assets/js/artDialog4.1.6/jquery.artDialog.js?skin=default" ></script>
      <script type="text/javascript" src="/view/assets/js/artDialog4.1.6/plugins/iframeTools.js"></script>
      <script type="text/javascript" src="/view/assets/js/jquery-ui-1.11.2.custom/template.js"></script>   
      <script type="text/javascript" src="/view/assets/js/ecshop/app.js"></script>
      <script type="text/javascript" src="/view/assets/js/ecshop/controller.js"></script>
      <script type="text/javascript" src="/view/assets/js/ngPage.js"></script>
</head>
<body  ng-cloak>
<div id="wrapper">
<!-- 公共头部 -->
<div ng-head></div>
<!-- 一级导航 -->
<div class="shopNav">
      <div class="w1100">
         <ul>
            <li><a href="/index.php?g=Home&m=Index&a=marketingShow5">多宝电商</a></li>
            <li><a href="/index.php?g=Ecshop&m=Index&a=index">旺财小店</a></li>
            <li><a href="/index.php?g=Ecshop&m=GoodsInfo&a=indexNew">商品销售</a></li>
            <li class="hover"><a href="/view/ecs/prom/">促销管理</a></li>
            <li><a href="/index.php?g=LabelAdmin&m=OrderList&a=index">订单中心</a></li>
            <li><a href="/index.php?g=Ecshop&m=BatchTrace&a=index">凭证中心</a></li>
          </ul>
      </div>
</div>
<div ui-view></div>

<!-- 公共右侧 -->
<div ng-aside></div>

<!-- 公共底部 -->
<div ng-foot></div>
</div>
</body>
</html>
<script>

var _hmt = _hmt || [];
(function() {
    var hm1 = document.createElement("script");
    var hm2 = document.createElement("script");
    hm1.src = "//hm.baidu.com/hm.js?ab5c1948317f7d13b46c8f6fa373c3ee";
    hm2.src = "//hm.baidu.com/hm.js?d63513a907e602a2cc2cb6970d7765b8";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm1, s);
    s.parentNode.insertBefore(hm2, s);
})();
</script>
