<div class="sidenav">
    <ul class="accordion">
      <li>
        <div class="title">促销管理</div>
      </li>
      <li ng-class="{'open':sidenavTitle=='voucher'}">
           <div class="link" ><a ng-click="leftTitle('voucher')" ui-sref="index" >电商优惠券</a></div>
      </li>
      <li ng-class="{'open':sidenavTitle=='sales'}">
          <div class="link" ><a ng-click="leftTitle($event.target)" data-type="sales">促销应用</a><i class="downArrow"></i></div>
          <ul class="submenu">
              <li ng-class="{'hover':sidenavName=='fans'}"><a ui-sref="index.fans"  ng-click="sidenavName='fans'">优惠券发放</a></li>
              <li ng-class="{'hover':sidenavName=='full'}"><a ui-sref="index.full"  ng-click="sidenavName='full'" >满送/减</a></li>
          </ul>
      </li>          
    </ul>
</div>