<div class="main-name fn">
    <h4><a href="javascript:history.go(-1);" class="back"><i></i>电商优惠券</a>/批量发放</h4>
</div>
<form id="priForm" method="post" enctype="multipart/form-data" action="">
    <input type="hidden" name="goods_type" value="{$goodsData[goods_type]}" />
    <input type="hidden" name="goods_id" value="{$goodsData[goods_id]}" />
    <div class="eTicket_form" style="float:left;">
    <div class="imvBox">
        <div class="imvBox-edit">
        <div id="Wform" class="Gform l">
            <ul>
                <li class="Gname">卡券名称</li>
                <li class="Ginput"><input type="hidden" name="card_name" value="{{ card_name }}"/>
                    <p class="txt">{{ card_name }}</p>
                </li>
            </ul>
            <ul>
                <li class="Gname">剩余库存</li>
                <li class="Ginput"><input type="hidden" name="card_stock" value="{{ card_stock }}"/>
                    <p class="txt">{{ card_stock }}</p>
                </li>
            </ul>
            <ul>
                <li class="Gname"><span>*</span> 发给</li>
                <li class="Ginput">
                    <div class="switch" ng-class="{'hover':newRadio=='1'}">
                        <input type="radio" value="{{ newRadio || 0 }}" name="uploadType" >
                        <div class="newRadio">
                            <span class="valfirst" ng-class="{'hover':newRadio=='0' || !newRadio }" ng-click="newRadio='0'">10个以内手机号</span>
                            <span class="vallast" ng-class="{'hover':newRadio=='1' }" ng-click="newRadio='1'">多于10个手机号</span>
                        </div>
                        <div class="cl mt10"></div>
                        <div class="newRadio-default" ng-show="newRadio=='0' || !newRadio">
                            <textarea name="phone_no" placeholder="请填写要发送的手机号。多个手机号请用逗号隔开，最多可填写10个手机号"></textarea>
                        </div>
                        <div class="newRadio-input" ng-show="newRadio=='1'">
                            <div class="Gchoose">
                                <input type="text" value="" name="Telsfile">
                                <a href="javascript:void(0)"></a>
                                <a href="javascript:void(0)" class="Gbtn-papers" title="选择材料"><i><input type="file" name="phone_no_path"></i></a>
                            </div>
                            <span class="txtTips"><a href="/index.php?g=WangcaiPc&m=NumGoods&a=loadModel">【批量发送模板】</a> 每次最多导入1000条手机号</span>
                        </div>
                    </div>
                    <p class="txtTips">注：请确保您的账户余额或旺币余额充足，以免造成发送失败</p>
                </li>
            </ul>
             <ul>
                <li class="Gname"><span>*</span> 优惠券有效期</li>
                <li class="Ginput">
                <div class="switch" ng-class="{'hover':time_type=='1'}">
                    <input type="hidden" name="time_type" value="{{ time_type || 0}}" >
                    <div class="newRadio">
                        <span class="valfirst" ng-class="{'hover':time_type=='0' || !time_type }" ng-click="time_type='0'">按日期设置</span>
                        <span class="vallast" ng-class="{'hover':time_type=='1'}" ng-click="time_type='1'">按天数设置</span>
                    </div>
                    <div class="newRadio-default" ng-show="time_type=='0' || !time_type">
     
                       <div class="Gtime2 fn mt10">
                        <input type="text" class="validate[required]" onclick="WdatePicker({minDate:'%y-%M-%d',maxDate:'#F{$dp.$D(\'goods_end_date\')}'})" id="goods_begin_date" style="width: 99px; padding-right: 30px;" name="use_start_time" value="">
                        <em>至</em>
                        <input type="text" class="validate[required]" style="width: 99px; padding-right: 30px;" onclick="WdatePicker({minDate:'#F{$dp.$D(\'goods_begin_date\')||\'%y-%M-%d\'}'})" id="goods_end_date" name="use_end_time" value="">
                        </div>
           
                        <span class="txtTips cl fn">商户可以自定义验码开始的日期如："4月1号至6月1号";</span>
                    </div>
                    <div class="newRadio-input" ng-show="time_type=='1'">
                         <div class="Gtime1 fn special mt10">
                                <em class="em1">发送卡券后</em>
                                <input type="text" class="validate[required]" id='dataAmountStart' name="later_start_time" value='' style="padding-right: 45px;"/>
                                <em class="em2">天开始使用</em>
                            </div>
                            <div class="Gtime1 fn special mt10">
                                <em class="em1">发送卡券后</em>
                                <input type="text" class="validate[required]" id='dataAmountEnd' name="later_end_time" value="" style="padding-right: 45px;">
                                <em class="em2">天结束使用</em>
                            </div>
                        <span class="txtTips">商户可以自定义验码时间，如：“发送卡券后3天开始使用-<br />发送卡券后5天结束使用”</span>
                    </div>
                </div>
                </li>
            </ul>
             <ul>
                <li class="Gname"><span>*</span> 短息提示</li>
                <li class="Ginput">
                <div class="switch" ng-class="{'hover':notice=='1'}">
                    <input type="hidden" name="notice" value="{{ notice || 0 }}" >
                    <div class="newRadio">
                        <span class="valfirst" ng-class="{'hover':notice=='0' || !notice }" ng-click="notice='0'">不提示</span>
                        <span class="vallast" ng-class="{'hover':notice=='1'}" ng-click="notice='1'">提示</span>
                    </div>
                    <div class="newRadio-input mt15" ng-show="notice=='1'">
                        <textarea name="notice_info" placeholder="小店名称】10元优惠券已存入您的账户。可前往小店 - 个人中心 - 我的抵用券查看。点击前往小店http://xiao.cn/eeew。如非本人操作请忽略！"></textarea>
                       
                    </div>
                </div>
                </li>
            </ul>
            <ul>
            <li class="Ginput">
                <a href="javascript:void(0);" class="btn-all" ng-click="submit()">确定</a><a href="javascript:history.back();" class="btn-all-del" ng-click="cancel()">取消</a>
            </li>
            
        </ul>
            </div>
        </div>
        <div class="imvBox-show" style="margin-top:15px;">
            <div id="phone" style="background:#FFF">
            <div class="phonetop"></div>
            <div id="phoneCon">
                <div class="wx-show">
                    <img src="/view/assets/image/shortMsg-top.png">
                    <div class="wx-sc-content" style=" font-size:13px; line-height:18px; color:#000; margin:0 10px; padding:0 8px; background:#e5e5ea; width:204px;">
                        <p>辅助码：00000000000000</p>
                        <p>您收到<span class="shname">【{{ shop_name }}】 {{ card_name }}</span></p>
                        <p>详见<a href="javascript:void(0)">ym06.cn/fln3Qb</a>【翼码科技】</p>
                    </div>
                    <img src="/view/assets/image/shortMsg-bottom.png">
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <img src="/view/assets/image/prizeConfig_usage.png" class="prizeConfig_usage dn" style="position: relative; float:left; left:0px; top:15px;">
</form>