<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>分销管理_美惠商城</title>
<meta name="Keywords" content="{:C('SITE_KEYWORDS')}" />
<link href="__PUBLIC__/Css/main.css?v=__VR__" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Css/layout.css?v=__VR__" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Css/module.css?v=__VR__" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Css/Wcanal.css?v=__VR__" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Css/Wnumgoods.css?v=__VR__" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Css/Waccount.css?v=__VR__" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Css/Wshop.css?v=__VR__" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Css/FbMeihui.css?v=__VR__" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Js/validationEngine/css/validationEngine.jquery.css?v=__VR__" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.2.min.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-1.11.4.custom/jquery-ui.min.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.cookie.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Wcanal.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/global.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/artDialog4.1.6/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.form.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/artDialog4.1.6/plugins/iframeTools.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/dtree/dtree.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Wproduct.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/artTemplate/template.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-1.11.2.custom/template.js?v=__VR__"></script>
<script type="text/javascript" src="__PUBLIC_LOCAL__/Js/My97DatePicker/WdatePicker.js?v=__VR__"></script>
<script>
 function bindNew(){
     $(".agency_edit").click(function(e) {
         var id = $(this).parent().attr("salerid");
         var level = $(this).parent().attr("level");
         art.dialog.open("{:U('Wfx/Fxgl/mHEdit')}"+"&id="+id+"&level="+level,{
             id:"Fxgleditagency",
             title:"编辑门店",
             width:"600px",
             height:"650px",
             lock:true
         });
     });
     $(".saler_edit").click(function(e) {
         var id = $(this).parent().attr("salerid");
         var level = $(this).parent().attr("level");
         art.dialog.open("{:U('Wfx/Fxgl/mHEdit')}"+"&id="+id+"&level="+level,{
             id:"Fxgleditsaler",
             title:"编辑",
             width:"600px",
             height:"530px",
             lock:true
         });
     });
     $(".viewfxyj").click(function(e) {
         var roleid = $(this).attr("roleid");
         var strArr = new Array();
         strArr     = roleid.split("-");
         var role   = strArr[0];
         var id     = strArr[1];
         $.cookie('v_toggle','vxyj');
         art.dialog.open("{:U('Wfx/Fxgl/viewDetails')}"+"&role="+role+"&id="+id,{
             id:"viewDetailss",
             title:"查看详情",
             width:"800px",
             height:"550px",
             lock:true
         });
     });
     $(".zuan_js_stop").click(function(e) {
         var id = $(this).parent().attr("salerid");
         art.dialog.open("{:U('Wfx/Fxgl/mhStop')}"+'&id='+id+'&level=2',{
             id:"saler_stop",
             title:"停用",
             width:"500px",
             height:"400px",
             lock:true
         });
     });
     $(".gold_js_stop").click(function(e) {
         var id = $(this).parent().attr("salerid");
         art.dialog.open("{:U('Wfx/Fxgl/mhStop')}"+'&id='+id+'&level=3',{
             id:"saler_stop",
             title:"停用",
             width:"500px",
             height:"400px",
             lock:true
         });
     });
     $(".silver_js_stop").click(function(e) {
         var id = $(this).parent().attr("salerid");
         art.dialog.open("{:U('Wfx/Fxgl/mhStop')}"+'&id='+id+'&level=4',{
             id:"saler_stop",
             title:"停用",
             width:"500px",
             height:"400px",
             lock:true
         });
     });
     $(".saler_js_start").click(function(e) {
         var id = $(this).parent().attr("salerid");
         art.dialog.open("{:U('Wfx/Fxgl/start')}"+'&id='+id+'&role=1',{
             id:"saler_start",
             title:"启用",
             width:"500px",
             height:"240px",
             lock:true
         });
     });
     $(".checkSalerStatus").click(function(e){
         var id = $(this).parent().attr("salerid");
         art.dialog.open("{:U('Wfx/Fxgl/mhCheckStatus')}&id="+id,{
             id:"saler_check",
             title:"审核销售员",
             width:"600px",
             height:"300px",
             lock:true
         });
     });
     $(".downgrade").click(function(e){
         var id = $(this).parent().attr("salerid");
         var level = $(this).parent().attr("level");
         var title="您确认降级？";
         var url = "{:U('Wfx/Fxgl/mHDowngrade')}";
         art.dialog.confirm(title,function(){
             $.post(url,{"id":id,'level':level},function(data){
                 if(data.status==1){
                     Diasucceed("降级成功！");
                     if(level==2){
                         $("#zuan_sub_button").click();
                     }else if(level==3){
                         $("#gold_sub_button").click();
                     }
                     refreshTree();
                     //window.location.reload();
                 }else{
                     Diaerror(data.info);
                 }
             },"json");
         });
     });
     $(".upgrade").click(function(e){
         var id = $(this).parent().attr("salerid");
         var level = $(this).parent().attr("level");
         var title="您确认升级？";
         var url = "{:U('Wfx/Fxgl/mHupgrade')}";
         art.dialog.confirm(title,function(){
             $.post(url,{"id":id,'level':level},function(data){
                 if(data.status==1){
                     Diasucceed("升级成功！");
                     if(level==4){
                         $("#silver_sub_button").click();
                     }else if(level==3){
                         $("#gold_sub_button").click();
                     }
                     refreshTree();
                 }else{
                     Diaerror(data.info);
                 }
             },"json");
         });
     });
     $(".saler_js_move").click(function(e) {
         var id = $(this).parent().attr("salerid");
         var level = $(this).parent().attr("level");
         art.dialog.open("{:U('Wfx/Fxgl/mhMove')}"+"&id="+id+"&level="+level,{
             id:"saler_move",
             title:"转移",
             width:"500px",
             height:"230px",
             lock:true
         });
     });
 }
 function clickRefresh(level){
     if(level==2){
         $("#zuan_sub_button").click();
     }else if(level==3){
         $("#gold_sub_button").click();
     }else if(level==4){
         $("#silver_sub_button").click();
     }else{
         $("#agency_sub_button").click();
     }
     refreshTree();
 }
 function refreshTree(){
     var postUrl1="{:U('Wfx/Fxgl/getLeftTree')}";
     $.post(postUrl1,{'getType':1},function(resp){
         if(resp.status==1){
             loadingTree(resp.info);
             firstAdd();
         }
     },"json");
 }
$(function(){
    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', '');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
        } else {
            children.show('fast');
            $(this).find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
        }
        e.stopPropagation();
    });
	$( ".tree li.parent_li span" ).sortable({
      revert: true
    });
    $( ".tree li.parent_li span" ).draggable({
      connectToSortable: ".tree li.parent_li span",
      helper: "clone",
      revert: "invalid"
    });
    $( ".tree li.parent_li span" ).disableSelection();
    // 判断是否首次加载页面，如果是首次，清除cookie
    if("{$firstload}" == '1'){
        $.cookie('toggle','');
    }
    if($.cookie('toggle') == 'saler'){
        $("#p1").removeClass("Wcanal-tab-hover");
        $("#p2").addClass("Wcanal-tab-hover");
        $("#salerB").attr('style','display: block;');
        $("#agencyA").attr('style','display: none;');
    }
	$(".js_addfx").click(function(e) {
		art.dialog.open("{:U('Wfx/Fxgl/add')}",{
            id:"Fxgladd",
			title:"新增会员",
			width:"600px",
            height:"700px",
			lock:true
		});
    });
    $(".saler_edit").click(function(e) {
        var id = $(this).parent().attr("salerid");
        art.dialog.open("{:U('Wfx/Fxgl/edit')}"+"&role=1&id="+id,{
            id:"Fxgleditsaler",
            title:"编辑销售员",
            width:"600px",
            height:"530px",
			lock:true
        });
    });
	$(".js_import").click(function(e) {
		art.dialog.open("index.php?g=Wfx&m=Fxgl&a=mhdownload",{
			title:"导出",
			width:"600px",
			height:"420px",
			lock:true
		});
    });
	$(".viewdetail").click(function(e) {
        var roleid = $(this).attr("roleid");
        var strArr = new Array();
        strArr     = roleid.split("-");
        var role   = strArr[0];
        var id     = strArr[1];
        $.cookie('v_toggle','detail');
		art.dialog.open("{:U('Wfx/Fxgl/viewDetails')}"+"&role="+role+"&id="+id,{
            id:"viewDetails",
			title:"查看详情",
			width:"800px",
			height:"550px",
			lock:true
		});
    });
    $(".agency_js_move").click(function(e) {
        var id = $(this).parent().attr("salerid");
        art.dialog.open("{:U('Wfx/Fxgl/move')}"+"&id="+id+"&role=2",{
            id:"agencymove",
            title:"转移经销商到其他经销商下",
            width:"500px",
            height:"230px",
            lock:true
        });
    });
	$(".agency_js_start").click(function(e) {
        var id = $(this).parent().attr("salerid");
        art.dialog.open("{:U('Wfx/Fxgl/start')}"+'&id='+id+'&role=2',{
            id:"agency_start",
            title:"启用",
            width:"500px",
            height:"240px",
            lock:true
        });
    });
	$(".agency_js_stop").click(function(e) {
        var id = $(this).parent().attr("salerid");
        art.dialog.open("{:U('Wfx/Fxgl/stop')}"+'&id='+id+'&role=2',{
            id:"agency_stop",
            title:"停用",
            width:"500px",
            height:"400px",
            lock:true
        });
    });
    $(".checkAgencyStatus").click(function(e){
        var id = $(this).parent().attr("salerid");
        art.dialog.open("{:U('Wfx/Fxgl/checkStatus')}&role=2&id="+id,{
            id:"agency_check",
            title:"审核门店",
            width:"600px",
            height:"200px",
            lock:true
        });
    });
    $("#agency_sub_button").click(function(){
        var agency_name=$("#agency_name").val();
        var data={'level':1,'agencyName':agency_name};
        loadingData(1,data)
    });
    $("#zuan_sub_button").click(function(){
        var data={
            'level':2,
            'diamondsName':$("#diamondsName").val(),
            'diamondsPhone':$("#diamondsPhone").val(),
            'diamondsStatus':$("#diamondsStatus").val()
        };
        loadingData(2,data)
    });
    $("#gold_sub_button").click(function(){
        var data={
            'level':3,
            'goldName':$("#goldName").val(),
            'goldNamePhone':$("#goldNamePhone").val(),
            'goldStatus':$("#goldStatus").val()
        };
        loadingData(3,data)
    });
    $("#silver_sub_button").click(function(){
        var data={
            'level':4,
            'silverName':$("#silverName").val(),
            'silverPhone':$("#silverPhone").val(),
            'silverStatus':$("#silverStatus").val()
        };

        loadingData(4,data)
    });
    $("#grade_sub_button").click(function(){
        var data={
            'gradeStartTime':$("#gradeStartTime").val(),
            'gradeEndTime':$("#gradeEndTime").val(),
            'gradeName':$("#gradeName").val(),
            'gradePhone':$("#gradePhone").val(),
            'gradeStatus':$("#gradeStatus").val()
        };
        loadingData(5,data)
    });
    $("#saler_sub_button").click(function(){
        $("#saler_form").submit();
    });
	$(".js_check").click(function(){
        art.dialog.open("{:U('Wfx/Fxgl/checkAllStatus')}",{
            id:"all_check",
            title:"批量审核",
            width:"600px",
            height:"250px",
            lock:true
        });
    });
})
    function saler(){
        $.cookie('toggle','saler');
    }
    function agency(){
        $.cookie('toggle','agency');
    }
    function treeTrans(id){
        if(id == '0'){
            window.location.href="{:U('Wfx/Fxgl/index')}";
        }else{
            window.location.href="{:U('Wfx/Fxgl/index')}&id="+id;
        }
    }
    function stopSaler(stoptype,id){
        var url = "{:U('Wfx/Fxgl/stopsaler')}&stop="+stoptype+"&id="+id;
        $("#tempform").attr('action',url).ajaxSubmit({
            beforeSubmit:function(){
                dialog = art.dialog({title:false,content:"<div class='msg-all-succeed'>正在提交...</div>",fixed: true,padding:0});
            },
            success:function(data){
                if(data.status == '1'){
                    dialog.time(1).content("<div class='msg-all-succeed'>"+data.info+"</div>");
                    window.location.reload(-1);
                    return false;
                }else{
                    dialog.time(2).content("<div class='msg-all-error'>"+data.info+"</div>");
                }
            },
            dataType:'json',
        });
    }
    $(function(){
        productIntroduce(10,"wfx","{:U('Wfx/Index/index')}");}
    );
</script>
<style type="text/css">
.noInfo{ background:#f5f5f5; display:block; font-size:14px; line-height:24px; color:#666666; padding:20px 25px;}
.exclamation{ width:22px; height:22px; background:url(__PUBLIC__/Image/Wfx/exclamation.png) no-repeat; display:inline-block; vertical-align:middle; margin-right:5px;}
.grade{ background:#f15755; font-size:10px; color:#FFF; font-style:normal; padding:0 5px; line-height:16px; border-radius:2px; position:relative; margin-right:5px; font-weight:100}
.grade:after{top: 4px;right: -7px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(255, 255, 255, 0);border-left-color: #f15755;border-width: 4px;margin-left: -4px;}
.viewdetail{color:#3D86BA;}
.viewdetail:hover{cursor:pointer;color:#F15755;}
</style>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Js/easyui/easyui.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Js/easyui/icon.css">
<script type="text/javascript" src="__PUBLIC__/Js/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/treegrid-dnd.js"></script>
</head>
<body>
    <div id="wrapper">
    	<include file="./Home/Tpl/Public/Public_header.html" />
        <!--开始引入头部菜单-->
        <div class="shopNav">
        <include file="./Home/Tpl/Wfx/topMenu.html" topmenuid="wfxindex"/>
        </div>
        <div id="container" class="bgfff" style="margin-top:10px;">
            <div id="main" class="rel">
                <div class="sidenav" style="margin-top:0">
                <div class="tree"></div>
                </div>
                <div class="subcon fn">
                	<div class="main-name fn">
                    <span class="redfont" style=" clear:right; float:right;" id="exceed"></span>
                    <h4>美惠商城<a class="btn-add first js_addfx" href="javascript:void(0)"><i></i>新增会员</a><a href="javascript:void(0)" class="btn-import js_import">导出</a></h4>
                </div>
                <div class="tipNormal">
                	<span>共有门店{$total[1]}家，钻石会员{$total[2]}位，金牌会员{$total[3]}位，银牌会员{$total[4]}位。</span>
                </div>
                <div class="Wcanal-tab mt15" id="Wcanal-tabon">
					<div class="Wcanal-tab-title fn">
                        <p id="p1" class="Wcanal-tab-hover"><a href="javascript:void(0);" onclick="loadingData(1);">门店</a></p>
                        <p id="p2" class="" ><a href="javascript:void(0);"  onclick="loadingData(2);">钻石会员</a></p>
                        <p id="p3" class="" ><a href="javascript:void(0);"  onclick="loadingData(3);">金牌会员</a></p>
                        <p id="p4" class="" ><a href="javascript:void(0);"  onclick="loadingData(4);">银牌会员</a></p>
                        <p id="p5" class="" ><a href="javascript:void(0);"  onclick="loadingData(5);">查看等级变动</a></p>
                    </div>
					<div class="Wcanal-tab-list">
                    	<div class="cl pt20"></div>
                        <div class="SearchArea fn">
                                <div class="SearchAreaLeft">
                                    <label>
                                    <span>门店名称</span><input type="text" name="agency_name" id="agency_name" value="{$agency_name}">
                                    </label>
                                    </div>
                                    <div class="SearchAreaRight">
                                        <a href="javascript:void(0);" class="searchBtn" id="agency_sub_button">查询</a>
                                    </div>
                        </div>
                        <div class="shopCon">
                            <div id="store"></div>
                        </div>
                    </div>
                    <div class="Wcanal-tab-list"style="display: none;">
                    	<div class="cl pt20"></div>
                        <div class="SearchArea fn">
                                <div class="SearchAreaLeft">
                                    <label><span>会员名称</span><input type="text" name="diamondsName" id="diamondsName" value=""></label>
                                    <label><span>手机号码</span><input type="text" name="diamondsPhone" id="diamondsPhone" value=""></label>
                                    <label><span>状态</span>
                                        <select name="diamondsStatus" id="diamondsStatus">
                                            <option value="">全部</option>
                                            <option  value="3">审核通过</option>
                                            <option  value="1">审核中</option>
                                            <option  value="2">未通过</option>
                                    </select>
                                    </label>
                                </div>
                                <div class="SearchAreaRight">
                                     <a href="javascript:void(0);" class="searchBtn" id="zuan_sub_button">查询</a>
                                </div>
                        </div>
                        <div class="shopCon">
                            <div id="zuan"></div>
                        </div>
                    </div>
                    <div class="Wcanal-tab-list" style="display: none;">
                    	<div class="cl pt20"></div>
                        <div class="SearchArea fn">
                            <div class="SearchAreaLeft">
                            <label><span>会员名称</span><input type="text" name="goldName" id="goldName" value=""></label>
                            <label><span>手机号码</span><input type="text" name="goldNamePhone" id="goldNamePhone" value=""></label>
                            <label><span>状态</span><select name="goldStatus" id="goldStatus">
                                <option value="">全部</option>
                                <option value="3">审核通过</option>
                                <option value="1">审核中</option>
                                <option value="2">未通过</option>
                            </select>
                            </label>
                            </div>
                            <div class="SearchAreaRight">
                            <a href="javascript:void(0);" class="searchBtn" id="gold_sub_button">查询</a>
                            </div>
                        </div>
                        <form id="tempform" action="" method="get">
                        </form>
                        <div class="shopCon">
                            <div id="gold"></div>
                        </div>
                    </div>
                    <div class="Wcanal-tab-list" style="display: none;">
                    	<div class="cl pt20"></div>
                        <div class="SearchArea fn">
                            <input type="hidden" name="postFrom" value="saler" />
                            <div class="SearchAreaLeft">
                            <label><span>会员名称</span><input type="text" name="silverName" id="silverName" value=""></label>
                            <label><span>手机号码</span><input type="text" name="silverPhone" id="silverPhone" value=""></label>
                            <label><span>状态</span><select name="silverStatus" id="silverStatus">
                                <option value="">全部</option>
                                <option  value="3">审核通过</option>
                                <option  value="4">停用</option>
                                <option  value="1">审核中</option>
                                <option  value="2">未通过</option>
                            </select>
                            </label>
                            </div>
                            <div class="SearchAreaRight">
                            <a href="javascript:void(0);" class="searchBtn" id="silver_sub_button">查询</a>
                            </div>
                        </div>
                        <div class="shopCon">
                            <div id="silver"></div>
                        </div>
                    </div>
                    <div class="Wcanal-tab-list" style="display: none;">
                    	<div class="cl pt20"></div>
                        <div class="SearchArea fn">
                            <div class="SearchAreaLeft">
                            <label>
                                <span>日期</span>
                                <div class="Stime">
                                    <input type="text" value="" name="gradeStartTime" id="gradeStartTime" onclick="WdatePicker({dateFmt:'yyyyMMdd'})"/>
                                    <em>至</em>
                                    <input type="text" value="" name="gradeEndTime" id="gradeEndTime" onclick="WdatePicker({dateFmt:'yyyyMMdd'})"/>
                                </div>
                            </label>
                            <label><span>会员名称</span><input type="text" name="gradeName" id="gradeName" value=""></label>
                            <label><span>手机号码</span><input type="text" name="gradePhone" id="gradePhone" value=""></label>
                            <label><span>状态</span><select name="gradeStatus" id="gradeStatus">
                                <option  value="">全部</option>
                                <option  value="3">不变</option>
                                <option  value="2">升级</option>
                                <option  value="1">降级</option>
                            </select>
                            </label>
                            </div>
                            <div class="SearchAreaRight">
                            <a href="javascript:void(0);" class="searchBtn" id="grade_sub_button">查询</a>
                            <a class="more-filter" href="javascript:void(0);">更多筛选</a>
                            </div>
                        </div>
                        <div class="shopCon">
                            <div id="gradeChange"></div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service"></div>
    <include file="./Home/Tpl/Public/Public_footer.html" />
</body>
</html>
<script type="text/html" id="tpl">
    <ul>
        <li><a>美惠商城</a>
            <ul>
                {{each children as value i}}
                <li data-id={{value.id}}><a href="javascript:void(0);" data-rel="p{{value.level}}"><i class="{{value.icon}}"></i><span>{{value.name}}</span>
                </a>
                    <ul>
                        {{each value.children as value2 j}}
                        <li data-id={{value2.id}}><a href="javascript:void(0);" data-rel="p{{value2.level}}"><i class="{{value2.icon}}"></i><span>{{value2.name}}</span>
                        </a>
                            <ul>
                                {{each value2.children as value3 k}}
                                <li data-id={{value3.id}}><a href="javascript:void(0);" data-rel="p{{value3.level}}">
                                    <i class={{value3.icon}}></i>
                                    <span>{{value3.name}}</span>
                                </a>
                                    <ul>
                                        {{each value3.children as value4 l}}
                                        <li data-id={{value4.id}}><a href="javascript:void(0);" data-rel="p{{value4.level}}"><i class={{value4.icon}}></i><span>{{value4.name}}</span></a></li>
                                        {{/each}}
                                    </ul>
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/each}}
                    </ul>
                </li>
                {{/each}}
            </ul>
        </li>
    </ul>
</script>
<script id="storeList" type="text/html">
        <table cellpadding="0" cellspacing="0" class="shopTable">
        <tbody>
        <tr class="title">
            <th width="22%" class="first">门店名称</th>
            <th width="12%">会员人数（人）</th>
            <th width="12%">创建时间</th>
            <th width="14%">操作</th>
        </tr>
        {{if hasData ==1}}
        {{each info as value i}}
        <tr>
            <td>{{value.name}}</td>
            <td>{{value.count}}</td>
            <td>{{value.add_user_name}}</br>{{value.add_time}}</td>
            <td salerid="{{value.id}}" level="{{value.level}}">
                {{if value.status ==2}}
                    无操作
                {{else if value.status ==1}}
                      <a href="javascript:void(0)" class="checkSalerStatus">审核</a>
                {{else}}
                     <a href="javascript:void(0)" class="agency_edit">修改</a>
                    <!--<a href="javascript:void(0)" roleid="2-{{value.id}}" class="viewfxyj">查看分销业绩</a>-->
                {{/if}}
            </td>
        </tr>
        {{/each}}
        {{else}}
        <tr class="info">
            <td colspan="4" class="last">
                <div class="nonedata"></div>
            </td>
        </tr>
        {{/if}}
        </tbody>
    </table>
    <div class="page">{{#page}}</div>
</script>
<script id="zuanSList" type="text/html">
    <table cellpadding="0" cellspacing="0" class="shopTable">
        <tbody>
        <tr class="th">
            <th class="first" width="22%">会员名称</th>
            <th width="12%">手机号码</th>
            <th width="17%">门店</th>
            <th width="13%">下级人数（人）</th>
            <th width="12%">创建时间</th>
            <th width="10%">状态</th>
            <th width="14%">操作</th>
        </tr>
        {{if hasData ==1}}
        {{each info as value i}}
        <tr>
            <td>{{value.name}}</td>
            <td>{{value.phone_no}}</td>
            <td>{{value.parentName}}</td>
            <td>{{value.count}}</td>
            <td>{{value.add_user_name}}</br>{{value.add_time}}</td>
            {{if value.status ==1}}
            <td>审核中</td>
            {{else if value.status ==2}}
            <td>未通过</td>
            {{else if value.status ==3}}
            <td>审核通过</td>
            {{else if value.status ==4}}
            <td>停用</td>
            {{else if value.status ==5}}
            <td>未转化</td>
            {{/if}}
            <td salerid="{{value.id}}" level="{{value.level}}">
                {{if value.status ==2}}
                无操作
                {{else if value.status ==1}}
                <a href="javascript:void(0)" class="checkSalerStatus">审核</a>
                {{else if value.status ==3}}
                <a href="javascript:void(0);" class="saler_js_move">转移</a>
                <a href="javascript:void(0)" class="zuan_js_stop">停用</a><br/>
                <a href="javascript:void(0)" class="downgrade">降级</a>
                <a href="javascript:void(0)" class="saler_edit">修改</a>
                <br/>
                <a href="javascript:void(0)" roleid="2-{{value.id}}" class="viewfxyj">查看分销业绩</a>
                {{else if value.status ==4}}
                <a href="javascript:void(0)" class="saler_js_start">启用</a>
                <a href="javascript:void(0)" class="saler_edit">修改</a>
                <a href="javascript:void(0)" roleid="2-{{value.id}}" class="viewfxyj">查看分销业绩</a>
                {{/if}}
            </td>
        </tr>
        {{/each}}
        {{else}}
        <tr class="info">
            <td colspan="7" class="last">
                <div class="nonedata"></div>
            </td>
        </tr>
        {{/if}}
        </tbody>
    </table>
    <div class="page">{{#page}}</div>
</script>
<script id="goldList" type="text/html">
    <table cellpadding="0" cellspacing="0" class="shopTable">
        <tbody>
        <tr class="th">
            <th class="first" width="12%">会员名称</th>
            <th width="12%">手机号码</th>
            <th width="13%">门店</th>
            <th width="13%">上级</th>
            <th width="5%">下级人数（人）</th>
            <th width="12%">创建时间</th>
            <th width="10%">状态</th>
            <th width="14%">操作</th>
        </tr>
        {{if hasData ==1}}
        {{each info as value i}}
        <tr>
            <td>{{value.name}}</td>
            <td>{{value.phone_no}}</td>
            <td>{{value.storeName}}</td>
            <td>{{value.parentName}}</td>
            <td>{{value.count}}</td>
            <td>{{value.add_user_name}}</br>{{value.add_time}}</td>
            {{if value.status ==1}}
            <td>审核中</td>
            {{else if value.status ==2}}
            <td>未通过</td>
            {{else if value.status ==3}}
            <td>审核通过</td>
            {{else if value.status ==4}}
            <td>停用</td>
            {{else if value.status ==5}}
            <td>未转化</td>
            {{/if}}
            <td salerid="{{value.id}}" level="{{value.level}}">
                {{if value.status ==2}}
                无操作
                {{else if value.status ==1}}
                <a href="javascript:void(0)" class="checkSalerStatus">审核</a>
                {{else if value.status ==3}}
                <a href="javascript:void(0);" class="saler_js_move">转移</a>
                <a href="javascript:void(0)" class="gold_js_stop">停用</a><br/>
                <a href="javascript:void(0)" class="saler_edit">修改</a>
                <a href="javascript:void(0)" class="downgrade">降级</a>
                <a href="javascript:void(0)" class="upgrade">升级</a>
                <br/>
                <a href="javascript:void(0)" roleid="2-{{value.id}}" class="viewfxyj">查看分销业绩</a>
                {{else if value.status ==4}}
                <a href="javascript:void(0)" class="saler_js_start">启用</a>
                <a href="javascript:void(0)" class="saler_edit">修改</a>
                <a href="javascript:void(0)" roleid="1-{{value.id}}" class="viewfxyj">查看分销业绩</a>
                {{/if}}
            </td>
        </tr>
        {{/each}}
        {{else}}
        <tr class="info">
            <td colspan="8" class="last">
                <div class="nonedata"></div>
            </td>
        </tr>
        {{/if}}
        </tbody>
    </table>
    <div class="page">{{#page}}</div>
</script>
<script id="silverList" type="text/html">
    <table cellpadding="0" cellspacing="0" class="shopTable">
        <tbody>
        <tr class="th">
            <th class="first" width="12%">会员名称</th>
            <th width="12%">手机号码</th>
            <th width="17%">门店</th>
            <th width="13%">上级</th>
            <th width="12%">创建时间</th>
            <th width="10%">状态</th>
            <th width="14%">操作</th>
        </tr>
        {{if hasData ==1}}
        {{each info as value i}}
        <tr>
            <td>{{value.name}}</td>
            <td>{{value.phone_no}}</td>
            <td>{{value.storeName}}</td>
            <td>{{value.parentName}}</td>
            <td>{{value.add_user_name}}</br>{{value.add_time}}</td>
            {{if value.status ==1}}
                <td>审核中</td>
            {{else if value.status ==2}}
                <td>未通过</td>
            {{else if value.status ==3}}
                <td>审核通过</td>
            {{else if value.status ==4}}
                <td>停用</td>
            {{else if value.status ==5}}
                <td>未转化</td>
            {{/if}}
            <td salerid="{{value.id}}" level="{{value.level}}">
                {{if value.status ==2}}
                无操作
                {{else if value.status ==1}}
                <a href="javascript:void(0)" class="checkSalerStatus">审核</a>
                {{else if value.status ==3}}
                <a href="javascript:void(0);" class="saler_js_move">转移</a>
                <a href="javascript:void(0)" class="silver_js_stop">停用</a><br/>
                <a href="javascript:void(0)" class="saler_edit">修改</a>
                <a href="javascript:void(0)" class="upgrade">升级</a>
                <br/>
                <a href="javascript:void(0)" roleid="2-{{value.id}}" class="viewfxyj">查看分销业绩</a>
                {{else if value.status ==4}}
                <a href="javascript:void(0)" class="saler_js_start">启用</a>
                <a href="javascript:void(0)" class="saler_edit">修改</a>
                <br/>
                <a href="javascript:void(0)" roleid="1-{{value.id}}" class="viewfxyj">查看分销业绩</a>
                {{/if}}
            </td>
        </tr>
        {{/each}}
        {{else}}
        <tr class="info">
            <td colspan="7" class="last">
                <div class="nonedata"></div>
            </td>
        </tr>
        {{/if}}
        </tbody>
    </table>
    <div class="page">{{#page}}</div>
</script>
<script id="gradeChangeList" type="text/html">
    <table cellpadding="0" cellspacing="0" class="shopTable">
        <tbody>
        <tr class="th">
            <th class="first" width="22%">日期</th>
            <th width="12%">会员名称</th>
            <th width="17%">手机号</th>
            <th width="13%">状态</th>
            <th width="12%">当前等级</th>
        </tr>
        {{if hasData ==1}}
        {{each info as value i}}
        <tr>
            <td>{{value.trace_time}}</td>
            <td>{{value.name}}</td>
            <td>{{value.phone_no}}</td>
            {{if value.change_flag ==0}}
            <td>不变</td>
            {{else if value.change_flag ==1}}
            <td>降级</td>
            {{else if value.change_flag ==2}}
            <td>升级</td>
            {{/if}}
            {{if value.new_value ==1}}
            <td>门店</td>
            {{else if value.new_value ==2}}
            <td>钻石</td>
            {{else if value.new_value ==3}}
            <td>金牌</td>
            {{else if value.new_value ==4}}
            <td>银牌</td>
            {{/if}}
        </tr>
        {{/each}}
        {{else}}
        <tr class="info">
            <td colspan="5" class="last">
                <div class="nonedata"></div>
            </td>
        </tr>
        {{/if}}
        </tbody>
    </table>
    <div class="page">{{#page}}</div>
</script>
<script>
    function loadingData(href,postData) {
        var dialog=art.dialog({title:false,content:"<div class='msg-all-succeed'>"+"等待加载"+"</div>",fixed: true,padding:0});
        var url=href;
        var data='';
        if(postData=='' ||postData==undefined){
            if(url=='1'){
                var data={'level':1,'agencyName':$("#agency_name").val()};
            }else if(href=='2'){
                var data={
                    'level':2,
                    'diamondsName':$("#diamondsName").val(),
                    'diamondsPhone':$("#diamondsPhone").val(),
                    'diamondsStatus':$("#diamondsStatus").val()
                };
            }else if(href=='3'){
                var data={
                    'level':3,
                    'goldName':$("#goldName").val(),
                    'goldNamePhone':$("#goldNamePhone").val(),
                    'goldStatus':$("#goldStatus").val()
                };
            }else if(href=='4'){
                var data={
                    'level':4,
                    'silverName':$("#silverName").val(),
                    'silverPhone':$("#silverPhone").val(),
                    'silverStatus':$("#silverStatus").val()
                };
            }else if(href=='5'){
                var data={
                    'gradeStartTime':$("#gradeStartTime").val(),
                    'gradeEndTime':$("#gradeEndTime").val(),
                    'gradeName':$("#gradeName").val(),
                    'gradePhone':$("#gradePhone").val(),
                    'gradeStatus':$("#gradeStatus").val()
                };
            }
        }else{
            data=postData;
        }
        url="{:U('Wfx/Fxgl/getMhMember')}";
        if(href=='5'){
            url="{:U('Wfx/Fxgl/getGradeChange')}";
        }
        $.post(url,data,function(resp){
            if(resp.status==1){
                if(resp.info.type==1){
                    var storeList = template('storeList',resp.info);
                    $('#store').html(storeList);
                }else if(resp.info.type==2){
                    var zuanSList = template('zuanSList',resp.info);
                    $('#zuan').html(zuanSList);
                }else if(resp.info.type==3){
                    var goldList = template('goldList',resp.info);
                    $('#gold').html(goldList);
                }else if(resp.info.type==4){
                    var silverList = template('silverList',resp.info);
                    $('#silver').html(silverList);
                }else{
                    var gradeChangeList = template('gradeChangeList',resp.info);
                    $('#gradeChange').html(gradeChangeList);
                }
                bindNew();
                dialog.close();
            }
        },"json");
    }
    $(document).ready(function() {
        loadingData(1);
    });
    $("#saler_sub_button").click(function(){
        var type=$("#type").val();
        if(type==1){
            loadingData(1);
        }else if(type==2){
            loadingData(2);
        }else{
            loadingData(3);
        }
    });
    $('#store').on('click', '.page a', function(){
        if($(this).hasClass('gobtns')){
            var href = $(this).data('href');
            var gop = $(this).prev('input').val();
            href = href.replace("__PAGE__",gop);
        }else{
            var href = $(this).data('href');
        }
        loadingData1(1,href);
    })
    $('#zuan').on('click', '.page a', function(){
        if($(this).hasClass('gobtns')){
            var href = $(this).data('href');
            var gop = $(this).prev('input').val();
            href = href.replace("__PAGE__",gop);
        }else{
            var href = $(this).data('href');
        }
        loadingData1(2,href);
    })
    $('#gold').on('click', '.page a', function(){
        if($(this).hasClass('gobtns')){
            var href = $(this).data('href');
            var gop = $(this).prev('input').val();
            href = href.replace("__PAGE__",gop);
        }else{
            var href = $(this).data('href');
        }
        loadingData1(3,href);
    })
    $('#silver').on('click', '.page a', function(){
        if($(this).hasClass('gobtns')){
            var href = $(this).data('href');
            var gop = $(this).prev('input').val();
            href = href.replace("__PAGE__",gop);
        }else{
            var href = $(this).data('href');
        }
        loadingData1(4,href);
    })
    $('#gradeChange').on('click', '.page a', function(){
        if($(this).hasClass('gobtns')){
            var href = $(this).data('href');
            var gop = $(this).prev('input').val();
            href = href.replace("__PAGE__",gop);
        }else{
            var href = $(this).data('href');
        }
        loadingData1(5,href);
    })
    function loadingData1(href,postUrl) {
        var dialog=art.dialog({title:false,content:"<div class='msg-all-succeed'>"+"等待加载"+"</div>",fixed: true,padding:0});
        var url=href;
        var data='';
        if(url=='1'){
            var data={'level':1,'agencyName':$("#agency_name").val()};
        }else if(href=='2'){
            var data={
                'level':2,
                'diamondsName':$("#diamondsName").val(),
                'diamondsPhone':$("#diamondsPhone").val(),
                'diamondsStatus':$("#diamondsStatus").val()
            };
        }else if(href=='3'){
            var data={
                'level':3,
                'goldName':$("#goldName").val(),
                'goldNamePhone':$("#goldNamePhone").val(),
                'goldStatus':$("#goldStatus").val()
            };
        }else if(href=='4'){
            var data={
                'level':4,
                'silverName':$("#silverName").val(),
                'silverPhone':$("#silverPhone").val(),
                'silverStatus':$("#silverStatus").val()
            };
        }else if(href=='5'){
            var data={
                'gradeStartTime':$("#gradeStartTime").val(),
                'gradeEndTime':$("#gradeEndTime").val(),
                'gradeName':$("#gradeName").val(),
                'gradePhone':$("#gradePhone").val(),
                'gradeStatus':$("#gradeStatus").val()
            };
        }
        $.post(postUrl,data,function(resp){
            if(resp.status==1){
                if(resp.info.type==1){
                    var storeList = template('storeList',resp.info);
                    $('#store').html(storeList);
                }else if(resp.info.type==2){
                    var zuanSList = template('zuanSList',resp.info);
                    $('#zuan').html(zuanSList);
                }else if(resp.info.type==3){
                    var goldList = template('goldList',resp.info);
                    $('#gold').html(goldList);
                }else if(resp.info.type==4){
                    var silverList = template('silverList',resp.info);
                    $('#silver').html(silverList);
                }else{
                    var gradeChangeList = template('gradeChangeList',resp.info);
                    $('#gradeChange').html(gradeChangeList);
                }
                bindNew();
                firstAdd();
                dialog.close();
            }
        },"json");
    }
    $(document).ready( function( ) {
        var data ={$leftTree};
        var content = template("tpl",data);
        $(".tree").html(content);
        firstAdd();
    });
    function firstAdd(){
        $( 'a[data-rel=p2]' ).each( function() {
            if($( this ).next( 'ul' ).children("li").length>=7){
                $("#exceed").text("部分会员拥有超过7个直接下线，请及时调整！");
                $(this).append("&nbsp;<em class='fail_ico'>!</em>");
            }
        });
        $( 'a[data-rel=p3]' ).each( function() {
            //alert($( this ).parent("li").attr("data-id"));
            if($( this ).parent("li").find( 'ul' ).children('li').length>=7){
                $("#exceed").text("部分会员拥有超过7个直接下线，请及时调整！");
                $(this).append("&nbsp;<em class='fail_ico'>!</em>");
            }
        });
        $('.tree li > a').click( function() {
            var dataTab = $(this).attr("data-rel");
            if(dataTab=='p1'){
                $("#agency_name").val($(this).find('span:eq(0)').text());
                $("#agency_sub_button").click();
            }else if(dataTab=='p2'){
                $("#diamondsName").val($(this).find('span:eq(0)').text());
                $("#zuan_sub_button").click();
            }else if(dataTab=='p3'){
                $("#goldName").val($(this).find('span:eq(0)').text());
                $("#gold_sub_button").click();
            }else if(dataTab=='p4'){
                $("#silverName").val($(this).find('span:eq(0)').text());
                $("#silver_sub_button").click();
            }
            $("#Wcanal-tabon>.Wcanal-tab-title>p#"+dataTab).trigger("click");
        });
    }
    function loadingTree(leftTree){
        var dialog=art.dialog({title:false,content:"<div class='msg-all-succeed'>"+"正在加载左边结构"+"</div>",fixed: true,padding:0});
        var data =leftTree;
        var content = template("tpl",data);
        $(".tree").html(content);
        $( 'a[data-rel=p2]' ).each( function() {
            if($( this ).next( 'ul' ).children("li").length>=7){
                $("#exceed").text("部分会员拥有超过7个直接下线，请及时调整！");
                $(this).append("&nbsp;<em class='fail_ico'>!</em>");
            }
        });
        $( 'a[data-rel=p3]' ).each( function() {
            //alert($( this ).parent("li").attr("data-id"));
            if($( this ).parent("li").find( 'ul' ).children('li').length>=7){
                $("#exceed").text("部分会员拥有超过7个直接下线，请及时调整！");
                $(this).append("&nbsp;<em class='fail_ico'>!</em>");
            }
        });
        dialog.close();
    }
</script>