<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>通知消息-自动发送设置</title>
     <link href="__PUBLIC__/Css/module.css?v=__VR__" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Css/main.css?v=__VR__" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Css/layout.css?v=__VR__" rel="stylesheet" type="text/css" />  
    <link href="__PUBLIC__/Css/Wshop.css?v=__VR__" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Js/validationEngine/css/validationEngine.jquery.css?v=__VR__" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Css/Whygl.css?v=__VR__" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.2.min.js?v=__VR__"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/global.js?v=__VR__"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/artDialog4.1.6/jquery.artDialog.js?skin=default"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/artDialog4.1.6/plugins/iframeTools.js?v=__VR__"></script>    
    <script type="text/javascript" src="__PUBLIC__/Js/angularjs/angular.min.js?v=__VR__"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/validationEngine/languages/jquery.validationEngine-zh_CN.js?v=__VR__" ></script>
    <script type="text/javascript" src="__PUBLIC__/Js/validationEngine/jquery.validationEngine.js?v=__VR__" ></script>
</head>
<body class="bgfff">
    <div id="wrapper">
        <include file="./Home/Tpl/Public/Public_header.html" />
        <div id="container" class="bgfff">
            <div id="main" class="rel" ng-controller="myCtrl">
                <div class="new_sidenav">
                    <include file="./Home/Tpl/Integral/Integral/Store_sidenav.html" leftmenuid="zdfssz" />
                </div>
                <div class="subcon fn">
                    <div class="main-name fn"><h4>自动发送设置</h4></div>
                    <!--自动发送设置-->
                    <div class="WcanalNew-tab">
                    <input type="hidden" value="memberCardData" />
                        <div class="Wcanal-tab-title fn" id='msgAllType'>
                            <p class="active"><a href="javascript:void(0)" data-val='memberCardData' >会员卡变更通知</a></p>
                            <p><a href="javascript:void(0)" data-val='plusIntegralData' >获得积分通知</a></p>
                            <p><a href="javascript:void(0)" data-val='reduceIntegralData'>消耗积分通知</a></p>
                        </div>
                        <!--会员卡变更通知 开始-->
                        <form action="index.php?g=Integral&m=Integral&a=autoSendMessageSubmit" method='post' name="memberCardData">
                            <input type="hidden" value="{{member_isFirstSet}}" name='isFirstSet' />
                            <input type="hidden" value="1" name='msgType' />
                            <div class="Wcanal-tab-list pt15">
                                <div class="steps">系统消息</div>
                                <div class="autoSteps">
                                    <div class="Gform">
                                        <ul>
                                            <li class="Gname">是否开启</li>
                                            <li class="Ginput">
                                                <div class="switch " data-callback="windowheight">
                                                    <input type="radio" checked="checked" value="{{ member_system_msg }}"  name='sysMsgStatus'>
                                                    <div class="newRadio ">
                                                        <span data-val="0" class="valfirst">关闭</span>
                                                        <span data-val="1" class="vallast">开启</span>
                                                    </div>
                                                    <div class="newRadio-input" >
                                                        <div class="left l">
                                                            <textarea name='sysMsgContent' ng-class="{'validate[required]':member_system_msg==1}" ng-model="member_system_msg_templet"  ></textarea>
                                                        </div>
                                                        <div class="input-em">
                                                            <dl>
                                                                <dd>插入参数</dd>
                                                                <dd>
                                                                    <a href="javascript:void(0); " ng-click="inputStr($event.target)">姓名</a>
                                                                    <a href="javascript:void(0); " ng-click="inputStr($event.target)">剩余积分</a>
                                                                    <a href="javascript:void(0); " ng-click="inputStr($event.target)">会员卡名称</a>
                                                                </dd>
                                                                <dt>部分会员可能没有填写姓名信息。</dt>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="fn"></div>
                                <!-- <div class="steps">短信</div>
                                <div class="autoSteps">
                                    <div class="Gform">
                                        <ul>
                                            <li class="Gname">是否开启</li>
                                            <li class="Ginput">
                                                <div class="switch" data-callback="windowheight">
                                                    <input type="radio" checked="checked" value="{{ member_sms_msg }}" name="smsMessageStatus">
                                                    <div class="newRadio">
                                                       <span data-val="0" class="valfirst" >关闭</span>
                                                        <span data-val="1" class="vallast">开启</span>
                                                    </div>
                                                    <div class="newRadio-input" >
                                                        <div class="left l">
                                                        <textarea name="duanNotice" disabled="disabled" ><-姓名->您的会员卡已经升级到<-会员卡名称->。</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div> -->
                                <div class="steps">微信模板消息<a href="./index.php?g=Home&m=Help&a=helpDetails&newsId=1460&classId=49" class="mr15 r" target="_blank"> <i class="allAsk mr5" style="vertical-align: -5px;"></i>什么是微信模板消息?</a>
                                </div>
                                <div class="autoSteps">
                                    <div class="Gform">
                                        <ul>
                                            <li class="Gname">是否开启</li>
                                            <li class="Ginput">
                                                <div class="switch" data-callback="windowheight">
                                                    <input type="radio" checked="checked " value="{{ member_wx_msg }}" name="weChatTemplateStatus">
                                                    <div class="newRadio">
                                                        <span data-val="0" class="valfirst" >关闭</span>
                                                        <span data-val="1" class="vallast" >开启</span>
                                                    </div>                                                   
                                                    <div class="newRadio-input ">
                                                       <div class="tipNormal mb30">
                                                       <p class="tipNormal-bf">请登录微信公众号平台，在模板库中搜索“会员级别”或“会员等级”相关的模板并添加 。添加后，在“我的模板”中可以查看对应的模板ID。</p>
                                                        <p class="tipNormal-af">请在下方设置消息的欢迎语和结束语，并设置每个项目后显示的内容。</p>
                                                       </div>
                                                        <div class="weChat-temp">
                                                            <div class="weChat-notice">
                                                                <div class="Gform">
                                                                    <ul>
                                                                        <li class="Gname"><span>*&nbsp;</span>模板ID</li>
                                                                        <li class="Ginput">
                                                                            <input type="text"  placeholder="请填写您的模板ID" name="weChatTemplateId"  ng-model="tempId"/>
                                                                            <a href="javascript:void(0)" class="btn_inner ml30 weChat-temp-next" >
                                                                            <span ng-hide="member_wx_msg_open" ng-click="nextMember($event.target)" data-phone="show">下一步</span>
                                                                            <span ng-show="member_wx_msg_open" ng-click="nextMember($event.target)">修改模板</span></a>
                                                                            <span class="txtTips">请填写您的模板ID  <a href="./index.php?m=Help&a=helpDetails&newsId=1442" target="_blank">如何查看模板ID？</a>
                                                                            </span>
                                                                        </li>
                                                                    </ul>
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="phoneCon" ng-show="member_wx_msg_phone">
                                                                <img  src="__PUBLIC__/Image/Wfx/phonetop.jpg?v=__VR__">
                                                                <div class="pContent">
                                                                    <div class="pContentInner">
                                                                        <h4><input type="hidden" name="title" value="{{member_temp_title}}" />{{member_temp_title}}</h4>
                                                                        <span class="date"></span>
                                                                        <p class="toshow welcome"><input type="text" placeholder="请输入欢迎语" ng-model="m_welcome.value" name="{{m_welcome.right}}" ng-readonly="m_disabled"  /></p>
                                                                        <ul>
                                                                            <input type="hidden" value="{{ member_content_name}}" name="allName" />
                                                                            <li ng-repeat=" list in m_list"> 
                                                                                <span><input type="hidden" name="left_{{list.right}}" value="{{list.left}}"  />  {{list.left}}：</span>
                                                                                <select name="{{list.right}}" ng-model="list.value">
                                                                                    <option value="--请选择--">--请选择--</option>
                                                                                    <option value="会员姓名" >会员姓名</option>
                                                                                    <option value="会员手机号">会员手机号</option>
                                                                                    <option value="会员等级(变更前)">会员等级(变更前)</option>
                                                                                    <option value="会员等级(变更后)">会员等级(变更后)</option>
                                                                                    <option value="时间">时间</option>
                                                                                </select>
                                                                             </li>
                                                                        </ul>
                                                                        <p class="toshow end"><input type="text" placeholder="请输入结束语" ng-model="m_end.value" name="{{m_end.right}}" /></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                         <!--会员卡变更通知 结束-->
                         <!--获得积分通知 开始-->
                        <form action="./index.php?g=Integral&m=Integral&a=autoSendMessageSubmit" method='post' name="plusIntegralData">
                        <input type="hidden" value="{{ getNum_isFirstSet }}" name='isFirstSet' />
                        <input type="hidden" value="2" name='msgType' />
                        <div class="Wcanal-tab-list pt15 dn">
                            <div class="steps">系统消息</div>
                            <div class="autoSteps">
                                <div class="Gform">
                                    <ul>
                                        <li class="Gname">是否开启</li>
                                        <li class="Ginput">
                                            <div class="switch " data-callback="windowheight">
                                                <input type="radio" checked="checked" value="{{ get_system_msg }}" name="sysMsgStatus">
                                                <div class="newRadio ">
                                                    <span data-val="0" class="valfirst" >关闭</span>
                                                    <span data-val="1" class="vallast" >开启</span>
                                                </div>
                                                <div class="newRadio-input">
                                                    <div class="left l ">
                                                        <textarea name="sysMsgContent"   ng-model="get_system_msg_templet"></textarea>
                                                    </div>
                                                    <div class="input-em ">
                                                        <dl>
                                                            <dd>插入参数</dd>
                                                            <dd>
                                                                <a href="javascript:void(0); " ng-click="inputStr($event.target)">姓名</a>
                                                                <a href="javascript:void(0); " ng-click="inputStr($event.target)">剩余积分</a>
                                                                <a href="javascript:void(0); " ng-click="inputStr($event.target)">获得积分值</a>
                                                            </dd>
                                                            <dt>部分会员可能没有填写姓名信息。</dt>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="fn"></div>
                            <!-- <div class="steps">短信</div>
                            <div class="autoSteps">
                                <div class="Gform">
                                    <ul>
                                        <li class="Gname">是否开启</li>
                                        <li class="Ginput">
                                            <div class="switch" data-callback="windowheight">
                                                <input type="radio" checked="checked" value="{{ get_sms_msg }}" name="smsMessageStatus">
                                                <div class="newRadio">
                                                     <span data-val="0" class="valfirst" >关闭</span>
                                                    <span data-val="1" class="vallast" >开启</span>
                                                </div>
                                                <div class="newRadio-input">
                                                    <div class="left l">
                                                        <textarea name="duanNotice" disabled="disabled"><-姓名->您获得<-获得积分值->{:L('INTEGRAL_NAME')}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                            <div class="steps">微信模板消息<a href="./index.php?g=Home&m=Help&a=helpDetails&newsId=1460&classId=49" class="mr15 r" target="_blank"> <i class="allAsk mr5" style="vertical-align: -5px;"></i>什么是微信模板消息?</a>
                            </div>
                            <div class="autoSteps">
                                <div class="Gform">
                                    <ul>
                                        <li class="Gname">是否开启</li>
                                        <li class="Ginput">
                                            <div class="switch " data-callback="windowheight">
                                                <input type="radio" checked="checked " value="{{ get_wx_msg }}" name="weChatTemplateStatus">
                                                <div class="newRadio">
                                                    <span data-val="0" class="valfirst" >关闭</span>
                                                    <span data-val="1" class="vallast" >开启</span>
                                                </div>
                                               
                                                <div class="newRadio-input ">
                                                    <div class="tipNormal mb30">
                                                       <p class="tipNormal-bf">请登录微信公众号平台，在模板库中搜索“积分变更”或“积分消费”相关的模板并添加 。添加后，在“我的模板”中可以查看对应的模板ID，将其填入下方输入框即可。</p>
                                                        <p class="tipNormal-af">请在下方设置消息的欢迎语和结束语，并设置每个项目后显示的内容。</p>
                                                       </div>
                                                    <div class="weChat-temp">
                                                       <div class="weChat-notice">
                                                                <div class="Gform">
                                                                    <ul>
                                                                        <li class="Gname"><span>*&nbsp;</span>模板ID</li>
                                                                        <li class="Ginput">
                                                                            <input type="text" placeholder="请输入您的模板ID"  name="weChatTemplateId"  ng-model="tempIdGet"/>
                                                                            <a href="javascript:void(0)" class="btn_inner ml30 weChat-temp-next" >
                                                                            <span ng-hide="get_wx_msg_open" ng-click="nextGet($event.target)" data-phone="show">下一步</span>
                                                                            <span ng-show="get_wx_msg_open" ng-click="nextGet($event.target)">修改模板</span>
                                                                            </a>
                                                                            <span class="txtTips">请填写您的模板ID  <a href="./index.php?m=Help&a=helpDetails&newsId=1442" target="_blank">如何查看模板ID？</a>
                                                                            </span>
                                                                        </li>
                                                                    </ul>   
                                                                </div>
                                                        </div>
                                                        <div class="phoneCon" ng-show="get_wx_msg_phone">
                                                                <img  src="__PUBLIC__/Image/Wfx/phonetop.jpg?v=__VR__">
                                                                <div class="pContent">
                                                                    <div class="pContentInner">
                                                                        <h4><input type="hidden" name="title" value="{{get_temp_title}}" />{{get_temp_title}}</h4>
                                                                        <span class="date"></span>
                                                                        <p class="toshow welcome"><input type="text" placeholder="请输入欢迎语" ng-model="g_welcome.value" name="{{g_welcome.right}}" ng-readonly="g_disabled" /></p>
                                                                        <ul><input type="hidden" value="{{ get_content_name}}" name="allName" />
                                                                            <li ng-repeat="list in g_list"> 
                                                                                <span><input type="hidden" name="left_{{list.right}}" value="{{list.left}}" />{{list.left}}：</span>
                                                                                <select name="{{list.right}}" ng-model="list.value">
                                                                                    <option value="--请选择--">请选择</option>
                                                                                    <option value="会员姓名" >会员姓名</option>
                                                                                    <option value="会员手机号">会员手机号</option>
                                                                                    <option value="会员等级">会员等级</option>
                                                                                    <option value="积分增减值">积分增减值</option>
                                                                                    <option value="积分总额(变更后)">积分总额(变更后)</option>
                                                                                    <option value="积分变动原因">积分变动原因</option>
                                                                                    <option value="时间">时间</option>
                                                                                </select>
                                                                             </li>
                                                                        </ul>
                                                                        <p class="toshow end"><input type="text" placeholder="请输入结束语" ng-model="g_end.value" name="{{g_end.right}}"/></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--获得积分通知 结束-->
                    <!--消耗积分通知 开始-->
                        <form action="./index.php?g=Integral&m=Integral&a=autoSendMessageSubmit" method='post'  name="reduceIntegralData">
                        <input type="hidden" value="{{blurNum_isFirstSet}}" name='isFirstSet' />
                        <input type="hidden" value="3" name='msgType' />
                        <div class="Wcanal-tab-list pt15 dn">
                            <div class="steps">系统消息</div>
                            <div class="autoSteps">
                                <div class="Gform">
                                    <ul>
                                        <li class="Gname">是否开启</li>
                                        <li class="Ginput">
                                            <div class="switch " data-callback="windowheight">
                                                <input type="radio" checked="checked" value="{{ blur_system_msg}}"  name="sysMsgStatus">
                                                <div class="newRadio ">
                                                    <span data-val="0" class="valfirst">关闭</span>
                                                    <span data-val="1" class="vallast">开启</span>
                                                </div>
                                                <div class="newRadio-input ">
                                                    <div class="left l ">
                                                        <textarea name="sysMsgContent" ng-class="blur_system" ng-model="blur_system_msg_templet"></textarea>
                                                    </div>
                                                    <div class="input-em ">
                                                        <dl>
                                                            <dd>插入参数</dd>
                                                            <dd>
                                                                <a href="javascript:void(0); " ng-click="inputStr($event.target)">姓名</a>
                                                                <a href="javascript:void(0); " ng-click="inputStr($event.target)">剩余积分</a>
                                                                <a href="javascript:void(0); " ng-click="inputStr($event.target)">消耗积分值</a>
                                                            </dd>
                                                            <dt>部分会员可能没有填写姓名信息。</dt>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="fn "></div>
                           <!--  <div class="steps ">短信</div>
                            <div class="autoSteps">
                                <div class="Gform">
                                    <ul>
                                        <li class="Gname">是否开启</li>
                                        <li class="Ginput">
                                            <div class="switch" data-callback="windowheight">
                                                <input type="radio" checked="checked" value="{{ blur_sms_msg }}" name="smsMessageStatus">
                                                <div class="newRadio">
                                                    <span data-val="0" class="valfirst" >关闭</span>
                                                    <span data-val="1" class="vallast" >开启</span>
                                                </div>
                                                <div class="newRadio-input">
                                                    <div class="left l">
                                                        <textarea name="duanNotice"  disabled="disabled"><-姓名->您获得<-获得积分值->{:L('INTEGRAL_NAME')}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                            <div class="steps">微信模板消息<a href="./index.php?g=Home&m=Help&a=helpDetails&newsId=1460&classId=49" class="mr15 r" target="_blank"><i class="allAsk mr5" style="vertical-align: -5px;"></i>什么是微信模板消息?</a>
                            </div>
                            <div class="autoSteps">
                                <div class="Gform">
                                    <ul>
                                        <li class="Gname">是否开启</li>
                                        <li class="Ginput">
                                            <div class="switch " data-callback="windowheight">
                                                <input type="radio" checked="checked" value="{{ blur_wx_msg }}" name="weChatTemplateStatus">
                                                <div class="newRadio">
                                                    <span data-val="0" class="valfirst" >关闭</span>
                                                    <span data-val="1" class="vallast"  >开启</span>
                                                </div>
                                                <div class="newRadio-input ">
                                                    <div class="tipNormal mb30">
                                                       <p class="tipNormal-bf">请登录微信公众号平台，在模板库中搜索“积分变更”或“积分消费”相关的模板并添加 。添加后，在“我的模板”中可以查看对应的模板ID，将其填入下方输入框即可。</p>
                                                        <p class="tipNormal-af">请在下方设置消息的欢迎语和结束语，并设置每个项目后显示的内容。</p>
                                                       </div>
                                                    <div class="weChat-temp">
                                                        <div class="weChat-notice" >
                                                                <div class="Gform">
                                                                    <ul>
                                                                        <li class="Gname"><span>*&nbsp;</span>模板ID</li>
                                                                        <li class="Ginput">
                                                                            <input type="text" placeholder="请输入您的模板ID"  name="weChatTemplateId"  ng-model="tempIdBlur"/>
                                                                            <a href="javascript:void(0)" class="btn_inner ml30 weChat-temp-next" >
                                                                            <span ng-hide="blur_wx_msg_open" ng-click="nextblur($event.target)" data-phone="show">下一步</span>
                                                                            <span ng-show="blur_wx_msg_open" ng-click="nextblur($event.target)">修改模板</span>
                                                                            </a>
                                                                            <span class="txtTips">请填写您的模板ID  <a href="./index.php?m=Help&a=helpDetails&newsId=1442" target="_blank">如何查看模板ID？</a>
                                                                            </span>
                                                                        </li>
                                                                    </ul>  
                                                                </div>
                                                        </div>
                                                        <div class="phoneCon" ng-show="blur_wx_msg_phone">
                                                                <img  src="__PUBLIC__/Image/Wfx/phonetop.jpg?v=__VR__">
                                                                <div class="pContent">
                                                                    <div class="pContentInner">
                                                                        <h4><input type="hidden" name="title" value="{{blur_temp_title}}" />{{blur_temp_title}}</h4>
                                                                        <span class="date"></span>
                                                                         <p class="toshow welcome"><input type="text" placeholder="请输入欢迎语" ng-model="b_welcome.value" name="{{b_welcome.right}}" ng-readonly="b_disabled"/></p>
                                                                        <ul><input type="hidden" value="{{ blur_content_name}}" name="allName" />
                                                                            <li ng-repeat="list in b_list"> 
                                                                                <span><input type="hidden" name="left_{{list.right}}" value="{{list.left}}" />{{list.left}}：</span>
                                                                                <select name="{{list.right}}" ng-model="list.value">
                                                                                    <option value="--请选择--">请选择</option>
                                                                                    <option value="会员姓名" >会员姓名</option>
                                                                                    <option value="会员手机号">会员手机号</option>
                                                                                    <option value="会员等级">会员等级</option>
                                                                                    <option value="积分增减值">积分增减值</option>
                                                                                    <option value="积分总额(变更后)">积分总额(变更后)</option>
                                                                                    <option value="积分变动原因">积分变动原因</option>
                                                                                    <option value="时间">时间</option>
                                                                                </select>
                                                                             </li>
                                                                        </ul>
                                                                        <p class="toshow end"><input type="text" placeholder="请输入结束语"  ng-model="b_end.value" name="{{b_end.right}}" /></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- 消耗积分结束 -->
                    </div>
                    <div class="btngp fixBtn">
                        <a href="javascript:void(0)" class="btn-all" style="margin-left:85px;" ng-click="goSubmit()">保存</a>
                    </div>
                    <!--自动发送设置--> </div>
            </div>
        </div>
    </div>
    <div class="integralService "></div>
    <!--底部开始-->
    <include file="./Home/Tpl/Public/Public_footer.html " />
    <!--底部结束-->
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/Js/autoSendMessage.js?v=__VR__"></script>
