<style>
    .dzhb{float:right;}
    .dzhb .headerOprList{margin-right: 35px;margin-top: 15px;}
    .dzhb .headerOprList a{float:left;color:#fff;margin-right:15px;font-size:14px;}
    .dzhb a:hover{color:#ed3f41;}
</style>
<!--正常顶部-->
<div id="headerTwo">
    <div class="headerBg">
        <div class="headerCon fn">
            <div class="logo">
                <div class="logo-img">
                    <a href="javascript:void(0)" class="a-hide"></a>
                </div>
            </div>
            <div class="dzhb">
                <div class="headerOprList">
                    <a href="javascript:void(0)" id="login_clk" data-type="login" ng-click="login()">[ 登录 ]</a>
                    <a data-type="reg" id="reg_clk"  ng-click="reg()" href="javascript:void(0)">[ 注册 ]</a>
                </div>
            </div>
        </div>
    </div>
</div>
