@charset "utf-8";
/* CSS Main */

html{color:#4d4d4d; height:100%; min-height:100%;}
*{margin:0;padding:0;font-family: "microsoft yahei";-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{font-size: 16px;height:100%; min-height:100%;text-align:center; background: #eee;}

ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

h1 { line-height:40px; text-align:left; font-size:16px; padding-left:15px;}
a {color:#0066cc;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
.mt20 { margin-top:20px;}

/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
#wrapper { height:auto; margin:0 auto; max-width:640px;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%;min-height:100%;}
#header{height:30px;overflow:hidden;width:100%;position:relative;text-align:center; padding:7px 0; line-height:30px}
#footer{ background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:5px 0 5px 0;text-align:center;color:#5c5c5c;background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%); font-size:12px; line-height:20px;}
#footer p a{ color:#5c5c5c;}
/*----------------------------------  Global结束  ------------------------------------*/
/* 头部 */
#header{background-color:#0066b3}
#header .header-info{width:92%;height:100%;margin:0 auto;}
#header .header-info .location{float:left;color:#fff;font-size:16px}
#header .header-info .location i{display:block;width:30px;height:30px;float:left;background:url(../Image/szpa/ico-location.png) no-repeat center;background-size:25px 100%;margin-right:5px}
#header .search-input{float:right;width:60%;background:#fff;border-radius:5px;}
#header .search-input i{display:block;width:25px;height:25px;float:left;background:url(../Image/szpa/ico-search.png) no-repeat center;background-size:25px 100%;margin:2px 2px 0px 5px}
#header .search-input input{width:79%;float:left;height:30px;padding-left:5px;font-size:16px;color:#999;}
/* top筛选 */
.mainTop{width:100%;height:45px;background-color:#fff;border-bottom:1px solid #e5e5e5}
.mainTop .mainTop-info{width:92%;height:100%;margin:0 auto;}
.mainTop .mainTop-info li{width:33.3%;height:100%;float:left;font-size:16px;text-align:center;}
.mainTop .mainTop-info li span{width:100%;display:block;line-height:25px;margin-top:10px;border-right:1px solid #f0efee}
.mainTop .mainTop-info li:last-child span{border-right:none;}

.mainTop .mainTop-info li select{width: 100%;border: none;text-align: center;}
.mainTop .mainTop-info li select option{text-align: center;width: 100%;display: inline-block;}
/* 列表 */
.box {display:block;height:auto;overflow:hidden;border-top:solid 1px #e5e5e5;border-bottom:solid 1px #e5e5e5;background:#fff;margin-top:8px;}
.box:first-child{margin-top:0px;}
.box .box-info{padding:10px 0;margin-left:4%;}
.box a{display:block;width:100%;height:85px;}
.box  .box-des{width:79.5%;float:left;}
.box-piont{margin-left:85px;height:auto;border-top:1px solid #f1f1f1;text-align:left;}
.box-piont p{line-height:26px;font-size:0.85em;color:#999;margin-top:8px;}
.box-piont p i{margin-right: 5px;vertical-align: -2px;}
.box-piont p i.c{width:16px;height:16px;background: url(../Image/szpa/cuxiao.png) no-repeat;display: inline-block;}
.box-piont p i.z{width:16px;height:16px;background: url(../Image/szpa/dazhe.png) no-repeat;display: inline-block;}
.box-piont p i.h{width:16px;height:16px;background: url(../Image/szpa/youhui.png) no-repeat;display: inline-block;}
.box-piont p i.f{width:16px;height:16px;background: url(../Image/szpa/fuwu.png) no-repeat;display: inline-block;}
.box-piont p i img{width:26px;height:26px}
.box .proItem-msg {margin-left:83px;text-align:left;}
.box .proItem-msg h1 {position:relative;padding:0;font-size:16px;color:#333;overflow:hidden;line-height:30px;padding-top:6px}
.box .proItem-msg p{font-size:0.8em;color:#999;overflow:hidden;line-height:20px;width:100%;}
.box span.logo {float:left;margin:0 8px 0 0;width:75px;height:65px;display: inline-block;border-radius: 5px;}
.box .long{float:right;width:16%;height:60px;border-left:1px solid #eaeaea;margin-top:12px;padding-right:2%;padding-left:2%}
.box .long  dt{text-align: center;}
.box .long  dt i{width:25px;height:40px;background:url(../Image/szpa/icon_address1.png) no-repeat;background-size:100%;display: inline-block;}
.box .long dd{color:#999;font-size:0.8em;line-height:24px;text-align: center;}
/* 详情页 */
#mainCon .details-item{border-bottom:1px #e5e5e5 solid;border-top:1px #e5e5e5 solid;background:#fff;margin-top:8px;}
#mainCon .details-item:first-child {border-top:0;margin-top:-3px;}
#mainCon .details-item  ul{margin-left:4%;position:relative;}
#mainCon .details-item .address{position:relative;height:auto;overflow: hidden;text-align:left;border-bottom: solid 1px #dddddd;}
#mainCon .details-item .name{text-align:left;position:absolute;top:10px;left:0;font-size:16px;color:#333333;}
#mainCon .details-item.input{position: relative;text-align: left;}
#mainCon .details-item ul li.input p {font-size:1.2em;padding:20px 0;text-align: justify;color: #333; margin: 0 35px;}
#mainCon .details-item .input i{position:absolute;top:50%;margin-top:-12px;right:4%;width:25px;height:25px;background: url(../Image/Item/icon-wrapper.png) 0 -25px;background-size: 100% auto;}
#mainCon .details-item .input b{position:absolute;top:27%;right:4%;width:25px;height:25px;background: url(../Image/Item/icon-wrapper.png) 0 -25px;background-size: 100% auto;-webkit-transform:rotate(90deg);}
#mainCon .details-item .input b.down{position:absolute;top:50%;margin-top:-12px;right:4%;width:25px;height:25px;background: url(../Image/Item/icon-wrapper.png) 0 -25px;background-size: 100% auto;-webkit-transform:rotate(270deg);}
#mainCon .details-item  ul:last-child {border-bottom: 0px #e5e5e5 solid;}
#mainCon .details-item  ul li.name i {display: block; width:16px;height:46px;background: url(../Image/szpa/icon_address.png) no-repeat center;background-size: 100% auto;}
#mainCon .details-item  ul.tel li.name i {background:url(../Image/szpa/icon_phone.png) no-repeat center; background-size: 100% auto;}	
	
#mainCon .details-item  .shopdes:last-of-type  li.name  i.c {background:url(../Image/szpa/cuxiao.png) no-repeat 0 5px; background-size: 100% auto;}	
#mainCon .details-item  .shopdes:last-of-type  li.name  i.h {background:url(../Image/szpa/youhui.png) no-repeat 0 5px; background-size: 100% auto;}
#mainCon .details-item  .shopdes:last-of-type  li.name  i.z {background:url(../Image/szpa/dazhe.png) no-repeat 0 5px; background-size: 100% auto;}
#mainCon .details-item  .shopdes:last-of-type  li.name  i.f {background:url(../Image/szpa/fuwu.png) no-repeat 0 5px; background-size: 100% auto;}
#mainCon .details-item  ul.othershop  li.name  i {background:url(../Image/szpa/ico-xq.png) no-repeat; background-size: 100% auto;}	

#mainCon .details-item .time p{margin-left: 35px;text-align:left;font-size:14px;color:#666;padding-bottom:20px;border-bottom:1px solid #f1f1f1;}
#mainCon .details-item .shop-txt p{margin:0 35px;text-align:left;font-size:14px;color:#999;padding:15px 0px;}
#mainCon .details-item .shop-txt p.imgC{padding-top: 0;}
#mainCon .details-item .shop-txt p.imgC span.logo{margin:0 8px 0 0;width:75px;height:65px;display: inline-block;border-radius: 5px;}
#mainCon .details-item  .shopdes li.input p{padding:10px 0 5px 0;}
#mainCon .details-item  .shopdes li.input{position: relative;}
.flash{line-height: 0;}
#mainCon .details-item  .shopdes.hover .info{display: none;}
/* 加载更多 */
.get-more { padding: 10px 0 20px 0; margin:0 15px;}
.get-more i { display: block; width: 12px; height: 12px; margin: 0 auto; background: url(../Image/szpa/icon2.png) no-repeat; background-size: 100%;}
.get-more a { display:block; height:30px; line-height:30px; color:#999;}
.copyright p { color: #949494; margin-bottom: 10px;}


.header{width: 100%;height: 55px;background: #f8f8f8;text-align: center;line-height: 50px;position: relative;font-size: 1.3em;}
.header i{background: url(../Image/szpa/arrow_left.png) no-repeat;display: block;position: absolute;left: 5%;width: 13px;height: 39px;background-size:100%;top:15px;}
.header span{height: 20px;background: #fff;border:1px solid #42474d;padding:2px 15px;font-size: 0.7em;display: inline-block;line-height: 20px;}
.header .s{border-top-left-radius: 5px;border-bottom-left-radius: 5px;border-right:none;color: #42474d;}
.header .y{border-top-right-radius: 5px;border-bottom-right-radius: 5px;color: #42474d;}
.header span.hover{color: #fff;background: #42474d;}
.header b{background: url(../Image/szpa/ico-search.png) no-repeat;display: block;position: absolute;right: 5%;width: 25px;height: 39px;background-size:100%;top:15px;}
.selectList{color:#666; padding:0 6.75%; font-size:0;background: #fff;padding: 10px 0; }
.selectList select{font-size:17px;border:0;width:25%;display:inline-block;overflow:hidden;border-right:1px #eeeeee solid;box-sizing:border-box;margin-left:25px;-webkit-appearance:none;background:url(../Image/szpa/selectArrow.png) right center no-repeat;background-size:auto 100%;}

.selectList select:last-child{  border-right:0;}


.serch{width: 100%;background: #eee;height: 70px;box-sizing: border-box;padding: 20px 5%;}

.serch ul li{width: 100%;height: 35px;background:url(../Image/szpa/ico-search1.png) #fff 0 0 no-repeat ;padding-left: 35px;background-size:22px 22px;background-position: 5px 7px;line-height: 35px;text-align: left;box-sizing: border-box;border-radius: 4px;overflow: hidden;}
.serch ul li input{height: 35px;width: 80%;font-size: 1em;}
.serch ul li a{background: #ed3f41;display: inline-block;width: 20%;color: #fff;text-align: center;}
.nodata{width: 100%;background: #fff;height: 100%;padding-bottom: 220px;padding-top: 100px;}
.nodata img{width: 70%;}


 @media screen and (max-width:320px) and (min-height: 480px){
   .nodata{padding-bottom: 140px;}
   body{font-size: 14px;}
}
@media screen and (min-width:414px){
	.nodata{padding-bottom: 260px;}
}