<div class="service">
    <div class="slidetoolbarContainr" monkey="slidetoolbar" id="__elm_0_5">
        <div class="slidetoolbar" style="right:0px">
            <div class="applist">
               <div class="sppitemwrap">
                  <div class="appitem appitem-hook"><a href="/index.php?g=Home&m=Index&a=index" class="icon icon-2 icon-hook"><i class="sidebar_icon no1"></i>首页</a>
                  </div>
                </div>
                <div class="sppitemwrap">
                   <div class="appitem appitem-hook">
                       <a href="/index.php?g=Home&m=Help&a=helpConter&type=1&leftId=zxwt" class="icon icon-3 icon-hook"><i class="sidebar_icon no2"></i>帮助<br>中心</a>
                    </div>
                </div>
                <div class="sppitemwrap zxfk_tc">
                   <div class="appitem appitem-hook"><a href="javascript: void(0)" class="icon icon-4 icon-hook" ng-click="onlinecontant()"><i class="sidebar_icon no3"></i>在线<br>反馈</a>
                   </div>
                </div>
                <div class="sppitemwrap" id="gotop" style="display:none;">
                   <div class="appitem appitem-hook"><a href="javascript: void(0);" class="icon icon-4 icon-hook"><i class="sidebar_icon no4"></i>返回<br>顶部</a>
                   </div>
                </div>
            </div>
        </div>
        <a href="javascript:;" hidefocus="true" class="slidetoolbar-closebtn slideclosebtn-open" title="收起" style="display: inline;"></a>
    </div>
</div>