<div id="headerTwo">
	<div class="headerBg">
		<div class="headerCon fn">
			<div class="logo">
				<div class="logo-img">
					<a class="a-hide" href="/index.php?g=Home&m=Index&a=index"></a>
				</div>
			</div>
			<div class="headerNav" id="headerNav">
				<ul id="headerNavUl">
				   <li><a class="headerNavA" href="/index.php?g=Alipay&m=Index&a=index">多米收单</a></li>
				   <li><a class="headerNavA" href="/index.php?g=MarketActive&m=Activity&a=index">多乐互动</a></li>
				   <li><a class="headerNavA" href="/index.php?g=WangcaiPc&m=NumGoods&a=index">卡券管理</a></li>
				   <li class="end"></li>
				   <li><a class="headerNavA" href="/index.php?g=Integral&m=Integral&a=index">多赢积分</a></li>
				   <li><a class="headerNavA" href="/index.php?g=Home&m=Index&a=marketingShow5">多宝电商</a></li>
				   <li><a class="headerNavA" href="/index.php?g=Wfx&m=Fxgl&a=index">旺分销</a></li>
				   <li class="end"></li>
				   <li><a class="headerNavA" href="/index.php?g=Wmember&m=Member&a=promotionn4880">会员管理</a></li>
				   <li><a class="headerNavA" href="/index.php?g=Hall&m=Index&a=index" target="_blank">卡券商城</a></li>
				   <li class="end"></li>
				   <li class="more"><a href="javascript:void(0)">更多<i class="icon-down-dir"></i>
				   <i class="icon-up-dir"></i></a><div class="headerMore"><div class="headerMoreNav"><a href="/index.php?g=LabelAdmin&m=Channel&a=IndexNew&htmlid=11&type=1&sns_type=21">我的渠道</a><a href="/index.php?g=Home&m=Store&a=index">我的门店</a><a href="/index.php?g=Home&m=Store&a=myEpos">我的终端</a><a href="/index.php?g=Home&m=Wservice&a=windex&wserver_id=1">旺服务</a><a href="/index.php?g=DataCenter&m=DateData&a=index">数据中心</a></div></div></li>
				   </ul></div>
			<div class="headerOpr">
				<div class="headerOprList hasMoreList"><a href="/index.php?g=Home&m=AccountInfo&a=message"><i class="icon-mail-alt has"></i></a>
					<div class="headerMore">
						<div class="headerMoreNews">
							<a href="/index.php?g=Home&m=AccountInfo&a=message">系统消息<em>(31)</em></a>
				        </div>
				    </div>
			    </div>
			    <div class="headerOprList">
			    	<a href="/index.php?g=Home&m=Login&a=index">返回官网</a>
			    </div>
			    <div class="headerOprList">
			    	<a href="/index.php?g=Home&m=Logout&a=index">[退出]</a>
			    </div>
			</div>
			<div class="headerMsg">
				<div class="text">
					<span>欢迎，{{ user_name }}</span>
					<i class="icon-down-dir"></i>
					<i class="icon-up-dir"></i>
				</div>
				<div class="headerMore">
					<p>{{ user_name }}</p>
					<p class="link">
						<a href="">我的账户</a>
						<a href="">我的任务</a>
					</p>
					<p class="link">
					   <a target="_blank" href="http://epos.wangcaio2o.com/WebPos/?token={{ token }}&node_id={{ node_id }}&node_name={{ node_name }}&user_id={{ user_id }}&user_name={{ user_name }}">EPOS系统</a>
					   <a target="_blank" href="http://iss.wangcaio2o.com:10080/zzpt/index.php?token={{ token }}&node_id={{ node_id }}&node_name={{ node_name }}&user_id={{ user_id }}&user_name={{ user_name }}">电商平台</a>
					   <a target="_blank" href="https://admin.yima.so/index.php?m=Admin&a=Login&appid={{ appid }}&token={{ token }}">SSO后台</a>
					   <a href="/view/agent">代理商管理</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>