@charset "utf-8";
/* CSS Document */
.split{height:1px;background:#ed3f41;background:linear-gradient(left, #efefef 50%, #ed3f41 90%);background:-moz-linear-gradient(left, #efefef 50%, #ed3f41 90%);background:-o-linear-gradient(left, #efefef 50%, #ed3f41 90%);background:-webkit-linear-gradient(left, #efefef 50%, #ed3f41 90%);}
.split span{border-radius:10px;display:block;width:10px;height:10px;top:-5px;position:absolute;right:0px;background:#ed3f41}
.strate_pic{width:150px;height:112px;overflow:hidden;margin-right:20px;}
.strate_pic img,.privilege img,.news_pic img{-webkit-transition:all 0.3s;transition:all 0.3s;width:100%;height:100%}
.strate_pic img:hover,.produce:hover .strate_pic img,.strat:hover .strate_pic img{transform:scale(1.05);-webkit-transform:scale(1.05);width:100%}
.strate_des{width:272px;height:102px;overflow:hidden;font-size:14px;color:#333;line-height:24px;padding-top:10px}
.strate_bt{display:block;width:72px;height:24px;border:1px solid #dcdcdc;text-align:center;line-height:24px;border-radius:24px;color:#666;font-size:12px;background:#fff;margin-right:5px}
.strate_list ul li{line-height:30px}
.strate_list ul li a{font-size:14px;color:#333;}
.strate_list ul li a span{color:#999;font-size:14px}
.strate_list ul li a span.list-time{color:#999;font-size:12px}
.strate_list ul li a:hover{color:#ed3f41}
.strate_list ul li a:hover span{color:#ed3f41}
.privilege{width:220px;height:164px;overflow:hidden;margin-right:20px}
.privilege:last-child{margin-right:0px}
.privilege dt,.privilege dt img{width:100%;height:100%}
.privilege img:hover{transform:scale(1.05);-webkit-transform:scale(1.05);width:100%}
.news_pic{width:180px;height:134px;overflow:hidden;}
.news_pic img:hover{transform:scale(1.05);-webkit-transform:scale(1.05);width:100%}
.news_top{height:134px;overflow:hidden;font-size:14px;color:#333;line-height:24px;}
.news_top p{color:#999;line-height:24px;font-size:14px;}
.news_top p.news_des{text-indent:2em;width:82%}
.news_top .news_title{font-size:16px;color:#333;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;line-height:30px}
.news_top .news_title span{color:#999;font-size:14px}
.cases{width:220px;height:257px;overflow:hidden;background:#f8f8f8;border-radius:2px;margin-right:20px}
.cases:last-child{margin-right:0px}
.cases dt.case_pic{width:220px;height:164px;}
.cases dd .case_descont{width:200px;height:24px;line-height:24px;margin:15px 10px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:14px}
.cases dd .case_descont01{width:200px;height:48px;line-height:24px;margin:15px 10px;overflow:hidden;font-size:14px}
.cases .shade-wrapper,.cases .code-pic{width:100%;height:100%;background:rgba(0,0,0,.5); text-align:center;opacity:0;filter:alpha(opacity=0);-webkit-transition:all 0.3s;transition:all 0.3s;}
.cases .code-pic img{width: 220px; height: 164px;}
.cases:hover ,.privilege:hover{-webkit-box-shadow:0 4px 8px rgba(0, 0, 0, .2);box-shadow:0 4px 8px rgba(0, 0, 0, .2);}
.cases:hover .shade-wrapper,.cases:hover  .code-pic{opacity:1;filter:alpha(opacity=100)}
.cases .code-pic  img{margin:0 auto;background:#fff;margin-top:5px; border: solid 1px #ddd;-webkit-transition:all 0.3s;transition:all 0.3s;border:1px solid #ddd;width:109px;height:109px}
.cases:hover  .code-pic img{margin-top:14px;} 
.cases .case_des{position: absolute;bottom:0;width:220px;height:93px;background:#f8f8f8; border-radius:0 0 2px 2px;-webkit-transition:all 0.3s;transition:all 0.3s;}
.cases:hover .case_des{height:117px}
.cases:hover  dd  .case_descont{display:none}
.cases:hover   dd .case_descont01{display:block}
.cases:hover   dd  .strate_bt{color:#ed3f41}

