@charset "utf-8";
/* CSS Document */
/*
[目录表]
1- 储值卡 缩写-card
*/
#ui-card { width:100%;}
#ui-card li { width:43%; height:76px; display:inline-block; padding:17px 0; float:left; margin-left:20px;}
#ui-card li p { font: 13px/20px "microsoft yahei"; text-align:left; float:left; margin-left:80px; color:#666}
#ui-card li a { float:left; margin:5px 0 0 80px;}
#ui-card .ui-card-bg {height:100%; float:left; margin-left:10px;}
#ui-card .ui-card-bg1 {background: url(../Image/icon_head.png) no-repeat 10px 0px;}
#ui-card .ui-card-bg2 {background: url(../Image/icon_head.png) no-repeat 10px -150px;}

.card-libs { width:100%;float:left; overflow:hidden; margin-top:20px;}
.card-libs .p { display:block; line-height:30px;cursor:pointer; margin-right:40px;float:left;color:#999;font-size:18px; font-family:"microsoft yahei";}
.card-libs .p.hover { color:#fe4902;font-size:18px; font-family:"microsoft yahei";}
.card-libs .hide { display:none;}
.card-libs .show { display:block;}
.card-libs-content { padding-top:41px;}

.card-repay-prize {}
.card-repay-prize span {color:#fe4902;font-size:18px; font-weight:bold; font-family:"microsoft yahei";}

.card-data { border:solid 1px #ddd; background:#fefaf9 url(../Image/mem_icon.png) no-repeat -410px 0;padding:20px 20px 20px 200px; position:relative;}
.card-data-con {text-align:left; font-size:14px;padding-bottom:30px;}
.card-data-con-p { line-height:30px;}
.card-data-rule { position:absolute; right:20px; top:20px; width:300px; height:90%; border-left:solid 1px #ddd; font-size:14px; text-align:left; padding:0 0 0 40px;}
.card-data-rule p { line-height:30px;}
.db { display:block;}