@charset "utf-8";

/*会员数据统计*/
.chart-change{float: right;}
.chart-change li{float: left; height:30px ;line-height: 30px;background: #f8f8f8;margin-left: 10px;}
.chart-change li a{display: block;padding:0 10px ;color: #666;}
.chart-change li.active a{background: #ed3f41;line-height:28px ;color:#fff ;}
.chartBox{width: 800px;margin: 0 auto;}