@charset "utf-8";
/*
 * time 2015-12-15 10:00;
 * Author hardy_yin;
 */
.banner{background:url(../Image/sd/banner.jpg) no-repeat center;background-size:100% 100%;width:100%;height:453px;}
.banner .banner-info{width:1250px;margin:0 auto;position:relative;height:453px ;}
.cloud{height:210px;margin: 0 auto;margin-top: -120px;position: relative;z-index:2 ;width:100% ;max-width:1360px ;}
.cloud img{width:100% ;}
.main{width:100% ;background: url(../Image/sd/bg.jpg) repeat-x;background-size: 100%;float: left;padding-top:30px ;margin-top: 30px;}
.part01{z-index: 10;position:relative ;width:1098px;margin:0 auto;border:solid 1px #c9c9c9;border-top:none;border-radius: 35px;}
.part01 .part01-info{width:1100px ;margin-left: -1px;height:493px ;}
.part01 .part01-info .step{width:367px;height:492px;float:left;position: relative;}
.part01 .part01-info .step dl{padding-left:50px;padding-bottom:20px;z-index:1 ;position: relative;padding-right: 5px;}
.part01 .part01-info .step h5{background:url(../Image/sd/title01.png) no-repeat;width: 367px;height:136px ;line-height:136px ;margin-top:-30px ;margin-bottom: 30px;}
.part01 .part01-info .step.step01 h5{background:url(../Image/sd/title01.png) no-repeat;}
.part01 .part01-info .step.step02 h5{background:url(../Image/sd/title02.png) no-repeat;}
.part01 .part01-info .step.step03 h5{background:url(../Image/sd/title03.png) no-repeat;}
.part01 .part01-info .step.active{border:1px solid #f3c20c;background:#ffefd0;border-bottom-right-radius:25px;border-bottom-left-radius:25px;width:365px ;}
.part01 .part01-info .step01.active h5{background:url(../Image/sd/title01-hover.png) no-repeat;}
.part01 .part01-info .step02.active h5{background:url(../Image/sd/title02-hover.png) no-repeat;}
.part01 .part01-info .step03.active h5{background:url(../Image/sd/title03-hover.png) no-repeat;}
.part01 .part01-info .step.active h5 span{color: #fff;}
.part01 .part01-info .step01{width:366px ;}
.part01 .part01-info .step01 h5{width:366px ;}
.part01 .part01-info .step02{}
.part01 .part01-info .step03{}
.part01 .part01-info .step.active{border:1px solid #f3c20c;background:#ffefd0;border-bottom-right-radius:25px;border-bottom-left-radius:25px;width:365px;border-top-left-radius: 25px;border-top-right-radius: 25px;}
.part01 .part01-info .step.active h5{width:367px ;margin-left: -1px;}
.part01 .part01-info .step01.active{width:364px ;}
.part01 .part01-info .step01.active h5{width:366px ;margin-left: -1px;}
.part01 .part01-info .step h5>img{border-radius: 200px;float: left;margin-top:8px ;margin-left:12px ;}
.part01 .part01-info .step h5 b{margin-right: 20px;float: right;margin-top:5px ;display:none ;}
.part01 .part01-info .step.active h5 b{display: block;}
.part01 .part01-info .step h5 span{color: #cf2528;font-size:24px ;font-weight: bold;margin-left:20px ;}
.part01 .part01-info .step dl dt>img{vertical-align:top;margin-right:5px}
.part01 .part01-info .step dl>dt{font-size:16px;color:#333;line-height:24px}
.part01 .part01-info .step dl>dd{font-size:14px;color:#333;line-height:24px}
.part01 .part01-info .step dl dd span,.part01 .part01-info .step ul li span{color:#ed3f41}
.part01 .part01-info .step ul{padding:0 20px}
.part01 .part01-info .step ul>a{display:block;width:234px;height:46px;text-decoration:none;font-size:16px;border-radius:25px;text-align:center;line-height:46px;font-weight:700;background:#f8f8f8;color:#999;border:1px solid #ccc;margin: 0 auto;}
.part01 .part01-info .step ul>a:hover{color:#ed3f41}
.part01 .part01-info .active ul>a{border:1px solid #ed3f41;background:#ed3f41;color:#fff;font-weight:400}
.part01 .part01-info ul>a.award{border:1px solid #ed3f41;background:#fff;color:#ed3f41;font-weight:700}
.part01 .part01-info ul>a.award-ok{border:1px solid #ccc;background:#fff;color:#999;font-weight:700}
.part01 .part01-info ul>a.award-ok:hover{border:1px solid #ccc;background:#fff;color:#999;font-weight:700}
.part01 .part01-info .active.step ul>a:hover{ color:#fff; }
.part01 .part01-info .active ul>a:hover{color:#fff;background:#ed3f41 ;}
.part01 .part01-info .step>i{position: absolute;top:38px;left: 220px;z-index: 10;}
.part01 .part01-info .step ul .marquee{height:38px;overflow:hidden;line-height: 38px;background: #fffae8;border-radius: 38px;}
.part01 .part01-info .step ul li{font-size:14px;list-style:disc;margin-left:50px;height:28px;}
.part01 .part01-info .step ul p{padding-left:85px;font-size:14px;padding-bottom:10px}
/*你想曝光吗*/
.baoguang{margin: 0 auto;width: 1100px;}
.baoguang .left{float: left;margin-right: 20px;}
.baoguang .right{width:660px;float:left;}
.baoguang .right>dl{float:left;width:660px;margin-top:15px;margin-left: 15px;}
.baoguang .right dl dt{float:left;width:27px;margin-right:10px;margin-top:10px}
.baoguang .right dl dd{float:left;width:620px}
.baoguang .right dl dd h4{color:#e73437;font-weight:700;font-size:16px}
.baoguang .right dl dd p{color:#333;font-size:14px}

/*活动说明*/
.huodong{width:1030px;margin:0 auto;padding:30px;background:#f0f0f0;border-radius:10px;color:#666;margin-bottom:40px;}
.huodong h3{font-size:16px;font-weight:700}
.huodong p{font-size:14px;line-height:24px}
/*抽奖大转盘样式*/
.get_liwu{position:fixed;top:0;left:0;width:100%;height:100%;background:url(../Image/sd/op_bg.png) repeat;overflow:hidden;z-index:100;display:none}
.get_liwu_info{width:1100px;margin:0 auto;z-index:1000}
.lotter{width:299px;height:460px;background:#711285;border-radius:20px;position:fixed;top:50%;left:50%;margin-left:-150px;margin-top:-230px;z-index:200;display:none ;}
.lotter .lotter-box{position:relative;padding-left:18px;padding-top:18px}
.lotter .lotter-box{position:relative;padding-left:18px;padding-top:18px}
.lotter .lotter-box .close{position:absolute;top:-40px;right:0}
.lotter .lotter-box .box{background:url(../Image/sd/point.png) no-repeat;width:263px;height:269px;padding-left:16px;padding-top:12px}
.lotter .lotter-box .box dl dd,.lotter .lotter-box .box dl dt{width:75px;height:76px;position:absolute}
.lotter .lotter-box .box dl .dd-01{top:36px;left:38px}
.lotter .lotter-box .box dl .dd-02{top:36px;left:116px}
.lotter .lotter-box .box dl .dd-03{top:36px;left:194px}
.lotter .lotter-box .box dl .dd-04{top:115px;left:194px}
.lotter .lotter-box .box dl .dd-05{top:194px;left:194px}
.lotter .lotter-box .box dl .dd-06{top:194px;left:116px}
.lotter .lotter-box .box dl .dd-07{top:194px;left:38px}
.lotter .lotter-box .box dl .dd-08{top:115px;left:38px}
.lotter .lotter-box .box dl dt{top:115px;left:116px}
.lotter .lotter-box .box dl dd{background:url(../Image/sd/lot-bg.png) no-repeat}
.lotter .lotter-box .box dl dd.hover{background:url(../Image/sd/lot-bg-hover.jpg) no-repeat}
.lotter .lotter-box .phone-input dl dd input:focus,.lotter .lotter-box .phone-input dl dd input:hover,.lotter .lotter-box .phone-input dl dt button:focus,.lotter .lotter-box .phone-input dl dt input:focus,.lotter .lotter-box .phone-input dl dt input:hover{border:none}
.lotter .lotter-box .phone-input dl dd,.lotter .lotter-box .phone-input dl dt{width:263px;height:40px;background:#fff;border-radius:5px;line-height:40px;margin-bottom:10px}
.lotter .lotter-box .phone-input dl dt button{background:#c849c7;width:97px;height:25px;border-radius:25px;display:inline-block;color:#fff}
.lotter .lotter-box .phone-input dl dt input{margin-left:10px;width:140px;color:#999;font-size:14px;border:none}
.lotter .lotter-box .phone-input dl dd input{margin-left:10px;width:150px;color:#999;font-size:14px}
.lotter .lotter-box .mslj{text-align:center;padding-top:5px}
.lotter .lotter-box .mslj .submit,
.lotter .lotter-box .mslj .submit-01{
	background:url(../Image/sd/btn.png) no-repeat;display:inline-block;width:138px;height:41px;text-align:center;font-size:14px;color:#f9dfb6;line-height:41px;
}
/*活动案例展示*/
.sample{width: 1120px;margin: 0 auto;padding:30px 0 ;overflow: hidden;}
.sample .sample-list{width: 260px;position:relative ;background:#f6f6f6 ;margin: 0 10px ;margin-bottom:30px ;float:left}
.sample .sample-list dl{}
.sample .sample-list dl dt{position:relative;height:260px ;width: 260px;overflow: hidden;}
.sample .sample-list dl dt>b{position: absolute;top:0;right: 0;padding: 0 10px;  text-align: center;height: 33px;line-height: 33px;background: url(../Image/sd/part-bg.png) repeat;display: block;font-size: 14px;color: #fff;font-weight: bold;z-index: 0;}
.sample .sample-list dl dt .code{position: absolute;top:0;left: 0;width:260px ;height:260px ;text-align: center;top:260px;z-index: 1;background: url(../Image/sd/part-bg.png) repeat;}
.sample .sample-list:hover dl .code{top:0;transition: top 0.6s;}
.sample .sample-list:hover dl .code span{display: inline-block;width: 100%;color: #fff;padding-top:30px ;padding-bottom:20px ;font-size:16px ;}
.sample .sample-list dl dd{background: #f23537;color: #fff;font-size:16px ;font-weight: bold;line-height: 42px;padding-left:20px ;}
.sample .sample-list ul{height: 120px;padding:20px 0;}
.sample .sample-list ul li{color: #333;font-size: 14px;width:200px ;margin-left: 30px;line-height:24px ;list-style:disc  ;}
.sample.move .sample-list.aa{z-index: 4;animation:left 0.5s linear forwards ;opacity:0 ;-webkit-animation:left 0.5s linear forwards ;}
.sample.move .sample-list.bb{z-index: 3;animation:left 0.5s linear 0.5s forwards ;opacity:0 ;-webkit-animation:left 0.5s linear 0.5s forwards ;}
.sample.move .sample-list.cc{z-index: 2;animation:left 0.5s linear 1s forwards ;opacity:0 ;-webkit-animation:left 0.5s linear 1s forwards ;}
.sample.move .sample-list.dd{z-index: 1;animation:left 0.5s linear 1.5s forwards ;opacity:0 ;-webkit-animation:left 0.5s linear 1.5s forwards ;}
.sample .sample-list .jiao{position: absolute;bottom:-5px;right: 0;}

/*动画样式*/
.banner.move .banner-info img.a{animation:top 0.8s linear forwards;-webkit-animation:top 0.8s linear  forwards;opacity: 0;position:relative;}
.banner.move .banner-info img.b{animation:bottom 0.8s linear forwards;-webkit-animation:bottom 0.8s linear forwards;position:relative;}
.baoguang.move .right .ee{animation:bottom 0.6s linear  forwards;-webkit-animation:bottom 0.6s linear forwards;position:relative;opacity:0;}
.baoguang.move .right .aa{animation:bottom 0.6s linear 0.6s forwards;-webkit-animation:bottom 0.6s linear 0.6s forwards;position:relative;opacity:0;}
.baoguang.move .right .bb{animation:bottom 0.6s linear 1.2s forwards;-webkit-animation:bottom 0.6s linear 1.2s forwards;position:relative;opacity:0}
.baoguang.move .right .cc{animation:bottom 0.6s linear 1.8s forwards;-webkit-animation:bottom 0.6s linear 1.8s forwards;position:relative;opacity:0}
.baoguang.move .right .dd{animation:bottom 0.6s linear 2.4s forwards;-webkit-animation:bottom 0.6s linear 2.4s forwards;position:relative;opacity:0}
.part01.move .part01-info .bb{animation:left 0.5s linear 0.5s forwards;-webkit-animation:left 0.5s linear 0.5s forwards;opacity:0;z-index:10 ;}
.part01.move .part01-info .cc{animation:left 0.5s linear 1s forwards;-webkit-animation:left 0.5s linear 1s forwards;opacity:0;z-index:9 ;}
.part01.move .part01-info .dd{animation:left 0.5s linear 1.5s forwards;-webkit-animation:left 0.5s linear 1.5s forwards;opacity:0;z-index:8 ;}
.baoguang.move .left{animation:left 0.5s linear 0.5s forwards;-webkit-animation:left 0.5s linear 0.5s forwards;opacity:0;z-index:10 ;position:relative ;}
.lotter .lotter-box .box{animation: bg 0.8s linear forwards infinite;-webkit-animation: bg 0.8s linear forwards infinite;}
.sample.move .sample-list{overflow: hidden;}
.sample.move .sample-list b{animation:top 2s linear 2s forwards ;-webkit-animation:top 2s linear 2s forwards ;opacity: 0;}
.sample.move .sample-list .jiao{animation:jiao 1.5s linear 4s forwards ;-webkit-animation:jiao 1.5s linear 4s forwards ;opacity: 0;}
@keyframes left{
	0%{left: -20px;opacity: 0;}
	100%{left: 0px;opacity: 1;}
}
@-webkit-keyframes left{
	0%{left: -20px;opacity: 0;}
	100%{left: 0px;opacity: 1;}
}
@keyframes top{
	0%{top: -20px;opacity: 0;}
	0.5%{top: -20px;opacity: 1;}
	100%{top: 0px;opacity: 1;}
}
@-webkit-keyframes top{
	0%{top: -20px;opacity: 0;}
	0.5%{top: -20px;opacity: 1;}
	100%{top: 0px;opacity: 1;}
}
@keyframes bottom{
	0%{bottom: -20px;opacity: 0;}
	100%{bottom: 0px;opacity: 1;}
}
@-webkit-keyframes bottom{
	0%{bottom: -20px;opacity: 0;}
	100%{bottom: 0px;opacity: 1;}
}
@keyframes jiao{
	0%{bottom: -10px;right:-5px;opacity: 0;}
	1%{bottom: -10px;right:-5px;opacity: 1;}
	100%{bottom: -5px;right:0;opacity: 1;}
}
@-webkit-keyframes jiao{
	0%{bottom: -10px;right:-5px;opacity: 0;}
	1%{bottom: -10px;right:-5px;opacity: 1;}
	100%{bottom: -5px;right:0;opacity: 1;}
}

@keyframes bg{
	0%{background: url(../Image/sd/point.png) no-repeat;}
	50%{background: url(../Image/sd/point-op.png) no-repeat;}
	100%{background: url(../Image/sd/point.png) no-repeat;}
}
@-webkit-keyframes bg{
	0%{background: url(../Image/sd/point.png) no-repeat;}
	50%{background: url(../Image/sd/point-op.png) no-repeat;}
	100%{background: url(../Image/sd/point.png) no-repeat;}
}
/*悬浮菜单样式*/
.sidebar{position: fixed; right: 15px; bottom: 265px; z-index: 100;}
.sidebar dl dd{border-radius:2px; width: 56px;height: 46px;padding-top:9px;background: url(../Image/sd/part-bg.png) repeat; margin-bottom: 5px;text-align: center;
line-height: 18px;font-size: 14px;color: #fff;cursor: pointer}
.sidebar dl dd.active{background: #ED3F41;}
.fwrx:hover .show_tel { display: block}
.show_tel {display: none;position: fixed;bottom: 328px;right: 70px;font-size: 14px;font-weight: bold;border-radius: 5px;z-index: 200;border: 1px #eee solid;background: #FFF;padding: 10px 20px;color: #666;}
.aui_state_noTitle .aui_close {top: 15px;right: 15px;}



.hiden{display:none!important}




