#wrapper {padding-bottom:50px;}
#container.w1100 { width:1100px; min-width:1100px;}
#container.p0 { padding:0;}
#container.w1100 .Gheader { padding:10px 20px 10px 0;}
#main { width:100%; min-height:710px;}

/* 框架
--------------------------------------------------------------*/
.sidebar { float:left; position:relative; z-index:1; margin-right:-291px; width:290px; height:710px; text-align:left;}
.submain { float:right; position:relative; width:100%; height:710px; overflow: hidden;}
.subcon { margin:0; padding:0; margin-left:290px; height:100% !important;}
.Mcon { border-top:none; height:100% !important;  background: #38373c;}

.Pheader { position:relative; z-index:99; height:64px; background:#efefef;}
.Pheader .GheaderTitle { float:left; margin-left: 60px; color: #444; font-size:18px;text-align: left; line-height:64px;}
.Pheader .GheaderTitle a { color: #444; font-size:18px;text-align: left; line-height:64px; display: block;}
.Pheader .GheaderOpr { float:right; font-size:0;}
.Pheader .GheaderOpr a { display: inline-block; *display:inline; *zoom:1; padding:7px; width:60px; height:50px; line-height:20px; font-size:14px; color:#666666; text-align:center;}
.Pheader .GheaderOpr a:hover { text-decoration:none; background:#666;}
.Pheader .GheaderOpr a i { margin:0 auto; display:block; width:30px; height:30px; color:#42474d; font-size:20px; line-height:30px;}
.Pheader .GheaderOpr a:hover { color:#fff;}
.Pheader .GheaderOpr a:hover i { color:#fff;}
.Pheader .GheaderAdd { position:absolute; top:0; left:50%; margin-left:-260px; width:520px; height:60px;}
.Pheader .GheaderAdd { float:right; font-size:0;}
.Pheader .GheaderAdd .GheaderAddItem { position:relative; display:inline-block; padding:7px; width:60px; height:50px; line-height:20px; font-size:14px; color:#666666; text-align:center; cursor:pointer;}
.Pheader .GheaderAdd .GheaderAddItem.height {height:50px;}
.Pheader .GheaderAdd .GheaderAddItem:hover { text-decoration:none; background:#ed3f41;}
.Pheader .GheaderAdd .GheaderAddItem i { margin:0 auto; display:block; width:30px; height:30px; color:#ed3f41; font-size:20px; line-height:30px;}
.Pheader .GheaderAdd .GheaderAddItem:hover { color:#fff;}
.Pheader .GheaderAdd .GheaderAddItem:hover>.GheaderAddHandle i { color:#fff;}
.Pheader .GheaderAdd .GheaderAddItem:hover .GheaderAddItemNav { display:block;}
.Pheader .GheaderAdd .GheaderAddItemNav { position:absolute; left:-14px; top:64px; width:0px; height:0px; display:none;}
.Pheader .GheaderAdd .GheaderAddItemNav ul { position:relative; width:100px; height:auto; overflow:hidden; background-color:#fff;border-radius:2px; border:solid 1px #ddd; box-shadow:0 0 3px rgba(0,0,0,.2);}
.Pheader .GheaderAdd .GheaderAddItemNav ul li { position:relative; padding-left:30px; height:35px; line-height:35px; color:#ed3f41; text-align:left;}
.Pheader .GheaderAdd .GheaderAddItemNav ul li i { position:absolute; left:10px; top:1px; margin:0 auto; width:20px; height:35px; color:#ed3f41; font-size:14px; line-height:35px; color:#ed3f41;}
.Pheader .GheaderAdd .GheaderAddItemNav ul li:hover { background:#ed3f41; color:#fff;}
.Pheader .GheaderAdd .GheaderAddItemNav ul li:hover>i{ color:#fff;}
.Pheader .GheaderAdd .GheaderAddItemNav .arrow {position:absolute; z-index:2;width:11px;height:6px; font-size:0; line-height:0;top:-5px;left:50px;margin-left:-5px;}
.Pheader .GheaderAdd .GheaderAddItemNav .arrow i { margin:0 auto; display:block; height:1px; background:#fff; border-left:solid 1px #b5b5b5; border-right:solid 1px #b5b5b5;}
.Pheader .GheaderAdd .GheaderAddItemNav .arrow i.line9 { width:1px; background:#b5b5b5; border:none;}
.Pheader .GheaderAdd .GheaderAddItemNav .arrow i.line7 { width:1px;}
.Pheader .GheaderAdd .GheaderAddItemNav .arrow i.line5 { width:3px;}
.Pheader .GheaderAdd .GheaderAddItemNav .arrow i.line3 { width:5px;}
.Pheader .GheaderAdd .GheaderAddItemNav .arrow i.line1 { width:7px;}
.Pheader .GheaderAdd .GheaderAddItemNav .arrow i.line0 { width:9px;}


.mypage { position:relative; float:right; width:500px; height:100%; overflow:hidden; background:#f7f7f7;}

#phone { position: absolute; z-index:3; left:43%; margin-left:-160px; top:50%; margin-top:-313px; padding-bottom:55px; width:326px;height:auto;border-radius:45px; background:#f7f7f7;}
#phone .leftopr { position:absolute; z-index: 3; top:44px; left:-30px; width:31px; height:auto;}
#phone .leftopr i { width:30px; height:30px; line-height:30px; text-align:center; margin-top:1px; border-radius:2px 0 0 2px; color:#bbb; cursor:pointer; background: #f7f7f7;}
#phone .leftopr i.ok { color:#ed3f41;}
#phone .rightopr { position:absolute; z-index: 3; top:44px; right:-31px; width:31px; height:auto;-moz-user-select:none;-webkit-user-select:none;}
#phone .rightopr .bgopr { width:30px; border-radius:0 2px 2px 0; text-align:center; padding:10px 0 5px 0; cursor:pointer; background: #f7f7f7;}
#phone .rightopr i { width:20px; height:20px; line-height:20px; text-align:center; margin-top:1px; color:#333;}
#phone .rightopr .bgoprCon { width:30px;}
#phone .rightopr .bgoprCon i { position:relative; left:-32px; width:30px; height:30px; line-height:30px; text-align:center; margin-top:1px; border-radius:0 2px 2px 0; color:#bbb; cursor:pointer; -webkit-transition:all 0.5s 0.5s;transition:all 0.5s 0.5s; background: #f7f7f7;}
#phone .rightopr .bgoprCon i:nth-of-type(1) { left:0;}
#phone .rightopr .bgoprCon i:nth-of-type(2) { left:0;}
#phone .rightopr .bgoprCon i:nth-of-type(3) { left:0;}
#phone .rightopr .bgoprCon i:nth-of-type(4) { left:0;}
#phone .rightopr .bgoprCon i.ok { color:#ed3f41;}
#phone .rightopr:hover .bgoprCon i { left:0; -webkit-transition:all 0.5s ;transition:all 0.5s;}
#phone .rightopr .bgoprcolor { position: absolute; left: 29px; top:73px; background: #f7f7f7; padding: 5px; width: 154px; display: none;}
#phone .rightopr .bgoprcolor.show { display: block;}
#phone .rightopr .bgoprcolor .sp-replacer { width:18px; height: 18px; float: left;}
#phone .rightopr .bgoprcolor .sp-replacer .sp-preview { width: 100%; height: 100%;}
#phone .rightopr .bgoprcolor input { float: left; margin-left: 5px; width:112px; height: 16px; line-height: 16px; padding: 1px 6px 1px 6px;}
#phone .phonetitle { position:relative; z-index: 3; margin-top:45px; height:40px; overflow:hidden; background:#222; text-align:center; line-height:40px; cursor:pointer;}
#phone .phonetitle span { display:block; margin:0 70px; color:#fff; font-size:16px; text-align:center;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#phoneCon { position:relative; z-index:2; margin:0 auto;width:320px; height:490px; overflow: visible; background:#fff;margin-top: 47px;}
.phone2 { position: absolute; z-index:3; top:0; bottom: 0; left: 0px; width:320px;border: solid 3px #f7f7f7; border-top: solid 45px #f7f7f7; border-bottom: solid 55px #f7f7f7;pointer-events: none;border-radius:45px; }
.phone2:before{position:absolute;top:-20px;left:50%;margin-left:-21px;width:42px;height:6px;border-radius:3px;background:#ccc;content:"";}
.phone2:after{position:absolute;bottom:-45px;left:50%;margin-left:-14px;width:28px;height:28px;border:solid 3px #ccc;border-radius:50%;content:"";}
#Mform { float:right; margin:40px 20px 0 0; padding-bottom:20px; width:500px; background:#fbfbfb; border:solid 1px #d6d6d6; border-radius:5px;}
#Mform .GformTitle { padding-left:30px; line-height:40px; font-size:16px; color:#666; border-bottom:solid 1px #d6d6d6;}


.market { position:relative; z-index:2; width:100%; height:100%; overflow:hidden; background:#f7f7f7;}
.marketTit { position:relative; z-index:2; height:45px; text-align:center; background: #ed3f41;}
.marketTit>p { margin:0; line-height:45px; font-size:14px; color:#fff;}
.marketCon { position:absolute; top:45px; left:0; bottom:0; width:100%;}
.marketCon .marketNav { height:45px; background:#e1e1e1;}
.marketCon .marketNav ul { padding-top:8px; margin:0; height:37px; overflow:hidden; position:relative;}
.marketCon .marketNav ul li { float:left; width:25%; height:40px;}
.marketCon .marketNav ul li a { margin:0 6px; display:block; line-height:40px; border-radius:3px 3px 0 0; color:#666; font-size:14px; text-align:center;}
.marketCon .marketNav ul li.hover a,.marketCon .marketTit ul li:hover a { background:#f7f7f7;}
.marketList { position:absolute; top:19px; left:0; bottom:0; width:100%; overflow:hidden; overflow-y:auto;}
.marketList dl { padding:0 4px;}
.marketList dl dt { padding:8px 0 3px 0; width:100%; height:auto; overflow:hidden;}
.marketList dl dt a { float:left; margin-left:5px; margin-right:3px; margin-bottom: 5px; padding:0 10px; height:25px; line-height:25px; color:#666; background:#e1e1e1; border-radius:2px;}
.marketList dl dt a.hover { background:#ed3f41; color:#fff;}
.marketList dl dd { float:left; margin:5px; width:80px; height:124px; overflow:hidden;}
.marketList dl dd img { width: 100%; height: 100%;}
.marketList dl dd img.an {-webkit-animation:zoomIn 0.5s forwards linear;}
.marketList dl dd .marketListItem { position:relative; width:80px; height:125px;}
.marketList dl dd .marketListItem .marketListItemDel { position:absolute; z-index:999; top:5px; right:5px; width:20px; height:20px; line-height:20px; text-align:center; background:#ed3f41; color:#fff; border-radius:3px; box-shadow:0 0 3px rgba(0,0,0,.2); display:none; cursor:pointer;}
.marketList dl dd .marketListItem:hover .marketListItemDel { display:block;}

