@charset "utf-8";
/* CSS Document */
/*
[目录表]
1- 旺财产品介绍 缩写-dbt
*/
#dbt-body { text-align:center; height:100%; background:#f6f6f6;}
#dbt-common { margin:0 auto;height:100%;}
#dbt-header { height:100px;width:990px; margin:0 auto;}
#dbt-header #logo { width:242px;height:100px; margin:10px 0; float:left; overflow:hidden;background: url(../Image/logo.png) no-repeat 0 0;}
#dbt-header #dbt-user { margin:10px 0; float:right;}
.dbt-user-center { float:left;}
.dbt-user-head { width:80px; height:80px; overflow:hidden; float:left;}
.dbt-user-name,.dbt-user-icon,.dbt-user-con { margin-left:90px; text-align:left;}
.dbt-user-name a,.dbt-user-icon a,.dbt-user-con a {color:#0078b6;}
.dbt-user-name { margin-top:8px; line-height:30px; color:#0078b6; font-size:14px; font-weight:bold;}
.dbt-user-icon { line-height:23px;}
.dbt-user-con { line-height:23px;}
.dbt-tran { float:left; margin-top:55px; margin-left:10px;}

#dbt-main { height:540px;background: url(../Image/dbt_bg1.jpg) repeat-x center top;}
#dbt-main #dbt-warp {width:990px;margin:0 auto; height:100%; position:relative;}
#dbt-flash,#dbt-login ,#dbt-message,#dbt-login-after {position:absolute;}
#dbt-flash { width:600px; left:0; top:30px; height:420px; z-index:10;}
#dbt-login { width:298px; right:20px; top:0; height:404px; z-index:12;background: url(../Image/dbt_bg2.png) no-repeat 0 0;}
#dbt-login p { font-size:15px; font-weight:bold; text-align:center; color:#e73323; margin-top:155px;}
#dbt-login .dbt-login-api { margin-top:10px;}
#dbt-login .dbt-login-api li { float:left; margin-left:15px; margin-top:10px;}
#dbt-login .dbt-login-go { margin-top:10px;} 
#dbt-login .dbt-login-go li { text-align:center;}
#dbt-login-after {width:298px; right:20px; top:0; height:404px; z-index:12;background: url(../Image/dbt_bg2.png) no-repeat 0 0;}
#dbt-login-after p {font-size:14px;text-align:left; color:#333; margin-top:155px; padding:0 50px;}
#dbt-login-after p span { color:#e73323; font-weight:bold;}
#dbt-message {width:330px; right:26px; top:143px; height:246px; z-index:11;background: url(../Image/dbt_bg2.png) no-repeat -316px 0;}
#dbt-message .dbt-message-click { position:absolute; left:4px; top:4px; width:38px; height:40px; cursor:pointer;}
.dbt-message-form { margin-left:65px; margin-top:20px;}
.dbt-message-form ul { text-align: left;}
.dbt-message-form ul li{ margin-top:13px;}

#dbt-footer { text-align:center; color:#999; margin-top:30px;}
#dbt-footer .dbt-link a {color:#999;}
#dbt-footer .dbt-copyright { margin-top:10px;}



/*------按钮-----*/
.dbt-btn-tran,.dbt-btn-message,.dbt-login-goback {cursor: pointer;display:inline-block;text-align: center;text-decoration: none !important;color:#fff;background: url(../Image/dbt_btn.png) no-repeat; text-indent:0; border:none;}
.dbt-btn-tran { width:70px;height:25px; font-size:12px; font-weight: normal; line-height:25px; background-position:0 -40px;}
.dbt-btn-tran:hover { background-position:-70px -40px;}
.dbt-btn-message { width:90px;height:29px; font-size:12px; font-weight: normal; line-height:25px; background-position:0 0px;}
.dbt-btn-message:hover { background-position:-90px 0px;}
.dbt-login-goback {width:150px;height:34px; font-size:12px; font-weight: normal; line-height:34px; background-position:0 -80px;} 
.dbt-login-goback:hover { background-position:-150px -80px;}
/*------输入框-----*/
.dbt-textbox { border: solid 1px #d8d8d8;background:#fff url(../Image/button.png) repeat-x 0 -400px; line-height:32px;height:32px; color:#666; font-size:14px; padding:0 5px;}
.dbt-textarea { border: solid 1px #d8d8d8;background:#fff url(../Image/button.png) repeat-x 0 -400px; line-height:25px;height:64px; height:64px; color:#666; font-size:14px; padding:0 5px;}




