/*
 * logo
 * */
#header{ height:90px;}
#header:after{ clear:both; display:block; height:0; content:""}
#header .logo{ background:url(../Image/eTrade/eTrade_logo.png) no-repeat; position: relative;  float: left; display:block;  width: 219px;  height: 90px;}
/*搜索框*/
#header .search{ position: relative; float:left;  width:462px;  margin-top:28px; padding-left:100px;}
#header .search .form {width: 420px; height: 35px}
#header .search .form .text { float:left;width:350px;height:24px;line-height:24px;color:#666;padding:4px;margin-bottom:4px;border-width:2px 0 2px 2px;border-color:#ed3f41;border-style:solid;outline:0;font-size:14px; border-bottom-right-radius:0; border-top-right-radius:0;}
#header .search .form .button {float:left; width:60px; height:36px; background:#ed3f41; border:none; outline:0; line-height:1; color:#fff; font-size:14px; cursor:pointer}
#header .search .form .cw-icon i {top:0; left: 0; width: 60px; height: 36px}
/*登陆注册按钮*/
#header .user-center{ float: left;  width: auto;  margin-top: 8px; font-size:12px;}
#header .loginin { width:auto; height:30px; line-height:30px; margin-top:21px; padding-left:40px; display:inline-block;}
#header .loginin a { color:#999;}
#header .username {  cursor: pointer;  width: 150px;  overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis;  position: relative;  text-align: right;  color: #609fec; font-size:12px; line-height:18px;}
#header .usercenter{ height:30px;}
#header .loginout{ margin-top:22px;}
#header .loginout a{  width: auto;  height: 30px;line-height: 30px;  font-size: 12px;  margin-top: 27px;  color: #999;}
/*帮助按钮*/
#header .help{float: right; height:36px; line-height:36px; padding:0 22px; margin-top:28px; background:#f6f6f6; border:1px #e7e7e7 solid; text-align:center}
#header .help a{height:36px; line-height:36px; color:#666; text-decoration:none}
#header .help:hover{ border:1px #ec9fa0 solid; background:#ffeeee; color:#ed3f41; border-radius:2px; cursor:pointer}
#header .help:hover a{ color:#ed3f41; border-radius:2px; font-weight:bold;}
#header .help a:hover{height:36px; line-height:36px; color:#ed3f41; text-decoration:none; cursor:pointer}
/*导航*/
#navItems{ background:#ed3f41; width:100%; margin:0 auto; height:38px; line-height:38px;}
#navItems .navItems_container{margin:0 auto;width:1100px;height:auto; position:relative;}
#navItems .navItems_container ul.navitems-group{ margin:0; padding:0;}
#navItems .navItems_container ul.navitems-group li{ float:left; display:inline-block; height:38px;}
#navItems .navItems_container ul.navitems-group li a{ padding:0 40px; text-align:center; text-decoration:none; font-size:16px;  line-height:38px; color:#FFF; font-weight:bold}
#navItems .navItems_container ul.navitems-group li a:hover{ padding:0 40px; text-align:center; text-decoration:none; font-size:16px;  line-height:38px; color:#FFF; font-weight:bold; display:block; background:#ff6d6f;}
#navItems .navItems_container ul.navitems-group li.current{ background:#c82324;}
#navItems .navItems_container ul.navitems-group li.current a{padding:0 40px; text-align:center; text-decoration:none; font-size:16px;  line-height:38px; color:#FFF; font-weight:bold}
#navItems .navItems_container ul.navitems-group li.current a:hover{background:#c82324;}

/*banner*/
.top_area{ position:relative}
.top_area:after{ clear:both; display:block; height:0; content:""}
.top_area .top_area_l{ float:left; position:relative}
.top_area .top_area_r{ float:right; position:relative}
.top_area .top_area_r .m{ width:248px;overflow:hidden; border:solid 1px #dadada; padding: 0 10px; margin-bottom:18px;}
.top_area .top_area_r .m:after{ clear:both; display:block; height:0; content:""}
.m,.mb,.mc,.mt{ overflow:hidden}
.top_area .top_area_r .m .mt{padding: 0 15px; border-bottom: 1px solid #e8e8e8; }
.top_area .top_area_r .m .mt h2{font-size: 14px; color:#333333;  float: left; height: 43px; line-height: 43px}

.top_area .top_area_r .mc{ /*padding: 8px 0; height:70px;*/ overflow:hidden}
.top_area .top_area_r .mc dl dd{height: 24px;line-height: 24px;overflow: hidden;white-space: nowrap;  text-overflow: ellipsis; overflow: hidden;text-overflow: ellipsis;}
.top_area .top_area_r .mc dl dd a span{ color:#ed3f41}
.top_area .top_area_r .mc dl dd a{ color:#666}

.top_area .top_area_r .opr{ padding:0px 0 18px; position: relative; top:0px; right:0; display:inline-block;}
/*首页选项卡*/
.cd-tabs {  position: relative;  width:248px; height:211px; overflow:hidden; border:solid 1px #dadada; padding: 0 10px; margin-bottom:15px;}
.cd-tabs:after {  content: "";  display: table;  clear: both;}
.cd-tabs::after {  position: absolute;  top: 0;  right: 0;  height: 60px;  width: 50px;  z-index: 1;  pointer-events: none;  background: -webkit-linear-gradient( right , #f8f7ee, rgba(248, 247, 238, 0));  background: linear-gradient(to left, #f8f7ee, rgba(248, 247, 238, 0));  visibility: visible;  opacity: 1;  -webkit-transition: opacity .3s 0s, visibility 0s 0s;  -moz-transition: opacity .3s 0s, visibility 0s 0s;  transition: opacity .3s 0s, visibility 0s 0s;}
.no-cssgradients .cd-tabs::after {  display: none;}
.cd-tabs.is-ended::after {  visibility: hidden;  opacity: 0;  -webkit-transition: opacity .3s 0s, visibility 0s .3s;  -moz-transition: opacity .3s 0s, visibility 0s .3s;  transition: opacity .3s 0s, visibility 0s .3s;}
.cd-tabs nav {  overflow: auto;  -webkit-overflow-scrolling: touch; border-bottom: 1px solid #e8e8e8; }
.cd-tabs-navigation {  width: auto; float:left}
.cd-tabs-navigation:after {  content: "";  display: table;  clear: both;}
.cd-tabs-navigation li {  float: left;}
.cd-tabs-navigation a {  position: relative;  display: block;  height: 43px;  width: auto; margin:0 10px;  text-align: center;  font-size: 14px;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;  color: #999999;  padding-top: 34px;}
.cd-tabs-navigation a:hover{ text-decoration:none; color:#f05451}
.no-touch .cd-tabs-navigation a:hover {  color: #29324e;  background-color: rgba(233, 230, 202, 0.3);}
.cd-tabs-navigation a.selected {  background-color: #ffffff !important;  border-bottom:2px #f05451 solid;  color: #29324e;}
.cd-tabs-navigation {width: auto;  }
.cd-tabs-navigation a {height: 43px;	line-height: 43px;	width: auto;	text-align: left;	font-size: 14px;	padding: 0;	margin:0 10px;  }
.cd-tabs-navigation a.selected {	border-bottom:2px #f05451 solid  }
.cd-tabs-navigation a::before {top: 50%;margin-top: -10px;margin-left: 0;left: 38px;  }

@media only screen and (min-width: 768px) {
  .cd-tabs-navigation {width: 80px;float: left;  }
  .cd-tabs-navigation a {height: 80px;width: 80px;padding-top: 46px;  }
  .cd-tabs-navigation a.selected {border-bottom:2px #f05451 solid  }
  .cd-tabs-navigation a::before {top: 22px;  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs-navigation {width: auto;  }
  .cd-tabs-navigation a {height: 43px;	line-height: 43px;	width: auto;	text-align: left;	font-size: 14px;	padding: 0;	margin:0 10px;  }
  .cd-tabs-navigation a.selected {	border-bottom:2px #f05451 solid  }
  .cd-tabs-navigation a::before {top: 50%;margin-top: -10px;margin-left: 0;left: 38px;  }
}

.cd-tabs-content {  background: #ffffff;}
.cd-tabs-content li {  display: none;  padding: 1.4em;}
.cd-tabs-content li.selected {  display: block;  -webkit-animation: cd-fade-in 0.5s;  -moz-animation: cd-fade-in 0.5s;  animation: cd-fade-in 0.5s;}
.cd-tabs-content li p {  font-size: 14px;  font-size: 0.875rem;  line-height: 1.6;  color: #8493bf;  margin-bottom: 2em;}
@media only screen and (min-width: 768px) {
  .cd-tabs-content {min-height: 480px;  }
  .cd-tabs-content li {padding: 10px 0;  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs-content {min-height: 0;  }
  .cd-tabs-content li {padding: 10px 0;  }
  .cd-tabs-content li p {font-size: 16px;font-size: 1rem;  }
}

@-webkit-keyframes cd-fade-in {
  0% {opacity: 0;  }
  100% {opacity: 1;  }
}
@-moz-keyframes cd-fade-in {
  0% {opacity: 0;  }
  100% {opacity: 1;  }
}
@keyframes cd-fade-in {
  0% {opacity: 0;  }
  100% {opacity: 1;  }
}

.ad_list{}
.ad_list dd{ height: 24px;line-height: 24px;overflow: hidden;}
.ad_list dd{}
.ad_list dd a span{ color:#ed3f41}
.ad_list dd a{ color:#666}

.lc{ width:70px; height:70px; display:inline-block; border-radius:50%; background:#f4f4f4; text-align:center; box-sizing:border-box; padding-top:16px; line-height:18px;}
.lc:hover{background:#ffeeee;}
.lc a{ color:#666}
.lc a:hover{ color:#ed3f41; text-decoration:none}
.lc~i{ background:url(../Image/eTrade/arrow.png) center no-repeat; width:15px; height:25px; display:inline-block;}
.lc:nth-of-type(3){ margin-right:-20px}
.lc:nth-of-type(3)~i{ width:0; height:0;}
.lc2:nth-of-type(2){ margin-right:-20px}
.lc2:nth-of-type(2)~i{ width:0; height:0;}
.lc.last{ margin-right:-45px}
.lc.last~i{ width:0; height:0;}
.lc2.second{ margin-right:-20px}
.lc2.second~i{ width:0; height:0;}


.top_area .top_area_r .btn a{ background:#ed3f41; height:32px; line-height:32px; border:0px #ec9fa0 solid; color:#FFF; width:270px; position:relative; float:left; border-radius:2px; text-align:center; font-weight:bold}
.top_area .top_area_r .btn a:hover{background: #ff6d6f; color: #fff; text-decoration:none }
.top_area .top_area_r .btn a:active{background: #c82324; color: #fff; }

.hightPoint{ vertical-align:top; margin-top:20px;}
.hightPoint a{font-size:0px;}
.hightPoint dl{ background:#eeeeee;width:390px; height:162px; margin-right:15px; box-sizing:border-box;float: left;}
.hightPoint dl dt{ font-size:32px; font-weight:bold; text-align: center;padding-top: 30px;height: 37px;}
.hightPoint a:nth-of-type(1) dl dt{color: #4fa7ff;}
.hightPoint a:nth-of-type(2) dl dt{color: #ff9c00}
.hightPoint a:nth-of-type(3) dl dt{color: #ff595b}
.hightPoint dl dd{ font-size:16px;text-align: center;color: #999;padding-bottom: 2px;}
.hightPoint a:nth-of-type(1) dl{background: url(../Image/eTrade/mall01-bg.jpg) 0px 0px no-repeat; background-size:100%  100%;}
.hightPoint a:nth-of-type(2) dl{background: url(../Image/eTrade/mall02-bg.jpg) 0px 0px no-repeat; background-size:100%  100%;}
.hightPoint a:nth-of-type(3) dl{background: url(../Image/eTrade/mall03-bg.jpg) 0px 0px no-repeat; background-size:100%  100%;}

.hightPoint a.last-child dl{margin-right:0px;}

/*合作案例*/
.case{}
.caseTitle{ background:url(../Image/eTrade/eTrade_caseTitle.png) no-repeat;  background-size:100%  100%; height:71px; display:block; text-indent:-9999em; margin:20px 0; position:relative}
.caseTitle:after{content:' ';height: 0;position: absolute;width: 0;border: 10px solid transparent;	border-bottom-color: #fff;position: absolute;bottom:0;left:49%;z-index: 2; }
.caseContent{ display:table;border-collapse: collapse;}
.caseContent ul{font-size:0px;display: table-cell; width: 31.4%; margin-right:28px; box-sizing:border-box;border:1px #dadada solid;}
.caseContent ul:last-child{margin-right:0px;}
.caseContent ul.last{margin-right:-30px;}
.caseContent ul li .caseDesc{ padding:20px;font-size:14px;}

.caseDesc:after{ clear:both; display: block; content:""; height:0}
.caseDesc_l{ float:left; width:55%;}
.caseDesc_l h4{ font-size:20px; font-weight: bold; line-height:20px; padding-bottom:5px;}
.caseDesc_l h6{ font-size:14px; color:#ffae00;}
.caseDesc_l p{ line-height:16px; padding:10px 0}

.caseDesc_r{ float:right;}
.caseDesc_r img{ border:1px #ebebeb solid; width:116px; height:116px; margin-top:5px;}

.caseContent ul li .caseType{ background:#f7f7f7; height:30px; padding:20px;}
.caseType dl{}
.caseType dl:after{ clear:both; display: block; content:""; height:0}
.caseType dl dt{background:#f7f7f7 url(../Image/eTrade/eTrade_btnBg.png) 0 0 no-repeat; float:left; border-right:0; color:#ed3f41; height:31px; line-height:31px; padding:0 17px; margin-right:20px;font-size:14px;}
/*.caseType dl dt span.before{ background:#f7f7f7 url(../Image/eTrade/eTrade_btnBg.png) 0 0 no-repeat; width:6px; height:31px;  display:block; float:left; }
.caseType dl dt span.after{ background:#f7f7f7 url(../Image/eTrade/eTrade_btnBg.png) -55px 0 no-repeat; width:6px; height:31px;  display:block;  float:right; }*/
.caseType dl dd{ display:inline-block; float:left;}
.caseType dl dd img{ width:auto; height:40px;}

/*热门推荐*/
.recommend{ padding:10px 20px; background:#f6f6f6; position:relative}
.recommend h2{ font-size:18px;}
.top1{ background:#f7f7f7; padding:35px; float:left; display:inline-block; margin-right:20px;}
.top1 img{ width:250px; height:182px; border:1px #ebebeb solid; padding:4px; background:#FFF;}

.salItem-msg { margin-top:10px;}
.salItem-msg h3 { font-size:16px; color:#333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; line-height:150%; padding-bottom:5px; text-align:left}
.salItem-msg h4 {font-size: 12px;color: #f09831; width:200px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;line-height: 18px; padding-bottom:5px;}
.salItem-msg h5 { font: bold 24px/25px Arial; color:#e33b26; margin-left:-3px;height:27px;}
.salItem-msg h5 i{ font: normal 24px/25px Arial;font-style:normal; color:#e33b26; vertical-align:middle;}
.salItem-msg p { font-size:12px; color:#666; font-family:tahoma,arial,\5b8b\4f53; color:#999;}
.salItem-msg .salItem-hot { float:left; text-align:left; color:#999;  }
.salItem-msg .salItem-hot span{ color:#ff2900;font: normal 12px/24px Arial; vertical-align:middle;}
.salItem-msg .salItem-collect { text-align:left; color:#999; float:left; padding-bottom:5px;  }
.salItem-msg .salItem-collect span{ color:#ff2900;font: normal 12px/24px Arial; vertical-align:middle;}
.salItem-msg .city { float:right;font: normal 12px/25px Arial; color:#606060; cursor:pointer; position: relative;}
.salItem-msg .city:hover .cityList{ display:block;}
.salItem-msg .city .cityList{ display:none; position:absolute; bottom:22px; right:0; width:250px; background:#fff; border:solid 1px #999;}
.salItem-msg .city .cityList span{ float:left; width:50%; text-align:center; cursor:text;}

.box{ width:100%;height:auto; background-color:#FFFFFF; FILTER: alpha(opacity=70); opacity: 0.7; -moz-opacity: 0.7;position:absolute; left:0px; bottom:0px;}
.see_more{ background:rgba(0,0,0,0.5); padding:10px; line-height:18px; color:#FFF; display:none; height:auto;}
.rang1,.rang2,.rang3{ background:url(../Image/hall_rang.png) no-repeat; width:10px; height:14px; margin:0 3px; display:inline-block; overflow:hidden}
.rang1{background-position:0 0;}
.rang2{background-position:0 -18px;}
.rang3{background-position:0 -36px;}

.recommend_scroll{ padding:10px 0; margin:0 auto;}
.recommend_scroll .mr_frbox{padding:0px;}
.recommend_scroll .mr_frBtnL{cursor:pointer;display:inline;float:left;height:26px;margin:80px 10px 0 0;width:17px;}
.recommend_scroll .mr_frUl{float:left;width:660px;margin-left:0px; margin-bottom:15px;}
.recommend_scroll .mr_frBtnR{float:right;margin-top:80px;cursor:pointer;width:17px;height:26px;}
.recommend_scroll .mr_frUl ul li{display:block;float:left;width:200px;overflow:hidden; text-align:center; position:relative; padding:8px; background:#FFF; margin-right:20px;}
.recommend_scroll .mr_frUl ul li a.proImg{ width:200px; height:125px; display:block; background-size:contain; background-color: #f7f7f7; background-position: center center; background-repeat: no-repeat; overflow:hidden; text-align:center; margin:0 auto;}
.recommend_scroll .mr_frUl ul li a.proImg img{height:140px; border:0px #d0d0d0 solid; box-sizing:border-box; background:#FFF; padding:0px; margin:0 auto; text-align:center}


.recommend_fixed{}

.recommend_fixed ul{}
.recommend_fixed ul li{ background:#f7f7f7; display:inline-block; float:left; width:15.8%; box-sizing:border-box; padding:20px; margin:0 auto; margin-right:15px; text-align:center}
.recommend_fixed ul li:last-child{margin-right:0px;}
.recommend_fixed ul li.last{margin-right:0px;}
.recommend_fixed ul li img{ height:46px; width:auto}
.btm_link{ line-height:18px; color:#aaa; padding:10px 0;}
.btm_link a{ font-size:12px; line-height:1.5em; color:#999}


.recommend_fixed ul li i{position: absolute;left:0;top:0;}
/*首页图片滚动*/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; height: 160px; -webkit-backface-visibility: hidden; background-size:contain; background-color: #f7f7f7; background-position: center center; background-repeat: no-repeat;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block; height:260px; overflow:hidden}
.no-js .slides > li:first-child {display: block;}

.flexslider { margin: 0 0 0px; position: relative; zoom: 1; width:910px;}
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; z-index:50}
.carousel li { margin-right: 5px; }
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 48px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-indent:-999em }
.flex-direction-nav .flex-prev { left: -50px; background-position:0 0 }
.flex-direction-nav .flex-next { right: -50px; background-position:-132px 0}
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px;}
.flexslider:hover .flex-next { opacity: 0.7; right: 10px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }

.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; background:#ddd}
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }
.flex-control-nav {width: 100px; position: absolute; right:10px; float:right; bottom: 10px; text-align: center; z-index:60;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #fff; cursor: pointer; border-radius:50%; text-indent: -9999em;}
.flex-control-paging li a:hover { background: #333;}
.flex-control-paging li a.flex-active { background: #FFF; border:4px #FFF solid; cursor: default; }
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}


/*账号状态status*/
.status{ padding:8px 0; border:1px #dadada solid; border-top:0; border-bottom:0; margin-top:-18px;height: 36px;width: 268px;overflow: hidden;position: relative;}
.status ul{ margin:0; padding:0;height: 36px; width: 350px;padding-left: 16px;}
.status ul:after{ clear:both; display:block; content:""}
.status ul li{width:50px; float:left; border-right:1px #dadada solid;padding: 0 4px; }
.status ul li em{ display:block; text-align:center; font-size:16px; color:#ed3f41; font-weight:bold}
.status ul li span{ display:block; text-align:center; font-size:12px; color:#666666;}
.status ul li.bn{border: none;}
.status>a{position: absolute;top:20px;z-index: 3;color: #7c7b85;font-size: 22px;display: block;text-decoration: none;width: 6px;height: 11px;}
.status>a.left{background: url(../Image/eTrade/icon-arrow.jpg) 0px 0;}
.status>a.right{background: url(../Image/eTrade/icon-arrow.jpg) 6px 0;}

.bbs-l .title-tips{background: #f2f2f2;height: 40px;line-height: 40px;padding-left: 15px;}
.bbs-l .title-tips dl dd{float:left;margin-right: 22px;font-size: 14px;}
.bbs-l .title-tips dl dd img{vertical-align: middle;margin-right: 8px;}
.bbs-l .title-tips dl dd i{margin-left: 10px;font-style: normal;color: #999;
   width: 5px;background: url(../Image/eTicket/icon-down.png) no-repeat 0 4px;display: inline-block;height: 14px;}
 .bbs-l .title-tips dl dd i.bg{background-position: -5px 4px;}  
 h4.h4demand{padding: 25px 0 10px 0;height: 28px;line-height: 28px;}
.wrapper{background: #f4f4f4;}
.demand{margin-top: 15px;width: 825px;margin-left: -10px;}
.demand .demand-info{float:left;width: 253px;border: solid 1px #e8e8e8;margin: 0 10px;margin-bottom: 20px;font-size: 14px;height: 285px;}
.demand .demand-info a{text-decoration: none;}
.demand .demand-info:hover{box-shadow: 0px 0px 0px 1px #c3ddf5;border: solid 1px #c3ddf5;cursor:pointer;}
.demand .demand-info dl{}
.demand .demand-info dl.top{background: #f6fafd;padding: 10px 15px 10px 15px;}
.demand .demand-info dl dd{line-height: 24px;}
.demand .demand-info dl dd span{color: #ed3f41;}
.demand .demand-info dl.top dt{font-size: 16px;line-height: 26px;height: 52px;}
.demand .demand-info dl.top dt a:hover{color: #ed3f41;}
.demand .demand-info dl.main{padding: 7px 15px 7px 15px;}
.demand .demand-info dl.main dd,.demand .demand-info dl.main dt{line-height: 30px;}
.demand .demand-info dl.footer{padding: 10px 15px 15px 15px;border-top: dashed 1px #e8e8e8}
.demand .demand-info dl.footer dd a{float: right;background: #fff2f3;border: solid 1px #ffd0d3;font-size: 14px;width: 74px;
    height: 24px;line-height: 24px;color: #ed3f41;text-align: center;border-radius:3px; margin: 10px 0 15px 0;}
 
.demand .demand-info dl.footer dd a:hover{background:#FFD0D3;color: #ED3F41;} 
.demand .demand-info dl.footer dd a:active{background:#ED3F41;color: #fff;}     
.demand .demand-info dl.footer dd a.stop{background:#f2f2f2;border-color: #e8e8e8;color: #999; }
.rpdemand{background: #fff;padding: 10px 60px 30px 60px;border: solid 1px #e8e8e8;}
.rpdemand h5{border-left:5px solid #ed3f41;font-size: 18px;height: 18px; line-height: 18px;padding-left: 10px;margin-top: 30px;margin-bottom: 15px;}
.rpdemand h5 span{color: #ed3f41;}
.rpdemand input,.rpdemand select{border:solid 1px #ccc;height: 40px;line-height: 40px;font-size: 14px;padding:0 10px;}
.rpdemand .title dl dd{margin-top: 15px;}
.rpdemand .title label{margin-right: 10px;font-size: 14px;color: #666;width: 75px;display: inline-block;text-align: right}
.rpdemand .title label i{font-style: normal;color: #ed3f41}
.rpdemand .title dl dt{padding-top: 15px;font-size: 14px;}
.rpdemand .title dl dd textarea{padding:10px 10px 0 6px;line-height: 24px;color: #ccc;height: 150px;}

.rpdemand .cgxq .W-table tr.thdem th{background: none;padding-right: 40px;}
.rpdemand .cgxq .W-table tr.tddem td{border-right: none;border-left: none;vertical-align: top;padding:19px 0;} 
.rpdemand .cgxq .W-table tr th i{font-style: normal;color: #ed3f41;}
.rpdemand .cgxq .W-table tr td span{width: 14px;height: 3px;background: #ccc;display: inline-block;margin: 0 15px;margin-top: 10px;border-top:solid 10px #fff; border-bottom:solid 10px #fff;}
.rpdemand .cgxq .W-table tr td input{margin-right: 20px;}

.rpdemand .cgxq .W-table tr td select{width: 148px;margin-right: 20px}

.rpdemand .cgxq .W-table tr td textarea{width: 318px;margin-right: 20px;height: 36px;padding-bottom: 0;overflow: auto;line-height:24px;overflow: hidden;color: #333 }
.rpdemand .cgxq .W-table tr td textarea:focus{height: 150px;overflow: auto}
.rpdemand .title dl p{font-size: 14px;color: #666;line-height: 24px; }
.rpdemand-ft{text-align:center;}

.rpdemand .title dl p span.left{width:85px;text-align: right;display: inline-block;float: left;}



#Succeed {
    margin: 35px auto 75px auto;
    padding-left:310px;
   
}
#Succeed::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}
#Succeed .succeed_icon {
    box-sizing: border-box;
    float: left;
    margin-top: 4px;
    padding-right: 15px;
    text-align: right;
}
#Succeed .succeed_content {
    float: left;
    width: 500px;
}
#Succeed .succeed_content dl {
    margin: 0;
    padding: 0;
}
#Succeed .succeed_content dl dt {
    font-size: 16px;
    line-height: 40px;
}
#Succeed .succeed_content dl dd {
    color: #9b9b9b;
    font-size: 14px;
    line-height: 24px;
}
#Succeed .succeed_content dl dd a {
	display: inline-block;
    font-size: 14px;
    font-weight: normal;
    height:14px;
    line-height: 14px;
  
    border-left:solid 0px #ccc;
    padding-left: 10px;
    margin-right: 10px;
	margin-top:0;
}
.icon-peo{display: inline-block;width: 12px;height: 12px;background: url(../Image/eTrade/icon.png) no-repeat 0 0;margin-right: 8px;}
.icon-call{display: inline-block;width: 12px;height: 12px;background: url(../Image/eTrade/icon.png) no-repeat -12px 0;margin-right: 8px;}
.icon-mail{display: inline-block;width: 12px;height: 12px;background: url(../Image/eTrade/icon.png) no-repeat -24px 0;margin-right: 8px;}
.pdm-left{background: #fff;border:solid 1px #e8e8e8;width: 198px;float: left;margin-right: 20px;padding-bottom: 5px;}
.pdm-left dl{padding: 17px 20px 15px 20px;border-top: solid 1px #e8e8e8;}
.pdm-left dl dt{font-size: 16px;color: #333;line-height: 22px;font-weight: bold}
.pdm-left dl dd{font-size: 14px;color: #666;line-height: 24px;}
.pdm-left dl dd.first-child{padding-top: 8px;}
.pdm-left dl dd.hr{border-top: 1px dashed #ccc;height: 0;margin:10px 0 2px 0;line-height: 0;font-size: 0;padding-top: 0;}		
	
.pdm-right{background: #fff;border:solid 1px #e8e8e8;width: 878px;float: left;}
.pdm-right .rpdemand{padding: 0px 20px 30px 20px;border:none;}

.pdm-right .rpdemand .W-table tr td span{color: #ed3f41}
.pdm-right .rpdemand .W-table tr td{max-width:130px;padding: 0 20px;}
.rpdemand .seach-abs{right:-7px;top:-10px;}
.rpdemand .seach-abs .seach-arrow{background: url(../Image/eTrade/orange-arrow.png) no-repeat;width: 370px; height: 74px;line-height: 67px;}
.rpdemand .seach-abs .seach-arrow dl dd {color: #fff;font-size: 14px;}
.rpdemand .seach-abs .seach-arrow dl dd a{width: 100px;height: 36px;display:inline-block;background: #fff1e7;
border-radius:3px;float: left;line-height:36px;margin-left: 40px;margin-top: 15px; text-align: center;margin-right: 30px;color: #ff6600;}
.rpdemand .seach-abs .tips{padding-left: 20px;font-size: 14px;}
.rpdemand .seach-abs .tips span{color: #ed3f41;}

.bbs-l>h4>.me-supply{float: right;font-size: 14px;margin-right: 15px;}
.bbs-l>h4{padding-bottom: 6px;}

.e-Voucher{display: block;position: absolute;right:20px;top:0;background:#f7f7f7 url(../Image/eTrade/e-Voucher.jpg) no-repeat center center; 
width: 33px;height: 40px;border: solid 1px #ccc;}

.recommend_scroll .mr_frUl{ width:auto;}
.sjlogo{ width:60px; height:40px; overflow:hidden; position:absolute; top:20px; left:20px; z-index:8000}
.saloonList-ul li .sjlogo{ top:5px; left:5px}
.sjlogo img{ width:60px; height:40px; }
.stype{ background:url(../Image/eTrade/cpcorner.png) right center no-repeat; line-height:24px;padding:0 15px; padding-bottom:5px;  position:absolute; top: 8px; right: 3px;color:#FFF; font-style:normal; z-index:1000}
.buyBtn{ background:url(../Image/eTrade/buyBtn.png) left center no-repeat; float:right; width:48px; height:25px; display:inline-block; color:#FFF; font-size:14px; text-align:left; padding-left:17px;}
.buyBtn:hover{ background:url(../Image/eTrade/buyBtn.png) left center no-repeat; float:right; width:48px; height:25px; display:inline-block; color:#FFF; font-size:14px; text-align:left; padding-left:17px;}
.salItem-msg h5 span{ float:left;}
.salItem-msg h5:after{ clear:both; display:block; height:0; font-size:0; content:""}


.saloonList-ul li .salItem-msg h4 {font-size: 12px;color: #f09831;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;line-height: 18px; padding-bottom:5px;}
.saloonItem-info h4,.saloonItem-info>h4 {height: 26px;line-height: 26px;font-size: 16px;padding-top: 4px;text-indent: 30px;color: #f76329;}
.recommend_scroll_page{ position:absolute; top:20px; right:20px;}
.recommend_scroll_page a{}
.recommend_scroll_page a.changeBtn{ font-size:14px; color:#666;}


/* 多个左滚动 - 图片- 公用类 */
.leftLoop{ position:relative;}
.leftLoop .hd{ overflow:hidden;  height:30px;  padding:0 10px; position:absolute; top:-40px; right:17px;}
.leftLoop .hd .prev{ display:block;  width:5px; height:9px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;cursor:pointer; background:url("../Image/eTrade/arrowrl.png") 0 0 no-repeat;}
.leftLoop .hd .next{ display:block;  width:50px; float:right; margin-right:0px; line-height:24px; overflow:hidden;cursor:pointer; font-size:14px; color:#666;}
.leftLoop .hd .prevStop{ background-position:-60px 0; }
.leftLoop .hd .nextStop{ background-position:-60px -50px; }
.leftLoop .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px; zoom:1; }
.leftLoop .hd ul li{ float:left;  width:6px; height:6px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; background:url("../Image/eTrade/icoCircle.png") 0 -6px no-repeat; padding:0;}
.leftLoop .hd ul li.on{ background-position:0 0; }
.leftLoop .hd .changeBtn{ font-size:14px; color:#666666;}
.leftLoop .bd ul{ overflow:hidden; zoom:1; }
.leftLoop .bd ul li{ margin:0 18px 0 0; float:left; _display:block; text-align:center; border:1px #fff solid; }
.leftLoop .bd ul li:hover{  border:1px #ed3f41 solid;}
.leftLoop .bd ul li .pic{ text-align:center; }
.leftLoop .bd ul li .pic img{ width:120px; height:90px; display:block;  padding:2px; border:1px solid #ccc; }
.leftLoop .bd ul li .pic a:hover img{ border-color:#999;  }
.leftLoop .bd ul li .title{ line-height:24px;}








