boby,*{ font:normal 14px/1.5em "Microsoft YaHei"; color:#666666;}
#wrapper #container { padding-top: 0; background: #f68517;}
/*logo*/
#header{ height:90px;}
#header:after{ clear:both; display:block; height:0; content:""}
#header .logo{ background:url(../Image/eTrade/eTrade_logo.png) no-repeat; position: relative;  float: left; display:block;  width: 219px;  height: 90px;}
/*搜索框*/
#header .search{ position: relative; float:left;  width:462px;  margin-top:28px; padding-left:180px;}
#header .search .form {width: 420px; height: 35px}
#header .search .form .text { float:left;width:350px;height:24px;line-height:24px;color:#666;padding:4px;margin-bottom:4px;border-width:2px 0 2px 2px;border-color:#ed3f41;border-style:solid;outline:0;font-size:14px; border-bottom-right-radius:0; border-top-right-radius:0;}
#header .search .form .button {float:left; width:60px; height:36px; background:#ed3f41; border:none; outline:0; line-height:1; color:#fff; font-size:14px; cursor:pointer}
#header .search .form .cw-icon i {top:0; left: 0; width: 60px; height: 36px}
/*帮助按钮*/
#header .help{float: right; height:36px; line-height:36px; padding:0 22px; margin-top:28px; background:#f6f6f6; border:1px #e7e7e7 solid; text-align:center}
/*导航*/
#navItems{ background:#ed3f41; width:100%; margin:0 auto; height:38px; line-height:38px;}
#navItems .navItems_container{margin:0 auto;width:1100px;height:auto; position:relative;}
#navItems .navItems_container ul.navitems-group{ margin:0; padding:0;}
#navItems .navItems_container ul.navitems-group li{ float:left; display:inline-block; height:38px;}
#navItems .navItems_container ul.navitems-group li a{ padding:0 40px; text-align:center; text-decoration:none; font-size:16px;  line-height:38px; color:#FFF; font-weight:bold}
#navItems .navItems_container ul.navitems-group li a:hover{ padding:0 40px; text-align:center; text-decoration:none; font-size:16px;  line-height:38px; color:#FFF; font-weight:bold; display:block; background:#d32c2e;}
#navItems .navItems_container ul.navitems-group li.current{ background:#d32c2e;}
#navItems .navItems_container ul.navitems-group li.current a{padding:0 40px; text-align:center; text-decoration:none; font-size:16px;  line-height:38px; color:#FFF; font-weight:bold}
#navItems .navItems_container ul.navitems-group li.current a:hover{background:#d32c2e;}

/*banner*/
.banner { width: 1100px; margin:0 auto; height: 530px; background: url(../Image/eTrade/feedback/banner_bg.jpg) no-repeat; position: relative; z-index: 1;}
.banner .element_1 { width: 378px; height: 21px; position: absolute; background: url(../Image/eTrade/feedback/element_1.png) no-repeat; top: 56px; left: 50%; margin-left: -169px;}
.banner .element_2 { width: 600px; height: 340px; position: absolute; background: url(../Image/eTrade/feedback/element_2.png) no-repeat; top: 25px; left: 50%; margin-left: -320px;}
.banner .element_3 { width: 335px; height: 266px; position: absolute; background: url(../Image/eTrade/feedback/element_3.png) no-repeat; bottom: 30px; left: 50%; margin-left: -76px;}
.banner .element_4 { width: 1100px; height: 530px; position: absolute; background: url(../Image/eTrade/feedback/element_4.png) no-repeat; top: 0; left: 0;}
.banner .element_5 { width: 131px; height: 86px; position: absolute; background: url(../Image/eTrade/feedback/element_5.png) no-repeat; top: 40px; left: 160px;}
.banner .element_6 { width: 131px; height: 86px; position: absolute; background: url(../Image/eTrade/feedback/element_6.png) no-repeat; top: 140px; left: 90px;}
.banner .element_7 { width: 183px; height: 154px; position: absolute; background: url(../Image/eTrade/feedback/element_7.png) no-repeat; top: 340px; left: 150px;}
.banner .element_8 { width: 195px; height: 133px; position: absolute; background: url(../Image/eTrade/feedback/element_8.png) no-repeat; top: 105px; right: 135px;}

/* recommend */
.recommend { width: 1100px; margin:0 auto; height: 466px; background: url(../Image/eTrade/feedback/recommend.png) no-repeat; position: relative; z-index: 1;}
.recommend ul.r li { width: 210px; float: left;}
.recommend ul.r li.box_1 { margin: 65px 100px 0 0;}
.recommend ul.r li.box_2 { margin: 120px 70px 0 0;}
.recommend ul.r li.box_3 { margin: 120px 20px 0 0;}
.recommend ul.r li p a { display: block; text-indent: -9999em;}
.recommend ul.r li p a,.recommend ul.r li p { margin: 6px 0; text-align: center; font-size: 24px; color: #ffffff;}
.recommend ul.r li.box_1 a { width: 260px; height: 36px;}
.recommend ul.r li.box_2 a { width: 290px; height: 36px;}
.recommend ul.r li p span { color: #ffffff;}
.recommend ul.r li p img { display: block; margin-bottom: 20px;}
.recommend ul.r li p.buy { text-align: left;}
.recommend ul.r li.box_2 p.buy { text-indent: -1em;}
.recomElement_1 { width: 78px; height: 79px; background: url(../Image/eTrade/feedback/element_9.png) no-repeat; position: absolute; top: 240px; left: -90px; pointer-events: none;}
.recomElement_2 { width: 53px; height: 45px; background: url(../Image/eTrade/feedback/element_10.png) no-repeat; position: absolute; bottom: -80px; left: 200px; pointer-events: none;}
.recomElement_3 { width: 176px; height: 168px; background: url(../Image/eTrade/feedback/element_11.png) no-repeat; position: absolute; top: 440px; right: -70px; pointer-events: none;}
.recomElement_4 { width: 800px; height: 530px; background: url(../Image/eTrade/feedback/element_4.png) no-repeat; position: absolute; top: 40px; left: 170px; pointer-events: none; *z-index: -1;}

/* list */
.list { width: 100%; position: relative; z-index: 2;}
.list .more h3 { margin-top: 50px; height: 28px; background: url(../Image/eTrade/feedback/element_14.png) no-repeat; position: relative;}
.list .more h3 a { display: block; border: 1px #ffffff solid; line-height: 26px; padding: 0 20px 0 10px; position: absolute; top: 0; right: 275px; color: #ffffff;}
.list .more div.fn { padding: 5px 0px; padding-left:50px; background: #ffffff; width: 1100px; margin:0 auto; margin-top: 30px; }
.list dl { float: left; margin: 15px;}
.list dt { width: 220px; height: 160px; overflow: hidden; padding: 5px; margin: 0 0 10px 0; border: 1px #e2e2e2 solid; background: #ffffff;}
.list dt img { width: 100%; height: 100%; display: block;}
.list dl dd { width: 100%; height: 24px; overflow: hidden; color: #ed3f41; font-size: 18px;}
.list dl dd a { color: #333333;}
.list dl dd:last-child { margin-top: 5px;}
.list dl dd em,.list dl dd span { font-size: 12px; color: #999999;}
.list dl dd span:first-child em { display: inline-block; width: 10px; height: 17px; margin-right: 10px; vertical-align: middle; background: url(../Image/hall_rang.png) no-repeat;}
.list dl dd span:first-child .rang1 { background-position: 0 0;}
.list dl dd span:first-child .rang2 { background-position: 0 -17px;}
.list dl dd span:first-child .rang3 { background-position: 0 -34px;}

/* btn */
.btn { width: 324px; height: 30px; margin: 30px auto;}
.btn a { display: inline-block; float: left; width: 152px; line-height: 30px; text-align: center; margin-right: 20px; background: #ffcd03; color: #c36000;}
.btn a:last-child { margin-right: 0;}

@media only screen and (min-width: 768px) {
  .cd-tabs-navigation {width: 80px;float: left;  }
  .cd-tabs-navigation a {height: 80px;width: 80px;padding-top: 46px;  }
  .cd-tabs-navigation a.selected {border-bottom:2px #f05451 solid  }
  .cd-tabs-navigation a::before {top: 22px;  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs-navigation {width: auto;  }
  .cd-tabs-navigation a {height: 43px;	line-height: 43px;	width: auto;	text-align: left;	font-size: 14px;	padding: 0;	margin:0 10px;  }
  .cd-tabs-navigation a.selected {	border-bottom:2px #f05451 solid  }
  .cd-tabs-navigation a::before {top: 50%;margin-top: -10px;margin-left: 0;left: 38px;}
}

.cd-tabs-content {  background: #ffffff;}
.cd-tabs-content li {  display: none;  padding: 1.4em;}
.cd-tabs-content li.selected {  display: block;  -webkit-animation: cd-fade-in 0.5s;  -moz-animation: cd-fade-in 0.5s;  animation: cd-fade-in 0.5s;}
.cd-tabs-content li p {  font-size: 14px;  font-size: 0.875rem;  line-height: 1.6;  color: #8493bf;  margin-bottom: 2em;}
@media only screen and (min-width: 768px) {
  .cd-tabs-content {min-height: 480px;  }
  .cd-tabs-content li {padding: 10px 0;  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs-content {min-height: 0;  }
  .cd-tabs-content li {padding: 10px 0;  }
  .cd-tabs-content li p {font-size: 16px;font-size: 1rem;  }
}

@-webkit-keyframes cd-fade-in {
  0% {opacity: 0;  }
  100% {opacity: 1;  }
}
@-moz-keyframes cd-fade-in {
  0% {opacity: 0;  }
  100% {opacity: 1;  }
}
@keyframes cd-fade-in {
  0% {opacity: 0;  }
  100% {opacity: 1;  }
}

