/* #header{border-bottom:1px solid #e2e2e2} */
#header{background:url(../Image/hnavbj.jpg) repeat-x;}
#header .logo{width:320px;}
#header .header-cont{margin:0 auto;width:1100px;height:100%;}
#header .logo-img {width:178px;height:79px;}
#header .logo a{width:161px;height:80px;display:block;height:100%;}
#header .logo span{font-size:20px;color:#666;line-height:85px;padding:4px 0px 4px 17px;border-left:1px solid #949494}
#header .loginin a{font-size:14px}
.Indnav{height:80px;padding-right:30px}
.Indnav li{line-height:85px;height:80px;}
.Indnav li:hover a{color:#ed3f41}
.Indnav li.hhover{background:url(../Image/helpnav.jpg) no-repeat;background-position:center 67px;}
.Indnav li.hhover a{color:#ed3f41}
.faq .right .search-area{border-radius:0px;float:left;}
.faq .right .btn{float:left}
.faq .right .s-box  ul{font-size:14px;color:#666;padding-left:15px;float:left}
.faq .right .s-box ul li {line-height:20px}
.faq .right .s-box ul li em{font-size:14px;color:#2e7dc6;}
.faq .right{margin-left:230px;}
.faq .right p.h-words{font-size:14px;line-height:35px;margin-top:0px}
.faq .right p.h-words a{color:#3b78b2;padding-right:16px;margin-right:0px}
.faq .right p.h-words a:hover{color:#ed3f41}
/* help_cont */
.faq .q-area{margin-top:0px;}
.faq .q-area ul.fn{height:390px;}
.faq .q-area h1{font-size:18px;color:#000;padding:20px 0px 10px}
.faq .q-area li{line-height:32px;margin-top:0px;width:100%;list-style:none}
.faq .q-area li a span{color:#2e7dc6}
.faq .q-area li img{vertical-align:middle;}
/* search */
.faq .help_search li a{color:#2e7dc6}
.faq .help_search ul p{border:1px solid #e8e8e8;color:#666666;font-size:14px;background:#f7f7f7;line-height:40px;padding-left:15px;margin:20px 0px 10px 0px}
.faq .help_search ul p span{color:#ed3f41}
.faq .help_search .nonedata,.faq .q-area .nonedata{margin:30px 0;width:100%;height:130px;background-Image: url(../Image/help_search.png);background-repeat:no-repeat;background-position:top;}
.faq .help_search .nonedata p,.faq .q-area .nonedata p{display: block;margin-left:0px;text-align:center;line-height:14px;font-size: 14px;color:#666;padding-top:100px}
.faq .help_search .nonedata p a ,.faq .q-area .nonedata p a{color:#2e7dc6}
.faq .help_search .nonedata p a:hover ,.faq .q-area .nonedata p a:hover{cursor:pointer}
/* 在线反馈 */
#helpmain{width:1100px;position:relative;margin:0 auto 70px;}
#helpmain .help_zxfk{width:1100px;height:490px;border-bottom:none;} 
#helpmain .help_btbj{width:100%;height:55px;background:url(../Image/help_zxfk.jpg) no-repeat;}
.help_zxfk .member_l{float:left;width:400px;}
.help_zxfk .member_l p{padding-top:30px;padding-left:30px;font-size:18px;color:#333}
.help_zxfk .member_r{float:left;width:612px;padding-top:33px}
.help_zxfk .Gform{width:612px}
.help_zxfk  .Gform .Ginput {padding:12px 0 0 70px;position: relative;font-size: 14px;}
.help_zxfk .Gform .Gname{left: -85px;}
.help_zxfk .Gform .Ginput .maxTips.forInput{left: 335px;}
.help_zxfk .Gform .Ginput .btn-all{  margin-top: 33px; margin-bottom:0px;}
/* 详情页 */
.faq .right .bread-l{margin-top:0px;padding:20px 0px 10px 0px;font-size:14px}
.faq .text h1 {padding:20px 0 20px;font-size: 22px;line-height:36px;color: #333;font-weight: normal;}
.faq .text .help_ques{width:99%;height:86px;background:#fafafa;border:1px solid #ebebeb}
.faq .text .help_ques ul li{padding-top:15px;padding-left:15px}
.faq .text .help_ques ul.helps li a{display:block;float:left;font-size:14px}
.faq .text .help_ques ul li a img{float:left;padding:5px 8px 0px 10px;}
.faq .text .help_ques ul li .help_quesa1{width:83px;height:26px;background:#00c950;color:#fff;line-height:26px;border-radius:3px}
.faq .text .help_ques ul li .help_quesa1:hover,.faq .text .help_ques ul li .help_quesa2:hover{filter:alpha(opacity=80);opacity:0.8; cursor:pointer}
.faq .text .help_ques ul li .help_quesa2{width:182px;height:24px;line-height:24px;border-radius:3px;border:1px solid #d1d1d1;margin-left:15px;color:#666666}
.faq .text .help_ques ul li  .feedback:hover{cursor:pointer}
.faq .text .help_ques ul.tj_succ  li:first-child,.faq .text .help_ques ul.tj_fail  li:first-child{color:#ed3f41;font-size:16px}
.faq .text .help_ques ul.tj_succ  li:last-child,.faq .text .help_ques ul.tj_fail  li:last-child{color:#666;font-size:14px}
