@charset "utf-8";
/* CSS Main */

html{color:#595959;background:#f2f2f2; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:12px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

a {color:#2e7dc6;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%;background:#f2f2f2;}
#wrapper { height:auto; min-width:994px; width:100%;background:url(../Label/Image/Item/bs-pc-bg.jpg) no-repeat center bottom;}
#header,#container,#footer {width:100%;margin:0 auto;}
#container {height:auto!important; height:500px; min-height:500px;}
#header { height:285px;z-index:2; position:relative;background:url(../Label/Image/Item/bs-pc-bg1.png) no-repeat center center;}
#headerTwo { height:50px;background:#42474d;z-index:30; position:relative;}
#main { margin:0 auto;width:1100px;height:auto; position:relative; z-index:3; background:url(../Label/Image/Item/bs-pc-mainbg.png) repeat 0 0; overflow:hidden;}
#footer { height:auto; overflow:hidden; margin-top:40px; border-top:solid 1px #0099ff;}
#lefter { width:260px; padding:10px; height:auto; position:relative; z-index:2; background:#fff; float:left;}
#righter { width:100%; float:right; margin-left:-290px; padding-bottom:30px;}
/*----------------------------------  Global结束  ------------------------------------*/

.header-container { width:1100px; height:285px; margin:0 auto;background:url(../Label/Image/Item/bs-pc-bg2.jpg) no-repeat left top;}
.footer-container { width:100%; margin:0 auto;}
.footer-container p { width:1100px; margin:0 auto; text-align:center; color:#fff; line-height:60px;}

#nav { width:100%; height:57px; text-align:center;background:url(../Label/Image/Item/bs-navbg.png) repeat 0 0; border-top: solid 1px #ca0911;}
#nav .navCon { margin:0 auto; width:1000px; overflow:hidden;}
#nav .navCon dl { position:relative;}
#nav .navCon dl dd { width:25%; height:57px; float:left; overflow:hidden; position:relative; z-index:10;}
#nav .navCon dl dd a { display:block; line-height:57px; font-size:22px; color:#fff;}
#nav dd i { display:inline-block;*display:inline;*zoom:1; width:50px; height:50px; overflow:hidden; vertical-align:middle;}
#nav dd i.icon-1 {background:url(../Label/Image/Item/bs-pc-icon-1.png) no-repeat 0 0; }
#nav dd i.icon-2 {background:url(../Label/Image/Item/bs-pc-icon-2.png) no-repeat 0 0; }
#nav dd i.icon-3 {background:url(../Label/Image/Item/bs-pc-icon-3.png) no-repeat 0 0; }
#nav dd i.icon-4 {background:url(../Label/Image/Item/bs-pc-icon-4.png) no-repeat 0 0; }
#nav dt.navbg { position:absolute; left:15px; top:0; z-index:2; width:214px; height:57px;background:url(../Label/Image/Item/bs-navbgmove.png) no-repeat 0 0;}

.hr { height:0px; overflow:hidden; border:none; border-bottom:solid 1px #dadada; margin-top:55px;}

.mainNews { width:100%; height:415px; overflow: hidden;}
.mainNewsDaily { float:left; width:280px; height:100%; text-align:center; background:#cb0c40 url(../Label/Image/Item/bs-pc-dailybg.png) repeat-x 0 0;}
.mainNewsDaily h1 { margin:0 auto; padding-top:20px; width:252px; height:55px; overflow:visible; line-height:55px; text-align:left; font-size:30px; color:#fff;}
.mainNewsDaily p { margin:0 auto; margin-top:15px; width:250px; height:120px; overflow:hidden; line-height:20px; text-align:left; border:solid 1px #fff; background:#da2657l}
.mainNewsDaily p a { display:block; margin:10px; width:230px; height:100px; overflow:hidden; font-size:14px; color:#fff;}
.mainNewsDaily .more { float:right; margin-right:15px; margin-top:20px; color:#fff;text-decoration:underline;}
.mainNewsCon { margin-left:280px; height:100%; overflow:hidden; position:relative;}
.mainNewsCon .mainNewsImg { width:2460px; height:312px; overflow:hidden;}
.mainNewsCon .mainNewsImg ul { width:2460px; height:100%; overflow:hidden;}
.mainNewsCon .mainNewsImg li { width:820px; height:100%; position:relative; line-height:0; float:left;}
.mainNewsCon .mainNewsImg li img { width:100%; height:100%;}
.mainNewsCon .mainNewsImg li p,.mainNewsCon .mainNewsImg li h1 { position: absolute; top:225px; left:0; width:100%; height:55px; line-height:55px;}
.mainNewsCon .mainNewsImg li p { z-index:2; opacity:0.4;filter:alpha(opacity=40); background:#e10083;}
.mainNewsCon .mainNewsImg li h1 { z-index:3; color:#fff; font-size:20px; font-weight:bold; text-indent:20px;}
.mainNewsCon .mainNewsImg li h1 i { display:inline-block;*display:inline;*zoom:1; width:23px; height:23px;background:url(../Label/Image/Item/bs-pc-icon-list.png) no-repeat 0 0; position:relative; top:5px; margin-right:5px;}
.mainNewsList { position:absolute; bottom:0; left:0; width:100%; height:104px;}
.mainNewsList dd { width:273px; float:left; background:#000; cursor:pointer; line-height:0;}
.mainNewsList dd.last { width:274px; float:left;}
.mainNewsList dd img { width:100%; height:100%; opacity:0.6;filter:alpha(opacity=60);}
.mainNewsList dd.hover img { opacity:1;filter:alpha(opacity=100);}
.mainNewsList dt.mainNewsImgbg { position:absolute; left:0; top:-9px; z-index:2; width:274px; height:113px;background:url(../Label/Image/Item/bs-imgbgmove.png) no-repeat 0 0;}

.mainList1 { width:570px; float:left; margin-left:25px; position:relative;}
.mainList1 h1 { font-size:18px; color:#fff; padding-top:30px; line-height:30px;}
.mainList1 h1 hr { position:absolute; top:45px; right:0; width:450px; border:none; border-bottom:solid 1px #237ed7;}
.mainList1 dl { height:auto; overflow:hidden; padding-top:15px;}
.mainList1 dl dt { float:left; width:160px; height:195px; overflow:hidden;}
.mainList1 dl dt ul { width:162px; overflow:hidden;}
.mainList1 dl dt li { float:left; width:80px; overflow:hidden; line-height:27px; text-indent:10px; color:#fff; border-right: solid 1px #0d4e90; border-bottom: solid 1px #0d4e90; background:#0d559d;white-space: nowrap;text-overflow: ellipsis; cursor:pointer;}
.mainList1 dl dt li.hover { background:#1285d6;}
.mainList1 dd { margin-left:160px; height:195px; background:#fff url(../Image/w_loader.gif) no-repeat center center;}
.mainList1 dd img{ width:100%; height:100%;}

.mainList2 { width:450px; float:right; margin:0 auto; margin-right:25px; overflow:hidden; position:relative;}
.mainList2 h1 { font-size:18px; color:#fff; padding-top:30px; line-height:30px;}
.mainList2 h1 hr { position:absolute; top:45px; right:0; width:330px; border:none; border-bottom:solid 1px #237ed7;}
.mainList2 dl { height:auto; overflow:hidden; padding-top:15px;}
.mainList2 dd { width:220px; height:93px; float:left; margin-right:10px; margin-top:10px;}
.mainList2 dd.mt0 { margin-top:0;}
.mainList2 dd.mr0 { margin-right:0;}
.mainList2 dd img { width:100%; height:100%;}

.mainList3 { width:570px; float:left; margin-left:25px; position:relative;}
.mainList3 h1 { font-size:18px; color:#fff; padding-top:30px; line-height:30px;}
.mainList3 h1 hr { position:absolute; top:45px; right:0; width:450px; border:none; border-bottom:solid 1px #237ed7;}
.mainList3 dl { height:auto; overflow:hidden; margin-top:15px; background:#0c4d8d;}
.mainList3 dl dt { float:left; width:200px; height:124px; float:left;}
.mainList3 dl dt img { width:100%; height:100%;}
.mainList3 dl dd { margin-left:220px; padding:10px 0;}
.mainList3 dl dd li { line-height:20px;}
.mainList3 dl dd li a { color:#fff;}

.mainList4 { width:450px; float:right; margin:0 auto; margin-right:25px; overflow:hidden; margin-top:-80px;}
.mainList4 h1 { font-size:18px; color:#fff; padding-top:30px; line-height:30px; position:relative;}
.mainList4 h1 hr { position:absolute; top:45px; right:0; width:300px; border:none; border-bottom:solid 1px #237ed7;}
.mainList4 h1.next { padding-top:56px;}
.mainList4 h1.next hr { width:360px; top:71px;}
.mainList4 dl { height:auto; overflow:hidden; margin-top:15px; background:#0c4d8d;}
.mainList4 dl dt { float:left; width:142px; height:142px; float:left;}
.mainList4 dl dt img { width:100%; height:100%;}
.mainList4 dl dd { margin-left:170px; padding:34px 0; padding-right:30px; color:#fff; line-height:25px;}
.mainList4 ul { padding-top:10px; height:auto; overflow: hidden;}
.mainList4 ul li { margin-top:11px; margin-right:11px; width:142px; height:70px; float:left;}
.mainList4 ul li.last { margin-right:0;}

.mainList5 { width:1050px; margin:0 auto; overflow:hidden; position:relative; margin-left:25px;}
.mainList5 h1 { font-size:18px; color:#fff; padding-top:30px; line-height:30px;}
.mainList5 h1 hr { position:absolute; top:45px; right:0; width:950px; border:none; border-bottom:solid 1px #237ed7;}
.mainList5 dl { float:left; margin-right:10px; margin-top:15px; padding:30px 30px 20px 30px; width:280px; height:auto; overflow:hidden; background:#0c4d8d; color:#fff;}
.mainList5 dl.last { margin-right:none;}
.mainList5 dl dt { font-size:24px; font-weight: normal; padding-bottom:20px;}
.mainList5 dl dd { height:154px;}
.mainList5 dl dd p { line-height:22px;}

.mainList6 { float:left; width:730px; margin:0 auto; overflow:hidden; position:relative; margin-left:25px; margin-bottom:40px;}
.mainList6 h1 { font-size:18px; color:#fff; padding-top:30px; line-height:30px; position:relative;}
.mainList6 .mainListImg { padding-top:15px; width:100%; height:250px;}
.mainList6 .mainListImg img { width:100%; height:100%;}
.mainList6 dl { margin-top:20px; background:#0d5ca8;}
.mainList6 dl table { width:100%;border-collapse:collapse;}
.mainList6 dl table th { padding:0 20px 0 30px; background:#71a1d1; line-height:35px; color:#013c86; font-size:14px; text-align:center;}
.mainList6 dl table th.tl { text-align:left;}
.mainList6 dl table td { padding:8px 20px 8px 30px; line-height:24px; border-bottom:solid 1px #6a9dd3;}
.mainList6 dl table td a { color:#fff; font-size:14px;}
.mainList6 dl table td i { width:3px; height:3px; float:left; background:#fff; margin-top:11px; margin-left:-15px;}
.mainList6 dl table td p { margin:0 15px;background:#297ccb; color:#fff; line-height:24px; text-align:center; font-size:14px;}
.mainList6 .page { padding:20px 35px; text-align:right;}
.mainList6 .page span { color:#fff; vertical-align:middle;}
.mainList6 .page .ml20 { margin-left:20px;}
.mainList6 .page .ml10 { margin-left:10px;}
.mainList6 .page a.page-pre,.mainList6 .page a.page-next { display:inline-block;*display:inline;*zoom:1; width:80px; height:30px; vertical-align:middle; line-height:30px; text-align:center; color:#fff;}
.mainList6 .page a.page-pre { background:#996ada url(../Label/Image/Item/bs-icon-tipl2.png) no-repeat 10px center;}
.mainList6 .page a.page-next { background:#996ada url(../Label/Image/Item/bs-icon-tipr2.png) no-repeat 65px center;}

.mainList7 { margin-left:780px;position:relative; padding:10px; margin-top:75px; width:280px; overflow:hidden;background:#0d5ca8;}
.mainList7.mt20 { margin-top:20px;}
.mainList7 h1 { font-size:18px; color:#fff; line-height:55px; position:relative; border-bottom:solid 1px #237ed7;}
.mainList7 dl { height:auto ; overflow:hidden;}
.mainList7 dl dd { width:280px; height:auto; margin-top:10px;}
.mainList7 dl dd img { width:280px; height:auto;}
.mainList7 .fn { margin-top:20px; text-align:center;}
.mainList7 .fn img { margin:0 auto;}
.mainList7 .fn p { margin:0 10px; margin-top:20px; text-align:left; color:#fff; line-height:25px;}

.mainList8 { margin-left:780px;position:relative; margin-top:10px; width:300px; overflow:hidden;}
.mainList8 h1 { font-size:18px; color:#fff; line-height:55px; position:relative; border-bottom:solid 1px #237ed7;}
.mainList8 dl { height:auto; overflow:hidden; margin-top:15px; background:#0c4d8d;}
.mainList8 dl dt { float:left; width:142px; height:142px; float:left;}
.mainList8 dl dt img { width:100%; height:100%;}
.mainList8 dl dd { margin-left:170px; padding:34px 0; padding-right:30px; color:#fff; line-height:25px;}
.mainList8 ul { width:320px; height:auto; overflow: hidden;}
.mainList8 ul li { margin-top:11px; margin-right:11px; width:142px; height:70px; float:left;}
.mainList8 ul li.last { margin-right:0;}