@charset "utf-8";
/* CSS Main */

html{color:#4d4d4d;background:#fff; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:12px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

a {color:#2e7dc6;}
a:hover {text-decoration:none; color:#ed3f41}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%;background:#fff;}
body:after { position:fixed; z-index:9999; top:0; left:0; width:100%; height:100%; z-index:99999; content:""; background:#fff;}
body.ready:after { display:none;}
body.Diabody:after { display:none;}
body.no:after { display:none;}

#wrapper { position:relative; min-width:1200px; width:100%; min-height:100%;box-sizing:border-box; padding-top:50px;}
#header,#container,#footer,#headerTwo {width:100%;margin:0 auto; min-width:1200px;}
#container { position:relative; padding-top:20px;height:auto; min-height:100%; box-sizing:border-box;*zoom:1;}
#container:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
#header { height:80px;background:#fff;z-index:101; position:relative;overflow:hidden;}
#headerTwo { position: fixed;z-index:101; top:0; left:0; width:100%; height:50px;background:#42474d;}
#main { margin:0 auto; min-width:1040px; height:auto; position:relative;}
#footer { position: absolute; left:0; bottom:0; overflow:hidden;background:#eaeaea;}
#lefter { width:260px; padding:10px; height:auto; position:relative; z-index:2; background:#fff; float:left;}
#righter { width:100%; float:right; margin-left:-290px; padding-bottom:30px;}

/*兼容页面不正常的foot*/
#wrapper { padding-bottom:68px;}
#wrapper + #footer { position:relative; margin-top:-48px;}
#wrapper + * + #footer { position:relative; margin-top:-48px;}
#wrapper #container #footer{ bottom:-68px;}

#wrapper.nomalCon { margin:0 auto;}
#wrapper.nomalCon #main { width:1100px;}
#wrapper.nomalCon #main.w1200 { width:1200px;}
#wrapper.nomalCon .shopNav { margin-left:0;}
#wrapper.nomalCon .shopNav .w1100 { width:1100px; margin:0 auto;}

/*----------------------------------  Global结束  ------------------------------------*/