@charset "utf-8";
/* CSS Document */
/*
[目录表]
1- 会员中心 缩写-mem
*/
/* 标题
--------------------------------------------------------------*/
.mem-name { width:100%;text-align:left; position:relative}
.mem-name h4{line-height:30px; font-size:16px; font-weight:normal; font-family:"microsoft yahei";}
/*------------------------- 面包屑结束  -----------------------*/

#ui-mem { width:100%;}
#ui-mem li { width:43%; height:76px; display:inline-block; padding:17px 0; float:left; margin-left:20px;}
#ui-mem li p { font: 13px/20px "microsoft yahei"; text-align:left; float:left; margin-left:80px; color:#666}
#ui-mem li a { float:left; margin:5px 0 0 80px;}
#ui-mem .ui-msg-bg {height:100%; float:left; margin-left:10px;}
#ui-mem .ui-msg-bg1 {background: url(../Image/icon_head.png) no-repeat 10px 0px;}
#ui-mem .ui-msg-bg2 {background: url(../Image/icon_head.png) no-repeat 10px -150px;}

.mem-libs { width:100%;float:left; overflow:hidden;}
.mem-libs .p { display:block;padding:0 20px; line-height:30px; background:#555; color:#fff; cursor:pointer; border:solid 1px #555; margin-left:20px; font-size:14px;float:left}
.mem-libs .p a { color:#fff;}
.mem-libs .p.hover { border:solid 1px #ddd; border-bottom: solid 1px #fff;}
.mem-libs .p.hover a {color:#555;}
.mem-libs .hover { background:#fff; color:#555; border-top:solid 1px #ddd;}
.mem-libs-content .hide { display:none;}
.mem-libs-content .hover { display:block;}
.mem-libs-content { padding-top:31px;}

.mem-list { text-align: center;}
.mem-item { width:100%;text-align:left; margin:0 auto; padding-top:30px; padding-bottom:30px; position:relative;}
.mem-icon { width:180px; height:112px; overflow:hidden;background: url(../Image/mem_icon.png) no-repeat;position: absolute; left:0; top:0; margin-top:37px;}
.mem-new-con { margin-left:200px;}
.mem-icon-all { background-position:0 0;}
.mem-icon p { color:#333; font-weight:bold;position:absolute;bottom:0; left:0;line-height:25px; text-align:center;width:100%; border-top:solid 1px #bbb;}
.mem-icon .p_bg {position:absolute; bottom:0; left:0; background:#fff;opacity:0.4;filter:alpha(opacity=40); height:25px; width:100%;}
.mem-con {}
.mem-meta { margin-top:40px;}
.mem-meta p { font-size:14px; font-weight:bold; color:#555;margin-bottom:10px;}
.mem-meta p a { font-size:12px; font-weight:normal;}
.mem-meta span { font-family:"microsoft yahei";}
.mem-meta .mem-meta-edit { display:none; margin-top:10px;}
.mem-meta-editing .mem-meta-edit { display:block;}
.mem-meta-editing .mem-meta-con { display:none;}
.mem-meta .mem-meta-edit .mem-meta-begin,.mem-meta .mem-meta-edit .mem-meta-end { width:80px;height: 18px;line-height: 18px;border: 1px solid #d3d3d3;padding: 2px 4px;font-size: 14px;color: #666;}
.meta-edit-update {width: 70px;height: 24px;line-height: 24px;color: #666; margin-top:5px;}
.mem-level { margin-top:0px;font-size:13px;}
.mem-level-edit {display:none; width:430px;}
.mem-level-editing .mem-level-edit {display:block;}
.mem-level-editing .mem-level {display:none;}
.mem-level-l { width:50%; float:left;}
.mem-level-r { width:50%; float:left;}
.mem-level-form { margin-top:6px; float:left;}
.mem-level-form li { float:left;}
.mem-level-form .mem-level-title { width:80px; text-align:right; line-height:40px;}
.mem-level-form .mem-level-input { width:135px;line-height:40px;}
.mem-level-form .mem-level-all { width:215px;}
.mem-level-form .mem-level-all .lin26{ line-height:26px;}
.mem-level-form .mem-level-all textarea { border:solid 1px #ccc;padding: 4px 3px;color:#666; height:52px;}
.mem-level-form .mem-textbox {padding: 4px 3px;width: 138px;height:16px;border: 1px solid #CCCCCC; color:#666;}
.mem-level-form .textbox { color:#666;}
.mem-level-l .mem-level-none { line-height:150px; font-size:14px;}

.mem-operation { width:200px;float:right; margin-left:10px; padding-top:40px;}
.mem-operation .mem-operation-edit { width:90px; height:30px; float:left; text-align:center; line-height:48px; overflow:hidden;}
.mem-operation-history { width:180px; clear:both; height:50px; text-align:right; padding-top:30px;}
.mem-operation-history a { color:#999; display:block; line-height:20px;background: url(../Image/mem_img.png) no-repeat 53px -158px;}
.mem-operation .mem-operation-ed { font-size:16px; color:#999; font-weight:bold;font-family:"microsoft yahei"; line-height:30px; display:block;background: url(../Image/mem_img.png) no-repeat 0 -238px; text-align:right;}

.mem-update { text-align:center;}
.btn-mem-update {cursor: pointer;display:inline-block;text-align: center;text-decoration: none !important;color:#fff;background: url(../Image/button.png) repeat-x; text-indent:0;}
.btn-mem-update {height:35px;font: bold 16px/35px "microsoft yahei"; background-position:0 -80px; padding:0 5px;}
.btn-mem-update:hover { background-position:0 -120px;}
.mem-update p { line-height:30px;}

.mem-search { width:100%;}
.mem-search-all { width:100%;margin-top:15px;}
.mem-search-half { width:48%;margin-top:15px;}
.mem-search-title { width:100px; float:left; line-height:26px; font-size:14px; text-align:right;}
.mem-search-input { line-height:26px; font-size:14px; text-align:left; margin-left:100px;}
.mem-textbox-all { width:98%;}
.mem-textbox-half { width:42%;}
.mem-search-table td{ font-size:13px;}
.mem-search-table table td p { text-align:left; padding-left:10px; line-height:23px;}

.mem-repay-procedure { margin-top:20px; padding-bottom:10px;}
.mem-repay-procedure li { width:156px; height:50px; overflow:hidden;background: url(../Image/mem_img2.png) no-repeat 0 -50px; float:left;list-style:none; text-align:left; text-align:center;}
.mem-repay-procedure li.hover {background: url(../Image/mem_img2.png) no-repeat 0 0px; border:none; }
.mem-repay-procedure li span { width:46px; color:#fff;font: normal 24px/46px "microsoft yahei"; display:block; text-align:center; float:left; margin-right:10px;}
.mem-repay-procedure li a { font-size:14px; line-height:70px; color:#cccccc;}
.mem-repay-procedure li.hover a {color:#4c4c4c;}
.mem-repay-prize {}
.mem-repay-prize span {color:#fe4902;font-size:18px; font-weight:bold; font-family:"microsoft yahei";}

.mem-member-data { margin-top:20px; border:solid 1px #ddd; background:#fefaf9 url(../Image/mem_icon.png) no-repeat -410px 0;padding:20px 20px 20px 150px; position:relative;}
.mem-member-dataediting .mem-member-data-con { display:none;}
.mem-member-dataediting .mem-member-data-form { display:block;}
.mem-member-data-con { text-align:left; font-size:14px;}
.mem-member-data-form { display:none; font-size:14px;}
.mem-member-data-con a { font-size:13px;}
.mem-member-data .mem-member-data-card { position:absolute; right:20px; top:20px; width:300px; height:88%; border-left:solid 1px #ddd;}
.mem-member-data .mem-member-data-card .mem-member-data-card-icon { width:170px; height:106px; margin:50px auto 0 auto;background:url(../Image/mem_icon.png) no-repeat -240px 0;}
.mem-member-data .mem-member-data-card .mem-member-data-card-edit { margin-top:20px;}
.db { display:block;}
.mem-info-editing .mem-info-edit {display:block;}
.mem-info-editing .mem-info {display:none;}
.mem-info-form { margin-top:10px;}
.mem-info-form li { float:left;}
.mem-info-form .mem-info-title { width:110px; text-align:right; line-height:26px;}
.mem-info-form .mem-info-input { width:130px;line-height:26px;}
.mem-info-form .mem-info-input .mem-textbox {padding: 4px 3px;width: 138px;height:16px;border: 1px solid #CCCCCC;}

.mem-notenabled {}
.mem-notenabled-con { height:112px; line-height:112px; font-size:14px; float:left;}
.mem-notenabled-opr {float:right; padding:42px 0;}
.mem-form {}
.mem-form-name { font-size:14px; font-weight:bold; padding:20px 0 5px 30px;}
.mem-form-name span { font-size:12px; font-weight:normal; color:#aaa;}
.mem-enabled {}
.mem-enabled-title { line-height:30px; font-size:14px; color:#ed1c24; font-weight:bold;}
.mem-enabled-title a { font-size:12px; font-weight:normal;}
.mem-enabled-con {}
.mem-enabled-base {}
.mem-enabled-base li { line-height:25px; font-size:13px;}
.mem-enabled-base li a { font-size:12px;}
.mem-enabled-msg {}
.mem-enabled-msg li { line-height:25px; font-size:13px;}
.mem-enabled-msg li a { font-size:12px;}
.mem-enabled-msg h6 { font-size:13px; font-weight:bold;}
.mem-enabled-msg p { font-size:13px;}
.mem-rights { padding-top:10px;}
.mem-rights {}
.mem-rights-title { line-height:30px; font-size:14px; color:#ed1c24; font-weight:bold;}
.mem-rights-title a { font-size:12px; font-weight:normal;}
.mem-rights-form { padding-top:20px;}
.mem-rights-form li { font-size:14px; line-height:30px; font-weight:bold;}
.mem-rights-form li span { font-size:12px; color:#aaa; line-height:30px; font-weight:normal;}

.mem-updatego { width:auto; padding:0 0 0 25px;background: url(../Image/mem_img.png) no-repeat 0px -300px; line-height:30px; font-size:12px; font-weight: normal; color:#555; font-family:"microsoft yahei";}
.mem-updatego:hover {background: url(../Image/mem_img.png) no-repeat 0px -340px; color:#ed1b24;}
.mem-addgo {width:auto; padding:0 0 0 25px;background: url(../Image/mem_img.png) no-repeat 0px -380px; line-height:30px; font-size:12px; font-weight: normal; font-family:"microsoft yahei"; color:#555;}
.mem-addgo:hover { color:#ed1b24;background: url(../Image/mem_img.png) no-repeat 0px -420px;}
.mem-send-check { width:300px; margin:0 auto; padding-top:30px;}
.mem-send-check-con { font-size:14px; line-height:30px;}

.mem-erro { width:700px; margin:0 auto; position:fixed; top:126px; background:#fff; border:solid 1px #ccc; line-height:80px; font-size:32px;font: normal 32px/80px "microsoft yahei"; color:#666; z-index:300; left:50%; margin-left:-350px; text-align:center;box-shadow:0px 2px 2px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.1);-moz-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.1);}
.mem-erro a {color:#666;}

.mem-filter { border:solid 1px #dbdbdb; padding-bottom:10px;}
.mem-filter .ul-onBorder { border-bottom: dashed 1px #dbdbdb;}
.mem-filter .mem-filter-title { width:130px; float:left; font-size:13px; font-weight:bold; color:#34495e; line-height:20px; padding:15px 0 15px 20px; border:solid 1px #fff;}
.mem-filter .mem-filter-con { margin-left:150px; padding:15px 0;line-height:20px;color:#767676; height:20px;}
.mem-filter .mem-filter-con .onHover { border:solid 1px #ed1c24; background:url(../Image/mem-icon.png) no-repeat right bottom;}
.mem-filter .mem-filter-con .noHover { border:solid 1px #fff;}
.mem-filter .mem-filter-con dt { float:left; padding:0 10px; border:solid 1px #fff; cursor:pointer;}
.mem-filter .mem-filter-con dd { float:left; padding:0 10px; border:solid 1px #fff; cursor:pointer;}
.mem-filter .mem-filter-con .mem-filter-self { float:left; padding:0 10px 0 10px;}
.mem-filter-inputdata {}
.mem-filter-end {line-height:30px;padding:10px 0 10px 10px;font-size:14px;}
.show-mem-list {font-size:12px;}


/*我重新添加的样式*/
     /*left*/
.mem_list_left{float:left; width:645px; height:auto;}
.mem_search_slecetone{padding:17px 0 5px 0px; margin-top:15px; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; border-top:1px solid #e1e1e1; height:38px;}
.mem_search_slecettwo{padding:10px 0 5px 0px; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; height:38px;}
.mem_search_slecetthree,.mem_search_slecetfour{padding:10px 0 5px 0px; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; height:38px;}
.mem_search_slecetone p,.mem_search_slecettwo p,.mem_search_slecetthree p{float: left; font-size: 14px; line-height: 30px;width: auto;}
.ml20_change{margin-left:20px;}
.selectbox_change{ border: 1px solid #97928a; color: #000000; height: 28px; line-height: 30px; padding: 0 0 0 5px; width:194px; margin-top:2px;}
.ml20_change_r{float:right; font-size:14px; line-height:30px;}
.selectbox_change_r{float:right; border: 1px solid #97928a; color: #000000; height: 28px; line-height: 30px; padding: 0 0 0 5px; width:120px; margin:2px 10px auto auto;} 
.btn-all_change{background: none repeat scroll 0 0 #ED1C24; border: medium none; color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; line-height: 28px; padding-left: 10px; padding-right: 10px; text-align: center; text-decoration: none !important;text-indent: 0; margin:2px 10px auto auto;}
     /*right*/
.mem_list_right{float:right; width:170px; height:auto; text-align:center;}
.w150{width:150px;}
.w148{width:148px;}
.w230{width:230px;}
.w380{width:380px;}
.mem_list_right_one{margin-top:15px;}
.mem_list_right_two{margin-top:15px; border:1px solid #e1e1e1; height:auto;}
.mem_list_right_fenwz{width:170px; height:auto; padding:15px 5px;}
.mem_list_right_fenwz_ys{width:170px; height:30px; padding:0 5px;}
.mem_list_right_fenwz p{float:left; margin:0 5px;}
.mem_list_right_fenwz p a:hover,.mem_list_right_bt a:hover{ color:#F00;}
.mem_list_right_bt{ width:120px; margin:0 auto; padding-top:8px; border-top:1px solid #e1e1e1;}
.mem_list_right_information{width:150px; margin:15px 10px 30px 10px; letter-spacing:1px; line-height:20px;}


.mem-info-title_change{line-height: 26px; text-align: right; width: 110px;}
.mem-info-form_fslxq{font-size:12px; color:#F00; margin-top:30px;}
.mem_textarea{border:1px solid #97928a; width:300px;}
.h70{height:70px;}
.h110{height:110px;}

.numgoodsList { float:left; padding:10px 10px 16px 10px; border:solid 1px #97928a; width:250px;}
.numgoodsList-item { line-height:30px; width:250px; overflow:hidden; border-bottom:dashed 1px #ccc;}
.numgoodsList-item i { width:10px; height:10px; float:right;background:url(../Image/icon-msg.png) no-repeat -314px -2px; cursor:pointer; margin-top:10px;}
.numgoodsList-item i:hover { width:10px; height:10px; float:right;background:url(../Image/icon-msg2.png) no-repeat -314px -2px; cursor:pointer; margin-top:10px;}