@charset "utf-8";
/* 分页样式 基于angularjs */
.page_angular{width: 100%;float: left;}
.page_angular dl{margin:0 auto;width: 900px;}
.page_angular dl dt{float: left;}
.page_angular dl dd{float: left;line-height: 32px;}
.page_angular dl dt a{width: 75px;height: 30px;border: 1px #e8e8e8 solid;border-right: 1px #FFF solid;margin-right: 0px;line-height: 30px;font-size: 14px;text-align: center;display:block;color: #7f7f7f;float: left;}
.page_angular dl dt a:hover{border:1px #757982 solid;}
.page_angular dl dt b{width: 30px;height: 30px;border: 1px #e8e8e8 solid;border-right: 1px #FFF solid;margin-right: 0px;line-height: 30px;font-size: 14px;text-align: center;display: block;float: left;color: #7f7f7f;font-weight: normal;cursor: pointer;}
.page_angular dl dt b.active{background: #757982;color: #FFF;border: 1px solid #757982;}
.page_angular dl dt a.next{border-right: 1px #e8e8e8 solid;}
.page_angular dl dt a.next:hover{border-right: 1px #757982 solid;}
.page_angular dl dd span.tips{margin:0 10px;font-size: 14px;}
.page_angular dl dd span.tips b{font-weight: normal;}
.page_angular dl dd span.gogo input.number{width:40px;text-align: center;border: solid 1px #e8e8e8;line-height: 26px;margin:0 5px;height: 26px;}
.page_angular dl dd span.gogo a[data-type=gogo]{width: 60px;border: 1px #e8e8e8 solid;margin: 0 15px;height: 26px;background-color: #fff;border-color: #d6d6d6;background-image: linear-gradient(to bottom,#fff 0,#f3f3f3 100%);color: #666766;border-radius: 2px;cursor: pointer;display: inline-block;text-align: center;line-height: 26px;}
.page_angular dl dd span.gogo a[data-type=gogo]:hover{background: #fff;}
.page_angular dl dd span.gogo{font-size: 14px;}

/* 弹窗分页样式 */
.page_angular.dialog dl dd span.gogo{display: none;}