/*收款账号*/
.account ul li {padding:15px 0;border-top:1px solid #e6e6e6;font-size:14px;color:#999999;}
.account ul .zffs {border-bottom:1px solid #e6e6e6;height:auto;}
.account ul li p{width:135px;float:left;}
.account ul .number span{color:#333333;margin:0 25px 0 0px;text-align:left;} 
 
.zffs table{width:240px;margin-right:40px;border:1px solid #e6e6e6;border-radius:3px;}

.zffs th {padding:0 10px;height:46px;line-height:46px;}
.zffs td {text-align:center;height:54px;line-height:54px;}
.zffs tr th  p {font-size:16px;}
.zffs tr th  span{float:right;}
  


.open td span{color:#666666; background:url("Home/PUBLIC/Image/account_number/ico-ok.png")   no-repeat;padding-left: 25px;}

.open th { background:#59a9f4 url("Home/PUBLIC/Image/account_number/wave.png") bottom center no-repeat;}
.open th span{color:#b6dcff;}
.open th p{color:#ffffff;}  


.close th { background:#f2f2f2 url("Home/PUBLIC/Image/account_number/wave.png") bottom center no-repeat;}
.close th span{color:#2e7dc6;}
.close th p{color:#333333;}
.close td {color:#999999;}


.zfsm ol li {border:none;height:30px;line-height:30px;color:#666666;font-size:14px;padding:0;display:table;}
.zfsm ol{margin-left: 135px;margin-bottom:30px;}
.zfsm ol li:first-child{color:#333333;}

/*o2o电商首页*/
.Data_summery{border:none;background:#f8f8f8;}
.hint-w{width:50px;} 
.greenChannel_show dd{margin-left:0 !important;}
.shopData dl{ width: 33%;}
.shopData table{width: 100%;}
.shopData tr{line-height: 20px;width: 33%;}
.shopData tr td{width: 50%;font-size: 12px;}


#dpxs-data{display: none;}
.shopSide{margin-top: 20px;}
.shopSideCon{width: 45%;float: left;}
.shopSideCon span{color:#666666;}
.shopSideCon ul li a{color: #0077dd;}
.shopSideCon h3{border-bottom: solid 1px #E7E7E7;padding-bottom: 15px;line-height: 18px;}
.shopMyshop-con{margin-top: 5px;border: none;}
.shopData{height: 70px;line-height: 70px;padding: 10px;}
.shopData tr td {padding: 10px;}
.shopMyshop h2{padding-bottom: 15px;}
.data-box .down i{display: inline-block;width: 18px;height: 18px;background: url(Home/Public/Image/ask.png) no-repeat;vertical-align: top;margin-left: 5px;}
.data-box li{display:inline-block;font-size:14px;height: 24px;line-height: 24px;margin:5px 0 5px 0;}
.data-box li span{font-size:20px;color:#ed3f41;}
.data-box li a{margin-left:20px;}
.down {width:115px;color:#999999;}
