@charset "utf-8";

/* CSS Document */
body {
	background: rgb(255, 255, 255) url(../Image/Onhook/bg.jpg) repeat-x scroll left top;
	margin: 0px auto;
	font-size: 12px;
	font-family: Tahoma, Helvetica, Arial, "宋体", sans-serif;
	line-height: 150%;
	text-align: center;
	color: rgb(51, 51, 51);
}
a {
	color: rgb(0, 0, 110);
	text-decoration: none;
}
a:hover {
	color: rgb(255, 102, 0);
	text-decoration: underline;
}
.header,
.container {
	width: 1050px;
	margin: 0px auto;
	text-align: left;

}
.container {
	position: relative;
	padding-bottom: 30px;
	clear:both;
}
em {
	font-style: normal;
}


.site-cont {
	width: 980px;
	margin: 0px auto;
	position: relative;
	z-index: 100;
}
.menu-cont {
	position: relative;
	z-index: 100;
}
.main-nav li,
.show-loca,
.mBsui-nav li,
.mBusi-notice strong {
	background: transparent url(../Image/Onhook/sprite-frame.gif) no-repeat scroll 0% 0%;
}
.mBusi-top {
	height: 72px;
	margin-top: 8px;
	overflow: hidden;
}
.mBusi-main-menu {
	margin-top: 3px;
	padding-left: 15px;
	height: 40px;
	overflow: hidden;
}
.mBsui-nav {
	float: left;
	width: 250px;
}
.mBsui-nav li {
	background-position: -339px -45px;
	width: 120px;
	margin-right: 4px;
	float: left;
	height: 34px;
	font-size: 14px;
	color: rgb(255, 255, 255);
	font-weight: 700;
	text-align: center;
	line-height: 34px;
	overflow: hidden;
}
.mBsui-nav li a {
	color: rgb(255, 255, 255);
}
.mBsui-nav li.on {
	background-position: -662px -46px;
}
.mBsui-nav li.on a {
	color: rgb(119, 17, 0);
}
.mBusi-notice {
	margin-top: 2px;
	width: 300px;
	height: 26px;
	overflow: hidden;
}
.mBusi-notice strong {
	padding-left: 26px;
	width: 66px;
	height: 26px;
	line-height: 26px;
	background-position: -956px -61px;
	color: rgb(0, 1, 112);
}
.footer {
	width: 1048px;
	margin: 10px auto 0px;
	text-align: center;
	border: 1px solid rgb(213, 213, 213);
}
.linked dl {
	margin: 0px auto;
	width: 658px;
	height: 32px;
	overflow: hidden;
}
.linked dt {
	float: left;
	font-weight: 700;
	line-height: 32px;
}
.linked a {
	float: left;
	margin: 7px 0px 7px 7px;
	padding: 0px 2px;
}

.linked .group a {
	margin: 0px;
	padding: 0px 10px;
	border-right: 1px solid rgb(238, 238, 238);
}
.miibeian {
	padding-bottom: 3px;
	padding-left: 10px;
	background: rgb(245, 245, 236) none repeat scroll 0% 0%;
	color: rgb(102, 102, 102);
}
.miibeian a {
	color: rgb(102, 102, 102);
}
.miibeian a:hover {
	color: rgb(255, 102, 0);
}

.x-panel-body {
	border-width: 0px 1px 1px;
	border-style: none solid solid;
	border-color: #99bbe8;
	border-image: none;
	overflow: hidden;
	background: white none repeat scroll 0% 0%;
	position: relative;
}
.x-panel-body-noheader,
.x-panel-mc .x-panel-body {
	border-top: 1px solid rgb(153, 187, 232);
}
.haobai-menu .x-panel-body-noborder {
	border-width: 0px;
	height: 600px;
}

.x-border-layout-ct {
	background: rgb(223, 232, 246) none repeat scroll 0% 0%;
}
.x-viewport,
.x-viewport body {
	margin: 0px;
	padding: 0px;
	border: 0px none;
	overflow: hidden;
	height: 100%;
}
#main-desktop {
	border-left: 2px outset rgb(223, 232, 246);
}
.main_menu {
	
	width: 202px;
	background-color: rgb(21, 87, 137);
}

.main_menu .title {
	background: transparent url(../Image/Onhook/group_top.jpg) repeat-x scroll left center; height: 27px; line-height: 27px; width: 92%; margin-left: 10px; font-family: Verdana,Geneva,sans-serif; font-size: 14px; font-weight: bold; text-indent: 40px; letter-spacing: 5px; margin-bottom: 1px; cursor: pointer;
}
.main_menu .menu_group_head_icon {
	width: 100%;
	height: 100%;
	background-position: 18px center;
	background-repeat: no-repeat;
	text-shadow: 2px 0px 0px rgb(255, 255, 255), 0px 2px 0px rgb(255, 255, 255), -2px 0px 0px rgb(255, 255, 255), 0px -2px 0px rgb(255, 255, 255);
}
.main_menu .menu_group_head_cmd {
	width: 100%;
	height: 100%;
	background: transparent url(../Image/Onhook/menu_group.jpg) no-repeat scroll 150px 9px;
}
.main_menu .menu_group .menu_group_item {
	height: 22px;
	line-height: 22px;
	width: 92%;
	margin-left: 10px;
	margin-bottom: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-indent: 40px;
	color: rgb(51, 51, 51);
	cursor: pointer;
	background: #e2eaf5 url(../Image/Onhook/menu_items.jpg) no-repeat scroll 28px 8px;
}
.main_menu .menu_group .menu_group_item.active {
	background: #00ccff url(../Image/Onhook/menu_items.jpg) no-repeat scroll 28px 8px;
}
/*新增样式*/

.nav-site {
	height: 26px;
	line-height: 26px;
	background-color: rgb(245, 245, 245);
	border-bottom: 1px solid rgb(228, 228, 228);
	color: rgb(0, 0, 0);
	text-align: left;
}
.nav-site ul{
	width: 1000px;
	margin:0 auto;
}
.nav-site ul li{
	float: right;
	padding: 0 5px;
}
.nav-site ul li span{
	padding: 0 0 0 5px;
}
.mBusi-main-menu dl dd{font-size: 14px;float: left;color: #666}
.mBusi-main-menu dl dd span{color: #ed3f41;}
/* 以上为号百原来样式 */

/* 首页banner图样式 开始 */
.swiper-container {margin:0 auto;position:relative;overflow:hidden;z-index:1;width: 750px;height: 359px;}
.swiper-wrapper {position:relative;width:100%;}
.swiper-slide {float: left;position: relative;}
.pagination {position: absolute;z-index: 20;bottom: 10px;left: 300px;width: 100%;text-align: center;}
.swiper-pagination-switch {display: inline-block;width: 8px;height: 8px;border-radius: 8px;background: #555;margin: 0 5px;opacity: 0.8;border: 1px solid #fff;cursor: pointer;}
.swiper-active-switch {background: #fff;}
.banner.swiper-container .swiper-wrapper .swiper-slide img{position: absolute;z-index: 1;}
.banner.swiper-container .swiper-wrapper .swiper-slide a{position: absolute;z-index: 2;font-family: "微软雅黑";}
.banner.swiper-container .swiper-wrapper .swiper-slide a.a1{width:157px;height: 39px;background: url(../Image/Onhook/btn01.png);top:300px;left: 300px;color: #fff; font-size: 18px;line-height: 39px;text-align: center;}
.banner.swiper-container .swiper-wrapper .swiper-slide a.a2{width:176px;height: 49px;background: url(../Image/Onhook/btn02.png);top:300px;left: 300px;color: #2a74ae; font-size: 18px;line-height: 44px;text-align: center;}
.banner.swiper-container .swiper-wrapper .swiper-slide a.a3{width:157px;height: 39px;top:295px;left: 295px;color: #fff;font-family: "微软雅黑"; font-size: 18px;line-height: 39px;text-align: center;}
/* 首页banner图样式 结束 */
/* 底部公司信息设置 */
.haobai-footer .company {width: 100%;text-align: center;height: 25px;line-height: 25px;font-size: 12px;font-family: Arial, Helvetica, sans-serif;background-color: rgb(111, 164, 206);color: white;}

.container-right{margin-left: 30px;margin-top:30px; float: left;width: 800px;}
.Gform .Ginput textarea{width: 305px; padding: 5px 5px 25px 5px;}
.haobai-footer{width:1050px;margin:0 auto;}
.Gform .Ginput .switch .newRadio-input input[type=text] {padding-right: 0;width: 224px}
.haobai-menu{float: left;margin-top: 10px;}
.W-table.cardTable tr td .cardInfo{float: left;}
.W-table.cardTable tr td .cardInfo img{width: 100px;height: 62px;border:solid 1px #ccc;}
.W-table.cardTable tr td .cardInfo span{height: 62px;display: inline-block;vertical-align: top;padding: 5px 0 0 10px;color: #666;max-width: 180px;}
.W-table.cardTable tr td .cardInfo span:hover{color: #ed3f41}
.modifySet.Gform .Ginput input[type=text]{width: 129px;padding-right: 10px;}

/* 创建编辑页面 手机预览样式 */
.phoneCon{position: relative;}
.phoneCon .wx-show{position: relative;z-index: 0;}
.Wtab_phone{margin-top: 50px;width: 260px;margin-left: 7px;}
.Wtab_phone dl dd{float: left;width: 128px;height: 30px;line-height: 30px;border: solid 1px #dfdfdf;text-align: center;color: #666;font-size: 14px;position: relative;}
.Wtab_phone dl dd.active{color: #fe8c1a;border: solid 1px #fe8c1a; }
.Wtab_phone dl dd i{display: none;}
.aa{text-decoration: underline; color:#0000ff;}
.Wtab_phone dl dd.active i{display: block;position: absolute;top:-9px;left: 63px;}
.phoneCon .wx-show .Sample{width: 251px; }
.phoneCon .wx-show .Sample .card_info{margin-left: 10px;background: #fff;width: 231px;padding-top: 19px;}
.phoneCon .wx-show .Sample .card_info p{text-align: center;padding: 0;margin: 0;color: #333;font-size: 14px;}
.phoneCon .wx-show .Sample .card_info h5{text-align: center;font-size: 12px;color: #999;}
.phoneCon .wx-show .Sample .card_info h6{text-align: center;font-size: 12px;color: #999;}
.phoneCon .wx-show .Sample .card_info .title{position: relative;padding-bottom:36px;}
.phoneCon .wx-show .Sample .card_info .border::before {background: #eeeeee none repeat scroll 0 0;border-radius: 50%;bottom: -6px;content: "";display: block;height: 16px;left: -8px;position: absolute;width: 16px;}
.phoneCon .wx-show .Sample .card_info .border::after {background: #eeeeee none repeat scroll 0 0;border-radius: 50%;bottom: -6px;content: "";display: block;height: 16px;position: absolute;right: -8px;width: 16px;}
.phoneCon .wx-show .Sample .card_info .border {background: rgba(0, 0, 0, 0) url(../Image/Onhook/banner-border.png) repeat-x scroll 0 0 / auto 100%;bottom: 16px;height: 6px;left: 0;position: absolute;width: 100%;z-index: 1;}
.phoneCon .wx-show .Sample .card_info .code{text-align: center;padding-bottom: 12px;padding-top: 20px;}
.phoneCon .wx-show .Sample .card_info .code img{width: 100px;height: 100px;}
.phoneCon .wx-show .Sample .card_info .code dt{color: #333;line-height: 20px;padding-top: 5px;}
.phoneCon .wx-show .Sample .card_info .code dd{color: #999;line-height: 20px;padding-bottom: 10px;}
.phoneCon .wx-show .notice{height: 127px; width: 231px;background: #fff;margin-left: 10px;padding-top: 5px;border-top:dashed 1px #ccc;}
.phoneCon .wx-show .notice dl dt{font-size: 14px;color: #333;line-height: 24px;padding:0 12px;padding-top: 5px;}
.phoneCon .wx-show .notice dl dd{font-size: 12px;color: #666;line-height: 20px;padding:0 12px;}
/* 创建编辑页面 上传图片样式 */
.Gform .Ginput .Gchoose .Gbtn-picN{ position:absolute; top:-1px; right:-1px; width:30px; height:26px; line-height:26px; *height:25px; *line-height:25px; text-align:center; border: solid 1px #ccc; border-left:solid 1px #e2e2e2; background:#f7f7f7; color:#fff; border-radius:0 2px 2px 0;-webkit-transition:all 0.3s;}
.Gform .Ginput .Gchoose .Gbtn-picN i {background: url(../Image/icon-form.png) no-repeat -40px 1px;display: block;width: 100%;height: 100%;}
.Gform .Ginput .Gchoose a.Gbtn-picN:hover{background: #ff8a00}
.Gform .Ginput .Gchoose a.Gbtn-picN:hover i {background: url(../Image/icon-form.png) no-repeat -40px -39px;}
.Gform .Ginput .Gchoose .Gbtn-picN i input{opacity: 0;}

/* epos设置页面 样式 */
.loadTip .loadStatus.ok dl dd p{margin-top: 0}
.loadTip .loadStatus.ok dl dd.line{border-top:dashed 1px #ccc;line-height: 40px;}
.loadTip .loadStatus.ok dl dd.code{background: #fff;border: solid 1px #d7d7d7;color: #999;float: left;padding: 2px; }
.loadTip .loadStatus.ok dl dd.code dt{}
/* 套餐页样式 开始 */
.package{font-size: 14px;font-family: "微软雅黑";line-height: 24px;}
.package dl dt{color: #898989;float: left;width: 140px;text-align: right;padding-right: 24px;}
.package dl{float: left;width: 100%;}
.package dl dd{float: left;width: 620px;}



