.loadingStatus span {
    background: rgba(0, 0, 0, 0) url(../Image/weixin2/syn.png) no-repeat scroll 0 0;
    color: #666666;
    cursor: pointer;
    float: left;
    height: 16px;
    line-height: 16px;
    margin: 5px 0;
    padding-left: 25px;
    width: auto;
    margin-right:15px;
    display: inline-block;
}
.loadingStatus span.active {
    background: rgba(0, 0, 0, 0) url(../Image/weixin2/syn.png) no-repeat scroll 0 -26px;
}
.loadingStatus span img{vertical-align: top;}
.Gform.detils ul li.Gname{color: #999;top:2px;}
.Gform.detils ul li.Ginput{color: #333;padding-top: 2px;}

.detils_apply{width: 740px;margin-top: 15px;}






