.SumoSelect p {margin: 0;}
.SlectBox { width: 120px; padding: 0px 8px;}
/*this is applied on that hidden select. DO NOT USE display:none; or visiblity:hidden; and Do not override any of these properties. */
.SelectClass { position: absolute; top: 0px; left: 0px; right: 0px; height: 100%; width: 100%; border: none; z-index: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }
.SumoSelect > .optWrapper > .options > li label, .SumoSelect > .CaptionCont { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

.SumoSelect { display: inline-block; position: relative; float:left; outline:none; font-size:12px; color:#333; font-family:"Microsoft Yahei"; font-style:normal}
.SumoSelect:focus > .CaptionCont,.SumoSelect:hover > .CaptionCont {}
.SumoSelect > .CaptionCont { position: relative; border: 1px solid #ddd; min-height: 28px; background-color: #fff; line-height:28px; border-radius:2px;margin:0px; padding-bottom:0; width:120px;}
        .SumoSelect > .CaptionCont > span { display: block; padding-right: 30px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;cursor:default; font-size:14px;}
            /*placeholder style*/
            .SumoSelect > .CaptionCont > span.placeholder { color: #333; font-size:14px;}

        .SumoSelect > .CaptionCont > label { position: absolute; top: 0px; right: 0px; bottom: 0px; width: 30px; line-height:1em; margin-right:-5px; margin-bottom:5px;}
            .SumoSelect > .CaptionCont > label > i { background: url(../Image/weixin2/selectbg.png) 0 -40px no-repeat; width: 16px; height: 16px; display: block; overflow:hidden; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto;}

    .SumoSelect > .optWrapper { top: 30px; width: 100%; position: absolute; left: 0; opacity: 0; visibility: hidden; transition: opacity 200ms ease-out, top 200ms ease-out, visibility 200ms ease-out; -webkit-transition: opacity 200ms ease-out, top 200ms ease-out, visibility 200ms ease-out; -moz-transition: opacity 200ms ease-out, top 200ms ease-out, visibility 200ms ease-out; -ms-transition: opacity 200ms ease-out, top 200ms ease-out, visibility 200ms ease-out; -o-transition: opacity 200ms ease-out, top 200ms ease-out, visibility 200ms ease-out; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; z-index: -100; background: #fff; border: 1px solid #ddd; overflow: hidden;}
        .SumoSelect > .optWrapper.open { top: 28px; visibility: visible; opacity: 1; z-index: 9999; }

        .SumoSelect > .optWrapper > .options { list-style: none; display: block; padding: 0px; margin: 0px; border-radius: 2px; float:left;
         /*Set the height of pop up here (only for desktop mode)*/
            max-height: 250px;
             /*height*/ }
        .SumoSelect > .optWrapper.isFloating > .options {max-height: 100%;box-shadow: 0px 0px 100px #595959;}
        .SumoSelect > .optWrapper > .options > li { padding: 6px 6px; /*border-bottom: 1px solid #F3F3F3;*/ position: relative; }
            .SumoSelect > .optWrapper > .options > li:first-child { border-radius: 2px 2px 0px 0px; }
            .SumoSelect > .optWrapper > .options > li:last-child { border-bottom: none; border-radius: 0px 0px 2px 2px; }
            .SumoSelect > .optWrapper > .options > li:hover { background-color: #E4E4E4; }
            .SumoSelect > .optWrapper > .options > li.sel{background-color: #a1c0e4;}

            .SumoSelect > .optWrapper > .options > li label { width:90px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block;cursor: pointer;}
            .SumoSelect > .optWrapper > .options > li span { display: none; }

        /*Floating styles*/
        .SumoSelect > .optWrapper.isFloating { position: fixed; top: 0px; left: 0px; right: 0px; width: 90%; bottom: 0px; margin: auto; max-height: 90%; }

    /*Hover*/
    /*.SumoSelect:hover > .CaptionCont > label { background-color: #F1F1F1; }*/

    /*disabled state*/
    .SumoSelect > .optWrapper > .options > li.disabled { background-color: inherit;pointer-events: none;}
        .SumoSelect > .optWrapper > .options > li.disabled * { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 5-7 */ filter: alpha(opacity=50); /* Netscape */ -moz-opacity: 0.5; /* Safari 1.x */ -khtml-opacity: 0.5; /* Good browsers */ opacity: 0.5; }


    /*styling for multiple select*/
    .SumoSelect > .optWrapper.multiple > .options > li { padding-left: 30px;cursor: pointer; padding: 4px 0px 3px 30px;
    height: 20px;
    line-height: 20px;}
        .SumoSelect > .optWrapper.multiple > .options > li span,
        .SumoSelect .select-all > span{position:absolute;display:block;width:30px;top:0px;bottom:0px;margin-left:-30px;}
            .SumoSelect > .optWrapper.multiple > .options > li span i,
            .SumoSelect .select-all > span i{position: absolute;margin: auto;left: 0px;right: 0px;top: 0px;bottom: 0px;width: 14px;height: 14px;background-color: #fff; background:url(../Image/weixin2/selectbg.png) 0 0 no-repeat}
.SumoSelect > .optWrapper > .MultiControls { display: none; border-top: 1px solid #ddd; background-color: #fff; }
    .SumoSelect > .optWrapper.multiple.isFloating > .MultiControls { display: block; margin-top: 5px; position: absolute; bottom: 0px; width: 100%; }

    .SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls { display: block; }
        .SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls > p { padding: 6px; }

    .SumoSelect > .optWrapper.multiple > .MultiControls > p { display: inline-block; cursor: pointer; padding: 12px; box-sizing: border-box; text-align: center; }
        .SumoSelect > .optWrapper.multiple > .MultiControls > p:hover { background-color: #f1f1f1; }
        .SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk { margin:5px; margin-left:12px; display: inline-block; width:auto;  overflow: visible;  padding: 0 10px;  height: 26px; box-sizing:border-box;  line-height: 26px;  vertical-align: middle;  text-align: center;  text-decoration: none;  border-radius: 3px; font-size: 14px;  cursor: pointer; color:#575757; text-decoration:none;background:#ed3f41; color:#FFF;}
		.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk:hover {text-decoration:none;background: #ff6d6f;border-color: #ff6d6f;  color: #fff;}
		.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk:active {background: #c82324;border-color: #c82324;  color: #fff;}
		
		
		.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel{border:1px #d1d1d1 solid;  color: #666766;  background-image: -moz-linear-gradient(top,#fff 0,#f3f3f3 100%);  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f3f3f3));  background-image: -webkit-linear-gradient(top,#fff 0,#f3f3f3 100%);  background-image: -o-linear-gradient(top,#fff 0,#f3f3f3 100%);  background-image: linear-gradient(to bottom,#fff 0,#f3f3f3 100%); display: inline-block;  overflow: visible;height:26px; line-height:26px;  vertical-align: middle;  text-align: center;  text-decoration: none;  border-radius: 3px; font-size: 14px; cursor: pointer; margin:5px; padding:0 10px;  -webkit-transition:none;-webkit-transform:none; vertical-align:top}
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel:hover{background: #fff;  border-color: #d6d6d6;  color: #666766;}
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel:active{background: #e3e3e3;  border-color: #d6d6d6;  color: #666766; }
    /*styling for select on popup mode*/
    .SumoSelect > .optWrapper.isFloating > .options > li { padding: 12px 6px; }

    /*styling for only multiple select on popup mode*/
    .SumoSelect > .optWrapper.multiple.isFloating > .options > li { padding-left: 35px; }
    .SumoSelect > .optWrapper.multiple.isFloating { padding-bottom: 43px; }
    /*selected state
    */
    .SumoSelect > .optWrapper.multiple > .options > li.selected span i,
    .SumoSelect .select-all.selected > span i{ background:url(../Image/weixin2/selectbg.png) 0 -26px no-repeat}
	.SumoSelect .select-all.partial > span i{ background:url(../Image/weixin2/selectbg.png) 0 0px no-repeat}
    /*disabled state*/
    .SumoSelect.disabled { opacity: 0.7;cursor: not-allowed;}
     .SumoSelect.disabled > .CaptionCont{border-color:#ccc;box-shadow:none;}

    /**Select all button**/
    .SumoSelect .select-all{border-radius: 3px 3px 0px 0px;position: relative;/*border-bottom: 1px solid #F3F3F3;*/background-color: #fff;padding: 4px 0px 3px 30px;height: 20px; line-height:20px; width:120px;}
    .SumoSelect .select-all > span i{cursor:pointer;}
    .SumoSelect .select-all.partial > span i{background-color:#ccc;}


     /*styling for optgroups*/
    .SumoSelect > .optWrapper > .options > li.optGroup { padding-left: 5px; text-decoration: underline; }
	.multiSelect{ vertical-align:middle; margin-bottom:0px;}
	.multiSelect:after{ clear:both; display:block; content:""}
	.show{ display:inline-block; float:left; width:610px; overflow:hidden;text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block;}
	.show li{ list-style:none; border:1px #dddddd solid;  display:inline-block; position:relative; padding-right:28px; margin-left:10px}
	.show li:hover{ list-style:none;border:1px #ed3f41 solid; display:inline-block;}
	.show li.hover{ list-style:none;border:1px #ed3f41 solid;}
	.show li span{ font-size:12px; color:#ed3f41; line-height:27px; height:27px; padding:0 8px;}
	.show li em{ background:url(../Image/weixin2/selectbg.png) 10px -65px no-repeat; display:inline-block;     width: 26px;    height: 26px;    display: block;    overflow: hidden;    position: absolute;    top: 0px;    right: 0px;    right: 0px;    bottom: 0px;    margin: auto;}
	.show li:hover em{ background:#ed3f41 url(../Image/weixin2/selectbg.png) 10px -78px no-repeat; display:inline-block;     width: 27px;    height: 27px;    display: block;    overflow: hidden;    position: absolute;    top: 0px;    right: 0px;    right: 0px;    bottom: 0px;    margin: auto;}
	.SearchAreaLeft{ width:780px; overflow:visible}
	.SearchArea.extendMode{ overflow:visible}

