@charset "utf-8";
/* CSS 视觉码 */
/*
1- 视觉码 缩写wqr
.wrq-con {}
*/
@font-face {
  font-family: 'ly';
  src: url('font/ly.eot');
  src: url('font/ly.eot#iefix') format('embedded-opentype'),
       url('font/ly.woff') format('woff'),
       url('font/ly.ttf') format('truetype'),
       url('font/ly.svg#hl') format('svg');
}
[class^="icon-"]:before, [class*=" icon-"]:before {display:block;font-family: "ly";font-style: normal;}
.font-icon { display: inline-block;font-family: "ly";font-style: normal;font-weight: normal;text-decoration: inherit;-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.pageList { overflow:hidden; overflow-y:auto; }

.icon-trash:before {
    content: '\e8c1';
}
.icon-list:before{
    content:'\e901';
}
.icon-download:before{
   content:'\e845';
}
#container.w1100 { width:1100px;}
#container.w1100 .Gheader { padding:10px 20px 10px 0;}
#main { width:100%; min-height:620px;}
.header-container { width:100% !important;}
/* 框架
--------------------------------------------------------------*/
.sidebar { float:left; position:relative; z-index:1; margin-right:-201px; width:200px; height:720px; text-align:left;}
.submain { float:right; position:relative; width:100%; height:100%; height:620px; }
.Mcon { border-top:none; height:100%;}
.IEmsgerro { padding:20px 20px; border:solid 1px #f15755; background:#fff2f3; color:#666; text-align:center; font-size:14px;}
.Gsearch { padding:20px; border:solid 5px #f2f2f2;}
.Gsearch p { width:auto;line-height:28px; font-size:14px; float:left; padding-right:3px;}
.Gsearch a { float:right;}
.Gsearch input[type=text] { width:80px;}
.Gsearch select { width:80px;}
.Gsearch .btn-all { width:100px; border:solid 1px #ffd0d3; background:#fff2f3; color:#f15755;}
/*------------------------- 框架结束  -----------------------*/

.Gheader { height:auto; overflow:hidden; padding:10px 20px 10px 50px; border-bottom:solid 1px #e1e1e1;}
.Gheader .GheaderTitle { float:left; color: #444; font-size:18px;text-align: left; line-height:30px; text-shadow:}
.Gheader .GheaderTitle a { position:relative; padding:0 5px; top:-2px; margin-left: 20px; display: inline-block; *display:inline; *zoom:1; height: 20px; line-height: 20px; text-align: center; box-shadow: 1px 1px 1px rgba(0,0,0,0.1); font-size:12px;}
.Gheader .GheaderTitle a.btn-add {border: solid 1px #ffd0d3;background: #fff2f3;color: #f15755;}
.Gheader .GheaderTitle a.btn-down { margin-left:10px; border:solid 1px #b5d5f5; background:#f5faff; color:#69a6e2;}
.Gheader .GheaderTitle a i { position:relative; top:-2px; display:inline-block; *display:inline; *zoom:1; width:16px; height:12px;}
.Gheader .GheaderTitle a.btn-add i { background: url(../Image/icon-shop2.png?v=1) no-repeat -70px -60px;}
.Gheader .GheaderTitle a.btn-down i { background: url(../Image/icon-shop2.png?v=1) no-repeat -90px -60px;}
.Gheader .GheaderTitle i { position:relative; top:-2px; width: 20px;height: 20px; display: inline-block; *display:inline; *zoom:1; overflow: hidden;vertical-align: middle;}
.Gheader .GheaderTitle i.icon-shop-page {background: url(../Image/icon-shop2.png?v=1) no-repeat 0px -78px;}
.Gheader .GheaderOpr { float:right;}
.Gheader .GheaderOpr a { display: inline-block; *display:inline; *zoom:1; margin:0 3px; padding:0 10px; height:30px; line-height:30px; font-size:14px; color:#fff; border-radius:3px;}
.Gheader .GheaderOpr a.btn-blue { background:#69a6e2; border:solid 1px #69a6e2;}
.Gheader .GheaderOpr a.btn-red { background:#f75a63; border:solid 1px #f75a63;}
.Gheader .GheaderOpr a.btn-white { background:#fff; border:solid 1px #f75a63; color:#f75a63;}
.Gheader .GheaderOpr a i { float:left; margin:6px 2px 0 0; width:20px; height:20px;}
.Gheader .GheaderOpr a i.icon-edit { background:url(../Image/icon-form.png?v=1) no-repeat -313px -42px;}
.Gheader .GheaderTitle i.tip_icon{width: auto;line-height: 24px;display: inline-block;background: url(__PUBLIC__/Image/eTicket/tip_icon.gif?v=1) left center no-repeat;color: #666;font-size: 12px;padding-left: 25px;font-style: normal;text-decoration: none;float:right;margin-left:55px;top:5px;}
.Gheader .GheaderTitle i.tip_icon a{ color:#666; margin-left:0; top:0; padding:0; line-height:24px;}

.wrqInt {}
.wrqInt .wrqInt-top { position:relative; width:1100px; height:438px;background: url(../Image/VisualCode/pro1.jpg?v=1) no-repeat 0px 0;margin:0 auto}
.wrqInt .wrqInt-top a.btn-all { position: absolute; top:300px; left:80px; width:160px; height:45px; color:#fff; font-size:16px; line-height:45px; border-radius:5px; text-align:center; background:#f6454f;}
.wrqInt .wrqInt-con { position:relative; width:1100px; height:840px;background: url(../Image/VisualCode/pro2.jpg?v=1) no-repeat 0px 0;margin:0 auto}
.wrqInt .wrqInt-other { height:auto; overflow:hidden;}
.wrqInt .wrqInt-other li { position:relative; width:33%; height:30px; float:left; text-align:center;}
.wrqInt .wrqInt-other li a.btn-all { position:absolute; top:0; width:100px; height:30px; color:#fff; font-size:14px; line-height:30px; border-radius:5px; text-align:center; background:#f6454f;}
.wrqInt .wrqInt-other li a.btn1 { left:165px;}
.wrqInt .wrqInt-other li a.btn2 { left:127px;}
.wrqInt .wrqInt-other li a.btn3 { left:93px;}

.wrqList { margin:10px 0 0 -8px; width:105%; height:auto;}
.wrqList .wrqItem { margin:10px 9px; float:left; position:relative; width:185px; height:250px;transition:all 0.3s; border-radius:3px;}
.wrqList .wrqItem:hover { box-shadow:0 0 6px rgba(0,0,0,.2);}
.wrqList .wrqItem .img { position:relative; width:100%; height:205px; overflow:hidden; border-radius:2px 2px 0 0;}
.wrqList .wrqItem .img img { width:100%; height:auto;}
.wrqList .wrqItem .img p,
.wrqList .wrqItem .img span { position:absolute;bottom:0;left:0;width:100%;height:30px;}
.wrqList .wrqItem .img p {background:#000; opacity:0.4;filter:alpha(opacity=40);}
.wrqList .wrqItem .img span { z-index:3; text-indent:10px; font-size:14px;color:#fff;text-align:left;line-height:30px;}
.wrqList .wrqItem .img i { position:absolute; z-index:4; right:0; bottom:0; width:30px; height:30px; background-image:url(../Image/wrq/icon-wrq.png?v=1); background-repeat:no-repeat; cursor:pointer;}
.wrqList .wrqItem .img i { background-position:-300px 0;}
.wrqList .wrqItem .img i:hover { background-position:-300px -40px;}
.wrqList .wrqItem .wqropr { position:relative; padding:7px 0; width:100%; height:30px; background:#f1f1f1; border-radius:0 0 2px 2px;}
.wrqList .wrqItem .wqropr .opr-view { float:left;}
.wrqList .wrqItem .wqropr .opr-view span { float:left; margin-left:10px; width:60px; height:30px; line-height:30px; font-size:14px; text-overflow: ellipsis;white-space: nowrap; overflow:hidden;}
.wrqList .wrqItem .wqropr .opr-open { float:left; width:30px;}
.wrqList .wrqItem .wqropr .opr-open a.btn-all { background:#f6454f; width:50px; margin-top:0; font-weight:normal; font-size:12px;}
.wrqList .wrqItem .wqropr .opr-other { position:relative; float:right;}
.wrqList .wrqItem .wqropr .opr-other a { float:left; width:30px; height:30px;opacity: 0.7;}
.wrqList .wrqItem .wqropr .opr-other a.down { background: url(../Image/VisualCode/icon-down.png?v=1) center center no-repeat;}
.wrqList .wrqItem .wqropr .opr-other a.del { background: url(../Image/VisualCode/icon-del.png?v=1) center center no-repeat;}
.wrqList .wrqItem .wqropr .opr-other a.down:hover { background: url(../Image/VisualCode/icon-down-hover.png?v=1) center center no-repeat;}
.wrqList .wrqItem .wqropr .opr-other a.del:hover { background: url(../Image/VisualCode/icon-del-hover.png?v=1) center center no-repeat;}
.wrqList .wrqItem .wqropr .opr-other i { float:left; width:30px; height:30px; background-image:url(../Image/VisualCode/icon-more.png?v=1); background-repeat:no-repeat; cursor:pointer; opacity:0.7;}
.wrqList .wrqItem .wqropr .opr-other i { background-position: center center;}
.wrqList .wrqItem .wqropr .opr-other i:hover { background-image:url(../Image/VisualCode/icon-more-hover.png?v=1);}
.wrqList .wrqItem .wqropr .opr-other .opr-list { position:absolute; top:20px; left:-40px; width:110px; background:#fff; display:none; opacity:0;filter:alpha(opacity=0);}
.opr-list p { line-height:25px; font-size:14px;}
.opr-list p img { max-width:500px; vertical-align:top; position:relative; top:5px;}


.wqrAdd-nav { margin-top:20px;}
.wqrAdd-nav-size,.wqrAdd-nav-color,.wqrAdd-nav-rotate,.wqrAdd-nav-gen,.wqrAdd-nav-radio,.wqrAdd-nav-square,.wqrAdd-nav-effect,.wqrAdd-nav-changePic {height:50px;float:left; border:solid 1px #acacac; padding-left:20px;}
.wqrAdd-nav-size { width:108px;border-right:none;background:url(../Image/VisualCode/drop_down_arrows.png?v=1) no-repeat right center;}
.wqrAdd-nav-color { width:108px; border-right:none;}
.wqrAdd-nav-rotate { width:108px; border-right:none;}
.wqrAdd-nav-gen { width:108px;border-right:none;background:url(../Image/VisualCode/drop_down_arrows.png?v=1) no-repeat right center;}
.wqrAdd-nav-radio { width:130px; border-right:none;background:url(../Image/VisualCode/drop_down_arrows.png?v=1) no-repeat right center;}
.wqrAdd-nav-square { width:130px; border-right:none;background:url(../Image/VisualCode/drop_down_arrows.png?v=1) no-repeat right center;}
.wqrAdd-nav-effect { width:130px; background:url(../Image/VisualCode/drop_down_arrows.png?v=1) no-repeat right center;}
.wqrAdd-nav-changePic{width: 130px;position:relative;border-right:none;}
.wqrAdd-nav-changePic .upfile{position:absolute;top:0;left:0;width:100%;height:100%;filter:alpha(opacity:0);opacity:0;cursor:pointer;}
.wqrAdd-nav-title { width:100%; height:100%; line-height:50px; font-size:14px; text-align:left; cursor:pointer;}
.wqrAdd-nav-title i { width:30px; height:35px; display:block; float:left; margin:15px 5px 0 15px;}
.wqrAdd-nav-list { width:100%; height:0px; overflow:hidden; display:none;border:solid 1px #acacac; border-bottom:none; float:left; margin-left:-1px; background:#fff; position:relative; z-index:301;}
.wqrAdd-nav-list dd { width:100%; height:40px; overflow:hidden; border-bottom:solid 1px #acacac;line-height:40px; font-size:14px; text-align:left; cursor:pointer;}
.wqrAdd-nav-list dd i { width:30px; height:35px; display:block; float:left; margin:10px 5px 0 15px;}
.wqrAdd-nav-btn {width:190px; height:50px; overflow:hidden; float:right;}
.wqrAdd-nav-btn .btn-wqrupdata { color:#fff; font-size:18px; text-align:center; display:block; line-height:48px; background:#f6454f;border:solid 1px #f6454f; border-radius:5px;}
.wqrAdd-nav-btn .btn-wqrupdata:hover { background:#e72f3a;}
.wqrAdd-nav-btn .disable {background:#d3d3d3;color:#aaa; font-size:18px; text-align:center; display:block; line-height:48px;border:solid 1px #d3d3d3;border-radius:5px;}
.wqrbtn .btn-all { background:#f6454f;border:solid 1px #f6454f; border-radius:5px;}
.wqrbtn .btn-all.erro { background:#ccc;border:solid 1px #ccc;}
.icon-wqr1 {background:url(../Image/VisualCode/place_icons.png?v=1) no-repeat 0 0;}
.icon-wqr2 {background:url(../Image/VisualCode/place_icons.png?v=1) no-repeat 0 -70px;}
.icon-wqr3 {background:url(../Image/VisualCode/place_icons.png?v=1) no-repeat 0 -140px;}
.icon-wqr4 {background:url(../Image/VisualCode/place_icons.png?v=1) no-repeat 0 -210px;}
.icon-wqr5 {background:url(../Image/VisualCode/place_icons.png?v=1) no-repeat 0 -280px;}
.icon-wqr6 {background:url(../Image/VisualCode/place_icons.png?v=1) no-repeat 0 -350px;}
.icon-wqr7 {background:url(../Image/VisualCode/place_icons.png?v=1) no-repeat 0 -420px;}
.icon-wqr8 {background:url(../Image/VisualCode/place_icons.png?v=1) no-repeat 0 -490px;}
.icon-wqr9 {background:url(../Image/VisualCode/place_icons.png?v=1) no-repeat 0 -560px;}
.icon-wqr10 {background:url(../Image/VisualCode/place_icons.png?v=1) no-repeat 0 -630px;}
.icon-wqr11 {background:url(../Image/VisualCode/place_icons.png?v=1) no-repeat 0 -700px;}
.icon-wqr12 {background:url(../Image/VisualCode/place_icons.png?v=1) no-repeat 0 -770px;}
.icon-wqr13 {background:url(../Image/VisualCode/place_icons.png?v=1) no-repeat 0 -840px;}
.icon-wqr14 {background:url(../Image/VisualCode/place_icons.png?v=1) no-repeat 0 -980px;}
.icon-wqr15 {background:url(../Image/VisualCode/place_icons.png?v=1) no-repeat 0 -1050px;}
.icon-wqr16 {background:url(../Image/VisualCode/place_icons.png?v=1) no-repeat 0 -1190px;}
.icon-wqr17 {background:url(../Image/VisualCode/place_icons.png?v=1) no-repeat 0 -1120px;}
.icon-wqr18 {background:url(../Image/VisualCode/place_icons.png?v=1) no-repeat 0 -1260px;}
.icon-wqr19{background: url(../Image/VisualCode/ind-change.png?v=1) no-repeat;}

.wqrAdd-preview { margin-top:20px;height:auto; padding:20px;background:#f4f4f4;}
.wqrPreview-img { text-align:center;}
.jcrop-tracker img { width:100%; height:100%;}
.imgBg { background:#000; width:100%; height:100%; position:absolute;}
.imgBg img { left:0; top:0;}


.wqr {
}
.wqr-list { width:830px;}
.wqr .wqr-list .list-h{
  font:normal 14px/2em 'microsoft yahei', Helvetica, sans-serif; width:870px;
}
.btn-all-gray{
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  color: #333;
  text-indent: 0;
  background: #d1d1d1;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 28px;
  border: none;
  font-size: 14px;
  font-weight: bold;
}
.wqr .wqr-list li{
  position:relative;
  float:left;
  margin-top:20px;
  width:180px;
  height:auto;
  text-align: left;
}
.wqr .wqr-list li .details{
	display: none;
	position: absolute;
	z-index: 100;
	left: 90px;
	top: 70px;
	padding: 20px 15px;
	width: 194px;
	border: 1px solid #b9b9b9;
	background: #fff;
	*zoom:1;
}
.wqr .wqr-list li .details p{word-wrap:break-word;}
.wqr .wqr-list li .details .close_ico{float:right;margin-top:-8px;display: block;width:20px;height: 20px;background: url(../Image/change_close.png?v=1) no-repeat; cursor: pointer;}
.wqr .wqr-list li .details img{display:block;margin:0 auto;width: 100px;height: 100px;}

.wqr .wqr-list .date{
	height:1.5em;
	line-height:1.5em;
    font-size:12px;
    color:#999;
}
.wqr .wqr-list .img-wrap {width:180px; height:auto; border:solid 1px #e5e5e5;padding:5px;cursor: pointer;}
.wqr .wqr-list .img-wrap p{ width:180px; padding-bottom:100%; height:0; overflow:hidden;}
.wqr .wqr-list .img-wrap p a{ width:180px; height:180px;display:table-cell;line-height:180px;vertical-align: middle;}
.wqr .wqr-list .img-wrap p a span{ width:180px; height:0; font-size:0;line-height:229px;}
.wqr .wqr-list .img-wrap p a span img{ width:100%; vertical-align: middle;}
.wqr .wqr-list .other{
	height:1.5em;
	overflow:hidden;
	line-height:1.5em;
	font-size:14px;
	color:#07F;
}
.wqr .wqr-list .other .visualCodedel { color:#ccc; font-size:12px; float:right;}
.wqr .wqr-list .other .visualCodedel:hover {color:#ed1c24;}
.wqr .wqr-list .download{
	position:absolute;
	right:0px;;
	width:71px;
	height:25px;
	background:url(../Image/VisualCode/wqr_download.png?v=1) no-repeat left top;
	cursor:pointer;
}
.wqr .wqr-list .download:hover{
	background-position:0px -25px;
}

/*创建step*/
.wqr-head-step{
	width:1098px;
	padding: 15px 0 15px 0;
	margin-bottom:20px;
	text-align: center;
	background-color:#f7f7f7;
	border: 1px solid #e3e3e3;
}
.wqr-head-step ul li{
	display:inline-block;
	*display:inline;*zoom:1;
	margin-left:35px;
	padding-left:30px;
}
.wqr-head-step a.btn-all { position:absolute; top:14px; left:20px; height:35px; line-height:35px; background:#f6454f; border-radius:5px; margin-top:0; margin-bottom:0;}
.wqr-head-step ul li i {display:inline-block;*display:inline;*zoom:1; width:25px; height:20px; background-image: url(../Image/VisualCode/icon-num.png?v=1); vertical-align:middle;}
.wqr-head-step ul li i.icon-num1 { background-position:-25px 0;}
.wqr-head-step ul li i.icon-num2 { background-position:-25px -20px;}
.wqr-head-step ul li i.icon-num3 { background-position:-25px -40px;}
.wqr-head-step ul li i.icon-num4 { background-position:-25px -60px;}
.wqr-head-step ul li i.icon-ok { background-position:-25px -80px;}
.wqr-head-step ul li.hover i.icon-num1 { background-position:0 0;}
.wqr-head-step ul li.hover i.icon-num2 { background-position:0 -20px;}
.wqr-head-step ul li.hover i.icon-num3 { background-position:0 -40px;}
.wqr-head-step ul li.hover i.icon-num4 { background-position:0 -60px;}
.wqr-head-step ul li span { margin-left:5px;font-size:18px;line-height: 30px;color:#bbb; vertical-align:middle;}
.wqr-head-step ul li.hover span {color:#2f2f2f;}
h2.step-sub{
	text-align: left;
	font-style: normal;
	color: #2f2f2f;
	font-size: 18px;
	line-height: 24px;
	padding-bottom:20px;
	border-bottom:solid 1px #e2e2e2;
}
.wqr-type-area{
	width:100%;
}

.back-next {
	position: absolute;
	right: 0px;
	top: -11px;
}
.back-next a{
	text-decoration:none;
}
.back {
	float: left;
	margin-right: 5px;
}
.back-right{
	float:right;
}
.back a,.back-right a {
	display: inline-block;
	padding: 0 12px;
	color: #f6454f;
	line-height: 44px;
	font-size: 14px;
}
.back a:hover ,.back-right a:hover{
	background-color: #f7f7f7;
}
.back-next .next,.back-next .next-disable {
	float: left;
}

.next-disable a{
	display: inline-block;
	width: 124px;
	color: #FFFFFF;
	background-color: #f38e81;
	line-height: 44px;
	font-size: 18px;
	text-align: center;
    border-radius: 3px;
}
.next-disable a{
	background-color:#ccc;
}
.create_qr {
	display: inline-block;
	width: 110px;
	color: #FFFFFF;
	background-color: #f6454f;
	line-height:40px;
	font-size:16px;
	text-align: center;
    border-radius: 3px;
}
.create_qr.disabled{
	background-color:#ccc;
}
.create_qr.disabled:hover{
	background-color:#ccc;
}
.next a:hover{
	background-color: #e72f3a;
	color:#fff;
}
.normal a{
	float:right;
}
.normal a{
	display: inline-block;
	padding:0 10px;
	width: 100px;
	color: #26b4eb;
	line-height: 44px;
	font-size: 14px;
	text-align: center;
    border-radius: 3px;
}
.normal a:hover{
	background-color:#f7f7f7;
}
.type-boxes-wrap{
	margin: 0 auto;
}
.type-boxes{
	/*float: left;*/
	display: inline-block;
	*display:inline;*zoom:1;
	width:230px;
	margin-right: 40px;
	cursor:pointer;

}
.type-boxes a{
	display:block;
	width:222px;
	height:510px;
	background: url(../Image/VisualCode/p_1.png?v=1) no-repeat left 60px;
	cursor:pointer;
	position:relative;
	padding-bottom:25px;
}
.type-boxes a p { position:absolute; width:100%; left:0; bottom:0; line-height:20px; font-size:14px;text-align: center;}
.type-boxes a.wechat{
	background-image:url(../Image/VisualCode/p_2.png?v=1?v=1);
}
.type-boxes a.text{
	background-image:url(../Image/VisualCode/p_3.png?v=1?v=1);
}
.type-boxes a.media{
	background-image:url(../Image/VisualCode/p_4.gif?v=1?v=1);
}
.type-boxes a.wechat:hover{
	background-image:url(../Image/VisualCode/p_2_hover.png?v=1?v=1);
}
.type-boxes a.text:hover{
	background-image:url(../Image/VisualCode/p_3_hover.png?v=1?v=1);
}
.type-boxes a:hover{
	background-image:url(../Image/VisualCode/p_1_hover.png?v=1?v=1);
	text-decoration:none;
}
.type-boxes a.media:hover{
	background-image:url(../Image/VisualCode/p_4_hover.gif?v=1?v=1);
}
	
	
.type-boxes h3{
	text-align: center;
	color: #ff0080;
	font-size: 18px;
}
.type-boxes h4{width:100%;position: absolute;top: 28px;text-align: center;font-size: 14px;color: #999;}



.new-contentarea {
	width: 100%;
	overflow:hidden;
	margin: 0 auto;
	position:relative;
}
.new-contentarea label {
	width:100%;
	height:100%;
	display:block;
}
.new-contentarea input[type=file] {
	width:188px;
	height:60px;
	background:#333;
	margin: 0 auto;
	position:absolute;
	right:50%;
	margin-right:-94px;
	top:0;
	right/*\**/:0px\9;
	margin-right/*\**/:0px\9;
	width/*\**/:10px\9;
	opacity:0;
	filter:alpha(opacity=0);
	z-index:2;
}

.edit-left {
	width:59%;
	float:left;
	margin-bottom: 50px;
}
.edit-left h3 {
	padding-bottom: 16px;
	margin-top: 25px;
	font-size: 18px;
	color: #404040;
	line-height: 24px;

}
.edit-left .url-red-tip{
	border-top: 1px dashed #cecece;
	font-size: 14px;
	line-height: 40px;
	color: red;
}
.txt-5 {
	width: 95%;
	padding: 0 5px 0 10px;
	margin: 5px 5px 5px 0px;
	border: 1px solid #bcc5cf;
	height: 46px;
	color: #404040;
	font-size: 18px;
	margin-bottom: 14px;
	line-height:46px;
}
.txt-area-5 {
	width: 89%;
	padding: 0px 30px 0px 10px;
	border: 1px solid #bcc5cf;
	height: 170px;
	color: #404040 ;
	font-size: 18px;
	margin-bottom: 14px ;
	resize: none;
}
.edit-right {
	width: 398px;
	float: right;
	margin-bottom: 50px;
	margin-top: 12px;
}

.phone-bg img{
	width:100%;
}
.preview-area{
	position:absolute;
	width:341px;
	height:560px;
	top:79px;
	left:28px;
	background-color:#fff;
}
.url-preview{
	position: absolute;
	padding-top: 1px;
	width: 226px;
	text-align: left;
	height: 27px;
	top: 27px;
	left: 17px;
	background: #838382;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	z-index: 2;
	overflow: hidden;
}
.text-preview{
	padding: 3px;
	width: 333px; 
	height: 552px;
	font-size: 16px;
	border: 1px solid #ccc;
	word-wrap:break-word;
}
.default-img{ margin-top:30px;height: 160px;}
.default-img .img-p{
	position:absolute;
}
.default-img .txt-p{position:absolute;z-index: 0;top:50px;left: 190px; width: 150px; height:50px; color: #fff;font-size:20px; line-height:50px; text-align:center;background:#f6454f; border-radius:5px;}
a.upload-img{
	width:165px;
	display: inline-block;
	margin-bottom: 10px;
	height:57px;
	line-height: 57px;
	font-size: 20px;
	color: #FFFFFF;
	background-color: #f38e81;
	border-radius: 3px;
	text-decoration:none;
	cursor:pointer;
}
a.upload-img:hover{
	background-color: #ec7e70;
}
.wqr-imgok{
	margin:40px auto 0px;
	text-align:center;
	width:260px;
}
.wqr-imgok img{
	width:100%;
}
.imgok-msg{
	width:260px;
	margin:0 auto;
	text-align: left;
	margin-top:10px;
}
.imgok-msg h4 { font-size:14px; text-align:left; color:#000;}
.imgok-msg h4 span { color:#f38e81; font-size:18px;}
.imgok-msg p { font-size:14px; color:#999;}
.imgok-btn{
	margin:20px auto 0px;
	text-align:center;
}
.imgok-btn a{
	display: inline-block;
	padding: 0 12px;
	margin-right:10px;
	width: 144px;
	color: #FFFFFF;
	background-color: #f38e81;
	line-height: 44px;
	font-size: 20px;
	text-align: center;
    border-radius: 3px;
	text-decoration:none;
}
/*
.imgok-btn a.back{
	color: #26b4eb;
	line-height: 44px;
	font-size: 20px;
	background-color:#fff;
}
.imgok-btn a.back:hover{
	background-color:#f7f7f7;
}
*/
.imgok-btn a:hover{
	background-color:#ec7e70;
}

/* jquery.Jcrop.min.css v0.9.12 (build:20130126) */
.jcrop-holder{direction:ltr;text-align:left; margin:0 auto; overflow:hidden;}
.jcrop-vline,.jcrop-hline{background:#FFF url(../Image/Jcrop.gif?v=1);font-size:0;position:absolute;}
.jcrop-vline{height:100%;width:1px!important;}
.jcrop-vline.right{right:0;}
.jcrop-hline{height:1px!important;width:100%;}
.jcrop-hline.bottom{bottom:0;}
.jcrop-tracker{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;height:100%;width:100%;}
.jcrop-handle{background-color:#333;border:1px #EEE solid;font-size:1px;height:7px;width:7px;}
.jcrop-handle.ord-n{left:50%;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-s{bottom:0;left:50%;margin-bottom:-4px;margin-left:-4px;}
.jcrop-handle.ord-e{margin-right:-4px;margin-top:-4px;right:0;top:50%;}
.jcrop-handle.ord-w{left:0;margin-left:-4px;margin-top:-4px;top:50%;}
.jcrop-handle.ord-nw{left:0;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-ne{margin-right:-4px;margin-top:-4px;right:0;top:0;}
.jcrop-handle.ord-se{bottom:0;margin-bottom:-4px;margin-right:-4px;right:0;}
.jcrop-handle.ord-sw{bottom:0;left:0;margin-bottom:-4px;margin-left:-4px;}
.jcrop-dragbar.ord-n,.jcrop-dragbar.ord-s{height:7px;width:100%;}
.jcrop-dragbar.ord-e,.jcrop-dragbar.ord-w{height:100%;width:7px;}
.jcrop-dragbar.ord-n{margin-top:-4px;}
.jcrop-dragbar.ord-s{bottom:0;margin-bottom:-4px;}
.jcrop-dragbar.ord-e{margin-right:-4px;right:0;}
.jcrop-dragbar.ord-w{margin-left:-4px;}
.jcrop-light .jcrop-vline,.jcrop-light .jcrop-hline{background:#FFF;filter:alpha(opacity=70)!important;opacity:.70!important;}
.jcrop-light .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#000;border-color:#FFF;border-radius:3px;}
.jcrop-dark .jcrop-vline,.jcrop-dark .jcrop-hline{background:#000;filter:alpha(opacity=70)!important;opacity:.7!important;}
.jcrop-dark .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#FFF;border-color:#000;border-radius:3px;}
.solid-line .jcrop-vline,.solid-line .jcrop-hline{background:#FFF;}
.jcrop-holder img,img.jcrop-preview{max-width:none;}


/*新首页*/
.indro-box{position:relative;border-bottom: 1px solid #d9d9d9;}
.indro-box h4{font-size: 24px;color: #666;}
.indro-box h4 .btn{font-size:16px;color: #ed1c24;background-color: #fff;border: 2px solid #ed1c24;border-radius: 2px;}
.indro-box h4 .btn:hover{background-color: #ed1c24;color: #fff;}
.indro-box p{color: #666;font-size: 18px;line-height: 30px;}
.indro-box .text1{margin-top: 120px;}
.indro-box .text2{margin-left: 60px;padding-top: 200px;}
.indro-box .text3{padding-top: 140px;}
.indro-box .text3 .btn{display: block;width: 220px;height:45px;line-height:45px;margin-top: 50px;font-size: 16px;}
.indro-box .bg1{float:right;margin-top: -20px;margin-left:50px;margin-right: 100px;}
.indro-box .bg2{float: left;margin-top: 80px;margin-left: 70px;margin-right: 50px;}
.indro-box .bg3{float:right;margin-top:140px;margin-left:50px;margin-right:36px;}

/* 炫码 2016-04-08 */
.visulcode{padding:5px 5px 0px 0px;text-align:right;opacity:1;-webkit-transition:all 0.3s;transition:all 0.3s;}
.visulcode .opr-list {position:relative;margin:0 0 0 5px;width:18px;height:18px;overflow:hidden; text-align:center;display:inline-block;border:solid 1px #ddd;border-radius: 2px;-webkit-transition:background-color .3s,color .3s,width .3s;transition:background-color .3s,color .3s,width .5s;color:#999;}
.visulcode .opr-list:hover {border:solid 1px #ed3f41;background:#ed3f41;color:#fff;}
.visulcode .opr-list.normal:hover{width:45px;}
.visulcode .opr-list i{float:left;width:18px; height:18px; line-height:18px; font-size:12px; color:inherit;}
.visulcode .opr-list span{position:absolute;width:60px;left:18px;line-height:18px;text-align:left; color:inherit;font-size:12px}
.visulcode .code_popu{position:absolute;top:20px;left:-40px;width:110px;background:#fff;display: none;opacity: 0;filter:alpha(opacity=0);}
.visulcode .code_popu p{line-height:25px;font-size:14px;}
.wqr-head-steps{width:auto}
.xm_wrqInt .wrqInt-top { position:relative; width:auto; height:438px;background: url(../Image/VisualCode/pro1.jpg?v=1) no-repeat center center;margin:0 auto}
.xm_wrqInt .wrqInt-con { position:relative; width:auto; height:840px;background: url(../Image/VisualCode/pro2.jpg?v=1) no-repeat center 100%;margin:0 auto}
.xm_wrqInt .wrqInt-other { height:auto; overflow:hidden;}
.max-rqList{max-width:1020px;}
