@charset "utf-8";
/* CSS Document */
/*
[目录表]
1- 微信
*/
.msg_page { margin-top:-34px; text-align:right; line-height:30px;font:normal 14px/30px "microsoft yahei";}
.page a {font:normal 14px/30px "microsoft yahei";}
.page p { display:block;font:normal 14px/30px "microsoft yahei";float:left; margin:0 5px;}
.msg_faq { margin-left:20px; text-align:left; display: inline; line-height:30px;font:normal 14px/30px "microsoft yahei";}
.msg_faq a {font: bold 14px/30px "microsoft yahei"; color:#666;}
.float-p {overflow: hidden;}

#ui-msg { width:100%;}
#ui-msg li { width:43%; height:76px; display:inline-block; padding:17px 0; float:left; margin-left:20px;}
#ui-msg li p { font: 13px/20px "microsoft yahei"; text-align:left; float:left; margin-left:80px; color:#666}
#ui-msg li a { float:left; margin:5px 0 0 80px;}
#ui-msg .ui-msg-bg {height:100%; float:left; margin-left:10px;}
#ui-msg .ui-msg-bg1 {background: url(../Image/icon_head.png) no-repeat 10px 0px;}
#ui-msg .ui-msg-bg2 {background: url(../Image/icon_head.png) no-repeat 10px -150px;}

#ui-msg2 { width:100%;}
#ui-msg2 li { width:30%; height:76px; display:inline-block; padding:17px 0; float:left; margin-left:20px;}
#ui-msg2 li p { font: 13px/20px "microsoft yahei"; text-align:left; float:left; margin-left:80px; color:#666}
#ui-msg2 li a { float:left; margin:5px 0 0 80px;}
#ui-msg2 .ui-msg-bg {height:100%; float:left; margin-left:10px;}
#ui-msg2 .ui-msg-bg1 {background: url(../Image/icon_head.png) no-repeat 10px 0px;}
#ui-msg2 .ui-msg-bg2 {background: url(../Image/icon_head.png) no-repeat 10px -150px;}


.msg_tab {}
.msg_tab .msg_tab_title { width:100%;}
.msg_tab .msg_tab_title p {display:block;padding:0 20px; line-height:30px; background:#555; color:#fff; cursor:pointer; border:solid 1px #555; margin-left:20px; font-size:14px; float:left;}
.msg_tab .msg_tab_title p a { color:#fff;}
.msg_tab .msg_tab_title .msg_tab_title_hover {background:#fff; color:#555; border:solid 1px #ddd; border-bottom: solid 1px #fff;}
.msg_tab .msg_tab_title .msg_tab_title_hover a { color:#555;}
.msg_tab .msg_tab_list { border-top:solid 1px #ddd; margin-top:-1px;}
.msg_tab .msg_tab_list p { padding:20px 0; width:50%; border:solid 1px #aaa; background:#f3f3f3; float:left;margin:20px 0; margin-left:-2px;  font-size:14px;}
.msg_tab .msg_tab_list p a { color:#555; display:block;}
.msg_tab .msg_tab_list .msg_tab_list_hover { background:#fff;}
.msg_tab .msg_tab_list2 { border-top:solid 1px #ddd; margin-top:-1px;}
.msg_tab .msg_tab_list2 p { padding:20px 0; width:33%; border:solid 1px #aaa; background:#f3f3f3; float:left;margin:20px 0; margin-left:-2px;  font-size:14px;}
.msg_tab .msg_tab_list2 p a { color:#555; display:block;}
.msg_tab .msg_tab_list2 .msg_tab_list_hover { background:#fff;}
.msg-list {text-align: justify;*text-justify: distribute;}
#first_col {vertical-align: top; float:left;}
#second_col {vertical-align: top; float:right;}
.msg-col { display:inline-block; width:48%; font-size:14px;}
.msg-item-wrapper {position: relative;margin-bottom: 26px;border: 1px solid #d3d3d3; background-color: #F4F4F4; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); border-radius: 5px; -webkit-border-radius: 5px;-moz-border-radius: 5px;}

.msg-item { padding: 0; background-color: #FFFFFF;border-bottom: 1px solid #CCCCCC;box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0;}
.msg-t {margin: 6px 14px 0;line-height: 28px;max-height: 56px;overflow: hidden;font-size: 16px;font-weight: 400;letter-spacing: 1px;}
.msg-t a { color:#666; font-family:"microsoft yahei";}
.msg-meta { margin:0 14px; line-height:28px;}
.msg-date { line-height:28px; font-family:"microsoft yahei";}
.cover {margin: 0;position: relative;height: 40px;overflow: hidden;border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0;}
.cover .msg-t {position: absolute;bottom: 0;width: 100%;overflow: hidden; margin:0;background: rgba(0, 0, 0, 0.4) !important;
filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr='#82000000', endColorstr='#82000000');max-height: 56px;}
.cover .i-title { color:#fff; display:block;line-height: 28px;font-size: 16px;font-weight: 400; padding:0 5px; font-family:"microsoft yahei";}
.cover img {width: 100%;}
.sub-msg-item {padding: 12px 14px;overflow: hidden;zoom: 1;border-top: 1px solid #C6C6C6;}
.sub-msg-item .msg-t {margin:0 85px 0 0;padding:12px 4px 0 0;line-height: 24px;font-size: 14px;overflow: hidden;}
.thumb {float: left;font-size: 0;}
.thumb img {width: 70px;height: 70px;border: 1px solid #B2B8BD;}
.msg-text {margin: 0 14px;font-size: 14px;line-height: 1.6;padding-bottom: 8px;text-align: left; font-family:"microsoft yahei";}

.msg-opr-list {padding: 10px 0; letter-spacing: -5px;border-radius: 0 0 5px 5px;-webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px;}
.opr-item {width: 50%;font-size: 14px;letter-spacing: normal;float:left;}
.opr-item a {display:block;text-align:center;}
.edit-btn {border-right: 1px solid #A3A3A3;}
.del-btn {border-left: 1px solid #FEFEFE;}
.opr-icon { width: 18px;height: 18px;margin:0 auto;background: transparent url('../Image/icon18.png') no-repeat;}
.edit-icon { background-position: 0 -139px;}
.del-icon { background-position: 0 -195px;}
.opr-item a:hover .edit-icon { background-position: -28px -139px;}
.opr-item a:hover .del-icon { background-position: -28px -195px;}

.add-access {margin: 0 2px 26px; border: 3px dotted #b8b8b8; border-radius: 5px; -webkit-border-radius: 5px;  -moz-border-radius: 5px; background-color: #FFF; text-align:center; cursor:pointer; height:150px;}
.add-tip { display:block; line-height:150px; margin:50px auto;width: 42px; height: 42px; background: #ffffff url('../Image/appmsg-icon.png') no-repeat 50% 0;vertical-align: middle; overflow:hidden;}
.add-btn {display: none; height: 90px; margin:26px 18px; color: #B5B5B5; background: transparent url('../Image/appmsg-icon.png') no-repeat 50% -242px; line-height:150px;}
.add-btn:hover { color: #d9d9d9; background-position: 50% -42px; text-decoration:underline;}
.multi-access { background-position: 50% -342px;}
.multi-access:hover { background-position: 50% -142px;}
/*在add-access加上add-btn-show可将提示图标隐藏，并显示创建消息入口*/
.add-btn-show .add-btn {display: inline-block;}
.add-btn-show .add-tip {display: none;}


.listTitle {border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;overflow: hidden;padding:5px 20px 5px 20px;border: 1px solid #d3d3d3;background-color: #f1f1f1;}
.listTitle .title {font-weight: bold;font-size: 14px;}
.listTitle .opt { width:100px;}
.listItem {padding:10px 20px 10px 10px;border-bottom: 1px solid #d3d3d3;}
.file {width: 500px;}
.fileNameArea {padding:0 0 0 5px;}
.fileNameArea .fileName {padding: 2px 6px;line-height: 20px;display: block; text-align:left; font-size:14px;}
.fileNameArea .fileNameEdit {display: none; text-align:left;}
.fileNameArea .fileNameInput {height: 18px;line-height: 18px;border: 1px solid #d3d3d3;padding: 2px 4px;width: 300px; font-size:14px; color:#666;}
.fileNameArea .fileNameInputupdate { width:70px; height:24px; line-height:24px; color:#fff; background:#ed1c24} 
.fileNameEditing .fileName {display: none;}
.fileNameEditing .fileNameEdit {display: block;}
.wxMsgImg {position: relative;float: left;cursor: pointer;}
.wxMsgImg img{ width:100px;}
.listItem .oper,.listItem .size {width: 100px;text-align: center;color: #999; font-size:14px; padding:5px 0;}
.listItem .icon18 {margin-left: 3px;display: inline-block;}
.icon18 {background: url('../Image/icon18.png') no-repeat scroll 0 0 transparent;width: 18px;height: 18px;display: block;}
.iconDownload {background-position: 0px -166px;}
.iconEdit {background-position: 0px -139px;}
.iconDel {background-position: 0px -195px;}
.iconTop {background-position: 0px -650px;}
.iconDw {background-position: 0px -670px;}
.iconMtop {background-position: 0px -690px;}
.iconMbottom {background-position: 0px -710px;}
.uploadArea { position:relative;}
.uploadArea .upload-file {width:230px; height:26px; position:absolute; left:0;opacity:0;filter:alpha(opacity=0); cursor:pointer;}
.uploadtext { margin:4px 0 0 10px;}



/*微信标签*/
#global-libs-content { padding-top:35px;}
#globallibscontent { background:#fafafa;}
.msg-libs .p-title { float: left;border: 1px solid #ddd;margin-right:10px;border-bottom: none;border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;display: block;padding: 8px 20px;color: #555;font-size: 15px;font-weight:bold;}
.msg-libs .hover { color:#555; border:solid 1px #ddd; border-bottom: solid 1px #fafafa;background:#fafafa;}
.msg-libs .p-title:hover { background:#fafafa;border:solid 1px #ddd;border-bottom: solid 1px #fafafa; color:#555;}
.msg-libs p a {color: #555;font-size: 15px;font-weight:bold;}
.msg-libs p a:hover {color:#555;}

.txtArea { padding:20px 20px 20px 20px; border-bottom:solid 1px #ddd}
.txtImg { padding:20px 20px 40px 20px; border-bottom:solid 1px #ddd}
.libraryArea { padding-left:20px; border-left:solid 1px #ddd; margin-left:20px; display:block; margin-right:10px;}
.libraryArea a { line-height:26px; }
.functionBar {border: 1px solid #AAA;padding: 10px 20px;background-color: #FFF;position: relative;box-shadow: 0 3px 3px #dddddd;-moz-box-shadow: 0 3px 3px #dddddd;-webkit-box-shadow: 0 3px 3px #dddddd;}
.functionBar .opt,.functionBar .tip { line-height:21px;font: bold 14px/30px "microsoft yahei"; color:#aaa;}
.functionBar .opt {float: left;}
.functionBar .tip {float: right;font-style: italic; padding-right:10px;}
.editArea {border: 1px solid #AAA;border-top: none;padding:30px;background-color: #FFF;}
.editArea .msg-item-wrapper { width:50%;}
.editArea-textarea { width:100%; height:200px; line-height:25px; border:solid 1px #ddd}
.msg-libs-update { margin-top:20px; text-align:left;}

.editArea-img {line-height:25px; border:solid 1px #aaa;text-align:left; padding:10px;font: bold 14px/30px "microsoft yahei";box-shadow: 0 3px 3px #dddddd;-moz-box-shadow: 0 3px 3px #dddddd;-webkit-box-shadow: 0 3px 3px #dddddd;}
.editArea-img-n { color:#ff5757;}
.editArea-img-n,.editArea-img-name,.editArea-img-size,.editArea-img-date { font-size:14px; padding-top:5px; }
.editArea-img-size,.editArea-img-date { margin-left:20px; color:#aaa; font-weight:normal}
.editArea-img-src { height:100px; margin-left:84px;}
.editArea-choose { border:solid 1px #aaa; border-top:none; font-family:"microsoft yahei"; padding:10px;}
.editArea-choose-n {font-size:14px; padding:10px 0; color:#999; font-size:14px;}
.editArea-choose-list { width:170px; float:left; padding:9px; margin:10px; border:solid 1px #ccc; cursor:pointer}
.editArea-choose-name { font-weight:bold;}
.editArea-choose-size,.editArea-choose-date { display:none;}
.editArea-choose-s { width:100%; height:80px; overflow:hidden;}
.editArea-choose-src {height:100px;}
.editArea-choose-add { border:solid 1px #ff8080;}
.editArea-choose-add .editArea-choose-name { color:#ff8080;}

.settingArea { position:relative;}
.none { display:none;}
.ivrSettingPage {font-family:"microsoft yahei"; font-size:14px; color:#222}
.ivrSettingPage .ruleItem {border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;border: 1px solid #d3d3d3;padding: 0 0 5px 0;margin-bottom: 20px;background-color: #FFF;overflow: hidden;position: relative;}
.ivrSettingPage .title {padding: 5px 10px 5px 10px;cursor: pointer;background-color: #f0f0f0;background-image: linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);background-image: -moz-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);background-image: -webkit-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);border-bottom: 1px solid #d7d7d7;}
.ivrSettingPage .title h5 {width: 650px;display: block; text-align:left;}
.b {font-weight: bold;}
.ivrSettingPage .headerRuleName {white-space: nowrap;max-width: 550px;overflow: hidden;text-overflow: ellipsis;display: inline-block;}
.n {font-weight: normal;font-style: normal;}
.ivrSettingPage .unfold {display: block; color:#4d4d4d;}
.ivrSettingPage .pickup,.ivrSettingPage .detail {display: none;color:#4d4d4d;}
.ivrSettingPage .settingPre {padding: 10px 10px 10px 10px;}
.ivrSettingPage .settingPre .preBox {margin-bottom: 8px; height:auto; overflow:hidden;}
.ivrSettingPage .settingPre .preBox label {float: left;}
.ivrSettingPage .settingPre .preBox .items {margin-left: 70px;overflow: hidden;}
.ivrSettingPage .settingPre .preBox .items .item {float: left;background-color: #E3E1E1;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;height: 28px;line-height: 28px;margin: 0 3px 5px 3px;max-width: 100px;min-width: 30px;overflow: hidden;padding: 0 9px 0 9px;text-overflow: ellipsis;white-space: nowrap;}
.ivrSettingPage .settingPre .preBox .replyPre { text-align:left;}
.ivrSettingPage .pickup, .ivrSettingPage .detail {display: none;}
.ivrSettingPage .ruleItemEditing .pickup, .ivrSettingPage .ruleItemEditing .detail {display: block;}
.ivrSettingPage .ruleItemEditing .unfold, .ivrSettingPage .ruleItemEditing .settingPre {display: none;}
.detail { text-align:left; margin:5px 10px 5px 10px;}
.ivrSettingPage .detail .ruleNameWrap {margin-bottom: 5px;}
.cLine {overflow: hidden;padding: 5px 0;}
.c-g9 {color: #999999;}
.ivrSettingPage .txtInput {border: 1px solid #d3d3d3;padding: 3px 5px;width: 300px;}
.float-p {overflow: hidden;}
.ivrSettingPage .detail .keywordsList {width: 236px;border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;border: 1px solid #dbdbdb;background: #fff;}
.ivrSettingPage .detail .replyList {margin-left: 246px;border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;min-width: 450px;background: #fff;border: 1px solid #dbdbdb;overflow: hidden;position: relative;}
.ivrSettingPage .detail .keywordsList .cLine {padding: 5px 12px 5px 12px;border-bottom: 1px solid #dbdbdb;line-height: 30px;}
.ivrSettingPage .detail .header {background: #eeeded;border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;line-height: 30px;}
.ivrSettingPage .detail .keywordsList .keywordItems {height: 403px;padding: 5px 0px 5px 0px;overflow-y: auto;overflow-x: hidden;}
.ivrSettingPage .detail .keywordsList .keywordItems .item {margin-bottom: 5px;padding: 2px 8px 2px 8px;border-bottom: 1px solid #CCC;}
.ivrSettingPage label {cursor: pointer;}
.ivrSettingPage .detail .keywordsList .keywordItems .item .matchMode {color: #135d91;background: url('../Image/icon18.png') no-repeat scroll 0 0 transparent;padding-left: 20px;width: 65px;height: 20px;background-position: 0 -506px;}
.ivrSettingPage .detail .keywordsList .keywordItems .item .matchMode1 {background-position: 0 -482px;}
.ivrSettingPage .detail .keywordsList .keywordItems .item .keywordEditor {color: #135d91;margin-right: 5px;margin-left: 15px;}
.ivrSettingPage .detail .keywordsList .keywordItems .item input[type=checkBox]{ margin-top:3px;}
.ivrSettingPage .detail .keywordsList .keywordItems .item .val {width: 43px;overflow: hidden;margin: 0 0 0 5px;word-wrap: normal;white-space: nowrap;text-overflow: ellipsis;}
.ivrSettingPage .detail .keywordsList .keywordItems .item .val-input {width:60px;overflow: hidden;margin: 0 0 0 5px; height:18px; line-height:18px;font-family:"microsoft yahei"; font-size:14px; border:solid 1px #aaa;}
.ivrSettingPage .detail .keywordsList .btnArea {background: #eeeded;border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;-webkit-border-radius: 0 0 5px 5px;height: 30px;padding: 7px 7px 7px 7px;}
.btnGreenS {border: 1px solid #ad2716;padding: 5px 20px;cursor: pointer;display: inline-block;text-align: center;overflow: visible;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;background-color: #eb442f;background-image: linear-gradient(top, #d31e15 0, #eb442f 100%);background-image: -moz-linear-gradient(top, #d31e15 0, #eb442f 100%);background-image: -webkit-linear-gradient(top, #d31e15 0, #eb442f 100%);color: #ffffff;border: 1px solid #ad2716;margin: 0;padding: 3px 5px;}
.ivrSettingPage .btnGreenS, .ivrSettingPage .btnGrayS {margin-right: 5px;}
.btnGrayS {box-shadow: 0 1px 1px #d0d0d0;-moz-box-shadow: 0 1px 1px #d0d0d0;-webkit-box-shadow: 0 1px 1px #d0d0d0;}
.btnGrayS {border: 1px solid #ad2716;padding: 5px 20px;cursor: pointer;display: inline-block;text-align: center;overflow: visible;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;background-color: #f1f1f1;background-image: linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);background-image: -moz-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);background-image: -webkit-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);color: #000000;border: 1px solid #AAA;box-shadow: 0 1px 1px #d0d0d0;-moz-box-shadow: 0 1px 1px #d0d0d0;-webkit-box-shadow: 0 1px 1px #d0d0d0;margin: 0;padding: 3px 5px;}
.ivrSettingPage .detail .replyList .cLine {padding: 5px 12px 5px 12px;border-bottom: 1px solid #dbdbdb;}
.ivrSettingPage .detail .replyList .cLine p {float: left;line-height: 30px;}
.ivrSettingPage .detail .replyList .cntBox {padding: 5px 12px 5px 12px;border-bottom: 1px solid #dbdbdb;background: #EEEDED;}
.ivrSettingPage .detail .replyList .replyItems {height: 374px;padding: 5px 0px 5px 0px;overflow: hidden;overflow-y: auto;position: relative;}
.ivrSettingPage .detail .replyList .btnArea {background: #eeeded;border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;-webkit-border-radius: 0 0 5px 5px;height: 30px;padding: 7px 7px 7px 7px;overflow: hidden;}
.ivrSettingPage .detail .replyList .btnArea a { display:block;min-width: 78px;margin-top: 3px;float: right;}
.ivrSettingPage .detail .replyList .btnArea .btnAdd {padding-left: 28px;background: url('../Image/icon28.png') no-repeat scroll 0 0 transparent;border: none;cursor: pointer; line-height:23px;}
.ivrSettingPage .detail .replyList .btnArea .addWords { background-position: 0px -116px;}
.ivrSettingPage .detail .replyList .btnArea .addFiles { background-position: 0 -179px;}
.ivrSettingPage .detail .replyList .btnArea .addRecording { background-position: 0 -148px;}
.ivrSettingPage .detail .replyList .btnArea .addAppMsg { background-position: 0 -212px;}
.ivrSettingPage .detail .replyList .btnArea .addGoodsMsg { background-position: 0 -279px;}
.ivrSettingPage .detail .btnArea {padding: 10px 10px 20px 10px;border-top: 1px solid #dbdbdb;}
.ivrSettingPage .detail .operator {border-top: none;}

.ivrSettingPage .detail .replyList .replyItems .item {position: relative;overflow: hidden;padding: 0 8px 10px 8px;margin-bottom: 10px;border-bottom: 1px solid #dbdbdb;}
.ivrSettingPage .detail .replyList .replyItems .item .contentWrap .fileInfo {width: 100%;}
.appmsgImgArea {float: left;padding: 3px;width: 100px;height: 100px;}
.ivrSettingPage .detail .replyList .replyItems .item .contentWrap {width: 350px;margin-left: 10px;position: relative;}
.appmsgImgArea img {width: 100px;height: 100px;vertical-align: top;}
.appmsgContentArea {float: left;padding: 2px;width:230px; line-height:30px;}
.ivrSettingPage .detail .replyList .replyItems .item input[type=checkBox]{ margin-top:3px;}
.wordContent-input span{ font-size:12px; display:block; line-height:18px; color:#aaa;}
.wordContent-input input {width:300px;overflow: hidden; height:18px; line-height:18px;font-family:"microsoft yahei"; font-size:14px; border:solid 1px #aaa;}


.msg-edit { overflow:hidden; text-align:left;font-family:"microsoft yahei";}
.msg-preview {width:820px;}
.msg-edit-area {margin:20px;}
.multi-msg .msg-meta {margin: 0 14px;line-height: 28px; font-size:14px;}
.cover .default-tip {font-size: 16px;color: #666666;line-height:40px;}
.default-tip {display: block;text-align: center;background-color: #ECECEC;text-shadow: 0 1px 0 #FFFFFF;-webkit-text-shadow: 0 1px 0 #FFFFFF;-moz-text-shadow: 0 1px 0 #FFFFFF;}
.cover:hover .sub-msg-opr,.sub-msg-item:hover .sub-msg-opr  {left: 0;}
.sub-msg-opr {top: 0;left: 100%;height: 100%;width: 100%;background-color: #E5E5E5;background: rgba(229, 229, 229, 0.55);filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr='#85E5E5E5', endColorstr='#85E5E5E5') alpha(opacity=55); position:absolute; text-align:center;}
.cover .sub-msg-opr-item {margin-top:10px; display:inline-block;}
.sub-msg-opr-item {margin: 40px 20px 0;font-size: 0;}
.sub-msg-item {padding: 12px 14px;overflow: hidden;zoom: 1;border-top: 1px solid #C6C6C6;}
.sub-msg-item .msg-t {margin-right: 0;margin-left: 85px;margin-top: 0;padding-left: 4px;padding-top:5px;line-height: 24px;max-height: 48px;font-size: 14px;overflow: hidden;}
.sub-msg-item .msg-c {margin-right: 0;margin-left: 85px;margin-top: 0;padding-left: 4px;padding-top: 12px;line-height: 24px;max-height: 24px;font-size: 14px;overflow: hidden;}
.thumb .default-tip {font-size: 16px;color: #C0C0C0;width: 70px;line-height: 70px;border: 1px solid #B2B8BD;}
.sub-msg-item .sub-msg-opr-item {margin-top:40px;display:inline-block;*display:inline;*zoom:1;}
.msg-preview .sub-add {display: block;}
.sub-add {display: none;padding: 12px 14px;border-top: 1px solid #C6C6C6;}
.sub-add-btn {line-height: 70px;color: #222222;border: 2px dotted #b8b8b8;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px; display:block; text-align:center;}
.sub-add-icon {width: 18px;height: 18px;margin-right: 5px;background: transparent url('../Image/icon18.png') no-repeat 0 -83px; display:inline-block;vertical-align: middle;}

.msg-editer {background-color: #f8f8f8;border: 1px solid #b8b8b8;border-radius: 5px;box-shadow: 0 2px 2px rgba(0,0,0,0.1);-moz-border-radius: 5px;-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1);padding: 14px 22px 20px 20px;-webkit-border-radius: 5px;-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1);}
.msg-editer label {cursor: default;padding-bottom: 4px;padding-top: 10px; display:block; font-size:14px; line-height:28px;}
.msg-editer label span { color:#aaa; font-size:12px;}
.msg-input, .cover-area, .msg-txta {background-color: #fff;border: 1px solid #d3d3d3;color: #666;padding: 2px 8px;width:95%;}
.msg-editer .cover-area { position:relative;}
.msg-editer .cover-area .upload-file {width:230px; height:26px; position:absolute; left:0;opacity:0;filter:alpha(opacity=0); cursor:pointer;}
.msg-editer .url-link { display:block; padding-top:10px; font-size:14px;}
#url-block { padding-top:10px; overflow:hidden;}
#url-block .url-text {font-size:14px; line-height:28px; border:solid 1px #bbb; margin-bottom:-1px; padding:0 10px;background:#f8f8f8; color:#999; position:relative; z-index:10;}
#url-block .url-choose {font-size:14px; line-height:28px; border:solid 1px #bbb; margin-bottom:-1px; padding:0 10px;background:#f8f8f8; color:#999; position:relative; z-index:10;}
#url-block .url-context {font-size:14px; line-height:28px; border:solid 1px #bbb; margin-bottom:-1px; padding:0 10px;background:#f8f8f8; color:#999; position:relative; z-index:10;}
#url-block .url-hover {background:#fff; color:#4d4d4d; border-bottom:solid 1px #fff;}
#url-block .url-block-con1 { float:left; width:96%; height:auto; overflow:hidden; border:solid 1px #bbb; background:#fff; padding:6px;}
#url-block .url-block-con2 { float:left; width:96%; height:auto; overflow:hidden; border:solid 1px #bbb; background:#fff; padding:6px; display:none;}
#url-block .url-block-con3 { float:left; width:96%; height:auto; overflow:hidden; border:solid 1px #bbb; background:#fff; padding:6px; display:none;}
#url-block .url-block-con3 textarea{ width:96%; height:auto; overflow:hidden; border:solid 1px #bbb; background:#fff; padding:6px; }
#url-block .url-block-choose { float:left; line-height:28px;}
#url-block #add-url-link_ { line-height:28px;}
.a-out {border-color: transparent #b8b8b8 transparent transparent;border-width: 12px 14px 12px 0;left: -13px;top:13px;}
.msg-arrow {border-style: dashed solid dashed dashed;font-size: 0;height: 0;width: 0;}
.a-in {border-color: transparent #f8f8f8 transparent transparent;border-width: 11px 13px 11px 0;left: -12px;top:14px;}
.msg-arrow {border-style: dashed solid dashed dashed;font-size: 0;height: 0;width: 0;}
.msg-btn {border-top: 1px solid #e6e6e6;padding: 12px 0 20px;}


.msg-url-choose { width:400px; height:400px; overflow:hidden; padding:20px;}
.msg-url-choose-nav { width:130px; height:350px;overflow-y: auto;overflow-x: hidden; float:left;background-color:#f1f1f1;}
.msg-url-choose-con { width:270px; height:350px;overflow-y: auto;overflow-x: hidden; margin-left:130px;background-color:#f3f3f3;}
.msg-url-choose-navlist {width:100%;}
.msg-url-choose-navlist li { width:100%;height:30px; overflow:hidden; float:left;}
.msg-url-choose-navlist .list1 { background-color:#f1f1f1;}
.msg-url-choose-navlist .list2 { background-color:#e6e6e6;}
.msg-url-choose-navlist span { width:16px; height:16px; display:block; float:left; margin:6px 0 6px 10px;}
.msg-url-choose-navlist1 {background: url('../Image/icon17.png') no-repeat 0 0;}
.msg-url-choose-navlist2 {background: url('../Image/icon17.png') no-repeat 0 -20px;}
.msg-url-choose-navlist3 {background: url('../Image/icon17.png') no-repeat 0 -41px;}
.msg-url-choose-navlist4 {background: url('../Image/icon17.png') no-repeat 0 -62px;}
.msg-url-choose-navlist5 {background: url('../Image/icon17.png') no-repeat 0 -84px;}
.msg-url-choose-navlist6 {background: url('../Image/icon17.png') no-repeat -21px 0;}
.msg-url-choose-navlist7 {background: url('../Image/icon17.png') no-repeat -21px -20px;}
.msg-url-choose-navlist8 {background: url('../Image/icon17.png') no-repeat -21px -41px;}
.msg-url-choose-navlist9 {background: url('../Image/icon17.png') no-repeat -21px -62px;}
.msg-url-choose-navlist10 {background: url('../Image/icon17.png') no-repeat -21px -84px;}
.msg-url-choose-navlist li a { width:100%;height:30px;overflow:hidden; line-height:30px; font-size:14px;color:#666; text-align:left; margin-left:10px;}
.msg-url-choose-navlist li:hover {background-color:#ddd;}
.msg-url-choose-navlist li:hover a {color:#666;}
.msg-url-choose-navlist .hover { background:#ccc}
.msg-url-choose-conlist { border-bottom:solid 1px #ddd; margin:10px 10px;}
.msg-url-choose-conlist li { line-height:25px; padding-left:20px;}
.msg-url-choose-conlist li span { margin-left:10px;}
.msg-url-choose-conlist .msg-url-choose-conlistdl {}

.msg-url-choose-update { clear:both; text-align:center; padding-top:20px;}
.msg-hover .msg-hover-mask {display: block;}
.msg-hover-mask {display: none;position: absolute;top: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.6) !important;filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr='#60000000', endColorstr='#60000000'); cursor:pointer;}
.msg-selected-tip {width: 100%;height: 100%;position: absolute;background: transparent url('../Image/selected-icon.png') no-repeat 50% 50%;cursor:pointer;}
.msg-selected .msg-mask {display: block;}
.msg-mask {display: block;position: absolute;top: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.6) !important;filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr='#60000000', endColorstr='#60000000'); cursor:pointer;}

.dialogBox .dialog .operation {
text-align: center;
padding: 20px;
}
.msg-choose-up {background-color: #F9F9F9;border-top: 1px solid #FFFFFF;padding:20px;text-align: center;
width:100%;position:fixed;left:0;bottom:0;z-index:1000;
}


.go_msg { font-size:13px; display:block; text-align:left}
.point_msg {}
.point_title { text-align:left; font-weight:bold; font-size:14px}
.point_con { text-align:left; font-size:13px}
.point_img { width:700px; padding-left:20px;}

.btn-all-del.btn-all-del-act { background:#ddd;}


/*微网站 选择颜色*/

.choose-color { width:100%; height:auto; overflow:hidden;}
.choose-color li { width:25px; height:25px; overflow:hidden; float:left; margin-left:5px;}
.choose-color .choose-color-val { width:19px; height:19px; border:solid 3px #f8f8f8; cursor:pointer;}
.choose-color .colorVal-1 { background:#f2b216;}
.choose-color .colorVal-2 { background:#592257;}
.choose-color .colorVal-3 { background:#545456;}
.choose-color .colorVal-4 { background:#52c7e8;}
.choose-color .colorVal-5 { background:#66ab26;}
.choose-color .colorVal-6 { background:#e44b58;}
.choose-color .colorVal-7 { background:#a05000;}
.choose-color .colorVal-8 { background:#1875d4;}
.choose-color .colorVal-9 { background:#fc5366;}
.choose-color .colorVal-10 { background:#ff8a4a;}
.choose-color .colorVal-11 { background:#ebb70c;}
.choose-color .colorVal-12 { background:#01cad4;}
.choose-color .colorVal-13 { background:#1bc266;}
.choose-color .colorVal-14 { background:#5dade2;}
.choose-color .colorVal-15 { background:#c0db36;}
.choose-color .colorVal-16 { background:#faca38;}
.choose-color .colorVal-17 { background:#ee72b1;}
.choose-color .colorVal-18 { background:#ffba31;}
.choose-color .colorVal-19 { background:#88c8ff;}
.choose-color .colorVal-20 { background:#87dad2;}
.choose-color .colorVal-21 { background:#ffa9b2;}
.choose-color .colorVal-22 { background:#f5976c;}
.choose-color .colorVal-23 { background:#c3de67;}
.choose-color .colorVal-24 { background:#62e2ff;}
.choose-color .colorVal-25 { background:#dac4ae;}
.choose-color .colorVal-26 { background:#cea0d7;}
.choose-color .choose-color-val.color-hover { border:solid 3px #b60000;}

.choose-icon { width:100%; height:auto; overflow:hidden;}
.choose-icon li { width:50px; height:50px; overflow:hidden; float:left; margin-left:5px; margin-bottom:3px; margin-top:2px;}
.choose-icon .choose-icon-val { width:44px; height:44px; border:solid 3px #f8f8f8; cursor:pointer;}
.choose-icon .choose-icon-val img{ width:44px; height:44px;}
.choose-icon .choose-icon-val.icon-hover { border:solid 3px #b60000;}