@charset "utf-8";
/* CSS Document */
/*
[目录表]
1- 首页 缩写ind
*/
.activities-list { height:auto; overflow:hidden; padding-bottom:30px; border-bottom: dashed 1px #565656; margin-bottom:30px;}

.activities-list-wrapper { padding:10px 0 20px 10px; position:relative;}
.activities-list-wrapper-state { width:40px; float:left;}
.activities-list-wrapper-state i { width:40px; height:30px; display:block; margin-top:3px;}
.icon-on {background:url(../Image/icon1.png) no-repeat 0 -500px;}
.activities-list-wrapper-con { width:590px; float:left;}
.activities-list-wrapper-con .activities-list-wrapper-title{ font-size:14px; line-height:30px; font-weight:bold; color:#404040;}
.activities-list-wrapper-con .activities-list-wrapper-meta { font-size:14px; line-height:30px; color:#404040;}
.activities-list-wrapper-con .activities-list-wrapper-meta span { color:#888;}
.activities-list-wrapper-con .activities-list-wrapper-data p { font-size:14px; line-height:30px; color:#404040; float:left;}
.activities-list-wrapper-con .activities-list-wrapper-data p span { color:#888;}
.activities-list-wrapper-opr { width:260px; float:right; position:absolute; right:0; top:10px; text-align:right;}
.activities-list-wrapper-opr p { float:left;font-size:14px; line-height:30px;}
.activities-list-wrapper-opr a { font-size:14px; color:#609fec; line-height:30px;}
.activities-list-opr { padding:10px 10px; background:#f7f7f7;}
.activities-list-opr ul { height:23px;}
.activities-list-opr li { width:20%; height:100%; float:left;}
.activities-list-opr li i { width:22px; height:22px;float:left; margin-right:6px;}
.activities-list-opr li span { line-height:23px;float:left; font-size:14px; color:#404040;}
.icon-down {background:url(../Image/icon1.png) no-repeat 0 -300px;}
.icon-edit {background:url(../Image/icon1.png) no-repeat 0 -350px;}
.icon-stop {background:url(../Image/icon1.png) no-repeat 0 -390px;}
.icon-begin {background:url(../Image/icon1.png) no-repeat 0 -510px;}
.icon-data {background:url(../Image/icon1.png) no-repeat 0 -430px;}
.icon-prize {background:url(../Image/icon1.png) no-repeat 0 -470px;}
.icon-qr {background:url(../Image/icon1.png) no-repeat 0 -550px;}
.icon-on {background:url(../Image/icon1.png) no-repeat 0 -600px;}
.icon-off {background:url(../Image/icon1.png) no-repeat 0 -650px;}
.icon-marketing {background:url(../Image/icon1.png) no-repeat -56px -650px;}
.activities-list-opr li a:hover .icon-down {background:url(../Image/icon1.png) no-repeat -40px -300px;}
.activities-list-opr li a:hover .icon-edit {background:url(../Image/icon1.png) no-repeat -40px -350px;}
.activities-list-opr li a:hover .icon-stop {background:url(../Image/icon1.png) no-repeat -40px -390px;}
.activities-list-opr li a:hover .icon-begin {background:url(../Image/icon1.png) no-repeat -40px -510px;}
.activities-list-opr li a:hover .icon-data {background:url(../Image/icon1.png) no-repeat -40px -430px;}
.activities-list-opr li a:hover .icon-prize {background:url(../Image/icon1.png) no-repeat -40px -470px;}
.activities-list-opr li a:hover .icon-qr {background:url(../Image/icon1.png) no-repeat -40px -550px;}
.icon-down:hover {background:url(../Image/icon1.png) no-repeat -40px -300px;}
.icon-edit:hover {background:url(../Image/icon1.png) no-repeat -40px -350px;}
.icon-stop:hover {background:url(../Image/icon1.png) no-repeat -40px -390px;}
.icon-begin:hover {background:url(../Image/icon1.png) no-repeat -40px -510px;}
.icon-data:hover {background:url(../Image/icon1.png) no-repeat -40px -430px;}
.icon-prize:hover {background:url(../Image/icon1.png) no-repeat -40px -470px;}
.icon-qr:hover {background:url(../Image/icon1.png) no-repeat -40px -550px;}

.dataBm { margin:20px 30px;}
.dataBm .dataBm-title { border-bottom: solid 1px #eee; padding-bottom:20px;}
.dataBm .dataBm-title p { padding:5px 0; font-size:14px; color:#444;}
.dataBm .dataBm-title p span { font-size:14px; color:#888;}
.dataBm .dataBm-title p .btn-dataBm {display: inline-block; *display:inline; *zoom:1; padding:5px 0 10px 0;width:120px;height:16px;line-height:16px;text-align: center;box-shadow: 1px 1px 1px rgba(0,0,0,0.1);margin-left:100px;border: solid 1px #ffd0d3;background: #fff2f3;color: #f15755;}
.dataBm .dataBm-title p .btn-dataBm i {position: relative; top:2px; margin-right:5px;display: inline-block; *display:inline; *zoom:1;width: 16px;height: 16px;background: url(../Image/icon-shop2.png) no-repeat -110px -60px;}
.dataBm .dataBm-con { padding-top:30px;}
.dataBm .dataBm-con .dataBmList { padding-top:10px; padding-bottom:20px; font-size:14px;}
.dataBm .dataBm-con .dataBmList p { padding-bottom:10px; line-height:20px; font-size:14px;}
.dataBm .dataBm-con h2 { color:#000; line-height:30px; font-size:18px;}

.dataBm .dataBm-result { height:28px;}
.dataBm .dataBm-result em { float:left;}
.dataBm .dataBm-result .dataBm-vote { float:left; margin:8px 20px 0 25px; width:500px; height:10px; overflow:visible; border-radius:5px; background:#d6d6d6;}
.dataBm .dataBm-result .dataBm-vote .dataBm-votenum { width:33%; height:10px; float:left; margin-right:2px; border-radius:5px; background: #ef8e92;}
/* 图文编辑 */
.picnodata{height:430px;width:100%;background:url(../Image/dlhdyx/dlhd_nodatabj.jpg) repeat-x}
.picnodata .pictxt_l{float:left;padding-left:5%;width:45%;overflow:hidden}
.picnodata .pictxt_r{float:right;padding-right:2%;width:45%;height:100%}
.picnodata .pictxt_r h1{font-size:32px;color:#f35353;padding:50px 0px 0px 5px}
.picnodata .pictxt_r h2{font-size:20px;padding-left:5px}
.picnodata .pictxt_r ul{width:100%}
.picnodata .pictxt_r ul li{height:25px;line-height:25px;padding:10px 10px 0px 2px;font-size:16px}
.picnodata  .pictxt_r ul li i{float:left;height:28px;width:25px;float:left;background:url(../Image/helper_ico.png) no-repeat left center;padding-right:2px}
.picnodata  .pictxt_r .reg{text-align:center;line-height:40px;color:#fff;font-size:16px;height:40px;position:absolute;top:74%;}
.proIntCase{width:1100px;} 
.proIntCase .proIntCaseCon{width:1100px;overflow:hidden} 
.proIntCase .case{margin-right:45px;}
.proIntCase .case:last-child{margin-right:0px;}