/*重写*/
.Gform .Ginput .Gtime1 em:before {  width: 20px;  height: 20px;  position: absolute;  top: 13px;  left: -31px;  background: url(../Image/icon-form.png) no-repeat -20px 1px;  content: "";}
.w100p{ width:100%;}
.pb90{ padding-bottom:90px;}
.w50p{ width:50%; margin:0px auto}
.w50p li.Gname{ display:block; width:100%; text-align:center}
.w50p li.Ginput{display:block; width:100%; text-align:center}
.icon_list{ clear:right; float: right; line-height:12px; color:#999999; overflow:hidden; padding-top:10px;}
.icon_list a{ color:#999999; font-size:12px; line-height:12px; height:12px;}
.shop-search{ border:2px #ebebeb solid}
.shop-search input[type=text],.shop-search select{ padding: 3px 6px 3px 6px; line-height:20px; border:1px #dfdfdf solid}
.shop-search input[type=text]:hover,.shop-search select:hover{border: 1px solid #33c1ea;}

.shop-search a.btn-all { width:55px; border: solid 1px #ffd0d3;background: #fff2f3;color: #f15755; position:absolute; right:84px;}
.shop-search i.icon_extend{ width:9px; height:7px; display:inline-block; float:right; margin:12px 0 0 4px; background:url(../Image/eTicket/icon_extend.png) no-repeat;}
.shop-search .active i.icon_extend{ width:9px; height:7px; display:inline-block; float:right; margin:12px 0 0 4px; background:url(../Image/eTicket/icon_extend.png) no-repeat;transform:rotate(180deg);}
.more-filter{ vertical-align:middle; line-height:30px; padding-right:13px; background:url(../Image/eTicket/icon_extend.png) right no-repeat; float:right}
.more-filter.active{ vertical-align:middle; line-height:30px; padding-right:13px; background:url(../Image/eTicket/icon_extend-active.png) right no-repeat;}
.Wcanal-tab .Wcanal-tab-list {  /*border-top: solid 2px #e5e5e5; */ border-top: solid 0px #e5e5e5;}
.shopBoxCon {  width: 340px;}
.shopBoxCon-bottom {  width: 100%;  height: auto; border-top: solid 0px #d1d1d1;}
.Uswitch{ float:right;}
.main-name {  text-align: left;  padding-bottom: 0px;}
.main-name h4{ line-height:1em; padding-bottom:15px; color:#000; font-size:18px;}
/*step1 基础信息*/
.member_con{ position:relative; width:1100px; margin:0 auto}
.member_con .member_steps{ border:1px #e3e3e3 solid; background:#f7f7f7; width:100%; box-sizing:border-box; padding:20px 120px;}

.member_con .member_steps ul:after{ clear:both; display:block; height:0; content:""}
.member_con .member_steps ul li{ color:#bbbbbb; font-size:18px; line-height:18px; width:25%; box-sizing:border-box; float:left; counter-increment:mycounter;text-align: center;}
.member_con .member_steps ul li:before{ content:counter(mycounter); background:url(../Image/member/icon_steps.png) -177px 0 no-repeat; width:25px; padding-right:6px; line-height:17px; text-align:center; display:inline-block; font-size:12px; color:#FFF; box-sizing:border-box; margin-right:8px;}
.member_con .member_steps ul li.current{ color:#333333;}
.member_con .member_steps ul li.current:before{ color:#FFF;background:url(../Image/member/icon_steps.png) 0 0 no-repeat;}

.member_con .member_steps ul li.past{color:#999999;}
.member_con .member_steps ul li.past:before{ color:#FFF;background:url(../Image/member/icon_steps.png) -82px 0 no-repeat;}

.member_l{ margin-top:30px; float:left}

#phone { position: absolute; z-index:3; left:0; padding-bottom:70px; width:342px;height:auto; overflow: hidden; border: solid 1px #ddd; border-radius: 15px;}
.shopBoxView_iphone { position:absolute; top:20px; right:0;}
#phone:after { position:absolute; bottom:15px; left:50%; margin-left:-20px; width:40px; height:40px; border-radius:50%; border:solid 2px #ddd; background:#fff; content:"";}
#phone .phonetop { width:100%; height:70px; overflow:hidden; position:relative;}
#phone .phonetop:after { position:absolute; left:50%; margin-left:-44px; top:50%; margin-top:-18px; width:80px; height:36px; background:url(../Image/icon-shop2.png) no-repeat -20px -20px; content:"";}
#phone .phonetitle { float:left; margin-left:11px; width:320px; height:64px; overflow:hidden; background:#22292c url(../Image/iphone_bg3.png) no-repeat center 0px; text-align:center; line-height:82px; cursor:pointer;}
#phone .phonetitle span { display:block; margin:0 70px; color:#fff; font-size:18px; text-align:center;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#phoneCon {width:320px; overflow:hidden; margin:0 0 0 10px; float:left;border:solid 1px #ddd; border-top:none; background:#f6f6f6 url(../Image/member/mb_top_bg1.png) no-repeat; background-size:100% auto; padding-top:33px;}
#phoneCon.activeTwoFestival { position:relative; background:none; background-position:center top; background-repeat:no-repeat; background-size:100% auto;}
#phoneCon.activeTwoFestival .Gshow-background { background:none; background-position:center top; background-repeat:no-repeat; background-size:100% auto;}
.activeTwoFestivalLogo { position:absolute; left:15px; top:15px; width:50px; height:50px; border-radius:50%; overflow:hidden;}
.activeTwoFestivalLogo img { float:left; width:100%; height:100%; border-radius:50%;}
.activeTwoFestivalname { position:absolute; left:15px; top:15px; margin: 0 70px;padding:15px 0;line-height: 20px;font-size:16px;color: #fff; text-align: center;}
.activeTwoFestivalbtn { position:absolute; top:450px; left:53px; width:180px; width:230px; height:60px; font-size:20px; line-height:50px; color:#fff; text-align:center;}
.activeTwoFestivalbtn2 { position:absolute; top:490px; left:50%; margin-left:-115px; width:230px; height:40px; font-size:20px; line-height:40px; color:#fff; text-align:center;}

.m-bind2{position: relative; margin:0 4.6875%; background-color:#f6f6f6; box-shadow:0 0 2px 2px #eee; padding-bottom:5px}
.m-bind .tip{padding-left:6.25%;margin-bottom:3.75%;margin-top:2%;font-size: 12px;color:#999;line-height: 1.5;text-align: left;}
.m-input{height:50px;padding-left:6.25%;border-top:1px solid #e5e5e5;border-bottom:0px solid #e5e5e5;background-color: #fff;line-height: 50px;text-align: left;font-size: 14px;}
.m-input:nth-last-of-type(1){border-bottom:1px solid #e5e5e5;}
.m-input .tit{float:left;width:35%;margin-right: 1%; font-size:14px; color:#000; text-align:left;}
.m-input .cont{float:left;width: 60%;vertical-align:middle;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.m-input .cont select{ outline:0; background-color:transparent; border:0;}
.m-input .s-line{width:100%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.m-input .s-line span{margin-left: 4%;color: #ff7666;}
.m-input .input{-webkit-appearance:none;width: 100%;height: 40px;font-size:14px;border: none;outline: none;}
.m-btn{display:block;margin:20px auto;width: 87.5%;background-color: #f75a63;color: #fff;font-size: 14px;height: 40px;line-height: 40px;text-align: center;border-radius: 5px;}
.m-input span input[type=radio]{ background:#ccc;-webkit-appearance: radio;}
.m-bind2 input[type=radio]{ position:absolute; left:-9999em;}
.m-bind2 .radios{bbackground-color:transparent; width:15px; height:15px; position: absolute;  top: 3px;  left: 0;  display: block;  outline: 0;  border-width: 0px; background:url(../Image/member/radio.gif) no-repeat; background-position:0 -2px;  border-radius:50%;}
.m-bind2 input[type=radio]:checked+i.radios {  border-color: #000; background-color:#808080; border-width: 0px; background:url(../Image/member/radio.gif) no-repeat; background-position:0 -21px;}


.member_hd_bottom{ background:#eeeeee url(../Image/member/con_btm.png) 20px center no-repeat; background-size:auto 35px; font-size:9px; color:#999999;padding:10px 0; padding-left:60px; }

.m-bind{position: relative;width:100%;background-color:#f6f6f6;}
.m-bind .tip{padding-left:6.25%;margin-bottom:3.75%;margin-top:2%;font-size: 12px;color:#999;line-height: 1.5;text-align: left;}
.m-input{height:50px;padding-left:6.25%;background-color: #fff;line-height: 50px;text-align: left;font-size: 14px;border-top:1px solid #e5e5e5;border-bottom:0px solid #e5e5e5;}
.m-input:nth-last-of-type(1){border-bottom:1px solid #e5e5e5;}
.m-input .tit{float:left;width:30%;margin-right: 1%; font-size:14px; color:#000; text-align:left;}
.m-input .cont{float:left;width: 69%;vertical-align:middle;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.m-input .s-line{width:100%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.m-input .s-line span{margin-left: 4%;color: #ff7666;}
.m-input .input{-webkit-appearance:none;width: 100%;height: 40px;font-size:14px;border: none;outline: none;}
.m-btn{display:block;margin:20px auto;width: 87.5%;background-color: #f75a63;color: #fff;font-size: 14px;height: 40px;line-height: 40px;text-align: center;border-radius: 5px;}
.m-input span input[type=radio]{ background:#ccc;-webkit-appearance: radio;}

.member_r{ position: relative; padding-left:30px; width:705px; box-sizing:content-box; float:left; padding-top:30px;}
.member_r h3{ font-size:14px; color:#333333; border-left:5px #ed3f41 solid; line-height:18px; margin-bottom:3px; padding-left:10px}
.member_r h3 i{}

.Gform.eTicket .Ginput .Gchoose{ width:277px;}
.Gform.eTicket .Ginput .switch .newRadio-input input[type=text]{ width:145px;}
.Gform .Ginput .switch .Gtime2 em:after{ left:146px;}

/*招募活动创建-step4 活动发布*/
.member_hd_title{ background:#fff8ef; color:#666666; padding:10px;  line-height:30px; display:block; text-align:center; font-size:18px; margin:30px auto}
.member_hd_title strong{ color:#2e7dc6;}
.member_hd_title.type2{ font-size:14px; color:#666666; margin:15px auto}
.member_hd_title span{ font-size:14px; padding-right:60px;}
.member_hd_title span strong{ color:#ed3f41}

.member_hd_title h5{ font-size:14px; font-weight:bold; color:#666666; line-height:24px; text-align:left}
.member_hd_title p{ font-size:14px; line-height:24px; text-align:left}

.member_hd_title a.orange_btn{ background:#ff8b03; color:#FFF; line-height:28px; padding:0 25px; display:inline-block; margin-left:57px;}
.member_con .steps{ line-height:50px; font-size:18px; position:relative; margin:15px 0;  border-left:5px #ed3f41 solid; background:#f4f4f4; padding-left:15px;}
.member_con .allready{ background:#ed3f41; color:#FFF; border-left:0; font-size:14px; line-height:30px; margin:30px 0 0;}
.member_con .allready+.channelList{ background:#f1f1f1; padding-top:15px;}
.member_con .steps:after{ clear:both; display:block; height:0; content:""}
.member_con .steps span{ font-size:14px; color:#999999; border-left:1px #b7b7b7 solid; margin:0 15px; padding:0 15px; height:18px; line-height:18px;}
.member_con .steps span strong{ font-size:14px; font-weight:normal; color:#ed3f41}
.member_con .steps label{ color:#666666; font-size:14px; vertical-align:middle; float:right; right:70px; position:relative}
.member_con .steps label input{ vertical-align:middle; margin-right:5px;}
.member_con .steps i{ position:absolute; right:30px; top:-21px}
.member_con .steps i.up{width:0;height:0;border-width:0 7px 7px;border-style:solid;border-color:transparent transparent #8c8985;margin:40px auto;}
.member_con .steps i.down{width:0;height:0;border-width:7px 7px 0;border-style:solid;border-color:#8c8985 transparent transparent;margin:40px auto;}
.member_con .steps span a{ color:#2e7dc6; text-decoration:none}
.channelList{font-size:14px; color:#666666; }
.channelList p.nodata{ padding:20px 0; text-align:center}
.channelList p.nodata a{ color:#ed3f41; text-decoration:underline}
.channelList:after{ clear:both; display:block; height:0; content:""}
.member_con .allready + .channelList{ background: #f1f1f1 none repeat scroll 0 0; padding-top: 15px;}
.channelList ul{padding:0;}
.channelList ul:after{ clear:both; display:block; content:""; height:0}
.channelList ul li{ display:inline-block; width:200px; float:left; padding:0px 0 15px 0; font-size:14px; line-height:1em; padding-left:20px; position:relative}
.channelList ul li label{width:200px;}
.channelList ul li input[type=checkbox]{ border-radius:0; background:none;}
.channelList ul li input{ vertical-align:middle; margin-right:5px; margin-bottom:2px;}
/*显示渠道全称*/
.moreinfo {
    background: #666666 none repeat scroll 0 0;
    border: 1px solid #666666;
    border-radius: 2px;
    color: #fff;
    display: none;
    padding: 10px;
    position: absolute;
    right: -120px;
    top: -8px;
    width: 140px;
    word-break: break-all;
    z-index: 999;
}
.moreinfo::before {
    border-bottom: 5px solid transparent;
    border-right: 5px solid #666666;
    border-top: 5px solid transparent;
    content: "";
    display: block;
    left: -3px;
    position: absolute;
    top: 10px;
}
.moreinfo::after {
    border-bottom: 5px solid transparent;
    border-right: 5px solid #666666;
    border-top: 5px solid transparent;
    content: "";
    display: inline-block;
    left: -5px;
    position: absolute;
    top: 10px;
}
.channelList ul li span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 80%;
}
/*招募活动创建-step5 发布成功*/
.results{ padding:45px;}
.results p{ font-size:18px; line-height:2em; text-align:center; padding:5px;}
.results p a{ margin-top:30px; margin-bottom:0px;}

a.btn-download{ color:#FFF}
a.btn_alldownload{width: auto;  border: solid 1px #f29a9b; line-height:28px; display:inline-block; padding:0 30px; margin:10px 0; background: #fff6eb;  color: #ed3f41; font-size:14px; font-weight:bold}

dl.download_list{width:100%; display:inline-block; background:#f1f1f1; margin:15px 0; padding:15px;}
dl.download_list dt{ float:left; width:30px; display:inline-block; margin-top:10px;}
dl.download_list dd{ float:left; width:145px; display:inline-block; font-size:14px; line-height:2em; text-align:left}
dl.download_list dd:last-child{ float:left; width:880px; display:inline-block; text-align:left; padding-top:35px;}
dl.download_list dd.last{ float:left; width:880px; display:inline-block; text-align:left; padding-top:35px;}
dl.download_list dd p{ line-height:28px;}
dl.download_list dd p a{ margin-top:10px; margin-bottom:10px;}

dl.download_list dd p.channalTitle{ color:#ed3f41; font-size:16px; line-height:38px; font-weight:bold}
dl.download_list dd p.channalView img{ margin-bottom:15px;}

/*活动创建*/
.shopBoxView{ background:url(../Image/member/mobile_bg_full.png) center center no-repeat; border:0; margin-left:0}

/*奖项设置*/
input[type=text].prizeErro { background:#f7f7f7;}
.redfont{ color:#ed1c24; font-size:14px;}

.award_setting{display:block; width:100%; position:relative}
.award_setting .shadow{ height:5px; background:#f9f9f9; display:block; width:100%; margin-top:-18px; margin-bottom:20px;}

.award_list{ width:100%; overflow:hidden;}
.award_list dl{margin:15px 0 15px;clear:both; display:block; width:103%;}
.award_list dl:after{ clear:both; display:block; content:""; height:0}
.award_list dl dt{background:#ededed; line-height:40px; padding:0 30px; color:#ed3f41; font-size:16px;}
.award_list dl dt span a{font-size:12px; color:#333333}
.award_list dl dd{background:#fff8ef; border:1px #f5aeaf solid; width:356px;height: 224px; float:left; padding:15px 15px 15px 0; margin:15px 15px 0 0; box-sizing:border-box}
.award_list dl dd p.adward_title{border-left:5px #ed3f41 solid; color:#ed3f41; padding-left:10px; font-size:16px; height:18px;}
.award_list dl dd p.adward_title strong { width:150px; float:left;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.award_list dl dd p.adward_title span{ float:left}
.award_list dl dd p.adward_title span a{font-size:12px; color:#333333;}
.award_list dl dd p.adward_title em { float:right; padding:0 8px; width:auto; height:18px; border-radius:2px; font-size:12px; border:solid 1px #60aff1; color:#60aff1}
.award_list dl dd p.adward_title em.type1 { border:solid 1px #60aff1; color:#60aff1}
.award_list dl dd p.adward_title em.type2 { border:solid 1px #ffa103; color:#ffa103}
.award_list dl dd p.adward_title em.type3 { border:solid 1px #ff8887; color:#ff8887}

.award_list dl dd.blank{float:left; width:356px; background:none; border:0; padding:0; margin:0}
.award_list dl dd.blank p.btn_area{background:#fff; border:1px #e6e6e6 solid;padding:0px 10px 0px 0; margin:15px 0px 0 0; text-align:center}
.award_list dl dd.blank p.btn_area a.addAward_btn{font-size:16px; line-height:70px; color:#ed3f41; font-weight:bold; text-align:center}
.award_list dl dd.blank p.btn_area a.addAward_btn i{font-style:normal; font-weight:normal}
.award_list dl dd.blank p.tips{font-size:12px; color:#999999; line-height:1.5em; padding:10px;}
a.btn_add_list{font-size:16px; line-height:38px; color:#ed3f41; background:#ededed; padding:0px; width:356px; font-weight:bold; text-align:center; display:inline-block; margin:30px 0 0;}
a.btn_add_list i{font-style:normal; font-weight:normal}
.Gform.eTicket .Ginput .Gtime1.special em.em2{ left:230px}

.mb1{ float:left; margin-right:20px; position:relative; padding:2px; background:#FFF; border:solid 1px #FFF;}
.mb1.current{ float:left; margin-right:20px; padding:2px; background:#FFF; border:solid 1px #ec8000; position:relative}
.mb1.current:after{position: absolute;right: 0;bottom: 0;width: 8px;height: 8px;background: #ff8a00 url(../Image/icon-form.png) no-repeat 1px 2px;content: "";}

.add_set_bg { width:101px; height:50px; float:left;background:url(../Image/wapimg/appmsg-icon.png) no-repeat 50% 6px;vertical-align: middle; overflow:hidden; border:solid 1px #ddd; position:relative;}
.add_set_bg:hover {background:url(../Image/wapimg/appmsg-icon.png) no-repeat 50% -100px;}
.add_set_bg>input { width:100px; height:52px; float:left; position:absolute; opacity:0;filter:alpha(opacity=0); left:-10px; top:0; cursor:pointer;}

/*渠道发布下拉菜单*/
.wrapper-dropdown-2 {
	position: absolute;
	top:10px;
	right:10px;
	font-size:14px;
	color:#333;
	width: 120px;
	padding-left: 10px;
	line-height:26px;
	float:right;
	background-color:transparent;
	border: 1px solid #c3c3c3;
	cursor: pointer;
	outline: none;
}

.wrapper-dropdown-2:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -3px;
	border-width: 6px 6px 0 6px;
	border-style: solid;
	border-color: grey transparent;
}

.wrapper-dropdown-2 .dropdown {
  /* Size & position */
	position: absolute;
	top: 100%;
	left: -1px;
	right: -1px;

	/* Styles */
	background: white;
	border: 1px solid #c3c3c3;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	list-style: none;

	/* Hiding */
	opacity: 0;
	pointer-events: none;
}

.wrapper-dropdown-2 .dropdown li a {
	display: block;
	text-decoration: none;
	color: #333;
	padding:5px 10px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.wrapper-dropdown-2 .dropdown li:nth-child(1) a { 
}

.wrapper-dropdown-2 .dropdown li:nth-child(2) a {
}

.wrapper-dropdown-2 .dropdown li:nth-child(3) a {
}

.wrapper-dropdown-2 .dropdown li i {
	margin-right: 5px;
	color: inherit;
	vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-2 .dropdown li:hover a {
	color: grey;
	background:#eee;
}

/* Active state */
.wrapper-dropdown-2.active
{
	background:#e4e4e4;
}
.wrapper-dropdown-2.active:after {
	border-width: 0 6px 6px 6px;
}

.wrapper-dropdown-2.active .dropdown {
	opacity: 1;
	pointer-events: auto;
	background-color: #FFF;
	z-index: 999;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-2 .dropdown,
.no-pointerevents .wrapper-dropdown-2 .dropdown {
	display: none;
	opacity: 1; /* If opacity support but no pointer-events support */
	pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity .wrapper-dropdown-2.active .dropdown,
.no-pointerevents .wrapper-dropdown-2.active .dropdown {
	display: block;
}
/*小弹框*/
.js_popwin{ position: fixed; width:100%; height:100%; top:0; display:none; z-index:9999;background:rgba(0, 0, 0, 0.8)!important;filter:Alpha(opacity=80);}
.js_popwin div{ position:relative; color:#666}
.inner_bx{ background:#FFF; border-radius:5px; width:50%; height:50%; display:block; margin:10% auto; position:relative;}
.closebtn{ font-style:normal; position:absolute; top:0px; right:10px; cursor:pointer; font-size:30px; line-height:30px; display:block; padding:10px; z-index:500}
.hd_title{ color:#666; background:#f0f0f0; display:block;padding:20px;border-radius:5px; border-bottom-right-radius:0; border-bottom-left-radius:0; font-size:16px;}
.hd_content{ color:#666; font-size:14px; padding:20px; line-height:24px;}
.hd_content p.wormtip {
  margin: 10px 80px;
  padding: 10px 0;
  display: block;
  float: left;
  width: 80%;
  font-size: 14px;
  color:#999;
  line-height:22px;
  background: url(../Image/eTicket/tip_icon_gray.png) 12px 10px no-repeat;
  padding-left: 40px;
}
.tipWord{ color:#F30; font-size:14px;}

#phone{ position:relative}


.member_con .member_steps ul li:hover::before{  background: url(../Image/member/icon_steps.png) 0px 0 no-repeat;}
.member_con .member_steps ul li a{ color:#bbb}
.member_con .member_steps ul li a:hover{ color:#333; text-decoration:none}
.member_con .member_steps ul li.current a{ color:#333}

/*.Gform ul.last .Ginput{ padding-bottom:30px;}*/
.Gform ul.last .Gname{ bottom:0px;}
.Gform .Gname span{ color:#ed3f41;}

.Gform .Ginput.pt0{ padding-top:0}

/*发布成功*/
h3.Gtitle{ font-size:14px; border-left:5px #ed3f41 solid; line-height:18px; padding-left:15px; margin-bottom:10px;}
.blue{  width: 100%;  border-collapse: collapse;  font: normal 14px/2em "microsoft yahei";  border: 1px solid #cae3f4;}
.blue tr{ border-bottom: 1px solid #cae3f4;}
.blue th{height: 38px;  text-align: center;  background-color: #f5fbff; color: #666; border-bottom:0;  font-size: 14px; line-height: 38px;}
.blue td{padding:5px 10px;  border-collapse: collapse;  vertical-align: middle;  text-align: center;  height: auto;  border: solid 0px #e1e1e1;}
.hdDetail{ text-align:center;}
.hdDetail.first{ display:inline-table; text-align:left; float:left}
.hdDetail.first .hdAdditional{ width:185px;}
.hdDetail:after{ clear:both; content:""; height:0; display:block}
.hdImage{ float:left; width:70px; display:inline-block; padding:10px;}
.hdName{ float:left; padding:10px; width:200px; font-size:14px;}
.hdName span{ display:block; text-align:left; line-height:24px}
.hdAdditional{ float:left;  padding:10px; width:100%;}
.hdAdditional.now100{ float:left;  padding:10px; width: auto; color:#999999;}
.hdAdditional span{ display:block; text-align:center; line-height:24px;}
.hdAdditional span a{  padding:10px;/* width:180px;*/ color:#999999;}
.hdAdditional span a:hover{ color:#ed3f41;}
.money{ display:block; text-align:right; line-height:34px; padding:10px 0; font-size:14px;}
.money span{}
.money span.payAcount{ width:160px; margin-left:6px; display:inline-block;color: #ed3f41;  font-size: 24px;  font-weight: 400;}

.moneyPay{ display:block; text-align:right; line-height:32px;}
.btn_blue{ background:#ed3f41; border:1px #ed3f41 solid; margin-top:0; margin-bottom:0; margin-right:0;}
.btn_blue:hover{ background:#ff6d6f; border:1px #ff6d6f solid;}
.btn_blue:active{ background:#c82324; border:1px #c82324 solid;}
i.quest{ background:url(../Image/ask.png) center center no-repeat;width:18px; height:18px; display: inline-block; border-radius:18px;vertical-align:middle; margin-right:5px; margin-left:8px; padding-bottom:20px; position:relative}
.explain{ position:absolute; border:1px #efefef solid; border-radius:3px; padding:5px; z-index:9999; box-shadow:0 2px 2px rgba(0,0,0,0.3); background:#FFF; display:none; width:400px; height: auto; word-break: break-all}
i.quest:hover{ cursor:pointer}
i.quest:hover .explain{ display:block; left:-20px; top:30px; font-style:normal}

/*checkbox*/
.frm_radio, .frm_checkbox {  position: absolute;  left: -999em;}
.frm_radio_label, .frm_checkbox_label {  display: inline-block; float:none;  text-align: left;  cursor: pointer;  margin-right: 15px; font-size:14px; color:#666}
.icon_radio, .icon_checkbox {  margin-right: 3px;  margin-top: -2px;}
.icon_checkbox{background:url(../Image/weixin2/page_login_z20f7ac.png) 0 -55px no-repeat;width:16px;height:18px;vertical-align:middle;display: inline-block;}
.selected .icon_checkbox {  background: url(../Image/weixin2/page_login_z20f7ac.png) 0-81px no-repeat;}

#content{}
.newRule{ padding:0px; display:block; width:100%; box-sizing:border-box}
.tips{ font-size:16px; text-align:center; width:80%; margin:0 auto}
.btn-group{ margin-top:45px; margin-bottom:90px;}

.disable{ background:#ccc; border:1px #ccc solid; color:#FFF;}
.disable:hover{ background:#ccc; border:1px #ccc solid; color:#FFF; box-shadow:none;}

.PayStatus{ display:block; width:100%}
.PayStatus dt{ font-size:14px; line-height:1.5em;}
.PayStatus dt span{ text-align:left; display:block; font-size:14px; line-height:24px;}
.PayStatus dd{ font-size:14px; line-height:1.5em;}
.PayStatus dd a{ min-width:80px; font-weight:normal}
.PayStatus dd span{}
.aui_main{ text-align:left}

/*页面选项卡*/
.Wcanal-tab .Wcanal-tab-list { margin-bottom:-10px; margin-top:2px}
.Wcanal-tab .Wcanal-tab-title p{ margin-left:0; border:0px #dfdfdf solid; border-left:0; font-size:16px; height:38px; line-height:38px; padding:0; color:#666; background:#f2f2f2;}
.Wcanal-tab .Wcanal-tab-title p a{ line-height:38px; font-family:"microsoft yahei"; font-size:14px; padding:0 15px; text-align:center; text-decoration:none}
.Wcanal-tab .Wcanal-tab-title p a:hover{line-height:38px; font-family:"microsoft yahei"; font-size:14px; padding:0 15px; text-align:center; text-decoration:none; background:#f7f7f7}
.Wcanal-tab .Wcanal-tab-title .Wcanal-tab-hover{ border:0; border:1px #e1e1e1 solid; border-top:2px #e1e1e1 solid; border-bottom:0; background:#fff; position:relative; margin-bottom:-2px;}
.Wcanal-tab .Wcanal-tab-title .Wcanal-tab-hover a { color:#666; font-weight:500;float: left; border-top:2px #757982 solid; margin-top:-2px;}
.redfont{ color:#ed1c24; font-size:14px;}
.Wcanal-tab .Wcanal-tab-title .Wcanal-tab-hover a:hover { background:#FFF; font-weight:500;float: left; border-top:2px #757982 solid; margin-top:-2px;}
.redfont{ color:#ed1c24; font-size:14px;}

.Wcanal-tab .Wcanal-tab-title{ border:0px #e3e3e3 solid; border-bottom:1px #e1e1e1 solid}

a{ color:#2e7dc6}
.Gform .Ginput .txtTips{ color:#999;display: block;  line-height: 16px;  padding: 6px 0 4px;  font-size: 12px; font-family: "宋体";}
/*.Gform .Ginput:hover .txtTips{ color:#999}*/
.mr290{ margin-right:290px;}
.ml220{ margin-left:220px;}
.mb30{ margin-bottom:30px;}
.main{ position:relative}
.main_container{ width:1100px; margin:30px auto 0; position:relative}
.main_container .main-left{ float:left}

.activeList { padding:15px 0; border-bottom:dashed 1px #ddd; position:relative}
.activeList.last { padding:15px 0; border-bottom:dashed 0px #ddd;}
.activeList .activeList-icon { position:relative; float:left; width:83px; height:83px; overflow:hidden; border:solid 1px #ddd;}
.activeList .activeList-icon i { float:left; margin:10px; width:64px; height:64px; background-image: url(../Image/icon-index.png?v=1);}
.activeList .activeList-icon .qr { position:absolute; opacity:0; top:50%; margin-top:0px; left:50%; margin-left:0px; width:0px; height:0px;transition:all 0.2s linear;}
.activeList:hover .activeList-icon .qr { top:0; margin-top:-1px; margin-left:-1px; left:0;  width:83px; height:83px; opacity:1;}
.activeList:hover .activeList-icon { overflow:visible;}
.activeList .activeList-icon .qr img { width:85px; height:85px; background:#FFF; padding:2px; border:1px #ddd solid; box-sizing:border-box}
.activeList .activeList-con { float:left; width:630px; margin-left:15px;}
.activeList .activeList-con .title { font-size:18px; color:#333; line-height:24px; padding-bottom:10px;}
.activeList .activeList-con .title span{ background:#ed3f41; font-size:12px; border-radius:3px; color:#FFF; padding:2px 5px; font-weight:bold; position:relative; margin-left:10px;}
.activeList .activeList-con .title span i{top: 6px;  left: -12px;  border: solid transparent; height: 0px;  width: 0px; display:inline-block;  position: absolute;  pointer-events: none;  border-color: rgba(255, 255, 255, 0);  border-right-color: #ed3f41;  border-width: 4px;  margin-left: 4px;}
.activeList .activeList-con .text { height:50px; overflow:hidden; font-size:14px; color:#666; line-height:24px;}
.activeList .activeList-opr { position: absolute; right:0; margin-left:30px; display:inline-block; vertical-align:middle; height:84px; line-height:84px;}
.activeList .activeList-opr .opr_box{ display:block; vertical-align:middle; padding-top:5px;}
.activeList .activeList-opr .btn-all{ margin-top:0; margin-bottom:15px;}
.activeList .activeList-opr .btn-all-del{ border:0; background:#FFF;}
/*热门营销场景*/
/*不同背景色*/
.list-wrapper .hot-part1{background-position:-64px -320px;}
.list-wrapper .hot-part1:hover{background-position:-64px -384px;}
.list-wrapper .hot-part2{background-position:-128px -320px;}
.list-wrapper .hot-part2:hover{background-position:-128px -384px;}
.list-wrapper .hot-part3{background-position:-192px -320px;}
.list-wrapper .hot-part3:hover{background-position:-192px -384px;}
.list-wrapper .hot-part4{background-position:-256px -320px;}
.list-wrapper .hot-part4:hover{background-position:-256px -384px;}
/*各个功能的图标*/
.hot-part-i1{background-position:0 0;}/*抽奖*/
.hot-part-i2{background-position:-64px 0;}/*市场调研*/
.hot-part-i3{background-position:-128px 0;}/*有奖答题*/
.hot-part-i4{background-position:-192px 0;}/*投票*/
.hot-part-i5{background-position:-256px 0;}/*优惠券*/
.hot-part-i6{background-position:-320px 0;}/*爱拼*/
.hot-part-i7{background-position:-384px 0;}/*礼品派发*/
.hot-part-i8{background-position:-448px 0;}/*列表模板*/
.hot-part-i9{background-position:-512px 0;}/*电子海报*/
.hot-part-i10{background-position:-576px 0;}/*打炮*/
.hot-part-i11{background-position:-640px 0;}/*圣诞*/
.hot-part-i12{background-position:-704px 0;}/*中秋*/
.hot-part-i13{background-position:-768px 0;}/*七夕*/
.hot-part-i14{background-position:-832px 0;}/*母亲*/
.hot-part-i15{background-position:-896px 0;}/*真假大冒险*/
.hot-part-i16{background-position:-960px 0;}/*38*/
.hot-part-i17{background-position:-1024px 0;}/*天生一对*/
.hot-part-i18{background-position:-1088px 0;}/*马上有红包*/
.hot-part-i19{background-position:-1152px 0;}/*世界杯*/
.hot-part-i20{background-position:-1216px 0;}/*旺小店*/
.hot-part-i21{background-position:-1280px 0;}/*全名营销*/
.hot-part-i22{background-position:-1344px 0;}/**/
.hot-part-i23{background-position:-1408px 0;}/*扫码支付*/
.hot-part-i24{background-position:0 -64px;}/*微官网*/
.hot-part-i25{background-position:-64px -64px;}/*图文编辑*/
.hot-part-i26{background-position:-128px -64px;}/*门店导航*/
.hot-part-i27{background-position:-192px -64px;}/*O2O案例*/
.hot-part-i28{background-position:-256px -64px;}/*炫码*/
.hot-part-i29{background-position:-320px -64px;}/*卡券交易及推广*/
.hot-part-i30{background-position:-384px -64px;}/*卡券*/
.hot-part-i31{background-position:-448px -64px;}/*粉丝管理*/
.hot-part-i32{background-position:-512px -64px;}/*数据分析*/
.hot-part-i33{background-position:-576px -64px;}/*门店管理*/
.hot-part-i34{background-position:-640px -64px;} /*谁是大腕*/
.hot-part-i35{background-position:-704px -64px;}/*二维码标签渠道*/ 
.hot-part-i36{background-position:-768px -64px;}/*微信助手*/ 
.hot-part-i37{background-position:-832px -64px;}/*条码支付*/ 
.hot-part-i38{background-position:-896px -64px;}/*新浪微博*/ 
.hot-part-i39{background-position:-960px -64px;}/*百度直达*/
.hot-part-i40{background-position:-1024px -64px;}/*京东团购*/
.hot-part-i41{background-position:-1088px -64px;}/*12580*/
.hot-part-i42{background-position:-1152px -64px;}/*卡券交易大厅*/
.hot-part-i43{background-position:-1216px -64px;}/*劳动最光荣*/
.hot-part-i44{background-position:-1280px -64px;}/*常见营销*/
.hot-part-i45{background-position:-1344px -64px;}/*节日营销*/
.hot-part-i46{background-position:-1408px -64px;}/*码上买*/
.hot-part-i47{background-position:-1472px -64px;}/*闪购*/
.hot-part-i48{background-position:-1472px 0;}/*我的全民营销*/
.hot-part-i49{background-position:-1536px 0;}/*佣金发放*/
.hot-part-i50{background-position:-1600px 0;}/*数据统计*/
.hot-part-i51{background-position:-1536px -64px;}/*母亲节2015*/
.hot-part-i52{background-position:-1600px -64px;}/*谁是大腕*/
.hot-part-i53{background-position:-1662px -64px;}/*端午节*/


/*各个功能的图标-黄色*/
.hot-part-i1.nude{background-position:0 -128px;}/*抽奖*/
.hot-part-i2.nude{background-position:-64px -128px;}/*市场调研*/
.hot-part-i3.nude{background-position:-128px -128px;}/*有奖答题*/
.hot-part-i4.nude{background-position:-192px -128px;}/*投票*/
.hot-part-i5.nude{background-position:-256px -128px;}/*优惠券*/
.hot-part-i6.nude{background-position:-320px -128px;}/*爱拼*/
.hot-part-i7.nude{background-position:-384px -128px;}/*礼品派发*/
.hot-part-i8.nude{background-position:-448px -128px;}/*列表模板*/
.hot-part-i9.nude{background-position:-512px -128px;}/*电子海报*/
.hot-part-i10.nude{background-position:-576px -128px;}/*打炮*/
.hot-part-i11.nude{background-position:-640px -128px;}/*圣诞*/
.hot-part-i12.nude{background-position:-704px -128px;}/*中秋*/
.hot-part-i13.nude{background-position:-768px -128px;}/*七夕*/
.hot-part-i14.nude{background-position:-832px -128px;}/*母亲*/
.hot-part-i15.nude{background-position:-896px -128px;}/*真假大冒险*/
.hot-part-i16.nude{background-position:-960px -128px;}/*38*/
.hot-part-i17.nude{background-position:-1024px -128px;}/*天生一对*/
.hot-part-i18.nude{background-position:-1088px -128px;}/*马上有红包*/
.hot-part-i19.nude{background-position:-1152px -128px;}/*世界杯*/
.hot-part-i20.nude{background-position:-1216px -128px;}/*旺小店*/
.hot-part-i21.nude{background-position:-1280px -128px;}/*全名营销*/
.hot-part-i22.nude{background-position:-1344px -128px;}/**/
.hot-part-i23.nude{background-position:-1408px -128px;}/*扫码支付*/
.hot-part-i24.nude{background-position:0 -192px;}/*微官网*/
.hot-part-i25.nude{background-position:-64px -192px;}/*图文编辑*/
.hot-part-i26.nude{background-position:-128px -192px;}/*门店导航*/
.hot-part-i27.nude{background-position:-192px -192px;}/*O2O案例*/
.hot-part-i28.nude{background-position:-256px -192px;}/*炫码*/
.hot-part-i29.nude{background-position:-320px -192px;}/*卡券交易及推广*/
.hot-part-i30.nude{background-position:-384px -192px;}/*卡券*/
.hot-part-i31.nude{background-position:-448px -192px;}/*粉丝管理*/
.hot-part-i32.nude{background-position:-512px -192px;}/*数据分析*/
.hot-part-i33.nude{background-position:-576px -192px;}/*门店管理*/
.hot-part-i34.nude{background-position:-640px -192px;}/*二维码标签渠道*/ 
.hot-part-i36.nude{background-position:-768px -192px;}/*微信助手*/ 
.hot-part-i37.nude{background-position:-832px -192px;}/*条码支付*/ 
.hot-part-i38.nude{background-position:-896px -192px;}/*新浪微博*/ 
.hot-part-i39.nude{background-position:-960px -192px;}/*百度直达*/
.hot-part-i40.nude{background-position:-1024px -192px;}/*京东团购*/
.hot-part-i41.nude{background-position:-1088px -128px;}/*12580*/
.hot-part-i42.nude{background-position:-1152px -192px;}/*卡券交易大厅*/
.hot-part-i43.nude{background-position:-1216px -192px;}/*劳动最光荣*/
.hot-part-i44.nude{background-position:-1280px -192px;}/*常见营销*/
.hot-part-i45.nude{background-position:-1344px -192px;}/*节日营销*/
.hot-part-i46.nude{background-position:-1408px -192px;}/*码上买*/
.hot-part-i47.nude{background-position:-1472px -192px;}/*闪购*/
.hot-part-i48.nude{background-position:-1472px -128px;}/*我的全民营销*/
.hot-part-i49.nude{background-position:-1536px -128px;}/*佣金发放*/
.hot-part-i50.nude{background-position:-1600px -128px;}/*数据统计*/
.hot-part-i51.nude{background-position:-1536px -192px;}/*母亲节2015*/

.normal-icon1{background-position:0 -128px}
.normal-icon2{background-position:-64px -128px}
.normal-icon3{background-position:-128px -128px}
.normal-icon4{background-position:-192px -128px}
.normal-icon5{background-position:-256px -128px}
.normal-icon6{background-position:-320px -128px}
.normal-icon7{background-position:-384px -128px}
.normal-icon8{background-position:-448px -128px}
.normal-icon9{background-position:-512px -128px}
.normal-icon10{background-position:-576px -128px}
.normal-icon11{background-position:-640px -128px}
.normal-icon12{background-position:-704px -128px}
.normal-icon13{background-position:-768px -128px}/*谁是大腕*/
.normal-icon14{background-position:-832px -128px}
.normal-icon15{background-position:-896px -128px}
.normal-icon16{background-position:-960px -128px}
.normal-icon17{background-position:-1024px -128px}
.normal-icon18{background-position:-1088px -128px}
.normal-icon19{background-position:-1152px -128px}
.normal-icon20{background-position:-1216px -128px}
.normal-icon21{background-position:-1280px -128px}
.normal-icon22{background-position:-1344px -128px}
.normal-icon23{background-position:-1408px -128px}
.normal-icon24{background-position:0 -192px;}
.normal-icon25{background-position:-64px -192px;}
.normal-icon26{background-position:-128px -192px;}
.normal-icon27{background-position:-192px -192px;}
.normal-icon28{background-position:-256px -192px;}
.normal-icon29{background-position:-320px -192px;}/*卡券交易及推广*/
.normal-icon30{background-position:-384px -192px;}
.normal-icon31{background-position:-448px -192px;}
.normal-icon32{background-position:-512px -192px;}
.normal-icon33{background-position:-576px -192px;}
.normal-icon34{background-position:-640px -192px;}
.normal-icon35{background-position:-704px -192px;}
.normal-icon36{background-position:-768px -192px;}
.normal-icon37{background-position:-832px -192px;}
.normal-icon38{background-position:-896px -192px;}
.normal-icon39{background-position:-960px -192px;}
.normal-icon40{background-position:-1024px -192px;}/*京东团购*/
.normal-icon41{background-position:-1088px -192px;}/*卡券交易大厅*/
.normal-icon42{background-position:-1152px -192px;}
.normal-icon43{background-position:-1216px -192px;}
.normal-icon44{background-position:-1280px 192px;}
.normal-icon45{background-position:-1344px -192px;}
.normal-icon46{background-position:-1408px -192px;}
/*一般营销场景*/


.adShow{ padding:15px; padding-right:0; padding-bottom:0; display:block; width:100%; box-sizing:border-box}
.adShow:after{ clear:both; display:block; content:""; height:0}
.adShow .adShow_l{ float:left; width:135px; height: 84px; overflow:hidden; background-size:contain; border:solid 1px #f5aeaf; background-position: center center; background-repeat: no-repeat;}
.adShow .adShow_l img{ width:135px; height:100px;}
.adShow .adShow_r{ float:left; padding:0px 0 0px 15px; display:block; width:172px; height:100px;}

.adShow .adShow_r span.Astatic{display:block; font-size:12px; color:#333333; border:1px #f8c78e dashed; line-height:35px; display:block; text-align:center; padding:0 10px; margin-bottom:10px; vertical-align:middle}
.adShow .adShow_r span.Astatic em{border:0; font-size:18px; line-height:32px; color:#ed3f41}
.tip{ font-size:12px; color:#999999; /*font-family:"宋体";*/ line-height:18px; padding:4px 0;}
/*.tip a{ color:#ed3f41;}*/
.award_list dl dd p.AstaticDate {font-size:12px; color:#999999; text-align:left;}
.award_list dl dd p.AstaticDate span { display:inline-block; *display:inline; *zoom:1; height:20px; line-height:20px; vertical-align: middle;}
.award_list dl dd p.AstaticDate i { display:inline-block; *display:inline; *zoom:1; width:20px; height:20px; margin-right:5px; vertical-align: middle;}
.award_list dl dd p.AstaticDate i.icon-eticket1 { background:url(../Image/icon-eticket.png) no-repeat 0 0;}
.award_list dl dd p.AstaticDate i.icon-eticket2 { background:url(../Image/icon-eticket.png) no-repeat 0 -20px;}
.award_list dl dd p.AstaticDate i.icon-eticket3 { background:url(../Image/icon-eticket.png) no-repeat 0 -40px;}
.award_list dl dd p.AstaticDate i.icon-eticket4 { background:url(../Image/icon-eticket.png) no-repeat 0 -60px;}

.blue td.toPay,.blue td.toPay input{ color:#ed3f41}


/*表格*/
.shopTable {width:100%;border-collapse:separate;table-layout: auto; font-size:14px;}
.shopTable th { border-top:solid 1px #e3e2e2; border-bottom:solid 1px #e3e2e2; background:#f7f7f7; text-align:center; line-height:38px; font-size:14px;}
.shopTable th.first { border-left:solid 1px #e3e2e2; }
.shopTable th.last { border-right:solid 1px #e3e2e2; }
.shopTable td { text-align:center; border:solid 1px #e3e3e3; line-height:22px; border-top:none; border-right:none; *border-left:none; padding: 8px 10px; box-sizing:border-box}
.shopTable tr { position:relative;}
.shopTable tr.th { z-index:10;}
.shopTable td.title { padding-left:10px; vertical-align: middle; line-height:38px;border:solid 1px #e3e3e3;border-bottom:none; background:#f7f7f7; margin-top:20px; text-align:left; position: relative; top:10px; z-index:3;}
.shopTable td.title a { color:#999;}
.shopTable tr.info td { padding:30px 0 20px 0;}
.shopTable td.last { border-right:solid 1px #e3e2e2;}
.shopTable td.first { border-left:solid 1px #e3e2e2;}
.shopTable td.first img { border:solid 1px #c6c6c6;}
.shopTable .icon-orderdown,.shopTable .icon-orderup { display:inline-block;*display:inline;*zoom:1; margin-left:5px;width:9px;height:5px;vertical-align:middle;cursor:pointer; position:relative; top:-1px;}
.shopTable .icon-orderdown { background: url(../Image/icon-shop.png) no-repeat 0 -500px;}
.shopTable .icon-orderup { background: url(../Image/icon-shop.png) no-repeat -50px -500px;}
.shopTable .hover td { border:solid 1px #aab8da;}
.shopTable .hover td {border:solid 1px #aab8da; border-top:none; border-right:none; *border-left:none; }
.shopTable .hover td.title { border:solid 1px #aab8da;border-bottom:none; background:#d8deeb; }
.shopTable .hover td.last { border-right:solid 1px #aab8da;}
.shopTable .hover td.first { border-left:solid 1px #aab8da;}
.shopTable .icon-on,
.shopTable .icon-off,
.shopTable .icon-marketing { display:inline-block;*display:inline;*zoom:1;width:30px; height:30px;}
.shopTable .icon-on {background:url(../Image/icon1.png) no-repeat 0 -600px;}
.shopTable .icon-off {background:url(../Image/icon1.png) no-repeat 0 -650px;}
.shopTable .icon-marketing {background:url(../Image/icon1.png) no-repeat -56px -650px;}

.viewData h5{ font-size:14px; padding:15px 0;}
.activeList .activeList-opr a{ display:block}
.activeList .activeList-opr .btn-all{ margin-bottom:10px; width:80px; min-width:80px; padding:0 15px; font-weight:400; box-sizing:content-box}
.activeList .activeList-opr .btn-all-del{ color:#2e7dc6; font-weight:400; padding:0; width:115px; height:14px; box-sizing:border-box; line-height:1em; margin-bottom:0;}
.activeList .activeList-opr .btn-all-del:hover{ color:#ed3f41; background:none; box-shadow:none}
.payTip{ color:#ed3f41; font-family:"宋体"; font-size:12px; line-height:12px; text-align:center; padding:0px 0 10px 0; /*position:absolute; top:-20px;*/}

/*分页*/
.go-history {margin-top:-50px; float:right;cursor: pointer;display:inline-block;*display:inline;*zoom:1;text-align: right;text-decoration: none !important;color:#e73323;background: url(../Image/preview-del.png) no-repeat 0 -130px; text-indent:20px;}


.pageBase-sm { width:auto; margin:0 auto; height:auto; overflow:visible; text-align:center;}
.pageBase-sm .pageul { height:29px; margin:0 auto; overflow: visible; font-size:0;}
.pageBase-sm .pageul.pagesize {}
.pageBase-sm .pageul>li { display:inline-block; *display:inline; *zoom:1;}
.pageBase-sm .pageul>li>a{ display:block; width:auto; padding:0 12px; height:27px; line-height:27px; border:solid 1px #ddd; border-left:none; float:left; text-align:center; color:#cf2b1f; font-family:"microsoft yahei"; font-size:13px;}
.pageBase-sm .pageul>li>a:hover{color:#b2180d; background:#eee;}
.pageBase-sm .pageul .page-first {border:solid 1px #ddd;-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;}
.pageBase-sm .pageul .page-last {-moz-border-radius:0 4px 4px 0;-webkit-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0;border-left:solid 1px #ddd;}
.pageBase-sm .pageul .page-disabled {cursor:not-allowed;}
.pageBase-sm .pageul .page-hover {color:#fff; background:#cf2b1f;cursor:auto;border:solid 1px #cf2b1f;}
.pageBase-sm .pageul .page-hover:hover {color:#fff; background:#cf2b1f;cursor:default;border:solid 1px #cf2b1f;}

/*活动列表*/
.act_list{ border:1px #e8e8e8 solid; margin-top:15px;}

.act_list .act_status{ padding:15px;}
.act_list .act_status:after{ clear: both; display:block; height:0; content:""}
.act_list .act_status .act_status_l{ float:left;}
.act_list .act_status .act_status_l .statusIcon{ float:left; width:30px;}
.act_list .act_status .act_status_l .statusIcon i{ width: 25px;  height: 25px;  display: block;  background-image: url(../Image/icon1.png);}
.act_list .act_status .act_status_l .statusIcon .on{ background-position: 0 -600px;}
.act_list .act_status .act_status_l .statusIcon .off{ background-position: 0 -650px;}
.act_list .act_status .act_status_l .title{ font-size:14px; line-height:24px;}
.act_list .act_status .act_status_r{ float:right; width:230px;}
.act_list .act_status .act_status_r .act_time{ font-size:12px; font-family:"宋体"; line-height:24px; color:#666}
.act_list .act_status .act_status_r .act_switchIcon{}

.act_list .act_content{ padding:0 50px 0px;}
.act_list .act_content:after{ clear:both; display:block; height:0; content:""}
.act_list .act_content .act_mark{ margin:0 80px 20px 0px; padding:15px 0; float:left; width:84px; height:84px; display: table-cell; vertical-align:middle; box-sizing:border-box; text-align:center}
.act_list .act_content .act_mark.on{border: solid 1px #fbcace;  background: #fff2f3;}
.act_list .act_content .act_mark.on span{ font-size:12px; color:#666}
.act_list .act_content .act_mark.on span strong{ display:block; color:#ed3f41; font-size:20px; font-weight:normal; line-height: 2em;}
.act_list .act_content .act_mark.off{  border: 1px solid #ccc;  background: #eee;  line-height: 50px;  font-size: 18px;  color: #999;}
.act_list .act_content .act_mark.off span{}
.act_list .act_content .act_mark.topay{  border: 1px solid #c3ddf5;  background: #f3f9ff;  line-height: 50px;  font-size: 18px;  color: #2e7dc6;}
.act_list .act_content .act_mark.topay span{}
.act_list .act_content .Data_summery{ height:84px; box-sizing:border-box; float:left}
.act_list .act_content .Data_summery dl{ box-sizing:border-box;}
.act_list .act_content .Data_summery dl.lg4 { width:110px; float: left; border-right: dashed 1px #d4d4d4; text-align:center;}
.act_list .act_content .Data_summery dl dt { padding:10px 0 0; color:#2e7dc6; font-size:20px; line-height:34px;}
.act_list .act_content .Data_summery dl dt a { color:#0077dd;}
.act_list .act_content .Data_summery dl dd { padding:0 0 20px 0; font-size:12px; line-height:18px; color:#42474d;}
.act_list .act_content .Data_summery dl.last { border:none;}
.act_list .act_content .act_control{ float:right; display:table-cell; vertical-align:middle; height:84px; line-height:84px; text-align:right; padding-top:15px;}
.act_list .act_content .act_control span{ display:block; line-height:28px;}
.act_list .act_content .act_control span a{ color:#2e7dc6; font-size:14px; width:80px;}
.act_list .act_content .act_control span.noclick a{ color:#999;}
.act_list .act_content .act_control span.noclick a:hover{ color:#999; text-decoration:none}
.act_list .act_content .act_control span a.btn_blue{ color:#FFF; width:80px; min-width:80px; font-weight: normal; line-height:28px; padding:0}

.act_list .act_opr{ background:#f5f5f5; display:block;}
.act_list .act_opr ul.act_oprGroup{}
.act_list .act_opr ul.act_oprGroup li{ display:inline-block; width:175px; float:left; line-height:24px; padding:7px 0; text-align:center}
.act_list .act_opr ul.act_oprGroup li:active{ background:#e3e3e3}
.act_list .act_opr ul.act_oprGroup li:active a{color:#666}
.act_list .act_opr ul.act_oprGroup li a{ font-size:14px; color:#666}

.act_list .act_opr ul.act_oprGroup li a:hover{ font-size:14px; color:#2e7dc6; text-decoration:none}
.act_list .act_opr ul.act_oprGroup li a span i{ width:18px; height:18px; margin-right:10px; display:inline-block; background:url(../Image/member/member_hd_icon_opr.png) no-repeat; overflow:hidden; vertical-align:middle}
.act_list .act_opr ul.act_oprGroup li.step1 a span i{background-position:-4px -4px;}
.act_list .act_opr ul.act_oprGroup li.step1:active a span i{background-position:-4px -4px;}
.act_list .act_opr ul.act_oprGroup li.step1 a:hover span i{ background-position:-35px -4px;}


.act_list .act_opr ul.act_oprGroup li.step2 a span i{background-position:-70px -4px;}
.act_list .act_opr ul.act_oprGroup li.step2:active a span i{background-position:-70px -4px;}
.act_list .act_opr ul.act_oprGroup li.step2 a:hover span i{ background-position:-100px -4px;}

.act_list .act_opr ul.act_oprGroup li.step3 a span i{background-position:-4px -35px;}
.act_list .act_opr ul.act_oprGroup li.step3:active a span i{background-position:-4px -35px;}
.act_list .act_opr ul.act_oprGroup li.step3 a:hover span i{background-position:-35px -35px;}

.act_list .act_opr ul.act_oprGroup li.step4 a span i{background-position:-70px -35px;}
.act_list .act_opr ul.act_oprGroup li.step4:active a span i{background-position:-70px -35px;}
.act_list .act_opr ul.act_oprGroup li.step4 a:hover span i{background-position:-100px -35px;}

.act_list .act_opr ul.act_oprGroup li.step5 a span i{background-position:-128px -35px;}
.act_list .act_opr ul.act_oprGroup li.step5:active a span i{background-position:-128px -35px;}
.act_list .act_opr ul.act_oprGroup li.step5 a:hover span i{background-position:-158px -35px;}
/*
.Gform .Ginput .Gadd {
  position: relative;
  padding-bottom:0px;
  -webkit-transition: all 0.3s;
  opacity: 1;
  -webkit-transform: translateY(0px);
}
*/

.Uswitch { width:65px; height:19px; position:relative; cursor: pointer;}
.Uswitch .Uswitch-off,.Uswitch .Uswitch-on {width: 65px; height: 27px;position:absolute; top:0; left:0;}
.Uswitch .Uswitch-off{ background:url(../Image/icon7.png) no-repeat -100px center; }
.Uswitch .Uswitch-on{ background:url(../Image/icon7.png) no-repeat 0px center; }
.Uswitch i{ width:28px; height:26px; background:url(../Image/icon7.png) no-repeat -200px center;position:absolute; top:0; left:0; margin-left:1px;}
.Uswitch i.Uswitch-i-on { left:29px;}


/*added 2015-09-01*/
.scanArea{ background:#fff8ef; padding:15px; display:block; font-size:14px; margin-bottom:30px;}
.scanContent{ margin:0 auto; text-align:center; width:60%}

.scanContent dl dd{ display:block; float:left;}
.loadStatus dl dd{ font-size:14px; line-height:24px; color:#999; display: block; float: none; text-align: left}
.scanContent dl dd.scantxt{ padding-top:30px;}
.scanContent dl dd.scantxt p{ text-align:left; padding-left:0px; line-height:24px;}
.scanContent dl dd.scanImg{}
.scanContent dl dd.scanImg img{border-radius: 3px; border:1px #eeeeee solid; padding:3px; background: #FFF }
.scanContent dl dd.scanImg p{ font-size:14px; color: #666; line-height:24px;}
.scanContent dl dd.confirmEmail{ text-align:center; line-height:24px; padding-bottom:8px;}

.scanContent dl dd.confirmEmail .btn-all-del{background-color: #757982;  border:1px #d1d1d1 solid;  color: #666766;  background-image: -moz-linear-gradient(top,#fff 0,#f3f3f3 100%);  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f3f3f3));  background-image: -webkit-linear-gradient(top,#fff 0,#f3f3f3 100%);  background-image: -o-linear-gradient(top,#fff 0,#f3f3f3 100%);  background-image: linear-gradient(to bottom,#fff 0,#f3f3f3 100%);width: 65px; display: inline-block;  overflow: visible;height:26px; line-height:26px;  vertical-align: middle;  text-align: center;  text-decoration: none;  border-radius: 3px; font-size: 14px; cursor: pointer; margin-top:0px; margin-bottom:0px; margin-left: 10px; -webkit-transition:none;-webkit-transform:none; vertical-align:top}
.scanContent dl dd.confirmEmail .btn-all-del:hover{background: #fff;  border-color: #d6d6d6;  color: #666766;}
.scanContent dl dd.confirmEmail .btn-all-del:active{background: #e3e3e3;  border-color: #d6d6d6;  color: #666766; }
.scanContent dl dd.confirmEmail input{ margin-left:10px; width:310px;}
.scanContent dl.hasbg{ display:block; background:url(../Image/member/emailIcon.png) left 5px no-repeat; padding-left:45px; min-height:60px;}

.activeArea{ background:#f7f7f7; padding:45px;}
#Succeed .succeed_content dl dd a.btn-all-del{ margin:0; margin-top:10px}
.midWay{ margin:30px auto; text-align:center; font-size:14px;}
.midWay .title{ font-size:18px; color:#666666;}
.midWay .links{ margin:15px auto}
.midWay .links a{ border:1px #d6d6d6 solid; border-radius:2px; line-height:26px; padding:0 10px; display:inline-block}
.midWay .links a strong{ font-weight:normal }
.midWay .links a.ok strong{ color:#00c950 }
.midWay .links a.fail{ margin-right:15px;}
.midWay .links a.fail strong{ color:#ed3f41;}

/*营销活动基础信息间距*/
.Gform ul.last{ margin-bottom:30px}