@charset "utf-8";
/* CSS Document */
/*
[目录表]
1- 首页 缩写ind
*/
.main-name { padding-bottom:0;}
.indList {background:#fff;}
.indView .indView-con { width:100%;}
.indView .indItem { width:840px; float:left;}
.indView .indItem a { color:#666;}
.indView .indItem li:hover a { color:#ff9c00;}
.indView .indItem li { width:128px; height:128px; border:solid 1px #dedede; float:left; border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-o-border-radius:2px;-ms-border-radius:2px; margin:10px 10px 0 0;}
.indView .indItem li:hover { border:solid 1px #ff9c00;}
.indView .indItem li:hover a { color:#ff9c00;}
.indView .indItem li.last { margin:10px 0 0 0;}
.indView .indItem li i { width:65px; margin:15px auto; height:65px; display:block; cursor:pointer;background-image:url(../Image/icon65.png?V=3); background-repeat:no-repeat;}
.indView .indItem li p { width:100%; height:30px;font-size:16px; font-family:"microsoft yahei"; text-align:center; cursor:pointer;}
.indView .indItem li.erro {background:url(../Image/icon-index-index.png) no-repeat 72px -620px;}

.Indservice { position:relative; padding-bottom:30px;}
.Indservice-phone { position:absolute; right:0; top:0px;background:url(../Image/icon1.png) no-repeat 0 -1345px;font-size:20px; line-height:40px; color:#5b5b5b; text-indent:30px;}
.Indservice-title { font-size:24px;line-height:40px;}
.Indservice-con { font-size:14px; line-height:30px;}
.Indservice-list { font-size:14px; line-height:30px; text-indent:30px;}
.Indservice-list h1{ font-size:20px; line-height:30px; width:700px; color:#000; text-align: left; text-indent:0;}
.Indservice-list h2{ font-size:18px; line-height:30px; width:700px; color:#5b5b5b; text-align:left; text-indent:0;}
.Indservice-list h3{ font-size:18px; line-height:30px; color:#000; text-indent:0;}
.Indservice-list p{ font-size:14px;width:520px; text-indent:0;}
.Indservice-phone2 { width:600px; margin:20px auto; height:auto; overflow:hidden; line-height:50px; font-size:18px; background:#f4f4f4; text-align:center;border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;}

.mt16 { margin-top:18px;}
.ml16 { margin-left:16px;}

.shopBanner { position:relative; width:830px; height:288px; background:url(../Image/banner/shopbanner.png) repeat 0 0; margin-bottom:20px;}
.shopBanner .btn-all-auto { position: absolute; right:20px; top:200px; width:220px; height:50px; line-height:50px; font-size:16px;}

.icon-n1 { background-position:0px 0;}
.icon-n2 { background-position:-65px 0;}
.icon-n3 { background-position:-130px 0;}
.icon-n4 { background-position:-195px 0;}
.icon-n5 { background-position:-260px 0;}
.icon-n6 { background-position:-325px 0;}
.icon-n7 { background-position:-390px 0;}
.icon-n8 { background-position:-455px 0;}
.icon-n9 { background-position:-520px 0;}
.icon-n10 { background-position:-585px 0;}
.icon-n11 { background-position:-1105px 0;}
.icon-n12 { background-position:-1170px 0;}
.icon-f1 { background-position:0 -65px;}
.icon-f2 { background-position:-65px -65px;}
.icon-f3 { background-position:-130px -65px;}
.icon-f4 { background-position:-195px -65px;}
.icon-f5 { background-position:-260px -65px;}
.icon-f6 { background-position:-325px -65px;}
.icon-f7 { background-position:-390px -65px;}
.icon-f8 {background-position: -455px -66px;}
.icon-f9 {background-position: -520px -66px;}
.icon-f10 {background-position: -585px -66px;}
.icon-f11 {background-position: -715px -66px;}
.icon-f12 {background-position: -780px -66px;}
.icon-f13 {background-position: -845px -66px;}
.icon-f14 {background-position: -911px -66px;}
.icon-r1 { background-position:0 -130px;}
.icon-r2 { background-position:-65px -130px;}
.icon-r3 { background-position:-130px -130px;}
.icon-r4 { background-position:-195px -130px;}
.icon-r5 { background-position:-260px -130px;}
.icon-r6 { background-position:-325px -130px;}
.icon-r7 { background-position:-390px -130px;}
.icon-r8 { background-position:-455px -130px;}
.icon-r9 { background-position:-914px -134px;}
.icon-p1 { background-position:-520px -130px;}
.icon-p2 { background-position:-585px -130px;}
.icon-p3 { background-position:-650px -130px;}
.icon-p4 { background-position:-715px -130px;}
.icon-p5 { background-position:-780px -130px;}
.icon-p6 { background-position:-845px -130px;}
.icon-m1 { background-position:-845px 0;}
.icon-m2 { background-position:-910px 0;}
.icon-m3 { background-position:-975px 0;}
.icon-m4 { background-position:-1040px 0;}
.indView .indItem li:hover .icon-n1 { background-position:0px -390px;}
.indView .indItem li:hover .icon-n2 { background-position:-65px -390px;}
.indView .indItem li:hover .icon-n3 { background-position:-130px -390px;}
.indView .indItem li:hover .icon-n4 { background-position:-195px -390px;}
.indView .indItem li:hover .icon-n5 { background-position:-260px -390px;}
.indView .indItem li:hover .icon-n6 { background-position:-325px -390px;}
.indView .indItem li:hover .icon-n7 { background-position:-390px -390px;}
.indView .indItem li:hover .icon-n8 { background-position:-455px -390px;}
.indView .indItem li:hover .icon-n9 { background-position:-520px -390px;}
.indView .indItem li:hover .icon-n10 {background-position: -585px -390px;}
.indView .indItem li:hover .icon-n11 {background-position: -1105px -390px;}
.indView .indItem li:hover .icon-n12 { background-position:-1170px -390px;}
.indView .indItem li:hover .icon-f1 { background-position:0 -455px;}
.indView .indItem li:hover .icon-f2 { background-position:-65px -455px;}
.indView .indItem li:hover .icon-f3 { background-position:-130px -455px;}
.indView .indItem li:hover .icon-f4 { background-position:-195px -455px;}
.indView .indItem li:hover .icon-f5 { background-position:-260px -455px;}
.indView .indItem li:hover .icon-f6 { background-position:-325px -455px;}
.indView .indItem li:hover .icon-f7 { background-position:-390px -455px;}
.indView .indItem li:hover .icon-f8 {background-position: -455px -456px;}
.indView .indItem li:hover .icon-f9 {background-position: -520px -456px;}
.indView .indItem li:hover .icon-f10 {background-position: -585px -456px;}
.indView .indItem li:hover .icon-f11 {background-position: -715px -456px;}
.indView .indItem li:hover .icon-f12 {background-position: -780px -456px;}
.indView .indItem li:hover .icon-f13 {background-position: -845px -456px;}
.indView .indItem li:hover .icon-f14 {background-position: -911px -456px;}
.indView .indItem li:hover .icon-r1 { background-position:0 -520px;}
.indView .indItem li:hover .icon-r2 { background-position:-65px -520px;}
.indView .indItem li:hover .icon-r3 { background-position:-130px -520px;}
.indView .indItem li:hover .icon-r4 { background-position:-195px -520px;}
.indView .indItem li:hover .icon-r5 { background-position:-260px -520px;}
.indView .indItem li:hover .icon-r6 { background-position:-325px -520px;}
.indView .indItem li:hover .icon-r7 { background-position:-390px -520px;}
.indView .indItem li:hover .icon-r8 { background-position:-455px -520px;}
.indView .indItem li:hover .icon-r9 { background-position:-914px -524px;}
.indView .indItem li:hover .icon-p1 { background-position:-520px -520px;}
.indView .indItem li:hover .icon-p2 { background-position:-585px -520px;}
.indView .indItem li:hover .icon-p3 { background-position:-650px -520px;}
.indView .indItem li:hover .icon-p4 { background-position:-715px -520px;}
.indView .indItem li:hover .icon-p5 { background-position:-780px -520px;}
.indView .indItem li:hover .icon-p6 { background-position:-845px -520px;}
.indView .indItem li:hover .icon-m1 { background-position:-845px -390px;}
.indView .indItem li:hover .icon-m2 { background-position:-910px -390px;}
.indView .indItem li:hover .icon-m3 { background-position:-975px -390px;}
.indView .indItem li:hover .icon-m4 { background-position:-1040px -390px;}

.icon-n20 {background-position: -648px -66px;}
.indView .indItem li:hover .icon-n20 {background-position: -648px -457px;}