@charset "utf-8";
/* CSS Document */
/*
[目录表]
1- 爱拍 缩写ap
*/
.ap-iphone-bg {background:url(../Image/ap-iphone-bg.png) no-repeat;width:250px; height:762px;}
.help-labelNumber { font-size:13px; color:#0066cc; cursor:pointer; display:inline; position:absolute; top:635px; left:555px;}
.help-labelNumber:hover .help-labelNumber-title { display:block;}
.help-labelNumber-title { position:absolute; top:0; left:0; font-size:13px; border:solid 1px #999; padding:10px; width:200px; height:auto; overflow:hidden; background:#fff; z-index:99; display:none; color:#555; line-height:23px;}
.input-labelNumber { color:#999}

.aipai-iphone { float:right; position:fixed; top:20px; right:10px; width:260px; height:540px;background:url(../Image/iphone_bg2.png) no-repeat;}
.aipai-iphone-text { width:165px; height:auto; overflow:hidden; margin-top:140px; margin-left:40px; font-size:12px; line-height:20px; color:#777;}
.aipai-iphone-text span { color:#000; text-decoration:underline;}

.aipai-numgoods { width:500px; height:auto; padding:5px 15px 5px 15px;border:solid 1px #97928a;}

.icon-remove{ float:right; width:14px; height:14px; text-align:-999;background-image: url("../Image/icon-msg.png"); cursor:pointer; margin-right:5px;background-position: -312px 0; position:absolute; top:10px; right:5px;}
.icon-remove:hover {background-image: url("../Image/icon-msg2.png");}