
html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:auto; margin:0 auto; max-width:640px;background:#fff;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#header { height:auto; overflow:hidden;z-index:1; position:relative;text-align:center;}
#main { height:auto!important; height:100%; position:relative;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:5px 0 5px 0;text-align:center;color:#5c5c5c;background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%); font-size:12px; line-height:20px;}
#footer p a{ color:#5c5c5c;}
/*----------------------------------  Global结束  ------------------------------------*/

.mainTop { line-height:0; position:relative; z-index:99;}
.mainTop .top-img {height:auto;position:relative; overflow:hidden; line-height:0;}
.mainTop .top-img .vip-img { width:100%;}
.logo-con { position:absolute; width:2px; height:2px; top:50%; margin-top:-1px; left:50%; margin-left:-1px;}
.logo-con img { position:absolute; overflow:hidden; width:150px; height:70px; margin-left:-75px; margin-top:-35px;}

.mainCon {position:relative;z-index:100; background:#fffaf2; padding-top:30px; padding-bottom:10px;}
.mainCon .mainCon-title { position:absolute; top:10px; width:100%; font-size:18px; color:#daa983; font-weight:bold; line-height:40px; text-align:center; }
.mainCon .mainCon-title span { padding:0 10px;background:#fffaf2; }
.mainCon .mainCon-prize { margin:0 10px; margin-top:5px;}
.mainCon .mainCon-img { float:left; width:90px; height:90px; border-radius:50%; overflow:hidden; border:solid 1px #d49b6d;}
.mainCon .mainCon-img img { width:100%; height:100%; border-radius:50%;}
.mainCon .mainCon-text { margin-left:100px; font-size:14px; color:#d49b6d; line-height:25px; text-align:left;}
.mainCon-contenter { border:solid 1px #e1ba9a; margin:0 15px;border-radius:10px; overflow:hidden; padding-top:20px;}

.Formlist-msg { margin:0 10px;}
.Formlist-msg h4 { color:#d49b6d; font-size:14px; text-align:left;}
.Formlist-progress { width:100%; height:10px; padding-top:25px; position:relative;}
.Formlist-progress p { position:absolute; top:0px; left:0; margin-left:-20px; background:#b61541;-moz-border-radius:3px;-webkit-border-radius:3px; border-radius:3px; padding:0 7px; color:#fff;}
.Formlist-progress p i {position:absolute; left:50%; margin-left:-5px; bottom:-9px; width:0;height:0;border:5px solid #fff; border-color:#b61541 transparent transparent transparent;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);transform: rotate(0deg);}
.Formlist-progress .Formlist-progressBg { width:100%; height:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #faeee3;
	-webkit-box-shadow: inset 0 1px 1px rgba(234,208,188,.75);
	-moz-box-shadow: inset 0 1px 1px rgba(234,208,188,.75);
	box-shadow: inset 0 1px 1px rgba(234,208,188,.75);
}
.Formlist-progress .Formlist-progressLine { float:left; height:10px; background:#b61541;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.Formlist-map { margin:0 10px; padding-top:10px;}
.icon-map { float:left; width:44px; height:41px; background:url(../Image/Item/hgds-03.png) no-repeat 0 center; background-size:100%;}
.icon-key { float:left; width:44px; height:41px; background:url(../Image/Item/hgds-04.png) no-repeat 0 center; background-size:100%;}
.Formlist-map a { margin:0 5px; overflow:hidden; text-align:left; line-height:50px; font-size:14px; color:#999999;}
.Formlist-map .sOne-Input { width:99% !important;}

/*分享*/
.share{ width:100%; height:40px; line-height:30px;padding-bottom:5px;background:#f4f4f4;}
.share_list{ list-style:none;}
.share_list li{float:left; margin-left:15px;}
/*----------------------------------  分享结束  ------------------------------------*/

.ptb20 { padding-top:10px; padding-bottom:10px;}
.ml10{ margin-left:10px;}
.pb10 { padding-bottom:10px;}
.mt20{ margin-top:20px;}
::-moz-placeholder {
    color: #cccccc;
    opacity: 1!important;
}
:-ms-input-placeholder {
    color: #cccccc;
}
::-webkit-input-placeholder {
    color: #cccccc;
}

.loadingBox{position:fixed;z-index:100;top:50%;left:50%;width:180px;height:100px; overflow:hidden;margin:-60px auto auto -120px;padding:30px 30px;border: 1px solid #2A2A2A;color:#fff;text-align:center;border-radius:10px;background:rgba(0,0,0,.66);}
.loadingBox p{}
.loadingBox span { font-size:16px;}
.loadingBox i{position:absolute;z-index:9;top:60%;left:50%;margin:-16px 0 0 -16px;display:inline-block;width:20px;height:20px;border:4px dotted #000;border-color:rgba(255,255,255,.1) rgba(255,255,255,.2) rgba(255,255,255,.4) rgba(255,255,255,.5);border-radius:300px;-webkit-animation:loadforever 20s infinite linear;} 
@-webkit-keyframes loadforever{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(5000deg);}}

/*表单*/
input[type=text] {color:#555555;background:#fff;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;box-shadow:none; border:solid 1px #dbb99d;-webkit-appearance:none; box-sizing:border-box;-webkit-box-sizing:border-box;}
input[type=radio] {width:14px; height:14px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; margin-left:5px;}
input[type=radio]:checked { border:solid 1px #c03612;}
input[type=radio]:checked:after{content:''; background:#c03612; width:4px; height:4px;position: absolute;top:4px;left:4px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
input[type=checkbox] {width:14px; height:14px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px; margin-left:5px;}
input[type=checkbox]:checked { border:solid 1px #c03612;}
input[type=checkbox]:checked:after{content:'';background:url(../Image/chcekbox-bg-sOne.png) no-repeat 0 0; background-size:100%; width:8px; height:8px;position: absolute;top:2px;left:2px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
select {color:#ccc; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
textarea {color:#ccc; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
/*----------------------------------  表单结束  ------------------------------------*/

/*-----------------------------------返回-----------------------------------*/
.mainCon-img-body { padding-top:35px; width:320px;}
.mainCon-goback { height:35px; background:#e9eaee; position: fixed; width:100%; top:0px; left:0px;}
.goback-img { height:29px; width:55px; overflow:hidden;background:url(../Image/go-back.png) no-repeat 0 0; margin:3px 0 3px 10px; background-size:100%;float:left; line-height:32px; font-size:14px; color:#6a6f84;text-decoration:none; text-indent:10px;}
.mainCon-img img { width:100%; height:auto}
/*-----------------------------------返回结束-----------------------------------*/

.mainForm { width:200%; height:auto; overflow:hidden;}
.Formlist { width:50%; float:left;}

.baseForm {padding-top:10px; margin:0 10px;}
.baseForm li { height:auto; overflow:hidden; padding-bottom:15px;}
.baseForm li p { height:32px;width:60px; margin-left:0;float:left; text-align:right; line-height:32px; font-size:14px;}
.baseForm li h6 { height:32px;width:60px;margin-left:0;float:left; text-align:right; line-height:32px; font-size:14px;}
.baseForm li h6.lang { height:32px;width:100%; margin-left:0;float:left; text-align:left; line-height:32px; font-size:14px;}
.baseForm li span { color:#bf0600;line-height:18px; font-size:12px; text-align: left; display: block;margin-left:85px;}
.baseForm li label { height:35px;margin-left:0;float:left; text-align:left; line-height:35px; font-size:16px; padding-right:20px;}
.baseForm input[type=text] { height:32px; line-height:32px;}
.baseForm select { height:35px;}
.baseForm textarea { height:70px;}
.mainCon-text img { max-width:100%;}
.baseForm-input { margin-left:62px;}

.bmForm {padding:10px 0; margin:0 10px; overflow:hidden;}
.bmForm li { height:auto; overflow:hidden;}
.bmForm li p { height:35px;width:80px; margin-left:0;float:left; text-align:right; line-height:35px; font-size:16px;}
.bmForm li span { color:red;line-height:35px; font-size:16px;}
.bmForm li label {margin-left:23px; display:block; height:auto; overflow:hidden; text-align:left; line-height:23px; margin-top:3px; font-size:14px; color:#666666;}
.bmForm li h3 { font-size:15px; text-align:left; padding:8px 0 3px 0; color:#333; line-height:23px;}
.bmForm input[type=text] { height:25px; line-height:25px;}
.bmForm input[type=radio] {float:left;margin-top:8px;}
.bmForm input[type=checkbox] {float:left;margin-top:8px;}
.bmForm select { height:35px;}
.bmForm textarea { height:70px; width:90%; min-width:270px;}
.content_button {height:53px; overflow:hidden; width:280px;margin:0 auto;}
.bmForm hr { border:none;border-bottom: dashed 1px #dedede; height:10px; overflow:hidden;}
.bmFormList { display:none; float:left; margin-left:20px;}
.bmFormList .btn-li {-moz-column-count:2;-webkit-column-count:2;column-count:2;-moz-column-gap:5px;-webkit-column-gap:5px;column-gap:5px; padding-top:10px;}
.bmFormList .btn-answer { display:inline-block;*display:inline;*zoom:1; width:95%; height:30px; font-size:16px; line-height:30px; color:#fff; text-align:center;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.bmFormList .btn-answer.answer-pre { background:#daa983;}
.bmFormList .btn-answer.answer-next { background:#b61541;}

.sOne-Input { width:98%;}
.sOne-Input-half {margin-left:5px; float:left; width:90px;}
.sOne-Radio { float:left;margin-top:10px;}
.sOne-Checkbox { float:left;margin-top:10px;}
.sOne-Textarea { width:270px; margin-left:5px; float:left;}
.sOne-select { width:188px; margin-left:5px; float:left;}
.sOne-select-s { width:61px; margin-left:5px; float:left;}
.sOne-getpasscode {width:90px;}
.input_button{ width:100%; height:30px;color:#fff; font-size:16px; cursor:pointer; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-webkit-appearance:none; background:#b61541; display:block; line-height:30px;}

#AjaxWrapper { width:100%; height:100%; position:fixed;background:rgba(0,0,0,0.4); top:0; left:0; z-index:1000; text-align:center;}
.cjWrapper { margin:0 auto; background:#fff repeat 0 0; height:auto; width:80%; min-width:280px; max-width:580px; margin-top:80px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px; padding:10px;-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3);-moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3);box-shadow: inset 0 0 10px rgba(0,0,0,.3); position:relative;}
.cjCon { margin:0 auto; height:auto; background:#fff;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.cjText { margin:0 auto; text-align:center; font-size:16px; color:#333; padding:15px 0 10px 0; line-height:23px;}
.cjText-con { width:210px; height:auto; margin:0 auto; overflow: hidden;word-break:break-all;}
.cjText-img { width:50px; float:left;}
.cjText-img img { width:50px; height:50px;}
.cjText-text { margin-left:60px; text-align:left; font-size:16px; line-height:25px;}
.cjBtn { margin:0 auto; width:170px;height:35px; line-height:35px; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background-color: #bf0600; font-size:18px;color:#fff;}
.cjBtn a {color: #fff; display:block;}
.cjWrapper-close { color:#b9b9b9; font-size:20px; width:30px; height:30px;position:absolute; top:0; right:0;}
.cjWrapper-close a { color:#b9b9b9; display:block; line-height:30px; text-align:center; font-size:32px;transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg)}
.cjForm { height:auto; overflow:hidden; max-width:610px;margin:0 auto;}
.cjForm li { height:48px; overflow:hidden;}
.cjForm li p { height:35px;width:65px; margin-left:0;float:left; text-align:right; line-height:35px; font-size:14px; color:#333;}
.cjForm li span { color:red;line-height:35px; font-size:16px;}
.cjForm li label { height:35px;margin-left:0;float:left; text-align:left; line-height:35px; font-size:16px; padding-right:20px;}
.sOne-cjForm {padding-top:10px; width:280px; margin:0 auto;text-align:center;}
.sOne-cjInput { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:160px;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-cjInput-half { height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:68px; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
.sOne-cjRadio { float:left; width:14px; height:14px; margin-top:10px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; margin-left:5px;}
.sOne-cjgetpasscode { height:37px; line-height:37px;width:90px; color:#909090; float:right;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; margin-right:2px;}
.sOne-cjpasscode-img {border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:none; width:80px; float:left; margin-left:10px;height:37px;}
.sOne-cjrefurbish { width:30px; height:37px; float:left; margin-left:5px;background:url(../Image/refurbish-icon.png) no-repeat 0 center; background-size:100%;}
.cj-input-button { width:250px; height:38px;color:#fff; font-size:18px; cursor:pointer; border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;-webkit-appearance:none; background:#bf0600;}
.sOne-file-div{ position: relative;height:35px; line-height:35px; margin-left:5px; float:left; color:#555555; width:188px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;background: #bf0600; border: none;}
.baseForm li p.sOne-file-name { color: #fff; text-align: left;}
.sOne-file { position:absolute; z-index:2; width:100%; height:100%; top:0; right:0; opacity:0;}
.sOne-file-div i { width:25px; height:25px;margin:5px 20px 5px 10px; float: left;}
.icon-photo {background:url(../Image/icon_01.png) repeat center center; background-size:100%;}


#AjaxMap { width:100%; height:100%; position:fixed;background:rgba(0,0,0,0.4); top:0; left:0; z-index:1000; text-align:center; overflow:hidden; display:none;}
#AjaxMap .AjaxMap-input { display:none; position: relative;margin:0 20px; padding:20px 10px; top:50%; margin-top:-60px; height:auto; background:#fff; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; z-index:23;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,.3);
	box-shadow: 0 0 2px rgba(0,0,0,.3);
}
#AjaxMap .AjaxMap-input .sOne-Input { height:30px; line-height:30px;}
#AjaxMap .AjaxMap-input .btn-p {-moz-column-count:2;-webkit-column-count:2;column-count:2;-moz-column-gap:5px;-webkit-column-gap:5px;column-gap:5px; padding-top:10px;}
#AjaxMap .AjaxMap-input .btn-input { display:inline-block;*display:inline;*zoom:1; width:95%; height:30px; font-size:16px; line-height:30px; color:#fff; text-align:center;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
#AjaxMap .AjaxMap-input .btn-input.erro { background:#daa983;}
#AjaxMap .AjaxMap-input .btn-input.ok { background:#b61541;}

#AjaxMap .AjaxMap-map { width:100%; height:100%; position:fixed;top:100%; left:0; z-index:20; text-align:center;}
#AjaxMap .AjaxMap-map .AjaxMap-main { max-width:640px; height:100%; background:#fff; margin:0 auto; position:relative;}
#AjaxMap .AjaxMap-map #allmap { height:100%; display:none;}
#AjaxMap .AjaxMap-map .AjaxMap-main-title { position:relative; width:100%; height:40px; line-height:40px;background:url(../Image/Item/hgds-01.png) no-repeat center center; background-size:100% auto; color:#fff;}
#AjaxMap .AjaxMap-map .AjaxMap-main-title i.close-AjaxMap { position:absolute; top:0; right:0; width:40px; height:40px; color:#fff; font-size:32px; line-height:40px; font-style:normal;transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg)}
#AjaxMap .AjaxMap-map .AjaxMap-main-search { position: relative; padding:10px; height:30px; z-index:11;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,.1);
	box-shadow: 0 2px 2px rgba(0,0,0,.1);
}
#AjaxMap .AjaxMap-map .AjaxMap-main-search-div { position:relative; height:30px; border:solid 1px #b71c43;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
#AjaxMap .AjaxMap-map .AjaxMap-main-search-div input { position:absolute; width:100%; height:100%; left:0; top:0; border:none;}
#AjaxMap .AjaxMap-map .AjaxMap-main-search-div a { position:absolute; right:0; top:0; width:60px; height:30px; color:#fff; background:#b71c43; line-height:30px;}
#AjaxMap .AjaxMap-map #searchList { width:100%; height:79%; position:absolute; z-index:10; top:90px; left:0; overflow-y:auto; background:#f7f7f7; display:none;}
#AjaxMap .AjaxMap-map #searchList ul { margin:10px;border:solid 1px #ddd; padding:10px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px; background:#fff;}
#AjaxMap .AjaxMap-map #searchList ul li { border-bottom:solid 1px #ddd; height:auto; line-height:20px; padding:10px 0; text-align:left; color:#999; font-size:14px; cursor:pointer;}
#AjaxMap .AjaxMap-map #searchList ul li i { width:20px; height:20px; margin-right:5px; float:left;background:url(../Image/icon-address.png) repeat center center; background-size:100%;}
