@charset "utf-8";
.upload-src{height: 58px;border: 1px dashed #e0e0e0;line-height: 60px;font-size: 14px;color: #aa6e2e;background: #f6f6f6;text-align: center;}
.close-icon{display:block;position: absolute;background: url(../Image/baiduzd/close-icon.png) no-repeat;cursor: pointer;}
.upload-src a{display: inline-block;*display: inline;*zoom:1;width: 120px;height: 30px;background: url(../Image/baiduzd/btn-bg1.png) no-repeat;line-height: 30px;color: #fff;font-size: 14px;}

.set-before{position:relative;margin-top: -10px;margin-bottom: 40px;}
.set-before .close-icon{right: 0;top:0;width: 24px;height: 24px;}
.set-before .intro{padding-left: 40px;}
.set-before .tit-01{font-size:18px;color: #30a5ff;font-weight: bold;}
.set-before .txt-01{font-size: 14px;color: #666;line-height: 1.5;}
.set-before .tit-02{font-size:18px;color: #000;font-weight:normal;line-height: 1;}
.set-before .intro-txt li{line-height: 1.6;background: url(../Image/baiduzd/check-box.png) no-repeat 470px 6px;}
.set-before .open{margin-top:40px;padding:40px;border: 1px solid #ddd;}
.set-before .tit-02 a{font-size: 12px;margin-top: 6px;} 
.set-before .create{background: url(../Image/baiduzd/arrow-bg1.png) no-repeat 0 0;font-size: 14px;color: #000;}
.set-before .create span{margin :0 20px 0 5px;}
.set-before .create .sp1{font-size: 12px;color: #fff;}
.set-before .create .sp2{margin-left:30px;font-size: 12px;color: #999;}

.set-after{position:relative;margin-top: -10px;margin-bottom: 40px;font-size: 14px;color: #000;}
.set-after .tip{position:relative;padding:12px 40px;border: 1px dashed #e0e0e0;background: #f6f6f6;color: #aa6e2e;}
.set-after .close-icon{width: 12px;height: 12px;right: 40px;top:16px;}
.set-after .intro{margin:10px 0 20px;padding-bottom:20px;border-bottom: 1px dashed #ddd;}
.set-after .intro .head{float:left;width: 120px;height: 120px;}
.set-after .intro .text{margin-left: 140px;line-height: 2;}
.set-after span.red{color: #ff0000;}
.set-after .data{margin-top:20px;padding:12px 40px;border: 1px solid #ddd;}

.apply{position:relative;margin-top: 0px;margin-bottom: 40px;font-size: 14px;color: #666;}
.apply .blk{padding:40px;border:1px solid #ddd;}
.apply .blk h1{font-size: 18px;color: #000;font-weight: normal;line-height: 1;}
.apply .blk form{margin: 20px 0;}
.apply .blk .input{width:300px;height: 38px;padding:0 10px;border: 1px solid #ddd;line-height: 40px;}
.blk .k-tip{position:absolute;font-size: 12px;line-height: 1;vertical-align: top;color: #FF0000;*line-height: 1.5;}
.blk table{margin-top: 35px;}
.blk table h1{font-size: 16px;color: #000;line-height: 1;}
.blk table p{font-size: 12px;color: #666;line-height: 1;}
.blk table .wow{color: #ff0000;}
.blk table p img{margin-right: 5px;}
.apply .blk .submit{width: 100px;height: 40px;background: #ff0000;color: #fff;text-align: center;line-height: 40px;cursor: pointer;}
.apply .blk ul{padding-left:18px;padding-bottom: 30px;border-bottom: 1px solid #ddd;}
.apply .blk li{font-size:12px;color:#999;line-height:2;list-style-type:disc; text-align:left}

.logo-bd{position:relative;margin-top: 0px;margin-bottom: 40px;font-size: 14px;color: #000;}
.logo-bd h1{font-size: 18px;color: #000;font-weight: normal;}
.logo-bd .form{}
.logo-bd .form .tip{position:absolute;float: right;color: #999;}
.logo-bd .tip.tip1{left: 430px;top: 10px;}
.logo-bd .tip.tip2{left: 410px;top: 60px;}
.logo-bd .img{float: left;}
.logo-bd .img .upload{margin-left: 100px;}
.logo-bd .img .upload a{display:block;width: 60px;height: 30px;background:#ed1c24;color: #fff;line-height: 30px;text-align: center;}
.logo-bd .img .upload p{font-size: 12px;color: #999;}
.logo-bd .img img{width: 80px;height: 80px;float: left;}
.logo-bd .form li .area{padding:5px;width: 378px;height: 60px;border-color: #ddd;}

/*定制旺服务*/
.w-service-nav{border-bottom:2px solid #f75a63;}
.w-service-nav dt{height:34px;background-color:#f75a63;color:#fff;text-align:center;line-height:34px;box-shadow:0 -2px 9px -5px #333 inset;}
.w-service-nav dl{height:42px;border-bottom:1px solid #ececec;border-right:1px solid #ececec;line-height:42px;background-color:#fcfcfc;}
.w-service-nav a{display:block;height:100%;color:#666;border-left:6px solid transparent;padding-left:16px;text-align:left;}
.w-service-nav dl.hover{border-right:none;background-color:#fff;}
.w-service-nav dl.hover a{border-left:6px solid #f75a63;color:#f75a63;}
.w-service{margin-top:20px;}
.w-service .title{padding-left:12px;margin-bottom:28px;border-left:6px solid #f75a63;height:18px;font-size:18px;color:#000;line-height:18px;}
.w-service table{width:100%;border-collapse:collapse;font-size:14px;color:#666;border:1px solid #e5e5e5;}
.w-service table th{height:40px;vertical-align:middle;color:#333;text-align:center;background-color:#f4f4f4;border-bottom:1px solid #e5e5e5;}
.w-service th.first{width:110px;}
.w-service th.second{width:280px;}
.w-service th.third{width:150px;}
.w-service table td{padding:20px 0 20px 20px;line-height:1.5;border-bottom:1px solid #e5e5e5;}
.w-service table .td-head{width:110px;padding:0;text-align:center;}
.w-service table .td-last{text-align:center;padding:0;}
.w-service table span{color:#f15755;}
.w-service .Gform{width:828px;padding:25px 0;border:1px solid #e5e5e5;}
.w-service .upfile{z-index:2;position:absolute;top:12px;left:120px;width:80px;height:28px;opacity:0;filter:alpha(opacity=0);}
.w-service .upload-btn{width:60px;height:30px;margin-right:16px;background-color:#f15755;vertical-align:top;}
.w-service .Gform .upload-tips{font-size:12px;color:#bbb;line-height:1.3;}
.w-service .sub-btn{width:120px;height:30px;margin-top:10px;background-color:#f15755;}










































