@charset "utf-8";
/* CSS Document */
/*
[目录表]
1- 业务介绍 缩写bus
*/
.bus-title { text-align:center; position:relative; padding:0 150px; margin-top:30px;}
.bus-title h1 {font: normal 32px/40px "microsoft yahei"; color:#555;}
.bus-title div { position:absolute; right:100px; bottom:3px; font-size:14px; color:#ed1c24;}


.bus-show { padding:0 150px; margin-top:30px;}
.bus-instruction{ padding:0 150px; margin-top:10px;}
.bus-show h3,.bus-instruction h3  {font: normal 18px/40px "microsoft yahei"; color:#555;}
.bus-show .bus-show-con {}
.bus-show .bus-show-con p { text-indent:30px; font-size:14px; line-height:30px; color:#777}
.bus-show .bus-show-con p img { margin:0 auto;}

.bus-instruction .bus-instruction-con {}
.bus-instruction .bus-instruction-con p { text-indent:30px; font-size:14px; line-height:30px;color:#777}
.bus-instruction .bus-instruction-con p img { margin:0 auto; }

.bus-show-line { border-bottom:dashed 1px #999; width:800px; margin:0 auto; height:30px; overflow:hidden;}