@charset "utf-8";
/* CSS Document */
/*
[目录表]
1- 首页 缩写ind
*/
.form-msg { height:90px; border-bottom:dashed 1px #565656;}
.form-msg .form-name { float:left; width:150px; font-size:14px; line-height:35px; text-align:right;}
.form-msg .form-input { float:left; width:680px;}
.point-msg {}
.point-title { text-align:left; font-weight:bold; font-size:14px}
.point-con { text-align:left; font-size:14px;}
.point-img {}
.icon-canal1 {background:url(../Image/icon3.png) no-repeat 0 0px;}
.icon-canal2 {background:url(../Image/icon3.png) no-repeat 0 -40px;}
.icon-canal3 {background:url(../Image/icon3.png) no-repeat 0 -160px;}
.icon-canal5 {background:url(../Image/icon3.png) no-repeat 0 -120px;}
.icon-canal6 {background:url(../Image/icon3.png) no-repeat 0 -80px;}
.icon-canal1-off {background:url(../Image/icon3.png) no-repeat -100px 0px;}
.icon-canal2-off {background:url(../Image/icon3.png) no-repeat -100px -40px;}
.icon-canal3-off {background:url(../Image/icon3.png) no-repeat -100px -160px;}
.icon-canal5-off {background:url(../Image/icon3.png) no-repeat -100px -120px;}
.icon-canal6-off {background:url(../Image/icon3.png) no-repeat -100px -80px;}

.Wcanal-offline { margin-top:20px; padding-bottom:20px; border-bottom:dashed 1px #999; position:relative}
.offline-img { width:100px; height:100px; float:left; position:absolute;}
.offline-con { width:705px;  float:left; margin-left:120px; height:auto; overflow:hidden;}
.offline-title { margin-top:-9px;line-height:40px; font-size:14px; font-weight:bold;}
.offline-time { line-height:30px;}
.offline-time p { line-height:30px; font-size:13px; color:#999; float:left;}
.offline-data { line-height:30px;}
.offline-opr { margin-top:10px;padding:10px 10px; background:#f7f7f7;}
.offline-opr ul { height:23px;}
.offline-opr li { width:120px; height:100%; float:left;}
.offline-opr li i { width:22px; height:22px;float:left; margin-right:6px;}
.offline-opr li span { line-height:23px;float:left; font-size:14px; color:#404040;}
.icon-down {background:url(../Image/icon1.png) no-repeat 0 -300px;}
.icon-edit {background:url(../Image/icon1.png) no-repeat 0 -350px;}
.icon-stop {background:url(../Image/icon1.png) no-repeat 0 -390px;}
.icon-begin {background:url(../Image/icon1.png) no-repeat 0 -510px;}
.icon-data {background:url(../Image/icon1.png) no-repeat 0 -430px;}
.icon-prize {background:url(../Image/icon1.png) no-repeat 0 -470px;}
.icon-qr {background:url(../Image/icon1.png) no-repeat 0 -550px;}
.icon-xm {background:url(../Image/icon1.png) no-repeat 0 -150px;}
.icon-on {background:url(../Image/icon1.png) no-repeat 0 -600px;}
.icon-off {background:url(../Image/icon1.png) no-repeat 0 -650px;}
.offline-opr li a:hover .icon-down {background:url(../Image/icon1.png) no-repeat -40px -300px;}
.offline-opr li a:hover .icon-edit {background:url(../Image/icon1.png) no-repeat -40px -350px;}
.offline-opr li a:hover .icon-stop {background:url(../Image/icon1.png) no-repeat -40px -390px;}
.offline-opr li a:hover .icon-begin {background:url(../Image/icon1.png) no-repeat -40px -510px;}
.offline-opr li a:hover .icon-data {background:url(../Image/icon1.png) no-repeat -40px -430px;}
.offline-opr li a:hover .icon-prize {background:url(../Image/icon1.png) no-repeat -40px -470px;}
.offline-opr li a:hover .icon-qr {background:url(../Image/icon1.png) no-repeat -40px -550px;}
.offline-activity { height:auto; overflow:hidden; margin-top:20px; border:solid 1px #eee;}
.offline-opr li a:hover .icon-xm {background:url(../Image/icon1.png) no-repeat -40px -150px;}
.offline-activity-title { background:#f1f1f1; height:30px; line-height:30px; padding:0 20px; font-weight:bold;}
.offline-activity-title a { font-weight:normal; float:right;}
.offline-activity-List { padding:10px; height:50px;}
.offline-activity-List li { float:left; height:100%;}
.offline-activity-List li.Bgap { height:1px; display:block; clear:both; width:100%; background:#efefef;}
.offline-activity-List-icon { width:30px; margin-left:10px;}
.offline-activity-List-title { width:295px; margin-left:10px;}
.offline-activity-List-title p { line-height:25px;}
.offline-activity-List-opr { width:390px; padding-top:10px;}
.offline-activity-List-opr span { margin:0 3px; line-height:50px; color:#444;}
.offline-activity-List-opr a { line-height:50px; color:#444;}
.offline-activity-List-opr a:hover { line-height:50px; color:#ed3f41;}
.offline-activity-List-publish { font-weight:bold; text-indent:10px;}
.offline-activity-List-publish a {font-weight:normal;display:inline-block;padding-left:10px; padding-right:10px;background:#ed1c24; color:#fff; line-height:25px;}

.offline-activity-List-icon i { width:30px; height:30px; display:block; margin-top:13px;}
.icon-on {background:url(../Image/icon1.png) no-repeat 0 -600px;}
.icon-off {background:url(../Image/icon1.png) no-repeat 0 -650px;}
.mem-updatego { width:auto; padding:0 0 0 25px;background: url(../Image/mem_img.png) no-repeat 0px -300px; line-height:30px; font-size:12px; font-weight: normal; color:#555; font-family:"microsoft yahei";}
.mem-updatego:hover {background: url(../Image/mem_img.png) no-repeat 0px -340px; color:#ed1b24;}

/*商家互动 私信*/
.Wcanal-tab-list ul.t-each{}
.Wcanal-tab-list ul.t-each li{padding:20px 0;border-bottom: 1px #eee solid;}
.Wcanal-tab-list ul.t-each li img{width: 60px;height: 60px;}
.Wcanal-tab-list ul.t-each li .r-mes .img{margin-top:15px;width: auto;height: auto;}
.Wcanal-tab-list ul.t-each li .r-mes img{width: 15px;height: 13px;}
ul.t-each li .r-mes{margin-left: 80px;color: #666;}
ul.t-each li .uncheck{background: url(../Image/1.jpg) no-repeat left  2px;}
ul.t-each li .check{background: url(../Image/2.jpg) no-repeat left  1px;}
ul.t-each li .mes-up{overflow:hidden;}
ul.t-each li .mes-up a{color: #666;}
ul.t-each li .r-mes .mes-up p{margin-left: 28px;}
ul.t-each li .r-mes .mes-up img.ron{width: 15px;height: 13px;float: left;}
ul.t-each li .r-mes .mes-up .per-m{margin-left: 0;margin-top:0px;/*margin-top: -1px;*/}
ul.t-each li .r-mes .mes-up span.tit{color: #000;font-weight: bold;}
ul.t-each li .r-mes .mes-down{margin-top: 25px;color: #aaa;}
ul.t-each li .r-mes div.mt{margin-top: 15px;}
ul.t-each li .r-mes .mes-down a.answer-mes,a.del-mes{color: #00a8ff;}
ul.t-each li .r-mes .mes-down .date{display:block;float: left;}
ul.t-each li .r-mes .mes-down .from{display:block;float:left;margin-left: 25px;}
ul.t-each li .r-mes .mes-down .from span{color: #000;}
ul.t-each li .r-mes .mes-down .more{display:block;float: right;}
ul.t-each li .r-mes .mes-down .ctrl{display: block;float: right;}
ul.t-each li .r-mes .out-l-mes{display: none;}
ul.t-each li .r-mes .l-mes{margin-top: 24px;}
ul.t-each li .r-mes .l-mes span.tit{color: #000;font-weight: bold;}
ul.t-each li .r-mes .l-mes img.mes-head{width: 44px;height: 44px;float: left;}
ul.t-each li .r-mes .l-mes .mes-dlg{margin-left: 50px;}
ul.t-each li .r-mes .l-mes .mes-dlg .date{float:left;margin-top:12px;color: #aaa;}
.out-l-mes .mes-text{margin-top:14px;padding:0 8px;width: 710px;height:40px;line-height:40px;outline: none;border: 1px #000 solid;border-radius: 5px;}
.out-l-mes .mes-btn{float:right;width: 70px;height: 30px;border: 1px #00a8ff solid;border-radius: 5px;color: #00a8ff;cursor: pointer;outline: none;}
.out-l-mes .mes-btn:hover{color: #fff;background: #00a8ff;}
.out-l-mes .mes-out{width: 728px;margin-top: 10px;}
.out-l-mes .slide-up{margin:0 auto;display: block;width: 30px;height: 36px;background: url(../Image/new_pic/slide-up.png) no-repeat; cursor: pointer;}


/*购买服务*/
.buyServ-main{margin: 0 auto;}
.p-money{padding-top:50px;margin:0 auto;width: 400px;height: 150px;}
.p-money a{margin:50px auto;display: block;width: 150px;height: 40px;color: #fff;background: #ed1c24;text-align: center;line-height: 40px;font-size: 16px;}
.p-money p{text-align:center;font-size: 16px;color: #000;line-height: 24px;}

.buyServ-ban{display:block;width: 1100px;overflow: hidden;}
.buyServ-tit{margin-top:20px;font-size: 18px;color: #3676bf;line-height: 2.5;border-bottom: 1px #3676bf solid;}
.fee-std td{border-right:1px #e7e7e7 solid;padding: 15px;}
.fee-std .b-none{border-right: none;}
.fee-std .fee-fline{font-size: 14px;color: #999;background: #fafafa;}
.fee-std .fee-fline .fee-tit{font-size: 16px;color: #3676bf;border-right: 1px #bcd5f2 solid;border-bottom:1px #bcd5f2 solid;background: #f2f8ff; text-align: center;}
.fee-std .fee-eline{border-bottom: 1px #e7e7e7 solid;}
.fee-std .fee-inline{font-size: 14px;color: #333;}
.fee-std td.sin-pri{width:130px;height:4px;padding:0;text-align:center;}
.fee-ins{width: 600px;}
.fee-ins td{border-bottom: 1px #e7e7e7 solid;vertical-align: middle;}
.cond{margin-top: 40px;}
.cond .cond-btn{margin-top:20px;width: 240px;height: 40px;background: #ed1c24;color: #fff;font-size: 14px;cursor: pointer;}
/*服务合同*/
.s-contract{padding: 0 100px 30px 100px;}
.s-contract .c-title{text-align:center;font-size: 20px;font-weight: bold;color: #000;}
.s-contract p{line-height:24px;font-size: 14px;}
.s-contract .c-btns{margin-top: 50px;}
.s-contract .c-btns .btn{float:left;margin-left:20px;width: 200px;height: 40px;color: #fff;font-size: 14px;cursor: pointer;}
.s-contract .c-btns .btn-r{background: #ed1c24;}
.s-contract .c-btns .btn-g{background: #aaa;}
.s-contract .sign{font-size:16px;vertical-align: middle;}
.s-contract input{width:200px;margin-left:9px;border:1px #999 solid;vertical-align: middle;}
.s-contract .pri-std{width: 100%;text-align: center;}
.s-contract .pri-std td{border:1px #eee solid;padding:15px;width: 80px;}


/*推广营销渠道*/

/*二维码渠道*/

.offl-sty{position: relative;}
.offl-sty .img{position:absolute; top:30px;right: 36px;}
.offl-sty .img2{position: absolute;top: 80px;right: 80px;}
.offl-sty .up{}
.offl-sty .up .tit{font-size: 36px;font-weight: normal;line-height: 1.5;}
.offl-sty .up p{font-size: 18px;line-height: 1.5;}
.offl-sty .up .btn{display: block;width: 156px;height: 46px;font-size: 18px;line-height: 46px;text-align: center;}
.offl-sty .down{height: 100px;}

/*产品包装*/
.offl-sty .up-pack{padding: 88px 0 0 70px;height: 238px;background: #f8f8f8;}
.offl-sty .down-pack{height: 236px;background: #d4d4d4;}
.offl-sty .up-pack .tit-pack{color: #666;}
.offl-sty .up-pack p{margin-top:10px;color: #999;}
.offl-sty .up-pack .btn-pack{position:absolute;margin-top:15px;color: #666;border: 2px #919191 solid;}

/*企业名片*/
.offl-sty .up-card{padding: 88px 0 0 70px;height: 238px;background: #eaf6ff;}
.offl-sty .down-card{height: 236px;background: #aed2eb;}
.offl-sty .up-card .tit-card{color: #559ed1;}
.offl-sty .up-card p{margin-top:10px;color: #559ed1;}
.offl-sty .up-card .btn-card{position:absolute;margin-top:15px;color: #559ed1;border: 2px #559ed1 solid;}

/*桌台卡*/

.offl-sty .up-tlist{padding: 88px 0 0 70px;height: 238px;background: #f2f7e9;}
.offl-sty .down-tlist{height: 236px;background: #cbe49d;}
.offl-sty .up-tlist .tit-tlist{color: #7aaa22;}
.offl-sty .up-tlist p{margin-top:10px;color: #7aaa22;}
.offl-sty .up-tlist .btn-tlist{position:absolute;margin-top:15px;color: #7aaa22;border: 2px #9fc06d solid;}

/*其他*/
.offl-sty .up-others{padding: 88px 0 0 70px;height: 238px;background: #fff;}
.offl-sty .down-others{height: 236px;background: #f0f0f0;}
.offl-sty .up-others .tit-others{color: #999;}
.offl-sty .up-others p{margin-top:10px;color: #999;}
.offl-sty .up-others .btn-others{position:absolute;margin-top:15px;color: #1875d4;border: 2px #1875d4 solid;}

/*DM单*/
.offl-sty .up-dm{background:#eee1ff;height:264px;padding: 36px 0 0 60px;}
.offl-sty .down-dm{background: #ddcaf7;}
.offl-sty .up-dm .tit-dm{color: #2e1059;}
.offl-sty .up-dm p.dm{color: #2f1059;}
.offl-sty .up-dm .btn-dm{margin-top:22px;border:2px #2f1059 solid;color: #2f1059;}
.offl-sty .data{margin-top: 100px;}
.offl-sty .data .tit{color: #666;font-weight: bold;font-size: 24px;text-align: center;}
.offl-sty .data p{padding-right:136px;text-align:right;line-height:1.5;color: #878787;}
.offl-sty .data p i{display: inline-block;*display: inline;*zoom:1;width: 24px;height: 12px;margin-right:8px;margin-top:2px;border-radius: 2px;}
.offl-sty .data p .c1{background: #ddcaf7;}
.offl-sty .data p .c2{background: #ffd213;}
.offl-sty .data .pic{margin:30px auto;margin-bottom:150px;width: 654px;height: 208px;background: url(../Image/new_pic/dm2.png) no-repeat;}

/*企业海报*/
.offl-sty .up-hb{background: #faf8f5;height:228px;padding: 72px 0 0 78px;}
.offl-sty .down-hb{background: #e2d1bd;}
.offl-sty .up-hb .tit-hb{color: #832e00;}
.offl-sty .up-hb p.hb{color: #974700;}
.offl-sty .up-hb .btn-hb{margin-top: 30px;border:2px #832e00 solid;color: #832e00;}

/*二维码标签*/
.offl-sty-ewm{width:770px;height:330px;padding:70px 0 0 60px;background: url(../Image/new_pic/ewm1.png) no-repeat;}
.offl-sty-ewm .tit-ewm{color:#1d4e6e;}
.offl-sty-ewm p{color:#1d4e6e; }
.offl-sty-ewm .btn-ewm{color: #1d4e6e;border:2px #1d4e6e solid;}
.exmp-ewm1{padding: 0 32px;height:370px;background: url(../Image/new_pic/ewm2.png) no-repeat 395px 66px;border-bottom: 1px #eee solid;}
.exmp-ewm1 .tit{padding-top:132px;font-size: 24px;color: #000;}
.exmp-ewm1 p{font-size: 20px;color: #000;line-height: 1.5;}
.exmp-ewm2{padding: 88px 32px;height: 290px;background: url(../Image/new_pic/ewm3.png) no-repeat 0 86px;}
.exmp-ewm2 .tit{font-size: 24px;color: #000;}
.exmp-ewm2 p{font-size: 20px;color: #000;line-height: 1.5;}


/*互联网渠道*/
.online-sty{position: relative;}
.online-sty .up{height: 326px;background: #f8f8f8;}
.online-sty .down{height: 236px;background: #d4d4d4;}
.online-sty .up .tit{font-size: 36px;font-weight: normal;line-height: 1.5;}
.online-sty .up p{font-size: 18px;line-height: 1.5;}
.online-sty .up .btn{display: block;width: 156px;height: 46px;font-size: 18px;line-height: 46px;text-align: center;}

/*sns渠道*/

.online-sty .img-sns{position: absolute;left: 56px;top:100px;}
.online-sty .img-intnet{position: absolute;top: 80px;left: 16px;}
.online-sty .up-sns{padding-left: 530px;padding-top: 150px;}
.online-sty .up-sns .tit-sns{color: #666;}
.online-sty .up-sns p{color: #999;}
.online-sty .up-sns .btn-sns{position:absolute;margin-top:15px;color: #666;border: 2px #666 solid;}

.online-sty .down-sns{height: 324px;border-bottom: 1px #e6e6e6 solid;}
.online-sty .down-sns .tit{font-size: 30px;color: #797979;}
.online-sty .down-sns .img1{padding:64px;}
.online-sty .down-sns .tit1{padding-top: 132px;}
.online-sty .down-sns .img2{padding:46px 72px 40px 0;}
.online-sty .down-sns .tit2{padding-top: 140px;padding-left: 100px;}
.online-sty .down-sns .img3{padding: 44px 54px;}
.online-sty .down-sns .tit3{padding-top: 132px;padding-left: 496px;}


/*其他渠道*/
.online-sty .img-other-can{position: absolute;top: 76px;right: 66px;}
.online-sty .up-other-can{padding-top: 110px;padding-left: 66px;}
.online-sty .up-other-can .tit-ocan{color: #666;}
.online-sty .up-other-can p{color: #999;}
.online-sty .up-other-can .btn-ocan{position:absolute;margin-top:15px;color: #666;border: 2px #666 solid;}




/*员工分享*/
.offl-sty .up-share{padding: 76px 0 0 70px;height: 248px;background: #fff6f4;}
.offl-sty .img-emp-share{position: absolute;bottom: 0;left: 80px;}
.offl-sty .down-share{height: 236px;background: #f08467;}
.offl-sty .up-share .tit-share{color: #f06038;}
.offl-sty .up-share p{line-height:1.2;color: #f06038;}
.offl-sty .up-share .btn-share{position:absolute;margin-top:15px;color: #f06038;border: 2px #f16239 solid;}


/*付费渠道*/
.offl-sty .up-fee{padding: 56px 0 0 70px;height: 268px;background: #fff;}
.offl-sty .fee-img{position: absolute;bottom: 48px;right: 68px;}
.offl-sty .down-fee{height: 236px;background: #e0e0e0;}
.offl-sty .up-fee .tit-fee{color: #666;}
.offl-sty .up-fee p{line-height:1.3;color: #666;}
.offl-sty .up-fee .btn-fee{width:178px;position:absolute;margin-top:15px;color: #dd0008;border: 2px #d50009 solid;}

/*异业合作渠道*/
.offl-sty .up-yyhz-qd{padding: 56px 0 0 70px;height: 268px;background: #fff;}
.offl-sty .down-yyhz-qd{height: 236px;background: #efefef;}
.offl-sty .up-yyhz-qd .tit-yyhz-qd{color: #999;}
.offl-sty .up-yyhz-qd p{line-height:1.3;color: #999;}
.offl-sty .up-yyhz-qd .btn-yyhz-qd{width:190px;position:absolute;margin-top:15px;color: #999;border: 2px #d1d1d1 dashed;text-decoration: none;cursor:default; }

/*组合列表*/
.ActListForm { position:relative; width:340px; height:auto; background:#fff; border-radius:2px;border: #bbb 1px solid;}
.ActListForm .ActList { position:relative; margin:10px 10px 0 10px; border-radius:2px; border: solid 1px #ddd; height:65px; overflow:hidden;}
.ActListForm .ActList.last { border-bottom:none;}
.ActListForm .ActList .ActListopr { position:absolute; top:65px; width:100%; height:65px; background: url(../Image/useropr-bg.png) repeat 0 0; text-align:center;}
.ActListForm .ActList .ActListopr i { margin:17px 5px; display:inline-block; width:26px; height:26px; overflow:hidden; cursor:pointer;}
.ActListForm .ActList .ActListopr i.opr-del { background: url(../Image/icon-form.png) no-repeat -280px -39px;}
.ActListForm .ActList .ActListopr i.opr-edit { background: url(../Image/icon-form.png) no-repeat -310px -39px;}
.ActListForm .ActList:hover .ActListopr { top:0;}
.ActListForm .ActList .img { float:left; width:75px; height:65px; overflow:hidden;}
.ActListForm .ActList .img img { width:100%; height:100%;}
.ActListForm .ActList .text { margin-left:85px; margin-right:5px;}
.ActListForm .ActList .text h3 { margin:0; border:none; padding:0; font-size:16px; color:#333; font-weight:normal; line-height:25px; height:25px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.ActListForm .ActList .text p { font-size:12px; color:#999; max-height:40px; line-height:20px; overflow:hidden;}

.ActListForm .addAct { position:relative; margin-top:10px;width:100%;height:30px; background:#f7f7f7;cursor:pointer; border-top:solid 1px #bbb; box-shadow:0 2px 2px rgba(0,0,0,.1) inset;}
.ActListForm .addAct.hide { height:0px; border:none; overflow:hidden;}
.ActListForm .addAct:hover { background:#eee;}
.ActListForm .addAct i { position: absolute;top: 50%;margin-top: -6px;left: 50%;margin-left: -6px;width: 11px;height: 11px;background: url(../Image/icon-msg.png) no-repeat -409px -98px;display: block;opacity: 0.3;filter: alpha(opacity=30);}
.ActListForm .addAct:hover i { display:none;}
.ActListForm .addAct span { position: absolute;top: 50%;margin-top: -13px;left: 50%;margin-left: -100px; width:200px; height:26px; line-height:26px; text-align:center; display:none; font-size:14px;}
.ActListForm .addAct:hover span { display:block; color:#666;}

#Phonewrapper { position: relative; top:0; padding-top:46px; left:0; bottom:0; z-index:1; margin:0 auto; width:100%; overflow:hidden; min-height:90%; -webkit-transition:all 0.2s;}
#Phonewrapper.bgfff { background:#fff; min-height:92%;}
#Phonemain { position:relative; min-height:100%; overflow:hidden;}
#Phonefooter { padding:15px 0 5px 0; width:100%; height:20px; line-height:20px; text-align:center; font-size:12px; color:#999;}
#Phonefooter a { color:#999;}
#Phoneheader { position: absolute; top:0; left:0; z-index:2; width:100%; height:45px; border-top:solid 1px #ccc; border-bottom: 1px solid #ccc; background:#fff; text-align:center;}
#Phoneheader h1 { position:absolute; left:30px; top:0px; width:260px; text-align:center; line-height:45px; font-size:18px; font-weight:normal; color:#333;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
#Phoneheader i { position:relative; z-index:2; width:45px; height:45px; background-size:100% auto;}
#Phoneheader i.icon-back { background-image:url(../Label/Image/activitylist/header3.png);}
/*----------------------------------  Global结束  ------------------------------------*/

.dateNav { width:100%; border-bottom: 1px solid #eee; background:#fff;}
.dateNav ul { width:100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;}
.dateNav ul li {float: none; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;}
.dateNav ul li a { padding:10px 0; display:block; font-size:16px; text-align:center; color:#333;}
.dateNav ul li a.hover { color:#ed3f41; border-bottom:solid 1px #ed3f41;}

.dateSideNav { position:relative; z-index:3; width:100%; background:#fff;}
.dateSideNav ul { margin:0 10px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;}
.dateSideNav ul li { padding:10px 0; float: none; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;}
.dateSideNav ul li a { display:block; padding:5px; font-size:16px; text-align:center; color:#757982; border:solid 1px #757982; margin-left:-1px;}
.dateSideNav ul li.hover a { color:#fff; background:#757982;}
.dateSideNav ul li:first-child a { border-radius:3px 0 0 3px;}
.dateSideNav ul li:last-child a { border-radius:0 3px 3px 0;}

.TabNav { position:relative; z-index:3; padding-top:10px; width:100%; background:#f6f6f6;}
.TabNav ul { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; background:#fff;}
.TabNav ul li { position:relative; padding:10px 0; float: none; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; border-bottom:solid 1px #eee;}
.TabNav ul li a { display:block; font-size:14px; text-align:center; color:#333; text-indent:8px;}
.TabNav ul li a i { display:inline-block; margin-left:3px; width:13px; height:8px; background-repeat:no-repeat; background-size:100% auto;}
.TabNav ul li a i { background-image:url(../Label/Image/activitylist/icon-2.png);}
.TabNav ul li.hover:after { position:absolute; bottom:-1px; left:50%; margin-left:-4px; width:9px; height:5px; content:""; background-image:url(../Label/Image/activitylist/icon-4.png); background-repeat:no-repeat; background-size:100% auto;}
.TabNav ul li.hover a i { background-image:url(../Label/Image/activitylist/icon-3.png);}
.TabNav ul li.open a i { background-image:url(../Label/Image/activitylist/icon-1.png);}
.TabNav ul li.open a { color:#ed3f41;}
.TabNav ul li:first-child a { border-right:solid 1px #eee;}
.TabNav ul li .TabNavList { position:absolute; top:39px; left:0; width:200%; background:#fff;}
.TabNav ul li:last-child .TabNavList { left:-100%;}
.TabNav ul li .TabNavList dl { margin-left:15px; height:0px; max-height:164px; overflow:auto;-webkit-overflow-scrolling : touch;}
.TabNav ul li.open .TabNavList dl { height:164px;}
.TabNav ul li .TabNavList dl dd { position:relative; height:40px; line-height:40px; border-bottom:solid 1px #eee;}
.TabNav ul li .TabNavList dl dd:last-child { border-bottom:0;}
.TabNav ul li .TabNavList dl dd a { display:block; text-align:left; color:#333;}
.TabNav ul li .TabNavList dl dd.hover:after { position:absolute; right:15px; top:50%; margin-top:-5px; width:15px; height:10px; content:""; background-image:url(../Label/Image/activitylist/icon-5.png); background-repeat:no-repeat; background-size:100% auto;}
.TabNavbg { position: fixed; z-index:2; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6);}
.TabNavbg + .normalList { margin-top:0px;}
.TabNavbg + .colorList { margin-top:0px;}

.bannerImg { position:relative; z-index:3; width:100%; height:auto; line-height:0;}
.bannerImg img { width:100%; height:auto;}

.normalList { position:relative; z-index:1; margin-top:10px; border-bottom: 1px solid #eee; background:#fff; padding-bottom:10px;}
.normalList dl { margin-left:15px;}
.normalList dl dd { position:relative; height:auto; overflow:hidden; border-bottom: 1px solid #eee;}
.normalList dl dd a { display:block; height:auto; overflow:hidden; padding:8px 5px 8px 0; color:#333;}
.normalList dl dd:nth-last-child(2) {border-bottom:0;}
.normalList dl dd .img { float:left; width:75px; height:65px; overflow:hidden;}
.normalList dl dd .img img { width:100%; height:100%;}
.normalList dl dd .text { margin-left:85px;}
.normalList dl dd .text h3 { font-size:16px; color:#333; font-weight:normal; line-height:25px; height:25px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.normalList dl dd .text p { font-size:12px; color:#999; max-height:40px; line-height:20px; overflow:hidden;}

.colorList { position:relative; z-index:1; margin-top:10px; background:#fff; height:auto; overflow:hidden; padding-bottom:10px;}
.colorList dl { margin:0 15px;}
.colorList dl dd { position:relative; height:auto; overflow:hidden; border-radius:4px; background-color:#4ed6b2; background-image:url(../Label/Image/activitylist/icon-6.png); background-repeat:no-repeat; background-position:right center; background-size: auto 21px; margin-top:15px;}
.colorList dl dd a { display:block; height:auto; overflow:hidden; padding:8px 0 8px 0; color:#333;}
.colorList dl dd:nth-child(n) { background-color:#4ed6b2;}
.colorList dl dd:nth-child(2n) { background-color:#fec047;}
.colorList dl dd:nth-child(3n) { background-color:#6fb2e7;}
.colorList dl dd:nth-child(4n) { background-color:#ff5b5a;}
.colorList dl dd .img { margin-left:15px; float:left; width:50px; height:50px; overflow:hidden;}
.colorList dl dd .img img { width:100%; height:100%;}
.colorList dl dd .text { margin-left:75px; padding-right:40px;}
.colorList dl dd .text h3 { font-size:16px; color:#fff; font-weight:normal; line-height:25px; height:25px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.colorList dl dd .text p { font-size:12px; color:#fff; max-height:25px; line-height:25px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}

#infscr-loading { text-align:center; padding:5px 0;}
#infscr-loading img {}
#infscr-loading div { position:relative; top:-3px; margin-left:5px; display:inline-block; color:#999; font-size:12px;}

/*微网站 选择颜色*/

.choose-color { width:100%; height:auto; overflow:hidden;}
.choose-color + p { color:#999; font-size:12px;}
.choose-color dd { width:25px; height:25px; overflow:hidden; float:left; margin-left:5px; margin-bottom:2px; margin-right:2px;}
.choose-color .choose-color-val { width:19px; height:19px; border:solid 3px #f8f8f8; cursor:pointer;}
.choose-color .colorVal-1 { background:#f2b216;}
.choose-color .colorVal-2 { background:#592257;}
.choose-color .colorVal-3 { background:#545456;}
.choose-color .colorVal-4 { background:#52c7e8;}
.choose-color .colorVal-5 { background:#66ab26;}
.choose-color .colorVal-6 { background:#e44b58;}
.choose-color .colorVal-7 { background:#a05000;}
.choose-color .colorVal-8 { background:#1875d4;}
.choose-color .colorVal-9 { background:#fc5366;}
.choose-color .colorVal-10 { background:#ff8a4a;}
.choose-color .colorVal-11 { background:#ebb70c;}
.choose-color .colorVal-12 { background:#01cad4;}
.choose-color .colorVal-13 { background:#1bc266;}
.choose-color .colorVal-14 { background:#5dade2;}
.choose-color .colorVal-15 { background:#c0db36;}
.choose-color .colorVal-16 { background:#faca38;}
.choose-color .colorVal-17 { background:#ee72b1;}
.choose-color .colorVal-18 { background:#ffba31;}
.choose-color .colorVal-19 { background:#88c8ff;}
.choose-color .colorVal-20 { background:#87dad2;}
.choose-color .colorVal-21 { background:#ffa9b2;}
.choose-color .colorVal-22 { background:#f5976c;}
.choose-color .colorVal-23 { background:#c3de67;}
.choose-color .colorVal-24 { background:#62e2ff;}
.choose-color .colorVal-25 { background:#dac4ae;}
.choose-color .colorVal-26 { background:#cea0d7;}
.choose-color .choose-color-val.color-hover { border:solid 3px #b60000;}

.choose-icon { width:100%; height:auto; overflow:hidden;}
.choose-icon + p { color:#999; font-size:12px;}
.choose-icon dd { width:50px; height:50px; overflow:hidden; float:left; margin-left:5px; margin-bottom:3px; margin-top:2px;}
.choose-icon .choose-icon-val { width:44px; height:44px; border:solid 3px #f8f8f8; cursor:pointer;}
.choose-icon .choose-icon-val img{ width:44px; height:44px;}
.choose-icon .choose-icon-val.icon-hover { border:solid 3px #b60000;}