/*公共样式重写*/
.w164{ width:164px;}
.main-name {padding-bottom: 10px;}
input[type=submit]:hover{ border:0;}
i.icon-shop-Billboard {background: url(../Image/icon-shop2.png) no-repeat -30px -126px;}
.textbox, .selectbox, .texttextarea, .texttextarea2, .textbox-s, .selectbox-s {border: #c7c7c7 1px solid;}
input[type=text], input[type=password], select, textarea { border: #c7c7c7 1px solid; }
/*表单样式重写*/
.Gform .Ginput input[type=text]{ padding-right:2px;}
.Gform .Ginput .Gtime2 em {border-top: solid 1px #c7c7c7; border-bottom: solid 1px #ddd;}
.Gform.eTicket {width: 830px;}
.Gform.eTicket .Gnmae { width:150px; text-align:right; line-height:28px; position:absolute; vertical-align:middle; left:0; font-size:14px;}
.Gform.eTicket .Ginput { padding:12px 0 0 164px; position:relative; font-size:14px;}
.Gform.eTicket .Ginput input[type=text] {width: 305px;}
.Gform.eTicket .Ginput select {width: 150px; line-height:26px; color:#666666;}
.Gform.eTicket .Ginput select.n2 {width: 322px;}
.Gform.eTicket .Ginput select.n3 {width: 213px;}
.Gform.eTicket .Ginput textarea {width: 301px;}
.Gform.eTicket .Ginput .maxTips.forInput,
.Gform.eTicket .Ginput .maxTips.forArea {left: 426px;}
.Gform.eTicket .Ginput .Gchoose {width: 610px;}
.Gform.eTicket .Ginput .Gadd {width: 536px;}
.Gform.eTicket .Ginput .Gedit {width: 592px;}
.Gform.eTicket .Ginput .Gadd .maxTips,
.Gform.eTicket .Ginput .Gedit .maxTips {left: auto;}
.Gform.eTicket .Ginput .Gtime1.special input[type=text] {width: 475px;}
.Gform.eTicket .Ginput .Gtime1.special em.em2 {left: 560px;}
.Gform.eTicket .Ginput .Gtime2 input[type=text] {width: 254px;}
.Gform.eTicket .Ginput .Gtime2 em:after {left: 312px;}
.Gform.eTicket .Ginput .switch {width: 647px;}
.Gform.eTicket .Ginput .switch .Gchoose {width: 528px;}
.Gform.eTicket .Ginput .switch .newRadio-default input[type=text] {width: 209px;}
.Gform.eTicket .Ginput .switch .newRadio-input input[type=text] {width: 196px;}
.Gform.eTicket .Ginput .switch .Gtime2 input[type=text] {width: 40px;}
.Gform.eTicket .Ginput .switch .Gtime2 em:after {left: 271px;}
em:first-child{border-left: solid 1px #c7c7c7;}
.Gform.eTicket .Ginput .Gtime1 em:before {width: 20px;height: 20px;position: absolute;top: 3px;left: -23px;background: url(../Image/icon-form.png) no-repeat -20px 1px;content: "";}
.Gform.eTicket .Ginput .Gtime1 input{ width:135px;}
.Gform.eTicket .Ginput img{ /*border:1px #bbbbbb solid*/}

/*大标题icon*/
.icon-Eticket{ width:20px; height:20px; display:inline-block; vertical-align:middle; background:url(../Image/eTicket/icon-eTicket.png) no-repeat; margin-right:8px; overflow:hidden}
.no1{ background-position:0 -248px;}
.no2{ background-position:-89px -248px;}
.no3{ background-position:-29px -249px;}
.no4{ background-position:-59px -249px;}
.no5{ background-position:0px -139px;}
.no6{ background-position:-119px -249px;}
/*左侧菜单*/
.Eticket_nav{font-size: 14px;}
.Eticket_nav .leftmenu_title{ background-color:#f5f5f5; font-size:14px; color:#000; line-height:40px; text-align:center; font-weight:bold; padding-left:0;}
.Eticket_nav dl{padding: 15px 0;}
.Eticket_nav dt{padding-left: 35px; color: #999; font-size:14px; line-height:35px; font-weight:bold; padding-bottom:5px;} 
.Eticket_nav dd{ padding-left:60px; font-size:14px; line-height:30px; color:#000;}
.Eticket_nav dd:hover{ background-color:#f5f5f5; color:#000;}
.Eticket_nav dd a{color: #000; display:block; width:100%; text-overflow: ellipsis; text-decoration:none}
.Eticket_nav dd a.hover{color: #ed1c24; background-color:#ed1c24}
.Eticket_nav .hover{color: #FFF; background-color:#ed1c24}
.Eticket_nav .hover:hover{color: #FFF; background-color:#ed1c24}
.Eticket_nav .hover a{ color:#FFF; text-decoration:none;}
.Eticket_nav dt i{ width:16px; height:16px; vertical-align:middle; display:inline-block; background:url(../Image/eTicket/icon-eTicket.png) no-repeat; overflow:hidden; margin-right:8px}
.Eticket_nav dt i.icon_et1{ background-position:0 -165px;}
.Eticket_nav dt i.icon_et2{background-position:0 -182px;}
.Eticket_nav dt i.icon_et3{background-position:0 -200px;}
.line-bottom{border-bottom: 1px solid #e1e1e1;}

/*面包屑导航*/
.Eticket_breadcrumbs{ font-size:14px; padding-bottom:10px;}
.Eticket_breadcrumbs a{ color:#000000;}
.Eticket_breadcrumbs a:hover{ color:#ed1c24;}

/*faq*/
.shopSub {width: 100%;float: left;margin-right: -270px;}
.shopSide {position: relative;z-index: 2;float: right;width: 270px;}

/*卡券首页*/
.Wcanal-tab .Wcanal-tab-list {border-top: solid 2px #e5e5e5;margin-top: -2px;}
.Wcanal-tab .Wcanal-tab-title p{ margin-left:0; border:0px #dfdfdf solid; border-left:0; font-size:16px; height:38px; line-height:38px; padding:0; background:url(../Image/eTicket/line.png) center right no-repeat;}
/*.Wcanal-tab .Wcanal-tab-title p:after{ content:"|"; color:#ddd; height:10px; width:1px;}*/
.Wcanal-tab .Wcanal-tab-title p a{ line-height:38px; font-family:"microsoft yahei"; font-size:16px; padding:0 25px; text-align:center; text-decoration:none}
.Wcanal-tab .Wcanal-tab-title p a:hover{color: #ed1c24;  line-height:38px; font-family:"microsoft yahei"; font-size:16px; padding:0 25px; text-align:center; text-decoration:none}
.Wcanal-tab .Wcanal-tab-title .Wcanal-tab-hover{ border:0;border-bottom:2px #ed1c24 solid;background:url(../Image/eTicket/line.png) center right no-repeat}
.Wcanal-tab .Wcanal-tab-title .Wcanal-tab-hover a {color: #ed1c24; font-weight:bold;float: left;}
.redfont{ color:#ed1c24; font-size:14px;}

/*更多筛选条件*/
.shop-search{ margin-top:20px;border: solid 5px #f2f2f2; padding:10px; padding-right:10px}
.shop-search input[type=text],.shop-search select{ padding: 3px 6px 3px 6px; line-height:20px; border:1px #dfdfdf solid}
.shop-search input[type=text]:hover,.shop-search select:hover{border: 1px solid #33c1ea;}

.shop-search a.btn-all { width:55px; border: solid 1px #ffd0d3;background: #fff2f3;color: #f15755; position:absolute; right:84px;}
.shop-search i.icon_extend{ width:9px; height:7px; display:inline-block; float:right; margin:12px 0 0 4px; background:url(../Image/eTicket/icon_extend.png) no-repeat;}
.shop-search .active i.icon_extend{ width:9px; height:7px; display:inline-block; float:right; margin:12px 0 0 4px; background:url(../Image/eTicket/icon_extend.png) no-repeat;transform:rotate(180deg);}
.more-filter{ vertical-align:middle; line-height:30px; padding-right:13px; background:url(../Image/eTicket/icon_extend.png) right no-repeat; float:right}
.more-filter.active{ vertical-align:middle; line-height:30px; padding-right:13px; background:url(../Image/eTicket/icon_extend-active.png) right no-repeat;}


.shopTable {width: 100%;border-collapse: separate; table-layout: auto;}
.shopTable th{ /*border: solid 1px #e3e3e3; border-right:0*/}
.shopTable th:first-child{ border-left: solid 1px #e3e3e3;}
.shopTable th:last-child{ border-right: solid 1px #e3e3e3;}
.shopTable tr{border-right: solid 1px #e3e3e3; border-left: solid 1px #e3e3e3; }
.shopTable tr td{ padding:8px 10px;}
.shopTable tr td:last-child{ border-right: solid 1px #e3e3e3;}
.shopTable td.title {padding-left: 10px;vertical-align: middle;line-height: 38px;border: solid 1px #e3e3e3; border-right:0; border-left:0; background: #f7f7f7;margin-top: 20px;text-align: left;position: relative;top: 10px;z-index: 3; padding:0px 10px;}
.shopTable tr.title td.title:last-child{ text-align:right}
.shopTable tr.title td:first-child{ border-left: solid 1px #e3e3e3;}
.shopTable td.title a{ color:#4d4d4d; text-decoration:none; cursor:pointer}
.shopTable td.title a:hover{ color:#ed1c24}

.shopTable tr.hover{}
.shopTable tr.hover td {border:solid 1px #aab8da; border-top:none; border-right:none; *border-left:none; }
.shopTable tr.hover td.title { border-bottom:none; background:#d8deeb; border: solid 1px #aab8da; border-left:0; border-right:0}
.shopTable tr.hover td.title:last-child{ border-right:solid 1px #aab8da;}
.shopTable tr.hover td.title:first-child{ border-left:solid 1px #aab8da;}
.shopTable tr.hover td:last-child{ border-right:solid 1px #aab8da;}
.shopTable tr.hover td:first-child{ border-left:solid 1px #aab8da;}
.shopTable td {font-size: 14px;}
.icon_list{ float:right; margin-top:5px;}
a.btn-add,a.btn-down,a.close{display: inline-block;width: auto;height: 20px;line-height: 20px;text-align: center; box-shadow: 1px 1px 1px rgba(0,0,0,0.1); padding:0 10px}
a.btn-add{margin-left: 20px;border: solid 1px #ffd0d3;background: #fff2f3;color: #f15755;}
a.btn-down{margin-left: 10px;border: solid 1px #b5d5f5;background: #f5faff;color: #69a6e2;}
a.btn-add i,a.btn-down i{position: relative;top: -2px;display: inline-block;width: 16px; height: 12px;vertical-align:middle}
a.btn-add i{background: url(../Image/icon-shop2.png) no-repeat -70px -60px;}
a.btn-down i{background:url(../Image/icon-shop2.png) no-repeat -90px -60px;}

/*
format
*/
.format{}
.format ul li{float:left; line-height:24px; text-align:left; padding:10px 5px 10px 5px}
.format ul li img{ width:85px; height:60px; padding:2px; border:1px #ebebeb solid;}
.format ul li:first-child{ width:95px; padding-right:0; padding-left:15px;}
.format ul li span{ display:block; color:#666666;}
.format ul li span.grayfont{ color:#999999; font-size:12px; line-height:16px;}
.format ul li i{background: url(../Image/eTicket/icon-eTicket.png) no-repeat; width:30px; height:20px; overflow:hidden; display:inline-block; margin-right:5px; margin-top:5px;}
.format ul li i.eicon1{ background-position:0px -224px;}
.format ul li i.eicon2{ background-position:-35px -224px;}
.format ul li i.eicon3{ background-position:-70px -224px;}
.format ul li i.eicon4{ background-position:-105px -224px;}


/*数据统计*/
.renrenle_static{border:1px #ccc solid; margin:10px 0;}
.renrenle_static .shopMyshop-mypro { margin-top:15px; padding:0 20px 0 0; float:none; border-right:dashed 1px #dedede; width:95%;}
.renrenle_static .shopMyshop-mypro.last { margin-top:15px; padding:0 0 0 20px; border:none;}
.renrenle_static .shopMyshop-mypro dt { padding:0 0 20px 0; color:#f7505a; font-size:14px;}
.renrenle_static .shopMyshop-mypro dt a { float:right; font-size:12px; color:#999999;}
.renrenle_static .shopMyshop-mypro dt b { font-size:16px;}
.renrenle_static .shopMyshop-mypro dt span { margin-left:10px;}
.renrenle_static .shopMyshop-mypro dd { width:100%; overflow:hidden;}
.renrenle_static .shopMyshop-mypro dd .shopMyshop-mypro-Graph { height:auto; overflow:hidden;}
.renrenle_static .shopMyshop-mypro dd ul { margin-top:5px; padding:10px 0; width:370px;background: #f3f9fe;}
.renrenle_static .shopMyshop-mypro dd ul li { float:left; width:121px; border-right: dashed 1px #dedede; text-align:center;}
.renrenle_static .shopMyshop-mypro dd ul p { font-size:18px;}
.renrenle_static .shopMyshop-mypro dd ul span { color:#333;}
.renrenle_static .shopMyshop-mypro dd ul.yesterday p { color:#999;}
.renrenle_static .shopMyshop-mypro dd ul.today p { color:#0077dd;}


/*卡券编辑*/
.eTicket_form{}
.eTicket_form .edit_area_form{ float:left; padding-left:20px; width:600px}
.eTicket_form .edit_area_form .global-input6-name{ width:107px;}
.eTicket_form .edit_area_form .global-input6-input{ width:auto;}
.edit_area_form h2{ font-size:18px; color:#000; padding-left:20px;}
.eTicket_form_OK_tip{}
.eTicket_form_OK_tip_img{ background:url(../Image/eTicket/ok.png) no-repeat; margin-left:70px; width:175px; height:175px; display:inline-block; float:left}
/*编辑卡券左侧图片*/
.eTicket_form .edit_area_img{width:222px; height:235px;float:left;}
.eTicket_form .edit_area_img .bigbox img{ height:162px; width:216px; padding:2px; border:1px #ebebeb solid}

.eTicket_form .edit_area_img .smailbox{width:222px; height:68px; margin:0px 6px 0 auto;}
.eTicket_form .edit_area_img .tubox{ width:222px; height:68px; float:left; margin-right:-40px;}
.eTicket_form .edit_area_img .tubox ul{ height:68px;}
.eTicket_form .edit_area_img .tubox ul li{ height:68px; float:left;display:inline; margin-right:6px;}
i.img-del-icon{ background:url(../Image/eTicket/img-del-icon.png) no-repeat; width:14px; height:14px; display:block; position: relative; top:8px; right:-60px; z-index:200;}
.eTicket_form .edit_area_img .tubox ul li img{height:48px; width:68px; border:1px solid #bbbbbb; cursor:pointer}
.eTicket_form .edit_area_img #spec-list{ width:300px; height:68px; float:left; overflow:hidden;display:inline;position:relative;}

.eTicket_form_OK_tip_text{ margin-left:55px; float:left}
.eTicket_form_OK_tip_text ul{ margin:0; padding:0; list-style:none}
.eTicket_form_OK_tip_text ul li{ font-size:14px; color:#666666; line-height:30px;}
.eTicket_form_OK_tip_text ul li.tip_title{ font-size:18px;color:#000; padding-bottom:20px;}

.steps{line-height: 30px;color: #666666; font-size: 14px; border-left:4px #f15755 solid; background-color:#f3f3f3; padding-left:13px; margin-left:35px;}

/*卡券添加*/
.newRadio-input .shoplist{ text-align:center; padding-top:10px;}
.newRadio-input .shoplist li{ display:inline-block; padding:4px 18px; border:1px #ff8a00 solid; margin-right:10px; border-radius:2px;}
.newRadio-input .shoplist li.selected{ border:1px #ff8a00 solid; background:url(../Image/eTicket/corner-right.png) right bottom no-repeat;}
.newRadio-input .shoplist li:hover{ border:1px #ff8a00 solid; cursor:pointer}

.card_select{ margin-left:35px;}
.card_select div{ display:inline-block; padding:6px; margin:35px 29px 35px 0; border:1px #FFF solid; text-align:center}
.card_select div a{ text-decoration:none}
.card_select div.current{ border:1px #ff8a00 solid; background:url(../Image/eTicket/corner-right.png) right bottom no-repeat;}
.card_select div:hover{ border:1px #ff8a00 solid}
.card_select div p{ width:136px; height:100px; display:block; text-indent:-9999em}
.card_select div.card1 p{background:url(../Image/eTicket/quan1.png) center center no-repeat;}
.card_select div.card2 p{background:url(../Image/eTicket/quan2.png) center center no-repeat;}
.card_select div.card3 p{background:url(../Image/eTicket/quan3.png) center center no-repeat;}
.card_select div.card4 p{background:url(../Image/eTicket/quan4.png) center center no-repeat;}
.card_select div span{ font-size:14px; color:#000; line-height:30px; padding-left:2px;}
i.quest{ background:url(../Image/eTicket/icon_quest.png) center center no-repeat;width:14px; height:14px; display:inline-block; border-radius:14px;vertical-align:middle; margin-right:5px; padding-bottom:20px;}

.shopSubCon .card_select{ margin-left:0}
.shopSubCon .card_select div{ display:inline-block; padding:6px; margin:35px 29px 35px 0; border:1px #FFF solid; text-align:center}
.shopSubCon .card_select div a{ text-decoration:none}
.shopSubCon .card_select div.current{ border:1px #ff8a00 solid; background:url(../Image/eTicket/corner-right.png) right bottom no-repeat;}
.shopSubCon .card_select div:hover{ border:1px #ff8a00 solid}
.shopSubCon .card_select div p{ width:136px; height:100px; display:block; text-indent:-9999em}
.shopSubCon .card_select div.card1 p{background:url(../Image/eTicket/quan1.png) center center no-repeat;}
.shopSubCon .card_select div.card2 p{background:url(../Image/eTicket/quan2.png) center center no-repeat;}
.shopSubCon .card_select div.card3 p{background:url(../Image/eTicket/quan3.png) center center no-repeat;}
.shopSubCon .card_select div.card4 p{background:url(../Image/eTicket/quan4.png) center center no-repeat;}
.shopSubCon .card_select div span{ font-size:14px; color:#000; line-height:30px; padding-left:2px;}
i.quest{ background:url(../Image/eTicket/icon_quest.png) center center no-repeat;width:14px; height:14px; display:inline-block; border-radius:14px;vertical-align:middle; margin-right:5px; padding-bottom:20px;}

.path{ background:#fcfcfc; border:1px #ebebeb solid; height:50px; line-height:50px; margin:20px 0;}
.path ul{list-style: none; display: inline-block;}
.path ul li {float: left; width:30%; background:}
.path ul li a {padding-left: 15px;-webkit-border-radius: 4px 0 0 4px;-moz-border-radius: 4px 0 0 4px;-ms-border-radius: 4px 0 0 4px;-o-border-radius: 4px 0 0 4px;border-radius: 4px 0 0 4px;}
.addimg{ width:68px; height:48px; display:inline-block; background:url(../Image/eTicket/plus.png) center center no-repeat; border:1px #bbbbbb solid}

/*查看详情*/
.global-input6 ul{ margin-top:0;}
.global-input6 ul li{ padding:5px 0;}
.content_view{ border-top:2px #ffa100 solid}
.content_view ul{border-bottom:1px #ebebeb solid;}
.content_view ul{ background:#f5f5f5 url(../Image/eTicket/libg.png) repeat-y;}
.content_view ul li.global-input6-name{ width:120px; padding-right:32px; background:#f5f5f5;  }
.content_view ul li.global-input6-input{ border-left:1px #ebebeb solid; padding:10px 0 10px 26px;}
.eTicket_form .edit_area_form .global-input6-input{  width:400px;}
/*微信卡券*/
.highlight_box {padding: 9px 30px;background-color: #F4F5F9;margin-bottom: 20px;line-height: 1.6;}


/*?提示*/
.main-name h4 span i.more_tips{ width:16px; height:16px; border-radius:16px; background-color:#c3c3c3; color:#fff; padding:0; text-align:center; vertical-align:middle; font-weight:bold; font-style:normal; line-height:16px; margin:0 5px;}

.dropdown_arrow {position: absolute;left: 13px;margin-top: -8px;display: inline-block;width: 0;height: 0;border-width: 8px;border-style: dashed;border-color: transparent;border-top-width: 0;border-bottom-color: #d9dadc;border-bottom-style: solid;}
.dropdown_arrow.out {top: 0;}
.dropdown_arrow.in {border-bottom-color: #ffffff;top: 1px;}

.help_content {margin: 44px 16px 0 0;width: 350px;border: 1px solid #dfdfdf;box-shadow: none;font-size: 14px;display: none;position: absolute;top:100px;left:-7px;/*position: relative;top:100px;left:-7px;*/z-index: 5;color: #333;line-height: 1.6;background: #fff;border-left: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf;white-space: normal;border-radius:3px;}


/*///////////////////////////////////////////////////*/
i.tip_icon{ width:150px; height:29px; display:inline-block; background:url(../Image/eTicket/tip_icon.gif) left top no-repeat; color:#333; font-size:12px; font-weight:100; padding-left:25px; font-style:normal; text-decoration:underline;display:block; padding-bottom:30px;}
.tooltip { width:220px;padding:10px 20px;border-radius:2px;position:absolute;box-shadow:1px 1px 1px 0px #ccc; border:1px #ccc solid; margin: 100px 0 0 -20px;display:none;background:#fff;-webkit-transition:margin .5s ease-in-out;-moz-transition:margin .5s ease-in-out;}
.tip_icon:hover .tooltip {display:block;margin:0px 0 0 -60px;-webkit-transition: margin .15s ease-in-out;-moz-transition: margin .15s ease-in-out;}
.tip_icon:hover .tooltip p{ font-weight:normal; font-size:14px;}
.tip_icon:hover .tooltip p.title{ font-size:14px;}
.tip_icon:hover .tooltip p.title2{ font-size:12px; color:#333}
.tip_icon:hover .tooltip p.title2 span{ font-size:12px; color:#ccc}
.tip_icon:hover .tooltip p.title2 a{ color:#ffa811; text-decoration:underline}
.tooltip .arrow {position:absolute;margin:-20px 0 0 90px;width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #ccc;}
.arrowin {position:absolute;margin:-19px 0 0 90px;width: 0;height: 0;border-left:10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #fff;}

.wormtip{ margin:40px 0; padding:25px 0; display:block; float:left; border-top:1px #ebebeb solid; width:80%; font-size:14px;background:url(../Image/eTicket/tip_icon_gray.png) 12px center no-repeat; padding-left:40px;}
#Wcanal-tabon .card_select a{ display:inline-block}
#Wcanal-tabon .card_select div div.morepop{ display:none; position: absolute; top:144px; box-shadow:1px 1px 1px 0px #ccc; border:1px #ccc solid; border-radius:2px; padding:10px; font-size:12px; width:180px; height:70px; text-align:left; color:#333; background-color:#FFF; margin-top:10px; margin-left:-33px;}
#Wcanal-tabon .card_select div div.morepop:before{position: absolute;left: 50%;margin-left: -5px;top: -10px;width: 18px;height: 10px;background:url(../Image/icon-shop2.png) no-repeat -60px 0;content: "";}
#Wcanal-tabon .card_select div div.morepop strong{ display:block; font-size:14px; padding-bottom:10px;}

select{ box-sizing:content-box; height:20px; line-height:26px; padding:0; margin:0}
.shop-search p { line-height:26px;}





/*会员信息采集*/
#top-menu a{height:100%;}
#top-menu p{line-height:1.2;}
.df-collection .title h2{ font-size:18px;color:#333;border-bottom: 1px #e3e2e2 solid; padding-bottom: 5px; margin-bottom: 30px;}
.df-collection .title p.fn a {float:right; font-size:14px; padding: 3px 20px; color: #ed3f41; border-radius: 3px;}

.addForm,.editForm { display: none;}
.collectionBox { padding: 15px; margin-top: 20px; background: #f7f7f7;}
.collectionBox h4.title { padding: 15px 0; border-bottom: 1px #e9e9e9 solid;}
.collectionBox .name { width: 250px;}
.collectionBox h4.title span { font-size: 16px; border-left: 3px #f75a63 solid; padding-left: 10px; margin: 0 20px; line-height: 16px; height: 16px; display: block;}
.collectionBox .name.l,.collectionBox .content.r { border: 1px #e9e9e9 solid; background: #ffffff;}
.collectionBox .name.l .list { border-bottom: 1px #e9e9e9 solid;}
.collectionBox .name.l .btn { text-align: right; background: #fbfbfb;}
.collectionBox .name.l .btn a { padding: 3px 8px; color: #ed3f41; border-radius: 3px; margin: 15px; height: auto;}
.collectionBox .name.l .btn a i { display: inline-block; width: 10px; height: 12px; background: url(../Image/df/icon-df.png) -20px -268px no-repeat;}
.collectionBox .content.r { width: 565px;}
.collectionBox .content.r li { width: 45%; margin-right: 15px; margin-bottom: 10px; border: 1px #cccccc solid; padding: 5px; float: left;}
.collectionBox .content.r .list { margin-right: -15px;}
.collectionBox .content.r .add-btn { display: block; width: 100%; height: 28px; background: #ffffff; text-align: center;}
.collectionBox .content.r .add-btn i { display: block; width: 20px; height: 20px; margin: 0 auto; padding: 4px 0; background: url(../Image/df/icon-df.png) -15px -211px no-repeat;}
.collectionBox .content.r .list input { width: 168px;}
.collectionBox .list { padding: 15px;}
.collectionBox .list input { width: 140px; float: left; border: none;}
input[disabled],input:disabled{ background:#ffffff;}
.collectionBox .list label { float: right; line-height: 28px; color: #8b8b8b;}
.collectionBox .list label a { font-size: 12px; color: #8b8b8b;}
.collectionBox .list label a:hover { font-size: 12px; color: #333333;}
.collectionBox .btn-submit { width: 100%; float: left; text-align: right; margin-top: 20px;}
.collectionBox .btn-submit input { font-size: 14px; padding: 5px 25px; border-radius: 3px; margin-left: 15px; cursor: pointer;}
.collectionBox .btn-submit .submit { background: #ed3f41; color: #ffffff; border: 1px #ed3f41 solid;}
.collectionBox .btn-submit .reset { background: #fbfbfb; color: #727272; border: 1px #e9e9e9 solid;}
.collectionBox .btn-submit .submit:hover { background: ; text-decoration: underline;}
.collectionBox .btn-submit .reset:hover { background: ; text-decoration: underline;}

.activity {font-size: 14px;}
.activity h3 { border-bottom: 1px #e9e9e9 solid; margin-bottom: 30px;}
.activity h3 a { padding: 3px 8px; color: #ed3f41; font-size: 12px; border-radius: 3px; margin: 8px 15px;height: auto;}
.activity h3 a i { display: inline-block; width: 10px; height: 12px; background: url(../Image/df/icon-df.png) -20px -268px no-repeat;}
.activity .list { margin-bottom: 30px;}
.activity .list .title { line-height: 24px;}
/*.activity .list .title .l i { display: inline-block; width: 24px; height: 24px; background: url(../Image/df/icon-df.png) -13px -313px no-repeat;}*/

 .activity .list .title .l i {
  width: 24px;
  height: 24px;
  display: inline-block; 
  margin-top: 3px;
}
.activity .list .title .l .icon-off {
  background: url(../Image/icon1.png) no-repeat 0 -650px;
}
.activity .list .title .l span { position: relative; bottom: 6px; left: 15px;}
.activity .list .title .r a { margin-left: 30px;}
.activity .list ul { margin-left: 38px;}
.activity .list ul.list { margin: 0;}
.activity .list ul li { margin-bottom: 10px;}
.activity .list span { color: #898989; margin-right: 40px;}
.activity .list .blue { color: #2e7dc6;}
.activity .list .menu { margin-top: 30px; background: #f7f7f7;}
.activity .list .menu a { display: inline-block; width: 20%; line-height: 42px; float: left; text-align: center; color: #393a3c;}
.activity .list .menu .btn i { display: inline-block; position: relative; top: 3px; width: 36px; height: 24px; background: url(../Image/df/icon-df.png) no-repeat; background-position: 0 0;}
.activity .list .menu .btn1 i { background-position: -7px -110px;}
.activity .list .menu .btn2 i { background-position: -7px -10px;}
.activity .list .menu .btn3 i { background-position: -7px -60px;}
.activity .list .menu .btn4 i { background-position: -7px -160px;}
.activity .list .menu .btn5 i { background-position: -7px -160px;}

.activity .list .menu .btn6 .icon-begin {
  background: url(../Image/icon1.png) no-repeat 0 -510px;
}
.addToggle1{float:right;}
