
/*左侧菜单*/
.Eticket_nav{font-size: 14px;}
.Eticket_nav .leftmenu_title{ background-color:#f5f5f5; font-size:14px; color:#000; line-height:40px; text-align:center; font-weight:bold; padding-left:0;}
.Eticket_nav dl{padding: 15px 0;}
.Eticket_nav dt{padding-left: 35px; color: #999; font-size:14px; line-height:35px; font-weight:bold; padding-bottom:5px;} 
.Eticket_nav dd{ padding-left:60px; font-size:14px; line-height:30px; color:#000;}
.Eticket_nav dd:hover{ background-color:#f5f5f5; color:#000;}
.Eticket_nav dd a{color: #000; display:block; width:100%; text-overflow: ellipsis; text-decoration:none}
.Eticket_nav dd a.hover{color: #ed1c24; background-color:#ed1c24}
.Eticket_nav .hover{color: #FFF; background-color:#ed1c24}
.Eticket_nav .hover:hover{color: #FFF; background-color:#ed1c24}
.Eticket_nav .hover a{ color:#FFF; text-decoration:none;}
.Eticket_nav dt i{ width:16px; height:16px; vertical-align:middle; display:inline-block; background:url(../Image/eTicket/icon-eTicket.png) no-repeat; overflow:hidden; margin-right:8px}
.Eticket_nav dt i.icon_et1{ background-position:0 -165px;}
.Eticket_nav dt i.icon_et2{background-position:0 -182px;}
.Eticket_nav dt i.icon_et3{background-position:0 -200px;}
.line-bottom{border-bottom: 1px solid #e1e1e1;}

/*面包屑导航*/
.Eticket_breadcrumbs{ font-size:14px; padding-bottom:10px;}
.Eticket_breadcrumbs a{ color:#000000;}
.Eticket_breadcrumbs a:hover{ color:#ed1c24;}

/*faq*/
.shopSub {width: 100%;float: left;margin-right: -270px;}
.shopSide {position: relative;z-index: 2;float: right;width: 270px;}

/*电子卷top样式*/
.messageli{ height:32px; overflow:hidden; border-bottom:1px #ebebeb solid}
.messageli li { float:left; padding:5px 0; width:140px; height:20px; border-bottom:solid 0px #e5e5e5;}
.messageli li a { display:block; height:20px; text-align:center; font-size:16px; line-height:20px; border-right:solid 1px #dddddd;}
.messageli li a:hover { text-decoration:none;}
.messageli li a span { color:#ed1c24; font-size:16px;}
.messageli li.hover { border-bottom:solid 2px #ed1c24;}
.messageli li.last { width:440px;}
.messageli li.last a { float:right; position:relative; padding:0 5px; top:-2px; margin-left: 20px; display: inline-block; *display:inline; *zoom:1; height: 20px; line-height: 20px; text-align: center; box-shadow: 1px 1px 1px rgba(0,0,0,0.1); font-size:12px;}
.messageli li.last a.btn-add {border: solid 1px #ffd0d3;background: #fff2f3;color: #f15755;}
.messageli li.last a.btn-down { margin-left:10px; border:solid 1px #b5d5f5; background:#f5faff; color:#69a6e2;}
.messageli li.last a i { position:relative; top:-2px; display:inline-block; *display:inline; *zoom:1; width:16px; height:12px; vertical-align:middle;}
.messageli li.last a.btn-add i { background: url(../Image/icon-shop2.png) no-repeat -70px -60px;}
.messageli li.last a.btn-down i { background: url(../Image/icon-shop2.png) no-repeat -90px -60px;}

.shopTable {width: 100%;border-collapse: separate; table-layout: auto;}
.shopTable th{ font-size: 14px;}
.shopTable th:first-child{ border-left: solid 1px #e3e3e3;}
.shopTable th:last-child{ border-right: solid 1px #e3e3e3;}
.shopTable th.last{ border-right: solid 1px #e3e3e3; width:auto}
.shopTable tr{border-right: solid 1px #e3e3e3; border-left: solid 1px #e3e3e3; }
.shopTable tr td{ padding:7px 10px;}
.shopTable tr td.tl{ text-align:left}
.shopTable tr td:last-child{ border-right: solid 1px #e3e3e3;}
.shopTable td.title {padding-left: 10px;vertical-align: middle;line-height: 38px;border: solid 1px #e3e3e3; border-right:0; border-left:0; background: #f7f7f7;margin-top: 20px;text-align: left;position: relative;top: 10px;z-index: 3; padding:0px 10px;}
.shopTable tr.title td.title:last-child{ text-align:right}
.shopTable tr.title td:first-child{ border-left: solid 1px #e3e3e3;}
.shopTable td.title a{ color:#4d4d4d; text-decoration:none; cursor:pointer}
.shopTable td.title a:hover{ color:#ed1c24}

.shopTable tr.hover{}
.shopTable tr.hover td {border:solid 1px #e3e3e3; border-top:none; border-right:none; *border-left:none; }
.shopTable tr.hover td.title { border-bottom:none; background:#d8deeb; border: solid 1px #aab8da; border-left:0; border-right:0}
.shopTable tr.hover td.title:last-child{ border-right:solid 1px #aab8da;}
.shopTable tr.hover td.title:first-child{ border-left:solid 1px #aab8da;}
.shopTable tr.hover td:last-child{ border-right:solid 1px #e3e3e3;}
.shopTable tr.hover td:first-child{ border-left:solid 1px #e3e3e3;}
.shopTable td {font-size: 14px;line-height: 24px;}
.icon_list{ float:right; margin-top:5px;}

/*
format
*/
.format{}
.format ul li{float:left; line-height:24px; text-align:left; padding:5px 5px 0px 0px}
.format ul li img{ width:100px; height:62px; /*padding:2px; border:1px #ebebeb solid;*/}
.format ul li:first-child{ width:110px; padding-right:0; }
.format ul li span{ display:block; color:#666666; position:relative}
.format ul li span.gtitle{ margin-left:-3px;}
.format ul li span a{ color:#666; text-decoration:none}
.format ul li span a:hover{ color:#ed1c24; text-decoration:none}
.format ul li span.grayfont{ color:#999999; font-size:12px; line-height:20px;}
.format ul li span.grayfont em.redfont{ font-size:12px;}

.format ul li .hot-point-title { width:25px;  background: #fff;  border: 1px solid #f5999a;  padding: 0px 5px;  border-radius: 2px;  position: relative;  margin-left: 15px; font-size:12px; color:#f5999a;display: inline-block;line-height:20px;}
.format ul li .hot-point-title:before{	position: absolute;	display: inline-block;	border-top: 5px solid transparent;	border-right: 4px solid #FFF;
	border-bottom: 4px solid transparent;	border-right-color: #f5999a;	left: -4px;	top: 5px;	content: '';}
.format ul li .hot-point-title:after{	position: absolute;  display: inline-block;  border-top: 4px solid transparent;  border-right: 3px solid #FFF;
  border-bottom: 3px solid transparent;  left: -3px;  top: 6px;  content: '';	}

.format ul li .gray { width:25px;  background: #fff;  border: 1px solid #cfcfcf;  padding: 0px 5px;  border-radius: 2px;  position: relative;  margin-left: 15px; font-size:12px; color:#cfcfcf;display: inline-block;}
.format ul li .gray:before{	position: absolute;	display: inline-block;	border-top: 4px solid transparent;	border-right: 4px solid #FFF;
	border-bottom: 4px solid transparent;	border-right-color: #cfcfcf;	left: -4px;	top: 7px;	content: '';}
.format ul li .gray:after{	position: absolute;  display: inline-block;  border-top: 3px solid transparent;  border-right: 3px solid #FFF;
  border-bottom: 3px solid transparent;  left: -3px;  top: 8px;  content: '';	}
  
  .format ul li .hot-point-blue { width:25px; /* background: #61aeef;*/  border: 1px solid #2e7dc6;  padding: 0px 5px;  border-radius: 2px;  position: relative;  margin-left: 5px; font-size:12px; color:#2e7dc6;display: inline-block;line-height:20px;}
.format ul li .hot-point-blue:before{	position: absolute;	display: inline-block;	border-top: 5px solid transparent;	border-right: 4px solid #2e7dc6;border-bottom: 4px solid transparent;	border-right-color: #2e7dc6;	left: -4px;	top: 5px;	content: '';}
.format ul li .hot-point-blue:after{	position: absolute;  display: inline-block;  border-top: 4px solid transparent;  border-right: 3px solid #fff;border-bottom: 3px solid transparent;  left: -3px;  top: 6px;  content: '';	}


.format ul li .hot-point-green { width:25px;  border: 1px solid #4ca466;  padding: 0px 5px;  border-radius: 2px;  position: relative;  margin-left: 5px; font-size:12px; color:#4ca466;display: inline-block;line-height:20px;}
.format ul li .hot-point-green:before{	position: absolute;	display: inline-block;	border-top: 5px solid transparent;	border-right: 4px solid #4ca466;border-bottom: 4px solid transparent;	border-right-color: #4ca466;	left: -4px;	top: 5px;	content: '';}
.format ul li .hot-point-green:after{	position: absolute;  display: inline-block;  border-top: 4px solid transparent;  border-right: 3px solid #fff;border-bottom: 3px solid transparent;  left: -3px;  top: 6px;  content: '';	}

.format ul li .hot-point-orange { width:25px;  border: 1px solid #ffac1e;  padding: 0px 5px;  border-radius: 2px;  position: relative;  margin-left: 5px; font-size:12px; color:#ffac1e;display: inline-block;line-height:20px;}
.format ul li .hot-point-orange:before{	position: absolute;	display: inline-block;	border-top: 5px solid transparent;	border-right: 4px solid #ffac1e;border-bottom: 4px solid transparent;	border-right-color: #ffac1e;	left: -4px;	top: 5px;	content: '';}
.format ul li .hot-point-orange:after{	position: absolute;  display: inline-block;  border-top: 4px solid transparent;  border-right: 3px solid #fff;border-bottom: 3px solid transparent;  left: -3px;  top: 6px;  content: '';	}

.next_link{ width:100px;  background: #fff;  border: 1px solid #ffd0d3;  padding: 10px;  border-radius: 2px;  position: absolute;  margin-left: 20px; font-size:9px; color:#cfcfcf; display:none; position: absolute; right:-90px; z-index:999; margin-top:-30px;}
.next_link:before{	position: absolute;	display: inline-block;	border-top: 8px solid transparent;	border-right: 8px solid transparent;border-bottom: 8px solid transparent;	border-right-color: #ffd0d3;	left: -8px;	top: 7px;	content: '';}
.next_link:after{	position: absolute;  display: inline-block;  border-top: 7px solid transparent;  border-right: 7px solid #FFF;border-bottom: 7px solid transparent;left:-7px;top: 8px;  content: '';}
.next_link a{ display:block; text-align:left; color:#666; font-size:12px; line-height:22px}
.pub_channel{ position:relative; text-align:right;}
.tb .pubicon { /*width:20px;*/ height:22px; vertical-align:middle; margin-right:3px; display:inline-block; background:url(../Image/eTicket/pub_to_icon.png) no-repeat; overflow:hidden; padding-left:20px; color:#666; font-style:normal; font-size:12px; line-height:16px;}
.tb .pubicon:hover{ color:#ed3f41}
.tb .ic1{ background-position:0px 3px;}/*卡券交易大厅*/
.tb .ic1:hover{ background-position:-53px 3px;}
.tb .ic2{ background-position:0px -60px;}/*个人*/
.tb .ic2:hover{ background-position:-53px -60px;}
.tb .ic3{ background-position:0px -80px;}/*APP*/
.tb .ic3:hover{ background-position:-53px -80px;}
.tb .ic4{ background-position:0px -100px;}/*微信卡券*/
.tb .ic4:hover{ background-position:-53px -100px;}
/*.tb .ic5{ background-position:0px -93px;}*//*微博卡券*/
.tb .ic6{ background-position:0px -18px;}/*活动奖品*/
.tb .ic6:hover{ background-position:-53px -18px;}
.tb .ic7{ background-position:0px -38px;}/*旺财小店*/
.tb .ic7:hover{ background-position:-53px -38px;}
.tb a.rollback .ic6{ color:#2e7dc6; font-weight:bold}

.tc_step1{position:absolute;top:105px;left:115px;z-index:130;width:440;height:209px;}
.cover_bj{width:100%;height:100%;background:#000;opacity:0.6;position:fixed;top:0px;left:0px;z-index:120;filter:alpha(opacity=60)}

.format ul li i{background: url(../Image/eTicket/icon-eTicket.png) no-repeat; width:30px; height:20px; overflow:hidden; display:inline-block; margin-right:5px; margin-top:5px;}
.format ul li i.eicon1{ background-position:0px -224px;}
.format ul li i.eicon2{ background-position:-35px -224px;}
.format ul li i.eicon3{ background-position:-70px -224px;}
.format ul li i.eicon4{ background-position:-105px -224px;}


/*数据统计*/
.renrenle_static{border:1px #ccc solid; margin:10px 0;}
.renrenle_static .shopMyshop-mypro { margin-top:15px; padding:0 20px 0 0; float:none; border-right:dashed 1px #dedede; width:95%;}
.renrenle_static .shopMyshop-mypro.last { margin-top:15px; padding:0 0 0 20px; border:none;}
.renrenle_static .shopMyshop-mypro dt { padding:0 0 20px 0; color:#f7505a; font-size:14px;}
.renrenle_static .shopMyshop-mypro dt a { float:right; font-size:12px; color:#999999;}
.renrenle_static .shopMyshop-mypro dt b { font-size:16px;}
.renrenle_static .shopMyshop-mypro dt span { margin-left:10px;}
.renrenle_static .shopMyshop-mypro dd { width:100%; overflow:hidden;}
.renrenle_static .shopMyshop-mypro dd .shopMyshop-mypro-Graph { height:auto; overflow:hidden;}
.renrenle_static .shopMyshop-mypro dd ul { margin-top:5px; padding:10px 0; width:370px;background: #f3f9fe;}
.renrenle_static .shopMyshop-mypro dd ul li { float:left; width:121px; border-right: dashed 1px #dedede; text-align:center;}
.renrenle_static .shopMyshop-mypro dd ul p { font-size:18px;}
.renrenle_static .shopMyshop-mypro dd ul span { color:#333;}
.renrenle_static .shopMyshop-mypro dd ul.yesterday p { color:#999;}
.renrenle_static .shopMyshop-mypro dd ul.today p { color:#0077dd;}


/*卡券编辑*/
.eTicket_form{}
.eTicket_form .edit_area_form{ float:left; padding-left:20px; width:600px}
.eTicket_form .edit_area_form .global-input6-name{ width:107px;}
.eTicket_form .edit_area_form .global-input6-input{ width:auto;}
.edit_area_form h2{ font-size:18px; color:#000; padding-left:20px;}
.eTicket_form_OK_tip{}
.eTicket_form_OK_tip_img{ background:url(../Image/eTicket/ok.png) no-repeat; margin-left:40px; width:175px; height:175px; display:inline-block; float:left}
/*编辑卡券左侧图片*/
.eTicket_form .edit_area_img{width:222px; height:235px;float:left;}
.eTicket_form .edit_area_img .bigbox img{ height:162px; width:216px; padding:2px; border:1px #ebebeb solid}

.eTicket_form .edit_area_img .smailbox{width:222px; height:68px; margin:0px 6px 0 auto;}
.eTicket_form .edit_area_img .tubox{ width:222px; height:68px; float:left; margin-right:-40px;}
.eTicket_form .edit_area_img .tubox ul{ height:68px;}
.eTicket_form .edit_area_img .tubox ul li{ height:68px; float:left;display:inline; margin-right:6px;}
i.img-del-icon{ background:url(../Image/eTicket/img-del-icon.png) no-repeat; width:14px; height:14px; display:block; position: relative; top:8px; right:-60px; z-index:200;}
.eTicket_form .edit_area_img .tubox ul li img{height:48px; width:68px; border:1px solid #bbbbbb; cursor:pointer}
.eTicket_form .edit_area_img #spec-list{ width:300px; height:68px; float:left; overflow:hidden;display:inline;position:relative;}

.eTicket_form_OK_tip_text{ margin-left:10px; float:left}
.eTicket_form_OK_tip_text ul{ margin:0; padding:0; list-style:none}
.eTicket_form_OK_tip_text ul li{ font-size:14px; color:#666666; line-height:30px;}
.eTicket_form_OK_tip_text ul li.tip_title{ font-size:18px;color:#000; padding-bottom:20px;}

.steps{line-height: 30px;color: #666666; font-size: 14px; border-left:2px #ed3f41 solid; background-color:#f8f8f8; padding-left:15px;}

/*卡券添加*/
.newRadio-input .shoplist{ text-align:center; padding-top:10px;}
.newRadio-input .shoplist li{ display:inline-block; padding:4px 18px; border:1px #ff8a00 solid; margin-right:10px; border-radius:2px;}
.newRadio-input .shoplist li.selected{ border:1px #ff8a00 solid; background:url(../Image/eTicket/corner-right.png) right bottom no-repeat;}
.newRadio-input .shoplist li:hover{ border:1px #ff8a00 solid; cursor:pointer}

.card_select{ margin-left:35px;}
.card_select div{ display:inline-block; padding:6px; padding-bottom:0; margin:35px 29px 35px 0; border:1px #FFF solid; text-align:center}
.card_select div a{ text-decoration:none}
.card_select div.current{ border:1px #ed3f41 solid; background:url(../Image/eTicket/corner-right.png) right bottom no-repeat;}
.card_select div:hover{ border:1px #ed3f41 solid}
.card_select div p{ width:136px; height:100px; display:block; text-indent:-9999em}
.card_select div.card1 p{background:url(../Image/eTicket/quan1.png) center center no-repeat;}
.card_select div.card2 p{background:url(../Image/eTicket/quan2.png) center center no-repeat;}
.card_select div.card3 p{background:url(../Image/eTicket/quan3.png) center center no-repeat;}
.card_select div.card4 p{background:url(../Image/eTicket/quan4.png) center center no-repeat;}
.card_select div span{ font-size:14px; color:#000; line-height:30px; padding-left:2px;}
i.quest{ background:url(../Image/eTicket/icon_quest.png) center center no-repeat;width:14px; height:14px; display:inline-block; border-radius:14px;vertical-align:middle; margin-right:5px; padding-bottom:20px;}
.card_select div span em{ color:#ea0000;}

.shopSubCon .card_select{ margin-left:0;position: relative;z-index: 10;}
.shopSubCon .card_select div{ display:inline-block; padding:6px; margin:35px 29px 35px 0; border:1px #FFF solid; text-align:center}
.shopSubCon .card_select div a{ text-decoration:none}
.shopSubCon .card_select div.current{ border:1px #ff8a00 solid; background:url(../Image/eTicket/corner-right.png) right bottom no-repeat;}
.shopSubCon .card_select div:hover{ border:1px #ff8a00 solid}
.shopSubCon .card_select div p{ width:136px; height:100px; display:block; text-indent:-9999em}
.shopSubCon .card_select div.card1 p{background:url(../Image/eTicket/quan1.png) center center no-repeat;}
.shopSubCon .card_select div.card2 p{background:url(../Image/eTicket/quan2.png) center center no-repeat;}
.shopSubCon .card_select div.card3 p{background:url(../Image/eTicket/quan3.png) center center no-repeat;}
.shopSubCon .card_select div.card4 p{background:url(../Image/eTicket/quan4.png) center center no-repeat;}
.shopSubCon .card_select div.card5 p{background:url(../Image/eTicket/quan5.png) center center no-repeat;}
.shopSubCon .card_select div.card6 p{background:url(../Image/eTicket/quan6.png) center center no-repeat;}
.shopSubCon .card_select div span{ font-size:14px; color:#000; line-height:30px; padding-left:2px;}
i.quest{ background:url(../Image/eTicket/icon_quest.png) center center no-repeat;width:14px; height:14px; display:inline-block; border-radius:14px;vertical-align:middle; margin-right:5px; padding-bottom:20px;}

.path{ background:#fcfcfc; border:1px #ebebeb solid; height:50px; line-height:50px; margin:20px 0;}
.path ul{list-style: none; display: inline-block;}
.path ul li {float: left; width:30%; background:}
.path ul li a {padding-left: 15px;-webkit-border-radius: 4px 0 0 4px;-moz-border-radius: 4px 0 0 4px;-ms-border-radius: 4px 0 0 4px;-o-border-radius: 4px 0 0 4px;border-radius: 4px 0 0 4px;}
.addimg{ width:68px; height:48px; display:inline-block; background:url(../Image/eTicket/plus.png) center center no-repeat; border:1px #bbbbbb solid}

.noCard{ margin: 30px auto; padding: 15px 0; border: 1px #efefef solid; display: block; text-align: center; font-size: 16px; font-weight: normal;}
/*查看详情*/
.global-input6 ul{ margin-top:0;}
.global-input6 ul li{ padding:5px 0;}
.content_view ul{ clear:both; border-bottom:1px #ebebeb solid; background:#f5f5f5 url(../Image/eTicket/libg.png) repeat-y; font-size:14px;}
.content_view ul li.global-input6-name{ width:120px; padding: 5px 0; padding-right:32px; background-color:#f5f5f5; float:left; line-height:28px; text-align: right;}
.content_view ul li.global-input6-input{width:483px; border-left:1px #ebebeb solid; padding:10px 0 10px 26px; float:left; background:#FFF;}
/*微信卡券*/
.highlight_box {padding: 9px 30px;background-color: #F4F5F9;margin-bottom: 20px;line-height: 1.6;}


/*?提示*/
.main-name h4 span i.more_tips{ width:16px; height:16px; border-radius:16px; background-color:#c3c3c3; color:#fff; padding:0; text-align:center; vertical-align:middle; font-weight:bold; font-style:normal; line-height:16px; margin:0 5px;}

.dropdown_arrow {position: absolute;left: 13px;margin-top: -8px;display: inline-block;width: 0;height: 0;border-width: 8px;border-style: dashed;border-color: transparent;border-top-width: 0;border-bottom-color: #d9dadc;border-bottom-style: solid;}
.dropdown_arrow.out {top: 0;}
.dropdown_arrow.in {border-bottom-color: #ffffff;top: 1px;}

.help_content {margin: 44px 16px 0 0;width: 350px;border: 1px solid #dfdfdf;box-shadow: none;font-size: 14px;display: none;position: absolute;top:100px;left:-7px;z-index: 5;color: #333;line-height: 1.6;background: #fff;border-left: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf;white-space: normal;border-radius:3px;}


/*///////////////////////////////////////////////////*/
i.tip_icon{ width:150px; height:29px; display:inline-block; background:url(../Image/eTicket/tip_icon.gif) left -5px no-repeat; color:#333; font-size:12px; font-weight:100; padding-left:25px; font-style:normal; text-decoration:underline;display:block;  text-align: left}
.tooltip p{ font-weight:normal; font-size:14px; text-align: left; line-height: 24px}
.tooltip p.title{ font-size:14px;}
.tooltip p.title2{ font-size:12px; color:#333}
.tooltip p.title2 span{ font-size:12px; color:#ccc}
.tooltip p.title2 a{ color:#ffa811; text-decoration:underline}
.wormtip{ margin:40px 0; padding:25px 0; display:block; float:left; border-top:1px #ebebeb solid; width:80%; font-size:14px;background:url(../Image/eTicket/tip_icon_gray.png) 12px center no-repeat; padding-left:40px;}
#Wcanal-tabon .card_select a{ display:inline-block}
#Wcanal-tabon .card_select div div.morepop{ display:none; position: absolute; top:144px; box-shadow:1px 1px 1px 0px #ccc; border:1px #ccc solid; border-radius::2px; padding:10px; font-size:12px; width:180px; height:70px; text-align:left; color:#333; background-color:#FFF; margin-top:10px; margin-left:-33px;}
#Wcanal-tabon .card_select div div.morepop:before{position: absolute;left: 50%;margin-left: -5px;top: -10px;width: 18px;height: 10px;background:url(../Image/icon-shop2.png) no-repeat -60px 0;content: "";}
#Wcanal-tabon .card_select div div.morepop strong{ display:block; font-size:14px; padding-bottom:10px;}

/*卡券定向销售*/
#top-menu a{height:100%;}
#top-menu p{line-height:1.2;}
.eticket-d-sales{}
.eticket-d-sales .d-sales-tit{padding-left:25px;font-size:18px;color:#333;background-image:url(../Image/eTicket/icon-d-sales.png);background-repeat:no-repeat;}
.eticket-d-sales .icon-relation-bind{background-position:0 2px;}
.eticket-d-sales .icon-my-purchase{background-position:0 -20px;}
.eticket-d-sales .icon-send-pro{background-position:0 -38px;}
.eticket-d-sales .icon-get-order{background-position:0 -59px;}
.eticket-d-sales .icon-tic-validate{background-position:0 -77px;}
.eticket-d-sales .icon-cal-ctrl{background-position:0 -99px;}
.eticket-d-sales .icon-my-supply{background-position:0 -119px;}
.eticket-d-sales .icon-send-code{background-position:0 -137px;}
.eticket-d-sales .icon-coop-model{background-position:0 -158px;}

.eticket-d-sales .f-tip{padding-left:15px;width:813px;margin-left:auto;margin-right:auto;margin-top:15px;height:auto;border:1px solid #f2e6ce;background-color:#fffbf2;color:#999;font-size:12px;line-height:30px;}
.eticket-d-sales .d-sales-label{height:30px;margin-top:20px;padding-left:16px;border-left:4px solid #f15755;background-color:#f3f3f3;line-height:30px;font-size:14px;color:#666;}
.eticket-d-sales .d-sales-label span{margin-left:15px;font-size:12px;font-family:"宋体";color:#999;cursor:pointer;}
.eticket-d-sales .e-sales-btn{display:inline-block;*display:inline;*zoom:1;height:26px;margin-left:10px;line-height:26px;border:1px solid #ffd0d3;background-color:#fff2f3;text-align:center;color:#f15755;font-size:14px;}

/*卡券交易和推广*/
.shop-Menu .f-bar{color:#333;font-size:16px;height:40px;line-height:40px;}
.eticket-sales-spread{width:100%;position:relative;}
.eticket-sales-spread .spread-steps{height:140px;background-color:#f7f7f7;}
.eticket-sales-spread .spread-step{position:relative;width:275px;float:left;text-align:center;font-size:14px;color:#666;line-height:1.5;}
.eticket-sales-spread .spread-step .line{position:absolute;top:44px;left:154px;width:240px;height:4px;background-color:#e4e4e4;}
.eticket-sales-spread .spread-step i{margin:34px auto 10px;display:block;width:24px;height:24px;background:url(../Image/eTicket/icon-d-sales.png) no-repeat 0 -200px;line-height:24px;text-align:center;color:#fff;font-style:normal;}
.eticket-sales-spread .spread-parts{padding-top:20px;padding-bottom:60px;border-top:1px solid #e7e7e7;}
.eticket-sales-spread .spread-parts .part-title{font-size:16px;color:#333;vertical-align:middle;line-height:28px;}
.spread-parts .btn-all{background-color:#f15755;font-weight:normal;border-radius:0;}
.spread-parts .part-title span{margin-left:25px;font-size:14px;color:#999;}
.spread-parts .online-trade{position:relative;margin-top:30px;}
.spread-parts .online-trade .circle{float:left;width:90px;height:90px;background-color:#fff2f3;border-radius:50%;color:#f15755;text-align:center;}
.spread-parts .online-trade .next{position:absolute;top:40px;left:130px;height:3px;width:125px;background-color:#e4e4e4;}
.spread-parts .online-trade .next .arrow{position:absolute;top:13px;left:35px;width:0;height:0;font-size:0;border-style:solid;border-width:8px;border-color:transparent transparent transparent #e4e4e4;}
.spread-parts .et-spread table{width:700px;font-size:14px;color:#666;border-collapse:collapse;}
.spread-parts .et-spread td{width:33%;height:45px;text-align:center;vertical-align:middle;border:1px solid #ebebeb;}
.spread-parts .et-spread .bg{background-color:#f6f6f6;}
.spread-parts .f-tit{display:inline-block;*display:inline;*zoom:1;width:130px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:12px;color:#999;vertical-align:middle;}
.spread-parts .t-tit{width:68px;height:20px;background-color:#fff;color:#f15755;font-size:12px;line-height:20px;border:1px solid #ffd0d3;margin:0 10px;border-radius:0;}
.spread-parts .dert-trade table{width:100%;margin-top:35px;color:#333;font-size:14px;}
.spread-parts .dert-trade td{vertical-align:top;}
.spread-parts .dert-trade .row1{width:90px;}
.dert-trade .row1 .out{width:89px;border-right:1px solid #ffd3d2;height:120px;padding-top:10px;}
.dert-trade .row1 .out p{height:50px;background-color:#fff2f3;color:#f15755;line-height:50px;text-align:center;}
.dert-trade .row2{padding:0 35px;line-height:1.8;}
.dert-trade .row2 .step{color:#f15755;padding-top:16px;}
.dert-trade td.row3{vertical-align:middle;width:20px;}
.dert-trade .row3 .next{width:20px;height:20px;background:url(../Image/eTicket/icon-d-sales.png) no-repeat 0 -180px;}
.my_left_category{width:110px;font-size:14px;}
.my_left_category h1{height:20px;background-repeat:no-repeat;font-size:14px;font-weight:bold;padding-left:15px;padding-top:8px;margin:0px;color:#FFF;}
.my_left_category .my_left_cat_list{}
.my_left_category .my_left_cat_list h2 {margin:0px;padding:3px 5px 0px 9px;}
.my_left_category .my_left_cat_list h2 a {color:#d6290b;font-weight:bold;font-size:14px;line-height:22px;}
.my_left_category .my_left_cat_list h2 a:hover {color:#d6290b;font-weight:bold;font-size:14px;line-height:22px;}
.my_left_category .h2_cat{width:148px;height:26px;background-repeat:no-repeat;line-height:26px;font-weight:normal;color:#333333;position:relative;}
.my_left_category .h2_cat_1{width:148px;height:26px;background-repeat:no-repeat;line-height:26px;font-weight:normal;color:#333333;position:relative;}
.my_left_category a{font:14px;text-decoration:none;}
.my_left_category a:hover{text-decoration:none;color:#ff3333;}
.my_left_category h3{margin:0px;padding:0px;height:26px;font-size:14px;font-weight:normal;display:block;padding-left:8px;}
.my_left_category h3 span{color:#999999; width:145px; float:right;}
.my_left_category h3 a{	line-height:26px; color:#0f89cc}
.my_left_category .h3_cat{display:none;position:absolute;left:110px;margin-top:-26px;cursor:auto;}
.my_left_category .shadow{position:inherit;}
.my_left_category .shadow_border{position:inherit;width:100px; background:#FFF; border:1px #ed1c24 solid; border-radius:2px; margin-top:1px; margin-bottom:3px}
.shadow_border:before{  position: absolute;  display: inline-block;  border-top: 6px solid transparent;  border-right: 6px solid #FFF;  border-bottom: 6px solid transparent;  border-right-color: #ed1c24;  left: -6px;  top: 7px;  content: '';}
.shadow_border:after{position: absolute;  display: inline-block;  border-top: 5px solid transparent;  border-right: 5px solid #FFF;  border-bottom: 5px solid transparent;  left: -5px;  top: 8px;  content: '';}
.my_left_category .shadow_border ul{margin:0; padding:0; padding:10px;}
.my_left_category .shadow_border ul li {list-style:none; height:26px;overflow:hidden;letter-spacing:0px; text-align:left}
.my_left_category .active_cat{ z-index:99;cursor:pointer;}
.my_left_category .active_cat h3 { font-weight:bold}
.my_left_category .active_cat h3 span{ display:none;}
.my_left_category .active_cat div{display:block;}

/*发布到提示*/
.help-tip p{display: none;text-align: left;background-color: #fff2f3;padding: 10px 20px;width: 150px;position: absolute;border-radius: 3px;box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);right: -14px;top: -80px;color: #666;font-size: 14px;line-height: 1.4;border:solid 1px #ffd0d3;}
.help-tip p:before{position: absolute;content: '';width:0;height: 0;border:6px solid transparent;border-top-color: #ffd0d3;left: 96px;top: 40px;}
.help-tip p:after{position: absolute;content: '';width:0;height: 0;border:6px solid transparent;border-top-color: #fff2f3;left: 96px;top: 39px;}
.Gform .Gname span[class^="tip_"]{ color:#666}
/*什么是线上提领*/
.whatis{ display:none; font-size:14px; color:#666}
.tipNormal li{ list-style:disc; margin-left:15px;}

.whatisDetail{ padding:15px; color:#666}
.whatisDetail dt{ line-height:28px;}
.whatisDetail dt em{ color:#ed3f41;}
.whatisDetail dd{ background:url(../Image/DetailIcon.jpg) left no-repeat; line-height:24px; vertical-align:middle; padding-left:25px;}
.openonline{ padding:30px; line-height:24px; font-size:14px; text-align:center}
.charge{ display:none; font-size:14px; color:#666}
.chargeDetail{ padding:15px;}
.chargeDetail dt{ line-height:28px;}
.chargeDetail dt em{ color:#ed3f41;}
.chargeDetail dd{ list-style: url(../Image/DetailIcon.jpg) left no-repeat;  margin-left:25px; line-height:24px; vertical-align:middle;}

/*Q币话费重新充值*/
.chargEdit{ z-index:9999; position:absolute; top:40px; right:0; width:250px; padding:30px 20px; background:#FFF;border:1px #efefef solid; box-shadow:0px 0px 2px rgba(0,0,0,0.3); text-align:center; margin:0 auto}
.chargEdit label{ text-align:center; margin:0 auto}
.chargEdit label span{}
.chargEdit label input{ width:110px;}

.sweet_tips2 {clear: both;border: 0;margin: 0;padding: 4px 0 0;background-color: transparent;color: #F00;font-size: 12px;line-height: 18px;}

/*卡券中心改造*/
.index_rmd{}
.index_rmd h2{ font-size:18px; color:#333; line-height:50px; padding-top:15px;}
.index_rmd h2 span.stips{ font-size:14px; color:#666; float:right;}
.index_rmd .rmd_area{border:1px #e8e8e8 solid; padding:20px;}

.actionHover{ z-index:100}
.actionHover li{ text-align:left;  white-space:nowrap; line-height: 24px;}
.Wcanal-tab table td  .actionHover li a{ color: #666}
.Wcanal-tab table td  .actionHover li a:hover{ color: #ed1c24;}
.actionHover li:hover .ic1{ background-position:-53px 3px;}
.actionHover li:hover .ic2{ background-position:-53px -60px;}
.actionHover li:hover .ic3{ background-position:-53px -80px;}
.actionHover li:hover .ic4{ background-position:-53px -100px;}
.actionHover li:hover .ic6{ background-position:-53px -18px;}
.actionHover li:hover .ic7{ background-position:-53px -38px;}

.toAction{ position:relative; display:inline-block; color:#2e7dc6}
.toAction:hover{ position:relative; display:inline-block; color:#2e7dc6; cursor:pointer}

.supply-detail{ margin-top:15px;}
.supply-detail h5{padding-left: 10px;background: #f8f8f8;border-left: solid 2px #ed3f41;height: 30px;line-height: 30px; font-size: 14px;}
.supply-detail dl{position: relative;}
.supply-detail dl.ghsq{position: relative; overflow: hidden;}
.supply-detail dl dt{font-size: 16px;line-height:24px;}
/* .supply-detail dl.ghsq a{color:#666} */
.supply-detail dl.ghsq a:hover{color:#ed3f41}
.supply-detail dl dd{height: 24px;line-height: 24px;color:#666;font-size: 14px;}
.supply-detail dl dd span.left{display:block;float:left;}
.supply-detail dl dd span.left  a{color:#2e7dc6}
.supply-detail dl i{background: url(../Image/eTrade/icon-down.png) no-repeat 10px 10px;width: 12px;height: 7px;display: block;position: absolute;top: 15px; right:15px;padding: 10px;cursor: pointer;}
.supply-detail dl i.bg{background-position:-12px 10px }
.supply-detail dl.show-all{height: auto}

/*添加卡券頁面*/
.SettingArea{ padding-top:25px;}
.SettingArea .SettingArea-Left{ width:520px; float:left}
.SettingArea .SettingArea-Left dl{}
.SettingArea .SettingArea-Left dl dt{ background:url(../Image/Wfx/weixin_icon.png) no-repeat; font-size:14px; line-height:24px; color:#333333; padding-left:54px; padding-bottom:10px; border-bottom:1px #e5e5e5 dashed;}
.SettingArea .SettingArea-Left dl dd{ font-size:14px; line-height:24px; padding-top:15px; position:relative}
.SettingArea .SettingArea-Left dl dd:after{ clear:both; display:block; content:""; height:0; font-size:0}
.SettingArea .SettingArea-Left dl dd i{ padding:0 3px; color:#ed3f41; font-style:normal}
.SettingArea .SettingArea-Left dl dd span{ float:left; display:block;}
.SettingArea .SettingArea-Left dl dd span.stps{ width:50px;}
.SettingArea .SettingArea-Left dl dd span.stpsContent{  /*position: absolute; padding:0 0 0 10px; height:auto;*/ width:460px;}
.SettingArea .SettingArea-Left dl dd span.stpsContent a{ display:block;}
.SettingArea .SettingArea-Right{ float:right;}

.phone {float:left; z-index:3; left:0; padding-bottom:70px; width:342px;height:auto; border: solid 1px #ddd; border-radius: 15px;position: relative;margin-bottom: 30px;}
.shopBoxView_iphone { position:absolute; top:20px; right:0;}
.phone:after { position:absolute; bottom:15px; left:50%; margin-left:-20px; width:40px; height:40px; border-radius:50%; border:solid 2px #ddd; background:#fff; content:"";}
.phone .phonetop { width:100%; height:70px; overflow:hidden; position:relative;}
.phone .phonetop:after { position:absolute; left:50%; margin-left:-44px; top:50%; margin-top:-18px; width:80px; height:36px; background:url(../Image/icon-shop2.png) no-repeat -20px -20px; content:"";}
.phone .phonetitle { float:left; margin-left:11px; width:320px; height:64px; overflow:hidden; background:#22292c url(../Image/iphone_bg3.png) no-repeat center 0px; text-align:center; line-height:82px; cursor:pointer;}
.phone .phonetitle span { display:block; margin:0 70px; color:#fff; font-size:18px; text-align:center;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.phoneCon {width:320px; overflow:hidden; margin:0 0 0 10px; float:left;border:solid 1px #ddd; border-top:none; background:#f6f6f6 url(../Image/member/mb_top_bg1.png) no-repeat; background-size:100% auto; padding-top:33px;}  
.pContent{ width:320px; border:solid 1px #d6d6d6;}
.pContentInner{  background:#FFF; padding:0px}
.pContentInner h4{ font-size:16px; line-height:32px; color:#333333; background:url(../Image/Wfx/grayweixin.png) right center no-repeat;}
.pContentInner .date{ font-size:12px; color:#999;}
.pContentInner p.toshow{ border:1px #ed3f41 dashed; border-radius:2px; padding:5px; line-height:24px; font-size:14px; color:#333; margin-top:10px;}
.pContentInner ul{ padding:10px 0;}
.pContentInner ul li{ color:#999; line-height:20px;}
.pContentInner ul li strong{ color:#666; font-weight:normal;}
/*微信红包页面*/
.createhb{float: left;margin-top: 30px;}
.createhb .createhb-left{float: left;margin-right: 30px;width:310px ;}
.createhb .createhb-left>div{border:solid 1px #e5e5e5 ;margin-bottom: 30px;background:#f8f8f8 ;b}
.createhb .createhb-left>div>dl{background:url(../Image/Wfx/grayweixin.png) no-repeat 240px 10px #fff ;border-radius: 5px;border:solid 1px #eee ;margin:10px ;padding:15px ;}
.createhb .createhb-left>div h5{padding-top:10px ;padding-left:10px ;}
.createhb .createhb-left>div>dl dt{padding-top: 10px;}
.createhb .createhb-left>div>dl dt p{line-height: 24px;font-size:14px ;}
.createhb .createhb-left>div>dl dt p span{color: #ed3f41;}
.createhb .createhb-left>div>dl dd{padding:6px 0 ;font-size:14px ;line-height:24px ;}
.createhb .createhb-left>div>dl h6{border-top:1px #eee solid;line-height:34px ;}
.createhb .createhb-left>div>dl h6 img{padding-top: 10px;}
.createhb .createhb-right{float: left;}
/*微信红包展示页面*/
.weChathb{/*width:895px ;*/}
.weChathb .weChathb-list{width: 280px;border:solid 1px #e5e5e5;font-size:14px ;margin-right:15px;float: left;margin-bottom:15px ;}
.weChathb .weChathb-list dl dt{background:#f8f8f8 ;margin:1px ;padding-left:10px ;line-height: 42px;}
.weChathb .weChathb-list dl dd{background: url(../Image/eTicket/wechat_bg.png) no-repeat;margin: 15px;width:250px;height: 155px;text-align:center ;}
.weChathb .weChathb-list dl dd:hover{background: url(../Image/eTicket/wechat_bg_hover.png) no-repeat;}
.weChathb .weChathb-list dl dd h5{color:#ffeb3e ;font-size:34px;font-weight: bold;text-align:center ;padding-top:45px ;}
.weChathb .weChathb-list dl dd p{color:#fff ;font-size:18px;text-align:center ;}
.file-up dl dd{font-size: 14px;line-height: 24px;padding-top:30px ;text-align: center;}
.weChathb .weChathb-list dl>p.Stock {padding:0px 0 10px 0 ;margin-left:15px;text-align:left ;}
.addNum.Gform{margin-left:-20px ;margin-top:3px ;margin-bottom: 9px;width: 460px}
.base{/*width:600px ;*/}
.base .W-table th{ border: solid 1px #e1e1e1; width:100px ;}
.base .W-table td{padding-left:15px;text-align: left ;}


.part.tipNormal p img{vertical-align: -3px;}

/*无可上架卡券业务介绍页*/
.nodata_intro{ display:block; color:#666}
.nodata_intro .nodata_intro_top{ background:#f9f8f8 url(../Image/eTicket/nodata_intro.png) 120px 55px no-repeat; padding:55px 120px 3px 527px; display:block; min-height:230px;}
.nodata_intro .nodata_intro_top h1{ color:#ed3f41; font-size:24px; line-height:30px; font-weight:400}
.nodata_intro .nodata_intro_top p{ padding:10px 0; font-size:14px; line-height:22px;}
.nodata_intro .nodata_intro_top a.btn_sj{ width:150px; height:36px; line-height:36px; margin:20px 0; text-align:center; display:block; background:#ed3f41; border-radius:3px; color:#FFF; font-size:16px;}
.nodata_intro .nodata_intro_top a.btn_sj:hover{ background: #ff6d6f; color: #fff; text-decoration:none }
.nodata_intro .nodata_intro_top a.btn_sj:active{background: #c82324; color: #fff; }
.darkGraybg{ background:#f1f1f1; height:60px; line-height:60px;}

.nodata_intro .nodata_intro_middle{ margin-top:20px;}
.nodata_intro .nodata_intro_middle h2{ font-size:18px; line-height:48px; color:#333333; text-align:center; margin:0 auto; margin-bottom:15px;}
.nodata_intro .nodata_intro_middle ul{ display:table; margin:0 120px;}
.nodata_intro .nodata_intro_middle ul:after{content:""; display:block; clear:both;}
.nodata_intro .nodata_intro_middle ul li{ display: table-cell; width:45%; margin-right:30px; margin-bottom:20px; float:left}
.nodata_intro .nodata_intro_middle ul li:nth-of-type(2n){ margin-right:0;}
.nodata_intro .nodata_intro_middle ul li i{ width:13px; height:13px; display:block; float:left; margin-top:6px; padding-right:10px; background:url(../Image/eTicket/nodata_intro_bgimg.png) -37px -24px no-repeat;}
.nodata_intro .nodata_intro_middle ul li div{ float:left; display:table; width:300px;}
.nodata_intro .nodata_intro_middle ul li div h5{ font-size:14px;}
.nodata_intro .nodata_intro_middle ul li div p{ color:#999; font-size:14px; display:inline-block; width:auto;}

.nodata_intro  .nodata_intro_bottom h2{ background:url(../Image/eTicket/nodata_intro_bgimg.png) 100px -46px no-repeat; text-align:center; line-height:24px; height:24px; display:block; overflow:hidden; font-size:18px; line-height:24px; color:#666; margin:35px 0;}
.nodata_intro  .nodata_intro_bottom div{ font-size:14px; line-height:24px; color:#999; width:35%; height:300px;  margin:0 auto; padding:0 50px; text-align:center; float:left}
.nodata_intro  .nodata_intro_bottom div.flowLeft{ display:block; float:left; border:0; border-right:1px #e8e8e8 dashed;}
.nodata_intro  .nodata_intro_bottom div p{text-align:left;}
.nodata_intro  .nodata_intro_bottom div  i{ display:block; margin:0 auto;}
.nodata_intro  .nodata_intro_bottom div.flowLeft i{ width:230px; height:150px; background:url(../Image/eTicket/nodata_intro_bgimg.png) -23px -135px no-repeat}
.nodata_intro  .nodata_intro_bottom div.flowRight i{width:230px; height:200px; background:url(../Image/eTicket/nodata_intro_bgimg.png) -360px -92px no-repeat}


 