@charset "utf-8";
/* CSS Document */

/*layout*/
.header{ box-sizing:border-box; width:1100px; margin:0 auto}
.content{ color:#666666}
.foot{}
.bgf0f0f0{ background:#f0f0f0;}
.bgf8f9fa{ background:#f8f9fa;}
.bgfff{ background:#ffff;}
/*头部*/
.header_box{background-color:#5bb8ff}
.header .logo_area{ padding:0px 0 13px;}
.header .logo_area .la_l{ width:164px; height:54px; background:url(../Image/eposter/logo.png) no-repeat; display:inline-block;}
.header .logo_area .la_l h1{ height:0; width:0; font-size:0;}
.header .logo_area .la_r{ clear:right; float:right; padding-top:40px;}
.header .logo_area .la_r a{ font-size:18px; color:#666666; padding:0 13px;}
.header .logo_area .la_r a:last-child{ padding-right:0}

.header .banner_area{  padding:120px 0 106px; background-color:#5bb8ff}
.header .banner_area:after{ clear:both; content:""; height:0; display:block}
.header .banner_area .ba_l{ width:63%; float:left; box-sizing:border-box; position:relative; padding-left:55px;}
.header .banner_area .ba_l .ba_l_1{ position:absolute; left:250px; top:-10px;}
.header .banner_area .ba_l .ba_l_2{ position:absolute; left:160px; top:40px;}
.header .banner_area .ba_l .ba_l_3{ position:absolute; top:-30px; left:70px;}
.header .banner_area .ba_r{ width:40%; float:right; padding:17px 90px 30px 42px;box-sizing:border-box; position:relative}
.header .banner_area .ba_r h2{height:52px; overflow:hidden; display:block; text-indent:-9999em;background:url(../Image/eposter/slogan.png) no-repeat;}
.header .banner_area .ba_r h3{ font-size:18px; color:#FFF; line-height:24px; margin:30px 0; font-weight:100;}
.header .banner_area .ba_r a.btn_green{ color:#5bb8ff; font-size:18px; background:#ffffff; line-height:45px; width:182px; display:block; text-align:center; text-decoration:none; margin:0px 0px 25px; border-radius:5px; float:right}
.header .banner_area .ba_r a.btn_green:hover{background:#ec5053; color:#FFF}
.header .banner_area .ba_r p{ font-size:18px; color:#808080;}
 
.content .level1{ margin:0 auto; padding:80px 0 40px}
.content .level1.pb0{ margin:0 auto; padding:90px 0 0;}
.content .level1:last-child{ border-top:1px #e0e0e0 solid;}
.content .level1 h3{ font-size:26px; text-align:center; padding-bottom:20px; color:#666666; font-weight:100}
.content .level1 h3.highpoint_title{ background:url(../Image/eposter/highpoint_title.png) center no-repeat; text-indent:-9999em; font-size:26px; text-align:center; padding-bottom:20px; color:#666666; height:148px;}
.content .level1 .list{ margin:0 auto; width:100%; display:block; text-align:center}
.content .level1 .list ul{ margin:0; padding:0; list-style:none;-webkit-column-width:25%;-moz-column-width:25%;-o-colum-width:25%;column-width:25%;
-webkit-column-gap:1px;-moz-column-gap:1px;-o-column-gap:1px;column-gap:1px; box-sizing:border-box;}
.content .level1 .list ul li{ background:url(../Image/eposter/four_advantage.png) no-repeat; font-size:14px; color:#6f6f6f; padding-top:130px; text-align:center;display:inline-block; margin:0 47px;}
.content .level1 .list ul li.fa1{ background-position:8px 0;}
.content .level1 .list ul li.fa2{ background-position:-200px 0;}
.content .level1 .list ul li.fa3{ background-position:-410px 0;}
.content .level1 .list ul li.fa4{ background-position:-614px 0; padding-left:10px;}


.content .level1 .list2{ margin:0 auto; width:100%; display:block; text-align:center}
.content .level1 .list2 ul{ margin:0; padding:0; list-style:none;-webkit-column-width:25%;-moz-column-width:25%;-o-colum-width:25%;column-width:25%;
-webkit-column-gap:1px;-moz-column-gap:1px;-o-column-gap:1px;column-gap:1px; box-sizing:border-box;}
.content .level1 .list2 ul li{ color:#6f6f6f; padding:0 0px; padding-top:150px; text-align:center;display:inline-block; width:18%; box-sizing:border-box; font-size:20px;}
.content .level1 .list2 ul li.fa1{ background:url(../Image/eposter/screen_icon_01.png) center top no-repeat; }
.content .level1 .list2 ul li.fa2{ background:url(../Image/eposter/screen_icon_02.png) center top no-repeat;}
.content .level1 .list2 ul li.fa3{ background:url(../Image/eposter/screen_icon_03.png) center top no-repeat;}
.content .level1 .list2 ul li.fa4{ background:url(../Image/eposter/screen_icon_04.png) center top no-repeat;}
.content .level1 .list2 ul li.fa5{ background:url(../Image/eposter/screen_icon_05.png) center top no-repeat;}
.content .level1 .list2 ul li.fa6{ background:url(../Image/eposter/screen_icon_06.png) center top no-repeat;}
.content .level1 .list2 ul li.fa7{ background:url(../Image/eposter/screen_icon_07.png) center top no-repeat;}
.content .level1 .list2 ul li.fa8{ background:url(../Image/eposter/screen_icon_08.png) center top no-repeat;}

.content .level1 h3.case_title{ background:url(../Image/eposter/case_title.png) center no-repeat; text-indent:-9999em; font-size:26px; text-align:center; padding-bottom:0px; color:#666666; height:92px;}
.content .level1 .case_box{ margin:0 auto; display:block;}
.content .level1 .case_box .case_show_box{ width:100%;}
.content .level1 .case_box .case_show_box .show_list{ width:1100px; margin:0 auto; padding:0px 0 10px;}
.content .level1 .case_box .case_show_box .show_list ul{ margin:0; padding:0; list-style:none}
.content .level1 .case_box .case_show_box .show_list:after{ clear:both; height:0; display:block; content:""}
.content .level1 .case_box .case_show_box .show_list ul li{ display:inline-block; width:25%; float:left; box-sizing:border-box; overflow:hidden; text-align:center;}
/*.content .level1 .case_box .case_show_box .show_list ul li img{box-shadow:0px 4px 5px rgba(0,0,0,0.3)}*/

.content .level1 .case_box .case_show_box .show_list ul:after{ clear:both; display:block; height:0; content:""}
.case_show_box a.btn_green{ color:#fff; font-size:16px; background:#00d67b; line-height:42px; width:170px; display:block; text-align:center; text-decoration:none; margin:20px 0; border-radius:2px; margin-left:13px;}
.case_show_box a.btn_green:hover{background:#ec5053;}

.content .level1 .case_box .case_list{ margin:0 auto; padding:24px 0; list-style:none; width:1100px;}
.content .level1 .case_box .case_list li{ width:30%; display:inline-block; margin:0 15px; box-sizing:border-box; border:2px #FFF solid; padding:3px; height:105px;}
.content .level1 .case_box .case_list li:last-child{ border:1px #d8d8d8 solid; padding:0; height:103px;}
.content .level1 .case_box .case_list li.active{ border:2px #ffd800 solid;}
.content .level1 .case_box .case_list li img{ width:100%; background-color:#FFF}
.content .level1 .case_box .case_list li:hover{ border:2px #ffd800 solid;}
.content .level1 .case_box .case_list li:last-child:hover{border:1px #ffd800 solid;}

.last_div{ background:url(../Image/eposter/foot_bg.png) center no-repeat;}
.tip_bottom{ margin:0 auto; width:100%; text-align:center;}
.tip_bottom p{ color:#fff; font-size:18px; line-height:30px;}
.tip_bottom p.slogan{font-size:54px; color:#FFF; display:block; vertical-align:top; line-height:100px;}
.tip_bottom p.slogan em.hide_sn{ background:url(../Image/eposter/slogan_big_sn.png) center no-repeat; width:175px; height:65px; line-height:72px; display:inline-block; text-indent:-9999em;}
.tip_bottom p.red_font,span.red_font{ color:#ff0000}
.btn_red{ background:#ed3f41; border-radius:5px; padding:12px 56px; font-size:18px; color:#FFF; margin:60px 0 0; display:inline-block}
.btn_red:hover{ background-color:#00d67b; text-decoration:none; cursor:pointer}
.tip_bottom  p.f14{ font-size:14px; padding:10px 0 100px}


#box{position:relative;width:670px;margin:60px auto;}
#box ul{position:relative;width:670px;height:405px;}
#box li{position:absolute;list-style:none;background:#000;width:0;height:0;top:146px;left:377px;z-index:0;cursor:pointer;overflow:hidden; box-shadow:0px 8px 10px rgba(0,0,0,0.3)}
#box li img{width:100%;height:100%;vertical-align:top;}
#box .prev, #box .next{position:absolute;top:50%;width:39px;height:80px;margin-top:-40px;overflow:hidden;text-indent:-999px;cursor:pointer;}
#box .prev{left:-60px;}
#box .next{right:-60px;background-position:-39px 0;}


.highpoint_area{ width:1100px; margin:0 auto; box-sizing:border-box}
.highpoint_area:after{ clear:both; height:0; display:block; content:""}
.highpoint_l{ float:left}
.highpoint_r{ float:left; box-sizing:border-box; vertical-align:middle; display:block}
.highpoint_title1{ padding-top:180px;}
.pl{ padding-left:44px;}

/*图片滚动*/
.friend{margin:0 auto;overflow:hidden;width:1140px;}
.mr_frbox{padding:0px;}
.mr_frBtnL{cursor:pointer;display:inline;float:left;height:46px;margin:160px 10px 0 0;width:28px;}
.mr_frUl{float:left;width:1047px;margin-left:10px;}
.mr_frBtnR{float:right;margin-top:160px;cursor:pointer;width:28px;height:46px;}
.mr_frUl ul li{display:inline;float:left;/*height:389px;*/width:300px;overflow:hidden;position:relative;}
.mr_frUl ul li a img{/*display:block;*/width:100%; width:235px; height:378px; border:1px #d0d0d0 solid; background:#FFF; padding:5px;}


.bottom_banner { width:100%; height:570px; display:block; overflow: hidden; margin:0 auto; box-sizing:border-box; text-align: center;}
.bottom_banner .banner img { bottom: -50px; left: 0;}
.bottom_banner .mask { width:100%; height:570px; top: 0; left: 0; background: url(../Image/mp/mask.png) repeat; z-index: 2;}
.bottom_banner .inner { width: 1100px; height:500px; margin: 0 auto; z-index: 3;}
.bottom_banner .inner .title {}
.bottom_banner .inner .title h2 { width:415px; height:43px; margin:50px auto 20px auto; background: url(../Image/mp/element13.png) no-repeat;}
.bottom_banner .inner .title p { margin:20px 0; font-size: 14px; line-height: 24px;}
.bottom_banner .inner .title .t1 { color: #ffffff;}
.bottom_banner .inner .title .t2 { color: #fff; margin-top:-10px;}
.register { width: 1100px; margin: 0 auto; padding: 40px 0; text-align: center;}
.register p { font-size: 18px;}
.register a { display: block; width: 270px; height: 50px; margin: 20px auto; line-height: 50px; text-decoration: none; color: #ffffff; font-size: 20px; background: #ec5053; border-radius: 3px;}
.register a:hover { background: #e04c4f;}