@charset "utf-8";
/* CSS Document */
.top_banner{ background:#f6f6f6 url(../Image/fxzs/cloud_white.png) no-repeat; display:block; padding:35px 0px 35px 50px; -webkit-animation:cloud 40s linear infinite; -o-animation:cloud 40s linear infinite; }
.top_banner:after{ clear:both; display:block; content:""; height:0}
.top_banner .top_banner_l{ float:left; width:267px; padding-top:140px;}
.top_banner .top_banner_l h1{ font-size:38px; color:#5d5d5d; font-weight:400; padding:10px 0;}
.top_banner .top_banner_l p{ color:#8b8b8b; font-size:22px;  font-weight:100; line-height:32px;}
.top_banner .top_banner_l a.btn_orange{ background:#ffa100; padding:15px 0px; width:170px; display:block; text-align:center; border-radius:2px; color:#FFF; font-size:22px; margin:30px 0 10px; text-decoration:none;}
.top_banner .top_banner_l a.btn_orange:hover{ background:#f19800; padding:15px 0px; width:170px; display:block; text-align:center; border-radius:2px; color:#FFF; font-size:22px; margin:30px 0 10px; text-decoration:none;}
.top_banner .top_banner_r{ float:right;}

/*漂浮的云*/
@-webkit-keyframes cloud { 
from{background-position:0% 0%} 
to{background-position:50% 50%} 
}

.level1{ padding:30px 18px 30px; font-size:14px;}
.level1 dl{ margin:0; padding:0; list-style:none; padding:20px 0;}
.level1 dl dt{ color:#3f3f3f; font-size:20px; line-height:46px; font-weight:bold}
.level1 dl dd{ font-size:14px; color:#696969; line-height:28px;}
.level1 dl:last-child{ padding-top:30px;}
.no2{ padding-top:10px;border-top:1px #ebebeb solid}
.no2:after{ clear:right; height:0; display:block; content:""}
.no2 dl:first-child{ float:left; width:490px;}
.no2 dl:last-child{ clear:right; float:right; width:310px; text-align:left; padding-top:200px; padding-left:10px; margin-right:-20px;}
.no2 dl:last-child dt{ font-size:24px; color:#009ebc; font-weight:400}
.no2:after{clear:both; display:block; height:0; content:"";}

.no3{ padding-top:10px;}
.no3:after{ clear:right; height:0; display:block; content:""}
.no3 dl:first-child{ float:left; width:313px; padding-top:150px;}
.no3 dl:last-child{ clear:right; float:right; width:490px; margin-right:-20px;}
.no3 dl:first-child dt{ font-size:24px; color:#009ebc; font-weight:400}

.tips{ padding:20px 0}