dd{ margin-left:0;}
.hd_zone_banner{}
.ym-info .nav-l { /*width:278px;*/}
.ym-info .info-main{ /*width:785px; */margin-left:35px;}
.o2o-main-l{ margin-left:20px;}
#def-box .imc-intro{ margin-left:20px;}
.ym-info .info-main .box-tit{border-bottom:1px #f3f3f3 solid; }
.ym-info .info-main .box-tit p{ font-size:20px; color:#666666; line-height:20px; border-left: 4px solid #ff9c00;}
.hd_zone_list{}
.hd_zone_list .hd_zone_item{ border-radius:2px; clear:both; display:inline-block; margin-bottom:30px; width:100%; overflow:hidden;}
.hd_zone_list .hd_zone_item .list_left{ float:left}
.hd_zone_list .hd_zone_item .list_left img{ width:240px; height:240px;}
.hd_zone_list .hd_zone_item .list_right{float:right; width:445px;/*width:454px;*/ height:210px; /*margin-left:37px;*/ padding:0px 34px 30px 44px; font-size:14px; color:#666666; border:1px #eeeeee solid; }
.arrowin{ font-size:0px; position: relative; width:0; height:0; left:-61px; top:30px; border-top:10px solid transparent;border-bottom:10px solid transparent; border-right:16px solid #eeeeee; }
.arrowout{ font-size:0px; position: relative; width:0; height:0;  left:-76px; top:30px; border-top:10px solid transparent;border-bottom:10px solid transparent; border-right:16px solid #FFF; }
.hd_zone_list .hd_zone_item .list_right h2{ font-size:16px; padding:0px 0; font-weight:bold; color:#666666;}
.hd_zone_list .hd_zone_item .list_right ul{ margin:0; padding:0; list-style:none;}
.hd_zone_list .hd_zone_item .list_right ul li{ line-height:25px;}
.hd_zone_list .hd_zone_item .list_right ul li:last-child{ line-height:24px; padding:20px 0 10px 0; font-size:14px; height:90px; overflow:hidden}
.hd_zone_list .hd_zone_item .list_right a.link_more{ text-align:right; float: right; font-size:14px; color:#ffa811; text-decoration:underline}
.hd_zone_list .hd_zone_item:first-child{ background:url(../Image/hd_zone/hd_zone_new.png) right top no-repeat;}
.hd_zone_list .page{ text-align:center}

.o2o-main-l .hot-o2o{margin:20px -40px 10px 0;}
.o2o-main-l .emp{display:inline-block;*display:inline;*zoom:1;margin-right:37px;margin-bottom:20px;*margin-right:20px;width: 240px;background: #fff; border:1px #e1e1e1 solid;margin-top:10px}
.o2o-main-l .emp .img{width: 240px;height: 240px;}
.o2o-main-l .emp .text{text-align: left;margin: 0 10px;}
.o2o-main-l .emp .text h1{font-size: 15px;color: #525252;width:220px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.o2o-main-l .emp .text p{font-size: 12px;color: #989898;}
.o2o-main-r .part{padding:8px 20px 18px;width:280px;background: #fff;}
.o2o-main-r .part .o2o-classic{margin-top: 20px;}
.o2o-main-r .o2o-classic .first{padding-bottom:10px;border-bottom:1px solid #eee;color:#fff;}
.o2o-main-l h4{font-size:20px; color:#666666; line-height:20px; border-left: 4px solid #ff9c00; padding-left:15px;}
.o2o-main-l .emp:last-child{ margin-right:0;}

