@charset "utf-8";
/* CSS Document */
body{font-family: "Microsoft YaHei","微软雅黑","黑体",Arial,sans-serif;font-size: 14px; font-weight:normal; margin:0 auto; padding:0; text-align:center; color:#FFF

}
/*
框架
*/
#wrapper{
	background:#ff4c28 url(../Image/bg.png) top center no-repeat;
	background-size:95%;
	text-align:center
}
#out-box{
	width:1008px;
	height:auto;
	margin:0 auto;
	padding:0;
	padding-top:4px;
	padding-bottom:20px;
}
#head{}
#body{}
/*
框架end
*/
#body:after
{
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
zoom:1;
}
.logo{ background:url(../Image/whlogo.png) no-repeat; width:184px; height:124px; float:left; margin-left:52px; margin-top:24px;}
.head-center{ float:left;}
.title{ background: url(../Image/paihang.png) no-repeat center; width:455px; height:105px;margin-left:62px;}
.static{ margin:18px 0; clear:both; margin-left:30px;  }
.static span{ background-color:#da482b; border-radius:16px;font-size:18px; padding:4px 20px;color:#FFF; }
.dog{ background:url(../Image/dog.png) bottom no-repeat; clear:right; float:right; width:89px; height:170px; margin-right:70px;}

/*
table
*/
.cricle{ width:30px; height:30px; border-radius:100%; font-size:16px; padding:7px; color:#FFF; background-color:#bababa; margin-left:10px;}
.hot{ background-color:#0346bf;}
.first{background-color:#da482b;}
.second{background-color:#2f9000;}
.third{background-color:#0095da;}
table.table {
float:left;
width:50%;
clear: both;
font-size:16px;
color:#000000;
}
.no-lborder{ border-left:0;}
thead th{
vertical-align: middle;
background-color:#da482b;
color:#FFF;
font-weight:700;
height:50px;
line-height:50px;
padding-left:10px;
}
thead th:last-child{border-right:1px #e57f6b solid
}
tbody tr td:last-child{border-right:1px #f4c8bf solid;
}
tbody{ background-color:#FFF}
tr{ height:52px;}
tbody tr{ height:52px;}
.top1 td:first-child{ color:#da482b; font-weight:bold}
.top1 td:last-child{ color:#da482b; font-weight:bold}
.top2 td:first-child{ color:#2f9000; font-weight:bold}
.top2 td:last-child{ color:#2f9000; font-weight:bold}
.top3 td:first-child{ color:#0095da; font-weight:bold}
.top3 td:last-child{ color:#0095da; font-weight:bold}

/*
table end
*/
.first{background-color:#da482b;}
.second{background-color:#2f9000;}
.third{background-color:#0095da;}