@charset "utf-8";
/* CSS Document */
/*
[目录表]
1- 首页 缩写ind
*/
#wrapper { padding-top:34px; padding-bottom:0;}
#main { padding-top:0; overflow:hidden; padding-bottom:58px;}
#container { padding-top:64px;}
#wrapper #container #footer { bottom:0; left:220px; right: 0; width:auto; min-width: 980px;}
.subcon { padding-bottom:10000px; margin-bottom:-10000px;}
#headerTwo { height:34px; position:absolute;}
#headerTwo .logo { display:none;}
#headerTwo .headerNav { display:none;}
#headerTwo .headerOpr { height:34px;}
#headerTwo .headerMsg { height:34px;}
#headerTwo .headerMsg .text {padding:5px 18px 5px 7px;}
#headerTwo .headerMsg .text>i {top:5px;}
#headerTwo .headerOpr .headerOprList>a {padding:5px 7px;}
#headerTwo .headerNav ul li .headerMore { top:34px;}
#headerTwo .headerOpr .headerMore {top: 34px;}

.IndHeader { position: absolute; z-index:98; top:34px; left:0; width:100%; min-width:1100px; height:64px; background:#f2f2f2;}
.IndHeader .logo { height:100%;float:left; width:220px; margin-right:-220px;}
.IndHeader .logo-img { width:220px; height:100%;background:url(../Image/logoFive.png) no-repeat center center;float:left;}
.IndHeader .IndHeaderMain { float:left; width:100%;}
.IndHeader .IndHeaderMain .IndHeaderCon { margin-left:270px;}
.IndHeaderNav { height:64px;}
.IndHeaderNav ul { height:100%;}
.IndHeaderNav ul li { position:relative; float:left; height:100%;}
.IndHeaderNav ul li.end { margin:10px; position: relative; top:50%; margin-top:-10px; float:left; width:1px; height:20px; background:#d3d3d3;}
.IndHeaderNav ul li>a { padding:20px 15px; height:24px; overflow:hidden; line-height:24px; display:block; color:#333; font-size:14px;}
.IndHeaderNav ul li>a i { font-size:14px; margin-left: 5px;}
.IndHeaderNav ul li>a i.icon-down-dir { display: inline-block;}
.IndHeaderNav ul li>a i.icon-up-dir { display: none;}
.IndHeaderNav ul li:hover>a {color:#ed3f41;}
.IndHeaderNav ul li:hover>a i.icon-up-dir { display: inline-block;}
.IndHeaderNav ul li:hover>a i.icon-down-dir { display: none;}
.IndHeaderNav ul li .IndHeaderNavMsg { position:absolute; top:50%; left:50px; margin-top:-19px; width:146px; height:38px; text-align:left; text-indent:10px; line-height:38px; color:#fff; background:#484848;}
.IndHeaderNav ul li .IndHeaderNavMsg .icon-left-dir { position:absolute; top:50%; margin-top:-10px; left:-7px; width:20px; height:20px; text-indent:0; font-size:20px; line-height:20px;color:#484848;}
.IndHeaderNav ul li .IndHeaderNavMsg .icon-cancel { cursor: pointer; position:absolute; right:0px; top:2px; line-height:20px; width:20px; height:20px; text-align:center; text-indent:0; font-size:12px;}
.IndHeaderNav ul li:hover .IndHeaderMore { display:block;}
.IndHeaderMore { position:relative; padding:0; width: 100px; margin-left:6px; margin-top:-10px; box-shadow:0 2px 5px rgba(100,100,100,0.2); background:#fff; border:solid 1px #ddd; color:#333; display:none;text-align:center;}
.IndHeaderMore:before { position:absolute; z-index:2; left:50%; margin-left:-6px; top:-6px; width: 0; height: 0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff; content:"";}
.IndHeaderMore:after { position:absolute; z-index:1; left:50%; margin-left:-8px; top:-8px; width: 0; height: 0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:8px solid #ddd; content:"";}
.IndHeaderMore .IndHeaderMoreNav { width:100px; height:auto; overflow:hidden;}
.IndHeaderMore .IndHeaderMoreNav a { display:block; height:30px; line-height:30px; font-size:14px; color:#333;}
.IndHeaderMore .IndHeaderMoreNav a:hover { color:#fff; background:#454e60;}

.IndUser { position: relative; float: left; z-index:3; padding-bottom:10000px; margin-bottom:-10000px; width:220px; background:#363c48;}
.IndUserCon {}
.IndUser::-webkit-scrollbar {width:6px;height:6px;}
.IndUser::-webkit-scrollbar-track-piece {background-color: #262c38;}
.IndUser::-webkit-scrollbar-thumb {background-color: #606777; border-radius: 4px;}
.IndUser::-webkit-scrollbar-thumb:hover { background-color: #787f8c;}
.IndUser::-webkit-scrollbar-thumb:active {background-color: #606777;}
.IndUser .IndUserMsg { padding-top:20px;}
.IndUserPortrait { width:64px; height:64px; line-height:0; border-radius:50%; margin:0 auto; overflow:hidden;background-position: center center;background-repeat: no-repeat;background-size: cover; cursor: pointer;}
.IndUserPortrait img { width:100%;}
.IndUserName { margin:0 20px; padding:10px 10px; font-size:14px; line-height:24px; text-align:center; border-bottom:solid 1px #484d56; color:#ccc;}
.IndUserName i{ width:33px; height:19px;display:inline-block;*display:inline;*zoom:1; vertical-align:middle; margin-left:3px;}
.IndUserName i.icon-novip {background:url(../Image/icon1.png) no-repeat 0 -1500px;}
.IndUserName i.icon-vip {background:url(../Image/icon1.png) no-repeat -55px -1500px;}
.IndUserId { padding:10px 0; margin:0 20px; text-align:left; line-height:24px; font-size:14px;}
.IndUserId p { text-align:left; line-height:24px; font-size:14px; color:#ccc;}
.IndUserId p span { color:#ed3f41;}
.IndUserId p a { margin-left:10px;}
.IndUserNav {}
.IndUserNav a { position:relative; padding:3px 20px; display:block; line-height:24px; color:#ccc; font-size:14px;}
.IndUserNav a:after { position:absolute; right:10px; content:'\e895';font-family: 'ly'; font-size:16px;}
.IndUserNav a:hover { color:#ed3f41;}
.IndUserNav a.hover { background:#ed3f41; color:#fff;}
.IndUserOpr { background:#454d5e; margin-top:10px; padding:6px 0 6px 0; overflow: hidden;}
.IndUserOpr .IndUserOprCon { width: 240px; height: 150px; overflow-y: scroll;}
.IndUserOpr p { position:relative; padding:3px 20px; display:block; line-height:24px; color:#777d8a; font-size:14px;}
.IndUserOpr a { position:relative; padding:3px 20px; display:block; line-height:24px; color:#ccc; font-size:14px;}
.IndUserOpr a:hover { color:#ed3f41;}
.IndUserOpr a.hover { background:#ed3f41; color:#fff;}
.IndUserRec { position:relative;}
.IndUserRec .IndUserHelp { margin:30px 20px 0 20px;}
.IndUserRec .IndUserHelp .title { position:relative; z-index:1; height:40px; text-indent:70px; line-height:35px; font-size:14px; font-weight:bold; color:#fff; background:#454d5e; border-radius:5px;}
.IndUserRec .IndUserHelp .title img { position:absolute; bottom:0; left:25px; height:48px;}
.IndUserRec .IndUserHelp .link { padding:8px 0; position:relative; height:auto; overflow:hidden; z-index:2; margin-top:-5px; border:solid 1px #525865; border-radius:5px; background:#363c48;}
.IndUserRec .IndUserHelp .link a { float:left; width:50%; height:24px; line-height:24px; font-size:14px; text-indent:10px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden; color:#ccc;}
.IndUserRec .IndUserHelp .link a:hover { color:#ed3f41;}
.IndUserRec .IndUserApp { margin:20px 20px 0 20px; position:relative; z-index:1; background:#fff; border-radius:5px; line-height:0;}
.IndUserRec .IndUserApp img { width:100%;}

.IndData {padding:23px 0; border-bottom:1px #e4e4e4 solid; height:auto; overflow:hidden;}
.IndData.lg5 dl { width:20%; float: left; text-align:center;}
.IndData dl dt { color:#2e7dc6; font-size:22px; line-height:28px;}
.IndData dl dt a { color:#0077dd;}
.IndData dl dd { font-size:14px; line-height:24px; color:#666;}
.IndData dl dt span { color:#ed3f41;}
.IndData dl dt span em { font-size:14px;}

.IndVoice { height:40px; overflow:hidden; background:#fff;}
.IndVoice .t { position:relative; float:left; width:25px;}
.IndVoice .t i { color:#bbb; line-height:40px; font-size:18px;}
.IndVoice .list { margin:0 120px 0 0; height:40px; overflow:hidden; line-height:40px; font-size:14px;}
.IndVoice .list ul { height:auto; overflow:hidden;}
.IndVoice .list li { width:100%; float:left; height:auto;}
.IndVoice .list li a{ display:block;width:50%;float:left; overflow:hidden;white-space:nowrap;text-overflow: ellipsis;}
.IndVoice .list a span { display:none;}
.IndVoice .list a.visited { color:#999;}
.IndVoice .list a.visited span { display:inline-block; color:#ec8000;}
.IndVoice .list a i {display: inline-block; margin-left: 5px; vertical-align: middle; width: 16px; height: 16px; background: url(../Image/icon1.png) no-repeat 0 -1620px;}
.IndVoice .opr { float:right; width:90px; padding:9px 0; text-align: right;}
/*
.IndVoice .opr a { float:left; width:30px; font-size:14px; line-height:22px; color:#666;}
*/
.IndVoice .opr a { font-size:14px; line-height:22px; color:#666;}
.IndVoice .opr i { position:relative; z-index:1; float:right; margin-left:-1px; width:26px; height:20px; border:solid 1px #ddd; cursor:pointer;}
.IndVoice .opr i.pre {background:url(../Image/icon-index-index.png?v=2) no-repeat -158px -760px;}
.IndVoice .opr i.next {background:url(../Image/icon-index-index.png?v=2) no-repeat -180px -760px;}
.IndVoice .opr i.pre:hover { z-index:3; border:solid 1px #ec8000;background:url(../Image/icon-index-index.png?v=2) no-repeat -158px -780px;}
.IndVoice .opr i.next:hover { z-index:3; border:solid 1px #ec8000;background:url(../Image/icon-index-index.png?v=2) no-repeat -180px -780px;}

.IndOperation { width: 105%; height:auto; overflow:hidden;}
.IndOperation .IndOperationDiv { margin-right: 15px; margin-bottom: 15px; position:relative; float:left; height:240px; overflow:hidden; background-position:center center; background-repeat:no-repeat; background-size: auto 100%;}

.subcon { width: 880px;}
.IndOperation .IndOperationDiv { height:208px;}
.IndOperation .IndOperation1 { width:285px; margin-right: 11px;}
.IndOperation .IndOperation2 { width:208px;}

@media screen and (min-width:1360px){
	.IndHeaderNav ul li>a { padding:20px 20px;}
	.subcon { width: 1010px;}
	.IndOperation .IndOperationDiv { height:241px;}
	.IndOperation .IndOperation1 { width:329px;}
	.IndOperation .IndOperation2 { width:241px;}
}
@media screen and (min-width:1440px){
	.subcon { width: 1090px;}
	.IndOperation .IndOperationDiv { height:261px;}
	.IndOperation .IndOperation1 { width:355px;}
	.IndOperation .IndOperation2 { width:261px;}
}
@media screen and (min-width:1520px){
	.subcon { width: 1170px;}
	.IndOperation .IndOperationDiv { height:281px;}
	.IndOperation .IndOperation1 { width:381px;}
	.IndOperation .IndOperation2 { width:281px;}
}
@media screen and (min-width:1600px){
	.subcon { width: 1250px;}
	.IndOperation .IndOperationDiv { height:301px;}
	.IndOperation .IndOperation1 { width:410px;}
	.IndOperation .IndOperation2 { width:301px;}
}
@media screen and (min-width:1680px){
	.subcon { width: 1330px;}
	.IndOperation .IndOperationDiv { height:321px;}
	.IndOperation .IndOperation1 { width:436px;}
	.IndOperation .IndOperation2 { width:321px;}
}
.IndOperation .IndOperationCon { position:absolute; z-index:2; left:0; top:100%; width:100%; height:100%; opacity:0; transition:all 0.3s ease;}
.IndOperation .IndOperationCon a.btn-all { position:absolute; right:30px; bottom:30px; width:80px; margin:0;}
.IndOperation .IndOperationCon .IndOperationText { padding:30px 20px; color:#fff;}
.IndOperation .IndOperationCon .IndOperationText h1 { color:#fff; font-size:18px; font-weight: normal; line-height: 1.5em;}
.IndOperation .IndOperationCon .IndOperationText p { height:96px; overflow:hidden; color:#fff; font-size:14px; line-height:24px;}
.IndOperation .IndOperationBg { position:absolute; z-index:1; left:0; top:0; width:100%; height:100%;}
.IndOperation .IndOperationBg .IndOperationBg1 { position:absolute; top:0%; left:0%; width:50%; height:50%;}
.IndOperation .IndOperationBg .IndOperationBg2 { position:absolute; top:0%; left:50%; width:50%; height:50%;}
.IndOperation .IndOperationBg .IndOperationBg3 { position:absolute; top:50%; left:0%; width:50%; height:50%;}
.IndOperation .IndOperationBg .IndOperationBg4 { position:absolute; top:50%; left:50%; width:50%; height:50%;}

.IndOperation .IndOperationDiv:hover .IndOperationCon { top:0; opacity:1;}
.IndOperation .IndOperationDiv:hover .IndOperationBg { background:rgba(54,60,72,0.9); transition:all 0.3s ease;}
.IndOperation .IndOperationDiv:hover .IndOperationBg .IndOperationBg1 {top:0; left:0;}
.IndOperation .IndOperationDiv:hover .IndOperationBg .IndOperationBg2 {top:0; left:50%;}
.IndOperation .IndOperationDiv:hover .IndOperationBg .IndOperationBg3 {top:50%; left:0;}
.IndOperation .IndOperationDiv:hover .IndOperationBg .IndOperationBg4 {top:50%; left:50%;}


.IndOther { margin-bottom:60px;}
.IndOther ul { height:auto; overflow:hidden;}
.IndOther ul li { width:25%; height:60px; float:left; background:#8f949f; transition:all 0.3s ease;}
.IndOther ul li a { display:block; height:60px; line-height:60px; text-align:center; font-size:16px; color:#fff; border-right:solid 1px #fff;}
.IndOther ul li:last-child a { border-right:none;}
.IndOther ul li a i { margin-right:10px; display:inline-block; width:25px; height:25px; vertical-align: middle;background-image:url(../Image/icon-Indother.png);}
.IndOther ul li a i.IndOther1 { background-position:0 0;}
.IndOther ul li a i.IndOther2 { background-position:0 -25px;}
.IndOther ul li a i.IndOther3 { background-position:0 -50px;}
.IndOther ul li a i.IndOther4 { background-position:0 -75px;}
.IndOther ul li a span { vertical-align: middle;}
.IndOther ul li:hover { background:#ed3f41;}
.IndOther ul li:active { background:#ed3f41;}

/*
.IndOperation2 { height:auto; overflow:hidden;}
.IndOperation2 .IndOperationDiv { position:relative; float:left; height:240px; overflow:hidden; text-align:center;}
.IndOperation2 .IndOperationDiv img { position: relative; margin:0 auto; top:50%; margin-top:-120px; height:240px; z-index:2;transition:all 0.3s linear;}
.IndOperation2 .IndOperation1 { width:240px;}
.IndOperation2 .IndOperation2 { width:360px;}
.IndOperation2 .IndOperation3 { width:360px;}
.IndOperation2 .IndOperation4 { width:480px;}
.IndOperation2 .IndOperation5 { width:240px;}
.IndOperation2 .IndOperation6 { width:240px;}
.IndOperation2 .IndOperationCon { position:absolute; z-index:1; left:0; top:0%; width:100%; height:100%; background:rgba(54,60,72,0.9); text-align:left; transform:scale(0.7,0.7);transition:all 0.3s linear;}
.IndOperation2 .IndOperationCon a.btn-all { position:absolute; right:20px; bottom:20px; width:80px; height:28px; line-height:28px; margin:0;}
.IndOperation2 .IndOperationCon .IndOperationText { padding:15px 20px; color:#fff;}
.IndOperation2 .IndOperationCon .IndOperationText h1 { color:#fff; font-size:16px; line-height:30px;}
.IndOperation2 .IndOperationCon .IndOperationText p { height:96px; overflow:hidden; color:#fff; font-size:14px; line-height:24px;}
.IndOperation2 .IndOperationBg { position:absolute; z-index:1; left:0; top:0; width:100%; height:100%;}

.IndOperation2 .IndOperationDiv:hover img { top:50%; margin-top:-23px; height:80px;}
.IndOperation2 .IndOperationDiv:hover .IndOperationCon { transform:scale(1,1);}
.IndOperation2 .IndOperationDiv:hover .IndOperationBg .IndOperationBg1 {top:0; left:0;}
.IndOperation2 .IndOperationDiv:hover .IndOperationBg .IndOperationBg2 {top:0; left:50%;}
.IndOperation2 .IndOperationDiv:hover .IndOperationBg .IndOperationBg3 {top:50%; left:0;}
.IndOperation2 .IndOperationDiv:hover .IndOperationBg .IndOperationBg4 {top:50%; left:50%;}

*/
/* 人工服务弹窗 */
.mySecretary{padding:50px 20px 45px;width:500px;}
.mySecretary ul li{width:450px;height:75px;margin:9px auto 0px;text-align:left;color:#3e3e3e;font-size:16px;background:#f6f6f6;
position:relative;border:1px solid #f6f6f6;overflow:hidden}
.mySecretary ul li.li-email{border:1px solid #ff9933;}
.mySecretary ul li:hover{border:1px solid #ff9933;}
.mySecretary ul li p{padding-left:15px;line-height:14px;padding-top:15px}
.mySecretary .sendemail dl dt,.mySecretary ul li p i{background:url(../Image/staff-icon.png) no-repeat}
.mySecretary ul li p i{width:20px;height:15px;display:block;float:left;margin-right:5px;}
.mySecretary ul li p i.icon-email{background-position:-4px -3px}
.mySecretary ul li p i.icon-qq{background-position:-4px -40px;height:22px;margin-top:-5px;}
.mySecretary ul li p i.icon-tel{background-position:-4px -88px;height:23px;margin-top:-5px;}
.mySecretary ul li span{color:#999;font-size:14px;margin-left:5px}
.mySecretary ul li a.sendemail{display:block;position:absolute;right:0px;width:75px;height:75px;background:#ff9933;
color:#fff;top:0px;text-align:center;font-size:12px}
.mySecretary .sendemail dl dt{height:24px;background-position:24px -130px;margin:15px 0px 5px}
.mySecretary .oper-info{position:relative;width:75px;height:75px;}
.mySecretary .oper-wrap {width:75px;height:75px;display:block;right:0px;bottom:0px;position:absolute;overflow:hidden}
.mySecretary .oper-wrap .oper-bg{width:77px;height:157px;background:#ff9933;right:0px;bottom:0px;position:absolute;
-webkit-transition:all 0.5s;transition:all 0.5s;background:#ff9933;transform:rotate(55deg);transform-origin:0% 100%;-webkit-transform: rotate(55deg);-webkit-transform-origin:0% 100%;-ms-transform:rotate(55deg);-ms-transform-origin:0% 100%}
.mySecretary .oper-icon{width:75px;height:75px;display:block;right:0px;bottom:0px;position:absolute;overflow:hidden}
.mySecretary .chat-text{position:absolute;right:5px; bottom:1px;color:#fff;font-size:12px;color:#fff;}
.mySecretary .chat-text span{font-size:12px}
.mySecretary .li-qq:hover .oper-bg{transform:rotate(0deg);-webkit-transform:rotate(0deg);}
.mySecretary .li-qq:hover .oper-icon{background:url(../Image/staff-qq.png) no-repeat center 18px;}
.mySecretary .li-qq:hover .chat-text{right:12px;bottom:10px;}