
.login-wrap .login-logo img { margin-right: 35px;}
.login-wrap .login-box { height: 486px;}
.login-logo2 { margin-bottom: 24px;}
.login-logo2 img,.login-logo2 h2 { float: left;}
.login-logo2 h2 { font-size: 24px; line-height: 63px; color: #6d6d6d; margin-left: 15px;}

.IndHeader { height:auto; overflow:hidden; padding:24px 0 14px 0; background:#fff;-moz-box-shadow:0 2px 3px rgba(0,0,0,0.1);-ms-box-shadow:0 2px 3px rgba(0,0,0,0.1);-o-box-shadow:0 2px 3px rgba(0,0,0,0.1);-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.1); box-shadow:0 2px 3px rgba(0,0,0,0.1);}
.bgedeff5 { background-color:#edeff5;}
.mr110 { margin-right: 110px;}
.IndHeader-con li { float: left; height: 40px; padding: 15px 0; border-right: 1px #d4d4d4 dashed;}
.IndHeader-con li.first { border-right: 1px #e1e1e1 solid;}
.IndHeader-con h3 { padding-right: 15px; border-right: 1px; font-size: 20px; color: #666666;}
.IndHeader-con span { display: block; padding: 0 20px; text-align: center;}
.IndHeader-con .num { font-size: 20px; color: #ed3f41;}
.IndHeader-con .title { font-size: 12px; color: #999999;}

.ind-main{width:1056px; margin: 40px auto 100px auto;}
.list-wrapper>a{float:left;}
.list-wrapper { margin-right: -7px;}
.list-wrapper li{width:205px;height:126px;padding-top:30px;margin-right:7px;float:left;position:relative;text-align:center;}
.list-wrapper .w347 { width: 347px; margin-right: 6px;}
/*.list-wrapper li.hot{background-color:#fdf8e7;}
.list-wrapper li.new{background-color:#fdf8e7;}
.list-wrapper li.free{background-color:#fdf8e7;}*/
.list-wrapper li {background-color:#ffffff;}
.list-wrapper li:hover { box-shadow: 0 0 8px rgba(0,0,0,0.2); -o-box-shadow: 0 0 8px rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.2); -moz-box-shadow: 0 0 8px rgba(0,0,0,0.2);}
.list-wrapper li .corner-icon{display:none;}
.list-wrapper li.new .corner-icon{display:block;width:17px;height:17px;position:absolute;right:0;top:0;background:url(../Image/Wjfyx/icon-index-index.png?v=2) no-repeat 0 -783px;}
.list-wrapper li.hot .corner-icon{display:block;width:17px;height:17px;position:absolute;right:0;top:0;background:url(../Image/Wjfyx/icon-index-index.png?v=2) no-repeat -17px -783px;}
.mt7{margin-top:7px;}
.list-wrapper li.free .corner-icon{display:block;padding:2px 4px;position:absolute;right:0;top:0;background-color:#f00;font-size:12px;color:#fff;line-height:12px;border-radius:2px;font-style:normal;}
/*第一部分*/
.list-wrapper li .hot-part{position:relative;width:64px;height:64px;margin:0 auto;background-image:url(../Image/Wjfyx/icon-index-index.png?v=2);background-repeat:no-repeat;}
.list-wrapper .hot-part i{z-index:2;display:block;position:absolute;top:0;left:0;width:64px;height:64px;background-image:url(../Image/Wjfyx/icon-index.png?v=2);background-repeat:no-repeat;}
.list-wrapper li h1{margin:12px 0 6px;font-size:18px;color:#333;font-weight:normal;line-height:1.2;}
.list-wrapper li h2{margin:12px 0 6px;font-size:16px;color:#333;font-weight:normal;line-height:1.2;text-align:center;}
.list-wrapper li p{width:170px;font-size:12px;color:#999;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:1.2;}
.list-wrapper li p span{color:#ea5410;}
.ind-main .nav-hot{position:relative;padding:40px 0 60px;}
/*各个功能的图标*/
.hot-part-i1{background-position:0 0;}/*微信助手*/
.hot-part-i2{background-position:-64px 0;}/*多乐互动*/
.hot-part-i3{background-position:-128px 0;}/*多宝电商*/
.hot-part-i4{background-position:-192px 0;}/*旺分销*/
.hot-part-i5{background-position:-256px 0;}/*条码支付*/
.hot-part-i6{background-position:-320px 0;}/*电子券管理*/
.hot-part-i7{background-position:-384px 0;}/*门店管理*/
.hot-part-i8{background-position:-448px 0;}/*会员管理*/
.hot-part-i9{background-position:-512px 0;}/*数据中心*/
.hot-part-i10{background-position:-576px 0;}/*微官网*/
.hot-part-i11{background-position:-640px 0;}/*电子海报*/
.hot-part-i12{background-position:-704px 0;}/*图文编辑*/
.hot-part-i13{background-position:-768px 0;}/*门店导航*/

.Gform { width: 100%; margin-bottom: 30px;}
.Gform .Gname{ width:145px; font-weight: bold;}
.Gform .Ginput{ padding:12px 0 0 150px}
.Gform .Ginput>p { width: 100%; float: left; color: #a3a3a3;}
.Gform .Ginput .tips { display: inline-block; vertical-align: bottom; margin-left: 10px; line-height: 28px;}
.Gform .Ginput input[type=tel] { width: 260px; font-size: 14px; line-height: 20px; padding: 3px 50px 3px 6px; border: #bbb 1px solid; background: #fff; border-radius: 2px;}
.Gform ul:first-child .Ginput{ padding-top:15px;}
.Gform ul:first-child .Gname{ top:15px;}
.Gform .Ginput .maxTips.forInput, .Gform .Ginput .maxTips.forArea{ left:415px;}
.Gform .Ginput .maxTips.forInput{/* top: inherit;*/ line-height:20px;}
.Gform input[type=file] { position: absolute; top: -1px; left: -1px; width: 130px; height: 28px; opacity: 0; cursor: pointer; filter: alpha(opacity=0);}
.steps{line-height: 30px;color: #666666; font-size: 14px; border-left:2px #f15755 solid; background-color:#f8f8f8; padding-left:15px;}
.btn{min-width: 130px; display: inline-block;  overflow: visible;  padding: 0 22px;  height: 28px; box-sizing:border-box; line-height: 28px;  vertical-align: middle;  text-align: center;  text-decoration: none;  border-radius: 3px;  -moz-border-radius: 3px;  -webkit-border-radius: 3px;  font-size: 14px;  border-width: 1px;  border-style: solid;  cursor: pointer; margin: 10px 0 0 0;}
.btn.mt15{ margin-top:15px;}
.btn.mb0{ margin-bottom:0px;}
.btn:hover{ text-decoration:none}
.Gform .Ginput .btn_primary:hover{background-color: #999ca3;border-color: #999ca3;  color: #fff;}
.Gform .Ginput .btn_primary:active{background-color: #4a4e57;border-color: #4a4e57;  color: #fff;}
.Gform .Ginput .btn_primary{position: relative; background-color: #757982;  border-color: #757982;  color: #fff;}
.Gform .Ginput .btn_del{background-color: #757982;  border-color: #d6d6d6;  color: #666766;  background-image: -moz-linear-gradient(top,#fff 0,#f3f3f3 100%);  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f3f3f3));  background-image: -webkit-linear-gradient(top,#fff 0,#f3f3f3 100%);  background-image: -o-linear-gradient(top,#fff 0,#f3f3f3 100%);  background-image: linear-gradient(to bottom,#fff 0,#f3f3f3 100%);}

.ml12{ margin-left:12px;}
.ml120{ margin-left:120px;}
.mt15{ margin-top:15px;}
.btn.ml15{ margin-left:15px;}

.formError { position:absolute; top:-13px !important; left:150px !important; right:auto !important; margin:0 !important; z-index:100;-webkit-animation:erroMsg 0.3s linear;-webkit-animation-fill-mode:forwards;}
.formError.passcode { right:100px;}
/*.formError:before { position:absolute; top:-4px; right:10px; width:8px; height:8px; border: 1px #e39f9f solid; border-width: 1px 0 0 1px; background:#fff8f8; content: ''; -webkit-transform: rotate(45deg); z-index: 1;}*/
.formError .formErrorContent { width: auto; background: #fff8f8; position: relative; color: #ec3636; font-size: 12px; border: 1px solid #e39f9f; padding: 2px 10px 2px 10px; line-height: 20px; border-radius: 3px; box-shadow: 0 2px 2px rgba(0,0,0,.1); white-space: nowrap;}
@-webkit-keyframes erroMsg{
	0%{-webkit-transform:translate(0,10px);opacity:0}
	100%{-webkit-transform:translate(0,0);opacity:1}
}

.tbtn{ /*min-width: 110px;*/ display: inline-block;  overflow: visible;  padding: 0 10px;  height: 26px; box-sizing:border-box;  line-height: 24px;  vertical-align: middle;  text-align: center;  text-decoration: none;  border-radius: 3px;  -moz-border-radius: 3px;  -webkit-border-radius: 3px;  font-size: 14px;  border-width: 1px;  border-style: solid; border:1px #d0d0d0 solid;  cursor: pointer; color:#575757; text-decoration:none}
.tbtn.first{ margin-left:20px;}
.tbtn:hover{ text-decoration:none}
.tbtn i{ width:12px; height:12px; display:inline-block; background:url(../Image/Wjfyx/licon.png) no-repeat; overflow:hidden; margin-right:5px;}
.tbtn.btn-add{ background:#757982; border-color:#757982; color:#FFF; margin-right:15px;}
.tbtn.btn-add:link{background-color: #4a4e57;border-color: #4a4e57;  color: #fff;}
.tbtn.btn-add:visited{background-color: #757982;border-color: #757982;  color: #fff;}
.tbtn.btn-add:hover{background-color: #999ca3;border-color: #999ca3;  color: #fff;}
.tbtn.btn-add:active{background-color: #4a4e57;border-color: #4a4e57;  color: #fff;}

.tbtn.btn-add i{ background-position:-1px -1px;}
.tbtn.btn-down{ margin-right: 15px; background:#FFF; border-color:#d1d1d1; color:#666666; box-shadow:1px 1px 1px #eee; padding:0 9px;}
.tbtn.btn-down i{ background-position:-1px -15px;}
.tbtn.btn-in i{ background-position:-1px -30px;}
.tbtn.btn-in{ margin-right: 15px;}

.tbtn.btn-down:link{background-color: #FFF;border-color: #d1d1d1;  color: #666666;}
.tbtn.btn-down:visited{background-color: #FFF;border-color: #d1d1d1;  color: #666666;}
.tbtn.btn-down:hover{background-color: #FFF;border-color: #666666;  color: #666666;}
.tbtn.btn-down:active{background-color: #e1e1e1;border-color: #d1d1d1;  color: #666666;}

.subcon .tbtn.btn-red { border: 1px #ed3f41 solid; background: #ed3f41;}

.ind-copyright a { color: #8c8c8c;}

.Gprize { width:368px; height:auto; overflow:hidden;display:inline-block;*display:inline;*zoom:1;}
.Gprize .AddGprize {border: dashed 2px #7d7d7d;width:99%;height:26px;border: dashed 2px #b8b8b8;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;-o-border-radius: 2px; cursor:pointer; position:relative;}
.Gprize .AddGprize:hover { border: dashed 2px #666;}
.Gprize .AddGprize i { position: absolute;top: 50%;margin-top: -6px;left: 50%;margin-left: -6px;width: 11px;height: 11px;background: url(../Image/icon-msg.png) no-repeat -409px -98px;display: block;opacity: 0.3;
filter: alpha(opacity=30);}
.Gprize .AddGprize:hover i { display:none;}
.Gprize .AddGprize span { position: absolute;top: 50%;margin-top: -13px;left: 50%;margin-left: -100px; width:200px; height:26px; line-height:26px; text-align:center; display:none; font-size:14px;}
.Gprize .AddGprize:hover span { display:block; color:#666;}
.Gprize .BeginGprize { width:110px; height:26px; padding:3px; border:solid 1px #9ea9b0;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px; border-radius:3px; margin-bottom:10px;}
.Gprize .BeginGprize input[type=text] { width:80px; height:26px; border:none; font-size:14px; color:#666;}
.Gprize .BeginGprize i { float:right; width:22px; height:22px; margin:2px;}
.Gprize .EditGprize { width:99%;height:auto;border:solid 1px #9ea9b0;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px; border-radius:5px; position:relative; margin-bottom:20px; margin-top:10px;}
.Gprize .EditGprize .EditGprize-head { position:relative; height:32px; border-bottom:solid 1px #d3d9dc; background:#f4f4f4;}
.Gprize .EditGprize .EditGprize-head i { width:22px; height:22px; margin:5px;}
.Gprize .EditGprize .GprizeName { margin-left:10px; line-height:32px; color:#333; font-weight:bold;}
.Gprize .EditGprize .GprizeName i a { width:100%; height:100%; margin-left:0;}
.Gprize .EditGprize .GprizeName .GprizeName-tip { color:#f07162; font-size:12px; font-weight:normal; margin-left:-9px;}
.Gprize .EditGprize .GprizeName-edit input[type=text] { margin-left:10px; width:130px; line-height:22px; font-size:14px; background:#fff; border:solid 1px #9ea9b0; padding-left:2px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px; border-radius:3px;}
.Gprize .EditGprize .GprizeName-edit.dn { display:none;}
.Gprize .EditGprize .GprizeName-edit a { width:100%; height:100%; margin-left:0;}
.Gprize .EditGprize .EditGprize-member { position:relative; height:auto; overflow:hidden; padding:2px 10px 2px 10px; border-bottom:solid 1px #9ea9b0; background:#f4f4f4; height:auto; overflow:hidden;}
.Gprize .EditGprize .EditGprize-member .EditGprize-member-title { float:left; width:60px; text-align:left; line-height:23px; font-size:12px;white-space: nowrap;text-overflow: ellipsis; overflow: visible;}
.Gprize .EditGprize .EditGprize-member .EditGprize-member-div { margin-left:70px;}
.Gprize .EditGprize .EditGprize-member .EditGprize-member-div label { line-height:22px; vertical-align:middle; float:left; font-size:12px;}
.Gprize .EditGprize .EditGprize-member .EditGprize-member-div input{ margin-left:5px; vertical-align:middle;}
.Gprize .EditGprize .EditGprize-member .EditGprize-member-div span{ margin-left:2px; vertical-align:middle;}
.Gprize .EditGprize .EditGprize-add { padding:10px 10px;}
.Gprize .EditGprize .EditGprize-add span { line-height:35px; margin-right:2px;}
.Gprize .EditGprize .EditGprize-add input[type=text] { width:210px; height:22px; padding:2px; margin:0 5px; border:solid 1px #9ea9b0;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px; border-radius:3px;}
.Gprize .EditGprize .EditGprize-add input[type=text].erro {border:solid 1px #ed1c24;}
.Gprize .EditGprize .EditGprize-add .EditGprize-add-prize {width:210px; height:22px; padding:2px; margin:0 5px; border:solid 1px #9ea9b0;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px; border-radius:3px;}
.Gprize .EditGprize .EditGprize-add .EditGprize-add-prize.erro {border:solid 1px #ed1c24;}
.Gprize .EditGprize .EditGprize-add .btn-EditGprizeAdd,.Gprize .EditGprize .EditGprize-add .btn-EditGprizeAdd-editok { display:block; line-height:30px; background:#b9c5cc;border:solid 1px #9ea9b0;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px; border-radius:3px; color:#fff; font-size:14px; text-align:center;}
.Gprize .EditGprize .EditGprize-add .btn-EditGprizeAdd:hover,.Gprize .EditGprize .EditGprize-add .btn-EditGprizeAdd-editok:hover { background:#9cacb5; border:solid 1px #6b7f8b;}
.Gprize .EditGprize .EditGprize-con { height:auto; overflow:hidden;}
.EditGprize-conItem { padding:8px 10px;border-top:solid 1px #9ea9b0;}
.EditGprize-conItem.th { background:#f7f7f7;}
.EditGprize-conItemList.erro div { color:#ccc;}
.Gprize .EditGprize .EditGprize-con div {white-space: nowrap;text-overflow: ellipsis; overflow: hidden; line-height:22px;}
.Gprize .EditGprize .EditGprize-con-name { float:left; width:105px;}
.Gprize .EditGprize .EditGprize-con-day { float:left; width:109px; text-align:center;}
.Gprize .EditGprize .EditGprize-con-all { float:left; width:109px; text-align:center;}
.Gprize .EditGprize .EditGprize-con-edit { float:left; width:42px; text-align:center;}
.Gprize .EditGprize .EditGprize-con-edit i { float:left;  width:21px; height:22px;}

.conditionItem {}
.Gform .Ginput .conditionItem .conditionItemCon { position:relative;width: 350px;  padding-bottom:0px; padding:5px 5px 5px 10px; border: 1px #cccccc solid;margin-bottom:10px;}
.Gform .Ginput .conditionItem .conditionItemCon .conditionItemCon-del { position:absolute; top:0; *top:1px; right:0; width:26px; height:26px; line-height:26px; *height:25px; *line-height:25px; text-align:center; border: solid 1px #bbb; border-left:solid 1px #e2e2e2; background:#f7f7f7; color:#fff; border-radius:0 2px 2px 0;-webkit-transition:all 0.3s;}
.Gform .Ginput .conditionItem .conditionItemCon .conditionItemCon-del i { width:100%; height:100%; display:block; background: url(../Image/icon-form.png) no-repeat -280px 1px;}
.Gform .Ginput .conditionItem .conditionItemCon .conditionItemCon-del { right:3px; top:5px; border-radius:2px; border: solid 1px #fff; background:#fff;}
.Gform .Ginput .conditionItem .conditionItemCon .conditionItemCon-del:hover { border: solid 1px #ec8000; background:#ff8a00;}
.Gform .Ginput .conditionItem .conditionItemCon .conditionItemCon-del:hover i { background: url(../Image/icon-form.png) no-repeat -280px -39px;}