@charset "utf-8";
/* CSS 活动预览 */
/*
[目录表]
1- 
*/
/* =6 框架
--------------------------------------------------------------*/
.newsadd-title { line-height:30px;font:bold 16px/2em "microsoft yahei","黑体"; color:#714646; text-indent:0px; border-bottom: dashed 1px #714646; padding-top:20px;}
.add_set_bg { width:101px; height:53px; float:left;background:url(../Image/wapimg/appmsg-icon.png) no-repeat 50% 6px;vertical-align: middle; overflow:hidden; border:solid 1px #ddd; position:relative;}
.add_set_bg:hover {background:url(../Image/wapimg/appmsg-icon.png) no-repeat 50% -100px;}
.add_set_bg>input { width:100px; height:52px; float:left; position:absolute; opacity:0;filter:alpha(opacity=0); left:-10px; top:0; cursor:pointer;}
.set_bg_img { float:left; border: solid 2px #fff; width:100px; height:52px;}
.set_bg_img.set_bg_img_hover { border:solid 2px #ed1c24;}
.set_main { float:left; border: solid 2px #fff;}
.set_main_hover { border:solid 2px #ed1c24;}

.activityread_iphone,.shopBoxView_iphone { width:300px; float:right; height:631px; background:url(../Image/iphone_bg.png) no-repeat 0 0; margin-right:30px;}
.shopBoxView_iphone { position:absolute; right:0; top:-20px;}
.activityread_iphone_con {width:250px; height:433px; overflow:hidden; margin:106px 0 0 26px; float:left;}
#iphonePreview { width:250px; height:433px; overflow:hidden; position:relative; z-index:1;}
#iphonePreview #iphonePreview-con {height:auto; width:750px; overflow:hidden; position:relative;}
#iphonePreview #iphonePreview-one { float:left; width:250px; position:relative;}
#iphonePreview #iphonePreview-two { float:left; width:250px; position:relative;}
#iphonePreview #iphonePreview-three { float:left; width:250px; position:relative;}
#iphonePreview #iphonePreview-four { float:left; width:250px; position:relative;}

/*----------------------------------------预览--------------------------------------*/
.Preview-wrapper { height:auto; margin:0 auto; max-width:640px;background:#fff; width:250px;}
.Preview-container {width:100%;margin:0 auto;}
.Preview-container {height:auto!important; height:100%; min-height:100%;}
.Preview-header { height:auto; overflow:hidden;z-index:1; position:relative;text-align:center;}
.Preview-main { height:auto!important; height:100%; position:relative;}
#Preview-footer { background:#ededed; padding: 0 0 10px 0;text-align:center; border-top:solid 1px #e0e0e0;background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);	background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);}
#Preview-footer img { width:100%; height: auto;}
.Preview-mainTop { line-height:0; position:relative; z-index:99;}
.Preview-mainTop .Preview-top-img {height:auto;position:relative; overflow:hidden; line-height:0;}
.Preview-mainTop .Preview-top-img .Preview-vip-img {width:100%;height:auto;}
.Preview-multimedia .Preview-voice_button{width:30px; height:30px; background:url(../Image/wapimg/voice_button.png) no-repeat 0 0;background-size:100%; cursor:pointer; border:none; float:left; margin-left:8px; display:block;}
.Preview-multimedia .Preview-video_button{width:30px ; height:30px; background:url(../Image/wapimg/video_button.png) no-repeat 0 0;background-size:100%; cursor:pointer; border:none; float:left; margin-left:8px; display:block;}
.Preview-share{ width:100%; height:40px; line-height:25px;padding-bottom:5px; background-color:#f4f4f4;}
.Preview-share_list{ list-style:none;}
.Preview-share_list li{float:left; margin-left:10px; height:25px;}
.Preview-share_list li img { width:25px; height:25px;}
.Preview-ptb20 { padding-top:10px; padding-bottom:10px;}
.Preview-ml10{ margin-left:10px;}
.Preview-pb10 { padding-bottom:10px;}
.Preview-mt20{ margin-top:20px;}
::-moz-placeholder {
    color: #cccccc;
    opacity: 1!important;
}
:-ms-input-placeholder {
    color: #cccccc;
}
::-webkit-input-placeholder {
    color: #cccccc;
}
#iphonePreview input[type=text] {color:#555555;background:#fff;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;box-shadow:none; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:2px;}
#iphonePreview input[type=radio] {width:14px; height:14px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px; margin-left:5px;}
#iphonePreview input[type=radio]:checked { border:solid 1px #c03612;}
#iphonePreview input[type=radio]:checked:after{content:''; background:#c03612; width:4px; height:4px;position: absolute;top:4px;left:4px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
#iphonePreview input[type=checkbox] {width:14px; height:14px;-webkit-appearance:none; border:solid 1px #bfbfbf; background:#fff; position:relative;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px; margin-left:5px;}
#iphonePreview input[type=checkbox]:checked { border:solid 1px #c03612;}
#iphonePreview input[type=checkbox]:checked:after{content:'';background:url(../Image/wapimg/chcekbox-bg-sOne.png) no-repeat 0 0; background-size:100%; width:8px; height:8px;position: absolute;top:2px;left:2px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
#iphonePreview select {color:#ccc; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
#iphonePreview textarea {color:#ccc; background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; border:solid 1px #bfbfbf;-webkit-appearance:none; padding-left:3px;}
/*抽奖活动*/
.Preview-content_button {height:33px; overflow:hidden; width:210px;margin:0 auto;}
.Preview-bmForm hr { border:none;border-bottom: dashed 1px #dedede; height:10px; overflow:hidden;}
.Preview-input_button{ width:210px; margin:0 auto; height:28px;color:#fff; font-size:14px; cursor:pointer; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-webkit-appearance:none; background:#bf0600;}
.Preview-moreContenter { margin:0 5px; overflow:hidden; text-align:left; padding-bottom:10px;}
.Preview-moreContenter img { max-width:100%;}

/*调研活动*/
.PreviewBm-baseForm {padding-top:10px; margin:0 auto; border-bottom:solid 1px #dedede; width:220px;}
.PreviewBm-baseForm li { height:33px; overflow:hidden;}
.PreviewBm-baseForm li p { height:25px;width:65px; margin-left:0;float:left; text-align:right; line-height:25px; font-size:12px;}
.PreviewBm-baseForm li span { color:red;line-height:25px; font-size:12px;}
.PreviewBm-baseForm li label { height:25px;margin-left:0;float:left; text-align:left; line-height:25px; font-size:12px; padding-right:10px;}
.PreviewBm-baseForm input[type=text] { height:25px; line-height:25px;}
.PreviewBm-baseForm .PreviewBm-select { height:25px;width:140px;}
.PreviewBm-baseForm .PreviewBm-textarea { height:70px;width:140px;}
.PreviewBm-bmForm {padding:10px 0;margin:0 auto; width:220px;}
.PreviewBm-bmForm li { height:auto; overflow:hidden;}
.PreviewBm-bmForm li p { height:25px;width:65px; margin-left:0;float:left; text-align:right; line-height:35px; font-size:12px;}
.PreviewBm-bmForm li span { color:red;line-height:35px; font-size:12px;}
.PreviewBm-bmForm li label {margin-left:23px; display:block; height:auto; overflow:hidden; text-align:left; line-height:23px; margin-top:3px; font-size:14px; color:#666666;}
.PreviewBm-bmForm li h3 { font-size:15px; text-align:left; padding:8px 0 3px 0; color:#333; line-height:23px;}
.PreviewBm-bmForm li h3 span{ font-size:15px; text-align:left;color:#333; line-height:23px;}
.PreviewBm-bmForm input[type=text] { height:25px; line-height:25px;}
.PreviewBm-bmForm input[type=radio] {float:left;margin-top:8px;}
.PreviewBm-bmForm input[type=checkbox] {float:left;margin-top:8px;}
.PreviewBm-bmForm .PreviewBm-select { height:35px;width:140px;}
.PreviewBm-bmForm .PreviewBm-textarea { height:70px;width:140px;}
.PreviewBm-bmForm hr { border:none;border-bottom: dashed 1px #dedede; height:10px; overflow:hidden;}
.PreviewBm-sOne-Input { margin-left:5px; float:left; width:140px;}
.PreviewBm-sOne-Radio { float:left;margin-top:5px;}
.PreviewBm-sOne-Checkbox { float:left;margin-top:10px;}
.PreviewBm-sOne-Textarea { width:210px; margin-left:5px; float:left;}
.PreviewBm-content_button {height:53px; overflow:hidden; width:220px;margin:0 auto;}
.PreviewBm-sOne-select { width:140px; margin-left:5px; float:left;}
.Preview-sOne-Input-half { width:60px;}
.Preview-sOne-getpasscode {height:25px; line-height:25px;width:60px; color:#909090;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;box-shadow: none; border:solid 1px #bfbfbf;-webkit-appearance:none; margin-left:2px;}
.PreviewBm-data-select { width:40px;}
/*------------------------------------ 预览结束 -----------------------------*/

/*电子海报*/
.shopBoxView { margin:0 auto; width:250px; height:auto; min-height:400px;float:left; overflow:hidden; background:#fbfbfb;position: relative; cursor:pointer;}
.shopMod { position:relative; width:250px; overflow:hidden;min-height:30px;}
.shopMod a {text-decoration:none;}
.shopMod:hover .module-control,
.shopMod.hover .module-control,
.shopMod.ui-draggable-dragging .module-control { display:block;}
.module-control { display:none; width:100%; height:0; text-align:right; position:relative; z-index:100;}
.module-control .module-move { display:inline-block; margin-right:115px; width:50px; height:16px; border:solid 1px #f15755;border-top:none; border-radius:0 0 2px 2px; cursor:move;}
.module-control .module-move:after { display:block; margin-left:16px; margin-top:2px; width:16px; height:10px; background:url(../Image/icon-shop2.png) no-repeat 0 -60px; content:"";}
.module-control .module-del { display:inline-block; width:16px; height:16px; border:solid 1px #f15755;border-top:none;border-right:none; border-radius:0 0 0 2px; cursor:pointer;}
.module-control .module-del:after { display:block; margin:2px; width:12px; height:12px; background:url(../Image/icon-shop2.png) no-repeat -30px -60px; content:"";}
	/*爆款销售-新品推荐*/
	.shopModBox-13 { position:relative; height:433px; overflow:hidden;}
	.shopModBox-13 .shopModFlashDiv { width:100%; height:100%; overflow:hidden;}
	.shopModBox-13 .shopModFlashDiv ul { width:100%; height:100%; overflow:hidden;}
	.shopModBox-13 .shopModFlashDiv ul li { position:relative; width:100%; height:100%; overflow:hidden; float:left; text-align:center; background:#191c1e;}
	.shopModBox-13 .shopModFlashDiv ul li img { margin:0 auto; width:100%; height:auto; min-height:100%;}
	.shopModBox-13 .shopModFlashDiv ul li.draw-0 img { width:100%; height:auto;}
	.shopModBox-13 .shopModFlashDiv ul li.draw-1 img { width:auto; height:100%;}
	.shopModBox-13 .shopModFlashDiv ul li.draw-2 img { width:100%; height:100%;}
	.shopModBox-13 .shopModFlashDiv.left dl { position:absolute; bottom:12px; right:5px; z-index:3; width:100%; height:5px; text-align:center; text-align:right;}
	.shopModBox-13 .shopModFlashDiv.left dl .swiper-pagination-switch { display:inline-block; *display:inline; *zoom:1; width:8px; height:8px; background:rgba(0,0,0,0.2); margin:0 2px; border-radius:50%; cursor:pointer;}
	.shopModBox-13 .shopModFlashDiv.left dl .swiper-pagination-switch.swiper-active-switch { background:#f15755;background:rgba(241,87,85,0.8);}
	.shopModBox-13 .shopModFlashDiv.top dl { position:absolute; bottom:12px; right:5px; z-index:3; width:8px; height:auto; text-align:center; text-align:right;}
	.shopModBox-13 .shopModFlashDiv.top dl .swiper-pagination-switch { display:inline-block; *display:inline; *zoom:1; width:8px; height:8px; background:rgba(0,0,0,0.2); margin:2px 0; border-radius:50%; cursor:pointer;}
	.shopModBox-13 .shopModFlashDiv.top dl .swiper-pagination-switch.swiper-active-switch { background:#f15755;background:rgba(241,87,85,0.8);}

/*表单*/
.shopBoxForm { width:100%; float:right; position:relative;}
.shopBoxForm .IEmsgerro { padding:10px 20px; margin-top:10px;border:solid 1px #f15755; background:#fff2f3; color:#666; text-align:center;}
.shopBoxForm .IEmsgerro span { color:#f15755; font-weight:bold;}
.shopBoxFormCon { float:left; padding:20px 0 0px 0; margin:-40px 0 0 40px; width:500px; position:relative;}
.shopBoxFormCon.none { padding:0 0 5px 0;}
.shopBoxFormCon.none:after { top:0; margin-top:3px;}
.shopForm { width:100%; position:relative;*zoom:1;}
.shopForm:after,.shopForm ul:after,.shopForm ul li:after {visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0px;}
.shopForm .shopFormU { width:100%; position:relative;}
.shopForm .shopFormN { width:120px; text-align:right; line-height:28px; position:absolute; top:8px; left:0; font-size:14px;}
.shopForm .shopFormI { padding:8px 0 0 120px; position:relative;}
.shopForm .shopFormI .txtTips { display:block;line-height: 16px;padding: 6px 0 4px; font-size:12px; color:#999; font-family:"宋体";}
.shopForm .shopFormI .shopFormBanner { position:relative; border:solid 1px #ddd; background:#fff; padding:10px 10px; margin:0 10px 10px 0; float:left;}
.shopForm .shopFormI .shopFormBanner .img { position:relative; z-index:2; width:80px; height:80px; overflow:hidden; background:#f2f2f2; cursor:pointer;}
.shopForm .shopFormI.sortableHotRecommend .shopFormBanner .img { position:relative; z-index:2; width:80px; height:140px; overflow:hidden; background:#f2f2f2; cursor:pointer;}
.shopForm .shopFormI .shopFormBanner .img img { width:100%; height:100%;}
.shopForm .shopFormI .shopFormBanner .img a{ position:absolute; bottom:-30px; left:0; width:80px; line-height:30px; background:rgba(0,0,0,0.3); color:#fff; text-align:center;}
.shopForm .shopFormI .shopFormBanner p { position:relative; padding-bottom:6px; padding-top:6px; margin-left:90px;}
.shopForm .shopFormI.sortableNavPic .shopFormBanner .del-shopFormBanner { display:none;}
.shopForm .shopFormI.sortableNavPic .shopFormBanner:hover .del-shopFormBanner { display:none;}
.shopForm .shopFormI p .selectbox { width:95px; margin-left:-3px;}
.shopForm .shopFormI a.inputClass { width:206px; height:20px; font-size:12px; color:#ff9c00; overflow:hidden; text-overflow: ellipsis;white-space: nowrap; line-height:20px; padding:3px 6px 3px 6px; border: #dddddd 1px solid; background:#fff;/* box-shadow: 2px 2px 3px #f6f6f6 inset; */border-radius:2px;}
.shopForm .shopFormI .add-HotRecommend { position:relative; width:80px; height:140px; line-height:140px; border:solid 1px #ddd; background:#fff; padding:10px; cursor:pointer; float:left;}
.shopForm .shopFormI .add-HotRecommend i { float:left; margin:64px 5px 0 3px; width:14px; height:14px;background:url(../Image/icon-shop2.png) no-repeat 0 -20px;}
.shopForm .shopFormI a.btn-up { display:inline-block; *display:inline; *zoom:1; padding:4px 15px; border:solid 1px #ffd0d3; background:#fff2f3; color:#f15755;}
.shopForm .shopFormI a.btn-up:hover { background:#ffd0d3;}
.shopForm .shopFormI a.btn-upPro { position:relative; float:left;width:50px; height:50px; border:solid 1px #ddd; background:#fff;}
.shopForm .shopFormI a.btn-upPro:hover { border:solid 1px #f15755;}
.shopForm .shopFormI a.btn-up label { width:240px; margin:0; padding:0; cursor:pointer; overflow:hidden;text-overflow:ellipsis;}
.shopForm .shopFormI a.btn-upbtn { display:inline-block; *display:inline; *zoom:1; padding:4px 10px; border:solid 1px #ffd0d3; background:#ffd0d3; color:#f15755; margin-left:-5px;}
.shopForm .shopFormI a.btn-upPro i,
.shopForm .shopFormI .shopFormBanner .img i { position:absolute; top:50%; margin-top:-7px; left:50%; margin-left:-7px; width:14px; height:14px;background:url(../Image/icon-shop2.png) no-repeat 0 -20px;}
.shopForm .shopFormI a.view-upPro { position:relative; float:left; margin-right:10px; margin-bottom:5px; width:50px; height:50px; border:solid 1px #ddd; background:#fff;}
.shopForm .shopFormI a.view-upPro img { width:100%; height:100%;}
.shopForm .shopFormI a.view-upPro i,
.shopForm .shopFormI .shopFormBanner .del-shopFormBanner { display:none; position:absolute; right:-5px; top:-5px; width:14px; height:14px;background:url(../Image/icon-shop2.png) no-repeat -50px -60px; cursor:pointer;}
.shopForm .shopFormI a.view-upPro:hover i:hover,
.shopForm .shopFormI .shopFormBanner:hover .del-shopFormBanner:hover { opacity:1;}
.shopForm .shopFormI a.view-upPro:hover i,
.shopForm .shopFormI .shopFormBanner:hover .del-shopFormBanner { display: block; opacity:0.6;}
.shopForm .shopFormI .shopBoxForm-4 .shopFormBanner i.del-shopFormBanner { display:none;}
.shopForm .shopFormI label { float:left; margin-right:15px; padding:6px 0; vertical-align:middle; font-size:14px;}
.shopForm .shopFormI input[type=text] { width:260px; height:20px; padding:3px 50px 3px 6px;}
.shopForm .shopFormI .switch { float:left; height:28px; overflow:hidden; cursor:pointer;}
.shopForm .shopFormI .switch input[type=radio] { display:none;}
.shopForm .shopFormI .switch .newRadio { float:left; border:solid 1px #ddd; background:#fff; border-radius:2px; position:relative;}
.shopForm .shopFormI .switch .newRadio span { float:left; width:50px; line-height:26px; text-align:center; font-size:14px;}
.shopForm .shopFormI .switch .newRadio span.value1 { display: block; padding-right:25px;}
.shopForm .shopFormI .switch .newRadio span.value2 { display: none; padding-left:25px;}
.shopForm .shopFormI .switch.hover .newRadio span.value1 { display: none;}
.shopForm .shopFormI .switch.hover .newRadio span.value2 { display: block; color:#f15755;}
.shopForm .shopFormI .switch .newRadio i { position: absolute; top:2px; right:2px; width:22px; height:22px; background:#c5c5c5; border-radius:2px;-moz-transition:right 0.3s;-webkit-transition:right 0.3s;-o-transition:right 0.3s;-ms-transition:right 0.3s;transition:right 0.3s;}
.shopForm .shopFormI .switch.hover .newRadio { background:#fff2f3;}
.shopForm .shopFormI .switch.hover .newRadio i { right:51px;-moz-transition:right 0.3s;-webkit-transition:right 0.3s;-o-transition:left 0.3s;-ms-transition:right 0.3s;transition:right 0.3s; background:#ffd0d3;}
.shopForm .shopFormI .switch .newRadio-input { display:none; float:right;}
.shopForm .shopFormI .switch.hover .newRadio-input { display:block;}
.textbox,
.selectbox,
.texttextarea,
.texttextarea2,
.textbox-s,
.selectbox-s { font-size:14px; line-height:20px; padding:3px 6px 3px 6px; border: #dddddd 1px solid; background:#fff;/* box-shadow: 2px 2px 3px #f6f6f6 inset; */border-radius:2px;}

input:hover,textarea:hover,select:hover {
outline: none;
border: 1px solid #ccc;
}
input[type=range]:hover {
outline: none;
}
input:focus,textarea:focus,select:focus {
outline: none;
border: 1px solid #33c1ea;
box-shadow: 0 0 8px rgba(0,178,229,0.3);
}
input[type=range]:focus {
outline: none;
}
input[type=range] {
    box-shadow: 0 1px 0 0px #71808a inset;
    background-color: #99a4ac;
	height:5px;
    border-radius:3px;
	border:solid 1px #71808a;
    width:235px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    height:16px;
    width:16px;
    background:#99a4ac;
    border-radius:8px;
	border:solid 5px #fff;
    box-shadow: 0 0 0 1px #cfcfcf;
}

.shopFormBannerAn {-webkit-animation:shopFormBannerAn 0.6s linear forwards;-ms-animation:shopFormBannerAn 0.6s linear forwards;-moz-animation:shopFormBannerAn 0.6s linear forwards;-o-animation:shopFormBannerAn 0.6s linear forwards;}
@-webkit-keyframes shopFormBannerAn
{
	0%{-webkit-transform:translate(0,0)}
	10%{-webkit-transform:translate(-8px,0)}
	20%{-webkit-transform:translate(8px,0)}
	30%{-webkit-transform:translate(-6px,0)}
	40%{-webkit-transform:translate(6px,0)}
	50%{-webkit-transform:translate(-4px,0)}
	60%{-webkit-transform:translate(4px,0)}
	70%{-webkit-transform:translate(-2px,0)}
	80%{-webkit-transform:translate(2px,0)}
	100%{-webkit-transform:translate(0,0)}
}
@-moz-keyframes shopFormBannerAn
{
	0%{-moz-transform:translate(0,0)}
	10%{-moz-transform:translate(-8px,0)}
	20%{-moz-transform:translate(8px,0)}
	30%{-moz-transform:translate(-6px,0)}
	40%{-moz-transform:translate(6px,0)}
	50%{-moz-transform:translate(-4px,0)}
	60%{-moz-transform:translate(4px,0)}
	70%{-moz-transform:translate(-2px,0)}
	80%{-moz-transform:translate(2px,0)}
	100%{-moz-transform:translate(0,0)}
}
@-o-keyframes shopFormBannerAn
{
	0%{-o-transform:translate(0,0)}
	10%{-o-transform:translate(-8px,0)}
	20%{-o-transform:translate(8px,0)}
	30%{-o-transform:translate(-6px,0)}
	40%{-o-transform:translate(6px,0)}
	50%{-o-transform:translate(-4px,0)}
	60%{-o-transform:translate(4px,0)}
	70%{-o-transform:translate(-2px,0)}
	80%{-o-transform:translate(2px,0)}
	100%{-o-transform:translate(0,0)}
}
@-ms-keyframes shopFormBannerAn
{
	0%{-ms-transform:translate(0,0)}
	10%{-ms-transform:translate(-8px,0)}
	20%{-ms-transform:translate(8px,0)}
	30%{-ms-transform:translate(-6px,0)}
	40%{-ms-transform:translate(6px,0)}
	50%{-ms-transform:translate(-4px,0)}
	60%{-ms-transform:translate(4px,0)}
	70%{-ms-transform:translate(-2px,0)}
	80%{-ms-transform:translate(2px,0)}
	100%{-ms-transform:translate(0,0)}
}
/*------------------------------------ 预览结束 -----------------------------*/

/*----------------------------------------预览1--------------------------------------*/
#iphonePreview-one .Preview-mainCon {position:relative;z-index:100; background:#fff; padding-top:50px; }
#iphonePreview-one .Preview-mainCon.noTitle { padding-top:0;}
#iphonePreview-one .Preview-mainCon.noTitle .Preview-top-title { display:none;}
#iphonePreview-one .Preview-mainCon.noTitle .Preview-mainCon-contenter { padding-top:10px;}
#iphonePreview-one .Preview-mainCon.noLogo .Preview-logo-bg { display:none;}
#iphonePreview-one .Preview-mainCon.noLogo .Preview-top-title { left:10px;}
#iphonePreview-one .Preview-mainCon .Preview-top-title { position:absolute; z-index:100; height:30px; line-height:30px; top:10px; left:80px; font-size:16px; color:#666; font-weight:bold; }
#iphonePreview-one .Preview-mainCon .Preview-logo-bg {width:78px;height:78px; top:-39px;left:5px;position:absolute; z-index:101;}
#iphonePreview-one .Preview-mainCon .Preview-logo-con {width:64px;height:64px; margin:5px; background:#fff; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; overflow:hidden; text-align:center;box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2); padding:2px; line-height:0;}
#iphonePreview-one .Preview-mainCon .Preview-logo-con img { width:60px; height:60px; margin:0 auto;}
#iphonePreview-one .Preview-mainCon-top { margin:0 7px;height:17px;}
#iphonePreview-one .Preview-mainCon-bottom { margin:0 7px; height:17px;}
#iphonePreview-one .Preview-mainCon .Preview-mainCon-text {height:auto; overflow:hidden; width:230px; padding:0 0 10px 0; margin:0 auto; font-size:14px; color:#999; line-height:25px; text-align:left;word-break: break-all; work-wrap: break-word;overflow:hidden;}
#iphonePreview-one .Preview-mainCon .Preview-mainCon-text img { max-width:100%;}
#iphonePreview-one .Preview-mainCon .Preview-mainCon-title { width:230px; height:auto; font-size:20px; text-align: center; margin:0 auto; color:#666;word-break: break-all; work-wrap: break-word;overflow:hidden; padding-bottom:10px; line-height:23px;}

#iphonePreview-one .Preview-mainCon-contenter { border-top:solid 1px #dadada; background:#f4f4f4; padding-top:20px;padding-bottom:15px;}
#iphonePreview-one .Preview-mainCon-contenter-bg { background:#fff;box-shadow:0 0 2px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.2); margin:0 10px; padding-top:10px;}
#iphonePreview-one .Preview-multimedia{ position:absolute; top:-40px; right:10px;}
/*------------------------------------ 预览1结束 -----------------------------*/

/*----------------------------------------预览2--------------------------------------*/
#iphonePreview-two .Preview-mainCon {position:relative;z-index:100; background:#f4f4f4; padding-top:40px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;margin-top:-5px;box-shadow:0 -1px 3px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 -1px 3px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 -1px 3px rgba(0, 0, 0, 0.2);box-shadow:0 -1px 3px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 -1px 3px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 -1px 3px rgba(0, 0, 0, 0.2);}
#iphonePreview-two .Preview-mainCon.noTitle { padding-top:0;}
#iphonePreview-two .Preview-mainCon.noLogo { padding-top:10px;}
#iphonePreview-two .Preview-mainCon.noTitle.noLogo { padding-top:0;}
#iphonePreview-two .Preview-mainCon.noTitle .Preview-top-title { display:none;}
#iphonePreview-two .Preview-mainCon.noTitle .Preview-mainCon-contenter { padding-top:10px;}
#iphonePreview-two .Preview-mainCon.noLogo .Preview-logo-bg { display:none;}
#iphonePreview-two .Preview-mainCon.noLogo .Preview-top-title { top:-40px;}
#iphonePreview-two .Preview-mainCon.mainCon-nonelogo { padding-top:20px;}
#iphonePreview-two .Preview-mainCon .Preview-top-title {position:absolute; z-index:100; width:100%; height:30px; line-height:30px; top:-80px; text-align:center;font-size:16px; color:#fff; font-weight:bold;text-shadow:0px 2px 2px rgba(0,0,0, 0.6);-webkit-text-shadow:0px 2px 2px rgba(0,0,0, 0.6);-moz-text-shadow:0px 2px 2px rgba(0,0,0, 0.6); left:0;}
#iphonePreview-two .Preview-mainCon .Preview-logo-bg {width:78px;height:78px; top:-40px;left:50%; margin-left:-39px;position:absolute; z-index:101;}
#iphonePreview-two .Preview-mainCon .Preview-logo-con {width:64px;height:64px; margin:5px; background:#fff; border-radius:45px;-webkit-border-radius:45px;-moz-border-radius:45px; overflow:hidden; text-align:center;box-shadow:0 2px 3px rgba(0, 0, 0, 0.3);	-webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 2px 3px rgba(0, 0, 0, 0.3); padding:2px; line-height:0;}
#iphonePreview-two .Preview-mainCon .Preview-logo-con img { width:64px; height:64px; margin:0 auto; border-radius:30px;-webkit-border-radius:30px;-moz-border-radius:30px;}
#iphonePreview-two .Preview-mainCon-top { margin:0 7px;height:17px;}
#iphonePreview-two .Preview-mainCon-bottom { margin:0 7px; height:17px;}
#iphonePreview-two .Preview-mainCon .Preview-mainCon-text {height:auto; overflow:hidden; width:230px; padding:0 0 10px 0; margin:0 auto; font-size:14px; color:#999; line-height:25px; text-align:left;word-break: break-all; work-wrap: break-word;overflow:hidden;}
#iphonePreview-two .Preview-mainCon .Preview-mainCon-text img { max-width:100%;}
#iphonePreview-two .Preview-mainCon .Preview-mainCon-title {width:230px; height:auto; font-size:18px; text-align: center; margin:0 auto; color:#666;word-break: break-all; work-wrap: break-word;overflow:hidden; padding-bottom:10px; line-height:23px;}

#iphonePreview-two .Preview-mainCon-contenter { border-top:solid 1px #f4f4f4; background:#f4f4f4; padding-bottom:15px;}
#iphonePreview-two .Preview-mainCon-contenter-bg {background:#fff;box-shadow:0 0 2px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.2); margin:0 5px; padding-top:10px;}
#iphonePreview-two .Preview-multimedia{ position:absolute; top:-40px; right:5px;}
/*------------------------------------ 预览结束 -----------------------------*/


/*----------------------------------------预览3--------------------------------------*/
#iphonePreview-three .Preview-mainCon {position:relative;z-index:100; background:url(../Image/wapimg/con-bg.png) repeat 0 0; padding-top:50px; }
#iphonePreview-three .Preview-mainCon.noTitle { padding-top:0;}
#iphonePreview-three .Preview-mainCon.noTitle .Preview-top-title { display:none;}
#iphonePreview-three .Preview-mainCon.noTitle .Preview-mainCon-contenter { padding-top:10px;}
#iphonePreview-three .Preview-mainCon.noLogo .Preview-logo-bg { display:none;}
#iphonePreview-three .Preview-mainCon.noLogo .Preview-top-title { left:10px;}
#iphonePreview-three .Preview-mainCon.noLogo.noTitle:before { display:none;}
#iphonePreview-three .Preview-mainCon:before { position:absolute; z-index:99; top:0; background:#fff; left:0; width:100%; height:50px; content:""; opacity:0.8;filter:alpha(opacity=80);}
#iphonePreview-three .Preview-mainCon .Preview-top-title { position:absolute; z-index:100; height:30px; line-height:30px; top:10px; left:80px; font-size:16px; color:#333; font-weight:bold; }
#iphonePreview-three .Preview-mainCon .Preview-logo-bg {width:78px;height:78px; top:-39px;left:5px;position:absolute; z-index:101;}
#iphonePreview-three .Preview-mainCon .Preview-logo-con {width:64px;height:64px; margin:5px; background:#fff; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; overflow:hidden; text-align:center;box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2); padding:2px; line-height:0;}
#iphonePreview-three .Preview-mainCon .Preview-logo-con img { width:60px; height:60px; margin:0 auto;}
#iphonePreview-three .Preview-mainCon-top { margin:0 7px;height:17px;}
#iphonePreview-three .Preview-mainCon-bottom { margin:0 7px; height:17px;}
#iphonePreview-three .Preview-mainCon .Preview-mainCon-text {height:auto; overflow:hidden; width:230px; padding:0 0 10px 0; margin:0 auto; font-size:14px; color:#55632e; line-height:25px; text-align:left;word-break: break-all; work-wrap: break-word;overflow:hidden;}
#iphonePreview-three .Preview-mainCon .Preview-mainCon-text img { max-width:100%;}
#iphonePreview-three .Preview-mainCon .Preview-mainCon-title { width:230px; height:auto; font-size:18px; text-align: center; margin:0 auto; color:#fff;word-break: break-all; work-wrap: break-word;overflow:hidden; padding-bottom:10px; line-height:23px;}
#iphonePreview-three .Preview-mainCon-contenter { border-top:solid 1px #dadada;padding-top:20px;padding-bottom:15px;}
#iphonePreview-three .Preview-mainCon-contenter-bg { background:#fff;box-shadow:0 0 2px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.2); margin:0 10px; padding-top:10px;}
#iphonePreview-three .Preview-multimedia{ position:absolute; top:-40px; right:10px;}
#iphonePreview-three .Preview-input_button { background:#015406;}
/*------------------------------------ 预览1结束 -----------------------------*/


/*----------------------------------------预览4--------------------------------------*/
#iphonePreview-four .Preview-mainCon {position:relative;z-index:100; background:url(../Image/wapimg/bg-sFour.png) repeat 0 0; padding-top:50px; }
#iphonePreview-four .Preview-mainCon.noTitle { padding-top:0;}
#iphonePreview-four .Preview-mainCon.noTitle .Preview-top-title { display:none;}
#iphonePreview-four .Preview-mainCon.noTitle .Preview-mainCon-contenter { padding-top:10px;}
#iphonePreview-four .Preview-mainCon.noLogo .Preview-top-title { left:10px;}
#iphonePreview-four .Preview-mainCon.noLogo .Preview-logo-bg { display:none;}
#iphonePreview-four .Preview-mainCon.noLogo.noTitle:before { display:none;}
#iphonePreview-four .Preview-mainCon:before { position:absolute; z-index:99; top:0; background:#fff; left:0; width:100%; height:50px; content:""; opacity:0.8;filter:alpha(opacity=80);}
#iphonePreview-four .Preview-mainCon .Preview-top-title { position:absolute; z-index:100; height:30px; line-height:30px; top:10px; left:80px; font-size:16px; color:#333; font-weight:bold; }
#iphonePreview-four .Preview-mainCon .Preview-logo-bg {width:78px;height:78px; top:-39px;left:5px;position:absolute; z-index:101;}
#iphonePreview-four .Preview-mainCon .Preview-logo-con {width:64px;height:64px; margin:5px; background:#fff; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; overflow:hidden; text-align:center;box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2); padding:2px; line-height:0;}
#iphonePreview-four .Preview-mainCon .Preview-logo-con img { width:60px; height:60px; margin:0 auto;}
#iphonePreview-four .Preview-mainCon-top { margin:0 7px;height:17px;}
#iphonePreview-four .Preview-mainCon-bottom { margin:0 7px; height:17px;}
#iphonePreview-four .Preview-mainCon .Preview-mainCon-text {height:auto; overflow:hidden; width:230px; padding:0 0 10px 0; margin:0 auto; font-size:14px; color:#55632e; line-height:25px; text-align:left;word-break: break-all; work-wrap: break-word;overflow:hidden;}
#iphonePreview-four .Preview-mainCon .Preview-mainCon-text img { max-width:100%;}
#iphonePreview-four .Preview-mainCon .Preview-mainCon-title { width:230px; height:auto; font-size:20px; text-align: center; margin:0 auto; color:#333;word-break: break-all; work-wrap: break-word;overflow:hidden; padding-bottom:10px; line-height:23px;}
#iphonePreview-four .Preview-mainCon-contenter { border-top:solid 1px #dadada;padding-top:20px;padding-bottom:15px;}
#iphonePreview-four .Preview-mainCon-contenter-bg { background:#fff;box-shadow:0 0 2px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.2); margin:0 10px; padding-top:10px;}
#iphonePreview-four .Preview-multimedia{ position:absolute; top:-40px; right:10px;}
#iphonePreview-four .Preview-input_button { background:#bf0600;}
#iphonePreview-four .Preview-share { background:url(../Image/wapimg/bg-sFour.png) repeat 0 0; }
/*------------------------------------ 预览4结束 -----------------------------*/

/*----------------------------------------预览1--------------------------------------*/
#iphonePreview-1 .Preview-mainCon {position:relative;z-index:100; background:#fff; padding-top:50px; }
#iphonePreview-1 .Preview-mainCon.noTitle .Preview-top-title { display:none;}
#iphonePreview-1 .Preview-mainCon.noLogo .Preview-logo-bg { display:none;}
#iphonePreview-1 .Preview-mainCon.noLogo .Preview-top-title { left:10px;}
#iphonePreview-1 .Preview-mainCon.noLogo.noTitle { padding-top:0px;}
#iphonePreview-1 .Preview-mainCon .Preview-top-title { position:absolute; z-index:100; height:30px; line-height:30px; top:10px; left:80px; font-size:16px; color:#666; font-weight:bold; }
#iphonePreview-1 .Preview-mainCon .Preview-logo-bg {width:78px;height:78px; top:-39px;left:5px;position:absolute; z-index:101;}
#iphonePreview-1 .Preview-mainCon .Preview-logo-con {width:64px;height:64px; margin:5px; background:#fff; border-radius:5px; overflow:hidden; text-align:center;box-shadow:0 1px 3px rgba(0, 0, 0, 0.2); padding:2px; line-height:0;}
#iphonePreview-1 .Preview-mainCon .Preview-logo-con img { width:60px; height:60px; margin:0 auto;}
#iphonePreview-1 .Preview-mainCon .Preview-mainCon-text {height:auto; overflow:hidden; width:230px; padding:0 0 10px 0; margin:0 auto; font-size:14px; color:#999; line-height:25px; text-align:left;word-break: break-all; work-wrap: break-word;overflow:hidden;}
#iphonePreview-1 .Preview-mainCon .Preview-mainCon-text img { max-width:100%;}
#iphonePreview-1 .Preview-mainCon .Preview-mainCon-title { width:230px; height:auto; font-size:20px; text-align: center; margin:0 auto; color:#666;word-break: break-all; work-wrap: break-word;overflow:hidden; padding-bottom:10px; line-height:23px;}

#iphonePreview-1 .Preview-mainCon-contenter { border-top:solid 1px #dadada; background:#f4f4f4; padding-top:10px;padding-bottom:15px;}
#iphonePreview-1 .Preview-mainCon-contenter-bg { background:#fff;box-shadow:0 0 2px rgba(0, 0, 0, 0.2);margin:0 10px; padding-top:10px;}
#iphonePreview-1 .Preview-multimedia{ position:absolute; top:-40px; right:10px;}
/*------------------------------------ 预览1结束 -----------------------------*/

/*----------------------------------------预览2--------------------------------------*/
#iphonePreview-2 .Preview-mainCon {position:relative;z-index:100; background:#f4f4f4; padding-top:40px;border-radius:3px;margin-top:-5px;box-shadow:0 -1px 3px rgba(0, 0, 0, 0.2);}
#iphonePreview-2 .Preview-mainCon.noLogo { padding-top:10px;}
#iphonePreview-2 .Preview-mainCon.noTitle .Preview-top-title { display:none;}
#iphonePreview-2 .Preview-mainCon.noLogo .Preview-logo-bg { display:none;}
#iphonePreview-2 .Preview-mainCon.noLogo .Preview-top-title { top:-40px;}
#iphonePreview-2 .Preview-mainCon.mainCon-nonelogo { padding-top:20px;}
#iphonePreview-2 .Preview-mainCon .Preview-top-title {position:absolute; z-index:100; width:100%; height:30px; line-height:30px; top:-80px; text-align:center;font-size:16px; color:#fff; font-weight:bold;text-shadow:0px 2px 2px rgba(0,0,0, 0.6); left:0;}
#iphonePreview-2 .Preview-mainCon .Preview-logo-bg {width:78px;height:78px; top:-40px;left:50%; margin-left:-39px;position:absolute; z-index:101;}
#iphonePreview-2 .Preview-mainCon .Preview-logo-con {width:64px;height:64px; margin:5px; background:#fff; border-radius:45px;overflow:hidden; text-align:center;box-shadow:0 2px 3px rgba(0, 0, 0, 0.3);padding:2px; line-height:0;}
#iphonePreview-2 .Preview-mainCon .Preview-logo-con img { width:64px; height:64px; margin:0 auto; border-radius:30px;}
#iphonePreview-2 .Preview-mainCon .Preview-mainCon-text {height:auto; overflow:hidden; width:230px; padding:0 0 10px 0; margin:0 auto; font-size:14px; color:#999; line-height:25px; text-align:left;word-break: break-all; work-wrap: break-word;overflow:hidden;}
#iphonePreview-2 .Preview-mainCon .Preview-mainCon-text img { max-width:100%;}
#iphonePreview-2 .Preview-mainCon .Preview-mainCon-title {width:230px; height:auto; font-size:18px; text-align: center; margin:0 auto; color:#666;word-break: break-all; work-wrap: break-word;overflow:hidden; padding-bottom:10px; line-height:23px;}

#iphonePreview-2 .Preview-mainCon-contenter { border-top:solid 1px #f4f4f4; background:#f4f4f4; padding-bottom:15px;}
#iphonePreview-2 .Preview-mainCon-contenter-bg {background:#fff;box-shadow:0 0 2px rgba(0, 0, 0, 0.2); margin:0 5px; padding-top:10px;}
#iphonePreview-2 .Preview-multimedia{ position:absolute; top:-40px; right:5px;}
/*------------------------------------ 预览结束 -----------------------------*/


/*----------------------------------------预览3--------------------------------------*/
#iphonePreview-3 .Preview-mainCon {position:relative;z-index:100; background:url(../Image/wapimg/con-bg.png) repeat 0 0; padding-top:50px; }
#iphonePreview-3 .Preview-mainCon.noTitle { padding-top:0;}
#iphonePreview-3 .Preview-mainCon.noTitle .Preview-top-title { display:none;}
#iphonePreview-3 .Preview-mainCon.noTitle .Preview-mainCon-contenter { padding-top:10px;}
#iphonePreview-3 .Preview-mainCon.noLogo .Preview-logo-bg { display:none;}
#iphonePreview-3 .Preview-mainCon.noLogo .Preview-top-title { left:10px;}
#iphonePreview-3 .Preview-mainCon.noLogo.noTitle:before { display:none;}
#iphonePreview-3 .Preview-mainCon:before { position:absolute; z-index:99; top:0; background:#fff; left:0; width:100%; height:50px; content:""; opacity:0.8;filter:alpha(opacity=80);}
#iphonePreview-3 .Preview-mainCon .Preview-top-title { position:absolute; z-index:100; height:30px; line-height:30px; top:10px; left:80px; font-size:16px; color:#333; font-weight:bold; }
#iphonePreview-3 .Preview-mainCon .Preview-logo-bg {width:78px;height:78px; top:-39px;left:5px;position:absolute; z-index:101;}
#iphonePreview-3 .Preview-mainCon .Preview-logo-con {width:64px;height:64px; margin:5px; background:#fff; border-radius:5px; overflow:hidden; text-align:center;box-shadow:0 1px 3px rgba(0, 0, 0, 0.2); padding:2px; line-height:0;}
#iphonePreview-3 .Preview-mainCon .Preview-logo-con img { width:60px; height:60px; margin:0 auto;}
#iphonePreview-3 .Preview-mainCon .Preview-mainCon-text {height:auto; overflow:hidden; width:230px; padding:0 0 10px 0; margin:0 auto; font-size:14px; color:#55632e; line-height:25px; text-align:left;word-break: break-all; work-wrap: break-word;overflow:hidden;}
#iphonePreview-3 .Preview-mainCon .Preview-mainCon-text img { max-width:100%;}
#iphonePreview-3 .Preview-mainCon .Preview-mainCon-title { width:230px; height:auto; font-size:18px; text-align: center; margin:0 auto; color:#fff;word-break: break-all; work-wrap: break-word;overflow:hidden; padding-bottom:10px; line-height:23px;}
#iphonePreview-3 .Preview-mainCon-contenter { border-top:solid 1px #dadada;padding-top:20px;padding-bottom:15px;}
#iphonePreview-3 .Preview-mainCon-contenter-bg { background:#fff;box-shadow:0 0 2px rgba(0, 0, 0, 0.2);margin:0 10px; padding-top:10px;}
#iphonePreview-3 .Preview-multimedia{ position:absolute; top:-40px; right:10px;}
#iphonePreview-3 .Preview-input_button { background:#015406;}
/*------------------------------------ 预览1结束 -----------------------------*/


/*----------------------------------------预览4--------------------------------------*/
#iphonePreview-4 .Preview-mainCon {position:relative;z-index:100; background:url(../Image/wapimg/bg-sFour.png) repeat 0 0; padding-top:50px; }
#iphonePreview-4 .Preview-mainCon.noTitle .Preview-top-title { display:none;}
#iphonePreview-4 .Preview-mainCon.noLogo .Preview-logo-bg { display:none;}
#iphonePreview-4 .Preview-mainCon.noLogo .Preview-top-title { left:10px;}
#iphonePreview-4 .Preview-mainCon.noLogo.noTitle { padding-top:0px;}
#iphonePreview-4 .Preview-mainCon.noLogo.noTitle:before { display:none;}
#iphonePreview-4 .Preview-mainCon:before { position:absolute; z-index:99; top:0; background:#fff; left:0; width:100%; height:50px; content:""; opacity:0.8;filter:alpha(opacity=80);}
#iphonePreview-4 .Preview-mainCon .Preview-top-title { position:absolute; z-index:100; height:30px; line-height:30px; top:10px; left:80px; font-size:16px; color:#333; font-weight:bold; }
#iphonePreview-4 .Preview-mainCon .Preview-logo-bg {width:78px;height:78px; top:-39px;left:5px;position:absolute; z-index:101;}
#iphonePreview-4 .Preview-mainCon .Preview-logo-con {width:64px;height:64px; margin:5px; background:#fff; border-radius:5px;overflow:hidden; text-align:center;box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);	padding:2px; line-height:0;}
#iphonePreview-4 .Preview-mainCon .Preview-logo-con img { width:60px; height:60px; margin:0 auto;}
#iphonePreview-4 .Preview-mainCon .Preview-mainCon-text {height:auto; overflow:hidden; width:230px; padding:0 0 10px 0; margin:0 auto; font-size:14px; color:#55632e; line-height:25px; text-align:left;word-break: break-all; work-wrap: break-word;overflow:hidden;}
#iphonePreview-4 .Preview-mainCon .Preview-mainCon-text img { max-width:100%;}
#iphonePreview-4 .Preview-mainCon .Preview-mainCon-title { width:230px; height:auto; font-size:20px; text-align: center; margin:0 auto; color:#333;word-break: break-all; work-wrap: break-word;overflow:hidden; padding-bottom:10px; line-height:23px;}
#iphonePreview-4 .Preview-mainCon-contenter { border-top:solid 1px #dadada;padding-top:10px;padding-bottom:15px;}
#iphonePreview-4 .Preview-mainCon-contenter-bg { background:#fff;box-shadow:0 0 2px rgba(0, 0, 0, 0.2); margin:0 10px; padding-top:10px;}
#iphonePreview-4 .Preview-multimedia{ position:absolute; top:-40px; right:10px;}
#iphonePreview-4 .Preview-input_button { background:#bf0600;}
#iphonePreview-4 .Preview-share { background:url(../Image/wapimg/bg-sFour.png) repeat 0 0; }
/*------------------------------------ 预览4结束 -----------------------------*/


/*----------------------------------------预览5--------------------------------------*/
#iphonePreview-5 #Preview-main { padding-top:70px;}
#iphonePreview-5 .Preview-mainTop { display:none;}
#iphonePreview-5 .Preview-mainCon { margin:0 15px; position:relative;z-index:100; background:#fff; padding-top:60px; margin-bottom:50px; border-radius:5px; padding-bottom:15px;}
#iphonePreview-5 .Preview-mainCon.noTitle { padding-top:15px;}
#iphonePreview-5 .Preview-mainCon.noLogo { padding-top:40px;}
#iphonePreview-5 .Preview-mainCon.noTitle.noLogo { padding-top:15px;}
#iphonePreview-5 .Preview-mainCon.noTitle .Preview-top-title { display:none;}
#iphonePreview-5 .Preview-mainCon.noTitle .Preview-mainCon-contenter { padding-top:10px; border-top:none;}
#iphonePreview-5 .Preview-mainCon.noLogo .Preview-logo-bg { display:none;}
#iphonePreview-5 .Preview-mainCon.noLogo .Preview-top-title { top:-40px;}
#iphonePreview-5 .Preview-mainCon .Preview-top-title { margin:0 10px; height:auto; margin-top:-30px; line-height:30px; top:30px; text-align:center;font-size:14px; color:#aaa;}
#iphonePreview-5 .Preview-mainCon .Preview-logo-bg {width:56px;height:56px; top:-28px;left:50%; margin-left:-28px;position:absolute; z-index:101;}
#iphonePreview-5 .Preview-mainCon .Preview-logo-con {width:56px;height:56px; background:#fff; border-radius:45px;overflow:hidden; text-align:center; line-height:0;}
#iphonePreview-5 .Preview-mainCon .Preview-logo-con img { width:56px; height:56px; margin:0 auto; border-radius:30px;}
#iphonePreview-5 .Preview-mainCon .Preview-mainCon-text {height:auto; overflow:hidden; width:230px; padding:0 0 10px 0; margin:0 auto; font-size:14px; color:#999; line-height:25px; text-align:left;word-break: break-all; work-wrap: break-word;overflow:hidden;}
#iphonePreview-5 .Preview-mainCon .Preview-mainCon-text img { max-width:100%;}
#iphonePreview-5 .Preview-mainCon .Preview-mainCon-title { margin:0 10px; height:auto; font-size:16px; text-align: center; margin:0 auto; color:#333;word-break: break-all; work-wrap: break-word;overflow:hidden; padding:10px 0; line-height:23px;}
#iphonePreview-5 .Preview-mainCon-contenter { border-top: dashed 1px #efefef; background:#fff;}
#iphonePreview-5 .Preview-mainCon-contenter-bg { margin:0 5px; padding-top:10px;}
#iphonePreview-5 .Preview-multimedia{ position:absolute; top:-40px; right:5px;}
#iphonePreview-5 .Preview-share { padding-top:15px; padding-bottom:0; height:25px; background-color:#fff; border-top: dashed 1px #efefef;}
/*------------------------------------ 预览5结束 -----------------------------*/


.judgeDiv { padding-top:6px; padding-bottom:12px;}
.judgeCon-time {border: solid 1px #d3d3d3; padding:10px 10px 0 10px;}