@charset "utf-8";
/* CSS Document */
/*
[目录表]
1- 卡券
*/
.numgoods-info { padding:10px 20px; background:#f2f2f2; margin-bottom:20px; font-size:13px; line-height:23px; color:#666;}
.numgoods-info li { font-size:14px; line-height:25px; color:#999; list-style:disc;}
.numgoods-info li span { color:#ed1c24;}

.numgoods-form-title { border-left:solid 5px #ed1c24; line-height:40px; color:#ed1c24; font-size:18px; background:#f2f2f2; text-indent:20px; font-family:"微软雅黑";}

.numgoodsList { float:left; padding:10px 10px 16px 10px; border:solid 1px #97928a; width:250px;}
.numgoodsList-item { line-height:30px; width:250px; overflow:hidden; border-bottom:dashed 1px #ccc;}
.numgoodsList-item i { width:10px; height:10px; float:right;background:url(../Image/icon-msg.png) no-repeat -314px -2px; cursor:pointer; margin-top:10px;}
.numgoodsList-item i:hover { width:10px; height:10px; float:right;background:url(../Image/icon-msg2.png) no-repeat -314px -2px; cursor:pointer; margin-top:10px;}

.message-show {font-size:12px; font-family:"宋体"; text-align:left; color:#666;}
.icon-message {width:14px; height:10px; display:inline-block;background:url(../Image/icon-msg.png) no-repeat -96px -122px; cursor:pointer; margin:0; margin-top:15px; margin-right:10px;}
.message-show:hover .icon-message{background:url(../Image/icon-msg2.png) no-repeat -96px -122px;}

.ap-iphone-bg {background:url(../Image/ap-iphone-bg.png) no-repeat;width:250px; height:762px;}
.help-labelNumber { font-size:13px; color:#0066cc; cursor:pointer; display:inline; position:absolute; top:635px; left:555px;}
.help-labelNumber:hover .help-labelNumber-title { display:block;}
.help-labelNumber-title { position:absolute; top:0; left:0; font-size:13px; border:solid 1px #999; padding:10px; width:200px; height:auto; overflow:hidden; background:#fff; z-index:99; display:none; color:#555; line-height:23px;}
.input-labelNumber { color:#999}

.aipai-iphone { float:right; position: relative;width:260px; height:540px;background:url(../Image/iphone_bg2.png) no-repeat;}
.aipai-iphone-text { width:165px; height:auto; overflow:hidden; margin-top:140px; margin-left:40px; font-size:12px; line-height:20px; color:#777;}
.aipai-iphone-text span { color:#000; text-decoration:underline;}

.aipai-numgoods { width:500px; height:auto; padding:5px 15px 5px 15px;border:solid 1px #97928a;}

.mem-repay-procedure { margin-top:20px; padding-bottom:10px;}
.mem-repay-procedure li { width:156px; height:50px; overflow:hidden;background: url(../Image/mem_img2.png) no-repeat 0 -50px; float:left;list-style:none; text-align:left; text-align:center;}
.mem-repay-procedure li.hover {background: url(../Image/mem_img2.png) no-repeat 0 0px; border:none; }
.mem-repay-procedure li span { width:46px; color:#fff;font: normal 24px/46px "microsoft yahei"; display:block; text-align:center; float:left; margin-right:10px;}
.mem-repay-procedure li a { font-size:14px; line-height:70px; color:#cccccc;}
.mem-repay-procedure li.hover a {color:#4c4c4c;}

.judgeDiv { padding-top:6px; padding-bottom:12px;}
.judgeCon-time {border: solid 1px #d3d3d3; padding:10px 10px 0 10px;}

/*权益清单相关样式*/
.quanyi-list dl,.quanyi-list ul{ float: left; text-align: center;}
.quanyi-list .title dl{float: left;text-align: center;background: #f8f8f8;font-size: 16px;font-weight: bold;color: #333;}
.quanyi-list .title dl dt{border: 1px solid #e1e1e1;border-right: none;  height: 48px;line-height: 48px;}
.quanyi-list .title dl.last dt{border-right: 1px solid #e1e1e1;}
.quanyi-list ul li{border: 1px solid #e1e1e1;border-right:none;border-top:none;height: 48px;line-height: 48px;}
.quanyi-list ul li span{display: inline-block;text-align: left}
.quanyi-list ul.last li{border-right: 1px solid #e1e1e1;}

.quanyi-list.four ul{width:25%;}
.quanyi-list.five ul{width:20%;}
.quanyi-list.two ul{width:50%;}
.quanyi-list.four .title dl{width: 25%;}
.quanyi-list.five .title dl{width: 20%;float: left;}
.quanyi-list.four .title.two dl{width: 50%;}














