/*==样式补丁==*/
.no103{ background-position:-120px 0px;}
.no104{ background-position:-120px -25px;}
.no105{ background-position:-120px -53px;}
.Gform .Ginput>p{ font-size:12px;}
a.btn-submit{cursor: pointer;  display: inline-block;  text-align: center;  text-decoration: none !important;  color: #fff;  text-indent: 0;  background: #f15755;  padding-left: 50px;  padding-right: 50px;  line-height: 40px; height:40px;  border: none;  font-size: 18px; border-radius:2px;}

/*==表格==*/
.shopTable {width:100%;border-collapse:separate;table-layout: auto;}
.shopTable th { border-top:solid 1px #e3e2e2; border-bottom:solid 1px #e3e2e2; background:#f7f7f7; text-align:center; line-height:38px; font-size:14px;}
.shopTable th:first-child { border-left:solid 1px #e3e2e2; }
.shopTable th:last-child { border-right:solid 1px #e3e2e2; }
.shopTable tr { position:relative;}
.shopTable tr.th { z-index:10;}
.shopTable tr.title span{ padding-right:15px;font-size:12px; color:#666666;}
.shopTable tr.title td.title{ border-bottom:solid 1px #e3e3e3}
.shopTable tr.title td.title:last-child{ text-align:left}

.shopTable tr.all td{ background:#fcfcfc; padding:0 30px;}
p.add_message{ float:left;padding:25px 0; color:#666666; font-size:14px; position:relative}
p.add_message input[type=text],p.add_message textarea{ border:1px #ececec solid; width:300px; padding-right:50px;}
p.add_message textarea{ border:1px #ececec solid; width:300px; padding-right:50px; position:absolute; margin-left:72px;}
p.add_message textarea:after{ clear:both; display:block; content:""}
p.add_message i{ position: absolute; width:112px; font-style:normal; left:-40px; color:#666666; font-weight:normal; text-align:right}
p.add_message em{ position: relative; left:-40px; color:#666666; font-weight:normal}
p.hj{ clear:right; float:right; padding:25px 0}

.shopTable tr.info td { padding:30px 0 20px 0;}
.shopTable .hover td { border:solid 1px #aab8da;}
.shopTable .hover td {border:solid 1px #aab8da; border-top:none; border-right:none; *border-left:none; }
.shopTable .hover td.title { border:solid 1px #aab8da;border-bottom:none; background:#d8deeb; }
.shopTable .hover td:last-child  { border-right:solid 1px #aab8da;}
.shopTable .hover td:first-child  { border-left:solid 1px #aab8da;}
.shopTable td { text-align:center; border:solid 1px #e3e3e3; border-top:none; border-right:none; *border-left:none; font-size:14px;}
.shopTable td strong{ font-size:14px; color:#000;}
.shopTable td em{ color:#ed1c24; font-weight:bold}
.shopTable td:last-child  { border-right:solid 1px #e3e2e2;}
.shopTable td:first-child { border-left:solid 1px #e3e2e2;}
.shopTable td:first-child  img { border:solid 1px #c6c6c6;}
.shopTable td.title { padding-left:25px; vertical-align: middle; line-height:38px;border:solid 1px #e3e3e3;border-bottom:none; background:#f7f7f7; margin-top:20px; text-align:left; position: relative; top:10px; z-index:3;}
.shopTable td.title a { color:#999;}
.shopTable .icon-orderdown,.shopTable .icon-orderup { display:inline-block;*display:inline;*zoom:1; margin-left:5px;width:9px;height:5px;vertical-align:middle;cursor:pointer; position:relative; top:-1px;}
.shopTable .icon-orderdown { background: url(../Image/icon-shop.png) no-repeat 0 -500px;}
.shopTable .icon-orderup { background: url(../Image/icon-shop.png) no-repeat -50px -500px;}
.shopTable .icon-on,
.shopTable .icon-off,
.shopTable .icon-marketing { display:inline-block;*display:inline;*zoom:1;width:30px; height:30px;}
.shopTable .icon-on {background:url(../Image/icon1.png) no-repeat 0 -600px;}
.shopTable .icon-off {background:url(../Image/icon1.png) no-repeat 0 -650px;}
.shopTable .icon-marketing {background:url(../Image/icon1.png) no-repeat -56px -650px;}

/*==通栏==*/
.result{ background:#fff2f3; border:1px #ffd0d3 solid; padding:35px; display:block;}
.result span{ font-size:14px; color:#666666; padding-right:30px;}
.result span em{ font-size:18px; color:#000; font-style:normal}
.result span a{ color:#1088cc; text-decoration:none;}
.result span a:hover{ color:#f15755; text-decoration:none;}

/*==订单详情==*/
.order_details{ border:1px #e5e5e5 solid; margin:30px auto;}
.order_details h2{ font-size:18px; line-height:50px; padding:0 40px; color:#333333; background:#f7f7f7; display:block}
.order_details dl{ margin:0 40px; padding:0; list-style:none; border-top:1px #e5e5e5 solid; padding-bottom:25px;}
.order_details dl.norder{border-top:0px #e5e5e5 solid;}
.order_details dl:nth-of-type(1){ border:0}
.order_details dl:after{ clear:both; height:0; display:block; content:""}
.order_details dl dt{ font-size:16px; line-height:40px; color:#666666; padding-top:10px; font-weight:bold}
.order_details dl dd{ color:#666666; font-size:14px; line-height:24px; width:50%; box-sizing:border-box; display:inline-block; float:left}
.order_details .tables{ margin:10px 40px 0; display:block; padding-bottom:60px; border-bottom:1px #e5e5e5 solid;}
p.hj{ text-align:right; font-size:14px; color:#666666; padding:20px 0 10px;}
p.hj strong{ color:#f15755; font-size:18px;}

.noborder{ border:0; margin:10px auto;}
.noborder h2{ background:none; padding:0}
.noborder dl{ margin:0}
.noborder .tables{ margin:0px; display:block}
.pay_method{ background:#fafafa; padding:15px 35px;}
.pay_method ul{ margin:0; padding:0; list-style:none}
.pay_method ul:after{ clear:both; height:0; content:""; display:block}
.pay_method ul li{ display:inline-block; box-sizing:border-box; float:left; margin-right:40px;}
.pay_method ul li img{ border:1px #e1e1e1 solid; margin-left:15px;}
input[type="radio"]{-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
label.radio {  display: inline-block;  height: 12px;  width: 12px;  position: relative;  margin: 13px 4px 4px 0;  padding: 0;  background-color: #fff; border:1px #dedede solid; border-radius: 100%;  vertical-align: top; cursor: pointer;  transition: all 0.2s ease;}
label.radio > span.pip {  width: 4px;  height: 4px;  position: absolute;  border-radius: 100%;  background: gray;  top: 4px;  left: 4px; transform: scale(0, 0);transition: all 0.2s ease;}
label.radio.on {  background-color: #fff;}
label.radio.on > span.pip {  transform: scale(1, 1);}
label.radio.focus {  outline: 0; }
input[type=radio].replaced {  position: absolute;  left: -9999em;}
label {  height: 30px;  line-height: 30px;  margin-right: 20px;}
.pay_opr{ display:inline-block;  margin:30px 0 30px; width:100%;}
.pay_opr p{ font-size:14px; line-height:40px;}
.pay_opr p a.txt_link{ color:#1088cc; margin-right:30px;}
.btn-submit{ float:left}
.hot-point-title {width: auto;	padding:10px 20px;border:1px solid #ffb2b4;position: relative;	float:left;	margin-left:20px;}
.hot-point-title .arrow {position: absolute;left:-7px;top:50%;margin-top:-6px;width:12px;height:12px;}
.hot-point-title .arrow em,.hot-point-title .arrow span {position: absolute;top: 0;left: 0;width: 0;height: 0;border-color: rgba(255,255,255,0);border-color: transparent\0;*border-color: transparent;_border-color: tomato;_filter: chroma(color=tomato);border-style: solid;overflow: hidden;*zoom: 1;border-width: 6px 6px 6px 0px;}
.hot-point-title .arrow em {left: 1px;border-right-color: #fff;}
.hot-point-title .arrow span {border-right-color: #ffb2b4}



.xz_tip {width: auto;	padding:10px 20px;border:1px solid #ebebeb;position: relative;	float:right; margin-top:20px; border-radius:4px; font-size:12px; color:#999999; display:none}
.xz_tip ul{ margin:0; padding:0; list-style:none}
.xz_tip ul li{ line-height:24px;}
.xz_tip .arrow {position: absolute;left:45%;top:0%;margin-top:-10px;width:30px;height:30px;}
.xz_tip .arrow em,.xz_tip .arrow span {position: absolute;top: 0;left: 0;width: 0;height: 0;border-color: rgba(255,255,255,0);border-color: transparent\0;*border-color: transparent;_border-color: tomato;_filter: chroma(color=tomato);border-style: solid;overflow: hidden;*zoom: 1;border-width: 0px 10px 10px 10px;}
.xz_tip .arrow em {top: 1px;border-bottom-color: #fff;}
.xz_tip .arrow span {border-bottom-color: #ebebeb}
/*==表格里的图文混排==*/
.format{}
.format ul li{float:left; line-height:24px; text-align:left; padding:10px 5px 10px 10px}
.format ul li img{ width:85px; height:60px; padding:2px; border:1px #ebebeb solid;}
.format ul li:first-child{ width:95px; padding-right:0; padding-left:25px;}
.format ul li span{ display:block; color:#666666;}
.format ul li span.grayfont{ color:#999999; font-size:12px; line-height:20px;}
.format ul li i{background: url(../Image/eTicket/icon-eTicket.png) no-repeat; width:30px; height:20px; overflow:hidden; display:inline-block; margin-right:5px; margin-top:5px;}
.format ul li i.eicon1{ background-position:0px -224px;}
.format ul li i.eicon2{ background-position:-35px -224px;}
.format ul li i.eicon3{ background-position:-70px -224px;}
.format ul li i.eicon4{ background-position:-105px -224px;}


/*==配置成功==*/
.eTicket_form_OK_tip{ margin:0 auto; width:60%; display:block}
.eTicket_form_OK_tip:after{ clear:both; display:block; height:0; content:""}
.eTicket_form_OK_tip_img{ background:url(../Image/eTicket/ok.png) no-repeat; margin-left:70px; width:175px; height:175px; display:inline-block; float:left}
.eTicket_form_OK_tip_text{ margin-left:55px; float:left; margin-top:40px;}
.eTicket_form_OK_tip_text ul{ margin:0; padding:0; list-style:none}
.eTicket_form_OK_tip_text ul li{ font-size:14px; color:#666666; line-height:30px;}
.eTicket_form_OK_tip_text ul li a.btn-all {  width: 140px;  border: solid 1px #ffd0d3;  background: #fff2f3;  color: #f15755; border-radius:2px; font-size:14px; font-weight:normal}
.eTicket_form_OK_tip_text ul li.tip_title{ font-size:18px;color:#000; padding-bottom:10px;}



.Spinner{overflow:hidden; margin:0 auto; text-align:center}
.Spinner .Amount{width:70px;height:27px;padding:4px 5px;line-height:17px;border-width:1px 0;border-style:solid;border-color:#dcdcdc;float:left;text-align:center;color:#565656;outline:0;}
.Spinner a{display:inline-block;width:35px;height:35px;border:1px solid #dcdcdc;float:left;cursor:pointer;outline:0;}
.Spinner a i{font-style:normal;background:url(../Label/Image/gift/BuynBtn.png) no-repeat;display:block;width:9px;height:9px;margin:13px;text-indent:999999%;overflow:hidden;}
.Spinner .Decrease i{background-position:-9px -9px;}
.Spinner .Increase i{background-position:-9px -0px;}
.Spinner .DisDe i{background-position:-0px -9px;}
.Spinner .DisIn i{background-position:-0px -0px;}


/*==付款进度==*/
.order_process{ border:4px #ebebeb solid; position:relative; padding:15px 38px}
.order_process:after{ clear:both; height:0; display:block; content:"";}
.open_extend{ width:60px; height:30px; background:#f15755; border-radius:0px; border-bottom-left-radius:5px; border-bottom-right-radius:5px; display:block; color:#FFF; text-align:center; line-height:30px; font-size:14px; position:absolute; top:0; right:29px;}
.process_bar{ margin:0; padding:0 200px; list-style:none; border-bottom:2px #e5e5e5 solid; }
.process_bar li{ display:inline-block; width:30%; box-sizing:border-box; border:0; border-bottom:2px #e5e5e5 solid; text-align:center; padding-bottom:17px; font-size:14px ; margin-bottom:-2px; line-height:20px;}
.process_bar li i{ width:20px; height:20px; border-radius:50%; display:inline-block; background-color:#cccccc; color:#FFF; font-size:14px; font-style:normal;  text-align:center}
.process_bar li.current{border-bottom:2px #f15755 solid; color:#f15755}
.process_bar li.current i{ width:20px; height:20px; border-radius:50%; display:inline-block; background-color:#f15755; color:#FFF; font-size:14px;}

.xuzhi dt,.liucheng dt{ font-size:18px; color:#333333; padding:20px 0;}
.xuzhi dd{ background:url(../Image/onlineSales_icon.png) 0 3px no-repeat; padding-left:24px; color:#666666; font-size:14px; line-height:24px; margin-left:15px;}

.liucheng{ padding:10px 0;}
.liucheng dt{ margin:10px 0 0;}
.liucheng dd{ display:inline-block; float:left; padding-top:0px; text-align:center;color:#666666; font-size:14px; line-height:24px;}
.liucheng dd.lc1{ background:url(../Image/onlineSales_icon.png) no-repeat; background-position:0 -167px; width:160px;} 
.liucheng dd.lc2{ background:url(../Image/onlineSales_icon.png) no-repeat;background-position:-186px -167px; width:353px;}
.liucheng dd.lc3{ background:url(../Image/onlineSales_icon.png) no-repeat;background-position:-535px -167px; width:196px;}
.liucheng dd.lc4{ background:url(../Image/onlineSales_icon.png) no-repeat;background-position:-731px -167px; width:257px; text-align:right; padding-right:20px;}


.process_hide{}
.process_hide a{ display:inline-block; font-size:14px; color:#4b4b4b; border-bottom:2px #FFF solid; padding:5px 10px; background:url(../Image/eTicket/line.png) left center no-repeat;}
.process_hide a:first-child{ background:none; border-bottom:2px #f15853 solid;}
a.firstExtend{font-size:14px; color:#2e7dc6; border-bottom:0px #FFF solid; padding:5px 10px 0;  background:none;}
a.firstExtend:hover{ text-decoration:none}
.process_hide a:hover{ border-bottom:2px #f15853 solid; text-decoration:none}
.process_show{ display:none; padding-bottom:0px;}

/*发布卡券*/
.bread-crumbs{ border-left:3px #f25e5c solid; line-height:18px; height:18px; font-size:16px; color:#333333; padding-left:10px;}
.bread-crumbs a{line-height:18px; height:18px; font-size:16px; color:#333333;}

.Ginput p.txt{ font-size:14px; color:#666666;}
.Gform.eTicket .Ginput .Gchoose{ width:320px;}
.Gform .Ginput .Gchoose { position:relative; font-size: 14px; height:20px;line-height: 20px;padding: 3px 30px 3px 6px;border: #bbb 1px solid;background: #fff;border-radius: 2px;}
.Gform .Ginput .Gchoose a { display:block;text-overflow:ellipsis; white-space:nowrap; overflow:hidden; color:#999;}
.Gform .Ginput .Gchoose a:hover { text-decoration:none; cursor:auto;}
.Gform .Ginput .Gchoose img { float:left; width:auto; height:20px; cursor:pointer; border:none;}
.Gform .Ginput .Gchoose input[type=text] { position:absolute; top:0; width:1px; height:1px; overflow:hidden; padding:0; margin:0; border:none;}
.Gform .Ginput .Gchoose .Gchoose-opr { position: absolute; z-index:33; bottom:30px; left:-50px; padding:5px 30px 5px 10px; width:auto; height:auto; line-height:0; background:#f7f7f7; border:solid 1px #bbbbbb; box-shadow:0 0 8px rgba(0,0,0,.3); border-radius:3px;}
.Gform .Ginput .Gchoose .Gchoose-opr>span.Gchoose-opr-jt { position:absolute; bottom:-5px; left:62px; width:7px; height:5px; background: url(../Image/icon-form.png) no-repeat -380px 0;}
.Gform .Ginput .Gchoose .Gchoose-opr .Gchoose-opr-img { position:relative; z-index:4;}
.Gform .Ginput .Gchoose .Gchoose-opr .Gchoose-opr-opr { position:absolute; z-index:5; right:0; top:0; width:20px; height:41px; border-left:solid 1px #d9d9d9; border-bottom:solid 1px #d9d9d9; border-radius:0 2px 0 2px;}
.Gform .Ginput .Gchoose .Gchoose-opr .Gchoose-opr-opr a { display:block; float:left; width:20px; height:20px; border-radius:0 0 0 2px;}
.Gform .Ginput .Gchoose .Gchoose-opr .Gchoose-opr-opr .Gchoose-opr-edit {border-bottom:solid 1px #d9d9d9; background:#fff url(../Image/icon-form.png) no-repeat -313px -2px;}
.Gform .Ginput .Gchoose .Gchoose-opr .Gchoose-opr-opr .Gchoose-opr-del { background:#fff url(../Image/icon-form.png) no-repeat -283px -2px;}
.Gform .Ginput .Gchoose .Gchoose-opr .Gchoose-opr-opr .Gchoose-opr-edit:hover { background:#ff9b24 url(../Image/icon-form.png) no-repeat -313px -42px;}
.Gform .Ginput .Gchoose .Gchoose-opr .Gchoose-opr-opr .Gchoose-opr-del:hover { background:#ff9b24 url(../Image/icon-form.png) no-repeat -283px -42px;}
.Gform .Ginput .Gchoose .Gchoose-opr img { width: auto; height:auto; float:none; cursor:auto;}
.Gform .Ginput .Gchoose .Gchoose-oprbg { position:fixed; z-index:2; width:100%; height:100%; top:0; left:0;}
.Gform .Ginput .Gchoose .Gchoose-opr + .Gchoose-oprbg { display: block;}
.Gform .Ginput .Gchoose .Gchoose-opr.an + .Gchoose-oprbg { display:none;}
.Gform .Ginput .Gchoose .Gchoose-list { position: absolute; z-index:3; bottom:30px; left:50%; margin-left:-150px; padding:5px 10px 5px 10px; width:280px; height:auto; line-height:0; background:#f7f7f7; border:solid 1px #bbbbbb; box-shadow:0 0 8px rgba(0,0,0,.3); border-radius:3px;}
.Gform .Ginput .Gchoose .Gchoose-list>div { overflow-y:auto;}
.Gform .Ginput .Gchoose .Gchoose-list>span.Gchoose-list-jt { position:absolute; bottom:-5px; left:50%; margin-left:-4px; width:7px; height:5px; background: url(../Image/icon-form.png) no-repeat -380px 0;}
.Gform .Ginput .Gchoose .Gchoose-list .Gchoose-li { display:block; padding:2px 0; line-height:25px; border-bottom:dashed 1px #ddd;}
.Gform .Ginput .Gchoose .Gchoose-list .Gchoose-li p { font-size:14px; color:#333;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.Gform .Ginput .Gchoose .Gchoose-list .Gchoose-li input { display:none;}
.Gform .Ginput .Gchoose .Gchoose-list .Gchoose-li a { float:right; margin-top:3px; width:20px; height:20px; background:url(../Image/icon-form.png) no-repeat -283px -2px;}
.Gform .Ginput .Gchoose .Gchoose-listbg { position:fixed; z-index:2; width:100%; height:100%; top:0; left:0;}
.Gform .Ginput .Gchoose .Gchoose-list + .Gchoose-listbg { display: block;}
.Gform .Ginput .Gchoose .Gchoose-list.an + .Gchoose-listbg { display:none;}
.Gform .Ginput .Gchoosemore { position:relative; height:auto;background: #fff; margin-top:-10px; margin-left:-10px;}
.Gform .Ginput .Gchoosemore .Gchoosemore-add {position: relative; margin-left:10px; margin-top:10px; width:80px;height: 80px; text-indent:0;border: solid 1px #bbb;float: left;}
.Gform .Ginput .Gchoosemore .Gchoosemore-add a { display:block; overflow:hidden;}
.Gform .Ginput .Gchoosemore .Gchoosemore-add a i { display:block; margin:0 auto; margin-top:20px; width:26px; height:26px;background: url(../Image/icon-form.png) no-repeat -250px 1px;}
.Gform .Ginput .Gchoosemore .Gchoosemore-add a span { display:block; text-align:center; height:26px; font-size:12px; color:#ff9b24}
.Gform .Ginput .Gchoosemore .Gchoosemore-list {position: relative; margin-left:10px; margin-top:10px; width:80px;height: 80px;line-height: 140px;border: solid 1px #bbb;float: left;}
.Gform .Ginput .Gchoosemore .Gchoosemore-list input { position:absolute; top:0; width:1px; height:1px; overflow:hidden; padding:0; margin:0; border:none;}
.Gform .Ginput .Gchoosemore .Gchoosemore-list .Gchoosemore-img { width:80px; height:80px; overflow:hidden; background-position:50% 50%; background-repeat:no-repeat;}
.Gform .Ginput .Gchoosemore .Gchoosemore-list .Gchoosemore-opr { display:none; position:absolute; z-index:5; right:0; top:0; width:20px; height:41px; border-left:solid 1px #d9d9d9; border-bottom:solid 1px #d9d9d9; border-radius:0 0 0 2px;}
.Gform .Ginput .Gchoosemore .Gchoosemore-list:hover .Gchoosemore-opr { display:block;}
.Gform .Ginput .Gchoosemore .Gchoosemore-list .Gchoosemore-opr a { display:block; float:left; width:20px; height:20px; border-radius:0 0 0 2px;}
.Gform .Ginput .Gchoosemore .Gchoosemore-list .Gchoosemore-opr .Gchoosemore-edit {border-bottom:solid 1px #d9d9d9; background:#fff url(../Image/icon-form.png) no-repeat -313px -2px;}
.Gform .Ginput .Gchoosemore .Gchoosemore-list .Gchoosemore-opr .Gchoosemore-del { background:#fff url(../Image/icon-form.png) no-repeat -283px -2px;}
.Gform .Ginput .Gchoosemore .Gchoosemore-list .Gchoosemore-opr .Gchoosemore-edit:hover { background:#ff9b24 url(../Image/icon-form.png) no-repeat -313px -42px;}
.Gform .Ginput .Gchoosemore .Gchoosemore-list .Gchoosemore-opr .Gchoosemore-del:hover { background:#ff9b24 url(../Image/icon-form.png) no-repeat -283px -42px;}
.Gform.eTicket .Ginput .Gtime1 input{ width:157px;}

/*2015-06-24 added*/
.important{ width:8px; height:8px; border-radius:100%; background:#ed3f41; display:block; position:absolute; top:20px; right:20px;}
.num{ line-height:16px; font-size:12px; height:18px; padding:0 6px; color:#FFF; text-align:center; border-radius:18px; background:#ed3f41; margin-left:10px;}

.resultTip{ background:#f7f7f7; padding:25px 200px;}
.TipMessage{ padding-left:130px; min-height:122px;}
.TipMessage dl dt{ font-size:16px; color:#999999; font-weight:bold}
.TipMessage dl dd{ font-size:14px; color:#999999}
.TipMessage.OK{ background:url(../Image/msgsucceed.png) no-repeat}
.TipMessage.fail{background:url(../Image/msgerrors.png) no-repeat}
.help-tip p{display: none;text-align: left;background-color: #fff2f3;padding: 10px 20px;width: 300px;position: absolute;order-radius: 3px;box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);right: 52px;top: -44px;color: #666;font-size: 14px;line-height: 1.4;border:solid 1px #ffd0d3;}
.help-tip p:before{position: absolute;content:'';width:0;height: 0;border:6px solid transparent;border-top-color: #ffd0d3;left: 10px;top: 40px;}

.help-tip p:after{position: absolute;content: '';width:0;height: 0;border:6px solid transparent;border-top-color: #fff2f3;left: 10px;top: 39px;}

.main-name .tip p{padding: 15px;background: #fff6eb;font-size: 14px;color: #666;margin-bottom: 15px;}
.main-name .supply-detail{}
.main-name .supply-detail h5{padding-left: 10px;background: #f8f8f8;border-left: solid 2px #ed3f41;height: 30px;line-height: 30px; font-size: 14px;}
.main-name .supply-detail dl{padding: 15px;position: relative;}
.main-name .supply-detail dl.ghsq{border: solid 1px #ccc;padding: 15px;position: relative;height:25px;overflow: hidden;}
.main-name .supply-detail dl dt{font-size: 16px;line-height: 26px;padding-bottom: 15px;}
.main-name .supply-detail dl dd{height: 24px;line-height: 24px;color: #666;font-size: 14px;}
.main-name .supply-detail dl dd span.left{width: 80px;display:block;float: left;text-align: right;}
.main-name .supply-detail dl i{background: url(../Image/eTrade/icon-down.png) no-repeat 10px 10px;width: 12px;height: 7px;display: block;position: absolute;top: 15px; right:15px;padding: 10px;cursor: pointer;}
.main-name .supply-detail dl i.bg{background-position:-12px 10px }
.main-name .supply-detail dl.show-all{height: auto}
.gh-info-td{width: 240px;margin-left: 15px;}

.gh-info-td dl dt{float: left;width: 75px;}

.gh-info-td dl dd{float: left;width: 150px;text-align: left;padding-left: 15px;}
.revoke{padding: 10px 5px;width: 460px;}
.revoke dl  p{padding: 15px;line-height: 24px;background: #fff8ee;font-size: 14px;color: #666;}
.revoke dl  p span{color: #ed3f41;}
.revoke .Gform{width: 430px;}
.revoke .Gform ul{padding-top: 3px;}
.revoke .Gform .Ginput{padding-left: 120px;}
.revoke .Gform .Gname{width: 110px;margin-top: -3px;top:18px;}
.revoke .Gform .Ginput .maxTips.forArea {
    left: 370px;
}
.revoke .Gform .Ginput select {
    width: 315px;
    height: 29px;
    line-height: 25px;
}

.revoke .Gform .Ginput textarea {
    width: 303px;
}
.shopTable tr td{position: relative;}
.shopTable tr td b{display: block; position: absolute;top: 0px;left:0px;background: url(../Image/eTrade/icon-supply.png) 0 0;width: 40px;height: 40px;}

/*2015-09-16  */
.searchBtn:hover{cursor:pointer}
.main-name  .tip_yz{margin-bottom:15px;padding:10px 0px;background:#fff6eb;}
.main-name  .tip_yz p{margin-bottom:0px;padding:0px 15px;line-height:24px;font-size:14px;color:#666;}
.Wcanal-tab .Wcanal-tab-validationleft{width:585px;float:left;}
.Wcanal-tab .Wcanal-tab-validationleft .leftyz{width:100%;height:88px;border-bottom:1px solid #ececec;
margin-top:15px}
.Wcanal-tab .Wcanal-tab-validationleft .leftyz .leftyz_v1 span,.Wcanal-tab .Wcanal-tab-validationleft 
.yz_description p,.Wcanal-tab .Wcanal-tab-validationright ul li{font-family:'微软雅黑';font-size:14px;color:#666;}
.Wcanal-tab .Wcanal-tab-validationleft .leftyz .leftyz_v1 input[type=text]{width:296px;height:28px;
border:1px solid #c8c8c8;}
.Wcanal-tab .Wcanal-tab-validationleft .leftyz .leftyz_v1 input[type=submit]{width:80px;height:36px;
background-color:#ed3f41;text-align:center;line-height:36px;font-size:14px;color:#FFF;-webkit-border-radius:2px;
-moz-border-radius:2px;border-radius:2px;margin-left:4px;}
.Wcanal-tab .Wcanal-tab-validationleft .leftyz .leftyz_v1 input[type=submit]:hover{cursor:pointer;opacity:0.9;}
.Wcanal-tab .Wcanal-tab-validationleft .leftyz .leftyz_v1 input[type=submit]:active{cursor:pointer;opacity:1;}
.Wcanal-tab .Wcanal-tab-validationleft .leftyz .leftyz_v1 span{padding:0 8px 0 100px}
.Wcanal-tab .Wcanal-tab-validationleft .leftyz .leftyz_v2{padding:4px 0 0 150px;line-height:18px;font-size:12px;color:#999}
.Wcanal-tab .Wcanal-tab-validationleft .leftyz  .sub_yz:hover{border:none}
.Wcanal-tab .Wcanal-tab-validationleft .yz_description{padding-top:10px}
.Wcanal-tab .Wcanal-tab-validationleft .yz_description p{line-height:24px;}
.Wcanal-tab .Wcanal-tab-validationright{width:275px;height:460px;float:right;
background:url(../Image/eTicket/validation_right.jpg) no-repeat;}
.Wcanal-tab .Wcanal-tab-validationright ul{width:234px;margin:0 auto;padding-top:20px;}
.Wcanal-tab .Wcanal-tab-validationright ul li span{color:#ed3f41}
.Wcanal-tab .Wcanal-tab-validationright ul li{line-height:24px;text-align:left;}
.Wcanal-tab .Wcanal-tab-validationright ul.yzrt3{padding-top:26px}
.cancle  dl .cancle_p1{font-size:16px;color:#666;padding:10px 0 0 50px;line-height:30px;background:url(../Image/sips_ans.png) no-repeat;
background-position:10px 10px}
.cancle  dl .cancle_p1 span{color:#ed3f41}
.cancle  dl .cancle_p2{color:#999999;line-height:24px;padding:10px 0px 15px 50px;font-size:14px}
.Gform .Ginput_pass{padding:0px 0px 0px 110px;position:relative;}
.Gform .Ginput_pass  div{position:absolute;right:78px;top:5px;color:#ccc;font-size:12px}
.Gform .Gname_name{line-height:4px;width:103px}
.tcs{margin-bottom:10px}
  /*交易验证弹窗*/
.trade_yz_tc{line-height:30px;font-size:14px;color:#666}
.trade_yz_tc ul .trade_li1{padding:10px 0px 12px 0px}
.trade_yz_tc ul .trade_li1 span.trade_sp1{padding-left:45px}
.trade_yz_tc ul .trade_li1 span.trade_num{color:#ed3f40;font-weight:700;padding-left:10px}
.trade_yz_tc ul .trade_li2{position:relative;height:26px}
.trade_yz_tc input{width:284px;padding-right:26px;margin-left:7px}
.trade_yz_tc .trade_li2 span.trade_jy{padding-left:17px}
.trade_yz_tc .trade_li2 span.trade_yuan{display:block;width:30px;height:26px;text-align:center;line-height:28px;
position:absolute;top:2px;right:0px;color:#ccc}
.trade_yz_tc .trade_p{padding-left:83px;color:#ed3f41;font-size:12px;line-height:18px;padding-top:10px;height:18px}
.trade_yz_tc .trade_li3{text-align:center;padding-bottom:10px}
.yz_fail_tc{margin-left:-68px;line-height:30px;padding-left:67px;background: url(../Image/sips_ans.png) no-repeat;
background-position:30px 0px;}
.yz_fail_tc p{text-align:left;color:#333;font-size:16px}

/*付款方式*/
.Paymethod{ background: #f7f7f7; font-size: 12px; color: #666; padding: 0 5px; margin: 5px auto; line-height: 20px; height: 20px; display: table;}

