@charset "utf-8";
/*方正正黑简体*/
@font-face {
  font-family: 'font/title';
  src: url('font/title.ttf');
  font-weight: normal;
  font-style: normal;
}
/*方正正准黑简体*/
@font-face {
  font-family: 'font/text';
  src: url('font/text.ttf');
  font-weight: normal;
  font-style: normal;
}
/* CSS Main */
html{ height:100%; min-height:100%;-webkit-text-size-adjust:100%;-webkit-transform:translate3d;}
body { position:relative; height:100%; min-height:100%;font-family:"text", "Microsoft YaHei";}
*{margin:0;padding:0;border:none;list-style:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-transform:translate3d; font-style:normal; box-sizing:border-box; text-align:center;}
p { color:#666666;}
[class^="title-"] {font-family:"title", "Microsoft YaHei";}
::-moz-placeholder {color: #aaa;opacity: 1!important; font-size:16px;}
:-ms-input-placeholder {color: #aaa; font-size:16px;}
::-webkit-input-placeholder {color: #aaa; font-size:16px;}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] { font-size:14px; height:60px; line-height:26px; padding:17px 6px; border:none; -webkit-appearance: none; border:solid 1px #6cbac6; box-sizing:border-box; width:98%; font-size:18px;}
textarea { padding-bottom:23px;}
input:hover,textarea:hover,select:hover {outline: none;}
input:focus,textarea:focus,select:focus {outline: none;}
select:disabled,
textarea:disabled,
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="date"]:disabled,
input[type="month"]:disabled,
input[type="time"]:disabled,
input[type="week"]:disabled,
input[type="number"]:disabled,
input[type="email"]:disabled,
input[type="url"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="color"]:disabled { background:none; color:#000;}
select:readonly,
textarea:readonly,
input[type="text"]:readonly,
input[type="password"]:readonly,
input[type="datetime"]:readonly,
input[type="datetime-local"]:readonly,
input[type="date"]:readonly,
input[type="month"]:readonly,
input[type="time"]:readonly,
input[type="week"]:readonly,
input[type="number"]:readonly,
input[type="email"]:readonly,
input[type="url"]:readonly,
input[type="search"]:readonly,
input[type="tel"]:readonly,
input[type="color"]:readonly { background:none; color:#000;}

img { max-width:100%;}

a {color:#b60101; text-decoration:none;}
a:active,
a:hover {outline:none;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}

.mt20 { margin-top:20px;}
.mt10 { margin-top:10px;}
.pt20 { padding-top:20px;}
.pt30 { padding-top:30px;}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
/*
#wrapper.ready {}
#wrapper.ready #main { -webkit-transform:scale(0.3,0.3) translate(-1500px,0px);}
#wrapper.ready #main .container { -webkit-transform:scale(0.32,0.4) translate(0,-6700px);}
#wrapper.ready #main2 { -webkit-transform:scale(0.3,0.3) translate(-8100px,0px);}
#wrapper.ready #main2 .container { -webkit-transform:scale(0.32,0.4) translate(0,-6700px);}
#wrapper.ready #main .container * { opacity:1; display:block;}
#wrapper.ready #main2 .container * { opacity:1; display:block;}
#wrapper.ready #main .container .talk { display:none;}
#wrapper.ready #main2 .container .talk { display:none;}
#wrapper.ready #main .container .talk2 { display:none;}
#wrapper.ready #main2 .container .talk2 { display:none;}
#wrapper.ready #main .container .man1,
#wrapper.ready #main .container .man4,
#wrapper.ready #main .container .man9,
#wrapper.ready #main .container .man10,
#wrapper.ready #main .container .man11 { display:none;}
#wrapper.ready #main2 .container .man1,
#wrapper.ready #main2 .container .man4,
#wrapper.ready #main2 .container .man9,
#wrapper.ready #main2 .container .man10,
#wrapper.ready #main2 .container .man11 { display:none;}
*/

#wrapper { position:relative; height:100%; width:100%; overflow:hidden; background:#aee3eb url(../Image/Wonline/bg.png) no-repeat center top;-webkit-transition:all 0.5s 1s ease;}
#wrapper.show1 { background:#aee3eb url(../Image/Wonline/bg.png) no-repeat center top;}
#wrapper.show2 { background:#fff1c8 url(../Image/Wonline/bg2.png) no-repeat center top;}
#wrapper.show1 .cloud i { background:url(../Image/Wonline/cloud.png) no-repeat center center; background-size:100% auto;}
#wrapper.show2 .cloud i { background:url(../Image/Wonline/cloud4.png) no-repeat center center; background-size:100% auto;}
#wrapper.show1 .pageT span { color:#56abe1; background:url(../Image/Wonline/cloud2.png) no-repeat center center; background-size:100% auto;}
#wrapper.show2 .pageT span { color:#d19107; background:url(../Image/Wonline/cloud5.png) no-repeat center center; background-size:100% auto;}

#wrapper.show1 .talk { background:#56abe1;}
#wrapper.show1 .talk:after {border-left:30px solid #56abe1;}
#wrapper.show1 .talk2 { background:#56abe1;}
#wrapper.show1 .talk2:after {border-right:30px solid #56abe1;}
#wrapper.show2 .talk { background:#efbb49;}
#wrapper.show2 .talk:after {border-left:30px solid #efbb49;}
#wrapper.show2 .talk2 { background:#efbb49;}
#wrapper.show2 .talk2:after {border-right:30px solid #efbb49;}

#wrapper.show1 .btn-all {background:#0471b6;}
#wrapper.show1 .btn-all:after { background:#2993d6;}
#wrapper.show2 .btn-all {background:#d19107;}
#wrapper.show2 .btn-all:after { background:#efbb49;}

#wrapper.show1 .page1 .tabMain .tab { border-bottom:solid 1px #9fd6de;}
#wrapper.show1 .page1 .tabMain .tab .tabList a { color:#56abe1;}
#wrapper.show1 .page1 .tabMain .tab .tabList { border:solid 1px #9fd6de;}
#wrapper.show1 .page1 .tabMain .tab .tabList:first-child { border-right:none;}
#wrapper.show1 .page1 .tabMain.show1 .tab .tabList:first-child { border-bottom: solid 1px #bbe8ee;}
#wrapper.show1 .page1 .tabMain.show1 .tab .tabList:last-child { background:#b3e5ec;}
#wrapper.show1 .page1 .tabMain.show2 .tab .tabList:first-child { background:#b3e5ec;}
#wrapper.show1 .page1 .tabMain.show2 .tab .tabList:last-child { border-bottom: solid 1px #bbe8ee;}

#wrapper.show2 .page1 .tabMain .tab { border-bottom:solid 1px #efd08e;}
#wrapper.show2 .page1 .tabMain .tab .tabList a { color:#d19107;}
#wrapper.show2 .page1 .tabMain .tab .tabList { border:solid 1px #efd08e;}
#wrapper.show2 .page1 .tabMain .tab .tabList:first-child { border-right:none;}
#wrapper.show2 .page1 .tabMain.show1 .tab .tabList:first-child { border-bottom: solid 1px #fff5d7;}
#wrapper.show2 .page1 .tabMain.show1 .tab .tabList:last-child { background:#fceac2;}
#wrapper.show2 .page1 .tabMain.show2 .tab .tabList:first-child { background:#fceac2;}
#wrapper.show2 .page1 .tabMain.show2 .tab .tabList:last-child { border-bottom: solid 1px #fff5d7;}

#main { position:absolute; z-index:2; left:0; top:0; z-index:1; height:100%; width:100%; -webkit-transition:all 1s ease;}
#main2 { position: absolute; z-index:1; left:200%; top:0; z-index:1; height:100%; width:100%; -webkit-transition:all 1s ease;}
#wrapper.show1 #main { left:0; z-index:2; -webkit-transition:all 1s ease;}
#wrapper.show1 #main2 { left:200%; z-index:1; -webkit-transition:all 1s ease;}
#wrapper.show2 #main { left:200%; z-index:1; -webkit-transition:all 1s ease;}
#wrapper.show2 #main2 { left:0; z-index:2; -webkit-transition:all 1s ease;}
#wrapper.show3 #main3 { left:600%; z-index:3; -webkit-transition:all 1s ease;}
.container { position:absolute; top:93%; left:50%; margin-left:-2400px; width:4800px; height:4800px; border-radius:50%; background:#80c679; -webkit-transition:all 1s ease;}
.container { -webkit-transform: rotate(0);}
#main .container.gopage1+.btnPage { display:none;-webkit-transition:all 1s ease;}
#main2 .container.gopage1+.btnPage { display:none;-webkit-transition:all 1s ease;}
#main2 .container.gopage7+.btnPage + .pageTitle  { display:none;}
#main2 .container.gopage7+.btnPage { display:none;}
.container.gopage1 { -webkit-transform: rotate(0);}
.container.gopage1 .containerPage1 { z-index:10;}
.container.gopage2 { -webkit-transform: rotate(-60deg);}
.container.gopage2 .containerPage2 { z-index:10;}
.container.gopage3 { -webkit-transform: rotate(-120deg);}
.container.gopage3 .containerPage3 { z-index:10;}
.container.gopage4 { -webkit-transform: rotate(-180deg);}
.container.gopage4 .containerPage4 { z-index:10;}
.container.gopage5 { -webkit-transform: rotate(-240deg);}
.container.gopage5 .containerPage5 { z-index:10;}
.container.gopage6 { -webkit-transform: rotate(-300deg);}
.container.gopage6 .containerPage6 { z-index:10;}
.container.gopage7 { -webkit-transform: rotate(-360deg);}
.container.gopage7 .containerPage7 { z-index:10;}
.container.gopage8 { -webkit-transform: rotate(-420deg);}
.container.gopage8 .containerPage8 { z-index:10;}
.cloud { position:absolute; z-index:0; top:0; left:0; width:100%; height:100%; overflow:hidden;}
.cloud i { position:absolute; width:99px; height:56px; background:url(../Image/Wonline/cloud.png) no-repeat center center; background-size:100% auto;-webkit-transition:all 0.5s 1s ease;}
.cloud i.cloud1 { left:30%; top:10%; background-size:100% auto;-webkit-animation:cloud2 40s 0s infinite linear;}
.cloud i.cloud2 { left:70%; top:30%; background-size:60% auto;-webkit-animation:cloud1 40s -10s infinite linear;}
.cloud i.cloud3 { left:35%; top:20%; background-size:50% auto;-webkit-animation:cloud3 40s -30s infinite linear;}
.cloud i.cloud4 { left:40%; top:40%; background-size:90% auto;-webkit-animation:cloud1 40s -20s infinite linear;}
.cloud i.cloud5 { left:45%; top:33%; background-size:60% auto;-webkit-animation:cloud2 40s -30s infinite linear;}
.cloud i.cloud6 { left:55%; top:3%; background-size:80% auto;-webkit-animation:cloud1 40s -10s infinite linear;}

.backindex { position:fixed; z-index:10; top:50px; left:50px; width:166px; height:220px;}
.backindex a { margin:0 auto; display:block; width:135px; height:45px; line-height:45px; color:#fff; border:solid 3px #fff; border-radius:26px;}
.backindex img { margin-top:30px; opacity:0; -webkit-transition:all 0.5s;}
.backindex:hover img { opacity:1; margin-top:10px;}

.containerPage { position:absolute; top:0; left:0; width:100%; height:100%;}
.container.gopage1 .containerPage.open,
.container.gopage2 .containerPage.open,
.container.gopage3 .containerPage.open,
.container.gopage4 .containerPage.open { display:block;}
.container.gopage5 .containerPage.open,
.container.gopage6 .containerPage.open,
.container.gopage7 .containerPage.open,
.container.gopage8 .containerPage.open { display:none;}
.container.gopage1 .containerPage.close,
.container.gopage2 .containerPage.close,
.container.gopage3 .containerPage.close,
.container.gopage4 .containerPage.close { display:none;}
.container.gopage5 .containerPage.close,
.container.gopage6 .containerPage.close,
.container.gopage7 .containerPage.close,
.container.gopage8 .containerPage.close { display:block;}

.containerPage1 { -webkit-transform:rotate(0deg);}
.containerPage2 { -webkit-transform:rotate(60deg);}
.containerPage3 { -webkit-transform:rotate(120deg);}
.containerPage4 { -webkit-transform:rotate(180deg);}
.containerPage5 { -webkit-transform:rotate(240deg);}
.containerPage6 { -webkit-transform:rotate(300deg);}
.containerPage7 { -webkit-transform:rotate(360deg);}
.containerPage8 { -webkit-transform:rotate(420deg);}
.page { position:absolute; top:-600px; left:50%; margin-left:-800px; width:1600px; height:600px;}
.page1 .title-title { margin-top:40px; font-size:50px; color:#0471b6; text-align:center;}
.page1 .title-title span { color:#14ad29;}
.page1 .tabMain { margin:0 auto; width:460px; height:auto; overflow:hidden;}
.page1 .tabMain .tab { margin:0 auto; margin-top:40px; padding:0 50px; width:100%; height:50px; border-bottom:solid 1px #9fd6de;-webkit-transition:all 0.5s 1s ease;}
.page1 .tabMain .tab .tabList { float:left; width:50%; height:50px;border:solid 1px #9fd6de;-webkit-transition:all 0.5s 1s ease;}
.page1 .tabMain .tab .tabList:first-child { border-right:none;}
.page1 .tabMain .tab .tabList a { display:block; color:#0471b6; font-size:18px; line-height:50px;-webkit-transition:all 0.5s 1s ease;}
.page1 .tabMain .tabCon { position:relative; width:100%; height:400px;transition:all 0.5s ease;transform-style: preserve-3d;}
.page1 .tabMain .tabCon .tabCon1,.page1 .tabMain .tabCon .tabCon2 { padding:20px 20px 0 0; position:absolute; top:0; left:0; width:460px; height:400px;}
.page1 .tabMain .tabCon .tabCon1 p { float:left; width:260px; line-height:28px; font-size:18px; color:#000;}
.page1 .tabMain .tabCon .tabCon1 img { float:right;}
.page1 .tabMain .tabCon .tabCon2 p { padding-left:10px; line-height:28px; font-size:18px; color:#000;}
.page1 .tabMain .tabCon .tabCon2 img { margin:0 auto;}
.page1 .tabMain.show1 .tab .tabList:first-child { border-bottom: solid 1px #bbe8ee;}
.page1 .tabMain.show1 .tab .tabList:last-child { background:#b3e5ec;}
.page1 .tabMain.show2 .tab .tabList:first-child { background:#b3e5ec;}
.page1 .tabMain.show2 .tab .tabList:last-child { border-bottom: solid 1px #bbe8ee;}

.pageTitle { position:absolute; z-index:1; top:90%; left:50%; margin-left:-2400px; width:4800px; height:4800px; border-radius:50%; -webkit-transition:all 2s ease;}
.pageTitle { -webkit-transform: rotate(0);}
.pageTitleCon { position:absolute; top:-600px; left:50%; margin-left:-800px; width:1600px; height:600px;}
.pageT { position: absolute; z-index:2; width:226px; height:137px;top: -590px;transform:scale(0.5,0.5);-webkit-transition:all 1s ease; opacity:0.7;}
.pageT span { display:block; text-indent:-20px; height:137px; font-size:30px; line-height:120px; text-align:center; color:#56abe1; background:url(../Image/Wonline/cloud2.png) no-repeat center center; background-size:100% auto; -webkit-transition:all 0.5s 1s ease;}
.pageC { position: absolute; z-index:1; margin-left:130px; width:226px; height:137px;top: -590px; background:url(../Image/Wonline/cloud3.png) no-repeat center center; background-size:100% auto;-webkit-transition:all 1s ease;}
.pageTitle.gopage1 { -webkit-transform: rotate(0);}
.pageTitle.gopage1 .pageTitleCon1 .pageT { transform:scale(0.5,0.5);}
.pageTitle.gopage2 { -webkit-transform: rotate(-60deg);}
.pageTitle.gopage2 .pageTitleCon2 .pageT { transform:scale(1,1); opacity:1;}
.pageTitle.gopage2 .pageTitleCon2 .pageC { margin-left:180px;}
.pageTitle.gopage3 { -webkit-transform: rotate(-66deg);}
.pageTitle.gopage3 .pageTitleCon3 .pageT { transform:scale(1,1); opacity:1;}
.pageTitle.gopage3 .pageTitleCon3 .pageC { margin-left:180px;}
.pageTitle.gopage4 { -webkit-transform: rotate(-72deg);}
.pageTitle.gopage4 .pageTitleCon4 .pageT { transform:scale(1,1); opacity:1;}
.pageTitle.gopage4 .pageTitleCon4 .pageC { margin-left:180px;}
.pageTitle.gopage5 { -webkit-transform: rotate(-78deg);}
.pageTitle.gopage5 .pageTitleCon5 .pageT { transform:scale(1,1); opacity:1;}
.pageTitle.gopage5 .pageTitleCon5 .pageC { margin-left:180px;}
.pageTitle.gopage6 { -webkit-transform: rotate(-84deg);}
.pageTitle.gopage6 .pageTitleCon6 .pageT { transform:scale(1,1); opacity:1;}
.pageTitle.gopage6 .pageTitleCon6 .pageC { margin-left:180px;}
.pageTitle.gopage7 { -webkit-transform: rotate(-90deg);}
.pageTitle.gopage7 .pageTitleCon7 .pageT { transform:scale(1,1); opacity:1;}
.pageTitle.gopage7 .pageTitleCon7 .pageC { margin-left:180px;}
.pageTitle.gopage8 { -webkit-transform: rotate(-96deg);}
.pageTitle.gopage8 .pageTitleCon8 .pageT { transform:scale(1,1); opacity:1;}
.pageTitle.gopage8 .pageTitleCon8 .pageC { margin-left:180px;}
.pageTitleCon { position:absolute; top:0; left:50%; margin-left:-113px; width:226px; height:100%;}
.pageTitleCon1 { -webkit-transform:rotate(0deg);}
.pageTitleCon2 { -webkit-transform:rotate(60deg);}
.pageTitleCon3 { -webkit-transform:rotate(66deg);}
.pageTitleCon4 { -webkit-transform:rotate(72deg);}
.pageTitleCon5 { -webkit-transform:rotate(78deg);}
.pageTitleCon6 { -webkit-transform:rotate(84deg);}
.pageTitleCon7 { -webkit-transform:rotate(90deg);}
.pageTitleCon8 { -webkit-transform:rotate(96deg);}

.btnPage { position:absolute; z-index:20; bottom:20px; left:0; width:100%; height:65px; opacity:1;-webkit-transition:all 1s ease;}
.btnPage a { position:absolute;}
.btnPage a:first-child { left:50%; margin-left:-600px;}
.btnPage a:last-child { right:50%; margin-right:-600px;}
.btn-all { position:relative; display:inline-block; width:190px; height:65px; overflow:hidden; line-height:65px; background:#0471b6; border-radius:40px;-webkit-transition:all 0.5s 1s ease;}
.btn-all span { position:relative; z-index:2; display:block; color:#fff; font-size:18px;}
.btn-all:after { position:absolute; top:0; left:0; content:""; height:65px; width:100%; margin-top:-10px; background:#2993d6; border-radius:40px;-webkit-transition:all 0.5s 1s ease;}
#varifyCode.btn-all { background:#aee3eb url(../Image/Wonline/btn-all1.png) no-repeat center top; background-size:100%;}
#varifyCode.btn-all:after { display:none;}

@-webkit-keyframes cloud1{
	0%{-webkit-transform: translateX(0);}
	50%{-webkit-transform: translateX(-1200px);}
	100%{-webkit-transform: translateX(0);}
}
@-webkit-keyframes cloud2{
	0%{-webkit-transform: translateX(0);}
	50%{-webkit-transform: translateX(1900px);}
	100%{-webkit-transform: translateX(0);}
}
@-webkit-keyframes cloud3{
	0%{-webkit-transform: translateX(0);}
	25%{-webkit-transform: translateX(600px);}
	50%{-webkit-transform: translateX(0);}
	75%{-webkit-transform: translateX(-600px);}
	100%{-webkit-transform: translateX(0);}
}

.talk { position:relative; width:460px; height:auto; background:#56abe1; border-radius:10px; padding:20px;}
.talk:after { position:absolute; bottom:-20px; right:-10px;width:100px;height:50px;border-left:30px solid #56abe1;border-bottom-left-radius:50px 50px; content:"";}
.talk p { height:auto; overflow:hidden; line-height:30px; color:#fff; font-size:18px; text-align:left;}
.talk p span { font-size:26px;}

.talk2 { position:relative; width:460px; height:auto; background:#56abe1; border-radius:10px; padding:20px;}
.talk2:after { position:absolute; bottom:-20px; left:-10px;width:100px;height:50px;border-right:30px solid #56abe1;border-bottom-right-radius:50px 50px; content:"";}
.talk2 p { height:auto; overflow:hidden; line-height:30px; color:#fff; font-size:18px; text-align:left;}
.talk2 p span { font-size:26px;}


.tree1 {width:58px; height:98px; background:url(../Image/Wonline/tree1.png) no-repeat center center; background-size:100% auto;}
.tree2 {width:33px; height:98px; background:url(../Image/Wonline/tree2.png) no-repeat center center; background-size:100% auto;}
.tree3 {width:58px; height:98px; background:url(../Image/Wonline/tree3.png) no-repeat center center; background-size:100% auto;}
.house1 {width:285px; height:203px; background:url(../Image/Wonline/house1.png) no-repeat center center; background-size:100% auto;}
.house2 {width:165px; height:136px; background:url(../Image/Wonline/house2.png) no-repeat center center; background-size:100% auto;}
.house3 {width:253px; height:174px; background:url(../Image/Wonline/house3.png) no-repeat center center; background-size:100% auto;}
.house4 {width:162px; height:131px; background:url(../Image/Wonline/house4.png) no-repeat center center; background-size:100% auto;}
.man1 {width:204px; height:428px; background:url(../Image/Wonline/man1.png) no-repeat center center; background-size:100% auto;}
.man2 {width:322px; height:282px; background:url(../Image/Wonline/man2.png) no-repeat center center; background-size:100% auto;}
.man3 {width:75px; height:196px; background:url(../Image/Wonline/man3.png) no-repeat center center; background-size:100% auto;}
.man4 {width:312px; height:437px; background:url(../Image/Wonline/man4.png) no-repeat center center; background-size:100% auto;}
.man5 {width:18px; height:59px; background:url(../Image/Wonline/man3.png) no-repeat center center; background-size:100% auto;}
.man6 {width:48px; height:83px; background:url(../Image/Wonline/man5.png) no-repeat center center; background-size:100% auto;}
.man7 {width:161px; height:140px; background:url(../Image/Wonline/man6.png) no-repeat center center; background-size:100% auto;}
.man8 {width:110px; height:174px; background:url(../Image/Wonline/man7.png) no-repeat center center; background-size:100% auto;}
.man9 {width:312px; height:437px; background:url(../Image/Wonline/man8.png) no-repeat center center; background-size:100% auto;}
.man10 {width:209px; height:443px; background:url(../Image/Wonline/man9.png) no-repeat center center; background-size:100% auto;}
.man11 {width:209px; height:443px; background:url(../Image/Wonline/man10.png) no-repeat center center; background-size:100% auto;}
.car1 {width:107px; height:82px; background:url(../Image/Wonline/car1.png) no-repeat center center; background-size:100% auto;}
.desk1 {width:210px; height:260px; background:url(../Image/Wonline/desk1.png) no-repeat center center; background-size:100% auto;}
.wall1 {width:298px; height:223px; background:url(../Image/Wonline/wall1.png) no-repeat center center; background-size:100% auto;}
.pay1 {width:113px; height:130px; background:url(../Image/Wonline/pay1.png) no-repeat center center; background-size:100% auto;}
.iphone1 {width:227px; height:299px; background:url(../Image/Wonline/iphone1.png) no-repeat center center; background-size:100% auto;}
.line1 {width:463px; height:264px; background:url(../Image/Wonline/line1.png) no-repeat 0 0;}
.line2 {width:463px; height:264px; background:url(../Image/Wonline/line2.png) no-repeat 0 0; background-size:100% auto;}
.line3 {width:463px; height:264px; background:url(../Image/Wonline/line3.png) no-repeat 0 0; background-size:100% auto;}
.line4 {width:463px; height:264px; background:url(../Image/Wonline/line4.png) no-repeat 0 0; background-size:100% auto;}
.line5 {width:463px; height:264px; background:url(../Image/Wonline/line5.png) no-repeat 0 0; background-size:100% auto;}
.date1 {width:800px; height:400px; background:url(../Image/Wonline/date1.png) no-repeat 0 0; background-size:100% auto;}
.date2 {width:500px; height:208px; background:url(../Image/Wonline/date2.png) no-repeat 0 0; background-size:100% auto;}
.date3 {width:223px; height:148px; background:url(../Image/Wonline/date3.png) no-repeat 0 0; background-size:100% auto;}
.date4 {width:223px; height:148px; background:url(../Image/Wonline/date4.png) no-repeat 0 0;}
.date5 {width:223px; height:148px; background:url(../Image/Wonline/date5.png) no-repeat 0 0;}
.shop1 {width:157px; height:171px; background:url(../Image/Wonline/shop1.png) no-repeat 0 0; background-size:100% auto;}
.shop2 {width:89px; height:138px; background:url(../Image/Wonline/shop2.png) no-repeat 0 0; background-size:100% auto;}
.shop2-2 {width:89px; height:138px; background:url(../Image/Wonline/shop2-2.png) no-repeat 0 0; background-size:100% auto;}
.shop3 {width:162px; height:122px; background:url(../Image/Wonline/shop3.png) no-repeat 0 0; background-size:100% auto;}
.shop4 {width:99px; height:105px; background:url(../Image/Wonline/shop4.png) no-repeat 0 0; background-size:100% auto;}
.shop5 {width:89px; height:138px; background:url(../Image/Wonline/shop5.png) no-repeat 0 0; background-size:100% auto;}
.shop6 {width:167px; height:153px; background:url(../Image/Wonline/shop6.png) no-repeat 0 0; background-size:100% auto;}
.cinema1 {width:543px; height:310px; background:url(../Image/Wonline/cinema1.png) no-repeat 0 0; background-size:100% auto;}
.cinema2 {width:510px; height:210px; background:url(../Image/Wonline/cinema2.jpg) no-repeat center center; background-size:100% auto;}

.page1 .title-title { margin-top:40px; font-size:50px; color:#0471b6; text-align:center;}
.page1 .title-title span { color:#14ad29;}
.page1 .tabMain { margin:0 auto; width:460px; height:auto; overflow:hidden;}
.page1 .tabMain .tab { margin:0 auto; margin-top:40px; padding:0 50px; width:100%; height:50px; border-bottom:solid 1px #9fd6de;-webkit-transition:all 0.5s 1s ease;}
.page1 .tabMain .tab .tabList { float:left; width:50%; height:50px;border:solid 1px #9fd6de;-webkit-transition:all 0.5s 1s ease;}
.page1 .tabMain .tab .tabList:first-child { border-right:none;}
.page1 .tabMain .tab .tabList a { display:block; color:#0471b6; font-size:18px; line-height:50px;-webkit-transition:all 0.5s 1s ease;}
.page1 .tabMain .tabCon { position:relative; width:100%; height:400px;transition:all 0.5s ease;transform-style: preserve-3d;}
.page1 .tabMain .tabCon .tabCon1,.page1 .tabMain .tabCon .tabCon2 { padding:20px 20px 0 0; position:absolute; top:0; left:0; width:460px; height:400px;}
.page1 .tabMain .tabCon .tabCon1 p { float:left; width:260px; line-height:28px; font-size:18px; color:#000;}
.page1 .tabMain .tabCon .tabCon1 img { float:right;}
.page1 .tabMain .tabCon .tabCon2 p { padding-left:10px; line-height:28px; font-size:18px; color:#000;}
.page1 .tabMain .tabCon .tabCon2 img { margin:0 auto;}
.page1 .tabMain.show1 .tab .tabList:first-child { border-bottom: solid 1px #bbe8ee;}
.page1 .tabMain.show1 .tab .tabList:last-child { background:#b3e5ec;}
.page1 .tabMain.show2 .tab .tabList:first-child { background:#b3e5ec;}
.page1 .tabMain.show2 .tab .tabList:last-child { border-bottom: solid 1px #bbe8ee;}
#main .page2 .bgCon { position:absolute; bottom:-5px; left:50%; margin-left:-300px; width:600px; height:400px;}
#main .page2 .bgCon .an1 { position:absolute; bottom:0px; left:100px;-webkit-transform:scale3d(0,0,1); z-index:2;}
#main .page2 .bgCon .an2 { position:absolute; bottom:0px; left:160px;-webkit-transform:scale3d(0,0,1);}
#main .page2 .bgCon .an3 { position:absolute; bottom:0; left:450px;-webkit-transform:scale3d(0,0,1);}
#main .page2 .bgCon .an4 { position:absolute; bottom:-5px; left:510px;-webkit-transform:scale3d(0,0,1);}
#main .page2 .bgCon .an5 { position:absolute; bottom:-80px; left:510px;-webkit-transform: translate(40px,700px);}
#main .page2 .bgCon .an6 { position:absolute; top:-70px; left:50px; height:210px; opacity:0;}
#main .gopage2 .page2 .bgCon .an1 {-webkit-animation:rubberBand 1s 1.5s forwards linear;transform-origin:center bottom;}
#main .gopage2 .page2 .bgCon .an2 {-webkit-animation:rubberBand 1s 1.7s forwards linear;transform-origin:center bottom;}
#main .gopage2 .page2 .bgCon .an3 {-webkit-animation:rubberBand 1s 1.9s forwards linear;transform-origin:center bottom;}
#main .gopage2 .page2 .bgCon .an4 {-webkit-animation:rubberBand 1s 2.1s forwards linear;transform-origin:center bottom;}
#main .gopage2 .page2 .bgCon .an5 {-webkit-animation:translateY2 0.5s 2.8s forwards linear;}
#main .gopage2 .page2 .bgCon .an6 {-webkit-animation:talk1 0.5s 3.3s forwards linear;transform-origin:right bottom;}
#main .gopage2 .page2 .bgCon .an6 p { height:0;-webkit-animation:talkp 3s 3.8s forwards linear;}

#main .page3 .bgCon { position:absolute; bottom:-5px; left:50%; margin-left:-300px; width:600px; height:400px;}
#main .page3 .bgCon .an1 { position:absolute; bottom:-7px; left:0px; opacity:0;}
#main .page3 .bgCon .an2 { position:absolute; bottom:-15px; right:0px; opacity:0;}
#main .page3 .bgCon .an3 { position:absolute; top:-90px; left:120px; width:500px; height:205px; opacity:0;}
#main .gopage3 .page3 .bgCon .an1 {-webkit-animation:translateX 1s 1.5s forwards linear;transform-origin:center bottom;}
#main .gopage3 .page3 .bgCon .an2 {-webkit-animation:translateX2 1s 1.7s forwards linear;transform-origin:center bottom;}
#main .gopage3 .page3 .bgCon .an3 {-webkit-animation:talk1 0.5s 2.8s forwards linear;transform-origin:left bottom;}
#main .gopage3 .page3 .bgCon .an3 p { height:0;-webkit-animation:talkp 3s 3.3s forwards linear;}

#main .page4 .bgCon { position:absolute; bottom:-5px; left:50%; margin-left:-300px; width:600px; height:400px;}
#main .page4 .bgCon .an1 { position:absolute; bottom:-7px; left:0px;-webkit-transform:rotateZ(10deg);}
#main .page4 .bgCon .an1-2 { opacity:0;}
#main .page4 .bgCon .an2 { position:absolute; bottom:-15px; left:200px; opacity:0;}
#main .page4 .bgCon .an3 { position:absolute; bottom:-80px; right:30px;-webkit-transform: translate(40px,800px);}
#main .page4 .bgCon .an4 { position:absolute; top:-90px; left:-30px; height:170px; opacity:0;}
#main .gopage4 .page4 .bgCon .an1 {-webkit-animation:iphone2 0.8s 2.4s forwards linear;transform-origin:center bottom;}
#main .gopage4 .page4 .bgCon .an1-1 {-webkit-animation:iphone1 0.5s 1s 3 forwards linear;transform-origin:center bottom;}
#main .gopage4 .page4 .bgCon .an1-2 {-webkit-animation:iphone3 1s 1s forwards linear;transform-origin:center bottom;}
#main .gopage4 .page4 .bgCon .an2 {-webkit-animation:man4 10s 3s 10 forwards linear;}
#main .gopage4 .page4 .bgCon .an3 {-webkit-animation:translateY2 0.5s 2s forwards linear;transform-origin:center bottom;}
#main .gopage4 .page4 .bgCon .an4 {-webkit-animation:talk1 0.5s 2.8s forwards linear;transform-origin:right bottom;}
#main .gopage4 .page4 .bgCon .an4 p { height:0;-webkit-animation:talkp 3s 3.8s forwards linear;}

#main .page5 .bgCon { position:absolute; bottom:-5px; left:50%; margin-left:-300px; width:600px; height:400px;}
#main .page5 .bgCon .an1 { position:absolute; bottom:-10px; left:0px;-webkit-transform:scale3d(0,0,1); z-index:2;}
#main .page5 .bgCon .an2 { position:absolute; bottom:0px; left:100px;-webkit-transform:scale3d(0,0,1);}
#main .page5 .bgCon .an3 { position:absolute; z-index:3; bottom:-20px; left:450px;-webkit-transform:scale3d(0,0,1);}
#main .page5 .bgCon .an4 { position:absolute; z-index:2; bottom:-15px; left:170px;-webkit-transform:scale3d(0,0,1);}
#main .page5 .bgCon .an5 { position:absolute; bottom:-5px; left:90px;-webkit-transform:scale3d(0,0,1);}
#main .page5 .bgCon .an6 { position:absolute; z-index:4; bottom:-80px; left:510px;-webkit-transform: translate(40px,700px);}
#main .page5 .bgCon .an7 { position:absolute; z-index:4; top:-70px; left:150px; width:350px; height:160px; opacity:0;}
#main .gopage5 .page5 .bgCon .an1 {-webkit-animation:rubberBand 1s 1.5s forwards linear;transform-origin:center bottom;}
#main .gopage5 .page5 .bgCon .an2 {-webkit-animation:rubberBand 1s 1.7s forwards linear;transform-origin:center bottom;}
#main .gopage5 .page5 .bgCon .an3 {-webkit-animation:rubberBand 1s 1.9s forwards linear;transform-origin:center bottom;}
#main .gopage5 .page5 .bgCon .an4 {-webkit-animation:rubberBand 1s 2.1s forwards linear;transform-origin:center bottom;}
#main .gopage5 .page5 .bgCon .an5 {-webkit-animation:rubberBand 1s 2.1s forwards linear;transform-origin:center bottom;}
#main .gopage5 .page5 .bgCon .an6 {-webkit-animation:translateY2 0.5s 2.8s forwards linear;}
#main .gopage5 .page5 .bgCon .an8 {-webkit-animation:car1 40s 2.8s forwards linear;}
#main .gopage5 .page5 .bgCon .an7 {-webkit-animation:talk1 0.5s 3.3s forwards linear;transform-origin:right bottom;}
#main .gopage5 .page5 .bgCon .an7 p { height:0;-webkit-animation:talkp 3s 3.8s forwards linear;}

#main .page6 .bgCon { position:absolute; bottom:-5px; left:50%; margin-left:-300px; width:600px; height:400px;}
#main .page6 .bgCon .an1 { position:absolute; bottom:-10px; left:200px; z-index:2;-webkit-transform: translate(0,-100px); opacity:0;}
#main .page6 .bgCon .an2 { position:absolute; z-index:3; bottom:-30px; left:300px;-webkit-transform:translate(100px,0); opacity:0;}
#main .page6 .bgCon .an3 { position:absolute; z-index:2; bottom:-25px; left:300px;-webkit-transform:translate(-100px,0); opacity:0;}
#main .page6 .bgCon .an4 { position:absolute; z-index:2; bottom:125px; left:330px;-webkit-transform:scale3d(0,0,1);}
#main .page6 .bgCon .an5 { position:absolute; z-index:4; bottom:-80px; left:0px;-webkit-transform: translate(40px,700px);}
#main .page6 .bgCon .an6 { position:absolute; z-index:4; top:-70px; left:150px; width:490px; height:170px; opacity:0;}
#main .gopage6 .page6 .bgCon .an1 {-webkit-animation:translateY3 0.5s 1s forwards linear;transform-origin:center bottom;}
#main .gopage6 .page6 .bgCon .an2 {-webkit-animation:translateX3 1s 1.7s forwards linear;transform-origin:center bottom;}
#main .gopage6 .page6 .bgCon .an3 {-webkit-animation:translateX4 1s 1.9s forwards linear;transform-origin:center bottom;}
#main .gopage6 .page6 .bgCon .an4 {-webkit-animation:rubberBand 1s 3s forwards linear;transform-origin:center bottom;}
#main .gopage6 .page6 .bgCon .an5 {-webkit-animation:translateY2 0.5s 3.8s forwards linear;}
#main .gopage6 .page6 .bgCon .an6 {-webkit-animation:talk1 0.5s 4s forwards linear;transform-origin:left bottom;}
#main .gopage6 .page6 .bgCon .an6 p { height:0;-webkit-animation:talkp 3s 4.5s forwards linear;}

#main .page7 .bgCon { position:absolute; bottom:-5px; left:50%; margin-left:-300px; width:600px; height:400px;}
#main .page7 .bgCon .an1 { position:absolute; z-index:3; bottom:-7px; left:0px; opacity:0;}
#main .page7 .bgCon .an2 { position:absolute; z-index:3; bottom:-15px; right:0px; opacity:0;}
#main .page7 .bgCon .an3 { position:absolute; z-index:3; top:-70px; left:100px; width:536px; height:170px; opacity:0;}
#main .page7 .bgCon .line1 { position:absolute; left:-160px; top:0; width:0; overflow:hidden;}
#main .page7 .bgCon .line2 { position:absolute; top:0; left:0;}
#main .page7 .bgCon .line3 { position:absolute; top:0; left:0;}
#main .page7 .bgCon .line4 { position:absolute; top:0; left:0;}
#main .page7 .bgCon .line5 { position:absolute; top:0; left:0;}
#main .gopage7 .page7 .bgCon .an1 {-webkit-animation:translateX 0.5s 1s forwards linear;transform-origin:center bottom;}
#main .gopage7 .page7 .bgCon .an2 {-webkit-animation:translateX2 0.5s 1.2s forwards linear;transform-origin:center bottom;}
#main .gopage7 .page7 .bgCon .an3 {-webkit-animation:talk1 0.5s 4.8s forwards linear;transform-origin:left bottom;}
#main .gopage7 .page7 .bgCon .an3 p { height:0;-webkit-animation:talkp 3s 5.8s forwards linear;}
#main .gopage7 .page7 .bgCon .line1 {-webkit-animation:line1 3s 1s forwards linear;}
#main .gopage7 .page7 .bgCon .line2 {-webkit-animation:translateY4 5s -1.5s infinite linear;}
#main .gopage7 .page7 .bgCon .line3 {-webkit-animation:translateY5 5s -2s infinite linear;}
#main .gopage7 .page7 .bgCon .line4 {-webkit-animation:translateY4 5s -2.5s infinite linear;}
#main .gopage7 .page7 .bgCon .line5 {-webkit-animation:translateY5 5s -3s infinite linear;}

#main .page8 .bgCon { position:absolute; bottom:20px; left:50%; margin-left:-400px; width:800px; height:400px;}

@-webkit-keyframes line1{
	0%{ width:0;}
	100%{ width:463px;}
}
@-webkit-keyframes translateY4{
	0%{-webkit-transform: translateY(0);}
	30%{-webkit-transform: translateY(-10px);}
	100%{-webkit-transform: translateY(0);}
}
@-webkit-keyframes translateY5{
	0%{-webkit-transform: translateY(0);}
	30%{-webkit-transform: translateY(10px);}
	100%{-webkit-transform: translateY(0);}
}
@-webkit-keyframes rubberBand{
	0%{-webkit-transform:scale3d(0,0,1);}
	30%{-webkit-transform:scale3d(1.2,1.15,1);}
	40%{-webkit-transform:scale3d(0.85,1.05,1);}
	50%{-webkit-transform:scale3d(1.05,.95,1);}
	65%{-webkit-transform:scale3d(.95,1.05,1);}
	75%{-webkit-transform:scale3d(1.05,.95,1);}
	100%{-webkit-transform:scale3d(1,1,1);}
}
@-webkit-keyframes translateX{
	0%{-webkit-transform: translate(-300px,40px); opacity:0;}
	100%{-webkit-transform: translate(0px,0); opacity:1;}
}
@-webkit-keyframes translateX2{
	0%{-webkit-transform: translate(300px,40px); opacity:0;}
	100%{-webkit-transform: translate(0px,0); opacity:1;}
}
@-webkit-keyframes translateX3{
	0%{-webkit-transform: translate(100px,0); opacity:0;}
	100%{-webkit-transform: translate(0px,0); opacity:1;}
}
@-webkit-keyframes translateX4{
	0%{-webkit-transform: translate(-100px,0); opacity:0;}
	100%{-webkit-transform: translate(0px,0); opacity:1;}
}
@-webkit-keyframes translateX5{
	0%{-webkit-transform: translate(150px,0); opacity:0;}
	15%{-webkit-transform: translate(100px,0); opacity:1;}
	30%{-webkit-transform: translate(100px,0); opacity:1;}
	45%{-webkit-transform: translate(0px,0); opacity:1;}
	70%{-webkit-transform: translate(0px,0); opacity:1;}
	85%{-webkit-transform: translate(-100px,0); opacity:1;}
	100%{-webkit-transform: translate(-170px,0); opacity:0;}
}
@-webkit-keyframes translateX6{
	0%{-webkit-transform: translate(-150px,0); opacity:0;}
	100%{-webkit-transform: translate(0,0); opacity:1;}
}
@-webkit-keyframes scale1{
	0%{-webkit-transform:scale3d(0,0,1);}
	15%{-webkit-transform:scale3d(0,0,1);}
	30%{-webkit-transform:scale3d(0,0,1);}
	48%{-webkit-transform:scale3d(0,0,1);}
	52%{-webkit-transform:scale3d(1.2,1.15,1);}
	55%{-webkit-transform:scale3d(0.85,1.05,1);}
	58%{-webkit-transform:scale3d(1.05,.95,1);}
	63%{-webkit-transform:scale3d(.95,1.05,1);}
	67%{-webkit-transform:scale3d(1.05,.95,1);}
	71%{-webkit-transform:scale3d(1,1,1);}
	85%{-webkit-transform:scale3d(1,1,1);}
	100%{-webkit-transform:scale3d(0,0,1);}
}
@-webkit-keyframes scale2{
	0%{-webkit-transform:scale3d(1,1,1);}
	45%{-webkit-transform:scale3d(1.2,1.2,1);}
	55%{-webkit-transform:scale3d(1.2,1.2,1);}
	100%{-webkit-transform:scale3d(1,1,1);}
}
@-webkit-keyframes roate1{
	60%{background:url(../Image/Wonline/shop6.png) no-repeat 0 0; background-size:100% auto;}
	100%{background:url(../Image/Wonline/shop7.png) no-repeat 0 0; background-size:100% auto;}
	0%,40%,80%{-webkit-transform: rotateY(0deg);}
	20%,60%,100%{-webkit-transform:rotateY(360deg);}
}
@-webkit-keyframes translateY{
	0%{-webkit-transform: translate(40px,-500px); opacity:0;}
	100%{-webkit-transform: translate(0px,0); opacity:1;}
}
@-webkit-keyframes translateY2{
	0%{-webkit-transform: translate(40px,500px);}
	100%{-webkit-transform: translate(0px,0);}
}
@-webkit-keyframes translateY3{
	0%{-webkit-transform: translate(0,-100px); opacity:0;}
	100%{-webkit-transform: translate(0px,0); opacity:1;}
}
@-webkit-keyframes man1{
	0%{opacity:1;-webkit-transform:scale3d(.2,.2,.2) translate3d(-1200px,400px,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);}
	100%{opacity:1;-webkit-transform:scale3d(1,1,1) translate3d(-10px,0,0);-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);}
}
@-webkit-keyframes talk1{
	0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1);}
	100%{opacity:1;-webkit-transform:scale3d(1,1,1);}
}
@-webkit-keyframes talkp{
	0%{ height:0%;}
	100%{ height:100%; padding-bottom:10px;}
}
@-webkit-keyframes iphone1{
	0%{-webkit-transform:rotateY(0deg);}
	100%{-webkit-transform:rotateY(360deg);}
}
@-webkit-keyframes man4{
	0%{opacity:0;-webkit-transform:scale3d(1,1,1) translate3d(0px,0,0);}
	10%{opacity:1;-webkit-transform:scale3d(1,1,1) translate3d(-30px,10px,0);}
	80%{opacity:1;-webkit-transform:scale3d(.8,.8,.8) translate3d(-90px,20px,0);}
	100%{opacity:0;-webkit-transform:scale3d(.8,.8,.8) translate3d(-90px,20px,0);}
}
@-webkit-keyframes iphone2{
	0%{-webkit-transform:rotateZ(6deg);}
	10%{-webkit-transform:rotateZ(0deg);}
	20%{-webkit-transform:rotateZ(-6deg);}
	30%{-webkit-transform:rotateZ(0deg);}
	40%{-webkit-transform:rotateZ(4deg);}
	50%{-webkit-transform:rotateZ(0deg);}
	60%{-webkit-transform:rotateZ(-4deg);}
	70%{-webkit-transform:rotateZ(0deg);}
	80%{-webkit-transform:rotateZ(2deg);}
	100%{-webkit-transform:rotateZ(0deg);}
}
@-webkit-keyframes iphone3{
	0%{-webkit-transform: translateY(-300px); opacity:0;}
	30%{-webkit-transform: translateY(-50px);}
	50%{-webkit-transform: translateY(40px);}
	70%{-webkit-transform: translateY(-25px);}
	90%{-webkit-transform: translateY(15px);}
	100%{-webkit-transform: translateY(0); opacity:1;}
}
@-webkit-keyframes car1{
	0%{-webkit-transform: translate(0px,0px);}
	100%{-webkit-transform: translate(-600px,0px);}
}
#main2 .page2 .bgCon { position:absolute; bottom:-5px; left:50%; margin-left:-300px; width:600px; height:400px;}
#main2 .page2 .bgCon .an1 { position:absolute; bottom:-24px; left:-80px;-webkit-transform:scale3d(0,0,1); z-index:2;}
#main2 .page2 .bgCon .an2 { position:absolute; bottom:-18px; left:-20px;-webkit-transform:scale3d(0,0,1);}
#main2 .page2 .bgCon .an3 { position:absolute; bottom:0; left:180px;-webkit-transform:scale3d(0,0,1);}
#main2 .page2 .bgCon .an4 { position:absolute; bottom:-20px; left:500px;-webkit-transform:scale3d(0,0,1);}
#main2 .page2 .bgCon .an5 { position:absolute; bottom:0px; left:160px;-webkit-transform:scale3d(0,0,1);}
#main2 .page2 .bgCon .an6 { position:absolute; bottom:-25px; left:650px;-webkit-transform:scale3d(0,0,1);}
#main2 .page2 .bgCon .an7 { position:absolute; bottom:-80px; left:420px;-webkit-transform: translate(40px,700px);}
#main2 .page2 .bgCon .an8 { position:absolute; top:-70px; left:50px; width:400px; height:210px; opacity:0;}
#main2 .gopage2 .page2 .bgCon .an1 {-webkit-animation:rubberBand 1s 2.1s forwards linear;transform-origin:center bottom;}
#main2 .gopage2 .page2 .bgCon .an2 {-webkit-animation:rubberBand 1s 1.5s forwards linear;transform-origin:center bottom;}
#main2 .gopage2 .page2 .bgCon .an3 {-webkit-animation:rubberBand 1s 1.7s forwards linear;transform-origin:center bottom;}
#main2 .gopage2 .page2 .bgCon .an4 {-webkit-animation:rubberBand 1s 1.9s forwards linear;transform-origin:center bottom;}
#main2 .gopage2 .page2 .bgCon .an5 {-webkit-animation:rubberBand 1s 2.1s forwards linear;transform-origin:center bottom;}
#main2 .gopage2 .page2 .bgCon .an6 {-webkit-animation:rubberBand 1s 2.1s forwards linear;transform-origin:center bottom;}
#main2 .gopage2 .page2 .bgCon .an7 {-webkit-animation:translateY2 0.5s 2.8s forwards linear;}
#main2 .gopage2 .page2 .bgCon .an8 {-webkit-animation:talk1 0.5s 3.3s forwards linear;transform-origin:right bottom;}
#main2 .gopage2 .page2 .bgCon .an8 p { height:0;-webkit-animation:talkp 3s 3.8s forwards linear;}

#main2 .page3 .bgCon { position:absolute; bottom:-5px; left:50%; margin-left:-300px; width:600px; height:400px;}
#main2 .page3 .bgCon .an1 { position:absolute; bottom:0px; left:220px; opacity:0;}
#main2 .page3 .bgCon .an2 { position:absolute; z-index:2; bottom:-35px; left:160px; opacity:0;}
#main2 .page3 .bgCon .an7 { position:absolute; z-index:2; bottom:-35px; left:160px; opacity:0;}
#main2 .page3 .bgCon .an3 { position:absolute; bottom:-15px; left:90px; opacity:0;}
#main2 .page3 .bgCon .an4 { position:absolute; bottom:110px; left:60px; -webkit-transform:scale3d(0,0,1);}
#main2 .page3 .bgCon .an5 { position:absolute; bottom:-80px; left:420px;-webkit-transform: translate(40px,700px);}
#main2 .page3 .bgCon .an6 { position:absolute; top:-60px; left:50px; width:400px; height:200px; opacity:0;}
#main2 .gopage3 .page3 .bgCon .an1 {-webkit-animation:translateY3 0.5s 1.5s forwards linear;transform-origin:center bottom;}
#main2 .gopage3 .page3 .bgCon .an2 {-webkit-animation:translateX5 5s 2s infinite linear;transform-origin:center bottom;}
#main2 .gopage3 .page3 .bgCon .an7 {-webkit-animation:translateX5 5s 4s infinite linear;transform-origin:center bottom;}
#main2 .gopage3 .page3 .bgCon .an3 {-webkit-animation:translateY3 0.5s 1.8s forwards linear;transform-origin:center bottom;}
#main2 .gopage3 .page3 .bgCon .an4 {-webkit-animation:scale1 2.5s 3s infinite linear;transform-origin:center bottom;}
#main2 .gopage3 .page3 .bgCon .an5 {-webkit-animation:translateY2 0.5s 2.8s forwards linear;}
#main2 .gopage3 .page3 .bgCon .an6 {-webkit-animation:talk1 0.5s 3.3s forwards linear;transform-origin:right bottom;}
#main2 .gopage3 .page3 .bgCon .an6 p { height:0;-webkit-animation:talkp 3s 3.8s forwards linear;}

#main2 .page4 .bgCon { position:absolute; bottom:-5px; left:50%; margin-left:-300px; width:600px; height:400px;}
#main2 .page4 .bgCon .an1 { position:absolute; bottom:-10px; left:380px; opacity:0;}
#main2 .page4 .bgCon .an2 { position:absolute; z-index:2; bottom:-35px; left:240px; opacity:0;}
#main2 .page4 .bgCon .an3 { position:absolute; bottom:-15px; left:270px; opacity:0;}
#main2 .page4 .bgCon .an4 { position:absolute; bottom:110px; left:240px;width:167px; height:153px; opacity:0;}
#main2 .page4 .bgCon .an5 { position:absolute; bottom:-100px; left:-100px;-webkit-transform: translate(40px,700px);}
#main2 .page4 .bgCon .an6 { position:absolute; top:-70px; left:50px; height:175px; opacity:0;}
#main2 .gopage4 .page4 .bgCon .an1 {-webkit-animation:translateY3 0.5s 1.5s forwards linear;transform-origin:center bottom;}
#main2 .gopage4 .page4 .bgCon .an2 {-webkit-animation:translateX6 1s 2s forwards linear;transform-origin:center bottom;}
#main2 .gopage4 .page4 .bgCon .an3 {-webkit-animation:translateY3 0.5s 1.8s forwards linear;transform-origin:center bottom;}
#main2 .gopage4 .page4 .bgCon .an4 {-webkit-animation:translateY3 0.5s 3s forwards linear;transform-origin:center bottom;}
#main2 .gopage4 .page4 .bgCon .an4-1 {-webkit-animation:roate1 2s 7s forwards linear;transform-origin:center bottom;}
#main2 .gopage4 .page4 .bgCon .an5 {-webkit-animation:translateY2 0.5s 2.8s forwards linear;}
#main2 .gopage4 .page4 .bgCon .an6 {-webkit-animation:talk1 0.5s 3.3s forwards linear;transform-origin:right bottom;}
#main2 .gopage4 .page4 .bgCon .an6 p { height:0;-webkit-animation:talkp 3s 3.8s forwards linear;}

#main2 .page5 .bgCon { position:absolute; bottom:-5px; left:50%; margin-left:-300px; width:600px; height:400px;}
#main2 .page5 .bgCon .an1 { position:absolute; z-index:2; bottom:0; left:50%; margin-left:-271px;}
#main2 .page5 .bgCon .an2 { position:absolute; z-index:1; top:0; left:50%; margin-left:-255px; overflow:hidden;}
#main2 .page5 .bgCon .an5 { position:absolute; z-index:1; bottom:-35px; left:50%; margin-left:-271px;width:543px; height:310px; opacity:0;}
#main2 .page5 .bgCon .an3 { position:absolute; z-index:3; bottom:-100px; left:-100px;-webkit-transform: translate(40px,700px);}
#main2 .page5 .bgCon .an4 { position:absolute; z-index:3; top:-80px; left:50px; width:530px; height:200px; opacity:0;}
#main2 .gopage5 .page5 .bgCon .an6 {-webkit-animation:scale2 20s 2s infinite linear;transform-origin:center bottom;}
#main2 .gopage5 .page5 .bgCon .an5 {-webkit-animation:translateY3 0.5s 1.5s forwards linear;transform-origin:center bottom;}
#main2 .gopage5 .page5 .bgCon .an3 {-webkit-animation:translateY2 0.5s 3.8s forwards linear;}
#main2 .gopage5 .page5 .bgCon .an4 {-webkit-animation:talk1 0.5s 4.3s forwards linear;transform-origin:right bottom;}
#main2 .gopage5 .page5 .bgCon .an4 p { height:0;-webkit-animation:talkp 3s 4.8s forwards linear;}

#main2 .page6 .bgCon { position:absolute; bottom:-5px; left:50%; margin-left:-300px; width:600px; height:400px;}
#main2 .page6 .bgCon .an1 { position:absolute; z-index:2; bottom:-20px; left:50%; margin-left:-250px; opacity:0;}
#main2 .page6 .bgCon .an2 { position:absolute; z-index:1; top:80px; left:23%; opacity:0;}
#main2 .page6 .bgCon .an3 { position:absolute; z-index:1; top:80px; left:23%; width:0;}
#main2 .page6 .bgCon .an4 { position:absolute; z-index:1; top:80px; left:23%; width:0;}
#main2 .page6 .bgCon .an5 { position:absolute; z-index:4; top:-70px; left:50px; height:213px; opacity:0;}
#main2 .gopage6 .page6 .bgCon .an1 {-webkit-animation:translateY3 0.5s 1s forwards linear;}
#main2 .gopage6 .page6 .bgCon .an2 {-webkit-animation:translateX3 1s 1.7s forwards linear;}
#main2 .gopage6 .page6 .bgCon .an3 {-webkit-animation:line1 2s 2.9s forwards linear;}
#main2 .gopage6 .page6 .bgCon .an4 {-webkit-animation:line1 2s 4s forwards linear;}
#main2 .gopage6 .page6 .bgCon .an5 {-webkit-animation:talk1 0.5s 5s forwards linear;transform-origin:left bottom;}
#main2 .gopage6 .page6 .bgCon .an5 p { height:0;-webkit-animation:talkp 3s 5.5s forwards linear;}
#main2 .gopage6 .page6 .bgCon .talk2:after { left:200px;}

#main2 .page6 .title-title { margin-top:40px; font-size:50px; color:#0471b6; text-align:center;}
#main2 .page6 .title-title span { color:#14ad29;}
#main2 .page6 .title-text { margin-top:10px; font-size:25px; color:#666; text-align:center;}
#main2 .page6 .title-text2 { margin-top:40px; font-size:30px; color:#0471b6; text-align:center;}
#main2 .page6 .title-text3 { margin-top:10px; font-size:18px; color:#0471b6; text-align:center;}
#main2 .page6 .fn { margin-top:40px;}

.erro {-webkit-animation:erro 0.8s forwards linear;}
@-webkit-keyframes erro
{
	0%{-webkit-transform:translate(0,0)}
	10%{-webkit-transform:translate(-16px,0)}
	20%{-webkit-transform:translate(16px,0)}
	30%{-webkit-transform:translate(-12px,0)}
	40%{-webkit-transform:translate(12px,0)}
	50%{-webkit-transform:translate(-8px,0)}
	60%{-webkit-transform:translate(8px,0)}
	70%{-webkit-transform:translate(-4px,0)}
	80%{-webkit-transform:translate(4px,0)}
	100%{-webkit-transform:translate(0,0)}
}