.Gform ul:first-child .Ginput{ padding-top:15px;}
.Gform ul:first-child .Gname{ top:15px;}
.Gform .Ginput .maxTips.forInput, .Gform .Ginput .maxTips.forArea{ left:415px;}
.Gform .Ginput .maxTips.forInput{ top: inherit; line-height:28px;}
.b_t{ border-top:1px #f2f2f2 solid;}
.b_r{ border-right:1px #f2f2f2 solid;}
.b_b{ border-bottom:1px #f2f2f2 solid;}
.b_l{ border-left:1px #f2f2f2 solid;}
.ml12{ margin-left:12px;}
.ml120{ margin-left:120px;}
.mt15{ margin-top:15px;}
.gap{ height:30px; line-height:30px; width:100%; display:block}
.steps{line-height: 30px;color: #666666; font-size: 14px; border-left:2px #f15755 solid; background-color:#f8f8f8; padding-left:15px;}

/*业务介绍页*/
.yw_index{}
.yw_index .header_area{ position:relative;}
.yw_index .header_area .intro_area{ padding:50px 0; padding-left:70px; background:#fcfcfc;color:#666; font-size:16px;}
.yw_index .header_area .intro_area h1{ font-size:24px; font-weight:normal; color:#333333; line-height:40px; margin-bottom:10px;}
.yw_index .header_area .intro_area p{ font-size:16px; line-height:26px; color:#666666; width:40%;}
.yw_index .header_area .intro_area ul{ margin-top:10px;}
.yw_index .header_area .intro_area ul li{ line-height:26px;}
.yw_index .header_area .intro_area ul li:before{ background:url(../Image/Wfx/list_ad.png) no-repeat; width:18px; height:14px; display:inline-block; content:""}
.yw_index .header_area .extra_area{ padding:26px 0 65px; background:#f3f3f3; display:block; padding-left:70px;}
.yw_index .header_area .extra_area a.btn_all{ background:#ed3f41; border-radius:2px; font-size:16px; color:#FFF; line-height:40px; padding:0 45px; display:inline-block; text-decoration:none;}
.yw_index .header_area .extra_area a.btn_all:hover{ background:#f26f71; border-radius:2px; font-size:16px; color:#FFF; line-height:40px; padding:0 45px; display:inline-block; text-decoration:none; cursor:pointer}
.yw_index .header_area .right_area{ background:url(../Image/Wpaipai/wpaipai-intropic.png) no-repeat; background-size:100% auto; width:500px; height:416px; display:inline-block; position:absolute; right:10px; top:40px}

/*业务概况*/
.nav{ font-size:14px; color:#666; line-height:34px;}
.nav .hdName{ float:left; padding:0px; width:auto; font-size:14px;}
.nav .hdName span{ display:block; text-align:left; line-height:24px}

.data_summery { padding:15px 0px;}
.data_summery:after{ clear:both; display:block; height:0; content:""}
.data_summery dl { width:25%; float: left; border-right: dashed 1px #cccccc; text-align:center; line-height:18px; box-sizing:border-box;}
.data_summery dl dt { padding:10px 0 5px 0; color:#0077dd; font-weight:bold; font-size:18px;}
.data_summery dl dd { padding:0 0 10px 0; color:#666666;}
.data_summery dl.last { border:none;}

/*趋势分析*/
.static{ border:1px #f2f2f2 solid}
.static .static_measure{ padding:12px 17px; border-bottom:1px #f2f2f2 solid;}
.static .static_measure1{ padding:8px 0;}
.static .static_measure1 dl{ font-size:14px;}
.static .static_measure1 dl dt{ width:60px; float:left;height:28px; line-height:28px; text-align:right; padding-right:20px;}
.static .static_measure1 dl dd{ background-color:#ffffff; border:1px #f2f2f2 solid; border-right:0; width:98px; display:block; float:left; height:28px; line-height:28px; text-align:center}
.static .static_measure1 dl dd a{ color:#000}
.static .static_measure1 dl dd a.current{ color:#ed3f41; font-weight:bold}
.static .static_measure1 dl dd:last-child{ border-right:1px #f2f2f2 solid; }

.static .static_content{ background-color:#fff; padding:20px;}
.static .static_content h4.sub_title{clear: both;position: relative;z-index: 7;padding: 0px 20px 0px 0px;padding-left: 3px;border-left: 4px solid #6B6B6B;font-size: 14px;height: 14px;line-height: 14px;font-weight: bold; margin-bottom:15px;}
.static .static_content h4 {color: #444;font: normal 18px/2em "microsoft yahei";text-align: left;}
.static .static_content .J_container{ width:840px; height:290px; border:1px #f2f2f2 solid;}

/*高级设置-引导关注页设置*/
.settingArea{}
.settingConent{}

.settingReview{ position:relative}

#phone { position: absolute; z-index:3; right:0;  top:15px; padding-bottom:70px; width:266px;height:auto; overflow: hidden; border: solid 1px #f4f4f4; border-radius: 30px;}
.shopBoxView_iphone { position:absolute; top:20px; right:0;}
#phone:after { position:absolute; bottom:15px; left:50%; margin-left:-20px; width:40px; height:40px; border-radius:50%; border:solid 2px #ddd; background:#fff; content:"";}
#phone .phonetop { width:100%; height:70px; overflow:hidden; position:relative;}
#phone .phonetop:after { position:absolute; left:50%; margin-left:-44px; top:50%; margin-top:-18px; width:68px; height:25px; background:url(../Image/Wpaipai/phone_top.png) no-repeat; content:"";}
#phone .phonetitle { float:left; margin-left:11px; width:241px; height:64px; overflow:hidden; background:#22292c url(../Image/iphone_bg3.png) no-repeat center 0px; text-align:center; line-height:82px; cursor:pointer;}
#phone .phonetitle span { display:block; margin:0 70px; color:#fff; font-size:18px; text-align:center;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#phoneCon {width:100%; overflow:hidden; margin:0 auto; text-align:center; border-top:none;}
#Mform { float:right; margin:40px 20px 0 0; padding-bottom:20px; width:500px; background:#fbfbfb; border:solid 1px #d6d6d6; border-radius:5px;}
#Mform .GformTitle { padding-left:30px; line-height:40px; font-size:16px; color:#666; border-bottom:solid 1px #d6d6d6;}
#phone .iconHand { position:absolute; z-index:3; bottom:90px; left:50%; margin-left:-24px; width:48px; height:48px; background:url(../Image/poster/icon-hand.png) no-repeat center 0px; opacity:0.7;}
#phone .iconHand { -webkit-animation:iconHand 1.5s infinite ease;}

/*我的旺水牌*/
/*表格*/
.shopTable {width:100%;border-collapse:separate;table-layout: auto; font-size:14px;}
.shopTable th { border-top:solid 1px #e3e2e2; border-bottom:solid 1px #e3e2e2; background:#f7f7f7; text-align:center; line-height:38px; font-size:14px;}
.shopTable th.first { border-left:solid 1px #e3e2e2; }
.shopTable th.last { border-right:solid 1px #e3e2e2; }
.shopTable td { text-align:center; border:solid 1px #e3e3e3; line-height:24px; border-top:none; border-right:none; *border-left:none; padding: 7px 10px;box-sizing:border-box}
.shopTable td a{ text-align:center; line-height:24px;}
.shopTable tr { position:relative;}
.shopTable tr.th { z-index:10;}
.shopTable td.title { padding-left:10px; vertical-align: middle; line-height:38px;border:solid 1px #e3e3e3;border-bottom:none; background:#f7f7f7; margin-top:20px; text-align:left; position: relative; top:10px; z-index:3;}
.shopTable td.title a { color:#999;}
.shopTable tr.info td { padding:30px 0 20px 0;}
.shopTable td.last { border-right:solid 1px #e3e2e2;}
.shopTable td.first { border-left:solid 1px #e3e2e2;}
.shopTable td.first img { border:solid 1px #c6c6c6;}
.shopTable .icon-orderdown,.shopTable .icon-orderup { display:inline-block;*display:inline;*zoom:1; margin-left:5px;width:9px;height:5px;vertical-align:middle;cursor:pointer; position:relative; top:-1px;}
.shopTable .icon-orderdown { background: url(../Image/icon-shop.png) no-repeat 0 -500px;}
.shopTable .icon-orderup { background: url(../Image/icon-shop.png) no-repeat -50px -500px;}
.shopTable .hover td { border:solid 1px #aab8da;}
.shopTable .hover td {border:solid 1px #aab8da; border-top:none; border-right:none; *border-left:none; }
.shopTable .hover td.title { border:solid 1px #aab8da;border-bottom:none; background:#d8deeb; }
.shopTable .hover td.last { border-right:solid 1px #aab8da;}
.shopTable .hover td.first { border-left:solid 1px #aab8da;}
.shopTable .icon-on,
.shopTable .icon-off,
.shopTable .icon-marketing { display:inline-block;*display:inline;*zoom:1;width:30px; height:30px;}
.shopTable .icon-on {background:url(../Image/icon1.png) no-repeat 0 -600px;}
.shopTable .icon-off {background:url(../Image/icon1.png) no-repeat 0 -650px;}
.shopTable .icon-marketing {background:url(../Image/icon1.png) no-repeat -56px -650px;}

/*申请水牌*/
.card_select{ margin-left:15px;}
.card_select div{ display:inline-block; margin:0px 12px 0px 0; border:1px #FFF solid; text-align:center}
.card_select div a{ text-decoration:none}
.card_select div p{ width:145px; height:120px; position:relative; display:block; border:1px #FFF solid}
.card_select div p i{  position: absolute;  width: 10px;  height: 10px;  font-size: 0;  line-height: 0;  right: 0px;  bottom: 0px;  background: url(../Image/eTicket/corner-right.png) no-repeat right bottom;  z-index: 99;  display: none;}
.card_select div span{ font-size:14px; color:#666; line-height:40px;}
.card_select div span strong{ font-size:14px; color:#ed3f41; font-weight:normal; line-height:40px; padding-left:10px;}
.card_select div:hover p{ border:1px #ff8a00 solid}
.card_select div.current p{ border:1px #ff8a00 solid; background:url(../Image/eTicket/corner-right.png) right bottom no-repeat;}
.card_select div.current p i{ display:block}


/*确认收货*/
.info{ font-size:14px; color:#666; padding:15px 17px 30px;}
.info ul{}
.info ul:after{ clear:both; display:block; content:""; height:0;}
.info ul li{ width:50%; box-sizing:border-box; display:inline-block; float:left; line-height:24px;}
.info ul li strong{ font-weight:normal;}

/*checkbox*/
/*.frm_radio, .frm_checkbox {  position: absolute;  left: -999em;}
.frm_radio_label, .frm_checkbox_label {  display: inline-block;  text-align: left;  cursor: pointer;  margin-right: 1em; font-size:14px; color:#666}
.icon_radio, .icon_checkbox {  margin-right: 3px;  margin-top: -2px;}
.icon_checkbox{background:url(../Image/weixin2/page_login_z20f7ac.png) 0 -55px no-repeat;width:16px;height:18px;vertical-align:middle;display: inline-block;}
.selected .icon_checkbox {  background: url(../Image/weixin2/page_login_z20f7ac.png) 0-81px no-repeat;}*/
.frm_radio_label, .frm_checkbox_label{ margin-right:0}
/*激活旺拍拍*/
.shoplist{ text-align:left; padding-top:0px; height:76px; /*overflow:hidden;*/ font-size:0; line-height:0;}
.shoplist li{ display:inline-block; padding:4px 10px; width:170px; border:1px #efefef solid; margin-right:15px; margin-bottom:10px; border-radius:2px; font-size: 14px; line-height:18px; text-align:left;/* position:relative; */float:left}
.shoplist li.selected{ border:1px #ed3f41 solid; background:url(../Image/eTicket/corner-right.png) right bottom no-repeat;}
.shoplist li:hover{ border:1px #ed3f41 solid; cursor:pointer}

.shoplist li.hover {border: 1px #ff8a00 solid; background: url(../Image/eTicket/corner-right_close.png) right bottom no-repeat;}
.newRadio-default .shoplist{ text-align:center;}

.tip{ display:none; background-color:#fff; position: absolute; z-index:9999; margin-left:-10px; margin-top:15px; box-shadow: 1px 1px 1px 0px #ccc; border: 1px #ccc solid; padding:10px;}
.tip::before{position: absolute;left: 10%;margin-left: 15px;top: -10px;width: 18px;height: 10px;background:url(../Image/icon-shop2.png) no-repeat -60px 0;content: "";}
.sweet_tips2{ clear:both; border:0; margin:0; padding:4px 0 0; background-color:transparent; color:#F00; font-size:12px; line-height:18px;}

/*订单支付*/
.blue{  width: 100%;  border-collapse: collapse;  font: normal 14px/2em "microsoft yahei";  border: 1px solid #cae3f4;}
.blue tr{ border-bottom: 1px solid #cae3f4;}
.blue th{height: 38px;  text-align: center;  background-color: #f5fbff; color: #666; border-bottom:0;  font-size: 14px; line-height: 38px;}
.blue td{padding:15px;  border-collapse: collapse;  vertical-align: middle;  text-align: center;  height: 45px;  border: solid 0px #e1e1e1;}
.blue th.toPay{ text-align: right; padding-right:15px;}
.blue td.toPay{ text-align: right}
.hdDetail{ text-align:center;}
.hdDetail.first{ display:inline-table; text-align:left; float:left}
.hdDetail.first .hdAdditional{ width:185px;}
.hdDetail:after{ clear:both; content:""; height:0; display:block}
.hdImage{ float:left; width:75px; height:62px; overflow:hidden; display:inline-block;}
.hdImage img{ width:75px;}
.hdName{ float:left; padding:10px; width:200px; font-size:14px;}
.hdName span{ display:block; text-align:left; line-height:24px}
.hdAdditional{ float:left;  padding:10px; width:100%;}
.hdAdditional.now100{ float:left;  padding:10px; width: auto; color:#999999;}
.hdAdditional span{ display:block; text-align:center; line-height:24px;}
.hdAdditional span a{  padding:10px;/* width:180px;*/ color:#999999;}
.hdAdditional span a:hover{ color:#ed3f41;}
.moneyArea{ padding: 10px 15px 15px 0;}
.money{ display:block; text-align:right; line-height:24px; font-size:14px;}
.money span{}
.money span.agreement{ float:right}
.money span.payAcount{ width:145px; margin-left:6px; display:inline-block;color: #ed3f41;  font-size: 24px;  font-weight: 400;}
.money.normal span.payAcount{ line-height:24px; font-size:14px;}
.money.hight{ line-height: 34px;}
.money.hight span.payAcount{ line-height:34px; font-size:24px;}
.money.leave{ padding-bottom:15px;}
.money.leave span.payAcount{ line-height:24px; font-size:14px; color:#666666}

.moneyless{ font-size:14px; color:#ed3f41; display:block; float:right}

.moneyPay{ display:block; text-align:right; padding-right:15px;}
.btn_blue{ background:#ed3f41; border:1px #ed3f41 solid; margin-top:0; margin-bottom:0; margin-right:0; width:130px; padding:0}
.btn_blue:hover{ background:#ff6d6f; border:1px #ff6d6f solid;}
.btn_blue:active{ background:#c82324; border:1px #c82324 solid;}
.moneyPay span a.modify{ font-size:14px; padding-right:15px; line-height:28px;}
/*checkbox*/
/*.frm_radio, .frm_checkbox {  position: absolute;  left: -999em;}
.frm_radio_label, .frm_checkbox_label {  display: inline-block;  text-align: left;  cursor: pointer;  margin-right: 0px; font-size:14px; line-height:24px; padding-top:5px; color:#999}
.icon_radio, .icon_checkbox {  margin-right: 5px;  margin-top: 2px;}
.icon_checkbox{background:url(../Image/weixin2/page_login_z20f7ac.png) 0 -55px no-repeat;width:16px;height:18px;vertical-align:middle;display: inline-block;}
.selected .icon_checkbox {  background: url(../Image/weixin2/page_login_z20f7ac.png) 0-81px no-repeat;}*/

/*订购数量增减*/
.Spinner{overflow:hidden; margin:0 auto; text-align:center; display:inline-block}
.Spinner .Amount{width:50px;height:24px;padding:0px 10px;line-height:22px;border-width:1px 0;border-style:solid;border-color:#dcdcdc;float:left;text-align:center;color:#565656;outline:0; box-sizing:content-box;}
.Spinner a{display:inline-block;width:24px;height:24px;border:1px solid #dcdcdc;float:left;cursor:pointer;outline:0; margin:0}
.Spinner a:hover{ background-color:#f2f2f2;}
table.W-table td a{ margin:0;}

table.W-table td em.je{ color:#ed3f41}
.Spinner a i{font-style:normal;background:url(../Label/Image/gift/BuynBtn.png) no-repeat;display:block;width:9px;height:9px;margin:8px;text-indent:999999%;overflow:hidden;}
.Spinner .Decrease i{background-position:-9px -9px;}
.Spinner .Increase i{background-position:-9px -0px;}
.Spinner .DisDe i{background-position:-0px -9px;}
.Spinner .DisIn i{background-position:-0px -0px;}

.PayStatus{ font-size:14px;}
.PayStatus dt{ font-size:16px; text-align:center}
.PayStatus a{ margin-top:0; margin-bottom:0; padding:0 10px; margin-top:15px; margin-bottom:30px; height:32px; line-height:30px;}
.PayStatus dd{ display:block; float:left;}
.PayStatus dd a.btn{border:1px #d1d1d1 solid;  color: #666766;  background-image: -moz-linear-gradient(top,#fff 0,#f3f3f3 100%);  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f3f3f3));  background-image: -webkit-linear-gradient(top,#fff 0,#f3f3f3 100%);  background-image: -o-linear-gradient(top,#fff 0,#f3f3f3 100%);  background-image: linear-gradient(to bottom,#fff 0,#f3f3f3 100%); display: inline-block;  overflow: visible;height:30px; line-height:30px;  vertical-align: middle;  text-align: center;  text-decoration: none;  border-radius: 3px; font-size: 14px; cursor: pointer;  margin-right: 15px; -webkit-transition:none;-webkit-transform:none; vertical-align:top}
.PayStatus a em.ok{ color:#00c950; background:none; padding-left:10px;}
.PayStatus a em.fail{ color:#ed3f41; background:none; padding-left:10px;}


/*弹框样式*/
#content{ display:table; height:100%; width:100%; box-sizing:border-box}
.newRule{ padding:0px; width:100%; height:100%;  vertical-align:middle; box-sizing:border-box}
.tips{ font-size:16px; text-align:center; width:80%; margin:0 auto}




