@charset "utf-8";
/* CSS 抽奖 */
.newsadd-title { line-height:30px;font:bold 16px/2em "microsoft yahei","黑体"; color:#714646; text-indent:0px; border-bottom: dashed 1px #714646; padding-top:20px;}
.judgeDiv { padding-top:0px; padding-bottom:3px;}
.judgeCon-time {border: solid 1px #d3d3d3; padding:10px 10px 0 10px;}
.global-input2.Gform {}
.global-input2.w7 { width:64%;}
.global-input2.Gform .global-input2-input{ width:510px;}
.global-input6.Gform {}
.global-input6.Gform .global-input6-input { width:300px;}
.global-input6 .global-input6-input { width:510px;}
.global-input6 .global-input6-input label { line-height:30px;}
.global-input2.Gform .global-input2-input .tips { display:inline-block;*display:inline;*zoom:1;color:#bbb;font-size:12px; margin-left:20px;}
.global-input2.Gform .GprizeTips { display:inline-block;*display:inline;*zoom:1;color:#bbb;font-size:12px; margin-left:20px;}
.global-input2.Gform .GprizeTips p { line-height:29px; display:block; float:none;}
.Gprize { width:500px; height:auto; overflow:hidden;display:inline-block;*display:inline;*zoom:1;}
.Gprize .AddGprize {border: dashed 2px #7d7d7d;width:99%;height:26px;border: dashed 2px #b8b8b8;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;-o-border-radius: 2px; cursor:pointer; position:relative;}
.Gprize .AddGprize:hover { border: dashed 2px #666;}
.Gprize .AddGprize i { position: absolute;top: 50%;margin-top: -6px;left: 50%;margin-left: -6px;width: 11px;height: 11px;background: url(../Image/icon-msg.png) no-repeat -409px -98px;display: block;opacity: 0.3;
filter: alpha(opacity=30);}
.Gprize .AddGprize:hover i { display:none;}
.Gprize .AddGprize span { position: absolute;top: 50%;margin-top: -13px;left: 50%;margin-left: -100px; width:200px; height:26px; line-height:26px; text-align:center; display:none; font-size:14px;}
.Gprize .AddGprize:hover span { display:block; color:#666;}
.Gprize .BeginGprize { width:110px; height:26px; padding:3px; border:solid 1px #9ea9b0;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px; border-radius:3px; margin-bottom:10px;}
.Gprize .BeginGprize input[type=text] { width:80px; height:26px; border:none; font-size:14px; color:#666;}
.Gprize .BeginGprize i { float:right; width:22px; height:22px; margin:2px;}
.Gprize .EditGprize { width:99%;height:auto;border:solid 1px #9ea9b0;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px; border-radius:5px; position:relative; margin-bottom:20px; margin-top:10px;}
.Gprize .EditGprize .EditGprize-head { position:relative; height:32px; border-bottom:solid 1px #d3d9dc; background:#f4f4f4;}
.Gprize .EditGprize .EditGprize-head i { width:22px; height:22px; margin:5px;}
.Gprize .EditGprize .GprizeName { margin-left:10px; line-height:32px; color:#333; font-weight:bold;}
.Gprize .EditGprize .GprizeName i a { width:100%; height:100%; margin-left:0;}
.Gprize .EditGprize .GprizeName .GprizeName-tip { color:#f07162; font-size:12px; font-weight:normal; margin-left:-9px;}
.Gprize .EditGprize .GprizeName-edit input[type=text] { margin-left:10px; width:130px; line-height:22px; font-size:14px; background:#fff; border:solid 1px #9ea9b0; padding-left:2px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px; border-radius:3px;}
.Gprize .EditGprize .GprizeName-edit.dn { display:none;}
.Gprize .EditGprize .GprizeName-edit a { width:100%; height:100%; margin-left:0;}
.Gprize .EditGprize .EditGprize-member { position:relative; height:auto; overflow:hidden; padding:2px 10px 2px 10px; border-bottom:solid 1px #9ea9b0; background:#f4f4f4; height:auto; overflow:hidden;}
.Gprize .EditGprize .EditGprize-member .EditGprize-member-title { float:left; width:60px; text-align:left; line-height:23px; font-size:12px;white-space: nowrap;text-overflow: ellipsis; overflow: visible;}
.Gprize .EditGprize .EditGprize-member .EditGprize-member-div { margin-left:70px;}
.Gprize .EditGprize .EditGprize-member .EditGprize-member-div label { line-height:22px; vertical-align:middle; float:left; font-size:12px;}
.Gprize .EditGprize .EditGprize-member .EditGprize-member-div input{ margin-left:5px; vertical-align:middle;}
.Gprize .EditGprize .EditGprize-member .EditGprize-member-div span{ margin-left:2px; vertical-align:middle;}
.Gprize .EditGprize .EditGprize-add { padding:10px 10px;}
.Gprize .EditGprize .EditGprize-add span { line-height:35px; margin-right:2px;}
.Gprize .EditGprize .EditGprize-add input[type=text] { width:210px; height:22px; padding:2px; margin:0 5px; border:solid 1px #9ea9b0;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px; border-radius:3px;}
.Gprize .EditGprize .EditGprize-add input[type=text].erro {border:solid 1px #ed1c24;}
.Gprize .EditGprize .EditGprize-add .EditGprize-add-prize {width:210px; height:22px; padding:2px; margin:0 5px; border:solid 1px #9ea9b0;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px; border-radius:3px;}
.Gprize .EditGprize .EditGprize-add .EditGprize-add-prize.erro {border:solid 1px #ed1c24;}
.Gprize .EditGprize .EditGprize-add .btn-EditGprizeAdd,.Gprize .EditGprize .EditGprize-add .btn-EditGprizeAdd-editok { display:block; line-height:30px; background:#b9c5cc;border:solid 1px #9ea9b0;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px; border-radius:3px; color:#fff; font-size:14px; text-align:center;}
.Gprize .EditGprize .EditGprize-add .btn-EditGprizeAdd:hover,.Gprize .EditGprize .EditGprize-add .btn-EditGprizeAdd-editok:hover { background:#9cacb5; border:solid 1px #6b7f8b;}
.Gprize .EditGprize .EditGprize-con { height:auto; overflow:hidden;}
.EditGprize-conItem { padding:8px 10px;border-top:solid 1px #9ea9b0;}
.EditGprize-conItem.th { background:#f7f7f7;}
.EditGprize-conItemList.erro div { color:#ccc;}
.Gprize .EditGprize .EditGprize-con div {white-space: nowrap;text-overflow: ellipsis; overflow: hidden; line-height:22px;}
.Gprize .EditGprize .EditGprize-con-name { float:left; width:105px;}
.Gprize .EditGprize .EditGprize-con-day { float:left; width:87px; text-align:center;}
.Gprize .EditGprize .EditGprize-con-all { float:left; width:109px; text-align:center;}
.Gprize .EditGprize .EditGprize-con-edit { float:left; width:65px; text-align:center;}
.Gprize .EditGprize .EditGprize-con-edit i { float:right;  width:21px; height:22px;}
.icon-prizeEdit { background:url(../Image/icon-prize.png) no-repeat 0 0;}

.Gprize .EditGprize .EditGprize-con-rollback { float:left; width:42px; text-align:center;}
.Gprize .EditGprize .EditGprize-con-rollback i { float:left;  width:21px; height:22px;}
.icon-prizeRollback { background:url(../Image/icon-prize.png) no-repeat 0 0;}
/*.icon-prizeAdd { background:url(../Image/icon-prize.png) no-repeat -30px 0;}*/
.icon-prizeOk { background:url(../Image/icon-prize.png) no-repeat -60px 0;}
.icon-prizeDel { background:url(../Image/icon-prize.png) no-repeat -85px 0;}
.icon-prizeMember { background:url(../Image/icon-prize.png) no-repeat -162px -1px;}
.icon-prizeEdit2 { background:url(../Image/icon-prize.png) no-repeat -120px 0;}
.icon-prizeDel2 { background:url(../Image/icon-prize.png) no-repeat -141px 0;}
.icon-prizeRollback { background:url(../Image/icon-prize.png) no-repeat 0 -90px;}
.icon-prizeRollback:hover { background:url(../Image/icon-prize.png) no-repeat -20px -90px;}
.icon-prizeEdit:hover { background:url(../Image/icon-prize.png) no-repeat 0 -30px;}
/*.icon-prizeAdd:hover { background:url(../Image/icon-prize.png) no-repeat -30px -30px;}*/
.icon-prizeOk:hover { background:url(../Image/icon-prize.png) no-repeat -60px -30px;}
.icon-prizeDel:hover { background:url(../Image/icon-prize.png) no-repeat -85px -30px;}
.icon-prizeMember:hover { background:url(../Image/icon-prize.png) no-repeat -162px -31px;}
.icon-prizeEdit2:hover { background:url(../Image/icon-prize.png) no-repeat -120px -30px;}
.icon-prizeDel2:hover { background:url(../Image/icon-prize.png) no-repeat -141px -30px;}
.icon-prizeAdd.erro { background:url(../Image/icon-prize.png) no-repeat -30px -60px;}
.icon-prizeOk.erro { background:url(../Image/icon-prize.png) no-repeat -60px -60px;}

.EditGprize-conItemList.erro .icon-prizeEdit2 { background:url(../Image/icon-prize.png) no-repeat -120px -60px;}
.EditGprize-conItemList.erro .icon-prizeDel2 { background:url(../Image/icon-prize.png) no-repeat -141px -60px;}

.prizeIntroduce { margin-left:750px; padding:50px 20px 20px 20px; margin-top:40px; border:solid 1px #e7e7e7; position:relative; height:auto; overflow:hidden;}
.prizeIntroduce .prizeIntroduceList { padding-bottom:20px; line-height:25px;}
.prizeIntroduce h4 { font-size:14px; font-weight:bold;}
.prizeIntroduce p { font-size:14px;}
.prizeIntroduce p.t2 { padding-left:2em; font-size:12px;}
/*抽奖结束*/

.prizeIntroduceNav { position:absolute; top:0; left:0; width:100%; height:40px; line-height:40px;}
.prizeIntroduceNav li { float:left; width:20%; text-align:center; background:#f4f4f4; cursor:pointer;}
.prizeIntroduceNav li.hover { background:#fff;}

.prizePreviewCon {width: 300px;float: right;height: 631px;background: url(../Image/iphone_bg.png) no-repeat 0 0;}
.Preview-lottery { vertical-align:middle;}
#iphonePreview {width: 250px;height: 433px;overflow: hidden;margin: 106px 0 0 26px;float: left;}