/*==样式补丁==*/
.no205{ background-position:-60px -222px;}
.main-name{  padding-bottom:5px;}
/*在线开通头部菜单*/
.line-open { height:65px; overflow: visible; margin:0px 0 20px;border-bottom: solid 1px #e4e4e4;}
.line-open ul li { width:175px; margin-right:8px; height:63px; float:left; line-height:63px; position:relative;border:1px #fff solid; background:#f8f8f8; font-size:18px; font-weight:bold; color:#666;}
.line-open ul li a { color:#333; display:block; text-align:center; font-size:16px;text-decoration: none;}
.line-open ul li.hover {border:1px solid #e4e4e4;background: #fff;}
.line-open ul li img{position: absolute;top:-1px;left:-1px;z-index: 1;}
.line-open ul li.hover i{position: absolute;top:-1px;left:0px;z-index: 2;width: 175px;height: 4px; display:block;background: #ed3f41;}
.line-open ul li.hover b{position: absolute;bottom:-2px;left:0px;z-index: 2;width: 175px;height: 2px; display:block;background: #fff;}

.shop-Menu {}
.shop-Menu>li { height:auto; overflow:hidden;}
.shop-Menu>li a { color:#333; font-size:14px; line-height:38px; display:block; text-indent:20px; vertical-align:middle;}
.shop-Menu>li.hover a { background:#fff5f5; color:#f15755;}
.shop-Menu>li .icon-masternav { display:none; vertical-align:middle; margin-left:10px; width:5px; height:9px; background:url(../Image/icon-shop2.png) no-repeat -40px 0;}
.shop-Menu>li.hover .icon-masternav {  display:inline-block; *display:inline; *zoom:1;}
/*套餐提示*/
.top_tips{padding-bottom: 15px;}
.top_tips p{ color:#666666; font-size:16px;line-height: 24px;}
.top_tips p strong{ color:#ed3f41; font-weight:normal}
/*权益清单相关样式*/
.quanyi-list dl,.quanyi-list ul{ float: left; text-align: center;}
.quanyi-list .title dl{float: left;text-align: center;background: #f8f8f8;font-size: 16px;font-weight: bold;color: #333;}
.quanyi-list .title dl dt{border: 1px solid #e1e1e1;border-right: none;  height: 48px;line-height: 48px;}
.quanyi-list .title dl.last dt{border-right: 1px solid #e1e1e1;}
.quanyi-list ul li{border: 1px solid #e1e1e1;border-right:none;border-top:none;height: 48px;line-height: 48px;}
.quanyi-list ul li span{display: inline-block;text-align: left}
.quanyi-list ul.last li{border-right: 1px solid #e1e1e1;}

.quanyi-list.four ul{width:25%;}
.quanyi-list.five ul{width:20%;}
.quanyi-list.two ul{width:50%;}
.quanyi-list.four .title dl{width: 25%;}
.quanyi-list.five .title dl{width: 20%;float: left;}
.quanyi-list.four .title.two dl{width: 50%;}

.line-top{width: 1100px;height: 120px;overflow: hidden;margin-bottom: 30px;background: url(../Image/buy-bg.jpg) no-repeat; }
.line-top dl{width: 700px;float: left;padding-left: 60px;color: #bf793d;}
.line-top dl dt{font-size: 28px;padding-top: 25px;}
.line-top dl dd{font-size: 16px;padding-top: 20px;}
.line-top dl dd i{font-style: normal;border:solid 1px #bf793d;padding: 2px 10px;}
.line-top dl dd span{padding-right: 30px;display: inline-block;padding-bottom: 5px;}
.line-top dl dd span img{vertical-align: middle;padding-right: 5px;}
.line-top.bg-nor dl{padding-top: 10px;}
.line-top.bg-sal dl{padding-top: 10px;}
.line-top.bg-o2o{}
.line-top.bg-dev dl{padding-top: 30px;}
.line-top.bg-dev dl dt i{border:solid 1px #bf793d;padding:0 10px;font-size: 24px;font-style:normal;}
.line-top .btn_inner{width:auto;height: 40px;line-height: 38px;font-size: 18px;font-weight: bold;padding: 0 40px;margin-top: 40px;float: right;margin-right: 100px;}
.bottom_btn{ padding:50px 0; text-align:center; font-size:14px; color:#999999}

.new_icon{ position:absolute; width:25px; height:25px; top:1px; right:1px; color:#FFF; line-height:13px; text-align:right; font-size:12px; font-style:normal}
#triangle-topright {position:absolute;right:0;top:0;width: 0; height: 0; border-top: 28px solid #ed3f41;border-left: 28px solid transparent; } 

/*高级定制*/
.dz_banner{ background:url(../Image/banner-dz.png) no-repeat; display: block; height:116px;}
.normal-icon{display:block;width:60px;height:60px;border-width:2px;border-style:solid;margin:0 auto;border-radius:5px;background-image:url(../Image/icon-index-index.png);background-repeat:no-repeat;}
.list-yw .normal-icon{border-color:#f78c68;background-color:#fff4f0;}
.list-yw .normal-icon:hover{background-color:#ffddd1;}
.list-qd .normal-icon{border-color:#4ac2a4;background-color:#e3f8f3;}
.list-qd .normal-icon:hover{background-color:#aeeadb;}
.list-gl .normal-icon{border-color:#4ea2d1;background-color:#e1f4ff;}
.list-gl .normal-icon:hover{background-color:#bce6fd;}
.list-gj .normal-icon{border-color:#a883b9;background-color:#f4eaf9;}
.list-gj .normal-icon:hover{background-color:#ebcdf8;}
.normal-icon1{background-position:0 -64px;}
.normal-icon2{background-position:-64px -64px;}
.normal-icon3{background-position:-128px -64px;}
.normal-icon4{background-position:-192px -64px;}
.normal-icon5{background-position:-256px -64px;}
.normal-icon6{background-position:0 -128px;}
.normal-icon7{background-position:-64px -128px;}
.normal-icon8{background-position:-128px -128px;}
.normal-icon9{background-position:-192px -128px;}
.normal-icon10{background-position:0 -192px;}
.normal-icon11{background-position:-64px -192px;}
.normal-icon12{background-position:-128px -192px;}
.normal-icon13{background-position:-192px -192px;}
.normal-icon14{background-position:0 -256px;}
.normal-icon15{background-position:-64px -256px;}
.normal-icon16{background-position:-128px -256px;}
.normal-icon17{background-position:-192px -256px;}
.normal-icon18{background-position:-256px -256px;}
.normal-icon19{background-position:-320px -64px;}
.normal-icon20{background-position:-384px -64px;}
.normal-icon22{background-position:-512px -64px;}
.normal-icon23{background-position:-255px -192px;}
.normal-icon202{background-position:-591px -64px;}
.normal-icon203{background-position:-651px -64px;}
.normal-icon204{background-position:-710px -64px;}
.dz_content{ padding:30px 0; vertical-align:top;}
.dz_content:after{ clear:both; height:0; display:block; content:""}
.dz_content dl{ width:360px; box-sizing:border-box; display:block; text-align:center; float:left}
.dz_content dl dt{float: left;width: 62px;margin-right: 10px;}
.dz_content dl dd h3{ color:#666; font-size:16px;text-align: left;font-weight: bold;line-height: 26px;}
.dz_content dl dd p{ font-size:12px; color:#666666; text-align:left; padding:0 40px;}


/*合同*/
.bgededed{ background:#ededed;}
.agreement_content{ background:url(../Image/agreement_bg.png) no-repeat; padding:90px 90px 55px 80px; margin:0 auto; width:840px; box-sizing:border-box}
.agreement_content h1{ font-size:20px; line-height:2em; text-align:center; color:#232323; font-weight:600;}
.agreement_content p{ font-size:14px; color:#232323; line-height:24px; padding:10px 0}

/*checkbox*/
.frm_radio, .frm_checkbox {  position: absolute;  left: -999em;}
.frm_radio_label, .frm_checkbox_label {  display: inline-block;  text-align: left;  cursor: pointer;  margin-right: 1em; font-size:14px; color:#666}
.icon_radio, .icon_checkbox {  margin-right: 3px;  margin-top: -2px;}
.icon_checkbox{background:url(../Image/weixin2/page_login_z20f7ac.png) 0 -55px no-repeat;width:16px;height:18px;vertical-align:middle;display: inline-block;}
.selected .icon_checkbox {  background: url(../Image/weixin2/page_login_z20f7ac.png) 0-81px no-repeat;}

.w_pop{ font-family:"Microsoft Yahei"; width:740px; }
.body_area{padding:15px 0px; }
.body_area p{ text-align:left;font-size: 16px;color: #333;line-height: 30px;width: 500px;padding-left: 200px;}
.body_area>h6{ text-align:left;font-size: 16px;color: #333;line-height: 30px;width: 500px;padding-left: 235px;margin-top: 5px;}
.body_area p strong{ color:#ed3f41; font-size:18px; font-weight:normal;}
.body_area>h6 strong{ color:#ed3f41; font-size:18px; font-weight:normal;}
.body_area>h5{font-size: 14px;color: #999;width: 500px;padding-left: 235px;}
.body_area>h5 span{color: #ed3f41;}
.fixbot { position:fixed; bottom:0; left:0; z-index:3; padding:13px 0; width:100%; height:28px; background:url(../Image/useropr-bg.png) repeat; text-align:center; color:#fff; line-height:28px; font-size:14px;}
.fixbot a{margin: 0;}
.fixbot a.btn-all-del{margin-left: 15px;}
.loginFix { position:fixed; bottom:0; left:0; z-index:3; padding:13px 0; width:100%; height:40px; background:url(../Image/useropr-bg.png) repeat; text-align:center; color:#fff; line-height:28px; font-size:14px;}
.loginFix .btn_inner{width:auto;height: 40px;line-height: 38px;font-size: 18px;font-weight: bold;padding: 0 40px;margin-left: 20px;}
.tab-foot{height: 24px;line-height: 24px;color:#999;font-size: 14px;padding: 10px 0 10px 20px; background:#f8f8f8;}
.tab-foot dl dt{float:left;}
.tab-foot dl dd{float: right; line-height:24px;}
.tab-foot dl dd span{color: #ed3f41; text-align: right;font-size: 24px; line-height:24px; display: inline-block;padding-right: 20px;}
.body_area .W-table{border-color: #c9e3f4;}
.body_area .W-table th{background: #f6fbff;}
.body_area .W-table th,.body_area .W-table td{border-color: #c9e3f4;}
.body_area .W-table th, .body_area .W-table .td-pay{ padding-right:20px;}
.body_area .W-table th span{margin-right: 0px; display: inline-block;float: right;}
.body_area .W-table td span{margin-right: 0px;display: inline-block;float: right;}

/*新增多米收单*/
.B-table th,.B-table td{border:solid 1px #e1e1e1;}
.B-table.duomi th span { font-weight:normal;font-size: 14px;}
.B-table.duomi td span.del { text-decoration:line-through;}
.B-table.duomi th{font-size: 16px;}
.B-table.duomi th .div1 { position:absolute; left:-202px; bottom:1px; width:0;height:0;border-width:0 201px 77px; border-style:solid; border-color:transparent transparent #e1e1e1;}
.B-table.duomi th .div2 { position:absolute; left:-201px; bottom:0; width:0;height:0;border-width:0 201px 77px; border-style:solid; border-color:transparent transparent #f7f7f7;}
.B-table.duomi th .traln{ position: relative; width: 200px; height: 78px;overflow: hidden;}
.B-table.duomi th span.span1 { position:absolute; top:10px; left:50%; margin-left:20px;font-weight:bold;font-size: 16px;}
.B-table.duomi th span.span2 { position:absolute; bottom:10px; right:50%; margin-right:20px;font-weight:bold;font-size: 16px;}



