@charset "utf-8";
/* CSS Document */
.bgf9f9f9{ background-color:#f9f9f9}
.content{ color:#666666}
/*选项卡*/
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

.tabs {margin: 0 auto;  background:#FFF;  display:block;  padding:0 325px;}
.tabs:after{ clear:both; height:0; display:block; content:""}
.tabs a {  display: block;  float: left;  width: 145px;  color: #666666;  text-align: center;  background: #fff;  line-height: 63px;  font-size: 20px;  height:63px;  text-decoration: none;}
.tabs a.active {  color: #7abe3d;  background: #f6f6f6;  border-top:2px #7abe3d solid;  font-size:20px;}

.tabs a.tb2 {  display: block;  float: left;  width: 145px;  color: #666666;  text-align: center;  background: #fff;  line-height: 63px;  font-size: 20px;
  height:63px;  text-decoration: none;}
.tabs a.tb2.active {  color: #96bfdf;  background: #f6f6f6;  border-top:2px #96bfdf solid;  font-size:20px;}

.tabs a.tb3 {  display: block;  float: left;  width: 145px;  color: #666666;  text-align: center;  background: #fff;  line-height: 63px;  font-size: 20px;
  height:63px;  text-decoration: none;}
.tabs a.tb3.active {  color: #ffc600;  background: #f6f6f6;  border-top:2px #ffc600 solid;  font-size:20px;}
.swiper-container {  background: #f6f6f6;  height: 620px;  border-radius: 0 0 5px 5px;  width: 100%;  border-top: 0;}
.swiper-slide {  height: 620px;  width: 100%;  background: none;  color: #fff;}
.content-slide {  padding: 40px 110px;  position:relative}

/*企业号banner*/
.qyh_banner{ background:url(../Image/qyh/qyh_banner_bg.png) no-repeat; width:1100px; height:471px; display:block; padding:120px 0; margin:0 auto; box-sizing:border-box;}
.qyh_banner h1{ font-size:26px; font-weight:bold; color:#FFF; background:url(../Image/qyh/element1.png) center center no-repeat; width:100%; height:47px; display:block; text-indent:-9999em; -webkit-animation-name: bounceInLeft;	animation-name: bounceInLeft;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;animation-delay: 0s;-webkit-animation-delay: 0s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}

.qyh_banner p.quote{ font-size:14px; line-height:18px; color:#fff; width:100%; height:40px; background:url(../Image/qyh/element2.png) center no-repeat; margin:20px auto; display:block;-webkit-animation-name: fadeIn;	animation-name: fadeIn;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;animation-delay: 1s;-webkit-animation-delay: 1s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}

.qyh_banner p.descripts{ font-size:18px; color:#fff; line-height:30px; margin:0 auto; text-align:center; -webkit-animation-name: fadeIn;	animation-name: fadeIn;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;animation-delay: 2s;-webkit-animation-delay: 2s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}
.qyh_banner p.descripts span.d1{ background:url(../Image/qyh/element3.png) no-repeat; width:134px; height:33px; display:inline-block}
.qyh_banner p.descripts span.d2{ background:url(../Image/qyh/element4.png) no-repeat; width:134px; height:33px; display:inline-block}
.qyh_banner p.descripts span.d3{ background:url(../Image/qyh/element5.png) no-repeat; width:150px; height:33px; display:inline-block}
.qyh_banner p.descripts strong{ color:#f4b326; font-weight:bold; font-size:24px; text-align:left}
.qyh_banner p.descripts em{ font-size:20px; font-weight:bold}
.qyh_banner a.btn_green{ color:#fff; font-size:16px; background:#78ace0; line-height:50px; width:280px; display:block; text-align:center; text-decoration:none; margin:25px auto; border-radius:2px; -webkit-animation-name: fadeIn;	animation-name: fadeIn;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;animation-delay: 3s;-webkit-animation-delay: 3s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}
.qyh_banner a.btn_green:hover{background:#f4b326;}

.content .level1{ margin:0 auto; padding:40px 0}
.content .level1 h3{ font-size:24px; text-align:center; height:43px; margin-bottom:30px; color:#397fae; font-weight:bold; background: url(../Image/qyh/case_txt.png) no-repeat;}

.content .level1 h4{ font-size:24px; text-align:center; height:43px; margin-bottom:30px; color:#397fae; font-weight:bold; background:none;}
.level1 .highpoint{ margin:0 auto; background:#d8e4f0; padding:27px 70px; display:block; position:relative}
.level1 .highpoint:before {top: 0%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(255, 255, 255, 0);border-top-color: #fff;border-width: 16px;margin-left: -16px;}

.level1 .highpoint dl{ width:24%; box-sizing:border-box; background:url(../Image/qyh/case_highpoint.png) no-repeat; overflow:hidden; display:inline-block; padding-left:60px;}
.level1 .highpoint dl dt{ font-size:24px; color:#3d79b6; line-height:38px;}
.level1 .highpoint dl dd{ font-size:12px; color:#3d79b6; line-height:16px; box-sizing:border-box}
.level1 .highpoint dl.hp1{ background-position:0 0px; width:241px;}
.level1 .highpoint dl.hp2{ background-position:-241px 0px; padding-left:79px; width:283px;}
.level1 .highpoint dl.hp3{ background-position:-525px 0px; padding-left:70px; width:249px;}
.level1 .highpoint dl.hp4{ background-position:-787px 0px; padding-left:67px; width:166px; 
}

.content .level1 .list{ margin:0 auto; width:100%; display:block; text-align:center}
.content .level1 .list:after{ clear:both; content:""; height:0; display:block}
.content .level1 .list .list_l{ float:left; -webkit-animation-name: bounceInLeft;	animation-name: bounceInLeft;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;animation-delay: 2s;-webkit-animation-delay: 2s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}
.content .level1 .list dl{ margin:0; padding:0; list-style:none; width:320px;}
.content .level1 .list dl dt{ color:#81b4d7; font-size:26px; line-height:36px; text-align:left; margin:40px 0;}
.content .level1 .list dl dd{ font-size:16px; line-height:26px; color:#666666; font-weight:100; text-align:left}

/*选项卡*/
.tab_area{ margin-top:17px;}
.swiper-slide:after{ clear:both; height:0; display:block; content:""}
.content-slide_l{ float:left}
.content-slide_r{ clear:right; float:right; position:absolute; right:110px;}
.darkBlue_btn{ color:#FFF; background:#3d79b6; height:45px; line-height:45px; font-size:16px; position:absolute; top:280px; left:50px; text-align:center; width:180px; border-radius:2px; display:block;}

.swiper-slide-visible .content-slide_l{-webkit-animation-name: bounceInLeft;	animation-name: bounceInLeft;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;animation-delay: 0.5s;-webkit-animation-delay: 0.5s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}

.swiper-slide-visible .content-slide_r{-webkit-animation-name: bounceInRight;	animation-name: bounceInRight;animation-duration: 1.011s;-webkit-animation-duration: 1.011s;animation-delay: 1.5s;-webkit-animation-delay: 1.5s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}








.content .level1 .list .list_r{ clear:right; float:right;}

.content .level1 .case_box{ margin:0 auto; display:block; width:100%; box-sizing:50%;}
.content .level1 .case_box:after{ clear:both; display:block; content:""; height:0;}
.content .level1 .case_box dl{box-sizing: border-box; display:inline-block; float:left; padding-bottom:20px}
.content .level1 .case_box dl:nth-child(even){ clear:right; float:right}
.content .level1 .case_box dl dt{ font-size:16px; color:#666666; line-height:36px;}
.content .level1 .case_box dl dd{}

.outbox {position: relative; border: 0px solid #c2e1f5; padding-bottom:20px;}
.outbox:before {top: 0%;left: 64%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(246, 246, 246, 0);border-top-color: #f6f6f6;border-width: 16px;margin-left: -16px;}



.tip_bottom{ margin:0 auto; width:1100px; text-align:center; background:#3d79b6; padding:0 180px; box-sizing:border-box}
.tip_bottom p{ color:#397fae; font-size:14px; font-weight:bold; line-height:25px; padding:38px 0; float:left;}
.tip_bottom p a{ margin-right:30px; color:#90bfed}
.tip_bottom p a:last-child{ margin-right:0;}
.btn_blue{ background:#78ace0; border-radius:2px; padding:12px 0px; font-size:18px; color:#FFF; margin:30px 0; width:280px; display:inline-block}
.tel,.qq{ width:25px; height:25px; display:inline-block; background:url(../Image/qyh/qyh_contact.png) no-repeat; overflow:hidden; vertical-align:top; margin-right:5px;}
.tel{ background-position:0 0;}
.qq{ background-position:-274px 0;}

.sidebar_tools{}

div.jsitebar-orange{position:fixed;width:60px;height:60px;border:1px solid #ccc;background-color:#d9d9d9;text-align:center;vertical-align:middle;font:14px Microsoft YaHei;overflow:hidden;z-index:9999;border-radius:2px;color:#FFF; right:0;}
div.jsitebar-orange div{height:60px;width:60x;padding:10px 5px;box-sizing:border-box;background-repeat:no-repeat;background-position: center
}
div.jsitebar-orange .d2{background-color:#7abe3d;color:white;font-weight:bold;font-size:14px;}
div.jsitebar-orange:HOVER{border-color:#7abe3d;cursor:pointer;}

#dialogBg{width:100%;height:100%;background-color:#000000;opacity:.6;filter:alpha(opacity=60);position:fixed;top:0;left:0;z-index:9999;display:none;}
#dialog{width:600px;height:400px;margin:0 auto;display:none;background-color:#ffffff;position:fixed;top:40%;left:45%;margin:-120px 0 0 -150px;z-index:10000;border:1px solid #ccc; border-top:4px #3d79b6 solid;box-shadow:0px 0px 0px #ccc;-webkit-box-shadow:0px 0px 0px #ccc;}
#dialog2{width:600px;height:400px;margin:0 auto;display:none;background-color:#ffffff;position:fixed;top:40%;left:45%;margin:-120px 0 0 -150px;z-index:10000;border:1px solid #ccc; border-top:4px #3d79b6 solid;box-shadow:0px 0px 0px #ccc;-webkit-box-shadow:0px 0px 0px #ccc; padding-left: 15px;border: 1px solid #f2e6ce;background-color: #fffbf2;color: #f0ab68;font-size: 12px;padding: 10px 15px; margin-bottom: 20px;}

.dialogTop{width:90%;margin:0 auto;border-bottom:0px dotted #ccc;letter-spacing:1px;padding:10px 0;text-align:right;}
.dialogIco{width:50px;height:50px;position:absolute;top:-25px;left:50%;margin-left:-25px;}
.editInfos{padding:15px 0;}
.editInfos li{width:90%;margin:8px auto auto;text-align: center;}
.ipt{border:1px solid #ccc;padding:5px;border-radius:2px;-webkit-border-radius:2px;box-shadow:0 0 0px #ccc inset;-webkit-box-shadow:0 0 0px #ccc inset;margin-left:5px;}
.ipt:focus{outline:none;border-color:#66afe9;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);}
.submitBtn{width:90px;height:30px;line-height:30px;font-family:"微软雅黑","microsoft yahei";cursor:pointer;margin-top:10px;display:inline-block;border-radius:5px;-webkit-border-radius:5px;text-align:center;background-color:#428bca;color:#fff;box-shadow: 0 -3px 0 #2a6496 inset;-webkit-box-shadow: 0 -3px 0 #2a6496 inset;}
.claseDialogBtn{ color:#F90}
.pop{ padding-top:40px;}
.pop .colgroup{ display:block; padding:10px 0; width:100%; font-size:14px;}
.pop .colgroup:after{ clear:both; height:0; display:block; content:"";}
.pop .colgroup label{ width:120px; text-align:right; float:left}
.pop .colgroup input[type=text]{ float:left; width:380px;}
a.btn_all{cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none !important;
  color: #fff;
  width:120px;
  text-indent: 0;
  background: #ed1c24;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 28px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  border-radius:2px
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}
	
	80% {
		-webkit-transform: translateY(-10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes bounceInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateY(30px);
	}
	
	80% {
		-moz-transform: translateY(-10px);
	}
	
	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes bounceInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-o-transform: translateY(30px);
	}
	
	80% {
		-o-transform: translateY(-10px);
	}
	
	100% {
		-o-transform: translateY(0);
	}
}

@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateY(30px);
	}
	
	80% {
		transform: translateY(-10px);
	}
	
	100% {
		transform: translateY(0);
	}
}


@-webkit-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
	}
	
	80% {
		-webkit-transform: translateX(-10px);
	}
	
	100% {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateX(30px);
	}
	
	80% {
		-moz-transform: translateX(-10px);
	}
	
	100% {
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		-o-transform: translateX(30px);
	}
	
	80% {
		-o-transform: translateX(-10px);
	}
	
	100% {
		-o-transform: translateX(0);
	}
}

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateX(30px);
	}
	
	80% {
		transform: translateX(-10px);
	}
	
	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

@-moz-keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

@-o-keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

@keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

@-webkit-keyframes tada {
	0% {-webkit-transform: scale(1);}	
	10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
	100% {-webkit-transform: scale(1) rotate(0);}
}

@-moz-keyframes tada {
	0% {-moz-transform: scale(1);}	
	10%, 20% {-moz-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-moz-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-moz-transform: scale(1.1) rotate(-3deg);}
	100% {-moz-transform: scale(1) rotate(0);}
}

@-o-keyframes tada {
	0% {-o-transform: scale(1);}	
	10%, 20% {-o-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-o-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-o-transform: scale(1.1) rotate(-3deg);}
	100% {-o-transform: scale(1) rotate(0);}
}

@keyframes tada {
	0% {transform: scale(1);}	
	10%, 20% {transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
	100% {transform: scale(1) rotate(0);}
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

.tab_txt{ padding:50px 0;}
.tab_txt dt{ font-size:26px; color:#666666; line-height:100px;}
.tab_txt dt em.blue_em{ color:#96bfdf}
.tab_txt dt em.orange_em{ color:#feb827}
.tab_txt dd{ font-size:16px; color:#666666; line-height:28px;}
.tab_txt dd:before{ width:6px; height:6px; display:inline-block; background:#3d79b6; content:" "; line-height:22px; margin-right:16px; margin-bottom:2px; vertical-align:middle; border-radius:50%;}

.content-slide_r{ float:left; position:relative; left:65px;}

.darkBlue_btn{ color:#FFF; background:#3d79b6; height:45px; line-height:45px; font-size:16px; position:absolute; left:0; text-align:center; width:180px; border-radius:2px; display:block;}


.case_layer{ position:absolute; top:26px; right:26px; margin:26px; margin:0; padding:0; width:95%; height:620px; display:block;}
.see_case{ width:94px; height:28px; line-height:28px; display:block; text-align:center; font-size:14px; color:#FFF; border:1px #f6f6f6 solid; clear:right; float:right; text-decoration:none}
.see_case:hover{ text-decoration:none}
.green{ border:1px #7abe3d solid; color:#7abe3d}
.green:hover{background:#7abe3d; color:#FFF}

.blue{ border:1px #64a7d5 solid; color:#64a7d5}
.blue:hover{ background:#64a7d5; border:1px #64a7d5 solid; color:#FFF}
.orange{border:1px #ffc600 solid; color:#ffc600}
.orange:hover{background:#ffc600; border:1px #ffc600 solid; color:#FFF}

.see_case i{ width:9px; height:5px; display: inline-block; margin-left:6px; margin-bottom:2px;}
.green i{background:url(../Image/qyh/see_more_green_arr.png) no-repeat; overflow:hidden}
.green:hover i{background:url(../Image/qyh/see_more_green_arr.png) no-repeat; overflow:hidden; background-position:0 -6px}

.blue i{background:url(../Image/qyh/see_more_blue_arr.png) no-repeat; overflow:hidden}
.blue:hover i{background:url(../Image/qyh/see_more_blue_arr.png) no-repeat; overflow:hidden; background-position:0 -6px}

.orange i{ background:url(../Image/qyh/see_more_orange_arr.png) no-repeat; overflow:hidden}
.orange:hover i{ background:url(../Image/qyh/see_more_orange_arr.png) no-repeat; overflow:hidden; background-position:0 -6px}


.active.green{background:#7abe3d; color:#FFF}
.active.blue{ background:#64a7d5; border:1px #64a7d5 solid; color:#FFF}
.active.orange{background:#ffc600; border:1px #ffc600 solid; color:#FFF}
.active.green i{background:url(../Image/qyh/see_more_green_arr.png) no-repeat; overflow:hidden; background-position:0 -6px}
.active.blue i{background:url(../Image/qyh/see_more_blue_arr.png) no-repeat; overflow:hidden; background-position:0 -6px}
.active.orange i{ background:url(../Image/qyh/see_more_orange_arr.png) no-repeat; overflow:hidden; background-position:0 -6px}



.case_detail{ background:#fff; width:100%; box-sizing:border-box; z-index:999; position:relative; display:inline-block; padding:60px;}
.case_detail:after{ clear:both; height:0; display:block; content:"";}
.case_detail img{ float:left; display:inline-block; width:675px; height:391px;}
.case_detail dl{ float:left; display:inline-block; width:200px; padding:0 0 0 40px;}
.case_detail dt{ font-size:20px; color:#666; line-height:40px; padding-bottom:10px;}
.case_detail dd{ font-size:14px; color:#666;}

.conflex_txt{}
.conflex_txt dt{font-size:26px; color:#666666; line-height:100px; padding-left:220px;}
.conflex_txt dt em.green_em{ color:#7abe3d}
.conflex_txt dd{ color:#FFF; font-size:13px; line-height:39px; margin:0 0 22px 0; padding-left:270px; background:url(../Image/qyh/tab_1_txt.png) no-repeat; display:block; width:100%; overflow:hidden}

.conflex_txt dd.dd1{ background-position:0 -96px;}
.conflex_txt dd.dd2{ background-position:0 -158px;}
.conflex_txt dd.dd3{ background-position:0 -216px;}
.conflex_txt dd.dd4{ background-position:0 -276px;}
.conflex_txt dd.dd5{ background-position:0 -330px; padding-top:7px;}

