@charset "utf-8";
/* CSS Document */
/*
[目录表]
1- 展示大厅 缩写saloon
*/

.saloonBread { width:100%; text-align:left;border-bottom:solid 1px #fff;}
.saloonBread-con { width:100%; border-bottom:solid 1px #ddd;}
.saloonBread-area { float:left;}
.saloonBread-history { float:right;}
.saloonBread-con i { width:25px; height:25px; float:left; margin-right:5px; margin-top:5px;}
.icon-bread {background:url(../Image/icon1.png) no-repeat 0 -50px;}
.icon-history {background:url(../Image/icon1.png) no-repeat 0 -100px;}
.saloonBread-area p { height:35px; float:left; margin-left:5px;font:normal 16px/35px "microsoft yahei","黑体"; color:#282727;}
.saloonBread-area p a {font:normal 16px/35px "microsoft yahei","黑体"; color:#282727;}
.saloonBread-history p { height:35px; float:left; margin-left:5px;font:normal 14px/35px "microsoft yahei"; color:#714646;}
.saloonBread-history p a {font:normal 14px/35px "microsoft yahei"; color:#714646;}

.saloonMain { width:800px; height:auto; overflow:hidden;margin-top:20px; float:left;}
.saloonContainer {}
.saloonContainer-Item { height:54px; background:#f8f8f8;border-bottom:solid 1px #d5d5d5;}
.saloonContainer-Item ul { width:450px;}
.saloonContainer-Item ul li { width:220px;text-align:center; float:left; border-right:solid 1px #d5d5d5;}
.saloonContainer-Item ul li.last { border-right:none;}
.saloonContainer-Item ul li a { display:block; color:#333;font:normal 18px/55px "microsoft yahei","黑体";}
.saloonContainer-Item ul li.hover { width:220px; line-height:55px; font-size:24px; background:#fff;}
.saloonContainer-Item ul li.hover a { display:block; color:#ed1b24;font:normal 18px/55px "microsoft yahei","黑体";}
.saloonContainer-Con { padding:20px 10px 30px 10px;}


/*卡券列表*/
.saloonList { background:#fff; border:solid 0px #e4e4e4; overflow:hidden; padding-top:20px;}
.saloonList-ul {/*margin-left:15px; margin-top:15px;*/}
.saloonList-ul li{width:200px; /*height:250px;*/ float:left; margin:0 10px; margin-bottom:10px; position: relative; background: #fff;border: 1px solid #fff;padding: 10px 9px 10px;  -webkit-transition: border-color .1s ease;-moz-transition: border-color .1s ease; transition: border-color .1s ease;}
.saloonList-ul li:hover{/*border-color: #e9e9e9;-webkit-box-shadow: 0 0 2px 2px #f8f8f8;-moz-box-shadow: 0 0 2px 2px #f8f8f8;box-shadow: 0 0 2px 2px #f8f8f8;*/  border:1px #ed3f41 solid;}
.saloonList-ul li i.stype{top: 10px; right: 4px; font-size:12px;}
.saloonList-ul li:hover .saloonList-pic {border:solid 1px #ccc;}
.saloonList-ul li:hover .saloonList-opr{ display:block;}
.saloonList-ul li .salItem-img { width:220px; height:140px; border:solid 0px #e2e2e2;}
.saloonList-ul li .salItem-img a { width:200px; height:140px; background-size:contain; display:block; line-height:0; overflow:hidden}
.saloonList-ul li .salItem-img img { margin-top:-10px; border:0px #eee solid; max-width:200px;_width:expression(this.width > 300 ? "300px" : this.width);}
.saloonList-ul li .salItem-msg { margin-top:10px; margin-bottom:5px;}
.saloonList-ul li .salItem-msg h3 { font-size:16px; color:#333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; line-height:24px; padding-bottom:0px;}
.saloonList-ul li .salItem-msg h3 a{ color:#333}
.saloonList-ul li .salItem-msg h3 a:hover{ color:#ed3f41}
.saloonList-ul li .salItem-msg h5 { font: bold 24px/30px Arial; color:#e33b26; margin-left:-3px;height:30px;}
.saloonList-ul li .salItem-msg h5 i{ font: normal 24px/25px Arial;font-style:normal; color:#e33b26; vertical-align:middle;}
.saloonList-ul li .salItem-msg p { font-size:12px; color:#666; font-family:tahoma,arial,\5b8b\4f53; color:#999;}
.saloonList-ul li .salItem-msg .salItem-hot { float:left; text-align:left; color:#999; font-size:14px; }
.saloonList-ul li .salItem-msg .salItem-hot span{ color:#ff2900; font-size:14px; vertical-align:middle;}
.saloonList-ul li .salItem-msg .salItem-collect { text-align:left; color:#999; float:left; line-height:18px; }
.saloonList-ul li .salItem-msg .salItem-collect span{ color:#ff2900; font-size:14px; vertical-align:middle;}
.saloonList-ul li .salItem-msg .city { float:right; font-size:14px; color:#606060; cursor:pointer; position: relative;}
.saloonList-ul li .salItem-msg .city:hover .cityList{ display:block;}
.saloonList-ul li .salItem-msg .city .cityList{ display:none; position:absolute; bottom:22px; right:0; width:250px; background:#fff; border:solid 1px #999;}
.saloonList-ul li .salItem-msg .city .cityList span{ float:left; width:50%; text-align:center; cursor:text;}
/*卡券列表*/
.saloonBar .saloonList-ul {/*margin-left:15px; margin-top:15px;*/}
.saloonBar .saloonList-ul li{width:180px; height:auto; float:left; margin:0 auto; margin-bottom:5px; position: relative; padding: 10px 9px 0px;}
.saloonBar .saloonList-ul li:hover{border: 1px #FFF solid;}

.saloonBar .saloonList-ul li i.stype{top: 0px; right: -5px; font-size:12px;}
.saloonBar .saloonList-ul li:hover .saloonList-pic {/*border:solid 1px #ccc;*/}
.saloonBar .saloonList-ul li:hover .saloonList-opr{ display:block;}
.saloonBar .saloonList-ul li .salItem-img { width:180px; height:113px; border:solid 1px transparent;}
.saloonBar .saloonList-ul li .salItem-img a { width:180px; height:113px; overflow:hidden; display:block; line-height:0; background-size:contain; background-color: #f7f7f7; background-position: center center; background-repeat: no-repeat;}
.saloonBar .saloonList-ul li .salItem-img img { width:100%; height:auto; margin-top:0px;}
.saloonBar .saloonList-ul li .salItem-msg { margin-top:10px; margin-bottom:10px;}
.saloonBar .saloonList-ul li .salItem-msg h3 { font-size:16px; color:#333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; line-height:26px; padding-bottom:0px;}
.saloonBar .saloonList-ul li .salItem-msg h5 { font: bold 24px/28px Arial; color:#e33b26; margin-left:-3px;height:28px;}
.saloonBar .saloonList-ul li .salItem-msg h5 i{ font: normal 24px/25px Arial;font-style:normal; color:#e33b26; vertical-align:middle;}
.saloonBar .saloonList-ul li .salItem-msg p { font-size:12px; color:#666; font-family:tahoma,arial,\5b8b\4f53; color:#999;}
.saloonBar .saloonList-ul li .salItem-msg .salItem-hot { float:left; text-align:left; color:#999; font-size:14px; }
.saloonBar .saloonList-ul li .salItem-msg .salItem-hot span{ color:#ff2900; font-size:14px; vertical-align:middle;}
.saloonBar .saloonList-ul li .salItem-msg .salItem-collect { text-align:left; color:#999; float:left;  }
.saloonBar .saloonList-ul li .salItem-msg .salItem-collect span{ color:#ff2900; font-size:14px; vertical-align:middle;}
.saloonBar .saloonList-ul li .salItem-msg .city { float:right; font-size:14px; color:#606060; cursor:pointer; position: relative;}
.saloonBar .saloonList-ul li .salItem-msg .city:hover .cityList{ display:block;}
.saloonBar .saloonList-ul li .salItem-msg .city .cityList{ display:none; position:absolute; bottom:22px; right:0; width:250px; background:#fff; border:solid 1px #999;}
.saloonBar .saloonList-ul li .salItem-msg .city .cityList span{ float:left; width:50%; text-align:center; cursor:text;}
/*后台收藏按钮*/
.saloonList-ul .saloonList-opr{ text-align:center; display:none;position:absolute; width:100%; height:242px; top:0; left:0; border:solid 1px #ccc;background: rgba(255, 255, 255, 0.7);filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr='#BFFFFFFF', endColorstr='#BFFFFFFF') alpha(opacity=75);}
.saloonList-ul .saloonList-opr a { width:150px;cursor: pointer;display:inline-block;text-align: center;text-decoration: none !important;color:#fff; line-height:28px; border:none; font-size:13px; background-color:#000000;background: rgba(0, 0, 0, 0.7);filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr='#BF000000', endColorstr='#BF000000') alpha(opacity=80); border-radius:14px;-webkit-border-radius:14px;-moz-border-radius:14px;}
/*后台收藏按钮*/

/*右侧卡券列表*/
.saloonBar { float:right; width:220px;position:relative; z-index:1; margin-left:-220px;}
.saloonBar-opr { width:218px;overflow:hidden;}
.saloonBar-opr a {width:180px; padding:0; height:32px; margin-top:19px;line-height:32px;font-size:16px;text-decoration:none;}
.saloonBar-recommend {border:solid 1px #e5e5e5; background:#fff;}
.saloonBar-recommend .saloonBar-title{ height:30px; overflow:hidden; font-size:16px; line-height:30px;  margin:10px 15px 0 15px;}
.saloonBar-recommend ul { margin:8px; margin-top:0;}
/*右侧卡券列表*/

/*展示大厅*/
.purchaseList { background:#fff; border:solid 1px #e4e4e4; overflow:hidden;}
.purchaseList-ul {margin-left:15px; margin-top:15px;}
.purchaseList-ul li{ height:auto; padding-top:10px; margin:0 10px 10px 10px; border-bottom: dashed 1px #d5d5d5; padding-bottom:8px; position:relative;}
.purchaseList-ul li.noborder { border:none;}
.purchaseList-ul li:hover .purchaseList-opr{ display:block;}
.purchaseList-ul .purchaseList-name { overflow:hidden;white-space: nowrap;text-overflow: ellipsis;font: normal 12px/30px "microsoft yahei"; color:#999;}
.purchaseList-ul .purchaseList-name a { font: normal 18px/30px "microsoft yahei","黑体";}
.purchaseList-ul .purchaseList-name.bd-b-e5e5e5 { padding-bottom:10px; border-bottom:solid 1px #e5e5e5;}
.purchaseList-ul .purchaseList-txt {}
.purchaseList-ul .purchaseList-endtime {font: normal 12px/25px Arial;}
.purchaseList-ul .purchaseList-endtime span{color:#ff2900; margin-left:10px;}
.purchaseList-ul .purchaseList-nowPrice {}
.purchaseList-ul .purchaseList-nowPrice span { margin-left:10px;font: normal 20px/25px Tahoma,Arial,Helvetica,sans-serif;color:#ff2900;margin-left:10px;}
.purchaseList-ul .purchaseList-nowPrice span i{ font: normal 16px/25px Arial;font-style:normal;color:#ff2900;}
.purchaseList-ul .purchaseList-number {}
.purchaseList-ul .purchaseList-number span{ margin-left:10px;}
.purchaseList-ul .purchaseList-hot { text-align:left; color:#999; float:left;font: normal 12px/24px Arial; }
.purchaseList-ul .purchaseList-hot span{ color:#ff2900;font: normal 12px/24px Arial; vertical-align:middle;}
.purchaseList-ul .purchaseList-collect { text-align:left; color:#999; float:left;font: normal 12px/24px Arial; }
.purchaseList-ul .purchaseList-collect span{ color:#ff2900;font: normal 12px/24px Arial; vertical-align:middle;}
.purchaseList-ul .purchaseList-city {font: normal 12px/25px Arial;}
.purchaseList-ul .purchaseList-city span{color:#606060; margin:0 5px;}
.purchaseList-ul .purchaseList-morecity {display:inline-block;*display:inline;*zoom:1; cursor:pointer; position: relative;}
.purchaseList-ul .purchaseList-morecity p{ color:#ff2900;display:inline-block;*display:inline;*zoom:1; margin-left:10px;}
.purchaseList-ul .purchaseList-morecity:hover .cityList{ display:block;}
.purchaseList-ul .purchaseList-morecity .cityList{ display:none; position:absolute; bottom:22px; right:0; width:200px; background:#fff; border:solid 1px #999;}
.purchaseList-ul .purchaseList-morecity .cityList span{ float:left; width:25%; text-align:center; cursor:text;}
.purchaseList-ul .purchaseList-opr{ text-align:center; display:none;position:absolute; width:100%; height:100%; top:0; left:0; border:solid 1px #ccc;background: rgba(255, 255, 255, 0.7);filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr='#BFFFFFFF', endColorstr='#BFFFFFFF') alpha(opacity=75);}
.purchaseList-ul .purchaseList-opr a { margin-top:50px;width:150px;cursor: pointer;display:inline-block;text-align: center;text-decoration: none !important;color:#fff; line-height:28px; border:none; font-size:13px; background-color:#000000;background: rgba(0, 0, 0, 0.7);filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr='#BF000000', endColorstr='#BF000000') alpha(opacity=80); border-radius:14px;-webkit-border-radius:14px;-moz-border-radius:14px;}
.purchaseList.mt-10 { margin-top:-10px;}
/*展示大厅*/

/*旺财联盟*/
.allianceList { background:#fff; border:solid 1px #e4e4e4; overflow:hidden;}
.allianceList-ul {overflow:hidden;}
.allianceList-ul li { margin:0 15px; margin-top:15px; padding-bottom:15px; height:auto; border-bottom:dashed 1px #dcdcdc;}
.allianceList-ul li .salItem-img { width:65px; height:65px; border:solid 1px #e2e2e2; padding:4px; float:left;}
.allianceList-ul li .salItem-img a { width:65px; height:65px; overflow:hidden; display:block; line-height:0;}
.allianceList-ul li .salItem-img img { width:100%; height:auto;}
.allianceList-ul li .salItem-msg { margin-left:90px;}
.allianceList-ul li .salItem-msg h3 { font-size:16px; color:#333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; line-height:150%; padding-bottom:5px;}
.allianceList-ul li .salItem-msg h3 a { color:#333;}
.allianceList-ul li .salItem-msg h3 span{ font-size:12px; color:#666; font-family:tahoma,arial,\5b8b\4f53; color:#999;}
.allianceList-ul li .salItem-msg h4 { font-size:12px; color:#666;overflow: hidden;line-height:150%;}
.saloonBar-recommend .allianceList-ul li .salItem-msg h4 {white-space: nowrap;text-overflow: ellipsis;}
.allianceList-ul li .salItem-msg p { font-size:12px; color:#666; font-family:tahoma,arial,\5b8b\4f53; color:#999; margin-top:10px;}
.allianceList-ul li .salItem-msg p span { color:#336699;}
/*旺财联盟*/

/*详情*/
.saloonItem { padding:10px; background:#fff; border:solid 1px #e4e4e4;}
.saloonItem-info { padding-top:20px;}
.saloonItem-info.saloonItem-info-o { padding:0;}
.saloonItem-info h3 { margin-right:30px; height:auto; overflow:hidden; margin-left:-11px; border-left:solid 8px #dd401c; line-height:30px; text-indent:30px; font-size:28px; color:#333;}
.saloonItem-info h3 a{ float:right; margin-left:10px;font: normal 12px/25px "microsoft yahei";}
.saloonItem-info h3 span{ float:right; margin-left:10px;font: normal 12px/25px "microsoft yahei"; padding:0 5px;}
.saloonItem-info>h4{height: 26px;line-height: 26px;font-size: 16px;padding-top: 4px;text-indent:30px; color:#f76329}
.saloonItem-info-main { margin:0 30px; margin-top:20px; padding-top:20px; border-top:solid 1px #f2f2f2;}
.saloonItem-info.saloonItem-info-o .saloonItem-info-main { padding:0; border-top:none; margin:0;}
.saloonItem-info-main.height { height:auto !important; height:500px; min-height:500px;}
.saloonItem-info-pic { float:left;}
.saloonItem-info-pic { width:256px; height:160px; border:solid 1px #e2e2e2; padding:4px;}
.saloonItem-info-pic p a{ width:220px; height:160px; overflow:hidden; display:block; line-height:0;}
.saloonItem-info-pic p a span img{ width:100%; height:auto; margin-top:-10px;}
.saloonItem-info-con { margin-left:276px; padding-left:20px;}
.saloonItem-info-con.ml0 { margin-left:0;}
.saloonItem-info-con .saloonItem-info-txt { line-height:25px; color:#999999; font-size:14px;}
.saloonItem-info-con .saloonItem-info-txt span { color:#333;}
.saloonItem-info-con .saloonItem-info-txt .Provider{ line-height:30px;}
.saloonItem-info-con .saloonItem-info-txt .Provider span { margin-left:10px;}
.saloonItem-info-con .saloonItem-info-txt .nowPrice { line-height:30px;}
.saloonItem-info-con .saloonItem-info-txt .nowPrice span { margin-left:10px;font: normal 20px/25px Tahoma,Arial,Helvetica,sans-serif;color:#e54834;}
.saloonItem-info-con .saloonItem-info-txt .nowPrice span i{ font: normal 16px/25px Arial;font-style:normal;color:#e54834;}
.saloonItem-info-con .saloonItem-info-txt .number { line-height:30px;}
.saloonItem-info-con .saloonItem-info-txt .number span {margin-left:10px;}
.saloonItem-info-con .saloonItem-info-txt .Info-p { line-height:30px; color:#999999;}
.saloonItem-info-con .saloonItem-info-txt .Info-p span {margin-left:10px; color:#333}
.saloonItem-info-con .saloonItem-info-txt .Info-p b {margin-left:10px; color:#333; font-weight:bold;}
.saloonItem-info-con .saloonItem-info-txt .other { overflow:hidden; height:auto; line-height:30px;}
.saloonItem-info-con .saloonItem-info-txt .other .saloonList-hot { text-align:left; color:#999; float:left; line-height:30px; }
.saloonItem-info-con .saloonItem-info-txt .other .saloonList-hot span{ color:#ff2900;font: normal 12px/30px; vertical-align:middle;}
.saloonItem-info-con .saloonItem-info-txt .other .saloonList-collect { text-align:left; color:#999; float:left; line-height:30px; }
.saloonItem-info-con .saloonItem-info-txt .other .saloonList-collect span{ color:#e54834;  vertical-align:middle;}
.saloonItem-info-btn { margin-top:8px;}
.saloonItem-info-btn .btn-callsaloon {float:left;color:#fff; width:145px; height:40px; line-height:40px; border:solid 1px #da1f00; text-align:center;background:#db3e1b;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f76329', endColorstr='#db3e1b'); background: linear-gradient(top, #f76329, #db3e1b); background: -moz-linear-gradient(top, #f76329, #db3e1b); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f76329), to(#db3e1b)); font-size:14px; text-decoration:none; -moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;-webkit-border-radius:2px; border-radius:2px;}
.saloonItem-info-btn .btn-callsaloon:hover {background:#ef5727;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc873a', endColorstr='#ef5727'); background: linear-gradient(top, #fc873a, #ef5727); background: -moz-linear-gradient(top, #fc873a, #ef5727); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fc873a), to(#ef5727));}
.saloonItem-info-btn .btn-callsaloon:active {background:#db3e1b;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f76329', endColorstr='#db3e1b'); background: linear-gradient(top, #f76329, #db3e1b); background: -moz-linear-gradient(top, #f76329, #db3e1b); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f76329), to(#db3e1b));}
.saloonItem-wrap { margin:0 30px; margin-top:20px; border-top:none; border:solid 1px #e5e5e5;}
.saloonItem-wrap.saloonItem-wrap-o { margin:0; margin-top:20px; overflow:hidden;}
.saloonItem-tabbar { border-top:solid 2px #b5b5b5;border-bottom:solid 1px #e5e5e5; background:#fafafa; line-height:30px; text-indent:20px; font-size:14px; font-weight:bold; color:#666;}
.saloonItem-con { padding:10px 20px; overflow:hidden;}
.saloonItem-adderss {padding:10px 20px; overflow:hidden;}
.saloonItem-adderss li{ width:10%; float:left; line-height:25px;}
/*详情*/

.purchaseItem-wrap { border:solid 1px #e5e5e5; margin-top:10px; border-top:none;}
.purchaseItem-tabbar { border-top:solid 2px #b5b5b5;border-bottom:solid 1px #e5e5e5; background:#fafafa; line-height:30px; text-indent:20px; font-size:14px; font-weight:bold; color:#666;}
.purchaseItem-con { padding:10px 20px; overflow:hidden;}
.color-ff2900{color:#ff2900;}

/*---------new----------*/
.salMain { overflow:hidden;}
.salCon { margin-top:0px;}
.salSub { width:100%;}
.salCon-con { margin-right:240px; overflow:hidden; font-size:14px;}
.salList { background:url(../Image/shadow-bg.png) no-repeat center bottom; padding-bottom:15px; margin-top:10px;}
.salSkin { background:#fff; height:auto; overflow:hidden; position:relative; padding-bottom:0;}
.salSkin .title { height:auto; overflow:hidden; padding-bottom:16px; padding-top:21px;}
.salSkin .title img { margin-left:35px; margin-top:10px;}
.salSkin .title span { margin-left:20px; vertical-align:bottom; color:#fff; font-size:14px;}
.salSkin .title a { float:right; width:226px; height:49px; margin-right:35px; background-image:url(../Image/btn-sal.png); background-repeat:no-repeat; line-height:43px; font-size:16px; text-indent:60px; text-decoration:none;}
.salSkin .more { position:absolute; bottom:0; left:50%; margin-left:-35px; width:70px; height:20px; text-align:center; line-height:20px; color:#fff; font-family:tahoma,arial,\5b8b\4f53;}
.salSkin .salItem-search { padding:10px 32px 0 32px;}
.salSkin .salItem-search a { font-size:14px;}
.salSkin .salItem-search span { margin:0 10px;}
.salSkin .salItem-one { margin:32px 32px 32px 32px; width:1034px; height:199px; overflow:hidden;}
.salSkin .salItem-one.noneData { text-align:center; height:auto;}
.salSkin .salItem-one.noneData p { padding-bottom:40px; line-height:24px; text-align:center; font-size:18px; color:#888;}
.salSkin .salItem-one.noneData p a{ font-size:24px; color:#e56454;}
.salSkin .salItem-one ul { width:1070px; height:199px; overflow:hidden; margin-left:-16px; margin-top:-16px;}
.salSkin .salItem-one ul li { width:495px; height:68px; border-right:dashed 1px #dcdcdc; border-bottom:dashed 1px #dcdcdc; float:left; padding:16px;}
.salSkin .salItem-one ul li .salItem-img { width:65px; height:65px; border:solid 1px #e2e2e2; padding:4px; float:left;}
.salSkin .salItem-one ul li .salItem-img a { width:65px; height:65px; overflow:hidden; display:block; line-height:0;}
.salSkin .salItem-one ul li .salItem-img img { width:100%; height:auto;}
.salSkin .salItem-one ul li .salItem-msg { margin-left:90px;}
.salSkin .salItem-one ul li .salItem-msg h3 { font-size:16px; color:#333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; line-height:150%; padding-bottom:5px;}
.salSkin .salItem-one ul li .salItem-msg h3 a { color:#333;}
.salSkin .salItem-one ul li .salItem-msg h4 { font-size:12px; color:#666;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; line-height:150%;}
.salSkin .salItem-one ul li .salItem-msg p { font-size:12px; color:#666; font-family:tahoma,arial,\5b8b\4f53; color:#999; margin-top:10px;}
.salSkin .salItem-two { margin:22px 32px 32px 32px; width:1034px; height:585px; overflow:hidden;}
.salSkin .salItem-two.noneData { text-align:center; height:auto;}
.salSkin .salItem-two.noneData p { padding-bottom:40px; line-height:24px; text-align:center; font-size:18px; color:#888;}
.salSkin .salItem-two.noneData p a{ font-size:24px; color:#e56454;}
.salSkin .salItem-two ul { width:1070px; height:585px; overflow:hidden; margin-left:-16px; margin-top:-16px;}
.salSkin .salItem-two ul li { width:230px; height:260px; border-right:dashed 1px #dcdcdc; border-bottom:dashed 1px #dcdcdc; float:left; padding:16px;}
.salSkin .salItem-two ul li .salItem-img { width:220px; height:160px; border:solid 1px #e2e2e2; padding:4px;}
.salSkin .salItem-two ul li .salItem-img a { width:220px; height:160px; overflow:hidden; display:block; line-height:0;}
.salSkin .salItem-two ul li .salItem-img img { width:100%; height:auto; margin-top:-10px;}
.salSkin .salItem-two ul li .salItem-msg { margin-top:10px;}
.salSkin .salItem-two ul li .salItem-msg h3 { font-size:16px; color:#333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; line-height:150%; padding-bottom:5px;}
.salSkin .salItem-two ul li .salItem-msg h5 { font: bold 24px/25px Arial; color:#e33b26; margin-left:-3px;}
.salSkin .salItem-two ul li .salItem-msg h5 i{ font: normal 24px/25px Arial;font-style:normal; color:#e33b26; vertical-align:middle;}
.salSkin .salItem-two ul li .salItem-msg p { font-size:12px; color:#666; font-family:tahoma,arial,\5b8b\4f53; color:#999;}
.salSkin .salItem-two ul li .salItem-msg .salItem-hot { float:left; text-align:left; color:#999;font: normal 12px/24px Arial; }
.salSkin .salItem-two ul li .salItem-msg .salItem-hot span{ color:#ff2900;font: normal 12px/24px Arial; vertical-align:middle;}
.salSkin .salItem-two ul li .salItem-msg .salItem-collect { text-align:left; color:#999; float:left;font: normal 12px/24px Arial; }
.salSkin .salItem-two ul li .salItem-msg .salItem-collect span{ color:#ff2900;font: normal 12px/24px Arial; vertical-align:middle;}
.salSkin .salItem-two ul li .salItem-msg .city { float:right;font: normal 12px/25px Arial; color:#606060; cursor:pointer; position: relative;}
.salSkin .salItem-two ul li .salItem-msg .city:hover .cityList{ display:block;}
.salSkin .salItem-two ul li .salItem-msg .city .cityList{ display:none; position:absolute; bottom:22px; right:0; width:100px; background:#fff; border:solid 1px #999;}
.salSkin .salItem-two ul li .salItem-msg .city .cityList span{ float:left; width:50%; text-align:center; cursor:text;}

/*皮肤*/
.salSkin-1 { border:solid 1px #f49c91;}
.salSkin-2 { border:solid 1px #bcbcd3;}
.salSkin-3 { border:solid 1px #9ed9c0;}
.salSkin-4 { border:solid 1px #72cbdf;}
.salSkin-1 .more { background:#f49c91;}
.salSkin-2 .more { background:#bcbcd3;}
.salSkin-3 .more { background:#9ed9c0;}
.salSkin-4 .more { background:#72cbdf;}
.salSkin-1 .title { border-left:solid 4px #e56454; background:#f49c91;}
.salSkin-2 .title { border-left:solid 4px #8a8ab7; background:#bcbcd3;}
.salSkin-3 .title { border-left:solid 4px #51aa84; background:#9ed9c0;}
.salSkin-4 .title { border-left:solid 4px #4095ab; background:#72cbdf;}
.btn-sal-1 { background-position:0 0; color:#e56454;}
.btn-sal-2 { background-position:0 -60px; color:#8a8ab7;}
.btn-sal-3 { background-position:0 -120px; color:#6dbe9b;}
.btn-sal-4 { background-position:0 -180px; color:#4095ab;}
.btn-sal-1:hover { background-position:-250px 0; color:#e56454;}
.btn-sal-2:hover { background-position:-250px -60px; color:#8a8ab7;}
.btn-sal-3:hover { background-position:-250px -120px; color:#6dbe9b;}
.btn-sal-4:hover { background-position:-250px -180px; color:#4095ab;}
.btn-sal-1:active { background-position:-500px 0; color:#e56454;}
.btn-sal-2:active { background-position:-500px -60px; color:#8a8ab7;}
.btn-sal-3:active { background-position:-500px -120px; color:#6dbe9b;}
.btn-sal-4:active { background-position:-500px -180px; color:#4095ab;}
.salSkin-1 .salItem-search a,.salSkin-1 .salItem-search span { color:#e56454;}
.salSkin-2 .salItem-search a,.salSkin-2 .salItem-search span { color:#8a8ab7;}
.salSkin-3 .salItem-search a,.salSkin-3 .salItem-search span { color:#51aa84;}
.salSkin-4 .salItem-search a,.salSkin-4 .salItem-search span { color:#4095ab;}

.salConSkin-1 .salSearch-skin { border:solid 1px #f49c91; background:#fff8f7;}
.salConSkin-1 .salSearch-skin dl { border-bottom:solid 1px #ffe7e4;}
.salConSkin-1 .salSearch-skin dt { color:#999;}
.salConSkin-1 .salSearch-skin dd a { color:#e56454;}
.salConSkin-1 .salSearch-skin .saloonSearched dd { background:#ecaba3;}
.salConSkin-1 .salSearch-skin .saloonSearched .btn-all { background:#ecaba3;}
.salConSkin-1 .saloonBar-opr { background:#f6a197;}
.salConSkin-1 .saloonBar-recommend .saloonBar-title {border-bottom:solid 1px #ecaba3; color:#e96b73;}

.salConSkin-2 .salSearch-skin { border:solid 1px #e8e8e8; border-left:solid 0px #e8e8e8; border-right:solid 0px #e8e8e8;background-color:#fff;}
.salConSkin-2 .salSearch-skin dl {/* border-bottom:solid 1px #e8e8e8;*/ position:relative}
.salConSkin-2 .salSearch-skin dt { color:#666666;}
.salConSkin-2 .salSearch-skin dd a { color:#666;}
.salConSkin-2 .salSearch-skin dd a:hover { color:#ed3f41;}
.salConSkin-2 .salSearch-skin .saloonSearched dd { background:#fff;color:#ed1c24; font-size:14px;}
.salConSkin-2 .salSearch-skin .saloonSearched .btn-all {background:#fff2f3;border:1px solid #ffd0d3;color:#f15755;}
.salConSkin-2 .saloonBar-opr {background:#f8f8f8;border:1px solid #e8e8e8;border-bottom:none;}


.salConSkin-3 .salSearch-skin { border:solid 1px #6dbe9b; background:#f3fffa;}
.salConSkin-3 .salSearch-skin dl { border-bottom:solid 1px #e0fff2;}
.salConSkin-3 .salSearch-skin dt { color:#999;}
.salConSkin-3 .salSearch-skin dd a { color:#6dbe9b;}
.salConSkin-3 .salSearch-skin .saloonSearched dd { background:#6dbe9b;}
.salConSkin-3 .salSearch-skin .saloonSearched .btn-all { background:#6dbe9b;}
.salConSkin-3 .saloonBar-opr { background:#a1dac2;}
.salConSkin-3 .saloonBar-recommend .saloonBar-title {border-bottom:solid 1px #6dbe9b; color:#6dbe9b;}

.salConSkin-4 .salSearch-skin { border:solid 1px #4095ab; background:#f4fdff;}
.salConSkin-4 .salSearch-skin dl { border-bottom:solid 1px #d8f7ff;}
.salConSkin-4 .salSearch-skin dt { color:#999;}
.salConSkin-4 .salSearch-skin dd a { color:#4095ab;}
.salConSkin-4 .salSearch-skin .saloonSearched dd { background:#4095ab;}
.salConSkin-4 .salSearch-skin .saloonSearched .btn-all { background:#4095ab;}
.salConSkin-4 .saloonBar-opr { background:#79d0e3;}
.salConSkin-4 .saloonBar-recommend .saloonBar-title {border-bottom:solid 1px #4095ab; color:#4095ab;}
/*皮肤*/

.judgeDiv { padding-top:6px; padding-bottom:12px;}
.judgeCon-time {border: solid 1px #d3d3d3; padding:10px 10px 0 10px;}

.saloonSort{height:38px;margin-bottom:0px;border:1px solid #e8e8e8; border-left:0; border-right:0; background-color:#f8f8f8;}
.saloonSort li{position:relative;padding:8px 50px;float:left;background-image:url(../Image/saloon-icon.png);background-repeat:no-repeat;line-height:21px;cursor: pointer;}
.saloonSort li a{display:block;position:relative;color:#666;}
.saloonSort li i{z-index:2;display:block;width:8px;height:4px;position:absolute;top:17px;right:35px;background:url(../Image/saloon-icon.png) no-repeat 0 -320px;}
.saloonSort li i.up{background-position:0 -416px; }
.saloonSort li.hover a{color:#f15755;}
.saloonSort li.hover.general{background-color:#fff;border-right:1px solid #e8e8e8;background-position:28px -340px;}
.saloonSort li.hover.hotest{background-color:#fff;border-right:1px solid #e8e8e8;background-position:28px 10px;}
.saloonSort li.hover.collect{background-color:#fff;border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;background-position:28px -30px;}
.saloonSort li.hover.sales{background-color:#fff;border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;background-position:28px -69px;}
.saloonSort li.hover.time{background-color:#fff;border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;background-position:28px -109px;}
.saloonSort .hotest{background-position:28px -149px;}
.saloonSort .collect{background-position:28px -190px;}
.saloonSort .sales{background-position:28px -229px;}
.saloonSort .time{background-position:28px -269px;}
.saloonSort .general{background-position:28px -370px;}

.saloonTip{padding:28px 18px 20px;color:#666;font-size:12px;}
.saloonTip .title{font-size:16px;}
.saloonTip span{color:#ed1c24;}


.saloonList-ul li .salItem-img{ width:200px; height:140px;position:relative;  margin:auto;}
.box{ width:100%;height:auto; background-color:#FFFFFF; FILTER: alpha(opacity=90); opacity: 0.9; -moz-opacity: 0.7;position:absolute; left:0px; bottom:0px;}
.see_more{ background:rgba(0,0,0,0.8); padding:10px; line-height:18px; color:#FFF; display:none; height:auto;}
.rang1,.rang2,.rang3{ background:url(../Image/hall_rang.png) no-repeat; width:10px; height:14px; margin:0 3px; display:inline-block; overflow:hidden}
.rang1{background-position:0 0;}
.rang2{background-position:0 -18px;}
.rang3{background-position:0 -36px;}
.redfont{ font-size:12px;}

.saloonBar-opr a{ margin-top:0;}
.saloonBar-opr .btn-message{ width:180px; border-radius:3px; display:block; line-height:29px; height:29px; margin-top:17px; text-align:center; border: solid 1px #ed3f41;  background: #FFF;  color: #ed3f41; font-size:16px;}
.saloonBar-opr .btn-message:hover{ width:180px; display:block; line-height:29px; height:29px; margin-top:17px; text-align:center; border: solid 1px #ffd0d3;  background: #fde5e7;  color: #f15755; font-size:16px; cursor:pointer}
.extra_link{width:112px; display:inline-block; line-height:40px; height:40px; text-align:center; border: solid 1px #ffd0d3;  background: #fff2f3;  color: #f15755; font-size:14px;}
.extra_link:hover{width:112px; display:inline-block; line-height:40px; height:40px; text-align:center; border: solid 1px #ffd0d3;  background: #fde5e7;  color: #f15755; font-size:14px;}	

/*卡券列表 新版2016-04-05*/
.cardList ul li{margin:15px 10px 0 10px;float: left;}
.cardList ul li .cardInfo dl dt{position: relative;width: 200px;height: 140px;overflow: hidden;}
.cardList ul li .cardInfo dl dd{position: relative;}
.cardList ul li .cardInfo dl{position: relative;border:solid 1px #fff;padding: 9px;width: 200px;}
.cardList ul li .cardInfo dl>i.tips{background: url(../Image/eTrade/cpcorner.png) right center no-repeat;line-height: 24px;padding: 0 15px; padding-bottom: 5px;position: absolute;top: 9px;right: 5px;color: #FFF;font-style: normal;z-index: 1000}
.cardList ul li .cardInfo dl dt>a{background: url(../Image/preview-news.png);display: inline-block;width: 100%;height: 100%;}
.cardList ul li .cardInfo dl dt>a img{width: 100%;height: 100%;}
.cardList ul li .cardInfo dl dt p{bottom: -105px;position: absolute;background: rgba(0, 0, 0, 0.498039);padding: 10px 0;}
.cardList ul li .cardInfo:hover dl{border: solid 1px #ed3f41;}
.cardList ul li .cardInfo:hover dl dt p{bottom: 0px;transition: bottom 0.5s;-webkit-transition: bottom 0.5s;width: 190px;padding-left: 10px;}
.cardList ul li .cardInfo dl dt p span{color: #f1f1f1;}
.cardList ul li .cardInfo dl dt p span b{font-weight: normal;padding-right: 10px;}
.cardList ul li .cardInfo dl dd h3{font-size:16px; color:#333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; line-height:24px; padding-bottom:0px;padding-top: 10px;}
.cardList ul li .cardInfo dl dd h3 a{color:#333}
.cardList ul li .cardInfo dl dd h3 a:hover{color:#ed3f41}
.cardList ul li .cardInfo dl dd h4{font-size: 12px;color: #f09831;overflow: hidden;line-height: 20px;padding-bottom: 5px;height: 20px;}
.cardList ul li .cardInfo dl dd h5{font: bold 24px/30px Arial;color: #e33b26;margin-left: -3px;height: 30px;}
.cardList ul li .cardInfo dl dd h5 i{font-style: normal;}
.cardList ul li .cardInfo dl dd p{text-align: left; color: #999;line-height: 18px;}
/* 右边小一点的 */
.cardList_right ul li{float: left;padding-left: 10px;padding-bottom: 20px;}
.cardList_right ul li .cardInfo dl dt{position: relative;width: 180px;height: 100px;overflow: hidden;}
.cardList_right ul li .cardInfo dl dd{position: relative;}
.cardList_right ul li .cardInfo dl dt i{background: url(../Image/eTrade/cpcorner.png) right center no-repeat;line-height: 24px;padding: 0 15px; padding-bottom: 5px;position: absolute;top: 0px;right: -5px;color: #FFF;font-style: normal;z-index: 1000}
.cardList_right ul li .cardInfo dl dt img{width: 100%;height: 100%;}
.cardList_right ul li .cardInfo dl{width: 180px;}
.cardList_right ul li .cardInfo dl dt p{bottom: -300px;position: absolute;background: rgba(0, 0, 0, 0.5);padding: 10px 0;}
.cardList_right ul li .cardInfo:hover dl dt p{bottom: 0px;transition: bottom 0.5s;-webkit-transition: bottom 0.5s;width: 170px;padding-left: 10px;}
.cardList_right ul li .cardInfo dl dt p span{color: #f1f1f1;}
.cardList_right ul li .cardInfo dl dt p span b{font-weight: normal;padding-right: 10px;}
.cardList_right ul li .cardInfo dl dd h3{font-size:16px; color:#333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; line-height:24px; padding-bottom:0px;padding-top: 10px;}
.cardList_right ul li .cardInfo dl dd h3 a{color:#333}
.cardList_right ul li .cardInfo dl dd h3 a:hover{color:#ed3f41}
.cardList_right ul li .cardInfo dl dd h4{font-size: 12px;color: #f09831;overflow: hidden;line-height: 18px;padding-bottom: 5px;}
.cardList_right ul li .cardInfo dl dd h5{font: bold 24px/30px Arial;color: #e33b26;margin-left: -3px;height: 30px;}
.cardList_right ul li .cardInfo dl dd h5 i{font-style: normal;}
.cardList_right ul li .cardInfo dl dd p{text-align: left; color: #999;line-height: 18px;}


/* 筛选结果 */

.Sresult{width: 100%;margin-bottom: 10px;}
.Sresult p{line-height: 24px;}
.Sresult p span{}
.Sresult p span b{padding-right: 15px;background: url(../Image/icon_right.jpg) no-repeat right;display: inline-block;margin-right: 10px;font-weight:normal;color: #ed3f41;}
.Sresult p span b:last-of-type{background: none;}

/* 筛选类型 */
.Stype{margin-bottom: 15px;}
.Stype dl{width: 100%;float: left;border-top: solid 1px #e5e5e5;position: relative;background: #f8f8f8;}
.Stype dl:last-of-type{border-bottom:solid 1px #e5e5e5; }
.Stype dl dt{float: left;width: 135px;padding-right: 10px;text-align: right;line-height: 40px;}

.Stype dl .StypeInfo{background: #fff;float: left;width: 815px;}
.Stype dl dd{float: left;cursor: pointer;padding: 0px 15px;line-height: 40px;color: #666;}
.Stype dl dd.active{color: #ed3f41;}
.Stype dl p.allClass{float: left;margin:0;padding: 0;}
.Stype dl p.allClass i{z-index: 100;height: 35px;padding: 0 14px;line-height: 30px;display: block;margin-top: 5px;cursor: pointer;position: relative;float: left;top:1px;font-style: normal;margin-right: 4px;}
.Stype dl p.allClass.active i{height: 35px;padding: 0 14px;  border:solid 1px #e5e5e5;border-bottom:none;position: relative;z-index: 100;margin-top: 4px;background: #f8f8f8;color: #ed3f41;line-height: 32px;}
.Stype dl p.allClass.active.first i{height: 35px;padding: 0 14px;  border:solid 1px #fff;border:none;position: relative;z-index: 100;margin-top: 4px;background: #fff;color: #ed3f41;}

.Stype dl p.allClass.first i{background: none;border: none;margin-top: 5px;}
.Stype dl div.childType{width: 788px;background: #fafafa;z-index: 90;border: solid 1px #e5e5e5;float: left;padding:5px;margin-bottom: 15px;margin-left: 15px;}

.Stype dl div.childType span{padding: 5px 15px 5px 15px;cursor: pointer;font-weight: normal;display: block;float: left;}
.Stype dl div.childType span.active{color: #ed3f41;}

/* 表单发送数据 */
.salSub .salCon-con .send_data{position: absolute;top:10000px;}

.Stype dl div.serach_city{border: solid 1px #ccc;background: url(../Image/eTicket/big.png) left no-repeat;padding-left: 22px;float: left;line-height: 26px;height: 26px;position: relative;margin-top: 6px;margin-left: 15px; }
.Stype dl div.serach_city input[name=city]{border:none;box-shadow: none;font-size: 14px;height: 26px;width: 160px;padding: 0;margin:0;float: left;color: #666;}
.Stype dl div.serach_city input[name=city]:focus{border:none;box-shadow: none;;}
.Stype dl div.serach_city input[name=gogo]{width: 50px;border: 1px #e8e8e8 solid;margin: 0 15px;height: 28px;background-color: #fff;border-color: #d6d6d6;background-image: linear-gradient(to bottom,#fff 0,#f3f3f3 100%);color: #666766;border-radius: 2px;cursor: pointer;position: absolute;right: -80px;top:-1px;line-height:1em;}

/* 分页样式 基于angularjs */
.page_angular{width: 100%;float: left;}
.page_angular dl{margin:0 auto;width: 900px;}
.page_angular dl dt{float: left;}
.page_angular dl dd{float: left;line-height: 32px;}
.page_angular dl dt a{width: 75px;height: 30px;border: 1px #e8e8e8 solid;border-right: 1px #FFF solid;margin-right: 0px;line-height: 30px;font-size: 14px;text-align: center;display:block;color: #7f7f7f;float: left;}
.page_angular dl dt a:hover{border:1px #757982 solid;}
.page_angular dl dt b{width: 30px;height: 30px;border: 1px #e8e8e8 solid;border-right: 1px #FFF solid;margin-right: 0px;line-height: 30px;font-size: 14px;text-align: center;display: block;float: left;color: #7f7f7f;font-weight: normal;cursor: pointer;}
.page_angular dl dt b.active{background: #757982;color: #FFF;border: 1px solid #757982;}
.page_angular dl dt a.next{border-right: 1px #e8e8e8 solid;}
.page_angular dl dt a.next:hover{border-right: 1px #757982 solid;}
.page_angular dl dd span.tips{margin:0 10px;font-size: 14px;}
.page_angular dl dd span.tips b{font-weight: normal;}
.page_angular dl dd span.gogo input.number{width:40px;text-align: center;border: solid 1px #e8e8e8;line-height: 26px;margin:0 5px;height: 26px;}
.page_angular dl dd span.gogo a[data-type=gogo]{width: 60px;border: 1px #e8e8e8 solid;margin: 0 15px;height: 26px;background-color: #fff;border-color: #d6d6d6;background-image: linear-gradient(to bottom,#fff 0,#f3f3f3 100%);color: #666766;border-radius: 2px;cursor: pointer;display: inline-block;text-align: center;line-height: 26px;}
.page_angular dl dd span.gogo a[data-type=gogo]:hover{background: #fff;}
.page_angular dl dd span.gogo{font-size: 14px;}




