.goodwin{/* width: 780px; */margin: 0 auto; box-sizing:border-box;}
.goodwin .tips{ clear:right; float:right; background:url(../Image/dzq/tip_icon.gif) left center no-repeat; padding-left:20px;}
.goodwin .tips:after{ clear:both; height:0; content:""; display:block}
.goodwin .result{ text-align:center; clear:both}
.goodwin .result dl{ margin:0; padding:0 40px; list-style:none}
.goodwin .result dl:after{ clear:both; height:0; display:block; content:"";}
.goodwin .result dl dt{ font-size:18px; line-height:75px; padding:0px 0 10px 0; text-align:center; margin:0 auto}
.goodwin .result dl dd{ width:45%; box-sizing:border-box; display:inline-block; background:#eeeeee; border-radius:5px; line-height:50px; float:left; text-align:center; font-size:14px; }
.goodwin .result dl dd a{ color:#666666; text-decoration:none}
.goodwin .result dl dd.ok{ background:#ed1c24; float:right}
.goodwin .result dl dd.ok a{ color:#fff;}
.goodwin .result dl dd.ok:hover{ background-color: #F30}

.goodwin .other dl{ padding:0 30px;}
.goodwin .other dl dt{ text-align:center; display:block; width:100%;}
.goodwin .other dl dd{ width:45%;background:#ed1c24;}
.goodwin .other dl dd:hover{background:#F30;}
.goodwin .other dl dd a{ color:#FFF}
.goodwin .other dl dd.ok{background:#eeeeee;}
.goodwin .other dl dd.ok:hover{background:#eeeeee;}
.goodwin .other dl dd.ok a{color:#666666; }

.goodwin .opr dl dt{ text-align:left; line-height:30px; padding-top:30px;}
.goodwin .opr dl dd{ width:45%;}
.goodwin .opr dl dd.first a,.goodwin .opr dl dd.last a{ line-height:74px; font-size:22px; font-weight:400; background:url(../Image/dzq/select_dzq_icon.png) no-repeat; overflow:hidden; padding-left:30px;}
.goodwin .opr dl dd.first{ background:#a26600; border-radius:5px;}
.goodwin .opr dl dd.first a{ background-color:#ff9c00; background-position:40px 0; margin-bottom:4px; border-radius:5px; display:block; color:#fff}

.goodwin .opr dl dd.last{ background:#a73636; border-radius:5px; float:right}
.goodwin .opr dl dd.last a{ background-color:#f75a63; background-position: -320px 0; margin-bottom:4px; border-radius:5px; display:block; color:#fff}

.goodwin .additional{ border-top:1px #dedede solid; background:#f8f8f8 url(../Image/dzq/additional_pic.png) left 40px no-repeat; margin:20px 0; padding:20px 20px 20px 150px;}
.goodwin .additional dl{}
.goodwin .additional dl dt{ font-size:16px; color:#333; line-height:50px;}
.goodwin .additional dl dd{ font-size:14px; color:#666666; line-height:36px;}
.goodwin .additional dl dd em{ color:#f75a63;}

.goodwin .select_area{}
.goodwin .select_area .top_tips{ font-size:12px;}
.goodwin .select_area .top_tips em{ color:#ed1c24}
.goodwin .select_area .search_area{  border: solid 5px #f2f2f2;  padding: 10px;  padding-right: 10px; margin-top:10px;}
.goodwin .select_area .search_area:after{ clear:both; height:0; content:""; display:block}
.goodwin .select_area .search_area p{  display: inline-block;  line-height: 28px;  width: auto;  font-size: 14px;  float: left; padding-right: 3px;}
.goodwin .select_area .search_area select,.goodwin .select_area .search_area input[type=text] {  padding: 3px 6px 3px 6px; border: 1px #dfdfdf solid;}
.goodwin .select_area .search_area a.btn-all {  width: 55px;border: solid 1px #ffd0d3;background: #fff2f3;color: #f15755; border-radius:4px;}

.goodwin .select_area .et_list{ padding:10px 0; }
.goodwin .select_area .et_list ul{ margin:0; padding:0; list-style:none; position:relative}
.goodwin .select_area .et_list ul:after{ clear:both; display:block; height:0; content:"";}
.goodwin .select_area .et_list ul li{ width:47%; float:left; box-sizing:border-box; background:#f8f8f8; border:1px #f8f8f8 solid; margin-bottom:10px;}
/*.goodwin .select_area .et_list ul li:nth-of-type(odd){float:left; margin-right:30px;}*/
.goodwin .select_area .et_list ul li:nth-of-type(even){ float:right; margin-right:0;}
.goodwin .select_area .et_list ul li:hover{ border:1px #ed3f41 solid;}
.goodwin .select_area .et_list ul li.selected{ background:#f8f8f8 url(../Image/eTicket/corner-right.png) top right no-repeat; border:1px #ed3f41 solid}
.goodwin .select_area .et_list ul li p{ font-size:14px; padding:6px 8px; color:#333333}
.goodwin .select_area .et_list ul li p.date{ font-size:12px; color:#b5b5b5;}
.goodwin .select_area .et_list ul li p.date strong{ color:#fd6a6a; font-weight:normal}
.goodwin .select_area .et_list ul li p em{ font-size:12px;}
.goodwin .select_area .et_list ul li p em.tp1{ color:#fda000;}
.goodwin .select_area .et_list ul li p em.tp2{ color:#2e7dc6;}
.goodwin .select_area .et_list ul li p em.tp3{ color:#fd6a6a;}
.goodwin .select_area .et_list ul li p em.tp4{ color:#44BF61;}
.goodwin .select_area .et_list ul li i{ width:9px; height:9px; background:url(../Image/dzq/arrow.png) center bottom no-repeat; margin-top:5px; display:block; clear:right; float:right}
.goodwin .select_area .et_list ul li mark{ padding:0 3px; float:right}


.goodwin .select_area .et_list div.details{  width:47%; display:none; padding:14px 10px; margin:0 auto;box-sizing:border-box; background:#f8f8f8; position:absolute; border:1px #ed3f41 solid;border-top:1px #e5e5e5 solid; margin-left:-1px;}
.goodwin .select_area .et_list div.details:after{ clear:both; content:""; height:0; display:block}
.goodwin .select_area .et_list div.details img{ float:left; display:block; border:1px #f2f2f2 solid; width:138px; height:98px;}
.goodwin .select_area .et_list div.details dl{ float:left; display:block;}
.goodwin .select_area .et_list div.details dl:first-child dt{ width:140px; height:100px;}
.goodwin .select_area .et_list div.details dl:last-child{ padding-left:15px;}
.goodwin .select_area .et_list div.details dl dd { line-height:24px; color:#666666}
.goodwin .select_area .et_list div.details dl dd em{ display:inline-block; text-align:right; width:85px; color:#999999; font-size:12px;}
.goodwin .select_area .et_list div.details dl dd strong{ color:#fd6a6a; font-style: normal; font-weight:normal}
