.hd_area .Menu { position: relative; float: left;  width: 170px;  text-align: left;  border-bottom: 2px #f75a63 solid;  background: #fcfcfc; }

.hd_area .goodwin{ width: 570px; height: 400px; padding:0px 0px 10px 10px; box-sizing:border-box; float:left;}
.hd_area .goodwin.w800 { width:800px;}
.hd_area .goodwin.null { padding-top: 100px; margin-left:100px;}
.hd_area .goodwin .tips{ clear:right; float:right; background:url(../Image/dzq/tip_icon.gif) left center no-repeat; padding-left:20px;}
.hd_area .goodwin .tips:after{ clear:both; height:0; content:""; display:block}
.hd_area .goodwin .result{ text-align:center; clear:both}
.hd_area .goodwin .result dl{ margin:0; padding:0 40px; list-style:none}
.hd_area .goodwin .result dl:after{ clear:both; height:0; display:block; content:"";}
.hd_area .goodwin .result dl dt{ font-size:18px; line-height:95px; padding:10px 0; text-align:center; margin:0 auto}
.hd_area .goodwin .result dl dd{ width:45%; box-sizing:border-box; display:inline-block; background:#eeeeee; border-radius:5px; line-height:50px; float:left; text-align:center; font-size:14px; }
.hd_area .goodwin .result dl dd a{ color:#666666; text-decoration:none}
.hd_area .goodwin .result dl dd.ok{ background:#ed1c24; float:right}
.hd_area .goodwin .result dl dd.ok a{ color:#fff;}
.hd_area .goodwin .result dl dd.ok:hover{ background-color: #F30}

.hd_area .goodwin .other dl{ padding:0 30px;}
.hd_area .goodwin .other dl dt{ text-align:center; display:block; width:100%;}
.hd_area .goodwin .other dl dd{ width:45%;background:#ed1c24;}
.hd_area .goodwin .other dl dd:hover{background:#F30;}
.hd_area .goodwin .other dl dd a{ color:#FFF}
.hd_area .goodwin .other dl dd.ok{background:#eeeeee;}
.hd_area .goodwin .other dl dd.ok:hover{background:#eeeeee;}
.hd_area .goodwin .other dl dd.ok a{color:#666666; }

.hd_area .goodwin .opr dl dt{ text-align:left; line-height:30px; padding-top:30px;}
.hd_area .goodwin .opr dl dd{ width:45%;}
.hd_area .goodwin .opr dl dd.first a,.hd_area .goodwin .opr dl dd.last a{ line-height:74px; font-size:22px; font-weight:400; background:url(../Image/dzq/select_dzq_icon.png) no-repeat; overflow:hidden; padding-left:30px;}
.hd_area .goodwin .opr dl dd.first{ background:#a26600; border-radius:5px;}
.hd_area .goodwin .opr dl dd.first a{ background-color:#ff9c00; background-position:40px 0; margin-bottom:4px; border-radius:5px; display:block; color:#fff}

.hd_area .goodwin .opr dl dd.last{ background:#a73636; border-radius:5px; float:right}
.hd_area .goodwin .opr dl dd.last a{ background-color:#f75a63; background-position: -320px 0; margin-bottom:4px; border-radius:5px; display:block; color:#fff}

.hd_area .goodwin .additional{ border-top:1px #dedede solid; background:#f8f8f8 url(../Image/dzq/additional_pic.png) left 40px no-repeat; margin:75px 0; padding:20px 20px 20px 150px;}
.hd_area .goodwin .additional dl{}
.hd_area .goodwin .additional dl dt{ font-size:16px; color:#333; line-height:50px;}
.hd_area .goodwin .additional dl dd{ font-size:14px; color:#666666; line-height:36px;}
.hd_area .goodwin .additional dl dd em{ color:#f75a63;}

.hd_area .goodwin .select_area{}
.hd_area .goodwin .select_area .top_tips{ font-size:12px;}
.hd_area .goodwin .select_area .top_tips em{ color:#ed1c24}
.hd_area .goodwin .select_area .search_area{  border: solid 5px #f2f2f2;  padding: 10px;  padding-right: 10px; margin-top:10px;}
.hd_area .goodwin .select_area .search_area:after{ clear:both; height:0; content:""; display:block}
.hd_area .goodwin .select_area .search_area p{  display: inline-block;  line-height: 28px;  width: auto;  font-size: 14px;  float: left; padding-right: 3px;}
.hd_area .goodwin .select_area .search_area select,.hd_area .goodwin .select_area .search_area input[type=text] {  padding: 3px 6px 3px 6px; border: 1px #dfdfdf solid;}
.hd_area .goodwin .select_area .search_area{ position: relative; }
.hd_area .goodwin .select_area .search_area a.btn-all {  width: 55px;border: solid 1px #ffd0d3;background: #fff2f3;color: #f15755; border-radius:4px; position: absolute; right: 45px;}

.hd_area .goodwin .select_area .et_list{ padding:10px 0; }
.hd_area .goodwin .select_area .et_list ul{ margin:0; padding:0; list-style:none; position:relative}
.hd_area .goodwin .select_area .et_list ul:after{ clear:both; display:block; height:0; content:"";}
.hd_area .goodwin .select_area .et_list ul li{ width:49%; float:left; box-sizing:border-box; background:#f8f8f8; border:1px #f8f8f8 solid; margin-bottom:10px;}
.hd_area .goodwin .select_area .et_list ul li mark{ padding:0 3px; float:right}
.hd_area .goodwin .select_area .et_list ul li:nth-of-type(even){ float:right; margin-right:0;}
.hd_area .goodwin .select_area .et_list ul li:hover{ border:1px #ed3f41 solid;}
.hd_area .goodwin .select_area .et_list ul li.selected{ background:#f8f8f8 url(../Image/eTicket/corner-right.png) top right no-repeat; border:1px #ed3f41 solid}
.hd_area .goodwin .select_area .et_list ul li p{ font-size:14px; padding:6px 8px; color:#333333}
.hd_area .goodwin .select_area .et_list ul li p.date{ font-size:12px; color:#b5b5b5;}
.hd_area .goodwin .select_area .et_list ul li p.date strong{ color:#fd6a6a; font-weight:normal}
.hd_area .goodwin .select_area .et_list ul li p em{ font-size:12px;}
.hd_area .goodwin .select_area .et_list ul li p em.tp1{ color:#fda000;}
.hd_area .goodwin .select_area .et_list ul li p em.tp2{ color:#2e7dc6;}
.hd_area .goodwin .select_area .et_list ul li p em.tp3{ color:#fd6a6a;}
.hd_area .goodwin .select_area .et_list ul li i{ width:9px; height:9px; background:url(../Image/dzq/arrow.png) center bottom no-repeat; margin-top:5px; display:block; clear:right; float:right}

.hd_area .goodwin .select_area .et_list div.details{  width:47%; display:none; padding:14px 10px; margin:0 auto;box-sizing:border-box; background:#f8f8f8; position:absolute; border:1px #ffae23 solid;border-top:1px #e5e5e5 solid; margin-left:-1px;}
.hd_area .goodwin .select_area .et_list div.details:after{ clear:both; content:""; height:0; display:block}
.hd_area .goodwin .select_area .et_list div.details img{ float:left; display:block; border:1px #f2f2f2 solid; width:138px; height:98px;}
.hd_area .goodwin .select_area .et_list div.details dl{ float:left; display:block;}
.hd_area .goodwin .select_area .et_list div.details dl:first-child dt{ width:140px; height:100px;}
.hd_area .goodwin .select_area .et_list div.details dl:last-child{ padding-left:15px;}
.hd_area .goodwin .select_area .et_list div.details dl dd { line-height:24px; color:#666666}
.hd_area .goodwin .select_area .et_list div.details dl dd em{ display:inline-block; text-align:right; width:72px; color:#999999; font-size:12px;}
.hd_area .goodwin .select_area .et_list div.details dl dd strong{ color:#fd6a6a; font-style: normal; font-weight:normal}

.pages{ line-height:17px; vertical-align:middle; margin:0px 0 20px;}
.pages a{ width:17px; height:17px; display:inline-block; border:1px #cbcbcb solid; border-radius:2px; margin-right:3px; line-height:17px; text-align:center; color:#7f7f7f; margin-bottom:-5px;}
.pages a.current{ background:#a4a2a2; border:1px #a4a2a2 solid; color:#FFF}
.pages .pre,.pages .next{ /*background:url(../Image/dzq/arrows.png) no-repeat; */width: auto; padding:0 10px; height:17px; display:inline-block;}
.pages .pre{ background-position: 0 0;}
.pages .next{ background-position:-36px 0;}
.tc .btn-all,.tc .btn-all-del{ border-radius:2px; font-size:14px;}
p.no{ font-size:14px; color:#666666; padding:30px 0; margin:0 auto}

.txtlink{width: auto; border:0; background:none; overflow: visible;height: 30px;line-height: 30px;vertical-align: middle;text-align: center;font-size: 14px;cursor: pointer; margin-top: 30px; margin-right: 15px; -webkit-transition: none;-webkit-transform: none;vertical-align: bottom; color:#2e7dc6; padding-left:10px;}