
.shopTable {width: 100%;border-collapse: separate; table-layout: auto;}
.shopTable th{ /*border: solid 1px #e3e3e3; border-right:0*/ font-size:14px;}
.shopTable th:first-child{ border-left: solid 1px #e3e3e3;}
.shopTable th:last-child{ border-right: solid 1px #e3e3e3;}
.shopTable tr{border-right: solid 1px #e3e3e3; border-left: solid 1px #e3e3e3; }
.shopTable tr td{ padding: 7px 10px;}
.shopTable tr td:last-child{ border-right: solid 1px #e3e3e3;}
.shopTable td.title {padding-left: 10px;vertical-align: middle;line-height: 38px;border: solid 1px #e3e3e3; border-right:0; border-left:0; background: #f7f7f7;margin-top: 20px;text-align: left;position: relative;top: 10px;z-index: 3; padding:0px 10px;}
.shopTable tr.title td.title:last-child{ text-align:right}
.shopTable tr.title td:first-child{ border-left: solid 1px #e3e3e3;}
.shopTable td.title a{ color:#4d4d4d; text-decoration:none; cursor:pointer}
.shopTable td.title a:hover{ color:#ed1c24}

.shopTable tr.hover{}
.shopTable tr.hover td {border:solid 1px #aab8da; border-top:none; border-right:none; *border-left:none; }
.shopTable tr.hover td.title { border-bottom:none; background:#d8deeb; border: solid 1px #aab8da; border-left:0; border-right:0}
.shopTable tr.hover td.title:last-child{ border-right:solid 1px #aab8da;}
.shopTable tr.hover td.title:first-child{ border-left:solid 1px #aab8da;}
.shopTable tr.hover td:last-child{ border-right:solid 1px #aab8da;}
.shopTable tr.hover td:first-child{ border-left:solid 1px #aab8da;}
.shopTable td {font-size: 14px;}
.icon_list{ float:right; margin-top:10px;}
.newRadio-input .shoplist{ text-align:center; padding-top:10px;}
.Gform .shoplist{/* position:static*/}
.shoplist{ text-align:left; padding-top:15px; height:76px; overflow:hidden; font-size:0; line-height:0;}
.Gform ul.shoplist li:after{ display:inline;}
.shoplist li{ /*display:inline-block; */ float:left; padding:4px 10px; width:214px; border:1px #efefef solid; margin-right:15px; margin-bottom:10px; border-radius:2px; font-size: 14px; line-height:18px; text-align:left; white-space:nowrap; overflow: hidden; text-overflow:ellipsis;}
.shoplist li.selected{ border:1px #ed3f41 solid; background:url(../Image/eTicket/corner-right.png) right bottom no-repeat;}
.shoplist li:hover{ border:1px #ed3f41 solid; cursor:pointer}
.shoplist.n2 li{ width:220px}
.shoplist li.hover {border: 1px #ff8a00 solid; background: url(../Image/eTicket/corner-right_close.png) right bottom no-repeat;}
.newRadio-default .shoplist{ text-align:center;}


/*查看详情*/
.global-input6 ul{ margin-top:0;}
.global-input6 ul li{ padding:4px 5px 4px 15px;}
/*select,.selectbox{ box-sizing:content-box; padding:0; margin:0}*/
.shop-search p { line-height:26px;}

/*门店管理右侧*/
article{ background:url(../Image/eshopconfig/index-pic1.png) right 11px no-repeat; font-size:14px; line-height:22px; padding:56px 45px 10px 45px; margin-right:90px;}
article p{ width:408px; padding-bottom:30px;}
article p strong{ font-size:28.82px; color:#f75a63; padding-right:11px;}
.steps_show{ border:1px #d7d7d7 dashed; padding:30px 40px; margin-right:90px;}
.steps_show ul li{ font-size:14px; background:url(../Image/eshopconfig/steps_icon.png) no-repeat; display:inline-table; overflow:hidden; padding-top:60px; padding-right:14px; width:17%}
.steps_show ul li:after{content:url(../Image/eshopconfig/steps_divicon.png); width:14px; height:0; display:block; float:right; margin-top:-50px;}
.steps_show ul li:last-child:after{ content:""; width:0; height:0}
.steps_show ul li.steps1{ background-position:16px 0;}
.steps_show ul li.steps2{ background-position:-130px 0;}
.steps_show ul li.steps3{ background-position:-280px 0;}
.steps_show ul li.steps4{ background-position:-440px 0;}
.steps_show ul li.steps5{ background-position:-580px 0;}

.sweet_tips{padding-left: 15px;margin-left: auto;margin-right: auto; border: 1px solid #f2e6ce;background-color: #fffbf2;color: #f0ab68;font-size: 12px; padding:10px 15px; margin-bottom:20px;}
.sweet_tips a{ color:#f15755; font-weight:bold}
i.close{background: url(../Image/eshopconfig/close_icon.png) no-repeat;position: absolute;top: 10px; right:0; display: inline-block;width: 15px; height: 15px;vertical-align:middle; margin-right:10px;}
i.close:hover{ cursor:pointer; -webkit-animation:btnRotate 0.1s linear;animation:btnRotate 0.1s linear;}
@-webkit-keyframes btnRotate {
0% {transform: rotateZ(0deg);}
100% {transform: rotateZ(90deg);}
}
@keyframes btnRotate {
0% {transform: rotateZ(0deg);}
100% {transform: rotateZ(90deg);}
}

/*门店管理帮助中心*/
ul.help{ margin:0; padding:25px 45px;}
ul.help li{ float:left; display:inline-table; line-height:30px; padding:0 15px 0 0}
ul.help li:after{content:"|"; padding-left:15px}
ul.help li:last-child:after{content:"";}
ul.help li a{ color:#43a1d7; text-decoration:none}
ul.help li a:hover{ color:#ed1c24;}

/*门店弹窗*/
.popupWin{font-family:"microsoft yahei"; font-size:14px;}
/*.popupWin .Wcanal-tab-title:after{ clear:both}
.popupWin .Wcanal-tab .Wcanal-tab-title p{font-family:"microsoft yahei";color:#e8632b;font-size:12px;}
.popupWin .Wcanal-tab .Wcanal-tab-title p:last-child{ border-right:0px #dfdfdf solid;}
.popupWin .Wcanal-tab .Wcanal-tab-title p:first-child{ border-left:0px #dfdfdf solid;  padding:0 15px 0 0px; }
.popupWin .Wcanal-tab .Wcanal-tab-title p a{font-family:"microsoft yahei";color:#e8632b; font-size:14px;line-height:15px;}
.popupWin .Wcanal-tab .Wcanal-tab-title .Wcanal-tab-hover a { color:#e8632b; font-weight:bold;float: left; font-size:14px;line-height:15px;}
.popupWin .Wcanal-tab .Wcanal-tab-title .Wcanal-tab-hover{ font-size:12px;}
.popupWin .Wcanal-tab .Wcanal-tab-title p,.popupWin .Wcanal-tab .Wcanal-tab-title .Wcanal-tab-hover {background: #fff; border:0; border-right:1px #ccc solid; line-height:15px; height:15px; padding:0 15px 0 15px;}
.popupWin .Wcanal-tab .Wcanal-tab-list{ border-top:0}*/

.popupWin .view{ margin-top:20px;}
.popupWin .view ul{ margin:0; padding:0; list-style:none}
.popupWin .view ul li{ display:inline-block; box-sizing:border-box; width:49%; padding:5px 0; vertical-align:top}
.popupWin .view ul li label{ width:150px; text-align:right; display:inline-block; float:left}
.popupWin .view ul li p{ display:block; float:left; width:61%; padding-left:10px;}
.popupWin .oneline ul li{ box-sizing:border-box; width:45%;}
.popupWin .oneline ul li label{ width:50px; text-align:left}

.popupWin .legends{ border-bottom:1px #ebebeb solid; padding:20px 0 10px 0; font-size:14px; font-weight:bold; margin-bottom:10px;}
.popupWin .colgroups{ padding:5px 0;}
.popupWin .colgroups:after{content:".";display:block;height:0;clear: both;visibility: hidden;}
.popupWin .legends span{  color:#ccc; font-weight:normal;}
.popupWin .colgroups span{ font-weight:normal;}
.popupWin .colgroups em{ font-weight:normal; width:40%; display:inline-block; padding:10px 0; padding-left:10px; border:1px #ccc solid; border-left:0; border-right:0}
.popupWin .colgroups em:first-child{ padding-left:0;width:15%;}
.popupWin .colgroups label{ width:150px; text-align:right; float:left;font-size:14px;}
.popupWin .colgroups input[type=text],.popupWin .colgroups select,.popupWin .colgroups textarea{ float:left; width:320px}
.popupWin .colgroups input[type=text]:hover,.popupWin .colgroups select:hover,.popupWin .colgroups textarea:hover{border: 1px solid #33c1ea;}
.popupWin .colgroups select{ width:332px;}
.popupWin .colgroups textarea{width:321px; height:80px;}
.popupWin .colgroups input[type=radio]{width:15px; height:15px; margin-right:3px; float:none; vertical-align:middle;}
.popupWin a.upload{ border:1px #bbbbbb solid; padding:5px 10px; color:#333; font-size:14px; border-radius:2px;}
.extra_tips{ font-size:14px; padding:10px;}
.preview{ position: absolute; top:30%; left:50%; box-shadow:1px 1px 1px 0px #ccc; border:1px #ccc solid; border-radius::2px; padding:40px; font-size:12px; width:220px; height: auto; text-align:left; color:#333; background-color:#FFF; margin-top:10px; margin-left:-33px;}

/*验证终端申请*/
.div_half{ box-sizing:border-box; width:42%; float:left; margin-right:100px; font-size:14px; margin-top:40px;}
.div_half:last-child,.div_half.last-child{ margin-right:0}
.div_half ul li{ clear:both; background-color:#f5f5f5; padding:0px 0px 0px 0px;}
.div_half ul li img{ float:left; margin-right:20px;}
.div_half ul li strong{ display:block; background-color:#fff; margin-bottom:9px; padding:20px 0 9px 0; color:#333333; font-weight:normal}
.div_half ul li span{ display:block; padding:0px 15px 10px; color:#666666;}
.div_half ul li span i{ color:#f75a63; font-style: normal; font-weight:bold}
.div_half ul li p:last-child,.div_half ul li p.last-child{ margin-top:16px}
.btn_red{ background-color:#f15755; text-align:center; color:#fff; padding:8px 38px;}
.div_half ul li:first-child{ background-color:#fff;}
/*.div_half ul li:last-child,.div_half ul li.last-child{ background-color:#fff2f3; color:#f15755; text-align:center; margin-top:26px; padding:9px 0}
*/
.div_half ul li:last-child a,.div_half ul li.last-child a{color:#f15755; text-decoration:none}

.newRadio-input .storelist{ text-align:center; padding-top:10px;}
.newRadio-input .storelist li{ display:inline-block; color:#999; padding:4px 18px; border:1px #ccc solid; margin-right:10px; margin-bottom:10px; border-radius:2px;}
.newRadio-input .storelist li.selected{ border:1px #ff8a00 solid; background:url(../Image/eTicket/corner-right.png) right bottom no-repeat;}
.newRadio-input .storelist li:hover{ border:1px #ff8a00 solid; cursor:pointer}


.newRadio-default .storelist{ text-align:center; padding-top:10px;}
.newRadio-default .storelist li{ display:inline-block; padding:4px 18px; border:1px #ff8a00 solid; margin-right:10px; margin-bottom:10px; border-radius:2px;}
.newRadio-default .storelist li.selected{ border:1px #ff8a00 solid; background:url(../Image/eTicket/corner-right.png) right bottom no-repeat;}
.newRadio-default .storelist li:hover{ border:1px #ff8a00 solid; cursor:pointer}
/*modify at 2015-07-08*/
.main-name{  padding-bottom: 0px;  border-bottom: 0px #f0f0f0 solid;  margin-bottom: 0px;}
.div_half {  box-sizing: border-box;  width: 100%; box-sizing:border-box;  float: left;   font-size: 14px;  margin-top: 0px;}
.div_half .div_half_top{ float:left;width:100%;}
.div_half .div_half_top dl.left{ float:left; margin-right:15px; }
.div_half .div_half_top dl.right{ float:left; }
.div_half .div_half_top dl.right dt{ padding-bottom:8px;}
.div_half .div_half_top dl.right dt span{ font-size:18px;}
.div_half .div_half_top dl.right dt a{ font-weight:normal;}
.div_half .div_half_top dl.right dd{ height:24px; line-height:24px;}
.div_half .div_half_table{ float:left; width:100%;}

.shop-search a i{ font-style:normal;}
.shop-search a{ float:left; height:26px; line-height:26px;}


.div_half.last-child{margin-right: 0; float:right}
.btn{min-width: 130px; display: inline-block;  overflow: visible;  padding: 0 22px;  height: 28px; box-sizing:border-box;  line-height: 28px;  vertical-align: middle;  text-align: center;  text-decoration: none;  border-radius: 3px;  -moz-border-radius: 3px;  -webkit-border-radius: 3px;  font-size: 14px;  border-width: 1px;  border-style: solid;  cursor: pointer; margin-top:45px; margin-bottom:90px;}
.btn.mt15{ margin-top:15px;}
.btn.mb0{ margin-bottom:0px;}
.btn:hover{ text-decoration:none}
.btn_primary:hover{background-color: #999ca3;border-color: #999ca3;  color: #fff;}
.btn_primary:active{background-color: #4a4e57;border-color: #4a4e57;  color: #fff;}
.btn_primary{background-color: #757982;  border-color: #757982;  color: #fff;}
.btn_del{background-color: #757982;  border-color: #d6d6d6;  color: #666766;  background-image: -moz-linear-gradient(top,#fff 0,#f3f3f3 100%);  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f3f3f3));  background-image: -webkit-linear-gradient(top,#fff 0,#f3f3f3 100%);  background-image: -o-linear-gradient(top,#fff 0,#f3f3f3 100%);  background-image: linear-gradient(to bottom,#fff 0,#f3f3f3 100%);}
.div_half .steps {line-height: 30px;  color: #666666;  font-size: 14px;  border-left: 2px #f15755 solid;  background-color: #f8f8f8; margin-top:15px; margin-bottom:15px;  padding-left: 13px;}
.div_half ul li{  clear: both;  background-color: #fff;  padding: 0px 0px 0px 0px;}
.div_half ul li.Hauto{ height:auto; min-height:inherit}
.div_half ul li span {  display: block;  padding: 0px 15px 0px;  color: #666666;}
.div_half ul li:first-child{ height:100px;}

.AppIntro{  margin:30px 0 90px 0;}
.AppIntro .download{}
.AppIntro .download:before{ content: url(../Image/eshopconfig/appicon.png); width:88px; height:88px; display:inline-block; float:left; margin-right:15px;}
.AppIntro .download dl{ float:left; display:inline-block;}
.AppIntro .download dl dt{ font-size:18px; color:#333333; line-height:1.2em; padding-bottom:15px;}
.downloadIcon:hover{background: #999ca3 url(../Image/eshopconfig/appAndroid.png) no-repeat center; height:28px; line-height:28px; padding:0px 8px; vertical-align:middle; border-radius:2px; width:126px; display:inline-block}
.downloadIcon:active{background-color: #4a4e57 url(../Image/eshopconfig/appAndroid.png) no-repeat center; height:28px; line-height:28px; padding:0px 8px; vertical-align:middle; border-radius:2px; width:126px; display:inline-block}
.downloadIcon{ background:#ed3f41 url(../Image/eshopconfig/appAndroid.png) no-repeat center; height:28px; line-height:28px; padding:0px 8px; vertical-align:middle; border-radius:2px; width:126px; display:inline-block}

.txtintro{ font-size:14px; color:#666; line-height:2em; margin-left:17px;}
.txtintro li{ height:24px; line-height:24px;}

.tbtn{ min-width: 110px; display: inline-block;  overflow: visible;  padding: 0 10px;  height: 26px; box-sizing:border-box;  line-height: 24px;  vertical-align: middle;  text-align: center;  text-decoration: none;  border-radius: 3px;  -moz-border-radius: 3px;  -webkit-border-radius: 3px;  font-size: 14px;  border-width: 1px;  border-style: solid; border:1px #d0d0d0 solid;  cursor: pointer; margin-left:20px; color:#575757; text-decoration:none}
.tbtn:hover{ text-decoration:none}
.tbtn i{ width:12px; height:12px; display:inline-block; background:url(../Image/eshopconfig/licon.png) no-repeat; overflow:hidden;}
.tbtn.btn-add{ background:#757982; border-color:#757982; color:#FFF}
.tbtn.btn-add:link{background-color: #4a4e57;border-color: #4a4e57;  color: #fff;}
.tbtn.btn-add:visited{background-color: #757982;border-color: #757982;  color: #fff;}
.tbtn.btn-add:hover{background-color: #999ca3;border-color: #999ca3;  color: #fff;}
.tbtn.btn-add:active{background-color: #4a4e57;border-color: #4a4e57;  color: #fff;}

.tbtn.btn-add i{ background-position:-1px -1px;}
.tbtn.btn-download{ background:#fff; border-color:#d1d1d1; color:#666666; text-indent:0; box-shadow:1px 1px 1px #eee;}
.tbtn.btn-download i{ background-position:-1px -15px}

#content{ display:table; height:100%; display:block}
.newRule{ padding:0px; vertical-align:middle}
.tips{ font-size:16px; text-align:center; width:80%; margin:0 auto}
.btn-group{ margin-top:45px; margin-bottom:90px;}
.info{ font-size:14px; color:#666; padding:15px 17px 30px;}
.info ul{}
.info ul:after{ clear:both; display:block; content:""; height:0;}
.info ul li{ width:50%; box-sizing:border-box; display:inline-block; float:left; line-height:24px;}
.info ul li strong{ font-weight:normal;}


/*什么是线上提领*/
.whatis{ display:none; font-size:14px;}
.tipNormal li{ list-style:disc; margin-left:15px;}

.whatisDetail{ padding:15px;}
.whatisDetail dt{ line-height:28px;}
.whatisDetail dt em{ color:#ed3f41;}
.whatisDetail dd{ background:url(../Image/DetailIcon.jpg) left no-repeat; line-height:24px; vertical-align:middle; padding-left:20px;}

.openonline{ padding:30px; line-height:24px; font-size:14px; text-align:center}


.charge{ display:none; font-size:14px;}
.chargeDetail{ padding:15px;}
.chargeDetail dt{ line-height:28px;}
.chargeDetail dt em{ color:#ed3f41;}
.chargeDetail dd{ list-style: url(../Image/DetailIcon.jpg) left no-repeat;  margin-left:15px; line-height:24px; vertical-align:middle;}

/*线上门店*/
.activeList { padding:15px 0; position:relative}
.activeList.last { padding:15px 0; border-bottom:dashed 0px #ddd;}
.activeList .activeList-icon { position:relative; float:left; width:86px; height:86px; overflow:hidden; border:solid 1px #ddd;}
.activeList .activeList-con { float:left; width:630px; margin-left:15px; font-size:14px;}
.activeList .activeList-con .title { font-size:18px; color:#333; line-height:24px; padding-bottom:10px;}
.activeList .activeList-con .title span{ background:#ed3f41; font-size:12px; border-radius:3px; color:#FFF; padding:2px 5px; font-weight:bold; position:relative; margin-left:10px;}
.activeList .activeList-con .title span i{top: 6px;  left: -12px;  border: solid transparent; height: 0px;  width: 0px; display:inline-block;  position: absolute;  pointer-events: none;  border-color: rgba(255, 255, 255, 0);  border-right-color: #ed3f41;  border-width: 4px;  margin-left: 4px;}
.activeList .activeList-con .text { height:70px; overflow:hidden; font-size:14px; color:#666; line-height:24px;}
.activeList .activeList-opr { position: absolute; right:0; top:-10px; margin-left:30px; display:inline-block; vertical-align:middle;}
.activeList .activeList-opr .opr_box{ display:block; vertical-align:middle; padding-top:5px;}
.activeList .activeList-opr .btn-all{ margin-top:0; margin-bottom:15px;}
.activeList .activeList-opr .btn-all-del{ border:0; background:#FFF;}

.what_is i{background:url(../Image/eTicket/icon_quest.png) center center no-repeat;width:14px;height:14px;display:inline-block;border-radius:14px;vertical-align:middle;margin-right:5px;padding-bottom:20px;}

.Wcanal-tab-list>.activeList{ padding-top:0;}
.charge{ display:none; font-size:14px;}
.chargeDetail{ padding:15px;}
.chargeDetail li{  list-style-image: url(../Image/DetailIcon.jpg);  margin-left:22px; line-height:24px; vertical-align:middle;}
.chargeDetail li.title{ list-style:none; margin-left:0; padding-bottom:10px;}
.chargeDetail li.title em{ color:#ed3f41;}

/*业务需求 #13326【门店管理V2.1.1】优化门店导航PC配置页*/
.SettingArea{ padding-top:30px;}
.SettingArea .SettingArea-Left{ width:520px; float:left}
.SettingArea .SettingArea-Left dl{}
.SettingArea .SettingArea-Left dl dt{ background:url(../Image/Wfx/weixin_icon.png) no-repeat; font-size:14px; line-height:24px; color:#333333; padding-left:54px; padding-bottom:10px; border-bottom:1px #e5e5e5 dashed;}
.SettingArea .SettingArea-Left dl dd{ font-size:14px; line-height:24px; padding-top:15px; position:relative}
.SettingArea .SettingArea-Left dl dd:after{ clear:both; display:block; content:""; height:0; font-size:0}
.SettingArea .SettingArea-Left dl dd i{ padding:0 3px; color:#ed3f41; font-style:normal}
.SettingArea .SettingArea-Left dl dd span{ float:left; display:block;}
.SettingArea .SettingArea-Left dl dd span.stps{ width:50px;}
.SettingArea .SettingArea-Left dl dd span.stpsContent{  /*position: absolute; padding:0 0 0 10px; height:auto;*/ width:460px;}
.SettingArea .SettingArea-Left dl dd span.stpsContent a{}
.SettingArea .SettingArea-Right{ float:right;}

.SettingArea.w1{ padding-top:0px;}
.SettingArea.w1 .SettingArea-Left{ width:800px; float:none}
.SettingArea.w1 .SettingArea-Left dl{}
.SettingArea.w1 .SettingArea-Left dl dt{ background:url(../Image/Wfx/weixin_icon.png) no-repeat; font-size:14px; line-height:24px; color:#333333; padding-left:54px; padding-bottom:10px; border-bottom:1px #e5e5e5 dashed;}
.SettingArea.w1 .SettingArea-Left dl dd{ font-size:14px; line-height:24px; padding-top:15px; position:relative}
.SettingArea.w1 .SettingArea-Left dl dd:after{ clear:both; display:block; content:""; height:0; font-size:0}
.SettingArea.w1 .SettingArea-Left dl dd i{ padding:0 3px; color:#ed3f41; font-style:normal}
.SettingArea.w1 .SettingArea-Left dl dd span{ float:left; display:block;}
.SettingArea.w1 .SettingArea-Left dl dd span.stps{ width:50px;}
.SettingArea.w1 .SettingArea-Left dl dd span.stpsContent{  /*position: absolute; padding:0 0 0 10px; height:auto;*/ width:600px;}
.SettingArea.w1 .SettingArea-Left dl dd span.stpsContent a{}
.SettingArea.w1 .SettingArea-Left dl dd.first{ font-size:14px; line-height:24px; padding-top:0px; position:relative}

#phone { position: absolute; z-index:3; left:0; padding-bottom:70px; width:342px;height:auto; overflow: hidden; border: solid 1px #ddd; border-radius: 15px;}
.shopBoxView_iphone { position:absolute; top:20px; right:0;}
#phone:after { position:absolute; bottom:15px; left:50%; margin-left:-20px; width:40px; height:40px; border-radius:50%; border:solid 2px #ddd; background:#fff; content:"";}
#phone .phonetop { width:100%; height:70px; overflow:hidden; position:relative;}
#phone .phonetop:after { position:absolute; left:50%; margin-left:-44px; top:50%; margin-top:-18px; width:80px; height:36px; background:url(../Image/icon-shop2.png) no-repeat -20px -20px; content:"";}
#phone .phonetitle { float:left; margin-left:11px; width:320px; height:64px; overflow:hidden; background:#22292c url(../Image/iphone_bg3.png) no-repeat center 0px; text-align:center; line-height:82px; cursor:pointer;}
#phone .phonetitle span { display:block; margin:0 70px; color:#fff; font-size:18px; text-align:center;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#phoneCon {width:320px; overflow:hidden; margin:0 0 0 10px; float:left;border:solid 1px #ddd;}
#phone {float:left; z-index:3; left:0; padding-bottom:70px; width:342px;height:auto; border: solid 1px #ddd; border-radius: 15px;position: relative;margin-bottom: 30px;}

.pContent{ background:#fff; width:320px;  box-sizing:border-box}
/*门店导航*/
.content h1{ font-size:16px; color:#333333; font-weight:normal; line-height:44px; text-align:center;}
.selectList{  line-height:44px; color:#666; padding:0 6.75%; font-size:0}
.selectList select{ font-size:14px; outline:none; border:0; width:25%;display:inline-block; overflow:hidden; border-right:1px #eeeeee solid;   box-sizing:border-box; margin-left:25px; border-radius:0;-webkit-appearance:none; background:url(../Image/eshopconfig/selectArrow.png) right center no-repeat; background-size:auto 100%}
.selectList select:first-child{ margin-left:0;}
.selectList select:last-child{ width:30%; border-right:0;}
.noticeArea{}
.ntitle { background:#f6f6f6 url(../Image/eshopconfig/titleEditLine.png) center repeat-x; line-height:40px; text-align:center;  border-bottom: 1px #eeeeee solid; }
.ntitle.noborder{ background-image:none; background-color:#f6f6f6; line-height:40px; text-align:center}
.ntitle span{ background:#f6f6f6; margin:0 auto; font-size:16px; color:#666; padding:0 10px;}
.ntitle em{ color:#ddd}
.noticeArea dl{ display:block; clear:both; border-bottom:1px #eeeeee solid; padding:10px 6.75%;}
.noticeArea dl:after{ clear:both; height:0; display:block; content:""}
.noticeArea dl dt{ float:left; width:80%; border-right:1px #eee solid; padding-right:30px; box-sizing:border-box;}
.noticeArea dl dd{ float:right; width:20%; margin:0 auto; text-align:center; position:relative;}
.noticeArea dl dd em{color:#999; padding-top:5px;}
.sp .ico {width: 40px;height: 40px;border-radius: 3px;margin: 0px auto;position: relative; margin-bottom:-10px;}
@-webkit-keyframes ico
{
	0%{-webkit-transform:translate(0,0px);}
	25%{-webkit-transform:translate(0,-10px);}
	50%{-webkit-transform:translate(0,-8px);}
	75%{-webkit-transform:translate(0,0px);}
	100%{-webkit-transform:translate(0,0px);}
}
.ico {width: 40px;height: 40px;border-radius: 3px;margin: 0px auto;position: relative; }
.ico span {height: 40px;width: 29px;display: block;position: relative;margin: 0 auto;z-index:30; background:url(../Image/eshopconfig/locationarrow.png) center no-repeat; background-size:auto 100%; }
.ico.sp span {height: 40px;width: 29px;display: block;position: relative;margin: 0 auto;z-index:30; background:url(../Image/eshopconfig/locationarrow_sp.png) center no-repeat; background-size:auto 100%; -webkit-animation: ico 1s infinite linear;  -moz-animation: ico 1s infinite linear;  -o-animation: ico 1s infinite linear;  animation: ico 1s infinite linear;}
.long_circle{   width: 20px;
  height: 4px;
  border-radius: 50%;
  border: 2px #85d744 solid;
  display: block;
  z-index: 5;
  margin: 0 auto;
  text-align:center;
  margin-bottom:10px;}
.cnt_title{ color:#000; font-size:14px;}
.cnt_title em{ color:#999; font-size:14px; padding-left:20px;}
.cnt_address{ font-size:12px; color:#999}
.cnt_tel{ font-size:12px; color:#000}
.Gform h3{font-size: 14px;    color: #333333;    border-left: 5px #ed3f41 solid;    line-height: 18px;    margin-bottom: 3px;    padding-left: 10px;}

.Gform .Ginput .switch.hover .newRadio-default{ float:none;}
.hidelayer{ display:none;}
/*.tip{ width:200px; display:none; background-color:#fff; position: absolute; z-index:9999; margin-left:-19px; margin-top:15px; box-shadow: 1px 1px 1px 0px #ccc; border: 1px #ccc solid; padding:10px;white-space: normal; }
.tip::before{position: absolute;left: 10%;margin-left: 15px;top: -10px;width: 18px;height: 10px;background:url(../Image/icon-shop2.png) no-repeat -60px 0;content: "";}*/
.hidelayer1{ display:none;}
.sweet_tips2{ clear:both; border:0; margin:0; padding:4px 0 0; background-color:transparent; color:#F00; font-size:12px; line-height:18px;}
.hidelayer .shoplist li{border: 1px #ccc solid;}
.hidelayer .storelist li{border: 1px #ccc solid;}
.js_extend_one,.js_extend,.js_extend2{font-size: 14px;font-weight: bold;color: #ff8a00;}
.js_extend_one i,.js_extend i,.js_extend2 i{background: url(../Image/icon-form.png) -363px 0 no-repeat; font-size: 14px;font-weight: bold;color: #ff8a00;width: 11px;height: 6px; position: absolute;  top: 6px; right:-15px;}
.js_extend_one i.active,.js_extend i.active,.js_extend2 i.active{background:url(../Image/icon-form.png) -363px -10px no-repeat;}
.hidelayer{ height:auto;}
.hidelayer:after{ clear:both; content:""; height:0; display:block;}
.storelist li.hover {  border: 1px #ff8a00 solid; background: url(../Image/eTicket/corner-right_close.png) right bottom no-repeat;}

.notice{ background:#fff8ef; font-size:12px; height:30px; line-height:30px; color:#999; padding:0 10px; margin:15px auto;}
.notice:before{ content:""; background:url(../Image/hongbao/hongbao_icon.png) -5px -5px no-repeat; width:20px; height:18px; margin-right:10px; display:inline-block; vertical-align: middle;}
.notice i{ background:url(../Image/eshopconfig/closeBtn.png) no-repeat; margin-top:10px; width:20px; height:20px; float: right; display:inline-block; vertical-align: middle;}
.notice i:hover{ cursor:pointer}


.editModel{ position:relative}
.editModel .mask{ z-index:-1; position:absolute; top:0; left:0; width:320px; height:100%; background:rgba(0,0,0,0.6);}
.editModel:hover{ cursor:pointer}
.editModel:hover .mask{ display:block; z-index:9999; color:#FFF; font-size:14px; text-align:center; vertical-align:middle;}
.editModel:hover .mask a{ color:#FFF; line-height:24px;}
.editModel:hover .mask .editOpr{  vertical-align:middle; display:block; margin-top:200px;line-height:18px;}
.editModel:hover .mask .editOpr i img{ width:100px; height:100px; display:block; margin:10px auto;}

.empty{ background:#f8f8f8; display:block; padding:115px 0 167px 0; z-index:9999; color:#666666; font-size:14px; text-align:center; vertical-align:middle;}
.editModel > .empty .mask{ z-index:-1}

.Gform .Ginput .extend label{ float:left; text-align: left; padding:0;  cursor: pointer;  margin-right: 20px;}

.extendspan{background:#FFF; float:right; vertical-align:middle; line-height:25px}
.fixBtn{position:fixed; text-align:center; background:rgba(0,0,0,0.5); width:100%; bottom:0; left:0; right:0; z-index:9999; margin:0 auto; padding:0; height:auto}
.fixBtn .btn-all,.fixBtn .btn-all-del{ margin:20px;}
/*2015-09-17*/
    /*验证成功*/
.yz_success_tc{margin-left:-200px;line-height:30px;padding-left:67px;background: url(../Image/start_icon.png) no-repeat;
background-position:30px 0px;}
.yz_success_tc  p{text-align:left;color:#333;font-size:16px}
   /*账号金额不足*/
.balance_short_tc{padding-left:50px;margin-left:-175px;background: url(../Image/sips_ans.png) no-repeat;background-position:12px 10px;}
.balance_short_tc .balance_p1{font-size:16px;color:#333;line-height:30px;padding-top:10px}
.balance_short_tc .balance_p2,.balance_short_tc .balance_p3{font-size:14px;color:#999;line-height:24px;
padding-top:10px}
.balance_short_tc .balance_p3{padding:0px 0px 10px 0px}
.balance_short_tc .balance_p3 span{color:#ed3f41;font-weight:700}

.js_case{ position:relative}
.showCase{ position:absolute; display:none; top:70px; right: 75px; background:#FFF; border:1px #ccc solid; border-radius:3px; padding:3px; z-index:1000;}
/* 多米收单提示浮窗 */
.tc_step1{position:fixed;top:4px;left:16%;z-index:130;width:440;height:209px;}
.cover_bj{width:100%;height:100%;background:#000;opacity:0.6;position:absolute;top:0px;left:0px;z-index:120;filter:alpha(opacity=60)}
.hide_cont{display:none}
.more_filter { vertical-align:middle;font-size:12px;line-height:28px;padding-right:10px;background: url(../Image/moreArrow.png) right no-repeat;float:right;color:#2e7dc8;}
.more_filter.active {vertical-align:middle;line-height:28px;padding-right:10px;background: url(../Image/moreArrow_active.png) right no-repeat;}
.extMode{display:block}

