#main{ width:100%;}
.bgfafafa{ background-color:#fafafa;}
.train_main_content{ margin:0 auto; width:100%;}
.t_level0_content,.t_level1_content,.t_level2_content,.t_level3_content{ width:1100px; margin:0 auto}

/*t_level0*/
.t_level0{ background-color:#fafafa;}
.t_level0:after{content: "."; display: block;height: 0; clear: both; visibility: hidden;}
.t_level0 ul{ margin:0; padding:0; list-style:0;}
.t_level0 ul li{ display:inline-block; float:left; width:320px; text-align:center; height:60px; line-height:60px; font-size:16px}
.t_level0 ul li i.icon1,.t_level0 ul li i.icon2{ width:37px; height:37px; display:inline-block; vertical-align:middle; background:url(../Image/trainer/train_icon.png) no-repeat;}
.t_level0 ul li i.icon1{ background-position:0 0}
.t_level0 ul li i.icon2{ background-position:0 -78px}
.t_level0 ul li a{ color:#666666}
.t_level0 ul li a:hover{ color:#ffa811; text-decoration:none}
.t_level0 ul li.current{ background-color:#f5f5f5;}
.t_level0 ul li.current i.icon1{ background-position:0 -38px}
.t_level0 ul li.current i.icon2{ background-position:0 -118px}

/*本期简介t_level1*/
.t_level1{ padding:20px 0 40px 0; border:0; border-top:1px #ececec solid; border-bottom:1px #f2f1f1 solid; background-color:#FFF;}
.t_level1:after{content: "."; display: block;height: 0; clear: both; visibility: hidden;}
.t_level1 h2{ font-size:24px;}
.t_level1 .t_level1_left{ float:left; border-right:1px #eeeeee solid; width:68%; margin:20px 0 20px 36px; padding-bottom:20px;}
.t_level1 .t_level1_left .t_level1_left_l{float:left;}
.t_level1 .t_level1_left .t_level1_left_l img{ border:1px #dddddd solid; width:118px; height:158px;}

.t_level1 .t_level1_left .t_level1_left_r ul{ padding-left:36px;}
.t_level1 .t_level1_left .t_level1_left_r ul li{ font-size:14px; padding:10px 20px 20px 130px;}
.t_level1 .t_level1_left .t_level1_left_r ul li>span{ font-size:16px; font-weight:bold; display:block; padding-bottom:6px;}
.t_level1 .t_level1_left .t_level1_left_r ul li div{ color:#ed1d26; padding:3px 0;}
.t_level1 .t_level1_left .t_level1_left_r ul li div span{ font-weight:bold; color:#666666}
.t_level1 .t_level1_left .t_level1_left_r ul li.class_list div{float:left; display:inline-block; width:240px; padding-left:16px; padding-bottom:20px; background:url(../Image/trainer/consult_icon.png) no-repeat; font-size:12px;}
.t_level1 .t_level1_left .t_level1_left_r ul li.class_list div h6{ font-weight:bold; color:#666666;}

.t_level1 .t_level1_left dl.t_level1_left_r_list{ padding-left:37px; float:left; color:#666666;}
.t_level1 .t_level1_left dl.t_level1_left_r_list dt{ font-size:16px; font-weight:bold; padding-bottom:20px;}
.t_level1 .t_level1_left dl.t_level1_left_r_list dd{ background:url(../Image/trainer/consult_icon.png) no-repeat; padding:0 0 20px 20px; width:240px; display:inline-table; font-size:12px;}
.t_level1 .t_level1_left dl.t_level1_left_r_list dd span{ display:block; font-weight:bold; padding-bottom:5px; font-size:14px;}

.t_level1 .t_level1_right{ float:left; padding-left:36px; padding-top:30px}
.t_level1 .t_level1_right ul{ margin:0; padding:0; list-style:none}
.t_level1 .t_level1_right ul li{ padding:10px 0; font-size:14px; line-height:20px;}
.t_level1 .t_level1_right ul li span{ display:block;}
.t_level1 .t_level1_right ul li:first-child span{ font-weight:bold; font-size:14px;}
.t_level1 .t_level1_right ul li.c_yellow{ color:#ffa811; font-size:18px;}
.t_level1 .t_level1_right ul li.c_yellow span{ color:#666666; font-size:14px;}
.t_level1 .t_level1_right .btn{  padding:6px 23px;  font-size:16px; border-radius:4px;}
.t_level1 .t_level1_right .yellow{background-color:#ed1c24;color:#FFF;}
.t_level1 .t_level1_right .gary{ border:1px #dddddd solid; background-color:#f5f5f5; color:#666666; margin-right:23px;}
.t_level1 .t_level1_right ul.class{ margin:0; padding:0; list-style:none}
.t_level1 .t_level1_right ul.class li{font-size:14px; line-height:0px}
.t_level1 .t_level1_right ul.class li:first-child span{ font-weight:bold; font-size:16px; padding-bottom:20px}
.t_level1 .t_level1_right ul.class li:last-child{ line-height:50px;}
.t_level1 .t_level1_right ul li.c_yellow{ color:#ffa811; font-size:18px;}
.t_level1 .t_level1_right ul li.c_yellow span{ color:#666666; font-size:14px;}

/*培训预告t_level2*/
.t_level2{ padding:30px 0 ;}
.t_level2 h2{ line-height:36px; padding:10px 0}
.t_level2 .t_level2_table{ border-top:3px #e5e5e5 solid;}
.t_level2 .t_level2_table table.table {width:100%;font-size:16px; color:#666666;}
.t_level2 .t_level2_table table.table thead th{ font-size:16px;vertical-align: middle;background-color:#f5f5f5;font-weight:700;height:51px;line-height:51px; text-align:center}
.t_level2 .t_level2_table table.table tbody{ background-color:#FFF}
.t_level2 .t_level2_table table.table tbody tr{ height:46px; font-size:14px; border:1px #f3f3f3 solid; border-top:0; text-align:center;}
.t_level2 .t_level2_table table.table tbody tr td.high_light{ color:#ffa811;}
.t_level2 .t_level2_table table.table tbody tr:first-child td:first-child{ background:url(../Image/trainer/new_icon.png) no-repeat;}

/*往期回顾t_level3*/
.t_level3{ padding-top:20px;}
.t_level3 h2{ line-height:36px; padding:10px 0}
.t_level3 span.tips{ display:inline;}
.oto_ask .srol{ margin-left:0;}
.oto_ask li {position: relative;float: left;margin: 0 90px 0 0;width: 190px;height: 302px;}
.oto_ask li:nth-child(4){ margin-right:0}
.t_level3 .searchbox{float:right;border:1px #dddddd solid; border-radius:18px; position:relative;vertical-align:bottom; margin-top:10px; background-color:#FFF}
.t_level3 .searchbox input[type=search]{ padding:5px 15px; width:230px; font-size:16px;}
.t_level3 .searchbox input[type=submit].searchBtn{ background:url(../Image/trainer/search_icon.png) no-repeat; width:24px; height:24px; vertical-align:top; margin-right:15px; margin-top:5px;}
.t_level3 .searchbox input[type=search]:hover,.t_level3 .searchbox input[type=submit].searchBtn{ outline:none;}

.t_level3 .page{ text-align:center;}
.t_level3 .page a{ color:#666666;}
.t_level3 .page a:hover{ color:#ffa811;}
.t_level3 .zone{ border-left:1px #dddddd solid; border-top:3px #e5e5e5 solid;}
.t_level3 .zone:after{content: "."; display: block;height: 0; clear: both; visibility: hidden;}
.t_level3 .zone .zone_content{float:left;width:49.9%;height:250px; overflow:hidden; border-right:1px #dddddd solid; border-bottom:1px #dddddd solid; background-color:#FFF}
.t_level3 .zone .zone_content .zone_content_left{ float:left;}
.t_level3 .zone .zone_content .zone_content_left img{ margin:29px 37px; width:120px; height:159px;}
.t_level3 .zone .zone_content .zone_content_right{ padding:29px 0;}
.t_level3 .zone .zone_content .zone_content_right ul li{ font-size:14px; line-height:24px;}
.t_level3 .zone .zone_content .zone_content_right ul li span{ font-weight:bold;}
.t_level3 .zone .zone_content .zone_content_right ul li:last-child{ display:inline-block;}
.t_level3 .zone .zone_content .zone_content_right ul li:last-child span{ display:block; float:left}
.t_level3 .zone .zone_content .zone_content_right ul li ol{ float:left; display:block}
.download_link{ padding-top:20px;}
.download_link a{ color:#ffa811; text-decoration:underline;background:url(../Image/trainer/downlaod.gif) left center no-repeat; padding-left:25px;}
.download_link a:first-child{ padding-right:30px;}

.t_level1 h2.gray{ color:#666666}
.ml0{ margin-left:0;}
.oto_tit{line-height: 120px; font-size:24px;color: #666666;}


