@charset "utf-8";
/* CSS 视觉码 */
/*
1- 视觉码 缩写wqr
.wrq-con {}
*/
.wqrAdd-nav { margin-top:20px;}
.wqrAdd-nav-size,.wqrAdd-nav-color,.wqrAdd-nav-rotate,.wqrAdd-nav-gen,.wqrAdd-nav-radio,.wqrAdd-nav-square,.wqrAdd-nav-effect {height:50px;float:left; border:solid 1px #acacac;}
.wqrAdd-nav-size { width:108px;border-right:none;background:url(../Image/viewqr/drop_down_arrows.png) no-repeat right center;}
.wqrAdd-nav-color { width:108px; border-right:none;}
.wqrAdd-nav-rotate { width:108px; border-right:none;}
.wqrAdd-nav-gen { width:108px;background:url(../Image/viewqr/drop_down_arrows.png) no-repeat right center;}
.wqrAdd-nav-radio { width:148px; border-right:none;background:url(../Image/viewqr/drop_down_arrows.png) no-repeat right center;}
.wqrAdd-nav-square { width:148px; border-right:none;background:url(../Image/viewqr/drop_down_arrows.png) no-repeat right center;}
.wqrAdd-nav-effect { width:148px; background:url(../Image/viewqr/drop_down_arrows.png) no-repeat right center;}
.wqrAdd-nav-title { width:100%; height:100%; line-height:50px; font-size:14px; text-align:left; cursor:pointer;}
.wqrAdd-nav-title i { width:30px; height:35px; display:block; float:left; margin:15px 5px 0 15px;}
.wqrAdd-nav-list { width:100%; height:0px; overflow:hidden; display:none;border:solid 1px #acacac; border-bottom:none; float:left; margin-left:-1px; background:#fff; position:relative; z-index:301;}
.wqrAdd-nav-list dd { width:100%; height:40px; overflow:hidden; border-bottom:solid 1px #acacac;line-height:40px; font-size:14px; text-align:left; cursor:pointer;}
.wqrAdd-nav-list dd i { width:30px; height:35px; display:block; float:left; margin:10px 5px 0 15px;}
.wqrAdd-nav-btn {width:190px; height:50px; overflow:hidden; float:left;margin:0 10px;}
.wqrAdd-nav-btn .btn-wqrupdata { color:#fff; font-size:18px; text-align:center; display:block; line-height:50px; background:#f38e81;border:solid 1px #f38e81;}
.wqrAdd-nav-btn .disable {background:#d3d3d3;color:#aaa; font-size:18px; text-align:center; display:block; line-height:50px;border:solid 1px #d3d3d3;}
.icon-wqr1 {background:url(../Image/viewqr/place_icons.png) no-repeat 0 0;}
.icon-wqr2 {background:url(../Image/viewqr/place_icons.png) no-repeat 0 -70px;}
.icon-wqr3 {background:url(../Image/viewqr/place_icons.png) no-repeat 0 -140px;}
.icon-wqr4 {background:url(../Image/viewqr/place_icons.png) no-repeat 0 -210px;}
.icon-wqr5 {background:url(../Image/viewqr/place_icons.png) no-repeat 0 -280px;}
.icon-wqr6 {background:url(../Image/viewqr/place_icons.png) no-repeat 0 -350px;}
.icon-wqr7 {background:url(../Image/viewqr/place_icons.png) no-repeat 0 -420px;}
.icon-wqr8 {background:url(../Image/viewqr/place_icons.png) no-repeat 0 -490px;}
.icon-wqr9 {background:url(../Image/viewqr/place_icons.png) no-repeat 0 -560px;}
.icon-wqr10 {background:url(../Image/viewqr/place_icons.png) no-repeat 0 -630px;}
.icon-wqr11 {background:url(../Image/viewqr/place_icons.png) no-repeat 0 -700px;}
.icon-wqr12 {background:url(../Image/viewqr/place_icons.png) no-repeat 0 -770px;}
.icon-wqr13 {background:url(../Image/viewqr/place_icons.png) no-repeat 0 -840px;}
.icon-wqr14 {background:url(../Image/viewqr/place_icons.png) no-repeat 0 -980px;}
.icon-wqr15 {background:url(../Image/viewqr/place_icons.png) no-repeat 0 -1050px;}
.icon-wqr16 {background:url(../Image/viewqr/place_icons.png) no-repeat 0 -1190px;}
.icon-wqr17 {background:url(../Image/viewqr/place_icons.png) no-repeat 0 -1120px;}
.icon-wqr18 {background:url(../Image/viewqr/place_icons.png) no-repeat 0 -1260px;}

.wqrAdd-preview { margin-top:20px; background:#f4f4f4; padding:20px;}
.wqrPreview-img { text-align:center;}
.jcrop-tracker img { width:100%; height:100%;}
.imgBg { background:#000; width:100%; height:100%; position:absolute;}
.imgBg img { left:0; top:0;}


.wqr {
}

.wqr .wqr-list .list-h{
  font:normal 14px/2em 'microsoft yahei', Helvetica, sans-serif;
}
.btn-all-gray{
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  color: #333;
  text-indent: 0;
  background: #d1d1d1;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 28px;
  border: none;
  font-size: 14px;
  font-weight: bold;
}
.wqr .wqr-list li{
  position:relative;
  float:left;
  width:180px;
  height:255px;
  text-align: left;
}
.wqr .wqr-list .date{
	height:2em;
	line-height:2em;
}
.wqr .wqr-list .other{
	height:2em;
	line-height:2em;
}
.wqr .wqr-list .download{
	position:absolute;
	right:0px;;
	width:71px;
	height:25px;
	background:url(../Image/viewqr/wqr_download.png) no-repeat left top;
	cursor:pointer;
}
.wqr .wqr-list .download:hover{
	background-position:0px -25px;
}

/*创建step*/
.wqr-head-step{
	width:1098px;
	padding: 10px 0 15px 0;
	margin-bottom: 15px;
	text-align: center;
	background-color:#f7f7f7;
	border: 1px solid #e3e3e3;
	border-top:none;
}
.wqr-head-step ul li{
	display:inline-block;
	*display:inline;*zoom:1;
	margin-left:35px;
	padding-left:30px;
}
.wqr-head-step ul li.first {
	background: url(../Image/viewqr/first.png) no-repeat 0px 8px; 
}
.wqr-head-step ul li.first-ok, .wqr-head-step ul li.done-ok{
	background: url(../Image/viewqr/step_ok.png) no-repeat 0px 8px; 
}
.wqr-head-step ul li.second {
	background: url(../Image/viewqr/second.png) no-repeat 0px 8px; 
}
.wqr-head-step ul li.second-current {
	background: url(../Image/viewqr/second_currrent.png) no-repeat 0px 8px; 
}
.wqr-head-step ul li.third {
	background: url(../Image/viewqr/third.png) no-repeat 0px 8px; 
}
.wqr-head-step ul li.third-current {
	background: url(../Image/viewqr/third_current.png) no-repeat 0px 8px; 
}
.wqr-head-step ul li h1 {
	font-size: 20px;
	line-height: 30px;
	color:#bbb;
}
h1.fst,h1.fst a {
	color: #2f2f2f !important
}
h2.step-sub{
	text-align: left;
	font-style: normal;
	color: #2f2f2f;
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 15px;
	background: url(../Image/viewqr/new_h2_bg.png) repeat-x bottom;
	margin-bottom: 20px;
}
.wqr-type-area{
	width:100%;
}

.back-next {
	position: absolute;
	right: 0px;
	width: 322px;
	top: -11px;
}
.back-next a{
	text-decoration:none;
}
.back {
	float: left;
	margin-right: 5px;
}
.back-right{
	float:right;
}
.back a,.back-right a {
	display: inline-block;
	padding: 0 12px;
	color: #26b4eb;
	line-height: 44px;
	font-size: 14px;
}
.back a:hover ,.back-right a:hover{
	background-color: #f7f7f7;
}
.next,.next-disable {
	float: left;
}

.next a,.next-disable a{
	display: inline-block;
	width: 124px;
	color: #FFFFFF;
	background-color: #f38e81;
	line-height: 44px;
	font-size: 18px;
	text-align: center;
    border-radius: 3px;
}
.next-disable a{
	background-color:#ccc;
}
.next a:hover{
	background-color: #ec7e70;
}
.normal a{
	float:right;
}
.normal a{
	display: inline-block;
	padding:0 10px;
	width: 100px;
	color: #26b4eb;
	line-height: 44px;
	font-size: 14px;
	text-align: center;
    border-radius: 3px;
}
.normal a:hover{
	background-color:#f7f7f7;
}
.type-boxes-wrap{
	margin:0 auto;
	text-align:center;
}
.type-boxes{
	/*float: left;*/
	display: inline-block;
	*display:inline;*zoom:1;
	width:230px;
	margin-right: 48px;
	cursor:pointer;

}
.type-boxes a{
	display:block;
	width:222px;
	height:482px;
	background: url(../Image/viewqr/p_1.png) no-repeat left bottom;
	cursor:pointer;
}
.type-boxes a.wechat{
	background-image:url(../Image/viewqr/p_2.png);
}
.type-boxes a.text{
	background-image:url(../Image/viewqr/p_3.png);
}
.type-boxes a.wechat:hover{
	background-image:url(../Image/viewqr/p_2_hover.png);
}
.type-boxes a.text:hover{
	background-image:url(../Image/viewqr/p_3_hover.png);
}
.type-boxes a:hover{
	background-image:url(../Image/viewqr/p_1_hover.png);
	text-decoration:none;
}
	
	
.type-boxes h3{
	text-align: center;
	color: #ff0080;
	font-size: 18px;
}


.new-contentarea {
	width: 100%;
	margin: 0 auto;
}
.edit-left {
	width:59%;
	float:left;
	margin-bottom: 50px;

}
.edit-left .tip-p{
	position:absolute;
	top:4px;
	left:7px;
}
.edit-left h3 {
	padding-bottom: 16px;
	margin: 25px 0 25px 0;
	font-size: 18px;
	color: #404040;
	line-height: 24px;

}
.txt-5 {
	width: 95%;
	padding: 0 5px 0 10px;
	margin: 5px 5px 5px 0px;
	border: 1px solid #bcc5cf;
	height: 46px;
	color: #404040;
	font-size: 18px;
	margin-bottom: 14px;
}
.txt-area-5 {
	width: 89%;
	padding: 0px 30px 0px 10px;
	border: 1px solid #bcc5cf;
	height: 170px;
	color: #404040 ;
	font-size: 18px;
	margin-bottom: 14px ;
	resize: none;
}
.edit-right {
	width: 398px;
	float: right;
	margin-bottom: 50px;
	margin-top: 12px;
}

.phone-bg img{
	width:100%;
}
.preview-area{
	position:absolute;
	width:341px;
	height:560px;
	top:79px;
	left:28px;
	background-color:#fff;
}
.url-preview{
	position: absolute;
	padding-top: 1px;
	width: 226px;
	text-align: left;
	height: 27px;
	top: 27px;
	left: 17px;
	background: #838382;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	z-index: 2;
	overflow: hidden;
}
.text-preview{
	padding: 3px;
	width: 333px; 
	height: 552px;
	font-size: 16px;
	border: 1px solid #ccc;
	word-wrap:break-word;
}
.default-img .img-p{
	position:absolute;
}
.default-img .txt-p{
	position:absolute;
	top:70px;
    left: 190px; 
	width: 150px; 
	color: #32a8f3;
	font-size: 18px;
	z-index: 0;
}
a.upload-img{ 
	display: inline-block;
	margin-bottom: 10px;
	padding: 0 54px;
	height: 57px;
	line-height: 57px;
	font-size: 20px;
	color: #FFFFFF;
	background-color: #f38e81;
	border-radius: 3px;
	text-decoration:none;
	cursor:pointer;
}
a.upload-img:hover{
	background-color: #ec7e70;
}
.wqr-imgok{
	margin:40px auto 0px;
	text-align:center;
	width:260px;
	height:260px;
}
.wqr-imgok img{
	width:100%;
}
.imgok-btn{
	margin:20px auto 0px;
	text-align:center;
}
.imgok-btn a{
	display: inline-block;
	padding: 0 12px;
	margin-right:10px;
	width: 144px;
	color: #FFFFFF;
	background-color: #f38e81;
	line-height: 44px;
	font-size: 20px;
	text-align: center;
    border-radius: 3px;
	text-decoration:none;
}
/*
.imgok-btn a.back{
	color: #26b4eb;
	line-height: 44px;
	font-size: 20px;
	background-color:#fff;
}
.imgok-btn a.back:hover{
	background-color:#f7f7f7;
}
*/
.imgok-btn a:hover{
	background-color:#ec7e70;
}

/* jquery.Jcrop.min.css v0.9.12 (build:20130126) */
.jcrop-holder{direction:ltr;text-align:left; margin:0 auto; overflow:hidden;}
.jcrop-vline,.jcrop-hline{background:#FFF url(../Image/Jcrop.gif);font-size:0;position:absolute;}
.jcrop-vline{height:100%;width:1px!important;}
.jcrop-vline.right{right:0;}
.jcrop-hline{height:1px!important;width:100%;}
.jcrop-hline.bottom{bottom:0;}
.jcrop-tracker{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;height:100%;width:100%;}
.jcrop-handle{background-color:#333;border:1px #EEE solid;font-size:1px;height:7px;width:7px;}
.jcrop-handle.ord-n{left:50%;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-s{bottom:0;left:50%;margin-bottom:-4px;margin-left:-4px;}
.jcrop-handle.ord-e{margin-right:-4px;margin-top:-4px;right:0;top:50%;}
.jcrop-handle.ord-w{left:0;margin-left:-4px;margin-top:-4px;top:50%;}
.jcrop-handle.ord-nw{left:0;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-ne{margin-right:-4px;margin-top:-4px;right:0;top:0;}
.jcrop-handle.ord-se{bottom:0;margin-bottom:-4px;margin-right:-4px;right:0;}
.jcrop-handle.ord-sw{bottom:0;left:0;margin-bottom:-4px;margin-left:-4px;}
.jcrop-dragbar.ord-n,.jcrop-dragbar.ord-s{height:7px;width:100%;}
.jcrop-dragbar.ord-e,.jcrop-dragbar.ord-w{height:100%;width:7px;}
.jcrop-dragbar.ord-n{margin-top:-4px;}
.jcrop-dragbar.ord-s{bottom:0;margin-bottom:-4px;}
.jcrop-dragbar.ord-e{margin-right:-4px;right:0;}
.jcrop-dragbar.ord-w{margin-left:-4px;}
.jcrop-light .jcrop-vline,.jcrop-light .jcrop-hline{background:#FFF;filter:alpha(opacity=70)!important;opacity:.70!important;}
.jcrop-light .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#000;border-color:#FFF;border-radius:3px;}
.jcrop-dark .jcrop-vline,.jcrop-dark .jcrop-hline{background:#000;filter:alpha(opacity=70)!important;opacity:.7!important;}
.jcrop-dark .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#FFF;border-color:#000;border-radius:3px;}
.solid-line .jcrop-vline,.solid-line .jcrop-hline{background:#FFF;}
.jcrop-holder img,img.jcrop-preview{max-width:none;}