@charset "utf-8";
/* CSS Document */
/*
[目录表]
1- 微信
*/

.newsadd-title { line-height:30px;font:bold 16px/2em "microsoft yahei","黑体"; color:#714646; text-indent:0px; border-bottom: dashed 1px #714646; padding-top:20px;}
.add_set_bg { width:101px; height:53px; float:left;background:url(../Image/wapimg/appmsg-icon.png) no-repeat 50% 6px;vertical-align: middle; overflow:hidden; border:solid 1px #ddd; position:relative;}
.add_set_bg:hover {background:url(../Image/wapimg/appmsg-icon.png) no-repeat 50% -100px;}
.add_set_bg>input { width:100px; height:52px; float:left; position:absolute; opacity:0;filter:alpha(opacity=0); left:-10px; top:0; cursor:pointer;}
.set_bg_img { float:left; border: solid 2px #fff; width:100px; height:52px;}
.set_bg_img.set_bg_img_hover { border:solid 2px #ed1c24;}
.set_main { float:left; border: solid 2px #fff;}
.set_main_hover { border:solid 2px #ed1c24;}

.MicroWeb-style { width:100%; height:auto; overflow:hidden; border:solid 1px #ccc; position:relative;}
.MicroWeb-style .pre,.MicroWeb-style .next {height:396px;position:absolute;top:0px; font-weight:bold; font-family:"microsoft yahei"; line-height:396px; color:#333; cursor:pointer; text-align:center; background:#f7f7f7;}
.MicroWeb-style .pre,.MicroWeb-style .next { width:30px;font-size:60px;}
.MicroWeb-style .pre i,.MicroWeb-style .next i { width:16px; height:30px; margin:183px auto; display:block;}
.MicroWeb-style .pre {left:0px;box-shadow:-3px 0px 3px rgba(0, 0, 0, 0.1) inset;-webkit-box-shadow:-3px 0px 3px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:-3px 0px 3px rgba(0, 0, 0, 0.1) inset; padding-right:2px;}
.MicroWeb-style .next {right:0px;box-shadow:3px 0px 3px rgba(0, 0, 0, 0.1) inset;-webkit-box-shadow:3px 0px 3px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:3px 0px 3px rgba(0, 0, 0, 0.1) inset;padding-left:2px;}
.icon-pre {background: url(../Image/icon1.png) no-repeat 0px -920px;}
.MicroWeb-style .pre:hover .icon-pre {background: url(../Image/icon1.png) no-repeat -40px -920px;}
.icon-next {background: url(../Image/icon1.png) no-repeat -41px -1050px;}
.MicroWeb-style .next:hover .icon-next {background: url(../Image/icon1.png) no-repeat 0px -1050px;}
.MicroWeb-style-ul { width:3000px; overflow:hidden; padding-left:32px;}
.MicroWeb-style-ul .set_main{ width:220px; margin:10px 5px 10px 10px;}
.MicroWeb-style-ul .set_main dt{ text-align:center; line-height:25px;}

.set_main { float:left; border: solid 3px #fff;}
.set_main_hover { border:solid 3px #ed1c24;}
.add_set_module { width:101px; height:77px; float:left;background:url(../Image/wapimg/appmsg-icon.png) no-repeat 50% -162px;vertical-align: middle; overflow:hidden; border:solid 1px #ddd; position:relative;}
.add_set_module:hover {background:url(../Image/wapimg/appmsg-icon.png) no-repeat 50% -258px;}
.add_module {}
.add_module_item { width:101px; height:100px; float:left; overflow:hidden;border:solid 1px #ddd; position:relative; margin-right:10px; margin-bottom:10px;}
.add_module_item_title { height:20px; line-height:20px; text-align:center; font-size:12px;}
.add_module_item_preview { text-align:center;}
.add_module_item_preview img { width:auto; height:100%; overflow:hidden; margin:0 auto;}
.add_module_item_preview p { width:100%; height:20px; overflow:hidden; position:absolute; top:13px; text-align:center; line-height:20px; z-index:1; left:0}
.add_module_item_opr { width:100%; height:23px; overflow:hidden; text-align:center; position:absolute; bottom:0; background:#83a9bd;}
.add_module_item_opr a { display:inline-block;*display:inline;*zoom:1; width:16px; height:18px; margin-top:4px; margin-left:2px;}
.add_module_item_opr .iconEdit { background:url(../Image/icon18.png) no-repeat 0 -600px;}
.add_module_item_opr .iconDel { background:url(../Image/icon18.png) no-repeat 0 -620px;}
.add_module_item_opr .iconLeft { background:url(../Image/icon18.png) no-repeat 0 -560px;}
.add_module_item_opr .iconRight { background:url(../Image/icon18.png) no-repeat 0 -580px;}
.add_module_item_opr .iconEdit:hover {background:url(../Image/icon18.png) no-repeat -30px -600px;}
.add_module_item_opr .iconDel:hover {background:url(../Image/icon18.png) no-repeat -30px -620px;}
.add_module_item_opr .iconLeft:hover {background:url(../Image/icon18.png) no-repeat -30px -560px;}
.add_module_item_opr .iconRight:hover {background:url(../Image/icon18.png) no-repeat -30px -580px;}

.add_bg {}
.add_bg_item { width:101px; height:77px; float:left; overflow:hidden;border:solid 1px #ddd; position:relative; margin-right:10px; margin-bottom:10px;}
.add_bg_item_preview {}
.add_bg_item_preview img { width:101px; height:57px; overflow:hidden;}
.add_bg_item_preview p { width:100%; height:20px; overflow:hidden; position:absolute; top:13px; text-align:center; line-height:20px; z-index:1; left:0}
.add_bg_item_opr { width:100%; height:20px; overflow:hidden; text-align:center; position:absolute; bottom:0;}
.add_bg_item_opr a{ font-size:12px; margin: 0 5px;}

.activityread_iphone { width:300px; float:right; height:631px; background:url(../Image/iphone_bg.png) no-repeat 0 0; margin-right:30px;}
.activityread_iphone .activityread_iphone_con {width:250px; height:433px; overflow:hidden; margin:106px 0 0 26px; float:left;}
.activityread_iphone #iphonePreview { width:250px; height:433px; overflow:hidden; position:relative;}
.activityread_iphone #iphonePreview #iphonePreview-con {height:auto; width:250px; overflow:hidden; position:relative;}
.activityread_iphone #iphonePreview .iphonePreview-one { float:left; width:250px; position:relative;}
.activityread_iphone #iphonePreview .iphonePreview-2,.activityread_iphone #iphonePreview .iphonePreview-8,.activityread_iphone #iphonePreview .iphonePreview-10 { float:left; width:250px; height:440px; position:relative;}
.activityread_iphone #iphonePreview .iphonePreview-11,.activityread_iphone #iphonePreview .iphonePreview-12,.activityread_iphone #iphonePreview .iphonePreview-13 {float:left; width:250px; height:408px; position:relative;}
.activityread_iphone #iphonePreview .iphonePreview-3 { float:left; width:250px; position:relative;}

#iphonePreview-loading { line-height:440px; position:absolute; z-index:110; top:0; left:0; width:100%; background:#fff;}
.iphonePreview-qr { line-height:25px; background:#000; }
.iphonePreview-qr a {color:#ff9600;}
.iphonePreview-qr span{ color:#fff;}
/* 模版3背景颜色*/
.add_module_item_preview{display:block;height:57px;}
.add_module_item_preview.colorVal-1 { background:#f2b216;}
.add_module_item_preview.colorVal-2 { background:#592257;}
.add_module_item_preview.colorVal-3 { background:#545456;}
.add_module_item_preview.colorVal-4 { background:#52c7e8;}
.add_module_item_preview.colorVal-5 { background:#66ab26;}
.add_module_item_preview.colorVal-6 { background:#e44b58;}
.add_module_item_preview.colorVal-7 { background:#a05000;}
.add_module_item_preview.colorVal-8 { background:#1875d4;}
.add_module_item_preview.colorVal-9 { background:#fc5366;}
.add_module_item_preview.colorVal-10 { background:#ff8a4a;}
.add_module_item_preview.colorVal-11 { background:#ebb70c;}
.add_module_item_preview.colorVal-12 { background:#01cad4;}
.add_module_item_preview.colorVal-13 { background:#1bc266;}
.add_module_item_preview.colorVal-14 { background:#5dade2;}
.add_module_item_preview.colorVal-15 { background:#c0db36;}
.add_module_item_preview.colorVal-16 { background:#faca38;}
.add_module_item_preview.colorVal-17 { background:#ee72b1;}
.add_module_item_preview.colorVal-18 { background:#ffba31;}
.add_module_item_preview.colorVal-19 { background:#88c8ff;}
.add_module_item_preview.colorVal-20 { background:#87dad2;}
.add_module_item_preview.colorVal-21 { background:#ffa9b2;}
.add_module_item_preview.colorVal-22 { background:#f5976c;}
.add_module_item_preview.colorVal-23 { background:#c3de67;}
.add_module_item_preview.colorVal-24 { background:#62e2ff;}
.add_module_item_preview.colorVal-25 { background:#dac4ae;}
.add_module_item_preview.colorVal-26 { background:#cea0d7;}
.Preview-subnav {position: absolute; z-index:109; width:40px; height:40px; background:url(../Image/wapimg/subnav-bg.png) no-repeat 0 0; top:380px; left:10px; display:none;}
/*----------------------------------------预览--------------------------------------*/
.iphonePreview-1 .Preview-mainTop {line-height:0; position:relative; z-index:9;}
.iphonePreview-1 .Preview-mainCon {position:relative;z-index:100; background:#fff; padding-top:34px;}
.iphonePreview-1 .Preview-mainCon .Preview-top-title {position:absolute; z-index:100; height:20px; line-height:20px; top:3px; left:70px; font-size:14px; color:#666; font-weight:bold;}
.iphonePreview-1 .Preview-mainCon .Preview-logo-bg {width:63px;height:63px; top:-40px;left:2px;position:absolute; z-index:101;}
.iphonePreview-1 .Preview-mainCon .Preview-logo-con {width:60px;height:60px; background:#fff; border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px; overflow:hidden; text-align:center;box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2); padding:2px; line-height:0;}
.iphonePreview-1 .Preview-mainCon .Preview-logo-con img { width:60px; height:60px; margin:0 auto;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.iphonePreview-1 .Preview-mainCon-contenter { background:#f8f8f8;}
.iphonePreview-1 .Preview-mainCon-contenter-bg { background:#f8f8f8; padding-bottom:20px;}
.iphonePreview-1 .Preview-nav { margin:0 8px;}
.iphonePreview-1 .Preview-nav ul li{ width:50%;height:93px;float:left; margin-top:20px; position:relative; line-height:0;}
.iphonePreview-1 .Preview-nav ul li .nav-img{height:93px; display:block; background-position:center 40%; background-repeat:no-repeat; margin:0 12px;border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);}
.iphonePreview-1 .Preview-nav ul li img{width:100%;height:100%; display:block}
.iphonePreview-1 .Preview-nav ul li .nav-con { height:30px; margin:0 auto;position: relative; bottom:30px;overflow:hidden;}
.iphonePreview-1 .Preview-nav ul li p {height:30px; line-height:30px;text-align:center;background:#fff;color:#555; font-size:13px; margin:0 12px;border-radius:0 0 7px 7px;-webkit-border-radius:0 0 7px 7px;-moz-border-radius:0 0 7px 7px;}
.iphonePreview-1 .Preview-nav ul li p.nobg{background:#fff; color:#555;}
.iphonePreview-1 .Preview-first-view { margin: 0 auto; width:100%; height: auto; overflow: hidden; position:relative; }
.iphonePreview-1 .Preview-first-view img {width:100%;}
.iphonePreview-1 .Preview-first-view ul { line-height:0; margin-left: 0px;left:0px; width:750px;}
.iphonePreview-1 .Preview-first-view li {width:250px; height:126px; overflow:hidden; line-height:0; float:left;}
.iphonePreview-1 #Preview-footer { text-align:center; background:#f8f8f8; padding:5px 0; font-family:"microsoft yahei"; position:relative;}
.iphonePreview-1 #Preview-footer .myMicweb {width:50px; height:50px;position:absolute; right:0; bottom:0;background:url(../Image/wapimg/myMicroWeb-one.png) no-repeat right bottom;}
.iphonePreview-1 #Preview-footer .myMicRight { margin:0 25px; font-size:10px;}
.iphonePreview-1 #Preview-footer .myMicRight p{ text-align:center;color:#aaa;white-space: nowrap;text-overflow: ellipsis; overflow:hidden; font-size:10px;}
.iphonePreview-1 #Preview-footer .myMicRight p span{ color:#888; font-size:10px;}
/*------------------------------------ 预览1结束 -----------------------------*/

/*----------------------------------------预览2--------------------------------------*/
.iphonePreview-2 #Preview-wrapper {margin:0 auto;background:#fff;height:100%;}
.iphonePreview-2 #Preview-container {width:100%;margin:0 auto; height:100%;}
.iphonePreview-2 #Preview-container {height:100%; min-height:100%;}
.iphonePreview-2 #Preview-header { height:auto; overflow:hidden;z-index:1; position:relative;text-align:center;}
.iphonePreview-2 #Preview-main { height:100%; position:relative;}
.iphonePreview-2 .Preview-mainTop { line-height:0; position:relative; z-index:99; height:100%;}
.iphonePreview-2 .Preview-mainCon {position: absolute;z-index:100; top:0; left:0; width:100%; height:100%;}
.iphonePreview-2 .Preview-mainCon .Preview-mainCon-header { width:50%; height:115px; overflow:hidden; position: relative; margin-top:20px; margin-left:15px; float:left;}
.iphonePreview-2 .Preview-mainCon .Preview-mainCon-header .Preview-top-title { width:100%; position: absolute; z-index:100; height:30px; line-height:30px;font-size:18px; color:#fff; font-weight:bold;text-shadow:0 1px 2px rgba(0, 0, 0, 0.2);-webkit-text-shadow:0 1px 2px rgba(0, 0, 0, 0.2);-moz-text-shadow:0 1px 2px rgba(0, 0, 0, 0.2); margin-top:5px; bottom:0; left:0; overflow:visible;white-space: nowrap;text-overflow: ellipsis;}
.iphonePreview-2 .Preview-mainCon .Preview-mainCon-header .Preview-logo-bg,.iphonePreview-2 .Preview-mainCon .Preview-logo-con,.iphonePreview-2 .Preview-mainCon .Preview-mainCon-header .Preview-logo-con img { border-radius:50px;-webkit-border-radius:50px;-moz-border-radius:50px;}
.iphonePreview-2 .Preview-mainCon .Preview-mainCon-header .Preview-logo-bg {width:80px;height:80px;position: absolute; z-index:101; background: rgba(255, 255, 255, 0.2); left:50%; margin-left:-40px;}
.iphonePreview-2 .Preview-mainCon .Preview-mainCon-header .Preview-logo-con {width:64px;height:64px; background:#fff;overflow:hidden; text-align:center; line-height:0; position:absolute; top:8px; left:8px;box-shadow:0 0px 5px rgba(255, 255, 255, 0.6);-webkit-box-shadow:0 0px 5px rgba(255, 255, 255, 0.6);-moz-box-shadow:0 0px 5px rgba(255, 255, 255, 0.6);}
.iphonePreview-2 .Preview-mainCon .Preview-mainCon-header .Preview-logo-con img { width:64px; height:64px; margin:0 auto; vertical-align:middle;}
.iphonePreview-2 .Preview-mainCon-contenter { background-color:#000000; background:rgba(0, 0, 0, 0.5); width:100%; height:100%; position: absolute; top:0;left:0;filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr='#BF000000', endColorstr='#BF000000') alpha(opacity=50);}
.iphonePreview-2 .Preview-nav { position: absolute; right:10px; bottom:60px; width:72%;}
.iphonePreview-2 .Preview-nav ul li{ width:50%;*width:45%; height:auto; overflow:hidden; float:left; margin-top:8px; position:relative; line-height:0; padding:0 4px; box-sizing:border-box;}
.iphonePreview-2 .Preview-nav ul li .nav-con { width:100%; height:30px; margin:0 auto;overflow:hidden;background-color:#000000;background: rgba(0, 0, 0, 0.6);filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr='#BF000000', endColorstr='#BF000000') alpha(opacity=50);}
.iphonePreview-2 .Preview-nav ul li p{ width:100%;height:30px; line-height:30px;text-align:center; color:#fff; font-size:12px;}
.iphonePreview-2 .Preview-first-view { margin: 0 auto; width:100%; height:100%; overflow: hidden; position: absolute; top:0; left:0;}
.iphonePreview-2 .Preview-first-view ul {width:100%;height:100%;}
.iphonePreview-2 .Preview-first-view ul li{width:100%;height:100%;}
.iphonePreview-2 .Preview-first-view img {width:100%;height:100%;}
.iphonePreview-2 #Preview-footer { text-align:center; padding:10px 0; margin-top:-58px; position:relative; z-index:100; font-family:"microsoft yahei";}
.iphonePreview-2 #Preview-footer .myMicweb { width:50px; height:50px;position:absolute; right:0; bottom:0;background:url(../Image/wapimg/myMicroWeb-two.png) no-repeat right bottom;}
.iphonePreview-2 #Preview-footer .myMicRight { margin:0 25px;opacity:0.7;}
.iphonePreview-2 #Preview-footer .myMicRight p{ text-align:center;color:#fff;white-space: nowrap;text-overflow: ellipsis; overflow:hidden; font-size:10px;}
.iphonePreview-2 #Preview-footer .myMicRight p span{ color:#ccc; font-size:10px;}
/*------------------------------------ 预览2结束 -----------------------------*/

/*----------------------------------------预览3--------------------------------------*/
.iphonePreview-3 .Preview-mainTop { line-height:0; position:relative; z-index:9;}
.iphonePreview-3 .Preview-mainCon {position:relative;z-index:100; background:#fff; padding-top:38px;}
.iphonePreview-3 .Preview-mainCon .Preview-top-title { position:absolute; z-index:100; height:30px; line-height:30px; top:10px; left:100px; font-size:16px; color:#666; font-weight:bold;}
.iphonePreview-3 .Preview-mainCon .Preview-logo-bg {width:83px;height:83px; top:-48px;left:5px;position:absolute; z-index:101;}
.iphonePreview-3 .Preview-mainCon .Preview-logo-con {width:69px;height:69px; margin:5px; background:#fff; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; overflow:hidden; text-align:center;box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2); padding:2px; line-height:0;}
.iphonePreview-3 .Preview-mainCon .Preview-logo-con img { width:65px; height:65px; margin:0 auto;}
.iphonePreview-3 .Preview-mainCon-contenter { background:#f8f8f8;}
.iphonePreview-3 .Preview-mainCon-contenter-bg { background:#f8f8f8; padding-bottom:20px; padding-top:10px;}
.iphonePreview-3 .Preview-nav { margin:0 8px;}
.iphonePreview-3 .Preview-nav ul li{ width:100%;}
.iphonePreview-3 .Preview-nav ul li{ width:50%;height:93px; overflow:hidden; float:left; margin-top:20px; position:relative; line-height:0;}
.iphonePreview-3 .Preview-nav ul li .nav-img{height:100%; display:block; background-position:center 30%;background-repeat:no-repeat; margin:0 12px;}
.iphonePreview-3 .Preview-nav ul li .nav-con { height:30px; margin:0 auto;position: relative; bottom:30px;overflow:hidden;}
.iphonePreview-3 .Preview-nav ul li p {height:30px; line-height:30px;text-align:center;color:#fff; font-size:13px; margin:0 8px;}
.iphonePreview-3 .Preview-nav ul li p.nobg{ background:none; color:#fff;}
.iphonePreview-3 .Preview-first-view { margin: 0 auto; width:100%; height: auto; overflow: hidden; position:relative; }
.iphonePreview-3 .Preview-first-view img {width:100%;}
.iphonePreview-3 .Preview-first-view ul { line-height:0; margin-left: 0px;left:0px; width:750px;}
.iphonePreview-3 .Preview-first-view li {width:250px; height:126px; overflow:hidden; line-height:0; float:left;}
.iphonePreview-3 #Preview-footer { text-align:center; background:#f8f8f8; padding:10px 0;position:relative; }
.iphonePreview-3 #Preview-footer .myMicweb {width:50px; height:50px;position:absolute; right:0; bottom:0;background:url(../Image/wapimg/myMicroWeb-one.png) no-repeat right bottom;}
.iphonePreview-3 #Preview-footer .myMicRight { margin:0 25px;}
.iphonePreview-3 #Preview-footer .myMicRight p{ text-align:center;color:#aaa;white-space: nowrap;text-overflow: ellipsis; overflow:hidden; font-size:10px;}
.iphonePreview-3 #Preview-footer .myMicRight p span{ color:#888; font-size:10px;}
/*------------------------------------ 预览3结束 -----------------------------*/

/*----------------------------------------预览4--------------------------------------*/
.iphonePreview-4 .Preview-mainTop { line-height:0; position:relative; z-index:9;}
.iphonePreview-4 .Preview-mainCon {position:relative;z-index:100;}
.iphonePreview-4 .Preview-mainCon .Preview-top-title { position:absolute; z-index:100; height:30px; line-height:30px; top:-61px; left:80px; font-size:16px; color:#fff; font-weight:bold;}
.iphonePreview-4 .Preview-mainCon .Preview-top-title.title-nonelogo { left:10px;}
.iphonePreview-4 .Preview-mainCon .Preview-logo-bg {width:73px;height:73px; top:-88px;left:5px;position:absolute; z-index:101;}
.iphonePreview-4 .Preview-mainCon .Preview-logo-con {width:60px;height:60px; margin:5px; background:#fff; border-radius:40px;-webkit-border-radius:40px;-moz-border-radius:40px; overflow:hidden; text-align:center;box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2); line-height:0; padding:2px;}
.iphonePreview-4 .Preview-mainCon .Preview-logo-con img { width:60px; height:60px; margin:0 auto; border-radius:40px;-webkit-border-radius:40px;-moz-border-radius:40px;}
.iphonePreview-4 .Preview-mainCon-contenter { background:#f7f7f7;}
.iphonePreview-4 .Preview-mainCon-contenter-bg { background:#f7f7f7; padding-bottom:10px; padding-top:20px;}
.iphonePreview-4 .Preview-nav { margin:0 8px;}
.iphonePreview-4 .Preview-nav ul li{ width:33%;height:auto; overflow:hidden; float:left; margin-top:16px; position:relative; line-height:0; text-align:center;}
.iphonePreview-4 .Preview-nav ul li .nav-img{width:68px; height:68px; display:block; background-position:center center; background-repeat:no-repeat; border-radius:200px; -webkit-border-radius:200px; margin:0 auto;}
.iphonePreview-4 .Preview-nav ul li img{width:100%;height:100%; display:block}
.iphonePreview-4 .Preview-nav ul li .nav-con { height:30px; margin:0 auto;position: relative; bottom:0;overflow:hidden; margin:0 8px;}
.iphonePreview-4 .Preview-nav ul li p {height:30px; line-height:30px;text-align:center;color:#555; font-size:12px;}
.iphonePreview-4 .Preview-nav ul li p.nobg{ background:none; color:#555;}
.iphonePreview-4 .Preview-first-view { margin: 0 auto; width:100%; height: auto; overflow: hidden; position:relative; }
.iphonePreview-4 .Preview-first-view img {width:100%;}
.iphonePreview-4 .Preview-first-view ul { line-height:0; margin-left: 0px;left:0px; width:750px;}
.iphonePreview-4 .Preview-first-view li {width:250px; height:126px; overflow:hidden; line-height:0; float:left;}
.iphonePreview-4 #Preview-footer { text-align:center; background:#f7f7f7; padding:10px 0;position:relative; }
.iphonePreview-4 #Preview-footer .myMicweb {width:50px; height:50px;position:absolute; right:0; bottom:0;background:url(../Image/wapimg/myMicroWeb-one.png) no-repeat right bottom;}
.iphonePreview-4 #Preview-footer .myMicRight { margin:0 25px;}
.iphonePreview-4 #Preview-footer .myMicRight p{ text-align:center;color:#949494;white-space: nowrap;text-overflow: ellipsis; overflow:hidden; font-size:10px;}
.iphonePreview-4 #Preview-footer .myMicRight p span{ color:#c2c2c2; font-size:10px;}
/*------------------------------------ 预览4结束 -----------------------------*/


/*----------------------------------------预览5--------------------------------------*/
.iphonePreview-5 .Preview-mainTop { line-height:0; position:relative; z-index:9;}
.iphonePreview-5 .Preview-mainCon {position:relative;z-index:100;}
.iphonePreview-5 .Preview-mainCon .Preview-top-title { position:absolute; z-index:100; height:30px; line-height:30px; top:-55px; right:90px; font-size:16px; color:#fff; font-weight:bold;}
.iphonePreview-5 .Preview-mainCon .Preview-top-title.title-nonelogo { right:10px;}
.iphonePreview-5 .Preview-mainCon .Preview-logo-bg {width:70px;height:70px; top:-70px;right:20px;position:absolute; z-index:101;}
.iphonePreview-5 .Preview-mainCon .Preview-logo-con {width:60px;height:60px; margin:5px; background:#fff; border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px; overflow:hidden; text-align:center;box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2); padding:2px; line-height:0;}
.iphonePreview-5 .Preview-mainCon .Preview-logo-con img { width:60px; height:60px; margin:0 auto; border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.iphonePreview-5 .Preview-mainCon-contenter { background:#000; padding-top:30px;}
.iphonePreview-5 .Preview-mainCon-contenter-bg { background:#000; padding-bottom:20px;}
.iphonePreview-5 .Preview-nav { margin:0 12px;}
.iphonePreview-5 .Preview-nav ul li{ width:56px;height:auto; overflow:hidden; float:left;margin-top:16px; position:relative; line-height:0; text-align:center;}
.iphonePreview-5 .Preview-nav ul li .nav-img{width:40px; height:40px; display:block; background-position:center center;background-repeat:no-repeat; margin:0 auto;}
.iphonePreview-5 .Preview-nav ul li img{width:100%;height:100%; display:block}
.iphonePreview-5 .Preview-nav ul li .nav-con { height:20px; margin:0 auto;position: relative; bottom:0;overflow:hidden;}
.iphonePreview-5 .Preview-nav ul li p {height:20px; line-height:20px;text-align:center; color:#fff; font-size:12px;}
.iphonePreview-5 .Preview-nav ul li p.nobg{ background:none; color:#fff;}
.iphonePreview-5 .Preview-first-view { margin: 0 auto; width:100%; height: auto; overflow: hidden; position:relative; }
.iphonePreview-5 .Preview-first-view img {width:100%;}
.iphonePreview-5 .Preview-first-view ul { line-height:0; margin-left: 0px;left:0px; width:750px;}
.iphonePreview-5 .Preview-first-view li {width:250px; height:126px; overflow:hidden; line-height:0; float:left;}
.iphonePreview-5 #Preview-footer { text-align:center; background:#000; padding:10px 0;position:relative; }
.iphonePreview-5 #Preview-footer .myMicweb { width:50px; height:50px;position:absolute; right:0; bottom:0;background:url(../Image/wapimg/myMicroWeb-two.png) no-repeat right bottom;}
.iphonePreview-5 #Preview-footer .myMicRight { margin:0 25px;}
.iphonePreview-5 #Preview-footer .myMicRight p{ text-align:center;color:#888888;white-space: nowrap;text-overflow: ellipsis; overflow:hidden; font-size:10px;}
.iphonePreview-5 #Preview-footer .myMicRight p span{ color:#666; font-size:10px;}
/*------------------------------------ 预览5结束 -----------------------------*/


/*----------------------------------------预览6--------------------------------------*/
.iphonePreview-6 {background:#fff url(../Label/Image/mainCon-contenterbg-One.png) repeat top center;}
.iphonePreview-6 .Preview-mainTop { line-height:0; position:relative; z-index:9;}
.iphonePreview-6 .Preview-mainCon {position:relative;z-index:100; padding-top:50px;}
.iphonePreview-6 .Preview-mainCon-header { background:#fff; height:35px; position:relative; top:-50px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);}
.iphonePreview-6 .Preview-mainCon-header:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.iphonePreview-6 .Preview-mainCon .Preview-top-title { height:35px; line-height:35px;font-size:16px; color:#333; text-align:left;}
.iphonePreview-6 .Preview-mainCon .Preview-top-title.title-nonelogo { margin-left:10px;}
.iphonePreview-6 .Preview-mainCon .Preview-logo-bg {width:auto;height:auto; float:left; margin-top:-32px; margin-left:20px; margin-right:5px;}
.iphonePreview-6 .Preview-mainCon .Preview-logo-con {width:auto;height:auto; background:#fff; overflow:hidden; text-align:center;line-height:0;}
.iphonePreview-6 .Preview-mainCon .Preview-logo-con img { width:auto; height:65px; margin:0 auto;}
.iphonePreview-6 .Preview-mainCon-contenter { margin-top:-50px;}
.iphonePreview-6 .Preview-mainCon-contenter-bg { padding-bottom:10px;}
.iphonePreview-6 .Preview-nav { margin:0 8px;}
.iphonePreview-6 .Preview-nav ul li{ width:95px;height:auto; overflow:hidden; float:left; position:relative; line-height:0; background:#fff; margin:20px 11px 0 11px; border-radius:10px; -webkit-border-radius:10px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2); padding-top:10px; padding-bottom:5px;}
.iphonePreview-6 .Preview-nav ul li .nav-img{width:60px; height:60px; display:block; background-position:center center; background-repeat:no-repeat; border-radius:200px; -webkit-border-radius:200px; margin:0 auto;}
.iphonePreview-6 .Preview-nav ul li img{width:100%;height:100%; display:block}
.iphonePreview-6 .Preview-nav ul li .nav-con { height:20px; margin:0 auto;overflow:hidden; margin:0 8px; margin-top:10px;}
.iphonePreview-6 .Preview-nav ul li p {height:20px; line-height:20px;text-align:center;color:#333; font-size:13px; margin:0 8px;}
.iphonePreview-6 .Preview-nav ul li p.nobg{ background:none; color:#333;}
.iphonePreview-6 .Preview-first-view { margin: 0 auto; width:100%; height: auto; overflow: hidden; position:relative; }
.iphonePreview-6 .Preview-first-view img {width:100%;}
.iphonePreview-6 .Preview-first-view ul { line-height:0; margin-left: 0px;left:0px; width:750px;}
.iphonePreview-6 .Preview-first-view li {width:250px; height:126px; overflow:hidden; line-height:0; float:left;}
.iphonePreview-6 #Preview-footer { text-align:center; padding:10px 0;position:relative; }
.iphonePreview-6 #Preview-footer .myMicweb {width:50px; height:50px;position:absolute; right:0; bottom:0;background:url(../Image/wapimg/myMicroWeb-one.png) no-repeat right bottom;}
.iphonePreview-6 #Preview-footer .myMicRight { margin:0 25px;}
.iphonePreview-6 #Preview-footer .myMicRight p{ text-align:center;color:#949494;white-space: nowrap;text-overflow: ellipsis; overflow:hidden; font-size:10px;}
.iphonePreview-6 #Preview-footer .myMicRight p span{ color:#c2c2c2; font-size:10px;}
/*------------------------------------ 预览6结束 -----------------------------*/


/*----------------------------------------预览7--------------------------------------*/
.iphonePreview-8 #Preview-wrapper {margin:0 auto;background:#fff;height:100%;}
.iphonePreview-8 #Preview-container {width:100%;margin:0 auto; height:100%;}
.iphonePreview-8 #Preview-container {height:100%; min-height:100%;}
.iphonePreview-8 #Preview-header { height:auto; overflow:hidden;z-index:1; position:relative;text-align:center;}
.iphonePreview-8 #Preview-main { height:100%; position:relative;}
.iphonePreview-8 .Preview-mainTop { line-height:0; position:relative; z-index:99; height:100%;}
.iphonePreview-8 .Preview-mainCon {position: absolute;z-index:100; top:0; left:0; width:100%; height:100%;}
.iphonePreview-8 .Preview-mainCon .Preview-mainCon-header { width:50%; height:115px; overflow:hidden; position: relative; margin-top:20px; margin-left:15px; float:left;}
.iphonePreview-8 .Preview-mainCon .Preview-mainCon-header .Preview-top-title { width:100%; position: absolute; z-index:100; height:30px; line-height:30px;font-size:18px; color:#fff; font-weight:bold;text-shadow:0 1px 2px rgba(0, 0, 0, 0.2);-webkit-text-shadow:0 1px 2px rgba(0, 0, 0, 0.2);-moz-text-shadow:0 1px 2px rgba(0, 0, 0, 0.2); margin-top:5px; bottom:0; left:0; overflow:visible;white-space: nowrap;text-overflow: ellipsis;}
.iphonePreview-8 .Preview-mainCon .Preview-mainCon-header .Preview-logo-bg,.iphonePreview-2 .Preview-mainCon .Preview-logo-con,.iphonePreview-2 .Preview-mainCon .Preview-mainCon-header .Preview-logo-con img { border-radius:50px;-webkit-border-radius:50px;-moz-border-radius:50px;}
.iphonePreview-8 .Preview-mainCon .Preview-mainCon-header .Preview-logo-bg {width:80px;height:80px;position: absolute; z-index:101; background: rgba(255, 255, 255, 0.2); left:50%; margin-left:-40px;}
.iphonePreview-8 .Preview-mainCon .Preview-mainCon-header .Preview-logo-con {width:64px;height:64px; background:#fff;overflow:hidden; text-align:center; line-height:0; position:absolute; top:8px; left:8px;box-shadow:0 0px 5px rgba(255, 255, 255, 0.6);-webkit-box-shadow:0 0px 5px rgba(255, 255, 255, 0.6);-moz-box-shadow:0 0px 5px rgba(255, 255, 255, 0.6);}
.iphonePreview-8 .Preview-mainCon .Preview-mainCon-header .Preview-logo-con img { width:64px; height:64px; margin:0 auto; vertical-align:middle;}
.iphonePreview-8 .Preview-mainCon-contenter { background-color:#000000; background:rgba(0, 0, 0, 0.5); width:100%; height:100%; position: absolute; top:0;left:0;filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr='#BF000000', endColorstr='#BF000000') alpha(opacity=50);}
.iphonePreview-8 .Preview-nav { position: absolute; right:10px; bottom:60px; width:72%;}
.iphonePreview-8 .Preview-nav ul li{ width:50%;*width:45%; height:auto; overflow:hidden; float:left; margin-top:8px; position:relative; line-height:0; padding:0 4px; box-sizing:border-box;}
.iphonePreview-8 .Preview-nav ul li .nav-con { width:100%; height:30px; margin:0 auto;overflow:hidden;background-color:#000000;background: rgba(0, 0, 0, 0.6);filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr='#BF000000', endColorstr='#BF000000') alpha(opacity=50);}
.iphonePreview-8 .Preview-nav ul li p{ width:100%;height:30px; line-height:30px;text-align:center; color:#fff; font-size:12px;}
.iphonePreview-8 .Preview-first-view { margin: 0 auto; width:100%; height:100%; overflow: hidden; position: absolute; top:0; left:0;}
.iphonePreview-8 .Preview-first-view ul {width:100%;height:100%;}
.iphonePreview-8 .Preview-first-view ul li{width:100%;height:100%;}
.iphonePreview-8 .Preview-first-view img {width:100%;height:100%;}
.iphonePreview-8 #Preview-footer { text-align:center; padding:10px 0; margin-top:-58px; position:relative; z-index:100; font-family:"microsoft yahei";}
.iphonePreview-8 #Preview-footer .myMicweb { width:50px; height:50px;position:absolute; right:0; bottom:0;background:url(../Image/wapimg/myMicroWeb-two.png) no-repeat right bottom;}
.iphonePreview-8 #Preview-footer .myMicRight { margin:0 25px;opacity:0.7;}
.iphonePreview-8 #Preview-footer .myMicRight p{ text-align:center;color:#fff;white-space: nowrap;text-overflow: ellipsis; overflow:hidden; font-size:10px;}
.iphonePreview-8 #Preview-footer .myMicRight p span{ color:#ccc; font-size:10px;}
/*------------------------------------ 预览7结束 -----------------------------*/


/*----------------------------------------预览4--------------------------------------*/
.iphonePreview-9 .Preview-mainTop { line-height:0; position:relative; z-index:9;}
.iphonePreview-9 .Preview-mainCon {position:relative;z-index:100;}
.iphonePreview-9 .Preview-mainCon .Preview-top-title { position:absolute; z-index:100; height:30px; line-height:30px; top:-61px; left:80px; font-size:16px; color:#fff; font-weight:bold;}
.iphonePreview-9 .Preview-mainCon .Preview-top-title.title-nonelogo { left:10px;}
.iphonePreview-9 .Preview-mainCon .Preview-logo-bg {width:73px;height:73px; top:-88px;left:5px;position:absolute; z-index:101;}
.iphonePreview-9 .Preview-mainCon .Preview-logo-con {width:60px;height:60px; margin:5px; background:#fff; border-radius:40px;-webkit-border-radius:40px;-moz-border-radius:40px; overflow:hidden; text-align:center;box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2); line-height:0; padding:2px;}
.iphonePreview-9 .Preview-mainCon .Preview-logo-con img { width:60px; height:60px; margin:0 auto; border-radius:40px;-webkit-border-radius:40px;-moz-border-radius:40px;}
.iphonePreview-9 .Preview-mainCon-contenter { background:#f7f7f7;}
.iphonePreview-9 .Preview-mainCon-contenter-bg { background:#f7f7f7; padding-bottom:10px; padding-top:20px;}
.iphonePreview-9 .Preview-nav { margin:0 8px;}
.iphonePreview-9 .Preview-nav ul li{ width:33%;height:auto; overflow:hidden; float:left; margin-top:16px; position:relative; line-height:0; text-align:center;}
.iphonePreview-9 .Preview-nav ul li .nav-img{width:68px; height:68px; display:block; background-position:center center; background-repeat:no-repeat; margin:0 auto;}
.iphonePreview-9 .Preview-nav ul li img{width:100%;height:100%; display:block}
.iphonePreview-9 .Preview-nav ul li .nav-con { height:30px; margin:0 auto;position: relative; bottom:0;overflow:hidden; margin:0 8px;}
.iphonePreview-9 .Preview-nav ul li p {height:30px; line-height:30px;text-align:center;color:#555; font-size:12px;}
.iphonePreview-9 .Preview-nav ul li p.nobg{ background:none; color:#555;}
.iphonePreview-9 .Preview-first-view { margin: 0 auto; width:100%; height: auto; overflow: hidden; position:relative; }
.iphonePreview-9 .Preview-first-view img {width:100%;}
.iphonePreview-9 .Preview-first-view ul { line-height:0; margin-left: 0px;left:0px; width:750px;}
.iphonePreview-9 .Preview-first-view li {width:250px; height:126px; overflow:hidden; line-height:0; float:left;}
.iphonePreview-9 #Preview-footer { text-align:center; background:#f7f7f7; padding:10px 0;position:relative; }
.iphonePreview-9 #Preview-footer .myMicweb {width:50px; height:50px;position:absolute; right:0; bottom:0;background:url(../Image/wapimg/myMicroWeb-one.png) no-repeat right bottom;}
.iphonePreview-9 #Preview-footer .myMicRight { margin:0 25px;}
.iphonePreview-9 #Preview-footer .myMicRight p{ text-align:center;color:#949494;white-space: nowrap;text-overflow: ellipsis; overflow:hidden; font-size:10px;}
.iphonePreview-9 #Preview-footer .myMicRight p span{ color:#c2c2c2; font-size:10px;}
/*------------------------------------ 预览4结束 -----------------------------*/


/*----------------------------------------预览2--------------------------------------*/
.iphonePreview-10 #Preview-wrapper {margin:0 auto;background:#fff;height:100%;}
.iphonePreview-10 #Preview-container {width:100%;margin:0 auto; height:100%;}
.iphonePreview-10 #Preview-container {height:100%; min-height:100%;}
.iphonePreview-10 #Preview-header { height:auto; overflow:hidden;z-index:1; position:relative;text-align:center;}
.iphonePreview-10 #Preview-main { height:100%; position:relative;}
.iphonePreview-10 .Preview-mainTop { line-height:0; position:relative; z-index:99; height:100%;}
.iphonePreview-10 .Preview-mainCon {position: absolute;z-index:100; top:0; left:0; width:100%; height:100%;}
.iphonePreview-10 .Preview-mainCon .Preview-mainCon-header { width:100%; height:auto; overflow:hidden; position: relative; margin-top:30px;}
.iphonePreview-10 .Preview-mainCon .Preview-mainCon-header .Preview-top-title {width:100%; position: relative; z-index:100; height:20px; line-height:20px;font-size:14px; color:#fff;text-shadow:0 1px 2px rgba(0, 0, 0, 0.2);-webkit-text-shadow:0 1px 2px rgba(0, 0, 0, 0.2);-moz-text-shadow:0 1px 2px rgba(0, 0, 0, 0.2);}
.iphonePreview-10 .Preview-mainCon .Preview-mainCon-header .Preview-logo-bg {height:50px;position:relative; z-index:101;}
.iphonePreview-10 .Preview-mainCon .Preview-mainCon-header .Preview-logo-con {height:100%;overflow:hidden; text-align:center; line-height:0;}
.iphonePreview-10 .Preview-mainCon .Preview-mainCon-header .Preview-logo-con img { width:auto; height:100%; margin:0 auto; vertical-align:middle; margin:0 auto;}
.iphonePreview-10 .Preview-mainCon-contenter { width:100%; height:auto; overflow:hidden;}
.iphonePreview-10 .Preview-mainCon-contenter-bg { padding-top:15px;}
.iphonePreview-10 .Preview-nav { width:220px; margin:0 auto; overflow:hidden;}
.iphonePreview-10 .Preview-nav ul { float:left; width:220px; height:262px; overflow:hidden;}
.iphonePreview-10 .Preview-nav ul li{ width:110px; height:110px; overflow:hidden; float:left; text-align:center; position:relative; line-height:0;}
.iphonePreview-10 .Preview-nav ul li .nav-con { width:100px; height:100px; position:absolute; top:0; left:5px;}
.iphonePreview-10 .Preview-nav ul li .nav-img { width:100px; height:100px; position:absolute; top:0; left:5px; opacity:0.9; -moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;-webkit-border-radius:50%; border-radius:50%; background-image:none !important;}
.iphonePreview-10 .Preview-nav ul li.special { height:60px;}
.iphonePreview-10 .Preview-nav ul li.special .nav-con { margin-top:10px; height:30px; line-height:30px;}
.iphonePreview-10 .Preview-nav ul li.special .nav-img { margin-top:10px; height:30px; border-radius:15px;-moz-border-radius:15px;-ms-border-radius:15px;-o-border-radius:15px;-webkit-border-radius:15px; border: solid 1px #09f; background:none !important;}
.iphonePreview-10 .Preview-nav ul li p { width:100%;height:100px;  line-height:100px; text-align:center; color:#fff; font-size:16px;}
.iphonePreview-10 .Preview-nav ul li.special p { height:30px; line-height:30px; color:#09f; font-size:14px;}
.iphonePreview-10 .Preview-first-view { margin: 0 auto; width:100%; height:100%; overflow: hidden; position: absolute; top:0; left:0;}
.iphonePreview-10 .Preview-first-view ul {width:100%;height:100%;}
.iphonePreview-10 .Preview-first-view ul li{width:100%;height:100%;}
.iphonePreview-10 .Preview-first-view img {height:100%;-webkit-animation:animateImage 40s linear infinite;-moz-animation:animateImage 40s linear infinite;-ms-animation:animateImage 40s linear infinite;-o-animation:animateImage 40s linear infinite;}
.iphonePreview-10 #Preview-footer { text-align:center; padding:10px 0; margin-top:-58px; position:relative; z-index:100; font-family:"microsoft yahei";}
.iphonePreview-10 #Preview-footer .myMicweb { width:50px; height:50px;position:absolute; right:0; bottom:0;background:url(../Image/wapimg/myMicroWeb-two.png) no-repeat right bottom;}
.iphonePreview-10 #Preview-footer .myMicRight { margin:0 25px;opacity:0.7;}
.iphonePreview-10 #Preview-footer .myMicRight p{ text-align:center;color:#fff;white-space: nowrap;text-overflow: ellipsis; overflow:hidden; font-size:10px;}
.iphonePreview-10 #Preview-footer .myMicRight p span{ color:#ccc; font-size:10px;}

@-webkit-keyframes animateImage{
0%{-webkit-transform:translateX(0);}
100%{-webkit-transform:translateX(-80%);}
}
@-moz-keyframes animateImage{
0%{-moz-transform:translateX(0);}
100%{-moz-transform:translateX(-80%);}
}
@-ms-keyframes animateImage{
0%{-ms-transform:translateX(0);}
100%{-ms-transform:translateX(-80%);}
}
@-o-keyframes animateImage{
0%{-o-transform:translateX(0);}
100%{-o-transform:translateX(-80%);}
}

/*------------------------------------ 预览2结束 -----------------------------*/



/*----------------------------------------预览11--------------------------------------*/
.iphonePreview-11 #Preview-wrapper {margin:0 auto;background:#fff;height:100%;}
.iphonePreview-11 #Preview-container {width:100%;margin:0 auto; height:100%;}
.iphonePreview-11 #Preview-container {height:100%; min-height:100%;}
.iphonePreview-11 #Preview-header { height:auto; overflow:hidden;z-index:1; position:relative;text-align:center;}
.iphonePreview-11 #Preview-main { height:100%; position:relative;}
.iphonePreview-11 .Preview-mainTop { line-height:0; position:relative; z-index:99; height:100%;}
.iphonePreview-11 .Preview-mainCon {position: absolute;z-index:100; top:0; left:0; width:100%; height:100%;}
.iphonePreview-11 .Preview-mainCon .Preview-mainCon-header { height:auto; overflow:hidden; position: relative;}
.iphonePreview-11 .Preview-mainCon .Preview-mainCon-header .Preview-top-title { width:100%; position: relative; z-index:100; height:30px; line-height:30px;font-size:18px; color:#fff; font-weight:bold;text-shadow:0 1px 2px rgba(0, 0, 0, 0.2);-webkit-text-shadow:0 1px 2px rgba(0, 0, 0, 0.2);-moz-text-shadow:0 1px 2px rgba(0, 0, 0, 0.2); margin-top:5px;white-space: nowrap;text-overflow: ellipsis;}
.iphonePreview-11 .Preview-mainCon .Preview-mainCon-header .Preview-logo-bg {position:relative; left:50%; margin-left:-72px; margin-top:-60px; padding-top:60px; z-index:101; width:145px;height:85px;background: rgba(255, 255, 255, 0.2);border-radius:73px;}
.iphonePreview-11 .Preview-mainCon .Preview-mainCon-header .Preview-logo-con { margin:0 auto; padding-top:6px; width:85px;height:85px;overflow:hidden;text-align:center; line-height:0;}
.iphonePreview-11 .Preview-mainCon .Preview-mainCon-header .Preview-logo-con img { max-width:60px; max-height:60px; margin:0 auto; vertical-align:middle;}
.iphonePreview-11 .Preview-mainCon-contenter { width:100%; height:100%; position: absolute; top:0;}
.iphonePreview-11 .Preview-mainCon-contenter-bg { position: absolute; left:0;bottom:0; width:100%; height:80px; overflow:hidden; background:rgba(0,0,0,.4);}
.iphonePreview-11 .Preview-mainCon-contenter-bg:before {width:7px; height:13px; position:absolute; top:50%; margin-top:-5px; opacity:0.8; left:10px;background:url(../Label/Image/Shop/shopModule1-icon.png) no-repeat 0 0; background-size:auto 100%; content:"";}
.iphonePreview-11 .Preview-mainCon-contenter-bg:after {width:7px; height:13px; position:absolute; top:50%; margin-top:-5px; opacity:0.8; right:10px;background:url(../Label/Image/Shop/shopModule1-icon.png) no-repeat -15px 0; background-size:auto 100%; content:"";}
.iphonePreview-11 .Preview-nav { display:block; margin:0 20px; overflow:hidden;}
.iphonePreview-11 .Preview-nav ul { height:80px; width:3000px;}
.iphonePreview-11 .Preview-nav ul li{ width:53px; height:auto; overflow:hidden; float:left;margin-top:10px; position:relative; border-right:dashed 1px #999; box-sizing:border-box;}
.iphonePreview-11 .Preview-nav ul li .nav-con { height:20px; margin:0 auto;overflow:hidden; margin:0 5px;}
.iphonePreview-11 .Preview-nav ul li .nav-img { width:40px; height:40px; display:block; background-position:center center; background-size:100% auto; background-repeat:no-repeat; margin:0 auto;}
.iphonePreview-11 .Preview-nav ul li p { width:100%;height:20px; line-height:20px;text-align:center; color:#fff; font-size:12px;}
.iphonePreview-11 .Preview-first-view { margin: 0 auto; width:100%; height:100%; overflow: hidden; position: absolute; top:0; left:0;}
.iphonePreview-11 .Preview-first-view ul {width:300%;height:100%;}
.iphonePreview-11 .Preview-first-view ul li{ width:250px;height:100%;float:left;}
.iphonePreview-11 .Preview-first-view img {width:100%;height:100%;}
.iphonePreview-11 #Preview-footer { text-align:center; background:#f7f7f7; padding:10px 0;position:relative; }
.iphonePreview-11 #Preview-footer .myMicweb {width:50px; height:50px;position:absolute; right:0; bottom:0;background:url(../Image/wapimg/myMicroWeb-one.png) no-repeat right bottom;}
.iphonePreview-11 #Preview-footer .myMicRight { margin:0 25px;}
.iphonePreview-11 #Preview-footer .myMicRight p{ text-align:center;color:#949494;white-space: nowrap;text-overflow: ellipsis; overflow:hidden; font-size:10px;}
.iphonePreview-11 #Preview-footer .myMicRight p span{ color:#c2c2c2; font-size:10px;}
/*------------------------------------ 预览11结束 -----------------------------*/


/*----------------------------------------预览12--------------------------------------*/
.iphonePreview-12 #Preview-wrapper {margin:0 auto;background:#fff;height:100%;}
.iphonePreview-12 #Preview-container {width:100%;margin:0 auto; height:100%;}
.iphonePreview-12 #Preview-container {height:100%; min-height:100%;}
.iphonePreview-12 #Preview-header { height:auto; overflow:hidden;z-index:1; position:relative;text-align:center;}
.iphonePreview-12 #Preview-main { height:100%; position:relative;}
.iphonePreview-12 .Preview-mainTop { line-height:0; position:relative; z-index:99; height:100%;}
.iphonePreview-12 .Preview-mainCon {position: absolute;z-index:100; top:0; left:0; width:100%; height:100%;}
.iphonePreview-12 .Preview-mainCon .Preview-mainCon-header { height:auto; overflow:hidden; position: relative;}
.iphonePreview-12 .Preview-mainCon .Preview-mainCon-header .Preview-top-title { width:100%; position: relative; z-index:100; height:30px; line-height:30px;font-size:18px; color:#fff; font-weight:bold;text-shadow:0 1px 2px rgba(0, 0, 0, 0.2);-webkit-text-shadow:0 1px 2px rgba(0, 0, 0, 0.2);-moz-text-shadow:0 1px 2px rgba(0, 0, 0, 0.2); margin-top:5px;white-space: nowrap;text-overflow: ellipsis;}
.iphonePreview-12 .Preview-mainCon .Preview-mainCon-header .Preview-logo-bg {position:relative; left:50%; margin-left:-72px; margin-top:-60px; padding-top:60px; z-index:101; width:145px;height:85px;background: rgba(255, 255, 255, 0.2);border-radius:73px;}
.iphonePreview-12 .Preview-mainCon .Preview-mainCon-header .Preview-logo-con { margin:0 auto; padding-top:6px; width:85px;height:85px;overflow:hidden;text-align:center; line-height:0;}
.iphonePreview-12 .Preview-mainCon .Preview-mainCon-header .Preview-logo-con img { max-width:60px; max-height:60px; margin:0 auto; vertical-align:middle;}
.iphonePreview-12 .Preview-mainCon-contenter { width:100%; height:56%; position: absolute; bottom:0;}
.iphonePreview-12 .Preview-mainCon-contenter-bg { width:90%; margin:0 auto; height:100%;  overflow:hidden; overflow-y:auto; background:rgba(246,246,246,.95); border-radius:8px 8px 0 0; border:solid 1px #a7a7a7; border-bottom:none; margin-top:-1px;}
.iphonePreview-12 .Preview-nav { display:block; overflow:hidden;}
.iphonePreview-12 .Preview-nav ul { height:60px;}
.iphonePreview-12 .Preview-nav ul li{ width:100%; overflow:hidden; float:left;padding:5px; position:relative; border-bottom:solid 1px #d6d6d6; box-sizing:border-box;}
.iphonePreview-12 .Preview-nav ul li .nav-con { margin-left:60px; height:46px;overflow:hidden;}
.iphonePreview-12 .Preview-nav ul li .nav-img { float:left; width:40px; height:40px; display:block; background-position:center center; background-size:100% 100%; background-repeat:no-repeat; margin:0 12px; border:solid 3px #fffaf4; border-radius:27px; box-shadow:0 0 2px rgba(0,0,0,.2);}
.iphonePreview-12 .Preview-nav ul li p { width:100%;height:46px; line-height:46px;text-align: left; color:#555; font-size:14px;}
.iphonePreview-12 .Preview-first-view { margin: 0 auto; width:100%; height:100%; overflow: hidden; position: absolute; top:0; left:0;}
.iphonePreview-12 .Preview-first-view ul {width:300%;height:100%;}
.iphonePreview-12 .Preview-first-view ul li{ width:250px;height:100%;float:left;}
.iphonePreview-12 .Preview-first-view img {width:100%;height:100%;}
.iphonePreview-12 #Preview-footer { text-align:center; background:#f7f7f7; padding:10px 0;position:relative; }
.iphonePreview-12 #Preview-footer .myMicweb {width:50px; height:50px;position:absolute; right:0; bottom:0;background:url(../Image/wapimg/myMicroWeb-one.png) no-repeat right bottom;}
.iphonePreview-12 #Preview-footer .myMicRight { margin:0 25px;}
.iphonePreview-12 #Preview-footer .myMicRight p{ text-align:center;color:#949494;white-space: nowrap;text-overflow: ellipsis; overflow:hidden; font-size:10px;}
.iphonePreview-12 #Preview-footer .myMicRight p span{ color:#c2c2c2; font-size:10px;}
/*------------------------------------ 预览12结束 -----------------------------*/


/*----------------------------------------预览13--------------------------------------*/
.iphonePreview-13 #Preview-wrapper {margin:0 auto;background:#fff;height:100%;}
.iphonePreview-13 #Preview-container {width:100%;margin:0 auto; height:100%;}
.iphonePreview-13 #Preview-header { position:absolute; bottom:0; left:0; width:100%; height:auto;}
.iphonePreview-13 #Preview-main { height:100%; position:relative;}
.iphonePreview-13 .Preview-mainTop { line-height:0; position:relative; z-index:99; height:100%;}
.iphonePreview-13 .Preview-mainCon {position: absolute;z-index:100; top:0; left:0; width:100%; height:100%;}
.iphonePreview-13 .Preview-mainCon .Preview-mainCon-header { position:absolute; bottom:0; left:0; width:100%; height:auto;}
.iphonePreview-13 .Preview-mainCon .Preview-mainCon-header .Preview-top-title { width:100%; position: absolute; top:-40px; z-index:100; height:30px; line-height:30px;font-size:18px; color:#fff; font-weight:bold;text-shadow:0 1px 2px rgba(0, 0, 0, 0.2); margin-top:5px;white-space: nowrap;text-overflow: ellipsis;}
.iphonePreview-13 .Preview-mainCon .Preview-mainCon-header .Preview-logo-bg {position:relative; left:50%; margin-left:-72px; margin-bottom:-80px; padding-bottom:80px; z-index:101; width:145px;height:65px; overflow:hidden;background: rgba(255, 255, 255, 0.2);border-radius:73px;}
.iphonePreview-13 .Preview-mainCon .Preview-mainCon-header .Preview-logo-con { margin:0 auto; padding-top:10px; width:85px;height:85px;overflow:hidden;text-align:center; line-height:0;}
.iphonePreview-13 .Preview-mainCon .Preview-mainCon-header .Preview-logo-con img { max-width:60px; max-height:60px; margin:0 auto; vertical-align:middle;}
.iphonePreview-13 .Preview-mainCon-contenter { width:100%; height:56%; position: absolute; bottom:0;}
.iphonePreview-13 .Preview-mainCon-contenter-bg { position: absolute; top:14%; margin-top:-180px; left:0; width:100%; height:270px; overflow:hidden; overflow-y:auto;}
.iphonePreview-13 .Preview-nav { display:block; margin:0 20px; overflow:hidden;}
.iphonePreview-13 .Preview-nav ul { width:210px; height:100%; position: absolute; top:0;}
.iphonePreview-13 .Preview-nav ul li{ width:47%; height:80px; overflow:hidden; float:left;margin-top:10px; margin-left:3%; position:relative; box-sizing:border-box; background:rgba(255,255,255,0.4); border:solid 1px #fff; border-radius:8px;}
.iphonePreview-13 .Preview-nav ul li .nav-con { height:20px; margin:0 auto;overflow:hidden; margin:0 5px;}
.iphonePreview-13 .Preview-nav ul li .nav-img { display:block; margin:0 auto; margin-top:4px; width:50px; height:50px; background-position:center center; background-size:100% auto; background-repeat:no-repeat;}
.iphonePreview-13 .Preview-nav ul li p { width:100%;height:20px; overflow:hidden; line-height:20px;text-align:center; color:#868686; font-size:12px;}
.iphonePreview-13 .Preview-first-view { margin: 0 auto; width:100%; height:100%; overflow: hidden; position: absolute; top:0; left:0;}
.iphonePreview-13 .Preview-first-view ul {width:300%;height:100%;}
.iphonePreview-13 .Preview-first-view ul li{ width:250px;height:100%;float:left;}
.iphonePreview-13 .Preview-first-view img {width:100%;height:100%;}
.iphonePreview-13 #Preview-footer { text-align:center; background:#f7f7f7; padding:10px 0;position:relative; }
.iphonePreview-13 #Preview-footer .myMicweb {width:50px; height:50px;position:absolute; right:0; bottom:0;background:url(../Image/wapimg/myMicroWeb-one.png) no-repeat right bottom;}
.iphonePreview-13 #Preview-footer .myMicRight { margin:0 25px;}
.iphonePreview-13 #Preview-footer .myMicRight p{ text-align:center;color:#949494;white-space: nowrap;text-overflow: ellipsis; overflow:hidden; font-size:10px;}
.iphonePreview-13 #Preview-footer .myMicRight p span{ color:#c2c2c2; font-size:10px;}
/*------------------------------------ 预览13结束 -----------------------------*/


/*----------------------------------------预览14--------------------------------------*/
.iphonePreview-14 .Preview-mainTop { line-height:0; position:relative; z-index:9;}
.iphonePreview-14 .Preview-mainCon {position:relative;z-index:100; background:#fff; padding-top:38px;}
.iphonePreview-14 .Preview-mainCon .Preview-top-title { position:absolute; z-index:100; height:30px; line-height:30px; top:10px; left:100px; font-size:16px; color:#666; font-weight:bold;}
.iphonePreview-14 .Preview-mainCon .Preview-logo-bg {width:83px;height:83px; top:-48px;left:5px;position:absolute; z-index:101;}
.iphonePreview-14 .Preview-mainCon .Preview-logo-con {width:69px;height:69px; margin:5px; background:#fff; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; overflow:hidden; text-align:center;box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2); padding:2px; line-height:0;}
.iphonePreview-14 .Preview-mainCon .Preview-logo-con img { width:65px; height:65px; margin:0 auto;}
.iphonePreview-14 .Preview-mainCon-contenter { background:#f8f8f8;}
.iphonePreview-14 .Preview-mainCon-contenter-bg { background:#f8f8f8; padding-bottom:20px; padding-top:10px;}
.iphonePreview-14 .Preview-nav { margin:0 8px;}
.iphonePreview-14 .Preview-nav ul li{ width:100%;}
.iphonePreview-14 .Preview-nav ul li{ width:78px;height:70px; overflow:hidden; float:left; margin-top:10px; position:relative; line-height:0;}
.iphonePreview-14 .Preview-nav ul li .nav-img{height:100%; display:block; background-position:center 30%;background-repeat:no-repeat; margin:0 3px;}
.iphonePreview-14 .Preview-nav ul li .nav-con { height:20px; margin:0 auto;position: relative; bottom:20px;overflow:hidden;}
.iphonePreview-14 .Preview-nav ul li p {height:20px; line-height:20px;text-align:center;color:#fff; font-size:13px; margin:0 3px;}
.iphonePreview-14 .Preview-nav ul li p.nobg{ background:none; color:#fff;}
.iphonePreview-14 .Preview-first-view { margin: 0 auto; width:100%; height: auto; overflow: hidden; position:relative; }
.iphonePreview-14 .Preview-first-view img {width:100%;}
.iphonePreview-14 .Preview-first-view ul { line-height:0; margin-left: 0px;left:0px; width:750px;}
.iphonePreview-14 .Preview-first-view li {width:250px; height:126px; overflow:hidden; line-height:0; float:left;}
.iphonePreview-14 #Preview-footer { text-align:center; background:#f8f8f8; padding:10px 0;position:relative; }
.iphonePreview-14 #Preview-footer .myMicweb {width:50px; height:50px;position:absolute; right:0; bottom:0;background:url(../Image/wapimg/myMicroWeb-one.png) no-repeat right bottom;}
.iphonePreview-14 #Preview-footer .myMicRight { margin:0 25px;}
.iphonePreview-14 #Preview-footer .myMicRight p{ text-align:center;color:#aaa;white-space: nowrap;text-overflow: ellipsis; overflow:hidden; font-size:10px;}
.iphonePreview-14 #Preview-footer .myMicRight p span{ color:#888; font-size:10px;}
/*------------------------------------ 预览14结束 -----------------------------*/


/*----------------------------------------预览15--------------------------------------*/
.iphonePreview-15 #Preview-wrapper {margin:0 auto;background:#fff;height:100%;}
.iphonePreview-15 #Preview-container {width:100%;margin:0 auto; height:100%;}
.iphonePreview-15 #Preview-header { position:absolute; bottom:0; left:0; width:100%; height:auto;}
.iphonePreview-15 #Preview-main { height:100%; position:relative;}
.iphonePreview-15 .Preview-mainTop { line-height:0; position:absolute; z-index:99; height:409px; width: 250px;}
.iphonePreview-15 .Preview-mainCon {position:relative;z-index:100; padding-top:193px;}
.iphonePreview-15 .Preview-mainCon .Preview-mainCon-header { display: none;}
.iphonePreview-15 .Preview-mainCon .Preview-top-title { position:absolute; z-index:100; height:30px; line-height:30px; top:10px; left:100px; font-size:16px; color:#666; font-weight:bold;}
.iphonePreview-15 .Preview-mainCon .Preview-logo-bg {width:83px;height:83px; top:-48px;left:5px;position:absolute; z-index:101;}
.iphonePreview-15 .Preview-mainCon .Preview-logo-con {width:69px;height:69px; margin:5px; background:#fff; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; overflow:hidden; text-align:center;box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2); padding:2px; line-height:0;}
.iphonePreview-15 .Preview-mainCon .Preview-logo-con img { width:65px; height:65px; margin:0 auto;}
.iphonePreview-15 .Preview-mainCon-contenter {}
.iphonePreview-15 .Preview-mainCon-contenter-bg {}
.iphonePreview-15 .Preview-nav { margin:0 3px;}
.iphonePreview-15 .Preview-nav ul li{ width:100%;}
.iphonePreview-15 .Preview-nav ul li{ width:81px;height:74px; overflow:hidden; float:left; margin-top:6px; position:relative; line-height:0;}
.iphonePreview-15 .Preview-nav ul li .nav-img{height:100%; display:block; background-position:center 30%;background-repeat:no-repeat; margin:0 3px; border-radius: 3px;}
.iphonePreview-15 .Preview-nav ul li .nav-con { height:20px; margin:0 auto;position: relative; bottom:20px;overflow:hidden;display: none;}
.iphonePreview-15 .Preview-nav ul li p {height:20px; line-height:20px;text-align:center;color:#fff; font-size:13px; margin:0 3px;}
.iphonePreview-15 .Preview-nav ul li p.nobg{ background:none; color:#fff;}
.iphonePreview-15 .Preview-first-view { margin: 0 auto; width:100%; height: 100%; overflow: hidden; position:absolute; top: 0; left: 0; }
.iphonePreview-15 .Preview-first-view img {height:100%;}
.iphonePreview-15 .Preview-first-view ul { width:100%; height: 100%;}
.iphonePreview-15 .Preview-first-view li { width:100%; height: 100%;}
.iphonePreview-15 #Preview-footer { text-align:center; padding:10px 0;position:relative; z-index: 100; }
.iphonePreview-15 #Preview-footer .myMicweb {width:50px; height:50px;position:absolute; right:0; bottom:0;background:url(../Image/wapimg/myMicroWeb-one.png) no-repeat right bottom;}
.iphonePreview-15 #Preview-footer .myMicRight { margin:0 25px;}
.iphonePreview-15 #Preview-footer .myMicRight p{ text-align:center;color:#bec2a6;white-space: nowrap;text-overflow: ellipsis; overflow:hidden; font-size:10px;}
.iphonePreview-15 #Preview-footer .myMicRight p span{ color:#bec2a6; font-size:10px;}
/*------------------------------------ 预览15结束 -----------------------------*/