@charset "utf-8";
/* CSS Document */
/*
[目录表]
1- 新浪微博 缩写sina
*/

.sina-account {}
.sina-account ul {height:70px; border-bottom:dashed 1px #ddd; padding-bottom:10px;}
.sina-account ul li { position:relative;float:left; margin-right:15px;overflow:hidden; border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px; }
.sina-account ul li p{margin-bottom:6px;font-size: 14px;color: #000;overflow: hidden;}
.sina-account ul li p.tit{line-height:20px;font-size: 14px;font-weight: bold;}
.sina-account ul li p span{display:block;float:left;margin-right: 18px;}
.sina-account ul li p span.border{padding-right: 18px;border-right: 1px #000 solid;}
.sina-account ul li.head{width:70px;height:70px;overflow: hidden;}
.sina-account ul li img { width:100%; height:100%;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;}
.sina-account li.btn{float: right;margin-right: 4px;margin-top:10px;}
.sina-account .sinaAccount { width:40px; height:40px; border:dashed 2px #fff;}
.sina-account .onAccount { opacity:1; filter:alpha(opacity=100);}
.sina-account .onAccount i { width:13px; height:13px; position:absolute; z-index:2; bottom:0; right:0;background:url(../Image/mem-icon.png) no-repeat 0 0;}
.sina-account .offAccount i { display:none;}
.sina-account .offAccount { opacity:0.5; filter:alpha(opacity=50);}
.sina-account .add-account { width:64px; height:64px; border:dashed 2px #b8b8b8;}
.sina-account .add-account i { width:11px; height:11px;background:url(../Image/icon-msg.png) no-repeat -409px -98px; display:block; opacity:0.4; filter:alpha(opacity=40); position:absolute; top:50%; margin-top:-6px; left:50%; margin-left:-6px;}
.sina-account .add-account:hover {border:dashed 2px #7d7d7d;}
.sina-account .add-account:hover i{ opacity:0.6; filter:alpha(opacity=60);}
.sina-send { margin-top:10px;}
.sina-send .sinaSend-num { *margin-top:0; line-height:30px; text-align:right; color:#a2a2a2;}
.sina-send .sinaSend-num span { font-size:20px; font-style:italic; margin:0 4px 0 3px; color:#999999;font-family: Georgia, "Times New Roman", Times, serif;}
.sina-send .sinaSend-input { width:100%;padding: 5px;height:148px;font-size: 14px;word-wrap: break-word;line-height: 18px;overflow-y: auto;overflow-x: hidden;outline: none; border:solid 1px #dedede;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:2px;-o-border-radius:5px; line-height:18px; color:#808080; box-shadow:2px 2px 4px rgba(0,0,0,0.1) inset;}
.sina-send .sinaSend-func { width:100%;padding:2px 5px;height:40px;line-height: 18px; border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px; background:#f5f5f5; margin-top:10px;}
.sina-send .sinaSend-func li { float:left; margin-left:15px; padding-left:20px;line-height:40px; cursor:pointer;}
.sina-send .sinaSend-func li i { margin-left:-20px; width:20px; height:40px; float:left;}
.sina-send .sinaSend-func li span { color:#929292;}
.sina-send .sinaSend-func li a img { width:32px; height:32px; vertical-align:middle; margin-right:5px;}
.icon-face { background:url(../Image/icon-sina.png) no-repeat 0 0;}
.icon-img { background:url(../Image/icon-sina.png) no-repeat 0 -40px;}
.icon-movie { background:url(../Image/icon-sina.png) no-repeat 0 -80px;}
.icon-qing { background:url(../Image/icon-sina.png) no-repeat 0 -120px;}
.icon-chang { background:url(../Image/icon-sina.png) no-repeat 0 -160px;}
.icon-link { background:url(../Image/icon-sina.png) no-repeat 0 -200px;}
.icon-activaty { background:url(../Image/icon-sina.png) no-repeat 0 -240px;}
.sinaSend-func li:hover .icon-face { background:url(../Image/icon-sina.png) no-repeat -30px 0;}
.sinaSend-func li:hover .icon-img { background:url(../Image/icon-sina.png) no-repeat -30px -40px;}
.sinaSend-func li:hover .icon-movie { background:url(../Image/icon-sina.png) no-repeat -30px -80px;}
.sinaSend-func li:hover .icon-qing { background:url(../Image/icon-sina.png) no-repeat -30px -120px;}
.sinaSend-func li:hover .icon-chang { background:url(../Image/icon-sina.png) no-repeat -30px -160px;}
.sinaSend-func li:hover .icon-link { background:url(../Image/icon-sina.png) no-repeat -30px -200px;}
.sinaSend-func li:hover .icon-activaty { background:url(../Image/icon-sina.png) no-repeat -30px -240px;}
.sina-send .sinaSend-func .btn-savedata{ margin-top:5px; margin-right:10px;color:#444444; width:100px; height:28px; line-height:28px; border:solid 1px #c2c2c2; text-align:center;background:#e6e6e6;background: #F6F6F6; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F6F6F6'); background: linear-gradient(top, #FFF, #F6F6F6); background: -moz-linear-gradient(top, #FFF, #F6F6F6); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#F6F6F6));border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;}
.sina-send .sinaSend-func .btn-savedata:hover{background: #EDEDED; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EDEDED'); background: linear-gradient(top, #FFF, #EDEDED); background: -moz-linear-gradient(top, #FFF, #EDEDED); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#EDEDED));}
.sina-send .sinaSend-func .btn-savedata:active{background: #EDEDED; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#FFFFFF'); background: linear-gradient(top, #EDEDED, #FFFFFF); background: -moz-linear-gradient(top, #EDEDED, #FFFFFF); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EDEDED), to(#FFFFFF));}
.sinaSend-updata { margin-top:20px;}
.sinaSend-updata ul {}
.sinaSend-updata ul li { float:right; line-height:35px; margin-top:2px;}
.sinaSend-updata ul li input[type=radio] { vertical-align:middle; margin:0 5px;}
.sinaSend-updata ul li label { vertical-align:middle;}
.btn-updata { margin-top:5px; margin-right:0px; margin-left:30px;color:#fff; font-weight:bold; width:100px; height:28px; line-height:28px; text-align:center;background: #f75a63;border-radius:2px;border:solid 1px #f73e3e;}
.btn-updata:hover { color:#fff;}
.sinaSend-updata .btn-updata.disabled {background:#f1f1f1;border: solid 1px #ddd; color:#aaa;}
.sina-send .sinaSend-func .btn-savedata.disabled {background:#f1f1f1;border: solid 1px #ddd; color:#aaa;}

.sina-history { margin-top:20px; color:#333; padding-bottom:40px;}
.sina-history li{  padding:10px 0;padding-left:40px; border-bottom:dashed 1px #d4d4d4; padding-bottom:10px; position:relative;}
.sinaHistory-con { padding:0 0 5px 0;}
.sinaHistory-img { margin-left:10px; padding-bottom:10px;}
.sinaHistory-account { height:20px;}
.sinaHistory-account a { line-height:20px;}
.sinaHistory-account span { margin-right:350px;line-height:20px;}
.icon-sinalogo { display:inline-block; width:18px; height:14px;background:url(../Image/icon-sina.png) no-repeat 0 -280px; vertical-align:top; margin-top:3px;}
.sinaHistory-opr { background:#f1f1f1; height:23px; margin-top:10px;padding:10px 10px; }
.sinaHistory-opr .opr-item {width:90px; height:23px; float:left;}
.sinaHistory-opr .opr-item.r { float:right;}
.sinaHistory-opr .opr-item i {width:22px; height:22px;float:left; margin-right:6px;}
.sinaHistory-opr .opr-item span { line-height:23px;float:left; font-size:14px; color:#404040;}
.icon-down {background:url(../Image/icon1.png) no-repeat 0 -300px;}
.icon-edit {background:url(../Image/icon1.png) no-repeat 0 -350px;}
.icon-stop {background:url(../Image/icon1.png) no-repeat 0 -390px;}
.icon-begin {background:url(../Image/icon1.png) no-repeat 0 -550px;}
.icon-data {background:url(../Image/icon1.png) no-repeat 0 -450px;}
.icon-prize {background:url(../Image/icon1.png) no-repeat 0 -500px;}
.icon-on {background:url(../Image/icon1.png) no-repeat 0 -600px;}
.icon-off {background:url(../Image/icon1.png) no-repeat 0 -650px;}
.sinaHistory-opr .opr-item a:hover .icon-down {background:url(../Image/icon1.png) no-repeat -40px -300px;}
.sinaHistory-opr .opr-item a:hover .icon-edit {background:url(../Image/icon1.png) no-repeat -40px -350px;}
.sinaHistory-opr .opr-item a:hover .icon-stop {background:url(../Image/icon1.png) no-repeat -40px -390px;}
.sinaHistory-opr .opr-item a:hover .icon-begin {background:url(../Image/icon1.png) no-repeat -40px -550px;}
.sinaHistory-opr .opr-item a:hover .icon-data {background:url(../Image/icon1.png) no-repeat -40px -450px;}
.sinaHistory-opr .opr-item a:hover .icon-prize {background:url(../Image/icon1.png) no-repeat -40px -500px;}
.icon-down:hover {background:url(../Image/icon1.png) no-repeat -40px -300px;}
.icon-edit:hover {background:url(../Image/icon1.png) no-repeat -40px -350px;}
.icon-stop:hover {background:url(../Image/icon1.png) no-repeat -40px -400px;}
.icon-begin:hover {background:url(../Image/icon1.png) no-repeat -40px -550px;}
.icon-data:hover {background:url(../Image/icon1.png) no-repeat -40px -450px;}
.icon-prize:hover {background:url(../Image/icon1.png) no-repeat -40px -500px;}
.sinaHistory-opr .opr-item .btn-updata { margin-top:-4px;color:#fff; font-weight:bold; width:100px; height:28px; line-height:28px; text-align:center;background:#fa5151; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa5151', endColorstr='#f73e3e'); background: linear-gradient(top, #fa5151, #f73e3e); background: -moz-linear-gradient(top, #fa5151, #f73e3e); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fa5151), to(#f73e3e));border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px; border:solid 1px #f73e3e;}

#longWb {height:460px;position:relative;}
#longWb .longWb-nav { width:250px; float:right; height:470px; position: fixed; right:20px; top:20px;}
#longWb .longWb-nav-opr { position:absolute; bottom:20px; left:50%; margin-left:-103px;}
#longWb .longWb-nav-title { color:#000; font-weight:bold; font-size:14px;}
#longWb .longWb-nav-list { padding-left:10px; padding-top:10px;}
#longWb .longWb-nav-list li{ height:auto; padding:5px 0 ; cursor:pointer; cursor:pointer;}
#longWb .longWb-nav-list li span{ vertical-align:middle; margin-left:10px;}
#longWb .longWb-nav-list li i { width:57px; height:57px; display:inline-block; vertical-align:middle;}
#longWb .longWb-nav-list li .icon-long-white{background:url(../Image/icon-sina-long.png) no-repeat 0 0;}
#longWb .longWb-nav-list li .icon-long-clear{background:url(../Image/icon-sina-long.png) no-repeat 0 -60px;}
#longWb .longWb-nav-list li .icon-long-text{background:url(../Image/icon-sina-long.png) no-repeat 0 -120px;}

.longWb-nav .longWb-nav-img { border:solid 1px #dedede; padding:20px 15px; height:auto; overflow:hidden;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;}
.longWb-nav .longWb-nav-img .btn-weibo-img,.longWb-nav .longWb-nav-img .btn-weibo-bg {  float:left; color:#555; width:96px; height:28px; line-height:28px; text-align:center;background:#e6e6e6;background: #F6F6F6; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F6F6F6'); background: linear-gradient(top, #FFF, #F6F6F6); background: -moz-linear-gradient(top, #FFF, #F6F6F6); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#F6F6F6));border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px; border:solid 1px #c2c2c2; margin:0 auto;}
.longWb-nav .longWb-nav-img .btn-weibo-bg { margin-left:10px;}
.longWb-nav-opr .btn-updata{ float:left; color:#fff; font-weight:bold; width:96px; height:28px; line-height:28px; text-align:center;background:#fa5151; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa5151', endColorstr='#f73e3e'); background: linear-gradient(top, #fa5151, #f73e3e); background: -moz-linear-gradient(top, #fa5151, #f73e3e); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fa5151), to(#f73e3e));border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px; border:solid 1px #f73e3e; margin:0 auto;}
.longWb-nav-opr .btn-updata.disabled {background:#f1f1f1;border: solid 1px #ddd; color:#aaa;}
.longWb-nav-opr .btn-savedata{  float:left; color:#555; width:96px; height:28px; line-height:28px; text-align:center;background:#e6e6e6;background: #F6F6F6; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F6F6F6'); background: linear-gradient(top, #FFF, #F6F6F6); background: -moz-linear-gradient(top, #FFF, #F6F6F6); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#F6F6F6));border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px; border:solid 1px #c2c2c2; margin:0 auto;margin-left:10px;}
.longWb-nav-opr .btn-savedata.disabled {background:#f1f1f1;border: solid 1px #ddd; color:#aaa;}

#longWb .longWb-con { margin-right:240px; position:relative;}
#longWb .longWb-con .longWb-con-title { width:432px; border:solid 1px #929292; border-bottom:none;}
#longWb .longWb-con .longWb-con-title .longWb-con-input { width:412px; height:30px; padding:10px; text-align:center; font-size:21px; line-height:30px; }
#longWb .longWb-con .longWb-con-con { width:432px;}
#longWb .longWb-con .longWb-con-con textarea { width:100%; height:268px;}
/*
#longWb .longWb-con .longWb-con-con .longWb-con-textarea { width:412px; height:410px; padding:3px 0; text-align:left; margin:0 10px; border:none; font-size:14px;overflow-y:auto;word-break: break-all;}
#longWb .longWb-white .longWb-con-input { border-bottom:solid 1px #BCBCBC;color:#929292;}
#longWb .longWb-white .longWb-con-textarea { color:#929292;}
#longWb .longWb-clear .longWb-con-input { border-bottom:solid 1px #BCBCBC; color:#929292;}
#longWb .longWb-clear .longWb-con-textarea {background:url(../Image/sina-long-bg1.jpg) repeat 0 0; color:#929292;}
#longWb .longWb-text .longWb-con-input { background:#483d2b;color:#929292;}
#longWb .longWb-text .longWb-con-con { background:#fbf5d8;}
#longWb .longWb-text .longWb-con-textarea {background:none; color:#929292;}
#longWb .longWb-white .longWb-con-input.inputOn { color:#000;}
#longWb .longWb-white .longWb-con-textarea.inputOn { color:#000;}
#longWb .longWb-clear .longWb-con-input.inputOn { color:#000;}
#longWb .longWb-clear .longWb-con-textarea.inputOn { color:#000;}
#longWb .longWb-text .longWb-con-input.inputOn { color:#fff;}
#longWb .longWb-text .longWb-con-textarea.inputOn { color:#000;}
#longWb #longWb-num { width:140px; height:20px; overflow:hidden;opacity:0.9; filter:alpha(opacity=90); background:#fff; position:absolute; right:22px; bottom:2px; text-align:center; line-height:22px; color:#000; display:none; font-size:12px;}
*/
#emotions {left:0;width: 395px;font-size:12px;background:url(../Image/layer_bg.png) repeat;position:absolute; padding:4px;}
#emotions .emotions-icon {width: 14px;height: 9px;top: -5px;left: 30px;background:url(../Image/layer_arrow.png) no-repeat 0 0; position:absolute;}
#emotions .emotions-con{background:#fff; overflow:hidden;}
#emotions .emotions-con div{margin:5px 10px;padding:1px;overflow: hidden;}
#emotions #prev,#emotions #next{ width:20px; height:20px;margin-left:3px; border:solid 1px #d9d9d9; float:right;}
#emotions #prev span,#emotions #next span { width:18px; height:18px; margin:1px; display:block; background:#d9d9d9; overflow:hidden;}
#emotions #prev i,#emotions #next i { width:8px; height:12px; display:block; margin:3px 5px;}
#emotions #prev i { background:url(../Image/icon1.png) no-repeat -8px -1550px;}
#emotions #next i { background:url(../Image/icon1.png) no-repeat 0 -1550px;}
#emotions .categorys{color:#ccc;height:23px;color: #0a8cd2;overflow:hidden;}
#emotions .categorys a{display: inline-block;color: #0a8cd2;padding:2px 7px;text-decoration:none;}
#emotions .categorys a:hover{text-decoration:underline;}
#emotions .categorys a.current{cursor: default;background: #F0F0F0;}
#emotions .container{padding:1px;overflow: hidden;}
#emotions .container a{float:left;width:26px;height:22px;text-align:center;padding: 4px 2px;margin: -1px 0 0 -1px;border: 1px solid #e8e8e8;}
#emotions .container a:hover{z-index:2;position:relative;border:1px solid #0095cd;}
#emotions .page{text-align:right;}
#emotions .page a{padding:2px 7px;}
#emotions .page a.current{color: #666;background-color:#fff;}
#emotions .page a{margin-left:3px;color: #0078B6;background-color:#f3f3f3;}
#emotions .page a:hover{background-color:#e7e7e7;}
#emotions,#emotions #prev,#emotions #next,#emotions #prev i,#emotions #next i,#emotions .categorys a.current { border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px; }


#Wlayer {left:0;width: 350px;font-size:12px;background:url(../Image/layer_bg.png) repeat;position:absolute; padding:4px;}
#Wlayer .Wlayer-icon {width: 14px;height: 9px;top: -5px;left: 30px;background:url(../Image/layer_arrow.png) no-repeat 0 0; position:absolute;}
#Wlayer .Wlayer-con{background:#fff; overflow:hidden;}
#Wlayer .title {background: #f2f2f2;height: 30px;line-height: 30px;font-weight: 700;padding: 0 0 0 10px;font-size: 12px;vertical-align: middle}
#Wlayer .title span { color:#999; font-size:12px; margin-left:5px; font-weight:normal;}
.sinaUp-img { padding:5px; height:auto; overflow:hidden;}
.sinaUp-img li { width:169px; height:45px; overflow:hidden; float:left; border-right:solid 1px #e6e6e6; position:relative;}
.sinaUp-img li.last {border-right:none;}
.sinaUp-img li a { display:block; padding:0 5px; color:#333;}
.sinaUp-img li span { height:45px; overflow:hidden; display:block; line-height:45px; font-weight:bold; font-size:14px; color:#333; text-align:center;}
.sinaUp-img li span:hover { background:#f1f1f1;}
.sinaUp-img li span input[type=file]{ width:180px; height:60px; position: absolute; left:0; top:0; z-index:1; opacity:0; filter:alpha(opacity=0);}
.sinaUp-img li span i { display:inline-block; width:20px; height:20px; margin-right:9px;vertical-align: middle;}
.sinaUp-img li span i:hover { color:#000;}
.icon-sinaimg1 {background:url(../Image/icon_sina.png) no-repeat 0 0;}
.sinaUp-img li span:hover .icon-sinaimg1 { background:url(../Image/icon_sina.png) no-repeat 0 -25px;}
.icon-sinaimg2 {background:url(../Image/icon_sina.png) no-repeat -25px 0;}
.sinaUp-img li span:hover .icon-sinaimg2 { background:url(../Image/icon_sina.png) no-repeat -25px -25px;}

#xiuxiu { width:800px; height:560px;}
#xiuxiu .closexiuxiu1{ width:30px; height:30px; position:absolute; right:3px; top:3px;background:#f1f1f1 url(../Js/artDialog4.1.6/skins/delault/aui_close.png) no-repeat center center; cursor:pointer;}
#xiuxiu .closexiuxiu2{ width:77px; height:30px; position:absolute; right:3px; bottom:10px; cursor:pointer;}