.wxsq {float: right;position: absolute;top: 26px;right: 0px;}
.wxsqTitle { font-size: 14px; color: #666666; margin-top: 12px; font-weight: bold;}
.wxsq .wxsqCon {position: absolute;top: 191px;width: 259px;}
.wxsq .wxsqCon p {color: #ffffff;text-align: center;font-size: 14px;line-height: 20px;}
.wxsqEnlarge { width: 150px; height: 150px; position: absolute; top: 130px; right: 250px; }
.wxsqEnlargeImg {margin-top: 5px;}
.wxsqEnlargeImg img{width: 260px;}
.wxsqEnlarge p {color: #ffffff;text-align: center;font-size: 16px;line-height: 28px;overflow: hidden;height: 30px;padding-top: 2px;}
.wxsqEnlarge_p { height: 150px; width: 150px; z-index: 1; position: absolute; top: 50px; }
.wxsqEnlarge_p span { border: 1px  dashed #ffff00; }
.wxsqEnlarge_broder { height: 140px; width: 140px; border-radius: 140px; border: 5px solid #e5e5e5; z-index: 2; position: absolute; }
.wxsqEnlarge_bg { height: 140px; width: 140px; border-radius: 140px; background: #4db132; z-index: 0; left: 5px; top: 5px; position: absolute;}
.zysq { display: none; }

/*添加奖品*/
.iframeCon { margin-top: 15px; padding: 0 30px 0 30px; }
.part01 { padding: 30px 0; width: 100%; }
.part01 .part01-info { width: 100%; height: 250px; }
.part01 .part01-info dl { width: 30%; float: left; text-align: center; padding-bottom: 30px; padding-top: 15px; border: 1px solid #ffffff; }
.part01 .part01-info dl h4 { text-align: center; font-size: 18px; color: #2485d8; }
.part01 .part01-info dl h4 img { padding-left: 8px; }
.part01 .part01-info dl p { font-size: 12px; color: #999999; line-height: 18px }
.part01 .part01-info .bottom-02 { margin: 0 4.5%; }
.part01 .part01-info dl:hover { background: #f4f9ff; border: 1px solid #c3ddf4; }
.txtTips { font-size: 14px; color: #666666; line-height: 20px }
.main-name h4 { line-height: 36px; padding: 0px; font-size: 20px; }
.tipNormal { width: 100%; margin-top: -15px; margin-left: -30px; }