@charset "utf-8";
/* CSS 电子海报 */

html{color:#4d4d4d; height:100%; min-height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}
h1{color:#fe5502;}
h2{color:#888;text-align:left;}
h3{color:#444;}
h4{color:#444;text-align:left;}
* {-webkit-tap-highlight-color:rgba(0,0,0,0)}

a {color:#0066cc;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center !important;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1;}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:100%; margin:0 auto; max-width:640px;background:#fff;}
#container {height:100%; min-height:100%;}
#header { height:30px; overflow:hidden;z-index:1; position:relative;text-align:center; padding:7px; border-bottom:solid 1px #dcdcdc;}
#main { height:100%; position:relative;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:5px 0 5px 0;text-align:center;color:#5c5c5c;background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%); font-size:12px; line-height:20px;}
#footer p a{ color:#5c5c5c;}
.shopBoxView { text-align:left;}

.Gloading {width:100%; height:100%; position:fixed; top:0; left:0;background:#fffce5; z-index:100000;}
.Gloading img { position:fixed; top:50%; margin-top:-102px; left:50%; margin-left:-160px; width:320px; height:205px;}
.Gloading .progress {position:fixed; left:50%; margin-left:-100px;width:200px; height:10px; top:50%; margin-top:110px; border:solid 1px #ce9872; border-radius:6px; overflow:hidden;}
.Gloading .progress i { position:absolute; z-index:0; top:0; display:block;width:100%; height:10px;right:100%; background:#ce9872; border-radius:5px;transition:right 1s;}
.Gloading .progress p { position:relative; z-index:1;color:#a4371d; line-height:10px; font-size:12px;}

/*shopModBox-13之前的在Wshop.css中,此处把shopModBox原改为Mod*/
.ModCon { width:100%; height:100%; overflow:hidden;}
.ModCon .Modwapper { width:100%; height:100%;}
.ModCon .Modwapper .Modlist { position:relative; width:100%; height:100%; overflow:hidden; float:left;}
.ModCon .Modwapper .Modlist>img { position:absolute; top:0; left:0; width:100%; height:auto; min-height:100%;}
.iconHand { position:absolute; z-index:3; bottom:10px; left:50%; margin-left:-24px; width:48px; height:48px; background:url(../../Image/poster/icon-hand.png) no-repeat center 0px; opacity:0.7;}
.iconHand { -webkit-animation:iconHand 1.5s infinite ease;}
@-webkit-keyframes iconHand
{
	0%{-webkit-transform:translate(0,0px);}
	100%{-webkit-transform:translate(0,-60px);}
}
.music { position: absolute; z-index:2; top:10px; right:10px; padding:5px; width:12px; height:12px; border-radius:20px; border:solid 1px #fff; opacity:0.8;}
.music i { display:block; width:12px; height:12px; background:url(../Image/20160119/shopMusic.png) no-repeat 0 0; background-size:100% 100%;}
.music.on i { -webkit-animation:music 1.5s infinite linear;}
.music.on span { position:absolute; top:2px; right:2px; width:10px; height:10px; background:url(../Image/20160119/shopMusic.png) no-repeat 0 0; background-size:100% 100%; opacity:0.8; -webkit-animation:music1 1.5s infinite linear;}
.music.on em { position:absolute; top:-4px; right:-4px; width:8px; height:8px; background:url(../Image/20160119/shopMusic.png) no-repeat 0 0; background-size:100% 100%; opacity:0.8; -webkit-animation:music2 1.5s infinite linear;}
.btn-Hotrecommend { position:absolute; bottom:0; left:0; padding:6px 0 6px 0; width:100%;background:rgba(0,0,0,0.8); text-align:center;-webkit-transform:translate(0,80px);}
.btn-Hotrecommend a { display:inline-block; width:120px; height:35px;margin:0 10px; overflow:hidden; line-height:35px; border-radius:5px; font-size:16px;color: #fff;text-shadow: 0px 1px 0px rgba(0,0,0,0.3);background: #fed76e;background: -webkit-gradient(linear, left top, left bottom, from(#ff7c00), to(#ff5500));box-shadow: 0 3px 3px rgba(0,0,0,0.5);}
.btn-Hotrecommend a.last {background: #dd0007;background: -webkit-gradient(linear, left top, left bottom, from(#ff1600), to(#dd0007));}
.btn-Hotrecommend a.last:hover {background: -webkit-gradient(linear, left top, left bottom, from(#dd0007), to(#ff1600));box-shadow: 0 3px 3px rgba(0,0,0,0.5);}
.btn-Hotrecommend a:hover {background: -webkit-gradient(linear, left top, left bottom, from(#ff5500), to(#ff7c00));box-shadow: 0 3px 3px rgba(0,0,0,0.5);}
.swiper-slide-active .btn-Hotrecommend {-webkit-animation:Hotrecommend 0.5s 1.5s forwards linear;}

.swiper-slide { position:relative; width:100%; height:100%; overflow:hidden;}
.swiper-slide>div { position:relative; line-height:0;}
.swiper-slide .img { width:100%; height:auto;-webkit-user-select:none;}
.page1 { background:#ce0b2c url(../Image/20160119/bg-page1.png) no-repeat bottom center; background-size: cover;}

.page2 { background:#fcecc7 url(../Image/20160119/bg-page2.png) no-repeat top center; background-size:100% 100%;}
.page3 { background:#ffffff url(../Image/20160119/bg-page3.png) no-repeat top center; background-size:100% 100%;}
.page4 { background:#FFFFFF }
.page5 { background:orange; background-size:100% 100%;}
.page6 { background:dodgerblue url(../Image/20160119/bg-page6.png) no-repeat 0 0; background-size:100% 100%;}
.page7 { background:#fff url(../Image/20160119/bg-page7.png) no-repeat 0 bottom; background-size:100% 100%;}
.page8 { background:#fff url(../Image/20160119/bg-page8.png) no-repeat 0 bottom; background-size:100% 100%;}
.page9 { background:#ffffff; background-size:100% auto;}


.page10 { background:#45aeff url(../Image/20160119/bg-page10.png) no-repeat 0 0; background-size:100% 100%;}


.page11 { background:#0484ef url(../Image/20160119/bg-page11.jpg) no-repeat 0 0; background-size:100% 100%;}
.page12 { background:#ffffff;}
.page13 { background: url(../Image/20160119/bg-page13.png) no-repeat 0 0; background-size:100% 100%;}
.page14{background:#df3f41;}
.page15 { background:#ce0b2c url(../Image/20160119/bg-page15.png) no-repeat 0 0; background-size:100% 100%;}
.page16 { background:#ce0b2c url(../Image/20160119/bg-page15.png) no-repeat 0 0; background-size:100% 100%;}
.page17 { background: url(../Image/20160119/bg-page17.png) no-repeat 0 0; background-size:100% 100%;}


@-webkit-keyframes Hotrecommend
{
	0%{-webkit-transform:translate(0,80px);}
	100%{-webkit-transform:translate(0,0);}
}
@-webkit-keyframes music
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes music1
{
	0%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	10%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	50%{-webkit-transform:rotate(15deg) translate(5px,-5px); opacity:0.8;}
	100%{-webkit-transform:rotate(30deg) translate(10px,-10px); opacity:0;}
}
@-webkit-keyframes music2
{
	0%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	40%{-webkit-transform:rotate(0deg) translate(0,0); opacity:0;}
	80%{-webkit-transform:rotate(-30deg) translate(7px,-7px); opacity:0.4;}
	100%{-webkit-transform:rotate(-60deg) translate(14px,-14px); opacity:0;}
}

.page1-0 { margin-top:3%; z-index:2;}
.page1-0 { position:absolute; z-index:2; top:50px; left:0; width:100%; height:auto;}
.page1-0 img { opacity:0;}
.swiper-slide>.page1-00{position:absolute;bottom: 12%;}
.page1 .page1-1{position:absolute; z-index:2;  left:0; width:100%; height:auto;}
.page1-2{position:absolute; z-index:2;  left:0; width:100%; height:auto;}

.page1 .page1-3{ position:absolute;z-index:2;left:0; width:100%; height:auto;opacity: 0;}
.page1-4{ z-index:0; left:0; width:100%; height:auto;opacity: 1;}


.swiper-slide-active .ymr-1-0 {-webkit-animation:ymr-1-1 15s 0.2s forwards ease;}
.swiper-slide-active .page1-0 .page1-1 {-webkit-animation:opacity2 2s 0.2s forwards ease;}
.swiper-slide-active .page1-0 .page1-2 {-webkit-animation:opacity2 2s 0.6s forwards ease;}
.swiper-slide-active .page1-3 {-webkit-animation:opacity3 1.2s 0.8s forwards linear;}
.swiper-slide-active .page1-4{-webkit-animation:rotate 20s 0s forwards linear;}

@-webkit-keyframes ymr-1-1{
	0%{ -webkit-transform:scale(1.5,1.5);}
	100%{ -webkit-transform:scale(1,1);}
}


.page2-1 { position:absolute; z-index:2; top:0; left:0; width:100%; height:auto;}
.page2-2 { position:absolute;   left:0; width:100%; height:auto; opacity:1;}
.page2-0{top: 20%;z-index: 5;opacity: 1;}
.page2-0 p {margin:0 7%;line-height: 25px;font-size: 14px;color:;text-align: left;color: #6e5212;opacity: 0;z-index:2;}
.swiper-slide-active .page2-0 p {-webkit-animation:opacity2 3s 0.2s forwards ease;}
.swiper-slide-active .page2-2{-webkit-animation:rotate 20s 0s forwards ease;}





.page3 img { width: 100%; height:auto;}
.page3-0 { position:relative;  height:auto;top: -5%; width: 100%;}
.page3-2{opacity:0; position:relative;  height:auto; padding:0px;}
.page3-3{opacity:0; position:relative;  height:auto; padding:0px;}

.swiper-slide>.page3-00 { position:absolute; height:auto;bottom: 2%;width: 100%}
.page3-4{opacity:0; position:relative;  height:auto; padding:0px;}
.page3-5{opacity:0; position:relative;  height:auto; padding:0px;}


.swiper-slide-active .page3-2{-webkit-animation:translateX6 5s 0.2s forwards linear;}
.swiper-slide-active .page3-3{-webkit-animation:translateX6 2s 0.5s forwards linear;}
.swiper-slide-active .page3-4{-webkit-animation:opacity 2s 0.8s forwards linear;}
.swiper-slide-active .page3-5{-webkit-animation:opacity3 2s 0.1s forwards linear;}






.page4 img { width: 100%;height:auto;}
.page4-0 { position:relative; height:auto;margin-top: 2%; width: 100%;}
.page4-0 img { opacity:0;}
.page4-0 .page4-3{margin-top:5%;}
.page4-0 .page4-2{margin-top:5%;}
.page4-00 img { opacity:0;}
.swiper-slide>.page4-00{position: absolute;bottom: 15%; width: 100%;height:auto;}
.page4-00 .page4-4{position: absolute;}
.swiper-slide-active .page4-2{-webkit-animation:opacity2 1s 0.5s forwards linear;}
.swiper-slide-active .page4-3{-webkit-animation:translateY2 1s 1s forwards linear;}
.swiper-slide-active .page4-4{-webkit-animation:translateX-3 2s 1.5s forwards linear;}
.swiper-slide-active .page4-5{-webkit-animation:translateX3 2s 1.5s forwards linear;}
@-webkit-keyframes width {
	0%{opacity:0; width: 0;}
	100%{opacity:1; width: 100%;}
}


.page5 img { width: 100%;}
.page5-0{margin-top: 5%; width: 100%;height:auto;}
.page5-0 img{opacity: 0;width: 100%;height:auto;}
.page5-00 img{opacity: 0;width: 100%;height:auto;}
.page5-1{ position: relative;z-index: 10001;margin-top: 1%;width: 100%;height:auto;}
.page5-2{ position: relative;z-index: 10001;margin-top: 10%;width: 100%;height:auto;}
.page5-00{position: absolute;padding-top: 15%; width: 100%;height:auto;}

.page5-00 .page5-3{position: absolute;z-index: 3;width: 100%;height:auto;}
.page5-00 .page5-4{position: absolute;z-index: 1;width: 100%;height:auto;}
.page5-00 .page5-5{position: absolute;z-index: 2;width: 100%;height:auto;}
.page5-00 .page5-6{position: absolute;z-index: 2;width: 100%;height:auto;}
.page5-00 .page5-7{z-index: 0;z-index: 1;width: 100%;height:auto;}


.swiper-slide-active .page5-1{-webkit-animation:opacity2 1s 0.5s forwards linear;}
.swiper-slide-active .page5-2{-webkit-animation:translateX5 1s 1s forwards linear;}

.swiper-slide-active .page5-4{-webkit-animation:translateX4 1s 2.5s forwards linear;}
.swiper-slide-active .page5-5{-webkit-animation:translateX4 1s 2.2s forwards linear;}
.swiper-slide-active .page5-3{-webkit-animation:opacity2 1s 1.2s forwards linear;}
.swiper-slide-active .page5-6{-webkit-animation:translateX-4 1s 2.2s forwards linear;}
.swiper-slide-active .page5-7{-webkit-animation:translateX-4 1s 2.5s forwards linear;}




.page6 img { width: 100%;height:auto;}
.page6-0 {  height:auto;top: 5%; width: 100%; }
.page6-0 img { opacity:0;height:auto;width: 100%;}
.swiper-slide-active .page6-2 {-webkit-animation: opacity2 2s 0.2s forwards linear;}


.page7 img { width: 100%;height:auto;}
.swiper-slide>.page7-0{position:absolute;height:auto;bottom: 8%; width: 100%;}
.page7-0{width: 100%;height:auto;}
.page7-0 img { opacity:0;width: 100%;}
.page7-3{padding-top: 3%;width: 100%;height:auto;}
.swiper-slide-active .page7-0 img {-webkit-animation:opacity3 1.2s 0.2s forwards linear;}


.page8 img { width: 100%;height:auto;}
.page8-1{z-index: 3;position: absolute;left: 0;}
.page8-0 { position:relative;height:auto;;top: 8%; width: 100%; }
.page8-0 img { opacity:0;z-index: 1;width: 100%;height:auto;}
.page8-00 img { opacity:0;z-index: 1;width: 100%;height:auto;}
.swiper-slide>.page8-00 {position: absolute;bottom: 0;}


.swiper-slide-active .page8-3 {-webkit-animation:opacity3 1.2s 0.2s forwards linear;}
.swiper-slide-active .page8-2 {-webkit-animation:opacity2 1.2s 0.2s forwards linear;}


.page9 img { width: 100%;height:auto;}
.swiper-slide>.page9-00 {position: absolute;bottom: 5%;left: 0; width: 100%;height: auto;}
.page9-0{margin-top: 8%; width: 100%;height:auto;}
.page9-0 img{opacity: 0;width: 100%;height:auto;}
.page9-00 img{opacity: 0;width: 100%;height:auto;}
.page9-00 .page9-2{top: -20%;position: absolute; }
.page9-5{margin-top:2%;}
.swiper-slide-active .page9-0 .page9-3{-webkit-animation:opacity2 1s 0.2s forwards linear;}
.swiper-slide-active .page9-2 {-webkit-animation:opacity 1s 2.6s forwards linear;}
.swiper-slide-active .page9-4 {-webkit-animation:opacity 2s 1.7s forwards linear;}
.swiper-slide-active .page9-5 {-webkit-animation:opacity3 1s 0.5s forwards linear;}






.page10 img { width: 100%;height:auto;}
.page10-0 img{opacity: 0;width: 100%;height:auto;}
.swiper-slide>.page10-0{top: 5%; width: 100%;}
.swiper-slide>.page10-00{position: absolute;bottom: 10%;opacity: 0; width: 100%;}
.swiper-slide-active .page10-2 {-webkit-animation:opacity2 1.2s 0.2s forwards linear;}
.swiper-slide-active .page10-00 {-webkit-animation:opacity3 1.2s 0.2s forwards linear;}



.swiper-slide>div.page11-0 {bottom: 0; height:auto; z-index:3; text-align:left; opacity:0;left: 0;position: absolute; width: 100%;}

.page11-0 div { background:#fff; padding:0 10px; padding-bottom:18%;margin: 0;}
.page11-0 div *{opacity: 0;}

.page11-0 h2 { position:relative; margin-left: 5%;  width:100%; height:auto; line-height:20px; color:#ba3d4c; font-size:16px;}
.page11-0 p { padding-bottom:5px; margin-left: 5%; position:relative; line-height:20px; text-align:left; color:#999999; font-size:12px;}

.page11-0 h3 { position: absolute;text-align:center; margin:0 auto;line-height:30px; font-size:16px; border-radius: 30px;border: solid 1px #ba3d4c;width: 100px;color: #ba3d4c;left: 35%;bottom: 5%;}
.page11-0 h3 a{opacity: 1;color: #ba3d4c;}
.swiper-slide-active .page11-0 {-webkit-animation:opacity3 1s 1s forwards linear;}
.swiper-slide-active .page11-0 div h2 {-webkit-animation:page11 1s 2s forwards linear;}
.swiper-slide-active .page11-0 div p {-webkit-animation:opacity 1s 3s forwards linear;}
.swiper-slide-active .page11-0 div h3 {-webkit-animation:opacity3 1s 3s forwards linear;}
@-webkit-keyframes page11{
	0%{ -webkit-transform:translate(-50px,0); opacity:0;}
	100%{ -webkit-transform:translate(0,0); opacity:1;}
}

.page12 img { width: 100%;height:auto;}
.swiper-slide>div.page12-0 {position: absolute; top: 0; width: 100%;height:auto;}
.swiper-slide>div.page12-00 {position: absolute; bottom:10%; width: 100%;height:auto;}
.page12-1{z-index: 5;position: absolute;left: 0;}
.page12-0 img{opacity: 0;width: 100%;height:auto;}
.page12-00 img{opacity: 0;width: 100%;height:auto;}
.page12-2{margin-bottom:10% ;}
.page12 a{opacity: 0;position: absolute;bottom: 5%;}
.swiper-slide-active .page12-4 {-webkit-animation:opacity2 1.2s 0.2s forwards linear;}
.swiper-slide-active .page12-2 {-webkit-animation:translateX3 1.2s 0.4s forwards linear;}
.swiper-slide-active .page12-3 {-webkit-animation:opacity3 1.2s 0.6s forwards linear;}
.page12 a { position:absolute;  left: 35%;  text-align:center; margin:0 auto;line-height:30px; font-size:16px; border-radius: 30px;border: solid 1px green;width: 100px;color: green;}


.page12 a:hover {-webkit-animation:btn 0.4s forwards ease;}
.swiper-slide-active.page12 a {-webkit-animation:opacity3 1s 1s forwards linear;}



.page13-1{z-index: 5;position: absolute;left: 0;}
.swiper-slide>div.page13-0 { position:absolute; top:0; left:0; width:100%; height:100%; background:url(../Image/20160119/bg-page13.png) no-repeat center center; background-size:100% 100%; -webkit-transform:scale(1.5,1.5) rotate(20deg);}
.swiper-slide-active .page13-0 {-webkit-animation:page13-0 10s 0.2s forwards ease;}
@-webkit-keyframes page13-0{
	0%{ -webkit-transform:scale(1.5,1.5) rotate(20deg);}
	100%{ -webkit-transform:scale(1,1) rotate(0deg);}
}

.ymr-22 { position:relative; margin:0 auto; width:100%; opacity:0;}
.swiper-slide-active .ymr-22 {-webkit-animation:scale2 1s 0.5s forwards linear;}
.page14 a { position:absolute; left:50%; margin-left:-100px; bottom:5%; width:200px; height:40px; line-height:40px; font-size:18px; border:solid 1px #ffee04; border-radius:5px; background:none; color:#ffee04; opacity:0;}
.page14 a:hover {-webkit-animation:btn 0.4s forwards ease;}
.swiper-slide-active.page14 a {-webkit-animation:opacity3 1s 1s forwards linear;}


.page15 img{width: 100%;height:auto;}
.page15 .page15-0{margin-top: 5%;opacity: 0;width: 100%;height:auto;}
.swiper-slide>.page15-00{position: absolute;bottom: 15%;width: 100%;height:auto;}
.page15-00 img{opacity: 0;width: 100%;height:auto;}
.page15-00 .page15-3{position: absolute;z-index: 3;padding-top: 8%;width: 100%;height:auto;}
.swiper-slide-active .page15-0 {-webkit-animation:opacity2 2s 0.2s forwards ease;}
.swiper-slide-active .page15-4 {-webkit-animation:opacity2 2s 1s forwards ease;}
.swiper-slide-active .page15-5 {-webkit-animation:opacity3 2s 1s forwards ease;}
.swiper-slide-active .page15-3 {-webkit-animation:translateX3 2s 1.5s forwards ease;}

.page16 img{width: 100%;height:auto;}
.page16 .page16-0{opacity: 0;}
.page16-00{width: 100%;height:auto;}
.page16-00 img{opacity: 0;width: 100%;height:auto;}
.page16-000{width: 100%;height:auto;}
.page16-000 img{opacity: 0;width: 100%;height:auto;}
.page16-00 .page16-3{position: absolute;left: 0;width: 100%;height:auto;}
.page16-000 .page16-4{position: absolute;left: 0;bottom: 20%;z-index: 5;width: 100%;height:auto;}
.page16-00 .page16-5{position: absolute;left: 0;}

.swiper-slide>.page16-000{position: absolute;bottom: 13%;width: 100%;height:auto;}
.page16-00 .page16-5{position: absolute;margin-top: 10%;left: 0;width: 100%;height:auto;}
.swiper-slide-active .page16-0 {-webkit-animation:opacity2 2s 0.2s forwards ease;}
.swiper-slide-active .page16-4 {-webkit-animation:opacity3 2s 1s forwards ease;}
.swiper-slide-active .page16-5 {-webkit-animation:translateX3 2s 1s forwards ease;}
.swiper-slide-active .page16-3 {-webkit-animation:opacity2 2s 1.5s forwards ease;}
.swiper-slide-active .page16-6 {-webkit-animation:translateX-3 2s 1.5s forwards ease;}

.page17 img {width: 100%;height:auto;}
.page17 .page17-0 img{opacity: 0;width: 100%;height:auto;}
.page17 .page17-00 img{opacity: 0;width: 100%;height:auto;}
.page17 .page17-000 {opacity: 0;width: 100%;height:auto;}
.page17 .page17-4{position: absolute;width: 100%;height:auto;}
.page17 .page17-5{position: absolute;width: 100%;height:auto;}
.swiper-slide>.page17-000{position: absolute;bottom: 10%;width: 100%;height:auto;}
.page17 a{opacity: 0;position: absolute;bottom: 5%;}
.page17 a { position:absolute;  left: 35%;  text-align:center; margin:0 auto;line-height:30px; font-size:16px; border-radius: 30px;border: solid 1px #ed3f41;width: 100px;color: #ed3f41;}


.swiper-slide-active .page17-0 .page17-2{-webkit-animation:opacity2 2s 0.2s forwards ease;}
.swiper-slide-active .page17-0 .page17-3{-webkit-animation:translateX-3 2s 0.5s forwards ease;}
.swiper-slide-active .page17-00 .page17-6{-webkit-animation:rotate5 2s 1s forwards ease;}
.swiper-slide-active .page17-00 .page17-4{-webkit-animation:translateX3 2s 2s forwards ease;}
.swiper-slide-active .page17-00 .page17-5{-webkit-animation:opacity 0.3s 3s forwards infinite;}
.swiper-slide-active .page17-000{-webkit-animation:opacity3 2s 2s forwards ease;}
.swiper-slide-active.page17 a {-webkit-animation:opacity3 1s 3s forwards linear;}




a.btn-all { margin:0 auto; position:relative; display:inline-block; width:60%; height:40px; line-height:40px; overflow:hidden; background:#387725; color:#fff; border-radius:5px; text-align:center;}
a.btn-all span { position:relative; z-index:2; color:#fff; font-size:16px;}
a.btn-all:after { position:absolute; z-index:1; left:-20%; top:-35px; width:140%; height:60px; border-radius:50%; content:""; background:#4e9b37;}

a.btn-all.btn1 { background:#4488ac;}
a.btn-all.btn1:after { background:#69a0bd;}
a.btn-all.btn1 span { color:#FFFFFF;}


a.btn-all.btn2 { background:#387725;}
a.btn-all.btn2:after { background:#4e9b37;}
a.btn-all.btn3 { background:#fff600;}
a.btn-all.btn3:after { background:#fffb80;}
a.btn-all.btn3 span { color:#141251;}
a.btn-all.btn4 { background:#ff9900;}
a.btn-all.btn4:after { background:#ffb84d;}
a.btn-all.btn4 span { color:#fff;}
a.btn-all.btn5 { background:#ffdf2d;}
a.btn-all.btn5:after { background:#ffe96c;}
a.btn-all.btn5 span { color:#5b99dd;}



@-webkit-keyframes rotate{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes rotate1{
	0%{-webkit-transform: rotate(0deg);}
	25%{-webkit-transform: rotate(6deg);}
	50%{-webkit-transform: rotate(0deg);}
	75%{-webkit-transform: rotate(3deg);}
	100%{-webkit-transform: rotate(0deg);}
}
@-webkit-keyframes rotate2{
	0%{-webkit-transform: rotate(0deg);}
	25%{-webkit-transform: rotate(3deg);}
	50%{-webkit-transform: rotate(0deg);}
	75%{-webkit-transform: rotate(-3deg);}
	100%{-webkit-transform: rotate(0deg);}
}
@-webkit-keyframes rotate3{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(-10deg);}
}
@-webkit-keyframes rotate4{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(10deg);}
}
@-webkit-keyframes rotate5{
	0% {-webkit-transform: translateX(-200px) rotate(180deg);}

	100% {opacity:1;-webkit-transform: translateX(0px) rotate(0deg);}

}
@-webkit-keyframes btn{
	0%{-webkit-transform:scale(1,1) translateY(0);}
	50%{-webkit-transform:scale(.98,.98) translateY(3px);}
	100%{-webkit-transform:scale(1,1) translateY(0);}
}
@-webkit-keyframes bg{
	0%{ background-position:0 0 ;}
	100%{ background-position:6000px 0 ;}
}
@-webkit-keyframes bg2{
	0%{ background-image:url(../Image/20160119/ymr5-8.png) ;}
	100%{ background-image:url(../Image/20160119/ymr5-9.png) ;}
}

@-webkit-keyframes opacity {
	0%{ opacity:0;}
	100%{ opacity:1;}
}
@-webkit-keyframes opacity2 {
	0%{ opacity:0; -webkit-transform:translateY(-120px);}
	100%{ opacity:1; -webkit-transform:translateY(0px);}
}
@-webkit-keyframes scale {
	0% {opacity:0;-webkit-transform: scale(10,10);}
	20% {opacity:1;-webkit-transform: scale(1,1);}
	40% {opacity:1;-webkit-transform: scale(0.9,0.9);}
	60% {opacity:1;-webkit-transform: scale(1.1,1.1);}
	80% {opacity:1;-webkit-transform: scale(0.95,0.95);}
	100% {opacity:1;-webkit-transform: scale(1,1);}
}
@-webkit-keyframes scale2 {
	0% {opacity:0;-webkit-transform: scale(0);}
	20% {opacity:1;-webkit-transform: scale(1);}
	40% {opacity:1;-webkit-transform: scale(1.1);}
	60% {opacity:1;-webkit-transform: scale(0.95);}
	80% {opacity:1;-webkit-transform: scale(1.05);}
	100% {opacity:1;-webkit-transform: scale(1);}
}
@-webkit-keyframes scale3 {
	0% {opacity:0;-webkit-transform: scale(0);}
	100% {opacity:1;-webkit-transform: scale(1.3);}
}
@-webkit-keyframes opacity3 {
	0%{ opacity:0; -webkit-transform:translateY(120px);}
	100%{ opacity:1; -webkit-transform:translateY(0px);}
}
@-webkit-keyframes opacity4 {
	0%{ opacity:0; -webkit-transform:translateY(-120px);}
	100%{ opacity:1; -webkit-transform:translateY(-80px);}
}
@-webkit-keyframes opacity5 {
	0%{ opacity:0; -webkit-transform:translateY(120px);}
	100%{ opacity:1; -webkit-transform:translateY(-60px);}
}
@-webkit-keyframes wobble {
	0% {-webkit-transform: translateX(0px);}
	20% {-webkit-transform: translateX(-20px) rotate(-5deg);}
	40% {-webkit-transform: translateX(15px) rotate(3deg);}
	60% {-webkit-transform: translateX(-10px) rotate(-3deg);}
	80% {-webkit-transform: translateX(5px) rotate(2deg);}
	100% {-webkit-transform: translateX(0px) rotate(-1deg);}
}

@-webkit-keyframes translateX2 {
	0% { opacity:0;-webkit-transform: translateX(200px);}
	50% { opacity:0.3;-webkit-transform: translateX(100px);}
	100% { opacity:1;-webkit-transform: translateX(0px);}
}
@-webkit-keyframes translateX-3 {
	0% { opacity:0;-webkit-transform: translateX(-300px);}
	33% { opacity:1;-webkit-transform: translateX(20px);}
	66% { opacity:1;-webkit-transform: translateX(-10px);}
	100% { opacity:1;-webkit-transform: translateX(0px);}
}
@-webkit-keyframes translateX3 {
	0% { opacity:0;-webkit-transform: translateX(300px);}
	33% { opacity:1;-webkit-transform: translateX(-20px);}
	66% { opacity:1;-webkit-transform: translateX(10px);}
	100% { opacity:1;-webkit-transform: translateX(0px);}
}

@-webkit-keyframes translateX4 {
	0% { opacity:0;-webkit-transform: translateX(50px);}
	66% { opacity:1;-webkit-transform: translateX(-5px);}
	88% { opacity:1;-webkit-transform: translateX(2px);}
	100% { opacity:1;-webkit-transform: translateX(0px);}
}
@-webkit-keyframes translateX-4 {
	0% { opacity:0;-webkit-transform: translateX(-50px);}
	66% { opacity:1;-webkit-transform: translateX(5px);}
	88% { opacity:1;-webkit-transform: translateX(-2px);}
	100% { opacity:1;-webkit-transform: translateX(0px);}
}
@-webkit-keyframes translateX5 {
	0% { opacity:0;-webkit-transform: translateX(-200px);}
	66% { opacity:1;-webkit-transform: translateX(5px);}
	88% { opacity:1;-webkit-transform: translateX(-2px);}

	100% { opacity:1;-webkit-transform: translateX(0px);}
}@-webkit-keyframes translateX6 {
	0% { opacity:1;-webkit-transform: translateX(-200px);}
	66% { opacity:1;-webkit-transform: translateX(-50px);}
	100% { opacity:1;-webkit-transform: translateX(0px);}
}

}
@-webkit-keyframes translateY {
	0% {-webkit-transform: translateY(0px);}
	40% {-webkit-transform: translateY(-6px);}
	60% {-webkit-transform: translateY(0px);}
	80% {-webkit-transform: translateY(14px);}
	100% {-webkit-transform: translateY(0px);}
}
@-webkit-keyframes translateY2 {
	0% { opacity:0;-webkit-transform: translateX(-80px);}
	50% { opacity:0.3;-webkit-transform: translateX(-40px);}
	100% { opacity:1;-webkit-transform: translateX(0px);}
}
@-webkit-keyframes scaleY {
	0% {opacity:0;-webkit-transform: scaleY(0);}
	20% {opacity:1;-webkit-transform: scaleY(1);}
	40% {opacity:1;-webkit-transform: scaleY(1.2);}
	60% {opacity:1;-webkit-transform: scaleY(0.8);}
	80% {opacity:1;-webkit-transform: scaleY(1.1);}
	100% {opacity:1;-webkit-transform: scaleY(1);}
}
@media screen and (min-width: 320px) and (min-height: 500px){
	.swiper-slide>.page1-00{position:absolute;bottom: 25%;}
	.page2-0 p{font-size: 16px;line-height: 28px;}
	.page2-0 { top: 25%;}
	.swiper-slide>.page3-00{bottom: 8%;}
	.page3-0{top: 0;}
	.swiper-slide>.page4-00{bottom: 20%;}
	.swiper-slide>.page8-00 {position: absolute;bottom: 5%;}
	.swiper-slide>.page9-00 {bottom: 10%;}
	.page11-0 p {line-height: 25px;font-size: 14px;}
	.swiper-slide>div.page12-00{bottom: 22%;}
	.page15-00{position: absolute;bottom: 22%;}
	.page16 .page16-00{margin-top:0%;}
	.page16 .page16-000{bottom:16%;}
	.page17 .page17-000{bottom: 18%;}
	
}
@media screen and (min-width: 375px) and (min-height: 600px){
	.page2-0 p{font-size: 16px;line-height: 28px;}
	.page2-0 { top: 25%;}
	.swiper-slide>.page3-00{bottom: 8%;}
	.page3-0{top: 0;}
	.swiper-slide>.page4-00{bottom: 20%;}
	.swiper-slide>.page8-00 {position: absolute;bottom: 6%;}
	.page11-2 h3 {padding-bottom:20px;line-height:30px; font-weight: bold;font-size:18px;}
	.page11-2 { margin-top:12%;}
	.page11-2>p {line-height:30px;font-size: 16px;}	
	.swiper-slide>div.page12-00{bottom: 22%;}
	.page15-00{position: absolute;bottom: 20%;}
	.page16 .page16-000{bottom:15%;}
	.page17 .page17-000{bottom: 18%;}
	}
@media screen and (min-width: 375px) and (min-height: 700px){
	.page1-0{bottom: 20%;}
	.page2-0 p{font-size: 18px;line-height: 30px;}
	.page2-0 { top: 30%;}
	.swiper-slide>.page3-00{bottom: 8%;}
	.page3-0{top: 0;}
	.swiper-slide>.page4-00{bottom: 22%;}
	.swiper-slide>.page8-00 {position: absolute;bottom: 6%;}
	.swiper-slide>.page9-00 {bottom: 10%;}
	.page11-0 p {line-height:25px;font-size:16px;  padding-bottom:15px;}
	.page11-0 h2 {line-height: 30px;font-size: 18px;}
	.page11 .page11-2 p { padding-top:20px;line-height:25px;font-size:16px;}
	.page11 .page11-2 p + p { padding-bottom:20px;}
	.swiper-slide>div.page12-00{bottom: 25%;}
	.page15-00{bottom: 25%;}
	.page16 .page16-00{margin-top:5%;}
	.page16 .page16-000{bottom:20%;}
	.page17 .page17-000{bottom: 20%;}

	}
	