<!DOCTYPE html>
<html ng-app="ConfigList" ng-controller="ConfigList">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>旺付_翼码旺财</title>
<link href="/view/assets/css/main.css?v=__VR__" rel="stylesheet" type="text/css" />
<link href="/view/assets/css/layout.css?v=__VR__" rel="stylesheet" type="text/css" />
<link href="/view/assets/css/module.css?v=__VR__" rel="stylesheet" type="text/css" />
<link href="/view/assets/css/Wshop.css?v=__VR__" rel="stylesheet" type="text/css" />
<link href="/view/assets/css/Walipay.css?v=__VR__" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/view/assets/js/jquery-1.11.1.min.js?v=__VR__"></script>
<script type="text/javascript" src="/view/assets/js/global.js?v=__VR__"></script>
<script type="text/javascript" src="/view/assets/js/artDialog4.1.6/jquery.artDialog.js?skin=default" ></script>
<script type="text/javascript" src="/view/assets/js/artDialog4.1.6/plugins/iframeTools.js?v=__VR__"></script>
<script type="text/javascript" src="/view/assets/js/angularjs/angular.min.js?v=__VR__"></script>
<script type="text/javascript" src="/view/assets/js/Whuifu.js?v=__VR__"></script>
</head>
<body>
<div id="wrapper">
    <div id="headerTwo">
    <div class="headerBg">
        <div class="headerCon fn">
            <div class="logo">
                <div class="logo-img">
                    <a href="/index.php" class="a-hide"></a>
                </div>
            </div>
            <div class="headerNav" id="headerNav">
                <ul id="headerNavUl">
                    <li><a class="headerNavA hover" href="/index.php?g=Alipay&m=Index&a=index">多米收单</a></li>
                    <li><a class="headerNavA" href="/index.php?g=MarketActive&m=Activity&a=index">多乐互动</a></li>
                    <li><a class="headerNavA" href="/index.php?g=WangcaiPc&m=NumGoods&a=index">卡券管理</a></li>
                    <li class="end"></li>
                    <li><a class="headerNavA" href="/index.php?g=Integral&m=Integral&a=integralMarketing">多赢积分</a></li>
                    <li><a class="headerNavA" href="/index.php?g=Home&m=Index&a=marketingShow5" class="light">多宝电商</a></li>
                    <li><a class="headerNavA" href="/index.php?g=Wfx&m=Fxgl&a=index">旺分销</a></li>
                    <li class="end"></li>
                    <li><a class="headerNavA" href="/index.php?g=Wmember&m=Member&a=infoCenter">会员管理</a></li>
                    <li><a class="headerNavA" href="http://hall.wangcaio2o.com/index.php?g=Hall&m=Index&a=index" target="_blank">卡券商城</a></li>
                    <li class="end"></li>
                    <li class="more">
                        <a href="javascript:void(0)">更多<i class="icon-down-dir"></i><i class="icon-up-dir"></i></a>
                        <div class="headerMore">
                            <div class="headerMoreNav">
                                <a href="/index.php?g=Home&amp;m=AccountInfo&amp;a=index">账户中心</a>
                                <a href="/index.php?g=LabelAdmin&amp;m=Channel&amp;a=IndexNew&amp;htmlid=11&amp;type=1&amp;sns_type=21">我的渠道</a>
                                <a href="/index.php?g=Home&amp;m=Store&amp;a=index">我的门店</a>
                                <a href="/index.php?g=Home&amp;m=Store&amp;a=myEpos">我的终端</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="headerOpr">
                <div class="headerOprList">
                    <a href="/index.php?g=Home&m=AccountInfo&a=message"><i class="icon-mail-alt"></i></a>
    
                    <div class="headerMore">
                        <div class="headerMoreNews">
                            <a href="/index.php?g=Home&m=AccountInfo&a=message">系统消息</a>
                        </div>
                    </div>
                </div>
                <div class="headerOprList"><a href="/index.php?g=Home&m=Login&a=index">返回官网</a></div>
                <div class="headerOprList"><a href="/index.php?g=Home&m=Logout&a=index">[退出]</a></div>
            </div>
            <div class="headerMsg">
                <div class="text"><span>欢迎，{{user_name}}</span><i class="icon-down-dir"></i><i class="icon-up-dir"></i></div>
                
                <div class="headerMore">
                    <p>{{user_name}}</p>
                    </p>
                    <p class="link"><a href="/index.php?g=Home&m=AccountInfo&a=index">我的账户</a><a href="javascript:void(0)">我的任务</a></p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="shopNav">
        <div class="w1100">
            <ul>
                <li id="menu_id-alipay"><a href="/index.php?g=Alipay&m=Index&a=groupNumGoodsList">卡券</a></li>
                <li id="menu_id-zhifu" class="hover"><a href="/index.php?g=Alipay&m=Index&a=index&type=alipay">支付</a></li>
                <li id="menu_id-waimai"><a href="/index.php?g=Alipay&m=Index&a=waimaiList">外卖</a></li>
                <li id="menu_id-posdai"><a href="/index.php?g=Alipay&m=Index&a=posdaiList">POS贷</a></li>
            </ul>
            <!-- <if condition='$isBserver gt 0'> 
                <a href="/index.php?g=Alipay&m=Bserver&a=index" style="float:right; line-height:64px; padding-right:50px;">服务商入口</a>
            </if> -->
        </div>
    </div>
    <div id="container">
        <div id="main" class="rel bgfff">
            <div class="sidenav">
            	<ul id="accordion" class="accordion">
                <li>
                    <div class="title">多米收单</div>
                </li>
                <li>
                    <div class="link"><a href="javascript:void();">条码支付</a><i class="downArrow"></i></div>
                    <ul class="submenu">
                        <li id="alipay-ywgk" class="userLimited"><a href="/index.php?g=Alipay&m=Index&a=index">支付收单台</a></li>
                        <li id="alipay-alipay" class="userLimited"><a href="/index.php?g=Alipay&m=Index&a=info_alipay">收款账户</a></li>
                        <li id="alipay-advanced" class="userLimited"><a href="/index.php?g=Alipay&m=Index&a=AlipayAdvanced">高级设置</a></li>
                    </ul>
                </li>
                <li>
                    <div class="link"id="alipay-bankzf"><a href="/index.php?g=Alipay&m=Index&a=info_bankzf">银行卡支付</a></div>
                </li>
                <li class="open">
                    <div class="link"><a href="javascript:void(0);">旺付</a><i class="downArrow"></i></div>
                    <ul class="submenu">
                        <li id="alipay-QrCode"><a href="/view/pay/wangfu/Index.html">收款二维码</a></li>
                        <li id="alipay-CollectionList"><a href="/view/pay/wangfu/Static.html">收款记录</a></li>
                        <li id="alipay-Setting" class="hover"><a href="/view/pay/wangfu/Config.html">优惠设置</a></li>
                    </ul>
                </li>
                </ul>
            </div>
            <div class="subcon fn">
                <div class="main-name fn">
                    <h4>优惠设置<a href="/view/pay/wangfu/ConfigEdit.html" ng-hide="is_set_pay==0" class="btn-add first"><i></i>新建优惠活动</a></h4>
                </div>

                <div class="SearchArea fn">
                        <form method="post" action="" id="theform"> 
                        <div class="SearchAreaLeft">
                        <label><span>活动名称</span><input name="actTitle" ng-model="search.actTitle" type="text"></label>
                          <label>
                            <span>活动状态</span>
                            <select name="act_status" ng-model="search.act_status" id="act_status">
                              <option value="">不限</option>
                              <option value="1">正常</option>
                              <option value="0">停用</option> 
                            </select> 
                          </label>   
                          </div>
                        <div class="SearchAreaRight">   
                           <a class="searchBtn" id="search" ng-click="gotoPageFn('search')">查询</a> 
                            </div>
                        </form>
                    </div>
                <!-- <div class="fn" ng-init="totleNumber!=0" ng-class="{'pageLoading':totleNumber!=0}"> -->
                    <table cellpadding="0" cellspacing="0" class="W-table">
                        <tbody>
                        <tr>
                            <th>活动名称</th>
                            <th>活动时间</th>
                            <th>优惠方式</th>
                            <th width="20%">优惠内容</th>
                            <th>总优惠次数</th>
                            <th>总优惠金额</th>
                            <th>活动状态</th>
                            <th>操作</th>
                        </tr>
                        <tr ng-repeat="x in list">
                            <td>{{x.title}}</td>
                            <td>{{x.start_time}} 至 {{x.end_time}} </td>
                            <td><span ng-if="x.sale_type == 1">叠加满减优惠</span>
                            <span ng-if="x.sale_type == 2">单次满减优惠</span>
                            <span ng-if="x.sale_type == 3">叠加满折优惠</span>
                            <span ng-if="x.sale_type == 4">单次满折优惠</span>
                            </td>
                            <td>
                                <ul ng-repeat="y in x.sale_data">
                                    <li><span ng-if="x.sale_type == 1 || x.sale_type == 2">满{{y.full}} 减{{y.reduce}}</span>
                                    <span ng-if="x.sale_type == 3">满{{y.full}} 打 {{y.reduce/10}}折 最高减{{y.max}}元</span>
                                    <span ng-if="x.sale_type == 4">满{{y.full}} 打 {{y.reduce/10}}折</span>
                                    </li>
                                </ul>
                            </td>
                            <td>{{x.sale_total_cnt}}</td>
                            <td>{{x.sale_total_amt}}</td>
                            <td>
                            <span ng-if="x.status == 0">停用</span>
                            <span ng-if="x.status == 1">正常</span>
                            </td>
                            <td><span ng-if="x.status == 1"><a href="/view/pay/wangfu/ConfigEdit.html?id={{x.id}}" data-id="x.id" >编辑</a></span><span ng-if="x.status == 0">--</span></td>
                        </tr>
                        <tr ng-show="totleNumber==0">
                        	<td colspan="8"><div class="nonedata"></div></td>
                        </tr>                               
                        </tbody>
                    </table>
                            
                    <div class="page" ng-if="page.total>0">
                        <p class="newPage"> {{page.total}} 条记录 {{page.current_page}}/{{page.last_page}} 页 <a href="javascript:void(0)" class="prev" ng-if="page.current_page!=1" ng-click="gotoPageFn(page.current_page*1-1)">上一页</a><a href="javascript:void(0)" ng-repeat="value in page.pages" ng-class="{'current':value==page.current_page}" ng-click="gotoPageFn(value*1)">{{value}}</a><a href="javascript:void(0)" class="next" ng-click="gotoPageFn(page.current_page*1+1)" ng-if="page.current_page!=page.last_page">下一页</a>
                    </div>
                    
                <!-- </div> -->
            </div>   
        </div>
    </div>
    <div id="footer">
	<div class="ind-footer">
        <div class="ind-copyright">
            <span class="mr20" >&copy;2016&nbsp;翼码旺财&nbsp;版权所有 沪ICP备08024760号-14</span><a id="weixin-gzh" href="javascript:void(0);" class="rel" title="<img class='wangcai-qr' src='/view/assets/image/wangcai-qr.png'>">翼码旺财微信公众号</a>
        </div>
       
    </div>
    </div>
	<div class="service"></div>
</div> 
</body>
</html>
<script>
function onlinecontant(){
    Gform();
    $(".zxfk_tc").click(function(e) {
        var _url="/index.php?g=Home&m=Help&a=popupFeedback";
        art.dialog.open(_url,{
            id:'editordialog',
            title:'在线反馈',
            width:"500px"
        });
     });
}
//留言
function message_file()
{
        var opt = [
            ,"uploadUrl={:urlencode(U('ImgResize/Meitulogin/uploadFile','','','',true))}"
            ,"cropPresets=800x800"
            ,"callback=uploadCallback_message"
            ,"menuType=1"
        ].join('&');
        openUploaderMeitu_message("{:U('ImgResize/Meitulogin/index')}&"+opt);
 }
</script>