@charset "utf-8";
html{color:#333; height:100%; min-height:100%;}
body {margin: 0;font-family: Arial, Helvetica, sans-serif;font-size: 13px;line-height: 1.5;position: relative;height: 100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:13px/1.5em "microsoft yahei";}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
fieldset,img,a img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ins,a{text-decoration:none}
input,button { border:none; background:none;}

a {color:#b60101;}
.a-hide {display: block; height: 100%; text-indent: -999px; overflow: hidden;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align:center;}
.tj{text-align:justify;*text-justify:distribute;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:bottom;}
.b { font-weight:bold;}
.n { font-weight:normal;}
.i { font-style:italic;}

.fn:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.fn{*zoom:1}
.l{float:left}
.r{float:right}
.cl{clear: both;}
.rel{ position:relative;}
.abs{ position:absolute;}
.oh{overflow:hidden}

.db { display:block;}
.di { display:inline;}
.dn { display:none;}
.dib{display:inline-block;*display:inline;*zoom:1}
.w50p{ width:50%;}
.bgc30000{ background-color:#c30000;}
* {-webkit-tap-highlight-color:rgba(0,0,0,0)}
/* =0 Reset
--------------------------------------------------------------*/

/* Global
--------------------------------------------------------------*/
body{ height:100%; min-height:100%; text-align:center;}
#wrapper { height:auto; margin:0 auto; max-width:640px;background:#fff; overflow:hidden;}
#container {width:100%;margin:0 auto;}
#container {height:auto!important; height:100%; min-height:100%;}
#header { height:auto; width:100%; overflow:hidden;z-index:1; position:relative;text-align:center;}
#main { height:auto!important; height:100%; position:relative;}
#footer { background:#ededed;text-align:center; border-top:solid 1px #e0e0e0;}
#footer p{ background:#ededed; padding:10px 0 10px 0;text-align:center; border-top:solid 1px #fff; color:#5c5c5c;
	background-image: linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -moz-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);
	background-image: -webkit-linear-gradient(top,#ffffff 0, #ffffff 1%, #ededed 2%, #ffffff 100%);}
#footer p a{ color:#5c5c5c;}
#footer img { width:180px; height:14px;}
/*----------------------------------  Global结束  ------------------------------------*/
/*注册页头*/
.reg-head,.reg-head-cj,.reg_top2,.reg_top3,.reg_top4{
	overflow:hidden;
	height:auto; 
	/*min-height:151px;*/
	position:relative;
}
.reg-head{
    /*background:#c30000 url(../Image/reg_head.png) top center no-repeat;*/
    background-size:100%;

}
.reg-head-cj{
    /*background:#c30000 url(../Image/reg_head_cj.png) top center no-repeat;*/
    background-size:100%;

}
.reg_top2{
    /*background:#c30000 url(../Image/reg_top2.jpg) top center no-repeat;*/
    background-size:100%;

}
.reg_top3{
    /*background:#c30000 url(../Image/reg_top3.jpg) top center no-repeat;*/
    background-size:100% 100%;

}
.reg_top4{
    /*background:#c30000 url(../Image/reg_top4.jpg) top center no-repeat;*/
    background-size:100%;
}
.reg-oneword{ margin:0 auto; width:80%; border:1px #b7b7b7 dashed; border-radius:3px; padding:5px 10px; margin-top:10px;}
.reg-oneword span{  color:#333333; font-weight:300; text-align:left}
.reg-oneword span strong{ color:#c30000; font-weight:bold}
.swiper-wrapper{ width:30000px; overflow: visible;}
.swiper-slide{ float:left; position: relative; overflow:hidden; width:25%; display:inline-block; height:auto; min-height:151px;}
.swiper-slide img{ width:100%; height:auto;}
/*新用户注册开始*/
.form{width: 95%;margin: 0 auto;padding-top: 20px;}
.form li{margin-bottom: 10px;border: 1px solid #d1d1d1;border-radius:3px;height: 43px;}
.form li:last-child{border: 0}
.form li:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
.form li input.w50p{ width:20%;}
.form li input[type="submit"].reg1{width:100%; color: #fff;border: 1px solid #d1d1d1;border-radius:3px; font-size:14px; font-weight:bold;letter-spacing: 3px;margin:10px 0; background:#c30000 url(../Image/reg-btn.png) center center no-repeat; background-size:100%;}
.form li input[type="submit"].reg2{width:100%; color: #fff;border: 1px solid #d1d1d1;border-radius:3px; font-size:14px; font-weight:bold;letter-spacing: 3px;margin:10px 0; background:#c30000 url(../Image/reg-cj-btn.png) center center no-repeat; background-size:100%;}
.form li input,.form li select{width: 98%;padding-left: 2%;display: block;color: #a0a0a0;vertical-align:middle;-webkit-appearance:none;padding:13px 3px 12px 3px;}
.form li select{ width:48%; float:left; border:0; margin-top:-1px; background-color:transparent;}
.form li select:first-child{ margin-right:5px; border-right:1px #d1d1d1 solid; border-radius:0;}
.form li label.label_area{ width:26%; float:left; color:#666666; overflow:hidden; padding:12px 10px 12px 0px;border-radius:3px;border-top-right-radius:0; border-bottom-right-radius:0; text-align:right; background-color:#f0f0f0;}
.form li input{ width:64%; float:left; overflow:hidden; padding:12px 3px}
.form li .input_area{ width:65%; float:left; overflow:hidden; text-align:left}
.getcode{float:right;display: inline-block;height: 30px;width: 78px;background:#c30000;color:#FFF;padding:2px 5px;line-height:30px;border-radius: 3px;margin-top:5px;margin-right:5px
}
.getcode:hover{display: inline-block;height: 30px;width: 78px;background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#dddddd));border:1px #d4d4d4 solid;color: #900;padding:2px 5px;line-height:30px;}

.form li input[type="button"]{width: auto; float: right; background-color:#c30000; color: #FFF; border: 1px solid #d1d1d1; border-radius:3px; font-size:14px; font-weight:100;height: 30px; line-height:5px;}
.form li input[type="button"].verify_code{height: 30px;width:auto;background:#c30000;color:#FFF; font-size:12px; padding:2px 5px; margin:7px 3px 0 0}

/*新用户注册end*/

/*注册成功*/
.result{ text-align:center; padding-top:60px; padding-bottom:10px;margin-bottom:20px; width:100%; margin:0 auto} 
.result i.tip{ background:url(../Image/reg-ok.png) top  center no-repeat; background-size:50%; width:40%; height:auto; min-height:56px; padding:10px 0; display:block; margin:0 auto}

.lj_title{ background:url(../Image/lj-result-title.png) left center no-repeat; background-size: auto 100%; width:155px; height:18px; display:block; margin:0 auto;}

.result-tip{}
.result-tip h3{ color:#FFF; font-size:2em; font-weight:bold}
.result-tip .txt{ display:block; color:#FFF; padding:15px 0 20px 0; font-weight:300;}

.result_btn{ background:url(../Image/reg-ok-gift.png) top center no-repeat; background-size:100% auto; width:100%; height:100%; min-height:74px;padding-top:45px;}

a.btn{ background:#FFF url(../Image/reg-ok-btn.png) center bottom no-repeat; background-size:70%; display:block;  min-height:50px; padding-top:30px; margin-bottom:30px; cursor:pointer}

/*2016欧洲杯活动期间注册成功 from xiangax*/
.euro .result i.tip { width:80px; background:url(../Image/doge.png) top  center no-repeat; background-size: 100%;}
.euro .result-tip h3 { color: #333333; margin-bottom: 30px;}
.euro .result-tip .txt { color: #636363; font-size: 12px;}
.euro .result-tip .txt a { color: #0a83ea; font-size: 15px;}
.euro-bg { position: fixed; bottom: 90px; left: 0;}
.euro .result-footer { position: fixed; bottom: 0; left: 0; width: 100%; padding: 15px 0 20px 0; background: #e8e8e8;}
.euro .result-footer a { display: block;}
.euro .result-footer:before { display: block; content: ""; width: 100%; height: 3px; position: absolute; top: -3px; left: 0; background:  url(../Image/bg-footer.png) repeat-x; background-size: auto 100%;}
.euro .result-footer .title i { display: inline-block; width: 34px; height: 33px; vertical-align: middle; background: url(../Image/icon-duole.png) 0 0 no-repeat; background-size: 100%;}
.euro .result-footer .title span { font-size: 16px; color: #666666; vertical-align: middle; margin-left: 15px;}
.euro .result-footer p { text-align: center; font-size: 12px; color: #999999;}

.popwin{} 
.popwin h3{ color:#c30000; font-size:1.2em; font-weight:bold; padding-bottom:10px;}
.popwin .pop-tip{ background:url(../Image/pop-pic.png) top center no-repeat; background-size:100% auto ; padding-top:181px;}
.popwin .pop-tip span{ font-size:10px; padding:30px 20px; }
/*.wap-content{ width:90%;display:block; height:220px; overflow-y:scroll;overflow-x:hidden; margin:0 auto}*/
.pop-tip-lottery{ width:90%;display:block; height:320px; overflow-y:scroll;overflow-x:hidden; margin:0 auto}
.wap-content p{width:100%;}
.wap-content img{width:95%; max-width:320px;}
.popwin .pop-tip span a{ color:#c90000; }
.popwin .anli_btn{ background:url(../Image/pop-btn.png) center center no-repeat; background-size:100%; display:block; width:70%; min-height:45px; margin:0 auto; margin-top:20px; margin-bottom:20px;}

.msgPop { position:fixed; z-index:1000; top:0; width:100%; height:100%; min-height:100%; margin:0 auto;display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;}
.msgPop.bg { background:rgba(0,0,0,0.4);}
.msgPop .msgBg { width:88%; height:auto; margin:0 auto;/* margin-top:20px;*/ background:#fff; border-radius:5px;}
.msgPop .msgBg .msgTitle { position:relative; height:30px; color:#000; font-size:20px; line-height:30px; padding-top:10px; border-radius:4px 4px 0 0;}
.msgPop .msgBg .msgTitle .close-msgPop { position:absolute; right:-5px; top:-5px; width:40px; height:40px;}
.msgPop .msgBg .msgTitle i { width:26px; height:27px; line-height:26px; text-align:center; position:absolute; right:6px; top:6px;border-radius:0 4px 0 0; color:#333;}
.msgPop .msgBg .msgTitle i span { display:block; font-size:20px; font-style:normal; -webkit-transform:rotate(45deg);}
.msgPop .msgBg .msgCon { padding-bottom:15px; height:auto; overflow:hidden;border-radius:0 0 4px 4px;}
.msgPop .msgBg .msgCon {}
.msgPop .msgBg .msgCon i { display:block; margin:0 auto; width:80px; height:80px; line-height:80px; font-size:60px; overflow:hidden; color:#ffba26;}

/*提示框*/
.info{border:1px solid #ccc;padding:2px 20px 2px 5px;color:#666;position:absolute;display:none;line-height:20px;background-color:#fff;}

.popwin form#js-cjform li{width:80%;margin:0 auto;margin-bottom: 10px;border: 1px solid #d1d1d1;border-radius: 3px;height: 43px;list-style: none; vertical-align:middle}
.popwin form#js-cjform li img{ vertical-align:middle; margin-top:10px;}
.popwin form#js-cjform li p{ width: 25%;float: left;color: #666666;overflow: hidden;padding: 12px 10px 12px 0px;border-radius: 3px;border-top-right-radius: 0;
border-bottom-right-radius: 0;text-align: right;background-color: #f0f0f0;}
.popwin form#js-cjform li input[type=text]{ width: 65%;float: left;overflow: hidden;padding: 12px 3px;display: block;color: #a0a0a0;vertical-align: middle;
-webkit-appearance: none;}
.popwin form#js-cjform li input[type=text].sOne-cjInput-half{ width:30%;}
a.btn_choujiang{background:#FFF url(../Image/btn_choujiang.png) center bottom no-repeat; background-size:70%; display:block;  min-height:50px; padding-top:10px; margin-bottom:10px; cursor:pointer;}
.popwin form#js-cjform li span{margin: 12px 0px; line-height:45px; vertical-align:middle}


.ui-dialog-grid{ width:80%; z-index:800;}
.ui-dialog-content .form{font:13px "microsoft yahei";}
.ui-dialog-content .form li{width:100%;margin:0 auto;margin-bottom: 10px;border: 1px solid #d1d1d1;border-radius: 3px;height: 41px;list-style: none; vertical-align:middle}
.ui-dialog-content .form li img{ vertical-align:middle;}
.ui-dialog-content .form li p{ width: 25%;float: left;color: #666666;overflow: hidden;padding: 12px 10px 12px 0px;border-radius: 3px;border-top-right-radius: 0;border-bottom-right-radius: 0;text-align: right;background-color: #f0f0f0;}
.ui-dialog-content .form li input[type=text]{ width: 65%;float: left;overflow: hidden;padding: 12px 3px;display: block;color: #a0a0a0;vertical-align: middle;
-webkit-appearance: none;}
.ui-dialog-content .form li input[type=text].sOne-cjInput-half{ width:30%;}
a.btn_choujiang{background:#FFF url(../Image/btn_choujiang.png) center bottom no-repeat; background-size:70%; display:block;  min-height:50px; padding-top:10px; margin-bottom:10px; cursor:pointer;}
.ui-dialog-content .form li span{margin: 12px 0px; line-height:45px; vertical-align:middle}
/*旺客头图*/
.reg-head2{
	/*background:#c30000 url(../../Image/reg_head2.png) top center no-repeat;
	background-size:100% auto; */
	overflow:hidden;  
	height:auto; 
	min-height:162px;
	position:relative;
}
/*@media screen and (min-width:321px) and (max-width:640px) {
.reg-head2{
	background:#c30000 url(../../Image/reg_head2.png) top center no-repeat;
	background-size:100% auto; 
	overflow:hidden;  
	height:auto; 
	min-height:189px;
	position:relative;
}
}

@media screen and (min-width:414px) and (max-width:640px) {
.reg-head2{
	background:#c30000 url(../../Image/reg_head2.png) top center no-repeat;
	background-size:100% auto; 
	overflow:hidden;  
	height:auto; 
	min-height:209px;
	position:relative;
}
}*/

@media screen and (min-width:321px) and (max-width:640px)  {
.swiper-slide{ float:left; position: relative; overflow:hidden; width:25%; display:inline-block; height:auto; min-height:177px;}
}
@media screen and (min-width:414px) and (max-width:640px) {
.swiper-slide{ float:left; position: relative; overflow:hidden; width:25%; display:inline-block; height:auto; min-height:195px;}
}


