@charset "utf-8";
/*layout*/
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.swiper-container {
  width: 100%;
  max-width:640px;
  height: 100%;
  color: #fff;
  text-align: center;
  margin:0 auto;
}
.page1-slide {
  background: #23a7db;
}
.page2-slide {
  background: #f56765;
}
.page3-slide {
  background: #00d4cf url(../Image/index-3-circle.png) center center no-repeat;
  background-size:100% auto;
}
.page4-slide {
  background: #00c9f2;
}
.page5-slide {
  background: #ffbf65;
}
.page6-slide {
  background: #00d4cf;
}
.page7-slide {
  background: #f56765;
}
.swiper-slide{
	float: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	position:relative;
	margin:0 auto;
	text-align:center
	}
.swiper-slide .title {
  font-style: italic;
  font-size: 42px;
  margin-top: 80px;
  margin-bottom: 0;
  line-height: 45px;
}
.pagination {
	display: block;
	position: absolute;
	bottom: 1%;
	left: 50%;
	margin-left: -3.8%;
	width: 7.5%;
	animation: moveIcon 1.2s linear 0 infinite;
	-webkit-animation: moveIcon 1.2s linear 0 infinite;
}
.swiper-pagination-switch {
	display: block;
	width: 24px;
	height: 24px;
	margin: 0  auto;
	cursor: pointer;
	background: url(../Image/moveIcon.png) bottom center no-repeat;
	background-size:90%;
	display:none;
	animation: moveIcon 1.2s linear 0 infinite;
	-webkit-animation: moveIcon 1.2s linear 0 infinite;
}
.swiper-active-switch {
	width: 24px;
	height: 24px;
	margin:0 auto;
	cursor: pointer;
	display:block;
	background: url(../Image/moveIcon.png) bottom center no-repeat;
	background-size:90%;
	animation: moveIcon 1.2s linear 0 infinite;
	-webkit-animation: moveIcon 1.2s linear 0 infinite;
}

/*page1*/
#p1 .p1_txtbg{
	position: absolute;
	width:100%;
	min-width:320px;
	height:auto;
	min-height:580px;
  	background:url(../Image/index-1-txtbg.png) no-repeat;
	background-size:100% auto;
}
.swiper-slide-visible .p1_txtbg
{
	animation-name: bounceIn;
    -webkit-animation-name: bounceIn;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

#p1 .p1_logo{ background:url(../Image/index-1-logo.png) no-repeat; background-size:50%; position: relative; top:35.5%; left:40%; width:145px; height:200px;}
.swiper-slide-visible .p1_logo{
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
	}
#p1 .p1_slogan{ background:url(../Image/index-1-slogan.png) center center no-repeat; background-size:auto 100% ; position: absolute; top:57.5%; width:100%; min-width:320px; margin:0 auto; height:auto; min-height:25px; animation-name: bounceInLeft;
    -webkit-animation-name: bounceInLeft;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;}

#p1 .p1_url{ position: absolute; bottom:5%; width:50%; left:50%; margin-left:-25%;}
#p1 .p1_url a{ color:#FFF;}
#p1 .p1_url a span{ color:#ffc601;}

/*page2*/
/*page2*/
#p2 .p2_slogan{ background:url(../Image/index-22-slogan.png) center center no-repeat; background-size: auto 100%; position: absolute; top:45px; width:100%; min-width:320px; height:auto; min-height:22px; margin:0 auto;}
.swiper-slide-visible .p2_slogan{
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;}
#p2 .p2_sub_slogan{ background:url(../Image/index-22-slogan_sub.png) center center no-repeat; background-size: auto 100%; position: absolute; top:67px; width:100%; min-width:320px; height:auto; min-height:35px; margin:0 auto;}
.swiper-slide-visible .p2_sub_slogan{
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;}
#p2 .p2_slide{width:100%; min-width:320px; height:auto; min-height:480px; position: relative; top:57px; right:0; background:url(../Image/index_22_banner.png) right no-repeat; background-size:90% auto;}
.swiper-slide-visible .p2_slide{
    -webkit-animation-name: shake;
    animation-name: shake;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;}

#p2 .p2_date{ background:url(../Image/index-2-date.png) no-repeat; background-size: auto 100%; width:100%; min-width:320px; height:auto; min-height:13px; margin:0 auto; position:relative; top:-55px;}
.swiper-slide-visible .p2_date{background:url(../Image/index-2-date.png) no-repeat; background-size: auto 100%; width:100%; min-width:320px; height:auto; min-height:13px; margin:0 auto; position:relative; top:-55px;}

@media screen and (max-width:320px) and (min-height:480px){
    #p2 .p2_btn{ background:url(../Image/index-2-btn.png) center center no-repeat; background-size:50%; margin:0 auto; width:100%; min-width:320px; height:40px; position: absolute; bottom:4%; z-index:30}

    #p2 .p2_slide{width:100%; min-width:320px; height:auto; min-height:480px; position: relative; top:57px; right:0; background:url(../Image/index_22_banner.png) right no-repeat; background-size:78% auto;}

    #p2 .p2_date{ background:url(../Image/index-2-date.png) no-repeat; background-size: auto 100%; width:100%; min-width:320px; height:auto; min-height:13px; margin:0 auto; position:relative; top:-78px;}
    .swiper-slide-visible .p2_date{background:url(../Image/index-2-date.png) no-repeat; background-size: auto 100%; width:100%; min-width:320px; height:auto; min-height:13px; margin:0 auto; position:relative; top:-55px;}
}
@media screen and (min-width:321px) and (max-width:640px) {
    #p2 .p2_btn{ background:url(../Image/index-2-btn.png) center center no-repeat; background-size:50%; margin:0 auto; width:100%; min-width:320px; height:auto; min-height:50px; position: absolute; bottom:4%; z-index:30}

    #p2 .p2_date{ background:url(../Image/index-2-date.png) center center no-repeat; background-size: auto 100%; width:100%; min-width:320px; height:auto; min-height:13px; margin:0 auto; position:relative; top:-55px;}
    .swiper-slide-visible .p2_date{background:url(../Image/index-2-date.png) center center no-repeat; background-size: auto 100%; width:100%; min-width:320px; height:auto; min-height:13px; margin:0 auto; position:relative; top:-55px;}
}
@media screen and (max-width:320px) and (min-height:568px){
    #p2 .p2_slide{width:100%; min-width:320px; height:auto; min-height:480px; position: relative; top:100px; right:0; background:url(../Image/index_22_banner.png) right no-repeat; background-size:100% auto;}
    .swiper-slide-visible .p2_slide{
        -webkit-animation-name: shake;
        animation-name: shake;
        animation-duration: 1.011s;
        -webkit-animation-duration: 1.011s;
        animation-delay: 2s;
        -webkit-animation-delay: 2s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;}

    #p2 .p2_date{ background:url(../Image/index-2-date.png) center center no-repeat; background-size: auto 100%; width:100%; min-width:320px; height:auto; min-height:13px; margin:0 auto; position:relative; top:5px;}
    .swiper-slide-visible .p2_date{background:url(../Image/index-2-date.png) no-repeat; background-size: auto 100%; width:100%; min-width:320px; height:auto; min-height:13px; margin:0 auto; position:relative; top:-55px;}
}

@media screen and (max-width:375px) and (min-height:667px){
    #p2 .p2_slide{width:100%; min-width:320px; height:auto; min-height:480px; position: relative; top:100px; right:0; background:url(../Image/index_22_banner.png) right no-repeat; background-size:100% auto;}
    .swiper-slide-visible .p2_slide{
        -webkit-animation-name: shake;
        animation-name: shake;
        animation-duration: 1.011s;
        -webkit-animation-duration: 1.011s;
        animation-delay: 2s;
        -webkit-animation-delay: 2s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;}

    #p2 .p2_date{ background:url(../Image/index-2-date.png) center center no-repeat; background-size: auto 100%; width:100%; min-width:320px; height:auto; min-height:13px; margin:0 auto; position:relative; top:-55px;}
    .swiper-slide-visible .p2_date{background:url(../Image/index-2-date.png) no-repeat; background-size: auto 100%; width:100%; min-width:320px; height:auto; min-height:13px; margin:0 auto; position:relative; top:-55px;}
}
#p2 .p2_btn a{width:50%; left:50%; margin-left:-25%; margin:0 auto}


@media screen and (min-width: 321px) and (max-width: 640px) {
    #p2 .p2_slide{width:100%; min-width:320px; height:auto; min-height:480px; position: relative; top:99px; margin:0 auto}
    #p2 .p2_btn{ background:url(../Image/index-2-btn.png) center center no-repeat; background-size:50%; margin:0 auto; width:100%; min-width:320px; height:40px; position: absolute; bottom:4%; z-index:30}
    #p2 .p2_btn a{width:50%; left:50%; margin-left:-25%; margin:0 auto}

    #p2 .p2_date{ background:url(../Image/index-2-date.png) center center no-repeat; background-size: auto 100%; width:100%; min-width:320px; height:auto; min-height:13px; margin:0 auto; position:relative; top:76px;}
    .swiper-slide-visible .p2_date{background:url(../Image/index-2-date.png) no-repeat; background-size: auto 100%; width:100%; min-width:320px; height:auto; min-height:13px; margin:0 auto; position:relative; top:-55px;}
}




@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
    0%, 100% {-moz-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
    0%, 100% {-o-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
}
/*page3*/
#p3 .p3_slogan{ background:url(../Image/index-3-slogan.png) center center no-repeat; background-size: auto 100%; position: absolute; top:45px; width:100%; min-width:320px; height:22px; margin:0 auto;}
.swiper-slide-visible .p3_slogan{
	animation-name: bounceInDown;
    -webkit-animation-name: bounceInDown;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;}
#p3 .p3_slide{background:url(../Image/index-3-phone.png) top center no-repeat; background-size:95%; width:100%; min-width:320px; height:auto; min-height:307px; position: relative; top:23%; margin:0 auto}
#p3 .p3_qudao{ background:url(../Image/index-3-icongroup.png) top center no-repeat;background-size: auto 100%; width:100%;  min-width:320px; height:auto; min-height:200px;position: absolute; top:-12%;}
.swiper-slide-visible .p3_qudao{
	animation-name: bounceIn;
    -webkit-animation-name: bounceIn;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;}
#p3 .p3_hand{background:url(../Image/index-3-hand.png) top center no-repeat;background-size:100%;  width:86px; height:auto; min-height:138px;position: absolute; top:60%; right:20%; z-index:50}
.swiper-slide-visible .p3_hand{
	animation-name: p1_txtbg;
    -webkit-animation-name: p1_txtbg;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;}
#p3 .p3_shadow{ background:url(../Image/index-3-shadow.png) center center no-repeat; background-size:100%; width:100%; min-width:320px; height:41px; position: relative; bottom:-17%;}
#p3 .p3_btn{ background:url(../Image/index-2-btn.png) top center no-repeat; background-size:50%; margin:0 auto; width:100%; min-width:320px; height:40px; position: absolute; bottom:4%; z-index:30; margin:0 auto;}
#p3 .p3_btn a{width:50%; left:50%; margin-left:-25%; margin:0 auto}
@media screen and (min-width: 321px) and (max-width: 640px) {
#p3 .p3_slide{background:url(../Image/index-3-phone.png) top center no-repeat; background-size:100%; width:100%; min-width:320px; height:auto; min-height:407px; position: relative; top:22%; margin:0 auto}
#p3 .p3_qudao{ background:url(../Image/index-3-icongroup.png) top center no-repeat;background-size: auto 100%; width:100%;  min-width:320px; height:auto; min-height:200px;position: absolute; top:-12%;}
.swiper-slide-visible .p3_qudao{
	animation-name: bounceIn;
    -webkit-animation-name: bounceIn;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;}
#p3 .p3_hand{background:url(../Image/index-3-hand.png) top center no-repeat;background-size:100%;  width:86px; height:auto; min-height:138px;position: absolute; top:53%; right:20%; z-index:50}
.swiper-slide-visible .p3_hand{
	animation-name: p1_txtbg;
    -webkit-animation-name: p1_txtbg;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;}
#p3 .p3_shadow{ background:url(../Image/index-3-shadow.png) center center no-repeat; background-size:100%; width:100%; min-width:320px; height:41px; position: relative; bottom:-10%;}
}
/*page4*/
#p4 .p4_slogan{ background:url(../Image/index-4-slogan.png) center center no-repeat; background-size: auto 100%; position: absolute; top:45px; width:100%; min-width:320px; height:22px; margin:0 auto;}
.swiper-slide-visible .p4_slogan{
	animation-name: bounceInDown;
    -webkit-animation-name: bounceInDown;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;}
#p4 .p4_slide{background:url(../Image/index-4-slide.png) top center no-repeat; background-size:100%; width:100%; min-width:320px; height:auto; min-height:307px; position: relative; top:20%; margin:0 auto}

#p4 .p4_btn{background:url(../Image/index-2-btn.png) top center no-repeat; background-size:50%; margin:0 auto; width:100%; min-width:320px; height:40px; position: absolute; bottom:4%; z-index:30}
#p4 .p4_btn a{width:50%; left:50%; margin-left:-25%; margin:0 auto}

#p4 .phone{ background:url(../Image/index-2-phone.png) center center no-repeat; background-size:100%; position: relative; top:17.8%; left:3%; margin:0 auto; height:307px; width:158px; z-index:5}
#p4 .phone img{ width:85.5%; padding-top:55px;}

#p4 .phone2{ background:url(../Image/index-2-phone.png) center center no-repeat; background-size:95%; position: absolute; top:7.5%; left:47%; margin:0 auto; height:260px; width:135px; z-index:3}
#p4 .phone2 img{ width:82%; padding-top:50px; padding-left:3px;}

#p4 .p4_shadow{ background:url(../Image/index-2-shadow.png) center center no-repeat; background-size:100%; width:320px; height:41px;position: relative; bottom:-18%;}
.swiper-slide-visible .p4_slide,.swiper-slide-visible .p4_slide,.swiper-slide-visible .p4_shadow{
	animation-name: bounceIn;
    -webkit-animation-name: bounceIn;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
@media screen and (min-width: 321px) and (max-width: 640px) {
#p4 .p4_slide{background:url(../Image/index-4-slide.png) top center no-repeat; background-size:100%; width:100%; min-width:320px; height:auto; min-height:407px; position: relative; top:20%; margin:0 auto}

#p4 .p4_shadow{ background:url(../Image/index-2-shadow.png) center center no-repeat; background-size:100%; width:320px; height:41px;position: relative; bottom:-8%;}
}
/*page5*/
#p5 .p5_slogan{background:url(../Image/index-5-slogan.png) center center no-repeat; background-size: auto 100%; position: absolute; top:45px; width:100%; min-width:320px; height:22px; margin:0 auto;}
.swiper-slide-visible .p5_slogan{
	animation-name: bounceInDown;
    -webkit-animation-name: bounceInDown;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;}
#p5 .p5_slide{ background:url(../Image/index-5-slide.png) center center no-repeat; background-size:100%; width:320px; height:256px; position: relative; top:22%; margin:0 auto}
#p5 .stamp{background:url(../Image/index-5-stamp-white.png) center center no-repeat; background-size:100%; width:55px; height:55px; position:absolute; top:0.5%; right:9%;}
.swiper-slide-visible .p5_slide,.swiper-slide-visible .p5_shadow
{ animation-name: bounceIn;
    -webkit-animation-name: bounceIn;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;}
.swiper-slide-visible .stamp
{ animation-name: bounceInDown2;
    -webkit-animation-name: bounceInDown2;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;}
#p5 .p5_shadow{ background:url(../Image/index-5-shadow.png) center center no-repeat; background-size:100%; width:100%; min-width:320px; height:41px; position:absolute; top:74%; margin:0 auto }

@media screen and (min-width: 321px) and (max-width: 640px) {
#p5 .p5_shadow{ background:url(../Image/index-5-shadow.png) center center no-repeat; background-size:100%; width:100%; min-width:320px; height:41px; position:absolute; top:66%; margin:0 auto}	
	}

#p5 .p5_btn{ background:url(../Image/index-2-btn.png) center center no-repeat; background-size:50%; margin:0 auto; width:100%; min-width:320px; height:40px; position: absolute; bottom:4%; z-index:30}
#p5 .p5_btn a{width:50%; left:50%; margin-left:-25%; margin:0 auto}

/*page6*/
#p6 .p6_slogan{background:url(../Image/index-6-slogan.png) center center no-repeat; background-size: auto 100%; position: absolute; top:45px; width:100%; min-width:320px; height:22px;  margin:0 auto;}
#p6 .p6_tip{background:url(../Image/index-6-tips.png) center center no-repeat; background-size: auto 100%; position: relative; top:18%; width:100%; min-width:320px; height:34px;}
.swiper-slide-visible .p6_slogan{
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;
	animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}
.swiper-slide-visible .p6_tip{
	-webkit-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
	animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
#p6 .p6_slide{ background:url(../Image/index-6-slide.png) center center no-repeat; background-size: auto 100%; width:100%; min-width:320px; height:251px; position: relative; top:22%;}
.swiper-slide-visible .p6_slide{
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

#p6 .p6_btn{ background:url(../Image/index-2-btn.png) center center no-repeat; background-size:50%; margin:0 auto; width:100%; min-width:320px; height:40px; position: absolute; bottom:4%; z-index:30}
#p6 .p6_btn a{width:50%; left:50%; margin-left:-25%; margin:0 auto}


/*page7*/
#p7 .p7_slogan{background:url(../Image/index-7-slogan.png) center center no-repeat; background-size: auto 100%; position: absolute; top:45px; width:100%; min-width:320px; height:22px; margin:0 auto;}
.swiper-slide-visible .p7_slogan{
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;
	animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

#p7 .p7_logo{ background:url(../Image/index-7-logo.png) center center no-repeat; background-size: auto 100%; width:100%; min-width:320px; height:121px; position: relative; top:35%;}
.swiper-slide-visible .p7_logo{
	-webkit-animation-name: tada;
	animation-name: tada;
	animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

#p7 .p7_btn{ background:url(../Image/index-2-btn.png) center center no-repeat; background-size:50%; margin:0 auto; width:100%; min-width:320px; height:40px; position: absolute; bottom:4%; z-index:30}
#p7 .p7_btn a{width:50%; left:50%; margin-left:-25%; margin:0 auto}

.p1_btn a,.p2_btn a,.p3_btn a,.p4_btn a,.p5_btn a,.p6_btn a,.p7_btn a{ width:170px; height:40px; display:block;}
@-webkit-keyframes p1_txtbg {
    0% {
        -webkit-transform: translate3d(322.74999999999994px, 121.99999999999994px, 0px);
    }

    100% {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes p1_txtbg {
    0% {
        transform: translate3d(-322.74999999999994px, 121.99999999999994px, 0px);
    }

    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}
@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
	}
	
	70% {
		-webkit-transform: scale(.9);
	}
	
	100% {
		-webkit-transform: scale(1);
	}
}


@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		transform: scale(1.05);
	}
	
	70% {
		transform: scale(.9);
	}
	
	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1) rotateY(0);-webkit-animation-timing-function: ease-out;}	
	50% { -webkit-transform: scale(1.1) perspective(400px) translateZ(150px) rotateY(190deg);-webkit-animation-timing-function: ease-in; }
    100% { -webkit-transform: perspective(400px) scale(1);-webkit-animation-timing-function: ease-in;}
}

@keyframes pulse {
    0% { -webkit-transform: scale(1) rotateY(0);-webkit-animation-timing-function: ease-out;}	
	50% { -webkit-transform: scale(1.1) perspective(400px) translateZ(150px) rotateY(190deg);-webkit-animation-timing-function: ease-in; }
    100% { -webkit-transform: perspective(400px) scale(1);-webkit-animation-timing-function: ease-in;}
}

@-webkit-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
	}
	
	80% {
		-webkit-transform: translateX(-10px);
	}
	
	100% {
		-webkit-transform: translateX(0);
	}
}


@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateX(30px);
	}
	
	80% {
		transform: translateX(-10px);
	}
	
	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}
	
	80% {
		-webkit-transform: translateY(-10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}


@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateY(30px);
	}
	
	80% {
		transform: translateY(-10px);
	}
	
	100% {
		transform: translateY(0);
	}
}


@-webkit-keyframes bounceInDown2 {
	0% {
		opacity: 0;
		transform: scale(3);		
	}
	50% {
		transform: scale(2.8);
	}	
	80% {
		transform: scale(1.05);
	}	
	90% {
		transform: scale(0.98);
	}
	100% {
		transform: scale(1);
	}
}


@keyframes bounceInDown2 {
	0% {
		opacity: 0;
		transform: scale(3);		
	}
	50% {
		transform: scale(2.8);
	}	
	80% {
		transform: scale(1.05);
	}
	90% {
		transform: scale(0.98);
	}	
	100% {
		transform: scale(1);
	}
}
@-webkit-keyframes tada {
	0% {-webkit-transform: scale(1);}	
	10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
	100% {-webkit-transform: scale(1) rotate(0);}
}


@keyframes tada {
	0% {transform: scale(1);}	
	10%, 20% {transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
	100% {transform: scale(1) rotate(0);}
}
@-webkit-keyframes moveIcon {
	  0%{ -webkit-transform:translate(0,0);}
	50%{ -webkit-transform:translate(0,4px);}
	100%{ -webkit-transform:translate(0,0);}
}
@-webkit-keyframes moveIcon {
	  0%{ -webkit-transform:translate(0,0);}
	50%{ -webkit-transform:translate(0,4px);}
	100%{ -webkit-transform:translate(0,0);}
}


@media screen and (min-width: 321px) and (max-width: 640px) {
	
	#p2 .p2_btn,#p3 .p3_btn,#p4 .p4_btn,#p5 .p5_btn,#p6 .p6_btn,#p7 .p7_btn{ background:url(../Image/index-2-btn.png) center center no-repeat; background-size:50%; margin:0 auto; width:100%; min-width:320px; height:auto; min-height:50px; position: absolute; bottom:4%; z-index:30}
}



#p2 .p2_slogan{ background-size: auto 100%; position: absolute; top:45px; width:100%; min-width:320px; height:auto; min-height:22px; margin:0 auto;}
#p2 .p2_middle{ width:100%; position: absolute; top:17.8%;  margin:0 auto; z-index:5}
#p2 .p2_middle img{ width:95%; text-align:center;}
.swiper-slide-visible .p2_middle img{
	animation-name: bounceIn;
    -webkit-animation-name: bounceIn;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
	}
#p2 .p2_time{background:url(../Image/index-2-time.png) center center no-repeat; background-size:100%;height:auto; min-height:23px;position: relative; bottom:0%; z-index:10;}
.swiper-slide-visible .p2_time{
	-webkit-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;}
@media screen and (min-width:375px) and (min-height:667px) {
#p2 .p2_slogan{ background-size: auto 100%; position: absolute; top:45px; width:100%; min-width:320px; height:auto; min-height:22px; margin:0 auto;}
#p2 .p2_middle{ width:100%; position: absolute; top:17.8%;  margin:0 auto; z-index:5}
#p2 .p2_middle img{ width:100%; text-align:center;}
.swiper-slide-visible .p2_middle img{
	animation-name: bounceIn;
    -webkit-animation-name: bounceIn;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
	}
#p2 .p2_time{background:url(../Image/index-2-time.png) center center no-repeat; background-size:100%;height:auto; min-height:23px;position: relative; bottom:0%; z-index:10;}
.swiper-slide-visible .p2_time{
	-webkit-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;}	
}

@media screen and (min-width:414px) and (max-width:640px) {
#p2 .p2_slogan{  background-size: auto 100%; position: absolute; top:45px; width:100%; min-width:320px; height:auto; min-height:22px; margin:0 auto;}
#p2 .p2_middle{ width:100%; position: absolute; top:17.8%;  margin:0 auto; z-index:5}
#p2 .p2_middle img{ width:95%; text-align:center;}
.swiper-slide-visible .p2_middle img{
	animation-name: bounceIn;
    -webkit-animation-name: bounceIn;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
	}
#p2 .p2_time{background:url(../Image/index-2-time.png) center center no-repeat; background-size:100%;height:auto; min-height:23px;position: relative; bottom:-3%; z-index:10;}
.swiper-slide-visible .p2_time{
	-webkit-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;}	
}

@media screen and (max-width:320px) and (min-height:480px) {
#p2 .p2_slogan{ background-size: auto 100%; position: absolute; top:45px; width:100%; min-width:320px; height:auto; min-height:22px; margin:0 auto;}
#p2 .p2_middle{ width:100%; position: absolute; top:17.8%;  margin:0 auto; z-index:5}
#p2 .p2_middle img{ width:95%; text-align:center;}
.swiper-slide-visible .p2_middle img{
	animation-name: bounceIn;
    -webkit-animation-name: bounceIn;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
	}
#p2 .p2_time{background:url(../Image/index-2-time.png) center center no-repeat; background-size:100% auto;height:auto; min-height:23px;position: relative; bottom:18%; z-index:10;}
.swiper-slide-visible .p2_time{
	-webkit-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;}	
}
@media screen and (max-width:320px) and (min-height:568px) {
#p2 .p2_slogan{  background-size: auto 100%; position: absolute; top:45px; width:100%; min-width:320px; height:auto; min-height:22px; margin:0 auto;}
#p2 .p2_middle{ width:100%; position: absolute; top:17.8%;  margin:0 auto; z-index:5}
#p2 .p2_middle img{ width:100%; text-align:center;}
.swiper-slide-visible .p2_middle img{
	animation-name: bounceIn;
    -webkit-animation-name: bounceIn;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
	}
#p2 .p2_time{background:url(../Image/index-2-time.png) center center no-repeat; background-size:100% auto;height:auto; min-height:23px;position: relative; bottom:12%; z-index:10;}
.swiper-slide-visible .p2_time{
	-webkit-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
    animation-duration: 1.011s;
    -webkit-animation-duration: 1.011s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
	animation-fill-mode: both;
    -webkit-animation-fill-mode: both;}	
}