@charset "utf-8";
/* CSS Document */
html { width:100%; overflow:hidden;}
*{ margin:0; padding:0;}
ul,li { list-style:none;}
.mt50{ margin-top:50px;}

.mb30{ margin-bottom:30px;}
.ac{ text-align:center}
body{margin:0 auto; width:100%;max-width:640px; height:100%; min-height:100%; font: normal 24px/1.4em "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif; color:#666; overflow:hidden; background:url(../../Image/spelling/bg/page_bg.png) top repeat-y; background-size:100% auto ; }
#wrapper { height:100%; /*max-width:640px;*/margin:0 auto;  }
/*#container {width:100%;max-width:640px;margin:0 auto; position:relative;height:auto!important; height:100%; min-height:100%;}
#main { height:auto!important; height:100%;}
*/.foot{ background:url(../../Image/spelling/cloud.png) repeat-x; background-position:bottom; background-size:100%; height:44px; position:relative; bottom:0}
.foot:after{ content:"";
	position:absolute; }

/*
首页效果
*/
#container {width:100%;max-width:640px;margin:0 auto; position:relative;height:auto!important; height:100%; min-height:480px;}
#main { height:auto!important; min-height:400px;}
.content .index_logo{position: absolute; z-index:20; top:62.1%; left:37.5%; width:47%}
.content .index_logo:hover{ cursor:pointer;}
.content .index_logo img.logo{border-radius: 100%; width:80px; height:80px; margin-top:24px;}
.light_back_po{position: absolute;  top:52%; left:-16%; z-index:1}
.index_back_light{position: relative; top:11px; left:16%; width:80%; background-image:url(../../Image/spelling/light-back.png); background-size:400%;-webkit-animation:index_back_light 15s infinite linear;-moz-animation:index_back_light 15s infinite linear;-o-animation:index_back_light 15s infinite linear; opacity:0.8}
#header .logo { position:absolute; top:20%; left:6.4%; width:25%; height:auto; border-radius:100%; background:#fff;}
#header img.logo{ width:80px; height:80px; border-radius:100%;}
@keyframes index_back_light
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes index_back_light
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
.content{ padding:0;}
.content div.logo{
	background:url(images/logo-blank.png) no-repeat;
	padding-top:30px;
	position: relative;
	z-index:10;
	text-align:center;
}


.content div.logo img{ width:80%;}
@-webkit-keyframes logo
{
	0%{-webkit-transform: rotate(0deg);}
	20%,60%{-webkit-transform:rotate(5deg);}
	40%,80%{-webkit-transform:rotate(-3deg);}
	100%{-webkit-transform:rotate(0deg);}
}

.content_top{-webkit-animation:logo 8s infinite linear;-webkit-transform-origin:50% top;}

.rule_tips{ font-size:12px; line-height:1.2em; padding:10px 30px 30px 30px; text-align:center; color:#1484d3; position:relative;/* position: static; bottom:69px; */top:30px; z-index:30}
.rule_tips a{ color:#1484d3;}
.rule_tips button{ font-size:12px; color:#1484d3; font-family:"Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;}
/*
end
*/
#header { height:auto; overflow:hidden;z-index:10; /*position:relative; */position: absolute;text-align:center;}

#header .headerbg1 { width:100%; height:auto;}
#header .headerbg0 { position:absolute; top:0; left:0; width:100%; background-image:url(../../Image/spelling/headerbg5.png); background-repeat:repeat-y; background-size:300%;-webkit-animation:headerbg0 60s infinite linear; opacity:0.5;}
#header .headerbg5 { position:absolute; top:0; left:0; width:40%; height:auto;-webkit-animation:headerbg5 8s infinite linear; z-index:-1}
#header .logo { position:absolute; top:25%; left:6.4%; width:25%; height:auto; border-radius:100%; background:#fff;}
#header img.logo{ width:80px; height:80px; border-radius:100%;}
@keyframes headerbg0
{
	0%{ background-position:0 0;}
	100%{ background-position:0 1080px;}
}
@keyframes headerbg3
{
	0%{ opacity:0;}
	60%{ opacity:1;}
	100%{ opacity:0;}
}
@keyframes headerbg4
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@keyframes headerbg5
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(-360deg);}
}

@-webkit-keyframes headerbg0
{
	0%{ background-position:0 0;}
	100%{ background-position:0 1080px;}
}
@-webkit-keyframes headerbg3
{
	0%{ opacity:0;}
	60%{ opacity:1;}
	100%{ opacity:0;}
}
@-webkit-keyframes headerbg4
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes headerbg5
{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(-360deg);}
}

@-moz-keyframes headerbg0
{
	0%{ background-position:0 0;}
	100%{ background-position:0 1080px;}
}
@-moz-keyframes headerbg3
{
	0%{ opacity:0;}
	60%{ opacity:1;}
	100%{ opacity:0;}
}
@-moz-keyframes headerbg4
{
	0%{-moz-transform:rotate(0deg);}
	100%{-moz-transform:rotate(360deg);}
}
@-moz-keyframes headerbg5
{
	0%{-moz-transform:rotate(0deg);}
	100%{-moz-transform:rotate(-360deg);}
}

@-o-keyframes headerbg0
{
	0%{ background-position:0 0;}
	100%{ background-position:0 1080px;}
}
@-o-keyframes headerbg3
{
	0%{ opacity:0;}
	60%{ opacity:1;}
	100%{ opacity:0;}
}
@-o-keyframes headerbg4
{
	0%{-o-transform:rotate(0deg);}
	100%{-o-transform:rotate(360deg);}
}
@-o-keyframes headerbg5
{
	0%{-o-transform:rotate(0deg);}
	100%{-o-transform:rotate(-360deg);}
}

#layer_box{
	position: relative;
	top:90px;
	/*top:50px;*/
	z-index: 1;
	background-color:rgba(255,255,255,0.7);
	margin: 17px auto;
	height:auto;
	overflow:hidden;
	margin-top: 0;
	border-radius: 15px;
	box-shadow: 0px 0px 15px #666;
	border: 1px #d4e5f2 solid;
	width: 93%;
	height:100%;
	margin-bottom:70px;
	/*padding-bottom:50px;*/
	}
#layer_content{
	border:2px #d4e5f2 solid;	
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px; 
    border-radius:15px;
	margin:3px;
	/*padding:16px;*/
	padding:8px;
	padding-top:0;
	/*padding-top:50px;*/
	padding-bottom:0;
}
.home_btn{ background:url(../../Image/spelling/home.png) no-repeat; background-size:100%; position: absolute; float:right; right:12px; top:93px; width:42px; height:42px; display:block; cursor:pointer; z-index:600}
.home_btn a{ line-height:42px; height:42px; width:42px; display:block;}

.back_btn{ background:url(../../Image/spelling/btn-back.png) no-repeat; background-size:100%; position: absolute; float:right; right:12px; top:93px; width:42px; height:42px; display:block; cursor:pointer; z-index:600}
.back_btn a{ line-height:42px; height:42px; width:42px; display:block;}

.close_btn{ background:url(../../Image/spelling/close-btn.png) no-repeat; background-size:100%; position: absolute; float:right; right:12px; top:93px; width:42px; height:42px; display:block; cursor:pointer; z-index:600}
.close_btn a{ line-height:42px; height:42px; width:42px; display:block;}

.page_tips{ padding-top:40px;}
.page_tips h2{ font-size:20px; font-weight:100; text-align: center}
.page_content{ margin:0 auto; width:100%; padding-top:20px}
.page_content ul.char_list { list-style:none; margin:0; padding:0;text-align:center;}
.page_content ul.char_list.list4 {}
.page_content ul.char_list.list4 li { width:80px; height:80px; margin:10px 14px;}

.page_content ul.char_list.list5 li:nth-child(1) { margin:10px 10px 10px 40px;}
.page_content ul.char_list.list5 li:nth-child(2) { margin:10px 30px 10px 10px;}
.page_content ul.char_list li{
	width:70px;
	height:70px;
	display:inline-table;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
	border:2px #fff solid;	
	-moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    border-radius:8px;
	-webkit-box-shadow:0px 0px 9px #06a71e;
	-moz-box-shadow:0px 0px 9px #06a71e;
	box-shadow:0px 0px 9px #06a71e;
	font-size:200%;
	line-height:70px;
	text-align:center;
	color:#06a71e;
	position:relative;
	margin:5px
}

  
@-webkit-keyframes shineBlue {  
        from { -webkit-box-shadow: 0 0 9px #333; }  
        50% { -webkit-box-shadow: 0 0 12px #0099FF; }  
        to { -webkit-box-shadow: 0 0 9px #333; }  
}  
.shine_blue{  
-webkit-animation-name: shineBlue;   
-webkit-animation-duration: 3s;  
-webkit-animation-iteration-count: infinite;   
} 	
.page_content ul.char_list li a{ color:#06a71e;width:70px;height:70px; text-decoration:none; position: absolute; left:0 }
.page_content ul.char_list li b{ width:26px; height:26px; float:right; right:0; position: absolute; vertical-align:top; background:url(../../Image/spelling/star-green.png) no-repeat;}

.page_content ul.char_list li.yellowbg{
	-webkit-box-shadow:0px 0px 9px #ffd629;
	-moz-box-shadow:0px 0px 9px #ffd629;
	box-shadow:0px 0px 9px #ffd629;
	border:2px #ffd627 solid;
	background-color:#FFF;
	color:#b99504;
}
.page_content ul.char_list li.yellowbg a{ color:#b99504;width:70px;height:70px; text-decoration:none; position: absolute; left:0 }
.page_content ul.char_list li.yellowbg b.yellowstar{ width:26px; height:26px; float:right; right:0; position: absolute; vertical-align:top; background:url(../../Image/spelling/star-yew.png) no-repeat;}

.page_content ul.char_list li.no_select{color:#8c8c8c;}
.page_content ul.char_list li.no_select a{ color:#8c8c8c;width:70px;height:70px; text-decoration:none; position: absolute; left:50%; top:50%; margin-left:-35px; margin-top:-35px;}


.over-top{ position: relative; top:-40px; margin-bottom:-30px;}

.result_tips{ padding:0; text-align:center; font-weight:normal}
.result_tips h3{ font:24px; font-weight:100;}
.result_tips h3 i{ font-style:normal;}
.result_tips p {
font-size: 12px;
padding: 6px 0 0px 0;
line-height: 1.2em;
}
.opr_btn{
	z-index:999;
	margin:0 auto; 
	width:80%;
	line-height:40px;
	text-align:center;
	border:1px #4bb5ff solid;
    border-radius:8px;
	box-shadow:0px 2px 3px rgba(0,0,0,0.3), inset 0px 0px 0px 1px #fff, inset 0px 0px 0px 2px #4bb5ff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
	margin-top:15px
}
.opr_btn a{
	font-size:100%;
	text-align:center;
	display:block;
	-moz-border-radius: 8px;      /* Gecko browsers */
    -webkit-border-radius: 8px;   /* Webkit browsers */
    border-radius:8px;
	-webkit-text-fill-color: #fcfcfc;/*文字的填充色*/
	-webkit-text-stroke: 2px #4bb5ff;/*描边的像素，也就是粗细，这里指定是2像素的黑色*/
	margin:2px;
	width:100%;
	text-decoration:none;
	}
.opr_btn a b{  -webkit-text-fill-color: #fcfcfc;/*文字的填充色*/
	-webkit-text-stroke: 1px #4bb5ff;/*描边的像素，也就是粗细，这里指定是2像素的黑色*/}
.process{
	margin: 19px 0 20px 0;
	}
.frind_tips{ font-size:14px}
.frind_tips i{ 
	width:26px; 
	height:26px;
	text-align:center;
	line-height:26px;
	background-color:#FFF; 
	display:inline-block;
	font-style:normal;
	border:1px #95caf1 solid; 
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px; 
	filter:alpha(opacity=100);  
	-moz-opacity:1;  
	-khtml-opacity: 1;  
	opacity: 1; 
}
.slider_layer{ text-align: center}
a.extend_btn{background:url(../../Image/spelling/btn-pzjc.png) top center no-repeat; background-size:60%; width:100%; height:25px; display:block;  line-height:23px; margin-top:36px;}
ul.help_list{ margin:0; padding:0; list-style:none; display:none}
ul.help_list li{ background:url(../../Image/spelling/line.png) center bottom no-repeat; background-size:90%; font-size:14px; line-height:18px; padding:10px 0;}
ul.help_list li a{ text-align:center;}
ul.help_list li a img{ vertical-align:middle; width:8%; display:block;}
ul.help_list li div{ float:left; width:80%;}
ul.help_list li span{ padding-lef20px;}
ul.help_list li i{ display:block; color:#999; font-size:80%; padding-left:40px; font-style:normal}
ul.mask { 
	margin-top:25px; 
	-moz-border-radius: 15px;      /* Gecko browsers */
	-webkit-border-radius: 15px;   /* Webkit browsers */
	border-radius:15px;
	padding:0px;
	display: inline-block;
	list-style:none;
	list-style-type:none;
	position: relative;
	}
ul.mask li{ display:inline-block; width:60px; height:80px; float:left; margin:3px; font-size:12px; color:#666}
ul.mask li img{ width:60px;}
ul.mask li a{ text-decoration:none; color:#666}
ul.mask li::before{content: '';
	position: absolute;
	/*top: 12px;
	width: 14px;
	height: 3px;*/
	background-color: #8f9cb5;}
/*
pop btn
*/
/* -------------------------------- 

Main components 

-------------------------------- */
.cd-popup-trigger {
	text-align: center;
}
@media only screen and (min-width: 1170px) {
	.cd-popup-trigger {
	/*margin: 6em auto;*/
	}
}

/* -------------------------------- 

xpopup 

-------------------------------- */
.cd-popup {
	position:fixed;
	z-index:1000;
	/*position: absolute;*/
	left: 0;
	top: 0px;
	/*padding-top:50%;*/
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	visibility: hidden;
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	transition: opacity 0.3s 0s, visibility 0s 0.3s;
	min-height: 100%;   
    _height:100%;

}
.cd-popup.is-visible {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0s;
	transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
	position: relative;
	width: 95%;
	max-width: 640px;
	/*margin: 4em auto;*/
	/*background: #FFF;
	border-radius: .25em .25em .4em .4em;*/
	text-align: center;
	
	-webkit-transform: translateY(-40px);
	-moz-transform: translateY(-40px);
	-ms-transform: translateY(-40px);
	-o-transform: translateY(-40px);
	transform: translateY(-40px);
	/* Force Hardware Acceleration in WebKit */
	-webkit-backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
	
	/*border:3px #d4e5f2 solid;	*/
	-moz-border-radius: 15px;      /* Gecko browsers */
	-webkit-border-radius: 15px;   /* Webkit browsers */
	border-radius:15px;
	margin:7px;
	padding:20px 0px;
	min-height: 100%;   
    _height:100%;
}
.cd-popup-container img{ width:100%}
.cd-popup-container ul {
	/*padding: 1em;*/
}

.cd-popup-container .cd-popup-close {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 42px;
	height: 42px;
	background:url(../../Image/spelling/close-btn.png) no-repeat;
	background-size:100%;
	display:block
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
	content: '';
	position: absolute;
	/*top: 12px;
	width: 14px;
	height: 3px;*/
	background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 8px;
}
.cd-popup-container .cd-popup-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	right: 8px;
}
.is-visible .cd-popup-container {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
	.cd-popup-container {
	margin: 8em auto;
	}
}


/*
显示游戏
*/
.page-select{}
.img_title{ z-index:1000; width:100%; /*padding-top:40px*/}
.img_title img{ width:90%}
/*
领到字
*/
.light-yellow{
	text-align:center;
	background:url(../../Image/spelling/yellow-light.png) top center no-repeat;
	background-size:92% auto;
	z-index:2;
	margin:0;
	padding:90px 0;
	}
span.border-yellow{
	font:56px "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#b99504;
	z-index:299;
	margin:0 auto;
	width:70px;
	height:70px;
	display:block;
	-webkit-box-shadow:0px 0px 25px #ffd629;
	-moz-box-shadow:0px 0px 25px #ffd629;
	box-shadow:0px 0px 25px #ffd629;
	border:2px #ffd627 solid;
	background-color:#FFF;
	-moz-border-radius: 8px;      /* Gecko browsers */
    -webkit-border-radius: 8px;   /* Webkit browsers */
    border-radius:8px;}
.line{ background:url(../../Image/spelling/line.png) no-repeat center; background-size:100%; height:3px; margin:50px 0 20px 0;}


/*
手机注册
*/
.get-step1{ width:100%;}
.login {
  margin: 0 auto;
  padding: 0 0 20px 0;
  border-radius: 3px;
  width:100%;
  /*-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);*/
}
.login ul {padding-left:70px; height:auto; overflow:hidden; position:relative; margin-top:10px; }
.login ul.noname { padding-left:0;}
.login ul:first-child { margin-top:0;}
.login ul li {height:auto; overflow:hidden; position:relative;}
.login ul li.name {position:absolute; left:0; text-align:right; width:70px; font-size:0.8em; line-height:35px;color: #1484d3;}
.login ul li.input { text-align:left;}
.login ul li.input input { width:98%;}
.login p {
	height:auto; overflow:hidden;
  margin: 10px 0 0;
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=text], .login input[type=password] {
  width:64%;
}
.login label{font-size:0.8em; color:#1484d3; text-align:right;}
.login p.remember_me {
  float: left;
  line-height: 1em;
}
.login p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.login p.submit {
  text-align: center;
  border:0;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}
.login-help a {
  color: #cce7fa;
  text-decoration: none;
}
.login-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: #1484d3;
  font-size:48px; 
  
}

::-webkit-input-placeholder {
  color: #1484d3;
  font-size:48px; 
  
}

input {
  color: #1484d3;
  font-size:1em; 
  
}

input[type=text], input[type=password] {
  color: #1484d3;
  font-size:1.2em;
  height:35px;
  border: 1px #4bb5ff solid;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}
.login p.getcode{ color:#1484d3; text-align: center; margin-top:2px;}
.getcode a{color:#1484d3; font-size:0.8em; }

/*
好友帮助
*/ 
.thanks{ display:inline-table;}
.thanks img{ vertical-align:middle; float:left}
.triangle-border {
	position:relative;
	float:right;
	right:0;
	padding:5px;
	margin:0 0 3em;
	border:5px solid #abd5f3;
	color:#fff;
	background:#abd5f3;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.triangle-border.left {
	margin-left:30px;
}
.triangle-border:before {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:40px; /* controls horizontal position */
    border-width:20px 20px 0;
	border-style:solid;
    border-color:#abd5f3 transparent;
    display:block; 
    width:0;
}
.triangle-border:after {
	content:"";
	position:absolute;
	bottom:-13px; /* value = - border-top-width - border-bottom-width */
	left:47px; 
	border-width:13px 13px 0;
	border-style:solid;
	border-color:#abd5f3 transparent;
    display:block; 
    width:0;
}
.triangle-border.left:before {
	top:10px; /* controls vertical position */
	bottom:auto;
	left:-30px; /* value = - border-left-width - border-right-width */
	border-width:15px 30px 15px 0;
	border-color:transparent #abd5f3;
}
.triangle-border.left:after {
	top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
	bottom:auto;
	left:-21px; /* value = - border-left-width - border-right-width */
	border-width:9px 21px 9px 0;
	border-color:transparent #abd5f3;
}

/*
游戏规则
*/
.box{
	padding:18px;
	/*margin-top:117px;*/}
	
.box h2{ 
	height:83px; 
	width:100%; 
	text-align:center;
	margin:10px 0;}
	
.active-rule,.active-introduce,.active-gift,.active-time{
	height:63px; 
	display:block;
	}
	
.active-rule{ 
	background:url(../../Image/spelling/active-rule.png) center no-repeat; background-size:60%;}
	
.active-introduce{ 
	background:url(../../Image/spelling/active-introduce.png) center no-repeat; background-size:60%;}
	
.active-gift{ 
	background:url(../../Image/spelling/active-gift.png) center no-repeat; background-size:60%;}

.active-time{ 
	background:url(../../Image/spelling/active-time.png) center no-repeat; background-size:60%;}

.box p{ text-align: left; padding:10px; font-size:16px; line-height: 12px; color:#666}



/*
首页弹窗
*/
.md-modal {
	position: absolute;
	top:0;
	left:9%;
	width: 83%;
	
	height: auto;
	z-index: 2000;
	visibility: hidden;
	backface-visibility: hidden;
	font-size:12px;
	transform: translateX(-50%) translateY(-50%);
	}
	
	.md-show {
	visibility: visible;
	}
	
	.md-overlay {
	position: fixed;
	
	visibility: hidden;
	
	z-index: 1000;
	opacity: 0;
	background: rgba(255,255,255,0.9);
	transition: all 0.3s;
	border-radius: 15px;
	box-shadow: 0px 0px 15px #666;
	border: 1px #d4e5f2 solid;
	}
	
	.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
	}
	
	.md-perspective,
	.md-perspective body {
	height: 100%;
	overflow: hidden;
	}
	
	.md-perspective body  {
	background: #222;
	/*perspective: 600px;*/
	}
	
	.container {
	background: #e74c3c;
	min-height: 100%;
	}
	.md-content {
	color: #999;
	background: #fff;
	/*position: relative;*/
	border-radius: 3px;
	margin: 50px auto;
	}
	
	
	.md-content > div {
	/*padding: 15px 10px 30px;
	margin: 0;*/
	font-size: 12px;
	}
	
	.md-content > div p {
	margin: 0;
	padding: 10px 0;
	line-height: 18px;
	}
	
	.md-content > div p img{
	width:50%;
	}
	
	.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
	}
	
	.md-content > div ul li {
	padding: 5px 0;
	}
	
	.md-content button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
	}
	.md-close{ background:url(../../Image/spelling/close-btn.png) no-repeat; border:0; background-size:80%; width:42px; height:42px; background-color:transparent; position:absolute; top:55px; right:0px; z-index:30}
	
	/* Effect 13: 3D slit */
	.md-effect-13.md-modal {
	/*-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;*/
	}
	
	.md-effect-13 .md-content {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-3000px) rotateY(90deg);
	-moz-transform: translateZ(-3000px) rotateY(90deg);
	-ms-transform: translateZ(-3000px) rotateY(90deg);
	transform: translateZ(-3000px) rotateY(90deg);
	opacity: 0;
	border:2px #d4e5f2 solid;	
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px; 
	border-radius:15px;
	padding:20px;
	}
	.md-effect-13 .md-content H3{ font-size:14px; font-weight:100;}
	.md-show.md-effect-13 .md-content {
	-webkit-animation: slit .7s forwards ease-out;
	-moz-animation: slit .7s forwards ease-out;
	animation: slit .7s forwards ease-out;
	height:80%
	}
	
	@-webkit-keyframes slit {
	50% { -webkit-transform: translateZ(-250px) rotateY(89deg); opacity: .5; -webkit-animation-timing-function: ease-out;}
	100% { -webkit-transform: translateZ(0) rotateY(0deg); opacity: 1; }
	}
	
	@-moz-keyframes slit {
	50% { -moz-transform: translateZ(-250px) rotateY(89deg); opacity: .5; -moz-animation-timing-function: ease-out;}
	100% { -moz-transform: translateZ(0) rotateY(0deg); opacity: 1; }
	}
	
	@keyframes slit {
	50% { transform: translateZ(-250px) rotateY(89deg); opacity: 1; animation-timing-function: ease-in;}
	100% { transform: translateZ(0) rotateY(0deg); opacity: 1; }
	}
	
	
	.zoom-img{ vertical-align:top}
	.zoom-img img{ width:20%; width:50px; float:left;}
	
.hand{ background:url(../../Image/spelling/hand.png) no-repeat; background-size:100%; width:42px; height:42px;position: absolute;  top:91%; left:52%; z-index:300;-webkit-transform: rotate(-20deg);-moz-transform: rotate(-20deg);}
.hand:hover{ cursor:pointer}


/*
朋友帮助信息
*/
.chats {
margin: 0;
padding: 0;
margin-top: -15px;
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start:1em;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}
.chats li {
list-style: none;
padding: 5px 0;
margin: 10px auto;
font-size: 12px;
}
.chats li.in img.avatar {
float: left;
margin-right: 0px;
}
.chats li img.avatar {
height: 31px;
width: 31px;
-webkit-border-radius: 50% !important;
-moz-border-radius: 50% !important;
border-radius: 50% !important;
}
.chats li.in .message {
text-align: left;
border-left: 2px solid #35aa47;
margin-left: 50px;
}
.chats li .message {
display: block;
padding: 5px;
position: relative;
}
.chats li.in .message .arrow {
display: block;
position: absolute;
top: 5px;
left: -8px;
width: 0;
height: 0;
border-top: 8px solid transparent;
border-bottom: 8px solid transparent;
border-right: 8px solid #35aa47;
}
.chats li .name {
color: #3590c1;
font-size: 13px;
font-weight: 400;
}
.chats li .datetime {
color: #333;
font-size: 13px;
font-weight: 400;
}
.chats li .message .body {
display: block;
}


/*
可关闭层
*/
.close-able-layer{ /*border:1px #6699FF solid; */
	padding: 10px;
	position: absolute;
	float: left;
	top: 101px;
	z-index: 9999;
	background: rgba(255,255,255,0.5);
	margin: 0 25px;
	margin-top: 35px;
	font-size: 12px;
	font-weight: normal;
	border-radius: 5px;
	line-height: 1.5em;
	width: 546px;
}
.close-able-layer h6{ font-weight:normal}
.close-able-layer h6 a{ color:#3590c1}
.call_for_gift{
background:url(../../Image/spelling/call_for_gift.png) no-repeat; background-size:42px 97px; margin:3px;  margin-left:0;margin-right:6px;
}
.home_btn .md-trigger{color:#3590c1;-webkit-appearance:none; outline:0; background-color:transparent;border:0; text-indent:-999em}

/**
2015 01 13
*/
@media screen and (min-width:320px) and (max-width:360px) and (min-height:640px)
{
#container {width:100%;max-width:640px;margin:0 auto; position:relative;height:auto!important; height:100%; min-height:640px;}
#main { height:auto!important; min-height:400px;}
.content .index_logo{position: absolute; z-index:20; top:62.1%; left:37.5%; width:47%}
.content .index_logo:hover{ cursor:pointer;}
.content .index_logo img.logo{border-radius: 100%; width:90px; height:90px; margin-top:25px;}
.light_back_po{position: absolute;  top:52%; left:-16%; z-index:1}
.index_back_light{position: relative; top:11px; left:16%; width:80%; background-image:url(../../Image/spelling/light-back.png); background-size:400%;-webkit-animation:index_back_light 15s infinite linear;-moz-animation:index_back_light 15s infinite linear;-o-animation:index_back_light 15s infinite linear; opacity:0.8}
#header .logo { position:absolute; top:20%; left:6.4%; width:25%; height:auto; border-radius:100%; background:#fff;}
#header img.logo{ width:90px; height:90px; border-radius:100%;}
} 

@media screen and (min-width:321px) and (max-width:640px)
{
#container {width:100%;max-width:640px;margin:0 auto; position:relative;height:auto!important; height:100%; min-height:640px;}
#main { height:auto!important; min-height:400px;}
.content .index_logo{position: absolute; z-index:20; top:62.1%; left:37.5%; width:47%}
.content .index_logo:hover{ cursor:pointer;}
.content .index_logo img.logo{border-radius: 100%; width:90px; height:90px; margin-top:25px;}
.light_back_po{position: absolute;  top:52%; left:-16%; z-index:1}
.index_back_light{position: relative; top:11px; left:16%; width:80%; background-image:url(../../Image/spelling/light-back.png); background-size:400%;-webkit-animation:index_back_light 15s infinite linear;-moz-animation:index_back_light 15s infinite linear;-o-animation:index_back_light 15s infinite linear; opacity:0.8}
#header .logo { position:absolute; top:20%; left:6.4%; width:25%; height:auto; border-radius:100%; background:#fff;}
#header img.logo{ width:90px; height:90px; border-radius:100%;}
}
@media screen and (min-width:321px) and (max-width:384px) and (min-height:640px)
{
#container {width:100%;max-width:640px;margin:0 auto; position:relative;height:auto!important; height:100%; min-height:480px;}
#main { height:auto!important; min-height:400px;}
.content .index_logo{position: absolute; z-index:20; top:62.1%; left:37.5%; width:47%}
.content .index_logo:hover{ cursor:pointer;}
.content .index_logo img.logo{border-radius: 100%; width:95px; height:95px; margin-top:27px;}
.light_back_po{position: absolute;  top:52%; left:-16%; z-index:1}
.index_back_light{position: relative; top:11px; left:16%; width:80%; background-image:url(../../Image/spelling/light-back.png); background-size:400%;-webkit-animation:index_back_light 15s infinite linear;-moz-animation:index_back_light 15s infinite linear;-o-animation:index_back_light 15s infinite linear; opacity:0.8}
#header .logo { position:absolute; top:20%; left:6.4%; width:25%; height:auto; border-radius:100%; background:#fff;}
#header img.logo{ width:80px; height:80px; border-radius:100%;}
}
@media screen and (max-width:320px) and (min-height:480px)
{
#container {width:100%;max-width:640px;margin:0 auto; position:relative;height:auto!important; height:100%; min-height:480px;}
#main { height:auto!important; min-height:400px;}
.content .index_logo{position: absolute; z-index:20; top:62.1%; left:37.5%; width:47%}
.content .index_logo:hover{ cursor:pointer;}
.content .index_logo img.logo{border-radius: 100%; width:90px; height:90px; margin-top:24px;}
.light_back_po{position: absolute;  top:52%; left:-16%; z-index:1}
.index_back_light{position: relative; top:11px; left:16%; width:80%; background-image:url(../../Image/spelling/light-back.png); background-size:400%;-webkit-animation:index_back_light 15s infinite linear;-moz-animation:index_back_light 15s infinite linear;-o-animation:index_back_light 15s infinite linear; opacity:0.8}
#header .logo { position:absolute; top:20%; left:6.4%; width:25%; height:auto; border-radius:100%; background:#fff;}
#header img.logo{ width:80px; height:80px; border-radius:100%;}
}
@media screen and (max-width:320px) and (min-height:568px)
{
#container {width:100%;max-width:640px;margin:0 auto; position:relative;height:auto!important; height:100%; min-height:493px;}
#main { height:auto!important; min-height:493px;}
.content .index_logo{position: absolute; z-index:20; top:71%; left:37.7%; width:47%}
.content .index_logo:hover{ cursor:pointer;}
.content .index_logo img.logo{border-radius: 100%; width:90px; height:90px; margin-top:-8px;}
.light_back_po{position: absolute;  top:52%; left:-16%; z-index:1}
.index_back_light{position: relative; top:11px; left:16%; width:80%; background-image:url(../../Image/spelling/light-back.png); background-size:400%;-webkit-animation:index_back_light 15s infinite linear;-moz-animation:index_back_light 15s infinite linear;-o-animation:index_back_light 15s infinite linear; opacity:0.8}
#header .logo { position:absolute; top:20%; left:6.4%; width:25%; height:auto; border-radius:100%; background:#fff;}
#header img.logo{ width:80px; height:80px; border-radius:100%;}
}
@media screen and (min-width:320px) and (max-width:375px) and (min-height:667px)
{
#container {width:100%;max-width:640px;margin:0 auto; position:relative;height:auto!important; height:100%; min-height:560px;}
#main { height:auto!important;  min-height:661px;}
.content .index_logo{position: absolute; z-index:20; top:71%; left:37.7%; width:47%}
.content .index_logo:hover{ cursor:pointer;}
.content .index_logo img.logo{border-radius: 100%; width:93px; height:93px; margin-top:-8px;}
.light_back_po{position: absolute;  top:52%; left:-16%; z-index:1}
.index_back_light{position: relative; top:11px; left:16%; width:80%; background-image:url(../../Image/spelling/light-back.png); background-size:400%;-webkit-animation:index_back_light 15s infinite linear;-moz-animation:index_back_light 15s infinite linear;-o-animation:index_back_light 15s infinite linear; opacity:0.8}
#header .logo { position:absolute; top:20%; left:6.4%; width:25%; height:auto; border-radius:100%; background:#fff;}
#header img.logo{ width:93px; height:93px; border-radius:100%;}
}

@media screen and (min-width:321px) and (max-width:414px) and (min-height:736px)
{
#container {width:100%;max-width:640px;margin:0 auto; position:relative;height:auto!important; height:100%; min-height:560px;}
#main { height:auto!important;  min-height:661px;}
.content .index_logo{position: absolute; z-index:20; top:71%; left:37.7%; width:47%}
.content .index_logo:hover{ cursor:pointer;}
.content .index_logo img.logo{border-radius: 100%; width:102px; height:102px; margin-top:-8px;}
.light_back_po{position: absolute;  top:52%; left:-16%; z-index:1}
.index_back_light{position: relative; top:11px; left:16%; width:80%; background-image:url(../../Image/spelling/light-back.png); background-size:400%;-webkit-animation:index_back_light 15s infinite linear;-moz-animation:index_back_light 15s infinite linear;-o-animation:index_back_light 15s infinite linear; opacity:0.8}
#header .logo { position:absolute; top:20%; left:6.4%; width:25%; height:auto; border-radius:100%; background:#fff;}
#header img.logo{ width:103px; height:103px; border-radius:100%;}
}