@charset "utf-8";
/* CSS Document */
/*
阴影效果
*/
body {
	font-size: 14px;
	line-height: 1.42857143;
	color: #666;
	font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#000;
	margin:0 auto;
	padding:0;
	border:0;
	background:url(../images/bg/page_bg.png) top center repeat-y fixed;
	}
.content{ padding:0; /*background:url(../images/bg/bg_light.png) top center no-repeat;*/}
.bg_light{ background:url(../images/bg/bg_light.png) top center no-repeat;}
.bg-bottom{ background:url(../images/bg/pop-bg_bottom.png) bottom center no-repeat; height:25px;}
.back-btn{ background:url(../images/btn-back.png) no-repeat; position: relative; float:right; right:32px; top:10px; width:62px; height:62px; display:block; cursor:pointer}
/*
拼字首页
*/
.logo{
	background:url(images/logo-blank.png) no-repeat;
	margin-top:120px;
}
/*
open layer
*/
.toggle-nav{
	float:right;
	margin-top:-28px;
	padding-right:10px;
	padding-right:240px;
}

.menu{
	background-image:url(../images/bg/bg-nav-brod.png);
	height:auto;
	width:100%;
	overflow:hidden;
	
}

.toggle-nav-background-deco{ /*Set all to important to prevent orientation detection to mess things up */
	background-color:rgba(255,255,255,0.4)!important;
	width:100%!important;
	/*height:800px!important;*/
	position:absolute!important;
	top:0px!important;
	left:0px!important;
	z-index:999!important;
}

.navigation{
	position:relative;
	z-index:9999;
	padding-bottom:50px;
	padding-top:30px;
}
/* End*/

.rule_tips{ font-size:30px; text-align:center; color:#1484d3; position: static; bottom:69px;}

.foot{ background:url(../images/cloud.png) center bottom no-repeat; min-height:69px;}


/*
游戏规则
*/
.box{
	background:url(../images/bg/pop-bg.png) top center no-repeat; 
	width:605px; 
	padding:18px;
	margin-top:117px;}
	
.box h2{ 
	height:63px; 
	width:100%; 
	text-align:center;
	margin:10px 0;}
	
.active-rule,.active-introduce,.active-gift{
	height:63px; 
	display:block}
	
.active-rule{ 
	background:url(../images/active-rule.png) center no-repeat;}
	
.active-introduce{ 
	background:url(../images/active-introduce.png) center no-repeat;}
	
.active-gift{ 
	background:url(../images/active-gift.png) center no-repeat;}

.box p{ text-align: left; padding:10px 100px; font-size:24px; color:#666}

/*
显示游戏
*/
.main_content{ padding:40px; background:url(../images/bg/pop-bg.png) top center no-repeat; z-index:1; position: relative; top:-90px;}
ul.txt_show{ 
	list-style:none; 
	padding:0; 
	margin:0 30px;
	display:inline-block;
	}

ul.txt_show li{ 
	background:#cccccc;
	border:#a8a8a8 0px solid;
	-moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
	padding:0 25px;
	float:left;
	font:100px "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#8c8c8c;
	height:146px;
	-webkit-box-shadow:0px 0px 15px #666;
	-moz-box-shadow:0px 0px 15px #666;
	box-shadow:0px 0px 15px #666;
	margin:15px 16px 15px 0px;
	/*选中文字*/
	animation:        unselected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
	-o-animation:     unselected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
	-ms-animation:    unselected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
	-moz-animation:   unselected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
	-webkit-animation: unselected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
	}
ul.txt_show li:hover{
	cursor:pointer;
	}
ul.txt_show li.selectd{
	border:2px #063 solid;
	}
	
ul.txt_show li.selectd b{
	position: absolute;
	top: 0;
	right: 0;
	width: 12px;
	height: 12px;
	overflow: hidden;
	background-image: url(images/star-green.png);
	background-repeat: no-repeat;
	}
@keyframes unselected {
  0% { box-shadow: 0 0 0 4px #00c09e; }
  50% { transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #fff; }
  80%,100% { width: 100%; height: 100%; box-shadow: 0 0 0 4px #fff; }
}
@-o-keyframes unselected {
  0% { box-shadow: 0 0 0 4px #00c09e; }
  50% { -o-transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #fff; }
  80%,100% { width: 100%; height: 100%; box-shadow: 0 0 0 4px #fff; }
}
@-ms-keyframes unselected {
  0% { box-shadow: 0 0 0 4px #00c09e; }
  50% { width: 45%; height: 45%; opacity: 0.8; box-shadow: 0 0 0 4px #fff; }
  80%,100% { width: 100%; height: 100%; box-shadow: 0 0 0 4px #fff; }
}
@-moz-transition unselected {
  0% { box-shadow: 0 0 0 4px #00c09e; }
  50% { -moz-transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #fff; }
  80%,100% { width: 100%; height: 100%; box-shadow: 0 0 0 4px #fff; }
}
@-webkit-keyframes unselected {
  0% { box-shadow: 0 0 0 4px #00c09e; }
  50% { -webkit-transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #fff; }
  80%,100% { width: 100%; height: 100%; box-shadow: 0 0 0 4px #fff; }
}

ul.txt_show li:before {
  content: "\2714";
  display: block;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background:  #00c09e;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  z-index: 10;
  opacity: 0;
  transition:         0.3s linear;
  -o-transition:      0.3s linear;
  -ms-transition:     0.3s linear;
  -moz-transition:    0.3s linear;
  -webkit-transition: 0.3s linear;
  -o-user-select:      none;
  -moz-user-select:    none;
  -webkit-user-select: none;
  cursor: pointer;
}

ul.txt_show li.selected:before {
  opacity: 1;
}

/* img selection */

ul.txt_show li.selected {
  box-shadow: 0 0 0 4px #00c09e;
  animation:        selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -o-animation:     selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -ms-animation:    selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -moz-animation:   selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -webkit-animation: selected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

@keyframes selected {
  0% { border-color: #fff; }
  50% { transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #00c09e; }
  80%,100% { width: 100%; height: 100%; box-shadow: 0 0 0 4px #00c09e; }
}
@-o-keyframes selected {
  0% { box-shadow: 0 0 0 4px #fff; }
  50% { -o-transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #00c09e; }
  80%,100% { width: 100%; height: 100%; box-shadow: 0 0 0 4px #00c09e; }
}
@-ms-keyframes selected {
  0% { box-shadow: 0 0 0 4px #fff; }
  50% { width: 45%; height: 45%; opacity: 0.8; box-shadow: 0 0 0 4px #00c09e; }
  80%,100% { width: 100%; height: 100%; box-shadow: 0 0 0 4px #00c09e; }
}
@-moz-transition selected {
  0% { box-shadow: 0 0 0 4px #fff; }
  50% { -moz-transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #00c09e; }
  80%,100% { width: 100%; height: 100%; box-shadow: 0 0 0 4px #00c09e; }
}
@-webkit-keyframes selected {
  0% { box-shadow: 0 0 0 4px #fff; }
  50% { -webkit-transform: scale(0.5); opacity: 0.8; box-shadow: 0 0 0 4px #00c09e; }
  80%,100% { width: 100%; height: 100%; box-shadow: 0 0 0 4px #00c09e; }
}
	
.btn{
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;
	padding:0px 50px;
	line-height: 86px;
	text-align: center;
	font-size:48px;
	color: #8c96a0;
	text-shadow:1px 1px 1px #5491bd outset;
	border:1px solid #dce1e6;
	/*box-shadow: 0 1px 2px #fff inset,0 -1px 0 #a8abae inset;*/
	box-shadow:0px 0px 15px #666;
	/*background: -webkit-linear-gradient(top,#f2f3f7,#e4e8ec);
	background: -moz-linear-gradient(top,#f2f3f7,#e4e8ec);
	background: linear-gradient(top,#f2f3f7,#e4e8ec);*/
	
	/*border-image:url(../images/lz-btn.png) 30 30 round;*/
	/*-moz-border-image:url(../images/lz-btn.png) 30 30 round; *//* 老的 Firefox */
	/*-webkit-border-image:url(../images/lz-btn.png) 30 30 round;*/ /* Safari 和 Chrome */
	/*-o-border-image:url(../images/lz-btn.png) 30 30 round; *//* Opera */
	margin-top:50px;
	display:block;
	}
	
/*
手机注册
*/
.sub_logo{
	position: relative;
	left:0;
	top:0;
	z-index:9999;
	/*float:left;*/
	text-align:left;
	padding:0 27px 0 27px;
	background:url(../images/left-top-light.png) no-repeat;
		
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  border-radius: 3px;
  /*-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);*/
}
.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  /*background: rgba(0, 0, 0, 0.08);*/
  border-radius: 4px;
}
.login p {
  margin: 20px 0 0;
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=text], .login input[type=password] {
  width: 278px;
}
.login label{ font-size:36px; color:#1484d3;}
.login p.remember_me {
  float: left;
  line-height: 31px;
}
.login p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.login p.submit {
  text-align: center;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}
.login-help a {
  color: #cce7fa;
  text-decoration: none;
}
.login-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: #1484d3;
  font-size:48px; 
  
}

::-webkit-input-placeholder {
  color: #1484d3;
  font-size:48px; 
  
}

input {
  color: #1484d3;
  font-size:48px; 
  
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 370px;
  height: 64px;
  color: #1484d3;
  font-size:48px; 
  background-color:#f4f4f4;
  border: 1px solid;
  border-color: #4bb5ff;
  border-radius: 12px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

input[type=submit] {
  padding: 0 60px;
  height: 87px;
  font-size: 48px;
  color: #FFF;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  -webkit-text-fill-color: white;/*文字的填充色*/
  -webkit-text-stroke: 1px #5491bd;/*描边的像素，也就是粗细，这里指定是2像素的黑色边框*/
  border-radius: 12px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #f3f3f3, #cde5ef);
  background-image: -moz-linear-gradient(top, #f3f3f3, #cde5ef);
  background-image: -o-linear-gradient(top, #f3f3f3, #cde5ef);
  background-image: linear-gradient(to bottom, #ebebeb, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}


/*
领到字
*/
.light-yellow{
	text-align:center;
	width:100%;
	height:209px;
	background:url(../images/yellow-light.png) top center no-repeat;
	z-index:2;
	margin:0;
	padding-top:100px;
	}
span.border-yellow{
	font:72px "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#b99504;
	z-index:299;
	margin:0 auto;
	width:96px;
	height:96px;
	display:block;
	-webkit-box-shadow:0px 0px 25px #ffd629;
	-moz-box-shadow:0px 0px 25px #ffd629;
	box-shadow:0px 0px 25px #ffd629;
	border:2px #ffd627 solid;
	background-color:#FFF;
	-moz-border-radius: 8px;      /* Gecko browsers */
    -webkit-border-radius: 8px;   /* Webkit browsers */
    border-radius:8px;}
.line{ background:url(../images/line.png) no-repeat center; height:3px; margin:50px 0 20px 0;}

.fetch_tips{}
.fetch_tips h3{ font-size:36px; color:#666666; line-height:36px;}
.fetch_tips h3 i { font-style:normal}
.fetch_tips p{ font-size:20px; color:#666666; padding:5px 0px}

/*
马上分享
*/

ul.mask { margin-top:60px;}
ul.mask li{ display:inline-block; width:80px; height:80px; float:left; margin:13px;}
ul.mask li a{}
ul.mask li a b{}

.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 70%;
	height: 30%;
	padding: 16px;
	border: 2px solid #666;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

