<!doctype html>
<html ng-app="index" ng-controller="index">
<head>
    <meta  charset="utf-8" />
    <title ng-bind="title"></title>
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no">   
    <meta content="telephone=no" name="format-detection" />
    <meta name="screen-orientation" content="portrait">
    <meta content="email=no" name="format-detection" />
    <link href="/view/assets/wap/css/pay/wangfu.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/view/assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript"  src="/view/assets/js/angularjs/angular.js"></script> 
</head>
<body >
<div><input type="text" ng-model="ctrlFlavor">
</div>
<div copy flavor="ctrlFlavor" uiCopyback="callback()"></div>
</body>
</html>
<script>
  angular.module('index', ['ui.copy'])
  .controller('index', function ($scope,$location,$log,$http) {

    $scope.ctrlFlavor="复制";

    $scope.callback=function(){
        alert();
    }
   

  })  


angular.module('ui.copy',[]).directive('copy',function(){
    return{
        restrict:'AE',
        scope:{
            flavor:'=',
            uicopyback:"&"
        },
        template:"<input type='text' ng-model='flavor' />",
        link: function(scope, element,attrs,ctrlfloar) {

            console.log(element);
            scope.uicopyback();


            // ZeroClipboard.config({swfPath:'js/ZeroClipboard.swf',forceHandCursor:true});
            // var newclip = new ZeroClipboard(element);
            // newclip.on("copy", function(e){
            //     if(scope.uiCopy.indexOf("#")==0||scope.uiCopy.indexOf(".")==0){
            //         newclip.setHtml($(scope.uiCopy).html());
            //     }else{
            //         newclip.setText(scope.uiCopy);
            //     };
            //     scope.uiCopyback();
            // });
        }
    };
})


</script>

