<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="eposset">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>挂机旺财</title>
    <meta name="Keywords" content="{:C('SITE_KEYWORDS')}" />
    <link href="__PUBLIC__/Css/module.css?v=__VR__" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Css/main.css?v=__VR__" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Css/layout.css?v=__VR__" rel="stylesheet" type="text/css" /> 
    <link href="__PUBLIC__/Css/Onhook.css?v=__VR__" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Js/validationEngine/css/validationEngine.jquery.css?v=__VR__" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="__PUBLIC__/Image/Onhook/favicon.ico" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.2.min.js?v=__VR__"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/global.js?v=__VR__"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/artDialog4.1.6/jquery.artDialog.js?skin=default"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/artDialog4.1.6/plugins/iframeTools.js?v=__VR__"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-1.11.2.custom/template.js?v=__VR__"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/validationEngine/languages/jquery.validationEngine-zh_CN.js?v=__VR__" /></script>
    <script type="text/javascript" src="__PUBLIC__/Js/validationEngine/jquery.validationEngine.js?v=__VR__" /></script>
    <script type="text/javascript" src="__PUBLIC__/Js/angularjs/angular.min.js?v=__VR__"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Fj114.js?v=__VR__"></script>
</head>
<body ng-controller="eposset">
    <include file="Fj114/Public/header"/> 
    <div class="container fn">
        <include file="Fj114/Public/leftmenu" leftmenuid="epos"/>  
        <div class="container-right">
            <div class="main-name fn">
                <h4 >EPOS设置</h4>
            </div>
            <div class="Gform" ng-show="EposSet" style="margin-left:100px;">
                <form name="EposSet">
                    <ul>
                        <li class="Gname" style="width:250px;left:-95px;">请输入邮件地址，获取EPOS登录邮件：</li>
                        <li class="Ginput"><input type="text" name='email' class="validate[required,custom[email]]" placeholder="请输入邮件地址…" ng-model="email" /></li>
                    </ul>
                    <ul>
                        <li class="Ginput"><a href="javascript:void(0)" ng-click="submit()" class="btn-all">确认</a></li>
                    </ul>
                </form>
            </div>
            <div class="loadTip mt30" ng-hide="EposSet">
                <div class="loadStatus ok">
                    <dl>
                       <dt>EPOS登录信息已成功发送到您的邮箱！</dt>
                        <dd><p><span>您的EPOS绑定邮箱：{{ email }}</span><br/><a href="javascript:void(0)" style="color:#2e7dc6;" ng-click="ud_email()" >修改邮箱</a></p></dd>
                        <dd class="line mt15"><p><span>手机也可以登录EPOS验证卡券扫一扫立即下载</span></p></dd>
                        <dd class="code"><img src="__PUBLIC__/Image/Onhook/u37.png"/><br/><span class="pl15">仅支持安卓系统</span></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="haobai-footer">
        <include file="Fj114/Public/Footer"/>    
    </div> 
</body>	
</html>

